USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[ARCHIVING_T3_Migrado]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [T3].[ARCHIVING_T3_Migrado]
    @dtFechaInicialArch DATETIME,
    @dtFechaFinalArch   DATETIME,
    @nDiasIntervalo     NUMERIC(18,0)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @dtFechaIni DATETIME;
    DECLARE @dtFechaFin DATETIME;
    DECLARE @nIteracion NUMERIC(18,0);
    DECLARE @nPeriodo   NUMERIC(18,0);
    DECLARE @nSecuencia NUMERIC(18,0);
    DECLARE @sPeriodo   VARCHAR(20);
    DECLARE @sEtapa     VARCHAR(40);
    DECLARE @sMsg       VARCHAR(500);

    BEGIN TRY

        SET @nPeriodo   = ISNULL(@nDiasIntervalo, 31);
        SET @nIteracion = 0;

        SET @dtFechaIni = DATEADD(DAY, -@nPeriodo, @dtFechaInicialArch);

        WHILE (1=1)
        BEGIN
            SET @dtFechaIni = DATEADD(DAY, @nPeriodo, @dtFechaIni);

            IF (@dtFechaIni > @dtFechaFinalArch)
                BREAK;

            SET @dtFechaFin = DATEADD(DAY, @nPeriodo, @dtFechaIni);

            IF (@dtFechaFin > @dtFechaFinalArch)
                SET @dtFechaFin = @dtFechaFinalArch;

            SET @nIteracion = @nIteracion + 1;

            SET @sPeriodo =
                FORMAT(@dtFechaIni,'yyyyMMdd') + '-' +
                FORMAT(@dtFechaFin,'yyyyMMdd');

            /* ========================= ASIGNACION_PAGO ========================= */

            SET @sEtapa = 'Asignacion_Pago';
            SELECT @nSecuencia = NEXT VALUE FOR Seq_Archiving_T3;

			BEGIN TRAN
            INSERT INTO BITACORA_ARCHIVING_T3
            (Sec_Bit,Periodo,Proceso,Fecha_Inicial,Fecha_Final)
            VALUES (@nSecuencia,@sPeriodo,@sEtapa,GETDATE(),NULL);



            INSERT INTO T3.ASIGNACION_PAGO_ARCH
			(PAGO_ID,ASIGNACION_ID,FECHA_TRN,FACTURA,NOTA_CREDITO,DISTRIBUIDOR,CLIENTE_V3,CLIENTE_SAP,REP_ID,FECHA_ASIGNACION,FECHA_PROC_BATMD,CTRO)
            SELECT PAGO_ID,ASIGNACION_ID,FECHA_TRN,FACTURA,NOTA_CREDITO,DISTRIBUIDOR,CLIENTE_V3,CLIENTE_SAP,REP_ID,FECHA_ASIGNACION,FECHA_PROC_BATMD,CTRO
            FROM T3.ASIGNACION_PAGO
            WHERE CAST(FECHA_ASIGNACION AS DATE) BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            DELETE FROM ASIGNACION_PAGO
            WHERE CAST(FECHA_ASIGNACION AS DATE) BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            UPDATE BITACORA_ARCHIVING_T3 SET Fecha_Final = GETDATE() WHERE Sec_Bit = @nSecuencia;

            COMMIT;

            /* ========================= ASIGNACION_PASO ========================= */

            SET @sEtapa = 'Asignacion_Paso';
            SELECT @nSecuencia = NEXT VALUE FOR Seq_Archiving_T3;

			BEGIN TRAN
            INSERT INTO BITACORA_ARCHIVING_T3
            VALUES (@nSecuencia,@sPeriodo,@sEtapa,GETDATE(),NULL);

			SELECT TOP 1 * FROM T3.ASIGNACION_PASO
			SELECT TOP 1 * FROM T3.ASIGNACION_PASO_ARCH

            INSERT INTO ASIGNACION_PASO_ARCH
			(PAGO_ID,FECHA_TRN,FACTURA,FECHA_DOC,DISTRIBUIDOR,FECHA_PROC_BATMD,CLASE_COND,CTRO)
            SELECT PAGO_ID,FECHA_TRN,FACTURA,FECHA_DOC,DISTRIBUIDOR,FECHA_PROC_BATMD,CLASE_COND,CTRO
            FROM ASIGNACION_PASO
            WHERE CAST(FECHA_DOC AS DATE) BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            DELETE FROM ASIGNACION_PASO
            WHERE CAST(FECHA_DOC AS DATE) BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            UPDATE BITACORA_ARCHIVING_T3 SET Fecha_Final = GETDATE() WHERE Sec_Bit = @nSecuencia;

            COMMIT;

            /* ========================= ASIGNA_AGR_T3 ========================= */

            SET @sEtapa = 'Asigna_Agr_T3';
            SELECT @nSecuencia = NEXT VALUE FOR Seq_Archiving_T3;

			BEGIN TRAN
            INSERT INTO BITACORA_ARCHIVING_T3
            VALUES (@nSecuencia,@sPeriodo,@sEtapa,GETDATE(),NULL);

			
			SELECT * FROM T3.ASIGNA_AGR_T3
			SELECT * FROM T3.ASIGNA_AGR_T3_ARCH


            INSERT INTO ASIGNA_AGR_T3_ARCH
			(NUM_ID,DISTRIBUIDOR,REFERENCIA,CLASE_DOC,TEXTO_CABECERA,FECHA_DOC,SOCIEDAD,FECHA_CONTABLE,MONEDA,DEUDOR,CVE_CONT1,IMPORTE,COND_PAGO1,ASIGNACION1,CVE_CONT2,ASIGNACION2,DOC_ID,CTRO,FECHA_PROC_BATMD)
            SELECT NUM_ID,DISTRIBUIDOR,REFERENCIA,CLASE_DOC,TEXTO_CABECERA,FECHA_DOC,SOCIEDAD,FECHA_CONTABLE,MONEDA,DEUDOR,CVE_CONT1,IMPORTE,COND_PAGO1,ASIGNACION1,CVE_CONT2,ASIGNACION2,DOC_ID,CTRO,FECHA_PROC_BATMD
            FROM ASIGNA_AGR_T3
            WHERE CAST(FECHA_DOC AS DATE) BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            DELETE FROM ASIGNA_AGR_T3
            WHERE CAST(FECHA_DOC AS DATE) BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            UPDATE BITACORA_ARCHIVING_T3 SET Fecha_Final = GETDATE() WHERE Sec_Bit = @nSecuencia;

            COMMIT;

            /* ========================= ASIGNA_T3 ========================= */

            SET @sEtapa = 'Asigna_T3';
            SELECT @nSecuencia = NEXT VALUE FOR Seq_Archiving_T3;

			BEGIN TRAN
            INSERT INTO BITACORA_ARCHIVING_T3
            VALUES (@nSecuencia,@sPeriodo,@sEtapa,GETDATE(),NULL);

            INSERT INTO ASIGNA_T3_ARCH
			(NUM_ID,DISTRIBUIDOR,REFERENCIA,CLASE_DOC,TEXTO_CABECERA,FECHA_DOC,SOCIEDAD,FECHA_CONTABLE,MONEDA,DEUDOR,CVE_CONT1,IMPORTE,COND_PAGO1,ASIGNACION1,CVE_CONT2,ASIGNACION2,DOC_ID,CTRO,FECHA_PROC_BATMD)
            SELECT NUM_ID,DISTRIBUIDOR,REFERENCIA,CLASE_DOC,TEXTO_CABECERA,FECHA_DOC,SOCIEDAD,FECHA_CONTABLE,MONEDA,DEUDOR,CVE_CONT1,IMPORTE,COND_PAGO1,ASIGNACION1,CVE_CONT2,ASIGNACION2,DOC_ID,CTRO,FECHA_PROC_BATMD
            FROM ASIGNA_T3
            WHERE CAST(FECHA_DOC AS DATE) BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            DELETE FROM ASIGNA_T3
            WHERE CAST(FECHA_DOC AS DATE) BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            UPDATE BITACORA_ARCHIVING_T3 SET Fecha_Final = GETDATE() WHERE Sec_Bit = @nSecuencia;

            COMMIT;

            /* ========================= BITACORA_CARGA_T3 ========================= */

            SET @sEtapa = 'Bitacora_Carga_T3';
            SELECT @nSecuencia = NEXT VALUE FOR Seq_Archiving_T3;

			BEGIN TRAN
            INSERT INTO BITACORA_ARCHIVING_T3
            VALUES (@nSecuencia,@sPeriodo,@sEtapa,GETDATE(),NULL);

            INSERT INTO BITACORA_CARGA_T3_ARCH
			(SEC_BIT,DISTRIBUIDOR,FECHA_PROCESO,PROCESO,FECHA_INICIAL,FECHA_FINAL,CTRO)
            SELECT SEC_BIT,DISTRIBUIDOR,FECHA_PROCESO,PROCESO,FECHA_INICIAL,FECHA_FINAL,CTRO
            FROM T3.BITACORA_CARGA_T3
            WHERE CAST(FECHA_PROCESO AS DATE) BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            DELETE FROM BITACORA_CARGA_T3
            WHERE CAST(FECHA_PROCESO AS DATE) BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            UPDATE BITACORA_ARCHIVING_T3 SET Fecha_Final = GETDATE() WHERE Sec_Bit = @nSecuencia;

            COMMIT;

            /* ========================= BITACORA_ERROR ========================= */

            SET @sEtapa = 'Bitacora_Error';
            SELECT @nSecuencia = NEXT VALUE FOR Seq_Archiving_T3;

			BEGIN TRAN
            INSERT INTO BITACORA_ARCHIVING_T3
            VALUES (@nSecuencia,@sPeriodo,@sEtapa,GETDATE(),NULL);



            INSERT INTO BITACORA_ERROR_ARCH
			(DISTRIBUIDOR,FECHA,MENSAJE,TIPO,MODULO,CTRO)
            SELECT DISTRIBUIDOR,FECHA,MENSAJE,TIPO,MODULO,CTRO
            FROM T3.BITACORA_ERROR
            WHERE CAST(FECHA AS DATE) BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            DELETE FROM BITACORA_ERROR
            WHERE CAST(FECHA AS DATE) BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            UPDATE BITACORA_ARCHIVING_T3 SET Fecha_Final = GETDATE() WHERE Sec_Bit = @nSecuencia;

            COMMIT;

            /* ========================= CARTERA_T3 ========================= */

            SET @sEtapa = 'Cartera_T3';
            SELECT @nSecuencia = NEXT VALUE FOR Seq_Archiving_T3;

			BEGIN TRAN
            INSERT INTO BITACORA_ARCHIVING_T3
            VALUES (@nSecuencia,@sPeriodo,@sEtapa,GETDATE(),NULL);

            INSERT INTO CARTERA_T3_ARCH
			(NUM_ID,DISTRIBUIDOR,FECHA_DOC,CLASE_DOC,SOCIEDAD,FECHA_CONTABLE,MONEDA,REFERENCIA,TEXTO_CABECERA,CVE_CONT1,CUENTA1,IMPORTE1,IND1,COND_PAGO1,FECHA_BASE1,ASIGNACION1,TEXTO1,CVE_CONT2,CUENTA2,IMPORTE2,IND2,COND_PAGO2,FECHA_BASE2,ASIGNACION2,CVE_CONT3,CUENTA3,IMPORTE3,IND3,CVE_CONT4,CUENTA4,IMPORTE4,IND4,DOC_ID,CTRO,FECHA_PROC_BATMD)

            SELECT NUM_ID,DISTRIBUIDOR,FECHA_DOC,CLASE_DOC,SOCIEDAD,FECHA_CONTABLE,MONEDA,REFERENCIA,TEXTO_CABECERA,CVE_CONT1,CUENTA1,IMPORTE1,IND1,COND_PAGO1,FECHA_BASE1,ASIGNACION1,TEXTO1,CVE_CONT2,CUENTA2,IMPORTE2,IND2,COND_PAGO2,FECHA_BASE2,ASIGNACION2,CVE_CONT3,CUENTA3,IMPORTE3,IND3,CVE_CONT4,CUENTA4,IMPORTE4,IND4,DOC_ID,CTRO,FECHA_PROC_BATMD
            FROM T3.CARTERA_T3
            WHERE CAST(FECHA_DOC AS DATE) BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            DELETE FROM CARTERA_T3
            WHERE CAST(FECHA_DOC AS DATE) BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            UPDATE BITACORA_ARCHIVING_T3 SET Fecha_Final = GETDATE() WHERE Sec_Bit = @nSecuencia;

            COMMIT;

            /* ========================= COMPRAS ========================= */

            SET @sEtapa = 'Compra_T3';
            SELECT @nSecuencia = NEXT VALUE FOR Seq_Archiving_T3;

			BEGIN TRAN
            INSERT INTO BITACORA_ARCHIVING_T3
            VALUES (@nSecuencia,@sPeriodo,@sEtapa,GETDATE(),NULL);

            INSERT INTO COMPRA_T3_ARCH
			(NUM_MOVTO,DISTRIBUIDOR,FECHA_DOC,FECHA_CONT,CLASE_MOV,CENTRO,ALMACEN,PROVEEDOR,FECHA_PROC_BATMD,DOC_ID,TIPO_PEDIDO,CTRO)
            SELECT NUM_MOVTO,DISTRIBUIDOR,FECHA_DOC,FECHA_CONT,CLASE_MOV,CENTRO,ALMACEN,PROVEEDOR,FECHA_PROC_BATMD,DOC_ID,TIPO_PEDIDO,CTRO
            FROM T3.COMPRA_T3
            WHERE CAST(FECHA_DOC AS DATE) BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            INSERT INTO COMPRAD_T3_ARCH
			(NUM_MOVTO,MATERIAL,CANTIDAD,UM,DOC_ID,DISTRIBUIDOR,CTRO)
            SELECT D.NUM_MOVTO,D.MATERIAL,D.CANTIDAD,D.UM,D.DOC_ID,D.DISTRIBUIDOR,D.CTRO
            FROM T3.COMPRAD_T3 D INNER JOIN  COMPRA_T3 H ON (D.NUM_MOVTO = H.NUM_MOVTO AND D.DISTRIBUIDOR = H.DISTRIBUIDOR)
            WHERE CAST(H.FECHA_DOC AS DATE) BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            DELETE FROM COMPRA_T3
            WHERE CAST(FECHA_DOC AS DATE) BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            UPDATE BITACORA_ARCHIVING_T3 SET Fecha_Final = GETDATE() WHERE Sec_Bit = @nSecuencia;

            COMMIT;

			/* ========================= DEVOLUCIONES DE COMPRAS ========================= */

            SET @sEtapa = 'DevCompra_T3';
            SELECT @nSecuencia = NEXT VALUE FOR Seq_Archiving_T3;

			BEGIN TRAN
            INSERT INTO BITACORA_ARCHIVING_T3
            (Sec_Bit,Periodo,Proceso,Fecha_Inicial,Fecha_Final)
            VALUES (@nSecuencia,@sPeriodo,@sEtapa,GETDATE(),NULL);

            INSERT INTO DEVCOMPRA_T3_ARCH
            (NUM_MOVTO,DISTRIBUIDOR,FECHA_DOC,FECHA_CONT,
             TEXTO,CLASE_MOV,CENTRO,ALMACEN,
             DOC_ID,TIPO_PEDIDO,PROVEEDOR,FECHA_PROC_BATMD,
             CTRO)
            SELECT
                NUM_MOVTO,DISTRIBUIDOR,FECHA_DOC,FECHA_CONT,
                TEXTO,CLASE_MOV,CENTRO,ALMACEN,
                DOC_ID,TIPO_PEDIDO,PROVEEDOR,FECHA_PROC_BATMD,
                CTRO
            FROM DEVCOMPRA_T3
            WHERE CAST(FECHA_DOC AS DATE) BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            INSERT INTO DEVCOMPRAD_T3_ARCH
            (NUM_MOVTO,MATERIAL,CANTIDAD,UM,
             DOC_ID,DISTRIBUIDOR,CTRO)
            SELECT
                D.NUM_MOVTO,D.MATERIAL,D.CANTIDAD,D.UM,
                D.DOC_ID,D.DISTRIBUIDOR,D.CTRO
            FROM DEVCOMPRAD_T3 D, DEVCOMPRA_T3 H
            WHERE D.NUM_MOVTO = H.NUM_MOVTO
              AND D.DISTRIBUIDOR = H.DISTRIBUIDOR
              AND CAST(H.FECHA_DOC AS DATE) BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            DELETE FROM DEVCOMPRA_T3
            WHERE CAST(FECHA_DOC AS DATE) BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            UPDATE BITACORA_ARCHIVING_T3 SET Fecha_Final = GETDATE() WHERE Sec_Bit = @nSecuencia;

            COMMIT;

            /* ========================= ENTREGA ========================= */

            SET @sEtapa = 'Entrega';
            SELECT @nSecuencia = NEXT VALUE FOR Seq_Archiving_T3;

			BEGIN TRAN
            INSERT INTO BITACORA_ARCHIVING_T3
            (Sec_Bit,Periodo,Proceso,Fecha_Inicial,Fecha_Final)
            VALUES (@nSecuencia,@sPeriodo,@sEtapa,GETDATE(),NULL);

            INSERT INTO ENTREGA_ARCH
            (FACTURA,ENTREGA,FECHA_TRN,STATUS_ENTREGA,
             UBICACION,REP_ID,FECHA_ENTREGA,CLIENTE_V3,
             CLIENTE_SAP,FECHA_PROC_BATMD)
            SELECT
                FACTURA,ENTREGA,FECHA_TRN,STATUS_ENTREGA,
                UBICACION,REP_ID,FECHA_ENTREGA,CLIENTE_V3,
                CLIENTE_SAP,FECHA_PROC_BATMD
            FROM ENTREGA
            WHERE CAST(FECHA_ENTREGA AS DATE) BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            DELETE FROM ENTREGA
            WHERE CAST(FECHA_ENTREGA AS DATE) BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            UPDATE BITACORA_ARCHIVING_T3 SET Fecha_Final = GETDATE() WHERE Sec_Bit = @nSecuencia;

            COMMIT;

            /* ========================= ENTREGA_T3 ========================= */

            SET @sEtapa = 'Entrega_T3';
            SELECT @nSecuencia = NEXT VALUE FOR Seq_Archiving_T3;

			BEGIN TRAN
            INSERT INTO BITACORA_ARCHIVING_T3
            (Sec_Bit,Periodo,Proceso,Fecha_Inicial,Fecha_Final)
            VALUES (@nSecuencia,@sPeriodo,@sEtapa,GETDATE(),NULL);

            INSERT INTO ENTREGA_T3_ARCH
            (ENTREGA,DISTRIBUIDOR,FECHA_ENTREGA,DOC_ID,
             CTRO,UBICACION)
            SELECT
                ENTREGA,DISTRIBUIDOR,FECHA_ENTREGA,DOC_ID,
                CTRO,UBICACION
            FROM ENTREGA_T3
            WHERE CAST(FECHA_ENTREGA AS DATE) BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            DELETE FROM ENTREGA_T3
            WHERE CAST(FECHA_ENTREGA AS DATE) BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            UPDATE BITACORA_ARCHIVING_T3 SET Fecha_Final = GETDATE() WHERE Sec_Bit = @nSecuencia;

            COMMIT;

            /* ========================= FACTURAS AGRUPADAS ========================= */

            SET @sEtapa = 'Fact_Agr_T3';
            SELECT @nSecuencia = NEXT VALUE FOR Seq_Archiving_T3;

			BEGIN TRAN
            INSERT INTO BITACORA_ARCHIVING_T3
            (Sec_Bit,Periodo,Proceso,Fecha_Inicial,Fecha_Final)
            VALUES (@nSecuencia,@sPeriodo,@sEtapa,GETDATE(),NULL);

            INSERT INTO FACT_AGR_T3_ARCH
            (FACTURA,DISTRIBUIDOR,CLASE_PEDIDO,ORG_VENTAS,
             CANAL,SECTOR,OFICINA_VENTA,GPO_VENDEDOR,
             CLIENTE_SAP,FECHA_COMPRA,FECHA_ENTREGA,FECHA_PRECIO,
             CONDICION_PAGO,MOTIVO_PEDIDO,REFERENCIA,FECHA_DOCUMENTO,
             LISTA_PRECIO,GRUPO_PRECIO,CLASIF_FISCAL,DOC_ID,
             CTRO,UBICACION,FECHA_PROC_BATMD)
            SELECT
                FACTURA,DISTRIBUIDOR,CLASE_PEDIDO,ORG_VENTAS,
                CANAL,SECTOR,OFICINA_VENTA,GPO_VENDEDOR,
                CLIENTE_SAP,FECHA_COMPRA,FECHA_ENTREGA,FECHA_PRECIO,
                CONDICION_PAGO,MOTIVO_PEDIDO,REFERENCIA,FECHA_DOCUMENTO,
                LISTA_PRECIO,GRUPO_PRECIO,CLASIF_FISCAL,DOC_ID,
                CTRO,UBICACION,FECHA_PROC_BATMD
            FROM FACT_AGR_T3
            WHERE CAST(FECHA_COMPRA AS DATE) BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            INSERT INTO FACTD_AGR_T3_ARCH
            (FACTURA,NUM_LINEA,MATERIAL,CANTIDAD,UM,DOC_ID,STATUS)
            SELECT
                D.FACTURA,D.NUM_LINEA,D.MATERIAL,D.CANTIDAD,
                D.UM,D.DOC_ID,D.STATUS
            FROM FACTD_AGR_T3 D, FACT_AGR_T3 H
            WHERE D.FACTURA = H.FACTURA
              AND CAST(H.FECHA_COMPRA AS DATE) BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            INSERT INTO FACTC_AGR_T3_ARCH
            (FACTURA,NUM_LINEA,CLASE_COND,MATERIAL,VALOR_COND,MONEDA,DOC_ID)
            SELECT
                D.FACTURA,D.NUM_LINEA,D.CLASE_COND,D.MATERIAL,
                D.VALOR_COND,D.MONEDA,D.DOC_ID
            FROM FACTC_AGR_T3 D, FACT_AGR_T3 H
            WHERE D.FACTURA = H.FACTURA
              AND CAST(H.FECHA_COMPRA AS DATE) BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            DELETE FROM FACT_AGR_T3
            WHERE CAST(FECHA_COMPRA AS DATE) BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            UPDATE BITACORA_ARCHIVING_T3 SET Fecha_Final = GETDATE() WHERE Sec_Bit = @nSecuencia;

            COMMIT;

            /* ========================= FACTURAS INDIVUDALES ========================= */

            SET @sEtapa = 'Fact_T3';
            SELECT @nSecuencia = NEXT VALUE FOR Seq_Archiving_T3;

			BEGIN TRAN
            INSERT INTO BITACORA_ARCHIVING_T3
            (Sec_Bit,Periodo,Proceso,Fecha_Inicial,Fecha_Final)
            VALUES (@nSecuencia,@sPeriodo,@sEtapa,GETDATE(),NULL);

            INSERT INTO FACT_T3_ARCH
            (FACTURA,DISTRIBUIDOR,CLASE_PEDIDO,ORG_VENTAS,
             CANAL,SECTOR,OFICINA_VENTA,GPO_VENDEDOR,
             CLIENTE_SAP,FECHA_COMPRA,FECHA_ENTREGA,FECHA_PRECIO,
             CONDICION_PAGO,MOTIVO_PEDIDO,REFERENCIA,FECHA_DOCUMENTO,
             LISTA_PRECIO,GRUPO_PRECIO,CLASIF_FISCAL,DOC_ID,
             CTRO,UBICACION)
            SELECT
                FACTURA,DISTRIBUIDOR,CLASE_PEDIDO,ORG_VENTAS,
                CANAL,SECTOR,OFICINA_VENTA,GPO_VENDEDOR,
                CLIENTE_SAP,FECHA_COMPRA,FECHA_ENTREGA,FECHA_PRECIO,
                CONDICION_PAGO,MOTIVO_PEDIDO,REFERENCIA,FECHA_DOCUMENTO,
                LISTA_PRECIO,GRUPO_PRECIO,CLASIF_FISCAL,DOC_ID,
                CTRO,UBICACION
            FROM FACT_T3
            WHERE CAST(FECHA_COMPRA AS DATE) BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            INSERT INTO FACTD_T3_ARCH
            (FACTURA,NUM_LINEA,MATERIAL,CANTIDAD,UM,DOC_ID,STATUS)
            SELECT
                D.FACTURA,D.NUM_LINEA,D.MATERIAL,D.CANTIDAD,
                D.UM,D.DOC_ID,D.STATUS
            FROM FACTD_T3 D, FACT_T3 H
            WHERE D.FACTURA = H.FACTURA
              AND CAST(H.FECHA_COMPRA AS DATE) BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            INSERT INTO FACTC_T3_ARCH
            (FACTURA,NUM_LINEA,CLASE_COND,MATERIAL,VALOR_COND,MONEDA,DOC_ID)
            SELECT
                D.FACTURA,D.NUM_LINEA,D.CLASE_COND,D.MATERIAL,
                D.VALOR_COND,D.MONEDA,D.DOC_ID
            FROM FACTC_T3 D, FACT_T3 H
            WHERE D.FACTURA = H.FACTURA
              AND CAST(H.FECHA_COMPRA AS DATE) BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            DELETE FROM FACT_T3
            WHERE CAST(FECHA_COMPRA AS DATE) BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            UPDATE BITACORA_ARCHIVING_T3 SET Fecha_Final = GETDATE() WHERE Sec_Bit = @nSecuencia;

            COMMIT;

			/* ========================= FACTURA ========================= */

            SET @sEtapa = 'Factura_General';
            SELECT @nSecuencia = NEXT VALUE FOR Seq_Archiving_T3;

			BEGIN TRAN
            INSERT INTO BITACORA_ARCHIVING_T3
            (Sec_Bit,Periodo,Proceso,Fecha_Inicial,Fecha_Final)
            VALUES (@nSecuencia,@sPeriodo,@sEtapa,GETDATE(),NULL);

            INSERT INTO FACTURA_GENERAL_ARCH
            (FACTURA,DISTRIBUIDOR,FECHA_FACTURA,TIPO_DOCTO,
             CLIENTE_V3,CLIENTE_SAP,UBICACION,REP_ID,
             STATUS,CLTE_FACTURA_V3,CLTE_FACTURA_SAP,FECHA_TRN,
             CREDITO_EXPRESS,FECHA_PAGO,ROW_ID,VALOR_SUBT,
             VALOR_DESC,VALOR_IVA,FECHA_PROC_BATMD,VALOR_ISSA,
             CTRO,BONIF_SUBT,BONIF_IVA,BONIF_PORC,BONIF_VOL)
            SELECT
                FACTURA,DISTRIBUIDOR,FECHA_FACTURA,TIPO_DOCTO,
                CLIENTE_V3,CLIENTE_SAP,UBICACION,REP_ID,
                STATUS,CLTE_FACTURA_V3,CLTE_FACTURA_SAP,FECHA_TRN,
                CREDITO_EXPRESS,FECHA_PAGO,ROW_ID,VALOR_SUBT,
                VALOR_DESC,VALOR_IVA,FECHA_PROC_BATMD,VALOR_ISSA,
                CTRO,BONIF_SUBT,BONIF_IVA,BONIF_PORC,BONIF_VOL
            FROM FACTURA_GENERAL
            WHERE CAST(FECHA_FACTURA AS DATE)
                BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            INSERT INTO FACTURA_DETALLE_ARCH
            (FACTURA,NUM_LINEA,MATERIAL,CANTIDAD_VTA,
             STATUS_PROD,PRECIO_UNIT,VALOR_SUBT,VALOR_TOT,
             VALOR_DESC,VALOR_IVA,VALOR_ISSA,BONIF_SUBT,
             BONIF_IVA,BONIF_PORC,BONIF_VOL)
            SELECT
                D.FACTURA,D.NUM_LINEA,D.MATERIAL,D.CANTIDAD_VTA,
                D.STATUS_PROD,D.PRECIO_UNIT,D.VALOR_SUBT,D.VALOR_TOT,
                D.VALOR_DESC,D.VALOR_IVA,D.VALOR_ISSA,D.BONIF_SUBT,
                D.BONIF_IVA,D.BONIF_PORC,D.BONIF_VOL
            FROM FACTURA_DETALLE D, FACTURA_GENERAL H
            WHERE D.FACTURA = H.FACTURA
              AND CAST(H.FECHA_FACTURA AS DATE)
                  BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            DELETE FROM FACTURA_GENERAL
            WHERE CAST(FECHA_FACTURA AS DATE)
                BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            UPDATE BITACORA_ARCHIVING_T3
            SET Fecha_Final = GETDATE()
            WHERE Sec_Bit = @nSecuencia;

            COMMIT;

            /* ========================= HISTORIA_ASIGNACION_SAP ========================= */

            SET @sEtapa = 'Historia_Asignacion_SAP';
            SELECT @nSecuencia = NEXT VALUE FOR Seq_Archiving_T3;

			BEGIN TRAN
            INSERT INTO BITACORA_ARCHIVING_T3
            (Sec_Bit,Periodo,Proceso,Fecha_Inicial,Fecha_Final)
            VALUES (@nSecuencia,@sPeriodo,@sEtapa,GETDATE(),NULL);

            INSERT INTO HISTORIA_ASIGNACION_SAP_ARCH
            (DISTRIBUIDOR,FECHA_ASIGNACION,ASIGNACION_ID,ASIGNACION_SAP,CTRO)
            SELECT
                DISTRIBUIDOR,FECHA_ASIGNACION,ASIGNACION_ID,ASIGNACION_SAP,CTRO
            FROM HISTORIA_ASIGNACION_SAP
            WHERE CAST(FECHA_ASIGNACION AS DATE)
                BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            DELETE FROM HISTORIA_ASIGNACION_SAP
            WHERE CAST(FECHA_ASIGNACION AS DATE)
                BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            UPDATE BITACORA_ARCHIVING_T3 SET Fecha_Final = GETDATE()
            WHERE Sec_Bit = @nSecuencia;

            COMMIT;

            /* ========================= HISTORIA_FACTURA_SAP ========================= */

            SET @sEtapa = 'Historia_Factura_SAP';
            SELECT @nSecuencia = NEXT VALUE FOR Seq_Archiving_T3;

			BEGIN TRAN
            INSERT INTO BITACORA_ARCHIVING_T3
            (Sec_Bit,Periodo,Proceso,Fecha_Inicial,Fecha_Final)
            VALUES (@nSecuencia,@sPeriodo,@sEtapa,GETDATE(),NULL);

            INSERT INTO HISTORIA_FACTURA_SAP_ARCH
            (DISTRIBUIDOR,FECHA_FACTURA,FACTURA,FACTURA_SAP,CTRO)
            SELECT
                DISTRIBUIDOR,FECHA_FACTURA,FACTURA,FACTURA_SAP,CTRO
            FROM HISTORIA_FACTURA_SAP
            WHERE CAST(FECHA_FACTURA AS DATE)
                BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            DELETE FROM HISTORIA_FACTURA_SAP
            WHERE CAST(FECHA_FACTURA AS DATE)
                BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            UPDATE BITACORA_ARCHIVING_T3 SET Fecha_Final = GETDATE()
            WHERE Sec_Bit = @nSecuencia;

            COMMIT;

            /* ========================= HISTORIA_NOTA_SAP ========================= */

            SET @sEtapa = 'Historia_Nota_SAP';
            SELECT @nSecuencia = NEXT VALUE FOR Seq_Archiving_T3;

			BEGIN TRAN
            INSERT INTO BITACORA_ARCHIVING_T3
            (Sec_Bit,Periodo,Proceso,Fecha_Inicial,Fecha_Final)
            VALUES (@nSecuencia,@sPeriodo,@sEtapa,GETDATE(),NULL);

            INSERT INTO HISTORIA_NOTA_SAP_ARCH
            (DISTRIBUIDOR,FECHA_FACTURA,FACTURA,FACTURA_SAP,CTRO)
            SELECT
                DISTRIBUIDOR,FECHA_FACTURA,FACTURA,FACTURA_SAP,CTRO
            FROM HISTORIA_NOTA_SAP
            WHERE CAST(FECHA_FACTURA AS DATE)
                BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            DELETE FROM HISTORIA_NOTA_SAP
            WHERE CAST(FECHA_FACTURA AS DATE)
                BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            UPDATE BITACORA_ARCHIVING_T3 SET Fecha_Final = GETDATE()
            WHERE Sec_Bit = @nSecuencia;

            COMMIT;

            /* ========================= MOVIMIENTOS_VAN ========================= */

            SET @sEtapa = 'Movimientos_VAN';
            SELECT @nSecuencia = NEXT VALUE FOR Seq_Archiving_T3;

			BEGIN TRAN
            INSERT INTO BITACORA_ARCHIVING_T3
            (Sec_Bit,Periodo,Proceso,Fecha_Inicial,Fecha_Final)
            VALUES (@nSecuencia,@sPeriodo,@sEtapa,GETDATE(),NULL);

            INSERT INTO MOVIMIENTOS_VAN_ARCH
            (FACTURA,NUM_MOVTO,TIPO_MOVTO,FECHA_MOVTO,UBICACION)
            SELECT
                FACTURA,NUM_MOVTO,TIPO_MOVTO,FECHA_MOVTO,UBICACION
            FROM MOVIMIENTOS_VAN
            WHERE CAST(FECHA_MOVTO AS DATE)
                BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            DELETE FROM MOVIMIENTOS_VAN
            WHERE CAST(FECHA_MOVTO AS DATE)
                BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            UPDATE BITACORA_ARCHIVING_T3 SET Fecha_Final = GETDATE()
            WHERE Sec_Bit = @nSecuencia;

            COMMIT;

			/* ========================= NOTAS AGRUPADAS ========================= */

            SET @sEtapa = 'Nota_Agr_T3';
            SELECT @nSecuencia = NEXT VALUE FOR Seq_Archiving_T3;

			BEGIN TRAN
            INSERT INTO BITACORA_ARCHIVING_T3
            (Sec_Bit,Periodo,Proceso,Fecha_Inicial,Fecha_Final)
            VALUES (@nSecuencia,@sPeriodo,@sEtapa,GETDATE(),NULL);

            INSERT INTO NOTA_AGR_T3_ARCH
            (FACTURA,DISTRIBUIDOR,CLASE_PEDIDO,ORG_VENTAS,
             CANAL,SECTOR,OFICINA_VENTA,GPO_VENDEDOR,
             CLIENTE_SAP,FECHA_COMPRA,FECHA_ENTREGA,FECHA_PRECIO,
             CONDICION_PAGO,MOTIVO_PEDIDO,REFERENCIA,FECHA_DOCUMENTO,
             LISTA_PRECIO,GRUPO_PRECIO,CLASIF_FISCAL,DOC_ID,
             CTRO,UBICACION,FECHA_PROC_BATMD)
            SELECT
                FACTURA,DISTRIBUIDOR,CLASE_PEDIDO,ORG_VENTAS,
                CANAL,SECTOR,OFICINA_VENTA,GPO_VENDEDOR,
                CLIENTE_SAP,FECHA_COMPRA,FECHA_ENTREGA,FECHA_PRECIO,
                CONDICION_PAGO,MOTIVO_PEDIDO,REFERENCIA,FECHA_DOCUMENTO,
                LISTA_PRECIO,GRUPO_PRECIO,CLASIF_FISCAL,DOC_ID,
                CTRO,UBICACION,FECHA_PROC_BATMD
            FROM NOTA_AGR_T3
            WHERE CAST(FECHA_COMPRA AS DATE)
                BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            INSERT INTO NOTAD_AGR_T3_ARCH
            (FACTURA,NUM_LINEA,MATERIAL,CANTIDAD,UM,DOC_ID,STATUS)
            SELECT
                D.FACTURA,D.NUM_LINEA,D.MATERIAL,D.CANTIDAD,
                D.UM,D.DOC_ID,D.STATUS
            FROM NOTAD_AGR_T3 D, NOTA_AGR_T3 H
            WHERE D.FACTURA = H.FACTURA
              AND CAST(H.FECHA_COMPRA AS DATE)
                BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            INSERT INTO NOTAC_AGR_T3_ARCH
            (FACTURA,NUM_LINEA,CLASE_COND,MATERIAL,VALOR_COND,MONEDA,DOC_ID)
            SELECT
                D.FACTURA,D.NUM_LINEA,D.CLASE_COND,D.MATERIAL,
                D.VALOR_COND,D.MONEDA,D.DOC_ID
            FROM NOTAC_AGR_T3 D, NOTA_AGR_T3 H
            WHERE D.FACTURA = H.FACTURA
              AND CAST(H.FECHA_COMPRA AS DATE)
                BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            DELETE FROM NOTA_AGR_T3
            WHERE CAST(FECHA_COMPRA AS DATE)
                BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            UPDATE BITACORA_ARCHIVING_T3
            SET Fecha_Final = GETDATE()
            WHERE Sec_Bit = @nSecuencia;

            COMMIT;

            /* ========================= NOTAS INDIVUDALES ========================= */

            SET @sEtapa = 'Nota_T3';
            SELECT @nSecuencia = NEXT VALUE FOR Seq_Archiving_T3;

			BEGIN TRAN
            INSERT INTO BITACORA_ARCHIVING_T3
            (Sec_Bit,Periodo,Proceso,Fecha_Inicial,Fecha_Final)
            VALUES (@nSecuencia,@sPeriodo,@sEtapa,GETDATE(),NULL);

            INSERT INTO NOTA_T3_ARCH
            (FACTURA,DISTRIBUIDOR,CLASE_PEDIDO,ORG_VENTAS,
             CANAL,SECTOR,OFICINA_VENTA,GPO_VENDEDOR,
             CLIENTE_SAP,FECHA_COMPRA,FECHA_ENTREGA,FECHA_PRECIO,
             CONDICION_PAGO,MOTIVO_PEDIDO,REFERENCIA,FECHA_DOCUMENTO,
             LISTA_PRECIO,GRUPO_PRECIO,CLASIF_FISCAL,DOC_ID,
             CTRO,UBICACION)
            SELECT
                FACTURA,DISTRIBUIDOR,CLASE_PEDIDO,ORG_VENTAS,
                CANAL,SECTOR,OFICINA_VENTA,GPO_VENDEDOR,
                CLIENTE_SAP,FECHA_COMPRA,FECHA_ENTREGA,FECHA_PRECIO,
                CONDICION_PAGO,MOTIVO_PEDIDO,REFERENCIA,FECHA_DOCUMENTO,
                LISTA_PRECIO,GRUPO_PRECIO,CLASIF_FISCAL,DOC_ID,
                CTRO,UBICACION
            FROM NOTA_T3
            WHERE CAST(FECHA_COMPRA AS DATE)
                BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            INSERT INTO NOTAD_T3_ARCH
            (FACTURA,NUM_LINEA,MATERIAL,CANTIDAD,UM,DOC_ID,STATUS)
            SELECT
                D.FACTURA,D.NUM_LINEA,D.MATERIAL,D.CANTIDAD,
                D.UM,D.DOC_ID,D.STATUS
            FROM NOTAD_T3 D, NOTA_T3 H
            WHERE D.FACTURA = H.FACTURA
              AND CAST(H.FECHA_COMPRA AS DATE)
                BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            INSERT INTO NOTAC_T3_ARCH
            (FACTURA,NUM_LINEA,CLASE_COND,MATERIAL,VALOR_COND,MONEDA,DOC_ID)
            SELECT
                D.FACTURA,D.NUM_LINEA,D.CLASE_COND,D.MATERIAL,
                D.VALOR_COND,D.MONEDA,D.DOC_ID
            FROM NOTAC_T3 D, NOTA_T3 H
            WHERE D.FACTURA = H.FACTURA
              AND CAST(H.FECHA_COMPRA AS DATE)
                BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            DELETE FROM NOTA_T3
            WHERE CAST(FECHA_COMPRA AS DATE)
                BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            UPDATE BITACORA_ARCHIVING_T3
            SET Fecha_Final = GETDATE()
            WHERE Sec_Bit = @nSecuencia;

            COMMIT;

            /* ========================= NOTA_PASO ========================= */

            SET @sEtapa = 'Nota_Paso';
            SELECT @nSecuencia = NEXT VALUE FOR Seq_Archiving_T3;

			BEGIN TRAN
            INSERT INTO BITACORA_ARCHIVING_T3
            (Sec_Bit,Periodo,Proceso,Fecha_Inicial,Fecha_Final)
            VALUES (@nSecuencia,@sPeriodo,@sEtapa,GETDATE(),NULL);

            INSERT INTO NOTA_PASO_ARCH
            (DISTRIBUIDOR,FECHA_FACTURA,FACTURA,CANAL,
             OFICINA_VENTA,GPO_VENDEDOR,ALMACEN,CENTRO,
             UBICACION,CLIENTE_PEDIDO,CLIENTE_SAP,CONDICION_PAGO,
             MOTIVO_PEDIDO,GRUPO_PRECIO,LISTA_PRECIO,CLASIF_FISCAL,
             FECHA_PROC_BATMD,REFERENCIA,CTRO,PEDIDO)
            SELECT
                DISTRIBUIDOR,FECHA_FACTURA,FACTURA,CANAL,
                OFICINA_VENTA,GPO_VENDEDOR,ALMACEN,CENTRO,
                UBICACION,CLIENTE_PEDIDO,CLIENTE_SAP,CONDICION_PAGO,
                MOTIVO_PEDIDO,GRUPO_PRECIO,LISTA_PRECIO,CLASIF_FISCAL,
                FECHA_PROC_BATMD,REFERENCIA,CTRO,PEDIDO
            FROM NOTA_PASO
            WHERE CAST(FECHA_FACTURA AS DATE)
                BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            DELETE FROM NOTA_PASO
            WHERE CAST(FECHA_FACTURA AS DATE)
                BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            UPDATE BITACORA_ARCHIVING_T3
            SET Fecha_Final = GETDATE()
            WHERE Sec_Bit = @nSecuencia;

            COMMIT;

            /* ========================= PAGO ========================= */

            SET @sEtapa = 'Pago';
            SELECT @nSecuencia = NEXT VALUE FOR Seq_Archiving_T3;

			BEGIN TRAN
            INSERT INTO BITACORA_ARCHIVING_T3
            (Sec_Bit,Periodo,Proceso,Fecha_Inicial,Fecha_Final)
            VALUES (@nSecuencia,@sPeriodo,@sEtapa,GETDATE(),NULL);

            INSERT INTO PAGO_ARCH
            (PAGO_ID,FECHA_TRN,DISTRIBUIDOR,FECHA_PAGO,
             CLIENTE_V3,CLIENTE_SAP,REP_ID,TIPO_PAGO,
             METODO_PAGO,VALOR_PAGO,FECHA_PROC_BATMD,CTRO)
            SELECT
                PAGO_ID,FECHA_TRN,DISTRIBUIDOR,FECHA_PAGO,
                CLIENTE_V3,CLIENTE_SAP,REP_ID,TIPO_PAGO,
                METODO_PAGO,VALOR_PAGO,FECHA_PROC_BATMD,CTRO
            FROM PAGO
            WHERE CAST(FECHA_PAGO AS DATE)
                BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            DELETE FROM PAGO
            WHERE CAST(FECHA_PAGO AS DATE)
                BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            UPDATE BITACORA_ARCHIVING_T3 SET Fecha_Final = GETDATE()
            WHERE Sec_Bit = @nSecuencia;

            COMMIT;

            /* ========================= PAGO_T3 ========================= */

            SET @sEtapa = 'Pago_T3';
            SELECT @nSecuencia = NEXT VALUE FOR Seq_Archiving_T3;

			BEGIN TRAN
            INSERT INTO BITACORA_ARCHIVING_T3
            (Sec_Bit,Periodo,Proceso,Fecha_Inicial,Fecha_Final)
            VALUES (@nSecuencia,@sPeriodo,@sEtapa,GETDATE(),NULL);

            INSERT INTO PAGO_T3_ARCH
            (REFERENCIA,DISTRIBUIDOR,CLASE_DOC,METODO_PAGO,
             TEXTO_CABECERA,FECHA_DOC,SOCIEDAD,FECHA_CONTABLE,
             MONEDA,DEUDOR,CVE_CONT1,IMPORTE,
             ASIGNACION,CVE_CONT2,REP_ID,DOC_ID,
             CTRO,FECHA_PROC_BATMD)
            SELECT
                REFERENCIA,DISTRIBUIDOR,CLASE_DOC,METODO_PAGO,
                TEXTO_CABECERA,FECHA_DOC,SOCIEDAD,FECHA_CONTABLE,
                MONEDA,DEUDOR,CVE_CONT1,IMPORTE,
                ASIGNACION,CVE_CONT2,REP_ID,DOC_ID,
                CTRO,FECHA_PROC_BATMD
            FROM PAGO_T3
            WHERE CAST(FECHA_DOC AS DATE)
                BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            DELETE FROM PAGO_T3
            WHERE CAST(FECHA_DOC AS DATE)
                BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            UPDATE BITACORA_ARCHIVING_T3 SET Fecha_Final = GETDATE()
            WHERE Sec_Bit = @nSecuencia;

            COMMIT;

			/* ========================= PED_T3 ========================= */

            SET @sEtapa = 'Ped_T3';
            SELECT @nSecuencia = NEXT VALUE FOR Seq_Archiving_T3;

			BEGIN TRAN
            INSERT INTO BITACORA_ARCHIVING_T3
            (Sec_Bit,Periodo,Proceso,Fecha_Inicial,Fecha_Final)
            VALUES (@nSecuencia,@sPeriodo,@sEtapa,GETDATE(),NULL);

            INSERT INTO PED_T3_ARCH
            (DISTRIBUIDOR,PEDIDO,CLASE_PEDIDO,ORG_VENTAS,
             CANAL,SECTOR,CLIENTE_SAP,FECHA_COMPRA,
             FECHA_ENTREGA,FECHA_PRECIO,CONDICION_PAGO,MOTIVO_PEDIDO,
             REFERENCIA,FECHA_DOCUMENTO,FECHA_PROC_BATMD,DOC_ID,
             TIPO_PEDIDO,CTRO)
            SELECT
                DISTRIBUIDOR,PEDIDO,CLASE_PEDIDO,ORG_VENTAS,
                CANAL,SECTOR,CLIENTE_SAP,FECHA_COMPRA,
                FECHA_ENTREGA,FECHA_PRECIO,CONDICION_PAGO,MOTIVO_PEDIDO,
                REFERENCIA,FECHA_DOCUMENTO,FECHA_PROC_BATMD,DOC_ID,
                TIPO_PEDIDO,CTRO
            FROM PED_T3
            WHERE CAST(FECHA_DOCUMENTO AS DATE)
                BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            INSERT INTO PEDD_T3_ARCH
            (DISTRIBUIDOR,NUM_LINEA,PEDIDO,MATERIAL,CANTIDAD,UM,DOC_ID,CTRO)
            SELECT
                D.DISTRIBUIDOR,D.NUM_LINEA,D.PEDIDO,D.MATERIAL,
                D.CANTIDAD,D.UM,D.DOC_ID,D.CTRO
            FROM PEDD_T3 D, PED_T3 H
            WHERE D.DISTRIBUIDOR = H.DISTRIBUIDOR
              AND D.PEDIDO = H.PEDIDO
              AND CAST(H.FECHA_DOCUMENTO AS DATE)
                BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            INSERT INTO PEDC_T3_ARCH
            (DISTRIBUIDOR,NUM_LINEA,PEDIDO,MATERIAL,
             CLASE_COND,VALOR_COND,MONEDA,DOC_ID,CTRO)
            SELECT
                D.DISTRIBUIDOR,D.NUM_LINEA,D.PEDIDO,D.MATERIAL,
                D.CLASE_COND,D.VALOR_COND,D.MONEDA,D.DOC_ID,D.CTRO
            FROM PEDC_T3 D, PED_T3 H
            WHERE D.DISTRIBUIDOR = H.DISTRIBUIDOR
              AND D.PEDIDO = H.PEDIDO
              AND CAST(H.FECHA_DOCUMENTO AS DATE)
                BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            DELETE FROM PED_T3
            WHERE CAST(FECHA_DOCUMENTO AS DATE)
                BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            UPDATE BITACORA_ARCHIVING_T3
            SET Fecha_Final = GETDATE()
            WHERE Sec_Bit = @nSecuencia;

            COMMIT;

            /* ========================= PEDIDO_PASO ========================= */

            SET @sEtapa = 'Pedido_Paso';
            SELECT @nSecuencia = NEXT VALUE FOR Seq_Archiving_T3;

			BEGIN TRAN
            INSERT INTO BITACORA_ARCHIVING_T3
            (Sec_Bit,Periodo,Proceso,Fecha_Inicial,Fecha_Final)
            VALUES (@nSecuencia,@sPeriodo,@sEtapa,GETDATE(),NULL);

            INSERT INTO PEDIDO_PASO_ARCH
            (DISTRIBUIDOR,FECHA_FACTURA,FACTURA,CANAL,
             OFICINA_VENTA,GPO_VENDEDOR,ALMACEN,CENTRO,
             UBICACION,CLIENTE_PEDIDO,CLIENTE_SAP,CONDICION_PAGO,
             MOTIVO_PEDIDO,GRUPO_PRECIO,LISTA_PRECIO,CLASIF_FISCAL,
             FECHA_PROC_BATMD,REFERENCIA,CTRO)
            SELECT
                DISTRIBUIDOR,FECHA_FACTURA,FACTURA,CANAL,
                OFICINA_VENTA,GPO_VENDEDOR,ALMACEN,CENTRO,
                UBICACION,CLIENTE_PEDIDO,CLIENTE_SAP,CONDICION_PAGO,
                MOTIVO_PEDIDO,GRUPO_PRECIO,LISTA_PRECIO,CLASIF_FISCAL,
                FECHA_PROC_BATMD,REFERENCIA,CTRO
            FROM PEDIDO_PASO
            WHERE CAST(FECHA_FACTURA AS DATE)
                BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            DELETE FROM PEDIDO_PASO
            WHERE CAST(FECHA_FACTURA AS DATE)
                BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            UPDATE BITACORA_ARCHIVING_T3
            SET Fecha_Final = GETDATE()
            WHERE Sec_Bit = @nSecuencia;

            COMMIT;

            /* ========================= PREVENTAS ========================= */

            SET @sEtapa = 'Preventa_General';
            SELECT @nSecuencia = NEXT VALUE FOR Seq_Archiving_T3;

			BEGIN TRAN
            INSERT INTO BITACORA_ARCHIVING_T3
            VALUES (@nSecuencia,@sPeriodo,@sEtapa,GETDATE(),NULL);

			SELECT * FROM T3.PREVENTA_GENERAL_ARCH
			SELECT * FROM T3.PREVENTA_GENERAL

            INSERT INTO PREVENTA_GENERAL_ARCH
			(FACTURA,PREFIJO,CENTRO,ENTREGA,FECHA_FACTURA,FECHA_TRN,CLASE_FACTURA,CLIENTE_SAP,CLIENTE_PAGADOR_SAP,UBICACION,PEDIDO,FECHA_EST_ENT,VALOR_SUBT,VALOR_IVA,STATUS_CONTABLE,ANULADA,FECHA_ENTREGA,FECHA_PROC_BATMD,REFERENCIA,FECHA_CANCELACION,VALOR_ISSA,CTRO,BONIF_SUBT,BONIF_IVA,BONIF_PORC,BONIF_VOL)
            SELECT FACTURA,PREFIJO,CENTRO,ENTREGA,FECHA_FACTURA,FECHA_TRN,CLASE_FACTURA,CLIENTE_SAP,CLIENTE_PAGADOR_SAP,UBICACION,PEDIDO,FECHA_EST_ENT,VALOR_SUBT,VALOR_IVA,STATUS_CONTABLE,ANULADA,FECHA_ENTREGA,FECHA_PROC_BATMD,REFERENCIA,FECHA_CANCELACION,VALOR_ISSA,CTRO,BONIF_SUBT,BONIF_IVA,BONIF_PORC,BONIF_VOL--,CLTE_FACTURA_SAP,CREDITO_SUBT,CREDITO_IVA
            FROM T3.PREVENTA_GENERAL
            WHERE CAST(FECHA_FACTURA AS DATE)
                BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

				SELECT * FROM T3.PREVENTA_DETALLE_ARCH
				SELECT * FROM T3.PREVENTA_DETALLE
            INSERT INTO PREVENTA_DETALLE_ARCH
			(FACTURA,PREFIJO,NUM_LINEA,MATERIAL,CANTIDAD_VTA,UNIDAD_MED_VTA,STATUS_PROD,VALOR_SUBT,VALOR_IVA,REFERENCIA_PEDIDO,VALOR_ISSA,BONIF_SUBT,BONIF_IVA,BONIF_PORC,BONIF_VOL)
            SELECT D.FACTURA,D.PREFIJO,D.NUM_LINEA,D.MATERIAL,D.CANTIDAD_VTA,D.UNIDAD_MED_VTA,D.STATUS_PROD,D.VALOR_SUBT,D.VALOR_IVA,D.REFERENCIA_PEDIDO,D.VALOR_ISSA,D.BONIF_SUBT,D.BONIF_IVA,D.BONIF_PORC,D.BONIF_VOL--,D.ENVIO_SUBT,D.ENVIO_IVA,D.ENVIOPORC,D.CREDITO_SUBT,D.CREDITO_IVA
            FROM T3.PREVENTA_DETALLE D INNER JOIN  PREVENTA_GENERAL H ON (D.FACTURA = H.FACTURA)
            WHERE CAST(H.FECHA_FACTURA AS DATE)
                BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            DELETE FROM PREVENTA_DETALLE
            WHERE FACTURA IN (
                SELECT FACTURA
                FROM PREVENTA_GENERAL
                WHERE CAST(FECHA_FACTURA AS DATE)
                    BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE)
            );

            DELETE FROM PREVENTA_GENERAL
            WHERE CAST(FECHA_FACTURA AS DATE)
                BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            UPDATE BITACORA_ARCHIVING_T3
            SET Fecha_Final = GETDATE()
            WHERE Sec_Bit = @nSecuencia;

            COMMIT;

            /* ========================= RMA_T3 ========================= */

            SET @sEtapa = 'RMA_T3';
            SELECT @nSecuencia = NEXT VALUE FOR Seq_Archiving_T3;

			BEGIN TRAN
            INSERT INTO BITACORA_ARCHIVING_T3
            VALUES (@nSecuencia,@sPeriodo,@sEtapa,GETDATE(),NULL);

            INSERT INTO RMA_T3_ARCH
            SELECT *
            FROM RMA_T3
            WHERE CAST(FECHA_DOCUMENTO AS DATE)
                BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            INSERT INTO RMAD_T3_ARCH
            SELECT D.*
            FROM RMAD_T3 D, RMA_T3 H
            WHERE D.DISTRIBUIDOR = H.DISTRIBUIDOR
              AND D.PEDIDO = H.PEDIDO
              AND CAST(H.FECHA_DOCUMENTO AS DATE)
                BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            INSERT INTO RMAC_T3_ARCH
            SELECT D.*
            FROM RMAC_T3 D, RMA_T3 H
            WHERE D.DISTRIBUIDOR = H.DISTRIBUIDOR
              AND D.PEDIDO = H.PEDIDO
              AND CAST(H.FECHA_DOCUMENTO AS DATE)
                BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            DELETE FROM RMA_T3
            WHERE CAST(FECHA_DOCUMENTO AS DATE)
                BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            UPDATE BITACORA_ARCHIVING_T3
            SET Fecha_Final = GETDATE()
            WHERE Sec_Bit = @nSecuencia;

            COMMIT;

            /* ========================= VAN_T3 ========================= */

            SET @sEtapa = 'VAN_T3';
            SELECT @nSecuencia = NEXT VALUE FOR Seq_Archiving_T3;

			BEGIN TRAN
            INSERT INTO BITACORA_ARCHIVING_T3
            VALUES (@nSecuencia,@sPeriodo,@sEtapa,GETDATE(),NULL);

            INSERT INTO VAN_T3_ARCH
            SELECT *
            FROM VAN_T3
            WHERE CAST(FECHA_MOVTO AS DATE)
                BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            INSERT INTO VAND_T3_ARCH
            SELECT D.*
            FROM VAND_T3 D, VAN_T3 H
            WHERE D.NUM_MOVTO = H.NUM_MOVTO
              AND CAST(H.FECHA_MOVTO AS DATE)
                BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            DELETE FROM VAN_T3
            WHERE CAST(FECHA_MOVTO AS DATE)
                BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            UPDATE BITACORA_ARCHIVING_T3
            SET Fecha_Final = GETDATE()
            WHERE Sec_Bit = @nSecuencia;

            COMMIT;

            /* ========================= W_MOV_CENTRAL_ADC ========================= */

            SET @sEtapa = 'W_Mov_Central_ADC';
            SELECT @nSecuencia = NEXT VALUE FOR Seq_Archiving_T3;

			BEGIN TRAN
            INSERT INTO BITACORA_ARCHIVING_T3
            VALUES (@nSecuencia,@sPeriodo,@sEtapa,GETDATE(),NULL);

            INSERT INTO W_MOV_CENTRAL_ADC_ARCH
			(SECUENCIA_ADC,DIST_COBZA,TIPO_MOV,DISTRIBUIDOR,PEDIDO,CLIENTE_V3,CLTE_FACTURA_SAP,REGIMEN_FISCAL,LISTA_PRECIO,FACTURA,FECHA_FACTURA,CONCEPTO,VALOR_TOTAL,ESTATUS,CTRO)
            SELECT SECUENCIA_ADC,DIST_COBZA,TIPO_MOV,DISTRIBUIDOR,PEDIDO,CLIENTE_V3,CLTE_FACTURA_SAP,REGIMEN_FISCAL,LISTA_PRECIO,FACTURA,FECHA_FACTURA,CONCEPTO,VALOR_TOTAL,ESTATUS,CTRO
            FROM T3.W_MOV_CENTRAL_ADC
            WHERE CAST(FECHA_FACTURA AS DATE)
                BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            DELETE FROM W_MOV_CENTRAL_ADC
            WHERE CAST(FECHA_FACTURA AS DATE)
                BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            UPDATE BITACORA_ARCHIVING_T3
            SET Fecha_Final = GETDATE()
            WHERE Sec_Bit = @nSecuencia;

            COMMIT;

        END

    END TRY
    BEGIN CATCH

        ROLLBACK;

        SET @sMsg = LEFT(
            'ERROR ORACLE ' +
            CAST(ERROR_NUMBER() AS VARCHAR) + ' ' +
            ERROR_MESSAGE(), 480
        );

        INSERT INTO BITACORA_ERROR
        (DISTRIBUIDOR,FECHA,MENSAJE,MODULO,TIPO)
        VALUES (999,GETDATE(),'<Archiving>'+@sMsg,'ARC','T');

        RETURN;

    END CATCH
END
GO
