USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[ARCHIVING_T3_PREV_Migrado]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [T3].[ARCHIVING_T3_PREV_Migrado]
    @dtFechaInicialArch DATETIME,
    @dtFechaFinalArch   DATETIME,
    @nDiasIntervalo     NUMERIC(18,0)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @dtFechaIni DATETIME;
    DECLARE @dtFechaFin DATETIME;
    DECLARE @nIteracion NUMERIC(18,0);
    DECLARE @nPeriodo   NUMERIC(18,0);
    DECLARE @nSecuencia NUMERIC(18,0);
    DECLARE @sPeriodo   VARCHAR(20);
    DECLARE @sEtapa     VARCHAR(40);
    DECLARE @sMsg       VARCHAR(500);

    BEGIN TRY

        SET @nPeriodo   = ISNULL(@nDiasIntervalo, 31);
        SET @nIteracion = 0;

        SET @dtFechaIni = DATEADD(DAY, -@nPeriodo, @dtFechaInicialArch);

        WHILE (1=1)
        BEGIN
            SET @dtFechaIni = DATEADD(DAY, @nPeriodo, @dtFechaIni);

            IF (@dtFechaIni > @dtFechaFinalArch)
                BREAK;

            SET @dtFechaFin = DATEADD(DAY, @nPeriodo, @dtFechaIni);

            IF (@dtFechaFin > @dtFechaFinalArch)
                SET @dtFechaFin = @dtFechaFinalArch;

            SET @nIteracion = @nIteracion + 1;

            SET @sPeriodo =
                FORMAT(@dtFechaIni,'yyyyMMdd') + '-' +
                FORMAT(@dtFechaFin,'yyyyMMdd');

            --------------------------------------------------
            -- ENTREGA
            --------------------------------------------------

            SET @sEtapa = 'Entrega';
            SELECT @nSecuencia = NEXT VALUE FOR Seq_Archiving_T3;

			BEGIN TRAN
            INSERT INTO BITACORA_ARCHIVING_T3
            (Sec_Bit,Periodo,Proceso,Fecha_Inicial,Fecha_Final)
            VALUES (@nSecuencia,@sPeriodo,@sEtapa,GETDATE(),NULL);

            INSERT INTO ENTREGA_ARCH
            (FACTURA,ENTREGA,FECHA_TRN,STATUS_ENTREGA,
             UBICACION,REP_ID,FECHA_ENTREGA,CLIENTE_V3,
             CLIENTE_SAP,FECHA_PROC_BATMD)
            SELECT
                FACTURA,ENTREGA,FECHA_TRN,STATUS_ENTREGA,
                UBICACION,REP_ID,FECHA_ENTREGA,CLIENTE_V3,
                CLIENTE_SAP,FECHA_PROC_BATMD
            FROM ENTREGA
            WHERE CAST(FECHA_ENTREGA AS DATE)
                BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            DELETE FROM ENTREGA
            WHERE CAST(FECHA_ENTREGA AS DATE)
                BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            UPDATE BITACORA_ARCHIVING_T3
            SET Fecha_Final = GETDATE()
            WHERE Sec_Bit = @nSecuencia;

            COMMIT;

            --------------------------------------------------
            -- ENTREGA_T3
            --------------------------------------------------

            SET @sEtapa = 'Entrega_T3';
            SELECT @nSecuencia = NEXT VALUE FOR Seq_Archiving_T3;

			BEGIN TRAN
            INSERT INTO BITACORA_ARCHIVING_T3
            (Sec_Bit,Periodo,Proceso,Fecha_Inicial,Fecha_Final)
            VALUES (@nSecuencia,@sPeriodo,@sEtapa,GETDATE(),NULL);

            INSERT INTO ENTREGA_T3_ARCH
            (ENTREGA,DISTRIBUIDOR,FECHA_ENTREGA,DOC_ID,CTRO,UBICACION)
            SELECT
                ENTREGA,DISTRIBUIDOR,FECHA_ENTREGA,DOC_ID,CTRO,UBICACION
            FROM ENTREGA_T3
            WHERE CAST(FECHA_ENTREGA AS DATE)
                BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            DELETE FROM ENTREGA_T3
            WHERE CAST(FECHA_ENTREGA AS DATE)
                BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            UPDATE BITACORA_ARCHIVING_T3
            SET Fecha_Final = GETDATE()
            WHERE Sec_Bit = @nSecuencia;

            COMMIT;

            --------------------------------------------------
            -- PREVENTA
            --------------------------------------------------

            SET @sEtapa = 'Preventa_General';
            SELECT @nSecuencia = NEXT VALUE FOR Seq_Archiving_T3;

			BEGIN TRAN
            INSERT INTO BITACORA_ARCHIVING_T3
            (Sec_Bit,Periodo,Proceso,Fecha_Inicial,Fecha_Final)
            VALUES (@nSecuencia,@sPeriodo,@sEtapa,GETDATE(),NULL);

            INSERT INTO PREVENTA_GENERAL_ARCH
            (FACTURA,PREFIJO,CENTRO,ENTREGA,
             FECHA_FACTURA,FECHA_TRN,CLASE_FACTURA,CLIENTE_SAP,
             CLIENTE_PAGADOR_SAP,UBICACION,PEDIDO,FECHA_EST_ENT,
             VALOR_SUBT,VALOR_IVA,STATUS_CONTABLE,ANULADA,
             FECHA_ENTREGA,FECHA_PROC_BATMD,REFERENCIA,FECHA_CANCELACION,
             VALOR_ISSA,CTRO,BONIF_SUBT,BONIF_IVA,
             BONIF_PORC,BONIF_VOL)
            SELECT
                FACTURA,PREFIJO,CENTRO,ENTREGA,
                FECHA_FACTURA,FECHA_TRN,CLASE_FACTURA,CLIENTE_SAP,
                CLIENTE_PAGADOR_SAP,UBICACION,PEDIDO,FECHA_EST_ENT,
                VALOR_SUBT,VALOR_IVA,STATUS_CONTABLE,ANULADA,
                FECHA_ENTREGA,FECHA_PROC_BATMD,REFERENCIA,FECHA_CANCELACION,
                VALOR_ISSA,CTRO,BONIF_SUBT,BONIF_IVA,
                BONIF_PORC,BONIF_VOL
            FROM PREVENTA_GENERAL
            WHERE CAST(FECHA_FACTURA AS DATE)
                BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            INSERT INTO PREVENTA_DETALLE_ARCH
            (FACTURA,PREFIJO,NUM_LINEA,MATERIAL,
             CANTIDAD_VTA,UNIDAD_MED_VTA,STATUS_PROD,VALOR_SUBT,
             VALOR_IVA,REFERENCIA_PEDIDO,VALOR_ISSA,BONIF_SUBT,
             BONIF_IVA,BONIF_PORC,BONIF_VOL)
            SELECT
                D.FACTURA,D.PREFIJO,D.NUM_LINEA,D.MATERIAL,
                D.CANTIDAD_VTA,D.UNIDAD_MED_VTA,D.STATUS_PROD,D.VALOR_SUBT,
                D.VALOR_IVA,D.REFERENCIA_PEDIDO,D.VALOR_ISSA,D.BONIF_SUBT,
                D.BONIF_IVA,D.BONIF_PORC,D.BONIF_VOL
            FROM PREVENTA_DETALLE D, PREVENTA_GENERAL H
            WHERE D.FACTURA = H.FACTURA
              AND CAST(H.FECHA_FACTURA AS DATE)
                BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            DELETE FROM PREVENTA_DETALLE
            WHERE FACTURA IN (
                SELECT FACTURA
                FROM PREVENTA_GENERAL
                WHERE CAST(FECHA_FACTURA AS DATE)
                    BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE)
            );

            DELETE FROM PREVENTA_GENERAL
            WHERE CAST(FECHA_FACTURA AS DATE)
                BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            UPDATE BITACORA_ARCHIVING_T3
            SET Fecha_Final = GETDATE()
            WHERE Sec_Bit = @nSecuencia;

            COMMIT;

        END

    END TRY
    BEGIN CATCH

        ROLLBACK;

        SET @sMsg = LEFT(
            'ERROR ORACLE ' +
            CAST(ERROR_NUMBER() AS VARCHAR) + ' ' +
            ERROR_MESSAGE(), 480
        );

        INSERT INTO BITACORA_ERROR
        (DISTRIBUIDOR,FECHA,MENSAJE,MODULO,TIPO)
        VALUES (999,GETDATE(),'<Archiving>'+@sMsg,'ARC','T');

        RETURN;

    END CATCH
END
GO
