USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[ARCHIVING_SALESDOCS_Migrado]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [T3].[ARCHIVING_SALESDOCS_Migrado]
    @dtFechaInicialArch DATETIME,
    @dtFechaFinalArch   DATETIME,
    @nDiasIntervalo     NUMERIC(18,0)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @dtFechaIni DATETIME;
    DECLARE @dtFechaFin DATETIME;
    DECLARE @nIteracion NUMERIC(18,0);
    DECLARE @nPeriodo   NUMERIC(18,0);
    DECLARE @nSecuencia NUMERIC(18,0);
    DECLARE @sPeriodo   VARCHAR(20);
    DECLARE @sEtapa     VARCHAR(40);
    DECLARE @sMsg       VARCHAR(500);

    BEGIN TRY

        SET @nPeriodo   = ISNULL(@nDiasIntervalo, 31);
        SET @nIteracion = 0;

        SET @dtFechaIni = DATEADD(DAY, -@nPeriodo, @dtFechaInicialArch);

        WHILE (1=1)
        BEGIN
            SET @dtFechaIni = DATEADD(DAY, @nPeriodo, @dtFechaIni);

            IF (@dtFechaIni > @dtFechaFinalArch)
                BREAK;

            SET @dtFechaFin = DATEADD(DAY, @nPeriodo, @dtFechaIni);

            IF (@dtFechaFin > @dtFechaFinalArch)
                SET @dtFechaFin = @dtFechaFinalArch;

            SET @nIteracion = @nIteracion + 1;

            SET @sPeriodo =
                FORMAT(@dtFechaIni,'yyyyMMdd') + '-' +
                FORMAT(@dtFechaFin,'yyyyMMdd');

            --------------------------------------------------
            -- T3R_SALES_DOCS_OLD
            --------------------------------------------------

            SET @sEtapa = 'Sales_Docs_Old';

            SELECT @nSecuencia = NEXT VALUE FOR Seq_Archiving_T3; --se necesita la secuencia

			BEGIN TRAN
            INSERT INTO BITACORA_ARCHIVING_T3
                (Sec_Bit, Periodo, Proceso, Fecha_Inicial, Fecha_Final)
            VALUES
                (@nSecuencia, @sPeriodo, @sEtapa, GETDATE(), NULL);

            INSERT INTO T3R_SALES_DOCS_ARCH
                (DOC_DATE, DISTRIBUTOR, CUSTOMER, DOC_NUM_R3,
                 DOC_ORD_R3, DOC_NUM_REF1, DOC_NUM_REF2, DOC_TYPE,
                 DOC_STATUS,
                 DOC_NETAMT, DOC_TAXAMT, DOC_QTY, CREATED)
            SELECT
                DOC_DATE, DISTRIBUTOR, CUSTOMER, DOC_NUM_R3,
                DOC_ORD_R3, DOC_NUM_REF1, DOC_NUM_REF2, DOC_TYPE,
                DOC_STATUS,
                DOC_NETAMT, DOC_TAXAMT, DOC_QTY, CREATED
            FROM EAI.T3R_SALES_DOCS_OLD
            WHERE CAST(CREATED AS DATE) BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            DELETE FROM EAI.T3R_SALES_DOCS_OLD
            WHERE CAST(CREATED AS DATE) BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            UPDATE BITACORA_ARCHIVING_T3
            SET Fecha_Final = GETDATE()
            WHERE Sec_Bit = @nSecuencia;

            COMMIT;

            --------------------------------------------------
            -- T3R_SALES_DOCS_LDR_MX01
            --------------------------------------------------

            SET @sEtapa = 'MX01_Sales_Docs_Old';

            SELECT @nSecuencia = NEXT VALUE FOR Seq_Archiving_T3; --se necesita la secuencia

			BEGIN TRAN
            INSERT INTO BITACORA_ARCHIVING_T3
                (Sec_Bit, Periodo, Proceso, Fecha_Inicial, Fecha_Final)
            VALUES
                (@nSecuencia, @sPeriodo, @sEtapa, GETDATE(), NULL);

            INSERT INTO T3R_SALES_DOCS_MX01_ARCH
                (DOC_DATE, DISTRIBUTOR, CUSTOMER, DOC_NUM_R3,
                 DOC_ORD_R3, DOC_NUM_REF1, DOC_NUM_REF2, DOC_TYPE,
                 DOC_STATUS,
                 DOC_NETAMT, DOC_TAXAMT, DOC_QTY, CREATED)
            SELECT
                DOC_DATE, DISTRIBUTOR, CUSTOMER, DOC_NUM_R3,
                DOC_ORD_R3, DOC_NUM_REF1, DOC_NUM_REF2, DOC_TYPE,
                DOC_STATUS,
                DOC_NETAMT, DOC_TAXAMT, DOC_QTY, CREATED
            FROM EAI.T3R_SALES_DOCS_LDR_MX01
            WHERE CAST(CREATED AS DATE) BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            DELETE FROM EAI.T3R_SALES_DOCS_LDR_MX01
            WHERE CAST(CREATED AS DATE) BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            UPDATE BITACORA_ARCHIVING_T3
            SET Fecha_Final = GETDATE()
            WHERE Sec_Bit = @nSecuencia;

            COMMIT;

        END

    END TRY
    BEGIN CATCH

        ROLLBACK;

        SET @sMsg = LEFT(
            'ERROR SQL ' +
            CAST(ERROR_NUMBER() AS VARCHAR) + ' ' +
            ERROR_MESSAGE(), 480
        );

        INSERT INTO BITACORA_ERROR
            (DISTRIBUIDOR, FECHA, MENSAJE, MODULO, TIPO)
        VALUES
            (999, GETDATE(), '<Archiving>' + @sMsg, 'ARC', 'T');

        RETURN;

    END CATCH
END
GO
