USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[ARCHIVING_DOC_ENV_Migrado]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [T3].[ARCHIVING_DOC_ENV_Migrado]
    @sPeriod VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @dtFechaIni DATETIME; -- No se usan
    DECLARE @dtFechaFin DATETIME; -- No se usan
    DECLARE @nIteracion NUMERIC(18,0);
    DECLARE @nPeriodo NUMERIC(18,0);
    DECLARE @nSecuencia NUMERIC(18,0);
    DECLARE @sPeriodo VARCHAR(20);
    DECLARE @sEtapa VARCHAR(40);
    DECLARE @sMsg VARCHAR(500);

    BEGIN TRY

        SET @nIteracion = 0;

        PRINT 'Start ' + CONVERT(VARCHAR, GETDATE(), 108);

        SET @sEtapa = 'CFDI_DOCUMENTOS_ENVIAR';

        SELECT @nSecuencia = NEXT VALUE FOR Seq_Archiving_OUT; -- Se necesita que exista la sequencia

        DECLARE ScrDoctos CURSOR LOCAL FAST_FORWARD FOR
        --SELECT Env.%%physloc%% AS Env_ROWID, CFD.Nota_Venta
		SELECT CFD.Nota_Venta
        FROM T3.CFDI_DOCUMENTOS CFD,
             T3.CFDI_DOCUMENTOS_ENVIAR Env
        WHERE FORMAT(CFD.Fecha_Liberacion,'yyyyMM') = @sPeriod
          AND Env.Nota_Venta = CFD.Nota_Venta;

        --DECLARE @Env_ROWID VARBINARY(100);
        DECLARE @Nota_Venta VARCHAR(100);

        OPEN ScrDoctos;

        --FETCH NEXT FROM ScrDoctos INTO @Env_ROWID, @Nota_Venta;
		FETCH NEXT FROM ScrDoctos INTO @Nota_Venta;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @nIteracion = @nIteracion + 1;

            DELETE FROM T3.CFDI_DOCUMENTOS_ENVIAR
			WHERE Nota_Venta = @Nota_Venta;
            --WHERE %%physloc%% = @Env_ROWID;

            IF (@nIteracion % 20000 = 0)
            BEGIN
                COMMIT;
            END


            --FETCH NEXT FROM ScrDoctos INTO @Env_ROWID, @Nota_Venta;
			FETCH NEXT FROM ScrDoctos INTO @Nota_Venta;
        END

        CLOSE ScrDoctos;
        DEALLOCATE ScrDoctos;

        PRINT 'Records' + FORMAT(@nIteracion, 'N0');
        PRINT 'End ' + CONVERT(VARCHAR, GETDATE(), 108);

        COMMIT;

    END TRY
    BEGIN CATCH

        ROLLBACK;

        SET @sMsg = LEFT(
            'ERROR ORACLE ' +
            CAST(ERROR_NUMBER() AS VARCHAR) + ' ' +
            ERROR_MESSAGE(), 480
        );

        INSERT INTO BITACORA_ERROR
            (DISTRIBUIDOR, FECHA, MENSAJE, MODULO, TIPO)
        VALUES
            (999, GETDATE(), '<Archiving>' + @sMsg, 'ARC', 'T');

        COMMIT;

        RETURN;

    END CATCH
END
GO
