USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[ARCHIVING_T3_CFDI_HISTDOCTO_Migrado]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [T3].[ARCHIVING_T3_CFDI_HISTDOCTO_Migrado]
    @dtFechaInicialArch DATETIME,
    @dtFechaFinalArch   DATETIME,
    @nDiasIntervalo     NUMERIC(18,0)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @dtFechaIni DATETIME;
    DECLARE @dtFechaFin DATETIME;
    DECLARE @nIteracion NUMERIC(18,0);
    DECLARE @nPeriodo   NUMERIC(18,0);
    DECLARE @nSecuencia NUMERIC(18,0);
    DECLARE @sPeriodo   VARCHAR(20);
    DECLARE @sEtapa     VARCHAR(40);
    DECLARE @sMsg       VARCHAR(500);

    BEGIN TRY

        SET @nPeriodo   = ISNULL(@nDiasIntervalo, 31);
        SET @nIteracion = 0;

        SET @dtFechaIni = DATEADD(DAY, -@nPeriodo, @dtFechaInicialArch);

        WHILE (1=1)
        BEGIN
			

            SET @dtFechaIni = DATEADD(DAY, @nPeriodo, @dtFechaIni);

            IF (@dtFechaIni > @dtFechaFinalArch)
                BREAK;

            SET @dtFechaFin = DATEADD(DAY, @nPeriodo, @dtFechaIni);

            IF (@dtFechaFin > @dtFechaFinalArch)
                SET @dtFechaFin = @dtFechaFinalArch;

            SET @nIteracion = @nIteracion + 1;

            SET @sPeriodo =
                FORMAT(@dtFechaIni,'yyyyMMdd') + '-' +
                FORMAT(@dtFechaFin,'yyyyMMdd');

            --------------------------------------------------
            -- CFDI_HISTORIA_DOCTO_PAC
            --------------------------------------------------

            SET @sEtapa = 'CFDI_Historia_Docto_PAC';

            SELECT @nSecuencia = NEXT VALUE FOR Seq_Archiving_T3;

			BEGIN TRAN

            INSERT INTO BITACORA_ARCHIVING_T3
                (Sec_Bit, Periodo, Proceso, Fecha_Inicial, Fecha_Final)
            VALUES
                (@nSecuencia, @sPeriodo, @sEtapa, GETDATE(), NULL);

            INSERT INTO T3.CFDI_HISTORIA_DOCTO_PAC_ARCH
                (NOTA_VENTA, CTRO, FECHA_FACTURA, NOTA_VENTA_CFDI)
            SELECT
                NOTA_VENTA, CTRO, FECHA_FACTURA, NOTA_VENTA_CFDI
            FROM T3.CFDI_HISTORIA_DOCTO_PAC
            WHERE CAST(FECHA_FACTURA AS DATE)
                BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            DELETE FROM T3.CFDI_HISTORIA_DOCTO_PAC
            WHERE CAST(FECHA_FACTURA AS DATE)
                BETWEEN CAST(@dtFechaIni AS DATE) AND CAST(@dtFechaFin AS DATE);

            UPDATE BITACORA_ARCHIVING_T3
            SET Fecha_Final = GETDATE()
            WHERE Sec_Bit = @nSecuencia;

            COMMIT;

        END
    END TRY
    BEGIN CATCH

        ROLLBACK;

        SET @sMsg = LEFT(
            'ERROR ORACLE ' +
            CAST(ERROR_NUMBER() AS VARCHAR) + ' ' +
            ERROR_MESSAGE(), 480
        );

        INSERT INTO BITACORA_ERROR
            (DISTRIBUIDOR, FECHA, MENSAJE, MODULO, TIPO)
        VALUES
            (999, GETDATE(), '<Archiving>' + @sMsg, 'ARC', 'T');

        RETURN;

    END CATCH
END
GO
