USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[BCK_APLICACION_COBZA_HISTORY_Migrado]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [T3].[BCK_APLICACION_COBZA_HISTORY_Migrado]
    @sInvoiceID VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sMsg          VARCHAR(500);
    DECLARE @sErrorCode    VARCHAR(500);
    DECLARE @v_ID          VARCHAR(30);
    DECLARE @sAccnt_ID     VARCHAR(30);
    DECLARE @sProcesar     VARCHAR(2);
    DECLARE @sFacturaV3    VARCHAR(20);
    DECLARE @nBonif_Subt   NUMERIC(22,7);
    DECLARE @nBonif_IVA    NUMERIC(22,7);
    DECLARE @nBonif_Porc   NUMERIC(22,7);
    DECLARE @sUbicacion    VARCHAR(4);
    DECLARE @sHora_Factura VARCHAR(10);
    DECLARE @nPrecioUnitario NUMERIC(22,7);
    DECLARE @sMetodoDePago VARCHAR(60);
    DECLARE @sNumCtaPago   VARCHAR(60);


    DECLARE ScrAllocation CURSOR LOCAL FAST_FORWARD FOR
    SELECT
        CAST(Ldr.Fecha_Documento AS DATETIME) AS Fecha_Documento,
        Ldr.Tipo_Documento,
        Ldr.Sociedad,
        Ldr.Moneda,
        Ldr.Documento AS Numero_Documento,
        Ldr.Monto_Aplicar,
        Ldr.Texto,
        PG.Entrega AS FacturaSD,
        PG.Factura AS FacturaT3,
        CFD.Folio_Fiscal AS Folio_UUID,
        MXCM.Fecha_Registro
    FROM EAI.MX10_APLICACION_COBZA_LDR Ldr
    JOIN T3.Preventa_General PG
        ON Ldr.Texto = PG.Entrega
    JOIN T3.CFDI_Documentos CFD
        ON PG.Factura = CFD.Nota_Venta
    LEFT JOIN T3.MX10_APLICACION_Cobza MXCM
        ON Ldr.Documento = MXCM.Numero_Documento
       AND Ldr.Texto = MXCM.Factura
    WHERE Ldr.Row_ID <> 'STARTDATA'
      AND Ldr.Row_ID <> 'ENDDATA';

    --------------------------------------------------
    -- Variables del cursor
    --------------------------------------------------

    DECLARE
        @Fecha_Documento DATETIME,
        @Tipo_Documento VARCHAR(100),
        @Sociedad VARCHAR(100),
        @Moneda VARCHAR(50),
        @Numero_Documento VARCHAR(100),
        @Monto_Aplicar NUMERIC(22,7),
        @Texto VARCHAR(200),
        @FacturaSD VARCHAR(100),
        @FacturaT3 VARCHAR(100),
        @Folio_UUID VARCHAR(100),
        @Fecha_Registro DATETIME;

    BEGIN TRY

        SET @sProcesar = 'NO';

        OPEN ScrAllocation;

        FETCH NEXT FROM ScrAllocation INTO
            @Fecha_Documento, @Tipo_Documento, @Sociedad, @Moneda,
            @Numero_Documento, @Monto_Aplicar, @Texto,
            @FacturaSD, @FacturaT3, @Folio_UUID, @Fecha_Registro;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @v_ID = @Numero_Documento;

            IF (@Fecha_Registro IS NULL)
            BEGIN
                SET @v_ID = @FacturaSD;

                INSERT INTO T3.MX10_APLICACION_COBZA
                (Fecha_Documento, Tipo_Documento, Sociedad, Moneda,
                 Numero_Documento, Monto_Aplicar, Factura, Fecha_Registro)
                VALUES
                (@Fecha_Documento, @Tipo_Documento, @Sociedad, @Moneda,
                 @Numero_Documento, @Monto_Aplicar, @FacturaSD, GETDATE());
            END

            FETCH NEXT FROM ScrAllocation INTO
                @Fecha_Documento, @Tipo_Documento, @Sociedad, @Moneda,
                @Numero_Documento, @Monto_Aplicar, @Texto,
                @FacturaSD, @FacturaT3, @Folio_UUID, @Fecha_Registro;
        END

        CLOSE ScrAllocation;
        DEALLOCATE ScrAllocation;

    END TRY
    BEGIN CATCH

        SET @sErrorCode = 'ORA-' + CAST(ERROR_NUMBER() AS VARCHAR);

        SET @sMsg = LEFT(
            CAST(ERROR_NUMBER() AS VARCHAR) + '-' + ERROR_MESSAGE(), 250
        );
		
		BEGIN TRAN
        INSERT INTO EAI_OWNER.MX_EAI_MESSAGE_LOG
        (DIRECTION, REFERENCE, CREATED, MESSAGE,
         STATUS, QUEUE_NAME, SIEBEL_ERROR_MESSAGE, SOURCE,
         SIEBEL_ERROR_CODE, RETRY_COUNT, SEQUENCE, PARENT_ROW_ID)
        VALUES
        ('Collecting-MX10', @v_ID, GETDATE(), NULL,
         'Error', 'MX10_APLICACION_COBZA', @sMsg, 'XML',
         @sErrorCode, NULL, NULL, NULL);

        COMMIT;

    END CATCH
END
GO
