USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[DELIVERY_FROM_LOADER_Migrado]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [T3].[DELIVERY_FROM_LOADER_Migrado]
    @nOutput NUMERIC(18,0) = 0
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sMsg            VARCHAR(500);
    DECLARE @v_ID            VARCHAR(50);
    DECLARE @sErrorCode      VARCHAR(20);
    DECLARE @sProcesar       VARCHAR(2);

    DECLARE @nRecords        NUMERIC(18,0);
    DECLARE @nDeliveries     NUMERIC(18,0);
    DECLARE @sDelivery       VARCHAR(20);
    DECLARE @dtStarting      DATETIME;

    DECLARE ScrData CURSOR LOCAL FAST_FORWARD FOR
    SELECT 
        Ldr.Delivery,
        Ldr.Sociedad,
        Ldr.PickDate,
        Ldr.DeliveryDate,
        Ldr.PurchaseOrder,
        Ldr.DeliveryType,
        Ldr.Status,
        Ldr.Plant,
        Ldr.ShippingPoint,
        Ldr.SoldtoParty,
        Ldr.SLOC,
        Ldr.ShiptoParty,
        Ldr.ShiptoPartyLoc,
        Ldr.ShiptoPartyName,
        Ldr.Material,
        Ldr.MaterialName,
        Ldr.UnitMeasure,
        Ldr.Quantity,
        ISNULL(Hist.Delivery, 'INSERT') AS History
    FROM (
        SELECT 
            Ldr.Delivery,
            Ldr.Sociedad,
            Ldr.PickDate,
            Ldr.DeliveryDate,
            Ldr.PurchaseOrder,
            Ldr.DeliveryType,
            Ldr.Status,
            Ldr.Plant,
            Ldr.ShippingPoint,
            Ldr.SoldtoParty,
            Ldr.SLOC,
            Ldr.ShiptoParty,
            Ldr.ShiptoPartyLoc,
            Ldr.ShiptoPartyName,
            Ldr.Material,
            Ldr.MaterialName,
            Ldr.UnitMeasure,
            SUM(Ldr.Quantity) AS Quantity
        FROM (
            SELECT
                LTRIM(RTRIM(Ldr.Delivery)) AS Delivery,
                LTRIM(RTRIM(Ldr.Sociedad)) AS Sociedad,
                CAST(LTRIM(RTRIM(Ldr.PickDate)) AS DATETIME) AS PickDate,
                CAST(LTRIM(RTRIM(Ldr.DeliveryDate)) AS DATETIME) AS DeliveryDate,
                LTRIM(RTRIM(Ldr.PurchaseOrder)) AS PurchaseOrder,
                LTRIM(RTRIM(Ldr.DeliveryType)) AS DeliveryType,
                LTRIM(RTRIM(Ldr.Status)) AS Status,
                LTRIM(RTRIM(Ldr.Plant)) AS Plant,
                LTRIM(RTRIM(Ldr.ShippingPoint)) AS ShippingPoint,
                LTRIM(RTRIM(Ldr.SoldtoParty)) AS SoldtoParty,
                LTRIM(RTRIM(Ldr.SLOC)) AS SLOC,
                LTRIM(RTRIM(Ldr.ShiptoParty)) AS ShiptoParty,
                LTRIM(RTRIM(Ldr.ShiptoPartyLoc)) AS ShiptoPartyLoc,
                LTRIM(RTRIM(Ldr.ShiptoPartyName)) AS ShiptoPartyName,
                LTRIM(RTRIM(Ldr.Material)) AS Material,
                LTRIM(RTRIM(Ldr.MaterialName)) AS MaterialName,
                LTRIM(RTRIM(Ldr.UnitMeasure)) AS UnitMeasure,
                CAST(REPLACE(LTRIM(RTRIM(Ldr.Quantity)), ',', '') AS NUMERIC(22,7)) AS Quantity
            FROM EAI.DELIVERY_LDR Ldr
            WHERE LTRIM(RTRIM(Ldr.Delivery)) <> 'Delivery'
              AND LTRIM(RTRIM(Ldr.Delivery)) <> 'Entrega'
        ) Ldr
        GROUP BY 
            Delivery, PickDate, DeliveryDate, PurchaseOrder, DeliveryType,
            Status, Plant, ShippingPoint, SoldtoParty, SLOC,
            ShiptoParty, ShiptoPartyLoc, ShiptoPartyName,
            Material, MaterialName, UnitMeasure, Sociedad
    ) Ldr
    LEFT JOIN T3.Delivery_Hist Hist
        ON Ldr.Delivery = Hist.Delivery
       AND Ldr.Material = Hist.Material
       AND Ldr.MaterialName = Hist.MaterialName
       AND Ldr.UnitMeasure = Hist.UnitMeasure
    ORDER BY Sociedad, Delivery, Material, MaterialName, UnitMeasure;

    DECLARE
        @Delivery VARCHAR(50),
        @Sociedad VARCHAR(50),
        @PickDate DATETIME,
        @DeliveryDate DATETIME,
        @PurchaseOrder VARCHAR(50),
        @DeliveryType VARCHAR(50),
        @Status VARCHAR(50),
        @Plant VARCHAR(50),
        @ShippingPoint VARCHAR(50),
        @SoldtoParty VARCHAR(50),
        @SLOC VARCHAR(50),
        @ShiptoParty VARCHAR(50),
        @ShiptoPartyLoc VARCHAR(50),
        @ShiptoPartyName VARCHAR(100),
        @Material VARCHAR(50),
        @MaterialName VARCHAR(100),
        @UnitMeasure VARCHAR(20),
        @Quantity NUMERIC(22,7),
        @History VARCHAR(20);

    BEGIN TRY

        SET @nRecords = 0;
        SET @nDeliveries = 0;
        SET @sDelivery = 'INIT';
        SET @dtStarting = GETDATE();

        OPEN ScrData;

        FETCH NEXT FROM ScrData INTO
            @Delivery,@Sociedad,@PickDate,@DeliveryDate,@PurchaseOrder,
            @DeliveryType,@Status,@Plant,@ShippingPoint,@SoldtoParty,
            @SLOC,@ShiptoParty,@ShiptoPartyLoc,@ShiptoPartyName,
            @Material,@MaterialName,@UnitMeasure,@Quantity,@History;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @v_ID = @Delivery;
            SET @nRecords = @nRecords + 1;

            IF (@History = 'INSERT')
            BEGIN
                IF (@sDelivery <> @Delivery)
                BEGIN
                    SET @nDeliveries = @nDeliveries + 1;
                    SET @sDelivery = @Delivery;
                END

                INSERT INTO T3.Delivery_Hist
                (Created,ShiptoPartyLoc,Sociedad,
                 Delivery,PickDate,DeliveryDate,PurchaseOrder,
                 DeliveryType,Status,Plant,ShippingPoint,
                 SoldtoParty,Sloc,ShiptoParty,ShiptoPartyName,
                 Material,MaterialName,Quantity,UnitMeasure)
                VALUES
                (GETDATE(),@ShiptoPartyLoc,@Sociedad,
                 @Delivery,@PickDate,@DeliveryDate,@PurchaseOrder,
                 @DeliveryType,@Status,@Plant,@ShippingPoint,
                 @SoldtoParty,@SLOC,@ShiptoParty,@ShiptoPartyName,
                 @Material,@MaterialName,@Quantity,@UnitMeasure);
            END

            FETCH NEXT FROM ScrData INTO
            @Delivery,@Sociedad,@PickDate,@DeliveryDate,@PurchaseOrder,
            @DeliveryType,@Status,@Plant,@ShippingPoint,@SoldtoParty,
            @SLOC,@ShiptoParty,@ShiptoPartyLoc,@ShiptoPartyName,
            @Material,@MaterialName,@UnitMeasure,@Quantity,@History;
        END

        CLOSE ScrData;
        DEALLOCATE ScrData;

        IF (@nOutput > 0)
        BEGIN
            PRINT 'Resume';
            PRINT 'Starting   => ' + FORMAT(@dtStarting,'HH:mm:ss');
            PRINT 'Deliveries => ' + CAST(@nDeliveries AS VARCHAR);
            PRINT 'Records    => ' + CAST(@nRecords AS VARCHAR);
            PRINT 'Ending     => ' + FORMAT(GETDATE(),'HH:mm:ss');
        END
    END TRY
    BEGIN CATCH

        SET @sErrorCode = 'ORA-' + CAST(ERROR_NUMBER() AS VARCHAR);

        SET @sMsg = LEFT(
            CAST(ERROR_NUMBER() AS VARCHAR) + '-' + ERROR_MESSAGE(),
            250
        );

        INSERT INTO EAI_OWNER.MX_EAI_MESSAGE_LOG
        (DIRECTION,REFERENCE,CREATED,MESSAGE,
         STATUS,QUEUE_NAME,SIEBEL_ERROR_MESSAGE,SOURCE,
         SIEBEL_ERROR_CODE,RETRY_COUNT,SEQUENCE,PARENT_ROW_ID)
        VALUES
        ('Processing Delivery',@v_ID,GETDATE(),NULL,
         'Error','DELIVERY_FROM_LOADER',@sMsg,'PL/SQL',
         @sErrorCode,NULL,NULL,NULL);

    END CATCH
END
GO
