USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[DELIVERY_TO_REMISION]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [T3].[DELIVERY_TO_REMISION]
(
    @nConvCases NUMERIC(18,0) = 0,
    @nOutput    NUMERIC(18,0) = 0
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sMsg VARCHAR(500), @v_ID VARCHAR(50), @sErrorCode VARCHAR(20), @sProcesar VARCHAR(2);
    DECLARE @nRecords NUMERIC(8,0), @nDeliveries NUMERIC(8,0);
    DECLARE @sDelivery VARCHAR(20), @dtStarting DATETIME, @dtSYSDATE DATETIME;
    DECLARE @sCtroSoc VARCHAR(10), @sSociedad VARCHAR(10), @sSociedadDest VARCHAR(10);

    DECLARE @envID VARCHAR(100), @envRFC VARCHAR(100), @envNombre VARCHAR(100),
            @envLugarExpide VARCHAR(100), @envCalle VARCHAR(100), @envNoExterior VARCHAR(100),
            @envNoInterior VARCHAR(100), @envColonia VARCHAR(100), @envMunicipio VARCHAR(100),
            @envEstado VARCHAR(100), @envPais VARCHAR(100), @envCodigo VARCHAR(100),
            @envDireccion VARCHAR(200);

    DECLARE @sShiptoParty VARCHAR(100);

    DECLARE @recID VARCHAR(100), @recRFC VARCHAR(100), @recNombre VARCHAR(100),
            @recLugarExpide VARCHAR(100), @recCalle VARCHAR(100), @recNoExterior VARCHAR(100),
            @recNoInterior VARCHAR(100), @recColonia VARCHAR(100), @recMunicipio VARCHAR(100),
            @recEstado VARCHAR(100), @recPais VARCHAR(100), @recCodigo VARCHAR(100),
            @recDireccion VARCHAR(200);

    DECLARE @sRemision VARCHAR(50), @sRem_Serie VARCHAR(20), @sRem_Folio VARCHAR(20), @sRem_Ctro VARCHAR(20);

    DECLARE
        @Delivery VARCHAR(50), @PickDate DATETIME, @PurchaseOrder VARCHAR(50),
        @DeliveryType VARCHAR(20), @SociedadC VARCHAR(10), @Razon_Social VARCHAR(200),
        @Plant VARCHAR(20), @ShippingPoint VARCHAR(20), @ShiptoPartyC VARCHAR(100),
        @ShiptoParty_New VARCHAR(100), @ShippingPlace VARCHAR(100), @ShippingName VARCHAR(100),
        @ShippingCtro VARCHAR(10), @Items INT, @Factura_FLAG VARCHAR(20);

    DECLARE
        @D_Delivery VARCHAR(50), @D_Linea INT, @D_Material VARCHAR(100),
        @D_Desc VARCHAR(200), @D_Cant NUMERIC(22,7), @D_UM VARCHAR(20),
        @D_CantCalc NUMERIC(22,7), @D_BaseUM VARCHAR(20), @D_BaseUMKS VARCHAR(20),
        @D_BaseName VARCHAR(200), @D_BaseCant NUMERIC(22,7);

    DECLARE
        @Cart_Factura VARCHAR(50), @Cart_Clase VARCHAR(20), @Cart_Material VARCHAR(100),
        @Cartones NUMERIC(22,7), @Cart_Cantidad NUMERIC(22,7), @Cart_UM VARCHAR(20),
        @Cart_UMV VARCHAR(20), @Cart_CLL NUMERIC(22,7), @Cart_PAQ NUMERIC(22,7), @Cart_CT NUMERIC(22,7);

    DECLARE @SocSociedad VARCHAR(10);

    DECLARE ScrData CURSOR LOCAL FAST_FORWARD FOR
    SELECT
        Info.Delivery, Info.PickDate, Info.PurchaseOrder, Info.DeliveryType, Info.Sociedad,
        Soc.Razon_Social, Info.Plant, Info.ShippingPoint, Info.ShiptoParty, Info.ShiptoParty_New,
        Info.ShippingPlace, Info.ShippingName, Info.ShippingCtro, Info.Items,
        ISNULL(RG.Factura,'INSERT') AS FACTURA
    FROM (
        SELECT
            Delv.Delivery, Delv.PickDate, Delv.PurchaseOrder, Delv.DeliveryType,
            ISNULL(Delv.Sociedad,'MX16') AS Sociedad, Delv.Plant, Delv.ShippingPoint, Delv.ShiptoParty,
            CASE
                WHEN LEFT(Delv.ShiptoParty,6)='PC-00-' THEN SUBSTRING(Delv.ShiptoParty,7,4)
                WHEN Delv.SoldtoParty IS NOT NULL THEN RIGHT('0000000000'+Delv.SoldtoParty,10)
                WHEN Delv.ShiptoParty IS NULL THEN ''
                ELSE RIGHT('0000000000'+Delv.ShiptoParty,10)
            END AS ShiptoParty_New,
			Delv.ShiptoPartyLoc              AS ShippingPlace   ,
            Delv.ShiptoPartyName             AS ShippingName    ,
            MAX(CASE WHEN LEFT(Delv.ShiptoParty,6)='PC-00-' THEN SUBSTRING(Delv.ShiptoParty,7,4) ELSE '0000' END) AS ShippingCtro,
            COUNT(Delv.Material) AS Items
        FROM T3.Delivery_Hist Delv
        WHERE Delv.Created > CAST(GETDATE() AS DATE)
        GROUP BY Delv.Delivery,Delv.PickDate,Delv.PurchaseOrder,Delv.DeliveryType,
                 ISNULL(Delv.Sociedad,'MX16'),Delv.Plant,Delv.ShippingPoint, Delv.ShiptoParty,
                 CASE
                    WHEN LEFT(Delv.ShiptoParty,6)='PC-00-' THEN SUBSTRING(Delv.ShiptoParty,7,4)
                    WHEN Delv.SoldtoParty IS NOT NULL THEN RIGHT('0000000000'+Delv.SoldtoParty,10)
                    WHEN Delv.ShiptoParty IS NULL THEN ''
                    ELSE RIGHT('0000000000'+Delv.ShiptoParty,10)
                 END,
                 Delv.ShiptoPartyLoc,Delv.ShiptoPartyName
    ) Info
    LEFT JOIN T3.Remision_General RG ON Info.Delivery = RG.Factura
    JOIN EAI.ZSDFE_Soc Soc ON Info.Sociedad = Soc.BUKRS AND Info.Sociedad = Soc.KUNNR;

    DECLARE ScrDetail CURSOR LOCAL FAST_FORWARD FOR
    SELECT
        Info.Delivery, Info.Num_Linea, Info.Material, ISNULL(Info.SKU_Name,Info.MaterialName),
        ISNULL(Info.SKU_UOM,Info.Conv_UnitMeasure),
        CASE
            WHEN Info.UnitMeasure='TH' AND Info.SKU_Pack_Size>0 THEN ROUND(Info.Quantity*1000.0/Info.SKU_Pack_Size,0)
            WHEN Info.UnitMeasure IN('EA','PC') AND Info.SKU_Pack_Size>0 THEN ROUND(Info.Quantity*1.0/Info.SKU_Pack_Size,0)
            ELSE Info.Quantity
        END,
        Info.UnitMeasure, Info.Conv_UnitMeasure, Info.MaterialName, Info.Quantity
    FROM (
        SELECT
            Delv.Delivery, ROW_NUMBER() OVER(ORDER BY Delv.Material) AS Num_Linea,
            Delv.Material, Delv.MaterialName, Delv.Quantity, Delv.UnitMeasure,
            dbo.getConv('ECC_V3 UOM',Delv.UnitMeasure) AS Conv_UnitMeasure,
            SKU.Nombre_Material AS SKU_Name, SKU.Unidad_Med_Vta AS SKU_UOM, ISNULL(SKU.Cig_x_CLL,0) AS SKU_Pack_Size
        FROM T3.Delivery_Hist Delv
        LEFT JOIN T3.Material SKU ON Delv.Material=SKU.Material
        WHERE Delv.Delivery=@v_ID
    ) Info;

    DECLARE ScrCartones CURSOR LOCAL FAST_FORWARD FOR
    SELECT
        RG.Factura,  
        RG.Clase_Remision, RD.Material, RD.Cantidad, RD.UnidadMedida, Mat.Unidad_Med_Vta,
        Mat.Cig_x_CLL, Mat.Cig_x_PAQ, ISNULL(Mat.Cig_x_CT,0),
        CASE
            WHEN RD.UnidadMedida='CAJ' AND Mat.Cig_x_CT>0 THEN RD.Cantidad*Mat.Cig_x_CLL/Mat.Cig_x_CT
            WHEN RD.UnidadMedida='PAQ' AND Mat.Cig_x_CT>0 THEN RD.Cantidad*Mat.Cig_x_PAQ/Mat.Cig_x_CT
            ELSE 0
        END
    FROM T3.Remision_General RG
    JOIN T3.Remision_Detalle RD ON RG.Factura=RD.Factura
    JOIN T3.Material Mat ON RD.Material=Mat.Material
    WHERE RG.Factura=@v_ID;

    DECLARE ScrCtroSociedad CURSOR LOCAL FAST_FORWARD FOR
    SELECT Sociedad FROM T3.REMISION_CTRO_SOCIEDAD WHERE Ctro=@sCtroSoc;

    BEGIN TRY

        SET @nRecords=0;
        SET @nDeliveries=0;
        SET @sDelivery='INIT';
        SET @dtStarting=GETDATE();
        SET @dtSYSDATE=GETDATE();

        OPEN ScrData;

        FETCH NEXT FROM ScrData INTO
        @Delivery,@PickDate,@PurchaseOrder,@DeliveryType,@SociedadC,@Razon_Social,
        @Plant,@ShippingPoint,@ShiptoPartyC,@ShiptoParty_New,
        @ShippingPlace,@ShippingName,@ShippingCtro,@Items,@Factura_FLAG;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @v_ID=@Delivery;
            SET @sShiptoParty=@ShiptoPartyC;
            SET @sSociedad=@SociedadC;
            SET @sCtroSoc=@Plant;

            OPEN ScrCtroSociedad;
            FETCH NEXT FROM ScrCtroSociedad INTO @sSociedad;
            CLOSE ScrCtroSociedad;

            SET @nRecords=@nRecords+1;
       
            SET @envID          = '';
            SET @envRFC         = '';
            SET @envNombre      = '';
            SET @envLugarExpide = '';
            SET @envCalle       = '';
            SET @envNoExterior  = '';
            SET @envNoInterior  = '';
            SET @envColonia     = '';
            SET @envMunicipio   = '';
            SET @envEstado      = '';
            SET @envPais        = '';
            SET @envCodigo      = '';

            SET @recID          = '';
            SET @recRFC         = '';
            SET @recNombre      = '';
            SET @recLugarExpide = '';
            SET @recCalle       = '';
            SET @recNoExterior  = '';
            SET @recNoInterior  = '';
            SET @recColonia     = '';
            SET @recMunicipio   = '';
            SET @recEstado      = '';
            SET @recPais        = '';
            SET @recCodigo      = '';
           
            IF (@Factura_FLAG = 'INSERT')
            BEGIN
                SET @envID = @Plant;

                EXEC T3.GET_REMISION_INFO
                    @envID, @sSociedad,
                    @envRFC OUTPUT, @envNombre OUTPUT, @envLugarExpide OUTPUT,
                    @envCalle OUTPUT, @envNoExterior OUTPUT, @envNoInterior OUTPUT,
                    @envColonia OUTPUT, @envMunicipio OUTPUT, @envEstado OUTPUT,
                    @envPais OUTPUT, @envCodigo OUTPUT;

                IF (ISNULL(@ShippingCtro, '0000') <> '0000')
                BEGIN
                    SET @recID = @ShippingCtro;
                    SET @sSociedadDest = 'MX16';
                    SET @sCtroSoc = @recID;

                    OPEN ScrCtroSociedad;
                    FETCH NEXT FROM ScrCtroSociedad INTO @SocSociedad;

                    WHILE @@FETCH_STATUS = 0
                    BEGIN
                        SET @sSociedadDest = @SocSociedad;
                        FETCH NEXT FROM ScrCtroSociedad INTO @SocSociedad;
                    END

                    CLOSE ScrCtroSociedad;
                    -- SIN DEALLOCATE AQUÍ
                END
                ELSE
                BEGIN
                    SET @recID = @ShippingPoint;
                    SET @recID = @ShiptoPartyC;
                    SET @recID = @ShiptoParty_New;
                    SET @sSociedadDest = @sSociedadDest;
                END

                EXEC T3.GET_REMISION_INFO
                    @recID, @sSociedadDest,
                    @recRFC OUTPUT, @recNombre OUTPUT, @recLugarExpide OUTPUT,
                    @recCalle OUTPUT, @recNoExterior OUTPUT, @recNoInterior OUTPUT,
                    @recColonia OUTPUT, @recMunicipio OUTPUT, @recEstado OUTPUT,
                    @recPais OUTPUT, @recCodigo OUTPUT;

                IF (LEN(@recNombre) < 4)
                BEGIN
                    SET @recNombre = @ShippingName;
                    SET @recMunicipio = @ShippingPlace;
                END

                SET @nDeliveries = @nDeliveries + 1;

                SET @envDireccion = LTRIM(RTRIM(@envCalle + ' ' + @envNoExterior + ' ' + @envNoInterior));
                SET @recDireccion = LTRIM(RTRIM(@recCalle + ' ' + @recNoExterior + ' ' + @recNoInterior));

                SET @sRem_Ctro = @envID;

                IF (@sRem_Ctro NOT IN ('MXAA', 'MXAA', 'MXAC', 'MX1J'))
                BEGIN
                    SET @sRem_Ctro = FORMAT(@PickDate, 'yyyy');
                END

                SET @sRem_Ctro = @sSociedad;

                EXEC EAI_Owner.WA_Folio_Factura
                    @Delivery, @sRem_Ctro, 'REM', @PickDate, 0, @sRemision OUTPUT;

                SET @sRem_Serie = LEFT(@sRemision, CHARINDEX('-', @sRemision) - 1);
                SET @sRem_Folio = SUBSTRING(@sRemision, CHARINDEX('-', @sRemision) + 1, 10);
                SET @dtSYSDATE = DATEADD(SECOND, -1, @dtSYSDATE);

                INSERT INTO T3.Remision_General
                (
                    Factura, PedidoSAP, Clase_Remision, Sociedad, Fecha_Factura, Fecha_Trn, Fecha_Proc_BATMD,
                    Fecha_Cancelacion, Origen, Nombre, Direccion, Colonia, Ciudad, Estado, Pais, CodigoPostal,
                    ShiptoParty, RFC, Destino, Destino_Nombre, Destino_Direccion, Destino_Colonia, Destino_Ciudad,
                    Destino_Estado, Destino_Pais, Destino_CodigoPostal, Observaciones, Remision_Serie, Remision_Folio
                )
                VALUES
                (
                    @Delivery, @PurchaseOrder, @DeliveryType, @sSociedad, @PickDate, @dtSYSDATE, NULL,
                    NULL, @envID, @envNombre, @envDireccion, @envColonia, @envMunicipio, @envEstado, @envPais, @envCodigo,
                    @sShiptoParty, @recRFC, @recID, @recNombre, @recDireccion, @recColonia, @recMunicipio,
                    @recEstado, @recPais, @recCodigo, NULL, @sRem_Serie, @sRem_Folio
                );

                OPEN ScrDetail;
                FETCH NEXT FROM ScrDetail INTO
                    @D_Delivery,@D_Linea,@D_Material,@D_Desc, @D_CantCalc,@D_UM,
                    @D_BaseUM,@D_BaseUMKS,@D_BaseName,@D_BaseCant;

                WHILE @@FETCH_STATUS = 0
                BEGIN
                    INSERT INTO T3.Remision_Detalle
                    (Factura, Num_Linea, Material, MaterialDescripcion, Cantidad, UnidadMedida)
                    VALUES
                    (@v_ID, @D_Linea, @D_Material, @D_Desc, @D_CantCalc, @D_UM);

                    FETCH NEXT FROM ScrDetail INTO
                        @D_Delivery,@D_Linea,@D_Material,@D_Desc, @D_CantCalc,@D_UM,
                        @D_BaseUM,@D_BaseUMKS,@D_BaseName,@D_BaseCant;
                END

                CLOSE ScrDetail;
                -- SIN DEALLOCATE AQUÍ

                IF (ISNULL(@nConvCases,0) > 0)
                BEGIN
                    OPEN ScrCartones;
                    FETCH NEXT FROM ScrCartones INTO
                        @Cart_Factura,@Cart_Clase,@Cart_Material, @Cart_Cantidad,
                        @Cart_UM,@Cart_UMV, @Cart_CLL,@Cart_PAQ,@Cart_CT,@Cartones;

                    WHILE @@FETCH_STATUS = 0
                    BEGIN
                        IF ((@Cartones % 1 = 0) AND (@Cartones > 0))
                        BEGIN
                            UPDATE T3.Remision_Detalle
                            SET UnidadMedida = 'CARTON',
                                Cantidad     = @Cartones
                            WHERE Factura = @Cart_Factura AND Material = @Cart_Material;
                      
                        END

                        FETCH NEXT FROM ScrCartones INTO
                            @Cart_Factura,@Cart_Clase,@Cart_Material, @Cart_Cantidad,
                            @Cart_UM,@Cart_UMV, @Cart_CLL,@Cart_PAQ,@Cart_CT,@Cartones;
                    END

                    CLOSE ScrCartones;
                  
                END
            END
           
            FETCH NEXT FROM ScrData INTO
            @Delivery,@PickDate,@PurchaseOrder,@DeliveryType,@SociedadC,@Razon_Social,
            @Plant,@ShippingPoint,@ShiptoPartyC,@ShiptoParty_New,
            @ShippingPlace,@ShippingName,@ShippingCtro,@Items,@Factura_FLAG;
        END

        CLOSE ScrData;
        DEALLOCATE ScrData;


        DEALLOCATE ScrDetail;
        DEALLOCATE ScrCartones;
        DEALLOCATE ScrCtroSociedad;

        IF (@nOutput > 0)
        BEGIN
            PRINT 'Resume';
            PRINT 'Starting   => ' + FORMAT(@dtStarting, 'HH:mm:ss');
            PRINT 'Deliveries => ' + CAST(@nDeliveries AS VARCHAR);
            PRINT 'Records    => ' + CAST(@nRecords AS VARCHAR);
            PRINT 'Ending     => ' + FORMAT(GETDATE(), 'HH:mm:ss');
        END

    END TRY
    BEGIN CATCH

        SET @sErrorCode='sql-'+CAST(ERROR_NUMBER() AS VARCHAR);
        SET @sMsg=LEFT(CAST(ERROR_NUMBER() AS VARCHAR)+'-'+ERROR_MESSAGE(),250);

        INSERT INTO EAI_OWNER.MX_EAI_MESSAGE_LOG
		(DIRECTION,ID,CREATED,MESSAGE,STATUS,QUEUE_NAME,SIEBEL_ERROR_MESSAGE,SOURCE,SIEBEL_ERROR_CODE,RETRY_COUNT,SEQUENCE,PARENT_ROW_ID)

        VALUES('Processing Delivery',@v_ID,GETDATE(),NULL,
               'Error','DELIVERY_TO_REMISION',@sMsg,'PL/SQL',
               @sErrorCode,NULL,NULL,NULL);

    END CATCH
END
GO
