USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[DELIVERY_WA_OXXO]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [T3].[DELIVERY_WA_OXXO]
(
    @pInvoice   VARCHAR(100),
    @nConvCases NUMERIC(18,0) = 1,
    @nOutput    NUMERIC(18,0) = 0
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sMsg VARCHAR(500), @v_ID VARCHAR(50), @sErrorCode VARCHAR(20), @sProcesar VARCHAR(2);

    DECLARE @nRecords NUMERIC(8,0), @nCartones NUMERIC(5,0), @nDeliveries NUMERIC(8,0);

    DECLARE @sDelivery VARCHAR(20), @dtStarting DATETIME;

    DECLARE @envID VARCHAR(100), @envRFC VARCHAR(100), @envNombre VARCHAR(100),
            @envLugarExpide VARCHAR(100), @envCalle VARCHAR(100), @envNoExterior VARCHAR(100),
            @envNoInterior VARCHAR(100), @envColonia VARCHAR(100), @envMunicipio VARCHAR(100),
            @envEstado VARCHAR(100), @envPais VARCHAR(100), @envCodigo VARCHAR(100),
            @envDireccion VARCHAR(200);

    DECLARE @sShiptoParty VARCHAR(100);

    DECLARE @recID VARCHAR(100), @recRFC VARCHAR(100), @recNombre VARCHAR(100),
            @recLugarExpide VARCHAR(100), @recCalle VARCHAR(100), @recNoExterior VARCHAR(100),
            @recNoInterior VARCHAR(100), @recColonia VARCHAR(100), @recMunicipio VARCHAR(100),
            @recEstado VARCHAR(100), @recPais VARCHAR(100), @recCodigo VARCHAR(100),
            @recDireccion VARCHAR(200);

    DECLARE @sRemision VARCHAR(50), @sRem_Serie VARCHAR(20), @sRem_Folio VARCHAR(20), @sRem_Ctro VARCHAR(20);

    DECLARE @nCantidad NUMERIC(18,2), @sUnidadMedida VARCHAR(20);
    DECLARE @sConv_Paquete VARCHAR(50), @nFactor_PAQ NUMERIC(18,2), @nCantidad_PAQ NUMERIC(18,2);

    DECLARE ScrData CURSOR LOCAL FAST_FORWARD FOR
    SELECT 
        PG.Entrega                                    AS Delivery,
        PG.Pedido                                     AS PedidoSAP,
        PG.Clase_Factura                              AS DeliveryType,
        Soc.Bukrs                                     AS Sociedad,
        Soc.Razon_Social                              AS Razon_Social,
        PG.Fecha_Factura                              AS Fecha_Factura,
        PG.Factura                                    AS Observaciones,
        GETDATE()                                     AS Fecha_Trn,
        CASE WHEN PG.Clase_Factura = 'C005' THEN PG.Ctro ELSE C.Cliente_V3 END AS Origen,
        CASE WHEN PG.Clase_Factura = 'C006' THEN PG.Ctro ELSE C.Cliente_V3 END AS Destino,
        C.Cliente_SAP                                 AS ShiptoParty,
        C.RFC                                         AS RFC,
        ISNULL(RG.Factura,'INSERT')                  AS Factura
    FROM T3.Preventa_General PG
    JOIN T3.Cliente C ON PG.Cliente_SAP = C.Cliente_SAP
    LEFT JOIN T3.Remision_General RG ON PG.Entrega = RG.Factura
    JOIN EAI.ZSDFE_Soc Soc
        ON Soc.Bukrs = CASE 
                        WHEN ISNULL(C.RFC,'XAXX010101000')='CCO8605231N4' THEN 'MX10'
                        ELSE 'MX16'
                       END
       AND Soc.Bukrs = Soc.KUNNR
    WHERE PG.Factura = @pInvoice
      AND PG.Clase_Factura = 'C005'
      AND PG.Fecha_Factura BETWEEN C.Fecha_Ini_Vig AND C.Fecha_Fin_Vig
      AND T3.FN_EVAL_REMISION(C.RFC,PG.Ctro,PG.Cliente_SAP)='YES';

    DECLARE ScrDetail CURSOR LOCAL FAST_FORWARD FOR
    SELECT
        PG.Entrega                       AS Factura,
        PD.Num_Linea                     AS Num_Linea,
        PD.Material                      AS Material,
        Mat.Nombre_Material              AS MaterialDescripcion,
        PD.Cantidad_Vta                  AS Cantidad,
        ISNULL(PD.Valor_Subt,0)          AS Valor_Subt,
        ISNULL(PD.Valor_IVA,0)           AS Valor_IVA,
        Mat.Unidad_Med_Vta               AS UnidadMedida,
        Mat.Unidad_Med_Vta               AS UMV,
        Mat.Cig_x_CLL                    AS Cig_x_CLL,
        Mat.Cig_x_PAQ                    AS Cig_x_PAQ,
        ISNULL(Mat.Cig_x_CT,0)           AS Cig_x_CT,
        CASE
            WHEN Mat.Unidad_Med_Vta='CAJ' AND Mat.Cig_x_CLL>0 AND Mat.Cig_x_CT>0
                THEN PD.Cantidad_Vta*Mat.Cig_x_CLL/Mat.Cig_x_CT
            WHEN Mat.Unidad_Med_Vta='PAQ' AND Mat.Cig_x_PAQ>0 AND Mat.Cig_x_CT>0
                THEN PD.Cantidad_Vta*Mat.Cig_x_PAQ/Mat.Cig_x_CT
            ELSE 0
        END                             AS Cartones
    FROM T3.Preventa_General PG
    JOIN T3.Preventa_Detalle PD ON PG.Factura = PD.Factura
    LEFT JOIN T3.Material Mat ON PD.Material = Mat.Material
    WHERE PG.Factura = @pInvoice
    ORDER BY PD.Num_Linea, PD.Material;

    DECLARE 
        @Delivery VARCHAR(50), @PedidoSAP VARCHAR(50), @DeliveryType VARCHAR(20),
        @Sociedad VARCHAR(10), @Razon_Social VARCHAR(200),
        @Fecha_Factura DATETIME, @Observaciones VARCHAR(200),
        @Fecha_Trn DATETIME, @Origen VARCHAR(20), @Destino VARCHAR(20),
        @ShiptoPartyC VARCHAR(100), @RFC VARCHAR(50), @Factura_FLAG VARCHAR(20);

    DECLARE
        @D_Factura VARCHAR(50), @D_Linea INT, @D_Material VARCHAR(50),
        @D_Desc VARCHAR(200), @D_Cant NUMERIC(18,2),
        @D_Subt NUMERIC(18,2), @D_IVA NUMERIC(18,2),
        @D_UM VARCHAR(20), @D_UMV VARCHAR(20),
        @D_CLL NUMERIC(18,2), @D_PAQ NUMERIC(18,2), @D_CT NUMERIC(18,2),
        @D_Cartones NUMERIC(18,2);

    BEGIN TRY

        SET @nRecords = 0;
        SET @nDeliveries = 0;
        SET @sDelivery = 'INIT';
        SET @dtStarting = GETDATE();
        SET @nCartones = @nConvCases;

        OPEN ScrData;

        FETCH NEXT FROM ScrData INTO
        @Delivery,@PedidoSAP,@DeliveryType,@Sociedad,@Razon_Social,
        @Fecha_Factura,@Observaciones,@Fecha_Trn,@Origen,@Destino,
        @ShiptoPartyC,@RFC,@Factura_FLAG;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @v_ID = @Delivery;

            SET @sShiptoParty = @Destino;
            SET @sShiptoParty = @ShiptoPartyC;

            SET @envID=''; SET @envRFC=''; SET @envNombre='';
            SET @envCalle=''; SET @envNoExterior=''; SET @envNoInterior='';
            SET @envColonia=''; SET @envMunicipio=''; SET @envEstado='';
            SET @envPais=''; SET @envCodigo='';

            SET @recID=''; SET @recRFC=''; SET @recNombre='';
            SET @recCalle=''; SET @recNoExterior=''; SET @recNoInterior='';
            SET @recColonia=''; SET @recMunicipio=''; SET @recEstado='';
            SET @recPais=''; SET @recCodigo='';

            IF (@Factura_FLAG='INSERT')
            BEGIN
                SET @envID=@Origen;

                EXEC T3.GET_REMISION_INFO
                @envID,@Sociedad,
                @envRFC OUTPUT,@envNombre OUTPUT,@envLugarExpide OUTPUT,
                @envCalle OUTPUT,@envNoExterior OUTPUT,@envNoInterior OUTPUT,
                @envColonia OUTPUT,@envMunicipio OUTPUT,@envEstado OUTPUT,
                @envPais OUTPUT,@envCodigo OUTPUT;

                SET @envNombre = @Razon_Social;

                SET @recID=@Destino;

                EXEC T3.GET_REMISION_INFO
                @recID,@Sociedad,
                @recRFC OUTPUT,@recNombre OUTPUT,@recLugarExpide OUTPUT,
                @recCalle OUTPUT,@recNoExterior OUTPUT,@recNoInterior OUTPUT,
                @recColonia OUTPUT,@recMunicipio OUTPUT,@recEstado OUTPUT,
                @recPais OUTPUT,@recCodigo OUTPUT;

                SET @nDeliveries=@nDeliveries+1;

                SET @envDireccion = LTRIM(RTRIM(@envCalle+' '+@envNoExterior+' '+@envNoInterior));
                SET @recDireccion = LTRIM(RTRIM(@recCalle+' '+@recNoExterior+' '+@recNoInterior));
				
				SET @sRem_Ctro = @envID;

				IF (@sRem_Ctro NOT IN ('MXAA','MXAA','MXAC','MX1J'))
				BEGIN
					SET @sRem_Ctro = FORMAT(@Fecha_Factura,'yyyy');
				END;

				SET @sRem_Ctro = @Sociedad;

                EXEC EAI_Owner.WA_Folio_Factura
                    @Delivery,@sRem_Ctro,'INVT',@Fecha_Factura,0,@sRemision OUTPUT;

                SET @sRem_Serie = LEFT(@sRemision,CHARINDEX('-',@sRemision)-1);
                SET @sRem_Folio = SUBSTRING(@sRemision,CHARINDEX('-',@sRemision)+1,10);

                IF (@RFC <> 'CCO8605231N4')
                    SET @nCartones = 0;

                SELECT @sConv_Paquete =
                EAI_Owner.getConv('Conv Paquete Remision',@RFC);

                INSERT INTO T3.Remision_General
                VALUES
                (
                    @Delivery,@PedidoSAP,@DeliveryType,@Sociedad,
                    @Fecha_Factura,GETDATE(),NULL,NULL,
                    @envID,@envNombre,@envDireccion,@envColonia,
                    @envMunicipio,@envEstado,@envPais,@envCodigo,
                    @sShiptoParty,@RFC,
                    @recID,@recNombre,@recDireccion,@recColonia,
                    @recMunicipio,@recEstado,@recPais,@recCodigo,
                    @Observaciones,@sRem_Serie,@sRem_Folio
                );

                OPEN ScrDetail;

                FETCH NEXT FROM ScrDetail INTO
                @D_Factura,@D_Linea,@D_Material,@D_Desc,@D_Cant,
                @D_Subt,@D_IVA,@D_UM,@D_UMV,@D_CLL,@D_PAQ,@D_CT,@D_Cartones;

                WHILE @@FETCH_STATUS=0
                BEGIN
                    SET @nRecords=@nRecords+1;
                    SET @nCantidad=@D_Cant;
                    SET @sUnidadMedida=@D_UM;

					-- se simplificaron los if anidados

                    IF (ISNULL(@nCartones,0)>0 AND @D_Cartones>0 AND @D_Cartones=FLOOR(@D_Cartones))
                    BEGIN
                        SET @nCantidad=@D_Cartones;
                        SET @sUnidadMedida='CARTON';
                    END

                    IF (@sUnidadMedida<>'CARTON' AND @sConv_Paquete='SI')
                    BEGIN
                        IF (@D_PAQ>0 AND @D_CLL>0)
                        BEGIN
                            SET @nFactor_PAQ=@D_PAQ/@D_CLL;
                            SET @nCantidad_PAQ=@nCantidad/@nFactor_PAQ;

                            IF (@nCantidad_PAQ % 1 = 0)
                            BEGIN
                                SET @nCantidad=@nCantidad_PAQ;
                                SET @sUnidadMedida='PAQ';
                            END
                        END
                    END

                    INSERT INTO T3.Remision_Detalle
                    VALUES
                    (@v_ID,@D_Linea,@D_Material,@D_Desc,@nCantidad,@sUnidadMedida,@D_Subt,@D_IVA);

                    FETCH NEXT FROM ScrDetail INTO
                    @D_Factura,@D_Linea,@D_Material,@D_Desc,@D_Cant,
                    @D_Subt,@D_IVA,@D_UM,@D_UMV,@D_CLL,@D_PAQ,@D_CT,@D_Cartones;
                END

                CLOSE ScrDetail;
                DEALLOCATE ScrDetail;
            END

			INSERT INTO T3.Remision_Detalle
			(
				Factura,
				Num_Linea,
				Material,
				MaterialDescripcion,
				Cantidad,
				UnidadMedida,
				Valor_Subt,
				Valor_IVA
			)
			SELECT 
				PG.Entrega                                AS Factura,
				MAX(PD.Num_Linea + 10)                   AS Num_Linea,
				SKU.Material                             AS Material,
				SKU.Nombre_Material                      AS MaterialDescripcion,
				1                                        AS Cantidad,
				SKU.Unidad_Med_Vta                       AS UnidadMedida,
				SUM(ISNULL(PD.Envio_Subt,0))            AS Valor_Subt,
				SUM(ISNULL(PD.Envio_IVA,0))             AS Valor_IVA
			FROM T3.Preventa_General PG
			JOIN T3.Preventa_Detalle PD
				ON PG.Factura = PD.Factura
			CROSS JOIN T3.Material SKU
			WHERE PG.Factura = @pInvoice
			  AND SKU.Material = 88000117
			GROUP BY 
				PG.Entrega,
				SKU.Material,
				SKU.Nombre_Material,
				SKU.Unidad_Med_Vta
			HAVING SUM(ISNULL(PD.Envio_Subt,0)) > 0;


            FETCH NEXT FROM ScrData INTO
            @Delivery,@PedidoSAP,@DeliveryType,@Sociedad,@Razon_Social,
            @Fecha_Factura,@Observaciones,@Fecha_Trn,@Origen,@Destino,
            @ShiptoPartyC,@RFC,@Factura_FLAG;
        END

        CLOSE ScrData;
        DEALLOCATE ScrData;

        IF (@nOutput>0)
        BEGIN
            PRINT 'Resume';
            PRINT 'Starting   => ' + FORMAT(@dtStarting,'HH:mm:ss');
            PRINT 'Deliveries => ' + CAST(@nDeliveries AS VARCHAR);
            PRINT 'Records    => ' + CAST(@nRecords AS VARCHAR);
            PRINT 'Ending     => ' + FORMAT(GETDATE(),'HH:mm:ss');
        END

    END TRY
    BEGIN CATCH
        SET @sErrorCode = 'ORA-' + CAST(ERROR_NUMBER() AS VARCHAR);
        SET @sMsg = LEFT(CAST(ERROR_NUMBER() AS VARCHAR)+'-'+ERROR_MESSAGE(),250);

        INSERT INTO EAI_OWNER.MX_EAI_MESSAGE_LOG
		(DIRECTION,ID,CREATED,MESSAGE,STATUS,QUEUE_NAME,SIEBEL_ERROR_MESSAGE,SOURCE,SIEBEL_ERROR_CODE,RETRY_COUNT,SEQUENCE,PARENT_ROW_ID)

        VALUES
        ('Processing Delivery',@v_ID,GETDATE(),NULL,
         'Error','DELIVERY_WA_OXXO',@sMsg,'PL/SQL',
         @sErrorCode,NULL,NULL,NULL);

    END CATCH
END
GO
