USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[DELIVERY_IDOC_TO_REMISION]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [T3].[DELIVERY_IDOC_TO_REMISION]
(
    @sDocument   VARCHAR(100),
    @nConvCases  NUMERIC(18,0) = 0,
    @nOutput     NUMERIC(18,0) = 0
)
AS
BEGIN TRY
    SET NOCOUNT ON;

    DECLARE @sMsg VARCHAR(500);
    DECLARE @v_ID VARCHAR(50);
    DECLARE @sErrorCode VARCHAR(20);
    DECLARE @sProcesar VARCHAR(2);

    DECLARE @nRecords NUMERIC(8,0);
    DECLARE @nDeliveries NUMERIC(8,0);
    DECLARE @sDelivery VARCHAR(20);
    DECLARE @dtStarting DATETIME;
    DECLARE @dtSYSDATE DATETIME;
    DECLARE @sCtroSoc VARCHAR(10);
    DECLARE @sSociedad VARCHAR(10);
    DECLARE @sSociedadDest VARCHAR(10);

    DECLARE @envID VARCHAR(100);
    DECLARE @envRFC VARCHAR(100);
    DECLARE @envNombre VARCHAR(100);
    DECLARE @envLugarExpide VARCHAR(100);
    DECLARE @envCalle VARCHAR(100);
    DECLARE @envNoExterior VARCHAR(100);
    DECLARE @envNoInterior VARCHAR(100);
    DECLARE @envColonia VARCHAR(100);
    DECLARE @envMunicipio VARCHAR(100);
    DECLARE @envEstado VARCHAR(100);
    DECLARE @envPais VARCHAR(100);
    DECLARE @envCodigo VARCHAR(100);
    DECLARE @envDireccion VARCHAR(200);

    DECLARE @sShiptoParty VARCHAR(100);

    DECLARE @recID VARCHAR(100);
    DECLARE @recRFC VARCHAR(100);
    DECLARE @recNombre VARCHAR(100);
    DECLARE @recLugarExpide VARCHAR(100);
    DECLARE @recCalle VARCHAR(100);
    DECLARE @recNoExterior VARCHAR(100);
    DECLARE @recNoInterior VARCHAR(100);
    DECLARE @recColonia VARCHAR(100);
    DECLARE @recMunicipio VARCHAR(100);
    DECLARE @recEstado VARCHAR(100);
    DECLARE @recPais VARCHAR(100);
    DECLARE @recCodigo VARCHAR(100);
    DECLARE @recDireccion VARCHAR(200);

    DECLARE @sRemision VARCHAR(50);
    DECLARE @sRem_Serie VARCHAR(20);
    DECLARE @sRem_Folio VARCHAR(20);
    DECLARE @sRem_Ctro VARCHAR(20);

    DECLARE @nBase_Cantidad NUMERIC(18,2);

    DECLARE ScrData CURSOR LOCAL FAST_FORWARD FOR
    SELECT 
        Info.Factura,
        Info.PedidoSAP,
        Info.Clase_Remision,
        Info.Sociedad,
        Soc.Razon_Social,
        Info.Fecha_Factura,
        Info.Fecha_Trn,
        Info.Origen,
        Info.Destino,
        ISNULL(RG.Factura,'INSERT') AS Operacion,
        Info.Dest_Nombre,
        Info.Dest_Direccion,
        Info.Dest_Colonia,
        Info.Dest_Ciudad,
        Info.Dest_Estado,
        Info.Dest_Pais,
        Info.Dest_CP,
        Info.ShiptoParty,
        Info.Observaciones,
        CASE
            WHEN OBD.Cliente_SAP IS NOT NULL THEN NULL
            ELSE A51.Cliente_SAP
        END AS Cliente_A51
    FROM (
        SELECT 
            Doc.FacturaSAP AS Factura ,
            Doc.PedidoSAP,
            'ZNL' AS Clase_Remision,
            ISNULL(RCS.Sociedad,'MX16') AS Sociedad,
            CAST(SUBSTRING(Doc.DocumentDate,1,8) AS DATETIME) AS Fecha_Factura,
            GETDATE() AS Fecha_Trn,
            Doc.ShippingPoint AS Origen,
            CASE
                WHEN SUBSTRING(Doc.Ship_to_SAP,1,6) = 'PC-00-' 
                    THEN SUBSTRING(Doc.Ship_to_SAP,7,4)
                ELSE Doc.Ship_to_SAP
            END AS Destino,
            ISNULL(RCS.Descripcion,Doc.NombreCliente) AS Dest_Nombre,
            Doc.Direccion as Dest_Direccion,
			Doc.Colonia AS Dest_Colonia,
			Doc.Ciudad AS Dest_Ciudad,
			Doc.Estado AS Dest_Estado,
			Doc.Pais AS Dest_Pais,
            Doc.CodigoPostal AS Dest_CP,
            CASE
                WHEN Doc.MetodoPago = 'Van Replenishment' THEN Doc.Cust_to_SAP
                ELSE Doc.Ship_to_SAP
            END AS ShiptoParty,
            CASE
                WHEN Doc.MetodoPago = 'Van Replenishment' THEN Doc.Order_Num
                ELSE ''
            END AS Observaciones
        FROM EAI_Owner.tmp_Document_Header Doc
        LEFT JOIN T3.Remision_Ctro_Sociedad RCS
            ON Doc.ShippingPoint = RCS.Ctro
        WHERE Doc.ReferenceID = @sDocument
    ) Info
    LEFT JOIN T3.Remision_General RG ON Info.Factura = RG.Factura
    LEFT JOIN (
        SELECT Source AS Cliente_SAP
        FROM EAI_OWNER.MX_Hashtable
        WHERE Type='PDV A51'
    ) A51 ON Info.Destino = A51.Cliente_SAP
    LEFT JOIN (
        SELECT Source AS Cliente_SAP
        FROM EAI_OWNER.MX_Hashtable
        WHERE Type='Genera Remision'
          AND Target IN ('OBD','Both')
    ) OBD ON Info.Destino = OBD.Cliente_SAP
    JOIN EAI.ZSDFE_Soc Soc
        ON Info.Sociedad = Soc.BUKRS
       AND Info.Sociedad = Soc.KUNNR;

   DECLARE ScrDetail CURSOR LOCAL FAST_FORWARD FOR
	SELECT 
		Info.Factura,
		Info.Num_Linea,
		Info.Material,
		ISNULL(Info.SKU_Name, Info.MaterialDescripcion) AS MaterialDescripcion,
		ISNULL(Info.SKU_UOM, Info.Conv_UnitMeasure) AS UnidadMedida,
		CASE
			WHEN (Info.UnidadMedida = 'TH' AND Info.SKU_Pack_Size > 0) THEN
				ROUND(Info.Cantidad * 1000.0 / Info.SKU_Pack_Size, 0)
			WHEN (Info.UnidadMedida = 'EA' AND Info.SKU_Pack_Size > 0) THEN
				ROUND(Info.Cantidad * 1.0 / Info.SKU_Pack_Size, 0)
			WHEN (Info.UnidadMedida = 'PC' AND Info.SKU_Pack_Size > 0) THEN
				ROUND(Info.Cantidad * 1.0 / Info.SKU_Pack_Size, 0)
			ELSE
				Info.Cantidad
		END AS Cantidad,
		Info.UnidadMedida        AS Base_Unidad_,
		Info.Conv_UnitMeasure    AS Base_Unidad_UMKS,
		Info.MaterialDescripcion AS Base_MaterialName,
		Info.Cantidad            AS Base_Cantidad
	FROM (
		SELECT 
			Delv.ReferenceID AS Factura,
			Delv.ItemID      AS Num_Linea,
			Delv.Material,
			ISNULL(SKU.Nombre_Material, Delv.MaterialDescripcion) AS MaterialDescripcion,
			ISNULL(Delv.Cantidad, 0) AS Cantidad,
			Delv.UnidadMedida,
			dbo.getConv('ECC_V3 UOM', Delv.UnidadMedida) AS Conv_UnitMeasure,
			SKU.Nombre_Material AS SKU_Name,
			SKU.Unidad_Med_Vta  AS SKU_UOM,
			ISNULL(SKU.Cig_x_CLL, 0) AS SKU_Pack_Size
		FROM EAI_Owner.tmp_Document_Detail Delv
		LEFT JOIN T3.Material SKU
			ON Delv.Material = SKU.Material
		WHERE Delv.ReferenceID = @sDocument
		  AND ISNULL(Delv.Cantidad,0) > 0
	) Info
	ORDER BY Info.Factura, Info.Num_Linea;

    DECLARE ScrCartones CURSOR LOCAL FAST_FORWARD FOR
    SELECT 
        RG.Factura,-- SE REEMPLAZO EL ROWID
        RG.Clase_Remision,
        RD.Material,
        RD.Cantidad,
        RD.UnidadMedida,
        Mat.Unidad_Med_Vta,
        Mat.Cig_x_CLL,
        Mat.Cig_x_PAQ,
        ISNULL(Mat.Cig_x_CT,0),
        CASE
            WHEN RD.UnidadMedida='CAJ' AND ISNULL(Mat.Cig_x_CT,0)>0
                THEN RD.Cantidad * Mat.Cig_x_CLL / Mat.Cig_x_CT
            WHEN RD.UnidadMedida='PAQ' AND ISNULL(Mat.Cig_x_CT,0)>0
                THEN RD.Cantidad * Mat.Cig_x_PAQ / Mat.Cig_x_CT
            ELSE 0
        END
    FROM T3.Remision_General RG
    JOIN T3.Remision_Detalle RD ON RG.Factura = RD.Factura
    JOIN T3.Material Mat ON RD.Material = Mat.Material
    WHERE RG.Factura = @v_ID;

    DECLARE ScrCtroSociedad CURSOR LOCAL FAST_FORWARD FOR
    SELECT Sociedad
    FROM T3.REMISION_CTRO_SOCIEDAD
    WHERE Ctro = @sCtroSoc;


    SET @nRecords=0;
    SET @nDeliveries=0;
    SET @sDelivery='INIT';
    SET @dtStarting=GETDATE();
    SET @dtSYSDATE=GETDATE();
    SET @nBase_Cantidad=0;

	
DECLARE 
    @Factura           VARCHAR(50),
    @PedidoSAP         VARCHAR(50),
    @Clase_Remision    VARCHAR(20),
    @SociedadC         VARCHAR(10),
    @Razon_Social      VARCHAR(200),
    @Fecha_Factura     DATETIME,
    @Fecha_Trn         DATETIME,
    @Origen            VARCHAR(20),
    @Destino           VARCHAR(20),
    @Operacion         VARCHAR(20),
    @Dest_Nombre       VARCHAR(200),
    @Dest_Direccion    VARCHAR(200),
    @Dest_Colonia      VARCHAR(100),
    @Dest_Ciudad       VARCHAR(100),
    @Dest_Estado       VARCHAR(100),
    @Dest_Pais         VARCHAR(100),
    @Dest_CP           VARCHAR(20),
    @ShiptoPartyC      VARCHAR(100),
    @Observaciones     VARCHAR(200),
    @Cliente_A51       VARCHAR(100);

OPEN ScrData;

FETCH NEXT FROM ScrData INTO
    @Factura, @PedidoSAP, @Clase_Remision, @SociedadC, @Razon_Social,
    @Fecha_Factura, @Fecha_Trn, @Origen, @Destino, @Operacion,
    @Dest_Nombre, @Dest_Direccion, @Dest_Colonia, @Dest_Ciudad,
    @Dest_Estado, @Dest_Pais, @Dest_CP, @ShiptoPartyC,
    @Observaciones, @Cliente_A51;

WHILE @@FETCH_STATUS = 0
BEGIN

    IF (@nOutput > 0)
        PRINT 'Delivery -> ' + ISNULL(@Factura,'');

    SET @v_ID = @Factura;
    SET @sCtroSoc = @Origen;

    SET @sShiptoParty = @Destino;
    SET @sShiptoParty = @ShiptoPartyC;

    IF (@ShiptoPartyC IS NULL AND LEFT(@Destino,2) = 'MX')
        SET @sShiptoParty = @Destino;

    SET @sSociedad = @SociedadC;

    OPEN ScrCtroSociedad;

    DECLARE @SocSociedad VARCHAR(10);

    FETCH NEXT FROM ScrCtroSociedad INTO @SocSociedad;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        SET @sSociedad = @SocSociedad;

        FETCH NEXT FROM ScrCtroSociedad INTO @SocSociedad;
    END

    CLOSE ScrCtroSociedad;
    DEALLOCATE ScrCtroSociedad;

    SET @nRecords = @nRecords + 1;

    SET @envID='';
    SET @envRFC='';
    SET @envNombre='';
    SET @envLugarExpide='';
    SET @envCalle='';
    SET @envNoExterior='';
    SET @envNoInterior='';
    SET @envColonia='';
    SET @envMunicipio='';
    SET @envEstado='';
    SET @envPais='';
    SET @envCodigo='';

    SET @recID='';
    SET @recRFC='';
    SET @recNombre='';
    SET @recLugarExpide='';
    SET @recCalle='';
    SET @recNoExterior='';
    SET @recNoInterior='';
    SET @recColonia='';
    SET @recMunicipio='';
    SET @recEstado='';
    SET @recPais='';
    SET @recCodigo='';

    IF (@Operacion = 'INSERT' AND @Cliente_A51 IS NULL)
    BEGIN
        SET @envID = @Origen;

        EXEC T3.GET_REMISION_INFO
            @envID, @sSociedad,
            @envRFC OUTPUT, @envNombre OUTPUT, @envLugarExpide OUTPUT,
            @envCalle OUTPUT, @envNoExterior OUTPUT, @envNoInterior OUTPUT,
            @envColonia OUTPUT, @envMunicipio OUTPUT, @envEstado OUTPUT,
            @envPais OUTPUT, @envCodigo OUTPUT;

        IF (ISNULL(@Origen,'0000') <> '0000')
        BEGIN
            SET @recID = @Origen;
            SET @recID = @Destino;
            SET @sSociedadDest = 'MX16';
            SET @sCtroSoc = @recID;

            OPEN ScrCtroSociedad;
            FETCH NEXT FROM ScrCtroSociedad INTO @SocSociedad;

            WHILE @@FETCH_STATUS = 0
            BEGIN
                SET @sSociedadDest = @SocSociedad;
                FETCH NEXT FROM ScrCtroSociedad INTO @SocSociedad;
            END

            CLOSE ScrCtroSociedad;
            DEALLOCATE ScrCtroSociedad;
        END
        ELSE
        BEGIN
            SET @recID = @Origen;
            SET @recID = @Destino;
			SET @sSociedadDest = @sSociedadDest; --NO TIENE RAZON DE SER
        END

        EXEC T3.GET_REMISION_INFO
            @recID, @sSociedadDest,
            @recRFC OUTPUT, @recNombre OUTPUT, @recLugarExpide OUTPUT,
            @recCalle OUTPUT, @recNoExterior OUTPUT, @recNoInterior OUTPUT,
            @recColonia OUTPUT, @recMunicipio OUTPUT, @recEstado OUTPUT,
            @recPais OUTPUT, @recCodigo OUTPUT;

        IF (LEN(@recNombre) < 4)
        BEGIN
            SET @recNombre = @Dest_Nombre;
            SET @recCalle = @Dest_Direccion;
            SET @recColonia = @Dest_Colonia;
            SET @recMunicipio = @Dest_Ciudad;
            SET @recEstado = @Dest_Estado;
            SET @recPais = @Dest_Pais;
            SET @recCodigo = @Dest_CP;
        END

        SET @nDeliveries = @nDeliveries + 1;

        SET @envDireccion = LTRIM(RTRIM(@envCalle+' '+@envNoExterior+' '+@envNoInterior));
        SET @recDireccion = LTRIM(RTRIM(@recCalle+' '+@recNoExterior+' '+@recNoInterior));

        SET @sRem_Ctro = @envID;

        IF (@sRem_Ctro NOT IN ('MXAA','MXAA','MXAC'))
            SET @sRem_Ctro = FORMAT(@Fecha_Factura,'yyyy');

        IF (@sSociedad = 'MX10' AND @recRFC NOT IN ('BAT910607F43','CCO8605231N4'))
            SET @sSociedad = 'MX16';

        SET @sRem_Ctro = @sSociedad;

        EXEC EAI_Owner.WA_Folio_Factura
            @Factura, @sRem_Ctro, 'REM', @Fecha_Factura, 0, @sRemision OUTPUT;

        SET @sRem_Serie = LEFT(@sRemision, CHARINDEX('-',@sRemision)-1);
        SET @sRem_Folio = SUBSTRING(@sRemision, CHARINDEX('-',@sRemision)+1,10);

        SET @dtSYSDATE = DATEADD(SECOND,-1,@dtSYSDATE);

        IF (@nOutput > 0)
            PRINT 'Before INSERT -> ' + @Factura;

        INSERT INTO T3.Remision_General
        (Factura,PedidoSAP,Clase_Remision,Sociedad,
         Fecha_Factura,Fecha_Trn,Fecha_Proc_BATMD,Fecha_Cancelacion,
         Origen,Nombre,Direccion,Colonia,Ciudad,Estado,Pais,CodigoPostal,
         ShiptoParty,RFC,
         Destino,Destino_Nombre,Destino_Direccion,Destino_Colonia,
         Destino_Ciudad,Destino_Estado,Destino_Pais,Destino_CodigoPostal,
         Observaciones,Remision_Serie,Remision_Folio)
        VALUES
        (@Factura,@PedidoSAP,@Clase_Remision,@sSociedad,
         @Fecha_Factura,GETDATE(),NULL,NULL,
         @envID,@envNombre,@envDireccion,@envColonia,
         @envMunicipio,@envEstado,@envPais,@envCodigo,
         @sShiptoParty,@recRFC,
         @recID,@recNombre,@recDireccion,@recColonia,
         @recMunicipio,@recEstado,@recPais,@recCodigo,
         @Observaciones,@sRem_Serie,@sRem_Folio);

		 
	DECLARE
		@D_Factura     VARCHAR(100),
		@D_Linea       NUMERIC(18,0),
		@D_Material    VARCHAR(100),
		@D_Desc        VARCHAR(200),
		@D_CantCalc    NUMERIC(22,7),
		@D_UM          VARCHAR(20),
		@D_BaseUM      VARCHAR(20),
		@D_BaseUMKS    VARCHAR(20),
		@D_BaseName    VARCHAR(200),
		@D_BaseCant    NUMERIC(22,7);

        OPEN ScrDetail;

        FETCH NEXT FROM ScrDetail INTO
        @D_Factura,@D_Linea,@D_Material,@D_Desc,
        @D_CantCalc,@D_UM,
        @D_BaseUM,@D_BaseUMKS,@D_BaseName,@D_BaseCant;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @nBase_Cantidad = @nBase_Cantidad + @D_BaseCant;

            INSERT INTO T3.Remision_Detalle
            (Factura,Num_Linea,Material,MaterialDescripcion,Cantidad,UnidadMedida)
            VALUES
            (@v_ID,@D_Linea,@D_Material,@D_Desc,@D_CantCalc,@D_BaseUM);

            FETCH NEXT FROM ScrDetail INTO
            @D_Factura,@D_Linea,@D_Material,@D_Desc,
            @D_CantCalc,@D_UM,
            @D_BaseUM,@D_BaseUMKS,@D_BaseName,@D_BaseCant;
        END

        CLOSE ScrDetail;
        DEALLOCATE ScrDetail;

        IF (ISNULL(@nConvCases,0) > 0)
        BEGIN

			
		DECLARE
		 
			@Cart_Factura   VARCHAR(50),--en reemplazo del rowid
			@Cart_Clase     VARCHAR(20),
			@Cart_Material  VARCHAR(100),
			@Cart_Cantidad  NUMERIC(22,7),
			@Cart_UM        VARCHAR(20),
			@Cart_UMV       VARCHAR(20),
			@Cart_CLL       NUMERIC(22,7),
			@Cart_PAQ       NUMERIC(22,7),
			@Cart_CT        NUMERIC(22,7),
			@Cartones       NUMERIC(22,7);

            OPEN ScrCartones;

            FETCH NEXT FROM ScrCartones INTO
               @Cart_Factura,@Cart_Clase,@Cart_Material,
                @Cart_Cantidad,@Cart_UM,@Cart_UMV,
                @Cart_CLL,@Cart_PAQ,@Cart_CT,@Cartones;

            WHILE @@FETCH_STATUS = 0
            BEGIN
                IF ((@Cartones % 1 = 0) AND (@Cartones > 0))
                BEGIN
                    UPDATE T3.Remision_Detalle
                       SET UnidadMedida = 'CARTON',
                           Cantidad = @Cartones
                     WHERE fACTURA = @Cart_Factura;
                END

                FETCH NEXT FROM ScrCartones INTO
                    @Cart_Factura,@Cart_Clase,@Cart_Material,
                    @Cart_Cantidad,@Cart_UM,@Cart_UMV,
                    @Cart_CLL,@Cart_PAQ,@Cart_CT,@Cartones;
            END

            CLOSE ScrCartones;
            DEALLOCATE ScrCartones;
        END

        IF (@nBase_Cantidad = 0)
        BEGIN
            DELETE FROM T3.Remision_Detalle WHERE Factura = @v_ID;
            DELETE FROM T3.Remision_General WHERE Factura = @v_ID;
        END
    END
    ELSE
    BEGIN
        IF (@nOutput > 0)
        BEGIN
            PRINT 'Origen  : ' + ISNULL(@Origen,'');
            PRINT 'Destino : ' + ISNULL(@Destino,'');
            PRINT 'Soc     : ' + ISNULL(@SociedadC,'');

            EXEC T3.GET_REMISION_INFO
                @Destino,@SociedadC,
                @recRFC OUTPUT,@recNombre OUTPUT,@recLugarExpide OUTPUT,
                @recCalle OUTPUT,@recNoExterior OUTPUT,@recNoInterior OUTPUT,
                @recColonia OUTPUT,@recMunicipio OUTPUT,
                @recEstado OUTPUT,@recPais OUTPUT,@recCodigo OUTPUT;

            PRINT 'RFC     : ' + ISNULL(@recRFC,'');
            PRINT 'Nombre  : ' + ISNULL(@recNombre,'');
        END
    END

    IF (@nOutput > 0)
        PRINT 'Resume Ok';

    FETCH NEXT FROM ScrData INTO
        @Factura, @PedidoSAP, @Clase_Remision, @SociedadC, @Razon_Social,
        @Fecha_Factura, @Fecha_Trn, @Origen, @Destino, @Operacion,
        @Dest_Nombre, @Dest_Direccion, @Dest_Colonia, @Dest_Ciudad,
        @Dest_Estado, @Dest_Pais, @Dest_CP, @ShiptoPartyC,
        @Observaciones, @Cliente_A51;
END

CLOSE ScrData;
DEALLOCATE ScrData;

END TRY
BEGIN CATCH

    SET @sErrorCode = 'ORA-' + CAST(ERROR_NUMBER() AS VARCHAR);

    SET @sMsg = LEFT(
        CAST(ERROR_NUMBER() AS VARCHAR) + '-' + ERROR_MESSAGE(),
        250
    );

    INSERT INTO EAI_OWNER.MX_EAI_MESSAGE_LOG
    (DIRECTION,REFERENCE,CREATED,MESSAGE,
     STATUS,QUEUE_NAME,SIEBEL_ERROR_MESSAGE,SOURCE,
     SIEBEL_ERROR_CODE,RETRY_COUNT,SEQUENCE,PARENT_ROW_ID)
    VALUES
    ('Processing Delivery',@v_ID,GETDATE(),NULL,
     'Error','DELIVERY_TO_REMISION',@sMsg,'PL/SQL',
     @sErrorCode,NULL,NULL,NULL);

    PRINT 'Error -> ' + @sMsg;


END CATCH



/*
  GRANT EXECUTE ON "T3"."DELIVERY_IDOC_TO_REMISION" TO "EAI_OWNER";
  GRANT EXECUTE ON "T3"."DELIVERY_IDOC_TO_REMISION" TO "INTEGRATION_ROLE";
  GRANT EXECUTE ON "T3"."DELIVERY_IDOC_TO_REMISION" TO "SYSADMIN_ROLE";
  */
GO
