USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[DELIVERY_CLEAR_Migrado]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [T3].[DELIVERY_CLEAR_Migrado]
    @nOutput NUMERIC(18,0) = 0
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sMsg        VARCHAR(500);
    DECLARE @v_ID        VARCHAR(50);
    DECLARE @sErrorCode  VARCHAR(20);
    DECLARE @sProcesar   VARCHAR(2);
    DECLARE @nRecords    NUMERIC(10,0);
    DECLARE @dtStarting  DATETIME;


    DECLARE ScrData CURSOR LOCAL FAST_FORWARD FOR
    SELECT Factura, SUM(Registros) AS Registros
    FROM (
        SELECT RG.Factura, 0 AS Registros
        FROM T3.Remision_General RG
        WHERE RG.Fecha_trn > DATEADD(DAY, -1, GETDATE())
          AND RG.Factura NOT LIKE 'CPT%'

        UNION ALL

        SELECT RD.Factura, 1 AS Registros
        FROM T3.Remision_General RG, T3.Remision_Detalle RD
        WHERE RG.Fecha_trn > DATEADD(DAY, -1, GETDATE())
          AND RG.Factura NOT LIKE 'CPT%'
          AND RG.Factura = RD.Factura
    ) Info
    GROUP BY Factura;


    DECLARE ScrPriceList CURSOR LOCAL FAST_FORWARD FOR
    SELECT RG.Factura
    FROM T3.Remision_General RG
    WHERE RG.Fecha_Trn > DATEADD(DAY, -1, GETDATE())
      AND RG.Fecha_Proc_BATMD IS NULL
      AND RG.Factura NOT LIKE 'CPT%'
      AND (
           RG.Origen IN ('MXB1','MXB2','MXB3','MXB4','MXB5','MXB6','MXB7','MXB8','MXB9','MXC1','MXC2','MXC3')
        OR RG.Destino IN ('MXB1','MXB2','MXB3','MXB4','MXB5','MXB6','MXB7','MXB8','MXB9','MXC1','MXC2','MXC3')
      );

    --------------------------------------------------
    -- Variables cursor
    --------------------------------------------------

    DECLARE @Factura VARCHAR(100);
    DECLARE @Registros NUMERIC(10,0);

    BEGIN TRY

        SET @nRecords = 0;
        SET @dtStarting = GETDATE();



        OPEN ScrData;

        FETCH NEXT FROM ScrData INTO @Factura, @Registros;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            IF (@Registros = 0)
            BEGIN
                SET @nRecords = @nRecords + 1;

                DELETE FROM T3.Remision_General
                WHERE Factura = @Factura;

                DELETE FROM T3.CFDI_Documentos
                WHERE Nota_Venta = @Factura;

                DELETE FROM T3.CFDI_Documentos_Enviar
                WHERE Nota_Venta = @Factura;
            END

            FETCH NEXT FROM ScrData INTO @Factura, @Registros;
        END

        CLOSE ScrData;
        DEALLOCATE ScrData;


        OPEN ScrPriceList;

        FETCH NEXT FROM ScrPriceList INTO @Factura;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @nRecords = @nRecords + 1;

            DELETE FROM T3.Remision_General
            WHERE Factura = @Factura;

            DELETE FROM T3.Remision_Detalle
            WHERE Factura = @Factura;

            DELETE FROM T3.CFDI_Documentos
            WHERE Nota_Venta = @Factura;

            DELETE FROM T3.CFDI_Documentos_Enviar
            WHERE Nota_Venta = @Factura;

            FETCH NEXT FROM ScrPriceList INTO @Factura;
        END

        CLOSE ScrPriceList;
        DEALLOCATE ScrPriceList;


        IF (@nOutput > 0)
        BEGIN
            PRINT 'Resume';
            PRINT 'Starting   => ' + FORMAT(@dtStarting, 'HH:mm:ss');
            PRINT 'Records    => ' + CAST(@nRecords AS VARCHAR);
            PRINT 'Ending     => ' + FORMAT(GETDATE(), 'HH:mm:ss');
        END

    END TRY
    BEGIN CATCH

        SET @sErrorCode = 'ORA-' + CAST(ERROR_NUMBER() AS VARCHAR);

        SET @sMsg = LEFT(
            CAST(ERROR_NUMBER() AS VARCHAR) + '-' + ERROR_MESSAGE(),
            250
        );

        INSERT INTO EAI_OWNER.MX_EAI_MESSAGE_LOG
        (DIRECTION, REFERENCE, CREATED, MESSAGE,
         STATUS, QUEUE_NAME, SIEBEL_ERROR_MESSAGE, SOURCE,
         SIEBEL_ERROR_CODE, RETRY_COUNT, SEQUENCE, PARENT_ROW_ID)
        VALUES
        ('Processing Delivery', @v_ID, GETDATE(), NULL,
         'Error', 'DELIVERY_CLEAR', @sMsg, 'PL/SQL',
         @sErrorCode, NULL, NULL, NULL);

    END CATCH
END
GO
