USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[DELIVERY_WA_JAULA]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [T3].[DELIVERY_WA_JAULA]
(
    @pIDOC VARCHAR(100),
    @nOutput NUMERIC(18,0) = 0
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sMsg VARCHAR(500), @v_ID VARCHAR(50), @sErrorCode VARCHAR(20), @sProcesar VARCHAR(2);
    DECLARE @nRecords NUMERIC(8,0), @nDeliveries NUMERIC(8,0);
    DECLARE @sDelivery VARCHAR(20), @dtStarting DATETIME;

    DECLARE @envID VARCHAR(100), @envRFC VARCHAR(100), @envNombre VARCHAR(100),
            @envLugarExpide VARCHAR(100), @envCalle VARCHAR(100), @envNoExterior VARCHAR(100),
            @envNoInterior VARCHAR(100), @envColonia VARCHAR(100), @envMunicipio VARCHAR(100),
            @envEstado VARCHAR(100), @envPais VARCHAR(100), @envCodigo VARCHAR(100),
            @envDireccion VARCHAR(200);

    DECLARE @sShiptoParty VARCHAR(100);

    DECLARE @recID VARCHAR(100), @recRFC VARCHAR(100), @recNombre VARCHAR(100),
            @recLugarExpide VARCHAR(100), @recCalle VARCHAR(100), @recNoExterior VARCHAR(100),
            @recNoInterior VARCHAR(100), @recColonia VARCHAR(100), @recMunicipio VARCHAR(100),
            @recEstado VARCHAR(100), @recPais VARCHAR(100), @recCodigo VARCHAR(100),
            @recDireccion VARCHAR(200);

    DECLARE @sRemision VARCHAR(50), @sRem_Serie VARCHAR(20), @sRem_Folio VARCHAR(20), @sRem_Ctro VARCHAR(20);

    DECLARE ScrData CURSOR LOCAL FAST_FORWARD FOR
    SELECT
        Doc.ReferenceID                                AS ReferenceID,
        SUBSTRING(Doc.ReferenceID,5,12)                AS Delivery,
        Doc.Cust_to_SAP                                AS PedidoSAP,
        'ZLKB'                                         AS DeliveryType,
        'MX16'                                         AS Sociedad,
        CAST(SUBSTRING(Doc.DocumentDate,1,8) AS DATETIME) AS Fecha_Factura,
        GETDATE()                                      AS Fecha_Trn,
        Doc.ShippingPoint                              AS Origen,
        Doc.ShippingPoint                              AS Destino,
        Doc.Cust_to_SAP                                AS ShiptoParty,
        Doc.NombreCliente                              AS Observaciones,
        ISNULL(RG.Factura,'INSERT')                    AS Factura
    FROM EAI_Owner.tmp_Document_Header Doc
    LEFT JOIN T3.Remision_General RG
        ON SUBSTRING(Doc.ReferenceID,5,12) = RG.Factura
    WHERE Doc.ReferenceID = @pIDOC
      AND Doc.PedidoV3 LIKE 'JAU%_Z000_%'
      AND Doc.DeliveryType = 'Receive Other';

    DECLARE ScrDetail CURSOR LOCAL FAST_FORWARD FOR
    SELECT
        Det.ReferenceID                               AS ReferenceID,
        SUBSTRING(Det.ReferenceID,5,12)              AS Factura,
        Det.ItemID                                    AS Num_Linea,
        Det.Material                                  AS Material,
        SKU.Nombre_Material                           AS MaterialDescripcion,
        Det.Cantidad                                  AS Cantidad,
        Det.UnidadMedida                              AS UnidadMedida
    FROM EAI_Owner.tmp_Document_Detail Det
    JOIN T3.Material SKU
        ON Det.Material = SKU.Material
    WHERE Det.ReferenceID = @pIDOC
    ORDER BY Det.ItemID;

    DECLARE
        @ReferenceID VARCHAR(50), @Delivery VARCHAR(50), @PedidoSAP VARCHAR(50),
        @DeliveryType VARCHAR(20), @Sociedad VARCHAR(10),
        @Fecha_Factura DATETIME, @Fecha_Trn DATETIME,
        @Origen VARCHAR(20), @Destino VARCHAR(20), @ShiptoParty VARCHAR(100),
        @Observaciones VARCHAR(200), @Factura_FLAG VARCHAR(20);

    DECLARE
        @D_ReferenceID VARCHAR(50), @D_Factura VARCHAR(50), @D_Num_Linea INT,
        @D_Material VARCHAR(100), @D_Desc VARCHAR(200),
        @D_Cantidad NUMERIC(22,7), @D_UnidadMedida VARCHAR(20);

    BEGIN TRY

        SET @nRecords = 0;
        SET @nDeliveries = 0;
        SET @sDelivery = 'INIT';
        SET @dtStarting = GETDATE();

        OPEN ScrData;

        FETCH NEXT FROM ScrData INTO
        @ReferenceID,@Delivery,@PedidoSAP,@DeliveryType,@Sociedad,
        @Fecha_Factura,@Fecha_Trn,@Origen,@Destino,
        @ShiptoParty,@Observaciones,@Factura_FLAG;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @v_ID = @Delivery;
            SET @sShiptoParty = @Destino;
            SET @nRecords = @nRecords + 1;

            SET @envID='';
            SET @envRFC='';
            SET @envNombre='';
            SET @envLugarExpide='';
            SET @envCalle='';
            SET @envNoExterior='';
            SET @envNoInterior='';
            SET @envColonia='';
            SET @envMunicipio='';
            SET @envEstado='';
            SET @envPais='';
            SET @envCodigo='';

            SET @recID='';
            SET @recRFC='';
            SET @recNombre='';
            SET @recLugarExpide='';
            SET @recCalle='';
            SET @recNoExterior='';
            SET @recNoInterior='';
            SET @recColonia='';
            SET @recMunicipio='';
            SET @recEstado='';
            SET @recPais='';
            SET @recCodigo='';

            IF (@Factura_FLAG = 'INSERT')
            BEGIN
                SET @envID = @Origen;

                EXEC T3.GET_REMISION_INFO
                    @envID, @Sociedad,
                    @envRFC OUTPUT,@envNombre OUTPUT,@envLugarExpide OUTPUT,
                    @envCalle OUTPUT,@envNoExterior OUTPUT,@envNoInterior OUTPUT,
                    @envColonia OUTPUT,@envMunicipio OUTPUT,@envEstado OUTPUT,
                    @envPais OUTPUT,@envCodigo OUTPUT;

                SET @recID = @Destino;
                SET @sShiptoParty = @ShiptoParty;

                EXEC T3.GET_REMISION_INFO
                    @recID, @Sociedad,
                    @recRFC OUTPUT,@recNombre OUTPUT,@recLugarExpide OUTPUT,
                    @recCalle OUTPUT,@recNoExterior OUTPUT,@recNoInterior OUTPUT,
                    @recColonia OUTPUT,@recMunicipio OUTPUT,@recEstado OUTPUT,
                    @recPais OUTPUT,@recCodigo OUTPUT;

                SET @nDeliveries = @nDeliveries + 1;

                SET @envDireccion = LTRIM(RTRIM(@envCalle + ' ' + @envNoExterior + ' ' + @envNoInterior));
                SET @recDireccion = LTRIM(RTRIM(@recCalle + ' ' + @recNoExterior + ' ' + @recNoInterior));

                SET @sRem_Ctro = @envID;

                IF (@sRem_Ctro NOT IN ('MXAA','MXAA','MXAC'))
                BEGIN
                    SET @sRem_Ctro = FORMAT(@Fecha_Factura,'yyyy');
                END

                EXEC EAI_Owner.WA_Folio_Factura
                    @Delivery,@sRem_Ctro,'REM',@Fecha_Factura,0,@sRemision OUTPUT;

                SET @sRem_Serie = LEFT(@sRemision,CHARINDEX('-',@sRemision)-1);
                SET @sRem_Folio = SUBSTRING(@sRemision,CHARINDEX('-',@sRemision)+1,10);

                INSERT INTO T3.Remision_General
                (
                    Factura,PedidoSAP,Clase_Remision,Sociedad,
                    Fecha_Factura,Fecha_Trn,Fecha_Proc_BATMD,Fecha_Cancelacion,
                    Origen,Nombre,Direccion,Colonia,
                    Ciudad,Estado,Pais,CodigoPostal,
                    ShiptoParty,
                    Destino,Destino_Nombre,Destino_Direccion,Destino_Colonia,
                    Destino_Ciudad,Destino_Estado,Destino_Pais,Destino_CodigoPostal,
                    Observaciones,Remision_Serie,Remision_Folio
                )
                VALUES
                (
                    @Delivery,@PedidoSAP,@DeliveryType,@Sociedad,
                    @Fecha_Factura,GETDATE(),NULL,NULL,
                    @envID,@envNombre,@envDireccion,@envColonia,
                    @envMunicipio,@envEstado,@envPais,@envCodigo,
                    @sShiptoParty,
                    @recID,@recNombre,@recDireccion,@recColonia,
                    @recMunicipio,@recEstado,@recPais,@recCodigo,
                    @Observaciones,@sRem_Serie,@sRem_Folio
                );

                OPEN ScrDetail;

                FETCH NEXT FROM ScrDetail INTO
                @D_ReferenceID,@D_Factura,@D_Num_Linea,
                @D_Material,@D_Desc,@D_Cantidad,@D_UnidadMedida;

                WHILE @@FETCH_STATUS = 0
                BEGIN
                    INSERT INTO T3.Remision_Detalle
                    (Factura,Num_Linea,Material,MaterialDescripcion,Cantidad,UnidadMedida)
                    VALUES
                    (@v_ID,@D_Num_Linea,@D_Material,@D_Desc,@D_Cantidad,@D_UnidadMedida);

                    FETCH NEXT FROM ScrDetail INTO
                    @D_ReferenceID,@D_Factura,@D_Num_Linea,
                    @D_Material,@D_Desc,@D_Cantidad,@D_UnidadMedida;
                END

                CLOSE ScrDetail;
                DEALLOCATE ScrDetail;
            END

            FETCH NEXT FROM ScrData INTO
            @ReferenceID,@Delivery,@PedidoSAP,@DeliveryType,@Sociedad,
            @Fecha_Factura,@Fecha_Trn,@Origen,@Destino,
            @ShiptoParty,@Observaciones,@Factura_FLAG;
        END

        CLOSE ScrData;
        DEALLOCATE ScrData;

        IF (@nOutput > 0)
        BEGIN
            PRINT 'Resume';
            PRINT 'Starting   => ' + FORMAT(@dtStarting,'HH:mm:ss');
            PRINT 'Deliveries => ' + CAST(@nDeliveries AS VARCHAR);
            PRINT 'Records    => ' + CAST(@nRecords AS VARCHAR);
            PRINT 'Ending     => ' + FORMAT(GETDATE(),'HH:mm:ss');
        END

    END TRY
    BEGIN CATCH

        SET @sErrorCode = 'ORA-' + CAST(ERROR_NUMBER() AS VARCHAR);
        SET @sMsg = LEFT(CAST(ERROR_NUMBER() AS VARCHAR)+'-'+ERROR_MESSAGE(),250);

        INSERT INTO EAI_OWNER.MX_EAI_MESSAGE_LOG
        (
            DIRECTION,REFERENCE,CREATED,MESSAGE,
            STATUS,QUEUE_NAME,SIEBEL_ERROR_MESSAGE,SOURCE,
            SIEBEL_ERROR_CODE,RETRY_COUNT,SEQUENCE,PARENT_ROW_ID
        )
        VALUES
        (
            'Processing Delivery',@v_ID,GETDATE(),NULL,
            'Error','DELIVERY_WA_JAULA',@sMsg,'PL/SQL',
            @sErrorCode,NULL,NULL,NULL
        );

    END CATCH
END
GO
