USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[DELIVERY_TO_SUBDEPOT]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [T3].[DELIVERY_TO_SUBDEPOT]
(
    @pReferenceID VARCHAR(100),
    @nOutput NUMERIC(18,0) = 0
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sMsg VARCHAR(500), @v_ID VARCHAR(50), @sErrorCode VARCHAR(20), @sProcesar VARCHAR(2);
    DECLARE @nRecords NUMERIC(8,0), @nDeliveries NUMERIC(8,0);
    DECLARE @sDelivery VARCHAR(20);
    DECLARE @sRemision VARCHAR(20), @sRem_Serie VARCHAR(20), @sRem_Folio VARCHAR(20), @sRem_Ctro VARCHAR(20);

    DECLARE ScrData CURSOR LOCAL FAST_FORWARD FOR
    SELECT 
        Doc.ReferenceID                             AS Factura,
        Doc.ReferenceID                             AS PedidoSAP,
        Doc.Order_Num                               AS Order_Num,
        'IO'                                        AS Clase_Remision,
        Soc.BUKRS                                   AS Sociedad,
        CAST(GETDATE() AS DATE)                     AS Fecha_Factura,
        GETDATE()                                   AS Fecha_Trn,
        GETDATE()                                   AS Fecha_Proc_BATMD,
        Doc.ShippingPoint                           AS Origen,
        Soc.Razon_Social                            AS Nombre,
        (DF.Calle + ' ' + DF.Numero_Exterior + ' ' + DF.Numero_Interior)
                                                    AS Direccion,
        DF.Colonia                                  AS Colonia,
        DF.Municipio                                AS Ciudad,
        DF.Estado                                   AS Estado,
        DF.Pais                                     AS Pais,
        DF.Codigo_Postal                            AS CodigoPostal,
        Doc.Cust_to_SAP                             AS Destino,
        Soc.Razon_Social                            AS Destino_Nombre,
        Cte.Direccion_1                             AS Destino_Direccion,
        Cte.Colonia_1                               AS Destino_Colonia,
        Cte.Ciudad_1                                AS Destino_Ciudad,
        Cte.Estado_1                                AS Destino_Estado,
        Cte.Pais_1                                  AS Destino_Pais,
        Cte.codigo_postal_1                         AS Destino_CodigoPostal,
        Doc.Cust_to_SAP                             AS ShiptoParty,
        Soc.RFC                                     AS RFC,
        Doc.Order_Num                               AS Orden_Interna,
        CHARINDEX('Z000', Cte.Nombre)               AS Jaula_Foranea_Z000,
        (ISNULL(PD.Territorio,0) + CHARINDEX('Z000', Cte.Nombre))
                                                    AS Jaula_Foranea
    FROM EAI_Owner.tmp_Document_Header Doc
    JOIN EAI.ZSDFE_Soc Soc
        ON Soc.BUKRS = 'MX16'
       AND Soc.BUKRS = Soc.KUNNR
    LEFT JOIN T3.Remision_General RG
        ON Doc.ReferenceID = RG.Factura
    JOIN T3.DISTRIBUIDOR_FISCAL DF
        ON Doc.ShippingPoint = DF.CTRO
    LEFT JOIN EAI_Owner.MX_PRINT_DELIVERY PD
        ON Doc.Cust_to_SAP = PD.Cliente_SAP
    JOIN T3.Mov_Cliente Cte
        ON Doc.Cust_to_SAP = Cte.Cliente_SAP
    WHERE Doc.ReferenceID = @pReferenceID
      AND RG.Fecha_Trn IS NULL;

    DECLARE ScrDetail CURSOR LOCAL FAST_FORWARD FOR
    SELECT
        Det.ReferenceID           AS Factura,
        Det.ItemID                AS Num_Linea,
        Det.Material              AS Material,
        Prod.Nombre_Material      AS MaterialDescripcion,
        Det.Cantidad              AS Cantidad,
        Det.UnidadMedida          AS UnidadMedida
    FROM EAI_Owner.tmp_Document_Detail Det
    JOIN T3.Material Prod 
        ON Det.Material = Prod.Material
    WHERE Det.ReferenceID = @pReferenceID
      AND Det.Cantidad > 0
    ORDER BY Det.ItemID;

    DECLARE 
        @Factura VARCHAR(50), @PedidoSAP VARCHAR(50), @Order_Num VARCHAR(50),
        @Clase_Remision VARCHAR(10), @Sociedad VARCHAR(10),
        @Fecha_Factura DATETIME, @Fecha_Trn DATETIME, @Fecha_Proc DATETIME,
        @Origen VARCHAR(20), @Nombre VARCHAR(200), @Direccion VARCHAR(200),
        @Colonia VARCHAR(100), @Ciudad VARCHAR(100), @Estado VARCHAR(100),
        @Pais VARCHAR(100), @CodigoPostal VARCHAR(20), @Destino VARCHAR(50),
        @Destino_Nombre VARCHAR(200), @Destino_Direccion VARCHAR(200),
        @Destino_Colonia VARCHAR(100), @Destino_Ciudad VARCHAR(100),
        @Destino_Estado VARCHAR(100), @Destino_Pais VARCHAR(100),
        @Destino_CodigoPostal VARCHAR(20), @ShiptoParty VARCHAR(100),
        @RFC VARCHAR(50), @Orden_Interna VARCHAR(50),
        @Jaula_Foranea_Z000 INT, @Jaula_Foranea INT;

    DECLARE 
        @D_Factura VARCHAR(50), @D_Num_Linea INT, @D_Material VARCHAR(100),
        @D_Desc VARCHAR(200), @D_Cantidad NUMERIC(22,7), @D_UnidadMedida VARCHAR(20);

    BEGIN TRY

        SET @nRecords = 0;
        SET @nDeliveries = 0;
        SET @sDelivery = 'INIT';

        OPEN ScrData;

        FETCH NEXT FROM ScrData INTO
        @Factura,@PedidoSAP,@Order_Num,@Clase_Remision,@Sociedad,
        @Fecha_Factura,@Fecha_Trn,@Fecha_Proc,@Origen,@Nombre,@Direccion,
        @Colonia,@Ciudad,@Estado,@Pais,@CodigoPostal,@Destino,
        @Destino_Nombre,@Destino_Direccion,@Destino_Colonia,@Destino_Ciudad,
        @Destino_Estado,@Destino_Pais,@Destino_CodigoPostal,@ShiptoParty,
        @RFC,@Orden_Interna,@Jaula_Foranea_Z000,@Jaula_Foranea;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @v_ID = @Factura;
            SET @sRem_Ctro = @Sociedad;

            IF (@Jaula_Foranea > 0)
            BEGIN
                EXEC EAI_Owner.WA_Folio_Factura
                    @PedidoSAP,@Origen,'SUBD',@Fecha_Factura,0,@sRemision OUTPUT;

                SET @sRem_Serie = LEFT(@sRemision, CHARINDEX('-',@sRemision)-1);
                SET @sRem_Folio = SUBSTRING(@sRemision, CHARINDEX('-',@sRemision)+1,10);

                INSERT INTO T3.Remision_General
                (
                    Factura,PedidoSAP,Clase_Remision,Sociedad,
                    Fecha_Factura,Fecha_Trn,Fecha_Proc_BATMD,Fecha_Cancelacion,
                    Origen,Nombre,Direccion,Colonia,
                    Ciudad,Estado,Pais,CodigoPostal,
                    ShiptoParty,RFC,
                    Destino,Destino_Nombre,Destino_Direccion,Destino_Colonia,
                    Destino_Ciudad,Destino_Estado,Destino_Pais,Destino_CodigoPostal,
                    Observaciones,Remision_Serie,Remision_Folio
                )
                VALUES
                (
                    @Factura,@PedidoSAP,@Clase_Remision,@Sociedad,
                    @Fecha_Factura,@Fecha_Trn,NULL,NULL,
                    @Origen,@Nombre,@Direccion,@Colonia,
                    @Ciudad,@Estado,@Pais,@CodigoPostal,
                    @ShiptoParty,@RFC,
                    @Destino,@Destino_Nombre,@Destino_Direccion,@Destino_Colonia,
                    @Destino_Ciudad,@Destino_Estado,@Destino_Pais,@Destino_CodigoPostal,
                    @Orden_Interna,@sRem_Serie,@sRem_Folio
                );

                OPEN ScrDetail;

                FETCH NEXT FROM ScrDetail INTO
                @D_Factura,@D_Num_Linea,@D_Material,@D_Desc,@D_Cantidad,@D_UnidadMedida;

                WHILE @@FETCH_STATUS = 0
                BEGIN
                    SET @nRecords = @nRecords + 1;

                    INSERT INTO T3.Remision_Detalle
                    (Factura,Num_Linea,Material,MaterialDescripcion,Cantidad,UnidadMedida)
                    VALUES
                    (@D_Factura,@D_Num_Linea,@D_Material,@D_Desc,@D_Cantidad,@D_UnidadMedida);

                    FETCH NEXT FROM ScrDetail INTO
                    @D_Factura,@D_Num_Linea,@D_Material,@D_Desc,@D_Cantidad,@D_UnidadMedida;
                END

                CLOSE ScrDetail;
                DEALLOCATE ScrDetail;

                IF (@nRecords = 0)
                BEGIN
                    DELETE FROM T3.Remision_General WHERE Factura = @Factura;
                END
            END

            FETCH NEXT FROM ScrData INTO
            @Factura,@PedidoSAP,@Order_Num,@Clase_Remision,@Sociedad,
            @Fecha_Factura,@Fecha_Trn,@Fecha_Proc,@Origen,@Nombre,@Direccion,
            @Colonia,@Ciudad,@Estado,@Pais,@CodigoPostal,@Destino,
            @Destino_Nombre,@Destino_Direccion,@Destino_Colonia,@Destino_Ciudad,
            @Destino_Estado,@Destino_Pais,@Destino_CodigoPostal,@ShiptoParty,
            @RFC,@Orden_Interna,@Jaula_Foranea_Z000,@Jaula_Foranea;
        END

        CLOSE ScrData;
        DEALLOCATE ScrData;

    END TRY
    BEGIN CATCH

        SET @sErrorCode = 'ORA-' + CAST(ERROR_NUMBER() AS VARCHAR);
        SET @sMsg = LEFT(CAST(ERROR_NUMBER() AS VARCHAR)+'-'+ERROR_MESSAGE(),250);

        INSERT INTO EAI_OWNER.MX_EAI_MESSAGE_LOG
        (
            DIRECTION,REFERENCE,CREATED,MESSAGE,
            STATUS,QUEUE_NAME,SIEBEL_ERROR_MESSAGE,SOURCE,
            SIEBEL_ERROR_CODE,RETRY_COUNT,SEQUENCE,PARENT_ROW_ID
        )
        VALUES
        (
            'Processing Delivery',@v_ID,GETDATE(),NULL,
            'Error','DELIVERY_TO_SUBDEPOT',@sMsg,'PL/SQL',
            @sErrorCode,NULL,NULL,NULL
        );
    END CATCH
END
GO
