USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[EXPORT_ERROR_EXCEPTION]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [T3].[EXPORT_ERROR_EXCEPTION]
(
    @nProceso   NUMERIC(18,0),
    @nErrorCode NUMERIC(18,0)
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sMsg VARCHAR(500);
    DECLARE @nPID NUMERIC(6,0);

    BEGIN TRY

        SELECT @nPID = MAX(PID)
        FROM T3.EXPORT_PROCESOS_LOG
        WHERE Proceso = @nProceso;

        UPDATE T3.EXPORT_PROCESOS_LOG
        SET Error_Code = @nErrorCode,
            Fin = GETDATE()
        WHERE PID = @nPID
          AND Registros IS NULL;

    END TRY
    BEGIN CATCH
	   SET @sMsg = LEFT(CAST(ERROR_NUMBER() AS VARCHAR) + '-' + ERROR_MESSAGE(), 250);

        -- esto sobrescribe el valor anterior
        SET @sMsg = LEFT(ERROR_MESSAGE(), 250);

        PRINT REPLICATE('-', 80);
        PRINT 'Problemas en la ejecucion del Procedimiento';
        PRINT 'FAVOR DE ESCALAR LOS SIGUIENTES DATOS :';
        PRINT 'Procedimiento : EXPORT_ERROR_EXCEPTION';
        PRINT 'Fecha         : ' + FORMAT(GETDATE(), 'yyyyMMdd HH:mm:ss');
        PRINT 'Referencia    : ' + CAST(@nProceso AS VARCHAR);
        PRINT 'Error         : ' + @sMsg;
        PRINT REPLICATE('-', 80);

    END CATCH
END
GO
