USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[EXECUTE_TRUNCATE]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [T3].[EXECUTE_TRUNCATE]
(
    @pTableName VARCHAR(100)
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sMsg VARCHAR(500), @sErrorCode VARCHAR(500);
    DECLARE @v_ID VARCHAR(50), @sOwner VARCHAR(50);
    DECLARE @sDoIt VARCHAR(5);
    DECLARE @sDot INT;

    DECLARE ScrEnabled CURSOR LOCAL FAST_FORWARD FOR
    SELECT Table_Name
    FROM EAI_Owner.EAI_TRUNC_TABLE
    WHERE UPPER(Table_Name) = UPPER(@v_ID);

    DECLARE @Table_Name VARCHAR(100);

    BEGIN TRY

        SET @sDoIt = 'NO';
        SET @v_ID = UPPER(@pTableName);

        SET @sDot = CHARINDEX('.', @v_ID);
        SET @sOwner = SUBSTRING(@v_ID, 1, @sDot - 1);

        OPEN ScrEnabled;

        FETCH NEXT FROM ScrEnabled INTO @Table_Name;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @sDoIt = 'YES';

            FETCH NEXT FROM ScrEnabled INTO @Table_Name;
        END

        CLOSE ScrEnabled;
        DEALLOCATE ScrEnabled;

        IF (@sDoIt = 'YES')
        BEGIN

            DECLARE @sql NVARCHAR(MAX);

            SET @sql = 'TRUNCATE TABLE ' + @v_ID;
            EXEC (@sql);

            INSERT INTO EAI_OWNER.EAI_TRUNC_LOG
            (
                TABLE_NAME,
                EXECUTED,
                USER_SCHEMA,
                USER_ID,
                IP_ADDRESS,
                TERMINAL
            )
            VALUES
            (
                @v_ID,
                GETDATE(),
                CAST(SCHEMA_NAME() AS VARCHAR(30)),
                CAST(SYSTEM_USER AS VARCHAR(40)),
                CAST(CONNECTIONPROPERTY('client_net_address') AS VARCHAR(40)),
                CAST(HOST_NAME() AS VARCHAR(40))
            );
        END

    END TRY
    BEGIN CATCH

        SET @sErrorCode = 'ORA-' + CAST(ERROR_NUMBER() AS VARCHAR);
        SET @sMsg = LEFT(CAST(ERROR_NUMBER() AS VARCHAR) + '-' + ERROR_MESSAGE(), 250);

        INSERT INTO EAI_OWNER.MX_EAI_MESSAGE_LOG
        (
            DIRECTION,
            REFERENCE,
            CREATED,
            MESSAGE,
            STATUS,
            QUEUE_NAME,
            SIEBEL_ERROR_MESSAGE,
            SOURCE,
            SIEBEL_ERROR_CODE,
            RETRY_COUNT,
            SEQUENCE,
            PARENT_ROW_ID
        )
        VALUES
        (
            'TRUNCATE',
            @v_ID,
            GETDATE(),
            NULL,
            'Error',
            'EXECUTE_TRUNCATE',
            @sMsg,
            'PL/SQL',
            @sErrorCode,
            NULL,
            NULL,
            NULL
        );
    END CATCH
END
GO
