USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[FUNC_UPCHG_MOV]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [T3].[FUNC_UPCHG_MOV] ( 
    @CLIENTE_IN    VARCHAR(MAX),
    @FECHA_IN      DATE,
    @P_CTRO        VARCHAR(50), --T3.FACTURA_GENERAL.CTRO%TYPE
    @RETURN_VALUE  VARCHAR(100) OUTPUT
)
AS
BEGIN

   DECLARE @CLIENTE_LOCAL VARCHAR(50);
   DECLARE @FECHA_LOCAL   DATE;
   DECLARE @OK            VARCHAR(100);
   DECLARE @MENSAJE       VARCHAR(100);


   DECLARE @REN_CLIENTE_V3      VARCHAR(MAX);
   DECLARE @REN_FECHA_DOCUMENTO DATE;


   DECLARE C_CTL_DOCUMENTOS CURSOR LOCAL FAST_FORWARD FOR
      SELECT CLIENTE_V3, FECHA_DOCUMENTO
         FROM CONTROL_DOCUMENTOS
         WHERE CLIENTE_V3 = @CLIENTE_IN
           AND CTRO       = @P_CTRO;

   BEGIN TRY
     BEGIN TRANSACTION;

      SET @CLIENTE_LOCAL = @CLIENTE_IN;
      SET @FECHA_LOCAL   = @FECHA_IN;

      OPEN C_CTL_DOCUMENTOS;
      FETCH NEXT FROM C_CTL_DOCUMENTOS INTO @REN_CLIENTE_V3, @REN_FECHA_DOCUMENTO;

      WHILE @@FETCH_STATUS = 0
      BEGIN
         IF ( @FECHA_LOCAL = @REN_FECHA_DOCUMENTO ) 
         BEGIN
            SET @OK = 'CORRECTO';
         END
         ELSE IF ( @FECHA_LOCAL > @REN_FECHA_DOCUMENTO ) 
         BEGIN

            SET @FECHA_LOCAL = DATEADD(DAY, -1, @REN_FECHA_DOCUMENTO);
            
            SET @MENSAJE = 'SE MODIFICO LA FECHA SYNCR : ' + CAST(@FECHA_LOCAL AS VARCHAR(50)) + ' AL CLIENTE ' + @CLIENTE_LOCAL;
            
            UPDATE MOV_CLIENTE  
               SET FECHA_SYNCR = @FECHA_LOCAL
               WHERE CLIENTE_V3 = @CLIENTE_LOCAL
                 AND CTRO       = @P_CTRO;
            
            INSERT INTO LOG_DQC_AUTOMATIZADO
               VALUES ( GETDATE(), 'PROC_FECHA_MOVCLIENTE', @CLIENTE_LOCAL, @MENSAJE );
      
           
            SET @OK = 'ACTUALIZADO';
         END
         ELSE IF ( @FECHA_LOCAL < @REN_FECHA_DOCUMENTO ) 
         BEGIN
            SET @OK = 'CORRECTO';
         END;
         
         FETCH NEXT FROM C_CTL_DOCUMENTOS INTO @REN_CLIENTE_V3, @REN_FECHA_DOCUMENTO;
      END; 

      CLOSE C_CTL_DOCUMENTOS;
      DEALLOCATE C_CTL_DOCUMENTOS;
      
      SET @RETURN_VALUE = @OK;

      IF @@TRANCOUNT > 0 COMMIT TRANSACTION;

   END TRY
   BEGIN CATCH
      PRINT '******* Mensaje *******';
      PRINT 'Error en FUNC_UPCHG_MOV';
      
      IF @@TRANCOUNT > 0 
         ROLLBACK;

--no hay return
   END CATCH
END;
GO
