USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[FIX_IVA_INCLUIDO]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [T3].[FIX_IVA_INCLUIDO]
(
    @sPeriodo VARCHAR(6),
    @dtFechaProcBATMD DATETIME
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @nDoctos NUMERIC(6,0);
    DECLARE @sFactura VARCHAR(20);
    DECLARE @sAnterior VARCHAR(20);
    DECLARE @nPrecio NUMERIC(10,2);
    DECLARE @sMsg VARCHAR(500);

    DECLARE Doctos CURSOR LOCAL FAST_FORWARD FOR
    SELECT 
        FORMAT(PG.Fecha_Factura,'yyyyMM') AS Periodo,
        PG.Fecha_Factura                  AS Fecha,
        PG.Factura                        AS Factura,
        C.Lista_Precio                    AS LP,
        CASE WHEN ISNULL(Conv.Tasa_IVA,0)=0 THEN 'S' ELSE 'N' END AS Desglosar,
        Conv.Tasa_IVA                     AS IVA_Incl,
        PG.Valor_Subt                     AS Prev_Subt,
        PG.Valor_IVA                      AS Prev_IVA,
        (PG.Valor_Subt + PG.Valor_IVA)    AS Prev_Total,
        RF.Valor_Subtotal                 AS IFC_Subt,
        RF.Valor_IVA                      AS IFC_IVA,
        (RF.Valor_Subtotal + RF.Valor_IVA) AS IFC_Total,
        RF.Desglose_IVA                   AS Desglose_IVA
    FROM T3.Preventa_General PG
    JOIN T3.Cliente C ON PG.Cliente_SAP = C.Cliente_SAP
    JOIN T3.Conv_Lista_Grupo_Precio Conv ON C.Lista_Precio = Conv.Lista_Precio
    JOIN T3.Registro_Fiscal RF ON PG.Factura = RF.Factura
    WHERE FORMAT(PG.Fecha_Factura,'yyyyMM') = @sPeriodo
      AND PG.Fecha_Factura BETWEEN C.Fecha_Ini_Vig AND C.Fecha_Fin_Vig
    ORDER BY PG.Fecha_Factura DESC, PG.Factura;


    DECLARE DocItems CURSOR LOCAL FAST_FORWARD FOR
    SELECT
        PD.Factura                          AS Docto,
        PD.Num_Linea                        AS Item_ID,
        PD.Cantidad_Vta                     AS Item_Cant,
        PD.Valor_Subt                       AS Item_Subt,
        PD.Valor_IVA                        AS Item_IVA,
        (PD.Valor_Subt + PD.Valor_IVA)      AS Item_Total,
        RFD.Precio_Unit                     AS RFD_Precio,
        RFD.Valor_Subt                      AS RFD_Subt,
        RFD.Valor_IVA                       AS RFD_IVA,
        RFD.Valor_Tot                       AS RFD_Total,
        ROUND((PD.Valor_Subt + PD.Valor_IVA) / PD.Cantidad_Vta,2) AS Precio_Unit
    FROM T3.Preventa_Detalle PD
    JOIN T3.Registro_Fiscal_Detalle RFD
        ON PD.Factura = RFD.Factura
       AND PD.Num_Linea = RFD.Num_Linea
    WHERE PD.Factura = @sFactura
    ORDER BY PD.Factura, PD.Num_Linea;

    DECLARE DocProcesados CURSOR LOCAL FAST_FORWARD FOR
    SELECT PG.Factura
    FROM T3.Preventa_General PG
    JOIN T3.Registro_Fiscal RF
        ON PG.Factura = RF.Factura
    WHERE PG.Fecha_Proc_BATMD = @dtFechaProcBATMD
      AND RF.Desglose_IVA = 'N';

    DECLARE 
        @Doc_Factura VARCHAR(20),
        @Doc_Desglose_IVA VARCHAR(1),
        @Doc_Prev_Total NUMERIC(18,2),
        @Doc_IFC_Total NUMERIC(18,2),
        @Doc_Prev_Subt NUMERIC(18,2),
        @Doc_Prev_IVA NUMERIC(18,2);

    DECLARE
        @Itm_Docto VARCHAR(20),
        @Itm_Item_ID INT,
        @Itm_Item_Cant NUMERIC(18,2),
        @Itm_Item_Subt NUMERIC(18,2),
        @Itm_Item_IVA NUMERIC(18,2),
        @Itm_Item_Total NUMERIC(18,2),
        @Itm_RFD_Precio NUMERIC(18,2),
        @Itm_RFD_Subt NUMERIC(18,2),
        @Itm_RFD_IVA NUMERIC(18,2),
        @Itm_RFD_Total NUMERIC(18,2),
        @Itm_Precio_Unit NUMERIC(18,2);

    BEGIN TRY

        SET @nDoctos = 0;

        OPEN Doctos;

        FETCH NEXT FROM Doctos INTO
        @sPeriodo,@Doc_Factura,@Doc_Factura,
        @Doc_Desglose_IVA,@Doc_Desglose_IVA,
        @Doc_Prev_Subt,@Doc_Prev_Subt,@Doc_Prev_IVA,@Doc_Prev_Total,
        @Doc_IFC_Total,@Doc_IFC_Total,@Doc_IFC_Total,@Doc_Desglose_IVA;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            IF (@Doc_Desglose_IVA = 'N' AND @Doc_Prev_Total <> @Doc_IFC_Total)
            BEGIN
                SET @sFactura = @Doc_Factura;
                SET @nDoctos = @nDoctos + 1;

                UPDATE T3.Registro_Fiscal
                SET Valor_Subtotal = @Doc_Prev_Subt,
                    Valor_IVA      = @Doc_Prev_IVA
                WHERE Factura = @sFactura;

                UPDATE T3.RF_Complemento
                SET Cadena_Original = NULL,
                    Sello_Digital   = NULL
                WHERE Factura = @sFactura;

                OPEN DocItems;

                FETCH NEXT FROM DocItems INTO
                @Itm_Docto,@Itm_Item_ID,@Itm_Item_Cant,
                @Itm_Item_Subt,@Itm_Item_IVA,@Itm_Item_Total,
                @Itm_RFD_Precio,@Itm_RFD_Subt,@Itm_RFD_IVA,@Itm_RFD_Total,
                @Itm_Precio_Unit;

                WHILE @@FETCH_STATUS = 0
                BEGIN
                    UPDATE T3.Registro_Fiscal_Detalle
                    SET Precio_Unit = @Itm_Precio_Unit,
                        Valor_Subt  = @Itm_Item_Subt,
                        Valor_IVA   = @Itm_Item_IVA,
                        Valor_Tot   = @Itm_Item_Total
                    WHERE Factura   = @sFactura
                      AND Num_Linea = @Itm_Item_ID;

                    FETCH NEXT FROM DocItems INTO
                    @Itm_Docto,@Itm_Item_ID,@Itm_Item_Cant,
                    @Itm_Item_Subt,@Itm_Item_IVA,@Itm_Item_Total,
                    @Itm_RFD_Precio,@Itm_RFD_Subt,@Itm_RFD_IVA,@Itm_RFD_Total,
                    @Itm_Precio_Unit;
                END

                CLOSE DocItems;
                DEALLOCATE DocItems;
            END

            --IF (@nDoctos % 1000 = 0)
            --    COMMIT;

            FETCH NEXT FROM Doctos INTO
            @sPeriodo,@Doc_Factura,@Doc_Factura,
            @Doc_Desglose_IVA,@Doc_Desglose_IVA,
            @Doc_Prev_Subt,@Doc_Prev_Subt,@Doc_Prev_IVA,@Doc_Prev_Total,
            @Doc_IFC_Total,@Doc_IFC_Total,@Doc_IFC_Total,@Doc_Desglose_IVA;
        END

        CLOSE Doctos;
        DEALLOCATE Doctos;

        PRINT CAST(@nDoctos AS VARCHAR);

        SET @nDoctos = 0;
        SET @sAnterior = 'Inicio';

        OPEN DocProcesados;

        FETCH NEXT FROM DocProcesados INTO @Doc_Factura;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @sFactura = @Doc_Factura;

            OPEN DocItems;

            FETCH NEXT FROM DocItems INTO
            @Itm_Docto,@Itm_Item_ID,@Itm_Item_Cant,
            @Itm_Item_Subt,@Itm_Item_IVA,@Itm_Item_Total,
            @Itm_RFD_Precio,@Itm_RFD_Subt,@Itm_RFD_IVA,@Itm_RFD_Total,
            @Itm_Precio_Unit;

            WHILE @@FETCH_STATUS = 0
            BEGIN
                IF (@Itm_Precio_Unit <> @Itm_RFD_Precio)
                BEGIN
                    UPDATE T3.Registro_Fiscal_Detalle
                    SET Precio_Unit = @Itm_Precio_Unit,
                        Valor_Subt  = @Itm_Item_Subt,
                        Valor_IVA   = @Itm_Item_IVA,
                        Valor_Tot   = @Itm_Item_Total
                    WHERE Factura   = @sFactura
                      AND Num_Linea = @Itm_Item_ID;

                    IF (@sAnterior <> @sFactura)
                    BEGIN
                        SET @sAnterior = @sFactura;
                        SET @nDoctos = @nDoctos + 1;
                    END
                END

                FETCH NEXT FROM DocItems INTO
                @Itm_Docto,@Itm_Item_ID,@Itm_Item_Cant,
                @Itm_Item_Subt,@Itm_Item_IVA,@Itm_Item_Total,
                @Itm_RFD_Precio,@Itm_RFD_Subt,@Itm_RFD_IVA,@Itm_RFD_Total,
                @Itm_Precio_Unit;
            END

            CLOSE DocItems;
            DEALLOCATE DocItems;

            --IF (@nDoctos % 1000 = 0)
            --    COMMIT;

            FETCH NEXT FROM DocProcesados INTO @Doc_Factura;
        END

        CLOSE DocProcesados;
        DEALLOCATE DocProcesados;

        PRINT CAST(@nDoctos AS VARCHAR);

    END TRY
    BEGIN CATCH
        SET @sMsg = LEFT('ERROR ORACLE ' + CAST(ERROR_NUMBER() AS VARCHAR) + ' ' + ERROR_MESSAGE(),480);

        PRINT '************* Mensaje *************';
        PRINT '***  Error en FIX_IVA_Incluido  ***';
        PRINT @sMsg;
    END CATCH
END
GO
