USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[FUNC_CE_NULL]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [T3].[FUNC_CE_NULL]
(
    @FACTURA_IN VARCHAR(30),
    @DISTRIBUIDOR_IN VARCHAR(30),
    @RETURN_VALUE VARCHAR(10) OUTPUT
)
AS
BEGIN

    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @FACTURA_LOCAL VARCHAR(30);
    DECLARE @DIST_LOCAL VARCHAR(30);
    DECLARE @Matches INT;

    SET @FACTURA_LOCAL = NULLIF(@FACTURA_IN, '');
    SET @DIST_LOCAL = NULLIF(@DISTRIBUIDOR_IN, '');
    SET @RETURN_VALUE = 'NO';

    BEGIN TRY
        SELECT @Matches = COUNT(*)
        FROM [T3].[FACTURA_GENERAL]
        WHERE [FACTURA] = @FACTURA_LOCAL
          AND [DISTRIBUIDOR] = @DIST_LOCAL
          AND [CREDITO_EXPRESS] IS NOT NULL
          AND [CREDITO_EXPRESS] <> 'CE'
          AND [FECHA_PROC_BATMD] IS NULL;

        IF COALESCE(@Matches, 0) <> 1
        BEGIN
            SELECT @RETURN_VALUE AS [RETURN_VALUE];
            RETURN;
        END;

        BEGIN TRANSACTION;

        UPDATE [T3].[FACTURA_GENERAL]
        SET [CREDITO_EXPRESS] = NULL
        WHERE [CREDITO_EXPRESS] IS NOT NULL
          AND [CREDITO_EXPRESS] <> 'CE'
          AND [FACTURA] = @FACTURA_LOCAL
          AND [FECHA_PROC_BATMD] IS NULL
          AND [DISTRIBUIDOR] = @DIST_LOCAL;

        INSERT INTO [T3].[LOG_DQC_AUTOMATIZADO]
        (
            [FECHA_DQC_AUTOMATIZADO],
            [DQC_AUTOMATIZADO],
            [DOCUMENTO],
            [DETALLE]
        )
        VALUES
        (
            SYSDATETIME(),
            'PROC_CORRIGE_CE',
            @FACTURA_LOCAL,
            CONCAT('SE ACTUALIZO EL CREDITO EXPRESS A NULL PARA LA FACTURA ', @FACTURA_LOCAL)
        );

        COMMIT TRANSACTION;
        SET @RETURN_VALUE = 'SI';
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRANSACTION;
        SET @RETURN_VALUE = 'NO';
    END CATCH;

    SELECT @RETURN_VALUE AS [RETURN_VALUE];
END;

GO
