USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[FUNC_ACT_DOCS_APEND]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [T3].[FUNC_ACT_DOCS_APEND] ( 
    @FACTURA_IN VARCHAR(MAX),
    @RETURN_VALUE VARCHAR(50) OUTPUT -- simular el RETURN de la función original
)
AS
BEGIN

    DECLARE @FACTURA_LOCAL  VARCHAR(50);
    DECLARE @OK             VARCHAR(10);

    DECLARE @REN2_ASIGNACION_ID VARCHAR(50);
    DECLARE @REN_PAGO_ID        VARCHAR(50);

    DECLARE C_PAGO_IDS CURSOR LOCAL FAST_FORWARD FOR
        SELECT PAGO_ID 
        FROM PAGO
        WHERE PAGO_ID IN (SELECT PAGO_ID FROM ASIGNACION_PAGO WHERE FACTURA = @FACTURA_IN)
        AND FECHA_PROC_BATMD IS NULL;

    DECLARE C_ASIGNACION CURSOR LOCAL FAST_FORWARD FOR
        SELECT ASIGNACION_ID
        FROM ASIGNACION_PAGO
        WHERE FACTURA = @FACTURA_IN
        AND FECHA_PROC_BATMD IS NULL;

    BEGIN TRY
        BEGIN TRANSACTION;

        SET @FACTURA_LOCAL = @FACTURA_IN;

        UPDATE FACTURA_GENERAL
        SET FECHA_PROC_BATMD = CONVERT(DATE, '30/12/2999', 103)
        WHERE FACTURA = @FACTURA_LOCAL
        AND FECHA_PROC_BATMD IS NULL;
  
        INSERT INTO LOG_DQC_AUTOMATIZADO
        VALUES
        (
            GETDATE(),
            'PROC_FACTURA_VDESC_DIF',
            @FACTURA_LOCAL,
            'SE MARCO LA FACTURA: ' + CAST(@FACTURA_LOCAL AS VARCHAR(MAX)) + ' A PENDIENTE'
        );
  
        OPEN C_ASIGNACION;
        FETCH NEXT FROM C_ASIGNACION INTO @REN2_ASIGNACION_ID;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            UPDATE ASIGNACION_PAGO
            SET FECHA_PROC_BATMD = CONVERT(DATE, '30/12/2999', 103)
            WHERE ASIGNACION_ID = @REN2_ASIGNACION_ID
            AND FECHA_PROC_BATMD IS NULL;
 
            INSERT INTO LOG_DQC_AUTOMATIZADO
            VALUES
            (
                GETDATE(),
                'PROC_FACTURA_VDESC_DIF',
                @REN2_ASIGNACION_ID,
                'SE MARCO LA ASIGNACION: ' + CAST(@REN2_ASIGNACION_ID AS VARCHAR(MAX)) + ' A PENDIENTE'
            );
  
            FETCH NEXT FROM C_ASIGNACION INTO @REN2_ASIGNACION_ID;
        END; 
        
        CLOSE C_ASIGNACION;
        DEALLOCATE C_ASIGNACION;

        OPEN C_PAGO_IDS;
        FETCH NEXT FROM C_PAGO_IDS INTO @REN_PAGO_ID;
  
        WHILE @@FETCH_STATUS = 0
        BEGIN
            UPDATE PAGO
            SET FECHA_PROC_BATMD = CONVERT(DATE, '30/12/2999', 103)
            WHERE PAGO_ID = @REN_PAGO_ID
            AND FECHA_PROC_BATMD IS NULL;
  
            INSERT INTO LOG_DQC_AUTOMATIZADO
            VALUES
            (
                GETDATE(),
                'PROC_FACTURA_VDESC_DIF',
                @REN_PAGO_ID,
                'SE MARCO EL PAGO: ' + CAST(@REN_PAGO_ID AS VARCHAR(MAX)) + ' A PENDIENTE'
            );
  
            FETCH NEXT FROM C_PAGO_IDS INTO @REN_PAGO_ID;
        END; 
        
        CLOSE C_PAGO_IDS;
        DEALLOCATE C_PAGO_IDS;
  
        COMMIT TRANSACTION;
  
        SET @RETURN_VALUE = 'OK'; 
        
    END TRY
    BEGIN CATCH
        PRINT 'Mensaje***************';
        PRINT 'Error en FUNC_ACT_DOCS_APEND';

        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        SET @RETURN_VALUE = 'ERROR'; 
    END CATCH
END;
GO
