USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[FIX_IVA_INCL_PREV]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [T3].[FIX_IVA_INCL_PREV]
(
    @sPeriodo         VARCHAR(MAX),
    @dtFechaProcBATMD DATETIME      
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @nDoctos  NUMERIC(6);
    DECLARE @sFactura VARCHAR(20);
    DECLARE @sAnterior VARCHAR(20);
    DECLARE @nPrecio  NUMERIC(10,2);
    DECLARE @sMsg     VARCHAR(500);

    DECLARE @Doc_Periodo VARCHAR(6), @Doc_Fecha DATETIME, @Doc_Factura VARCHAR(20),
            @Doc_LP VARCHAR(50), @Doc_Desglosar VARCHAR(1), @Doc_IVA_Incl NUMERIC(18,4),
            @Doc_Prev_Subt NUMERIC(18,4), @Doc_Prev_IVA NUMERIC(18,4), @Doc_Prev_Total NUMERIC(18,4),
            @Doc_IFC_Subt NUMERIC(18,4), @Doc_IFC_IVA NUMERIC(18,4), @Doc_IFC_Total NUMERIC(18,4),
            @Doc_Bonif_Subt NUMERIC(18,4), @Doc_Desglose_IVA VARCHAR(1);

    DECLARE @Itm_Docto VARCHAR(20), @Itm_Item_ID INT, @Itm_Item_Cant NUMERIC(18,4),
            @Itm_Item_Subt NUMERIC(18,4), @Itm_Item_IVA NUMERIC(18,4), @Itm_Item_Total NUMERIC(18,4),
            @Itm_RFD_Precio NUMERIC(18,4), @Itm_RFD_Subt NUMERIC(18,4), @Itm_RFD_IVA NUMERIC(18,4),
            @Itm_RFD_Total NUMERIC(18,4), @Itm_Precio_Unit NUMERIC(18,4), @Itm_Bonif_Desg NUMERIC(18,4),
            @Itm_Bonif_Incl NUMERIC(18,4);

    DECLARE @Proc_Factura VARCHAR(20), @Proc_Desglose_IVA VARCHAR(1), @Proc_Bonif_Subt NUMERIC(18,4);

    --  
    DECLARE Doctos CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT FORMAT( PG.Fecha_Factura, 'yyyyMM' ) AS Periodo    ,
               PG.Fecha_Factura                       AS Fecha      ,
               PG.Factura                             AS Factura    ,
               C.Lista_Precio                         AS LP         ,  
               CASE WHEN Conv.Tasa_IVA = 0 THEN 'S' ELSE 'N' END AS Desglosar ,
               Conv.Tasa_IVA                          AS IVA_Incl   ,
               PG.Valor_Subt                          AS Prev_Subt  ,
               PG.Valor_IVA                           AS Prev_IVA   ,
               PG.Valor_Subt + PG.Valor_IVA           AS Prev_Total ,
               RF.Valor_Subtotal                      AS IFC_Subt   ,
               RF.Valor_IVA                           AS IFC_IVA    ,
               RF.Valor_Subtotal + RF.Valor_IVA       AS IFC_Total  ,
               ISNULL( PG.Bonif_Subt, 0 )             AS Bonif_Subt ,
               RF.Desglose_IVA
        FROM T3.Preventa_General        PG  ,
             T3.Cliente                 C   ,
             T3.Conv_Lista_Grupo_Precio Conv,
             T3.Registro_Fiscal         RF
        WHERE FORMAT( PG.Fecha_Factura, 'yyyyMM' ) = @sPeriodo
--      AND PG.Factura       IN ( 'IAIA-021172', 'IAIA-021173', 'IAIB-019147', 'IAIB-019149' )
--      AND PG.Fecha_Proc_BATMD = CONVERT(DATETIME, '20101102 20:20:44', 112)
          AND PG.Cliente_SAP    = C.Cliente_SAP
          AND PG.Fecha_Factura BETWEEN C.Fecha_Ini_Vig AND C.Fecha_Fin_Vig
          AND C.Lista_Precio    = Conv.Lista_Precio
          AND PG.Factura        = RF.Factura
        ORDER BY PG.Fecha_Factura DESC, PG.Factura;
--
    DECLARE DocItems CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT PD.Factura                             AS Docto      ,
               PD.Num_Linea                           AS Item_ID    ,
               PD.Cantidad_Vta                        AS Item_Cant  ,
               PD.Valor_Subt                          AS Item_Subt  ,
               PD.Valor_IVA                           AS Item_IVA   ,
               PD.Valor_Subt  + PD.Valor_IVA          AS Item_Total ,
               RFD.Precio_Unit                        AS RFD_Precio ,
               RFD.Valor_Subt                         AS RFD_Subt   ,
               RFD.Valor_IVA                          AS RFD_IVA    ,
               RFD.Valor_Tot                          AS RFD_Total  ,
               ROUND( ( PD.Valor_Subt + PD.Valor_IVA )
                     / NULLIF(PD.Cantidad_Vta, 0), 2 ) AS Precio_Unit,
               ROUND( ( ISNULL( PD.Valor_Subt, 0 ) + ISNULL( PD.Bonif_Subt, 0 ) )
                     / NULLIF(PD.Cantidad_Vta, 0), 2 ) AS Bonif_Desg ,
               ROUND( ( ISNULL( PD.Valor_Subt, 0 ) + ISNULL( PD.Valor_IVA, 0 )
                      + ISNULL( PD.Bonif_Subt, 0 ) + ISNULL( PD.Bonif_IVA, 0 ) )
                     / NULLIF(PD.Cantidad_Vta, 0), 2 ) AS Bonif_Incl
        FROM T3.Preventa_Detalle        PD ,
             T3.Registro_Fiscal_Detalle RFD
        WHERE PD.Factura   = @sFactura
          AND PD.Factura   = RFD.Factura
          AND PD.Num_Linea = RFD.Num_Linea
        ORDER BY PD.Factura, PD.Num_Linea;  
--
    DECLARE DocProcesados CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT PG.Factura, RF.Desglose_IVA,
               ISNULL( PG.Bonif_Subt, 0 ) AS Bonif_Subt
        FROM T3.Preventa_General PG,
             T3.Registro_Fiscal  RF
        WHERE PG.Fecha_Proc_BATMD = @dtFechaProcBATMD
          AND PG.Factura          = RF.Factura;            

    BEGIN TRY

        SET @nDoctos = 0;
       
        OPEN Doctos;
        FETCH NEXT FROM Doctos INTO @Doc_Periodo, @Doc_Fecha, @Doc_Factura, @Doc_LP, @Doc_Desglosar, @Doc_IVA_Incl, @Doc_Prev_Subt, @Doc_Prev_IVA, @Doc_Prev_Total, @Doc_IFC_Subt, @Doc_IFC_IVA, @Doc_IFC_Total, @Doc_Bonif_Subt, @Doc_Desglose_IVA;
       
        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @sFactura = @Doc_Factura;
           
            IF ( @Doc_Bonif_Subt > 0 )
            BEGIN
                SET @nDoctos = @nDoctos + 1;
               
                OPEN DocItems;
                FETCH NEXT FROM DocItems INTO @Itm_Docto, @Itm_Item_ID, @Itm_Item_Cant, @Itm_Item_Subt, @Itm_Item_IVA, @Itm_Item_Total, @Itm_RFD_Precio, @Itm_RFD_Subt, @Itm_RFD_IVA, @Itm_RFD_Total, @Itm_Precio_Unit, @Itm_Bonif_Desg, @Itm_Bonif_Incl;
               
                WHILE @@FETCH_STATUS = 0
                BEGIN
                    IF ( @Doc_Desglose_IVA = 'N' )
                    BEGIN    
                        UPDATE T3.Registro_Fiscal_Detalle SET Precio_Unit = @Itm_Bonif_Incl
                        WHERE Factura   = @sFactura
                          AND Num_Linea = @Itm_Item_ID;
                    END
                    ELSE
                    BEGIN
                        UPDATE T3.Registro_Fiscal_Detalle SET Precio_Unit = @Itm_Bonif_Desg
                        WHERE Factura   = @sFactura
                          AND Num_Linea = @Itm_Item_ID;            
                    END;
                   
                    FETCH NEXT FROM DocItems INTO @Itm_Docto, @Itm_Item_ID, @Itm_Item_Cant, @Itm_Item_Subt, @Itm_Item_IVA, @Itm_Item_Total, @Itm_RFD_Precio, @Itm_RFD_Subt, @Itm_RFD_IVA, @Itm_RFD_Total, @Itm_Precio_Unit, @Itm_Bonif_Desg, @Itm_Bonif_Incl;
                END;
                CLOSE DocItems;
            END
            ELSE IF ( @Doc_Desglose_IVA = 'N' )
            BEGIN
                SET @nDoctos = @nDoctos + 1;
               
                OPEN DocItems;
                FETCH NEXT FROM DocItems INTO @Itm_Docto, @Itm_Item_ID, @Itm_Item_Cant, @Itm_Item_Subt, @Itm_Item_IVA, @Itm_Item_Total, @Itm_RFD_Precio, @Itm_RFD_Subt, @Itm_RFD_IVA, @Itm_RFD_Total, @Itm_Precio_Unit, @Itm_Bonif_Desg, @Itm_Bonif_Incl;
               
                WHILE @@FETCH_STATUS = 0
                BEGIN            
                    UPDATE T3.Registro_Fiscal_Detalle SET Precio_Unit = @Itm_Precio_Unit
                    WHERE Factura   = @sFactura
                      AND Num_Linea = @Itm_Item_ID;
                     
                    FETCH NEXT FROM DocItems INTO @Itm_Docto, @Itm_Item_ID, @Itm_Item_Cant, @Itm_Item_Subt, @Itm_Item_IVA, @Itm_Item_Total, @Itm_RFD_Precio, @Itm_RFD_Subt, @Itm_RFD_IVA, @Itm_RFD_Total, @Itm_Precio_Unit, @Itm_Bonif_Desg, @Itm_Bonif_Incl;
                END;
                CLOSE DocItems;
            END;

            FETCH NEXT FROM Doctos INTO @Doc_Periodo, @Doc_Fecha, @Doc_Factura, @Doc_LP, @Doc_Desglosar, @Doc_IVA_Incl, @Doc_Prev_Subt, @Doc_Prev_IVA, @Doc_Prev_Total, @Doc_IFC_Subt, @Doc_IFC_IVA, @Doc_IFC_Total, @Doc_Bonif_Subt, @Doc_Desglose_IVA;
        END;
        CLOSE Doctos;
       
      
        PRINT CAST(@nDoctos AS VARCHAR);  
        SET @nDoctos   = 00;
        SET @sAnterior = 'Inicio';
       
        OPEN DocProcesados;
        FETCH NEXT FROM DocProcesados INTO @Proc_Factura, @Proc_Desglose_IVA, @Proc_Bonif_Subt;
       
        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @sFactura = @Proc_Factura;
           
            IF ( @Proc_Bonif_Subt > 0 )
            BEGIN
                SET @nDoctos = @nDoctos + 1;
               
                OPEN DocItems;
                FETCH NEXT FROM DocItems INTO @Itm_Docto, @Itm_Item_ID, @Itm_Item_Cant, @Itm_Item_Subt, @Itm_Item_IVA, @Itm_Item_Total, @Itm_RFD_Precio, @Itm_RFD_Subt, @Itm_RFD_IVA, @Itm_RFD_Total, @Itm_Precio_Unit, @Itm_Bonif_Desg, @Itm_Bonif_Incl;
               
                WHILE @@FETCH_STATUS = 0
                BEGIN
                    IF ( @Proc_Desglose_IVA = 'N' )
                    BEGIN    
                        UPDATE T3.Registro_Fiscal_Detalle SET Precio_Unit = @Itm_Bonif_Incl
                        WHERE Factura   = @sFactura
                          AND Num_Linea = @Itm_Item_ID;
                    END
                    ELSE
                    BEGIN
                        UPDATE T3.Registro_Fiscal_Detalle SET Precio_Unit = @Itm_Bonif_Desg
                        WHERE Factura   = @sFactura
                          AND Num_Linea = @Itm_Item_ID;            
                    END;
                   
                    FETCH NEXT FROM DocItems INTO @Itm_Docto, @Itm_Item_ID, @Itm_Item_Cant, @Itm_Item_Subt, @Itm_Item_IVA, @Itm_Item_Total, @Itm_RFD_Precio, @Itm_RFD_Subt, @Itm_RFD_IVA, @Itm_RFD_Total, @Itm_Precio_Unit, @Itm_Bonif_Desg, @Itm_Bonif_Incl;
                END;
                CLOSE DocItems;
               
                UPDATE T3.RF_Complemento SET Cadena_Original = NULL,
                                             Sello_Digital   = NULL
                WHERE Factura = @sFactura;    
               
                DELETE FROM T3.RF_Documentos
                WHERE Factura = @sFactura;                
            END
            ELSE IF ( @Proc_Desglose_IVA = 'N' )
            BEGIN
                SET @nDoctos = @nDoctos + 1;
               
                OPEN DocItems;
                FETCH NEXT FROM DocItems INTO @Itm_Docto, @Itm_Item_ID, @Itm_Item_Cant, @Itm_Item_Subt, @Itm_Item_IVA, @Itm_Item_Total, @Itm_RFD_Precio, @Itm_RFD_Subt, @Itm_RFD_IVA, @Itm_RFD_Total, @Itm_Precio_Unit, @Itm_Bonif_Desg, @Itm_Bonif_Incl;
               
                WHILE @@FETCH_STATUS = 0
                BEGIN            
                    UPDATE T3.Registro_Fiscal_Detalle SET Precio_Unit = @Itm_Precio_Unit
                    WHERE Factura   = @sFactura
                      AND Num_Linea = @Itm_Item_ID;
                     
                    FETCH NEXT FROM DocItems INTO @Itm_Docto, @Itm_Item_ID, @Itm_Item_Cant, @Itm_Item_Subt, @Itm_Item_IVA, @Itm_Item_Total, @Itm_RFD_Precio, @Itm_RFD_Subt, @Itm_RFD_IVA, @Itm_RFD_Total, @Itm_Precio_Unit, @Itm_Bonif_Desg, @Itm_Bonif_Incl;
                END;
                CLOSE DocItems;
               
                UPDATE T3.RF_Complemento SET Cadena_Original = NULL,
                                             Sello_Digital   = NULL
                WHERE Factura = @sFactura;    
               
                DELETE FROM T3.RF_Documentos
                WHERE Factura = @sFactura;        
            END;
           
       
           
            FETCH NEXT FROM DocProcesados INTO @Proc_Factura, @Proc_Desglose_IVA, @Proc_Bonif_Subt;
        END;
        CLOSE DocProcesados;
       
        PRINT CAST(@nDoctos AS VARCHAR);
       

        DEALLOCATE Doctos;
        DEALLOCATE DocItems;
        DEALLOCATE DocProcesados;

    END TRY
    BEGIN CATCH

        IF CURSOR_STATUS('local', 'Doctos') >= -1
        BEGIN
            IF CURSOR_STATUS('local', 'Doctos') > -1 CLOSE Doctos;
            DEALLOCATE Doctos;
        END;

        IF CURSOR_STATUS('local', 'DocItems') >= -1
        BEGIN
            IF CURSOR_STATUS('local', 'DocItems') > -1 CLOSE DocItems;
            DEALLOCATE DocItems;
        END;

        IF CURSOR_STATUS('local', 'DocProcesados') >= -1
        BEGIN
            IF CURSOR_STATUS('local', 'DocProcesados') > -1 CLOSE DocProcesados;
            DEALLOCATE DocProcesados;
        END;

        SET @sMsg = SUBSTRING( 'ERROR SQL ' + CAST(ERROR_NUMBER() AS VARCHAR) + ' ' + ERROR_MESSAGE(), 1, 480 );
        PRINT '************* Mensaje *************';
        PRINT '*** Error en FIX_IVA_Incluido  ***';
        PRINT @sMsg;  
    END CATCH;
END; 
GO
