USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[GET_SAT_CLAVEPRODUCTO]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [T3].[GET_SAT_CLAVEPRODUCTO] 
(
    @pInvoiceType  VARCHAR(50),
    @pInvoice      VARCHAR(50),
    @pMaterial     VARCHAR(50),
    @pDescription  VARCHAR(250),
    @pUnitMeasure  VARCHAR(50),
    @rtIdProdServ  VARCHAR(50) OUTPUT,
    @rtUnitMeasure VARCHAR(50) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sMsg           VARCHAR(500);
    DECLARE @sErrorCode     VARCHAR(500);
    DECLARE @v_ID           VARCHAR(30);
    DECLARE @sCtro          VARCHAR(30);
    DECLARE @sMaterial      VARCHAR(30);
    DECLARE @nCtro          INT; -- NUMBER(2)

    -- Variables cursor
    DECLARE @c_SAT_Clave        VARCHAR(50);
    DECLARE @c_SAT_UnidadMedida VARCHAR(50);

    DECLARE ScrSATInfo CURSOR LOCAL FAST_FORWARD FOR
        SELECT SAT_Clave, SAT_UnidadMedida
        FROM T3.CFDI_PRODSERV
        WHERE Material = @sMaterial;

    BEGIN TRY
        SET @v_ID      = @pInvoice;
        SET @nCtro     = 0;
        SET @sMaterial = REPLACE(@pMaterial, '.', '');

        OPEN ScrSATInfo;
        FETCH NEXT FROM ScrSATInfo INTO @c_SAT_Clave, @c_SAT_UnidadMedida;
        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @nCtro         = @nCtro + 1;
            SET @rtIdProdServ  = @c_SAT_Clave;
            SET @rtUnitMeasure = @c_SAT_UnidadMedida;
            FETCH NEXT FROM ScrSATInfo INTO @c_SAT_Clave, @c_SAT_UnidadMedida;
        END;
        CLOSE ScrSATInfo;
        DEALLOCATE ScrSATInfo;

        IF (@nCtro = 0)
        BEGIN
            IF (@pInvoiceType = 'Vta')
            BEGIN
                SET @rtIdProdServ  = '50211502';
                SET @rtUnitMeasure = 'H87';
            END
            ELSE IF (@pInvoiceType = 'EXPO')
            BEGIN
                SET @rtIdProdServ  = '50211502';
                SET @rtUnitMeasure = 'NMP';
                SET @rtIdProdServ  = '';
                SET @rtUnitMeasure = '';
            END
            ELSE IF (@pInvoiceType = 'SERV')
            BEGIN
                SET @rtIdProdServ  = '50211502';
                SET @rtUnitMeasure = 'NMP';
            END
            ELSE   
            BEGIN
                SET @rtIdProdServ  = '50211502';
                SET @rtUnitMeasure = 'H87';
            END;

            IF (SUBSTRING(@sMaterial, 1, 1) != 'R')
            BEGIN
                INSERT INTO T3.CFDI_PRODSERV 
                    (Modulo, Material, NombreMaterial, UnidadMedida, SAT_Clave, SAT_UnidadMedida, Fecha_Creacion, Creado_Por) 
                VALUES
                    (@pInvoiceType, @sMaterial, @pDescription, @pUnitMeasure, @rtIdProdServ, @rtUnitMeasure, GETDATE(), 'INVOICING');
            END;      
        END;

    END TRY
    BEGIN CATCH
        SET @rtIdProdServ  = '';
        SET @rtUnitMeasure = '';
        
        SET @sErrorCode = 'SQL-' + CAST(ERROR_NUMBER() AS VARCHAR(50));
        SET @sMsg = SUBSTRING(CAST(ERROR_NUMBER() AS VARCHAR(50)) + '-' + ERROR_MESSAGE(), 1, 250);      
        
        INSERT INTO EAI_OWNER.MX_EAI_MESSAGE_LOG
          ( DIRECTION          , REFERENCE      , CREATED             , MESSAGE        ,
            STATUS             , QUEUE_NAME     , SIEBEL_ERROR_MESSAGE, SOURCE         , 
            SIEBEL_ERROR_CODE  , RETRY_COUNT    , SEQUENCE            , PARENT_ROW_ID   )
        VALUES 
          ( 'CFDI Mapping'     , @v_ID          , GETDATE()           , NULL           ,
            'Error'            , 'GET_SAT_CLAVEPRODUCTO', @sMsg       , 'CFD'          ,
            @sErrorCode        , NULL           , NULL                , NULL            );
        
    END CATCH;
END;
GO
