USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[GET_REMISION_INFO]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [T3].[GET_REMISION_INFO] 
(
    @pCtro         VARCHAR(50),
    @pSociedad     VARCHAR(50),
    @rtRFC         VARCHAR(250) OUTPUT,
    @rtNombre      VARCHAR(250) OUTPUT,
    @rtLugarExpide VARCHAR(250) OUTPUT,
    @rtCalle       VARCHAR(250) OUTPUT,
    @rtNoExterior  VARCHAR(50)  OUTPUT,
    @rtNoInterior  VARCHAR(50)  OUTPUT,
    @rtColonia     VARCHAR(250) OUTPUT,
    @rtMunicipio   VARCHAR(250) OUTPUT,
    @rtEstado      VARCHAR(250) OUTPUT,
    @rtPais        VARCHAR(250) OUTPUT,
    @rtCodigo      VARCHAR(50)  OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sMsg           VARCHAR(500);
    DECLARE @sErrorCode     VARCHAR(500);
    DECLARE @v_ID           VARCHAR(30);
    DECLARE @sCtro          VARCHAR(30);
    DECLARE @nCtro          INT; -- NUMBER(2)

    -- Variables cursores
    DECLARE @c_Distribuidor      VARCHAR(50);
    DECLARE @c_Ctro              VARCHAR(50);
    DECLARE @c_Nombre_Corto      VARCHAR(100);
    DECLARE @c_Descripcion       VARCHAR(250);
    DECLARE @c_Lugar_Expide      VARCHAR(250);
    DECLARE @c_Calle             VARCHAR(250);
    DECLARE @c_Numero_Exterior   VARCHAR(50);
    DECLARE @c_Numero_Interior   VARCHAR(50);
    DECLARE @c_Colonia           VARCHAR(250);
    DECLARE @c_Municipio         VARCHAR(250);
    DECLARE @c_Estado            VARCHAR(250);
    DECLARE @c_Pais              VARCHAR(250);
    DECLARE @c_Codigo_Postal     VARCHAR(50);

    DECLARE @c2_Nombre           VARCHAR(250);
    DECLARE @c2_RFC              VARCHAR(50);
    DECLARE @c2_Lugar_Expide     VARCHAR(250);
    DECLARE @c2_Calle            VARCHAR(250);
    DECLARE @c2_Numero_Exterior  VARCHAR(50);
    DECLARE @c2_Numero_Interior  VARCHAR(50);
    DECLARE @c2_Colonia          VARCHAR(250);
    DECLARE @c2_Municipio        VARCHAR(250);
    DECLARE @c2_Estado           VARCHAR(250);
    DECLARE @c2_Pais             VARCHAR(250);
    DECLARE @c2_Codigo_Postal    VARCHAR(50);

    DECLARE @c3_Razon_Social     VARCHAR(250);
    DECLARE @c3_RFC              VARCHAR(50);

    DECLARE @c4_Descripcion      VARCHAR(250);

    DECLARE ScrCtro_T3 CURSOR LOCAL FAST_FORWARD FOR
        SELECT DF.Distribuidor, DF.Ctro, DF.Nombre_Corto, DF.Descripcion,
               ISNULL(TRIM(DF.Municipio), '') + ',' + ISNULL(TRIM(DF.Estado), '') AS Lugar_Expide,       
               DF.Calle, DF.Numero_Exterior, DF.Numero_Interior,
               DF.Colonia, DF.Municipio, DF.Estado, DF.Pais, DF.Codigo_Postal
        FROM T3.Distribuidor_Fiscal DF
        WHERE DF.Ctro = @pCtro;

    DECLARE ScrCliente_T3 CURSOR LOCAL FAST_FORWARD FOR
        SELECT Cte.Nombre, Cte.RFC,
               ISNULL(TRIM(Cte.Ciudad_1), '') + ',' + ISNULL(TRIM(Cte.Estado_1), '') AS Lugar_Expide,       
               Cte.Direccion_1      AS Calle,
               ''                   AS Numero_Exterior,
               ''                   AS Numero_Interior,
               Cte.Colonia_1        AS Colonia,
               Cte.Ciudad_1         AS Municipio,
               Cte.Estado_1         AS Estado,
               Cte.Pais_1           AS Pais,
               Cte.Codigo_Postal_1  AS Codigo_Postal
        FROM T3.Cliente Cte
        WHERE Cte.Cliente_V3 = @pCtro
          AND CAST(GETDATE() AS DATE) BETWEEN Cte.Fecha_Ini_Vig AND Cte.Fecha_Fin_Vig
        UNION  
        SELECT Cte.Nombre, Cte.RFC,
               ISNULL(TRIM(Cte.Ciudad_1), '') + ',' + ISNULL(TRIM(Cte.Estado_1), '') AS Lugar_Expide,       
               Cte.Direccion_1      AS Calle,
               ''                   AS Numero_Exterior,
               ''                   AS Numero_Interior,
               Cte.Colonia_1        AS Colonia,
               Cte.Ciudad_1         AS Municipio,
               Cte.Estado_1         AS Estado,
               Cte.Pais_1           AS Pais,
               Cte.Codigo_Postal_1  AS Codigo_Postal
        FROM T3.Cliente Cte
        WHERE Cte.Cliente_SAP = @pCtro
          AND CAST(GETDATE() AS DATE) BETWEEN Cte.Fecha_Ini_Vig AND Cte.Fecha_Fin_Vig;

    DECLARE ScrCliente_T3SAP CURSOR LOCAL FAST_FORWARD FOR
        SELECT Cte.Nombre, Cte.RFC,
               ISNULL(TRIM(Cte.Ciudad_1), '') + ',' + ISNULL(TRIM(Cte.Estado_1), '') AS Lugar_Expide,       
               Cte.Direccion_1      AS Calle,
               ''                   AS Numero_Exterior,
               ''                   AS Numero_Interior,
               Cte.Colonia_1        AS Colonia,
               Cte.Ciudad_1         AS Municipio,
               Cte.Estado_1         AS Estado,
               Cte.Pais_1           AS Pais,
               Cte.Codigo_Postal_1  AS Codigo_Postal
        FROM EAI_Owner.TaO_Cedis_Valid Oxxo,
             T3.Cliente                Cte
        WHERE Oxxo.Shipto_Hub = RIGHT('0000000000' + ISNULL(@pCtro, ''), 10)
          AND Oxxo.Loc        = Cte.Cliente_V3
          AND CAST(GETDATE() AS DATE) BETWEEN Cte.Fecha_Ini_Vig AND Cte.Fecha_Fin_Vig;

    DECLARE ScrRazonSocial CURSOR LOCAL FAST_FORWARD FOR
        SELECT Razon_Social, RFC
        FROM EAI.ZSDFE_Soc
        WHERE BUKRS = @pSociedad
          AND BUKRS = KUNNR;

    DECLARE ScrTransito CURSOR LOCAL FAST_FORWARD FOR
        SELECT AD.Descripcion
        FROM T3.REMISION_CTRO_SOCIEDAD AD
        WHERE AD.Ctro         = @pCtro
          AND AD.Sociedad     = @pSociedad
          AND AD.Descripcion IS NOT NULL;

    BEGIN TRY
        SET @v_ID          = @pCtro;
        SET @sCtro         = @pCtro;
        
        IF ( @sCtro = 'MXAA' )
        BEGIN
            SET @sCtro = 'MX7A';
        END
        ELSE IF ( @sCtro = 'MXAB' )
        BEGIN
            SET @sCtro = 'MX7B';
        END
        ELSE IF ( @sCtro = 'MXAC' )
        BEGIN
            SET @sCtro = 'MX7D';
        END;

        SET @nCtro         = 0;
        SET @rtRFC         = '';
        SET @rtNombre      = '';
        SET @rtLugarExpide = '';
        SET @rtCalle       = '';
        SET @rtNoExterior  = '';
        SET @rtNoInterior  = '';
        SET @rtColonia     = '';
        SET @rtMunicipio   = '';
        SET @rtEstado      = '';
        SET @rtPais        = '';
        SET @rtCodigo      = '';

        IF ( @nCtro = 0 )
        BEGIN
            OPEN ScrCtro_T3;
            FETCH NEXT FROM ScrCtro_T3 INTO @c_Distribuidor, @c_Ctro, @c_Nombre_Corto, @c_Descripcion, @c_Lugar_Expide, @c_Calle, @c_Numero_Exterior, @c_Numero_Interior, @c_Colonia, @c_Municipio, @c_Estado, @c_Pais, @c_Codigo_Postal;
            WHILE @@FETCH_STATUS = 0
            BEGIN
                SET @nCtro         = @nCtro + 1;
                SET @rtRFC         = 'BAT910607F43';
                SET @rtNombre      = 'BRITISH AMERICAN TOBACCO MEXICO S.A. DE C.V.';
                SET @rtNombre      = @c_Descripcion;

                OPEN ScrRazonSocial;
                FETCH NEXT FROM ScrRazonSocial INTO @c3_Razon_Social, @c3_RFC;
                WHILE @@FETCH_STATUS = 0
                BEGIN
                    SET @rtRFC    = @c3_RFC;
                    SET @rtNombre = @c3_Razon_Social;
                    FETCH NEXT FROM ScrRazonSocial INTO @c3_Razon_Social, @c3_RFC;
                END;
                CLOSE ScrRazonSocial;

                OPEN ScrTransito;
                FETCH NEXT FROM ScrTransito INTO @c4_Descripcion;
                WHILE @@FETCH_STATUS = 0
                BEGIN
                    SET @rtNombre = ISNULL(@rtNombre, '') + ' ' + ISNULL(@c4_Descripcion, '');
                    FETCH NEXT FROM ScrTransito INTO @c4_Descripcion;
                END;
                CLOSE ScrTransito;

                SET @rtLugarExpide = @c_Lugar_Expide;
                SET @rtCalle       = @c_Calle;
                SET @rtNoExterior  = @c_Numero_Exterior;
                SET @rtNoInterior  = @c_Numero_Interior;
                SET @rtColonia     = @c_Colonia;
                SET @rtMunicipio   = @c_Municipio;
                SET @rtEstado      = @c_Estado;
                SET @rtPais        = @c_Pais;
                SET @rtCodigo      = @c_Codigo_Postal;

                FETCH NEXT FROM ScrCtro_T3 INTO @c_Distribuidor, @c_Ctro, @c_Nombre_Corto, @c_Descripcion, @c_Lugar_Expide, @c_Calle, @c_Numero_Exterior, @c_Numero_Interior, @c_Colonia, @c_Municipio, @c_Estado, @c_Pais, @c_Codigo_Postal;
            END;
            CLOSE ScrCtro_T3;
        END;

        IF ( @nCtro = 0 )
        BEGIN
            OPEN ScrCliente_T3;
            FETCH NEXT FROM ScrCliente_T3 INTO @c2_Nombre, @c2_RFC, @c2_Lugar_Expide, @c2_Calle, @c2_Numero_Exterior, @c2_Numero_Interior, @c2_Colonia, @c2_Municipio, @c2_Estado, @c2_Pais, @c2_Codigo_Postal;
            WHILE @@FETCH_STATUS = 0
            BEGIN
                SET @nCtro         = @nCtro + 1;
                SET @rtRFC         = @c2_RFC;
                SET @rtNombre      = @c2_Nombre;
                SET @rtLugarExpide = @c2_Lugar_Expide;
                SET @rtCalle       = @c2_Calle;
                SET @rtNoExterior  = @c2_Numero_Exterior;
                SET @rtNoInterior  = @c2_Numero_Interior;
                SET @rtColonia     = @c2_Colonia;
                SET @rtMunicipio   = @c2_Municipio;
                SET @rtEstado      = @c2_Estado;
                SET @rtPais        = @c2_Pais;
                SET @rtCodigo      = @c2_Codigo_Postal;

                FETCH NEXT FROM ScrCliente_T3 INTO @c2_Nombre, @c2_RFC, @c2_Lugar_Expide, @c2_Calle, @c2_Numero_Exterior, @c2_Numero_Interior, @c2_Colonia, @c2_Municipio, @c2_Estado, @c2_Pais, @c2_Codigo_Postal;
            END;
            CLOSE ScrCliente_T3;
        END;

        IF ( @nCtro = 0 )
        BEGIN
            OPEN ScrCliente_T3SAP;
            FETCH NEXT FROM ScrCliente_T3SAP INTO @c2_Nombre, @c2_RFC, @c2_Lugar_Expide, @c2_Calle, @c2_Numero_Exterior, @c2_Numero_Interior, @c2_Colonia, @c2_Municipio, @c2_Estado, @c2_Pais, @c2_Codigo_Postal;
            WHILE @@FETCH_STATUS = 0
            BEGIN
                SET @nCtro         = @nCtro + 1;
                SET @rtRFC         = 'BAT910607F43';
                SET @rtRFC         = @c2_RFC;
                SET @rtNombre      = 'BRITISH AMERICAN TOBACCO MEXICO S.A. DE C.V.';
                SET @rtNombre      = @c2_Nombre;
                SET @rtLugarExpide = @c2_Lugar_Expide;
                SET @rtCalle       = @c2_Calle;
                SET @rtNoExterior  = @c2_Numero_Exterior;
                SET @rtNoInterior  = @c2_Numero_Interior;
                SET @rtColonia     = @c2_Colonia;
                SET @rtMunicipio   = @c2_Municipio;
                SET @rtEstado      = @c2_Estado;
                SET @rtPais        = @c2_Pais;
                SET @rtCodigo      = @c2_Codigo_Postal;

                FETCH NEXT FROM ScrCliente_T3SAP INTO @c2_Nombre, @c2_RFC, @c2_Lugar_Expide, @c2_Calle, @c2_Numero_Exterior, @c2_Numero_Interior, @c2_Colonia, @c2_Municipio, @c2_Estado, @c2_Pais, @c2_Codigo_Postal;
            END;
            CLOSE ScrCliente_T3SAP;
        END;

        DEALLOCATE ScrCtro_T3;
        DEALLOCATE ScrCliente_T3;
        DEALLOCATE ScrCliente_T3SAP;
        DEALLOCATE ScrRazonSocial;
        DEALLOCATE ScrTransito;

    END TRY
    BEGIN CATCH
        SET @rtRFC         = '';
        SET @rtNombre      = '';
        SET @rtLugarExpide = '';
        SET @rtCalle       = '';
        SET @rtNoExterior  = '';
        SET @rtNoInterior  = '';
        SET @rtColonia     = '';
        SET @rtMunicipio   = '';
        SET @rtEstado      = '';
        SET @rtPais        = '';
        SET @rtCodigo      = '';
        
        SET @sErrorCode = 'SQL-' + CAST(ERROR_NUMBER() AS VARCHAR(50));
        SET @sMsg = SUBSTRING(CAST(ERROR_NUMBER() AS VARCHAR(50)) + '-' + ERROR_MESSAGE(), 1, 250);      
        
        INSERT INTO EAI_OWNER.MX_EAI_MESSAGE_LOG
          ( DIRECTION          , REFERENCE      , CREATED             , MESSAGE        ,
            STATUS             , QUEUE_NAME     , SIEBEL_ERROR_MESSAGE, SOURCE         , 
            SIEBEL_ERROR_CODE  , RETRY_COUNT    , SEQUENCE            , PARENT_ROW_ID   )
        VALUES 
          ( 'Sending to V3'    , @v_ID          , GETDATE()           , NULL           ,
            'Error'            , 'GET_REMISION_INFO', @sMsg           , 'XML'          ,
            @sErrorCode        , NULL           , NULL                , NULL            );
        
    END CATCH;
END;
GO
