USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[GET_CFDI_DOCUMENTO]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [T3].[GET_CFDI_DOCUMENTO] 
(
    @sSAPreference  VARCHAR(50),
    @rtDoc_Num      VARCHAR(50) OUTPUT,
    @rtAccnt_ID     VARCHAR(50) OUTPUT,
    @rtInvoiceID    VARCHAR(50) OUTPUT,
    @rtSubTypeCD    VARCHAR(50) OUTPUT,
    @rtInvc_dt      DATETIME OUTPUT,
    @rtTtl_Invc_Amt NUMERIC(18, 4) OUTPUT,
    @rtRFC          VARCHAR(50) OUTPUT,
    @rtCreditDays   INT OUTPUT,
    @rtNota_Venta   VARCHAR(50) OUTPUT, 
    @rtUUID         VARCHAR(50) OUTPUT,
    @rtUUID_Status  VARCHAR(50) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sMsg           VARCHAR(500);
    DECLARE @nDoctos        INT; -- NUMBER(06)

    DECLARE @strID          VARCHAR(50);
    DECLARE @strFactura     VARCHAR(20);
    DECLARE @strEntrega     VARCHAR(10);
    DECLARE @strReferencia  VARCHAR(30);
    DECLARE @strDocType     VARCHAR(4);
    DECLARE @strDocStatus   VARCHAR(4);

    -- Variables cursores
    DECLARE @c_Factura            VARCHAR(20);
    DECLARE @c_Entrega            VARCHAR(10);
    DECLARE @c_Referencia         VARCHAR(30);
    DECLARE @c_Doc_Type           VARCHAR(4);
    DECLARE @c_Doc_Status         VARCHAR(4);
    DECLARE @c_Nota_Venta         VARCHAR(50);
    DECLARE @c_Nota_Venta_CFDI    VARCHAR(50);
    DECLARE @c_Fecha_Liberacion   DATETIME;
    DECLARE @c_Folio_Fiscal       VARCHAR(50);
    DECLARE @c_Status             VARCHAR(50);

    DECLARE ScrPreventa_IFC CURSOR LOCAL FAST_FORWARD FOR
        SELECT PG.Factura                AS Factura,
               PG.Entrega                AS Entrega,
               PG.Referencia             AS Referencia,
               PG.Clase_Factura          AS Doc_Type,
               'C'                       AS Doc_Status
        FROM T3.Preventa_General PG
        WHERE PG.Referencia = @strID
          AND PG.Fecha_Cancelacion IS NULL
          AND PG.Fecha_Proc_BATMD  IS NOT NULL;

    DECLARE ScrPreventa_SAP CURSOR LOCAL FAST_FORWARD FOR
        SELECT Doc.Doc_Num_Ref2          AS Factura,
               Doc.Doc_Num_R3            AS Entrega,
               Doc.Doc_Num_Ref1          AS Referencia,
               Doc.Doc_Type              AS Doc_Type,
               Doc.Doc_Status            AS Doc_Status
        FROM EAI.T3R_Sales_Docs_Old Doc
        WHERE Doc.Doc_Num_Ref1 = @strID;

    DECLARE ScrPrompt_IFC CURSOR LOCAL FAST_FORWARD FOR
        SELECT RF.Factura                AS Factura,
               RF.Entrega                AS Entrega,
               RF.Entrega                AS Referencia,
               RF.Tipo_Docto             AS Doc_Type,
               'C'                       AS Doc_Status
        FROM T3.Registro_Fiscal RF
        WHERE RF.Factura = @strID
          AND RF.Entrega IS NOT NULL
          AND RF.Status  != 'Cancelled';

    DECLARE ScrPrompt_SAP CURSOR LOCAL FAST_FORWARD FOR
        SELECT Doc.Doc_Num_Ref2          AS Factura,
               Doc.Doc_Num_R3            AS Entrega,
               Doc.Doc_Num_Ref1          AS Referencia,
               Doc.Doc_Type              AS Doc_Type,
               Doc.Doc_Status            AS Doc_Status
        FROM EAI.T3R_Sales_Docs_Old Doc
        WHERE Doc.Doc_Num_Ref2 = @strID;

    DECLARE ScrVentaUUID CURSOR LOCAL FAST_FORWARD FOR
        SELECT Folio_Fiscal, Status 
        FROM T3.CFDI_Documentos
        WHERE Nota_Venta = @strFactura;             

    DECLARE ScrCFDI CURSOR LOCAL FAST_FORWARD FOR
        SELECT HDP.Nota_Venta, 
               HDP.Nota_Venta_CFDI, 
               CFD.Fecha_Liberacion, 
               CFD.Folio_Fiscal, 
               CFD.Status
        FROM T3.CFDI_Historia_Docto_PAC HDP
        LEFT JOIN T3.CFDI_Documentos CFD ON HDP.Nota_Venta_CFDI = CFD.Nota_Venta
        WHERE HDP.Nota_Venta = @strFactura; 

    BEGIN TRY
        SET @strID          = @sSAPreference;
        SET @strFactura     = 'NotFound';
        SET @rtDoc_Num      = '';
        SET @rtInvoiceID    = '';
        SET @rtAccnt_ID     = '';
        SET @rtSubTypeCD    = '';
        SET @rtUUID         = '';
        SET @rtUUID_Status  = '';
        SET @rtInvc_dt      = NULL;
        SET @rtTtl_Invc_Amt = NULL;
        SET @rtNota_Venta   = '';
        SET @rtRFC          = ''; 
        SET @rtCreditDays   = NULL;   

        OPEN ScrPrompt_IFC;
        FETCH NEXT FROM ScrPrompt_IFC INTO @c_Factura, @c_Entrega, @c_Referencia, @c_Doc_Type, @c_Doc_Status;
        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @strFactura    = @c_Factura;
            SET @strEntrega    = @c_Entrega;
            SET @strReferencia = @c_Referencia;
            SET @strDocType    = @c_Doc_Type;
            SET @strDocStatus  = @c_Doc_Status;      
            FETCH NEXT FROM ScrPrompt_IFC INTO @c_Factura, @c_Entrega, @c_Referencia, @c_Doc_Type, @c_Doc_Status;
        END;
        CLOSE ScrPrompt_IFC;
        DEALLOCATE ScrPrompt_IFC;

        IF (@strFactura = 'NotFound') 
        BEGIN
            OPEN ScrPreventa_IFC;
            FETCH NEXT FROM ScrPreventa_IFC INTO @c_Factura, @c_Entrega, @c_Referencia, @c_Doc_Type, @c_Doc_Status;
            WHILE @@FETCH_STATUS = 0
            BEGIN
                SET @strFactura    = @c_Factura;
                SET @strEntrega    = @c_Entrega;
                SET @strReferencia = @c_Referencia;
                SET @strDocType    = @c_Doc_Type;
                SET @strDocStatus  = @c_Doc_Status;      
                FETCH NEXT FROM ScrPreventa_IFC INTO @c_Factura, @c_Entrega, @c_Referencia, @c_Doc_Type, @c_Doc_Status;
            END;
            CLOSE ScrPreventa_IFC;
            DEALLOCATE ScrPreventa_IFC;
        END;

        IF (@strFactura = 'NotFound') 
        BEGIN
            OPEN ScrPrompt_SAP;
            FETCH NEXT FROM ScrPrompt_SAP INTO @c_Factura, @c_Entrega, @c_Referencia, @c_Doc_Type, @c_Doc_Status;
            WHILE @@FETCH_STATUS = 0
            BEGIN
                IF (@c_Doc_Status = 'C') 
                BEGIN
                    SET @strFactura    = @c_Factura;
                    SET @strEntrega    = @c_Entrega;
                    SET @strReferencia = @c_Referencia;
                    SET @strDocType    = @c_Doc_Type;
                    SET @strDocStatus  = @c_Doc_Status;      
                END;   
                FETCH NEXT FROM ScrPrompt_SAP INTO @c_Factura, @c_Entrega, @c_Referencia, @c_Doc_Type, @c_Doc_Status;
            END;
            CLOSE ScrPrompt_SAP;
            DEALLOCATE ScrPrompt_SAP;
        END;

        IF (@strFactura = 'NotFound') 
        BEGIN
            OPEN ScrPreventa_SAP;
            FETCH NEXT FROM ScrPreventa_SAP INTO @c_Factura, @c_Entrega, @c_Referencia, @c_Doc_Type, @c_Doc_Status;
            WHILE @@FETCH_STATUS = 0
            BEGIN
                IF (@c_Doc_Status = 'C') 
                BEGIN
                    SET @strFactura    = @c_Factura;
                    SET @strEntrega    = @c_Entrega;
                    SET @strReferencia = @c_Referencia;
                    SET @strDocType    = @c_Doc_Type;
                    SET @strDocStatus  = @c_Doc_Status;      
                END;   
                FETCH NEXT FROM ScrPreventa_SAP INTO @c_Factura, @c_Entrega, @c_Referencia, @c_Doc_Type, @c_Doc_Status;
            END;
            CLOSE ScrPreventa_SAP;
            DEALLOCATE ScrPreventa_SAP;
        END;

        IF (@strFactura != 'NotFound') 
        BEGIN
            OPEN ScrCFDI;
            FETCH NEXT FROM ScrCFDI INTO @c_Nota_Venta, @c_Nota_Venta_CFDI, @c_Fecha_Liberacion, @c_Folio_Fiscal, @c_Status;
            WHILE @@FETCH_STATUS = 0
            BEGIN
                SET @rtNota_Venta = @c_Nota_Venta_CFDI; 
                IF (@c_Fecha_Liberacion IS NULL) 
                BEGIN
                    SET @rtUUID_Status = 'NotSend';
                END
                ELSE IF (@c_Folio_Fiscal IS NULL) 
                BEGIN
                    SET @rtUUID_Status = 'NotConfirmed';
                END
                ELSE
                BEGIN
                    SET @rtUUID        = @c_Folio_Fiscal;
                    SET @rtUUID_Status = @c_Status;
                END;   
                FETCH NEXT FROM ScrCFDI INTO @c_Nota_Venta, @c_Nota_Venta_CFDI, @c_Fecha_Liberacion, @c_Folio_Fiscal, @c_Status;
            END;
            CLOSE ScrCFDI;
            DEALLOCATE ScrCFDI;
        END
        ELSE
        BEGIN
            SET @strFactura = @strID; 
        END;

    END TRY
    BEGIN CATCH
        --ROLLBACK TRANSACTION;

        -- redundante
        SET @sMsg = SUBSTRING(CAST(ERROR_NUMBER() AS VARCHAR(50)) + '-' + ERROR_MESSAGE(), 1, 250);
        SET @sMsg = SUBSTRING(ERROR_MESSAGE(), 1, 250);

        PRINT REPLICATE('-', 80);
        PRINT 'Problemas en la ejecucion del Procedimiento';
        PRINT 'FAVOR DE ESCALAR LOS SIGUIENTES DATOS :';
        PRINT 'Procedimiento : GET_CFDI_DOCUMENTO';
        PRINT 'Fecha         : ' + FORMAT(GETDATE(), 'yyyyMMdd HH:mm:ss');
        PRINT 'Referencia    : ' + ISNULL(@strID, '');
        PRINT 'Error         : ' + ISNULL(@sMsg, '');
        PRINT REPLICATE('-', 80);

        INSERT INTO T3.RF_ERROR_LOG 
            (FECHA, RUTINA, REFERENCIA, ERROR_DESC)
        VALUES
            (GETDATE(), 'GET_CFDI_DOCUMENTO', @strID, @sMsg);
        
        
    END CATCH;
END;
GO
