USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[MX_CHECK_LN_NUM]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [T3].[MX_CHECK_LN_NUM] 
(
    @v_ROW_ID VARCHAR(50)
)
AS
BEGIN
    SET NOCOUNT ON;

    --------------------------------------------------------
    --  ZONA DE DECLARACIONES
    --------------------------------------------------------
    DECLARE @sMsg         VARCHAR(500);
    DECLARE @sCommand     VARCHAR(100);
    DECLARE @nReferencia  INT; -- NUMBER(03)
    DECLARE @nCEOk        INT; -- NUMBER(01)
    DECLARE @nLn_Range    INT; -- NUMBER(03)
    DECLARE @nLn_Num      INT; -- NUMBER(03)
    DECLARE @nItems       INT; -- NUMBER(03)

    -- Variables cursor
    DECLARE @c_Ln_Num     INT;
    DECLARE @c_FACTURA INT; -- AQUI CAMPO LLAVE

    DECLARE ScrItems CURSOR LOCAL FAST_FORWARD FOR
        SELECT ISNULL(Item.Num_Linea, 0) AS Ln_Num,
               Item.FACTURA           AS FACTURA -- AQUI CAMPO LLAVE
        FROM T3.Preventa_Detalle Item
        WHERE Item.Factura = @v_ROW_ID
        ORDER BY ISNULL(Num_Linea, 0);

    BEGIN TRY

        SELECT @nLn_Num = COUNT(Num_Linea), 
               @nItems  = MAX(Num_Linea)
        FROM T3.Preventa_Detalle Item
        WHERE Item.Factura = @v_ROW_ID;

        SET @nLn_Range = @nItems + @nLn_Num + 1;
        SET @nLn_Num   = 0;
        SET @nCEOk     = 0;
        SET @nItems    = 0;

        OPEN ScrItems;
        FETCH NEXT FROM ScrItems INTO @c_Ln_Num, @c_FACTURA;
        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @nItems = @nItems + 1;
            
            IF (@nItems = 1) 
            BEGIN
                SET @nLn_Num = @c_Ln_Num;
            END;
            
            IF ((@nItems > 1) OR (@c_Ln_Num = 0)) 
            BEGIN
                IF (@nLn_Num = @c_Ln_Num) 
                BEGIN
                    SET @nCEOk = 1;
                    
                    UPDATE T3.Preventa_Detalle 
                    SET Num_Linea = @nLn_Range
                    WHERE FACTURA = @c_FACTURA; -- AQUI CAMPO LLAVE
                    
                    SET @nLn_Range = @nLn_Range + 1;
                END
                ELSE
                BEGIN
                    SET @nLn_Num = @c_Ln_Num;
                END;
            END;
            
            FETCH NEXT FROM ScrItems INTO @c_Ln_Num, @c_FACTURA;
        END;
        CLOSE ScrItems;
        DEALLOCATE ScrItems;

    END TRY
    BEGIN CATCH
        
        IF CURSOR_STATUS('local', 'ScrItems') >= -1
        BEGIN
            IF CURSOR_STATUS('local', 'ScrItems') >= 0 CLOSE ScrItems;
            DEALLOCATE ScrItems;
        END;

        SET @sMsg = SUBSTRING(CAST(ERROR_NUMBER() AS VARCHAR(50)) + '-' + ERROR_MESSAGE(), 1, 250);
        PRINT @sMsg;

    END CATCH;
END;
GO
