USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[MX10_APLICACION_CM_HISTORY]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [T3].[MX10_APLICACION_CM_HISTORY] 
(
    @sInvoiceID VARCHAR(50)
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sMsg            VARCHAR(500);
    DECLARE @sErrorCode      VARCHAR(500);
    DECLARE @v_ID            VARCHAR(30);
    DECLARE @sAccnt_ID       VARCHAR(30);
    DECLARE @sProcesar       VARCHAR(2);
    DECLARE @sFacturaV3      VARCHAR(20);
    DECLARE @nBonif_Subt     NUMERIC(22, 7);
    DECLARE @nBonif_IVA      NUMERIC(22, 7);
    DECLARE @nBonif_Porc     NUMERIC(22, 7);
    DECLARE @sUbicacion      VARCHAR(4);
    DECLARE @sHora_Factura   VARCHAR(10);
    DECLARE @nPrecioUnitario NUMERIC(22, 7);
    DECLARE @sMetodoDePago   VARCHAR(60);
    DECLARE @sNumCtaPago     VARCHAR(60);

    -- Variables cursor
    DECLARE @c_Fecha_Documento  DATETIME;
    DECLARE @c_Tipo_Documento   VARCHAR(50);
    DECLARE @c_Sociedad         VARCHAR(50);
    DECLARE @c_Moneda           VARCHAR(50);
    DECLARE @c_Numero_Documento VARCHAR(50);
    DECLARE @c_Monto_Aplicar    NUMERIC(22, 7);
    DECLARE @c_Texto            VARCHAR(250);
    DECLARE @c_Nota_Credito     VARCHAR(50);
    DECLARE @c_FacturaSD        VARCHAR(50);
    DECLARE @c_FacturaT3        VARCHAR(50);
    DECLARE @c_Folio_UUID       VARCHAR(50);
    DECLARE @c_Fecha_Registro   DATETIME;

    DECLARE ScrAllocation CURSOR LOCAL FAST_FORWARD FOR
        SELECT CONVERT(DATETIME, Ldr.Fecha_Documento, 101) AS Fecha_Documento,
               Ldr.Tipo_Documento                          AS Tipo_Documento,
               Ldr.Sociedad                                AS Sociedad,
               Ldr.Moneda                                  AS Moneda,
               Ldr.Numero_Documento                        AS Numero_Documento,
               Ldr.Monto_Aplicar                           AS Monto_Aplicar,
               Ldr.Texto                                   AS Texto,
               Ldr.Nota_Credito                            AS Nota_Credito,
               PG.Entrega                                  AS FacturaSD,
               PG.Factura                                  AS FacturaT3,
               CFD.Folio_Fiscal                            AS Folio_UUID,
               MXCM.Fecha_Registro                         AS Fecha_Registro
        FROM EAI.MX10_APLICACION_CM_LDR Ldr
        INNER JOIN T3.Preventa_General PG  ON Ldr.Texto   = PG.Entrega
        INNER JOIN T3.CFDI_Documentos  CFD ON PG.Factura  = CFD.Nota_Venta
        LEFT JOIN T3.MX10_APLICACION_CM MXCM 
               ON Ldr.Numero_Documento = MXCM.Numero_Documento
              AND Ldr.Nota_Credito     = MXCM.Nota_Credito
              AND Ldr.Texto            = MXCM.Factura
        WHERE Ldr.Texto IS NOT NULL
          AND Ldr.Texto != 'Texto'
          AND Ldr.Texto != 'Text';

    BEGIN TRY
        SET @sProcesar = 'NO';

        OPEN ScrAllocation;
        FETCH NEXT FROM ScrAllocation INTO @c_Fecha_Documento, @c_Tipo_Documento, @c_Sociedad, @c_Moneda, @c_Numero_Documento, @c_Monto_Aplicar, @c_Texto, @c_Nota_Credito, @c_FacturaSD, @c_FacturaT3, @c_Folio_UUID, @c_Fecha_Registro;
        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @v_ID = @c_Numero_Documento;

            IF (@c_Fecha_Registro IS NULL) 
            BEGIN
                SET @v_ID = @c_Nota_Credito;
                
                INSERT INTO T3.MX10_APLICACION_CM 
                    (Fecha_Documento, Tipo_Documento, Sociedad, Moneda,
                     Numero_Documento, Monto_Aplicar, Factura, Nota_Credito, Fecha_Registro)
                VALUES
                    (@c_Fecha_Documento, @c_Tipo_Documento, @c_Sociedad, @c_Moneda,
                     @c_Numero_Documento, @c_Monto_Aplicar, @c_FacturaSD, @c_Nota_Credito, GETDATE());
            END;

            FETCH NEXT FROM ScrAllocation INTO @c_Fecha_Documento, @c_Tipo_Documento, @c_Sociedad, @c_Moneda, @c_Numero_Documento, @c_Monto_Aplicar, @c_Texto, @c_Nota_Credito, @c_FacturaSD, @c_FacturaT3, @c_Folio_UUID, @c_Fecha_Registro;
        END;
        CLOSE ScrAllocation;
        DEALLOCATE ScrAllocation;

    END TRY
    BEGIN CATCH
 
        IF CURSOR_STATUS('local', 'ScrAllocation') >= -1
        BEGIN
            IF CURSOR_STATUS('local', 'ScrAllocation') >= 0 
			begin
				CLOSE ScrAllocation;
			end
            DEALLOCATE ScrAllocation;
        END;

        SET @sErrorCode = 'SQL-' + CAST(ERROR_NUMBER() AS VARCHAR(50));
        SET @sMsg = SUBSTRING(CAST(ERROR_NUMBER() AS VARCHAR(50)) + '-' + ERROR_MESSAGE(), 1, 250);      
        
        INSERT INTO EAI_OWNER.MX_EAI_MESSAGE_LOG
          ( DIRECTION          , REFERENCE      , CREATED             , MESSAGE        ,
            STATUS             , QUEUE_NAME     , SIEBEL_ERROR_MESSAGE, SOURCE         , 
            SIEBEL_ERROR_CODE  , RETRY_COUNT    , SEQUENCE            , PARENT_ROW_ID   )
        VALUES 
          ( 'Collecting-MX10'  , @v_ID          , GETDATE()           , NULL           ,
            'Error'            , 'MX10_APLICACION_CM', @sMsg          , 'XML'          ,
            @sErrorCode        , NULL           , NULL                , NULL            );

    END CATCH;
END;
GO
