USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[MX10_APLICACION_COBZA_HISTORY]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [T3].[MX10_APLICACION_COBZA_HISTORY] 
(
    @sInvoiceID VARCHAR(50)
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sMsg            VARCHAR(500);
    DECLARE @sErrorCode      VARCHAR(500);
    DECLARE @v_ID            VARCHAR(30);
    DECLARE @sAccnt_ID       VARCHAR(30);
    DECLARE @sProcesar       VARCHAR(2);
    DECLARE @sFacturaV3      VARCHAR(20);
    DECLARE @nBonif_Subt     NUMERIC(22, 7);
    DECLARE @nBonif_IVA      NUMERIC(22, 7);
    DECLARE @nBonif_Porc     NUMERIC(22, 7);
    DECLARE @sUbicacion      VARCHAR(4);
    DECLARE @sHora_Factura   VARCHAR(10);
    DECLARE @nPrecioUnitario NUMERIC(22, 7);
    DECLARE @sMetodoDePago   VARCHAR(60);
    DECLARE @sNumCtaPago     VARCHAR(60);
    DECLARE @nNumero_Pago    INT;            -- NUMBER(03)
    DECLARE @nSaldoInicial   NUMERIC(15, 2); -- NUMBER(15,2)
    DECLARE @nMonto_Aplicar  NUMERIC(15, 2); -- NUMBER(15,2)

    -- Variables cursor 1
    DECLARE @c_Fecha_Documento    DATETIME;
    DECLARE @c_Documento          VARCHAR(50);
    DECLARE @c_Asignacion_2       VARCHAR(50);
    DECLARE @c_Tipo_Documento     VARCHAR(50);
    DECLARE @c_Sociedad           VARCHAR(50);
    DECLARE @c_Moneda             VARCHAR(50);
    DECLARE @c_Numero_Documento   VARCHAR(50);
    DECLARE @c_Monto_Aplicar      NUMERIC(15, 2);
    DECLARE @c_Texto              VARCHAR(250);
    DECLARE @c_FacturaSD          VARCHAR(50);
    DECLARE @c_FacturaT3          VARCHAR(50);
    DECLARE @c_Saldo_Inicial      NUMERIC(15, 2);
    DECLARE @c_Folio_UUID         VARCHAR(50);
    DECLARE @c_Fecha_Registro     DATETIME;
    DECLARE @c_Fecha_Compensacion DATETIME;


    DECLARE @c_Cantidad_Pagos     INT;
    DECLARE @c_Importe            NUMERIC(15, 2);

    DECLARE ScrAllocation CURSOR LOCAL FAST_FORWARD FOR
        SELECT CONVERT(DATETIME, Ldr.Fecha_Compensacion, 104) AS Fecha_Documento,
               Ldr.Documento_Compensacion                     AS Documento,
               Ldr.Asignacion_2                               AS Asignacion_2,
               Ldr.Tipo_Documento                             AS Tipo_Documento,
               ISNULL(Ldr.Sociedad, 'MX10')                   AS Sociedad,
               ISNULL(Ldr.Moneda, 'MXN')                      AS Moneda,
               Ldr.Documento                                  AS Numero_Documento,
               CAST(REPLACE(TRIM(Ldr.Monto_Aplicar), ',', '') AS NUMERIC(15,2)) AS Monto_Aplicar,
               Ldr.Texto                                      AS Texto,
               PG.Entrega                                     AS FacturaSD,
               PG.Factura                                     AS FacturaT3,
               (PG.Valor_Subt + PG.Valor_IVA)                 AS Saldo_Inicial,
               CFD.Folio_Fiscal                               AS Folio_UUID,
               MXCM.Fecha_Registro                            AS Fecha_Registro,
               CONVERT(DATETIME, Ldr.Fecha_Compensacion, 104) AS Fecha_Compensacion
        FROM EAI.MX10_APLICACION_COBZA_LDR Ldr
        INNER JOIN T3.Preventa_General PG ON Ldr.Documento = PG.Entrega
        INNER JOIN T3.CFDI_Documentos CFD ON PG.Factura    = CFD.Nota_Venta
        LEFT JOIN T3.Mx10_Aplicacion_Cobza MXCM 
               ON Ldr.Documento_Compensacion = MXCM.Numero_Documento
              AND Ldr.Documento              = MXCM.Factura
              AND Ldr.Asignacion_2           = MXCM.Documento_Interno
        WHERE ISNULL(Ldr.Row_Id, 'NULO') != 'STARTDATA' --verificar si existe la columna row_id en la tabla
          AND ISNULL(Ldr.Row_Id, 'NULO') != 'ENDDATA';

    DECLARE ScrPagoParcial CURSOR LOCAL FAST_FORWARD FOR
        SELECT COUNT(*)                     AS Cantidad_Pagos,
               SUM(ISNULL(Monto_Aplicar, 0)) AS Importe
        FROM T3.MX10_APLICACION_COBZA
        WHERE Factura = @v_ID;


    BEGIN TRY
        SET @sProcesar = 'NO';

        OPEN ScrAllocation;
        FETCH NEXT FROM ScrAllocation INTO @c_Fecha_Documento, @c_Documento, @c_Asignacion_2, @c_Tipo_Documento, @c_Sociedad, @c_Moneda, @c_Numero_Documento, @c_Monto_Aplicar, @c_Texto, @c_FacturaSD, @c_FacturaT3, @c_Saldo_Inicial, @c_Folio_UUID, @c_Fecha_Registro, @c_Fecha_Compensacion;
        
        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @v_ID = @c_Numero_Documento;

            IF (@c_Fecha_Registro IS NULL) 
            BEGIN
                SET @v_ID           = @c_FacturaSD;
                SET @nNumero_Pago   = 1;
                SET @nSaldoInicial  = @c_Saldo_Inicial;
                SET @nMonto_Aplicar = @c_Monto_Aplicar;

                OPEN ScrPagoParcial;
                FETCH NEXT FROM ScrPagoParcial INTO @c_Cantidad_Pagos, @c_Importe;
                WHILE @@FETCH_STATUS = 0
                BEGIN
                    SET @nNumero_Pago  = ISNULL(@c_Cantidad_Pagos, 0) + 1;
                    SET @nSaldoInicial = @nSaldoInicial - ISNULL(@c_Importe, 0);
                    FETCH NEXT FROM ScrPagoParcial INTO @c_Cantidad_Pagos, @c_Importe;
                END;
                CLOSE ScrPagoParcial;

                IF (@nMonto_Aplicar > @nSaldoInicial) 
                BEGIN
                    SET @nMonto_Aplicar = @nSaldoInicial;
                END;

                INSERT INTO T3.MX10_APLICACION_COBZA
                    (Fecha_Documento, Tipo_Documento, Sociedad, Moneda,
                     Documento_Interno, Saldo_Anterior, Numero_Pago, Folio_UUID,
                     Numero_Documento, Monto_Aplicar, Factura, Fecha_Registro)
                VALUES
                    (@c_Fecha_Documento, @c_Tipo_Documento, @c_Sociedad, @c_Moneda,
                     @c_Asignacion_2, @nSaldoInicial, @nNumero_Pago, @c_Folio_UUID,
                     @c_Documento, @nMonto_Aplicar, @c_FacturaSD, GETDATE());
            END;

            FETCH NEXT FROM ScrAllocation INTO @c_Fecha_Documento, @c_Documento, @c_Asignacion_2, @c_Tipo_Documento, @c_Sociedad, @c_Moneda, @c_Numero_Documento, @c_Monto_Aplicar, @c_Texto, @c_FacturaSD, @c_FacturaT3, @c_Saldo_Inicial, @c_Folio_UUID, @c_Fecha_Registro, @c_Fecha_Compensacion;
        END;
        
        CLOSE ScrAllocation;
        DEALLOCATE ScrAllocation;
        
        DEALLOCATE ScrPagoParcial;

    END TRY
    BEGIN CATCH
        IF CURSOR_STATUS('local', 'ScrPagoParcial') >= -1
        BEGIN
            IF CURSOR_STATUS('local', 'ScrPagoParcial') >= 0 CLOSE ScrPagoParcial;
            DEALLOCATE ScrPagoParcial;
        END;

        IF CURSOR_STATUS('local', 'ScrAllocation') >= -1
        BEGIN
            IF CURSOR_STATUS('local', 'ScrAllocation') >= 0 CLOSE ScrAllocation;
            DEALLOCATE ScrAllocation;
        END;

        SET @sErrorCode = 'SQL-' + CAST(ERROR_NUMBER() AS VARCHAR(50));
        SET @sMsg = SUBSTRING(CAST(ERROR_NUMBER() AS VARCHAR(50)) + '-' + ERROR_MESSAGE(), 1, 250);      
        
        INSERT INTO EAI_OWNER.MX_EAI_MESSAGE_LOG
          ( DIRECTION          , REFERENCE      , CREATED             , MESSAGE        ,
            STATUS             , QUEUE_NAME     , SIEBEL_ERROR_MESSAGE, SOURCE         , 
            SIEBEL_ERROR_CODE  , RETRY_COUNT    , SEQUENCE            , PARENT_ROW_ID   )
        VALUES 
          ( 'Collecting-MX10'  , @v_ID          , GETDATE()           , NULL           ,
            'Error'            , 'MX10_APLICACION_COBZA', @sMsg       , 'XML'          ,
            @sErrorCode        , NULL           , NULL                , NULL            );

    END CATCH;
END;
GO
