USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_T3_DQC_BEFORE_FOC]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[PROC_T3_DQC_BEFORE_FOC]  
( 
    @pFactura VARCHAR(30) -- revisar tipo de dato de factura
)  
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @strID             VARCHAR(30);
    DECLARE @sMsg              VARCHAR(500); 
    DECLARE @sCtro             VARCHAR(4);
    DECLARE @sStepPLSQL        VARCHAR(60);      
    --
    DECLARE @nPrecioUnitario   NUMERIC(22,2);
    DECLARE @nItems            NUMERIC(22,2);
    DECLARE @nTasaIEPS         NUMERIC(12,6);
    DECLARE @nTotalIEPS        NUMERIC(22,2);
    DECLARE @nBaseCalculoIEPS  NUMERIC(22,2);
    DECLARE @nValorEspecifico  NUMERIC(22,6);
    DECLARE @nValorIVA         NUMERIC(22,6);

    -- Variables cursor
    DECLARE @Rec_Factura         VARCHAR(50),
            @Rec_Cliente_SAP     VARCHAR(50),
            @Rec_Num_Linea       INT,
            @Rec_Material        VARCHAR(50),
            @Rec_Precio_Unitario NUMERIC(22,6),
            @Rec_Tasa_IVA        NUMERIC(12,6),
            @Rec_Doc_Valor_Subt  NUMERIC(22,2),
            @Rec_Doc_Bonif_Subt  NUMERIC(22,2),
            @Rec_Doc_Bonif_IVA   NUMERIC(22,2),
			 @Rec_Cantidad_Vta     NUMERIC(22,2),
            @Rec_Precio_Unit     NUMERIC(22,2),
            @Rec_Valor_Subt      NUMERIC(22,2),
            @Rec_Bonif_Subt      NUMERIC(22,2),
            @Rec_Bonif_IVA       NUMERIC(22,2),
            @Rec_Bonif_Porc      NUMERIC(22,2),
            @Rec_Envio_Subt      NUMERIC(22,2),
            @Rec_Envio_IVA       NUMERIC(22,2);

    DECLARE ScrDatos CURSOR LOCAL FORWARD_ONLY STATIC FOR 
        SELECT FG.Factura                  AS Factura        , 
               FG.Cliente_SAP              AS Cliente_SAP    , 
               FD.Num_Linea                AS Num_Linea      ,
               FD.Material                 AS Material       , 
               FD.Cantidad_Vta             AS Cantidad_Vta   , 
               T3.FN_CALCULA_PRECIO_FOC( FG.Cliente_SAP, FD.Material ) 
                                           AS Precio_Unitario,
               CASE WHEN STZ.Fecha_Registro IS NULL THEN 16 ELSE 0 END
                                           AS Tasa_IVA       ,                                                   
--
               FG.Valor_Subt               AS Doc_Valor_Subt , 
               FG.Bonif_Subt               AS Doc_Bonif_Subt ,
               FG.Bonif_IVA                AS Doc_Bonif_IVA  ,
--
               FD.Precio_Unit              AS Precio_Unit    ,
               FD.Valor_Subt               AS Valor_Subt     ,
               FD.Bonif_Subt               AS Bonif_Subt     ,
               FD.Bonif_IVA                AS Bonif_IVA      ,
               FD.Bonif_Porc               AS Bonif_Porc     ,
               FD.Envio_Subt               AS Envio_Subt     ,
               FD.Envio_IVA                AS Envio_IVA     
         FROM T3.Factura_General FG
         INNER JOIN T3.Factura_Detalle FD ON FG.Factura = FD.Factura
         LEFT OUTER JOIN T3.SKU_TASA_CERO STZ ON FD.Material = STZ.Material -- Mapeo de (+)
         WHERE FG.Fecha_Proc_BATMD       IS NULL
           AND ISNULL( FG.Valor_Subt  , 0 )  > 0
           AND ISNULL( FD.Cantidad_Vta, 0 )  > 0           
           AND ISNULL( FD.Valor_Subt  , 0 )  = 0
           AND ISNULL( FD.Valor_IVA   , 0 )  = 0
           AND ISNULL( FD.Envio_Subt  , 0 )  = 0
           AND ISNULL( FD.Bonif_Subt  , 0 )  = 0 ;

    BEGIN TRY
        SET @strID = '' ;

        OPEN ScrDatos;
        FETCH NEXT FROM ScrDatos INTO 
            @Rec_Factura, @Rec_Cliente_SAP, @Rec_Num_Linea, @Rec_Material, @Rec_Cantidad_Vta, 
            @Rec_Precio_Unitario, @Rec_Tasa_IVA, @Rec_Doc_Valor_Subt, @Rec_Doc_Bonif_Subt, 
            @Rec_Doc_Bonif_IVA, @Rec_Precio_Unit, @Rec_Valor_Subt, @Rec_Bonif_Subt, 
            @Rec_Bonif_IVA, @Rec_Bonif_Porc, @Rec_Envio_Subt, @Rec_Envio_IVA;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @strID            = @Rec_Factura ;
            SET @nPrecioUnitario  = @Rec_Precio_Unitario ;
            SET @nValorEspecifico = @Rec_Precio_Unitario * @Rec_Cantidad_Vta ;
            SET @nValorIVA        = ROUND( @nValorEspecifico * @Rec_Tasa_IVA / 100, 2 ) ;
--
            UPDATE T3.Factura_Detalle 
            SET Precio_Unit = @nPrecioUnitario ,
                Valor_Subt  = @nValorEspecifico,
                Bonif_Subt  = @nValorEspecifico,
                Bonif_IVA   = @nValorIVA       ,
                Bonif_Porc  = 100             ,
                Envio_Subt  = 0               ,
                Envio_IVA   = 0 
            WHERE Factura = @Rec_Factura AND Num_Linea = @Rec_Num_Linea AND Material = @Rec_Material ;

            UPDATE T3.Factura_General 
            SET Valor_Subt = ISNULL( Valor_Subt, 0 ) + @nValorEspecifico,
                Bonif_Subt = ISNULL( Bonif_Subt, 0 ) + @nValorEspecifico,
                Bonif_IVA  = ISNULL( Bonif_IVA , 0 ) + @nValorIVA
            WHERE Factura = @Rec_Factura ;
--
            INSERT INTO EAI_Owner.WA_Logging
                ( Fecha, Usuario, Usuario_Red, IP, Terminal, Documento, Comentario )
            VALUES
                ( 
                    GETDATE(), 
                    ORIGINAL_LOGIN(), 
                    SUSER_SNAME(), 
                    CAST(CONNECTIONPROPERTY('client_net_address') AS VARCHAR(50)),
                    HOST_NAME(),
                    @strID + '-' + @Rec_Material, 
                    'Item Free Of Charge'
                ) ;        

            FETCH NEXT FROM ScrDatos INTO 
                @Rec_Factura, @Rec_Cliente_SAP, @Rec_Num_Linea, @Rec_Material, @Rec_Cantidad_Vta, 
                @Rec_Precio_Unitario, @Rec_Tasa_IVA, @Rec_Doc_Valor_Subt, @Rec_Doc_Bonif_Subt, 
                @Rec_Doc_Bonif_IVA, @Rec_Precio_Unit, @Rec_Valor_Subt, @Rec_Bonif_Subt, 
                @Rec_Bonif_IVA, @Rec_Bonif_Porc, @Rec_Envio_Subt, @Rec_Envio_IVA;
        END;

        CLOSE ScrDatos;
        DEALLOCATE ScrDatos;

    END TRY
    BEGIN CATCH
        IF CURSOR_STATUS('local', 'ScrDatos') >= 0
        BEGIN
            CLOSE ScrDatos;
            DEALLOCATE ScrDatos;
        END;

        SET @sMsg = substring(CAST(ERROR_NUMBER() AS VARCHAR(10)) + '-' + ERROR_MESSAGE(), 1, 250) ;
        SET @sMsg = substring(ERROR_MESSAGE(), 1, 250) ;

        PRINT REPLICATE('-', 80) ;
        PRINT 'Problemas en la ejecucion del Procedimiento' ;
        PRINT 'FAVOR DE ESCALAR LOS SIGUIENTES DATOS :' ;
        PRINT 'Procedimiento : PROC_T3_DQC_BEFORE_FOC' ;
        PRINT 'Fecha         : ' + CONVERT(VARCHAR(20), GETDATE(), 112) + ' ' + CONVERT(VARCHAR(20), GETDATE(), 108) ;
        PRINT 'Referencia    : ' + ISNULL(@strID, '') ;
        PRINT 'Error         : ' + ISNULL(@sMsg, '') ;
        PRINT REPLICATE('-', 80) ;

        INSERT INTO T3.RF_ERROR_LOG 
            ( FECHA, RUTINA, REFERENCIA, ERROR_DESC )
        VALUES
            ( GETDATE(), 'PROC_T3_DQC_BEFORE_FOC', @strID, @sMsg ) ;
            
    END CATCH
END;
GO
