USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_FECHA_MOVCLIENTE]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [T3].[PROC_FECHA_MOVCLIENTE]
    @P_CTRO VARCHAR(50) --revisar contrs tabla
AS
BEGIN
    SET NOCOUNT ON;

    --variables cursores
    DECLARE @REN_CLIENTE_V3 VARCHAR(15);
    DECLARE @REN_FECHA_DOC  DATETIME;
    DECLARE @REN_DISTRIBUIDOR INT;
    DECLARE @REN_CTRO VARCHAR(50);

    DECLARE C_ASIGNACION_PAGO CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT CLIENTE_V3, FECHA_ASIGNACION, DISTRIBUIDOR, CTRO
        FROM ASIGNACION_PAGO FG
        WHERE FECHA_TRN         > GETDATE() - 4
          AND CTRO              = @P_CTRO
          AND Fecha_Proc_BATMD IS NULL 
          AND NOT EXISTS ( SELECT 1 FROM CLIENTE WHERE FG.CLIENTE_V3 = CLIENTE_V3 ) ;

    DECLARE C_FACTURA_GENERAL CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT CLIENTE_V3, FECHA_FACTURA, DISTRIBUIDOR, CTRO
        FROM FACTURA_GENERAL FG
        WHERE FECHA_TRN         > GETDATE() - 4
          AND CTRO              = @P_CTRO
          AND Fecha_Proc_BATMD IS NULL 
          AND NOT EXISTS ( SELECT 1 FROM CLIENTE WHERE FG.CLIENTE_V3 = CLIENTE_V3 ) ;

    DECLARE C_PAGO CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT CLIENTE_V3, FECHA_PAGO, DISTRIBUIDOR, CTRO
        FROM PAGO FG
        WHERE FECHA_TRN         > GETDATE() - 4
          AND CTRO              = @P_CTRO
          AND Fecha_Proc_BATMD IS NULL 
          AND NOT EXISTS ( SELECT 1 FROM CLIENTE WHERE FG.CLIENTE_V3 = CLIENTE_V3 ) ;

    BEGIN TRY
		BEGIN TRAN

        DELETE FROM CONTROL_DOCUMENTOS   ;
        DELETE FROM CONTROL_MOV_CLIENTE  ;

        IF @@TRANCOUNT > 0 COMMIT TRANSACTION; 

        BEGIN TRAN

        OPEN C_FACTURA_GENERAL;
        FETCH NEXT FROM C_FACTURA_GENERAL INTO @REN_CLIENTE_V3, @REN_FECHA_DOC, @REN_DISTRIBUIDOR, @REN_CTRO;
        
        WHILE @@FETCH_STATUS = 0
        BEGIN
            INSERT INTO CONTROL_DOCUMENTOS VALUES ( @REN_CLIENTE_V3, @REN_FECHA_DOC, @REN_DISTRIBUIDOR, @REN_CTRO );
            
            FETCH NEXT FROM C_FACTURA_GENERAL INTO @REN_CLIENTE_V3, @REN_FECHA_DOC, @REN_DISTRIBUIDOR, @REN_CTRO;
        END;
        CLOSE C_FACTURA_GENERAL;
        DEALLOCATE C_FACTURA_GENERAL;

        OPEN C_ASIGNACION_PAGO;
        FETCH NEXT FROM C_ASIGNACION_PAGO INTO @REN_CLIENTE_V3, @REN_FECHA_DOC, @REN_DISTRIBUIDOR, @REN_CTRO;
        
        WHILE @@FETCH_STATUS = 0
        BEGIN
            INSERT INTO CONTROL_DOCUMENTOS VALUES ( @REN_CLIENTE_V3, @REN_FECHA_DOC, @REN_DISTRIBUIDOR, @REN_CTRO );
            
            FETCH NEXT FROM C_ASIGNACION_PAGO INTO @REN_CLIENTE_V3, @REN_FECHA_DOC, @REN_DISTRIBUIDOR, @REN_CTRO;
        END;
        CLOSE C_ASIGNACION_PAGO;
        DEALLOCATE C_ASIGNACION_PAGO;

        OPEN C_PAGO;
        FETCH NEXT FROM C_PAGO INTO @REN_CLIENTE_V3, @REN_FECHA_DOC, @REN_DISTRIBUIDOR, @REN_CTRO;
        
        WHILE @@FETCH_STATUS = 0
        BEGIN
            INSERT INTO CONTROL_DOCUMENTOS VALUES ( @REN_CLIENTE_V3, @REN_FECHA_DOC, @REN_DISTRIBUIDOR, @REN_CTRO );
            
            FETCH NEXT FROM C_PAGO INTO @REN_CLIENTE_V3, @REN_FECHA_DOC, @REN_DISTRIBUIDOR, @REN_CTRO;
        END;
        CLOSE C_PAGO;
        DEALLOCATE C_PAGO;


        IF @@TRANCOUNT > 0 COMMIT TRANSACTION;

        EXEC T3.Proc_Crea_Ctl_Movcliente @P_CTRO = @P_CTRO;

    END TRY
    BEGIN CATCH

        IF CURSOR_STATUS('local', 'C_FACTURA_GENERAL') >= 0 BEGIN CLOSE C_FACTURA_GENERAL; DEALLOCATE C_FACTURA_GENERAL; END;
        IF CURSOR_STATUS('local', 'C_ASIGNACION_PAGO') >= 0 BEGIN CLOSE C_ASIGNACION_PAGO; DEALLOCATE C_ASIGNACION_PAGO; END;
        IF CURSOR_STATUS('local', 'C_PAGO')             >= 0 BEGIN CLOSE C_PAGO;             DEALLOCATE C_PAGO;             END;

        PRINT '***********Mensaje************';
        PRINT 'Error en PROC_FECHA_MOVCLIENTE';

		IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
    END CATCH;
END;

GO
