USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_CFDI_REVERSA]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[PROC_CFDI_REVERSA] 
    @sNota_Venta_AGR VARCHAR(50)
AS
BEGIN

    DECLARE @nNotas          NUMERIC(6,0);
    DECLARE @sMsg            VARCHAR(500);
    DECLARE @strID           VARCHAR(50);
    DECLARE @sNota_Venta_CFDI VARCHAR(50);
   
    BEGIN TRY
        SET @sNota_Venta_CFDI = ISNULL(@sNota_Venta_AGR, '') + 'C';
        SET @strID = @sNota_Venta_CFDI;
        
		BEGIN TRAN

        INSERT INTO T3.CFDI_Agrupado 
          ( Nota_Venta_CFDI, Fecha_Documento, Tipo_Docto, Ctro, Cliente, Sociedad, Fecha_Registro, Cliente_SAP, Doctos )
        SELECT 
               ISNULL(Nota_Venta_CFDI, '') + 'C'                 AS Nota_Venta_CFDI,
               GETDATE()                                         AS Fecha_Documento, 
               Tipo_Docto                                        AS Tipo_Docto     , 
               Ctro, Cliente, Sociedad, 
               GETDATE()                                         AS Fecha_Registro ,
               Cliente_SAP, 
               Doctos  / 2                                       AS Doctos
           FROM T3.CFDI_Agrupado
           WHERE Nota_Venta_CFDI = @sNota_Venta_AGR ;

        INSERT INTO T3.CFDI_Historia_Docto_PAC
            ( Nota_Venta, Ctro, Fecha_Factura, Nota_Venta_CFDI )
        SELECT DISTINCT
               Nota_Venta, Ctro, Fecha_Factura, 
               ISNULL(Nota_Venta_CFDI, '') + 'C'                 AS Nota_Venta_CFDI
           FROM T3.CFDI_Historia_Docto_PAC
           WHERE Nota_Venta_CFDI = @sNota_Venta_AGR ;
           
        SET @nNotas = @@ROWCOUNT ;
        
        UPDATE T3.CFDI_Agrupado 
        SET Doctos = @nNotas
        WHERE Nota_Venta_CFDI = @sNota_Venta_CFDI ;
--
        INSERT INTO T3.CFDI_Agrupado_Detalle
            ( Nota_Venta_CFDI, Num_Linea, Material, Precio_Unitario, Cantidad_Vta,
              Valor_Subt, Valor_IVA, Bonif_Subt, Bonif_IVA ) 
            SELECT Nota_Venta_CFDI, ROW_NUMBER() OVER (ORDER BY Nota_Venta_CFDI, Material, Precio_Unitario), Material, Precio_Unitario, Cantidad_Vta,
                   Valor_Subt, Valor_IVA, Bonif_Subt, Bonif_IVA  
            FROM (        
                   SELECT Vta.Nota_Venta_CFDI             AS Nota_Venta_CFDI,
                          FD.Material                     AS Material       ,
                          FD.Precio_Unit                  AS Precio_Unitario,
                          SUM( FD.Cantidad_Vta )          AS Cantidad_Vta   ,
                          SUM( ISNULL( FD.Valor_Subt, 0 ) ) AS Valor_Subt     ,
                          SUM( ISNULL( FD.Valor_IVA , 0 ) ) AS Valor_IVA      ,
                          SUM( ISNULL( FD.Bonif_Subt, 0 ) ) AS Bonif_Subt     ,
                          SUM( ISNULL( FD.Bonif_IVA , 0 ) ) AS Bonif_IVA 
                      FROM T3.CFDI_Historia_Docto_PAC Vta
                      INNER JOIN T3.Factura_Detalle FD ON Vta.Nota_Venta = FD.Factura
                      WHERE Vta.Nota_Venta_CFDI = @sNota_Venta_CFDI
                      GROUP BY Vta.Nota_Venta_CFDI, FD.Material, FD.Precio_Unit
--                    ORDER BY Vta.Nota_Venta_CFDI, FD.Material, FD.Precio_Unit 
                 ) SubQ ;  

        COMMIT ;
--   
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION ;
        
        SET @sMsg = SUBSTRING(CAST(ERROR_NUMBER() AS VARCHAR) + '-' + ERROR_MESSAGE(), 1, 250) ;
        SET @sMsg = SUBSTRING(ERROR_MESSAGE(), 1, 250) ;
        
        PRINT REPLICATE('-', 80) ;
        PRINT 'Problemas en la ejecucion del Procedimiento' ;
        PRINT 'FAVOR DE ESCALAR LOS SIGUIENTES DATOS :' ;
        PRINT 'Procedimiento : PROC_CFDI_PROCESAR_AGRUPADO' ;
        PRINT 'Fecha         : ' + CONVERT(VARCHAR, GETDATE(), 112) + ' ' + CONVERT(VARCHAR, GETDATE(), 108) ;
        PRINT 'Referencia    : ' + ISNULL(@strID, '') ;
        PRINT 'Error         : ' + ISNULL(@sMsg, '') ;
        PRINT REPLICATE('-', 80) ;
        
        INSERT INTO T3.RF_ERROR_LOG 
           ( FECHA, RUTINA, REFERENCIA, ERROR_DESC )
        VALUES
           ( GETDATE(), 'PROC_CFDI_PROCESAR_AGRUPADO', @strID, @sMsg ) ;
           
    END CATCH
END;
GO
