USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_CFDI_INSERTAR_PAC]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[PROC_CFDI_INSERTAR_PAC] 
   ( @pFactura VARCHAR(MAX) )
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sMsg               VARCHAR(500) ;
    DECLARE @sFactura           VARCHAR(20)  ;
    DECLARE @nDoctos            NUMERIC(6,0) ;
    DECLARE @sEtapa             VARCHAR(20)  ;
    DECLARE @sProcesar          VARCHAR(4)   ;
    DECLARE @dtFecha_Proc_BATMD DATETIME     ;
    DECLARE @strID              VARCHAR(50)  ;
    DECLARE @sAccnt_ID          VARCHAR(50)  ;
    DECLARE @sClienteSAP        VARCHAR(10)  ;

    -- Variables cursor
    DECLARE @RF_Factura VARCHAR(50), @RF_Fecha_Factura DATETIME, @RF_Clase_Factura VARCHAR(50), 
            @RF_Cliente_SAP VARCHAR(50), @RF_Ctro VARCHAR(50), @RF_Sociedad VARCHAR(50), 
            @RF_Fecha_Proc_BATMD DATETIME, @RF_Fecha_YYYY VARCHAR(4);

    DECLARE @ScrPed_Factura VARCHAR(50), @ScrPed_Entrega VARCHAR(50), @ScrPed_Material VARCHAR(50), @ScrPed_Pedimento VARCHAR(50);

    DECLARE ScrHeader CURSOR LOCAL FOR
        SELECT 
               PG.Factura                                  AS Factura          ,
               PG.Fecha_Factura                            AS Fecha_Factura    ,
               PG.Clase_Factura                            AS Clase_Factura    ,
               PG.Cliente_SAP                              AS Cliente_SAP      ,
               PG.Ctro                                     AS Ctro             ,
               Comp.Sociedad                               AS Sociedad         ,
               PG.Fecha_Proc_BATMD                         AS Fecha_Proc_BATMD ,
               FORMAT( PG.Fecha_Proc_BATMD, 'yyyy' )       AS Fecha_YYYY
        FROM T3.Preventa_General PG
        INNER JOIN T3.RF_Complemento   Comp ON PG.Factura        = Comp.Factura 
        INNER JOIN T3.Tipo_Documento   TD   ON PG.Clase_Factura  = TD.Tipo_Documento
        WHERE PG.Factura        = @pFactura
          AND TD.CFD            = 'NO' ;              -- CFDI

    DECLARE ScrPedimento CURSOR LOCAL FOR
        SELECT PG.Factura, PG.Entrega, PD.Material,
               ISNULL( Ped.Pedimento, 'NO' ) AS Pedimento
        FROM T3.Preventa_General      PG 
        INNER JOIN T3.Preventa_Detalle      PD  ON PG.Factura    = PD.Factura 
        INNER JOIN T3.RF_Pedimento_SKU      SKU ON PD.Material   = SKU.Material
        LEFT OUTER JOIN T3.RF_Pedimento_Detalle  Ped ON PG.Factura    = Ped.Folio_Fiscal 
        WHERE PG.Factura    = @pFactura
          AND SKU.Pedimento = 'SI' ;

    BEGIN TRY
        SET @strID     = @pFactura ;
        SET @sProcesar = 'SI' ;

        OPEN ScrHeader;
        FETCH NEXT FROM ScrHeader INTO 
            @RF_Factura, @RF_Fecha_Factura, @RF_Clase_Factura, @RF_Cliente_SAP, @RF_Ctro, @RF_Sociedad, @RF_Fecha_Proc_BATMD, @RF_Fecha_YYYY;

        WHILE @@FETCH_STATUS = 0
        BEGIN
           SET @strID       = @RF_Factura  ;
           SET @nDoctos     = @nDoctos + 1 ;
           SET @sClienteSAP = @RF_Cliente_SAP ;
           SET @sAccnt_ID   = @RF_Cliente_SAP ;

           IF ( @RF_Fecha_Proc_BATMD IS NOT NULL ) 
           BEGIN
              IF ( @RF_Fecha_YYYY != '2999' ) 
              BEGIN
                 IF    ( @RF_Sociedad IN ( 'MX01', 'MX10' ) ) 
                 BEGIN
                    IF ( @RF_Clase_Factura IN ( 'C020', 'Z020' ) ) 
                    BEGIN
                       OPEN ScrPedimento;
                       FETCH NEXT FROM ScrPedimento INTO @ScrPed_Factura, @ScrPed_Entrega, @ScrPed_Material, @ScrPed_Pedimento;
                       WHILE @@FETCH_STATUS = 0
                       BEGIN
                          IF ( @ScrPed_Pedimento = 'NO' ) 
                          BEGIN
                             SET @sProcesar = 'NO' ;
                             INSERT INTO T3.RF_Pedimento_Detalle
                                ( Factura_SAP, Folio_Fiscal, SKU, ID, Fecha_Creacion )
                             VALUES
                                ( @ScrPed_Entrega, @ScrPed_Factura, @ScrPed_Material, NEXT VALUE FOR T3.PEDIMENTO_ID, GETDATE() ) ;
                          END
                          ELSE
                          BEGIN
                             SET @sProcesar = 'SI' ;
                          END 
                          
                          FETCH NEXT FROM ScrPedimento INTO @ScrPed_Factura, @ScrPed_Entrega, @ScrPed_Material, @ScrPed_Pedimento;
                       END 
                       CLOSE ScrPedimento;
                    END 

                    IF ( @sProcesar = 'SI' ) 
                    BEGIN
                      INSERT INTO T3.CFDI_Historia_Docto_PAC
                        ( Nota_Venta, Ctro, Fecha_Factura, Nota_Venta_CFDI )
                      VALUES  
                        ( @RF_Factura, @RF_Ctro, @RF_Fecha_Factura, @RF_Factura ) ;            
--                    EXEC T3.PROC_CFDI_GENERAR_MX01 @RF_Factura ;
                      EXEC T3.PROC_V40_GENERAR_MX01  @RF_Factura ;
                    END       
                 END
                 ELSE IF ( @RF_Sociedad = 'MX06' ) 
                 BEGIN
                     IF ( @RF_Clase_Factura NOT IN ( 'C006', 'C021', 'C022', 'C025' ) ) 
                     BEGIN
                        INSERT INTO T3.CFDI_Historia_Docto_PAC
                          ( Nota_Venta, Ctro, Fecha_Factura, Nota_Venta_CFDI )
                        VALUES  
                          ( @RF_Factura, @RF_Ctro, @RF_Fecha_Factura, @RF_Factura ) ; 
--                      EXEC T3.PROC_CFDI_GENERAR_MX06 @RF_Factura, @sAccnt_ID ;
--                      EXEC T3.PROC_VSF_GENERAR_MX06  @RF_Factura, @sAccnt_ID ;
                        EXEC T3.PROC_V40_GENERAR_MX06  @RF_Factura, @sAccnt_ID ;
                     END    
                 END
                 ELSE IF ( @RF_Sociedad = 'MX16' ) 
                 BEGIN
                     IF ( @RF_Clase_Factura NOT IN ( 'C006', 'C021', 'C022', 'C025' ) ) 
                     BEGIN
                        INSERT INTO T3.CFDI_Historia_Docto_PAC
                          ( Nota_Venta, Ctro, Fecha_Factura, Nota_Venta_CFDI )
                        VALUES  
                          ( @RF_Factura, @RF_Ctro, @RF_Fecha_Factura, @RF_Factura ) ; 
--                      EXEC T3.PROC_CFDI_GENERAR_MX06 @RF_Factura, @sAccnt_ID ;
--                      EXEC T3.PROC_VSF_GENERAR_MX06  @RF_Factura, @sAccnt_ID ;
                        EXEC T3.PROC_V40_GENERAR_MX06  @RF_Factura, @sAccnt_ID ;
                     END    
                 END 
              END 
           END 

           FETCH NEXT FROM ScrHeader INTO 
               @RF_Factura, @RF_Fecha_Factura, @RF_Clase_Factura, @RF_Cliente_SAP, @RF_Ctro, @RF_Sociedad, @RF_Fecha_Proc_BATMD, @RF_Fecha_YYYY;
        END 
        
        CLOSE ScrHeader;
        DEALLOCATE ScrHeader;
        DEALLOCATE ScrPedimento;

    END TRY
    BEGIN CATCH

        IF CURSOR_STATUS('global','ScrHeader') >= -1 OR CURSOR_STATUS('local','ScrHeader') >= -1 BEGIN CLOSE ScrHeader; DEALLOCATE ScrHeader; END
        IF CURSOR_STATUS('global','ScrPedimento') >= -1 OR CURSOR_STATUS('local','ScrPedimento') >= -1 BEGIN CLOSE ScrPedimento; DEALLOCATE ScrPedimento; END

        SET @sMsg = SUBSTRING( CAST(ERROR_NUMBER() AS VARCHAR) + '-' + ERROR_MESSAGE(), 1, 250 ) ;
        SET @sMsg = SUBSTRING( ERROR_MESSAGE(), 1, 250 ) ;

        PRINT REPLICATE( '-', 80 ) ;
        PRINT 'Problemas en la ejecucion del Procedimiento' ;
        PRINT 'FAVOR DE ESCALAR LOS SIGUIENTES DATOS :' ;
        PRINT 'Procedimiento : ' + 'PROC_CFDI_INSERTAR_PAC' ; 
        PRINT 'Fecha         : ' + FORMAT( GETDATE(), 'yyyyMMdd HH:mm:ss' ) ;
        PRINT 'Referencia    : ' + ISNULL(@strID, '') ;
        PRINT 'Error         : ' + ISNULL(@sMsg, '') ;
        PRINT REPLICATE( '-', 80 ) ;

        INSERT INTO T3.RF_ERROR_LOG 
           ( FECHA, RUTINA, REFERENCIA, ERROR_DESC )
        VALUES
           ( GETDATE(), 'PROC_CFDI_INSERTAR_PAC', @strID, @sMsg ) ;

    END CATCH
END;
GO
