USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_T3_EOD_CONF]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[PROC_T3_EOD_CONF]  
( 
    @nPID       INT = 0,
    @nDays      INT = 0,
    @nTestMode  INT = 0 
) 
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @v_ID             VARCHAR(50) ;
    DECLARE @sErrorCode       VARCHAR(30) ;      
    DECLARE @sMsg             VARCHAR(300) ;
    DECLARE @nDiasFactura     INT ;
    DECLARE @nDiasNota        INT ;
    DECLARE @nDiasDocto       INT ;
    DECLARE @sEntrega         VARCHAR(20) ;
    DECLARE @nCountFacturas   INT ;
    DECLARE @nCountNotas      INT ;
    DECLARE @nCountEntregas   INT ;
    DECLARE @dtMax_Insert_TS  VARCHAR(60) ;

    -- Variables cursores
    DECLARE @ND_Factura               VARCHAR(50),
            @ND_Fecha_Factura         DATETIME,
            @ND_Fecha_Proc_BATMD      DATETIME,
            @ND_Clase_Factura         VARCHAR(10),
            @ND_Fecha_Trn             DATETIME,
            @ND_Inv_Delivery_Status   VARCHAR(50);
    DECLARE @Doc_Factura              VARCHAR(50),
            @Doc_Fecha_Factura        DATETIME,
            @Doc_Fecha_Proc_BATMD     DATETIME,
            @Doc_Clase_Factura        VARCHAR(10),
            @Doc_Fecha_Trn            DATETIME,
            @Doc_ReferenceID          VARCHAR(50),
            @Doc_Created              DATETIME,
            @Doc_Inv_Delivery_Status  VARCHAR(50),
            @Doc_BillingDoc           VARCHAR(50);

    DECLARE ScrNotDelivered CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT PG.Factura, PG.Fecha_Factura, PG.Fecha_Proc_BATMD, PG.Clase_Factura, PG.Fecha_Trn, 
               SF.Inv_Delivery_Status
           FROM T3.Preventa_General PG
           INNER JOIN T3.Entrega Ent ON PG.Factura = Ent.Factura
           INNER JOIN (
               SELECT
                      REPLACE( Inv.Row_Name                      , '"', '' ) AS Inv_ID             ,
                      REPLACE( Inv.Mobile_Invoice_Number__c      , '"', '' ) AS Inv_Doc_Num        ,
                      REPLACE( Inv.SAP_Invoice_Number__c         , '"', '' ) AS Inv_Factura_SAP    ,
                      REPLACE( Inv.ivydsd__Order__r_Name          , '"', '' ) AS Inv_Order_ID       ,
                      REPLACE( Inv.ivydsd__Invoice_Date__c       , '"', '' ) AS Inv_Fecha          ,
                      REPLACE( Inv.ivyBAT__SAP_CustomerID__c     , '"', '' ) AS Inv_Cliente        ,
                      REPLACE( Inv.ivydsd__Invoice_Status__c     , '"', '' ) AS Inv_Status         ,
                      REPLACE( Inv.Delivery_Status__c            , '"', '' ) AS Inv_Delivery_Status,
                      CASE WHEN Inv.Delivery_Status__c = '"Unsuccessful"' THEN
                        'L' + REPLACE( SUBSTRING( REPLACE( Inv.Row_Name, '"', ''), 7, 20), '-', '' )
                      ELSE '' END                                            AS ZLOB_Reference     
                  FROM EAI_Owner.WO_TMP_INVOICE Inv
                  WHERE Inv.Row_Name        != '"NAME"'
                    AND Inv.Delivery_Status__c      != '"Delivered"'
                    AND Inv.Delivery_Status__c      != '"Unsuccessful"'
           ) SF ON PG.Factura = SF.Inv_Doc_Num
           WHERE PG.Fecha_Trn          > GETDATE() - 7
             AND PG.Clase_Factura      = 'C005'
             AND PG.Fecha_Factura      < CONVERT(DATETIME, CONVERT(DATE, GETDATE() + ISNULL( @nDays, 0 )))
             AND PG.Fecha_Cancelacion IS NULL
             AND PG.Fecha_Proc_BATMD  IS NULL;

    DECLARE ScrEntregas_Facturas CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT PG.Factura, PG.Fecha_Factura, PG.Fecha_Proc_BATMD, PG.Clase_Factura, PG.Fecha_Trn, 
               ISNULL( Ent.ReferenceID , 'NO-DELV' ) AS ReferenceID, Ent.Created, SF.Inv_Delivery_Status, 
               ISNULL( Bill.ReferenceID, 'NO-BILL' ) AS BillingDoc
           FROM T3.Preventa_General PG
           LEFT OUTER JOIN EAI_Owner.WO_TMP_INVOICE Inv_Raw ON PG.Factura = REPLACE( Inv_Raw.Mobile_Invoice_Number__c, '"', '' ) AND Inv_Raw.Row_Name != '"NAME"'
           LEFT OUTER JOIN (
               SELECT
                      REPLACE( Inv.Row_Name                      , '"', '' ) AS Inv_ID             ,
                      REPLACE( Inv.Mobile_Invoice_Number__c      , '"', '' ) AS Inv_Doc_Num        ,
                      REPLACE( Inv.SAP_Invoice_Number__c         , '"', '' ) AS Inv_Factura_SAP    ,
                      REPLACE( Inv.ivydsd__Order__r_Name          , '"', '' ) AS Inv_Order_ID       ,
                      REPLACE( Inv.ivydsd__Invoice_Date__c       , '"', '' ) AS Inv_Fecha          ,
                      REPLACE( Inv.ivyBAT__SAP_CustomerID__c     , '"', '' ) AS Inv_Cliente        ,
                      REPLACE( Inv.ivydsd__Invoice_Status__c     , '"', '' ) AS Inv_Status         ,
                      REPLACE( Inv.Delivery_Status__c            , '"', '' ) AS Inv_Delivery_Status,
                      CASE WHEN Inv.Delivery_Status__c = '"Unsuccessful"' THEN
                        'L' + REPLACE( SUBSTRING( REPLACE( Inv.Row_Name, '"', ''), 7, 20), '-', '' )
                      ELSE '' END                                            AS ZLOB_Reference     
                  FROM EAI_Owner.WO_TMP_INVOICE Inv
                  WHERE Inv.Row_Name        != '"NAME"'
           ) SF ON PG.Factura = SF.Inv_Doc_Num
           LEFT OUTER JOIN (
               SELECT ReferenceID, DeliveryType, Order_Num, Created 
                  FROM EAI_Owner.tmp_Document_Header
                  WHERE Created    > GETDATE() - 7
                    AND Order_Num IS NOT NULL
           ) Ent ON PG.Factura = Ent.Order_Num
           LEFT OUTER JOIN (
               SELECT ReferenceID, DeliveryType, PedidoV3 AS Order_Num, Created 
                  FROM EAI_Owner.tmp_Document_Header
                  WHERE Created    > GETDATE() - 7
                    AND PedidoV3  IS NOT NULL
           ) Bill ON PG.Factura = Bill.Order_Num
           WHERE PG.Fecha_Trn       > GETDATE() - 7
             AND PG.Clase_Factura  IN ( 'C005', 'C006' )
             AND PG.Fecha_Factura   < CONVERT(DATETIME, CONVERT(DATE, GETDATE() + ISNULL( @nDays, 0 )))
             AND PG.Fecha_Cancelacion IS NULL
             AND PG.Factura       NOT IN ( SELECT Entr.Factura FROM T3.Entrega Entr WHERE Entr.Factura = PG.Factura );

    BEGIN TRY
        SELECT @dtMax_Insert_TS = CONVERT(VARCHAR(60), MAX(INSERT_TS), 120) 
        FROM EAI_OWNER.WO_TMP_INVOICE ;

        INSERT INTO EAI_Owner.Trace_EAI_Owner ( Created, Object_Type, Object_Reference, Description ) 
        VALUES ( GETDATE(), 'PROC_T3_EOD_CONF', 'BEGIN', @dtMax_Insert_TS ) ; 

        SET @nCountFacturas = 0 ;
        SET @nCountNotas    = 0 ;
        SET @nCountEntregas = 0 ;

        SET @nDiasFactura = EAI_Owner.getConv( 'CFG Settings', 'DiasConfFactura' );
        SET @nDiasNota    = EAI_Owner.getConv( 'CFG Settings', 'DiasConfNota'    );

        IF ( ISNULL( @nTestMode, 0 ) = 1 ) 
        BEGIN
            PRINT 'Dias Facturas => ' + CAST(ISNULL(@nDiasFactura, 0) AS VARCHAR(10)) ;
            PRINT 'Dias Notas    => ' + CAST(ISNULL(@nDiasNota, 0) AS VARCHAR(10)) ;
        END;  

        OPEN ScrNotDelivered;
        FETCH NEXT FROM ScrNotDelivered INTO @ND_Factura, @ND_Fecha_Factura, @ND_Fecha_Proc_BATMD, @ND_Clase_Factura, @ND_Fecha_Trn, @ND_Inv_Delivery_Status;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @v_ID           = @ND_Factura ;
            SET @nCountEntregas = @nCountEntregas + 1 ;
            IF ( ISNULL( @nTestMode, 0 ) = 0 ) 
            BEGIN
                DELETE T3.Entrega        WHERE Factura = @ND_Factura ;
                DELETE T3.RF_Complemento WHERE Factura = @ND_Factura ;
            END;
            FETCH NEXT FROM ScrNotDelivered INTO @ND_Factura, @ND_Fecha_Factura, @ND_Fecha_Proc_BATMD, @ND_Clase_Factura, @ND_Fecha_Trn, @ND_Inv_Delivery_Status;
        END;
        CLOSE ScrNotDelivered;
        DEALLOCATE ScrNotDelivered;

        OPEN ScrEntregas_Facturas;
        FETCH NEXT FROM ScrEntregas_Facturas INTO @Doc_Factura, @Doc_Fecha_Factura, @Doc_Fecha_Proc_BATMD, @Doc_Clase_Factura, @Doc_Fecha_Trn, @Doc_ReferenceID, @Doc_Created, @Doc_Inv_Delivery_Status, @Doc_BillingDoc;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @v_ID    = @Doc_Factura ;
            SET @sEntrega   = 'NO'        ;
            SET @nDiasDocto = DATEDIFF(DAY, @Doc_Fecha_Factura, CONVERT(DATETIME, CONVERT(DATE, GETDATE() + ISNULL( @nDays, 0 )))) ; 

            IF ( @Doc_Clase_Factura = 'C005' ) 
            BEGIN
                IF ( @Doc_Inv_Delivery_Status = 'Delivered' ) 
                BEGIN
                    SET @sEntrega = 'SI' ; -- Factura Entregada
                END
                ELSE IF ( @Doc_Inv_Delivery_Status = 'Unsuccessful' ) 
                BEGIN
                    SET @sEntrega = 'NO' ; -- Factura Unsuccessful
                END
                ELSE IF ( @nDiasDocto > @nDiasFactura ) 
                BEGIN
                    SET @sEntrega = 'SI' ;-- Factura por fecha
                END;
            END
            ELSE IF ( @Doc_Clase_Factura = 'C006' ) 
            BEGIN
                IF ( SUBSTRING( @Doc_Factura, 1, 1 ) = 'L' ) 
                BEGIN
                    IF ( @nDiasDocto > ( @nDiasNota + 1 ) ) 
                    BEGIN
                        SET @sEntrega = 'SI' ; -- Nota por fecha
                    END;
                END
                ELSE 
                BEGIN
                    IF ( @nDiasDocto > @nDiasNota ) 
                    BEGIN
                        SET @sEntrega = 'SI' ;-- Nota por fecha
                    END;
                END;
            END;

            IF ( @sEntrega != 'NO' ) 
            BEGIN
                IF ( @Doc_Clase_Factura = 'C005' ) 
                BEGIN
                    SET @nCountFacturas = @nCountFacturas + 1 ;
                END
                ELSE 
                BEGIN
                    SET @nCountNotas   = @nCountNotas + 1    ;
                END;

                INSERT INTO EAI_Owner.Trace_EAI_Owner ( Created, Object_Type, Object_Reference, Description ) 
                VALUES ( GETDATE(), 'PROC_T3_EOD_CONF', @v_ID, ISNULL(@Doc_ReferenceID, '') + '-' + ISNULL(@Doc_BillingDoc, '') ) ;         

                IF ( ISNULL( @nTestMode, 0 ) = 0 ) 
                BEGIN
                    IF ( ( @Doc_ReferenceID != 'NO-DELV' ) OR ( @Doc_BillingDoc != 'NO-BILL' ) ) 
                    BEGIN
                        EXEC EAI_OWNER.INVOICE_TO_ENTREGA @Doc_ReferenceID, 0, @Doc_BillingDoc ;
                    END;   
                END
                ELSE 
                BEGIN
                    PRINT @Doc_Factura ;
                END;
            END;   

            FETCH NEXT FROM ScrEntregas_Facturas INTO @Doc_Factura, @Doc_Fecha_Factura, @Doc_Fecha_Proc_BATMD, @Doc_Clase_Factura, @Doc_Fecha_Trn, @Doc_ReferenceID, @Doc_Created, @Doc_Inv_Delivery_Status, @Doc_BillingDoc;
        END;
        CLOSE ScrEntregas_Facturas;
        DEALLOCATE ScrEntregas_Facturas;

        IF ( ISNULL( @nTestMode, 0 ) = 1 ) 
        BEGIN
            PRINT 'Entregas => ' + CAST(@nCountEntregas AS VARCHAR(10)) ;
            PRINT 'Facturas => ' + CAST(@nCountFacturas AS VARCHAR(10)) ;
            PRINT 'Notas    => ' + CAST(@nCountNotas AS VARCHAR(10)) ;
        END;   

        UPDATE T3.RF_PROCESOS_LOG 
        SET Proceso_2 = @nCountEntregas, Proceso_3 = @nCountFacturas, Proceso_4 = @nCountNotas
        WHERE PID = @nPID ;      

    END TRY
    BEGIN CATCH
        IF CURSOR_STATUS('local', 'ScrNotDelivered') >= 0 BEGIN CLOSE ScrNotDelivered; DEALLOCATE ScrNotDelivered; END;
        IF CURSOR_STATUS('local', 'ScrEntregas_Facturas') >= 0 BEGIN CLOSE ScrEntregas_Facturas; DEALLOCATE ScrEntregas_Facturas; END;

        SET @sErrorCode = 'SQL-' + CAST(ERROR_NUMBER() AS VARCHAR(10)) ;
        SET @sMsg = SUBSTRING(CAST(ERROR_NUMBER() AS VARCHAR(10)) + '-' + ERROR_MESSAGE(), 1, 250) ;      
        
        INSERT INTO EAI_OWNER.MX_EAI_MESSAGE_LOG
          ( DIRECTION          , REFERENCE           , CREATED             , MESSAGE        , JOB_PID,
            STATUS             , QUEUE_NAME          , SIEBEL_ERROR_MESSAGE, SOURCE         , 
            SIEBEL_ERROR_CODE  , RETRY_COUNT         , SEQUENCE            , PARENT_ROW_ID   )
        VALUES 
          ( 'Job Logging'      , @v_ID                , GETDATE()            , NULL           , @nPID   ,
            'Error'            , 'PROC_T3_EOD_CONF'  , @sMsg               , 'TSQL'        ,
            @sErrorCode        , NULL                , NULL                , NULL            ) ;

    END CATCH
END;
GO
