USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_NDC_PROPUESTA]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [T3].[PROC_NDC_PROPUESTA]
    @sFechaInicio VARCHAR(MAX), 
    @sFechaFinal  VARCHAR(MAX),
    @nVolumenMin  NUMERIC(38,4) = 0,
    @nSubtotalMin NUMERIC(38,4) = 0,
    @sCategoria   VARCHAR(MAX) = 'FMC',
    @sFactor      VARCHAR(MAX) = 'Vol',
    @sMaterial    VARCHAR(MAX) = '',
    @nOutput      NUMERIC(38,4) = 0
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sMsg             VARCHAR(500);
    DECLARE @sCadena          VARCHAR(4000);
    DECLARE @sChar            VARCHAR(1);
    DECLARE @nDoctos          NUMERIC(6,0);
    DECLARE @nNotas           NUMERIC(6,0);
    DECLARE @sEtapa           VARCHAR(20);
    DECLARE @sPorEjecucion    VARCHAR(2);
    DECLARE @nGen_Agrupacion  NUMERIC(8,0);

    DECLARE @strID            VARCHAR(50);
    DECLARE @dtInicio         DATETIME;
    DECLARE @nPID             NUMERIC(8,0);
    DECLARE @nProceso         NUMERIC(8,0);
    DECLARE @nProceso1        NUMERIC(8,0);
    DECLARE @nProceso2        NUMERIC(8,0);
    DECLARE @nProceso3        NUMERIC(8,0);
    DECLARE @nProceso4        NUMERIC(8,0);
    DECLARE @sMaterialBase    VARCHAR(10);
    DECLARE @sMatVentaMayor   VARCHAR(10);

    DECLARE @nFactor          NUMERIC(15,6);
    DECLARE @nVolumenTotal    NUMERIC(15,2);
    DECLARE @nSubTotalTotal   NUMERIC(15,2);
    DECLARE @nPrecioListaTotal NUMERIC(15,2);
    DECLARE @nValor_Subt      NUMERIC(15,2);
    DECLARE @nValor_IVA       NUMERIC(15,2);
    DECLARE @nAcumulado       NUMERIC(15,2);
    DECLARE @nDiff            NUMERIC(15,2);
    DECLARE @sCliente_SAP     VARCHAR(20);
    DECLARE @nNum_Linea       NUMERIC(8,0);

    --variables cursortes
    DECLARE @cur_M_Material     VARCHAR(MAX);
    DECLARE @cur_M_Cantidad_Vta NUMERIC(38,4);

    DECLARE @cur_H_Factura      VARCHAR(50);
    DECLARE @cur_H_Cliente_SAP  VARCHAR(20);
    DECLARE @cur_H_Valor_Subt   NUMERIC(15,2);
    DECLARE @cur_H_Valor_IVA    NUMERIC(15,2);

    DECLARE @cur_D_Cliente_SAP  VARCHAR(20);
    DECLARE @cur_D_Material     VARCHAR(MAX);
    DECLARE @cur_D_Cantidad_Vta NUMERIC(38,4);
    DECLARE @cur_D_Valor_Subt   NUMERIC(15,2);
    DECLARE @cur_D_Precio_Lista NUMERIC(15,2);

    DECLARE ScrMaterial CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT Vta.Material                                       AS Material     ,
               SUM( Vta.Cantidad_Vta )                                AS Cantidad_Vta
        FROM T3.X_Propuesta_Venta Vta,
             (
               SELECT SKU.Material                        AS Material       ,
                      SKU.Nombre_Material                 AS Nombre_Material,
                      SKU.Unidad_Med_Vta                  AS Unidad_Med_Vta ,
                      ISNULL( SKU.Cig_x_CLL, 0 )             AS Cig_x_CLL      ,
                      ISNULL( SKU.Cig_x_PAQ, 0 )             AS Cig_x_PAQ      ,
                      ISNULL( SKU.Cig_x_CT , 0 )             AS Cig_x_CT       ,
                      SKU.Creacion                        AS Fecha_Creacion ,
                      CASE
                         WHEN ( CHARINDEX( 'EPOD', UPPER( SKU.Nombre_Material ) ) > 0 )     THEN 'VAPOR'
                         WHEN ( CHARINDEX( 'VYPE', UPPER( SKU.Nombre_Material ) ) > 0 )     THEN 'VAPOR'
                         WHEN ( CHARINDEX( 'VUSE', UPPER( SKU.Nombre_Material ) ) > 0 )     THEN 'VAPOR'
                         WHEN SKU.Material LIKE '50%'                                     THEN 'PP'
                         WHEN ISNULL( SKU.Cig_x_CLL, 0 ) IN ( 14, 15, 16, 18, 20, 24, 25 )  THEN 'FMC'
                         WHEN ISNULL( SKU.Cig_x_CLL, 0 ) BETWEEN 12 AND 36                   THEN 'FMC'
                         ELSE
                             'TBD'
                      END                                 AS Categoria
               FROM T3.Material SKU
               WHERE ISNULL( SKU.Creacion, GETDATE() ) > CONVERT(DATETIME, '20150101', 112)
             ) SKU             
        WHERE Vta.Material  = SKU.Material
          AND SKU.Categoria = @sCategoria
        GROUP BY Vta.Material
        HAVING SUM( Vta.Cantidad_Vta ) > 0
        ORDER BY SUM( Vta.Cantidad_Vta ) DESC ;

    DECLARE ScrHeader CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT Head.Factura, Head.Cliente_SAP, 
               ISNULL( Head.Valor_Subt, 0 ) AS Valor_Subt, 
               ISNULL( Head.Valor_IVA , 0 ) AS Valor_IVA 
        FROM T3.X_Propuesta_NDC Head
        WHERE Head.Fecha_Calculado      IS NULL 
          AND ISNULL( Head.Valor_Subt, 0 )  > 0    ;

    DECLARE ScrDetalle CURSOR LOCAL DYNAMIC FOR
        SELECT Vta.Cliente_SAP              AS Cliente_SAP ,
               Vta.Material                 AS Material    ,
               ISNULL( Vta.Cantidad_Vta, 0 )   AS Cantidad_Vta,
               ISNULL( Vta.Valor_Subt  , 0 )   AS Valor_Subt  ,
               ISNULL( Vta.Precio_Lista, 0 )   AS Precio_Lista
        FROM T3.X_Propuesta_Venta Vta,
             (
               SELECT SKU.Material                        AS Material       ,
                      SKU.Nombre_Material                 AS Nombre_Material,
                      SKU.Unidad_Med_Vta                  AS Unidad_Med_Vta ,
                      ISNULL( SKU.Cig_x_CLL, 0 )             AS Cig_x_CLL      ,
                      ISNULL( SKU.Cig_x_PAQ, 0 )             AS Cig_x_PAQ      ,
                      ISNULL( SKU.Cig_x_CT , 0 )             AS Cig_x_CT       ,
                      SKU.Creacion                        AS Fecha_Creacion ,
                      CASE
                         WHEN ( CHARINDEX( 'EPOD', UPPER( SKU.Nombre_Material ) ) > 0 )     THEN 'VAPOR'
                         WHEN ( CHARINDEX( 'VYPE', UPPER( SKU.Nombre_Material ) ) > 0 )     THEN 'VAPOR'
                         WHEN ( CHARINDEX( 'VUSE', UPPER( SKU.Nombre_Material ) ) > 0 )     THEN 'VAPOR'
                         WHEN SKU.Material LIKE '50%'                                     THEN 'PP'
                         WHEN ISNULL( SKU.Cig_x_CLL, 0 ) IN ( 14, 15, 16, 18, 20, 24, 25 )  THEN 'FMC'
                         WHEN ISNULL( SKU.Cig_x_CLL, 0 ) BETWEEN 12 AND 36                   THEN 'FMC'
                         ELSE
                             'TBD'
                      END                                 AS Categoria
               FROM T3.Material SKU
               WHERE ISNULL( SKU.Creacion, GETDATE() ) > CONVERT(DATETIME, '20150101', 112)
             ) SKU
        WHERE Vta.Cliente_SAP = @sCliente_SAP
          AND Vta.Material LIKE '1%'
          AND ISNULL( Vta.Cantidad_Vta, 0 ) > @nVolumenMin 
          AND Vta.Material  = SKU.Material
          AND SKU.Categoria = @sCategoria
        ORDER BY Vta.Cantidad_Vta DESC ;  

    BEGIN TRY
        SET @dtInicio   = GETDATE() ;
        SET @nProceso   = 888 ;

        SET @nPID       = NEXT VALUE FOR SEQ_CFD ;
        SET @nProceso1 = 0 ;
        SET @nProceso2 = 0 ;
        SET @nProceso3 = 0 ;
        SET @nProceso4 = 0 ;
        SET @sChar     = '|' ;
        SET @nDoctos   = 000 ;
        SET @sEtapa    = 'I' ;

		BEGIN TRAN 

        UPDATE T3.X_Propuesta_NDC SET Valor_Subt = ROUND( Valor_Total / 1.16, 2 )
           WHERE ISNULL( Valor_Subt, 0 ) = 0 ;

        UPDATE T3.X_Propuesta_NDC SET Valor_IVA  = Valor_Total - Valor_Subt
           WHERE ( ISNULL( Valor_IVA  , 0 ) = 0 ) 
             AND ( ISNULL( Valor_Total, 0 ) > 0 ) ;

        UPDATE T3.X_Propuesta_NDC SET Valor_IVA  = ROUND( Valor_Subt * 0.16, 2 )
           WHERE ( ISNULL( Valor_IVA  , 0 ) = 0 ) 
             AND ( ISNULL( Valor_Total, 0 ) = 0 ) ;

        --Se hace este cambio porque el RowId no se maneja igual
        WITH CTE_ROWID AS (
            SELECT Factura, CAST(ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS VARCHAR(50)) AS NewRowID
            FROM T3.X_Propuesta_NDC
            WHERE Factura IS NULL
        )
        UPDATE CTE_ROWID SET Factura = NewRowID;

        UPDATE NDC
        SET NDC.RFC = MC.MaxRFC,
            NDC.Ctro = MC.MaxCtro
        FROM T3.X_Propuesta_NDC NDC
        INNER JOIN (
            SELECT Cliente_SAP, MAX(RFC) AS MaxRFC, MAX(Ctro) AS MaxCtro
            FROM T3.Mov_Cliente
            GROUP BY Cliente_SAP
        ) MC ON NDC.Cliente_SAP = MC.Cliente_SAP;

        UPDATE T3.X_Propuesta_NDC SET Valor_Total = Valor_Subt + Valor_IVA
           WHERE Valor_Total IS NULL ;                                                                
        
        IF @@TRANCOUNT > 0 COMMIT TRANSACTION ;   
		
		BEGIN TRAN

        IF ( @nOutput > 0 )
        BEGIN
           PRINT 'X_Propuesta_Venta Inicio : ' + CONVERT(VARCHAR, GETDATE(), 108) ;
        END ;

        TRUNCATE TABLE T3.X_Propuesta_Venta ;
        TRUNCATE TABLE T3.X_Propuesta_Detalle ;

        INSERT INTO T3.X_Propuesta_Venta ( Cliente_SAP, Material, Cantidad_Vta, Valor_Subt, Precio_Lista )
        SELECT Vta.Cliente_SAP                                      AS Cliente_SAP  ,
               Vta.Material                                           AS Material     ,
               SUM( Vta.Cantidad_Vta * Vta.Factor )                   AS Cantidad_Vta ,
               SUM( Vta.Valor_Subt   * Vta.Factor )                   AS Valor_Subt   ,
               SUM( Vta.Precio_Lista * Vta.Factor )                   AS Precio_Lista
        FROM ( 
                  SELECT FG.Factura                                   AS Factura      ,
                         FG.Fecha_Factura                             AS Fecha_Factura,
                         FG.Cliente_SAP                               AS Cliente_SAP  ,
                         Cte.RFC                                      AS RFC          ,
                         CASE WHEN FG.Tipo_Docto = 'C003' THEN 1 ELSE -1 END AS Factor,
                         FD.Material                                  AS Material     ,
                         ISNULL( FD.Cantidad_Vta, 0 )                  AS Cantidad_Vta ,
                         ISNULL( FD.Valor_Subt  , 0 )                  AS Valor_Subt   ,
                         ISNULL( FD.Valor_Subt  , 0 ) + ISNULL( FD.Bonif_Subt  , 0 ) AS Precio_Lista                                      
                  FROM T3.Factura_General FG , 
                       T3.Factura_Detalle FD ,
                       T3.Cliente         Cte
                  WHERE FG.Fecha_Factura BETWEEN CONVERT(DATETIME, @sFechaInicio, 112) AND CONVERT(DATETIME, @sFechaFinal, 112)
                    AND FG.Factura       = FD.Factura
                    AND FG.Tipo_Docto    IN ( 'C003', 'C004' )
                    AND FG.Cliente_SAP   = Cte.Cliente_SAP
                    AND FG.Fecha_Factura BETWEEN Cte.Fecha_Ini_Vig AND Cte.Fecha_Fin_Vig
               UNION      
                  SELECT PG.Factura                                   AS Factura      ,
                         PG.Fecha_Factura                             AS Fecha_Factura,
                         PG.Cliente_SAP                               AS Cliente_SAP  ,
                         Cte.RFC                                      AS RFC          ,
                         CASE WHEN PG.Clase_Factura = 'C005' THEN 1 ELSE -1 END AS Factor,
                         PD.Material                                  AS Material     ,
                         ISNULL( PD.Cantidad_Vta, 0 )                  AS Cantidad_Vta ,
                         ISNULL( PD.Valor_Subt  , 0 )                  AS Valor_Subt   ,
                         ISNULL( PD.Valor_Subt  , 0 ) + ISNULL( PD.Bonif_Subt  , 0 ) AS Precio_Lista                                      
                  FROM T3.Preventa_General PG ,
                       T3.Preventa_Detalle PD ,
                       T3.Cliente          Cte
                  WHERE PG.Fecha_Factura BETWEEN CONVERT(DATETIME, @sFechaInicio, 112) AND CONVERT(DATETIME, @sFechaFinal, 112)
                    AND PG.Fecha_Proc_BATMD  IS NOT NULL
                    AND PG.Fecha_Cancelacion IS NULL
                    AND PG.Factura            = PD.Factura                                 
                    AND PG.Clase_Factura     IN ( 'C005', 'C006' )
                    AND PG.Cliente_SAP        = Cte.Cliente_SAP
                    AND PG.Fecha_Factura     BETWEEN Cte.Fecha_Ini_Vig AND Cte.Fecha_Fin_Vig
             ) Vta
        GROUP BY Vta.Cliente_SAP, Vta.Material ;   

        IF ( @nOutput > 0 )
        BEGIN
           PRINT 'X_Propuesta_Venta Fin : ' + CONVERT(VARCHAR, GETDATE(), 108) ;
           IF ( @nOutput > 1 )   
              SET @dtInicio = GETDATE() ;   
        END ;

        IF ( LEN( ISNULL( @sMaterial, ' ' ) ) < 4 )
        BEGIN
           IF ( @nOutput > 0 )
              PRINT 'Inicio de calculo de Material Base : ' + CONVERT(VARCHAR, GETDATE(), 108) ;

           OPEN ScrMaterial;
           FETCH NEXT FROM ScrMaterial INTO @cur_M_Material, @cur_M_Cantidad_Vta;
           WHILE @@FETCH_STATUS = 0
           BEGIN
              IF ( @nProceso1 = 0 )
              BEGIN
                 SET @sMaterialBase  = @cur_M_Material ;
                 SET @sMatVentaMayor = @cur_M_Material ;
                 BREAK ;
              END ;
              FETCH NEXT FROM ScrMaterial INTO @cur_M_Material, @cur_M_Cantidad_Vta;
           END ;
           CLOSE ScrMaterial;

           IF ( @nOutput > 0 )
              PRINT 'Material Base : ' + ISNULL(@sMaterialBase, '') +  ' - ' + CONVERT(VARCHAR, GETDATE(), 108) ;
        END
        ELSE
        BEGIN
           SET @sMaterialBase  = @sMaterial ;
           SET @sMatVentaMayor = @sMaterial ;
        END ;

        OPEN ScrHeader;
        FETCH NEXT FROM ScrHeader INTO @cur_H_Factura, @cur_H_Cliente_SAP, @cur_H_Valor_Subt, @cur_H_Valor_IVA;
        WHILE @@FETCH_STATUS = 0
        BEGIN
           SET @nProceso1         = @nProceso1 + 1 ;
           SET @nProceso4         = 0 ;
           SET @sCliente_SAP      = @cur_H_Cliente_SAP ;
           SET @strID             = @cur_H_Factura ;
           SET @nVolumenTotal     = 0 ;
           SET @nSubTotalTotal    = 0 ;
           SET @nPrecioListaTotal = 0 ;
           SET @sMaterialBase     = @sMatVentaMayor ;

           OPEN ScrDetalle;
           FETCH NEXT FROM ScrDetalle INTO @cur_D_Cliente_SAP, @cur_D_Material, @cur_D_Cantidad_Vta, @cur_D_Valor_Subt, @cur_D_Precio_Lista;
           WHILE @@FETCH_STATUS = 0
           BEGIN
              IF ( @nVolumenTotal = 0 )
                 SET @sMaterialBase = @cur_D_Material ;

              SET @nVolumenTotal     = @nVolumenTotal     + @cur_D_Cantidad_Vta ;
              SET @nSubTotalTotal    = @nSubTotalTotal    + @cur_D_Valor_Subt ;
              SET @nPrecioListaTotal = @nPrecioListaTotal + @cur_D_Precio_Lista ;

              FETCH NEXT FROM ScrDetalle INTO @cur_D_Cliente_SAP, @cur_D_Material, @cur_D_Cantidad_Vta, @cur_D_Valor_Subt, @cur_D_Precio_Lista;
           END ;
           CLOSE ScrDetalle;

           -- Generar Detalle   
           SET @nAcumulado = 0 ;

           OPEN ScrDetalle;
           FETCH NEXT FROM ScrDetalle INTO @cur_D_Cliente_SAP, @cur_D_Material, @cur_D_Cantidad_Vta, @cur_D_Valor_Subt, @cur_D_Precio_Lista;
           WHILE @@FETCH_STATUS = 0
           BEGIN    
              IF ( UPPER( @sFactor ) = 'VOL' )
                 SET @nFactor = @cur_D_Cantidad_Vta / @nVolumenTotal ;
              ELSE IF ( UPPER( @sFactor ) = 'SUBT' )
                 SET @nFactor = @cur_D_Valor_Subt   / @nSubTotalTotal ;
              ELSE IF ( UPPER( @sFactor ) = 'PL' )
                 SET @nFactor = @cur_D_Precio_Lista / @nPrecioListaTotal ;
              ELSE
                 SET @nFactor = @cur_D_Cantidad_Vta / @nVolumenTotal ;

              SET @nValor_Subt = ROUND( @cur_H_Valor_Subt * @nFactor, 2 ) ;
              SET @nValor_IVA  = ROUND( @nValor_Subt * 0.16, 2 ) ;

              IF ( @nValor_Subt > ISNULL( @nSubtotalMin, 0 ) )
              BEGIN
                 IF ( @nValor_IVA > 0 )
                 BEGIN
                    SET @nProceso2   = @nProceso2 + 1 ;
                    SET @nProceso4   = @nProceso4 + 10 ;
                    SET @nNum_Linea  = @nNum_Linea ; 
                    SET @nAcumulado  = @nAcumulado + @nValor_Subt ;

                    INSERT INTO T3.X_Propuesta_Detalle
                       ( Factura, Num_Linea, Material, Cantidad_Vta, Valor_Subt, Valor_IVA )
                    VALUES
                       ( @strID, @nProceso4, @cur_D_Material, @cur_D_Cantidad_Vta, @nValor_Subt, @nValor_IVA ) ;         
                 END ;      
              END ;   
              FETCH NEXT FROM ScrDetalle INTO @cur_D_Cliente_SAP, @cur_D_Material, @cur_D_Cantidad_Vta, @cur_D_Valor_Subt, @cur_D_Precio_Lista;
           END ;
           CLOSE ScrDetalle;

           IF ( @nProceso4 = 0 )
           BEGIN
              SET @nProceso3 = @nProceso3 + 1 ;
              INSERT INTO T3.X_Propuesta_Detalle
                 ( Factura, Num_Linea, Material, Valor_Subt, Valor_IVA )
              VALUES
                 ( @strID, 10, @sMaterialBase, @cur_H_Valor_Subt, @cur_H_Valor_IVA ) ;

              UPDATE T3.X_Propuesta_NDC SET Base = 'X'
                 WHERE Factura = @strID ;            
           END       
           ELSE
           BEGIN
              IF ( @cur_H_Valor_Subt != @nAcumulado )
              BEGIN
                 SET @nDiff = @cur_H_Valor_Subt - @nAcumulado ;
                 IF ( ISNULL( @nOutput, 0 ) > 10 )
                    PRINT @strID + ' con Diferencia ' + CAST(@nDiff AS VARCHAR(50)) ;              

                 UPDATE T3.X_Propuesta_Detalle 
                 SET Valor_Subt = Valor_Subt + @nDiff,
                     Valor_IVA  = ROUND( ( Valor_Subt + @nDiff ) * 0.16, 2 )
                 WHERE Factura   = @strID
                   AND Num_Linea = @nProceso4 ; 
              END ;
           END ;

           UPDATE T3.X_Propuesta_NDC SET Fecha_Calculado = GETDATE()
              WHERE Factura = @strID ;

           FETCH NEXT FROM ScrHeader INTO @cur_H_Factura, @cur_H_Cliente_SAP, @cur_H_Valor_Subt, @cur_H_Valor_IVA;
        END ;
        CLOSE ScrHeader;

        IF @@TRANCOUNT > 0 COMMIT TRANSACTION ;   

        IF ( ISNULL( @nOutput, 0 ) > 0 )
        BEGIN
           PRINT 'Documentos    => ' + CAST(@nProceso1 AS VARCHAR(10)) ;
           PRINT 'Factor        => ' + ISNULL(@sFactor, '') ;
           PRINT 'Material Base => ' + CAST(@nProceso3 AS VARCHAR(10)) ;
           PRINT 'Items         => ' + CAST(( @nProceso2 + @nProceso3 ) AS VARCHAR(10)) ;
           PRINT 'Final : ' + CONVERT(VARCHAR, GETDATE(), 108) ;
        END ;

        INSERT INTO T3.RF_PROCESOS_LOG 
           ( PID , Proceso , Fecha_Proc_BATMD, Inicio  , Fin    , Proceso_1, Proceso_2, Proceso_3, Proceso_4 )
        VALUES 
           ( @nPID, @nProceso, NULL, @dtInicio, GETDATE(), @nProceso1, @nProceso2, @nProceso3, 0 ) ;   
        
        IF @@TRANCOUNT > 0 COMMIT TRANSACTION ;

    END TRY
    BEGIN CATCH
        IF CURSOR_STATUS('local', 'ScrMaterial') >= 0 BEGIN CLOSE ScrMaterial; DEALLOCATE ScrMaterial; END;
        IF CURSOR_STATUS('local', 'ScrHeader')   >= 0 BEGIN CLOSE ScrHeader;   DEALLOCATE ScrHeader;   END;
        IF CURSOR_STATUS('local', 'ScrDetalle')  >= 0 BEGIN CLOSE ScrDetalle;  DEALLOCATE ScrDetalle;  END;

        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION ;

        SET @sMsg = SUBSTRING(CAST(ERROR_NUMBER() AS VARCHAR(10)) + '-' + ERROR_MESSAGE(), 1, 250) ;
        SET @sMsg = SUBSTRING(ERROR_MESSAGE(), 1, 250) ;

        PRINT REPLICATE('-', 80) ;
        PRINT 'Problemas en la ejecucion del Procedimiento' ;
        PRINT 'FAVOR DE ESCALAR LOS SIGUIENTES DATOS :' ;
        PRINT 'Procedimiento : PROC_NDC_PROPUESTA' ;
        PRINT 'Fecha         : ' + CONVERT(VARCHAR, GETDATE(), 120) ;
        PRINT 'Referencia    : ' + ISNULL(@strID, '') ;
        PRINT 'Error         : ' + ISNULL(@sMsg, '') ;
        PRINT REPLICATE('-', 80) ;

        INSERT INTO T3.RF_ERROR_LOG 
           ( FECHA, RUTINA, REFERENCIA, ERROR_DESC )
        VALUES
           ( GETDATE(), 'PROC_NDC_PROPUESTA', @strID, @sMsg ) ;

    END CATCH;
END;
GO
