USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_MATERIAL_HIST]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [T3].[PROC_MATERIAL_HIST]
    @sMaterial        VARCHAR(MAX),  
    @sNombre_Material VARCHAR(MAX),
    @sNombre_Corto    VARCHAR(MAX),
    @sUnidad_Med_Vta  VARCHAR(MAX),
    @strUM            VARCHAR(MAX),
    @dtFecha_Ini_Vig  DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sMsg    VARCHAR(500);
    DECLARE @nItems  NUMERIC(2,0);

    --Variables Cursores
    DECLARE @Doc_RowID           INT; -- Cambiar por el tipo de Llave Primaria
    DECLARE @Doc_Nombre_Material VARCHAR(MAX);
    DECLARE @Doc_Nombre_Corto    VARCHAR(MAX);
    DECLARE @Doc_Unidad_Med_Vta  VARCHAR(MAX);
    DECLARE @Doc_UM              VARCHAR(MAX);
    DECLARE @Doc_Fecha_Ini_Vig   DATETIME;
    DECLARE @Doc_Fecha_Fin_Vig   DATETIME;

    DECLARE ScrMaterial_Hist CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT Material AS RowID, -- Cambiar por el tipo de Llave Primaria
               Nombre_Material, Nombre_Corto, Unidad_Med_Vta,
               UM, Fecha_Ini_Vig, Fecha_Fin_Vig   
        FROM T3.Material_Hist
        WHERE Material = @sMaterial
        ORDER BY Fecha_Ini_Vig DESC;

    BEGIN TRY
        SET @nItems = 0;

        OPEN ScrMaterial_Hist;
        FETCH NEXT FROM ScrMaterial_Hist INTO 
            @Doc_RowID, @Doc_Nombre_Material, @Doc_Nombre_Corto, @Doc_Unidad_Med_Vta, 
            @Doc_UM, @Doc_Fecha_Ini_Vig, @Doc_Fecha_Fin_Vig;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            IF ( @Doc_Fecha_Ini_Vig = CONVERT(DATE, @dtFecha_Ini_Vig) )
            BEGIN
                UPDATE T3.Material_Hist 
                SET Nombre_Material = @sNombre_Material,
                    Nombre_Corto    = @sNombre_Corto,
                    Unidad_Med_Vta  = @sUnidad_Med_Vta,
                    UM              = @strUM
                WHERE Material = @Doc_RowID; -- Cambiar por el tipo de Llave Primaria
            END
            ELSE
            BEGIN
                UPDATE T3.Material_Hist 
                SET Fecha_Fin_Vig = CONVERT(DATE, @dtFecha_Ini_Vig - 1)
                WHERE Material = @Doc_RowID; -- Cambiar por el tipo de Llave Primaria

                INSERT INTO T3.Material_Hist
                    ( Material, Nombre_Material, Nombre_Corto, Unidad_Med_Vta,
                      UM, Fecha_Ini_Vig, Fecha_Fin_Vig )
                VALUES
                    ( @sMaterial, @sNombre_Material, @sNombre_Corto, @sUnidad_Med_Vta,
                      @strUM, CONVERT(DATE, @dtFecha_Ini_Vig), CONVERT(DATETIME, '20991231', 112) );
            END;
            BREAK; 
            
            FETCH NEXT FROM ScrMaterial_Hist INTO 
                @Doc_RowID, @Doc_Nombre_Material, @Doc_Nombre_Corto, @Doc_Unidad_Med_Vta, 
                @Doc_UM, @Doc_Fecha_Ini_Vig, @Doc_Fecha_Fin_Vig;
        END;

        CLOSE ScrMaterial_Hist;
        DEALLOCATE ScrMaterial_Hist;

    END TRY
    BEGIN CATCH
        IF CURSOR_STATUS('local', 'ScrMaterial_Hist') >= 0 BEGIN CLOSE ScrMaterial_Hist; DEALLOCATE ScrMaterial_Hist; END;

        SET @sMsg = substring('ERROR SQL SERVER ' + CAST(ERROR_NUMBER() AS VARCHAR(10)) + ' ' + ERROR_MESSAGE(), 1, 480);
        
        PRINT '************* Mensaje *************';
        PRINT '***** Proc_Material_Hist ****';
        PRINT @sMsg;
    END CATCH;
END;
GO
