USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_CFDI_LIBERACION_AGR]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[PROC_CFDI_LIBERACION_AGR] 
AS
BEGIN

    DECLARE @sMsg VARCHAR(500);
    DECLARE @sErrorCode VARCHAR(30);
--   
    DECLARE @strID VARCHAR(50);
    DECLARE @dtInicio DATETIME;
    DECLARE @nPID NUMERIC(8,0);
    DECLARE @nProceso NUMERIC(8,0);
    DECLARE @nProceso1 NUMERIC(8,0);
    DECLARE @nProceso2 NUMERIC(8,0);
    DECLARE @nProceso3 NUMERIC(8,0);
    DECLARE @nProceso4 NUMERIC(8,0);
    DECLARE @sOrder_Num VARCHAR(30);
    DECLARE @sCadenaOriginal VARCHAR(60);
    DECLARE @sSelloDigital VARCHAR(60);

    
    DECLARE @Doc_Nota_Venta_CFDI VARCHAR(50);
    DECLARE @Doc_Fecha_Registro DATETIME;
    DECLARE @Doc_Enviar VARCHAR(8);

--variables cursores
    DECLARE ScrPrompt CURSOR FOR 
        SELECT Info.Nota_Venta_CFDI, Info.Fecha_Registro, Info.Enviar
        FROM (
            SELECT Agr.Nota_Venta_CFDI, 
                   Agr.Fecha_Registro,
                   CASE 
                       WHEN CFD.Fecha_Liberacion IS NULL THEN 'INSERT' 
                       ELSE CONVERT(VARCHAR(8), CFD.Fecha_Liberacion, 112) 
                   END AS Enviar
            FROM T3.CFDI_Agrupado Agr
            LEFT JOIN T3.CFDI_Documentos CFD ON Agr.Nota_Venta_CFDI = CFD.Nota_Venta
            WHERE Agr.Fecha_Registro > DATEADD(day, -35, GETDATE())
        ) Info
        WHERE Info.Enviar = 'INSERT'            
          AND Info.Nota_Venta_CFDI NOT IN ( 
              SELECT DISTINCT Referencia 
              FROM T3.RF_Error_Log
              WHERE Referencia IS NOT NULL
                AND RUTINA LIKE '%GENERAR_AGR%' 
          );

    BEGIN TRY
        SET @dtInicio  = GETDATE();
        SET @nProceso  = 615;
        SET @nProceso1 = 0;
        SET @nProceso2 = 0;
        SET @nProceso3 = 0;
        SET @nProceso4 = 0;
        SET @nPID      = NEXT VALUE FOR EAI_Owner.ProcessID;
        
        EXEC EAI_Owner.Log_Start @nProceso;
        
        INSERT INTO T3.RF_PROCESOS_LOG (PID, Proceso, Fecha_Proc_BATMD, Inicio)
        VALUES (@nPID, @nProceso, NULL, GETDATE());      
        
        OPEN ScrPrompt;
        FETCH NEXT FROM ScrPrompt INTO @Doc_Nota_Venta_CFDI, @Doc_Fecha_Registro, @Doc_Enviar;
        
        WHILE @@FETCH_STATUS = 0
        BEGIN   
            SET @strID     = @Doc_Nota_Venta_CFDI;
            SET @nProceso1 = @nProceso1 + 1;
            
--          EXEC PROC_CFDI_GENERAR_MX06 @Doc_Factura, @Doc_Accnt_ID;
            EXEC T3.PROC_V40_GENERAR_AGR @Doc_Nota_Venta_CFDI;
            
            FETCH NEXT FROM ScrPrompt INTO @Doc_Nota_Venta_CFDI, @Doc_Fecha_Registro, @Doc_Enviar;
        END;
        
        CLOSE ScrPrompt;
        DEALLOCATE ScrPrompt;

        UPDATE EAI_OWNER.MX_COMPONENTS 
        SET Status = 1
        WHERE Component = @nProceso;
        
        UPDATE T3.RF_PROCESOS_LOG 
        SET Fin = GETDATE(), 
            Proceso_1 = @nProceso1, 
            Proceso_2 = @nProceso2,
            Proceso_3 = @nProceso3, 
            Proceso_4 = @nProceso4
        WHERE PID = @nPID;          

    END TRY
    BEGIN CATCH
        SET @sMsg = SUBSTRING(CAST(ERROR_NUMBER() AS VARCHAR) + '-' + ERROR_MESSAGE(), 1, 250);
        SET @sMsg = SUBSTRING(ERROR_MESSAGE(), 1, 250);
        
        PRINT REPLICATE('-', 80);
        PRINT 'Problemas en la ejecucion del Procedimiento';
        PRINT 'FAVOR DE ESCALAR LOS SIGUIENTES DATOS :';
        PRINT 'Procedimiento : PROC_CFDI_LIBERACION_AGR';
        PRINT 'Fecha         : ' + CONVERT(VARCHAR, GETDATE(), 112) + ' ' + CONVERT(VARCHAR, GETDATE(), 108);
        PRINT 'Referencia    : ' + ISNULL(@strID, '');
        PRINT 'Error         : ' + ISNULL(@sMsg, '');
        PRINT REPLICATE('-', 80);
        
        INSERT INTO T3.RF_ERROR_LOG 
           ( FECHA, RUTINA, REFERENCIA, ERROR_DESC )
        VALUES
           ( GETDATE(), 'PROC_CFDI_LIBERACION_AGR', @strID, @sMsg );

        SET @sErrorCode = 'SQL-' + CAST(ERROR_NUMBER() AS VARCHAR);
        SET @sMsg = SUBSTRING(CAST(ERROR_NUMBER() AS VARCHAR) + '-' + ERROR_MESSAGE(), 1, 250);      
        
        INSERT INTO EAI_OWNER.MX_EAI_MESSAGE_LOG
          ( DIRECTION, REFERENCE, CREATED, MESSAGE, JOB_PID,
            STATUS, QUEUE_NAME, SIEBEL_ERROR_MESSAGE, SOURCE, 
            SIEBEL_ERROR_CODE, RETRY_COUNT, SEQUENCE, PARENT_ROW_ID )
        VALUES 
          ( 'Job Logging', @strID, GETDATE(), NULL, @nPID,
            'Error', 'PROC_CFDI_LIBERACION_AGR', @sMsg, 'PL/SQL',
            @sErrorCode, NULL, NULL, NULL );

    END CATCH
END;
GO
