USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_CFDI_PROCESAR_AGRUPADO]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[PROC_CFDI_PROCESAR_AGRUPADO] 
    @nProcesar NUMERIC = NULL,
    @nGenEDICOM NUMERIC = 0
AS
BEGIN

    DECLARE @sMsg VARCHAR(500);
    DECLARE @sCadena VARCHAR(4000);
    DECLARE @sChar VARCHAR(1);
    DECLARE @sFactura VARCHAR(30);
    DECLARE @sClienteSAP VARCHAR(20);
    DECLARE @sLinea VARCHAR(4000);
    DECLARE @sMaterial VARCHAR(10);
    DECLARE @sMascara VARCHAR(10);
    DECLARE @sAuxiliar VARCHAR(100);
    DECLARE @nCigarros NUMERIC(10,0);
    DECLARE @nDoctos NUMERIC(6,0);
    DECLARE @nNotas NUMERIC(6,0);
    DECLARE @sEtapa VARCHAR(20);
    DECLARE @sPorEjecucion VARCHAR(2);
    DECLARE @nGen_Agrupacion NUMERIC(8,0);
--
    DECLARE @strID VARCHAR(50);
    DECLARE @sErrorCode VARCHAR(30);     
    DECLARE @dtInicio DATETIME;
    DECLARE @nPID NUMERIC(8,0);
    DECLARE @nProceso NUMERIC(8,0);
    DECLARE @nProceso1 NUMERIC(8,0);
    DECLARE @nProceso2 NUMERIC(8,0);
    DECLARE @nProceso3 NUMERIC(8,0);
    DECLARE @nProceso4 NUMERIC(8,0);
--
    DECLARE @sUbicacion VARCHAR(20);
    DECLARE @sSerie VARCHAR(20);
    DECLARE @sCtro VARCHAR(4);
    DECLARE @dtFecha_Factura_T3 DATETIME;
    DECLARE @sLista_Precio VARCHAR(2);
    DECLARE @sCliente_Agrupado VARCHAR(10);
    DECLARE @sTipo_Docto VARCHAR(4);
    DECLARE @sNota_Venta_CFDI VARCHAR(20);
    DECLARE @dtFecha_Factura_V3 DATETIME;
    DECLARE @dtFechaProcBATMD DATETIME;

--Variables cursores
    DECLARE @Doc_Ctro VARCHAR(4);
    DECLARE @Doc_Ubicacion VARCHAR(20);
    DECLARE @Doc_Fecha_Factura_T3 DATETIME;
    DECLARE @Doc_Lista_Precio VARCHAR(2);
    DECLARE @Doc_Tipo_Docto VARCHAR(4);
    DECLARE @Doc_Serie VARCHAR(20);
    DECLARE @Doc_Ultima_Factura VARCHAR(50);
    DECLARE @Doc_Ultima_Hora DATETIME;
    DECLARE @Doc_Ultimo_Folio NUMERIC(18,0);

    DECLARE @EjecT3_Fecha_Proc_BATMD DATETIME;

    DECLARE ScrAgrPrompt CURSOR FOR 
        SELECT Ctro, Ubicacion, Fecha_Factura_T3, Lista_Precio, Tipo_Docto,
               SUBSTRING( Factura, 1, CHARINDEX( '-', Factura ) )                AS Serie          ,
               MAX( Factura )                                                    AS Ultima_Factura ,
               MAX( Fecha_Factura_V3 )                                           AS Ultima_Hora    ,
               MAX( CAST( 
                   SUBSTRING( Factura, CHARINDEX( '-', Factura ) + 1 , 6 ) AS NUMERIC ) )
                                                                                 AS Ultimo_Folio
        FROM T3.CFDI_Gen_Agrupado_Fecha Ejec
        INNER JOIN T3.CFDI_Documento_Paso Paso ON Paso.Fecha_Proc_BATMD = Ejec.Fecha_Proc_BATMD
        WHERE Ejec.Proceso          = @nGen_Agrupacion
          AND Paso.RFC_Cliente      = 'XAXX010101000' 
          AND Paso.VoidDoc         IS NULL
          AND LEN( Paso.Factura ) < 13
          AND Paso.Tipo_Docto      NOT IN ( 'Z024', 'C024' )
          AND CHARINDEX( '-', Paso.Factura ) > 0
          AND SUBSTRING( Paso.Factura, 1, 5 ) NOT IN ( SELECT Serie FROM T3.CFDI_EXCLUIR_SERIE )
          AND Paso.Factura NOT IN ( SELECT Factura FROM T3.CFDI_EXCLUIR_DOCUMENTO )
          AND Paso.Ctro            != 'MX2J'
          AND Paso.Ctro            != 'MX4H'
          AND Paso.Ctro            != 'MX1H'
        GROUP BY Ctro, Ubicacion, Fecha_Factura_T3, Lista_Precio, Tipo_Docto,
                 SUBSTRING( Factura, 1, CHARINDEX( '-', Factura ) ) ;
--
    DECLARE ScrEjecuciones CURSOR FOR 
       SELECT DISTINCT T1.Fecha_Proc_BATMD
        FROM T3.RF_PROCESOS_LOG    T1
        WHERE T1.Proceso          IN ( 101, 601 )
          AND T1.Fecha_Proc_BATMD IS NOT NULL
          AND T1.Fecha_Proc_BATMD  > @dtFechaProcBATMD
        ORDER BY T1.Fecha_Proc_BATMD ;

    BEGIN TRY
        SET @dtInicio  = GETDATE() ;
        SET @nProceso  = 602 ;
        SET @nPID      = NEXT VALUE FOR EAI_Owner.ProcessID ;
        
        EXEC EAI_Owner.Log_Start @nProceso ;
        
        INSERT INTO T3.RF_PROCESOS_LOG ( PID , Proceso , Fecha_Proc_BATMD, Inicio )
        VALUES ( @nPID, @nProceso, NULL, GETDATE() ) ;   
        
        SET @nProceso1 = 0 ;
        SET @nProceso2 = 0 ;
        SET @nProceso3 = 0 ;
        SET @nProceso4 = 0 ;

        SET @sChar   = '|' ;
        SET @nDoctos = 000 ;
        SET @sEtapa  = 'I' ;
--
-- Documentos Agrupados de Prompt Sales
		BEGIN TRAN

        IF ( ( @nProcesar IS NULL ) OR ( ISNULL( @nProcesar, 0 ) = 0 ) ) 
        BEGIN
           SELECT @nGen_Agrupacion = MAX( Proceso + 1 ) 
             FROM T3.CFDI_Gen_Agrupado ;
             
           SELECT @dtFechaProcBATMD = MAX( Fecha_Proc_BATMD )
             FROM T3.CFDI_Gen_Agrupado_Fecha ;
             
           PRINT 'Proceso      : ' + CAST(@nGen_Agrupacion AS VARCHAR) ;
           PRINT 'A partir de  : ' + CONVERT(VARCHAR, @dtFechaProcBATMD, 120) ;
           
           OPEN ScrEjecuciones;
           FETCH NEXT FROM ScrEjecuciones INTO @EjecT3_Fecha_Proc_BATMD;
           
           WHILE @@FETCH_STATUS = 0
           BEGIN
              SET @dtFecha_Factura_V3 = @EjecT3_Fecha_Proc_BATMD ;
              SET @nProceso4 = @nProceso4 + 1 ;
              
              IF ( @nProceso4 = 1 ) 
              BEGIN
                 INSERT INTO T3.CFDI_Gen_Agrupado ( Proceso, Inicio )
                    VALUES ( @nGen_Agrupacion, GETDATE() ) ;
              END ;      
              
              INSERT INTO T3.CFDI_Gen_Agrupado_Fecha ( Proceso, Fecha_Proc_BATMD )   
                 VALUES ( @nGen_Agrupacion, @EjecT3_Fecha_Proc_BATMD ) ;
                 
              FETCH NEXT FROM ScrEjecuciones INTO @EjecT3_Fecha_Proc_BATMD;
           END ;      
           CLOSE ScrEjecuciones;
           DEALLOCATE ScrEjecuciones;
           
           PRINT 'Hasta        : ' + CONVERT(VARCHAR, @dtFecha_Factura_V3, 120) ;
           PRINT 'Ejecuciones  : ' + CAST(@nProceso4 AS VARCHAR) ;
        END 
        ELSE
        BEGIN
           SET @nGen_Agrupacion = @nProcesar ;
           PRINT 'Proceso Agrupado => ' + CAST(@nGen_Agrupacion AS VARCHAR) ;
           UPDATE T3.CFDI_Gen_Agrupado SET Inicio = GETDATE()
              WHERE Proceso = @nGen_Agrupacion ;      
        END ;
        
        SET @nDoctos = 000 ;
        
        OPEN ScrAgrPrompt;
        FETCH NEXT FROM ScrAgrPrompt INTO @Doc_Ctro, @Doc_Ubicacion, @Doc_Fecha_Factura_T3, @Doc_Lista_Precio, @Doc_Tipo_Docto, @Doc_Serie, @Doc_Ultima_Factura, @Doc_Ultima_Hora, @Doc_Ultimo_Folio;
        
        WHILE @@FETCH_STATUS = 0
        BEGIN
           SET @nDoctos            = @nDoctos + 1          ;
           SET @sUbicacion         = @Doc_Ubicacion        ;
           SET @sCtro              = @Doc_Ctro             ;
           SET @sSerie             = @Doc_Serie            ;
           SET @dtFecha_Factura_T3 = @Doc_Fecha_Factura_T3 ;
           SET @sLista_Precio      = @Doc_Lista_Precio     ;
           SET @sTipo_Docto        = @Doc_Tipo_Docto       ;
           SET @sNota_Venta_CFDI   = 'G-' + @Doc_Ultima_Factura   ;
           SET @sNota_Venta_CFDI   = 'G-' + @Doc_Serie + LTRIM(RTRIM(CAST( @Doc_Ultimo_Folio AS VARCHAR))) ;
           SET @dtFecha_Factura_V3 = @Doc_Ultima_Hora      ;
           
           -- Asignaciones redundantes mantenidas por regla de fidelidad
           SET @sClienteSAP        = 'C' + SUBSTRING( @sNota_Venta_CFDI, 4, CHARINDEX( '-', @sNota_Venta_CFDI, 3 ) - 4 ) ;
           SET @sClienteSAP        = 'C' + SUBSTRING( @sUbicacion, 17, 4 ) ;
           SET @sClienteSAP        = 'C' + SUBSTRING( @sUbicacion, 15, 4 ) ; 
           SET @sClienteSAP        = 'C' + SUBSTRING( @sSerie    ,  2, 4 ) ;
           
           SET @strID              = @sNota_Venta_CFDI ;
           
           INSERT INTO T3.CFDI_Agrupado      
               ( Nota_Venta_CFDI, Fecha_Documento, Tipo_Docto, Ctro, Cliente, Sociedad, Cliente_SAP, Lista_Precio, Fecha_Registro )
           VALUES
               ( @sNota_Venta_CFDI, @dtFecha_Factura_V3, @sTipo_Docto, @sCtro, @sClienteSAP, 'MX16', @sClienteSAP, @sLista_Precio, GETDATE() ) ;
--
           INSERT INTO T3.CFDI_Historia_Docto_PAC
              ( Nota_Venta, Ctro, Fecha_Factura, Nota_Venta_CFDI )
              SELECT Paso.Factura, Paso.Ctro, Paso.Fecha_Factura_T3, @sNota_Venta_CFDI
                 FROM T3.CFDI_Gen_Agrupado_Fecha Ejec
                 INNER JOIN T3.CFDI_Documento_Paso Paso ON Paso.Fecha_Proc_BATMD  = Ejec.Fecha_Proc_BATMD
                 WHERE Ejec.Proceso          = @nGen_Agrupacion
                   AND Paso.Ctro               = @sCtro
                   AND Paso.Ubicacion          = @sUbicacion
                   AND Paso.Fecha_Factura_T3   = @dtFecha_Factura_T3
                   AND Paso.Lista_Precio       = @sLista_Precio
--                 AND Paso.Cliente_Agrupado   = @sCliente_Agrupado
--                 AND LTRIM(RTRIM( Paso.Cliente_Agrupado )) = @sCliente_Agrupado
                   AND Paso.Tipo_Docto         = @sTipo_Docto
                   AND Paso.RFC_Cliente        = 'XAXX010101000'
                   AND Paso.Factura NOT IN ( SELECT Factura FROM T3.CFDI_EXCLUIR_DOCUMENTO )
                   AND LEN( Paso.Factura ) < 13
                   AND Paso.VoidDoc           IS NULL
                   AND Paso.Tipo_Docto        != 'Z024' 
                   AND Paso.Factura           LIKE @sSerie + '%'
                   AND Paso.Tipo_Docto        IN ( 'C003', 'C004' ) ;
                   
           SET @nNotas = @@ROWCOUNT ;
           
           UPDATE T3.CFDI_Agrupado SET Doctos = @nNotas
              WHERE Nota_Venta_CFDI = @sNota_Venta_CFDI ;
              
           SET @nProceso1 = @nProceso1 + @nNotas ;
--
           INSERT INTO T3.CFDI_Agrupado_Detalle
               ( Nota_Venta_CFDI, Num_Linea, Material, Unidad_Med_Vta, Precio_Unitario, Cantidad_Vta,
                 Valor_Subt, Valor_IVA, Bonif_Subt, Bonif_IVA, Envio_Subt, Envio_IVA, Credito_Subt, Credito_IVA ) 
               SELECT Nota_Venta_CFDI, ROW_NUMBER() OVER (ORDER BY Nota_Venta_CFDI, Material, Unidad_Med_Vta, Precio_Unitario), Material, Unidad_Med_Vta, Precio_Unitario, Cantidad_Vta,
                      Valor_Subt, Valor_IVA, Bonif_Subt, Bonif_IVA, Envio_Subt, Envio_IVA, Credito_Subt, Credito_IVA  
               FROM (        
                      SELECT Vta.Nota_Venta_CFDI               AS Nota_Venta_CFDI,
                             FD.Material                       AS Material       ,
                             FD.Unidad_Med_Vta                 AS Unidad_Med_Vta ,
                             ROUND( ISNULL( FD.Valor_Subt, 0 ) / FD.Cantidad_Vta , 2 )
                                                               AS Precio_Unitario,
                             SUM( FD.Cantidad_Vta )            AS Cantidad_Vta   ,
                             SUM( ISNULL( FD.Valor_Subt  , 0 ) ) AS Valor_Subt     ,
                             SUM( ISNULL( FD.Valor_IVA   , 0 ) ) AS Valor_IVA      ,
                             SUM( ISNULL( FD.Bonif_Subt  , 0 ) ) AS Bonif_Subt     ,
                             SUM( ISNULL( FD.Bonif_IVA   , 0 ) ) AS Bonif_IVA      , 
                             SUM( ISNULL( FD.Envio_Subt  , 0 ) ) AS Envio_Subt     ,
                             SUM( ISNULL( FD.Envio_IVA   , 0 ) ) AS Envio_IVA      ,
                             SUM( ISNULL( FD.Credito_Subt, 0 ) ) AS Credito_Subt   ,
                             SUM( ISNULL( FD.Credito_IVA , 0 ) ) AS Credito_IVA  
                         FROM T3.CFDI_Historia_Docto_PAC Vta
                         INNER JOIN T3.Factura_Detalle FD ON Vta.Nota_Venta = FD.Factura
                         WHERE Vta.Nota_Venta_CFDI = @sNota_Venta_CFDI
                         GROUP BY Vta.Nota_Venta_CFDI, FD.Material, FD.Unidad_Med_Vta, ROUND( ISNULL( FD.Valor_Subt, 0 ) / FD.Cantidad_Vta , 2 )
                         ) SubQ;  
--
-- En caso que marque un Error de Agrupado
--   se debera excluir este docummento en la sig. linea
--
           IF ( @sNota_Venta_CFDI != 'G-V1597-32004' ) 
           BEGIN
--          PROC_CFDI_GENERAR_AGR( sNota_Venta_CFDI ) ;  
              IF ( ISNULL( @nGenEDICOM, 0 ) > 0 ) 
              BEGIN
                 EXEC T3.PROC_V40_GENERAR_AGR @sNota_Venta_CFDI ; 
              END ;    
              SET @nPID = @nPID + 0 ;        
           END ;    
           
           FETCH NEXT FROM ScrAgrPrompt INTO @Doc_Ctro, @Doc_Ubicacion, @Doc_Fecha_Factura_T3, @Doc_Lista_Precio, @Doc_Tipo_Docto, @Doc_Serie, @Doc_Ultima_Factura, @Doc_Ultima_Hora, @Doc_Ultimo_Folio;
        END ;
        
        CLOSE ScrAgrPrompt;
        DEALLOCATE ScrAgrPrompt;
        
        SET @nProceso3 = @nDoctos ;
        UPDATE T3.CFDI_Gen_Agrupado SET Fin = GETDATE()
           WHERE Proceso = @nGen_Agrupacion ;
--
--   INSERT INTO T3.RF_PROCESOS_LOG 
--      ( PID , Proceso , Fecha_Proc_BATMD, Inicio  , Fin    , Proceso_1, Proceso_2, Proceso_3, Proceso_4 )
--   VALUES 
--      ( nPID, nProceso, NULL, dtInicio, SYSDATE, nProceso1, nProceso2, nProceso3, nProceso4 ) ;
        UPDATE EAI_OWNER.MX_COMPONENTS SET Status = 1
           WHERE Component = @nProceso ;
           
        UPDATE T3.RF_PROCESOS_LOG 
        SET Fin = GETDATE(), 
            Proceso_1 = @nProceso1, 
            Proceso_2 = @nProceso2,
            Proceso_3 = @nProceso3, 
            Proceso_4 = @nProceso4
        WHERE PID = @nPID ;          
        
        COMMIT ;
--   
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        
        SET @sMsg = SUBSTRING(CAST(ERROR_NUMBER() AS VARCHAR) + '-' + ERROR_MESSAGE(), 1, 250);
        SET @sMsg = SUBSTRING(ERROR_MESSAGE(), 1, 250);
        
        PRINT REPLICATE('-', 80);
        PRINT 'Problemas en la ejecucion del Procedimiento';
        PRINT 'FAVOR DE ESCALAR LOS SIGUIENTES DATOS :';
        PRINT 'Procedimiento : PROC_CFDI_PROCESAR_AGRUPADO';
        PRINT 'Fecha         : ' + CONVERT(VARCHAR, GETDATE(), 112) + ' ' + CONVERT(VARCHAR, GETDATE(), 108);
        PRINT 'Referencia    : ' + ISNULL(@strID, '');
        PRINT 'Error         : ' + ISNULL(@sMsg, '');
        PRINT REPLICATE('-', 80);
        
        SET @sErrorCode = 'SQL-' + CAST(ERROR_NUMBER() AS VARCHAR);
        SET @sMsg = SUBSTRING(CAST(ERROR_NUMBER() AS VARCHAR) + '-' + ERROR_MESSAGE(), 1, 250);      
        
        INSERT INTO EAI_OWNER.MX_EAI_MESSAGE_LOG
          ( DIRECTION, REFERENCE, CREATED, MESSAGE, JOB_PID,
            STATUS, QUEUE_NAME, SIEBEL_ERROR_MESSAGE, SOURCE, 
            SIEBEL_ERROR_CODE, RETRY_COUNT, SEQUENCE, PARENT_ROW_ID )
        VALUES 
          ( 'Job Logging', @strID, GETDATE(), NULL, @nPID,
            'Error', 'PROC_CFDI_PROCESAR_AGRUPADO', @sMsg, 'PL/SQL',
            @sErrorCode, NULL, NULL, NULL );
    END CATCH
END;
GO
