USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_CFDI_CONCILIACION_VTA]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--------------------------------------------------------
--  DDL for Procedure PROC_CFDI_CONCILIACION_VTA
--  MIGRADO A SQL SERVER
--------------------------------------------------------

CREATE PROCEDURE [T3].[PROC_CFDI_CONCILIACION_VTA] 
   @nEtapa   INT = 0
AS
BEGIN
   SET NOCOUNT ON;

   DECLARE @sMsg                 VARCHAR(500);
   DECLARE @sCadena              VARCHAR(4000);
   DECLARE @sChar                VARCHAR(1);
   DECLARE @sFactura             VARCHAR(30);
   DECLARE @sClienteSAP          VARCHAR(20);
   DECLARE @sLinea               VARCHAR(4000);
   DECLARE @sMaterial            VARCHAR(10);
   DECLARE @sMascara             VARCHAR(10);
   DECLARE @sAuxiliar            VARCHAR(100);
   DECLARE @nCigarros            INT; --NUMBER(10)
   DECLARE @nDoctos              INT; --NUMBER(06)
   DECLARE @nNotas               INT; --NUMBER(06)
   DECLARE @sEtapa               VARCHAR(20);
   DECLARE @sPorEjecucion        VARCHAR(2);
   DECLARE @nGen_Agrupacion      INT; --NUMBER(08)
--
   DECLARE @strID                VARCHAR(50);
   DECLARE @sErrorCode           VARCHAR(30);      
   DECLARE @dtInicio             DATETIME; --DATE
   DECLARE @nPID                 INT; --NUMBER(08)
   DECLARE @nProceso             INT; --NUMBER(08)
   DECLARE @nProceso1            INT; --NUMBER(08)
   DECLARE @nProceso2            INT; --NUMBER(08)
   DECLARE @nProceso3            INT; --NUMBER(08)
   DECLARE @nProceso4            INT; --NUMBER(08)
--
   BEGIN TRY
       SET @strID     = 'INSERT';
       SET @dtInicio  = GETDATE();
       SET @nProceso  = 621;
       SET @nPID      = NEXT VALUE FOR EAI_Owner.ProcessID;
       
       EXEC EAI_Owner.Log_Start @nProceso;
       
       INSERT INTO T3.RF_PROCESOS_LOG ( PID , Proceso , Fecha_Proc_BATMD, Inicio )
          VALUES ( @nPID, @nProceso, NULL, GETDATE() );   
          
       SET @nProceso1 = 0;
       SET @nProceso2 = 0;
       SET @nProceso3 = 0;
       SET @nProceso4 = 0;   
       
	   BEGIN TRANSACTION
       IF ( ISNULL( @nEtapa, 0 ) <= 0 ) 
       BEGIN
          DELETE FROM T3.Rep_Conciliacion;
          
          INSERT INTO T3.Rep_Conciliacion
             ( Ctro, Fecha_Factura, Factura, RFC, Nombre_Cliente, Valor_Factura,
               Vta_Fecha_Liberacion, Vta_Metodo_Pago, Vta_Timbre_Fiscal, Pendiente_Cartera,
               Pago_Fecha_Asignacion, Pago_Importe, Via_Pago, Pago_Asignacion_ID, Agrupacion,
               Pago_Fecha_Liberacion, Pago_Timbre_Fiscal, Nota_Credito, NC_Fecha_Liberacion, NC_Timbre_Fiscal,
               Factor_Timbre_Fiscal, Dias_Cobranza )            
          SELECT
                 Vta.Ctro                                   AS Ctro                 ,
                 Vta.Fecha_Factura                          AS Fecha_Factura        ,
                 Vta.Factura                                AS Factura              ,
                 Vta.RFC                                    AS RFC                  ,
                 Vta.Nombre_Cliente                         AS Nombre_Cliente       ,
                 Vta.Valor_Factura                          AS Valor_Factura        ,
                 Vta.Vta_Fecha_Liberacion                   AS Vta_Fecha_Liberacion ,
                 Vta.Vta_Metodo_Pago                        AS Vta_Metodo_Pago      ,
                 Vta.Vta_Folio_Fiscal                       AS Vta_Timbre_Fiscal    ,
                 Vta.Pendiente_Cartera                      AS Pendiente_Cartera    ,
                 Pago.Fecha_Asignacion                      AS Pago_Fecha_Asignacion,
                 Pago.Importe                               AS Pago_Importe         ,
                 Pago.Via_Pago                              AS Via_Pago             ,
                 Pago.Asignacion_ID                         AS Pago_Asignacion_ID   ,
                 Pago.Agrupacion                            AS Agrupacion           ,
                 Pago.Pago_Fecha_Liberacion                 AS Pago_Fecha_Liberacion,
                 Pago.Pago_Folio_Fiscal                     AS Pago_Timbre_Fiscal   ,
                 Pago.Nota_Credito                          AS Nota_Credito         ,
                 Pago.NC_Fecha_Liberacion                   AS NC_Fecha_Liberacion  ,
                 Pago.NC_Timbre_Fiscal                      AS NC_Timbre_Fiscal     ,
                 CASE
                    WHEN ( Pago.NC_Timbre_Fiscal  IS NOT NULL ) THEN 1
                    WHEN ( Pago.Pago_Folio_Fiscal IS NOT NULL ) THEN 1
                    ELSE
                       0
                 END                                        AS Factor_Timbre_Fiscal,
                 DATEDIFF(DAY, Vta.Fecha_Factura, Pago.Fecha_Asignacion) AS Dias_Cobaranza
             FROM (
                    SELECT Vta.Ctro                         AS Ctro                ,
                           Vta.Fecha                        AS Fecha_Factura       ,
                           Vta.Folio_Interno                AS Factura             ,
                           Vta.RFC                          AS RFC                 ,
                           Vta.Nombre_Cliente               AS Nombre_Cliente      ,
                           Vta.Valor_Subt                   AS Valor_Subt          ,
                           Vta.Valor_IVA                    AS Valor_IVA           ,
                           Vta.Valor                        AS Valor_Factura       ,
                           Vta.Folio_Fiscal                 AS Vta_Folio_Fiscal    ,
                           CFD.Fecha_Liberacion             AS Vta_Fecha_Liberacion,
                           CFD.Metodo_Pago                  AS Vta_Metodo_Pago     ,
                           ISNULL( Debt.Monto, 0 )          AS Pendiente_Cartera
                      FROM EAI.CFDI_Informe       Vta
                      LEFT OUTER JOIN T3.CFDI_Documentos     CFD
                        ON Vta.Folio_Interno = CFD.Nota_Venta
                      LEFT OUTER JOIN ( 
                         SELECT Referencia         AS Referencia,
                                MAX( Fecha_Doc )   AS Fecha_Doc ,
                                SUM( Monto )       AS Monto
                           FROM EAI.T3R_CARTERA_SAP_OLD
                           GROUP BY Referencia, Fecha_Doc, Monto
                       )  Debt
                        ON Vta.Folio_Interno = Debt.Referencia
                     WHERE Vta.RFC           != 'XAXX010101000'
                       AND Vta.Tipo_Docto    IN ( 'C003', 'C005' )
                       AND Vta.Ctro          != 'MX06'
                 ) Vta 
             LEFT OUTER JOIN (
                 SELECT
                          Info.Factura                                        AS Factura              ,
                          Info.Nota_Credito                                   AS Nota_Credito         ,
                          Info.Asignacion_ID                                  AS Asignacion_ID        ,
                          Info.Fecha_Asignacion                               AS Fecha_Asignacion     ,
                          Info.Importe                                        AS Importe              ,
                          Info.Via_Pago                                       AS Via_Pago             ,
                          Info.Agrupacion                                     AS Agrupacion           ,
                          Info.Pago_x_Timbrar                                 AS Pago_x_Timbrar       ,
                          Info.Vta_Timbre_Fiscal                              AS Vta_Timbre_Fiscal    ,
                          Info.NC_Fecha_Liberacion                            AS NC_Fecha_Liberacion  ,
                          Info.NC_Timbre_Fiscal                               AS NC_Timbre_Fiscal     ,
                          Pago.Fecha_Liberacion                               AS Pago_Fecha_Liberacion,
                          Pago.Folio_Fiscal                                   AS Pago_Folio_Fiscal    
                     FROM (
                            SELECT 
                                   Cobza.Factura                                     AS Factura             ,
                                   Cobza.Nota_Credito                                AS Nota_Credito        ,
                                   Cobza.Asignacion_ID                               AS Asignacion_ID       ,
                                   Cobza.Fecha_Asignacion                            AS Fecha_Asignacion    ,
                                   Cobza.Importe                                     AS Importe             ,
                                   Cobza.Via_Pago                                    AS Via_Pago            ,
                                   AgrPago.Agrupacion                                AS Agrupacion          ,
                                   CASE
                                       WHEN ( Cobza.Via_Pago = 'CM' ) THEN ''
                                       ELSE
                                          ISNULL( CAST( AgrPago.Agrupacion AS VARCHAR ), CAST( Cobza.Asignacion_ID AS VARCHAR ) )
                                   END                                               AS Pago_x_Timbrar      ,
                                   Cobza.UUID_Venta                                  AS Vta_Timbre_Fiscal  ,
                                   CFD_NC.Fecha_Liberacion                           AS NC_Fecha_Liberacion,
                                   CFD_NC.Folio_Fiscal                               AS NC_Timbre_Fiscal
                              FROM ( SELECT Folio_Interno AS Factura FROM EAI.CFDI_Informe WHERE RFC != 'XAXX010101000' ) Vta
                             INNER JOIN T3.CFDI_Cobranza        Cobza   ON Vta.Factura         = Cobza.Factura
                             LEFT OUTER JOIN T3.CFDI_Agrupacion_Pago AgrPago ON Cobza.Asignacion_ID = AgrPago.Asignacion_ID
                             LEFT OUTER JOIN T3.CFDI_Documentos      CFD_NC  ON Cobza.Nota_Credito  = CFD_NC.Nota_Venta
                        ) Info
                     LEFT OUTER JOIN T3.CFDI_Documentos Pago ON Info.Pago_x_Timbrar = Pago.Nota_Venta  
             ) Pago ON Vta.Factura = Pago.Factura;
             
          SET @nProceso3 = @@ROWCOUNT;
       END;      
       
       UPDATE EAI_OWNER.MX_COMPONENTS SET Status = 1
          WHERE Component = CAST(@nProceso AS VARCHAR);
          
       UPDATE T3.RF_PROCESOS_LOG SET  Fin = GETDATE(), Proceso_1 = @nProceso1, Proceso_2 = @nProceso2,
                                      Proceso_3 = @nProceso3, Proceso_4 = @nProceso4
          WHERE PID = @nPID;         
       
       COMMIT TRANSACTION
--   
   END TRY
   BEGIN CATCH
       IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
       
       SET @sMsg = SUBSTRING( CAST(ERROR_NUMBER() AS VARCHAR) + '-' + ERROR_MESSAGE(), 1, 250 );
       SET @sMsg = SUBSTRING( ERROR_MESSAGE(), 1, 250 );
       
       PRINT REPLICATE( '-', 80 );
       PRINT 'Problemas en la ejecucion del Procedimiento';
       PRINT 'FAVOR DE ESCALAR LOS SIGUIENTES DATOS :';
       PRINT 'Procedimiento : PROC_CFDI_CONCILIACION_VTA';
       PRINT 'Fecha         : ' + FORMAT( GETDATE(), 'yyyyMMdd HH:mm:ss' );
       PRINT 'Referencia    : ' + ISNULL( @strID, '' );
       PRINT 'Error         : ' + ISNULL( @sMsg, '' );
       PRINT REPLICATE( '-', 80 );
       
       SET @sErrorCode = 'SQL-' + CAST( ERROR_NUMBER() AS VARCHAR );
       SET @sMsg = SUBSTRING( CAST(ERROR_NUMBER() AS VARCHAR) + '-' + ERROR_MESSAGE(), 1, 250 );      
       
       INSERT INTO EAI_OWNER.MX_EAI_MESSAGE_LOG
         ( DIRECTION          , REFERENCE                     , CREATED             , MESSAGE        , JOB_PID,
           STATUS             , QUEUE_NAME                    , SIEBEL_ERROR_MESSAGE, SOURCE         , 
           SIEBEL_ERROR_CODE  , RETRY_COUNT                   , SEQUENCE            , PARENT_ROW_ID   )
       VALUES 
         ( 'Job Logging'      , @strID                        , GETDATE()           , NULL           , @nPID   ,
           'Error'            , 'PROC_CFDI_CONCILIACION_VTA'  , @sMsg               , 'PL/SQL'       ,
           @sErrorCode        , NULL                          , NULL                , NULL            ) ;
    
   END CATCH
END;
GO
