USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_CFDI_INSERTAR_COBZA_RESTO]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[PROC_CFDI_INSERTAR_COBZA_RESTO] 
   (
     @pSociedad            VARCHAR(MAX),
     @pDocto_Compensacion  VARCHAR(MAX)
   )
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sMsg               VARCHAR(500) ;
    DECLARE @sFactura           VARCHAR(20)  ;
    DECLARE @nDoctos            NUMERIC(6,0) ;
    DECLARE @sEtapa             VARCHAR(20)  ;
    DECLARE @sProcesar          VARCHAR(2)   ;
    DECLARE @dtFecha_Proc_BATMD DATETIME     ;
    DECLARE @strID              VARCHAR(50)  ;
    DECLARE @sFolio_ID          VARCHAR(50)  ;
    DECLARE @nImporte           NUMERIC(22,6);

    -- Variables Cursor 
    DECLARE @CC_Folio_ID          VARCHAR(50), 
            @CC_Fecha_Asignacion  DATETIME, 
            @CC_Importe           NUMERIC(22,6), 
            @CC_Saldo_Anterior    NUMERIC(22,6), 
            @CC_Numero_Pago       INT, 
            @CC_Accnt_ID          VARCHAR(50), 
            @CC_Factura           VARCHAR(50), 
            @CC_Nota_Venta        VARCHAR(50), 
            @CC_RFC               VARCHAR(50), 
            @CC_Fecha_Proceso     DATETIME, 
            @CC_Via_Pago          VARCHAR(10), 
            @CC_UUID_Venta        VARCHAR(100), 
            @CC_Fecha_Factura     DATETIME, 
            @CC_Importe_Factura   NUMERIC(22,6), 
            @CC_Fecha_Pago        DATETIME, 
            @CC_Sociedad          VARCHAR(20), 
            @CC_Referencia        VARCHAR(50), 
            @CC_Moneda_Docto      VARCHAR(10), 
            @CC_Tipo_Cambio       NUMERIC(22,6), 
            @CC_Ctro              VARCHAR(10), 
            @CC_Doc_Sociedad      VARCHAR(20);

    DECLARE ScrHeader CURSOR LOCAL FOR
        SELECT 
              SUBSTRING( OG.Sociedad , 3, 2 ) +
              SUBSTRING( Ldr.Ejercicio_Fiscal, 3, 2 ) +
              Ldr.Docto_Compensacion                                          AS Folio_ID         ,
              CONVERT(DATETIME, Ldr.Fecha_Contable, 101)                      AS Fecha_Asignacion ,
              Ldr.Importe                                                     AS Importe          ,
              ISNULL( OG.Valor_Subt, 0 ) + ISNULL( OG.Valor_IVA, 0 )          AS Saldo_Anterior   ,
              1                                                               AS Numero_Pago      ,
              OG.Cliente_SAP                                                  AS Accnt_ID         ,
              OG.Sociedad + '-' + CAST(YEAR(OG.Fecha_Factura) AS VARCHAR(4))  AS Factura          ,
              OG.Factura                                                      AS Nota_Venta       ,
              OG.RFC                                                          AS RFC              ,
              GETDATE()                                                       AS Fecha_Proceso    ,
              '03'                                                            AS Via_Pago         ,
              CFD.Folio_Fiscal                                                AS UUID_Venta       ,
              OG.Fecha_Factura                                                AS Fecha_Factura    ,
              ISNULL( OG.Valor_Subt, 0 ) + ISNULL( OG.Valor_IVA, 0 )          AS Importe_Factura  ,
              CONVERT(DATETIME, Ldr.Fecha_Contable, 101)                      AS Fecha_Pago       ,
              Ldr.Sociedad                                                    AS Sociedad         ,
              OG.Factura                                                      AS Referencia       ,
              OG.Moneda                                                       AS Moneda_Docto     ,
              Ldr.Tipo_Cambio                                                 AS Tipo_Cambio      ,
              'CTRL'                                                          AS Ctro             ,
              OG.Sociedad                                                     AS Doc_Sociedad
          FROM EAI.LDR_FLB5N           Ldr,
               T3.CFDI_Documentos      CFD,
               T3.Otros_General        OG
          WHERE Ldr.Sociedad            = @pSociedad
            AND Ldr.Docto_Compensacion = @pDocto_Compensacion
            AND Ldr.Clase_Docto        = 'RV'
            AND Ldr.Referencia         = CFD.Nota_Venta
            AND Ldr.Referencia         = OG.Factura ;

    BEGIN TRY
        SET @strID   = @pSociedad + '-' + @pDocto_Compensacion ;
        SET @nDoctos = 0 ;

        OPEN ScrHeader;
        FETCH NEXT FROM ScrHeader INTO 
            @CC_Folio_ID, @CC_Fecha_Asignacion, @CC_Importe, @CC_Saldo_Anterior, @CC_Numero_Pago, 
            @CC_Accnt_ID, @CC_Factura, @CC_Nota_Venta, @CC_RFC, @CC_Fecha_Proceso, @CC_Via_Pago, 
            @CC_UUID_Venta, @CC_Fecha_Factura, @CC_Importe_Factura, @CC_Fecha_Pago, @CC_Sociedad, 
            @CC_Referencia, @CC_Moneda_Docto, @CC_Tipo_Cambio, @CC_Ctro, @CC_Doc_Sociedad;

        WHILE @@FETCH_STATUS = 0
        BEGIN
           SET @nDoctos = @nDoctos + 1 ;
           SET @sFolio_ID = @CC_Folio_ID ;
           SET @nImporte  = ROUND( @CC_Importe / @CC_Tipo_Cambio, 4 ) ;

           INSERT INTO T3.CFDI_Cobranza_Resto
             ( Folio_ID, Asignacion_ID, Fecha_Asignacion, Importe, Saldo_Anterior, Numero_Pago, 
               Accnt_ID, Factura, Nota_Venta, RFC, Fecha_Proceso, Via_Pago,
               UUID_Venta, Fecha_Factura, Importe_Factura, Fecha_Pago, 
               Sociedad, Referencia, Moneda_Docto, Tipo_Cambio, Ctro )
           VALUES   
             ( @sFolio_ID, @sFolio_ID, @CC_Fecha_Asignacion, @nImporte, @CC_Saldo_Anterior, @CC_Numero_Pago, 
               @CC_Accnt_ID, @CC_Factura, @CC_Nota_Venta, @CC_RFC, @CC_Fecha_Proceso, @CC_Via_Pago,
               @CC_UUID_Venta, @CC_Fecha_Factura, @CC_Importe_Factura, @CC_Fecha_Pago, 
               @CC_Sociedad, @CC_Referencia, @CC_Moneda_Docto, @CC_Tipo_Cambio, @CC_Ctro ) ; 

           IF ( @CC_Sociedad != @CC_Doc_Sociedad ) 
           BEGIN
                INSERT INTO EAI_Owner.WA_Logging
                   ( Fecha, Usuario, Usuario_Red, IP, Terminal, Documento, Comentario )
                VALUES
                   ( GETDATE() , CURRENT_USER, 
                     SUSER_SNAME(), 
                     CAST(CONNECTIONPROPERTY('client_net_address') AS VARCHAR(50)),
                     HOST_NAME(),
                     @sFolio_ID, 'Ajuste Sociedad' ) ; 
           END

           FETCH NEXT FROM ScrHeader INTO 
               @CC_Folio_ID, @CC_Fecha_Asignacion, @CC_Importe, @CC_Saldo_Anterior, @CC_Numero_Pago, 
               @CC_Accnt_ID, @CC_Factura, @CC_Nota_Venta, @CC_RFC, @CC_Fecha_Proceso, @CC_Via_Pago, 
               @CC_UUID_Venta, @CC_Fecha_Factura, @CC_Importe_Factura, @CC_Fecha_Pago, @CC_Sociedad, 
               @CC_Referencia, @CC_Moneda_Docto, @CC_Tipo_Cambio, @CC_Ctro, @CC_Doc_Sociedad;
        END ;

        CLOSE ScrHeader;
        DEALLOCATE ScrHeader;

    END TRY
    BEGIN CATCH

        IF CURSOR_STATUS('global','ScrHeader') >= -1 OR CURSOR_STATUS('local','ScrHeader') >= -1
        BEGIN
            CLOSE ScrHeader; DEALLOCATE ScrHeader;
        END

		--@sMsg se sustituye
        SET @sMsg = SUBSTRING( CAST(ERROR_NUMBER() AS VARCHAR) + '-' + ERROR_MESSAGE(), 1, 250 ) ;
        SET @sMsg = SUBSTRING( ERROR_MESSAGE(), 1, 250 ) ;

        PRINT REPLICATE( '-', 80 ) ;
        PRINT 'Problemas en la ejecucion del Procedimiento' ;
        PRINT 'FAVOR DE ESCALAR LOS SIGUIENTES DATOS :' ;
        PRINT 'Procedimiento : ' + 'PROC_CFDI_INSERTAR_COBZA_RESTO' ;
        PRINT 'Fecha         : ' + FORMAT( GETDATE(), 'yyyyMMdd HH:mm:ss' ) ;
        PRINT 'Referencia    : ' + ISNULL(@strID, '') ;
        PRINT 'Error         : ' + ISNULL(@sMsg, '') ;
        PRINT REPLICATE( '-', 80 ) ;

        INSERT INTO T3.RF_ERROR_LOG 
            ( FECHA, RUTINA, REFERENCIA, ERROR_DESC )
        VALUES
            ( GETDATE(), 'PROC_CFDI_INSERTAR_COBZA_RESTO', @strID, @sMsg ) ;

    END CATCH
END;
GO
