USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_CFDI_LIBERA_PAGO_CENTRAL]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[PROC_CFDI_LIBERA_PAGO_CENTRAL] 
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sMsg            VARCHAR(500) ;
    DECLARE @sErrorCode      VARCHAR(30)  ;
    DECLARE @nRetGenTxt      NUMERIC(6,0) ;
    DECLARE @strID           VARCHAR(50)  ;
    DECLARE @dtInicio        DATETIME     ;
    DECLARE @nPID            NUMERIC(8,0) ;
    DECLARE @nProceso        NUMERIC(8,0) ;
    DECLARE @nProceso1       NUMERIC(8,0) ;
    DECLARE @nProceso2       NUMERIC(8,0) ;
    DECLARE @nProceso3       NUMERIC(8,0) ;
    DECLARE @nProceso4       NUMERIC(8,0) ;
    DECLARE @sOrder_Num      VARCHAR(30)  ;
    DECLARE @sCadenaOriginal VARCHAR(60)  ;
    DECLARE @sSelloDigital   VARCHAR(60)  ;
    DECLARE @nItems          NUMERIC(6,0) ;
    DECLARE @nUUIDs          NUMERIC(6,0) ;

    -- Variables cursor
    DECLARE @Doc_VersionCFD VARCHAR(50);
    DECLARE @Doc_Agrupacion VARCHAR(50); 
	--faltas las de la tabla CFDI_Agrupacion_CTRL


    DECLARE ScrCentral CURSOR LOCAL FOR
        SELECT ISNULL( Vers.VerCFD, EAI_Owner.getConv( 'CFG Settings', 'VersionCFDI' ) ) AS VersionCFD, 
               Agr.Agrupacion,
			   Agr.FECHA_PAGO,
			   Agr.VIA_PAGO,
			   Agr.RFC,
			   Agr.BANCO_NOMBRE,
			   Agr.BANCO_NUM_CUENTA,
			   Agr.IMPORTE,
			   Agr.CANTIDAD_PAGOS,
			   Agr.ACCNT_ID,
			   Agr.FECHA_REGISTRO,
			   Agr.FECHA_ENVIO,
			   Agr.ASIGNACION_CENTRAL, Agr.CTRO,
			   Agr.CLIENTE_SAP
          FROM T3.CFDI_Agrupacion_CTRL Agr
          LEFT OUTER JOIN 
               ( SELECT RFC, MAX( Valor ) AS VerCFD
                  FROM T3.CFDI_RFC_Setting
                  WHERE Parametro = 'VersionCFDI'
                  GROUP BY RFC 
               ) Vers ON Agr.RFC = Vers.RFC
          WHERE Agr.Fecha_Pago  >= CONVERT(DATETIME, '20220101', 112)
            AND Agr.Fecha_Envio IS NULL ;

    BEGIN TRY
        SET @dtInicio  = GETDATE() ;
        SET @nProceso  = 614 ;
        SET @nProceso1 = 0 ;
        SET @nProceso2 = 0 ;
        SET @nProceso3 = 0 ;
        SET @nProceso4 = 0 ;
        SET @nPID      = NEXT VALUE FOR EAI_Owner.ProcessID ;
        
        EXEC EAI_Owner.Log_Start @nProceso ;

        INSERT INTO T3.RF_PROCESOS_LOG ( PID , Proceso , Fecha_Proc_BATMD, Inicio )
           VALUES ( @nPID, @nProceso, NULL, GETDATE() ) ;       

        OPEN ScrCentral;
        FETCH NEXT FROM ScrCentral INTO @Doc_VersionCFD, @Doc_Agrupacion;

        WHILE @@FETCH_STATUS = 0
        BEGIN   
           SET @strID  = @Doc_Agrupacion   ;
           SET @nItems = 0 ;
           SET @nUUIDs = 0 ;
           
           EXEC T3.PROC_CFDI_LIBERA_PAGO_CHECK @Doc_Agrupacion, @nItems OUTPUT, @nUUIDs OUTPUT ; 

           IF ( ( @nItems > 0 ) AND ( @nItems = @nUUIDS ) ) 
           BEGIN
              SET @nProceso1 = @nProceso1 + 1 ;
              
              IF ( @Doc_VersionCFD = '4.0' ) 
              BEGIN
                 EXEC T3.PROC_V20_GENERAR_PAGO_AGR @Doc_Agrupacion ;
              END
              ELSE
              BEGIN
                 EXEC T3.PROC_CFDI_GENERAR_PAGO_AGR @Doc_Agrupacion ;
              END 

 
           END 

            FETCH NEXT FROM ScrCentral INTO @Doc_VersionCFD, @Doc_Agrupacion;
        END 
        CLOSE ScrCentral;
        DEALLOCATE ScrCentral;

        UPDATE EAI_OWNER.MX_COMPONENTS SET Status = 1
           WHERE Component = @nProceso ;

        UPDATE T3.RF_PROCESOS_LOG SET  Fin = GETDATE(), Proceso_1 = @nProceso1, Proceso_2 = @nProceso2,
                                                    Proceso_3 = @nProceso3, Proceso_4 = @nProceso4
           WHERE PID = @nPID  ;          

    END TRY
    BEGIN CATCH
            
        IF CURSOR_STATUS('global','ScrCentral') >= -1 OR CURSOR_STATUS('local','ScrCentral') >= -1 BEGIN CLOSE ScrCentral; DEALLOCATE ScrCentral; END

        SET @sMsg = SUBSTRING( CAST(ERROR_NUMBER() AS VARCHAR) + '-' + ERROR_MESSAGE(), 1, 250 ) ;
        SET @sMsg = SUBSTRING( ERROR_MESSAGE(), 1, 250 ) ;

        PRINT REPLICATE( '-', 80 ) ;
        PRINT 'Problemas en la ejecucion del Procedimiento' ;
        PRINT 'FAVOR DE ESCALAR LOS SIGUIENTES DATOS :' ;
        PRINT 'Procedimiento : ' + 'PROC_CFDI_LIBERA_PAGO_CENTRAL' ;
        PRINT 'Fecha         : ' + FORMAT( GETDATE(), 'yyyyMMdd HH:mm:ss' ) ;
        PRINT 'Referencia    : ' + ISNULL(@strID, '') ;
        PRINT 'Error         : ' + ISNULL(@sMsg, '') ;
        PRINT REPLICATE( '-', 80 ) ;

        SET @sErrorCode = 'SQL-' + CAST( ERROR_NUMBER() AS VARCHAR ) ;
        SET @sMsg = SUBSTRING( CAST( ERROR_NUMBER() AS VARCHAR ) + '-' + ERROR_MESSAGE(), 1, 250 ) ;      

        INSERT INTO EAI_OWNER.MX_EAI_MESSAGE_LOG
          ( DIRECTION          , REFERENCE                     , CREATED             , MESSAGE        , JOB_PID,
            STATUS             , QUEUE_NAME                    , SIEBEL_ERROR_MESSAGE, SOURCE         , 
            SIEBEL_ERROR_CODE  , RETRY_COUNT                   , SEQUENCE            , PARENT_ROW_ID   )
        VALUES 
          ( 'Job Logging'      , @strID                        , GETDATE()           , NULL           , @nPID   ,
            'Error'            , 'PROC_CFDI_LIBERA_PAGO_CENTRAL', @sMsg               , 'PL/SQL'       ,
            @sErrorCode        , NULL                          , NULL                , NULL            ) ;

    END CATCH
END;
GO
