USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_T3_OT_DOCTOS_INTERCO]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[PROC_T3_OT_DOCTOS_INTERCO]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sFACTURA          VARCHAR(12) ;  
    DECLARE @sPROCESAR         VARCHAR(12) ;
--   
    DECLARE @v_ID              VARCHAR(50) ;
    DECLARE @sErrorCode        VARCHAR(30) ;      
    DECLARE @sMsg              VARCHAR(300) ;
    DECLARE @nPID              INT ;
    DECLARE @nProceso          INT ;
    DECLARE @nProceso1         INT ;
    DECLARE @nProceso2         INT ;
    DECLARE @nProceso3         INT ;
    DECLARE @nProceso4         INT ;        

    -- Variables cursores
    DECLARE @PR_FACTURA           VARCHAR(50),
            @PR_CTRO              VARCHAR(10),
            @PR_FECHA_FACTURA     DATETIME,
            @PR_FECHA_CANCELACION DATETIME,
            @PR_CLIENTE_SAP       VARCHAR(50),
            @PR_CLASE_FACTURA     VARCHAR(10),
            @PR_TOTAL             NUMERIC(22,2),
            @PR_TOTAL_DETALLE     NUMERIC(22,2);
    DECLARE @PMX_FACTURA           VARCHAR(50),
            @PMX_CTRO              VARCHAR(10),
            @PMX_FECHA_FACTURA     DATETIME,
            @PMX_FECHA_CANCELACION DATETIME,
            @PMX_CLIENTE_SAP       VARCHAR(50),
            @PMX_CLASE_FACTURA     VARCHAR(10),
            @PMX_TOTAL             NUMERIC(22,2);
    DECLARE @PED_FACTURA           VARCHAR(50),
            @PED_CTRO              VARCHAR(10),
            @PED_FECHA_FACTURA     DATETIME,
            @PED_FECHA_CANCELACION DATETIME,
            @PED_CLIENTE_SAP       VARCHAR(50),
            @PED_CLASE_FACTURA     VARCHAR(10),
            @PED_TOTAL             NUMERIC(22,2),
            @PED_TOTAL_DETALLE     NUMERIC(22,2);
    DECLARE @PBL_FACTURA           VARCHAR(50),
            @PBL_CTRO              VARCHAR(10),
            @PBL_FECHA_FACTURA     DATETIME,
            @PBL_FECHA_CANCELACION DATETIME,
            @PBL_CLIENTE_SAP       VARCHAR(50),
            @PBL_CLASE_FACTURA     VARCHAR(10),
            @PBL_TOTAL             NUMERIC(22,2),
            @PBL_TOTAL_DETALLE     NUMERIC(22,2);
    DECLARE @DET_Factura            VARCHAR(50),
            @DET_Num_Linea          INT,
            @DET_Material           VARCHAR(20),
            @DET_Cantidad_Vta       NUMERIC(22,2),
            @DET_Valor_Subt         NUMERIC(22,2),
            @DET_Valor_Tot          NUMERIC(22,2),
            @DET_Valor_Desc         NUMERIC(22,2),
            @DET_Valor_IVA          NUMERIC(22,2),
            @DET_Bonif_Subt         NUMERIC(22,2),
            @DET_Bonif_IVA          NUMERIC(22,2),
            @DET_Bonif_Porc         NUMERIC(22,2),
            @DET_Bonif_Vol          NUMERIC(22,2),
            @DET_Referencia_Pedido  VARCHAR(50),
            @DET_SKU_Name           VARCHAR(200);
    DECLARE @CAN_Factura            VARCHAR(50);

    DECLARE PREVENTAS CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT PG.FACTURA, PG.CTRO, PG.FECHA_FACTURA, PG.FECHA_CANCELACION, PG.CLIENTE_SAP, PG.CLASE_FACTURA,
               PG.VALOR_SUBT + PG.VALOR_IVA AS TOTAL, 
               SUM( PD.VALOR_SUBT + PD.VALOR_IVA ) AS TOTAL_DETALLE
           FROM PREVENTA_GENERAL PG
           INNER JOIN PREVENTA_DETALLE PD ON PG.FACTURA = PD.FACTURA
           WHERE PG.FECHA_PROC_BATMD IS NULL
             AND PG.FECHA_TRN > GETDATE() - 5
             AND PG.CLASE_FACTURA    IN ( 'C020', 'C021', 'C022'  ) 
           GROUP BY PG.FACTURA, PG.CTRO, PG.FECHA_FACTURA, PG.FECHA_CANCELACION, PG.CLIENTE_SAP, PG.CLASE_FACTURA, PG.VALOR_SUBT + PG.VALOR_IVA ;              

    DECLARE PREVENTAS_MX06 CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT PG.FACTURA, PG.CTRO, PG.FECHA_FACTURA, PG.FECHA_CANCELACION, PG.CLIENTE_SAP, PG.CLASE_FACTURA,
               PG.VALOR_SUBT + PG.VALOR_IVA AS TOTAL
           FROM T3.PREVENTA_GENERAL PG
           LEFT OUTER JOIN T3.CFDI_DOCUMENTOS PAC ON PG.FACTURA = PAC.NOTA_VENTA
           WHERE PG.FECHA_PROC_BATMD   > CONVERT(DATETIME, CONVERT(DATE, GETDATE()))
             AND PG.CLASE_FACTURA     IN ( 'C005', 'C006' ) 
             AND PG.FECHA_CANCELACION IS NULL 
             AND PAC.FECHA_LIBERACION IS NULL ;

    DECLARE PEDIMENTOS CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT PG.FACTURA, PG.CTRO, PG.FECHA_FACTURA, PG.FECHA_CANCELACION, PG.CLIENTE_SAP, PG.CLASE_FACTURA,
               PG.VALOR_SUBT + PG.VALOR_IVA AS TOTAL, 
               SUM( PD.VALOR_SUBT + PD.VALOR_IVA ) AS TOTAL_DETALLE
           FROM T3.PREVENTA_GENERAL       PG
           INNER JOIN T3.PREVENTA_DETALLE PD ON PG.FACTURA = PD.FACTURA
           LEFT OUTER JOIN T3.CFDI_DOCUMENTOS CFDI ON PG.FACTURA = CFDI.NOTA_VENTA
           INNER JOIN T3.RF_Pedimento_Detalle Ped ON PG.FACTURA = Ped.Folio_Fiscal
           WHERE PG.FECHA_PROC_BATMD    > CONVERT(DATETIME, CONVERT(DATE, GETDATE() - 1))
             AND PG.CLASE_FACTURA      IN ( 'C020' ) 
             AND CFDI.FECHA_LIBERACION IS NULL
             AND ISNULL( Ped.Pedimento, 'NO' ) != 'NO'
           GROUP BY PG.FACTURA, PG.CTRO, PG.FECHA_FACTURA, PG.FECHA_CANCELACION, PG.CLIENTE_SAP, PG.CLASE_FACTURA, PG.VALOR_SUBT + PG.VALOR_IVA ;              

    DECLARE PREVENTAS_BLOQ CURSOR LOCAL FORWARD_ONLY STATIC FOR           
        SELECT PG.FACTURA, PG.CTRO, PG.FECHA_FACTURA, PG.FECHA_CANCELACION, PG.CLIENTE_SAP, PG.CLASE_FACTURA,
               PG.VALOR_SUBT + PG.VALOR_IVA AS TOTAL, 
               SUM( PD.VALOR_SUBT + PD.VALOR_IVA ) AS TOTAL_DETALLE
           FROM PREVENTA_GENERAL PG
           INNER JOIN PREVENTA_DETALLE PD ON PG.FACTURA = PD.FACTURA
           WHERE YEAR( PG.FECHA_PROC_BATMD ) = 2999
             AND PG.CLASE_FACTURA    IN ( 'Z019', 'Z0FX', 'Z020', 'Z021', 'Z022',
                                          'C019', 'C0FX', 'C020', 'C021', 'C022' ) 
           GROUP BY PG.FACTURA, PG.CTRO, PG.FECHA_FACTURA, PG.FECHA_CANCELACION, PG.CLIENTE_SAP, PG.CLASE_FACTURA, PG.VALOR_SUBT + PG.VALOR_IVA ;              

    DECLARE ScrDetalle CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT 
               PD.Factura      , PD.Num_Linea   , PD.Material    , PD.Cantidad_Vta    ,
               ISNULL( PD.Valor_Subt, 0 )                           AS Valor_Subt       ,
               ISNULL( PD.Valor_Subt, 0 ) + ISNULL( PD.Valor_IVA, 0 )   AS Valor_Tot        ,
               NULL                                                 AS Valor_Desc       ,
               ISNULL( PD.Valor_IVA , 0 )                           AS Valor_IVA        ,
--        
               ISNULL( PD.Bonif_Subt, 0 )                           AS Bonif_Subt       , 
               ISNULL( PD.Bonif_IVA , 0 )                           AS Bonif_IVA        , 
               ISNULL( PD.Bonif_Porc, 0 )                           AS Bonif_Porc       , 
               ISNULL( PD.Bonif_Vol , 0 )                           AS Bonif_Vol        ,
               PD.Referencia_Pedido                                 AS Referencia_Pedido,
               ISNULL( SKU.Nombre_Material , 'SKU-Vacio' )           AS SKU_Name
        FROM T3.Preventa_General   PG ,
             T3.Preventa_Detalle   PD ,
             T3.Material           SKU
        WHERE PG.Factura   = @sFACTURA
          AND PG.Factura   = PD.Factura
          AND PD.Material  = SKU.Material
          AND ( ( SKU.Nombre_Material     IS NULL )
             OR ( ( PD.Referencia_Pedido IS NULL ) AND ( PD.Cantidad_Vta = 0 ) ) ) ;

    DECLARE Cancelaciones CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT PG.Factura 
        FROM T3.Preventa_General PG
        WHERE PG.Clase_Factura IN ( 'C005', 'C006' )
          AND Fecha_Cancelacion > CONVERT(DATETIME, CONVERT(DATE, GETDATE() - 1)) ;

    BEGIN TRY
        UPDATE T3.Preventa_General SET Fecha_Proc_BATMD = NULL
        WHERE Fecha_Trn         > GETDATE() - 7
          AND Fecha_Proc_BATMD  > GETDATE() + 7
          AND Clase_Factura    IN ( 'C020', 'C021', 'C022' ) ;

        SET @nProceso  = 881 ;
        SET @nPID      = NEXT VALUE FOR EAI_Owner.ProcessID ;
        
        EXEC EAI_Owner.Log_Start @nProceso ;
        
        INSERT INTO T3.RF_PROCESOS_LOG ( PID , Proceso , Fecha_Proc_BATMD, Inicio )
        VALUES ( @nPID, @nProceso, NULL, GETDATE() ) ;   
        
        SET @nProceso1 = 0 ;
        SET @nProceso2 = 0 ;
        SET @nProceso3 = 0 ;
        SET @nProceso4 = 0 ;
--
        EXEC EAI_OWNER.WA_BAT_PRODUCTORA 4 ;

        OPEN PREVENTAS;
        FETCH NEXT FROM PREVENTAS INTO @PR_FACTURA, @PR_CTRO, @PR_FECHA_FACTURA, @PR_FECHA_CANCELACION, @PR_CLIENTE_SAP, @PR_CLASE_FACTURA, @PR_TOTAL, @PR_TOTAL_DETALLE;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @sPROCESAR = 'SI'    ;
            SET @sFACTURA  = @PR_FACTURA ;
            SET @v_ID      = @PR_FACTURA ;

            OPEN ScrDetalle;
            FETCH NEXT FROM ScrDetalle INTO @DET_Factura, @DET_Num_Linea, @DET_Material, @DET_Cantidad_Vta, @DET_Valor_Subt, @DET_Valor_Tot, @DET_Valor_Desc, @DET_Valor_IVA, @DET_Bonif_Subt, @DET_Bonif_IVA, @DET_Bonif_Porc, @DET_Bonif_Vol, @DET_Referencia_Pedido, @DET_SKU_Name;
            
            WHILE @@FETCH_STATUS = 0
            BEGIN
                IF ( @DET_SKU_Name = 'SKU-Vacio' ) 
                BEGIN
                    SET @sPROCESAR = 'NO' ;
                END;   
                IF ( ( @DET_Referencia_Pedido IS NULL ) AND ( @DET_Cantidad_Vta = 0 ) ) 
                BEGIN
                    SET @sPROCESAR = 'NO' ;
                END;   
                FETCH NEXT FROM ScrDetalle INTO @DET_Factura, @DET_Num_Linea, @DET_Material, @DET_Cantidad_Vta, @DET_Valor_Subt, @DET_Valor_Tot, @DET_Valor_Desc, @DET_Valor_IVA, @DET_Bonif_Subt, @DET_Bonif_IVA, @DET_Bonif_Porc, @DET_Bonif_Vol, @DET_Referencia_Pedido, @DET_SKU_Name;
            END;
            CLOSE ScrDetalle;

            IF ( @sPROCESAR = 'SI' ) 
            BEGIN
                SET @sPROCESAR = T3.FN_INTERCOMPANY_UM( @PR_CLASE_FACTURA, @PR_FACTURA ) ;
            END;

            IF ( ( ABS( @PR_TOTAL - @PR_TOTAL_DETALLE ) < 0.10 ) AND ( @sPROCESAR = 'SI' ) ) 
            BEGIN
                EXEC PROC_CFDI_INSERTAR_IFC_CTE @PR_FACTURA ;
            END;   

            IF ( ( @PR_CLASE_FACTURA IN ( 'C019', 'C0FX', 'C020', 'C021', 'C022', 'C025' ) ) AND ( @sPROCESAR = 'SI' ) ) 
            BEGIN
                EXEC PROC_CFDI_INSERTAR_PAC @PR_FACTURA ;
                SET @nProceso1 = @nProceso1 + 1 ;
            END;
            
            PRINT ISNULL(@PR_FACTURA, '') + ', Proc-> ' + ISNULL(@sPROCESAR, '') ;

            FETCH NEXT FROM PREVENTAS INTO @PR_FACTURA, @PR_CTRO, @PR_FECHA_FACTURA, @PR_FECHA_CANCELACION, @PR_CLIENTE_SAP, @PR_CLASE_FACTURA, @PR_TOTAL, @PR_TOTAL_DETALLE;
        END;
        CLOSE PREVENTAS;
        DEALLOCATE PREVENTAS;

        -- Bloque PREVENTAS_MX06 (Comentado estructuralmente tal como viene de Oracle)
        -- OPEN PREVENTAS_MX06; ... CLOSE PREVENTAS_MX06; DEALLOCATE PREVENTAS_MX06;

        -- Ejecución del ciclo para Cursor PEDIMENTOS
        OPEN PEDIMENTOS;
        FETCH NEXT FROM PEDIMENTOS INTO @PED_FACTURA, @PED_CTRO, @PED_FECHA_FACTURA, @PED_FECHA_CANCELACION, @PED_CLIENTE_SAP, @PED_CLASE_FACTURA, @PED_TOTAL, @PED_TOTAL_DETALLE;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            IF ( ( ABS( @PED_TOTAL - @PED_TOTAL_DETALLE ) < 0.10 ) ) 
            BEGIN
                EXEC PROC_CFDI_INSERTAR_PAC @PED_FACTURA ;
            END;
            FETCH NEXT FROM PEDIMENTOS INTO @PED_FACTURA, @PED_CTRO, @PED_FECHA_FACTURA, @PED_FECHA_CANCELACION, @PED_CLIENTE_SAP, @PED_CLASE_FACTURA, @PED_TOTAL, @PED_TOTAL_DETALLE;
        END;
        CLOSE PEDIMENTOS;
        DEALLOCATE PEDIMENTOS;

        OPEN Cancelaciones;
        FETCH NEXT FROM Cancelaciones INTO @CAN_Factura;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            EXEC PROC_CFDI_INSERTAR_CANCEL @CAN_Factura ;
            FETCH NEXT FROM Cancelaciones INTO @CAN_Factura;
        END;
        CLOSE Cancelaciones;
        DEALLOCATE Cancelaciones;

        DEALLOCATE ScrDetalle;

        UPDATE EAI_OWNER.MX_COMPONENTS SET Status = 1
        WHERE Component = @nProceso ;

        UPDATE T3.RF_PROCESOS_LOG 
        SET Fin = GETDATE(), Proceso_1 = @nProceso1, Proceso_2 = @nProceso2,
            Proceso_3 = @nProceso3, Proceso_4 = @nProceso4
        WHERE PID = @nPID ;         

    END TRY
    BEGIN CATCH
        IF CURSOR_STATUS('local', 'PREVENTAS') >= 0 BEGIN CLOSE PREVENTAS; DEALLOCATE PREVENTAS; END;
        IF CURSOR_STATUS('local', 'PEDIMENTOS') >= 0 BEGIN CLOSE PEDIMENTOS; DEALLOCATE PEDIMENTOS; END;
        IF CURSOR_STATUS('local', 'Cancelaciones') >= 0 BEGIN CLOSE Cancelaciones; DEALLOCATE Cancelaciones; END;
        IF CURSOR_STATUS('local', 'ScrDetalle') >= 0 BEGIN CLOSE ScrDetalle; DEALLOCATE ScrDetalle; END;

        SET @sErrorCode = 'SQL-' + CAST(ERROR_NUMBER() AS VARCHAR(10)) ;
        SET @sMsg = SUBSTRING(CAST(ERROR_NUMBER() AS VARCHAR(10)) + '-' + ERROR_MESSAGE(), 1, 250) ;      
        
        INSERT INTO EAI_OWNER.MX_EAI_MESSAGE_LOG
          ( DIRECTION          , REFERENCE                   , CREATED             , MESSAGE        , JOB_PID,
            STATUS             , QUEUE_NAME                  , SIEBEL_ERROR_MESSAGE, SOURCE         , 
            SIEBEL_ERROR_CODE  , RETRY_COUNT                 , SEQUENCE            , PARENT_ROW_ID   )
        VALUES 
          ( 'Job Logging'      , @v_ID                        , GETDATE()            , NULL           , @nPID   ,
            'Error'            , 'PROC_T3_OT_DOCTOS_INTERCO' , @sMsg               , 'TSQL'        ,
            @sErrorCode        , NULL                        , NULL                , NULL            ) ;
    
    END CATCH
END;
GO
