USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_VALOR_PAGO]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[PROC_VALOR_PAGO] 
   ( @p_Ctro VARCHAR(MAX) )
AS
BEGIN
   -- Declaración cursor
   DECLARE @Ren_Factura VARCHAR(MAX);
   DECLARE @Ren_Total_Factura DECIMAL(18,4);
   DECLARE @Ren_Total_Pago1 DECIMAL(18,4);
   DECLARE @Ren_Total_Pago2 DECIMAL(18,4);

   DECLARE Facturas CURSOR LOCAL FORWARD_ONLY STATIC FOR
      SELECT A.Factura,
             A.Valor_Subt + A.Valor_IVA + ISNULL( A.Envio_Subt, 0 ) + ISNULL( A.Envio_IVA, 0 )  + ISNULL( A.Credito_Subt, 0 ) + ISNULL( A.Credito_IVA, 0 ) AS Total_Factura,
             A.Valor_Desc               AS Total_Pago1  ,
             SUM( B.Valor_Pago )        AS Total_Pago2
         FROM FACTURA_GENERAL A, ASIGNACION_PAGO B
         WHERE A.Fecha_Trn    > GETDATE() - 4 
           AND A.Factura      = B.Factura
           and a.factura = 'V0020-39651'
--           AND A.Ctro         = @p_Ctro
           --AND A.Fecha_Proc_BATMD IS NULL
           --AND B.Fecha_Proc_BATMD IS NULL
         GROUP BY A.Factura, A.Valor_Subt, A.Valor_Desc, A.Valor_IVA, A.Envio_Subt, A.Envio_IVA, A.Credito_Subt, A.Credito_IVA
         HAVING ( ABS( A.Valor_Desc - SUM( B.Valor_Pago ) ) ) > .02 
             OR ( ABS(( A.Valor_Subt + A.Valor_IVA + ISNULL( A.Envio_Subt, 0 ) + ISNULL( A.Envio_IVA, 0 ) + ISNULL( A.Credito_Subt, 0 ) + ISNULL( A.Credito_IVA, 0 ) ) - SUM( B.Valor_Pago ) )) > .02;

   BEGIN TRY
      OPEN Facturas;
      FETCH NEXT FROM Facturas INTO @Ren_Factura, @Ren_Total_Factura, @Ren_Total_Pago1, @Ren_Total_Pago2;

      WHILE @@FETCH_STATUS = 0
      BEGIN
         IF ( @Ren_Total_Factura < @Ren_Total_Pago2 )
         BEGIN
            UPDATE FACTURA_GENERAL  SET  Fecha_Proc_BATMD = '29991227' -- Formato ANSI aceptado directamente por SQL Server
               WHERE Factura = @Ren_Factura AND Fecha_Proc_BATMD IS NULL ;
            UPDATE ASIGNACION_PAGO  SET  Fecha_Proc_BATMD = '29991227'
               WHERE Factura = @Ren_Factura AND Fecha_Proc_BATMD IS NULL ;
         END ;

         IF ( @Ren_Total_Pago2 != @Ren_Total_Pago1 )
         BEGIN
            UPDATE FACTURA_GENERAL SET Valor_Desc = @Ren_Total_Pago2
               WHERE Factura = @Ren_Factura AND Fecha_Proc_BATMD IS NULL ;
         END ;

         FETCH NEXT FROM Facturas INTO @Ren_Factura, @Ren_Total_Factura, @Ren_Total_Pago1, @Ren_Total_Pago2;
      END ; 

      CLOSE Facturas;
      DEALLOCATE Facturas;

   END TRY
   BEGIN CATCH
      IF CURSOR_STATUS('local', 'Facturas') >= -1
      BEGIN
         IF CURSOR_STATUS('local', 'Facturas') > -1
         BEGIN
            CLOSE Facturas;
         END
         DEALLOCATE Facturas;
      END;

      THROW;
   END CATCH;
END ;
GO
