USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_T3_DUPLICIDAD]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[PROC_T3_DUPLICIDAD]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sCommandLine VARCHAR(200);

    -- Variables cursor
    DECLARE @RegP_Pago_ID     VARCHAR(50), --buscar tipo de dato real Pago.Pago_ID
            @RegP_Cliente_SAP VARCHAR(50),
            @RegP_Valor_Pago  NUMERIC(22,2),
            @RegP_Cnt_Pago    INT;


    DECLARE @RegA_Pago_ID       VARCHAR(50), -- buscar tipo de dato real Asignacion_Pago.Pago_ID
            @RegA_Asignacion_ID VARCHAR(50),
            @RegA_Valor_Pago    NUMERIC(22,2),
            @RegA_Fecha_Trn     DATETIME,
            @RegA_Cnt_Asig      INT;


	-- a ambos cursaores se les quito el rowid y se esta tomando como llave el campo Pago_Id
    DECLARE Duplicidad_Pago CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT P.Pago_ID, --SUSTITUIDO PO ROWID
               P.Cliente_SAP, 
               P.Valor_Pago, 
               COUNT( P.Pago_ID ) AS Cnt_Pago
          FROM T3.Pago P
          WHERE Fecha_Proc_BATMD IS NULL
          GROUP BY P.Pago_ID, P.Cliente_SAP, P.Valor_Pago
          HAVING COUNT( P.Pago_ID ) > 1 ;

    DECLARE Duplicidad_Asig CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT Pago_ID, --SUSTITUIDO PO ROWID
               Asignacion_ID, 
               Valor_Pago, 
               MAX( Fecha_Trn )   AS Fecha_Trn, 
               COUNT( * )         AS Cnt_Asig
          FROM T3.Asignacion_Pago
          WHERE Fecha_Proc_BATMD IS NULL
          GROUP BY Pago_ID, Asignacion_ID, Valor_Pago
          HAVING COUNT( Pago_ID ) > 1 ;

    BEGIN
        OPEN Duplicidad_Pago;
        FETCH NEXT FROM Duplicidad_Pago INTO @RegP_Pago_ID, @RegP_Cliente_SAP, @RegP_Valor_Pago, @RegP_Cnt_Pago;

        WHILE @@FETCH_STATUS = 0
        BEGIN

            --Revisar si asi funciona o se debe meter en una consulta dinámica
            DELETE TOP (1) FROM T3.Pago 
            WHERE Pago_ID = @RegP_Pago_ID 
          

            FETCH NEXT FROM Duplicidad_Pago INTO @RegP_Pago_ID, @RegP_Cliente_SAP, @RegP_Valor_Pago, @RegP_Cnt_Pago;
        END;
        CLOSE Duplicidad_Pago;
        DEALLOCATE Duplicidad_Pago;

        OPEN Duplicidad_Asig;
        FETCH NEXT FROM Duplicidad_Asig INTO @RegA_Pago_ID, @RegA_Asignacion_ID, @RegA_Valor_Pago, @RegA_Fecha_Trn, @RegA_Cnt_Asig;

        WHILE @@FETCH_STATUS = 0
        BEGIN

		--Revisar si asi funciona o se debe meter en una consulta dinámica
			DELETE TOP (1) FROM T3.Asignacion_Pago 
            WHERE Pago_ID = @RegA_Pago_ID 
              AND Asignacion_ID = @RegA_Asignacion_ID 
              AND Valor_Pago = @RegA_Valor_Pago
              AND Fecha_Proc_BATMD IS NULL;

            FETCH NEXT FROM Duplicidad_Asig INTO @RegA_Pago_ID, @RegA_Asignacion_ID, @RegA_Valor_Pago, @RegA_Fecha_Trn, @RegA_Cnt_Asig;
        END;
        CLOSE Duplicidad_Asig;
        DEALLOCATE Duplicidad_Asig;

    END;
END;
GO
