USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_CFDI_CANCEL_OTROS]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [T3].[PROC_CFDI_CANCEL_OTROS] 
(
    @p_Factura VARCHAR(50)
)
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Variables cursor
    DECLARE @c_Factura         VARCHAR(50);
    DECLARE @c_Fecha_Liberacion DATETIME;
    DECLARE @c_Folio_Fiscal    VARCHAR(50);
    DECLARE @c_Fecha_Anulacion DATETIME;
    DECLARE @c_Cancelacion     VARCHAR(50);
    DECLARE @c_Informacion     VARCHAR(4000);


    DECLARE ScrDoc CURSOR LOCAL FAST_FORWARD FOR
        SELECT PG.Factura, 
               CFDI.Fecha_Liberacion, 
               CFDI.Folio_Fiscal, 
               Anul.Fecha_Liberacion AS Fecha_Anulacion,
               ISNULL(Anul.Nota_Venta, 'INSERT') AS Cancelacion,
               'CABCAN' + '|' + 
               ISNULL(PG.Sociedad, '') + '-' + ISNULL(FORMAT(PG.Fecha_Factura, 'yyyy'), '') + '|' + 
               ISNULL(PG.Factura, '') + '|' + 
               ISNULL(Soc.RFC, '') + '|' + 
               ISNULL(PG.RFC, '') + '|' + 
               ISNULL(CFDI.Folio_Fiscal, '') AS Informacion
        FROM T3.Otros_General PG
        INNER JOIN T3.CFDI_Documentos CFDI ON PG.Factura = CFDI.Nota_Venta
        INNER JOIN T3.RF_Complemento Comp ON PG.Factura = Comp.Factura
        INNER JOIN EAI.ZSDFE_Soc Soc ON Comp.Sociedad = Soc.BUKRS AND Comp.Sociedad = ISNULL(Soc.KUNNR, 'NULL')
        LEFT JOIN T3.CFDI_Cancelaciones Anul ON PG.Factura = Anul.Nota_Venta
        WHERE PG.Factura = @p_Factura;

    BEGIN TRY
        OPEN ScrDoc;
        FETCH NEXT FROM ScrDoc INTO @c_Factura, @c_Fecha_Liberacion, @c_Folio_Fiscal, @c_Fecha_Anulacion, @c_Cancelacion, @c_Informacion;
        WHILE @@FETCH_STATUS = 0
        BEGIN
            IF ((@c_Cancelacion = 'INSERT') AND (@c_Folio_Fiscal IS NOT NULL)) 
            BEGIN
                INSERT INTO T3.CFDI_Cancelaciones
                    (Nota_Venta, Folio_Fiscal, Fecha_Liberacion, Informacion)
                VALUES
                    (@c_Factura, @c_Folio_Fiscal, GETDATE(), @c_Informacion);
                    
                UPDATE T3.Otros_General 
                SET Fecha_Cancelacion = GETDATE()
                WHERE Factura = @c_Factura;         
                
                UPDATE EAI_Owner.tmp_Document_Header 
                SET Ship_to_SAP = 'Cancel'
                WHERE ReferenceID = @c_Factura;  
            END
            ELSE IF (@c_Fecha_Anulacion IS NULL) 
            BEGIN
                UPDATE T3.CFDI_Cancelaciones 
                SET Folio_Fiscal = @c_Folio_Fiscal,
                    Informacion  = @c_Informacion
                WHERE Nota_Venta = @c_Factura;
            END;

            FETCH NEXT FROM ScrDoc INTO @c_Factura, @c_Fecha_Liberacion, @c_Folio_Fiscal, @c_Fecha_Anulacion, @c_Cancelacion, @c_Informacion;
        END;
        CLOSE ScrDoc;
        DEALLOCATE ScrDoc;

    END TRY
    BEGIN CATCH
        IF CURSOR_STATUS('local', 'ScrDoc') >= -1
        BEGIN
            IF CURSOR_STATUS('local', 'ScrDoc') >= 0 CLOSE ScrDoc;
            DEALLOCATE ScrDoc;
        END;
		-- se deja el throw porque no hay un exeption en el de oracle
        THROW;   
    END CATCH;
END;
GO
