USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_T3_AUTOMATED_DQC]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [T3].[PROC_T3_AUTOMATED_DQC]
AS
BEGIN
    SET NOCOUNT ON;

    -- variable cursor
    DECLARE @REN_CTRO VARCHAR(50); -- revisar tipo de dato de T3.BITACORA_REP.Ctro

    DECLARE C_CONTROL_DISTRIBUIDOR CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT DISTINCT Ctro FROM T3.BITACORA_REP ;

    BEGIN TRY

        EXEC T3.PROC_T3_DUPLICIDAD ;

        OPEN C_CONTROL_DISTRIBUIDOR;
        FETCH NEXT FROM C_CONTROL_DISTRIBUIDOR INTO @REN_CTRO;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            -- PROC_FACTURA_VDESC_DIF(  REN.CTRO ) ;
            -- PROC_FACTURAS_FOLIODUPL( REN.CTRO ) ;
            
            EXEC T3.Proc_Valor_Pago @P_CTRO = @REN_CTRO ;
            
            -- Proc_Corrige_Ce(         REN.CTRO ) ;
            
            EXEC T3.Proc_Fecha_Movcliente @P_CTRO = @REN_CTRO ;

            -- Se mantiene el COMMIT intermedio respetando el flujo exacto
            FETCH NEXT FROM C_CONTROL_DISTRIBUIDOR INTO @REN_CTRO;
        END ;
        CLOSE C_CONTROL_DISTRIBUIDOR;
        DEALLOCATE C_CONTROL_DISTRIBUIDOR;

    END TRY
    BEGIN CATCH
        IF CURSOR_STATUS('local', 'C_CONTROL_DISTRIBUIDOR') >= 0 BEGIN CLOSE C_CONTROL_DISTRIBUIDOR; DEALLOCATE C_CONTROL_DISTRIBUIDOR; END;
        PRINT '***********Mensaje************' ;
        PRINT 'Error en PROC_T3_AUTOMATED_DQC' ;
    END CATCH;
END;
GO
