USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_T3_SF_MOV_CTE_UPD]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[PROC_T3_SF_MOV_CTE_UPD]  
( 
    @nParamDays INT = 7 
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sFACTURA      VARCHAR(12) ;  
    DECLARE @sPROCESAR     VARCHAR(12) ;  
--
    DECLARE @v_ID          VARCHAR(50) ;
    DECLARE @sErrorCode    VARCHAR(30) ;      
    DECLARE @sMsg          VARCHAR(300) ;
    DECLARE @nPID          INT ;
    DECLARE @nProceso      INT ;
    DECLARE @nProceso1     INT ;
    DECLARE @nProceso2     INT ;
    DECLARE @nProceso3     INT ;
    DECLARE @nProceso4     INT ;  
    DECLARE @nDays         INT ;    

    -- Variables cursores
    DECLARE @C_Cliente_SAP VARCHAR(50),
            @C_Min_Ctro    VARCHAR(10),
            @C_Cnt_Ctro    INT,
            @C_Ctro        VARCHAR(10),
            @C_Dist_Venta  VARCHAR(10),
            @C_Upd_Ctro    VARCHAR(10),
            @C_Upd_Dist    VARCHAR(10);
    DECLARE @P_Cliente_SAP VARCHAR(50),
            @P_Min_Ctro    VARCHAR(10),
            @P_Cnt_Ctro    INT,
            @P_Ctro        VARCHAR(10),
            @P_Dist_Venta  VARCHAR(10),
            @P_Upd_Ctro    VARCHAR(10),
            @P_Upd_Dist    VARCHAR(10);

    DECLARE ScrPrompt CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT Info.Cliente_SAP, Info.Min_Ctro, Info.Cnt_Ctro, MC.Ctro, MC.Dist_Venta,
               Info.Min_Ctro                               AS Upd_Ctro,
               EAI.Conv_Plant_to_Dist( Info.Min_Ctro )     AS Upd_Dist
           FROM (
                  SELECT FG.Cliente_SAP              AS Cliente_SAP, 
                         MIN( FG.Ctro )              AS Min_Ctro   ,
                         MAX( FG.Ctro )              AS Max_Ctro   ,
                         COUNT( DISTINCT FG.Ctro )   AS Cnt_Ctro
                     FROM T3.Factura_General FG
                     WHERE FG.Fecha_Trn > CONVERT(DATETIME, CONVERT(DATE, GETDATE() - ISNULL(@nDays, 0)))
                     GROUP BY FG.Cliente_SAP
                ) Info,
                T3.Mov_Cliente MC
            WHERE Info.Cliente_SAP           = MC.Cliente_SAP  
              AND Info.Min_Ctro             != MC.Ctro
              AND Info.Cnt_Ctro              = 1 ;

    DECLARE ScrPresales CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT Info.Cliente_SAP, Info.Min_Ctro, Info.Cnt_Ctro, MC.Ctro, MC.Dist_Venta,
               Info.Min_Ctro                               AS Upd_Ctro,
               EAI.Conv_Plant_to_Dist( Info.Min_Ctro )     AS Upd_Dist
           FROM (
                  SELECT FG.Cliente_SAP              AS Cliente_SAP, 
                         MIN( FG.Ctro )              AS Min_Ctro   ,
                         MAX( FG.Ctro )              AS Max_Ctro   ,
                         COUNT( DISTINCT FG.Ctro )   AS Cnt_Ctro
                     FROM T3.Preventa_General FG
                     WHERE FG.Fecha_Trn      > CONVERT(DATETIME, CONVERT(DATE, GETDATE() - ISNULL(@nDays, 0)))
                       AND FG.Clase_Factura IN ( 'C005', 'C006' )
                     GROUP BY FG.Cliente_SAP
                ) Info,
                T3.Mov_Cliente MC
            WHERE Info.Cliente_SAP           = MC.Cliente_SAP  
              AND Info.Min_Ctro             != MC.Ctro
              AND Info.Cnt_Ctro              = 1 ;

    BEGIN TRY
        SET @nProceso1 = 0 ;
        SET @nProceso2 = 0 ;

        SET @nDays = EAI_Owner.getConv( 'CFG Settings', 'Days_Check_Plant_Sale' );

        OPEN ScrPrompt;
        FETCH NEXT FROM ScrPrompt INTO @C_Cliente_SAP, @C_Min_Ctro, @C_Cnt_Ctro, @C_Ctro, @C_Dist_Venta, @C_Upd_Ctro, @C_Upd_Dist;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            UPDATE T3.Mov_Cliente 
            SET Dist_Venta       = @C_Upd_Dist        ,
                Ctro             = @C_Upd_Ctro        ,
                Fecha_Proc_BATMD = NULL                ,
                Fecha_Syncr      = GETDATE()                                
            WHERE Cliente_SAP = @C_Cliente_SAP ;

            SET @nProceso1 = @nProceso1 + 1 ;

            FETCH NEXT FROM ScrPrompt INTO @C_Cliente_SAP, @C_Min_Ctro, @C_Cnt_Ctro, @C_Ctro, @C_Dist_Venta, @C_Upd_Ctro, @C_Upd_Dist;
        END;
        CLOSE ScrPrompt;
        DEALLOCATE ScrPrompt;

        OPEN ScrPresales;
        FETCH NEXT FROM ScrPresales INTO @P_Cliente_SAP, @P_Min_Ctro, @P_Cnt_Ctro, @P_Ctro, @P_Dist_Venta, @P_Upd_Ctro, @P_Upd_Dist;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            UPDATE T3.Mov_Cliente 
            SET Dist_Venta       = @P_Upd_Dist        ,
                Ctro             = @P_Upd_Ctro        ,
                Fecha_Proc_BATMD = NULL                ,
                Fecha_Syncr      = GETDATE()                                
            WHERE Cliente_SAP = @P_Cliente_SAP ;

            SET @nProceso2 = @nProceso2 + 1 ;

            FETCH NEXT FROM ScrPresales INTO @P_Cliente_SAP, @P_Min_Ctro, @P_Cnt_Ctro, @P_Ctro, @P_Dist_Venta, @P_Upd_Ctro, @P_Upd_Dist;
        END;
        CLOSE ScrPresales;
        DEALLOCATE ScrPresales;

        UPDATE T3.Mov_Cliente 
        SET Ctro = 'MXAD'
        WHERE Cliente_SAP IN ( SELECT DISTINCT Cliente FROM EAI.TAO_Cartera_SAP_Ldr WHERE Branch_Number IS NOT NULL )
          AND ISNULL( Ctro, 'MXAB' ) != 'MXAD' ;

        SET @nProceso3 = @@ROWCOUNT ; 

        PRINT 'Prompt  : ' + CAST(@nProceso1 AS VARCHAR(10)) ;
        PRINT 'Presale : ' + CAST(@nProceso2 AS VARCHAR(10)) ;
        PRINT 'Central : ' + CAST(@nProceso3 AS VARCHAR(10)) ;

    END TRY
    BEGIN CATCH

        IF CURSOR_STATUS('local', 'ScrPrompt') >= 0 BEGIN CLOSE ScrPrompt; DEALLOCATE ScrPrompt; END;
        IF CURSOR_STATUS('local', 'ScrPresales') >= 0 BEGIN CLOSE ScrPresales; DEALLOCATE ScrPresales; END;

        SET @sErrorCode = 'SQL-' + CAST(ERROR_NUMBER() AS VARCHAR(10)) ;
        SET @sMsg = SUBSTRING(CAST(ERROR_NUMBER() AS VARCHAR(10)) + '-' + ERROR_MESSAGE(), 1, 250) ;      
        
        INSERT INTO EAI_OWNER.MX_EAI_MESSAGE_LOG
            ( DIRECTION        , REFERENCE                , CREATED             , MESSAGE        , JOB_PID,
              STATUS           , QUEUE_NAME               , SIEBEL_ERROR_MESSAGE, SOURCE         , 
              SIEBEL_ERROR_CODE, RETRY_COUNT              , SEQUENCE            , PARENT_ROW_ID   )
        VALUES 
            ( 'Job Logging'    , @v_ID                    , GETDATE()            , NULL           , @nPID   ,
              'Error'          , 'PROC_T3_SF_MOV_CTE_UPD' , @sMsg               , 'TSQL'        ,
              @sErrorCode      , NULL                     , NULL                , NULL            ) ;
  
    END CATCH
END;
GO
