USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_PROCESAR_VELO]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [T3].[PROC_PROCESAR_VELO]
    @dtFechaProcBATMD DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sMsg                VARCHAR(500);
    DECLARE @sCadena             VARCHAR(4000);
    DECLARE @sChar               VARCHAR(1);
    DECLARE @sFactura            VARCHAR(30);
    DECLARE @sClienteSAP         VARCHAR(20);
    DECLARE @sLinea              VARCHAR(4000);
    DECLARE @sMaterial           VARCHAR(10);
    DECLARE @sMascara            VARCHAR(10);
    DECLARE @sAuxiliar           VARCHAR(100);
    DECLARE @nCigarros           INT;
    DECLARE @nDoctos             INT;
    DECLARE @nNotas              INT;
    DECLARE @sEtapa              VARCHAR(20);
    DECLARE @sPorEjecucion       VARCHAR(2);
    DECLARE @nGen_Agrupacion     INT;
--
    DECLARE @strID               VARCHAR(50);
    DECLARE @sErrorCode          VARCHAR(30);
    DECLARE @dtInicio            DATETIME;
    DECLARE @nPID                INT;
    DECLARE @nProceso            INT;
    DECLARE @nProceso1           INT;
    DECLARE @nProceso2           INT;
    DECLARE @nProceso3           INT;
    DECLARE @nProceso4           INT;
--
    DECLARE @sUbicacion          VARCHAR(20);
    DECLARE @sCtro               VARCHAR(4);
    DECLARE @dtFecha_Factura_T3  DATETIME;
    DECLARE @sLista_Precio       VARCHAR(2);
    DECLARE @sCliente_Agrupado   VARCHAR(10);
    DECLARE @sTipo_Docto         VARCHAR(4);
    DECLARE @sNota_Venta_CFDI    VARCHAR(30);
    DECLARE @dtFecha_Factura_V3  DATETIME;
--
    DECLARE @nCFG_Especifico     NUMERIC(15,2);
    DECLARE @nEspecifico         NUMERIC(15,2);
    DECLARE @nAd_Valorem         NUMERIC(15,2);
    DECLARE @nPrec_Fab           NUMERIC(15,2);
--  
    -- Variables cursor
    DECLARE @Doc_FacturSAP          VARCHAR(50),
            @Doc_PedidoSAP          VARCHAR(50),
            @Doc_Factura            VARCHAR(30),
            @Doc_Fecha_Factura      DATETIME,
            @Doc_Clase_Factura      VARCHAR(4),
            @Doc_Cliente_SAP        VARCHAR(20),
            @Doc_Num_Linea          VARCHAR(4000),
            @Doc_Material           VARCHAR(10),
            @Doc_Nombre_Material    VARCHAR(100),
            @Doc_Pouches            INT,
            @Doc_Nicotina           NUMERIC(15,2),
            @Doc_Cantidad_Vta       NUMERIC(15,2),
            @Doc_Valor_Subt         NUMERIC(15,2),
            @Doc_Valor_IVA          NUMERIC(15,2),
            @Doc_Envio_Subt         NUMERIC(15,2),
            @Doc_Envio_IVA          NUMERIC(15,2),
            @Doc_Credito_Subt       NUMERIC(15,2),
            @Doc_Credito_IVA        NUMERIC(15,2),
            @Doc_Descuento          NUMERIC(15,2),
            @Doc_Especifico         NUMERIC(15,2),
            @Doc_OperationMode      VARCHAR(10),
            @Doc_Precio_Fabricacion NUMERIC(15,2),
            @Doc_IEPS_Especifico    NUMERIC(15,2),
            @Doc_Ad_Valorem         NUMERIC(15,2);

    DECLARE ScrInformacion CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT Info.Entrega                                       AS FacturSAP      ,
               Info.Pedido                                        AS PedidoSAP      ,
               Info.Factura                                       AS Factura        ,
               Info.Fecha_Factura                                 AS Fecha_Factura  ,
               Info.Clase_Factura                                 AS Clase_Factura  ,
               Info.Cliente_SAP                                   AS Cliente_SAP    ,
               Info.Num_Linea                                     AS Num_Linea      ,
               Info.Material                                      AS Material       ,
               Info.Nombre_Material                               AS Nombre_Material,
               Info.Pouches                                       AS Pouches        ,
               Info.Nicotina                                      AS Nicotina       ,
               Info.Cantidad_Vta                                  AS Cantidad_Vta   ,
               Info.Valor_Subt                                    AS Valor_Subt     ,
               Info.Valor_IVA                                     AS Valor_IVA      ,
               Info.Envio_Subt                                    AS Envio_Subt     ,
               Info.Envio_IVA                                     AS Envio_IVA      ,
               Info.Credito_Subt                                  AS Credito_Subt   ,
               Info.Credito_IVA                                   AS Credito_IVA    ,
               Info.Descuento                                     AS Descuento      ,
               CFG.Especifico                                     AS Especifico     ,
               ISNULL( Velo.Factura, 'INSERT' )                   AS OperationMode  ,
               Info.Precio_Fabricacion                            AS Precio_Fabricacion,
               Info.Especifico                                    AS IEPS_Especifico,
               Info.Ad_Valorem                                    AS Ad_Valorem
          FROM (
                 SELECT FG.Entrega                                AS Entrega        ,
                        FG.Pedido                                 AS Pedido         ,
                        FG.Factura                                AS Factura        ,
                        FG.Fecha_Factura                          AS Fecha_Factura  ,
                        FG.Tipo_Docto                             AS Clase_Factura  ,
                        FG.Cliente_SAP                            AS Cliente_SAP    ,
                        FD.Num_Linea                              AS Num_Linea      ,
                        FD.Material                               AS Material       ,
                        SKU.Nombre_Material                       AS Nombre_Material,
                        ISNULL( SKU.Cig_x_CLL, 0 )                AS Pouches        ,
                        ISNULL( SKU.Nicotina, 0 )                 AS Nicotina       ,
                        ISNULL( FD.Cantidad_Vta, 0 )              AS Cantidad_Vta   ,
                        ISNULL( FD.Valor_Subt  , 0 )              AS Valor_Subt     ,
                        ISNULL( FD.Valor_IVA   , 0 )              AS Valor_IVA      ,
                        ISNULL( FD.Envio_Subt  , 0 )              AS Envio_Subt     ,
                        ISNULL( FD.Envio_IVA   , 0 )              AS Envio_IVA      ,
                        ISNULL( FD.Credito_Subt, 0 )              AS Credito_Subt   ,
                        ISNULL( FD.Credito_IVA , 0 )              AS Credito_IVA    ,
                        ISNULL( FD.Bonif_Subt  , 0 )              AS Descuento      ,
                        ISNULL( Det.ZPRO_Valor , 0 ) / 100.0      AS Precio_Fabricacion,
                        ISNULL( Det.ZEXS_Valor , 0 ) / 100.0      AS Especifico     ,
                        ISNULL( Det.ZEXC_Valor , 0 ) / 100.0      AS Ad_Valorem
                   FROM T3.Factura_General              FG
                   INNER JOIN T3.Factura_Detalle        FD  ON FG.Factura = FD.Factura
                   INNER JOIN T3.Material               SKU ON FD.Material = SKU.Material
                   LEFT JOIN EAI_Owner.tmp_Document_Detail Det ON FG.Entrega = Det.ReferenceID
                                                               AND RIGHT(REPLICATE('0', 18) + CAST(FD.Material AS VARCHAR(18)), 18) = Det.Material
                   WHERE FG.Fecha_Trn          > DATEADD(DAY, -21, GETDATE())
                     AND FG.Fecha_Factura      > CONVERT(DATETIME, '20260101', 112)
                     AND FG.Fecha_Proc_BATMD   = @dtFechaProcBATMD
                     AND UPPER( SKU.Nombre_Material ) LIKE '%VELO%'
                 UNION ALL    
                 SELECT FG.Entrega                                AS Entrega        ,
                        FG.Pedido                                 AS Pedido         ,
                        FG.Factura                                AS Factura        ,
                        FG.Fecha_Factura                          AS Fecha_Factura  ,
                        FG.Clase_Factura                          AS Clase_Factura  ,
                        FG.Cliente_SAP                            AS Cliente_SAP    ,
                        FD.Num_Linea                              AS Num_Linea      ,
                        FD.Material                               AS Material       ,
                        SKU.Nombre_Material                       AS Nombre_Material,
                        ISNULL( SKU.Cig_x_CLL, 0 )                AS Pouches        ,
                        ISNULL( SKU.Nicotina, 0 )                 AS Nicotina       ,
                        ISNULL( FD.Cantidad_Vta, 0 )              AS Cantidad_Vta   ,
                        ISNULL( FD.Valor_Subt  , 0 )              AS Valor_Subt     ,
                        ISNULL( FD.Valor_IVA   , 0 )              AS Valor_IVA      ,
                        ISNULL( FD.Envio_Subt  , 0 )              AS Envio_Subt     ,
                        ISNULL( FD.Envio_IVA   , 0 )              AS Envio_IVA      ,
                        ISNULL( FD.Credito_Subt, 0 )              AS Credito_Subt   ,
                        ISNULL( FD.Credito_IVA , 0 )              AS Credito_IVA    ,
                        ISNULL( FD.Bonif_Subt  , 0 )              AS Descuento      ,
                        ISNULL( Det.ZPRO_Valor , 0 ) / 100.0      AS Precio_Fabricacion,
                        ISNULL( Det.ZEXS_Valor , 0 ) / 100.0      AS Especifico     ,
                        ISNULL( Det.ZEXC_Valor , 0 ) / 100.0      AS Ad_Valorem
                   FROM T3.Preventa_General FG
                   INNER JOIN T3.Preventa_Detalle FD ON FG.Factura = FD.Factura
                   INNER JOIN T3.Material         SKU ON FD.Material = SKU.Material
                   LEFT JOIN EAI_Owner.tmp_Document_Detail Det ON FG.Entrega = Det.ReferenceID
                                                               AND RIGHT(REPLICATE('0', 18) + CAST(FD.Material AS VARCHAR(18)), 18) = Det.Material
                   WHERE FG.Fecha_Trn          > DATEADD(DAY, -35, GETDATE())
                     AND FG.Fecha_Factura      > CONVERT(DATETIME, '20260101', 112)
                     AND FG.Fecha_Proc_BATMD   = @dtFechaProcBATMD
                     AND FG.Fecha_Proc_BATMD   IS NOT NULL
                     AND FG.Fecha_Cancelacion  IS NULL
                     AND UPPER( SKU.Nombre_Material ) LIKE '%VELO%'
             ) Info
             INNER JOIN T3.CFG_VELO CFG ON Info.Fecha_Factura BETWEEN CFG.Fecha_Inicio AND CFG.Fecha_Final
             LEFT JOIN T3.FACTURA_VELO Velo ON Info.Factura = Velo.Factura AND Info.Num_Linea = Velo.Num_Linea
          ORDER BY Info.Factura, Info.Material ;  
--

    BEGIN TRY
        BEGIN TRANSACTION;
-- PROC_T3_CFD_COMPLEMENTO( dtFechaProcBATMD ) ;
-- EAI.SP_FE_Integration_Fecha( dtFechaProcBATMD ) ;
       SET @dtInicio  = GETDATE() ;
       SET @nProceso  = 925 ;
       
       -- Equivalente a Oracle SEQUENCE
       SET @nPID      = NEXT VALUE FOR EAI_Owner.ProcessID ;
       
       EXEC EAI_Owner.Log_Start @nProceso ;
       
       INSERT INTO T3.RF_PROCESOS_LOG ( PID , Proceso , Fecha_Proc_BATMD, Inicio )
          VALUES ( @nPID, @nProceso, @dtFechaProcBATMD, GETDATE() ) ;  
         
       SET @nProceso1 = 0 ;
       SET @nProceso2 = 0 ;
       SET @nProceso3 = 0 ;
       SET @nProceso4 = 0 ;
-- PRINT CONVERT(VARCHAR, @dtFechaProcBATMD, 112) + ' ' + CONVERT(VARCHAR, @dtFechaProcBATMD, 108) ;
       SET @sChar   = '|' ;
       SET @nDoctos = 000 ;
       SET @sEtapa  = 'I' ;
--
       SELECT @sPorEjecucion = ISNULL( Por_Ejecucion, 'SI' )
             FROM T3.CFDI_CFG_Agrupado ;
--

       OPEN ScrInformacion;
       
       FETCH NEXT FROM ScrInformacion INTO
            @Doc_FacturSAP, @Doc_PedidoSAP, @Doc_Factura, @Doc_Fecha_Factura, @Doc_Clase_Factura,
            @Doc_Cliente_SAP, @Doc_Num_Linea, @Doc_Material, @Doc_Nombre_Material, @Doc_Pouches,
            @Doc_Nicotina, @Doc_Cantidad_Vta, @Doc_Valor_Subt, @Doc_Valor_IVA, @Doc_Envio_Subt,
            @Doc_Envio_IVA, @Doc_Credito_Subt, @Doc_Credito_IVA, @Doc_Descuento, @Doc_Especifico,
            @Doc_OperationMode, @Doc_Precio_Fabricacion, @Doc_IEPS_Especifico, @Doc_Ad_Valorem;

       WHILE @@FETCH_STATUS = 0
       BEGIN
--       PRINT @Doc_Factura ;
         SET @strID       = @Doc_Factura ;
         SET @nDoctos     = @nDoctos + 1 ;
         SET @nEspecifico = ROUND( @Doc_Pouches * @Doc_Nicotina * @Doc_Cantidad_Vta * @Doc_Especifico, 2 ) ;
         
         IF ( @Doc_Clase_Factura IN ( 'C025' ) )
         BEGIN
            SET @nEspecifico = 0 ;
         END
         
         SET @nAd_Valorem = ROUND( ( @Doc_Valor_Subt - @nEspecifico ) / 2, 2 ) ;
         SET @nPrec_Fab   = ROUND( ( @Doc_Valor_Subt - @nEspecifico ) / 2, 2 ) ;
--
         SET @nPrec_Fab   = @Doc_Precio_Fabricacion ;
         SET @nEspecifico = @Doc_IEPS_Especifico    ;
         SET @nAd_Valorem = @Doc_Ad_Valorem         ;
         
         IF ( @Doc_Clase_Factura = 'C025' )
         BEGIN
            SET @nEspecifico = 0 ;
            SET @nPrec_Fab   = ROUND( @Doc_Valor_Subt / 2, 2 ) ;
            SET @nAd_Valorem = ROUND( @Doc_Valor_Subt / 2, 2 ) ;      
         END
--
         IF ( @Doc_OperationMode = 'INSERT' )
         BEGIN
            SET @nProceso2 = @nProceso2 + 1 ;
            INSERT INTO T3.FACTURA_VELO
               ( Factura, Fecha_Factura, Num_Linea, Material, Especifico, Ad_Valorem, Precio_Fabricacion )
            VALUES
               ( @Doc_Factura, @Doc_Fecha_Factura, @Doc_Num_Linea, @Doc_Material, @nEspecifico, @nAd_Valorem, @nPrec_Fab ) ;
         END
         ELSE
         BEGIN
            SET @nProceso3 = @nProceso3 + 1 ;
            UPDATE T3.FACTURA_VELO SET Fecha_Factura      = @Doc_Fecha_Factura,
                                       Material           = @Doc_Material,
                                       Especifico         = @nEspecifico ,
                                       Ad_Valorem         = @nAd_Valorem ,
                                       Precio_Fabricacion = @nPrec_Fab
               WHERE Factura   = @Doc_Factura
                 AND Num_Linea = @Doc_Num_Linea ;
         END

         FETCH NEXT FROM ScrInformacion INTO
            @Doc_FacturSAP, @Doc_PedidoSAP, @Doc_Factura, @Doc_Fecha_Factura, @Doc_Clase_Factura,
            @Doc_Cliente_SAP, @Doc_Num_Linea, @Doc_Material, @Doc_Nombre_Material, @Doc_Pouches,
            @Doc_Nicotina, @Doc_Cantidad_Vta, @Doc_Valor_Subt, @Doc_Valor_IVA, @Doc_Envio_Subt,
            @Doc_Envio_IVA, @Doc_Credito_Subt, @Doc_Credito_IVA, @Doc_Descuento, @Doc_Especifico,
            @Doc_OperationMode, @Doc_Precio_Fabricacion, @Doc_IEPS_Especifico, @Doc_Ad_Valorem;

       END ;
    
       CLOSE ScrInformacion;
       DEALLOCATE ScrInformacion;

       SET @nProceso1 = @nDoctos ;
--  
--
       UPDATE EAI_OWNER.MX_COMPONENTS SET Status = 1
          WHERE Component = @nProceso ;
         
       UPDATE T3.RF_PROCESOS_LOG SET  Fin = GETDATE(), Proceso_1 = @nProceso1, Proceso_2 = @nProceso2,
                                                       Proceso_3 = @nProceso3, Proceso_4 = @nProceso4
           WHERE PID = @nPID  ;          
           
       COMMIT TRANSACTION;
--  
    END TRY
    BEGIN CATCH
       IF @@TRANCOUNT > 0
           ROLLBACK TRANSACTION;
       IF CURSOR_STATUS('global', 'ScrInformacion') >= -1
       BEGIN
           CLOSE ScrInformacion;
           DEALLOCATE ScrInformacion;
       END

       SET @sMsg = SUBSTRING( CAST(ERROR_NUMBER() AS VARCHAR) + '-' + ERROR_MESSAGE(), 1, 250 ) ;
       SET @sMsg = SUBSTRING( ERROR_MESSAGE(), 1, 250 ) ;
       PRINT REPLICATE( '-', 80 ) ;
       PRINT 'Problemas en la ejecucion del Procedimiento'  ;
       PRINT 'FAVOR DE ESCALAR LOS SIGUIENTES DATOS :'  ;
       PRINT 'Procedimiento : ' + 'PROC_PROCESAR_VELO'  ;
       PRINT 'Fecha         : ' + CONVERT(VARCHAR, GETDATE(), 112) + ' ' + CONVERT(VARCHAR, GETDATE(), 108)  ;
       PRINT 'Referencia    : ' + ISNULL(@strID, '')  ;
       PRINT 'Error         : ' + @sMsg  ;
       PRINT REPLICATE( '-', 80 )  ;
       
       SET @sErrorCode = 'SQL-' + CAST( ERROR_NUMBER() AS VARCHAR ) ;
       SET @sMsg = SUBSTRING( CAST( ERROR_NUMBER() AS VARCHAR ) + '-' + ERROR_MESSAGE(), 1, 250 ) ;      
       
       INSERT INTO EAI_OWNER.MX_EAI_MESSAGE_LOG
         ( DIRECTION         , REFERENCE                  , CREATED             , MESSAGE        , JOB_PID,
           STATUS            , QUEUE_NAME                 , SIEBEL_ERROR_MESSAGE, SOURCE         ,
           SIEBEL_ERROR_CODE , RETRY_COUNT                , SEQUENCE            , PARENT_ROW_ID   )
       VALUES
         ( 'Job Logging'     , @strID                     , GETDATE()           , NULL           , @nPID   ,
           'Error'           , 'PROC_PROCESAR_VELO'       , @sMsg               , 'PL/SQL'       ,
           @sErrorCode       , NULL                       , NULL                , NULL            ) ;
           
    END CATCH
END
GO
