USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_T3_BONIF]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [T3].[PROC_T3_BONIF]
    @dtFechaProcBATMD DATETIME,
    @sCampo_PGM       VARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sMsg       VARCHAR(500);
    DECLARE @sPrograma  VARCHAR(30);
    DECLARE @sPrograma2 VARCHAR(30);
    DECLARE @nCount     NUMERIC(2,0);
    DECLARE @dtInicio   DATETIME;

    DECLARE @nPID       NUMERIC(8,0);
    DECLARE @nProceso   NUMERIC(8,0);
    DECLARE @nProceso1  NUMERIC(8,0);
    DECLARE @nProceso2  NUMERIC(8,0);
    DECLARE @nProceso3  NUMERIC(8,0);
    DECLARE @nProceso4  NUMERIC(8,0);

    -- variables cursores
    DECLARE @cur_Factura       VARCHAR(30);
    DECLARE @cur_Cliente_SAP   VARCHAR(10);
    DECLARE @cur_Ctro          VARCHAR(50);
    DECLARE @cur_Fecha_Factura DATETIME;
    DECLARE @cur_Material      VARCHAR(MAX);
    DECLARE @cur_Num_Linea     NUMERIC(38,4);
    DECLARE @cur_Bon_RowID     VARCHAR(50); --verificar tipo de dato en tabla

    DECLARE ScrPrompt CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT
             FG.Factura                                                     AS Factura        ,
             RIGHT('0000000000' + ISNULL(FG.Cliente_SAP, ''), 10)           AS Cliente_SAP    ,
             FG.Ctro                                                        AS Ctro           ,
             FG.Fecha_Factura                                               AS Fecha_Factura  ,
             FD.Material                                                    AS Material       ,
             FD.Num_Linea                                                   AS Num_Linea      ,
             Bon.Factura                                                      AS Bon_RowID 
        FROM T3.Factura_General   FG
        INNER JOIN T3.Factura_Detalle FD ON FG.Factura = FD.Factura
        LEFT OUTER JOIN T3.Factura_Bonif Bon ON FD.Factura = Bon.Factura AND FD.Num_Linea = Bon.Num_Linea
        WHERE FG.Fecha_Proc_BATMD     = @dtFechaProcBATMD
          AND ISNULL( FD.Bonif_Subt, 0 ) > 0 ;

    DECLARE ScrPreventa CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT
             FG.Factura                                                     AS Factura        ,
             RIGHT('0000000000' + ISNULL(FG.Cliente_SAP, ''), 10)           AS Cliente_SAP    ,
             FG.Ctro                                                        AS Ctro           ,
             FG.Fecha_Factura                                               AS Fecha_Factura  ,
             FD.Material                                                    AS Material       ,
             FD.Num_Linea                                                   AS Num_Linea      ,
             Bon.Factura                                                      AS Bon_RowID 
        FROM T3.Preventa_General   FG
        INNER JOIN T3.Preventa_Detalle FD ON FG.Factura = FD.Factura
        LEFT OUTER JOIN T3.Factura_Bonif Bon ON FD.Factura = Bon.Factura AND FD.Num_Linea = Bon.Num_Linea
        WHERE FG.Fecha_Proc_BATMD     = @dtFechaProcBATMD
          AND FG.Fecha_Cancelacion   IS NULL
          AND ISNULL( FD.Bonif_Subt, 0 ) > 0 ;

    BEGIN TRY
        SET @dtInicio  = GETDATE() ;
        SET @nProceso  = 10 ;
        SET @nPID      = NEXT VALUE FOR T3.SEQ_CFD ;
        SET @nProceso1 = 0 ;
        SET @nProceso2 = 0 ;
        SET @nProceso3 = 0 ;
        SET @nProceso4 = 0 ;
        SET @sPrograma  = NULL ;
        SET @sPrograma2 = NULL ;

        OPEN ScrPrompt;
        FETCH NEXT FROM ScrPrompt INTO @cur_Factura, @cur_Cliente_SAP, @cur_Ctro, @cur_Fecha_Factura, @cur_Material, @cur_Num_Linea, @cur_Bon_RowID;
        
        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @nProceso1 = @nProceso1 + 1 ;
            
            IF ( @sCampo_PGM = '2' )
               SET @sPrograma2 = 'TBD/' + CONVERT(VARCHAR(8), @cur_Fecha_Factura, 112) ;
            ELSE
               SET @sPrograma  = 'TBD/' + CONVERT(VARCHAR(8), @cur_Fecha_Factura, 112) ;
                       
            IF ( @cur_Bon_RowID IS NULL )
            BEGIN
               INSERT INTO T3.Factura_Bonif ( Factura, Num_Linea, Programa, Programa2 )
               VALUES ( @cur_Factura, @cur_Num_Linea, @sPrograma, @sPrograma2 ) ;
            END
            ELSE
            BEGIN
               IF ( @sCampo_PGM = '2' )
               BEGIN
                  UPDATE T3.Factura_Bonif 
                  SET Programa2 = CASE SUBSTRING(Programa2, 1, 4)
                                       WHEN 'TBD/' THEN @sPrograma2
                                       WHEN 'Ince' THEN @sPrograma2
                                       ELSE Programa2
                                  END
                  WHERE Factura = @cur_Bon_RowID ;      
               END
               ELSE      
               BEGIN
                  UPDATE T3.Factura_Bonif 
                  SET Programa = @sPrograma
                  WHERE Factura = @cur_Bon_RowID ;        
               END ;
            END ;

            FETCH NEXT FROM ScrPrompt INTO @cur_Factura, @cur_Cliente_SAP, @cur_Ctro, @cur_Fecha_Factura, @cur_Material, @cur_Num_Linea, @cur_Bon_RowID;
        END ;
        CLOSE ScrPrompt;

        OPEN ScrPreventa;
        FETCH NEXT FROM ScrPreventa INTO @cur_Factura, @cur_Cliente_SAP, @cur_Ctro, @cur_Fecha_Factura, @cur_Material, @cur_Num_Linea, @cur_Bon_RowID;
        
        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @nProceso2 = @nProceso2 + 1 ;
            
            IF ( @sCampo_PGM = '2' )
               SET @sPrograma2 = 'TBD/' + CONVERT(VARCHAR(8), @cur_Fecha_Factura, 112) ;
            ELSE
               SET @sPrograma2 = 'TBD/' + CONVERT(VARCHAR(8), @cur_Fecha_Factura, 112) ;
                       
            IF ( @cur_Bon_RowID IS NULL )
            BEGIN
               INSERT INTO T3.Factura_Bonif ( Factura, Num_Linea, Programa, Programa2 )
               VALUES ( @cur_Factura, @cur_Num_Linea, @sPrograma, @sPrograma2 ) ;
            END
            ELSE
            BEGIN
               IF ( @sCampo_PGM = '2' )
               BEGIN
                  UPDATE T3.Factura_Bonif 
                  SET Programa2 = CASE SUBSTRING(Programa2, 1, 4)
                                       WHEN 'TBD/' THEN @sPrograma2
                                       WHEN 'Ince' THEN @sPrograma2
                                       ELSE Programa2
                                  END
                  WHERE Factura = @cur_Bon_RowID ;   
               END
               ELSE
               BEGIN
                  UPDATE T3.Factura_Bonif 
                  SET Programa  = @sPrograma
                  WHERE Factura = @cur_Bon_RowID ;       
               END ;   
            END ;

            FETCH NEXT FROM ScrPreventa INTO @cur_Factura, @cur_Cliente_SAP, @cur_Ctro, @cur_Fecha_Factura, @cur_Material, @cur_Num_Linea, @cur_Bon_RowID;
        END ;
        CLOSE ScrPreventa;

        INSERT INTO T3.RF_PROCESOS_LOG 
           ( PID , Proceso , Fecha_Proc_BATMD, Inicio  , Fin    , Proceso_1, Proceso_2, Proceso_3, Proceso_4 )
        VALUES 
           ( @nPID, @nProceso, @dtFechaProcBATMD, @dtInicio, GETDATE(), @nProceso1, @nProceso2, @nProceso3, @nProceso4 ) ;   
        
    END TRY
    BEGIN CATCH
        IF CURSOR_STATUS('local', 'ScrPrompt')   >= 0 BEGIN CLOSE ScrPrompt;   DEALLOCATE ScrPrompt;   END;
        IF CURSOR_STATUS('local', 'ScrPreventa') >= 0 BEGIN CLOSE ScrPreventa; DEALLOCATE ScrPreventa; END;

        SET @sMsg = SUBSTRING('ERROR SQL SERVER ' + CAST(ERROR_NUMBER() AS VARCHAR(10)) + ' ' + ERROR_MESSAGE(), 1, 480) ;
        
        PRINT '*********** Mensaje ************' ;
        PRINT '*** Error en Proc_T3_Bonif **** ' ;
        PRINT @sMsg ;
    END CATCH;
END;
GO
