USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_NGP_LOADER]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [T3].[PROC_NGP_LOADER]
    @pOutput NUMERIC(38,4) = 0
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sInstall_ID        VARCHAR(10);
    DECLARE @sTicket            VARCHAR(20);
    DECLARE @sErrorMessage      VARCHAR(100);
    DECLARE @sMsg               VARCHAR(500);
    DECLARE @strID              VARCHAR(50);
    DECLARE @strLastDocument    VARCHAR(50);
    DECLARE @sProcesar          VARCHAR(4);
    DECLARE @dtFechaProceso     DATETIME;
    DECLARE @sSales_Type        VARCHAR(4);
    DECLARE @sReturn_Type       VARCHAR(4);
    DECLARE @sDocument_Type     VARCHAR(4);
    DECLARE @sErrorHeader       VARCHAR(4);
    DECLARE @sErrorLine         VARCHAR(4);
    DECLARE @nItem_ID           NUMERIC(6,0);
    DECLARE @nTickets           NUMERIC(6,0);
    DECLARE @nItems             NUMERIC(6,0);
    DECLARE @nItem_Ln_Num       NUMERIC(6,0);
    DECLARE @nFound             NUMERIC(6,0);
    DECLARE @nExtnd_Price       NUMERIC(22,2);

    -- variables cursores
    DECLARE @cur_G_Install_ID        VARCHAR(10);
    DECLARE @cur_G_Item_Line_Number  NUMERIC(6,0);
    DECLARE @cur_G_Price_List        VARCHAR(MAX);
    DECLARE @cur_G_Customer_Name     VARCHAR(MAX);
    DECLARE @cur_G_UnitMeasure       VARCHAR(MAX);
    DECLARE @cur_G_Currency          VARCHAR(4);
    DECLARE @cur_G_Rate              NUMERIC(10,4);
    DECLARE @cur_G_Ticket            VARCHAR(20);
    DECLARE @cur_G_Purchase_Date     VARCHAR(MAX); -- formato del TO_DATE revisar en la tabla
    DECLARE @cur_G_Purchase_Time     VARCHAR(MAX);
    DECLARE @cur_G_Purchase_Type     VARCHAR(MAX);
    DECLARE @cur_G_Customer_ID       VARCHAR(MAX);
    DECLARE @cur_G_Customer_NIF      VARCHAR(MAX);
    DECLARE @cur_G_Customer_Address  VARCHAR(MAX);
    DECLARE @cur_G_Customer_District VARCHAR(MAX);
    DECLARE @cur_G_Customer_City     VARCHAR(MAX);
    DECLARE @cur_G_Customer_State    VARCHAR(MAX);
    DECLARE @cur_G_Customer_Country  VARCHAR(MAX);
    DECLARE @cur_G_Customer_ZipCode  VARCHAR(MAX);
    DECLARE @cur_G_Payment_Method    VARCHAR(MAX);
    DECLARE @cur_G_Material          VARCHAR(MAX);
    DECLARE @cur_G_Quantity          NUMERIC(38,4);
    DECLARE @cur_G_Extnd_Price       NUMERIC(22,2);
    DECLARE @cur_G_Extnd_Tax         NUMERIC(22,2);
    DECLARE @cur_G_Extnd_Discount    NUMERIC(22,2);
    DECLARE @cur_G_Distribution_Fee  NUMERIC(22,2);

    DECLARE ScrTransactions CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT
            ISNULL( Ldr.Install_ID, 'NGP' )                                                                AS Install_ID                 ,
            ISNULL( Ldr.Item_Line_Number, 0 )                                                              AS Item_Line_Number           ,
            ISNULL( Ldr.Price_List, '10' )                                                                 AS Price_List                 ,
            ISNULL(Ldr.Customer_First_Name, '') + ' ' + ISNULL(Ldr.Customer_Last_Name, '')                 AS Customer_NAME              ,
            ISNULL( ISNULL( Ldr.UnitMeasure, SKU.Unidad_Med_Vta ), 'CAJ' )                                 AS UnitMeasure                , 
            'MXN'                                                                                          AS Currency                   ,
            1.00                                                                                           AS Rate                       ,
            Ldr.Ticket                                                                                     AS Ticket                     , 
            Ldr.Purchase_Date                                                                              AS Purchase_Date              , 
            Ldr.Purchase_Time                                                                              AS Purchase_Time              , 
            ISNULL( Ldr.Purchase_Type, 'SALES' )                                                           AS Purchase_Type              ,
            Ldr.Customer_ID                                                                                AS Customer_ID                , 
            Ldr.Customer_NIF                                                                               AS Customer_NIF               , 
            Ldr.Customer_ADDRESS                                                                           AS Customer_ADDRESS           ,
            Ldr.Customer_DISTRICT                                                                          AS Customer_DISTRICT          , 
            Ldr.Customer_CITY                                                                              AS Customer_CITY              , 
            Ldr.Customer_STATE                                                                             AS Customer_STATE             , 
            Ldr.Customer_COUNTRY                                                                           AS Customer_COUNTRY           , 
            Ldr.Customer_ZIPCODE                                                                           AS Customer_ZIPCODE           ,
            Ldr.Payment_Method                                                                             AS Payment_Method             , 
            Ldr.Material                                                                                   AS Material                   , 
            Ldr.Quantity                                                                                   AS Quantity                   , 
            Ldr.Extnd_Price                                                                                AS Extnd_Price                ,
            Ldr.Extnd_Tax                                                                                  AS Extnd_Tax                  , 
            Ldr.Extnd_Discount                                                                             AS Extnd_Discount             , 
            Ldr.Distribution_Fee                                                                           AS Distribution_Fee
        FROM EAI.LDR_NGP_DATA Ldr
        LEFT OUTER JOIN T3.Material SKU ON Ldr.Material = SKU.Material
        ORDER BY Ldr.Install_ID, Ldr.Ticket, Ldr.Material, Ldr.Extnd_Price ;

    BEGIN TRY
        IF ( ISNULL( @pOutput, 0 ) > 1 )
        BEGIN
           EXEC T3.EAI.Trace_Plsql 'NGP-Loader', 'Begins' ;
           PRINT 'Begins : ' + CONVERT(VARCHAR, GETDATE(), 108) ;
        END ;     
        
        SET @sProcesar = 'YES' ;   
        
        SELECT @dtFechaProceso = MAX( ISNULL( Fin, GETDATE() + 1 ) ) 
        FROM T3.EAI.CONTROL_REPORTE  
        WHERE Reporte = 'NGP-Execute' ;
        
        IF ( @dtFechaProceso > GETDATE() )
        BEGIN
           SET @sProcesar = 'NO' ;
        END
        ELSE
        BEGIN
           SELECT @dtFechaProceso = MAX( ISNULL( Fin, GETDATE() + 1 ) ) 
           FROM T3.EAI.CONTROL_REPORTE  
           WHERE Reporte = 'NGP-Loader' ;
           
           IF ( @dtFechaProceso > GETDATE() )
           BEGIN
              SET @sProcesar = 'NO' ;
           END ;       
        END ;            

        SET @strLastDocument = 'INITIAL' ;
        SET @nTickets        = 00 ;
        SET @nItems          = 00 ;

        IF ( @sProcesar = 'YES' )
        BEGIN   
           UPDATE T3.EAI.CONTROL_REPORTE SET Inicio = GETDATE(), Fin = NULL 
           WHERE Reporte = 'NGP-Loader' ;   
           
           SET @sSales_Type  = T3.EAI_Owner.getConv('CFG Settings', 'NGP-SalesOrder');
           SET @sReturn_Type = T3.EAI_Owner.getConv('CFG Settings', 'NGP-RMA Return');
           
           SET @strID        = 'ScrTransactions' ;   
           SET @sErrorHeader = 'NO' ;

           OPEN ScrTransactions;
           FETCH NEXT FROM ScrTransactions INTO 
               @cur_G_Install_ID, @cur_G_Item_Line_Number, @cur_G_Price_List, @cur_G_Customer_Name, @cur_G_UnitMeasure, 
               @cur_G_Currency, @cur_G_Rate, @cur_G_Ticket, @cur_G_Purchase_Date, @cur_G_Purchase_Time, @cur_G_Purchase_Type, 
               @cur_G_Customer_ID, @cur_G_Customer_NIF, @cur_G_Customer_Address, @cur_G_Customer_District, @cur_G_Customer_City, 
               @cur_G_Customer_State, @cur_G_Customer_Country, @cur_G_Customer_ZipCode, @cur_G_Payment_Method, @cur_G_Material, 
               @cur_G_Quantity, @cur_G_Extnd_Price, @cur_G_Extnd_Tax, @cur_G_Extnd_Discount, @cur_G_Distribution_Fee;

           WHILE @@FETCH_STATUS = 0
           BEGIN
              SET @sInstall_ID  = @cur_G_Install_ID ;
              SET @sTicket      = @cur_G_Ticket ;
              SET @strID        = @sInstall_ID + @sTicket ;
              SET @sErrorLine   = 'NO' ;
              SET @nItems       = @nItems + 1 ;

              IF ( @strID != @strLastDocument )
              BEGIN
                 SET @strLastDocument = @strID ;            
                 SET @nTickets        = @nTickets + 1 ;
                 
                 IF ( UPPER( @cur_G_Purchase_Type ) IN ( 'SALES' , 'ZSO' ) )
                    SET @sDocument_Type = @sSales_Type ;            
                 ELSE IF ( UPPER( @cur_G_Purchase_Type ) IN ( 'RETURN', 'ZCR' ) ) 
                    SET @sDocument_Type = @sReturn_Type ;
                 ELSE IF ( UPPER( @cur_G_Purchase_Type ) IN ( 'CREDITMEMO', 'ZRE1' ) )
                 BEGIN
                    SET @sDocument_Type = @sReturn_Type ;
                    SET @sDocument_Type = 'ZRE1' ; -- Sentencia redundante respetada tal cual
                 END ;

                 SELECT @nFound = COUNT(*) 
                 FROM T3.ORDERS_NGP_IN
                 WHERE Install_ID = @sInstall_ID
                   AND Ticket     = @sTicket ;

                 IF ( ISNULL( @nFound, 0 ) = 0 )
                 BEGIN
                    INSERT INTO T3.ORDERS_NGP_IN
                       ( Install_ID             , Ticket                 , Purchase_Date          , Purchase_Time          , Purchase_Type          ,
                         Price_List             , Customer_ID            , Customer_NIF           , Customer_Name          , Customer_Address       ,
                         Customer_District      , Customer_City          , Customer_State         , Customer_Country       , Customer_ZipCode       ,
                         Payment_Method         , Created                , Currency               , Rate                                            )
                    VALUES
                       ( @cur_G_Install_ID         , @cur_G_Ticket             , CONVERT(DATETIME, @cur_G_Purchase_Date, 103), 
                                                                                                    @cur_G_Purchase_Time      , @sDocument_Type         ,
                         @cur_G_Price_List         , @cur_G_Customer_ID        , @cur_G_Customer_NIF           , @cur_G_Customer_Name      , @cur_G_Customer_Address   ,
                         @cur_G_Customer_District  , @cur_G_Customer_City      , @cur_G_Customer_State         , @cur_G_Customer_Country   , @cur_G_Customer_ZipCode   ,
                         @cur_G_Payment_Method     , GETDATE()                , @cur_G_Currency               , @cur_G_Rate                                         ) ;
                    
                    SET @nItem_ID     = 10 ;
                    SET @sErrorHeader = 'NO' ;
                 END
                 ELSE
                 BEGIN
                    SET @sErrorHeader = 'YES' ; 
                 END ;   
              END
              ELSE
              BEGIN
                 SET @nItem_ID = @nItem_ID + 10 ;
              END ;      

              IF ( @cur_G_Item_Line_Number = 0 ) 
                 SET @nItem_Ln_Num = @nItem_ID ;
              ELSE
                 SET @nItem_Ln_Num = @cur_G_Item_Line_Number ;

              IF ( ( @sErrorHeader = 'NO' ) AND ( @sErrorLine = 'NO' ) )
              BEGIN
                 -- nExtnd_Price := Grp.Extnd_Price - Grp.Extnd_Tax ; Comentado tal cual en el original
                 SET @nExtnd_Price = @cur_G_Extnd_Price ;
                 
                 INSERT INTO T3.ORDERS_NGP_IN_DETAILS            
                    ( Install_ID    , Ticket         , Item_ID      , Material          , UnitMeasure         , 
                      Quantity      , Extnd_Price    , Extnd_Tax    , Extnd_Discount    , Distribution_Fee     )
                 VALUES 
                    ( @cur_G_Install_ID, @cur_G_Ticket     , @nItem_Ln_Num , @cur_G_Material      , @cur_G_UnitMeasure     ,
                      @cur_G_Quantity  , @nExtnd_Price   , @cur_G_Extnd_Tax, ABS( @cur_G_Extnd_Discount ), @cur_G_Distribution_Fee ) ;            
              END ;

              UPDATE T3.EAI.CONTROL_REPORTE SET Fin = GETDATE() 
              WHERE Reporte = 'NGP-Loader' ;   

              FETCH NEXT FROM ScrTransactions INTO 
                  @cur_G_Install_ID, @cur_G_Item_Line_Number, @cur_G_Price_List, @cur_G_Customer_Name, @cur_G_UnitMeasure, 
                  @cur_G_Currency, @cur_G_Rate, @cur_G_Ticket, @cur_G_Purchase_Date, @cur_G_Purchase_Time, @cur_G_Purchase_Type, 
                  @cur_G_Customer_ID, @cur_G_Customer_NIF, @cur_G_Customer_Address, @cur_G_Customer_District, @cur_G_Customer_City, 
                  @cur_G_Customer_State, @cur_G_Customer_Country, @cur_G_Customer_ZipCode, @cur_G_Payment_Method, @cur_G_Material, 
                  @cur_G_Quantity, @cur_G_Extnd_Price, @cur_G_Extnd_Tax, @cur_G_Extnd_Discount, @cur_G_Distribution_Fee;
           END ;      
           CLOSE ScrTransactions;
        END
        ELSE
        BEGIN
           PRINT 'Problemas en la ejecucion del Procedimiento' ;
           PRINT 'Favor de revisar las posibles causas' ;  
           PRINT 'a) Proceso de Carga aun en ejecución' ;  
           PRINT 'b) Ejecución en Proceso' ;  
           PRINT 'c) Terminación erronea de procesos' ;  
        END ;      

        IF ( ISNULL( @pOutput, 0 ) > 1 )
        BEGIN
		   declare @txtEnvio varchar(40)

           EXEC T3.EAI.Trace_Plsql 'NGP-Loader', 'Ends' ;
		   set @txtEnvio= 'Tickets -> ' + CAST(@nTickets AS VARCHAR(10))
           EXEC T3.EAI.Trace_Plsql 'NGP-Loader', @txtEnvio ;
		   set @txtEnvio='Items   -> ' + CAST(@nItems AS VARCHAR(10))
           EXEC T3.EAI.Trace_Plsql 'NGP-Loader', @txtEnvio ;
           PRINT 'Tickets Processed : ' + FORMAT(@nTickets, '###,###', 'en-US') ;
           PRINT 'Items     Processed : ' + FORMAT(@nItems, '###,###', 'en-US') ;
           PRINT 'Ends : ' + CONVERT(VARCHAR, GETDATE(), 108) ;
        END ;         

    END TRY
    BEGIN CATCH
        IF CURSOR_STATUS('local', 'ScrTransactions') >= 0 BEGIN CLOSE ScrTransactions; DEALLOCATE ScrTransactions; END;

        SET @sMsg = SUBSTRING(CAST(ERROR_NUMBER() AS VARCHAR(10)) + '-' + ERROR_MESSAGE(), 1, 250) ;
        SET @sMsg = SUBSTRING(ERROR_MESSAGE(), 1, 250) ;

        PRINT REPLICATE('-', 80) ;
        PRINT 'Problemas en la ejecucion del Procedimiento' ;
        PRINT 'FAVOR DE ESCALAR LOS SIGUIENTES DATOS :' ;
        PRINT 'Procedimiento : PROC_NGP_EXECUTE' ; 
        PRINT 'Fecha         : ' + CONVERT(VARCHAR, GETDATE(), 120) ;
        PRINT 'Referencia    : ' + ISNULL(@strID, '') ;
        PRINT 'Error         : ' + ISNULL(@sMsg, '') ;
        PRINT REPLICATE('-', 80) ;

        INSERT INTO T3.BITACORA_ERROR ( Distribuidor, Fecha, Mensaje, Tipo, Modulo, Ctro )
        VALUES ( 0, GETDATE(), ISNULL(@strID, '') + '. ' + @sMsg, 'F', 'NGP', @sInstall_ID );
    END CATCH;
END;
GO
