USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_CFDI_LIBERACION_PAGO]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[PROC_CFDI_LIBERACION_PAGO] 
AS
BEGIN

    DECLARE @sMsg VARCHAR(500);
    DECLARE @sErrorCode VARCHAR(30);
    DECLARE @nRetGenTxt NUMERIC(6,0);
--   
    DECLARE @strID VARCHAR(50);
    DECLARE @dtInicio DATETIME;
    DECLARE @nPID NUMERIC(8,0);
    DECLARE @nProceso NUMERIC(8,0);
    DECLARE @nProceso1 NUMERIC(8,0);
    DECLARE @nProceso2 NUMERIC(8,0);
    DECLARE @nProceso3 NUMERIC(8,0);
    DECLARE @nProceso4 NUMERIC(8,0);
    DECLARE @sOrder_Num VARCHAR(30);
    DECLARE @sCadenaOriginal VARCHAR(60);
    DECLARE @sSelloDigital VARCHAR(60);

    -- Variables cursor
    DECLARE @Doc_Asignacion_ID VARCHAR(50);
    DECLARE @Doc_Importe NUMERIC(18,4);
    DECLARE @Doc_Saldo_Anterior NUMERIC(18,4);
    DECLARE @Doc_Numero_Pago VARCHAR(50);
    DECLARE @Doc_Factura VARCHAR(50);
    DECLARE @Doc_Accnt_ID VARCHAR(50);
    DECLARE @Doc_RFC VARCHAR(20);
    DECLARE @Doc_Fecha_Proc_BATMD DATETIME;
    DECLARE @Doc_Fecha_Proceso DATETIME;
    DECLARE @Doc_Via_Pago VARCHAR(10);
    DECLARE @Doc_Fecha_Factura DATETIME;
    DECLARE @Doc_Fecha_Asignacion DATETIME;
    DECLARE @Doc_Status VARCHAR(50);
    DECLARE @Doc_Metodo_Pago VARCHAR(50);
    DECLARE @Doc_Fecha_Pago DATETIME;
    DECLARE @Doc_Cliente_SAP VARCHAR(50);
    DECLARE @Doc_VersionCFD VARCHAR(50);

    DECLARE ScrPrompt CURSOR FOR 
      SELECT 
             Cobza.Asignacion_ID, Cobza.Importe, Cobza.Saldo_Anterior, Cobza.Numero_Pago, Cobza.Factura, Cobza.Accnt_ID,
             Cobza.RFC, Cobza.Fecha_Proc_BATMD, Cobza.Fecha_Proceso, Cobza.Via_Pago, Cobza.Fecha_Factura, Cobza.Fecha_Asignacion, 
             CFD.Status, CFD.Metodo_Pago, Cobza.Fecha_Pago, Cobza.Cliente_SAP,
             ISNULL( Vers.VerCFD, EAI_Owner.getConv( 'CFG Settings', 'VersionCFDI' ) ) AS VersionCFD
        FROM T3.CFDI_Cobranza Cobza WITH (INDEX(CFDI_COBRANZA_IX2))
        INNER JOIN T3.CFDI_Documentos CFD ON Cobza.Nota_Venta = CFD.Nota_Venta
        LEFT JOIN ( 
             SELECT RFC, MAX( Valor ) AS VerCFD
                FROM T3.CFDI_RFC_Setting
                WHERE Parametro = 'VersionCFDI'
                GROUP BY RFC 
             ) Vers ON Cobza.RFC = Vers.RFC             
       WHERE ISNULL( CONVERT(VARCHAR(8), Cobza.Fecha_Envio, 112), 'null' ) = 'null'
         AND Cobza.Via_Pago    = '01'
         AND Cobza.UUID_Venta IS NOT NULL
         AND Cobza.Created_By != 'INTERFACE'
         AND Cobza.Fecha_Pago >= '20200921' 
         AND CFD.Metodo_Pago  != 'PUE'
         AND ISNULL( Cobza.Status, 'EMPTY' ) != 'PendienteT3'
         AND ISNULL( Cobza.Status, 'EMPTY' ) != 'Canc Pago'
         AND T3.FN_VALIDA_RFC( Cobza.RFC ) > 0
         AND Cobza.Asignacion_ID NOT IN (
                    SELECT DISTINCT Referencia FROM T3.RF_Error_Log
                       WHERE Referencia IS NOT NULL
                         AND RUTINA LIKE '%GENERAR_PAGO%' );

    BEGIN TRY
        SET @dtInicio  = GETDATE();
        SET @nProceso  = 613;
        SET @nProceso1 = 0;
        SET @nProceso2 = 0;
        SET @nProceso3 = 0;
        SET @nProceso4 = 0;
        SET @nPID      = NEXT VALUE FOR EAI_Owner.ProcessID;
        
        EXEC EAI_Owner.Log_Start @nProceso;
        
        INSERT INTO T3.RF_PROCESOS_LOG ( PID , Proceso , Fecha_Proc_BATMD, Inicio )
        VALUES ( @nPID, @nProceso, NULL, GETDATE() );      
        
        OPEN ScrPrompt;
        FETCH NEXT FROM ScrPrompt INTO @Doc_Asignacion_ID, @Doc_Importe, @Doc_Saldo_Anterior, @Doc_Numero_Pago, @Doc_Factura, @Doc_Accnt_ID, @Doc_RFC, @Doc_Fecha_Proc_BATMD, @Doc_Fecha_Proceso, @Doc_Via_Pago, @Doc_Fecha_Factura, @Doc_Fecha_Asignacion, @Doc_Status, @Doc_Metodo_Pago, @Doc_Fecha_Pago, @Doc_Cliente_SAP, @Doc_VersionCFD;
        
        WHILE @@FETCH_STATUS = 0
        BEGIN   
           SET @strID     = @Doc_Factura;
           SET @nProceso1 = @nProceso1 + 1;

           IF ( @Doc_VersionCFD = '4.0' ) 
           BEGIN
              EXEC T3.PROC_V20_GENERAR_PAGO @Doc_Asignacion_ID, @Doc_Cliente_SAP, 0 ;      
           END 
           ELSE 
           BEGIN
              EXEC T3.PROC_CFDI_GENERAR_PAGO @Doc_Asignacion_ID, @Doc_Cliente_SAP, 0 ;      
           END;

           FETCH NEXT FROM ScrPrompt INTO @Doc_Asignacion_ID, @Doc_Importe, @Doc_Saldo_Anterior, @Doc_Numero_Pago, @Doc_Factura, @Doc_Accnt_ID, @Doc_RFC, @Doc_Fecha_Proc_BATMD, @Doc_Fecha_Proceso, @Doc_Via_Pago, @Doc_Fecha_Factura, @Doc_Fecha_Asignacion, @Doc_Status, @Doc_Metodo_Pago, @Doc_Fecha_Pago, @Doc_Cliente_SAP, @Doc_VersionCFD;
        END;
        
        CLOSE ScrPrompt;
        DEALLOCATE ScrPrompt;

        UPDATE EAI_OWNER.MX_COMPONENTS 
        SET Status = 1
        WHERE Component = @nProceso;
        
        UPDATE T3.RF_PROCESOS_LOG 
        SET Fin = GETDATE(), 
            Proceso_1 = @nProceso1, 
            Proceso_2 = @nProceso2,
            Proceso_3 = @nProceso3, 
            Proceso_4 = @nProceso4
        WHERE PID = @nPID;         

    END TRY
    BEGIN CATCH
        SET @sMsg = SUBSTRING(CAST(ERROR_NUMBER() AS VARCHAR) + '-' + ERROR_MESSAGE(), 1, 250);
        SET @sMsg = SUBSTRING(ERROR_MESSAGE(), 1, 250);
        
        PRINT REPLICATE('-', 80);
        PRINT 'Problemas en la ejecucion del Procedimiento';
        PRINT 'FAVOR DE ESCALAR LOS SIGUIENTES DATOS :';
        PRINT 'Procedimiento : PROC_CFDI_LIBERACION_PAGO';
        PRINT 'Fecha         : ' + CONVERT(VARCHAR, GETDATE(), 112) + ' ' + CONVERT(VARCHAR, GETDATE(), 108);
        PRINT 'Referencia    : ' + ISNULL(@strID, '');
        PRINT 'Error         : ' + ISNULL(@sMsg, '');
        PRINT REPLICATE('-', 80);
        
        SET @sErrorCode = 'SQL-' + CAST(ERROR_NUMBER() AS VARCHAR);
        SET @sMsg = SUBSTRING(CAST(ERROR_NUMBER() AS VARCHAR) + '-' + ERROR_MESSAGE(), 1, 250);      
        
        INSERT INTO EAI_OWNER.MX_EAI_MESSAGE_LOG
          ( DIRECTION, REFERENCE, CREATED, MESSAGE, JOB_PID,
            STATUS, QUEUE_NAME, SIEBEL_ERROR_MESSAGE, SOURCE, 
            SIEBEL_ERROR_CODE, RETRY_COUNT, SEQUENCE, PARENT_ROW_ID )
        VALUES 
          ( 'Job Logging', @strID, GETDATE(), NULL, @nPID,
            'Error', 'PROC_CFDI_LIBERACION_PAGO', @sMsg, 'PL/SQL',
            @sErrorCode, NULL, NULL, NULL );

    END CATCH
END;
GO
