USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_T3_DQC_PAYMENT]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[PROC_T3_DQC_PAYMENT]  
( 
    @pDays   NUMERIC(10,2) = 35,
    @pDaysIn NUMERIC(10,2) = 4 
) 
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @dtBlockingDate  DATETIME ;
    DECLARE @sNotaCredito    VARCHAR(20) ;

    -- Variables cursores
    DECLARE @Pay_Factura            VARCHAR(50),
            @Pay_Nota_Credito       VARCHAR(50),
            @Pay_Fecha_Asignacion   DATETIME,
            @Pay_Cnt_Aplicaciones   INT,
            @Pay_Sum_Importe        NUMERIC(22,2),
            @Pay_Sum_por_Aplicar    NUMERIC(22,2),
            @Pay_Factura_Importe    NUMERIC(22,2),
            @Pay_Factura_Aplicada   NUMERIC(22,2),
            @Pay_NotaCred_Importe   NUMERIC(22,2),
            @Pay_NotaCred_Aplicada  NUMERIC(22,2);
    DECLARE @Inv_Factura            VARCHAR(50),
            @Inv_Sum_por_Aplicar    NUMERIC(22,2),
            @Inv_Factura_Importe    NUMERIC(22,2),
            @Inv_Factura_Aplicada   NUMERIC(22,2);
    DECLARE @CM_Nota_Credito        VARCHAR(50),
            @CM_Sum_por_Aplicar     NUMERIC(22,2),
            @CM_NotaCred_Importe    NUMERIC(22,2),
            @CM_NotaCred_Aplicada   NUMERIC(22,2);

    DECLARE ScrPayments CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT 
              Pro.Factura                                            AS Factura          ,
              Pro.Nota_Credito                                       AS Nota_Credito     ,
              Pro.Fecha_Asignacion                                   AS Fecha_Asignacion ,
              Pro.Cnt_Aplicaciones                                   AS Cnt_Aplicaciones ,
              Pro.Sum_Importe                                        AS Sum_Importe      ,
              Pro.Sum_por_Aplicar                                    AS Sum_por_Aplicar  ,
              Pro.Factura_Importe                                    AS Factura_Importe  ,
              Pro.Factura_Aplicada                                   AS Factura_Aplicada ,
              Pro.NotaCred_Importe                                   AS NotaCred_Importe ,
              Pro.NotaCred_Aplicada                                  AS NotaCred_Aplicada
          FROM (
                 SELECT PayIn.Factura                                     AS Factura          ,
                        PayIn.Nota_Credito                                AS Nota_Credito     ,
                        PayIn.Fecha_Asignacion                            AS Fecha_Asignacion ,
                        PayIn.Cnt_Aplicaciones                            AS Cnt_Aplicaciones ,
                        PayIn.Sum_Importe                                 AS Sum_Importe      ,
                        PayIn.Sum_por_Aplicar                             AS Sum_por_Aplicar  ,
                        T3.FN_TOTAL_FACT( PayIn.Factura      )            AS Factura_Importe  ,
                        T3.FN_COBZA_PAY(  PayIn.Factura      )            AS Factura_Aplicada ,
                        EAI_OWNER.fn_Get_Tax_Issue( PayIn.Nota_Credito ) + 
                        T3.FN_TOTAL_FACT( PayIn.Nota_Credito )            AS NotaCred_Importe ,
                        ISNULL( T3.FN_COBZA_CM(   PayIn.Nota_Credito ), 0 )  AS NotaCred_Aplicada
                    FROM (
                          SELECT AP.Factura                                                              AS Factura         , 
                                 AP.Nota_Credito                                                         AS Nota_Credito    ,
                                 AP.Fecha_Asignacion                                                     AS Fecha_Asignacion, 
                                 COUNT( AP.Factura )                                                     AS Cnt_Aplicaciones,
                                 SUM( ISNULL( AP.Valor_Pago, 0 ) )                                          AS Sum_Importe     ,
                                 SUM( CASE WHEN AP.Fecha_Proc_BATMD IS NULL THEN ISNULL( AP.Valor_Pago, 0 ) ELSE 0 END )  AS Sum_por_Aplicar
                             FROM T3.Asignacion_Pago AP
                             WHERE AP.Fecha_Trn > GETDATE() - ISNULL( @pDays, 4 )
                             GROUP BY AP.Factura, AP.Nota_Credito, AP.Fecha_Asignacion
                             HAVING COUNT(AP.Factura) > 1
                         ) PayIn
                ) Pro         
    WHERE   ( ( Pro.Factura_Aplicada  + Pro.Sum_por_Aplicar ) > Pro.Factura_Importe  ) 
       OR ( ( ( Pro.NotaCred_Aplicada + Pro.Sum_por_Aplicar ) > Pro.NotaCred_Importe ) AND ( Pro.NotaCred_Importe > 0 ) ) ;

    DECLARE ScrInvoice CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT 
              Pro.Factura                                            AS Factura          ,
              Pro.Sum_por_Aplicar                                    AS Sum_por_Aplicar  ,
              Pro.Factura_Importe                                    AS Factura_Importe  ,
              Pro.Factura_Aplicada                                   AS Factura_Aplicada 
          FROM (
                 SELECT PayIn.Factura                                 AS Factura          ,
                        PayIn.Sum_por_Aplicar                         AS Sum_por_Aplicar  ,
                        T3.FN_TOTAL_FACT( PayIn.Factura      )        AS Factura_Importe  ,
                        T3.FN_COBZA_PAY(  PayIn.Factura      )        AS Factura_Aplicada 
                    FROM (
                          SELECT AP.Factura                                                              AS Factura         , 
                                 SUM( CASE WHEN AP.Fecha_Proc_BATMD IS NULL THEN ISNULL( AP.Valor_Pago, 0 ) ELSE 0 END )  AS Sum_por_Aplicar
                             FROM T3.Asignacion_Pago AP
                             WHERE AP.Fecha_Trn > GETDATE() - ISNULL( @pDaysIn, 4 )
                               AND AP.Fecha_Proc_BATMD IS NULL
                             GROUP BY AP.Factura
                         ) PayIn
                ) Pro  
          WHERE   ( ( Pro.Factura_Aplicada  + Pro.Sum_por_Aplicar ) > Pro.Factura_Importe  ) ;

    DECLARE ScrCreditMemo CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT 
              Pro.Nota_Credito                                       AS Nota_Credito     ,
              Pro.Sum_por_Aplicar                                    AS Sum_por_Aplicar  ,
              Pro.NotaCred_Importe                                   AS NotaCred_Importe ,
              Pro.NotaCred_Aplicada                                  AS NotaCred_Aplicada
          FROM (
                 SELECT PayIn.Nota_Credito                               AS Nota_Credito     ,
                        PayIn.Sum_por_Aplicar                            AS Sum_por_Aplicar  ,
                        EAI_OWNER.fn_Get_Tax_Issue( PayIn.Nota_Credito ) + 
                        T3.FN_TOTAL_FACT( PayIn.Nota_Credito )           AS NotaCred_Importe ,
                        ISNULL( T3.FN_COBZA_CM(   PayIn.Nota_Credito ), 0 ) AS NotaCred_Aplicada
                    FROM (
                          SELECT AP.Nota_Credito                                                         AS Nota_Credito      , 
                                 SUM( CASE WHEN AP.Fecha_Proc_BATMD IS NULL THEN ISNULL( AP.Valor_Pago, 0 ) ELSE 0 END )  AS Sum_por_Aplicar
                             FROM T3.Asignacion_Pago AP
                             WHERE AP.Fecha_Trn > GETDATE() - ISNULL( @pDaysIn, 4 )
                               AND AP.Nota_Credito     IS NOT NULL
                               AND AP.Fecha_Proc_BATMD IS NULL
                             GROUP BY AP.Nota_Credito
                         ) PayIn
                ) Pro            
           WHERE ( ( ( Pro.NotaCred_Aplicada + Pro.Sum_por_Aplicar ) > Pro.NotaCred_Importe ) AND ( Pro.NotaCred_Importe > 0 ) ) ;

    BEGIN
        SET @dtBlockingDate = CONVERT(DATETIME, '29991227', 112) ;

        OPEN ScrPayments;
        FETCH NEXT FROM ScrPayments INTO 
            @Pay_Factura, @Pay_Nota_Credito, @Pay_Fecha_Asignacion, @Pay_Cnt_Aplicaciones, 
            @Pay_Sum_Importe, @Pay_Sum_por_Aplicar, @Pay_Factura_Importe, @Pay_Factura_Aplicada, 
            @Pay_NotaCred_Importe, @Pay_NotaCred_Aplicada;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @sNotaCredito = '' ;
            IF ( LEN( @Pay_Nota_Credito ) > 4 )
            BEGIN
                SET @sNotaCredito = @Pay_Nota_Credito ;
            END;

            IF ( @Pay_Sum_por_Aplicar > 0 )
            BEGIN
                IF ( LEN( @Pay_Nota_Credito ) > 4 )
                BEGIN
                    UPDATE T3.Asignacion_Pago 
                    SET Fecha_Proc_BATMD = @dtBlockingDate
                    WHERE Factura = @Pay_Factura 
                      AND Fecha_Asignacion = @Pay_Fecha_Asignacion 
                      AND Nota_Credito = @Pay_Nota_Credito 
                      AND Fecha_Proc_BATMD IS NULL ;
                END
                ELSE
                BEGIN
                    UPDATE T3.Asignacion_Pago 
                    SET Fecha_Proc_BATMD = @dtBlockingDate
                    WHERE Factura = @Pay_Factura 
                      AND Fecha_Asignacion = @Pay_Fecha_Asignacion
                      AND Fecha_Proc_BATMD IS NULL ;
                END;
            END;

            FETCH NEXT FROM ScrPayments INTO 
                @Pay_Factura, @Pay_Nota_Credito, @Pay_Fecha_Asignacion, @Pay_Cnt_Aplicaciones, 
                @Pay_Sum_Importe, @Pay_Sum_por_Aplicar, @Pay_Factura_Importe, @Pay_Factura_Aplicada, 
                @Pay_NotaCred_Importe, @Pay_NotaCred_Aplicada;
        END;
        CLOSE ScrPayments;
        DEALLOCATE ScrPayments;

        OPEN ScrInvoice;
        FETCH NEXT FROM ScrInvoice INTO 
            @Inv_Factura, @Inv_Sum_por_Aplicar, @Inv_Factura_Importe, @Inv_Factura_Aplicada;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            IF ( @Inv_Sum_por_Aplicar > 0 )
            BEGIN
                UPDATE T3.Asignacion_Pago 
                SET Fecha_Proc_BATMD = @dtBlockingDate
                WHERE Fecha_Trn > GETDATE() - ISNULL( @pDaysIn, 4 ) 
                  AND Factura   = @Inv_Factura 
                  AND Fecha_Proc_BATMD IS NULL ;
            END; 

            FETCH NEXT FROM ScrInvoice INTO 
                @Inv_Factura, @Inv_Sum_por_Aplicar, @Inv_Factura_Importe, @Inv_Factura_Aplicada;
        END;
        CLOSE ScrInvoice;
        DEALLOCATE ScrInvoice;

        OPEN ScrCreditMemo;
        FETCH NEXT FROM ScrCreditMemo INTO 
            @CM_Nota_Credito, @CM_Sum_por_Aplicar, @CM_NotaCred_Importe, @CM_NotaCred_Aplicada;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            IF ( @CM_Sum_por_Aplicar > 0 )
            BEGIN
                UPDATE T3.Asignacion_Pago 
                SET Fecha_Proc_BATMD = @dtBlockingDate
                WHERE Fecha_Trn    > GETDATE() - ISNULL( @pDaysIn, 4 ) 
                  AND Nota_Credito = @CM_Nota_Credito
                  AND Fecha_Proc_BATMD IS NULL ;
            END;       

            FETCH NEXT FROM ScrCreditMemo INTO 
                @CM_Nota_Credito, @CM_Sum_por_Aplicar, @CM_NotaCred_Importe, @CM_NotaCred_Aplicada;
        END;
        CLOSE ScrCreditMemo;
        DEALLOCATE ScrCreditMemo;

    END;
END;
GO
