USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_CFDI_CARTAPORTE_REP]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [T3].[PROC_CFDI_CARTAPORTE_REP] 
    @pRelease INT = 0
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sMsg             VARCHAR(500);
    DECLARE @sErrorCode       VARCHAR(30);
    --   
    DECLARE @strID            VARCHAR(50);
    DECLARE @dtInicio         DATETIME; --DATE
    DECLARE @nPID             INT; --NUMBER(08)
    DECLARE @nProceso         INT; --NUMBER(08)
    DECLARE @nProceso1        INT; --NUMBER(08)
    DECLARE @nProceso2        INT; --NUMBER(08)
    DECLARE @nProceso3        INT; --NUMBER(08)
    DECLARE @nProceso4        INT;  --NUMBER(08)
    DECLARE @nJobCartaPorte   INT;--NUMBER(08)
    DECLARE @sOrder_Num       VARCHAR(30);
    DECLARE @sCadenaOriginal  VARCHAR(60);
    DECLARE @sSelloDigital    VARCHAR(60);

    DECLARE ScrReps CURSOR LOCAL FAST_FORWARD FOR
        SELECT DISTINCT
              Van.Name                      AS Van_Name        ,
              Van.Stock_Partner_Van         AS Cliente_VAN_SAP ,
              Van.Resource_Name             AS Nombre_Rep      ,
              Van.Stock_Partner_Resource    AS Cliente_Rep_SAP ,
              Rep.RFC                       AS Rep_RFC         ,
              Rep.Licencia                  AS Rep_Licencia    ,
              Rep.Placas                    AS Rep_Placas      ,
              Rep.Modelo                    AS Rep_Modelo      ,
              CP.Cliente_SAP                AS Habilitado_Job
          FROM EAI_Owner.Vans_Vigentes   Van
          LEFT OUTER JOIN EAI_Owner.Cat_Reps Rep
            ON Van.Stock_Partner_Resource = Rep.Cliente_SAP
          LEFT OUTER JOIN EAI_Owner.MX_PRINT_DELIVERY CP
            ON Van.Stock_Partner_Van = CP.Cliente_SAP
          WHERE Van.Location_Type = 'Van'
          ORDER BY Van.Name;

    -- Variables cursor
    DECLARE @Doc_Van_Name         VARCHAR(150);
    DECLARE @Doc_Cliente_VAN_SAP  VARCHAR(150);
    DECLARE @Doc_Nombre_Rep       VARCHAR(150);
    DECLARE @Doc_Cliente_Rep_SAP  VARCHAR(150);
    DECLARE @Doc_Rep_RFC          VARCHAR(150);
    DECLARE @Doc_Rep_Licencia     VARCHAR(150);
    DECLARE @Doc_Rep_Placas       VARCHAR(150);
    DECLARE @Doc_Rep_Modelo       VARCHAR(150);
    DECLARE @Doc_Habilitado_Job   VARCHAR(150);

    BEGIN TRY
        SELECT @nJobCartaPorte = [EAI_Owner].[getConv]('CFG Settings', 'Job Cartaporte');
        
        SET @dtInicio  = GETDATE();
        SET @nProceso1 = 0;
        SET @nProceso2 = 0;
        SET @nProceso3 = 0;
        SET @nProceso4 = 0;

        OPEN ScrReps;
        FETCH NEXT FROM ScrReps INTO 
            @Doc_Van_Name, @Doc_Cliente_VAN_SAP, @Doc_Nombre_Rep, 
            @Doc_Cliente_Rep_SAP, @Doc_Rep_RFC, @Doc_Rep_Licencia, 
            @Doc_Rep_Placas, @Doc_Rep_Modelo, @Doc_Habilitado_Job;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @strID     = @Doc_Van_Name;
            SET @nProceso1 = @nProceso1 + 1;

            IF (@Doc_Rep_RFC IS NOT NULL AND @Doc_Habilitado_Job IS NOT NULL)
            BEGIN
                SET @nProceso2 = @nProceso2 + 1;
                IF (ISNULL(@pRelease, 0) > 0)
                BEGIN
                -- PROC_VCP_GENERAR_REMISION_INV( @Doc_Cliente_VAN_SAP, 0, 0 ) ;
                   EXEC PROC_V40_GENERAR_REMISION_INV3 @Doc_Cliente_VAN_SAP, 11, 11;
                END
            END

            FETCH NEXT FROM ScrReps INTO 
                @Doc_Van_Name, @Doc_Cliente_VAN_SAP, @Doc_Nombre_Rep, 
                @Doc_Cliente_Rep_SAP, @Doc_Rep_RFC, @Doc_Rep_Licencia, 
                @Doc_Rep_Placas, @Doc_Rep_Modelo, @Doc_Habilitado_Job;
        END
        
        CLOSE ScrReps;
        DEALLOCATE ScrReps;

        IF (ISNULL(@pRelease, 0) = 0)
        BEGIN
            PRINT 'Reps : ' + CAST(@nProceso2 AS VARCHAR) + '/' + CAST(@nProceso1 AS VARCHAR);
        END

		--Ese codigo no tiene razon de ser si fuera del if tambien se hace el commit
        --IF (DATEPART(dw, GETDATE()) = 6)
        --BEGIN
        --    SET @nProceso4 = 0;
        --    IF @@TRANCOUNT > 0 COMMIT;
        --    -- EAI_Owner.JOB_NEXT_RUN( @nJobCartaPorte, CAST(GETDATE() AS DATE) + 3 + 5.0/24.0 ) ;
        --END
        

    END TRY
    BEGIN CATCH
        -- reemplaza msg
        SET @sMsg = SUBSTRING(CAST(ERROR_NUMBER() AS VARCHAR) + '-' + ERROR_MESSAGE(), 1, 250);
        SET @sMsg = SUBSTRING(ERROR_MESSAGE(), 1, 250);
        
        PRINT REPLICATE('-', 80);
        PRINT 'Problemas en la ejecucion del Procedimiento';
        PRINT 'FAVOR DE ESCALAR LOS SIGUIENTES DATOS :';
        PRINT 'Procedimiento : PROC_CFDI_CARTAPORTE_REP';
        PRINT 'Fecha         : ' + FORMAT(GETDATE(), 'yyyyMMdd HH:mm:ss');
        PRINT 'Referencia    : ' + ISNULL(@strID, '');
        PRINT 'Error         : ' + ISNULL(@sMsg, '');
        PRINT REPLICATE('-', 80);


        SET @sErrorCode = 'SQL-' + CAST(ERROR_NUMBER() AS VARCHAR);
        SET @sMsg = SUBSTRING(CAST(ERROR_NUMBER() AS VARCHAR) + '-' + ERROR_MESSAGE(), 1, 250);      

        INSERT INTO EAI_OWNER.MX_EAI_MESSAGE_LOG
          ( DIRECTION          , REFERENCE                 , CREATED             , MESSAGE        , JOB_PID,
            STATUS             , QUEUE_NAME                , SIEBEL_ERROR_MESSAGE, SOURCE         , 
            SIEBEL_ERROR_CODE  , RETRY_COUNT               , SEQUENCE            , PARENT_ROW_ID   )
        VALUES 
          ( 'Job Logging'      , @strID                    , GETDATE()           , NULL           , NULL   ,
            'Error'            , 'PROC_CFDI_CARTAPORTE_REP', @sMsg               , 'PL/SQL'       ,
            @sErrorCode        , NULL                      , NULL                , NULL            ) ;
            
        IF @@TRANCOUNT > 0 COMMIT;
    END CATCH
END;
GO
