USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_CFDI_INSERTAR_CANCEL_AGR]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[PROC_CFDI_INSERTAR_CANCEL_AGR] 
   ( @p_Factura VARCHAR(MAX) ) 
AS
BEGIN
    SET NOCOUNT ON;

-- variables cursor
    DECLARE @Doc_Factura          VARCHAR(MAX);
    DECLARE @Doc_Fecha_Liberacion DATETIME;
    DECLARE @Doc_Folio_Fiscal     VARCHAR(MAX);
    DECLARE @Doc_Fecha_Anulacion  DATETIME;
    DECLARE @Doc_Cancelacion      VARCHAR(MAX);
    DECLARE @Doc_Informacion      VARCHAR(MAX);

    DECLARE ScrDoc CURSOR LOCAL FOR
        SELECT PG.Nota_Venta_CFDI AS Factura, CFDI.Fecha_Liberacion, CFDI.Folio_Fiscal, Anul.Fecha_Liberacion AS Fecha_Anulacion,
               ISNULL( Anul.Nota_Venta, 'INSERT' )           AS Cancelacion,
               'CABCAN'                                                                                                  + '|' +
               SUBSTRING( PG.Nota_Venta_CFDI, 1, NULLIF(CHARINDEX('-', PG.Nota_Venta_CFDI, CHARINDEX('-', PG.Nota_Venta_CFDI) + 1), 0) - 1 ) + '|' +
               SUBSTRING( PG.Nota_Venta_CFDI, CHARINDEX('-', PG.Nota_Venta_CFDI, CHARINDEX('-', PG.Nota_Venta_CFDI) + 1) + 1, LEN(PG.Nota_Venta_CFDI) ) + '|' +
               Soc.RFC                                                                                                   + '|' +
               'XAXX010101000'                                                                                           + '|' + 
               ISNULL( CFDI.Folio_Fiscal, '' )               AS Informacion
        FROM T3.CFDI_Agrupado        PG
        INNER JOIN T3.CFDI_Documentos      CFDI ON PG.Nota_Venta_CFDI = CFDI.Nota_Venta
        LEFT OUTER JOIN T3.CFDI_Cancelaciones   Anul ON PG.Nota_Venta_CFDI = Anul.Nota_Venta -- Equivalente a Anul.Nota_Venta(+)
        INNER JOIN EAI.ZSDFE_Soc           Soc  ON PG.Sociedad = Soc.BUKRS 
                                               AND PG.Sociedad = ISNULL( Soc.KUNNR, 'NULL' )
        WHERE PG.Nota_Venta_CFDI = @p_Factura ;

    OPEN ScrDoc;
    FETCH NEXT FROM ScrDoc INTO @Doc_Factura, @Doc_Fecha_Liberacion, @Doc_Folio_Fiscal, @Doc_Fecha_Anulacion, @Doc_Cancelacion, @Doc_Informacion;

    WHILE @@FETCH_STATUS = 0
    BEGIN
       IF ( ( @Doc_Cancelacion = 'INSERT' ) AND ( @Doc_Folio_Fiscal IS NOT NULL ) ) 
       BEGIN
          INSERT INTO T3.CFDI_Cancelaciones
             ( Nota_Venta, Folio_Fiscal     , Fecha_Liberacion, Informacion )
          VALUES
             ( @Doc_Factura, @Doc_Folio_Fiscal, GETDATE()         , @Doc_Informacion ) ;

          INSERT INTO EAI_Owner.WA_Logging
                ( Fecha, Usuario, Usuario_Red, IP, Terminal, Documento, Comentario )
             VALUES
                ( GETDATE() , CURRENT_USER, 
                  SUSER_SNAME(), 
                  CAST(CONNECTIONPROPERTY('client_net_address') AS VARCHAR(50)),
                  HOST_NAME(),
                  @p_Factura, 'T3.Proc_CFDI_Insertar_Cancel_Agr' ) ;
       END
       ELSE IF ( @Doc_Fecha_Anulacion IS NULL ) 
       BEGIN
          UPDATE T3.CFDI_Cancelaciones SET Folio_Fiscal = @Doc_Folio_Fiscal,
                                           Informacion  = @Doc_Informacion
             WHERE Nota_Venta = @Doc_Factura ;
       END 

       FETCH NEXT FROM ScrDoc INTO @Doc_Factura, @Doc_Fecha_Liberacion, @Doc_Folio_Fiscal, @Doc_Fecha_Anulacion, @Doc_Cancelacion, @Doc_Informacion;
    END ;
    
    CLOSE ScrDoc;
    DEALLOCATE ScrDoc;

END;
GO
