USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_CFDI_INSERTAR_CANCEL]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[PROC_CFDI_INSERTAR_CANCEL] 
   ( @p_Factura VARCHAR(MAX) ) 
AS
BEGIN
    SET NOCOUNT ON;

-- variables cursor
    DECLARE @Doc_Factura          VARCHAR(MAX);
    DECLARE @Doc_Fecha_Liberacion DATETIME;
    DECLARE @Doc_Folio_Fiscal     VARCHAR(MAX);
    DECLARE @Doc_Fecha_Anulacion  DATETIME;
    DECLARE @Doc_Cancelacion      VARCHAR(MAX);
    DECLARE @Doc_Informacion      VARCHAR(MAX);

    DECLARE ScrDoc CURSOR LOCAL FOR
        SELECT PG.Factura, CFDI.Fecha_Liberacion, CFDI.Folio_Fiscal, Anul.Fecha_Liberacion AS Fecha_Anulacion,
               ISNULL( Anul.Nota_Venta, 'INSERT' )           AS Cancelacion,
               'CABCAN'                                  + '|' +
               REPLACE( PG.Factura, '-', '|' )           + '|' +
               Soc.RFC                                   + '|' +
               Cte.RFC                                   + '|' + 
               ISNULL( CFDI.Folio_Fiscal, '' )               AS Informacion
        FROM T3.Registro_Fiscal  PG
        INNER JOIN T3.Cliente          Cte  ON PG.Cliente_SAP = Cte.Cliente_SAP 
                                           AND PG.Fecha_Factura BETWEEN Cte.Fecha_Ini_Vig AND Cte.Fecha_Fin_Vig
        INNER JOIN T3.CFDI_Documentos  CFDI ON PG.Factura = CFDI.Nota_Venta
        LEFT OUTER JOIN T3.CFDI_Cancelaciones Anul ON PG.Factura = Anul.Nota_Venta -- Equivalente a Anul.Nota_Venta(+)
        INNER JOIN T3.RF_Complemento   Comp ON PG.Factura = Comp.Factura
        INNER JOIN EAI.ZSDFE_Soc       Soc  ON Comp.Sociedad = Soc.BUKRS 
                                           AND Comp.Sociedad = ISNULL( Soc.KUNNR, 'NULL' )
        INNER JOIN T3.Tipo_Documento   TD   ON PG.Tipo_Docto = TD.Tipo_Documento
        WHERE PG.Factura        = @p_Factura
          AND PG.Tipo_Docto     IN ( 'C003', 'C004', 'C005', 'C006', 'C020', 'C021', 'C022', 'C024', 'C019', 'C0FX', 'C025' )
          AND TD.CFD            = 'NO' ;


	OPEN ScrDoc;
    FETCH NEXT FROM ScrDoc INTO @Doc_Factura, @Doc_Fecha_Liberacion, @Doc_Folio_Fiscal, @Doc_Fecha_Anulacion, @Doc_Cancelacion, @Doc_Informacion;

    WHILE @@FETCH_STATUS = 0
    BEGIN
       IF ( ( @Doc_Cancelacion = 'INSERT' ) AND ( @Doc_Folio_Fiscal IS NOT NULL ) ) 
       BEGIN
          INSERT INTO T3.CFDI_Cancelaciones
             ( Nota_Venta, Folio_Fiscal     , Fecha_Liberacion, Informacion )
          VALUES
             ( @Doc_Factura, @Doc_Folio_Fiscal, GETDATE()         , @Doc_Informacion ) ;

          UPDATE T3.Registro_Fiscal SET Status = 'Cancelled'
             WHERE Factura = @Doc_Factura ;

          INSERT INTO EAI_Owner.WA_Logging
                ( Fecha, Usuario, Usuario_Red, IP, Terminal, Documento, Comentario )
             VALUES
                ( GETDATE() , CURRENT_USER, 
                  SUSER_SNAME(), 
                  CAST(CONNECTIONPROPERTY('client_net_address') AS VARCHAR(50)),
                  HOST_NAME(),
                  @p_Factura, 'T3.Proc_CFDI_Insertar_Cancel' ) ;
       END
       ELSE IF ( @Doc_Fecha_Anulacion IS NULL ) 
       BEGIN
          UPDATE T3.CFDI_Cancelaciones SET Folio_Fiscal = @Doc_Folio_Fiscal,
                                           Informacion  = @Doc_Informacion
             WHERE Nota_Venta = @Doc_Factura ;
       END 

       FETCH NEXT FROM ScrDoc INTO @Doc_Factura, @Doc_Fecha_Liberacion, @Doc_Folio_Fiscal, @Doc_Fecha_Anulacion, @Doc_Cancelacion, @Doc_Informacion;
    END ;
    
    CLOSE ScrDoc;
    DEALLOCATE ScrDoc;

END;
GO
