USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_T3_MOV_CLIENTE]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[PROC_T3_MOV_CLIENTE]  
( 
    @dtFechaProcBATMD DATETIME 
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sMsg             VARCHAR(500) ;
    DECLARE @sCadena          VARCHAR(4000) ;
    DECLARE @sChar            VARCHAR(1) ;
    DECLARE @sFactura         VARCHAR(20) ;
    DECLARE @sLinea           VARCHAR(4000) ;
    DECLARE @sMaterial        VARCHAR(10) ;
    DECLARE @sMascara         VARCHAR(10) ;
    DECLARE @sAuxiliar        VARCHAR(100) ;
    DECLARE @nCigarros        INT ;
    DECLARE @nDoctos          INT ;
    DECLARE @sEtapa           VARCHAR(20) ;
--
    DECLARE @strID            VARCHAR(50) ;
    DECLARE @dtInicio         DATETIME ;
    DECLARE @nPID             INT ;
    DECLARE @nProceso         INT ;
    DECLARE @nProceso1        INT ;
    DECLARE @nProceso2        INT ;
    DECLARE @nProceso3        INT ;
    DECLARE @nProceso4        INT ;
    DECLARE @sCtro            VARCHAR(10) ;

    -- Variable cursor
    DECLARE @Doc_Cliente_V3   VARCHAR(50); -- ver tipo de dato de Mov_Cliente.Cliente_V3

    DECLARE ScrClientes CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT Cliente_V3 
        FROM T3.Mov_Cliente
        WHERE Fecha_Proc_BATMD = @dtFechaProcBATMD ;

    BEGIN TRY
        SET @dtInicio = GETDATE() ;
		declare @fechaAct DATETIME
        OPEN ScrClientes;
        FETCH NEXT FROM ScrClientes INTO @Doc_Cliente_V3;

        WHILE @@FETCH_STATUS = 0
        BEGIN
			set @fechaAct=GETDATE() 
            EXEC EAI.CUSTOMER_LOG_UPDATE @Doc_Cliente_V3, 'ProcT3', @fechaAct;

            FETCH NEXT FROM ScrClientes INTO @Doc_Cliente_V3;
        END;

        CLOSE ScrClientes;
        DEALLOCATE ScrClientes;

    END TRY
    BEGIN CATCH
        IF CURSOR_STATUS('local', 'ScrClientes') >= 0 BEGIN CLOSE ScrClientes; DEALLOCATE ScrClientes; END;
        THROW;
    END CATCH
END;
GO
