USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_V20_GENERAR_PAGO_MX10]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [T3].[PROC_V20_GENERAR_PAGO_MX10] 
(
    @pFactura NUMERIC(18,0),
    @pOutput INT = 0
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @strID VARCHAR(30);
    DECLARE @strStage VARCHAR(30);
    DECLARE @sMsg VARCHAR(500);   
    DECLARE @sCtro VARCHAR(4);   
    DECLARE @sReturn VARCHAR(MAX);          -- CLOB 
    DECLARE @uLINPAGOS VARCHAR(MAX);        -- CLOB
    DECLARE @uCABCLIE VARCHAR(4000);
    -- DECLARE @sLINFAC VARCHAR(4000);
    DECLARE @sLeyMenor VARCHAR(4000);
    DECLARE @sLeyPriv VARCHAR(4000);
    DECLARE @sSepLinea VARCHAR(4);
    DECLARE @sSepCampo VARCHAR(4);
    DECLARE @sFactura VARCHAR(30);
    DECLARE @sRecibe_RFC VARCHAR(30);
    DECLARE @sFacturaPagada VARCHAR(30);
    DECLARE @sRFC VARCHAR(30);
    DECLARE @sAccnt_ID VARCHAR(40);
    DECLARE @sAddenda VARCHAR(2);
    DECLARE @nLineas INT;                   -- NUMBER(06)
    DECLARE @sData VARCHAR(MAX);            -- CLOB
    DECLARE @sCFDIREL VARCHAR(MAX);         -- CLOB
    DECLARE @nAmtImporte DECIMAL(22,3);
    DECLARE @nAmtValor_Subt_16 DECIMAL(22,3);
    DECLARE @nAmtValor_Subt_00 DECIMAL(22,3);
    DECLARE @nAmtValor_IVA_16 DECIMAL(22,3);
    DECLARE @nAmtValor_IEPS DECIMAL(22,3);
    DECLARE @nPagoFactor DECIMAL(18,6);     
    DECLARE @nPagoValor_Subt_16 DECIMAL(24,6);
    DECLARE @nPagoValor_Subt_00 DECIMAL(24,6);
    DECLARE @nPagoValor_IVA_16 DECIMAL(24,6);
    DECLARE @nPagoValor_IEPS DECIMAL(24,6);
    DECLARE @nPagoValor_IVA_Calc DECIMAL(24,6);
    DECLARE @nAcumValor_Subt_16 DECIMAL(24,6);
    DECLARE @nAcumValor_Subt_00 DECIMAL(24,6);
    DECLARE @nAcumValor_IVA_16 DECIMAL(24,6);
    DECLARE @nAcumValor_IVA_164D DECIMAL(24,6);
    DECLARE @nAcumValor_IEPS DECIMAL(24,6);
    DECLARE @nAcumImp_Abonado DECIMAL(24,6);   
    DECLARE @dtFecha_Asignacion DATETIME;
    DECLARE @nAcumImp_Calculado DECIMAL(24,6); 
    DECLARE @nIVA_Calculado DECIMAL(24,6);
    DECLARE @nDec_Calculo INT;              -- NUMBER(3)
    DECLARE @nDec_Layout INT;               -- NUMBER(3)   

    -- Variables cursores
    DECLARE @Doc_Folio_ID VARCHAR(MAX), @Doc_Ctro VARCHAR(MAX), @Doc_tagCPAGOS VARCHAR(MAX), @Doc_VersionCFDI VARCHAR(MAX),
            @Doc_Serie VARCHAR(MAX), @Doc_Folio VARCHAR(MAX), @Doc_Fecha_Comprobante VARCHAR(MAX), @Doc_Regimen_Fiscal VARCHAR(MAX),
            @Doc_UsoCFDI_Payment VARCHAR(MAX), @Doc_Emisor_RFC VARCHAR(MAX), @Doc_Emisor_Nombre VARCHAR(MAX), @Doc_Emisor_Calle VARCHAR(MAX),
            @Doc_Emisor_NoExterior VARCHAR(MAX), @Doc_Emisor_NoInterior VARCHAR(MAX), @Doc_Emisor_Colonia VARCHAR(MAX), @Doc_Emisor_Localidad VARCHAR(MAX),
            @Doc_Emisor_Referencia VARCHAR(MAX), @Doc_Emisor_Municipio VARCHAR(MAX), @Doc_Emisor_Estado VARCHAR(MAX), @Doc_Emisor_Pais VARCHAR(MAX),
            @Doc_Emisor_CodigoPostal VARCHAR(MAX), @Doc_Emisor_Expedicion VARCHAR(MAX), @Doc_Emisor_LugarExpide VARCHAR(MAX), @Doc_Recibe_RFC VARCHAR(MAX),
            @Doc_Recibe_Nombre VARCHAR(MAX), @Doc_Recibe_Calle VARCHAR(MAX), @Doc_Recibe_NoExterior VARCHAR(MAX), @Doc_Recibe_NoInterior VARCHAR(MAX),
            @Doc_Recibe_Colonia VARCHAR(MAX), @Doc_Recibe_Localidad VARCHAR(MAX), @Doc_Recibe_Referencia VARCHAR(MAX), @Doc_Recibe_Municipio VARCHAR(MAX),
            @Doc_Recibe_Estado VARCHAR(MAX), @Doc_Recibe_Pais VARCHAR(MAX), @Doc_Recibe_codigoPostal VARCHAR(MAX), @Doc_Recibe_PaisReside VARCHAR(MAX),
            @Doc_Recibe_RegTributa VARCHAR(MAX), @Doc_Remite_Calle VARCHAR(MAX), @Doc_Remite_Colonia VARCHAR(MAX), @Doc_Remite_Municipio VARCHAR(MAX),
            @Doc_Remite_Estado VARCHAR(MAX), @Doc_Remite_Pais VARCHAR(MAX), @Doc_Remite_codigoPostal VARCHAR(MAX), @Doc_pedidoV3 VARCHAR(MAX),
            @Doc_sucursalNombre VARCHAR(MAX), @Doc_pedidoSAP VARCHAR(MAX), @Doc_facturaSAP VARCHAR(MAX), @Doc_Tipo_Documento VARCHAR(MAX),
            @Doc_CentroExpedicion VARCHAR(MAX), @Doc_Recibe_Cliente VARCHAR(MAX), @Doc_Remite_Cliente VARCHAR(MAX), @Doc_eMail VARCHAR(MAX),
            @Doc_tagCPAGO VARCHAR(MAX), @Doc_Numero_Pago VARCHAR(MAX), @Doc_Fecha_Pago VARCHAR(MAX), @Doc_Fecha_Asignacion DATETIME,
            @Doc_Forma_Pago VARCHAR(MAX), @Doc_Moneda_Pago VARCHAR(MAX), @Doc_Tipo_Cambio_Pago VARCHAR(MAX), @Doc_Importe_Pago VARCHAR(MAX),
            @Doc_Numero_Cheque VARCHAR(MAX), @Doc_Origen_Banco VARCHAR(MAX), @Doc_Banco_Extranjero VARCHAR(MAX), @Doc_Origen_Num_Cuenta VARCHAR(MAX),
            @Doc_Destino_RFC_Banco VARCHAR(MAX), @Doc_Destino_Num_Cuenta VARCHAR(MAX), @Doc_Tipo_Cadena_Pago VARCHAR(MAX), @Doc_Certificado_Pago VARCHAR(MAX),
            @Doc_Cad_Original_Pago VARCHAR(MAX), @Doc_Sello_Digital_Pago VARCHAR(MAX);
    DECLARE @Det_tagCPAGODR VARCHAR(MAX), @Det_ID_Documento VARCHAR(MAX), @Det_Factura VARCHAR(MAX), @Det_Serie_Venta VARCHAR(MAX),
            @Det_Folio_Venta VARCHAR(MAX), @Det_DocumentoSD VARCHAR(MAX), @Det_metodo_Pago VARCHAR(MAX), @Det_moneda_Pago VARCHAR(MAX),
            @Det_Parcialidad VARCHAR(MAX), @Det_Saldo_Anterior VARCHAR(MAX), @Det_Importe_Abonado VARCHAR(MAX), @Det_Saldo_Final VARCHAR(MAX);
    DECLARE @Env_Folio_Fiscal VARCHAR(MAX), @Env_Fecha_factura DATETIME;
    DECLARE @Imp_Valor_Subt_16 DECIMAL(24,6), @Imp_Valor_Subt_00 DECIMAL(24,6), @Imp_Valor_IVA_16 DECIMAL(24,6), @Imp_Valor_IEPS DECIMAL(24,6);

    DECLARE ScrDatos CURSOR LOCAL FORWARD_ONLY STATIC FOR
       SELECT
             LTRIM(RTRIM(CAST(CFD.Folio_ID AS VARCHAR)))                       AS Folio_ID            ,
             CFD.Ctro                                                          AS Ctro                ,
             'CPAGOS'                                                          AS tagCPAGOS           ,
             '2.0'                                                             AS VersionCFDI         ,
             'CPC'                                                             AS Serie               ,
             CAST(CFD.Folio_ID AS VARCHAR)                                     AS Folio               ,
             FORMAT( GETDATE(), 'ddMMyyyyHHmmss' )                             AS Fecha_Comprobante   ,
             EAI_Owner.getConv( 'CFG Settings', 'Regimen Fiscal' )             AS Regimen_Fiscal      ,
             EAI_Owner.getConv( 'CFG Settings', 'UsoCFDI_Payment' )            AS UsoCFDI_Payment     ,
             [T3].[FN_TRIM_CFDI]( Soc.RFC              )                       AS Emisor_RFC          ,
             [T3].[FN_TRIM_CFDI]( Soc.Razon_Social_HH  )                       AS Emisor_Nombre       ,
             [T3].[FN_TRIM_CFDI]( Soc.Calle            )                       AS Emisor_Calle        ,
             [T3].[FN_TRIM_CFDI]( Soc.Numero_Ext       )                       AS Emisor_NoExterior   ,
             [T3].[FN_TRIM_CFDI]( Soc.Numero_Int       )                       AS Emisor_NoInterior   ,
             [T3].[FN_TRIM_CFDI]( Soc.Colonia          )                       AS Emisor_Colonia      ,
             [T3].[FN_TRIM_CFDI]( Soc.Localidad        )                       AS Emisor_Localidad    ,
             ''                                                                AS Emisor_Referencia   ,
             [T3].[FN_TRIM_CFDI]( Soc.Municipio        )                       AS Emisor_Municipio    ,
             [T3].[FN_TRIM_CFDI]( EAI_Owner.getConv( 'CFDI Estado', Soc.Estado ) ) AS Emisor_Estado   ,
             [T3].[FN_TRIM_CFDI]( Soc.Pais             )                       AS Emisor_Pais         ,
             [T3].[FN_TRIM_CFDI]( Soc.Codigo_Postal    )                       AS Emisor_CodigoPostal ,
             '64000'                                                           AS Emisor_Expedicion   ,
             'Monterrey, N.L.'                                                 AS Emisor_LugarExpide  ,
             [T3].[FN_TRIM_CFDI]( Cte_Tax_Exempt_Num   )                       AS Recibe_RFC          ,
             [T3].[FN_TRIM_CFDI]( Cte_Name             )                       AS Recibe_Nombre       ,
             [T3].[FN_TRIM_CFDI]( Bill_Addr            )                       AS Recibe_Calle        ,
             ''                                                                AS Recibe_NoExterior   ,
             ''                                                                AS Recibe_NoInterior   ,
             [T3].[FN_TRIM_CFDI]( Bill_Addr_Line_2     )                       AS Recibe_Colonia      ,
             ''                                                                AS Recibe_Localidad    ,
             ''                                                                AS Recibe_Referencia   ,
             [T3].[FN_TRIM_CFDI]( Bill_City            )                       AS Recibe_Municipio    ,
             [T3].[FN_TRIM_CFDI]( EAI_Owner.getConv( 'CFDI Estado', Bill_State ) ) AS Recibe_Estado   ,
             [T3].[FN_TRIM_CFDI]( Bill_Country         )                       AS Recibe_Pais         ,
             [T3].[FN_TRIM_CFDI]( RIGHT('00000' + ISNULL( Bill_ZipCode, '99999' ), 5) ) AS Recibe_codigoPostal ,
             ''                                                                AS Recibe_PaisReside   ,
             ''                                                                AS Recibe_RegTributa   ,
             [T3].[FN_TRIM_CFDI]( Bill_Addr            )                       AS Remite_Calle        ,
             [T3].[FN_TRIM_CFDI]( Bill_Addr_Line_2     )                       AS Remite_Colonia      ,
             [T3].[FN_TRIM_CFDI]( Bill_City            )                       AS Remite_Municipio    ,
             [T3].[FN_TRIM_CFDI]( EAI_Owner.getConv( 'CFDI Estado', Bill_State ) ) AS Remite_Estado   ,
             [T3].[FN_TRIM_CFDI]( Bill_Country         )                       AS Remite_Pais         ,
             [T3].[FN_TRIM_CFDI]( RIGHT('00000' + ISNULL( Bill_ZipCode, '99999' ), 5) ) AS Remite_codigoPostal ,
             ''                                                                AS pedidoV3            ,
             ''                                                                AS sucursalNombre      ,
             CFD.Referencia                                                    AS pedidoSAP           ,
             ''                                                                AS facturaSAP          ,
             'PAGO'                                                            AS Tipo_Documento      ,
             CFD.Ctro                                                          AS CentroExpedicion    ,
             Cte_Ou_Num                                                        AS Recibe_Cliente      ,
             Cte_Ou_Num                                                        AS Remite_Cliente      ,
             ''                                                                AS eMail               ,
             'CPAGO'                                                           AS tagCPAGO            ,
             CAST(CFD.Numero_Pago AS VARCHAR)                                  AS Numero_Pago         ,
             FORMAT( CFD.Fecha_Asignacion, 'ddMMyyyyHHmmss' )                  AS Fecha_Pago          ,
             CFD.Fecha_Asignacion                                              AS Fecha_Asignacion    ,
             CFD.Via_Pago                                                      AS Forma_Pago          ,
             'MXN'                                                             AS Moneda_Pago         ,
             ''                                                                AS Tipo_Cambio_Pago    ,
             LTRIM(RTRIM(CAST(CAST(ISNULL( CFD.Importe, 0 ) AS DECIMAL(12,2)) AS VARCHAR))) AS Importe_Pago,
             ''                                                                AS Numero_Cheque       ,
             ''                                                                AS Origen_Banco        ,
             ''                                                                AS Banco_Extranjero    ,
             ''                                                                AS Origen_Num_Cuenta   ,
             CFD.Receptor_Banco                                                AS Destino_RFC_Banco   ,
             CFD.Receptor_Cuenta                                               AS Destino_Num_Cuenta  ,
             ''                                                                AS Tipo_Cadena_Pago    ,
             ''                                                                AS Certificado_Pago    ,
             ''                                                                AS Cad_Original_Pago   ,
             ''                                                                AS Sello_Digital_Pago
       FROM
             (
               SELECT Agr.Via_Pago, Agr.RFC,
                      Agr.Banco_Nombre, Agr.Banco_Num_Cuenta, Agr.Importe, Agr.Cantidad_Pagos, Agr.Accnt_ID,
                      Agr.Agrupacion                                                     AS Asignacion_ID   ,
                      Agr.Agrupacion                                                     AS Folio_ID        ,
                      Agr.Fecha_Pago                                                     AS Fecha_Asignacion,
                      Agr.Documento_Compensacion                                         AS Referencia      ,
                      'MXAB'                                                             AS Ctro            ,
                      'MX10'                                                             AS Sociedad        ,
                      1                                                                  AS Numero_Pago     ,
                      ''                                                                 AS Numero_Cheque   ,
                      EAI_Owner.getConv( 'CFG Settings', 'MX10 Banco Def - Central'  )   AS Receptor_Banco  ,
                      EAI_Owner.getConv( 'CFG Settings', 'MX10 Cuenta Def - Central'  )  AS Receptor_Cuenta
                 FROM T3.CFDI_Agrupacion_MX10 Agr
                 WHERE Agr.Agrupacion = @pFactura
             )                     CFD ,
             (
               SELECT
                      'IC-LA-MX06'          AS Cte_Ou_Num        ,
                      Soc.RFC               AS Cte_Tax_Exempt_Num,
                      Soc.Razon_Social_HH   AS Cte_Name          ,
                      Soc.Calle + ' ' + Soc.Numero_Ext AS Bill_Addr          ,
                      Soc.Colonia           AS Bill_Addr_Line_2  ,
                      Soc.Localidad         AS Cte_Localidad     ,
                      Soc.Municipio         AS Bill_City         ,
                      Soc.Estado            AS Bill_State        ,
                      Soc.Pais              AS Bill_Country      ,
                      Soc.Codigo_Postal     AS Bill_ZipCode
                 FROM EAI.ZSDFE_Soc Soc
                 WHERE Soc.BUKRS = 'MX16'
                   AND Soc.BUKRS = ISNULL( Soc.KUNNR, 'NULL' )
             )                     Cte ,
             EAI.ZSDFE_Soc           Soc
       WHERE CFD.Sociedad          = Soc.BUKRS
         AND CFD.Sociedad          = ISNULL( Soc.KUNNR, 'NULL' );

    DECLARE ScrDetallePagos CURSOR LOCAL FORWARD_ONLY STATIC FOR
       SELECT
             'CPAGODIR'                                                          AS tagCPAGODR          ,
             Env.Folio_Fiscal                                                    AS ID_Documento        ,
             PG.Factura                                                          AS Factura             ,
             SUBSTRING( PG.Factura, 1, CHARINDEX('-', PG.Factura) - 1 )          AS Serie_Venta         ,
             LTRIM(RTRIM(SUBSTRING( PG.Factura, CHARINDEX('-', PG.Factura) + 1, 8 ))) AS Folio_Venta    ,   
             PG.Entrega                                                          AS DocumentoSD         ,  
             EAI_Owner.getConv( 'CFG Settings', 'Metodo Pago' )                  AS metodo_Pago         ,                      
             'MXN'                                                               AS moneda_Pago         ,
             LTRIM(RTRIM(CAST(CFD.Numero_Pago AS VARCHAR)))                      AS Parcialidad         ,
             LTRIM(RTRIM(CAST(CAST(ISNULL( CFD.Saldo_Anterior, 0 ) AS DECIMAL(15,2)) AS VARCHAR))) AS Saldo_Anterior,                              
             LTRIM(RTRIM(CAST(CAST(ISNULL( CFD.Monto_Aplicar, 0 ) AS DECIMAL(15,2)) AS VARCHAR)))  AS Importe_Abonado ,
             LTRIM(RTRIM(CAST(CAST(ISNULL( CFD.Saldo_Anterior, 0 ) - ISNULL( CFD.Monto_Aplicar, 0 ) AS DECIMAL(15,2)) AS VARCHAR))) AS Saldo_Final                
       FROM T3.CFDI_AGRUPACION_PAGO_MX10    Agr,
            T3.MX10_APLICACION_COBZA        CFD,
            T3.Preventa_General             PG ,
            T3.CFDI_Documentos              Env
       WHERE Agr.Agrupacion        = @pFactura
         AND Agr.Factura           = CFD.Factura
         AND Agr.Documento_Interno = CFD.Documento_Interno
         AND CFD.Fecha_Documento   = @dtFecha_Asignacion
         AND Agr.Factura           = PG.Entrega
         AND PG.Factura            = Env.Nota_Venta
       ORDER BY Agr.Factura ;                    

    DECLARE ScrReenvio CURSOR LOCAL FORWARD_ONLY STATIC FOR
       SELECT Folio_Fiscal, Fecha_factura
         FROM T3.CFDI_Reproceso 
         WHERE Nota_Venta = @sFactura
         ORDER BY Fecha DESC ;    

    DECLARE ScrImpuestos CURSOR LOCAL FORWARD_ONLY STATIC FOR
       SELECT 
             SUM( CASE WHEN Tasa = 16 THEN Valor_Subt - Desglose_IEPS ELSE 0 END ) AS Valor_Subt_16,
             SUM( CASE WHEN Tasa = 0  THEN Valor_Subt                 ELSE 0 END ) AS Valor_Subt_00,
             SUM( CASE WHEN Tasa = 16 THEN Valor_IVA                  ELSE 0 END ) AS Valor_IVA_16 ,
             SUM( Desglose_IEPS )                                                  AS Valor_IEPS
       FROM (        
              SELECT 
                      RFD.Material, RFD.Cantidad_Vta,
                      ISNULL( RFD.Valor_Subt  , 0 ) + ISNULL( RFD.Envio_Subt  , 0 ) + ISNULL( RFD.Credito_Subt, 0 )    AS Valor_Subt   ,
                      ISNULL( RFD.Valor_IVA   , 0 ) + ISNULL( RFD.Envio_IVA   , 0 ) + ISNULL( RFD.Credito_IVA , 0 )    AS Valor_IVA    ,
                      CASE WHEN ISNULL( RFD.Valor_IVA, 0 ) = 0 THEN 0 ELSE 16 END                                      AS Tasa         ,
                      ISNULL( RFD.Bonif_Subt  , 0 )                                                                    AS Bonif_Subt   ,
                      ISNULL( RFD.Valor_IEPS  , 0 )                                                                    AS Valor_IEPS   ,
                      ISNULL( Uso.Desglose_IEPS, 0 ) * ISNULL( RFD.Valor_IEPS  , 0 )                                   AS Desglose_IEPS
                 FROM T3.Registro_Fiscal          RF
                 INNER JOIN T3.Registro_Fiscal_Detalle  RFD ON RF.Factura      = RFD.Factura
                 LEFT OUTER JOIN T3.CFDI_USOCFDI_CLIENTE Uso ON RF.Cliente_SAP = Uso.Cliente_SAP
                 WHERE RF.Factura      = @sFacturaPagada
             ) TBL_INTERNA ;            

    BEGIN TRY 
       SET @strID      = CAST(@pFactura AS VARCHAR(30)) ;
       SET @sReturn    = '' ; 
       SET @uLINPAGOS  = '' ;
       SET @uCABCLIE   = '' ;
       SET @sSepLinea  = CHAR(13) + CHAR(10) ;
       SET @sSepCampo  = '|'  ;
       SET @sAddenda   = 'NO' ;  
       SET @sLeyMenor  = 'Le recordamos que las leyes prohíben y sancionan la venta de cigarros a menores de 18 años de edad '  +
                         'y en unidades sueltas. En caso de duda solicite identificación oficial. Ayúdenos a que los menores '  +
                         'de edad no tengan acceso a los cigarros.' ;
      /* SET @sLeyPriv   = 'British American Tobacco México S.A. de C.V. y subsidiarias protegen los datos personales de sus clientes ' +
                         'que son tratados por nuestra empresa. Para mayor información consultar el aviso de privacidad en www.batmexico.com.mx' ;
       SET @sLeyPriv   = 'British American Tobacco México, S.A. de C.V. y empresas relacionadas, con domicilio indicado arriba, utilizará los datos personales ' +
                         'que usted entregue voluntariamente en este documento para cumplir con las políticas, procedimientos y requisitos legales aplicables, ' +
                         'para llevar un registro adecuado de los proveedores y clientes, y para coordinar los servicios prestados por y para el Grupo. '        +
                         'Para mayor información respecto al tratamiento de sus datos personales o al ejercicio de sus derechos ARCO consulte nuestro aviso '    +
                         'de privacidad en www.batmexico.com.mx.' ;                 */
       SET @sLeyPriv   = 'British American Tobacco México, S.A. de C.V. y sus empresas relacionadas (el "Grupo"), con domicilio en Avenida Francisco I. Madero, ' +
                         '2750 Pte., Centro de la Ciudad, Monterrey, N.L. C.P. 64000, utilizarán los datos personales que usted entregue voluntariamente mediante '    +
                         'este documento para cumplir con las políticas, procedimientos operativos y requisitos legales aplicables y llevar un registro adecuado' + 
                         ' de los proveedores y clientes del Grupo. Para mayor información respecto al tratamiento de sus datos personales o al ejercicio de sus' + 
                         ' derechos ARCO consulte nuestro aviso de privacidad integral en www.batmexico.com.mx' ;

       SET @nAcumValor_Subt_16  = 0 ;
       SET @nAcumValor_Subt_00  = 0 ;
       SET @nAcumValor_IVA_16   = 0 ;
       SET @nAcumValor_IVA_164D = 0 ;
       SET @nAcumValor_IEPS     = 0 ;
       SET @nAcumImp_Abonado    = 0 ;
       SET @nIVA_Calculado      = 0 ;
       SET @nAcumImp_Calculado  = 0 ;
       SET @nDec_Calculo        = 2 ;
       SET @nDec_Layout         = 2 ;   
       SET @strStage = 'ScrDatos' ;

       OPEN ScrDatos;
       FETCH NEXT FROM ScrDatos INTO @Doc_Folio_ID, @Doc_Ctro, @Doc_tagCPAGOS, @Doc_VersionCFDI, @Doc_Serie, @Doc_Folio, @Doc_Fecha_Comprobante, @Doc_Regimen_Fiscal, @Doc_UsoCFDI_Payment, @Doc_Emisor_RFC, @Doc_Emisor_Nombre, @Doc_Emisor_Calle, @Doc_Emisor_NoExterior, @Doc_Emisor_NoInterior, @Doc_Emisor_Colonia, @Doc_Emisor_Localidad, @Doc_Emisor_Referencia, @Doc_Emisor_Municipio, @Doc_Emisor_Estado, @Doc_Emisor_Pais, @Doc_Emisor_CodigoPostal, @Doc_Emisor_Expedicion, @Doc_Emisor_LugarExpide, @Doc_Recibe_RFC, @Doc_Recibe_Nombre, @Doc_Recibe_Calle, @Doc_Recibe_NoExterior, @Doc_Recibe_NoInterior, @Doc_Recibe_Colonia, @Doc_Recibe_Localidad, @Doc_Recibe_Referencia, @Doc_Recibe_Municipio, @Doc_Recibe_Estado, @Doc_Recibe_Pais, @Doc_Recibe_codigoPostal, @Doc_Recibe_PaisReside, @Doc_Recibe_RegTributa, @Doc_Remite_Calle, @Doc_Remite_Colonia, @Doc_Remite_Municipio, @Doc_Remite_Estado, @Doc_Remite_Pais, @Doc_Remite_codigoPostal, @Doc_pedidoV3, @Doc_sucursalNombre, @Doc_pedidoSAP, @Doc_facturaSAP, @Doc_Tipo_Documento, @Doc_CentroExpedicion, @Doc_Recibe_Cliente, @Doc_Remite_Cliente, @Doc_eMail, @Doc_tagCPAGO, @Doc_Numero_Pago, @Doc_Fecha_Pago, @Doc_Fecha_Asignacion, @Doc_Forma_Pago, @Doc_Moneda_Pago, @Doc_Tipo_Cambio_Pago, @Doc_Importe_Pago, @Doc_Numero_Cheque, @Doc_Origen_Banco, @Doc_Banco_Extranjero, @Doc_Origen_Num_Cuenta, @Doc_Destino_RFC_Banco, @Doc_Destino_Num_Cuenta, @Doc_Tipo_Cadena_Pago, @Doc_Certificado_Pago, @Doc_Cad_Original_Pago, @Doc_Sello_Digital_Pago;

       WHILE @@FETCH_STATUS = 0
       BEGIN
          SET @sFactura           = @Doc_Folio_ID          ; 
          SET @sRFC               = @Doc_Recibe_RFC        ;
          SET @sRecibe_RFC        = @Doc_Recibe_RFC        ;       
          SET @sCtro              = @Doc_Ctro              ;
          SET @dtFecha_Asignacion = @Doc_Fecha_Asignacion  ;

          SET @strStage  = 'ScrDetallePagos' ;
          SET @nLineas   = 00 ;

          OPEN ScrDetallePagos;
          FETCH NEXT FROM ScrDetallePagos INTO @Det_tagCPAGODR, @Det_ID_Documento, @Det_Factura, @Det_Serie_Venta, @Det_Folio_Venta, @Det_DocumentoSD, @Det_metodo_Pago, @Det_moneda_Pago, @Det_Parcialidad, @Det_Saldo_Anterior, @Det_Importe_Abonado, @Det_Saldo_Final;

          WHILE @@FETCH_STATUS = 0
          BEGIN
             SET @nLineas = @nLineas + 1 ;
             SET @sFacturaPagada = @Det_Factura ;

             IF ( @nLineas > 1 ) 
             BEGIN
                SET @uLINPAGOS = @uLINPAGOS + @sSepLinea ;   
             END 

             SET @uLINPAGOS = @uLINPAGOS + 'CPAGODR'                                                               + @sSepCampo ;
             SET @uLINPAGOS = @uLINPAGOS + LTRIM(RTRIM(CAST(@nLineas AS VARCHAR)))                                 + @sSepCampo ;         -- 02 Numero Pago
             SET @uLINPAGOS = @uLINPAGOS + ISNULL(@Det_ID_Documento,'')                                            + @sSepCampo ;         -- 03 UUID Documento
             SET @uLINPAGOS = @uLINPAGOS + ISNULL(@Det_Serie_Venta,'')                                             + @sSepCampo ;         -- 04 Serie Documento
             SET @uLINPAGOS = @uLINPAGOS + ISNULL(@Det_Folio_Venta,'')                                             + @sSepCampo ;         -- 05 Folio Documento
             SET @uLINPAGOS = @uLINPAGOS + ISNULL(@Det_moneda_Pago,'')                                             + @sSepCampo ;         -- 06 Moneda
             SET @uLINPAGOS = @uLINPAGOS + '1'                                                                     + @sSepCampo ;         -- 07 Tipo de Cambio
             SET @uLINPAGOS = @uLINPAGOS + ISNULL(@Det_metodo_Pago,'')                                             + @sSepCampo ;         -- 08 Metodo de Pago
             SET @uLINPAGOS = @uLINPAGOS + ISNULL(@Det_Parcialidad,'')                                             + @sSepCampo ;         -- 09 Parcialidad
             SET @uLINPAGOS = @uLINPAGOS + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( CAST(@Det_Saldo_Anterior AS DECIMAL(24,6)) , 2 ),'')  + @sSepCampo ;         -- 10 Saldo Anterior
             SET @uLINPAGOS = @uLINPAGOS + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( CAST(@Det_Importe_Abonado AS DECIMAL(24,6)), 2 ),'')  + @sSepCampo ;         -- 11 Importe
             SET @uLINPAGOS = @uLINPAGOS + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( CAST(@Det_Saldo_Final AS DECIMAL(24,6))    , 2 ),'')  + @sSepCampo ;         -- 12 Saldo Nuevo
             SET @uLINPAGOS = @uLINPAGOS + ''                                                                      + @sSepCampo ;         -- 13 Objeto Impuesto

             SET @nAmtImporte = CAST(@Det_Importe_Abonado AS DECIMAL(22,3)) ;

             OPEN ScrImpuestos;
             FETCH NEXT FROM ScrImpuestos INTO @Imp_Valor_Subt_16, @Imp_Valor_Subt_00, @Imp_Valor_IVA_16, @Imp_Valor_IEPS;

             WHILE @@FETCH_STATUS = 0
             BEGIN
                SET @nAmtValor_Subt_16  = ISNULL(@Imp_Valor_Subt_16, 0) ;
                SET @nAmtValor_Subt_00  = ISNULL(@Imp_Valor_Subt_00, 0) ;
                SET @nAmtValor_IVA_16   = ISNULL(@Imp_Valor_IVA_16, 0)  ;
                SET @nAmtValor_IEPS     = ISNULL(@Imp_Valor_IEPS, 0)    ;

				-- se pone para evitar error de división
                IF (@nAmtValor_Subt_16 + @nAmtValor_Subt_00 + @nAmtValor_IVA_16 + @nAmtValor_IEPS) <> 0
                    SET @nPagoFactor = @nAmtImporte / ( @nAmtValor_Subt_16 + @nAmtValor_Subt_00 + @nAmtValor_IVA_16 + @nAmtValor_IEPS ) ;
                ELSE
                    SET @nPagoFactor = 0;

                SET @nPagoValor_IEPS    = ROUND( @nAmtValor_IEPS    * @nPagoFactor, 2 ) ;
                SET @nPagoValor_IVA_16  = ROUND( @nAmtValor_IVA_16  * @nPagoFactor, 2 ) ;
                SET @nPagoValor_Subt_00 = ROUND( @nAmtValor_Subt_00 * @nPagoFactor, 2 ) ;
            
                SET @nPagoValor_IEPS    = 0 ;
                SET @nPagoValor_Subt_00 = 0 ;
                SET @nPagoValor_IVA_16  = ROUND( @nAmtImporte / 1.16, 2 ) * 0.16 ;            
            
                SET @nPagoValor_Subt_16  = @nAmtImporte - @nPagoValor_IEPS - @nPagoValor_IVA_16 - @nPagoValor_Subt_00 ;
                SET @nPagoValor_IVA_Calc = ROUND( @nPagoValor_Subt_16 * 0.16, 2 ) ;
                SET @nPagoValor_Subt_16  = @nPagoValor_Subt_16 + ( @nPagoValor_IVA_16 - @nPagoValor_IVA_Calc ) ;

                IF ( ISNULL( @pOutput, 0 ) > 10 ) 
                BEGIN
                   PRINT 'AmtValor_Subt_16   : ' + CAST(@nAmtValor_Subt_16 AS VARCHAR) ;
                   PRINT 'AmtValor_Subt_00   : ' + CAST(@nAmtValor_Subt_00 AS VARCHAR) ;
                   PRINT 'AmtValor_IVA_16    : ' + CAST(@nAmtValor_IVA_16 AS VARCHAR) ;
                   PRINT 'AmtValor_IEPS      : ' + CAST(@nAmtValor_IEPS AS VARCHAR) ;
                   PRINT 'AmtImporte         : ' + CAST(@nAmtImporte AS VARCHAR) ;
                   PRINT 'PagoFactor         : ' + CAST(@nPagoFactor AS VARCHAR) ;
                   PRINT 'PagoValor_IEPS     : ' + CAST(@nPagoValor_IEPS AS VARCHAR) ;
                   PRINT 'PagoValor_IVA_16   : ' + CAST(@nPagoValor_IVA_16 AS VARCHAR) ;
                   PRINT 'PagoValor_Subt_00  : ' + CAST(@nPagoValor_Subt_00 AS VARCHAR) ;
                   PRINT 'PagoValor_Subt_16  : ' + CAST(@nPagoValor_Subt_16 AS VARCHAR) ;
                END 

                IF ( @nPagoValor_IVA_16 != @nPagoValor_IVA_Calc ) 
                BEGIN
                   SET @nPagoValor_IVA_16 = @nPagoValor_IVA_Calc ;
                   IF ( ISNULL( @pOutput, 0 ) > 0 ) 
                   BEGIN
                      PRINT 'IVA Ajustado' ;
                   END 
                END    

                FETCH NEXT FROM ScrImpuestos INTO @Imp_Valor_Subt_16, @Imp_Valor_Subt_00, @Imp_Valor_IVA_16, @Imp_Valor_IEPS;
             END
             CLOSE ScrImpuestos;

             IF ( @nPagoValor_Subt_16 > 0 ) 
             BEGIN
                SET @uLINPAGOS = @uLINPAGOS + @sSepLinea ;
                SET @uLINPAGOS = @uLINPAGOS + 'IMPUESTOSDR'                                                              + @sSepCampo ;
                SET @uLINPAGOS = @uLINPAGOS + 'T'                                                                        + @sSepCampo ;         -- 02 Calificador de Impuesto
                SET @uLINPAGOS = @uLINPAGOS + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( @nPagoValor_Subt_16, 6 ),'')            + @sSepCampo ;         -- 03 Base Imponible
                SET @uLINPAGOS = @uLINPAGOS + '002'                                                                      + @sSepCampo ;         -- 04 Tipo de Impuesto
                SET @uLINPAGOS = @uLINPAGOS + 'Tasa'                                                                     + @sSepCampo ;         -- 05 Tasa o Cuota
                SET @uLINPAGOS = @uLINPAGOS + '0.160000'                                                                 + @sSepCampo ;         -- 06 Tipo Factor de Impuesto
                SET @nIVA_Calculado = ROUND( @nPagoValor_Subt_16 * 0.16, @nDec_Calculo ) ;
                SET @uLINPAGOS = @uLINPAGOS + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( @nIVA_Calculado, @nDec_Layout ),'')     + @sSepCampo ;         -- 07 Importe del Impuesto
                SET @nAcumValor_IVA_164D = @nAcumValor_IVA_164D + ROUND( @nPagoValor_Subt_16 * 0.16, @nDec_Layout ) ;     
                SET @nAcumImp_Calculado  = @nAcumImp_Calculado  + @nIVA_Calculado ;            
             END 

             SET @nAcumValor_Subt_16  = @nAcumValor_Subt_16 + @nPagoValor_Subt_16 ;
             SET @nAcumValor_Subt_00  = @nAcumValor_Subt_00 + @nPagoValor_Subt_00 ;
             SET @nAcumValor_IVA_16   = @nAcumValor_IVA_16  + @nPagoValor_IVA_16  ;
             SET @nAcumValor_IEPS     = @nAcumValor_IEPS    + @nPagoValor_IEPS    ;
             SET @nAcumImp_Abonado    = @nAcumImp_Abonado   + @nAmtImporte        ;

             FETCH NEXT FROM ScrDetallePagos INTO @Det_tagCPAGODR, @Det_ID_Documento, @Det_Factura, @Det_Serie_Venta, @Det_Folio_Venta, @Det_DocumentoSD, @Det_metodo_Pago, @Det_moneda_Pago, @Det_Parcialidad, @Det_Saldo_Anterior, @Det_Importe_Abonado, @Det_Saldo_Final;
          END 
          CLOSE ScrDetallePagos;

          SET @uCABCLIE = ISNULL(@uCABCLIE,'') + 'CABPAGOS'                                                  + @sSepCampo ;
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_VersionCFDI,'')                                            + @sSepCampo ;   -- 02 Version
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Serie,'')                                                  + @sSepCampo ;   -- 03 Serie
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Folio,'')                                                  + @sSepCampo ;   -- 04 Folio
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Fecha_Comprobante,'')                                      + @sSepCampo ;   -- 05 Fecha Comprobante
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Regimen_Fiscal,'')                                         + @sSepCampo ;   -- 06 Emisor Regimen Fiscal
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Emisor_RFC,'')                                             + @sSepCampo ;   -- 07 Emisor RFC
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Emisor_Nombre,'')                                          + @sSepCampo ;   -- 08 Emisor Nombre
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Emisor_Calle,'')                                           + @sSepCampo ;   -- 09 Emisor Calle
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Emisor_NoExterior,'')                                      + @sSepCampo ;   -- 10 Emisor Num Exterior
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Emisor_NoInterior,'')                                      + @sSepCampo ;   -- 11 Emisor Num Interior
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Emisor_Colonia,'')                                         + @sSepCampo ;   -- 12 Emisor Colonia
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Emisor_Localidad,'')                                       + @sSepCampo ;   -- 13 Emisor Localidad
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Emisor_Referencia,'')                                      + @sSepCampo ;   -- 14 Emisor Refeencia
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Emisor_Municipio,'')                                       + @sSepCampo ;   -- 15 Emisor Ciudad
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Emisor_Estado,'')                                          + @sSepCampo ;   -- 16 Emisor Estado
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Emisor_Pais,'')                                            + @sSepCampo ;   -- 17 Emisor Pais
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Emisor_CodigoPostal,'')                                    + @sSepCampo ;   -- 18 Emisor Codigo Postal
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Emisor_Expedicion,'')                                      + @sSepCampo ;   -- 19 Expedicion Codigo Postal
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Recibe_RFC,'')                                             + @sSepCampo ;   -- 20 Receptor RFC
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Recibe_Nombre,'')                                          + @sSepCampo ;   -- 21 Receptor Nombre
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Recibe_Calle,'')                                           + @sSepCampo ;   -- 22 Receptor Calle
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Recibe_NoExterior,'')                                      + @sSepCampo ;   -- 23 Receptor Num Exterior
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Recibe_NoInterior,'')                                      + @sSepCampo ;   -- 24 Receptor Num Interior
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Recibe_Colonia,'')                                         + @sSepCampo ;   -- 25 Receptor Colonia
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Recibe_Localidad,'')                                       + @sSepCampo ;   -- 26 Receptor Localidad
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Recibe_Referencia,'')                                      + @sSepCampo ;   -- 27 Receptor Referencia
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Recibe_Municipio,'')                                       + @sSepCampo ;   -- 28 Receptor Ciudad
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Recibe_Estado,'')                                          + @sSepCampo ;   -- 29 Receptor Estado
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Recibe_Pais,'')                                            + @sSepCampo ;   -- 30 Receptor Pais
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Recibe_codigoPostal,'')                                    + @sSepCampo ;   -- 31 Receptor Codigo Postal
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Recibe_PaisReside,'')                                      + @sSepCampo ;   -- 32 Receptor Pais Residencia 
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Recibe_RegTributa,'')                                      + @sSepCampo ;   -- 33 Receptor ID Tributario
          SET @uCABCLIE = @uCABCLIE + ''                                                                     + @sSepCampo ;   -- 34 Confirmacion PAC
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_eMail,'')                                                  + @sSepCampo ;   -- 35 Destino BM
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Regimen_Fiscal,'')                                         + @sSepCampo ;   -- 36 Receptr Regimen Fiscal
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_UsoCFDI_Payment,'')                                        + @sSepCampo ;   -- 37 Uso de CFDI
          SET @uCABCLIE = @uCABCLIE + ''                                                                     + @sSepCampo ;   -- 38 Total Impuestos Retenidos de IVA
          SET @uCABCLIE = @uCABCLIE + ''                                                                     + @sSepCampo ;   -- 39 Total Impuestos Retenidos de ISR
          SET @uCABCLIE = @uCABCLIE + ''                                                                     + @sSepCampo ;   -- 40 Total Impuestos Retenidos de IEPS
          SET @uCABCLIE = @uCABCLIE + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( @nAcumValor_Subt_16 , 2 ),'')       + @sSepCampo ;   -- 41 Total Base de IVA Trasladado de Tasa 16%
          SET @uCABCLIE = @uCABCLIE + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( @nAcumImp_Calculado , 2 ),'')       + @sSepCampo ;   -- 42 Total Impuestos de IVA Trasladado de Tasa 16%
          SET @uCABCLIE = @uCABCLIE + ''                                                                     + @sSepCampo ;   -- 43 Total Base de IVA Trasladado de Tasa 8%
          SET @uCABCLIE = @uCABCLIE + ''                                                                     + @sSepCampo ;   -- 44 Total Impuestos de IVA Trasladado de Tasa 8%
          SET @uCABCLIE = @uCABCLIE + ''                                                                     + @sSepCampo ;   -- 45 Total Base de IVA Trasladado de Tasa 0%
          SET @uCABCLIE = @uCABCLIE + ''                                                                     + @sSepCampo ;   -- 46 Total Impuestos de IVA Trasladado de Tasa 0%
          SET @uCABCLIE = @uCABCLIE + ''                                                                     + @sSepCampo ;   -- 47 Total Base de IVA Exento
          SET @uCABCLIE = @uCABCLIE + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( @nAcumImp_Abonado, 2 ),'')          + @sSepCampo ;   -- 48 Total de Pagos
          SET @uCABCLIE = @uCABCLIE + @sSepLinea ;

          IF ( ISNULL( @pOutput, 0 ) > 0 ) 
          BEGIN
             PRINT 'nAcumImp_Abonado     : ' + CAST(@nAcumImp_Abonado AS VARCHAR) ;
             PRINT 'nAcumValor_Subt_16   : ' + CAST(@nAcumValor_Subt_16 AS VARCHAR) ;
             PRINT 'nAcumValor_IVA_164D  : ' + CAST(@nAcumValor_IVA_164D AS VARCHAR) ;
             PRINT 'Doc.Importe_Pago     : ' + ISNULL(@Doc_Importe_Pago,'') ;
             PRINT 'Acum_Subt + Acum_IVA : ' + CAST(ROUND( @nAcumValor_Subt_16 + @nAcumValor_IVA_164D, 2 ) AS VARCHAR) ;
          END          

          SET @uCABCLIE = @uCABCLIE + 'CABCLIE'                                              + @sSepCampo ;
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Recibe_Nombre,'')                          + @sSepCampo ;
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Remite_Calle,'')                           + @sSepCampo ;
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Remite_Colonia,'')                         + @sSepCampo ;
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Remite_Municipio,'')                       + @sSepCampo ;
          SET @uCABCLIE = @uCABCLIE + ''                                                     + @sSepCampo ;
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Remite_Estado,'')                          + @sSepCampo ;
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Remite_Pais,'')                            + @sSepCampo ;
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Remite_codigoPostal,'')                    + @sSepCampo ;
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_pedidoV3,'')                               + @sSepCampo ;
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_sucursalNombre,'')                         + @sSepCampo ;
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_pedidoSAP,'')                              + @sSepCampo ;
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_facturaSAP,'')                             + @sSepCampo ;
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Tipo_Documento,'')                         + @sSepCampo ;
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_CentroExpedicion,'')                       + @sSepCampo ;
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Recibe_Cliente,'')                         + @sSepCampo ;
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Remite_Cliente,'')                         + @sSepCampo ;
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Emisor_LugarExpide,'')                     + @sSepCampo ;
          SET @uCABCLIE = @uCABCLIE + ''                                                     + @sSepCampo ;
          SET @uCABCLIE = @uCABCLIE + ISNULL(@sLeyMenor,'')                                  + @sSepCampo ;
          SET @uCABCLIE = @uCABCLIE + ISNULL(@sLeyPriv,'')                                   + @sSepCampo ;
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_eMail,'')                                  + @sSepCampo ;
          SET @uCABCLIE = @uCABCLIE + @sSepLinea                                                          ;

          SET @uCABCLIE = @uCABCLIE + 'CPAGO'                                                + @sSepCampo ;
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Numero_Pago,'')                            + @sSepCampo ;         -- 02 Numero Pago
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Fecha_Pago,'')                             + @sSepCampo ;         -- 03 Fecha Pago
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Forma_Pago,'')                             + @sSepCampo ;         -- 04 Forma Pago
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Moneda_Pago,'')                            + @sSepCampo ;         -- 05 Moneda
          SET @uCABCLIE = @uCABCLIE + '1'                                                    + @sSepCampo ;         -- 06 Tipo de Cambio
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Importe_Pago,'')                           + @sSepCampo ;         -- 07 Importe Pago
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Numero_Cheque,'')                          + @sSepCampo ;         -- 08 Numero Cheque
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Origen_Banco,'')                           + @sSepCampo ;         -- 09 Origen Banco
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Banco_Extranjero,'')                       + @sSepCampo ;         -- 10 Banco Extranjero
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Origen_Num_Cuenta,'')                      + @sSepCampo ;         -- 11 Origen Cuenta
          SET @uCABCLIE = @uCABCLIE + ''                                                     + @sSepCampo ;         -- 12 Destino RFC Banco
          SET @uCABCLIE = @uCABCLIE + ''                                                     + @sSepCampo ;         -- 13 Destino Num Cuente
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Tipo_Cadena_Pago,'')                       + @sSepCampo ;         -- 14 Tipo Cadena Pago
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Certificado_Pago,'')                       + @sSepCampo ;         -- 15 Certificado Pago
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Cad_Original_Pago,'')                      + @sSepCampo ;         -- 16 Cadena Original
          SET @uCABCLIE = @uCABCLIE + ISNULL(@Doc_Sello_Digital_Pago,'')                     + @sSepCampo ;         -- 17 Sello Digital

          IF ( @nAcumValor_Subt_16 > 0 ) 
          BEGIN
             SET @uLINPAGOS = @uLINPAGOS + @sSepLinea ;
             SET @uLINPAGOS = @uLINPAGOS + 'IMPUESTOSP'                                                              + @sSepCampo ;
             SET @uLINPAGOS = @uLINPAGOS + 'T'                                                                       + @sSepCampo ;         -- 02 Calificador de Impuesto
             SET @uLINPAGOS = @uLINPAGOS + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( @nAcumValor_Subt_16, 6 ),'')           + @sSepCampo ;         -- 03 Base Imponible
             SET @uLINPAGOS = @uLINPAGOS + '002'                                                                     + @sSepCampo ;         -- 04 Tipo de Impuesto
             SET @uLINPAGOS = @uLINPAGOS + 'Tasa'                                                                    + @sSepCampo ;         -- 06 Tasa o Cuota
             SET @uLINPAGOS = @uLINPAGOS + '0.160000'                                                                + @sSepCampo ;         -- 05 Tipo Factor de Impuesto
             SET @uLINPAGOS = @uLINPAGOS + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( @nAcumImp_Calculado, 2 ),'')           + @sSepCampo ;         -- 07 Importe del Impuesto
          END 

          FETCH NEXT FROM ScrDatos INTO @Doc_Folio_ID, @Doc_Ctro, @Doc_tagCPAGOS, @Doc_VersionCFDI, @Doc_Serie, @Doc_Folio, @Doc_Fecha_Comprobante, @Doc_Regimen_Fiscal, @Doc_UsoCFDI_Payment, @Doc_Emisor_RFC, @Doc_Emisor_Nombre, @Doc_Emisor_Calle, @Doc_Emisor_NoExterior, @Doc_Emisor_NoInterior, @Doc_Emisor_Colonia, @Doc_Emisor_Localidad, @Doc_Emisor_Referencia, @Doc_Emisor_Municipio, @Doc_Emisor_Estado, @Doc_Emisor_Pais, @Doc_Emisor_CodigoPostal, @Doc_Emisor_Expedicion, @Doc_Emisor_LugarExpide, @Doc_Recibe_RFC, @Doc_Recibe_Nombre, @Doc_Recibe_Calle, @Doc_Recibe_NoExterior, @Doc_Recibe_NoInterior, @Doc_Recibe_Colonia, @Doc_Recibe_Localidad, @Doc_Recibe_Referencia, @Doc_Recibe_Municipio, @Doc_Recibe_Estado, @Doc_Recibe_Pais, @Doc_Recibe_codigoPostal, @Doc_Recibe_PaisReside, @Doc_Recibe_RegTributa, @Doc_Remite_Calle, @Doc_Remite_Colonia, @Doc_Remite_Municipio, @Doc_Remite_Estado, @Doc_Remite_Pais, @Doc_Remite_codigoPostal, @Doc_pedidoV3, @Doc_sucursalNombre, @Doc_pedidoSAP, @Doc_facturaSAP, @Doc_Tipo_Documento, @Doc_CentroExpedicion, @Doc_Recibe_Cliente, @Doc_Remite_Cliente, @Doc_eMail, @Doc_tagCPAGO, @Doc_Numero_Pago, @Doc_Fecha_Pago, @Doc_Fecha_Asignacion, @Doc_Forma_Pago, @Doc_Moneda_Pago, @Doc_Tipo_Cambio_Pago, @Doc_Importe_Pago, @Doc_Numero_Cheque, @Doc_Origen_Banco, @Doc_Banco_Extranjero, @Doc_Origen_Num_Cuenta, @Doc_Destino_RFC_Banco, @Doc_Destino_Num_Cuenta, @Doc_Tipo_Cadena_Pago, @Doc_Certificado_Pago, @Doc_Cad_Original_Pago, @Doc_Sello_Digital_Pago;
       END 
       CLOSE ScrDatos;

       SET @nLineas  = 00 ;
       SET @sCFDIREL = '' ;
       SET @strStage = 'CFDIREL' ;

       OPEN ScrReenvio;
       FETCH NEXT FROM ScrReenvio INTO @Env_Folio_Fiscal, @Env_Fecha_factura;

       WHILE @@FETCH_STATUS = 0
       BEGIN 
          SET @nLineas = @nLineas + 1 ;
          IF ( @nLineas = 1 ) 
          BEGIN
             SET @sCFDIREL = 'CFDIREL' + @sSepCampo + ISNULL(@Env_Folio_Fiscal,'') + @sSepCampo + @sSepLinea ;          
          END 
          FETCH NEXT FROM ScrReenvio INTO @Env_Folio_Fiscal, @Env_Fecha_factura;
       END 
       CLOSE ScrReenvio;

       IF ( LEN( ISNULL(@uCABCLIE,'') ) > 10 ) 
       BEGIN
          SET @strStage = 'Final' ;
          SET @sReturn  = ISNULL(@sReturn,'') + @uCABCLIE + @sSepLinea + ISNULL(@sCFDIREL,'')  ;
          SET @sData    = @sReturn ;
          SET @sData    = ISNULL(@sData,'') + ISNULL(@uLINPAGOS,'') ;

          INSERT INTO T3.CFDI_DOCUMENTOS_ENVIAR ( Nota_Venta, Informacion )
             VALUES ( 'CPC-' + CAST(@pFactura AS VARCHAR), @sData ) ;

          INSERT INTO T3.CFDI_Documentos ( Nota_Venta, Ctro, Fecha_Liberacion )
             VALUES ( 'CPC-' + CAST(@pFactura AS VARCHAR), @sCtro, GETDATE() ) ;

          UPDATE T3.CFDI_Agrupacion_MX10 SET Fecha_Envio = GETDATE()
             WHERE Agrupacion = @pFactura ;
       END     
	   
	   DEALLOCATE ScrDatos;
       DEALLOCATE ScrDetallePagos;
       DEALLOCATE ScrReenvio;
       DEALLOCATE ScrImpuestos;
    END TRY
    BEGIN CATCH
		IF CURSOR_STATUS('local', 'ScrDatos') >= 0 BEGIN CLOSE ScrDatos; DEALLOCATE ScrDatos; END;
       ELSE IF CURSOR_STATUS('local', 'ScrDatos') = -1 BEGIN DEALLOCATE ScrDatos; END;

       IF CURSOR_STATUS('local', 'ScrDetallePagos') >= 0 BEGIN CLOSE ScrDetallePagos; DEALLOCATE ScrDetallePagos; END;
       ELSE IF CURSOR_STATUS('local', 'ScrDetallePagos') = -1 BEGIN DEALLOCATE ScrDetallePagos; END;

       IF CURSOR_STATUS('local', 'ScrReenvio') >= 0 BEGIN CLOSE ScrReenvio; DEALLOCATE ScrReenvio; END;
       ELSE IF CURSOR_STATUS('local', 'ScrReenvio') = -1 BEGIN DEALLOCATE ScrReenvio; END;

       IF CURSOR_STATUS('local', 'ScrImpuestos') >= 0 BEGIN CLOSE ScrImpuestos; DEALLOCATE ScrImpuestos; END;
       ELSE IF CURSOR_STATUS('local', 'ScrImpuestos') = -1 BEGIN DEALLOCATE ScrImpuestos; END;

       SET @sMsg = SUBSTRING( CAST(ERROR_NUMBER() AS VARCHAR) + '-' + ERROR_MESSAGE(), 1, 250 ) ;
       SET @sMsg = SUBSTRING( ERROR_MESSAGE(), 1, 250 ) ;

       PRINT '--------------------------------------------------------------------------------' ;
       PRINT 'Problemas en la ejecucion del Procedimiento' ;
       PRINT 'FAVOR DE ESCALAR LOS SIGUIENTES DATOS :' ;
       PRINT 'Procedimiento : PROC_V20_GENERAR_PAGO_MX10' ;
       PRINT 'Fecha         : ' + FORMAT( GETDATE(), 'yyyyMMdd HH:mm:ss' ) ;
       PRINT 'Referencia    : ' + ISNULL(@strID,'') + '-' + ISNULL(@strStage,'') ;
       PRINT 'Error         : ' + ISNULL(@sMsg,'') ;
       PRINT '--------------------------------------------------------------------------------' ;

       INSERT INTO T3.RF_ERROR_LOG 
          ( FECHA, RUTINA, REFERENCIA, ERROR_DESC )
       VALUES
          ( GETDATE(), 'PROC_V20_GENERAR_PAGO_MX10', @strID, @sMsg ) ;

    END CATCH

END;
GO
