USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_CFDI_OTROS_PAGO]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[PROC_CFDI_OTROS_PAGO] 
    @pFactura        VARCHAR(50),
    @oMetodoDePago   VARCHAR(100) OUTPUT,
    @oNumCtaPago     VARCHAR(100) OUTPUT
AS
BEGIN

    DECLARE @strID             VARCHAR(30);
    DECLARE @sMsg              VARCHAR(500); 
    DECLARE @sMetodoDePago     VARCHAR(100);
    DECLARE @sNumCtaPago       VARCHAR(100);
    DECLARE @defMetodoDePago   VARCHAR(100);
    DECLARE @defNumCtaPago     VARCHAR(100);

    -- Variables cursor
    DECLARE @Doc_Tipo_Docto     VARCHAR(100);
    DECLARE @Doc_Factura        VARCHAR(50);
    DECLARE @Doc_Emisor_RFC     VARCHAR(50);
    DECLARE @Doc_metodoDePago   VARCHAR(100);
    DECLARE @Doc_NumCtaPago     VARCHAR(100);
    DECLARE @Doc_Tipo_Documento VARCHAR(50);
    DECLARE @Doc_Cliente_SAP    VARCHAR(50);

    DECLARE ScrDatos CURSOR FOR 
        SELECT 
               Doc.Clase_Factura                                 AS Tipo_Docto,
               Doc.Factura                                       AS Factura,
               T3.FN_TRIM_CFDI( Soc.RFC )                        AS Emisor_RFC,
               Doc.MetodoPago                                    AS metodoDePago,
               Doc.ReferenciaBancaria                            AS NumCtaPago,                                                
--
               CASE Doc.Clase_Factura 
                   WHEN 'ingreso' THEN 'FACTURA'
                   WHEN 'VF'   THEN 'FACTURA'
                   WHEN 'TC'   THEN 'FACTURA'
                   WHEN 'YC'   THEN 'FACTURA'
                   WHEN 'ZF2'  THEN 'FACTURA'
                   WHEN 'IV'   THEN 'FACTURA'
                   WHEN 'ZI01' THEN 'FACTURA'   -- TaO                     
                   WHEN 'ZI03' THEN 'FACTURA'   -- TaO
                   WHEN 'ZL'   THEN 'FACTURA'   -- TaO                     
                   ELSE 'NOTA DE CREDITO'
               END                                               AS Tipo_Documento,
               Doc.CLIENTE_SAP                                   AS Cliente_SAP                
          FROM T3.Otros_General Doc,
               EAI.ZSDFE_Soc    Soc 
         WHERE Doc.Factura   = @pFactura
           AND Doc.Sociedad  = Soc.BUKRS
           AND Doc.Sociedad  = ISNULL( Soc.KUNNR, 'NULL' ) ;                           -- CFDI

    BEGIN TRY
        SET @strID = @pFactura;
        
        SET @defMetodoDePago = EAI_Owner.getConv( 'TMD_PAC Payment Method', 'Others Intercompany' );
        SET @defNumCtaPago   = EAI_Owner.getConv( 'TMD_PAC Payment Method', 'Others Intercompany Ref Banco' );
        
        SET @sMetodoDePago = NULL;   
        SET @sNumCtaPago   = NULL;

        OPEN ScrDatos;
        FETCH NEXT FROM ScrDatos INTO @Doc_Tipo_Docto, @Doc_Factura, @Doc_Emisor_RFC, @Doc_metodoDePago, @Doc_NumCtaPago, @Doc_Tipo_Documento, @Doc_Cliente_SAP;

        WHILE @@FETCH_STATUS = 0
        BEGIN
           SET @strID = @Doc_Factura;
           
           IF ( RIGHT(REPLICATE('0', 10) + ISNULL(@Doc_Cliente_SAP, ''), 10) IN ( '0050597711', '0051735403' ) ) 
           BEGIN
              SET @sMetodoDePago = 'NA' ;
              SET @sNumCtaPago   = 'No identificado' ;
           END 
           ELSE IF ( @Doc_metodoDePago = 'No identificado' ) 
           BEGIN
              SET @sMetodoDePago = NULL ;   
              SET @sNumCtaPago   = NULL ;         
           END 
           ELSE    
           BEGIN
              SET @sMetodoDePago = @Doc_metodoDePago ;   
              SET @sNumCtaPago   = @Doc_NumCtaPago   ; 
           END;

           FETCH NEXT FROM ScrDatos INTO @Doc_Tipo_Docto, @Doc_Factura, @Doc_Emisor_RFC, @Doc_metodoDePago, @Doc_NumCtaPago, @Doc_Tipo_Documento, @Doc_Cliente_SAP;
        END;

        CLOSE ScrDatos;
        DEALLOCATE ScrDatos;

        IF ( @sMetodoDePago IS NULL ) 
        BEGIN
            SET @oMetodoDePago = @defMetodoDePago ;
            SET @oNumCtaPago   = @defNumCtaPago   ;
        END
        ELSE
        BEGIN
            SET @oMetodoDePago = @sMetodoDePago ;
            SET @oNumCtaPago   = @sNumCtaPago   ;
        END;   

    END TRY
    BEGIN CATCH
        
        SET @sMsg = SUBSTRING(CAST(ERROR_NUMBER() AS VARCHAR) + '-' + ERROR_MESSAGE(), 1, 250);
        SET @sMsg = SUBSTRING(ERROR_MESSAGE(), 1, 250);
        
        PRINT REPLICATE('-', 80);
        PRINT 'Problemas en la ejecucion del Procedimiento';
        PRINT 'FAVOR DE ESCALAR LOS SIGUIENTES DATOS :';
        PRINT 'Procedimiento : PROC_CFDI_OTROS_PAGO';
        PRINT 'Fecha         : ' + CONVERT(VARCHAR, GETDATE(), 112) + ' ' + CONVERT(VARCHAR, GETDATE(), 108);
        PRINT 'Referencia    : ' + ISNULL(@strID, '');
        PRINT 'Error         : ' + ISNULL(@sMsg, '');
        PRINT REPLICATE('-', 80);
        
        INSERT INTO T3.RF_ERROR_LOG 
           ( FECHA, RUTINA, REFERENCIA, ERROR_DESC )
        VALUES
           ( GETDATE(), 'PROC_CFDI_OTROS_PAGO', @strID, @sMsg );
           
        SET @oMetodoDePago = @defMetodoDePago;
        SET @oNumCtaPago   = @defNumCtaPago;
     
    END CATCH
END;
GO
