USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_T3_SF_MOV_CLIENTE]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[PROC_T3_SF_MOV_CLIENTE]  
( 
    @nDays INT = 7 
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sFACTURA      VARCHAR(12) ;  
    DECLARE @sPROCESAR     VARCHAR(12) ;  
--
    DECLARE @v_ID          VARCHAR(50) ;
    DECLARE @sErrorCode    VARCHAR(30) ;      
    DECLARE @sMsg          VARCHAR(300) ;
    DECLARE @nPID          INT ;
    DECLARE @nProceso      INT ;
    DECLARE @nProceso1     INT ;
    DECLARE @nProceso2     INT ;
    DECLARE @nProceso3     INT ;
    DECLARE @nProceso4     INT ;      

    -- Variables cursores
    DECLARE @N_Cliente_V3         VARCHAR(50),
            @N_Cte_Direccion      VARCHAR(4000),
            @N_Cte_Colonia        VARCHAR(100),
            @N_Cte_Ciudad         VARCHAR(100),
            @N_Cte_Estado         VARCHAR(100),
            @N_Cte_CodigoPostal   VARCHAR(20),
            @N_Cte_Pais           VARCHAR(50),
            @N_Tipo_Direccion_1   VARCHAR(20),
            @N_Tipo_Direccion_2   VARCHAR(20),
            @N_Tipo_Direccion_3   VARCHAR(20);
    DECLARE @C_Factura              VARCHAR(50),
            @C_Cliente_V3           VARCHAR(50),
            @C_Soldto_Nombre        VARCHAR(200),
            @C_Soldto_Alias         VARCHAR(100),
            @C_IFC_RFC              VARCHAR(20),
            @C_IFC_Direccion        VARCHAR(200),
            @C_IFC_Colonia          VARCHAR(100),
            @C_IFC_Ciudad           VARCHAR(100),
            @C_IFC_Estado           VARCHAR(100),
            @C_IFC_CodigoPostal     VARCHAR(20),
            @C_Billto_Nombre        VARCHAR(200),
            @C_Billto_Alias         VARCHAR(100),
            @C_Billto_RFC           VARCHAR(20),
            @C_Billto_Direccion     VARCHAR(200),
            @C_Billto_Colonia       VARCHAR(100),
            @C_Billto_Ciudad        VARCHAR(100),
            @C_Billto_Estado        VARCHAR(100),
            @C_Billto_CodigoPostal  VARCHAR(20);

    DECLARE ScrNuevos CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT MC.Cliente_V3        AS Cliente_V3      ,
               MC.Direccion_1       AS Cte_Direccion   ,
               MC.Colonia_1         AS Cte_Colonia     ,
               MC.Ciudad_1          AS Cte_Ciudad      ,
               MC.Estado_1          AS Cte_Estado      ,
               MC.Codigo_Postal_1   AS Cte_CodigoPostal,
               MC.Pais_1            AS Cte_Pais        ,
               'Primary'            AS Tipo_Direccion_1,
               'Ship To'            AS Tipo_Direccion_2,
               'Bill To'            AS Tipo_Direccion_3
           FROM T3.Mov_Cliente  MC
           WHERE MC.Fecha_Syncr       > CONVERT(DATETIME, CONVERT(DATE, GETDATE() - ISNULL(@nDays, 7)))
             AND MC.Fecha_Proc_BATMD IS NULL
             AND MC.Tipo_Direccion_3 IS NULL
             AND MC.Dist_Venta        = EAI_Owner.getConv( 'CFG Settings', 'T3Default DistVenta'   )
             AND MC.Area_Mgr          = EAI_Owner.getConv( 'CFG Settings', 'T3Default AreaManager' ) ;     

    DECLARE ScrClientes CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT Info.Factura          AS Factura            ,
               Cust.Cliente_V3       AS Cliente_V3         ,
               Cust.Nombre           AS Soldto_Nombre      ,
               Cust.Alias            AS Soldto_Alias       ,
               Cust.RFC              AS IFC_RFC            ,
               Cust.Direccion_3      AS IFC_Direccion      ,
               Cust.Colonia_3        AS IFC_Colonia        ,
               Cust.Ciudad_3         AS IFC_Ciudad         ,
               Cust.Estado_3         AS IFC_Estado         ,
               Cust.Codigo_Postal_3  AS IFC_CodigoPostal   ,     
--        
               Bill.Nombre           AS Billto_Nombre      ,
               Bill.Alias            AS Billto_Alias       ,
               Bill.RFC              AS Billto_RFC         ,
               Bill.Direccion_1      AS Billto_Direccion   ,
               Bill.Colonia_1        AS Billto_Colonia     ,
               Bill.Ciudad_1         AS Billto_Ciudad      ,
               Bill.Estado_1         AS Billto_Estado      ,
               Bill.Codigo_Postal_1  AS Billto_CodigoPostal       
           FROM (
                  SELECT FG.Factura, FG.Fecha_Trn, FG.Fecha_Factura, FG.Entrega,
                         Doc.Cust_to_SAP                    AS Cust_to_SAP,
                         Doc.Bill_to_SAP                    AS Bill_to_SAP
                     FROM T3.Factura_General             FG , 
                          EAI_Owner.tmp_Document_Header  Doc
                     WHERE FG.Fecha_Trn     > CONVERT(DATETIME, CONVERT(DATE, GETDATE() - ISNULL(@nDays, 7)))
                       AND FG.Entrega       = Doc.ReferenceID
                       AND Doc.Cust_to_SAP != ISNULL( Doc.Bill_to_SAP, Doc.Cust_to_SAP ) 
                  UNION ALL
                  SELECT FG.Factura, FG.Fecha_Trn, FG.Fecha_Factura, FG.Entrega,
                         Doc.Cust_to_SAP                    AS Cust_to_SAP,
                         Doc.Bill_to_SAP                    AS Bill_to_SAP
                      FROM T3.Preventa_General            FG , 
                           EAI_Owner.tmp_Document_Header  Doc
                     WHERE FG.Fecha_Trn     > CONVERT(DATETIME, CONVERT(DATE, GETDATE() - ISNULL(@nDays, 7)))
                       AND FG.Entrega       = Doc.ReferenceID
                       AND Doc.Cust_to_SAP != ISNULL( Doc.Bill_to_SAP, Doc.Cust_to_SAP )       
                 ) Info,
                 T3.Mov_Cliente    Cust,
                 T3.Mov_Cliente    Bill
           WHERE Info.Cust_to_SAP      = Cust.Cliente_SAP
             AND Info.Bill_to_SAP      = Bill.Cliente_SAP 
             AND (Cust.Codigo_Postal_3 != Bill.Codigo_Postal_1 OR Cust.Direccion_3 != Bill.Direccion_1 OR Cust.Nombre != Bill.Nombre) ;

    BEGIN TRY
        UPDATE T3.Mov_Cliente SET RFC = 'XAXX010101000'
        WHERE Fecha_Syncr > CONVERT(DATETIME, CONVERT(DATE, GETDATE() - ISNULL(@nDays, 7)))
          AND RFC IS NULL ;
		set @nDays=ISNULL(@nDays, 1)
        EXEC T3.PROC_T3_SF_MOV_CTE_UPD @nDays ;

        OPEN ScrNuevos;
        FETCH NEXT FROM ScrNuevos INTO 
            @N_Cliente_V3, @N_Cte_Direccion, @N_Cte_Colonia, @N_Cte_Ciudad, @N_Cte_Estado, 
            @N_Cte_CodigoPostal, @N_Cte_Pais, @N_Tipo_Direccion_1, @N_Tipo_Direccion_2, @N_Tipo_Direccion_3;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            UPDATE T3.Mov_Cliente 
            SET Tipo_Direccion_1 = 'Primary'           ,
                Tipo_Direccion_2 = 'Ship To'           ,
                Tipo_Direccion_3 = 'Bill To'           ,
                Direccion_2      = @N_Cte_Direccion   ,
                Colonia_2        = @N_Cte_Colonia     ,
                Ciudad_2         = @N_Cte_Ciudad      ,
                Estado_2         = @N_Cte_Estado      ,
                Codigo_Postal_2  = @N_Cte_CodigoPostal,
                Pais_2           = @N_Cte_Pais        ,
                Direccion_3      = @N_Cte_Direccion   ,
                Colonia_3        = @N_Cte_Colonia     ,
                Ciudad_3         = @N_Cte_Ciudad      ,
                Estado_3         = @N_Cte_Estado      ,
                Codigo_Postal_3  = @N_Cte_CodigoPostal,
                Pais_3           = @N_Cte_Pais        ,
                Lista_Precio     = '10'                ,
                Lista_IVA        = 'IMPUESTOS 16%'     ,
                Canal            = 'GR'                ,
                Fecha_Proc_BATMD = NULL                ,
                Fecha_Syncr      = GETDATE()                                
            WHERE Cliente_V3 = @N_Cliente_V3 ;

            FETCH NEXT FROM ScrNuevos INTO 
                @N_Cliente_V3, @N_Cte_Direccion, @N_Cte_Colonia, @N_Cte_Ciudad, @N_Cte_Estado, 
                @N_Cte_CodigoPostal, @N_Cte_Pais, @N_Tipo_Direccion_1, @N_Tipo_Direccion_2, @N_Tipo_Direccion_3;
        END;
        CLOSE ScrNuevos;
        DEALLOCATE ScrNuevos;

        OPEN ScrClientes;
        FETCH NEXT FROM ScrClientes INTO 
            @C_Factura, @C_Cliente_V3, @C_Soldto_Nombre, @C_Soldto_Alias, @C_IFC_RFC, @C_IFC_Direccion, 
            @C_IFC_Colonia, @C_IFC_Ciudad, @C_IFC_Estado, @C_IFC_CodigoPostal, @C_Billto_Nombre, 
            @C_Billto_Alias, @C_Billto_RFC, @C_Billto_Direccion, @C_Billto_Colonia, @C_Billto_Ciudad, 
            @C_Billto_Estado, @C_Billto_CodigoPostal;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            UPDATE T3.Mov_Cliente 
            SET Fecha_Proc_BATMD = NULL                   ,
                Fecha_Syncr      = GETDATE()                ,
                Nombre           = @C_Billto_Nombre      ,
                Alias            = @C_Billto_Alias       ,
                RFC              = @C_Billto_RFC         ,  
                Direccion_3      = @C_Billto_Direccion   ,
                Colonia_3        = @C_Billto_Colonia     ,
                Ciudad_3         = @C_Billto_Ciudad      ,
                Estado_3         = @C_Billto_Estado      ,
                Codigo_Postal_3  = @C_Billto_CodigoPostal                                                  
            WHERE Cliente_V3 = @C_Cliente_V3 ;

            FETCH NEXT FROM ScrClientes INTO 
                @C_Factura, @C_Cliente_V3, @C_Soldto_Nombre, @C_Soldto_Alias, @C_IFC_RFC, @C_IFC_Direccion, 
                @C_IFC_Colonia, @C_IFC_Ciudad, @C_IFC_Estado, @C_IFC_CodigoPostal, @C_Billto_Nombre, 
                @C_Billto_Alias, @C_Billto_RFC, @C_Billto_Direccion, @C_Billto_Colonia, @C_Billto_Ciudad, 
                @C_Billto_Estado, @C_Billto_CodigoPostal;
        END;
        CLOSE ScrClientes;
        DEALLOCATE ScrClientes;

    END TRY
    BEGIN CATCH
        IF CURSOR_STATUS('local', 'ScrNuevos') >= 0 BEGIN CLOSE ScrNuevos; DEALLOCATE ScrNuevos; END;
        IF CURSOR_STATUS('local', 'ScrClientes') >= 0 BEGIN CLOSE ScrClientes; DEALLOCATE ScrClientes; END;

        SET @sErrorCode = 'SQL-' + CAST(ERROR_NUMBER() AS VARCHAR(10)) ;
        SET @sMsg = SUBSTRING(CAST(ERROR_NUMBER() AS VARCHAR(10)) + '-' + ERROR_MESSAGE(), 1, 250) ;      
        
        INSERT INTO EAI_OWNER.MX_EAI_MESSAGE_LOG
            ( DIRECTION        , REFERENCE                , CREATED             , MESSAGE        , JOB_PID,
              STATUS           , QUEUE_NAME               , SIEBEL_ERROR_MESSAGE, SOURCE         , 
              SIEBEL_ERROR_CODE, RETRY_COUNT              , SEQUENCE            , PARENT_ROW_ID   )
        VALUES 
            ( 'Job Logging'    , @v_ID                    , GETDATE()            , NULL           , @nPID   ,
              'Error'          , 'PROC_T3_SF_MOV_CLIENTE' , @sMsg               , 'TSQL'        ,
              @sErrorCode      , NULL                     , NULL                , NULL            ) ;
              
    END CATCH
END;
GO
