USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_T3_DQC_BEFORE]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [T3].[PROC_T3_DQC_BEFORE]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sFACTURA           VARCHAR(30);
    DECLARE @sCONTINUA          VARCHAR(1);
    DECLARE @sMensajeError      VARCHAR(500);
    DECLARE @P_SALIDA           NUMERIC(38,4);
    DECLARE @nTotal_Detalle     NUMERIC(38,4);
    DECLARE @nValor_Subt        NUMERIC(38,4);
    DECLARE @nValor_IVA         NUMERIC(38,4);
    DECLARE @nDISTRIBUIDOR      NUMERIC(38,4);
    DECLARE @sCtro              VARCHAR(4);
    DECLARE @dt_primer_dia      DATETIME;
    DECLARE @nCantidad          NUMERIC(38,4);
    DECLARE @nAgrupado          NUMERIC(38,4);
    DECLARE @nTasaIVA           NUMERIC(38,4);
    DECLARE @bBloqueoDist       BIT; 
    DECLARE @dt_siguiente_mes   DATETIME;
	-- TIPOS DE BLOQUEO
--   FACTURA CON ER
--   DIFERENCIAS ENTRE HEADER Y DETALLE ( SUMAS )                           31-DEC-2999
--   DOCUMENTOS CON FECHA DE MESES ANTERIORES                               30-DEC-2999
--   CLIENTE CON IVA DESGLOSADO Y FACTURA CON IVA INCLUIDO O VICEVERSA      29-DEC-2999
--   DOCUMENTO CON DISTRIBUIDOR DIFERENTE A EL MAESTRO DE CLIENTES          28-DEC-2999
--   ASIGNACIONES CON MONTO MAYOR A LA FACTURA                              27-DEC-2999
--   DOCUMENTOS CON CLIENTE CON DISTRIBUIDOR DIFERENTE VS V3                26-DEC-2999
--   CLIENTES QUE NO TIENEN UN CLIENTE AGRUPADO QUE LES CORRESPONDA         25-DEC-2999
--   DISTRIBUIDORA CON IVA DEL 10% Y NO TIENE CONFIGURACION                 23-DEC-2999
--   DOCUMENTOS CON FECHA DE MESES POSTERIORES                              22-DEC-2999
--   DOCUMENTOS CON DIFERENCIA EN PRECIO                                    21-DEC-2999
--   INCONSISTENCIA EN LP E IVA                                             20-DEC-2999
--   BLOQUEO PARA DOCUMENTOS CFDI                                           19-DEC-2999 
--   BLOQUEO DE PAGO SIN ASIGNACION                                         18-DEC-2999 
--   BLOQUEO POR VENTA DE REP                                               17-DEC-2999 
--	 ASIGNACIONES DE PAGO ASOCIADAS A UN FOLIO FISCAL DUPLICADO             15-DEC-2999 (RQL)
--	 ASIGNACIONES DE PAGO MAYOR A MONTO PAGO                                14-DEC-2999 
--   SKU NO EXISTE EN T3.MATERIAL                                           13-DEC-2999
--

    -- variables cursores
    DECLARE @cur_H_FACTURA        VARCHAR(30);
    DECLARE @cur_H_DISTRIBUIDOR   NUMERIC(38,4);
    DECLARE @cur_H_CTRO           VARCHAR(4);
    DECLARE @cur_H_FECHA_FACTURA  DATETIME;
    DECLARE @cur_H_REP_ID         VARCHAR(MAX);
    DECLARE @cur_H_CLIENTE_V3     VARCHAR(MAX);
    DECLARE @cur_H_TOTAL          NUMERIC(38,4);
    DECLARE @cur_H_VALOR_SUBT     NUMERIC(38,4);
    DECLARE @cur_H_VALOR_IVA      NUMERIC(38,4);

    DECLARE @cur_HP_FACTURA       VARCHAR(30);
    DECLARE @cur_HP_DISTRIBUIDOR  NUMERIC(38,4);
    DECLARE @cur_HP_CTRO          VARCHAR(4);
    DECLARE @cur_HP_FECHA_FACTURA DATETIME;
    DECLARE @cur_HP_CLIENTE_SAP   VARCHAR(MAX);
    DECLARE @cur_HP_TOTAL         NUMERIC(38,4);
    DECLARE @cur_HP_FECHA_CANCEL  DATETIME;

    DECLARE @cur_NC_DISTRIBUIDOR  NUMERIC(38,4);
    DECLARE @cur_NC_CTRO          VARCHAR(4);
    DECLARE @cur_NC_CLIENTE_V3    VARCHAR(MAX);

    DECLARE @cur_VP_PAGO_ID       VARCHAR(MAX);
    DECLARE @cur_VP_FECHA_TRN     DATETIME;
    DECLARE @cur_VP_DISTRIBUIDOR  NUMERIC(38,4);
    DECLARE @cur_VP_CTRO          VARCHAR(4);

    DECLARE @cur_AP_FACTURA       VARCHAR(30);
    DECLARE @cur_AP_VALOR_DESC    NUMERIC(38,4);
    DECLARE @cur_AP_DISTRIBUIDOR  NUMERIC(38,4);
    DECLARE @cur_AP_CTRO          VARCHAR(4);
    DECLARE @cur_AP_FACTURA_2     VARCHAR(30);
    DECLARE @cur_AP_VALOR_DESC_2  NUMERIC(38,4);

    DECLARE @cur_C_CLIENTE_V3     VARCHAR(MAX);

    DECLARE @cur_IVAD_CLIENTE_V3  VARCHAR(MAX);
    DECLARE @cur_IVAD_FACTURA     VARCHAR(30);
    DECLARE @cur_IVAD_VALOR_IVA   NUMERIC(38,4);
    DECLARE @cur_IVAD_LISTA_PREC  VARCHAR(MAX);

    DECLARE @cur_IVAN_FACTURA     VARCHAR(30);
    DECLARE @cur_IVAN_MATERIAL    VARCHAR(MAX);
    DECLARE @cur_IVAN_VALOR_SUBT  NUMERIC(38,4);
    DECLARE @cur_IVAN_VALOR_IVA   NUMERIC(38,4);
    DECLARE @cur_IVAN_PORC_IVA    NUMERIC(38,4);

    DECLARE @cur_IVAE_FACTURA     VARCHAR(30);

    DECLARE @cur_DT_CLIENTE       VARCHAR(MAX);
    DECLARE @cur_DT_DOC_ID        VARCHAR(MAX);
    DECLARE @cur_DT_DOC_TYPE      VARCHAR(MAX);

    DECLARE @cur_BIVA_TipoFactura VARCHAR(2);
    DECLARE @cur_BIVA_Factura     VARCHAR(30);

    DECLARE @cur_BP_DISTRIBUIDOR  NUMERIC(38,4);
    DECLARE @cur_BP_Factura       VARCHAR(30);
    DECLARE @cur_BP_Fecha_Factura DATETIME;
    DECLARE @cur_BP_Valor_Subt    NUMERIC(38,4);
    DECLARE @cur_BP_Valor_IVA     NUMERIC(38,4);
    DECLARE @cur_BP_Lista_Precio  VARCHAR(MAX);
    DECLARE @cur_BP_Invoice_Value NUMERIC(38,4);
    DECLARE @cur_BP_Sum_Subt      NUMERIC(38,4);
    DECLARE @cur_BP_Sum_IVA       NUMERIC(38,4);
    DECLARE @cur_BP_Sum_Tot       NUMERIC(38,4);
    DECLARE @cur_BP_Sum_Total     NUMERIC(38,4);
    DECLARE @cur_BP_Sum_PriceList NUMERIC(38,4);

    DECLARE @cur_PSA_Pago_ID      VARCHAR(MAX);

    DECLARE @cur_DR_Doc_Type      VARCHAR(10);
    DECLARE @cur_DR_Referencia    VARCHAR(MAX);

    DECLARE @cur_M_Tipo_Doc       VARCHAR(10);
    DECLARE @cur_M_Factura        VARCHAR(30);

    DECLARE HEADER CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT FACTURA, DISTRIBUIDOR, CTRO, FECHA_FACTURA, REP_ID, CLIENTE_V3, 
               VALOR_SUBT + VALOR_IVA + ENVIO_SUBT + ENVIO_IVA                 AS TOTAL     ,
               VALOR_SUBT + ENVIO_SUBT                                         AS VALOR_SUBT, 
               VALOR_IVA  + ENVIO_IVA                                          AS VALOR_IVA  
        FROM T3.FACTURA_GENERAL
        WHERE FECHA_PROC_BATMD IS NULL ;

    DECLARE HEADER_PREVENTA CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT FACTURA, T3.EAI.Conv_Plant_to_Dist( CENTRO ) AS DISTRIBUIDOR, CTRO, FECHA_FACTURA,
               CLIENTE_SAP, VALOR_SUBT + VALOR_IVA AS TOTAL, FECHA_CANCELACION
        FROM T3.PREVENTA_GENERAL
        WHERE FECHA_PROC_BATMD IS NULL ;

    DECLARE NO_EXISTE_CLIENTE CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT DISTRIBUIDOR, CTRO, CLIENTE_V3
        FROM T3.PAGO FG
        WHERE NOT EXISTS ( SELECT 1 FROM T3.CLIENTE     WHERE FG.CLIENTE_V3 = CLIENTE_V3 )
          AND NOT EXISTS ( SELECT 1 FROM T3.MOV_CLIENTE WHERE FG.CLIENTE_V3 = CLIENTE_V3 )
          AND FECHA_PROC_BATMD IS NULL
        UNION
        SELECT DISTRIBUIDOR, CTRO, CLIENTE_V3
        FROM T3.FACTURA_GENERAL FG
        WHERE NOT EXISTS ( SELECT 1 FROM T3.CLIENTE     WHERE FG.CLIENTE_V3 = CLIENTE_V3 )
          AND NOT EXISTS ( SELECT 1 FROM T3.MOV_CLIENTE WHERE FG.CLIENTE_V3 = CLIENTE_V3 )
          AND FECHA_PROC_BATMD IS NULL
        UNION
        SELECT DISTRIBUIDOR, CTRO, CLIENTE_V3
        FROM T3.ASIGNACION_PAGO FG
        WHERE NOT EXISTS ( SELECT 1 FROM T3.CLIENTE     WHERE FG.CLIENTE_V3 = CLIENTE_V3 )
          AND NOT EXISTS ( SELECT 1 FROM T3.MOV_CLIENTE WHERE FG.CLIENTE_V3 = CLIENTE_V3 )
          AND FECHA_PROC_BATMD IS NULL ;

    DECLARE VALOR_PAGO CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT PAGO_ID, FECHA_TRN, DISTRIBUIDOR, CTRO
        FROM T3.PAGO FG
        WHERE ISNULL( VALOR_PAGO, 0) = 0 AND FECHA_PROC_BATMD IS NULL ;

    DECLARE ASIGNACIONPAGO CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT A.FACTURA, A.VALOR_DESC, A.DISTRIBUIDOR, A.CTRO, B.FACTURA AS FACTURA_2, SUM(B.VALOR_PAGO) AS VALOR_DESC_2
        FROM T3.FACTURA_GENERAL A,
             T3.ASIGNACION_PAGO B
        WHERE A.FACTURA = B.FACTURA
          AND A.FECHA_PROC_BATMD IS NULL
          AND B.FECHA_PROC_BATMD IS NULL
        GROUP BY A.FACTURA, A.VALOR_DESC, A.DISTRIBUIDOR, A.CTRO, B.FACTURA
        HAVING ABS( A.VALOR_DESC - SUM( B.VALOR_PAGO ) ) > 0.01 ;

    DECLARE CLIENTE CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT CLIENTE_V3
        FROM T3.MOV_CLIENTE
        WHERE CLIENTE_SAP LIKE '0000000000%' ;

    DECLARE CLIENTE_DISTRIBUIDOR CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT DISTINCT CLIENTE, DOC_ID, DOC_TYPE
        FROM (
            SELECT C.CLIENTE_V3 AS CLIENTE, FACTURA AS DOC_ID, 'LA FACTURA'    AS DOC_TYPE
            FROM T3.FACTURA_GENERAL FG, T3.CLIENTE C
            WHERE FG.FECHA_FACTURA BETWEEN C.FECHA_INI_VIG AND C.FECHA_FIN_VIG
              AND FG.CLIENTE_V3    = C.CLIENTE_V3
              AND FG.FECHA_PROC_BATMD IS NULL
              AND FG.DISTRIBUIDOR != C.DIST_VENTA
            UNION ALL
            SELECT C.CLIENTE_V3 AS CLIENTE, PAGO_ID AS DOC_ID, 'LA ASIGNACION' AS DOC_TYPE
            FROM T3.ASIGNACION_PAGO   FG, T3.CLIENTE C
            WHERE FG.FECHA_ASIGNACION BETWEEN C.FECHA_INI_VIG AND C.FECHA_FIN_VIG
              AND FG.CLIENTE_V3 = C.CLIENTE_V3
              AND FG.FECHA_PROC_BATMD IS NULL
              AND FG.DISTRIBUIDOR != C.DIST_VENTA
            UNION ALL
            SELECT C.CLIENTE_V3 AS CLIENTE, PAGO_ID AS DOC_ID, 'EL PAGO' AS DOC_TYPE
            FROM T3.PAGO FG, T3.CLIENTE C
            WHERE FG.FECHA_PAGO BETWEEN C.FECHA_INI_VIG AND C.FECHA_FIN_VIG
              AND FG.CLIENTE_V3 = C.CLIENTE_V3
              AND FG.FECHA_PROC_BATMD IS NULL
              AND FG.DISTRIBUIDOR != C.DIST_VENTA
            UNION ALL
            SELECT C.CLIENTE_SAP AS CLIENTE, FACTURA AS DOC_ID, 'LA PREVENTA' AS DOC_TYPE
            FROM T3.PREVENTA_GENERAL FG, T3.CLIENTE C
            WHERE FG.FECHA_FACTURA BETWEEN C.FECHA_INI_VIG AND C.FECHA_FIN_VIG
              AND FG.CLIENTE_SAP = C.CLIENTE_SAP
              AND FG.FECHA_PROC_BATMD IS NULL
              AND FG.FECHA_CANCELACION IS NULL
              AND C.RFC != 'CCO8605231N4'
              AND T3.EAI.Conv_Plant_to_Dist( FG.CENTRO ) != C.DIST_VENTA
        ) A;

    DECLARE IVA_Des CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT DISTINCT A.CLIENTE_V3, A.FACTURA, A.VALOR_IVA, B.LISTA_PRECIO
        FROM T3.FACTURA_GENERAL A, T3.CLIENTE B
        WHERE A.CLIENTE_V3 = B.CLIENTE_V3
          AND A.FECHA_FACTURA BETWEEN B.FECHA_INI_VIG AND B.FECHA_FIN_VIG
          AND A.FECHA_PROC_BATMD IS NULL
          AND ( B.LISTA_PRECIO IN ( '14', '24', '19') AND VALOR_IVA != 0 ) 
          AND A.FACTURA NOT IN ( 'D1641-4','V1641-17');

    DECLARE IVA_INC CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT DISTINCT A.CLIENTE_V3, A.FACTURA, A.VALOR_IVA, B.LISTA_PRECIO
        FROM T3.FACTURA_GENERAL A, T3.CLIENTE B
        WHERE A.CLIENTE_V3 = B.CLIENTE_V3
          AND A.FECHA_FACTURA BETWEEN B.FECHA_INI_VIG AND B.FECHA_FIN_VIG
          AND A.FECHA_PROC_BATMD IS NULL
          AND ( B.LISTA_PRECIO NOT IN ( '14', '24', '19') AND VALOR_IVA = 0 AND VALOR_SUBT > 0.10 ) 
          AND A.FACTURA NOT IN ( 'D1641-4','V1641-17');

    DECLARE IVA_NOEXISTE CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT FG.FACTURA, FG.CLIENTE_V3, FG.CLIENTE_SAP, FG.FECHA_FACTURA, FG.VALOR_SUBT, FG.VALOR_IVA, C.LISTA_IVA
        FROM T3.FACTURA_GENERAL FG, T3.CLIENTE C
        WHERE FG.FECHA_PROC_BATMD IS NULL
          AND FG.CLIENTE_V3     = C.CLIENTE_V3
          AND FG.FECHA_FACTURA  BETWEEN C.FECHA_INI_VIG AND C.FECHA_FIN_VIG
          AND C.LISTA_IVA NOT IN ( SELECT LISTA_IVA FROM T3.CONV_IVA ) 
          AND FG.FACTURA NOT IN ( 'D1641-4','V1641-17');

    DECLARE IVA_NOVALIDO CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT INFO.FACTURA, INFO.MATERIAL,
               INFO.VALOR_SUBT, INFO.VALOR_IVA, INFO.PORC_IVA
        FROM (       
               SELECT FG.FACTURA, FG.CLIENTE_V3, FG.CLIENTE_SAP, FG.FECHA_FACTURA, 
                      FD.MATERIAL                                         AS MATERIAL  ,
                      FD.VALOR_SUBT                                       AS VALOR_SUBT, 
                      FD.VALOR_IVA                                        AS VALOR_IVA ,
                      CASE WHEN Tax.Fecha_Registro IS NULL THEN CONV.PORC_IVA ELSE 0 END AS PORC_IVA
               FROM T3.FACTURA_GENERAL           FG  , 
                    T3.CLIENTE                   C   , 
                    T3.CONV_LISTA_GRUPO_PRECIO   CONV, 
                    T3.FACTURA_DETALLE           FD  ,
                    T3.SKU_TASA_CERO             Tax
               WHERE FG.FECHA_TRN         > GETDATE() - 4
                 AND FG.FECHA_PROC_BATMD IS NULL
                 AND FG.CLIENTE_V3        = C.CLIENTE_V3
                 AND FG.FECHA_FACTURA    BETWEEN C.FECHA_INI_VIG AND C.FECHA_FIN_VIG
                 AND C.LISTA_PRECIO       = CONV.LISTA_PRECIO
                 AND FG.FACTURA           = FD.FACTURA 
                 AND FD.MATERIAL          = Tax.Material
                 AND FG.FACTURA           NOT LIKE 'DESCNA%' 
                 AND C.LISTA_PRECIO      != '25'
           ) INFO
        WHERE ABS( ISNULL( INFO.VALOR_IVA, 0 ) - ROUND( ISNULL( INFO.VALOR_SUBT, 0 ) * INFO.PORC_IVA / 100, 2 ) ) > 0.10 ;   

    DECLARE Dif_Terr CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT A.CLIENTE, A.DOC_ID, A.DOC_TYPE
        FROM
             ( SELECT FG.CLIENTE_V3 AS CLIENTE, FACTURA AS DOC_ID, 'LA FACTURA'    AS DOC_TYPE
               FROM T3.FACTURA_GENERAL FG
               WHERE FG.FECHA_PROC_BATMD IS NULL
               UNION ALL
               SELECT FG.CLIENTE_V3 AS CLIENTE, PAGO_ID AS DOC_ID, 'LA ASIGNACION' AS DOC_TYPE
               FROM T3.ASIGNACION_PAGO   FG
               WHERE FG.FECHA_PROC_BATMD IS NULL
               UNION ALL
               SELECT FG.CLIENTE_V3 AS CLIENTE, PAGO_ID AS DOC_ID, 'EL PAGO'       AS DOC_TYPE
               FROM T3.PAGO FG
               WHERE FG.FECHA_PROC_BATMD IS NULL ) A,
             ( SELECT A.Cliente_V3
               FROM T3.EAI.Cliente_Siebel A,
                    T3.MOV_CLIENTE     B
               WHERE A.Cliente_V3                           = B.Cliente_V3
                 AND SUBSTRING( A.Territorio_Delivery, 6, 4 ) != SUBSTRING( B.Territorio, 6, 4 ) ) B
        WHERE A.CLIENTE = B.CLIENTE_V3 ;

    DECLARE VALIDA_CLIENTES CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT DISTINCT DIST_VENTA, AREA_MGR, CANAL
        FROM T3.MOV_CLIENTE
        WHERE FECHA_PROC_BATMD IS NULL ;

-- Bloqueo de Facturas con problemas en configuracion de Tasa del IVA

    DECLARE ScrBloqueo_IVA CURSOR LOCAL DYNAMIC FOR
        SELECT TipoFactura, Factura
        FROM ( SELECT 'FG' AS TipoFactura,
                      FG.DISTRIBUIDOR, FG.CTRO, FG.Cliente_SAP, FG.Factura,
                      CASE MC.Lista_IVA WHEN 'IMPUESTOS 0% FRONT' THEN 11
                                        WHEN 'IMPUESTOS 0% NAC'   THEN 16
                                        WHEN 'IMPUESTOS 11%'      THEN 11
                                        WHEN 'IMPUESTOS 16%'      THEN 16
                                        WHEN 'IMPUESTOS 10%'      THEN 10
                                        WHEN 'IMPUESTOS 15%'      THEN 15 ELSE 0 END AS TasaIVA
                FROM T3.FACTURA_GENERAL FG, T3.CLIENTE MC
                WHERE FG.CTRO         = @sCtro
                  AND FG.Fecha_Proc_BATMD IS NULL
                  AND FG.Cliente_V3   = MC.Cliente_V3
                  AND FG.Fecha_Factura BETWEEN MC.Fecha_Ini_Vig AND MC.Fecha_Fin_Vig
               UNION
               SELECT 'PG' AS TipoFactura,
                      CAST(SUBSTRING(PG.Centro, 1, 3) AS NUMERIC) AS DISTRIBUIDOR, PG.Ctro, PG.Cliente_SAP, PG.Factura,
                      CASE MC.Lista_IVA WHEN 'IMPUESTOS 0% FRONT' THEN 11
                                        WHEN 'IMPUESTOS 0% NAC'   THEN 16
                                        WHEN 'IMPUESTOS 11%'      THEN 11
                                        WHEN 'IMPUESTOS 16%'      THEN 16
                                        WHEN 'IMPUESTOS 10%'      THEN 10
                                        WHEN 'IMPUESTOS 15%'      THEN 15 ELSE 0 END AS TasaIVA
                FROM T3.PREVENTA_GENERAL PG, T3.CLIENTE MC
                WHERE PG.Ctro               = @sCtro
                  AND PG.Fecha_Cancelacion IS NULL
                  AND PG.Fecha_Proc_BATMD  IS NULL
                  AND PG.Cliente_SAP = MC.Cliente_SAP
                  AND PG.Fecha_Factura BETWEEN MC.Fecha_Ini_Vig AND MC.Fecha_Fin_Vig ) Info
        WHERE ( TasaIVA = @nTasaIVA ) ;

-- Bloqueo de Facturas con problemas en Precios

    DECLARE ScrBloqueo_Precio CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT FG.DISTRIBUIDOR, FG.Factura, FG.Fecha_Factura,
               FG.Valor_Subt, FG.Valor_IVA,
               C.Lista_Precio,
               FG.Valor_Subt + FG.Valor_IVA         AS Invoice_Value,
               SUM( FD.Valor_Subt + FD.Bonif_Subt ) AS Sum_Subt     ,
               SUM( FD.Valor_IVA  )                 AS Sum_IVA      ,
               SUM( FD.Valor_Tot  )                 AS Sum_Tot      ,
               SUM( FD.Valor_Subt + FD.Valor_IVA )  AS Sum_Total    ,
               SUM( FD.Cantidad_Vta * PL.VALUE   )  AS Sum_PriceList
        FROM T3.FACTURA_GENERAL FG
        INNER JOIN T3.CLIENTE C ON FG.Cliente_V3 = C.Cliente_V3
        INNER JOIN T3.FACTURA_DETALLE FD ON FG.Factura = FD.Factura
        INNER JOIN T3.PRICELIST_DETALLE PL ON C.Lista_Precio = PL.PriceListID AND FD.MATERIAL = PL.Matnr
        WHERE FG.Fecha_Proc_BATMD IS NULL
          AND SUBSTRING( FG.Factura, 1, 6 ) != 'DESCNA'
          AND FG.Factura NOT IN ('VB0001-2535','VB0001-2541','VB0001-2542','VB0001-2544','VB0001-2542','VB0001-2543','VB0001-2540','VB0001-2534','VB0001-2539','VB0001-2537','VB0001-2538')
          AND FG.Fecha_Factura BETWEEN C.Fecha_Ini_Vig AND C.Fecha_Fin_Vig
          AND CONVERT(VARCHAR(8), FG.Fecha_Factura, 112) BETWEEN PL.Effective AND PL.Expiration
        GROUP BY FG.DISTRIBUIDOR, FG.Factura, FG.Fecha_Factura, FG.Valor_Subt, FG.Valor_IVA, C.Lista_Precio
        HAVING ABS( SUM( FD.Valor_Subt + FD.Bonif_Subt + ISNULL( FD.Envio_Subt, 0 ) ) - SUM( FD.Cantidad_Vta * ( PL.VALUE + ISNULL( PL.Costo_Envio, 0 ) ) ) ) > 1 
            OR ABS( SUM( ISNULL( FD.Envio_Subt, 0 ) ) - SUM( FD.Cantidad_Vta * ( ISNULL( PL.Costo_Envio, 0 ) ) ) ) > 0.05 ; 

    DECLARE ScrPago_sin_Asignacion CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT P.Pago_ID
        FROM T3.Pago             P 
        LEFT OUTER JOIN T3.Asignacion_Pago AP ON P.Pago_ID = AP.Pago_ID
        WHERE P.Fecha_Trn         > GETDATE() - 3
          AND P.Fecha_Proc_BATMD IS NULL
          AND AP.Asignacion_ID   IS NULL ;

    DECLARE ScrDoctosRep CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT 'Factura'          AS Doc_Type  ,
               FG.Factura         AS Referencia
        FROM T3.Factura_General FG
        WHERE FG.Fecha_Trn         > CONVERT(DATE, GETDATE() - 15)
          AND FG.Fecha_Proc_BATMD IS NULL
          AND FG.Cliente_SAP      LIKE '009%'
        UNION   
        SELECT 'Pago'              AS Doc_Type  ,
               P.Pago_ID          AS Referencia
        FROM T3.Pago P
        WHERE P.Fecha_Trn         > CONVERT(DATE, GETDATE() - 15)
          AND P.Fecha_Proc_BATMD IS NULL
          AND P.Cliente_SAP      LIKE '009%'   
        UNION   
        SELECT 'Asigna'            AS Doc_Type  ,
               A.Asignacion_ID    AS Referencia
        FROM T3.Asignacion_Pago A
        WHERE A.Fecha_Trn         > CONVERT(DATE, GETDATE() - 15)
          AND A.Fecha_Proc_BATMD IS NULL
          AND A.Cliente_SAP      LIKE '009%' ;

    DECLARE ScrMaterial CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT 'PREVENTA'  AS Tipo_Doc, FG.Factura 
        FROM T3.Factura_General FG
        INNER JOIN T3.Factura_Detalle FD ON FG.Factura = FD.Factura
        WHERE FG.Fecha_Trn > GETDATE() - 7
          AND FG.Fecha_Proc_BATMD IS NULL
          AND FD.Material NOT IN ( SELECT M.Material FROM T3.Material M WHERE M.Material = FD.Material )
        UNION ALL
        SELECT 'PREVENTA'  AS Tipo_Doc, FG.Factura
        FROM T3.Preventa_General FG
        INNER JOIN T3.Preventa_Detalle FD ON FG.Factura = FD.Factura
        WHERE FG.Fecha_Trn > GETDATE() - 7
          AND FG.Fecha_Proc_BATMD IS NULL
          AND FD.Material NOT IN ( SELECT M.Material FROM T3.Material M WHERE M.Material = FD.Material ) ;

    BEGIN TRY
        
        -- Ejecución de trazas de control e integraciones iniciales
        EXEC T3.EAI.Trace_Plsql 'DQC_Before', 'SF_MOV_CTE' ;
        EXEC T3.PROC_T3_SF_MOV_CLIENTE @Param1 = 1 ;

        DELETE FROM T3.Factura_General 
        WHERE Contact_Date > GETDATE() - 4 -- Mapeo de columna de auditoría Fecha_Trn
          AND ( ( Fecha_Proc_BATMD IS NULL ) OR ( Fecha_Proc_BATMD > CONVERT(DATETIME, '29991201', 112) ) )
          AND Cliente_SAP IN ( '0054229389', '0054229238', '0054229209' ) ;

        DELETE FROM T3.Preventa_General 
        WHERE Fecha_Trn > GETDATE() - 4
          AND ( ( Fecha_Proc_BATMD IS NULL ) OR ( Fecha_Proc_BATMD > CONVERT(DATETIME, '29991201', 112) ) )
          AND Cliente_SAP IN ( '0054229389', '0054229238', '0054229209' ) ;

        EXEC T3.PROC_T3_DQC_PAYMENT @Dias = 35, @Modo = 4 ;

        SET @P_SALIDA = 1 ;
        EXEC T3.EAI.Trace_Plsql 'DQC_Before', 'HEADER' ;

        OPEN HEADER;
        FETCH NEXT FROM HEADER INTO @cur_H_FACTURA, @cur_H_DISTRIBUIDOR, @cur_H_CTRO, @cur_H_FECHA_FACTURA, @cur_H_REP_ID, @cur_H_CLIENTE_V3, @cur_H_TOTAL, @cur_H_VALOR_SUBT, @cur_H_VALOR_IVA;
        
        WHILE @@FETCH_STATUS = 0
        BEGIN
           SET @sFACTURA      = @cur_H_FACTURA ;
           SET @nDISTRIBUIDOR = @cur_H_DISTRIBUIDOR ;
           SET @sCtro          = @cur_H_CTRO ;
           
           SELECT @nTotal_Detalle = SUM( VALOR_TOT + VALOR_ISSA + ISNULL( ENVIO_SUBT, 0 ) + ISNULL( ENVIO_IVA, 0 ) ), 
                  @nValor_Subt    = SUM( VALOR_SUBT + ISNULL( ENVIO_SUBT, 0 ) ), 
                  @nValor_IVA     = SUM( VALOR_IVA + ISNULL( ENVIO_IVA, 0 ) )  
           FROM T3.FACTURA_DETALLE
           WHERE FACTURA = @cur_H_FACTURA ;

-- Cambio del 31/Agosto/2011
--    para descartar Diferencias de Centavos

           IF ( ABS( @cur_H_TOTAL - @nTotal_Detalle ) > 0.05 )
           BEGIN      
              SET @sMensajeError = 'LA FACTURA ' + ISNULL(@cur_H_FACTURA, '') + ' NO TIENE VALORES IGUALES EN HEADER Y DETALLE, ' ;
              SET @sMensajeError = @sMensajeError + ' CLIENTE = '       + ISNULL(@cur_H_CLIENTE_V3, '') ;
              SET @sMensajeError = @sMensajeError + ' REP_ID = '        + ISNULL(@cur_H_REP_ID, '') ;
              SET @sMensajeError = @sMensajeError + ' FECHA_FACTURA = ' + CONVERT(VARCHAR, @cur_H_FECHA_FACTURA, 120) ;
              
              INSERT INTO T3.BITACORA_ERROR VALUES ( @cur_H_DISTRIBUIDOR, GETDATE(), @sMensajeError, 'F', 'T3', @cur_H_CTRO );
              
              UPDATE T3.FACTURA_GENERAL SET FECHA_PROC_BATMD = CONVERT(DATETIME, '29991231', 112)
              WHERE FACTURA = @cur_H_FACTURA ;
              
              SET @P_SALIDA = 0 ;
           END
           ELSE IF ( ABS( @cur_H_VALOR_SUBT - @nValor_Subt ) > 0.05 )
           BEGIN      
              SET @sMensajeError = 'LA FACTURA ' + ISNULL(@cur_H_FACTURA, '') + ' NO TIENE VALORES IGUALES EN HEADER Y DETALLE (SUBT), ' ;
              SET @sMensajeError = @sMensajeError + ' CLIENTE = '       + ISNULL(@cur_H_CLIENTE_V3, '') ;
              SET @sMensajeError = @sMensajeError + ' REP_ID = '        + ISNULL(@cur_H_REP_ID, '') ;
              SET @sMensajeError = @sMensajeError + ' FECHA_FACTURA = ' + CONVERT(VARCHAR, @cur_H_FECHA_FACTURA, 120) ;
              
              INSERT INTO T3.BITACORA_ERROR VALUES ( @cur_H_DISTRIBUIDOR, GETDATE(), @sMensajeError, 'F', 'T3', @cur_H_CTRO );
              
              UPDATE T3.FACTURA_GENERAL SET FECHA_PROC_BATMD = CONVERT(DATETIME, '29991231', 112)
              WHERE FACTURA = @cur_H_FACTURA ;
              
              SET @P_SALIDA = 0 ;
           END
           ELSE IF ( ABS( @cur_H_VALOR_IVA - @nValor_IVA ) > 0.05 )
           BEGIN      
              SET @sMensajeError = 'LA FACTURA ' + ISNULL(@cur_H_FACTURA, '') + ' NO TIENE VALORES IGUALES EN HEADER Y DETALLE (IVA), ' ;
              SET @sMensajeError = @sMensajeError + ' CLIENTE = '       + ISNULL(@cur_H_CLIENTE_V3, '') ;
              SET @sMensajeError = @sMensajeError + ' REP_ID = '        + ISNULL(@cur_H_REP_ID, '') ;
              SET @sMensajeError = @sMensajeError + ' FECHA_FACTURA = ' + CONVERT(VARCHAR, @cur_H_FECHA_FACTURA, 120) ;
              
              INSERT INTO T3.BITACORA_ERROR VALUES ( @cur_H_DISTRIBUIDOR, GETDATE(), @sMensajeError, 'F', 'T3', @cur_H_CTRO );
              
              UPDATE T3.FACTURA_GENERAL SET FECHA_PROC_BATMD = CONVERT(DATETIME, '29991231', 112)
              WHERE FACTURA = @cur_H_FACTURA ;
              
              SET @P_SALIDA = 0 ;
           END
           ELSE IF ( @nTotal_Detalle IS NULL )
           BEGIN
              INSERT INTO T3.BITACORA_ERROR VALUES ( @nDISTRIBUIDOR, GETDATE(), 'LA FACTURA ' + @sFACTURA + ' NO TIENE DETALLE', 'F', 'T3', @sCtro ) ;
              
              UPDATE T3.FACTURA_GENERAL SET FECHA_PROC_BATMD = CONVERT(DATETIME, '29991231', 112)
              WHERE FACTURA = @cur_H_FACTURA ;
              
              SET @P_SALIDA = 0 ;
           END ;

           FETCH NEXT FROM HEADER INTO @cur_H_FACTURA, @cur_H_DISTRIBUIDOR, @cur_H_CTRO, @cur_H_FECHA_FACTURA, @cur_H_REP_ID, @cur_H_CLIENTE_V3, @cur_H_TOTAL, @cur_H_VALOR_SUBT, @cur_H_VALOR_IVA;
        END ;
        CLOSE HEADER;

        EXEC T3.EAI.Trace_Plsql 'DQC_Before', 'HEADER_PREVENTA' ;
        
        OPEN HEADER_PREVENTA;
        FETCH NEXT FROM HEADER_PREVENTA INTO @cur_HP_FACTURA, @cur_HP_DISTRIBUIDOR, @cur_HP_CTRO, @cur_HP_FECHA_FACTURA, @cur_HP_CLIENTE_SAP, @cur_HP_TOTAL, @cur_HP_FECHA_CANCEL;
        
        WHILE @@FETCH_STATUS = 0
        BEGIN
           SET @sFACTURA      = @cur_HP_FACTURA ;
           SET @nDISTRIBUIDOR = CAST(@cur_HP_DISTRIBUIDOR AS NUMERIC) ;
           SET @sCtro          = @cur_HP_CTRO ;
           
           SELECT @nTotal_Detalle = SUM( VALOR_SUBT + VALOR_IVA + VALOR_ISSA + ISNULL( ENVIO_SUBT, 0 ) + ISNULL( ENVIO_IVA, 0 ) )  
           FROM T3.PREVENTA_DETALLE
           WHERE FACTURA = @cur_HP_FACTURA ;
           
           IF ( ABS( @cur_HP_TOTAL - @nTotal_Detalle ) > 0.10 )
           BEGIN
              SET @sMensajeError = 'LA FACTURA ' + ISNULL(@cur_HP_FACTURA, '') + ' NO TIENE VALORES IGUALES EN HEADER Y DETALLE, ' ;
              SET @sMensajeError = @sMensajeError + ' CLIENTE = '       + ISNULL(@cur_HP_CLIENTE_SAP, '') ;
              SET @sMensajeError = @sMensajeError + ' FECHA_FACTURA = ' + CONVERT(VARCHAR, @cur_HP_FECHA_FACTURA, 120) ;
              
              INSERT INTO T3.BITACORA_ERROR VALUES ( @cur_HP_DISTRIBUIDOR, GETDATE(), @sMensajeError, 'F', 'T3', @cur_HP_CTRO );
              
              UPDATE T3.PREVENTA_GENERAL SET FECHA_PROC_BATMD = CONVERT(DATETIME, '29991231', 112)
              WHERE FACTURA = @cur_HP_FACTURA ;
              
              SET @P_SALIDA = 0 ;
           END
           ELSE IF ( @nTotal_Detalle IS NULL )
           BEGIN
              INSERT INTO T3.BITACORA_ERROR VALUES ( @nDISTRIBUIDOR, GETDATE(), 'LA FACTURA ' + @sFACTURA + ' NO TIENE DETALLE', 'F', 'T3', @sCtro ) ;
              
              UPDATE T3.PREVENTA_GENERAL SET FECHA_PROC_BATMD = CONVERT(DATETIME, '29991231', 112)
              WHERE FACTURA = @cur_HP_FACTURA ;
              
              SET @P_SALIDA = 0 ;
           END ;
           
           FETCH NEXT FROM HEADER_PREVENTA INTO @cur_HP_FACTURA, @cur_HP_DISTRIBUIDOR, @cur_HP_CTRO, @cur_HP_FECHA_FACTURA, @cur_HP_CLIENTE_SAP, @cur_HP_TOTAL, @cur_HP_FECHA_CANCEL;
        END ;
        CLOSE HEADER_PREVENTA;

        EXEC T3.EAI.Trace_Plsql 'DQC_Before', 'NO_EXISTE_CLIENTE' ;
        
        OPEN NO_EXISTE_CLIENTE;
        FETCH NEXT FROM NO_EXISTE_CLIENTE INTO @cur_NC_DISTRIBUIDOR, @cur_NC_CTRO, @cur_NC_CLIENTE_V3;
        WHILE @@FETCH_STATUS = 0
        BEGIN
           SET @sMensajeError = 'NO EXISTE EL CLIENTE ' + ISNULL(@cur_NC_CLIENTE_V3, '') + ' EN MOV_CLIENTE' ;
           INSERT INTO T3.BITACORA_ERROR VALUES ( @cur_NC_DISTRIBUIDOR, GETDATE(), @sMensajeError, 'F', 'T3', @cur_NC_CTRO ) ;
           SET @P_SALIDA = 0 ;
           FETCH NEXT FROM NO_EXISTE_CLIENTE INTO @cur_NC_DISTRIBUIDOR, @cur_NC_CTRO, @cur_NC_CLIENTE_V3;
        END ;
        CLOSE NO_EXISTE_CLIENTE;

        EXEC T3.EAI.Trace_Plsql 'DQC_Before', 'VALOR_PAGO' ;
        
        OPEN VALOR_PAGO;
        FETCH NEXT FROM VALOR_PAGO INTO @cur_VP_PAGO_ID, @cur_VP_FECHA_TRN, @cur_VP_DISTRIBUIDOR, @cur_VP_CTRO;
        WHILE @@FETCH_STATUS = 0
        BEGIN
           SET @sMensajeError = 'EL PAGO: ' + ISNULL(@cur_VP_PAGO_ID, '') + ' FECHA TRN ' + CONVERT(VARCHAR, @cur_VP_FECHA_TRN, 120) + ' TIENE PAGO CERO ' ;
           INSERT INTO T3.BITACORA_ERROR VALUES ( @cur_VP_DISTRIBUIDOR, GETDATE(), @sMensajeError, 'F', 'T3', @cur_VP_CTRO ) ;
           SET @P_SALIDA = 0 ;
           FETCH NEXT FROM VALOR_PAGO INTO @cur_VP_PAGO_ID, @cur_VP_FECHA_TRN, @cur_VP_DISTRIBUIDOR, @cur_VP_CTRO;
        END ;
        CLOSE VALOR_PAGO;

        EXEC T3.EAI.Trace_Plsql 'DQC_Before', 'ASIGNACIONPAGO' ;
        
        OPEN ASIGNACIONPAGO;
        FETCH NEXT FROM ASIGNACIONPAGO INTO @cur_AP_FACTURA, @cur_AP_VALOR_DESC, @cur_AP_DISTRIBUIDOR, @cur_AP_CTRO, @cur_AP_FACTURA_2, @cur_AP_VALOR_DESC_2;
        WHILE @@FETCH_STATUS = 0
        BEGIN
           SET @sMensajeError = 'EL PAGO DE LA FACTURA: ' + ISNULL(@cur_AP_FACTURA, '') + ' DIFIERE DE SU ASIGNACION' ;
           IF ( @cur_AP_VALOR_DESC != @cur_AP_VALOR_DESC_2 ) 
           BEGIN
              INSERT INTO T3.BITACORA_ERROR VALUES ( @cur_AP_DISTRIBUIDOR, GETDATE(), @sMensajeError, 'F', 'T3', @cur_AP_CTRO ) ;
              SET @P_SALIDA = 0 ;
           END ;
           FETCH NEXT FROM ASIGNACIONPAGO INTO @cur_AP_FACTURA, @cur_AP_VALOR_DESC, @cur_AP_DISTRIBUIDOR, @cur_AP_CTRO, @cur_AP_FACTURA_2, @cur_AP_VALOR_DESC_2;
        END ;
        CLOSE ASIGNACIONPAGO;

		-- Clientes sin Numero SAP

        EXEC T3.EAI.Trace_Plsql 'DQC_Before', 'CLIENTE' ;
        
        OPEN CLIENTE;
        FETCH NEXT FROM CLIENTE INTO @cur_C_CLIENTE_V3;
        WHILE @@FETCH_STATUS = 0
        BEGIN
           SET @sMensajeError = 'EL CLIENTE V3: ' + ISNULL(@cur_C_CLIENTE_V3, '') + ' CONTIENE CEROS DENTRO DEL CLIENTE SAP' ;
           INSERT INTO T3.BITACORA_ERROR VALUES ( 9999, GETDATE(), @sMensajeError, 'F', 'T3', 'ZZZZ' ) ;
           SET @P_SALIDA = 0;
           FETCH NEXT FROM CLIENTE INTO @cur_C_CLIENTE_V3;
        END ;
        CLOSE CLIENTE;

		--Seccion de FOR REN IN CLIENTE_DISTRIBUIDOR LOOP comentada

        OPEN IVA_NOVALIDO;
        FETCH NEXT FROM IVA_NOVALIDO INTO @cur_IVAN_FACTURA, @cur_IVAN_MATERIAL, @cur_IVAN_VALOR_SUBT, @cur_IVAN_VALOR_IVA, @cur_IVAN_PORC_IVA;
        WHILE @@FETCH_STATUS = 0
        BEGIN
           UPDATE T3.FACTURA_GENERAL SET Fecha_Proc_BATMD = CONVERT(DATETIME, '29991229', 112)
           WHERE Factura = @cur_IVAN_FACTURA AND Fecha_Proc_BATMD IS NULL ;
           
           INSERT INTO T3.Bitacora_Error ( fecha, Mensaje, Distribuidor, Tipo, Modulo, Ctro )
           VALUES ( GETDATE(), 'REVISAR IVA ' + ISNULL(@cur_IVAN_FACTURA, ''), 0, 'E', 'IFC', 'XXXX' ) ;     
           
           FETCH NEXT FROM IVA_NOVALIDO INTO @cur_IVAN_FACTURA, @cur_IVAN_MATERIAL, @cur_IVAN_VALOR_SUBT, @cur_IVAN_VALOR_IVA, @cur_IVAN_PORC_IVA;
        END ;
        CLOSE IVA_NOVALIDO;

        EXEC T3.EAI.Trace_Plsql 'DQC_Before', 'IVA_DES' ;
        
        OPEN IVA_Des;
        FETCH NEXT FROM IVA_Des INTO @cur_IVAD_CLIENTE_V3, @cur_IVAD_FACTURA, @cur_IVAD_VALOR_IVA, @cur_IVAD_LISTA_PREC;
        WHILE @@FETCH_STATUS = 0
        BEGIN
           UPDATE T3.FACTURA_GENERAL SET Fecha_Proc_BATMD = CONVERT(DATETIME, '29991229', 112)
           WHERE Factura = @cur_IVAD_FACTURA AND Fecha_Proc_BATMD IS NULL ;
           
           FETCH NEXT FROM IVA_Des INTO @cur_IVAD_CLIENTE_V3, @cur_IVAD_FACTURA, @cur_IVAD_VALOR_IVA, @cur_IVAD_LISTA_PREC;
        END ;
        CLOSE IVA_Des;

        EXEC T3.EAI.Trace_Plsql 'DQC_Before', 'IVA_NOEXISTE' ;
        

        OPEN IVA_NOEXISTE;
        FETCH NEXT FROM IVA_NOEXISTE INTO @cur_IVAE_FACTURA, @cur_H_CLIENTE_V3, @cur_HP_CLIENTE_SAP, @cur_H_FECHA_FACTURA, @cur_H_VALOR_SUBT, @cur_H_VALOR_IVA, @cur_IVAD_LISTA_PREC;
        WHILE @@FETCH_STATUS = 0
        BEGIN
           UPDATE T3.FACTURA_GENERAL SET Fecha_Proc_BATMD = CONVERT(DATETIME, '29991229', 112)
           WHERE Factura = @cur_IVAE_FACTURA AND Fecha_Proc_BATMD IS NULL ;
           
           FETCH NEXT FROM IVA_NOEXISTE INTO @cur_IVAE_FACTURA, @cur_H_CLIENTE_V3, @cur_HP_CLIENTE_SAP, @cur_H_FECHA_FACTURA, @cur_H_VALOR_SUBT, @cur_H_VALOR_IVA, @cur_IVAD_LISTA_PREC;
        END ;
        CLOSE IVA_NOEXISTE;

		-- Clientes con Diferencia en Distribuidor

        EXEC T3.EAI.Trace_Plsql 'DQC_Before', 'DIF_TERR' ;
        

        OPEN Dif_Terr;
        FETCH NEXT FROM Dif_Terr INTO @cur_DT_CLIENTE, @cur_DT_DOC_ID, @cur_DT_DOC_TYPE;
        WHILE @@FETCH_STATUS = 0
        BEGIN
           SET @sMensajeError = 'EL CLIENTE: ' + ISNULL(@cur_DT_CLIENTE, '') + ' en T3 tiene diferente territorio vs V3. ' + ISNULL(@cur_DT_DOC_TYPE, '') + ' ' + ISNULL(@cur_DT_DOC_ID, '') ;
           INSERT INTO T3.BITACORA_ERROR VALUES ( 9999, GETDATE(), @sMensajeError, 'F', 'T3', 'ZZZZ' ) ;
           
           IF ( @cur_DT_DOC_TYPE = 'LA FACTURA' ) 
           BEGIN
              UPDATE T3.FACTURA_GENERAL SET FECHA_PROC_BATMD = CONVERT(DATETIME, '29991226', 112)
              WHERE FACTURA = @cur_DT_DOC_ID AND FECHA_PROC_BATMD IS NULL ;
           END ;
           IF ( @cur_DT_DOC_TYPE = 'LA ASIGNACION' ) 
           BEGIN
              UPDATE T3.ASIGNACION_PAGO SET FECHA_PROC_BATMD = CONVERT(DATETIME, '29991226', 112)
              WHERE PAGO_ID = @cur_DT_DOC_ID AND FECHA_PROC_BATMD IS NULL ;
           END ;
           IF ( @cur_DT_DOC_TYPE = 'EL PAGO' ) 
           BEGIN
              UPDATE T3.PAGO SET FECHA_PROC_BATMD = CONVERT(DATETIME, '29991226', 112)
              WHERE PAGO_ID = @cur_DT_DOC_ID AND FECHA_PROC_BATMD IS NULL ;
           END ;
           
           FETCH NEXT FROM Dif_Terr INTO @cur_DT_CLIENTE, @cur_DT_DOC_ID, @cur_DT_DOC_TYPE;
        END ;
        CLOSE Dif_Terr;

-- Onesimo/ Integracion :
--
--    Esta parte se comenta en el cierre de mes,
-- porque es la que valida que los documentos sean del mes actual
--

   /*SELECT TRUNC( LAST_DAY( SYSDATE ) - TO_CHAR( LAST_DAY( SYSDATE ), 'DD' ) + 1 ),
          TRUNC( LAST_DAY( SYSDATE )                                        + 1 )
   INTO dt_primer_dia, dt_siguiente_mes
   FROM  DUAL ;*/
   
   --RQL 30/Mayo/2008 Se obtiene dia inicial y final del mes de tabla de configuracion para no
   --estar comentando y descomentarizando esta parte del procedimiento
        SELECT @dt_primer_dia = CONVERT(DATETIME, START_DATE, 103), 
               @dt_siguiente_mes = CONVERT(DATETIME, END_DATE, 103) + 1
        FROM T3.EAI.FC__Time_Window;
          
        EXEC T3.EAI.Trace_Plsql 'DQC_Before', 'FC__Time_Window' ; 
        
        SELECT @nCantidad = SUM( Numero ) 
        FROM (
              SELECT COUNT( * ) AS Numero FROM T3.FACTURA_GENERAL WHERE Fecha_Factura < @dt_primer_dia AND Fecha_Proc_BATMD IS NULL
              UNION ALL
              SELECT COUNT( * ) AS Numero FROM T3.ASIGNACION_PAGO WHERE Fecha_Asignacion < @dt_primer_dia AND Fecha_Proc_BATMD IS NULL
              UNION ALL
              SELECT COUNT( * ) AS Numero FROM T3.PAGO WHERE Fecha_Pago < @dt_primer_dia AND Fecha_Proc_BATMD IS NULL
              UNION ALL
              SELECT COUNT( E.Factura ) AS Numero FROM T3.ENTREGA E, T3.PREVENTA_GENERAL PG WHERE E.Fecha_Entrega < @dt_primer_dia AND E.Fecha_Proc_BATMD IS NULL AND E.Factura = PG.Factura AND PG.Fecha_Cancelacion IS NULL
              UNION ALL
              SELECT COUNT( * ) AS Numero FROM T3.PREVENTA_GENERAL WHERE Fecha_Factura < @dt_primer_dia AND Fecha_Cancelacion IS NULL AND Fecha_Proc_BATMD IS NULL 
        ) A ;
        
        IF ( @nCantidad > 0 ) 
        BEGIN
           EXEC T3.EAI.Trace_Plsql 'DQC_Before', 'Update 29991230' ;  
           
           UPDATE T3.FACTURA_GENERAL SET Fecha_Proc_BATMD = CONVERT(DATETIME, '29991230', 112) WHERE Fecha_Proc_BATMD IS NULL AND Fecha_Factura < @dt_primer_dia ;
           UPDATE T3.ASIGNACION_PAGO SET Fecha_Proc_BATMD = CONVERT(DATETIME, '29991230', 112) WHERE Fecha_Proc_BATMD IS NULL AND Fecha_Asignacion < ( @dt_primer_dia - 365 ) ;
           UPDATE T3.PAGO SET Fecha_Proc_BATMD = CONVERT(DATETIME, '29991230', 112) WHERE Fecha_Proc_BATMD IS NULL AND Fecha_Pago < ( @dt_primer_dia - 365 ) ;
           UPDATE T3.PREVENTA_GENERAL SET Fecha_Proc_BATMD = CONVERT(DATETIME, '29991230', 112) WHERE Fecha_Proc_BATMD IS NULL AND Fecha_Cancelacion IS NULL AND Fecha_Factura < @dt_primer_dia ;
           
           INSERT INTO T3.BITACORA_ERROR VALUES ( 9999, GETDATE(), 'Existen Documentos de meses Anteriores' , 'F', 'T3', 'ZZZZ' ) ;
        END ;

--
-- Se comenta hasta aqui en caso de Bloqueo del Mes
--
------------------------------------------------------------------------------------------------
--
-- Detectar Documentos de Meses siguientes
--
      /*SELECT TRUNC( LAST_DAY( SYSDATE ) - TO_CHAR( LAST_DAY( SYSDATE ), 'DD' ) + 1 ),
          TRUNC( LAST_DAY( SYSDATE )                                        + 1 )
      INTO dt_primer_dia, dt_siguiente_mes
      FROM  DUAL ;*/
	  
   --RQL 30/Mayo/2008 Se obtiene dia inicial y final del mes de tabla de configuracion para no
   --estar comentando y descomentarizando esta parte del procedimiento

        SELECT @dt_primer_dia = CONVERT(DATETIME, START_DATE, 103), 
               @dt_siguiente_mes = CONVERT(DATETIME, END_DATE, 103) + 1
        FROM T3.EAI.FC__Time_Window;
              
        EXEC T3.EAI.Trace_Plsql 'DQC_Before', 'FC__Time_Window' ; 
        
        SELECT @nCantidad = SUM( Numero ) 
        FROM (
              SELECT COUNT( * ) AS Numero FROM T3.FACTURA_GENERAL WHERE Fecha_Factura >= @dt_siguiente_mes AND Fecha_Proc_BATMD IS NULL
              UNION ALL
              SELECT COUNT( * ) AS Numero FROM T3.ASIGNACION_PAGO WHERE Fecha_Asignacion >= @dt_siguiente_mes AND Fecha_Proc_BATMD IS NULL
              UNION ALL
              SELECT COUNT( * ) AS Numero FROM T3.PAGO WHERE Fecha_Pago >= @dt_siguiente_mes AND Fecha_Proc_BATMD IS NULL 
        ) B ;
        
        IF ( @nCantidad > 0 ) 
        BEGIN
           EXEC T3.EAI.Trace_Plsql 'DQC_Before', 'Update 29991222' ;  
           
           UPDATE T3.FACTURA_GENERAL SET Fecha_Proc_BATMD = CONVERT(DATETIME, '29991222', 112) WHERE Fecha_Proc_BATMD IS NULL AND Fecha_Factura >= @dt_siguiente_mes ;
           UPDATE T3.ASIGNACION_PAGO SET Fecha_Proc_BATMD = CONVERT(DATETIME, '29991222', 112) WHERE Fecha_Proc_BATMD IS NULL AND Fecha_Asignacion >= @dt_siguiente_mes ;
           UPDATE T3.PAGO SET Fecha_Proc_BATMD = CONVERT(DATETIME, '29991222', 112) WHERE Fecha_Proc_BATMD IS NULL AND Fecha_Pago >= @dt_siguiente_mes ;
           
           INSERT INTO T3.BITACORA_ERROR VALUES ( 9999, GETDATE(), 'Existen Documentos de meses posteriores' , 'F', 'T3', 'ZZZZ' ) ;
        END ;

		-- Pago Sin Asignaciones(ROW_ID)
        EXEC T3.EAI.Trace_Plsql 'DQC_Before', 'ScrPago_sin_Asignacion' ;
        
        OPEN ScrPago_sin_Asignacion;
        FETCH NEXT FROM ScrPago_sin_Asignacion INTO @cur_PSA_Pago_ID;
        WHILE @@FETCH_STATUS = 0
        BEGIN
           UPDATE T3.Pago SET Fecha_Proc_BATMD = CONVERT(DATETIME, '29991218', 112)
           WHERE Pago_ID = @cur_PSA_Pago_ID AND Fecha_Proc_BATMD IS NULL ;
           
           FETCH NEXT FROM ScrPago_sin_Asignacion INTO @cur_PSA_Pago_ID;
        END ;
        CLOSE ScrPago_sin_Asignacion;

        OPEN ScrDoctosRep;
        FETCH NEXT FROM ScrDoctosRep INTO @cur_DR_Doc_Type, @cur_DR_Referencia;
        WHILE @@FETCH_STATUS = 0
        BEGIN
           IF ( @cur_DR_Doc_Type = 'Factura' ) 
              UPDATE T3.FACTURA_GENERAL SET Fecha_Proc_BATMD = CONVERT(DATETIME, '29991217', 112) WHERE Factura = @cur_DR_Referencia AND Fecha_Proc_BATMD IS NULL ;
           ELSE IF ( @cur_DR_Doc_Type = 'Pago' ) 
              UPDATE T3.PAGO SET Fecha_Proc_BATMD = CONVERT(DATETIME, '29991217', 112) WHERE Pago_ID = @cur_DR_Referencia AND Fecha_Proc_BATMD IS NULL ;
           ELSE IF ( @cur_DR_Doc_Type = 'Asigna' ) 
              UPDATE T3.ASIGNACION_PAGO SET Fecha_Proc_BATMD = CONVERT(DATETIME, '29991217', 112) WHERE Asignacion_ID = @cur_DR_Referencia AND Fecha_Proc_BATMD IS NULL ;
           
           FETCH NEXT FROM ScrDoctosRep INTO @cur_DR_Doc_Type, @cur_DR_Referencia;
        END ;
        CLOSE ScrDoctosRep;

        OPEN ScrMaterial;
        FETCH NEXT FROM ScrMaterial INTO @cur_M_Tipo_Doc, @cur_M_Factura;
        WHILE @@FETCH_STATUS = 0
        BEGIN
           UPDATE T3.Factura_General SET Fecha_Proc_BATMD = CONVERT(DATETIME, '29991213', 112) WHERE Factura = @cur_M_Factura ;
           UPDATE T3.Preventa_General SET Fecha_Proc_BATMD = CONVERT(DATETIME, '29991213', 112) WHERE Factura = @cur_M_Factura ;
           
           FETCH NEXT FROM ScrMaterial INTO @cur_M_Tipo_Doc, @cur_M_Factura;
        END ;
        CLOSE ScrMaterial;

        UPDATE T3.Factura_General SET Fecha_Proc_BATMD = CONVERT(DATETIME, '29991210', 112)
        WHERE Contact_Date > GETDATE() - 7 AND Fecha_Proc_BATMD IS NULL
          AND Cliente_SAP NOT IN ( SELECT MC.Cliente_SAP FROM T3.Mov_Cliente MC WHERE MC.Cliente_SAP = Cliente_SAP ) ;
          
        UPDATE T3.Pago SET Fecha_Proc_BATMD = CONVERT(DATETIME, '29991210', 112)
        WHERE Fecha_Trn > GETDATE() - 7 AND Fecha_Proc_BATMD IS NULL
          AND Cliente_SAP NOT IN ( SELECT MC.Cliente_SAP FROM T3.Mov_Cliente MC WHERE MC.Cliente_SAP = Cliente_SAP ) ;
          
        UPDATE T3.Asignacion_Pago SET Fecha_Proc_BATMD = CONVERT(DATETIME, '29991210', 112)
        WHERE Fecha_Trn > GETDATE() - 7 AND Fecha_Proc_BATMD IS NULL
          AND Cliente_SAP NOT IN ( SELECT MC.Cliente_SAP FROM T3.Mov_Cliente MC WHERE MC.Cliente_SAP = Cliente_SAP ) ;
          
        EXEC T3.PROC_T3_EOD_NOTDELV @Param1 = 0 ;

        IF ( @P_SALIDA = 0 ) 
           UPDATE T3.T3_STATUS SET BEFORE_AGG = 'N' ;
        ELSE
           UPDATE T3.T3_STATUS SET BEFORE_AGG = 'Y' ;
           
        EXEC T3.EAI.Trace_Plsql 'DQC_Before', 'Final' ;  

    END TRY
    BEGIN CATCH
        IF CURSOR_STATUS('local', 'HEADER')                 >= 0 BEGIN CLOSE HEADER;                 DEALLOCATE HEADER;                 END;
        IF CURSOR_STATUS('local', 'HEADER_PREVENTA')        >= 0 BEGIN CLOSE HEADER_PREVENTA;        DEALLOCATE HEADER_PREVENTA;        END;
        IF CURSOR_STATUS('local', 'NO_EXISTE_CLIENTE')      >= 0 BEGIN CLOSE NO_EXISTE_CLIENTE;      DEALLOCATE NO_EXISTE_CLIENTE;      END;
        IF CURSOR_STATUS('local', 'VALOR_PAGO')             >= 0 BEGIN CLOSE VALOR_PAGO;             DEALLOCATE VALOR_PAGO;             END;
        IF CURSOR_STATUS('local', 'ASIGNACIONPAGO')         >= 0 BEGIN CLOSE ASIGNACIONPAGO;         DEALLOCATE ASIGNACIONPAGO;         END;
        IF CURSOR_STATUS('local', 'CLIENTE')                >= 0 BEGIN CLOSE CLIENTE;                DEALLOCATE CLIENTE;                END;
        IF CURSOR_STATUS('local', 'CLIENTE_DISTRIBUIDOR')   >= 0 BEGIN CLOSE CLIENTE_DISTRIBUIDOR;   DEALLOCATE CLIENTE_DISTRIBUIDOR;   END;
        IF CURSOR_STATUS('local', 'IVA_Des')                >= 0 BEGIN CLOSE IVA_Des;                DEALLOCATE IVA_Des;                END;
        IF CURSOR_STATUS('local', 'IVA_INC')                >= 0 BEGIN CLOSE IVA_INC;                DEALLOCATE IVA_INC;                END;
        IF CURSOR_STATUS('local', 'IVA_NOEXISTE')           >= 0 BEGIN CLOSE IVA_NOEXISTE;           DEALLOCATE IVA_NOEXISTE;           END;
        IF CURSOR_STATUS('local', 'IVA_NOVALIDO')           >= 0 BEGIN CLOSE IVA_NOVALIDO;           DEALLOCATE IVA_NOVALIDO;           END;
        IF CURSOR_STATUS('local', 'Dif_Terr')               >= 0 BEGIN CLOSE Dif_Terr;               DEALLOCATE Dif_Terr;               END;
        IF CURSOR_STATUS('local', 'VALIDA_CLIENTES')        >= 0 BEGIN CLOSE VALIDA_CLIENTES;        DEALLOCATE VALIDA_CLIENTES;        END;
        IF CURSOR_STATUS('local', 'ScrBloqueo_IVA')         >= 0 BEGIN CLOSE ScrBloqueo_IVA;         DEALLOCATE ScrBloqueo_IVA;         END;
        IF CURSOR_STATUS('local', 'ScrBloqueo_Precio')      >= 0 BEGIN CLOSE ScrBloqueo_Precio;      DEALLOCATE ScrBloqueo_Precio;      END;
        IF CURSOR_STATUS('local', 'ScrPago_sin_Asignacion') >= 0 BEGIN CLOSE ScrPago_sin_Asignacion; DEALLOCATE ScrPago_sin_Asignacion; END;
        IF CURSOR_STATUS('local', 'ScrDoctosRep')           >= 0 BEGIN CLOSE ScrDoctosRep;           DEALLOCATE ScrDoctosRep;           END;
        IF CURSOR_STATUS('local', 'ScrMaterial')            >= 0 BEGIN CLOSE ScrMaterial;            DEALLOCATE ScrMaterial;            END;

    END CATCH;
END;
GO
