USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_CFDI_APLICA_CM_SAT]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [T3].[PROC_CFDI_APLICA_CM_SAT] 
(
    @pFactura  VARCHAR(50) = NULL,
    -- Se usa un literal para emular la función dinámica DEFAULT TO_CHAR(SYSDATE, 'YYYY') || '0101' de Oracle
    @pFechaIni VARCHAR(50) = NULL, 
    @sPeriodo  VARCHAR(50) = NULL,
    @sRFC      VARCHAR(50) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sMsg              VARCHAR(500);
    DECLARE @sFactura          VARCHAR(30);
    DECLARE @sNotaCredito      VARCHAR(30);
    DECLARE @sFolio_Fiscal     VARCHAR(40);
    DECLARE @sNota_Venta       VARCHAR(4000);

    DECLARE @strID             VARCHAR(50);
    DECLARE @sErrorCode        VARCHAR(30);
    DECLARE @dtInicio          DATETIME;
    DECLARE @nPID              INT;        -- NUMBER(10)
    DECLARE @nProceso          INT;        -- NUMBER(08)
    DECLARE @nProceso1         INT;        -- NUMBER(08)
    DECLARE @nProceso2         INT;        -- NUMBER(08)
    DECLARE @nProceso3         INT;        -- NUMBER(08)
    DECLARE @nProceso4         INT;        -- NUMBER(08)
    DECLARE @nPor_Procesar     INT;        -- NUMBER(08)
    DECLARE @sFechaInicio      VARCHAR(10);

    -- Variables cursores
    DECLARE @c_Factura         VARCHAR(50);
    DECLARE @c_Referencia      VARCHAR(50);
    DECLARE @c_Fecha_Factura   DATETIME;
    DECLARE @c_Cliente_SAP     VARCHAR(50);
    DECLARE @c_RFC             VARCHAR(50);
    DECLARE @c_Periodo         VARCHAR(4);
    
    DECLARE @c_UUID            VARCHAR(50);
    DECLARE @c_Nota_Venta      VARCHAR(4000);

    IF (@pFechaIni = NULL)
        SET @pFechaIni = FORMAT(GETDATE(), 'yyyy') + '0101';

    DECLARE ScrDocumentos CURSOR LOCAL FAST_FORWARD FOR
        SELECT RF.Factura, RF.Referencia, RF.Fecha_Factura, RF.Cliente_SAP, Cte.RFC,
               FORMAT(RF.Fecha_Factura, 'yyyy') AS Periodo
        FROM T3.Registro_Fiscal RF 
        INNER JOIN T3.Cliente Cte ON RF.Cliente_SAP = Cte.Cliente_SAP
        INNER JOIN T3.CFDI_Documentos CFD ON RF.Factura = CFD.Nota_Venta
        INNER JOIN T3.RF_Documentos XML ON RF.Factura = XML.Factura
        WHERE RF.Tipo_Docto IN ('C004', 'C006', 'C019', 'C025')
          AND RF.Fecha_Factura >= CONVERT(DATETIME, @sFechaInicio, 112)
          -- AND RF.Fecha_Factura  < CONVERT(DATETIME, '20200101', 112)
          AND RF.Fecha_Factura BETWEEN Cte.Fecha_Ini_Vig AND Cte.Fecha_Fin_Vig
          AND Cte.RFC != 'XAXX010101000';

    -- Migración de la lógica TABLE(XMLSequence) usando CROSS APPLY y XMLNAMESPACES
    DECLARE ScrAplicaciones CURSOR LOCAL FAST_FORWARD FOR
        WITH XMLNAMESPACES (
            'http://www.sat.gob.mx/cfd/4' AS cfdi4,
            'http://www.sat.gob.mx/cfd/3' AS cfdi3
        )
        SELECT Lista.node.value('(@UUID)[1]', 'VARCHAR(50)') AS UUID            
        FROM T3.RF_Documentos CFD
        CROSS APPLY CFD.Anexo_CFD.nodes('/cfdi4:Comprobante/cfdi4:CfdiRelacionados/cfdi4:CfdiRelacionado') AS Lista(node)
        WHERE Factura = @sNotaCredito 
        UNION ALL   
        SELECT Lista.node.value('(@UUID)[1]', 'VARCHAR(50)') AS UUID            
        FROM T3.RF_Documentos CFD
        CROSS APPLY CFD.Anexo_CFD.nodes('/cfdi3:Comprobante/cfdi3:CfdiRelacionados/cfdi3:CfdiRelacionado') AS Lista(node)
        WHERE Factura = @sNotaCredito;

    DECLARE ScrInvoice CURSOR LOCAL FAST_FORWARD FOR
        SELECT Info.Nota_Venta
        FROM (
            SELECT Doc.Nota_Venta, 11 AS Orden
            FROM T3.CFDI_Documentos Doc
            WHERE Doc.Folio_Fiscal = @sFolio_Fiscal
            UNION ALL
            SELECT Repro.Nota_Venta, 1 AS Orden -- 01 se evalúa a 1
            FROM T3.CFDI_Reproceso Repro
            WHERE Repro.Folio_Fiscal = @sFolio_Fiscal
        ) Info
        ORDER BY Info.Orden;     

    BEGIN TRY
        IF (@pFactura IS NOT NULL) 
        BEGIN
            SET @sFactura     = @pFactura;
            SET @strID        = @pFactura;
            SET @sNotaCredito = @pFactura;
            
            DELETE FROM T3.CFDI_APLICA_CM_SAT
            WHERE Nota_Credito = @sNotaCredito;
            
            OPEN ScrAplicaciones;
            FETCH NEXT FROM ScrAplicaciones INTO @c_UUID;
            WHILE @@FETCH_STATUS = 0
            BEGIN
                SET @sFolio_Fiscal = @c_UUID;
                SET @sNota_Venta   = '';
                
                OPEN ScrInvoice;
                FETCH NEXT FROM ScrInvoice INTO @c_Nota_Venta;
                WHILE @@FETCH_STATUS = 0
                BEGIN
                    SET @sNota_Venta = @c_Nota_Venta;
                    FETCH NEXT FROM ScrInvoice INTO @c_Nota_Venta;
                END;
                CLOSE ScrInvoice;
                
                INSERT INTO T3.CFDI_APLICA_CM_SAT 
                    (NOTA_CREDITO, FOLIO_FISCAL, NOTA_VENTA)
                VALUES
                    (@sNotaCredito, @sFolio_Fiscal, @sNota_Venta);
                    
                FETCH NEXT FROM ScrAplicaciones INTO @c_UUID;
            END;
            CLOSE ScrAplicaciones;
        END
        ELSE
        BEGIN
            SET @dtInicio = GETDATE();
            SET @nProceso = 924;
            
            -- Migración de Sequence y llamado al Procedure EAI_Owner
            SET @nPID = NEXT VALUE FOR EAI_Owner.ProcessID;
            EXEC EAI_Owner.Log_Start @nProceso;
            
            INSERT INTO T3.RF_PROCESOS_LOG (PID, Proceso, Inicio)
            VALUES (@nPID, @nProceso, GETDATE());        
            
            SET @nProceso1 = 0;
            SET @nProceso2 = 0;
            SET @nProceso3 = 0;
            SET @nProceso4 = 0;
            SET @nProceso4 = CAST(ISNULL(@sPeriodo, '0') AS INT);
            
            PRINT 'Inicio : ' + FORMAT(GETDATE(), 'HH:mm:ss');
            
            IF (@pFechaIni IS NULL) 
            BEGIN
                SET @sFechaInicio = FORMAT(GETDATE(), 'yyyyMM') + '01';
            END
            ELSE
            BEGIN
                SET @sFechaInicio = @pFechaIni;
            END;
            
            OPEN ScrDocumentos;
            FETCH NEXT FROM ScrDocumentos INTO @c_Factura, @c_Referencia, @c_Fecha_Factura, @c_Cliente_SAP, @c_RFC, @c_Periodo;
            WHILE @@FETCH_STATUS = 0
            BEGIN
                SET @nProceso1     = @nProceso1 + 1;
                SET @sNotaCredito  = @c_Factura;
                SET @strID         = @c_Factura;
                SET @nPor_Procesar = 0;
                
                IF (ISNULL(@sPeriodo, @c_Periodo) = @c_Periodo) 
                BEGIN
                    SET @nPor_Procesar = @nPor_Procesar + 1;
                END;
                
                IF (ISNULL(@sRFC, @c_RFC) = @c_RFC) 
                BEGIN
                    SET @nPor_Procesar = @nPor_Procesar + 1;
                END;
                
                --
                IF (@nPor_Procesar > 0) 
                BEGIN
                    SET @nProceso2 = @nProceso2 + 1;
                    
                    DELETE FROM T3.CFDI_APLICA_CM_SAT
                    WHERE Nota_Credito = @sNotaCredito;
                    
                    OPEN ScrAplicaciones;
                    FETCH NEXT FROM ScrAplicaciones INTO @c_UUID;
                    WHILE @@FETCH_STATUS = 0
                    BEGIN
                        SET @sFolio_Fiscal = @c_UUID;
                        SET @sNota_Venta   = '';
                        
                        OPEN ScrInvoice;
                        FETCH NEXT FROM ScrInvoice INTO @c_Nota_Venta;
                        WHILE @@FETCH_STATUS = 0
                        BEGIN
                            SET @sNota_Venta = @c_Nota_Venta;
                            FETCH NEXT FROM ScrInvoice INTO @c_Nota_Venta;
                        END;
                        CLOSE ScrInvoice;
                        
                        INSERT INTO T3.CFDI_APLICA_CM_SAT 
                            (NOTA_CREDITO, FOLIO_FISCAL, NOTA_VENTA)
                        VALUES
                            (@sNotaCredito, @sFolio_Fiscal, @sNota_Venta);
                            
                        FETCH NEXT FROM ScrAplicaciones INTO @c_UUID;
                    END;
                    CLOSE ScrAplicaciones;
                END;   
              
                FETCH NEXT FROM ScrDocumentos INTO @c_Factura, @c_Referencia, @c_Fecha_Factura, @c_Cliente_SAP, @c_RFC, @c_Periodo;
            END;
            CLOSE ScrDocumentos;
            
            UPDATE EAI_OWNER.MX_COMPONENTS 
            SET Status = 1
            WHERE Component = @nProceso;
            
            UPDATE T3.RF_PROCESOS_LOG 
            SET Fin = GETDATE(), Proceso_1 = @nProceso1, Proceso_2 = @nProceso2,
                Proceso_3 = @nProceso3, Proceso_4 = @nProceso4
            WHERE PID = @nPID;        
            
            PRINT 'Documentos    ' + CAST(@nProceso1 AS VARCHAR);
            PRINT 'Por procesar  ' + CAST(@nProceso2 AS VARCHAR);
            PRINT 'Periodo       ' + ISNULL(@sPeriodo, '');
            PRINT 'RFC Cliente   ' + ISNULL(@sRFC, '');
            PRINT 'Inicio al     ' + ISNULL(@sFechaInicio, '');
            PRINT 'Final : ' + FORMAT(GETDATE(), 'HH:mm:ss');
            
        END;   

        DEALLOCATE ScrDocumentos;
        DEALLOCATE ScrAplicaciones;
        DEALLOCATE ScrInvoice;

    END TRY
    BEGIN CATCH

        IF CURSOR_STATUS('local', 'ScrInvoice') >= -1
        BEGIN
            IF CURSOR_STATUS('local', 'ScrInvoice') >= 0 CLOSE ScrInvoice;
            DEALLOCATE ScrInvoice;
        END;

        IF CURSOR_STATUS('local', 'ScrAplicaciones') >= -1
        BEGIN
            IF CURSOR_STATUS('local', 'ScrAplicaciones') >= 0 CLOSE ScrAplicaciones;
            DEALLOCATE ScrAplicaciones;
        END;

        IF CURSOR_STATUS('local', 'ScrDocumentos') >= -1
        BEGIN
            IF CURSOR_STATUS('local', 'ScrDocumentos') >= 0 CLOSE ScrDocumentos;
            DEALLOCATE ScrDocumentos;
        END;

        SET @sMsg = SUBSTRING(CAST(ERROR_NUMBER() AS VARCHAR(50)) + '-' + ERROR_MESSAGE(), 1, 250);
        SET @sMsg = SUBSTRING(ERROR_MESSAGE(), 1, 250);
        
        PRINT REPLICATE('-', 80);
        PRINT 'Problemas en la ejecucion del Procedimiento';
        PRINT 'FAVOR DE ESCALAR LOS SIGUIENTES DATOS :';
        PRINT 'Procedimiento : PROC_CFDI_APLICA_CM_SAT';
        PRINT 'Fecha         : ' + FORMAT(GETDATE(), 'yyyyMMdd HH:mm:ss');
        PRINT 'Referencia    : ' + ISNULL(@strID, '');
        PRINT 'Error         : ' + ISNULL(@sMsg, '');
        PRINT REPLICATE('-', 80);
        
        SET @sErrorCode = 'SQL-' + CAST(ERROR_NUMBER() AS VARCHAR(50));
        SET @sMsg = SUBSTRING(CAST(ERROR_NUMBER() AS VARCHAR(50)) + '-' + ERROR_MESSAGE(), 1, 250);      
        
        INSERT INTO EAI_OWNER.MX_EAI_MESSAGE_LOG
          ( DIRECTION          , REFERENCE      , CREATED             , MESSAGE        , JOB_PID,
            STATUS             , QUEUE_NAME     , SIEBEL_ERROR_MESSAGE, SOURCE         , 
            SIEBEL_ERROR_CODE  , RETRY_COUNT    , SEQUENCE            , PARENT_ROW_ID   )
        VALUES 
          ( 'Job Logging'      , @strID         , GETDATE()           , NULL           , @nPID,
            'Error'            , 'PROC_CFDI_APLICA_CM_SAT', @sMsg     , 'PL/SQL'       ,
			 @sErrorCode         , NULL                       , NULL                , NULL            ) ;

            
    END CATCH;
END;
GO
