USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_CFDI_PROCESAR_PAGOS]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[PROC_CFDI_PROCESAR_PAGOS] 
    @dtFechaProcBATMD DATETIME
AS
BEGIN

    DECLARE @sMsg VARCHAR(500);
    DECLARE @nDoctos NUMERIC(6,0);
--
    DECLARE @strID VARCHAR(50);
    DECLARE @sErrorCode VARCHAR(30);     
    DECLARE @strFactura VARCHAR(50);
    DECLARE @strNotaCredito VARCHAR(50);
    DECLARE @sSubProcess VARCHAR(50);
    DECLARE @sReferencia VARCHAR(30);
    DECLARE @dtInicio DATETIME;
    DECLARE @nPID NUMERIC(8,0);
    DECLARE @nProceso NUMERIC(8,0);
    DECLARE @nProceso1 NUMERIC(8,0);
    DECLARE @nProceso2 NUMERIC(8,0);
    DECLARE @nProceso3 NUMERIC(8,0);
    DECLARE @nProceso4 NUMERIC(8,0);
    DECLARE @dtFacturaProcBATMD DATETIME;
    DECLARE @nT3Importe NUMERIC(16,4);
    DECLARE @nT3Existe NUMERIC(1,0);
    DECLARE @nTtl_Invc_Amt NUMERIC(16,4);
    DECLARE @dtInvc_dt DATETIME;
    DECLARE @nSaldo_Pendiente NUMERIC(16,4);
    DECLARE @sSub_Type_CD VARCHAR(30);
    DECLARE @nSecuenciaPagos NUMERIC(10,0);
    DECLARE @nSecuenciaCM NUMERIC(10,0);
    DECLARE @nAbonoPagos NUMERIC(16,4);
    DECLARE @nAbonoCM NUMERIC(16,4);
--
    DECLARE @sFolio_ID VARCHAR(30);
    DECLARE @sAsignacion_ID VARCHAR(30);
    DECLARE @sPayment_Req_Num VARCHAR(30);
    DECLARE @dtActl_Pay_dt DATETIME;
    DECLARE @dtFecha_Asignacion DATETIME;
    DECLARE @dtAsig_Created DATETIME;
    DECLARE @nImporte NUMERIC(16,2);
    DECLARE @nSaldo_Anterior NUMERIC(16,2);
    DECLARE @nNumero_Pago NUMERIC(10,0);
    DECLARE @sCreated_By VARCHAR(30);
    DECLARE @sAccnt_ID VARCHAR(30);
    DECLARE @sCliente_SAP VARCHAR(30);
    DECLARE @sSociedad VARCHAR(30);
    DECLARE @sReceptorBanco VARCHAR(30);
    DECLARE @sReceptorCuenta VARCHAR(30);
    DECLARE @sCtro VARCHAR(30);
    DECLARE @sBanco_Nombre VARCHAR(30);
    DECLARE @sBanco_Num_Cuenta VARCHAR(30);
    DECLARE @sNumero_Cheque VARCHAR(30); 
    DECLARE @dtDB_Last_Upd DATETIME;
    DECLARE @sFactura VARCHAR(30);
    DECLARE @sNota_Venta VARCHAR(30);
    DECLARE @sRFC VARCHAR(15);
    DECLARE @sStatus VARCHAR(30);
    DECLARE @sVia_Pago VARCHAR(30); 
    DECLARE @nCant_Pagos NUMERIC(10,0);
    DECLARE @nAbono_Pagos NUMERIC(16,2);
    DECLARE @nCant_CM NUMERIC(10,0);
    DECLARE @nAbono_CM NUMERIC(16,2);
    DECLARE @sNota_Credito VARCHAR(40);
    DECLARE @sVenta_UUID VARCHAR(40);
    DECLARE @dtFecha_Factura DATETIME; 
    DECLARE @nDias_Cdto NUMERIC(3,0);
    DECLARE @nImporte_Factura NUMERIC(16,2);
    DECLARE @sCteMethod VARCHAR(30);
    DECLARE @sCteBankName VARCHAR(30);
    DECLARE @sCteAccountNum VARCHAR(30);
    DECLARE @dtFechaEnvio DATETIME;
    DECLARE @nTasa_IVA NUMERIC(6,2); 

--variables cursores
    DECLARE @Pagos_Created_By VARCHAR(50);
    DECLARE @Pagos_Payment_Req_Num VARCHAR(50);
    DECLARE @Pagos_Actl_Pay_dt DATETIME;
    DECLARE @Pagos_Asignacion_ID VARCHAR(50);
    DECLARE @Pagos_Payment_ID VARCHAR(50);
    DECLARE @Pagos_Factura VARCHAR(50);
    DECLARE @Pagos_Nota_Credito VARCHAR(50);
    DECLARE @Pagos_Cliente_SAP VARCHAR(50);
    DECLARE @Pagos_Valor_Pago NUMERIC(18,4);
    DECLARE @Pagos_Fecha_Asignacion DATETIME;
    DECLARE @Pagos_Ctro VARCHAR(50);
    DECLARE @Pagos_Invoice_ID VARCHAR(50);
    DECLARE @Pagos_Sub_Type_CD VARCHAR(50);
    DECLARE @Pagos_Accnt_ID VARCHAR(50);
    DECLARE @Pagos_Ttl_Invc_Amt NUMERIC(18,4);
    DECLARE @Pagos_Vendr_Invoice_Num VARCHAR(50);
    DECLARE @Pagos_Asig_Created DATETIME;
    DECLARE @Pagos_DB_Last_Upd DATETIME;
    DECLARE @Pagos_X_Cust_Tax_Number VARCHAR(50);
    DECLARE @Pagos_Invc_dt DATETIME;
    DECLARE @Pagos_Dias_Cdto NUMERIC(15,0);
    DECLARE @Pagos_Banco_Nombre VARCHAR(50);
    DECLARE @Pagos_Banco_Num_Cuenta VARCHAR(50);
    DECLARE @Pagos_Numero_Cheque VARCHAR(50);

    DECLARE @Asig_Row_ID VARCHAR(50);
    DECLARE @Asig_Created DATETIME;
    DECLARE @Asig_Paid_Amt NUMERIC(18,4);
    DECLARE @Asig_Actl_Pay_dt DATETIME;
    DECLARE @Asig_Type_CD VARCHAR(50);
    DECLARE @Asig_Pay_Type_CD VARCHAR(50);
    DECLARE @Asig_Created_By VARCHAR(50);
    DECLARE @Asig_Via_Pago VARCHAR(50);
    DECLARE @Asig_Numero_Pago NUMERIC(15,0);
    DECLARE @Asig_Cant_CM NUMERIC(15,0);
    DECLARE @Asig_Integration_ID VARCHAR(50);
    DECLARE @Asig_Factura VARCHAR(50);
    DECLARE @Asig_Entrega VARCHAR(50);
    DECLARE @Asig_Referencia VARCHAR(50);

    DECLARE @T3_Fecha_Proc_BATMD DATETIME;
    DECLARE @T3_Nota_Venta_CFDI VARCHAR(50);
    DECLARE @T3_Referencia VARCHAR(50);
    DECLARE @T3_Importe NUMERIC(18,4);
    DECLARE @T3_Valor_Subt NUMERIC(18,4);
    DECLARE @T3_Valor_IVA NUMERIC(18,4);

    DECLARE @UUID_Folio_Fiscal VARCHAR(50);
    DECLARE @UUID_Status VARCHAR(50);

    DECLARE @DN_Factura VARCHAR(50);
    DECLARE @DN_Folio_Fiscal VARCHAR(50);

    DECLARE @CP_Factura VARCHAR(50);
    DECLARE @CP_Fecha_Factura DATETIME;
    DECLARE @CP_Ttl_Invc_Amt NUMERIC(18,4);

    DECLARE ScrPagos CURSOR FOR 
        SELECT 
               AP.Rep_ID                                      AS Created_By        , 
               AP.Pago_ID                                     AS Payment_Req_Num   ,  
               AP.Fecha_Asignacion                            AS Actl_Pay_dt       ,
               AP.Asignacion_ID                                                    , 
               AP.Pago_ID                                     AS Payment_ID        ,  
               AP.Factura                                                          , 
               AP.Nota_Credito                                                     , 
               AP.Cliente_SAP                                                      , 
               AP.Valor_Pago, 
               AP.Fecha_Asignacion, 
               AP.Ctro                                                             ,
               ''                                             AS Invoice_ID        ,
               ISNULL( TD.Origen, 'INCOBRABLE' )              AS Sub_Type_CD       ,
               ''                                             AS Accnt_ID          ,
               T3.FN_TOTAL_FACT(Ap.Factura)                   AS Ttl_Invc_Amt      ,
               ''                                             AS Vendr_Invoice_Num ,
               AP.Fecha_Asignacion                            AS Asig_Created      ,
               Ap.Fecha_Trn                                   AS DB_Last_Upd       ,
               Cte.RFC                                        AS X_Cust_Tax_Number ,
               RF.Fecha_Factura                               AS Invc_dt           ,
               Cte.Dias_Cdto                                  AS Dias_Cdto         ,       
               ''                                             AS Banco_Nombre      ,
               ''                                             AS Banco_Num_Cuenta  ,
               ''                                             AS Numero_Cheque
            FROM T3.Asignacion_Pago        AP  
            INNER JOIN T3.Cliente          Cte ON AP.Cliente_SAP = Cte.Cliente_SAP AND AP.Fecha_Asignacion BETWEEN Cte.Fecha_Ini_Vig AND Cte.Fecha_Fin_Vig
            LEFT JOIN T3.Registro_Fiscal   RF  ON AP.Factura = RF.Factura
            LEFT JOIN T3.Tipo_Documento    TD  ON RF.Tipo_Docto = TD.Tipo_Documento
            WHERE AP.Fecha_Proc_BATMD   = @dtFechaProcBATMD
            ORDER BY AP.Cliente_SAP, Ap.Fecha_Asignacion, Ap.Asignacion_ID;
-- 
    DECLARE ScrAsignaciones CURSOR FOR              
        SELECT 
               Asig.Asignacion_ID                              AS Row_ID        ,
               Asig.Fecha_Asignacion                           AS Created       , 
               ISNULL( Asig.Valor_Pago, 0)                     AS Paid_Amt      , 
               CASE WHEN Pago.Fecha_Pago IS NULL THEN Asig.Fecha_Asignacion ELSE Pago.Fecha_Pago END AS Actl_Pay_dt   , 
               CASE
                  WHEN Asig.Nota_Credito IS NOT NULL 
                  THEN 'Returns' 
                  ELSE Pago.Tipo_Pago 
               END                                             AS Type_CD       , 
               CASE 
                  WHEN Asig.Nota_Credito IS NULL 
                  THEN EAI_OWNER.getConv( 'TMD_PAC Accnt Payment Type', Pago.Metodo_Pago )
                  ELSE 'Credit Memo'
               END                                             AS Pay_Type_CD   , 
               ISNULL(Pago.REP_ID, Asig.Rep_ID)                AS Created_By    ,
               CASE
                  WHEN Asig.Nota_Credito IS NULL
                  THEN EAI_OWNER.getConv( 'TMD_PAC Accnt Payment Method', Pago.Metodo_Pago ) 
                  ELSE 'CM'
               END                                             AS Via_Pago      , 
               ISNULL(Cobza.Numero_Pago , 0 )                  AS Numero_Pago   ,
               ISNULL(Cobza.Cant_CM , 0     )                  AS Cant_CM       ,
               Asig.Nota_Credito                               AS Integration_ID,
               ''                                              AS Factura       , 
               ''                                              AS Entrega       , 
               ''                                              AS Referencia
            FROM T3.Asignacion_Pago        Asig
            LEFT JOIN T3.Pago              Pago  ON Asig.Pago_ID = Pago.Pago_ID
            LEFT JOIN T3.CFDI_Cobranza     Cobza ON Asig.Asignacion_ID = Cobza.Asignacion_ID
            WHERE Asig.Factura          = @strID
              AND Asig.Fecha_Asignacion  >= '20180901'  
            ORDER BY Asig.Fecha_Asignacion, Asig.Asignacion_ID;  
--
    DECLARE ScrT3Procesado CURSOR FOR 
        SELECT FG.Fecha_Proc_BATMD, HDP.Nota_Venta_CFDI, FG.Factura AS Referencia, 
               SUM( ISNULL( FD.Valor_Subt, 0 ) + ISNULL( FD.Valor_IVA, 0 ) + ISNULL( FD.Envio_Subt, 0 ) + ISNULL( FD.Envio_IVA, 0 ) 
                  + ISNULL( FD.Credito_Subt, 0 ) + ISNULL( FD.Credito_IVA, 0 )                               ) AS Importe    ,
               SUM( ISNULL( FD.Valor_Subt, 0 ) + ISNULL( FD.Envio_Subt, 0 ) + ISNULL( FD.Credito_Subt, 0 ) ) AS Valor_Subt, 
               SUM( ISNULL( FD.Valor_IVA , 0 ) + ISNULL( FD.Envio_IVA , 0 ) + ISNULL( FD.Credito_IVA , 0 ) ) AS Valor_IVA
            FROM T3.Factura_General FG
            LEFT JOIN T3.CFDI_Historia_Docto_PAC HDP ON FG.Factura = HDP.Nota_Venta
            INNER JOIN T3.Factura_Detalle FD ON FG.Factura = FD.Factura
            WHERE FG.Factura = @strFactura
        GROUP BY FG.Fecha_Proc_BATMD, HDP.Nota_Venta_CFDI, FG.Factura     
        UNION ALL
        SELECT PG.Fecha_Proc_BATMD, HDP.Nota_Venta_CFDI, PG.Referencia AS Referencia,
               SUM( ISNULL( PD.Valor_Subt  , 0 ) + ISNULL( PD.Valor_IVA  , 0 ) + ISNULL( PD.Envio_Subt, 0 ) + ISNULL( PD.Envio_IVA, 0 ) 
                  + ISNULL( PD.Credito_Subt, 0 ) + ISNULL( PD.Credito_IVA, 0 )
                                                                                                        ) AS Importe    ,
               SUM( ISNULL( PD.Valor_Subt, 0 ) + ISNULL( PD.Envio_Subt, 0 ) + ISNULL( PD.Credito_Subt, 0 ) ) AS Valor_Subt, 
               SUM( ISNULL( PD.Valor_IVA , 0 ) + ISNULL( PD.Envio_IVA , 0 ) + ISNULL( PD.Credito_IVA , 0 ) ) AS Valor_IVA
            FROM T3.Preventa_General PG
            LEFT JOIN T3.CFDI_Historia_Docto_PAC HDP ON PG.Factura = HDP.Nota_Venta
            INNER JOIN T3.Preventa_Detalle PD ON PG.Factura = PD.Factura
            WHERE PG.Factura = @strFactura       
            GROUP BY PG.Fecha_Proc_BATMD, HDP.Nota_Venta_CFDI, PG.Referencia ;   
--
    DECLARE ScrVentaUUID CURSOR FOR 
        SELECT Folio_Fiscal, Status 
            FROM T3.CFDI_Documentos
            WHERE Nota_Venta = @sNota_Venta ;              
--
    DECLARE ScrDebitNote CURSOR FOR 
      SELECT PG.Factura, CFD.Folio_Fiscal
         FROM T3.Preventa_General PG
         LEFT JOIN T3.CFDI_Documentos CFD ON PG.Factura = CFD.Nota_Venta
         WHERE PG.Referencia = @strFactura ;
--
    DECLARE ScrCancPago CURSOR FOR 
      SELECT CP.Debit_Note         AS Factura      ,
             CP.Document_Date      AS Fecha_Factura,
             CP.Total_Amt          AS Ttl_Invc_Amt
         FROM T3.DEBIT_NOTE_IFC CP
         WHERE CP.Debit_Note = @strFactura ;   

    BEGIN TRY
       SET @dtInicio  = GETDATE() ;
       SET @nProceso  = 604 ;
       SET @nPID      = NEXT VALUE FOR EAI_Owner.ProcessID ;
       
	   BEGIN TRAN

       EXEC EAI_Owner.Log_Start @nProceso ;
       
       INSERT INTO T3.RF_PROCESOS_LOG ( PID , Proceso , Fecha_Proc_BATMD, Inicio )
          VALUES ( @nPID, @nProceso, @dtFechaProcBATMD, GETDATE() ) ;   
          
       SET @nDoctos   = 0 ;
       SET @nProceso1 = 0 ;
       SET @nProceso2 = 0 ;
       SET @nProceso3 = 0 ;
       SET @nProceso4 = 0 ;
       
       SET @sSociedad       = EAI_owner.getConv( 'CFG Settings', 'CompanyCode'          ) ;
       SET @sReceptorBanco  = EAI_owner.getConv( 'CFG Settings', 'Banco Def - Directo'  ) ;
       SET @sReceptorCuenta = EAI_owner.getConv( 'CFG Settings', 'Cuenta Def - Directo' ) ;

       OPEN ScrPagos;
       FETCH NEXT FROM ScrPagos INTO @Pagos_Created_By, @Pagos_Payment_Req_Num, @Pagos_Actl_Pay_dt, @Pagos_Asignacion_ID, @Pagos_Payment_ID, @Pagos_Factura, @Pagos_Nota_Credito, @Pagos_Cliente_SAP, @Pagos_Valor_Pago, @Pagos_Fecha_Asignacion, @Pagos_Ctro, @Pagos_Invoice_ID, @Pagos_Sub_Type_CD, @Pagos_Accnt_ID, @Pagos_Ttl_Invc_Amt, @Pagos_Vendr_Invoice_Num, @Pagos_Asig_Created, @Pagos_DB_Last_Upd, @Pagos_X_Cust_Tax_Number, @Pagos_Invc_dt, @Pagos_Dias_Cdto, @Pagos_Banco_Nombre, @Pagos_Banco_Num_Cuenta, @Pagos_Numero_Cheque;
       
       WHILE @@FETCH_STATUS = 0
       BEGIN
          SET @sSubProcess         = 'ScrPagos'             ;
          SET @strID               = @Pagos_Factura         ;      
          SET @strFactura          = @Pagos_Factura         ;
          SET @strNotaCredito      = @Pagos_Nota_Credito    ;
          SET @sSub_Type_CD        = @Pagos_Sub_Type_CD     ;
          SET @dtInvc_dt           = @Pagos_Invc_dt         ;
          SET @dtFecha_Factura     = @Pagos_Invc_dt         ;
          SET @nDias_Cdto          = @Pagos_Dias_Cdto       ;
          SET @nDoctos             = @nDoctos + 1           ;
          SET @dtFacturaProcBATMD  = NULL                   ;
          SET @nT3Importe          = 0                      ;
          SET @sStatus             = NULL                   ;
          SET @nT3Existe           = 0                      ;

          SET @sFolio_ID           = @Pagos_Asignacion_ID   ;
          SET @sAsignacion_ID      = @Pagos_Asignacion_ID   ;
          SET @sPayment_Req_Num    = @Pagos_Payment_Req_Num ;
          SET @dtActl_Pay_dt       = @Pagos_Actl_Pay_dt     ;
          SET @dtAsig_Created      = @Pagos_Asig_Created    ;
          SET @dtDB_Last_Upd       = @Pagos_DB_Last_Upd     ;
          SET @dtFecha_Asignacion  = NULL                   ;
          SET @nImporte            = @Pagos_Valor_Pago      ;
          SET @nSaldo_Anterior     = NULL                   ;
          SET @nNumero_Pago        = NULL                   ;
          SET @sCreated_By         = @Pagos_Created_By      ;
          SET @sAccnt_ID           = @Pagos_Accnt_ID        ;
          SET @sCliente_SAP        = @Pagos_Cliente_SAP     ;
          SET @sFactura            = @Pagos_Factura         ;
          SET @sBanco_Nombre       = @Pagos_Banco_Nombre    ;
          SET @sBanco_Num_Cuenta   = @Pagos_Banco_Num_Cuenta;
          SET @sNumero_Cheque      = @Pagos_Numero_Cheque   ;      
          SET @sCtro               = @Pagos_Ctro            ;
          SET @sNota_Venta         = NULL                   ;

          SET @sRFC                = @Pagos_X_Cust_Tax_Number ;
          SET @sStatus             = ''                     ;
          SET @sVia_Pago           = ''                     ;
          SET @nCant_Pagos         = 0                      ;
          SET @nAbono_Pagos        = 0                      ;
          SET @nCant_CM            = 0                      ;
          SET @nAbono_CM           = 0                      ;
          SET @sNota_Venta         = ''                     ;
          SET @sNota_Credito       = ''                     ;
          SET @sVenta_UUID         = ''                     ;
          SET @sReferencia         = ''                     ;
          SET @nImporte_Factura    = 0                      ;
          SET @nTasa_IVA           = NULL                   ;

          
          IF ( @sSub_Type_CD != 'Nota de Venta' ) 
          BEGIN
             SET @sStatus          = @sSub_Type_CD      ;      
             SET @nImporte_Factura = @Pagos_Ttl_Invc_Amt ;
             SET @nTtl_Invc_Amt    = @Pagos_Ttl_Invc_Amt ;
             SET @sVenta_UUID      = ''                ;
             SET @sSubProcess      = 'ScrDebitNote'   ;
             
             OPEN ScrDebitNote;
             FETCH NEXT FROM ScrDebitNote INTO @DN_Factura, @DN_Folio_Fiscal;
             WHILE @@FETCH_STATUS = 0
             BEGIN
                SET @sNota_Venta = @DN_Factura      ;
                SET @sVenta_UUID = @DN_Folio_Fiscal ;
                SET @sStatus     = 'DN - Penalizacion' ;
                FETCH NEXT FROM ScrDebitNote INTO @DN_Factura, @DN_Folio_Fiscal;
             END;
             CLOSE ScrDebitNote;
             
             OPEN ScrCancPago;
             FETCH NEXT FROM ScrCancPago INTO @CP_Factura, @CP_Fecha_Factura, @CP_Ttl_Invc_Amt;
             WHILE @@FETCH_STATUS = 0
             BEGIN
                SET @sNota_Venta      = @CP_Factura        ;
                SET @sVenta_UUID      = ''                 ;
                SET @sStatus          = 'Canc Pago'        ;
                SET @nImporte_Factura = @CP_Ttl_Invc_Amt   ;
                SET @nTtl_Invc_Amt    = @CP_Ttl_Invc_Amt   ;
                SET @dtInvc_dt        = @CP_Fecha_Factura  ;
                SET @dtFecha_Factura  = @CP_Fecha_Factura  ;
                FETCH NEXT FROM ScrCancPago INTO @CP_Factura, @CP_Fecha_Factura, @CP_Ttl_Invc_Amt;
             END;
             CLOSE ScrCancPago;
          END 
          ELSE
          BEGIN

             OPEN ScrT3Procesado;
             FETCH NEXT FROM ScrT3Procesado INTO @T3_Fecha_Proc_BATMD, @T3_Nota_Venta_CFDI, @T3_Referencia, @T3_Importe, @T3_Valor_Subt, @T3_Valor_IVA;
             WHILE @@FETCH_STATUS = 0
             BEGIN
                SET @sSubProcess        = 'ScrT3Procesado'      ;
                SET @nT3Existe          = @nT3Existe + 1         ;
                SET @dtFacturaProcBATMD = @T3_Fecha_Proc_BATMD   ;
                SET @nT3Importe         = @T3_Importe            ;
                SET @sNota_Venta        = @T3_Nota_Venta_CFDI    ;
                SET @sReferencia        = @T3_Referencia         ;
                
                IF ( @T3_Valor_Subt > 0 ) 
                BEGIN
                   SET @nTasa_IVA          = ROUND( @T3_Valor_IVA * 100 / @T3_Valor_Subt, 2 ) ;
                END 
                ELSE
                BEGIN
                   SET @nTasa_IVA          = 0 ;
                END ;   
                IF ( @nTasa_IVA >= 15.98 ) 
                BEGIN
                   SET @nTasa_IVA = 16 ;
                END ;
                FETCH NEXT FROM ScrT3Procesado INTO @T3_Fecha_Proc_BATMD, @T3_Nota_Venta_CFDI, @T3_Referencia, @T3_Importe, @T3_Valor_Subt, @T3_Valor_IVA;
             END ;         
             CLOSE ScrT3Procesado;
             
             IF ( ( @nT3Existe = 0 ) OR ( CONVERT(VARCHAR(4), ISNULL( @dtFacturaProcBATMD, '29991231' ), 112) = '2999' ) ) 
             BEGIN
                SET @nTtl_Invc_Amt = @Pagos_Ttl_Invc_Amt ;
                SET @sStatus       = 'PendienteT3'     ;
                SET @nTasa_IVA     = 00 ;
             END 
             ELSE
             BEGIN
                SET @nTtl_Invc_Amt = @nT3Importe        ;     
                
                OPEN ScrVentaUUID;
                FETCH NEXT FROM ScrVentaUUID INTO @UUID_Folio_Fiscal, @UUID_Status;
                WHILE @@FETCH_STATUS = 0
                BEGIN
                   IF ( @UUID_Status = 'CONFIRMADO' ) 
                   BEGIN
                      SET @sVenta_UUID = @UUID_Folio_Fiscal ; 
                   END ;
                   FETCH NEXT FROM ScrVentaUUID INTO @UUID_Folio_Fiscal, @UUID_Status;
                END ;   
                CLOSE ScrVentaUUID;
             END ;
          END ;          
          -- Informacion de Cobranza
             SET @nSecuenciaPagos  = 0              ;
             SET @nSecuenciaCM     = 0              ;
             SET @nAbonoPagos      = 0              ;
             SET @nAbonoCM         = 0              ;          
             SET @nSaldo_Pendiente = @nTtl_Invc_Amt ;
             SET @nImporte_Factura = @nTtl_Invc_Amt ;
          
             IF ( @strID != 'INCOBRABLE' ) 
             BEGIN
                OPEN ScrAsignaciones;
                FETCH NEXT FROM ScrAsignaciones INTO @Asig_Row_ID, @Asig_Created, @Asig_Paid_Amt, @Asig_Actl_Pay_dt, @Asig_Type_CD, @Asig_Pay_Type_CD, @Asig_Created_By, @Asig_Via_Pago, @Asig_Numero_Pago, @Asig_Cant_CM, @Asig_Integration_ID, @Asig_Factura, @Asig_Entrega, @Asig_Referencia;
                WHILE @@FETCH_STATUS = 0
                BEGIN
                   SET @sSubProcess        = 'ScrAsignaciones'     ; 
                   IF ( @sAsignacion_ID = @Asig_Row_ID ) 
                   BEGIN
                      IF ( ( @Asig_Type_CD = 'Returns' ) OR ( LEN( @Asig_Referencia ) > 0 ) ) 
                      BEGIN
                         SET @nNumero_Pago   = @nSecuenciaPagos      ;
                         SET @sNota_Credito  = @Asig_Integration_ID  ;
                         SET @sVia_Pago      = @Asig_Via_Pago        ;
--                       
                         IF (  LEN( @Asig_Referencia ) > 0 ) 
                         BEGIN
                            SET @sNota_Credito = @Asig_Referencia  ;
                            SET @sVia_Pago     = 'CM'              ;
                         END ;
                      END 
                      ELSE
                      BEGIN

                         SET @nNumero_Pago   = @nSecuenciaPagos + 1 ;
                         SET @sVia_Pago      = @Asig_Via_Pago       ;
                      END ;   
                      SET @dtFecha_Asignacion = @Asig_Created         ;
                      SET @nImporte           = @Asig_Paid_Amt        ;
                      SET @nSaldo_Anterior    = @nSaldo_Pendiente     ;
                      SET @nCant_Pagos        = @nSecuenciaPagos      ;
                      SET @nAbono_Pagos       = @nAbonoPagos          ;
                      SET @nCant_CM           = @nSecuenciaCM         ;
                      SET @nAbono_CM          = @nAbonoCM             ;
                   END ;
                 
                   IF ( ( @Asig_Type_CD = 'Returns' ) OR ( LEN( @Asig_Referencia ) > 0 ) ) 
                   BEGIN
                      SET @nSecuenciaCM    = @nSecuenciaCM    + 1         ;
                      SET @nAbonoCM        = @nAbonoCM    + @Asig_Paid_Amt ;
                   END 
                   ELSE
                   BEGIN
                      SET @nSecuenciaPagos = @nSecuenciaPagos + 1         ;  
                      SET @nAbonoPagos     = @nAbonoPagos + @Asig_Paid_Amt ;
                   END ;     
                 
                   SET @nSaldo_Pendiente = @nSaldo_Pendiente - @Asig_Paid_Amt ;        
                   FETCH NEXT FROM ScrAsignaciones INTO @Asig_Row_ID, @Asig_Created, @Asig_Paid_Amt, @Asig_Actl_Pay_dt, @Asig_Type_CD, @Asig_Pay_Type_CD, @Asig_Created_By, @Asig_Via_Pago, @Asig_Numero_Pago, @Asig_Cant_CM, @Asig_Integration_ID, @Asig_Factura, @Asig_Entrega, @Asig_Referencia;
                END ;         
                CLOSE ScrAsignaciones;
             END ;

          IF ( @dtFecha_Asignacion IS NULL ) 
          BEGIN
             SET @dtFecha_Asignacion = @dtAsig_Created ;
          END ;

          SET @sSubProcess        = 'T3.GET_CUSTOMERPAYMENT_INFO' ; 


          SET @sCteMethod = ''; 
          SET @sCteBankName = ''; 
          SET @sCteAccountNum = '';    
--
          SET @dtFechaEnvio = NULL ;
          IF ( @sRFC = 'XAXX010101000' ) 
          BEGIN
             SET @dtFechaEnvio = @dtFechaProcBATMD ;
          END ;
--    
          IF ( @sFactura = 'INCOBRABLE' ) 
          BEGIN
             SET @sVia_Pago = 'AI' ;
             SET @sNota_Credito = @strNotaCredito ;
          END ;
          --DBMS_Output.Put_Line( 'ANTES DE INSERT CANT_CM: '|| nCant_CM ) ; 
          INSERT INTO T3.CFDI_Cobranza 
             ( Folio_ID            , Asignacion_ID       , Fecha_Asignacion    , Importe             ,
               Saldo_Anterior      , Numero_Pago         , Accnt_ID            , Factura             ,
               Fecha_Factura       , Dias_Cdto           , Importe_Factura     , Created_By          ,
               DB_Last_Upd         , Banco_Nombre        , Banco_Num_Cuenta    , Numero_Cheque       ,
               Master_Banco        , Master_Cuenta       , Receptor_Banco      , Receptor_Cuenta     ,
               Pago_ID             , Fecha_Pago          , Sociedad            , Ctro                ,
               Nota_Venta          , RFC                 , Fecha_Proc_BATMD    , Fecha_Proceso       ,
               Fecha_Envio         , Tasa_IVA            , Referencia          ,
               Cant_Pagos          , Abono_Pagos         , Cant_CM             , Abono_CM            , 
               Status              , Via_Pago            , Nota_Credito        , UUID_Venta          , 
               Cliente_SAP)
          VALUES  
             ( @sFolio_ID          , @sAsignacion_ID     , @dtFecha_Asignacion , @nImporte           ,
               @nSaldo_Anterior    , @nNumero_Pago       , @sAccnt_ID          , @sFactura           ,
               @dtFecha_Factura    , @nDias_Cdto         , @nImporte_Factura   , @sCreated_By        ,
               @dtDB_Last_Upd      , @sBanco_Nombre      , @sBanco_Num_Cuenta  , @sNumero_Cheque     ,    
               @sCteBankName       , @sCteAccountNum     , @sReceptorBanco     , @sReceptorCuenta    , 
               @sPayment_Req_Num   , @dtActl_Pay_dt      , @sSociedad          , @sCtro              ,
               @sNota_Venta        , @sRFC               , @dtFechaProcBATMD   , GETDATE()           ,
               @dtFechaEnvio       , @nTasa_IVA          , @sReferencia        ,
               @nCant_Pagos        , @nAbono_Pagos       , @nCant_CM           , @nAbono_CM          , 
               @sStatus            , @sVia_Pago          , @sNota_Credito      , @sVenta_UUID        ,
               @sCliente_SAP); 
               
          FETCH NEXT FROM ScrPagos INTO @Pagos_Created_By, @Pagos_Payment_Req_Num, @Pagos_Actl_Pay_dt, @Pagos_Asignacion_ID, @Pagos_Payment_ID, @Pagos_Factura, @Pagos_Nota_Credito, @Pagos_Cliente_SAP, @Pagos_Valor_Pago, @Pagos_Fecha_Asignacion, @Pagos_Ctro, @Pagos_Invoice_ID, @Pagos_Sub_Type_CD, @Pagos_Accnt_ID, @Pagos_Ttl_Invc_Amt, @Pagos_Vendr_Invoice_Num, @Pagos_Asig_Created, @Pagos_DB_Last_Upd, @Pagos_X_Cust_Tax_Number, @Pagos_Invc_dt, @Pagos_Dias_Cdto, @Pagos_Banco_Nombre, @Pagos_Banco_Num_Cuenta, @Pagos_Numero_Cheque;
       END ;
       CLOSE ScrPagos;
       
       DEALLOCATE ScrPagos;
       DEALLOCATE ScrAsignaciones;
       DEALLOCATE ScrT3Procesado;
       DEALLOCATE ScrVentaUUID;
       DEALLOCATE ScrDebitNote;
       DEALLOCATE ScrCancPago;
       
       SET @nProceso1 = @nDoctos ;

	UPDATE EAI_OWNER.MX_COMPONENTS SET Status = 1
          WHERE Component = @nProceso ;
          
       UPDATE T3.RF_PROCESOS_LOG SET  Fin = GETDATE(), Proceso_1 = @nProceso1, Proceso_2 = @nProceso2,
                                                       Proceso_3 = @nProceso3, Proceso_4 = @nProceso4
          WHERE PID = @nPID  ;         
          
       COMMIT ;   
       
	   BEGIN TRAN

       EXEC T3.WA_CFDI_COBZA_ASIG_CTRL 3, 0 ;
       
       COMMIT ;
--   
    END TRY
    BEGIN CATCH
       IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
       
       SET @sMsg = SUBSTRING(CAST(ERROR_NUMBER() AS VARCHAR) + '-' + ERROR_MESSAGE(), 1, 250);
       SET @sMsg = SUBSTRING(ERROR_MESSAGE(), 1, 250);
       
       PRINT REPLICATE('-', 80);
       PRINT 'Problemas en la ejecucion del Procedimiento';
       PRINT 'FAVOR DE ESCALAR LOS SIGUIENTES DATOS :';
       PRINT 'Procedimiento : PROC_CFDI_PAGOS';
       PRINT 'Fecha         : ' + CONVERT(VARCHAR, GETDATE(), 112) + ' ' + CONVERT(VARCHAR, GETDATE(), 108);
       PRINT 'Referencia    : ' + ISNULL(@sAsignacion_ID, '');
       PRINT 'Substep       : ' + ISNULL(@sSubProcess    , '');
       PRINT 'Error         : ' + ISNULL(@sMsg, '');
       PRINT REPLICATE('-', 80);

       SET @sErrorCode = 'SQL-' + CAST(ERROR_NUMBER() AS VARCHAR);
       SET @sMsg = SUBSTRING(CAST(ERROR_NUMBER() AS VARCHAR) + '-' + ERROR_MESSAGE(), 1, 250);      
       
       INSERT INTO EAI_OWNER.MX_EAI_MESSAGE_LOG
         ( DIRECTION         , REFERENCE                 , CREATED             , MESSAGE        , JOB_PID,
           STATUS            , QUEUE_NAME                , SIEBEL_ERROR_MESSAGE, SOURCE         , 
           SIEBEL_ERROR_CODE , RETRY_COUNT               , SEQUENCE            , PARENT_ROW_ID   )
       VALUES 
         ( 'Job Logging'     , @sAsignacion_ID           , GETDATE()           , NULL           , @nPID  ,
           'Error'           , 'PROC_CFDI_PROCESAR_PAGOS', @sMsg               , 'PL/SQL'       ,
           @sErrorCode       , NULL                      , NULL                , NULL            ) ;

    END CATCH
END;
GO
