USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_CFDI_PROCESAR_AGR_PAGO]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[PROC_CFDI_PROCESAR_AGR_PAGO] 
    @nProcesar NUMERIC = NULL
AS
BEGIN

    DECLARE @sMsg VARCHAR(500);
    DECLARE @nDoctos NUMERIC(6,0);
    DECLARE @nAcumulado NUMERIC(16,4);
    DECLARE @nGen_Agrupacion NUMERIC(8,0);
--
    DECLARE @strID VARCHAR(50);
    DECLARE @dtInicio DATETIME;
    DECLARE @nPID NUMERIC(8,0);
    DECLARE @nProceso NUMERIC(8,0);
    DECLARE @nProceso1 NUMERIC(8,0);
    DECLARE @nProceso2 NUMERIC(8,0);
    DECLARE @nProceso3 NUMERIC(8,0);
    DECLARE @nProceso4 NUMERIC(8,0);
    DECLARE @nFOLIO_ID NUMERIC(10,0);
--
    DECLARE @sNota_Venta_CFDI VARCHAR(20);
    DECLARE @sVia_Pago VARCHAR(4);
    DECLARE @nImporteVenta NUMERIC(16,4);
    DECLARE @sFolio_Fiscal VARCHAR(40);
    DECLARE @sStatus_CFD VARCHAR(20); 
    DECLARE @nImporteCFD NUMERIC(16,4);   

--VARIABLES CURSORES
    DECLARE @Doc_Nota_Venta VARCHAR(20);
    DECLARE @Doc_Via_Pago VARCHAR(4);
    DECLARE @Doc_Fecha_Asignacion DATETIME;
    DECLARE @Doc_Importe NUMERIC(16,4);
    DECLARE @Doc_Pagos NUMERIC(6,0);

    DECLARE @CFD_Importe NUMERIC(16,4);
    DECLARE @CFD_Folio_Fiscal VARCHAR(40);
    DECLARE @CFD_Status VARCHAR(20);
    DECLARE @CFD_CFD_Importe NUMERIC(16,4);


    DECLARE ScrAgrPrompt CURSOR FOR 
        SELECT Cobza.Nota_Venta                   AS Nota_Venta      ,
               Cobza.Via_Pago                     AS Via_Pago        ,
               MAX( Cobza.Fecha_Asignacion )      AS Fecha_Asignacion,
               SUM( ISNULL( Cobza.Importe, 0 ) )  AS Importe         ,
               COUNT( Cobza.Importe )             AS Pagos
        FROM T3.CFDI_Gen_Agrupado_Fecha  Agr
        INNER JOIN T3.CFDI_Cobranza      Cobza ON Agr.Fecha_Proc_BATMD =  Cobza.Fecha_Proc_BATMD
        WHERE Agr.Proceso          =  @nGen_Agrupacion
          AND Cobza.Nota_Venta     IS NOT NULL
          AND Cobza.Nota_Venta     != Cobza.Factura
          AND Cobza.Via_Pago       != 'CM'
        GROUP BY Cobza.Nota_Venta, Cobza.Via_Pago  
        ORDER BY Cobza.Nota_Venta, Fecha_Asignacion ;
--
    DECLARE ScrCFD CURSOR FOR 
        SELECT Agr.Importe, CFD.Folio_Fiscal, CFD.Status, 
               ISNULL( CFD.Valor_Subt, 0 ) + ISNULL( CFD.Valor_IVA, 0 ) AS CFD_Importe
        FROM (
               SELECT Det.Nota_Venta_CFDI                                AS Nota_Venta,
                      SUM( ISNULL( Valor_Subt, 0 ) + ISNULL( Valor_IVA, 0 ) )  AS Importe
               FROM T3.CFDI_Agrupado_Detalle Det
               WHERE Det.Nota_Venta_CFDI = @sNota_Venta_CFDI
               GROUP BY Det.Nota_Venta_CFDI
             ) Agr
        INNER JOIN T3.CFDI_Documentos CFD ON Agr.Nota_Venta = CFD.Nota_Venta ;        
--
    BEGIN TRY
        SET @dtInicio  = GETDATE() ;
        SET @nProceso  = 107 ;
        SET @nPID      = NEXT VALUE FOR SEQ_CFD ;
        SET @nProceso1 = 0 ;
        SET @nProceso2 = 0 ;
        SET @nProceso3 = 0 ;
        SET @nProceso4 = 0 ;
        SET @nGen_Agrupacion = ISNULL( @nProcesar, 0 ) ;
--
-- Documentos Agrupados de Prompt Sales
--
        SET @nDoctos = 000 ;
       
	   begin transaction

        OPEN ScrAgrPrompt;
        FETCH NEXT FROM ScrAgrPrompt INTO @Doc_Nota_Venta, @Doc_Via_Pago, @Doc_Fecha_Asignacion, @Doc_Importe, @Doc_Pagos;
        
        WHILE @@FETCH_STATUS = 0
        BEGIN
           SET @nProceso1         = @nProceso1 + 1  ;
           SET @sNota_Venta_CFDI  = @Doc_Nota_Venta ;     
           SET @strID             = @Doc_Nota_Venta ;
           SET @sVia_Pago         = @Doc_Via_Pago   ;
           
           SELECT @nDoctos = MAX( ISNULL( Cant_Pagos, 0 ) ),  
                  @nAcumulado = SUM( ISNULL( Cant_Pagos, 0 ) )
             FROM T3.CFDI_Cobranza_Agrupada 
             WHERE Nota_Venta = @sNota_Venta_CFDI ;
             
           IF ( ISNULL( @nDoctos, 0 ) = 0 ) 
           BEGIN
               SET @nDoctos    = 1 ;
               SET @nAcumulado = 0 ;            
           END ;
           
           OPEN ScrCFD;
           FETCH NEXT FROM ScrCFD INTO @CFD_Importe, @CFD_Folio_Fiscal, @CFD_Status, @CFD_CFD_Importe;
           
           WHILE @@FETCH_STATUS = 0
           BEGIN
               SET @nImporteVenta  = @CFD_Importe      ;
               SET @sFolio_Fiscal  = @CFD_Folio_Fiscal ;
               SET @sStatus_CFD    = @CFD_Status       ; 
               SET @nImporteCFD    = @CFD_CFD_Importe  ;
               
               FETCH NEXT FROM ScrCFD INTO @CFD_Importe, @CFD_Folio_Fiscal, @CFD_Status, @CFD_CFD_Importe;
           END;
           CLOSE ScrCFD;
           
           SET @nFOLIO_ID = 0 ;         
           
           INSERT INTO T3.CFDI_Cobranza_Agrupada 
               ( FOLIO_ID             , Nota_Venta           , UUID_Venta           , Fecha_Pago           ,
                 Via_Pago             , Cant_Pagos           , Abono_Pagos          , Importe              ,
                 Importe_Factura      , Pagos                , Fecha_Registro        )
           VALUES
               ( @nFOLIO_ID           , @sNota_Venta_CFDI    , @sFolio_Fiscal       , @Doc_Fecha_Asignacion ,
                 @Doc_Via_Pago        , @nDoctos             , @nAcumulado          , @Doc_Importe         ,
                 @nImporteVenta       , @Doc_Pagos           , GETDATE()             ) ;
                 
           SET @nProceso2 = @nProceso2 + @Doc_Pagos ;                       
--
/* INSERT INTO T3.CFDI_Historia_Docto_PAC
--           ( Nota_Venta, Ctro, Fecha_Factura, Nota_Venta_CFDI )
            SELECT Cobza.ROWID              AS Cobza_RowID  ,
                   Cobza.Folio_ID           AS Folio_ID     ,
                   Cobza.Asignacion_ID      AS Asignacion_ID,
                   Cobza.Pago_ID            AS Pago_ID      ,
                   Cobza.Fecha_Asignacion   AS Fecha_Pago   ,
                   Cobza.Importe            AS Importe
            FROM T3.CFDI_Gen_Agrupado_Fecha  Agr  ,
                 T3.CFDI_Cobranza            Cobza
            WHERE Agr.Proceso          = nGen_Agrupacion
              AND Agr.Fecha_Proc_BATMD = Cobza.Fecha_Proc_BATMD
              AND Cobza.Nota_Venta     = sNota_Venta_CFDI
              AND Cobza.Via_Pago       = sVia_Pago ;   */
--
-- En caso que marque un Error de Agrupado
--   se debera excluir este docummento en la sig. linea
--
           IF ( @sNota_Venta_CFDI != 'G-V2280-4840' ) 
           BEGIN
--          PROC_CFDI_GENERAR_AGR( sNota_Venta_CFDI ) ;  
              SET @nPID = @nPID + 0 ;        
           END ;   
           
           FETCH NEXT FROM ScrAgrPrompt INTO @Doc_Nota_Venta, @Doc_Via_Pago, @Doc_Fecha_Asignacion, @Doc_Importe, @Doc_Pagos;
        END ;
        
        CLOSE ScrAgrPrompt;
        DEALLOCATE ScrAgrPrompt;
        DEALLOCATE ScrCFD;
        
        SET @nProceso3 = @nDoctos ;
--
        INSERT INTO T3.RF_PROCESOS_LOG 
           ( PID , Proceso , Fecha_Proc_BATMD, Inicio  , Fin    , Proceso_1, Proceso_2, Proceso_3, Proceso_4 )
        VALUES 
           ( @nPID, @nProceso, NULL, @dtInicio, GETDATE(), @nProceso1, @nProceso2, @nProceso3, @nProceso4 ) ;   
           
        COMMIT ;
--   
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        
        SET @sMsg = SUBSTRING(CAST(ERROR_NUMBER() AS VARCHAR) + '-' + ERROR_MESSAGE(), 1, 250);
        SET @sMsg = SUBSTRING(ERROR_MESSAGE(), 1, 250);
        
        PRINT REPLICATE('-', 80);
        PRINT 'Problemas en la ejecucion del Procedimiento';
        PRINT 'FAVOR DE ESCALAR LOS SIGUIENTES DATOS :';
        PRINT 'Procedimiento : PROC_CFDI_PROCESAR_AGR_PAGO';
        PRINT 'Fecha         : ' + CONVERT(VARCHAR, GETDATE(), 112) + ' ' + CONVERT(VARCHAR, GETDATE(), 108);
        PRINT 'Referencia    : ' + ISNULL(@strID, '');
        PRINT 'Error         : ' + ISNULL(@sMsg, '');
        PRINT REPLICATE('-', 80);
        
        INSERT INTO T3.RF_ERROR_LOG 
           ( FECHA, RUTINA, REFERENCIA, ERROR_DESC )
        VALUES
           ( GETDATE(), 'PROC_CFDI_PROCESAR_AGR_PAGO', @strID, @sMsg ) ;

    END CATCH
END;
GO
