USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_CORRIGE_BONIF]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[PROC_CORRIGE_BONIF] 
    @P_CTRO VARCHAR(50)
AS
BEGIN

    DECLARE @VALOR VARCHAR(30);
    DECLARE @RESP CHAR(1);
    DECLARE @V_Factura VARCHAR(30);

	--VARIABLE CURSOR
    DECLARE @Ren_Factura VARCHAR(50);
    DECLARE @Ren_Valor_Subt NUMERIC(18,4);
    DECLARE @Ren_Valor_IVA NUMERIC(18,4);
    DECLARE @Ren_Bonif_Subt NUMERIC(18,4);
    DECLARE @Ren_Bonif_IVA NUMERIC(18,4);
    DECLARE @Ren_Bonif_Vol NUMERIC(18,4);
    DECLARE @Ren_Bonif_Porc NUMERIC(18,4);

    DECLARE Scr_Preventa CURSOR FOR 
        SELECT PG.Factura, 
               SUM( PD.Valor_Subt + ISNULL( PD.Envio_Subt, 0 ) )  AS Valor_Subt,
               SUM( PD.Valor_IVA  + ISNULL( PD.Envio_IVA , 0 ) )  AS Valor_IVA ,
               SUM( PD.Bonif_Subt )                               AS Bonif_Subt, 
               SUM( PD.Bonif_IVA  )                               AS Bonif_IVA , 
               SUM( PD.Bonif_Vol  )                               AS Bonif_Vol , 
               AVG( PD.Bonif_Porc )                               AS Bonif_Porc
        FROM T3.Preventa_General PG, 
             T3.Preventa_Detalle PD            
        WHERE PG.Centro            = @P_CTRO
          AND PG.Fecha_Proc_BATMD IS NULL
          AND PG.Factura           = PD.Factura
          AND PG.Fecha_Trn        >= CAST( DATEADD(DAY, -1, GETDATE()) AS DATE )
        GROUP BY PG.Factura  
        HAVING SUM( PD.Bonif_Subt ) > 0
            OR SUM( PD.Bonif_Vol  ) > 0 ;   

    BEGIN TRY
		BEGIN TRAN

        UPDATE T3.Preventa_General 
           SET Bonif_Subt = ISNULL( Bonif_Subt, 0 ) ,
               Bonif_IVA  = ISNULL( Bonif_IVA , 0 ) ,
               Bonif_Vol  = ISNULL( Bonif_Vol , 0 ) ,
               Bonif_Porc = ISNULL( Bonif_Porc, 0 ) 
         WHERE Centro            = @P_CTRO
           AND Fecha_Proc_BATMD IS NULL ;
--   
        OPEN Scr_Preventa;
        FETCH NEXT FROM Scr_Preventa INTO @Ren_Factura, @Ren_Valor_Subt, @Ren_Valor_IVA, @Ren_Bonif_Subt, @Ren_Bonif_IVA, @Ren_Bonif_Vol, @Ren_Bonif_Porc;
        
        WHILE @@FETCH_STATUS = 0
        BEGIN
           UPDATE T3.Preventa_General 
              SET Valor_Subt      = @Ren_Valor_Subt,
                  Valor_IVA       = @Ren_Valor_IVA ,
                  Bonif_Subt      = @Ren_Bonif_Subt,
                  Bonif_IVA       = @Ren_Bonif_IVA ,
                  Bonif_Vol       = @Ren_Bonif_Vol ,
                  Bonif_Porc      = @Ren_Bonif_Porc
            WHERE Factura = @Ren_Factura ;     
            
           FETCH NEXT FROM Scr_Preventa INTO @Ren_Factura, @Ren_Valor_Subt, @Ren_Valor_IVA, @Ren_Bonif_Subt, @Ren_Bonif_IVA, @Ren_Bonif_Vol, @Ren_Bonif_Porc;
        END ;
        
        CLOSE Scr_Preventa;
        DEALLOCATE Scr_Preventa;
        
        COMMIT ;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        
        PRINT '********Mensaje*********' ;
        PRINT 'Error en PROC_CORRIGE_CE' ;
    END CATCH
END ;
GO
