USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_V40_GENERAR_MX01]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[PROC_V40_GENERAR_MX01] 
(
    @pFactura VARCHAR(MAX)
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @strID VARCHAR(30);
    DECLARE @sMsg VARCHAR(500); 
    DECLARE @sCtro VARCHAR(4);
    DECLARE @sStepPLSQL VARCHAR(60);   
    --
    --
    DECLARE @uHEADER VARCHAR(4000);
    DECLARE @uIMPFAC VARCHAR(4000);
    DECLARE @uLINFAC VARCHAR(MAX);          -- CLOB
    DECLARE @sCFDIREL VARCHAR(4000);
    DECLARE @nCFDIREL INT;                  -- NUMBER(03)
    DECLARE @sUsoCFDI VARCHAR(20);
    DECLARE @sReturn VARCHAR(MAX);          
    DECLARE @sCABCLIE VARCHAR(4000);
    DECLARE @sADULFAC VARCHAR(4000);
    DECLARE @sLeyMenor VARCHAR(4000);
    DECLARE @sLeyPriv VARCHAR(4000);   
    DECLARE @sSepLinea VARCHAR(4);
    DECLARE @sSepCampo VARCHAR(4);
    DECLARE @sTipoDocto VARCHAR(4);
    DECLARE @sAgrupacion VARCHAR(60);
    DECLARE @nLineas INT;                   -- NUMBER(03)
    DECLARE @nLineasImp INT;                -- NUMBER(03)
    DECLARE @nLineasLey INT;                -- NUMBER(03)
    DECLARE @nEnajenado DECIMAL(22,0);      -- NUMBER(22)
    DECLARE @sFactura VARCHAR(60);
    DECLARE @sMaterial VARCHAR(60);
    DECLARE @nTotal DECIMAL(22,2);
    DECLARE @nItems DECIMAL(22,2);   
    DECLARE @sData VARCHAR(MAX);            -- CLOB
    DECLARE @sSAT_ID VARCHAR(30);
    DECLARE @sSAT_UM VARCHAR(30);
    DECLARE @sIdentificacion VARCHAR(30);   
    --
    DECLARE @nCantPedimento INT;            -- NUMBER(06)
    DECLARE @sPedimentos VARCHAR(1000);
    --
    DECLARE @spedidoV3 VARCHAR(400);
    DECLARE @ssucursalNombre VARCHAR(400);
    DECLARE @spedidoSAP VARCHAR(400);
    DECLARE @sfacturaSAP VARCHAR(400);
    DECLARE @sRecibe_Nombre VARCHAR(400);
    DECLARE @sRemite_Calle VARCHAR(400);
    DECLARE @sRemite_noExterior VARCHAR(400);
    DECLARE @sRemite_noInterior VARCHAR(400);
    DECLARE @sRemite_colonia VARCHAR(400);
    DECLARE @sRemite_municipio VARCHAR(400);
    DECLARE @sRemite_estado VARCHAR(400);
    DECLARE @sRemite_pais VARCHAR(400);
    DECLARE @sRemite_codigoPostal VARCHAR(400);
    DECLARE @sTipo_Documento VARCHAR(400);
    DECLARE @sRecibe_Cliente VARCHAR(400);
    DECLARE @sRemite_Cliente VARCHAR(400);
    DECLARE @sCentroExpedicion VARCHAR(400);
    DECLARE @sLugarExpedicion VARCHAR(400);
    DECLARE @seMail VARCHAR(400);                 

    -- Variables cursores
    DECLARE @Doc_Doc_Total DECIMAL(24,6), @Doc_Ctro VARCHAR(MAX), @Doc_Tipo_Docto VARCHAR(MAX), @Doc_Factura VARCHAR(MAX),
            @Doc_versionCFDI VARCHAR(MAX), @Doc_serie VARCHAR(MAX), @Doc_folio VARCHAR(MAX), @Doc_pedidoV3 VARCHAR(MAX),
            @Doc_pedidoSAP VARCHAR(MAX), @Doc_facturaSAP VARCHAR(MAX), @Doc_repVentas VARCHAR(MAX), @Doc_sucursalNombre VARCHAR(MAX),
            @Doc_fecha_Reenvio VARCHAR(MAX), @Doc_fecha VARCHAR(MAX), @Doc_tipoDeComprobante VARCHAR(MAX), @Doc_formaDePago VARCHAR(MAX),
            @Doc_condicionesDePago VARCHAR(MAX), @Doc_motivoDescuento VARCHAR(MAX), @Doc_Descuento DECIMAL(24,6), @Doc_subTotal VARCHAR(MAX),
            @Doc_total VARCHAR(MAX), @Doc_metodoDePago VARCHAR(MAX), @Doc_NumCtaPago VARCHAR(MAX), @Doc_TipoCambio VARCHAR(MAX),
            @Doc_Moneda VARCHAR(MAX), @Doc_LugarExpedicion VARCHAR(MAX), @Doc_Emisor_RFC VARCHAR(MAX), @Doc_Emisor_Nombre VARCHAR(MAX),
            @Doc_Emisor_Calle VARCHAR(MAX), @Doc_Emisor_NoExterior VARCHAR(MAX), @Doc_Emisor_NoInterior VARCHAR(MAX), @Doc_Emisor_Colonia VARCHAR(MAX),
            @Doc_Emisor_Localidad VARCHAR(MAX), @Doc_Emisor_Municipio VARCHAR(MAX), @Doc_Emisor_Estado VARCHAR(MAX), @Doc_Emisor_Pais VARCHAR(MAX),
            @Doc_Emisor_CodigoPostal VARCHAR(MAX), @Doc_Expide_Calle VARCHAR(MAX), @Doc_Expide_noExterior VARCHAR(MAX), @Doc_Expide_noInterior VARCHAR(MAX),
            @Doc_Expide_colonia VARCHAR(MAX), @Doc_Expide_municipio VARCHAR(MAX), @Doc_Expide_estado VARCHAR(MAX), @Doc_Expide_pais VARCHAR(MAX),
            @Doc_Expide_codigoPostal VARCHAR(MAX), @Doc_RegimenFiscal VARCHAR(MAX), @Doc_Recibe_RFC VARCHAR(MAX), @Doc_Recibe_Nombre VARCHAR(MAX),
            @Doc_Recibe_Calle VARCHAR(MAX), @Doc_Recibe_NoExterior VARCHAR(MAX), @Doc_Recibe_NoInterior VARCHAR(MAX), @Doc_Recibe_Colonia VARCHAR(MAX),
            @Doc_Recibe_Localidad VARCHAR(MAX), @Doc_Recibe_Municipio VARCHAR(MAX), @Doc_Recibe_Estado VARCHAR(MAX), @Doc_Recibe_Pais VARCHAR(MAX),
            @Doc_Recibe_CodigoPostal VARCHAR(MAX), @Doc_Remite_Calle VARCHAR(MAX), @Doc_Remite_noExterior VARCHAR(MAX), @Doc_Remite_noInterior VARCHAR(MAX),
            @Doc_Remite_colonia VARCHAR(MAX), @Doc_Remite_municipio VARCHAR(MAX), @Doc_Remite_estado VARCHAR(MAX), @Doc_Remite_pais VARCHAR(MAX),
            @Doc_Remite_codigoPostal VARCHAR(MAX), @Doc_Tipo_Documento VARCHAR(MAX), @Doc_Recibe_Cliente VARCHAR(MAX), @Doc_Remite_Cliente VARCHAR(MAX),
            @Doc_CentroExpedicion VARCHAR(MAX), @Doc_eMail VARCHAR(MAX), @Doc_ConfirmacionPAC VARCHAR(MAX), @Doc_UsoCFDI VARCHAR(MAX),
            @Doc_ResidenciaFiscal VARCHAR(MAX), @Doc_RegTributarioExt VARCHAR(MAX), @Doc_TipoRelacion VARCHAR(MAX), @Doc_ImpuestosTrasladados VARCHAR(MAX),
            @Doc_impuesto VARCHAR(MAX), @Doc_tasa VARCHAR(MAX), @Doc_importe VARCHAR(MAX);
    DECLARE @Item_numLinea VARCHAR(MAX), @Item_cantidad VARCHAR(MAX), @Item_unidad VARCHAR(MAX), @Item_noIdentificacion VARCHAR(MAX),
            @Item_descripcion VARCHAR(MAX), @Item_Cig_x_Unidad_Vta DECIMAL(22,2), @Item_valorUnitario VARCHAR(MAX), @Item_importe VARCHAR(MAX),
            @Item_SKU_importacion VARCHAR(MAX), @Item_RFD_Valor_Subt DECIMAL(24,6), @Item_RFD_Valor_IVA DECIMAL(24,6), @Item_RFD_TASA_IVA DECIMAL(24,6),
            @Item_PDF_Valor_Subt VARCHAR(MAX), @Item_PDF_Valor_IVA VARCHAR(MAX), @Item_PDF_TASA_IVA VARCHAR(MAX), @Item_Channel VARCHAR(MAX);
    DECLARE @PedImp_NUMADU VARCHAR(MAX), @PedImp_GLNAduana VARCHAR(MAX), @PedImp_NomAduana VARCHAR(MAX), @PedImp_Pedimento VARCHAR(MAX), @PedImp_FecPedimento VARCHAR(MAX);
    DECLARE @Adi_Linea INT, @Adi_Texto VARCHAR(MAX);
    DECLARE @Env_Folio_Fiscal VARCHAR(MAX), @Env_Fecha_Factura DATETIME;

    DECLARE ScrDatos CURSOR LOCAL FORWARD_ONLY STATIC FOR
       SELECT 
             ISNULL( RF.Valor_Subtotal, 0 ) + 
             ISNULL( RF.Valor_IVA     , 0 )                        AS Doc_Total          ,
             RF.Ctro                                               AS Ctro               ,
             RF.Tipo_Docto                                         AS Tipo_Docto         ,
             RF.Factura                                            AS Factura            ,
             '4.0'                                                 AS versionCFDI        ,
             SUBSTRING( RF.Factura, 1, 4 )                         AS serie              , 
             LTRIM(RTRIM(CAST(CAST(SUBSTRING( RF.Factura, 6, 10 ) AS DECIMAL(18,0)) AS VARCHAR))) AS folio,
             RF.Referencia                                         AS pedidoV3           ,
             RF.Pedido                                             AS pedidoSAP          ,
             RF.Entrega                                            AS facturaSAP         ,
             Comp.Rep_ID                                           AS repVentas          ,
             ''                                                    AS sucursalNombre     ,
             FORMAT( GETDATE(), 'yyyyMMddHHmmss' )                 AS fecha_Reenvio      ,
             FORMAT( RF.Fecha_Factura, 'yyyyMMdd' ) 
                 + REPLACE( Comp.Hora_Factura, ':', '' )           AS fecha              ,                 
             CASE WHEN RF.Tipo_Docto IN ('Z020', 'C020') THEN 'I' ELSE 'E' END AS tipoDeComprobante,
             EAI_Owner.getConv( 'CFG Settings', 'Forma Pago' )                                                   
                                                                   AS formaDePago        ,
             RIGHT('000' + ISNULL( CAST(Cte.Dias_Cdto AS VARCHAR), '0'), 3 ) AS condicionesDePago  ,     
             'Descuento'                                           AS motivoDescuento    ,
             CASE WHEN RF.Tipo_Venta = 'VD' THEN 0 ELSE ISNULL( RF.Bonif_Subt, 0 ) END AS Descuento,
             LTRIM(RTRIM(CAST(CAST(RF.Valor_Subtotal        
                   + CASE WHEN RF.Desglose_IVA = 'N' THEN RF.Valor_IVA ELSE 0 END
                            AS DECIMAL(24,2)) AS VARCHAR)))        AS subTotal           ,
             LTRIM(RTRIM(CAST(CAST(RF.Valor_Subtotal + RF.Valor_IVA                    
                            AS DECIMAL(24,2)) AS VARCHAR)))        AS total              ,
             EAI_Owner.getConv( 'CFG Settings', 'Metodo Pago Individual' )
                                                                   AS metodoDePago       ,                      
             EAI_Owner.getConv( 'TMD_PAC Payment Method', 'BAT Productora Ref Banco' )
                                                                   AS NumCtaPago         ,                  
             '1'                                                   AS TipoCambio         ,
             'MXN'                                                 AS Moneda             , 
                 [T3].[FN_TRIM_CFDI]( Cte.Ciudad_1 ) + ', ' +
                 [T3].[FN_TRIM_CFDI]( 
                    EAI_Owner.getConv( 'CFDI Estado', Cte.Estado_1 ) ) 
                                                                   AS LugarExpedicion    ,   
             [T3].[FN_TRIM_CFDI]( Soc.RFC              )           AS Emisor_RFC         ,
             [T3].[FN_TRIM_CFDI]( Soc.Razon_Social_HH  )           AS Emisor_Nombre      ,
             [T3].[FN_TRIM_CFDI]( Soc.Calle            )           AS Emisor_Calle       , 
             [T3].[FN_TRIM_CFDI]( Soc.Numero_Ext       )           AS Emisor_NoExterior  ,
             [T3].[FN_TRIM_CFDI]( Soc.Numero_Int       )           AS Emisor_NoInterior  ,
             [T3].[FN_TRIM_CFDI]( Soc.Colonia          )           AS Emisor_Colonia     ,
             [T3].[FN_TRIM_CFDI]( Soc.Localidad        )           AS Emisor_Localidad   ,
             [T3].[FN_TRIM_CFDI]( Soc.Municipio        )           AS Emisor_Municipio   ,
             [T3].[FN_TRIM_CFDI](              
                 EAI_Owner.getConv( 'CFDI Estado',
                                    Soc.Estado ) )                 AS Emisor_Estado      , 
             [T3].[FN_TRIM_CFDI]( Soc.Pais             )           AS Emisor_Pais        ,
             [T3].[FN_TRIM_CFDI]( Soc.Codigo_Postal )              AS Emisor_CodigoPostal,
             [T3].[SeparaDireccion]( Cte.Direccion_1, 'Calle' )          
                                                                   AS Expide_Calle       , 
             [T3].[SeparaDireccion]( Cte.Direccion_1, 'Num'   )          
                                                                   AS Expide_noExterior  ,
             ''                                                    AS Expide_noInterior  ,
             [T3].[FN_TRIM_CFDI]( Cte.Colonia_1          )         AS Expide_colonia     ,
             [T3].[FN_TRIM_CFDI]( Cte.Ciudad_1           )         AS Expide_municipio   ,
             [T3].[FN_TRIM_CFDI]( 
                 EAI_Owner.getConv( 'CFDI Estado',
                                    Cte.Estado_1  )   )            AS Expide_estado      ,
             'México'                                              AS Expide_pais        ,
             [T3].[FN_TRIM_CFDI]( 
                 RIGHT('00000' + ISNULL( Cte.Codigo_Postal_1, ''), 5 )  ) AS Expide_codigoPostal,
             EAI_Owner.getConv( 'CFG Settings', 'Regimen Fiscal' )             
                                                                   AS RegimenFiscal      ,
             [T3].[FN_TRIM_CFDI]( BAT.RFC              )           AS Recibe_RFC         ,
             [T3].[FN_TRIM_CFDI]( BAT.Razon_Social_HH  )           AS Recibe_Nombre      ,
             [T3].[FN_TRIM_CFDI]( BAT.Calle            ) + ' ' +            
             [T3].[FN_TRIM_CFDI]( BAT.Numero_Ext       )
                                                                   AS Recibe_Calle       , 
             [T3].[FN_TRIM_CFDI]( BAT.Numero_Ext       )           AS Recibe_NoExterior  ,
             [T3].[FN_TRIM_CFDI]( BAT.Numero_Int       )           AS Recibe_NoInterior  ,
             [T3].[FN_TRIM_CFDI]( BAT.Colonia          )           AS Recibe_Colonia     ,
             [T3].[FN_TRIM_CFDI]( BAT.Localidad        )           AS Recibe_Localidad   ,
             [T3].[FN_TRIM_CFDI]( BAT.Municipio        )           AS Recibe_Municipio   ,
             [T3].[FN_TRIM_CFDI](
                 EAI_Owner.getConv( 'CFDI Estado',
                                    BAT.Estado ) )                 AS Recibe_Estado      ,
             [T3].[FN_TRIM_CFDI]( BAT.Pais           )             AS Recibe_Pais        ,
             [T3].[FN_TRIM_CFDI]( BAT.Codigo_Postal  )             AS Recibe_CodigoPostal,
             [T3].[SeparaDireccion]( Cte.Direccion_2, 'Calle' ) + ' ' +      
             [T3].[SeparaDireccion]( Cte.Direccion_2, 'Num'   )          
                                                                   AS Remite_Calle       ,
             [T3].[SeparaDireccion]( Cte.Direccion_2, 'Num'   )          
                                                                   AS Remite_noExterior  ,
             ''                                                    AS Remite_noInterior  ,
             [T3].[FN_TRIM_CFDI]( Cte.Colonia_2          )         AS Remite_colonia     ,
             [T3].[FN_TRIM_CFDI]( Cte.Ciudad_2           )         AS Remite_municipio   ,
             [T3].[FN_TRIM_CFDI]( 
                 EAI_Owner.getConv( 'CFDI Estado',
                                    Cte.Estado_2  )   )            AS Remite_estado      ,
             'México'                                              AS Remite_pais        ,
             [T3].[FN_TRIM_CFDI]( 
                 RIGHT('00000' + ISNULL( Cte.Codigo_Postal_2, ''), 5 )  ) AS Remite_codigoPostal,
             CASE WHEN RF.Tipo_Docto IN ('Z003','Z005','Z007','Z014','Z0FX','Z020','C003','C005','C007','C014','C0FX','C020') THEN 'FACTURA' ELSE 'NOTA DE CREDITO' END AS Tipo_Documento,
             Cte.Clase_Clte                                        AS Recibe_Cliente     ,
             Cte.Cliente_SAP                                       AS Remite_Cliente     ,
             RF.Ctro                                               AS CentroExpedicion   ,
             ''                                                    AS eMail              ,
             ''                                                    AS ConfirmacionPAC    ,
             CASE WHEN RF.Tipo_Docto = 'C020' THEN EAI_Owner.getConv( 'CFG Settings', 'UsoCFDI_Productora' ) ELSE EAI_Owner.getConv( 'CFG Settings', 'UsoCFDI_Productora_NC' ) END AS UsoCFDI,
             ''                                                    AS ResidenciaFiscal   ,
             ''                                                    AS RegTributarioExt   ,
             ''                                                    AS TipoRelacion       ,             
             LTRIM(RTRIM(CAST(CAST(RF.Valor_IVA AS DECIMAL(24,2)) AS VARCHAR))) AS ImpuestosTrasladados,
             'IVA'                                                 AS impuesto            , 
             LTRIM(RTRIM(CAST(CAST(ROUND( ISNULL(RF.Valor_IVA,0) * 100 / NULLIF(RF.Valor_Subtotal,0), 0 ) AS INT) AS VARCHAR)))    AS tasa                ,
             LTRIM(RTRIM(CAST(CAST(RF.Valor_IVA AS DECIMAL(24,2)) AS VARCHAR))) AS importe
         FROM T3.Registro_Fiscal      RF  
         INNER JOIN T3.Cliente              Cte  ON RF.Cliente_V3 = Cte.Cliente_V3 AND RF.Fecha_Factura BETWEEN Cte.Fecha_Ini_Vig AND Cte.Fecha_Fin_Vig
         INNER JOIN T3.RF_Complemento       Comp ON RF.Factura = Comp.Factura
         INNER JOIN EAI.ZSDFE_Soc           Soc  ON Comp.Sociedad = Soc.BUKRS AND Comp.Sociedad = ISNULL( Soc.KUNNR, 'NULL' )
         LEFT OUTER JOIN EAI.ZSDFE_Soc           BAT  ON Cte.Clase_Clte = ISNULL( BAT.KUNNR, 'NULL' )
         INNER JOIN T3.Tipo_Documento       TD   ON RF.Tipo_Docto = TD.Tipo_Documento
         LEFT OUTER JOIN ( 
                 SELECT
                        Alm.Ctro                                            AS Almacen_Ctro        ,
                        Alm.Municipio + ', ' + Alm.Estado                   AS Almacen_Lugar_Expide,
                        Alm.Calle                                           AS Almacen_Calle       ,
                        Alm.Numero_Exterior                                 AS Almacen_NoExterior  ,
                        ''                                                  AS Almacen_NoInterior  ,                                                       
                        Alm.Colonia                                         AS Almacen_Colonia     ,
                        [T3].[FN_TRIM_CFDI]( Alm.Municipio       )          AS Almacen_Municipio   ,
                        [T3].[FN_TRIM_CFDI]( Alm.Estado          )          AS Almacen_Estado      ,
                        [T3].[FN_TRIM_CFDI]( Alm.Pais            )          AS Almacen_Pais        , 
                        [T3].[FN_TRIM_CFDI]( Alm.Codigo_Postal   )          AS Almacen_codigoPostal             
                   FROM T3.Distribuidor_Fiscal  Alm
                   WHERE Alm.Ctro LIKE 'MX%' 
         ) Alm ON Cte.Ctro = Alm.Almacen_Ctro
         WHERE RF.Factura            = @pFactura
           AND RF.Tipo_Docto        IN ( 'C019', 'C0FX', 'C020', 'C021', 'C022' ) 
           AND TD.CFD                = 'NO';                               

    DECLARE ScrDetalle CURSOR LOCAL FORWARD_ONLY STATIC FOR
                    SELECT
                                  LTRIM(RTRIM(CAST(RFD.Num_Linea AS VARCHAR))) AS numLinea            ,
                                  LTRIM(RTRIM(CAST(RFD.Cantidad_Vta AS VARCHAR))) AS cantidad            ,  
                                  CASE 
                                     WHEN RF.Tipo_Docto IN ('Z024','Z022','C024','C022') THEN 'DCTO'
                                     WHEN RF.Tipo_Docto IN ('Z019','Z0FX','C019','C0FX') THEN 'UA'
                                     WHEN RFD.Unidad_Med_Vta = 'CXT' THEN 'CAJ'
                                     WHEN RFD.Unidad_Med_Vta = 'PAC' THEN 'PAQ'
                                     ELSE RFD.Unidad_Med_Vta 
                                  END                                          AS unidad              ,
                                  [T3].[FN_SAP_SKU]( RFD.Material )            AS noIdentificacion    ,  
                                  [T3].[FN_TRIM_CFDI]( Prod.Nombre_Material )  AS descripcion         ,
                                  ISNULL( Prod.Cig_x_CLL, 0 )                  AS Cig_x_Unidad_Vta    ,
                                  LTRIM(RTRIM(CAST(CAST(RFD.Precio_Unit AS DECIMAL(24,2)) AS VARCHAR))) AS valorUnitario      ,
                                  LTRIM(RTRIM(CAST(CAST(RFD.Precio_Unit * RFD.Cantidad_Vta AS DECIMAL(24,2)) AS VARCHAR))) AS importe             ,
                                  ISNULL( Ped.Pedimento, 'NO' )                AS SKU_importacion     ,
                                  ISNULL( RFD.Valor_Subt, 0 )                  AS RFD_Valor_Subt      ,
                                  ISNULL( RFD.Valor_IVA , 0 )                  AS RFD_Valor_IVA       ,
                                  ROUND( ISNULL(RFD.Valor_IVA,0) * 100 / NULLIF(RFD.Valor_Subt,0), 2 ) AS RFD_TASA_IVA        ,
                                  LTRIM(RTRIM(CAST(CAST(ISNULL( RFD.Valor_Subt, 0 ) AS DECIMAL(24,2)) AS VARCHAR))) AS PDF_Valor_Subt      ,
                                  LTRIM(RTRIM(CAST(CAST(ISNULL( RFD.Valor_IVA , 0 ) AS DECIMAL(24,2)) AS VARCHAR))) AS PDF_Valor_IVA       ,
                                  LTRIM(RTRIM(CAST(CAST(ROUND( ISNULL(RFD.Valor_IVA,0) * 100 / NULLIF(RFD.Valor_Subt,0), 2 ) AS INT) AS VARCHAR))) AS PDF_TASA_IVA        ,
                                  ISNULL( Prod.CIA, 'BAT' )                    AS Channel
                     FROM T3.Registro_Fiscal         RF  
                     INNER JOIN T3.Registro_Fiscal_Detalle RFD ON RF.Factura = RFD.Factura
                     INNER JOIN T3.Material                Prod ON RFD.Material = Prod.Material
                     LEFT OUTER JOIN T3.RF_Pedimento_SKU   Ped ON RFD.Material = Ped.Material
                     WHERE RF.Factura   = @pFactura 
                     ORDER BY RFD.Num_Linea ;

    DECLARE ScrImportacion CURSOR LOCAL FORWARD_ONLY STATIC FOR
       SELECT Ped.Aduana_Numero            AS NUMADU      ,
              SKU.GLNAduana                AS GLNAduana   ,
              Ped.Aduana_Nombre            AS NomAduana   ,
              Ped.Pedimento                AS Pedimento   ,
              FORMAT( Ped.Fecha,
                'ddMMyyyy' )               AS FecPedimento
       FROM T3.RF_PEDIMENTO_DETALLE Ped
       LEFT OUTER JOIN T3.RF_PEDIMENTO_SKU SKU ON Ped.SKU = SKU.Material
       WHERE Ped.Folio_Fiscal = @sFactura
         AND Ped.SKU          = REPLACE( @sMaterial, '.', '' ) ;

    DECLARE ScrTextoAdicional CURSOR LOCAL FORWARD_ONLY STATIC FOR
       SELECT 1000 + Linea AS Linea, Texto
          FROM T3.CFDI_TEXTO_ADICIONAL
          WHERE Nota_Venta = @pFactura
          ORDER BY Created, Linea ;
                    
    DECLARE ScrReenvio CURSOR LOCAL FORWARD_ONLY STATIC FOR
       SELECT Folio_Fiscal, Fecha_Factura
          FROM T3.CFDI_Reproceso 
          WHERE Nota_Venta = @pFactura
          ORDER BY Fecha DESC ;            

    BEGIN TRY 
       SET @strID      = @pFactura ;
       SET @sReturn    = '' ; 
       SET @sCABCLIE   = '' ;
       SET @sADULFAC   = '' ;
       SET @nTotal     = 00 ;
       SET @nItems     = 00 ;   
--   
       SET @uHEADER    = '' ;
       SET @uIMPFAC    = '' ;
       SET @uLINFAC    = '' ;   
       SET @sSepLinea  = CHAR(13) + CHAR(10) ;
       SET @sSepCampo  = '|' ;
       SET @sLeyMenor  = 'Le recordamos que las Leyes prohíben y sancionan la venta de cigarros a menores de 18 años de edad '  +
                         'y en unidades sueltas. En caso de duda solicite identificación oficial. Ayúdenos a que los menores '  +
                         'de edad no tengan acceso a los cigarros.' ;
       /*SET @sLeyPriv   = 'British American Tobacco México S.A. de C.V. y subsidiarias protegen los datos personales de sus clientes ' +
                         'que son tratados por nuestra empresa. Para mayor información consultar el aviso de privacidad en www.batmexico.com.mx' ;
       SET @sLeyPriv   = 'British American Tobacco México, S.A. de C.V. y empresas relacionadas, con domicilio indicado arriba, utilizará los datos personales ' +
                         'que usted entregue voluntariamente en este documento para cumplir con las políticas, procedimientos y requisitos legales aplicables, ' +
                         'para llevar un registro adecuado de los proveedores y clientes, y para coordinar los servicios prestados por y para el Grupo. '        +
                         'Para mayor información respecto al tratamiento de sus datos personales o al ejercicio de sus derechos ARCO consulte nuestro aviso '    +
                         'de privacidad en www.batmexico.com.mx.' ;*/
       SET @sLeyPriv   = 'British American Tobacco México, S.A. de C.V. y sus empresas relacionadas (el "Grupo"), con domicilio en Avenida Francisco I. Madero, ' +
                         '2750 Pte., Centro de la Ciudad, Monterrey, N.L. C.P. 64000, utilizarán los datos personales que usted entregue voluntariamente mediante '    +
                         'este documento para cumplir con las políticas, procedimientos operativos y requisitos legales aplicables y llevar un registro adecuado' + 
                         ' de los proveedores y clientes del Grupo. Para mayor información respecto al tratamiento de sus datos personales o al ejercicio de sus' + 
                         ' derechos ARCO consulte nuestro aviso de privacidad integral en www.batmexico.com.mx' ;
--
-- sLeyMenor  := '' ;
-- sLeyPriv   := '' ;

       SET @nCFDIREL = 00 ;
       SET @sCFDIREL = '' ;
       
       OPEN ScrReenvio;
       FETCH NEXT FROM ScrReenvio INTO @Env_Folio_Fiscal, @Env_Fecha_Factura;
       WHILE @@FETCH_STATUS = 0
       BEGIN 
          SET @nCFDIREL = @nCFDIREL + 1 ;
          SET @sCFDIREL = @sCFDIREL + 'BILLREF'        + @sSepCampo ;
          SET @sCFDIREL = @sCFDIREL + ISNULL(@Env_Folio_Fiscal, '') + @sSepCampo ;          -- 02 Folio UUID
          SET @sCFDIREL = @sCFDIREL + ''               + @sSepCampo ;          -- 03 Tax ID
          SET @sCFDIREL = @sCFDIREL + ''               + @sSepCampo ;          -- 04 Fecha Documento
          SET @sCFDIREL = @sCFDIREL + '04'             + @sSepCampo ;          -- 05 Clave de Relacion
          SET @sCFDIREL = @sCFDIREL + ''               + @sSepCampo ;          -- 06 Motivo Modificacion
          SET @sCFDIREL = @sCFDIREL + @sSepLinea ;         
          FETCH NEXT FROM ScrReenvio INTO @Env_Folio_Fiscal, @Env_Fecha_Factura;
       END 
       CLOSE ScrReenvio;

       OPEN ScrDatos;
       FETCH NEXT FROM ScrDatos INTO @Doc_Doc_Total, @Doc_Ctro, @Doc_Tipo_Docto, @Doc_Factura, @Doc_versionCFDI, @Doc_serie, @Doc_folio, @Doc_pedidoV3, @Doc_pedidoSAP, @Doc_facturaSAP, @Doc_repVentas, @Doc_sucursalNombre, @Doc_fecha_Reenvio, @Doc_fecha, @Doc_tipoDeComprobante, @Doc_formaDePago, @Doc_condicionesDePago, @Doc_motivoDescuento, @Doc_Descuento, @Doc_subTotal, @Doc_total, @Doc_metodoDePago, @Doc_NumCtaPago, @Doc_TipoCambio, @Doc_Moneda, @Doc_LugarExpedicion, @Doc_Emisor_RFC, @Doc_Emisor_Nombre, @Doc_Emisor_Calle, @Doc_Emisor_NoExterior, @Doc_Emisor_NoInterior, @Doc_Emisor_Colonia, @Doc_Emisor_Localidad, @Doc_Emisor_Municipio, @Doc_Emisor_Estado, @Doc_Emisor_Pais, @Doc_Emisor_CodigoPostal, @Doc_Expide_Calle, @Doc_Expide_noExterior, @Doc_Expide_noInterior, @Doc_Expide_colonia, @Doc_Expide_municipio, @Doc_Expide_estado, @Doc_Expide_pais, @Doc_Expide_codigoPostal, @Doc_RegimenFiscal, @Doc_Recibe_RFC, @Doc_Recibe_Nombre, @Doc_Recibe_Calle, @Doc_Recibe_NoExterior, @Doc_Recibe_NoInterior, @Doc_Recibe_Colonia, @Doc_Recibe_Localidad, @Doc_Recibe_Municipio, @Doc_Recibe_Estado, @Doc_Recibe_Pais, @Doc_Recibe_CodigoPostal, @Doc_Remite_Calle, @Doc_Remite_noExterior, @Doc_Remite_noInterior, @Doc_Remite_colonia, @Doc_Remite_municipio, @Doc_Remite_estado, @Doc_Remite_pais, @Doc_Remite_codigoPostal, @Doc_Tipo_Documento, @Doc_Recibe_Cliente, @Doc_Remite_Cliente, @Doc_CentroExpedicion, @Doc_eMail, @Doc_ConfirmacionPAC, @Doc_UsoCFDI, @Doc_ResidenciaFiscal, @Doc_RegTributarioExt, @Doc_TipoRelacion, @Doc_ImpuestosTrasladados, @Doc_impuesto, @Doc_tasa, @Doc_importe;

       WHILE @@FETCH_STATUS = 0
       BEGIN
          SET @sTipoDocto = @Doc_Tipo_Docto ;
          --
          IF ( ( ISNULL(@sTipoDocto,'') != 'C020' ) AND ( ISNULL(@Doc_Factura,'') != 'DNIN-007967' ) ) 
          BEGIN
             EXEC T3.PROC_V40_GENERAR_MX01_IEPS @Doc_Factura ;

             IF CURSOR_STATUS('local', 'ScrDatos') >= 0 BEGIN CLOSE ScrDatos; DEALLOCATE ScrDatos; END;
             ELSE IF CURSOR_STATUS('local', 'ScrDatos') = -1 BEGIN DEALLOCATE ScrDatos; END;
             IF CURSOR_STATUS('local', 'ScrDetalle') >= 0 BEGIN CLOSE ScrDetalle; DEALLOCATE ScrDetalle; END;
             ELSE IF CURSOR_STATUS('local', 'ScrDetalle') = -1 BEGIN DEALLOCATE ScrDetalle; END;
             IF CURSOR_STATUS('local', 'ScrImportacion') >= 0 BEGIN CLOSE ScrImportacion; DEALLOCATE ScrImportacion; END;
             ELSE IF CURSOR_STATUS('local', 'ScrImportacion') = -1 BEGIN DEALLOCATE ScrImportacion; END;
             IF CURSOR_STATUS('local', 'ScrTextoAdicional') >= 0 BEGIN CLOSE ScrTextoAdicional; DEALLOCATE ScrTextoAdicional; END;
             ELSE IF CURSOR_STATUS('local', 'ScrTextoAdicional') = -1 BEGIN DEALLOCATE ScrTextoAdicional; END;
             IF CURSOR_STATUS('local', 'ScrReenvio') >= 0 BEGIN CLOSE ScrReenvio; DEALLOCATE ScrReenvio; END;
             ELSE IF CURSOR_STATUS('local', 'ScrReenvio') = -1 BEGIN DEALLOCATE ScrReenvio; END;

             RETURN ;
          END  ;

          SET @sFactura   = @Doc_Factura    ;
          SET @sCtro      = @Doc_Ctro       ;
          SET @nTotal     = @Doc_Doc_Total  ;

          -- Variables para CABCLIE
          SET @sPedidoV3            = @Doc_pedidoV3           ;
          SET @sSucursalNombre      = @Doc_sucursalNombre     ;
          SET @sPedidoSAP           = @Doc_pedidoSAP          ;
          SET @sFacturaSAP          = @Doc_facturaSAP         ;
          SET @sRecibe_Nombre       = @Doc_Recibe_Nombre      ;
          SET @sRemite_Calle        = @Doc_Remite_Calle       ;
          SET @sRemite_noExterior   = @Doc_Remite_noExterior  ;
          SET @sRemite_noInterior   = @Doc_Remite_noInterior  ;
          SET @sRemite_colonia      = @Doc_Remite_colonia     ;
          SET @sRemite_municipio    = @Doc_Remite_municipio   ;
          SET @sRemite_estado       = @Doc_Remite_estado      ;
          SET @sRemite_pais         = @Doc_Remite_pais        ;
          SET @sRemite_codigoPostal = @Doc_Remite_codigoPostal;
          SET @sTipo_Documento      = @Doc_Tipo_Documento     ;
          SET @sRecibe_Cliente      = @Doc_Recibe_Cliente     ;
          SET @sRemite_Cliente      = @Doc_Remite_Cliente     ;
          SET @sCentroExpedicion    = @Doc_CentroExpedicion   ;
          SET @sLugarExpedicion     = @Doc_LugarExpedicion    ;
          SET @seMail               = @Doc_eMail              ;
          --
          -- HEADER
          SET @uHEADER  = ISNULL(@uHEADER,'')  + 'HEADER'                                      + @sSepCampo ;              
          SET @uHEADER  = @uHEADER  + ''                                            + @sSepCampo ;   -- 02 Codigo de Autorizacion
          SET @uHEADER  = @uHEADER  + ISNULL(@Doc_tipoDeComprobante, '')            + @sSepCampo ;   -- 03 Tipo de Comprobante
          SET @uHEADER  = @uHEADER  + ISNULL(@Doc_folio, '')                        + @sSepCampo ;   -- 04 Folio
          SET @uHEADER  = @uHEADER  + ''                                            + @sSepCampo ;   -- 05 Fecha de Vencimiento
          SET @uHEADER  = @uHEADER  + ''                                            + @sSepCampo ;   -- 06 Tipo de Ingreso
          SET @uHEADER  = @uHEADER  + ISNULL(@Doc_formaDePago, '')                  + @sSepCampo ;   -- 07 Tipo de Pago
          SET @uHEADER  = @uHEADER  + ''                                            + @sSepCampo ;   -- 08 Fecha Limite de Pago
          SET @uHEADER  = @uHEADER  + ''                                            + @sSepCampo ;   -- 09 Tipo Cuenta de Pago
          SET @uHEADER  = @uHEADER  + ''                                            + @sSepCampo ;   -- 10 Numero Cuenta de Pago
          SET @uHEADER  = @uHEADER  + ''                                            + @sSepCampo ;   -- 11 Banco de Pago
          SET @uHEADER  = @uHEADER  + ''                                            + @sSepCampo ;   -- 12 Fecha Inicio Servicios
          SET @uHEADER  = @uHEADER  + ''                                            + @sSepCampo ;   -- 13 Fecha Inicio Servicios

          IF ( @nCFDIREL = 0 ) 
          BEGIN
             SET @uHEADER  = @uHEADER  + ISNULL(@Doc_fecha, '')                     + @sSepCampo ;   -- 14 Fecha Emision Documento
          END 
          ELSE
          BEGIN
             SET @uHEADER  = @uHEADER  + ISNULL(@Doc_fecha_Reenvio, '')             + @sSepCampo ;   -- 14 Fecha Emision Documento
          END 

          SET @uHEADER  = @uHEADER  + ''                                            + @sSepCampo ;   -- 15 Fecha Orden de Compra
          SET @uHEADER  = @uHEADER  + ''                                            + @sSepCampo ;   -- 16 Orden de Compra
          SET @uHEADER  = @uHEADER  + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( CAST(@Doc_importe AS DECIMAL(24,6))        , 2 ), '') + @sSepCampo ;   -- 17 Monto Gravado Total
          SET @uHEADER  = @uHEADER  + '0.00'                                        + @sSepCampo ;   -- 18 Monto Exento
          SET @uHEADER  = @uHEADER  + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( CAST(@Doc_subTotal AS DECIMAL(24,6))       , 2 ), '') + @sSepCampo ;   -- 19 Subtotal
          SET @uHEADER  = @uHEADER  + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( CAST(@Doc_importe AS DECIMAL(24,6))        , 2 ), '') + @sSepCampo ;   -- 20 Total Impuestos Trasladados
          SET @uHEADER  = @uHEADER  + ''                                            + @sSepCampo ;   -- 21 Impuestos Retenidos
          SET @uHEADER  = @uHEADER  + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( CAST(@Doc_total AS DECIMAL(24,6))          , 2 ), '') + @sSepCampo ;   -- 22 Monto Total
          SET @uHEADER  = @uHEADER  + ''                                            + @sSepCampo ;   -- 23 Monto No Facturable
          SET @uHEADER  = @uHEADER  + ''                                            + @sSepCampo ;   -- 24 Monto Periodo
          SET @uHEADER  = @uHEADER  + ''                                            + @sSepCampo ;   -- 25 Saldo Anterior
          SET @uHEADER  = @uHEADER  + ''                                            + @sSepCampo ;   -- 26 Monto Avance de Pago
          SET @uHEADER  = @uHEADER  + ''                                            + @sSepCampo ;   -- 27 Valor Cobrado
          SET @uHEADER  = @uHEADER  + ISNULL(@Doc_Factura, '')                      + @sSepCampo ;   -- 28 Folio Interno Factura
          SET @uHEADER  = @uHEADER  + ''                                            + @sSepCampo ;   -- 29 Indicador Nota de Credito
          SET @uHEADER  = @uHEADER  + ''                                            + @sSepCampo ;   -- 30 Indicador Monto Gravado
          SET @uHEADER  = @uHEADER  + ISNULL(@Doc_condicionesDePago, '')            + @sSepCampo ;   -- 31 Terminos de Pago
          SET @uHEADER  = @uHEADER  + ISNULL(@Doc_Moneda, '')                       + @sSepCampo ;   -- 32 Moneda
          SET @uHEADER  = @uHEADER  + ISNULL(@Doc_serie, '')                        + @sSepCampo ;   -- 33 Serie      
          SET @uHEADER  = @uHEADER  + ''                                            + @sSepCampo ;   -- 34 Confirmation
          SET @uHEADER  = @uHEADER  + 'C'                                           + @sSepCampo ;   -- 35 Flag Addenda/Complemento
          SET @uHEADER  = @uHEADER  + '01'                                          + @sSepCampo ;   -- 36 Tipo Exportacion
          SET @uHEADER  = @uHEADER  + ''                                            + @sSepCampo ;   -- 37 Peridiocidad
          SET @uHEADER  = @uHEADER  + ''                                            + @sSepCampo ;   -- 38 Mes de Documento
          SET @uHEADER  = @uHEADER  + ''                                            + @sSepCampo ;   -- 39 Anio
          SET @uHEADER  = @uHEADER  + ISNULL(@Doc_versionCFDI, '')                  + @sSepCampo ;   -- 40 Version

          -- PARTIES - Emisor
          SET @uHEADER  = @uHEADER  + @sSepLinea                                    ;
          SET @uHEADER  = @uHEADER  + 'PARTIES'                                     + @sSepCampo ;              
          SET @uHEADER  = @uHEADER  + 'E'                                           + @sSepCampo ;              
          SET @uHEADER  = @uHEADER  + ISNULL(@Doc_Emisor_RFC, '')                   + @sSepCampo ;   -- 03 TaxID
          SET @uHEADER  = @uHEADER  + ISNULL(@Doc_Emisor_Nombre, '')                + @sSepCampo ;   -- 04 Legal Entity Name
          SET @uHEADER  = @uHEADER  + ''                                            + @sSepCampo ;   -- 05 Trade Name
          SET @uHEADER  = @uHEADER  + ISNULL(@Doc_LugarExpedicion, '')              + @sSepCampo ;   -- 06 Branch Name
          SET @uHEADER  = @uHEADER  + ISNULL(@Doc_Emisor_Calle, '') + ' ' + ISNULL(@Doc_Emisor_NoExterior, '') + @sSepCampo ;   -- 07 Address
          SET @uHEADER  = @uHEADER  + ISNULL(@Doc_Emisor_Colonia, '')               + @sSepCampo ;   -- 08 Colonia
          SET @uHEADER  = @uHEADER  + ISNULL(@Doc_Emisor_Municipio, '')             + @sSepCampo ;   -- 09 Municipality
          SET @uHEADER  = @uHEADER  + ISNULL(@Doc_Emisor_Estado, '')                + @sSepCampo ;   -- 10 Country Subdivision
          SET @uHEADER  = @uHEADER  + ''                                            + @sSepCampo ;   -- 11 Telephone
          SET @uHEADER  = @uHEADER  + ''                                            + @sSepCampo ;   -- 12 Telephone_2
          SET @uHEADER  = @uHEADER  + ''                                            + @sSepCampo ;   -- 13 Telephone_3
          SET @uHEADER  = @uHEADER  + ''                                            + @sSepCampo ;   -- 14 eMail
          SET @uHEADER  = @uHEADER  + ''                                            + @sSepCampo ;   -- 15 Web Site
          SET @uHEADER  = @uHEADER  + ISNULL(@Doc_RegimenFiscal, '')                + @sSepCampo ;   -- 16 Business_Activity
          SET @uHEADER  = @uHEADER  + ''                                            + @sSepCampo ;   -- 17 Seller Internal Code
          SET @uHEADER  = @uHEADER  + ''                                            + @sSepCampo ;   -- 18 Seller Area
          SET @uHEADER  = @uHEADER  + ''                                            + @sSepCampo ;   -- 19 Sales Route
          SET @uHEADER  = @uHEADER  + ''                                            + @sSepCampo ;   -- 20 Additional Info
          SET @uHEADER  = @uHEADER  + ''                                            + @sSepCampo ;   -- 21 Foreign_Tax_ID
          SET @uHEADER  = @uHEADER  + ''                                            + @sSepCampo ;   -- 22 Contac_Details
          SET @uHEADER  = @uHEADER  + ''                                            + @sSepCampo ;   -- 23 Buyer_Internal_Code
          SET @uHEADER  = @uHEADER  + ''                                            + @sSepCampo ;   -- 24 Payer_ID
          SET @uHEADER  = @uHEADER  + ''                                            + @sSepCampo ;   -- 25 City
          SET @uHEADER  = @uHEADER  + ISNULL(@Doc_Emisor_CodigoPostal, '')          + @sSepCampo ;   -- 26 Postal Code
          SET @uHEADER  = @uHEADER  + 'MEX'                                         + @sSepCampo ;   -- 27 Country Code

          -- PARTIES - Receptor
          SET @uHEADER  = @uHEADER  + @sSepLinea                                    ;
          SET @uHEADER  = @uHEADER  + 'PARTIES'                                     + @sSepCampo ;              
          SET @uHEADER  = @uHEADER  + 'R'                                           + @sSepCampo ;              
          SET @uHEADER  = @uHEADER  + ISNULL(@Doc_Recibe_RFC, '')                   + @sSepCampo ;   -- 03 TaxID
          SET @uHEADER  = @uHEADER  + ISNULL(@Doc_Recibe_Nombre, '')                + @sSepCampo ;   -- 04 Legal Entity Name
          SET @uHEADER  = @uHEADER  + ''                                            + @sSepCampo ;   -- 05 Trade Name
          SET @uHEADER  = @uHEADER  + ISNULL(@Doc_sucursalNombre, '')               + @sSepCampo ;   -- 06 Branch Name
          SET @uHEADER  = @uHEADER  + ISNULL(@Doc_Recibe_Calle, '')                 + @sSepCampo ;   -- 07 Address
          SET @uHEADER  = @uHEADER  + ISNULL(@Doc_Recibe_Colonia, '')               + @sSepCampo ;   -- 08 Colonia
          SET @uHEADER  = @uHEADER  + ISNULL(@Doc_Recibe_Municipio, '')             + @sSepCampo ;   -- 09 Municipality
          SET @uHEADER  = @uHEADER  + ISNULL(@Doc_Recibe_Estado, '')                + @sSepCampo ;   -- 10 Country Subdivision
          SET @uHEADER  = @uHEADER  + ''                                            + @sSepCampo ;   -- 11 Telephone
          SET @uHEADER  = @uHEADER  + ''                                            + @sSepCampo ;   -- 12 Telephone_2
          SET @uHEADER  = @uHEADER  + ''                                            + @sSepCampo ;   -- 13 Telephone_3
          SET @uHEADER  = @uHEADER  + ''                                            + @sSepCampo ;   -- 14 eMail
          SET @uHEADER  = @uHEADER  + ''                                            + @sSepCampo ;   -- 15 Web Site
          SET @uHEADER  = @uHEADER  + ISNULL(@Doc_RegimenFiscal, '')                + @sSepCampo ;   -- 16 Business_Activity
          SET @uHEADER  = @uHEADER  + ''                                            + @sSepCampo ;   -- 17 Seller Internal Code
          SET @uHEADER  = @uHEADER  + ''                                            + @sSepCampo ;   -- 18 Seller Area
          SET @uHEADER  = @uHEADER  + ''                                            + @sSepCampo ;   -- 19 Sales Route
          SET @uHEADER  = @uHEADER  + ISNULL(@Doc_UsoCFDI, '')                      + @sSepCampo ;   -- 20 Additional Info
          SET @uHEADER  = @uHEADER  + ''                                            + @sSepCampo ;   -- 21 Foreign_Tax_ID
          SET @uHEADER  = @uHEADER  + ''                                            + @sSepCampo ;   -- 22 Contac_Details
          SET @uHEADER  = @uHEADER  + ''                                            + @sSepCampo ;   -- 23 Buyer_Internal_Code
          SET @uHEADER  = @uHEADER  + ''                                            + @sSepCampo ;   -- 24 Payer_ID
          SET @uHEADER  = @uHEADER  + ''                                            + @sSepCampo ;   -- 25 City
          SET @uHEADER  = @uHEADER  + ISNULL(@Doc_Recibe_CodigoPostal, '')          + @sSepCampo ;   -- 26 Postal Code
          SET @uHEADER  = @uHEADER  + 'MEX'                                         + @sSepCampo ;   -- 27 Country Code      
          SET @sUsoCFDI = @Doc_UsoCFDI ;
          --      
          -- Impuestos
          --
          SET @uIMPFAC  = ISNULL(@uIMPFAC,'')  + 'TAX'                              + @sSepCampo ;
          SET @uIMPFAC  = @uIMPFAC  + '002'                                         + @sSepCampo ;      -- 02 Tipo de Impuesto
          SET @uIMPFAC  = @uIMPFAC  + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( CAST(@Doc_subtotal AS DECIMAL(24,6)) , 2 ), '') + @sSepCampo ;      -- 03 Base Imponible
          SET @uIMPFAC  = @uIMPFAC  + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( CAST(@Doc_importe AS DECIMAL(24,6))  , 2 ), '') + @sSepCampo ;      -- 04 Monto de Impuesto
          SET @uIMPFAC  = @uIMPFAC  + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( 16.0 / 100.0             , 6 ), '') + @sSepCampo ;      -- 05 Porcentaje de Impuesto
          SET @uIMPFAC  = @uIMPFAC  + 'Tasa'                                        + @sSepCampo ;      -- 06 Factor de Impuesto
          SET @uIMPFAC  = @uIMPFAC  + 'T'                                           + @sSepCampo ;      -- 07 Calificador
          SET @uIMPFAC  = @uIMPFAC  + ''                                            + @sSepCampo ;      -- 08                
          --        
          FETCH NEXT FROM ScrDatos INTO @Doc_Doc_Total, @Doc_Ctro, @Doc_Tipo_Docto, @Doc_Factura, @Doc_versionCFDI, @Doc_serie, @Doc_folio, @Doc_pedidoV3, @Doc_pedidoSAP, @Doc_facturaSAP, @Doc_repVentas, @Doc_sucursalNombre, @Doc_fecha_Reenvio, @Doc_fecha, @Doc_tipoDeComprobante, @Doc_formaDePago, @Doc_condicionesDePago, @Doc_motivoDescuento, @Doc_Descuento, @Doc_subTotal, @Doc_total, @Doc_metodoDePago, @Doc_NumCtaPago, @Doc_TipoCambio, @Doc_Moneda, @Doc_LugarExpedicion, @Doc_Emisor_RFC, @Doc_Emisor_Nombre, @Doc_Emisor_Calle, @Doc_Emisor_NoExterior, @Doc_Emisor_NoInterior, @Doc_Emisor_Colonia, @Doc_Emisor_Localidad, @Doc_Emisor_Municipio, @Doc_Emisor_Estado, @Doc_Emisor_Pais, @Doc_Emisor_CodigoPostal, @Doc_Expide_Calle, @Doc_Expide_noExterior, @Doc_Expide_noInterior, @Doc_Expide_colonia, @Doc_Expide_municipio, @Doc_Expide_estado, @Doc_Expide_pais, @Doc_Expide_codigoPostal, @Doc_RegimenFiscal, @Doc_Recibe_RFC, @Doc_Recibe_Nombre, @Doc_Recibe_Calle, @Doc_Recibe_NoExterior, @Doc_Recibe_NoInterior, @Doc_Recibe_Colonia, @Doc_Recibe_Localidad, @Doc_Recibe_Municipio, @Doc_Recibe_Estado, @Doc_Recibe_Pais, @Doc_Recibe_CodigoPostal, @Doc_Remite_Calle, @Doc_Remite_noExterior, @Doc_Remite_noInterior, @Doc_Remite_colonia, @Doc_Remite_municipio, @Doc_Remite_estado, @Doc_Remite_pais, @Doc_Remite_codigoPostal, @Doc_Tipo_Documento, @Doc_Recibe_Cliente, @Doc_Remite_Cliente, @Doc_CentroExpedicion, @Doc_eMail, @Doc_ConfirmacionPAC, @Doc_UsoCFDI, @Doc_ResidenciaFiscal, @Doc_RegTributarioExt, @Doc_TipoRelacion, @Doc_ImpuestosTrasladados, @Doc_impuesto, @Doc_tasa, @Doc_importe;
       END 
       CLOSE ScrDatos;

       SET @nLineas    = 0 ;
       SET @nEnajenado = 0 ;
       SET @nLineasImp = 0 ;

       OPEN ScrDetalle;
       FETCH NEXT FROM ScrDetalle INTO @Item_numLinea, @Item_cantidad, @Item_unidad, @Item_noIdentificacion, @Item_descripcion, @Item_Cig_x_Unidad_Vta, @Item_valorUnitario, @Item_importe, @Item_SKU_importacion, @Item_RFD_Valor_Subt, @Item_RFD_Valor_IVA, @Item_RFD_TASA_IVA, @Item_PDF_Valor_Subt, @Item_PDF_Valor_IVA, @Item_PDF_TASA_IVA, @Item_Channel;

       WHILE @@FETCH_STATUS = 0
       BEGIN
          SET @nLineas   = @nLineas + 1 ; 
          SET @nItems    = @nItems + @Item_RFD_Valor_Subt + @Item_RFD_Valor_IVA ;
          SET @sMaterial = @Item_noIdentificacion ;

          IF ( @nLineas = 1 ) 
          BEGIN
             SET @uLINFAC = '' ;
          END 
          ELSE
          BEGIN
             SET @uLINFAC = ISNULL(@uLINFAC,'') + @sSepLinea ;
          END 

          EXEC T3.GET_SAT_CLAVEPRODUCTO 'VTA', @pFactura, @Item_noIdentificacion, @Item_descripcion, @Item_unidad, @sSAT_ID OUTPUT, @sSAT_UM OUTPUT ;            
          SET @sIdentificacion = REPLACE( @Item_noIdentificacion, '.', '' ) ;
          SET @sPedimentos      = '' ;         

          IF ( ( ISNULL(@Item_SKU_importacion,'') != 'NO' ) AND ( @sTipoDocto IN ( 'Z020', 'C020' ) ) ) 
          BEGIN
             SET @nCantPedimento = 00 ;
             SET @sPedimentos    = '' ;

             OPEN ScrImportacion;
             FETCH NEXT FROM ScrImportacion INTO @PedImp_NUMADU, @PedImp_GLNAduana, @PedImp_NomAduana, @PedImp_Pedimento, @PedImp_FecPedimento;
             WHILE @@FETCH_STATUS = 0
             BEGIN
                SET @nCantPedimento = @nCantPedimento + 1 ;
                IF ( @nCantPedimento > 1 ) 
                BEGIN
                   SET @sPedimentos = @sPedimentos + '*' ;
                END 
                SET @sPedimentos = @sPedimentos + ISNULL(@PedImp_Pedimento, '') ;
                FETCH NEXT FROM ScrImportacion INTO @PedImp_NUMADU, @PedImp_GLNAduana, @PedImp_NomAduana, @PedImp_Pedimento, @PedImp_FecPedimento;
             END 
             CLOSE ScrImportacion;
          END ;                
          --
          SET @sStepPLSQL = 'LINE (' + ISNULL(@Item_numLinea,'') + ').' ;
          SET @uLINFAC = @uLINFAC + 'LINE'                                                                + @sSepCampo ;
          SET @uLINFAC = @uLINFAC + ISNULL(@Item_numLinea,'')                                             + @sSepCampo ;   -- 02 Linea de Factura
          SET @uLINFAC = @uLINFAC + ISNULL(@sSAT_ID,'')                                                   + @sSepCampo ;   -- 03 Codigo SAT
          SET @uLINFAC = @uLINFAC + ISNULL(@Item_descripcion,'')                                          + @sSepCampo ;   -- 04 Descripcion
          SET @uLINFAC = @uLINFAC + ISNULL(@sIdentificacion,'')                                           + @sSepCampo ;   -- 05 No Interno
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 06 Agente de Retencion
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 07 Monto Impuesto Retenido
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 08 Monto Impuesto Retenido
          SET @uLINFAC = @uLINFAC + ISNULL(@Item_cantidad,'')                                             + @sSepCampo ;   -- 09 Cantidad
          SET @uLINFAC = @uLINFAC + ISNULL(@Item_unidad,'')                                               + @sSepCampo ;   -- 10 UdeM Interna
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 11 Cantidad UdeM Referenciada
          SET @uLINFAC = @uLINFAC + ISNULL(@sSAT_UM,'')                                                   + @sSepCampo ;   -- 12 UdeM SAT
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 13 Precio Unitario Referencia
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 14 Grados de Alcohol
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 15 Fecha de Elaboracion
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 16 Fecha de Vencimiento
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 17 Monto de Descuento
          SET @uLINFAC = @uLINFAC + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( CAST(@Item_valorUnitario AS DECIMAL(24,6)) , 2 ), '') + @sSepCampo ;   -- 18 Precio Unitario
          SET @uLINFAC = @uLINFAC + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( CAST(@Item_PDF_Valor_Subt AS DECIMAL(24,6)), 2 ), '') + @sSepCampo ;   -- 19 Monto de Cargo
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 20 Codigo de Impuesto Adicional
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 21 Precio Unitario en otra Moneda
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 22 Codigo Item en otra Moneda
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 23 Descuento Item en otra Moneda
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 24 Recargo Item en otra Moneda
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 25 Monto Item en otra Moneda
          SET @uLINFAC = @uLINFAC + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( CAST(@Item_PDF_Valor_Subt AS DECIMAL(24,6)), 2 ), '') + @sSepCampo ;   -- 26 Total Amount
          SET @uLINFAC = @uLINFAC + '1'                                                                   + @sSepCampo ;   -- 27 Facturable
          SET @uLINFAC = @uLINFAC + '02'                                                                  + @sSepCampo ;   -- 28 Objeto de Impuesto
          SET @uLINFAC = @uLINFAC + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( CAST(@Item_PDF_Valor_Subt AS DECIMAL(24,6)), 2 ), '') + @sSepCampo ;   -- 29 Precio Neto
          SET @uLINFAC = @uLINFAC + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( CAST(@Item_PDF_Valor_Subt AS DECIMAL(24,6)), 2 ), '') + @sSepCampo ;   -- 30 Precio Bruto
          SET @uLINFAC = @uLINFAC + ISNULL(@sPedimentos,'')                                               + @sSepCampo ;   -- 31 Pedimiento
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 32 Predial
          --
          SET @sStepPLSQL = 'LINETAX IVA (' + ISNULL(@Item_numLinea,'') + ').' ;
          SET @uLINFAC = @uLINFAC + @sSepLinea ;                  
          SET @uLINFAC = @uLINFAC + 'LINETAX'                                      + @sSepCampo ;        
          SET @uLINFAC = @uLINFAC + '1'                                            + @sSepCampo ;  -- 02 Numero de Impuesto
          SET @uLINFAC = @uLINFAC + '002'                                          + @sSepCampo ;  -- 03 Tipo de Impuesto
          SET @uLINFAC = @uLINFAC + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( CAST(@Item_PDF_Valor_Subt AS DECIMAL(24,6)), 2 ), '')  + @sSepCampo ;  -- 04 Base Imponible
          SET @uLINFAC = @uLINFAC + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( CAST(@Item_PDF_Valor_IVA AS DECIMAL(24,6)) , 2 ), '')  + @sSepCampo ;  -- 05 Impuesto
          SET @uLINFAC = @uLINFAC + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( 16.0 / 100.0           , 6 ), '')  + @sSepCampo ;  -- 06 Tasa
          SET @uLINFAC = @uLINFAC + 'Tasa'                                         + @sSepCampo ;  -- 07 Factor de Impuesto
          SET @uLINFAC = @uLINFAC + 'T'                                            + @sSepCampo ;  -- 08 Calificador       
          --        
          IF ( @sTipoDocto IN ( 'Z020', 'C020', 'Z021', 'C021' ) ) 
          BEGIN
             IF ( ISNULL(@Item_Channel,'') NOT IN ( 'BIC', 'GIL' ) ) 
             BEGIN
                SET @nEnajenado = @nEnajenado + ( CAST(@Item_cantidad AS INT) * @Item_Cig_x_Unidad_Vta ) ;
             END 
          END 
          SET @nLineasLey = CAST(@Item_numLinea AS INT) ;   

          FETCH NEXT FROM ScrDetalle INTO @Item_numLinea, @Item_cantidad, @Item_unidad, @Item_noIdentificacion, @Item_descripcion, @Item_Cig_x_Unidad_Vta, @Item_valorUnitario, @Item_importe, @Item_SKU_importacion, @Item_RFD_Valor_Subt, @Item_RFD_Valor_IVA, @Item_RFD_TASA_IVA, @Item_PDF_Valor_Subt, @Item_PDF_Valor_IVA, @Item_PDF_TASA_IVA, @Item_Channel;
       END 
       CLOSE ScrDetalle;
                                                                           -- Ciclo Datos de Cliente
       --
       OPEN ScrTextoAdicional;
       FETCH NEXT FROM ScrTextoAdicional INTO @Adi_Linea, @Adi_Texto;
       WHILE @@FETCH_STATUS = 0
       BEGIN
          SET @nLineas = @nLineas + 1 ; 
          SET @uLINFAC = ISNULL(@uLINFAC,'') + @sSepLinea ;
          SET @uLINFAC = @uLINFAC + 'LINCLIE'                  + @sSepCampo ;
          SET @uLINFAC = @uLINFAC + LTRIM(RTRIM(CAST(@nLineas AS VARCHAR))) + @sSepCampo ;
          SET @uLINFAC = @uLINFAC + ISNULL(@Adi_Texto,'')                   + @sSepCampo ;
          FETCH NEXT FROM ScrTextoAdicional INTO @Adi_Linea, @Adi_Texto;
       END 
       CLOSE ScrTextoAdicional;      
       --
       --       
       -- Cabecera Cliente
       --
       SET @sCABCLIE = ISNULL(@sCABCLIE,'') + 'CABCLIE'               + @sSepCampo ;
       SET @sCABCLIE = @sCABCLIE + ISNULL(@sRecibe_Nombre, '')        + @sSepCampo ;
       SET @sCABCLIE = @sCABCLIE + ISNULL(@sRemite_Calle, '')         + @sSepCampo ;
       SET @sCABCLIE = @sCABCLIE + ISNULL(@sRemite_colonia, '')       + @sSepCampo ;
       SET @sCABCLIE = @sCABCLIE + ISNULL(@sRemite_municipio, '')     + @sSepCampo ;
       SET @sCABCLIE = @sCABCLIE + ''                                 + @sSepCampo ;
       SET @sCABCLIE = @sCABCLIE + ISNULL(@sRemite_estado, '')        + @sSepCampo ;
       SET @sCABCLIE = @sCABCLIE + ISNULL(@sRemite_pais, '')          + @sSepCampo ;
       SET @sCABCLIE = @sCABCLIE + ISNULL(@sRemite_codigoPostal, '')  + @sSepCampo ;
       SET @sCABCLIE = @sCABCLIE + ISNULL(@spedidoV3, '')             + @sSepCampo ;
       SET @sCABCLIE = @sCABCLIE + ISNULL(@ssucursalNombre, '')       + @sSepCampo ;
       SET @sCABCLIE = @sCABCLIE + ISNULL(@spedidoSAP, '')            + @sSepCampo ;
       SET @sCABCLIE = @sCABCLIE + ISNULL(@sfacturaSAP, '')           + @sSepCampo ;
       SET @sCABCLIE = @sCABCLIE + ISNULL(@sTipo_Documento, '')       + @sSepCampo ;
       SET @sCABCLIE = @sCABCLIE + ISNULL(@sCentroExpedicion, '')     + @sSepCampo ;
       SET @sCABCLIE = @sCABCLIE + ISNULL(@sRecibe_Cliente, '')       + @sSepCampo ;
       SET @sCABCLIE = @sCABCLIE + ISNULL(@sRemite_Cliente, '')       + @sSepCampo ;
       SET @sCABCLIE = @sCABCLIE + ISNULL(@sLugarExpedicion, '')      + @sSepCampo ;

       IF ( @nEnajenado > 0 ) 
       BEGIN
          SET @sCABCLIE = @sCABCLIE + LTRIM(RTRIM(CAST(@nEnajenado AS VARCHAR))) + @sSepCampo ;
       END 
       ELSE   
       BEGIN
          SET @sCABCLIE = @sCABCLIE + ''                              + @sSepCampo ;
       END 

       SET @sCABCLIE = @sCABCLIE + ISNULL(@sLeyMenor, '')             + @sSepCampo ;
       SET @sCABCLIE = @sCABCLIE + ISNULL(@sLeyPriv, '')              + @sSepCampo ;
       SET @sCABCLIE = @sCABCLIE + ISNULL(@seMail, '')                + @sSepCampo ;
       SET @sCABCLIE = @sCABCLIE + @sSepLinea                         ;
       --
       SET @sCABCLIE = @sCABCLIE + ISNULL(@sCFDIREL, '')              ;
       SET @sCABCLIE = @sCABCLIE + 'PAYMET'                           + @sSepCampo ;             
       SET @sCABCLIE = @sCABCLIE + 'PPD'                              + @sSepCampo ;       
       --
       SET @sReturn = ISNULL(@sReturn,'') + ISNULL(@uHEADER,'')  + @sSepLinea ;
       SET @sReturn = @sReturn + ISNULL(@sCABCLIE,'') + @sSepLinea ;
       SET @sReturn = @sReturn + ISNULL(@uIMPFAC,'')  + @sSepLinea ;

       IF ( ( LEN( @sReturn ) > 10 ) AND ( LEN( @uLINFAC ) > 10 ) AND ( ABS( @nTotal - @nItems ) < 0.50 ) ) 
       BEGIN
          SET @sData = @sReturn ;
          SET @sData = @sData + ISNULL(@uLINFAC,'') ;   
          
          INSERT INTO T3.CFDI_DOCUMENTOS_ENVIAR ( Nota_Venta, Informacion )
             VALUES ( @pFactura, @sData ) ;
          INSERT INTO T3.CFDI_Documentos ( Nota_Venta, Ctro, Fecha_Liberacion, Metodo_Pago )
             VALUES ( @pFactura, @sCtro, GETDATE(), 'PPD' ) ;          
       END 
       ELSE          
       BEGIN
          INSERT INTO T3.RF_ERROR_LOG 
             ( FECHA, RUTINA, REFERENCIA, ERROR_DESC )
          VALUES
             ( GETDATE(), 'GENERAR_MX01', @pFactura, 'Doc=>' + CAST(@nTotal AS VARCHAR) + ' vs Items=> ' + CAST(@nItems AS VARCHAR) ) ;   
       END    

       DEALLOCATE ScrDatos;
       DEALLOCATE ScrDetalle;
       DEALLOCATE ScrImportacion;
       DEALLOCATE ScrTextoAdicional;
       DEALLOCATE ScrReenvio;

    END TRY
    BEGIN CATCH

       IF CURSOR_STATUS('local', 'ScrDatos') >= 0 BEGIN CLOSE ScrDatos; DEALLOCATE ScrDatos; END;
       ELSE IF CURSOR_STATUS('local', 'ScrDatos') = -1 BEGIN DEALLOCATE ScrDatos; END;

       IF CURSOR_STATUS('local', 'ScrDetalle') >= 0 BEGIN CLOSE ScrDetalle; DEALLOCATE ScrDetalle; END;
       ELSE IF CURSOR_STATUS('local', 'ScrDetalle') = -1 BEGIN DEALLOCATE ScrDetalle; END;

       IF CURSOR_STATUS('local', 'ScrImportacion') >= 0 BEGIN CLOSE ScrImportacion; DEALLOCATE ScrImportacion; END;
       ELSE IF CURSOR_STATUS('local', 'ScrImportacion') = -1 BEGIN DEALLOCATE ScrImportacion; END;

       IF CURSOR_STATUS('local', 'ScrTextoAdicional') >= 0 BEGIN CLOSE ScrTextoAdicional; DEALLOCATE ScrTextoAdicional; END;
       ELSE IF CURSOR_STATUS('local', 'ScrTextoAdicional') = -1 BEGIN DEALLOCATE ScrTextoAdicional; END;

       IF CURSOR_STATUS('local', 'ScrReenvio') >= 0 BEGIN CLOSE ScrReenvio; DEALLOCATE ScrReenvio; END;
       ELSE IF CURSOR_STATUS('local', 'ScrReenvio') = -1 BEGIN DEALLOCATE ScrReenvio; END;

       SET @sMsg = SUBSTRING( CAST(ERROR_NUMBER() AS VARCHAR) + '-' + ERROR_MESSAGE(), 1, 250 ) ;
       SET @sMsg = SUBSTRING( ERROR_MESSAGE(), 1, 250 ) ;

       PRINT '--------------------------------------------------------------------------------' ;
       PRINT 'Problemas en la ejecucion del Procedimiento' ;
       PRINT 'FAVOR DE ESCALAR LOS SIGUIENTES DATOS :' ;
       PRINT 'Procedimiento : PROC_V40_GENERAR_MX01' ;
       PRINT 'Fecha         : ' + FORMAT( GETDATE(), 'yyyyMMdd HH:mm:ss' ) ;
       PRINT 'Referencia    : ' + ISNULL(@strID,'') ;
       PRINT 'Error         : ' + ISNULL(@sMsg,'') ;
       PRINT '--------------------------------------------------------------------------------' ;

       INSERT INTO T3.RF_ERROR_LOG 
          ( FECHA, RUTINA, REFERENCIA, ERROR_DESC )
       VALUES
          ( GETDATE(), 'PROC_V40_GENERAR_MX01', @strID, @sMsg ) ;

    END CATCH

END;
GO
