USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_CDFI_SAVE_DOC]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [T3].[PROC_CDFI_SAVE_DOC] 
(
    @XML XML
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @vNotaVenta     VARCHAR(20);
    DECLARE @vExisteFactura INT; -- NUMBER
    DECLARE @vFolio         VARCHAR(40);
    DECLARE @vFechaTimbre   DATETIME;
    DECLARE @vSubTotal      NUMERIC(20,2);
    DECLARE @vTotal         NUMERIC(20,2);
    DECLARE @vFolioCom      VARCHAR(20);
    
    DECLARE @vNotaVenta32   VARCHAR(20);
    DECLARE @vSubTotal32    NUMERIC(20,2);
    DECLARE @vTotal32       NUMERIC(20,2);
    DECLARE @vFolioCom32    VARCHAR(20);

    BEGIN TRY
        
        WITH XMLNAMESPACES (
            'http://www.sat.gob.mx/cfd/3' AS cfdi,
            'http://www.sat.gob.mx/TimbreFiscalDigital' AS tfd
        )
        SELECT 
            @vNotaVenta   = ISNULL(@XML.value('(/cfdi:Comprobante/@Serie)[1]', 'VARCHAR(20)'), '') + '-' + 
                            ISNULL(@XML.value('(/cfdi:Comprobante/@Folio)[1]', 'VARCHAR(20)'), ''),
                            
            @vFolio       = @XML.value('(/cfdi:Comprobante/cfdi:Complemento/tfd:TimbreFiscalDigital/@UUID)[1]', 'VARCHAR(40)'),
            
            -- SQL Server parsea automáticamente el formato ISO 8601 (YYYY-MM-DDTHH:MM:SS)
            @vFechaTimbre = CAST(@XML.value('(/cfdi:Comprobante/cfdi:Complemento/tfd:TimbreFiscalDigital/@FechaTimbrado)[1]', 'VARCHAR(30)') AS DATETIME),
            
            @vSubTotal    = @XML.value('(/cfdi:Comprobante/@SubTotal)[1]', 'NUMERIC(20,2)'),
            @vTotal       = @XML.value('(/cfdi:Comprobante/@Total)[1]', 'NUMERIC(20,2)'),
            
            @vFolioCom    = @XML.value('(/cfdi:Comprobante/@Folio)[1]', 'VARCHAR(20)'),
            
            @vNotaVenta32 = ISNULL(@XML.value('(/cfdi:Comprobante/@serie)[1]', 'VARCHAR(20)'), '') + '-' + 
                            ISNULL(@XML.value('(/cfdi:Comprobante/@folio)[1]', 'VARCHAR(20)'), ''),
                            
            @vSubTotal32  = @XML.value('(/cfdi:Comprobante/@subTotal)[1]', 'NUMERIC(20,2)'),
            @vTotal32     = @XML.value('(/cfdi:Comprobante/@total)[1]', 'NUMERIC(20,2)'),
            
            @vFolioCom32  = @XML.value('(/cfdi:Comprobante/@folio)[1]', 'VARCHAR(20)');


        PRINT @vNotaVenta;
        PRINT @vFolio;
        PRINT CONVERT(VARCHAR, @vFechaTimbre, 120);

        IF (@vSubTotal IS NULL)
        BEGIN
            SET @vNotaVenta = @vNotaVenta32;
            SET @vSubTotal  = @vSubTotal32;
            SET @vTotal     = @vTotal32;
            SET @vFolioCom  = @vFolioCom32;
        END;


        SELECT @vExisteFactura = COUNT(*) 
        FROM cfdi_documentos 
        WHERE nota_venta = @vNotaVenta;

        IF (@vExisteFactura > 0)
        BEGIN
            SELECT @vExisteFactura = COUNT(*) 
            FROM rf_documentos 
            WHERE factura = @vNotaVenta;
            
            IF (@vExisteFactura > 0)
            BEGIN
                UPDATE rf_documentos
                SET anexo_cfd = @XML
                WHERE factura = @vNotaVenta
                  AND anexo_cfd IS NULL;
            END
            ELSE
            BEGIN
                INSERT INTO rf_documentos (factura, anexo_cfd)
                VALUES (@vNotaVenta, @XML);
            END;

            UPDATE cfdi_documentos
            SET folio_fiscal = @vFolio, 
                fecha_timbre = @vFechaTimbre, 
                fecha_cfd = @vFechaTimbre, 
                fecha_confirmacion = GETDATE(), -- equivalente a sysdate
                id_confirmacion = '201409159999999999', 
                status = 'CONFIRMADO', 
                valor_subt = @vSubTotal, 
                valor_iva = @vTotal - @vSubTotal
            WHERE nota_venta = @vNotaVenta
              AND folio_fiscal IS NULL;
        END
        ELSE
        BEGIN
            SELECT @vExisteFactura = COUNT(*) 
            FROM cfdi_documentos 
            WHERE nota_venta = @vFolioCom;

            IF (@vExisteFactura > 0)
            BEGIN
                SELECT @vExisteFactura = COUNT(*) 
                FROM rf_documentos 
                WHERE factura = @vFolioCom;
                
                IF (@vExisteFactura > 0)
                BEGIN
                    UPDATE rf_documentos
                    SET anexo_cfd = @XML
                    WHERE factura = @vFolioCom
                      AND anexo_cfd IS NULL;
                END
                ELSE
                BEGIN
                    INSERT INTO rf_documentos (factura, anexo_cfd)
                    VALUES (@vFolioCom, @XML);
                END;

                UPDATE cfdi_documentos
                SET folio_fiscal = @vFolio, 
                    fecha_timbre = @vFechaTimbre, 
                    fecha_cfd = @vFechaTimbre, 
                    fecha_confirmacion = GETDATE(),
                    id_confirmacion = '201409159999999999', 
                    status = 'CONFIRMADO', 
                    valor_subt = @vSubTotal, 
                    valor_iva = @vTotal - @vSubTotal
                WHERE nota_venta = @vFolioCom
                  AND folio_fiscal IS NULL;
            END
            ELSE
            BEGIN
                -- En SQL no existe RAISE NO_DATA_FOUND
                THROW 50001, 'NO_DATA_FOUND: No se encontro el documento en cfdi_documentos.', 1;
            END;
        END;

    END TRY
    BEGIN CATCH
        THROW;
    END CATCH;
END;
GO
