USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_CFDI_LIBERACION_REMISION]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[PROC_CFDI_LIBERACION_REMISION] 
AS
BEGIN

    DECLARE @sMsg VARCHAR(500);
    DECLARE @sErrorCode VARCHAR(30);          

    DECLARE @strID VARCHAR(50);
    DECLARE @dtInicio DATETIME;
    DECLARE @nPID NUMERIC(8,0);
    DECLARE @nProceso NUMERIC(8,0);
    DECLARE @nProceso1 NUMERIC(8,0);
    DECLARE @nProceso2 NUMERIC(8,0);
    DECLARE @nProceso3 NUMERIC(8,0);
    DECLARE @nProceso4 NUMERIC(8,0);
    DECLARE @sOrder_Num VARCHAR(30);
    DECLARE @sCadenaOriginal VARCHAR(60);
    DECLARE @sSelloDigital VARCHAR(60);

    -- Variables cursor
    DECLARE @Doc_Factura VARCHAR(50);

    DECLARE ScrPrompt CURSOR FOR 
        SELECT Factura FROM T3.REMISION_GENERAL FG
           WHERE FG.Fecha_Cancelacion IS NULL
             AND FG.Fecha_Proc_BATMD  IS NULL
             AND FG.Factura      NOT IN (
                     SELECT DISTINCT Referencia FROM T3.RF_Error_Log
                        WHERE Referencia IS NOT NULL
                          AND RUTINA LIKE '%CFDI_LIB%' );

    BEGIN TRY
        UPDATE T3.Remision_General 
        SET RFC = ( SELECT Soc.RFC FROM EAI.ZSDFE_Soc Soc WHERE Soc.Bukrs = Soc.Kunnr AND Soc.Kunnr IS NOT NULL AND Soc.Bukrs = T3.Remision_General.Sociedad )
        WHERE RFC IS NULL;
        
        EXEC T3.DELIVERY_CLEAR 0; 
        
        SET @dtInicio  = GETDATE();
        SET @nProceso  = 611;
        SET @nProceso1 = 0;
        SET @nProceso2 = 0;
        SET @nProceso3 = 0;
        SET @nProceso4 = 0;
        SET @nPID      = NEXT VALUE FOR EAI_Owner.ProcessID;
        
        EXEC EAI_Owner.Log_Start @nProceso;
        
        INSERT INTO T3.RF_PROCESOS_LOG ( PID , Proceso , Fecha_Proc_BATMD, Inicio )
        VALUES ( @nPID, @nProceso, NULL, GETDATE() );      
        
        OPEN ScrPrompt;
        FETCH NEXT FROM ScrPrompt INTO @Doc_Factura;
        
        WHILE @@FETCH_STATUS = 0
        BEGIN   
           SET @strID     = @Doc_Factura;
           SET @nProceso1 = @nProceso1 + 1;

           EXEC T3.PROC_V40_GENERAR_REMISION @Doc_Factura;
           
           UPDATE T3.REMISION_GENERAL 
           SET Fecha_Proc_BATMD = GETDATE()
           WHERE Factura = @Doc_Factura;
           
           FETCH NEXT FROM ScrPrompt INTO @Doc_Factura;
        END;
        
        CLOSE ScrPrompt;
        DEALLOCATE ScrPrompt;

        UPDATE EAI_OWNER.MX_COMPONENTS 
        SET Status = 1
        WHERE Component = @nProceso;
        
        UPDATE T3.RF_PROCESOS_LOG 
        SET Fin = GETDATE(), 
            Proceso_1 = @nProceso1, 
            Proceso_2 = @nProceso2,
            Proceso_3 = @nProceso3, 
            Proceso_4 = @nProceso4
        WHERE PID = @nPID;                 

    END TRY
    BEGIN CATCH
        SET @sMsg = SUBSTRING(CAST(ERROR_NUMBER() AS VARCHAR) + '-' + ERROR_MESSAGE(), 1, 250);
        SET @sMsg = SUBSTRING(ERROR_MESSAGE(), 1, 250);
        
        PRINT REPLICATE('-', 80);
        PRINT 'Problemas en la ejecucion del Procedimiento';
        PRINT 'FAVOR DE ESCALAR LOS SIGUIENTES DATOS :';
        PRINT 'Procedimiento : PROC_CFDI_LIBERACION_REMISION';
        PRINT 'Fecha         : ' + CONVERT(VARCHAR, GETDATE(), 112) + ' ' + CONVERT(VARCHAR, GETDATE(), 108);
        PRINT 'Referencia    : ' + ISNULL(@strID, '');
        PRINT 'Error         : ' + ISNULL(@sMsg, '');
        PRINT REPLICATE('-', 80);
        
        SET @sErrorCode = 'SQL-' + CAST(ERROR_NUMBER() AS VARCHAR);
        SET @sMsg = SUBSTRING(CAST(ERROR_NUMBER() AS VARCHAR) + '-' + ERROR_MESSAGE(), 1, 250);      
        
        INSERT INTO EAI_OWNER.MX_EAI_MESSAGE_LOG
          ( DIRECTION, REFERENCE, CREATED, MESSAGE, JOB_PID,
            STATUS, QUEUE_NAME, SIEBEL_ERROR_MESSAGE, SOURCE, 
            SIEBEL_ERROR_CODE, RETRY_COUNT, SEQUENCE, PARENT_ROW_ID )
        VALUES 
          ( 'Job Logging', @strID, GETDATE(), NULL, @nPID,
            'Error', 'PROC_CFDI_LIBERACION_REMISION', @sMsg, 'PL/SQL',
            @sErrorCode, NULL, NULL, NULL );       

    END CATCH
END;
GO
