USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_V40_GENERAR_REMISION_A51]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [T3].[PROC_V40_GENERAR_REMISION_A51] 
  ( @pFactura        VARCHAR(MAX) ) 
AS
BEGIN
   SET NOCOUNT ON;

   DECLARE @strID               VARCHAR(30) ;
   DECLARE @sMsg                VARCHAR(500) ; 
   DECLARE @sCtro               VARCHAR(4) ;
--
   DECLARE @sReturn             VARCHAR(MAX) ;
   DECLARE @sCABCLIE            VARCHAR(MAX) ;
   DECLARE @uHEADER             VARCHAR(MAX) ;
   DECLARE @uLINFAC             VARCHAR(MAX) ;   
   DECLARE @sUsoCFDI            VARCHAR(4) ;
   DECLARE @sRegimen            VARCHAR(4) ;
   DECLARE @sLeyMenor           VARCHAR(MAX) ;
   DECLARE @sLeyPriv            VARCHAR(MAX) ;   
   DECLARE @sSepLinea           VARCHAR(4) ;
   DECLARE @sSepCampo           VARCHAR(4) ;
   DECLARE @sTipoDocto          VARCHAR(4) ;
   DECLARE @sAgrupacion         VARCHAR(60) ;
   DECLARE @sSociedad           VARCHAR(30) ;
   DECLARE @nLineas             INT ;
   DECLARE @nLineasImp          INT ;
   DECLARE @nLineasLey          INT ;
   DECLARE @nEnajenado          NUMERIC(22,0) ;
   DECLARE @sFactura            VARCHAR(60) ;
   DECLARE @sMaterial           VARCHAR(60) ;
   DECLARE @nTotal              NUMERIC(22,2)  ;
   DECLARE @nItems              NUMERIC(22,2)  ;   
   DECLARE @sData               VARCHAR(MAX)   ;
   DECLARE @sCantidad_Vta       VARCHAR(30) ;
   DECLARE @sUnidad_Vta         VARCHAR(30) ;
   DECLARE @nFactor_PAQ         NUMERIC(15,2)  ;
   DECLARE @nCantidad_PAQ       NUMERIC(15,2)  ;   
   DECLARE @nItemValorUnitario  NUMERIC(15,2)  ;   
--
   DECLARE @sCfg_Addenda        VARCHAR(400) ;
   DECLARE @sNom_Addenda        VARCHAR(400) ;
   DECLARE @spedidoV3           VARCHAR(400) ;
   DECLARE @ssucursalNombre     VARCHAR(400) ;
   DECLARE @spedidoSAP          VARCHAR(400) ;
   DECLARE @sfacturaSAP         VARCHAR(400) ;
   DECLARE @sRecibe_RFC         VARCHAR(400) ;
   DECLARE @sRecibe_Nombre      VARCHAR(400) ;
   DECLARE @sRemite_Nombre      VARCHAR(400) ;
   DECLARE @sRemite_Calle       VARCHAR(400) ;
   DECLARE @sRemite_noExterior  VARCHAR(400) ;
   DECLARE @sRemite_noInterior  VARCHAR(400) ;
   DECLARE @sRemite_colonia     VARCHAR(400) ;
   DECLARE @sRemite_municipio   VARCHAR(400) ;
   DECLARE @sRemite_estado      VARCHAR(400) ;
   DECLARE @sRemite_pais        VARCHAR(400) ;
   DECLARE @sRemite_codigoPostal VARCHAR(400) ;
   DECLARE @sTipo_Documento     VARCHAR(400) ;
   DECLARE @sRecibe_Cliente     VARCHAR(400) ;
   DECLARE @sRemite_Cliente     VARCHAR(400) ;
   DECLARE @sCentroExpedicion   VARCHAR(400) ;
   DECLARE @sLugarExpedicion    VARCHAR(400) ;
   DECLARE @seMail              VARCHAR(400) ;  
   DECLARE @seMail_Almacen      VARCHAR(400) ;  
   DECLARE @sDetalleItem        VARCHAR(10) ;
   DECLARE @sIncoterms          VARCHAR(400) ;   
   DECLARE @nRetenciones        NUMERIC(12,2 ) ;
   DECLARE @nDecimalesCFDI      INT      ;
   DECLARE @sMetodoDePago       VARCHAR(100) ;
   DECLARE @sNumCtaPago         VARCHAR(100) ;
   DECLARE @sDatosAdicionales   VARCHAR(2000) ;
   DECLARE @sSAT_ID             VARCHAR(30) ;
   DECLARE @sSAT_UM             VARCHAR(30) ;
   DECLARE @sIdentificacion     VARCHAR(30) ;
   DECLARE @sConv_Paquete       VARCHAR(30) ;   
   DECLARE @sRemision_RFC       VARCHAR(30) ;
   DECLARE @nDoc_Subtotal       NUMERIC(12,2 ) ;
   DECLARE @nDoc_Valor_IVA      NUMERIC(12,2 ) ;

   -- Variables cursores
   DECLARE @Doc_Doc_Total NUMERIC(22,2), @Doc_Ctro VARCHAR(4), @Doc_Origen VARCHAR(100), @Doc_Tipo_Docto VARCHAR(4), @Doc_Factura VARCHAR(60), @Doc_Cfg_Addenda VARCHAR(400), @Doc_versionCFDI VARCHAR(10), @Doc_serie VARCHAR(100), @Doc_folio VARCHAR(100), @Doc_Remision_RFC VARCHAR(100), @Doc_pedidoV3 VARCHAR(400), @Doc_pedidoSAP VARCHAR(400), @Doc_facturaSAP VARCHAR(400), @Doc_repVentas VARCHAR(100), @Doc_sucursalNombre VARCHAR(400), @Doc_fecha VARCHAR(100), @Doc_tipoDeComprobante VARCHAR(10), @Doc_formaDePago VARCHAR(100), @Doc_condicionesDePago VARCHAR(100), @Doc_motivoDescuento VARCHAR(100), @Doc_Descuento NUMERIC(22,2), @Doc_subTotal NUMERIC(22,2), @Doc_total NUMERIC(22,2), @Doc_metodoDePago VARCHAR(100), @Doc_NumCtaPago VARCHAR(100), @Doc_TipoCambio NUMERIC(16,6), @Doc_Moneda VARCHAR(10), @Doc_LugarExpedicion VARCHAR(400), @Doc_Emisor_RFC VARCHAR(100), @Doc_Emisor_Nombre VARCHAR(400), @Doc_Emisor_Calle VARCHAR(400), @Doc_Emisor_NoExterior VARCHAR(100), @Doc_Emisor_NoInterior VARCHAR(100), @Doc_Emisor_Colonia VARCHAR(400), @Doc_Emisor_Localidad VARCHAR(400), @Doc_Emisor_Municipio VARCHAR(400), @Doc_Emisor_Estado VARCHAR(400), @Doc_Emisor_Pais VARCHAR(100), @Doc_Emisor_CodigoPostal VARCHAR(100), @Doc_Expide_Calle VARCHAR(400), @Doc_Expide_noExterior VARCHAR(100), @Doc_Expide_noInterior VARCHAR(100), @Doc_Expide_colonia VARCHAR(400), @Doc_Expide_municipio VARCHAR(400), @Doc_Expide_estado VARCHAR(400), @Doc_Expide_pais VARCHAR(100), @Doc_Expide_codigoPostal VARCHAR(100), @Doc_RegimenFiscal VARCHAR(100), @Doc_RegimenFiscal_Cte VARCHAR(100), @Doc_Recibe_RFC VARCHAR(100), @Doc_Recibe_Nombre VARCHAR(400), @Doc_Recibe_Calle VARCHAR(400), @Doc_Recibe_NoExterior VARCHAR(100), @Doc_Recibe_NoInterior VARCHAR(100), @Doc_Recibe_Colonia VARCHAR(400), @Doc_Recibe_Localidad VARCHAR(400), @Doc_Recibe_Municipio VARCHAR(400), @Doc_Recibe_Estado VARCHAR(400), @Doc_Recibe_Pais VARCHAR(100), @Doc_Recibe_codigoPostal VARCHAR(100), @Doc_RFC_Recibe VARCHAR(100), @Doc_Remite_Nombre VARCHAR(400), @Doc_Remite_Calle VARCHAR(400), @Doc_Remite_noExterior VARCHAR(100), @Doc_Remite_noInterior VARCHAR(100), @Doc_Remite_colonia VARCHAR(400), @Doc_Remite_municipio VARCHAR(400), @Doc_Remite_estado VARCHAR(400), @Doc_Remite_pais VARCHAR(100), @Doc_Remite_codigoPostal VARCHAR(100), @Doc_Tipo_Documento VARCHAR(100), @Doc_Recibe_Cliente VARCHAR(400), @Doc_Remite_Cliente VARCHAR(400), @Doc_CentroExpedicion VARCHAR(400), @Doc_DecimalesCFDI INT, @Doc_eMail VARCHAR(400), @Doc_Correo_Almacen VARCHAR(400), @Doc_Sociedad VARCHAR(100), @Doc_ConfirmacionPAC VARCHAR(100), @Doc_UsoCFDI VARCHAR(100), @Doc_ResidenciaFiscal VARCHAR(100), @Doc_RegTributarioExt VARCHAR(100), @Doc_TipoRelacion VARCHAR(100), @Doc_Observaciones VARCHAR(2000), @Doc_Incoterms VARCHAR(400), @Doc_ImpuestosTrasladados VARCHAR(100), @Doc_impuesto VARCHAR(100), @Doc_tasa VARCHAR(100), @Doc_importe VARCHAR(100), @Doc_base_impuesto VARCHAR(100), @Doc_Doc_Subtotal NUMERIC(12,2), @Doc_Doc_Valor_IVA NUMERIC(12,2), @Doc_Doc_Envio_IVA NUMERIC(12,2), @Doc_Doc_Envio_IVA_Sum NUMERIC(12,2);
   DECLARE @Item_numLinea VARCHAR(20), @Item_cantidad VARCHAR(100), @Item_unidad VARCHAR(100), @Item_SAT_UM_Conv VARCHAR(100), @Item_noIdentificacion VARCHAR(100), @Item_Cig_x_Unidad_Vta NUMERIC(22,2), @Item_Prod_Unidad_Med_Vta VARCHAR(100), @Item_Cig_x_CLL NUMERIC(22,2), @Item_Cig_x_PAQ NUMERIC(22,2), @Item_valorUnitario NUMERIC(15,2), @Item_importe NUMERIC(22,2), @Item_SKU_importacion VARCHAR(100), @Item_RFD_Valor_Subt NUMERIC(22,2), @Item_RFD_Valor_IVA NUMERIC(22,2), @Item_Channel VARCHAR(100), @Item_descripcion VARCHAR(400);

   DECLARE ScrDatos CURSOR LOCAL FORWARD_ONLY STATIC FOR
       SELECT 
              0                                                  AS Doc_Total            ,
              'CTRL'                                             AS Ctro                 ,
              Doc.Origen                                         AS Origen               ,
              Doc.Clase_Remision                                 AS Tipo_Docto           ,
              Doc.Factura                                        AS Factura              ,
              ISNULL( CfgAd.Addenda, 'NO' )                      AS Cfg_Addenda          ,             
--              
              '4.0'                                              AS versionCFDI          ,
              Doc.Remision_Serie                                 AS serie                ,             
              Doc.Remision_Folio                                 AS folio                ,
              Doc.RFC                                            AS Remision_RFC         ,
              CASE
                 WHEN ( Doc.Clase_Remision = 'IO' ) THEN Doc.Observaciones
                 WHEN ( Doc.Clase_Remision = 'C005' ) AND ( Doc.Observaciones IS NOT NULL ) THEN Doc.Observaciones
                 WHEN ( Doc.Observaciones IS NULL ) THEN FORMAT( Doc.Fecha_Factura, 'dd.MM.yyyy' )
                 ELSE
                   Doc.Observaciones
              END                                                AS pedidoV3             ,     
              Doc.PedidoSAP                                      AS pedidoSAP            ,
              Doc.Factura                                        AS facturaSAP           ,
              ''                                                 AS repVentas            ,
              FORMAT( Doc.Fecha_Factura, 'dd.MM.yyyy' )          AS sucursalNombre       ,
              FORMAT( GETDATE(), 'yyyyMMdd' ) 
               -- || REPLACE( FORMAT( Doc.Fecha_Trn, 'HH:mm:ss' ), ':', '' )       
                  + REPLACE( FORMAT( GETDATE()      , 'HH:mm:ss' ), ':', '' )       
                                                                 AS fecha                ,
              'T'                                                AS tipoDeComprobante    ,
              EAI_Owner.getConv( 'CFG Settings', 'Remision - Forma Pago' )             
                                                                 AS formaDePago          ,
              EAI_Owner.getConv( 'CFG Settings', 'Remision - Condicion Pago' )
                                                                 AS condicionesDePago    ,
              'Descuento'                                        AS motivoDescuento      ,
              0                                                  AS Descuento            ,
              0                                                  AS subTotal             ,
              0                                                  AS total                ,
--
              EAI_Owner.getConv( 'CFG Settings', 'Remision - Metodo Pago' )
                                                                 AS metodoDePago         ,                                   
              ''                                                 AS NumCtaPago           ,                   
              1                                                  AS TipoCambio           ,
              'MXN'                                              AS Moneda               ,
--            
              'Monterrey, N.L.'                                  AS LugarExpedicion      ,
              T3.FN_TRIM_CFDI( Soc.RFC             )             AS Emisor_RFC           ,
              T3.FN_TRIM_CFDI( Soc.Razon_Social_HH )             AS Emisor_Nombre        ,
              T3.FN_TRIM_CFDI( Soc.Calle           )             AS Emisor_Calle         , 
              T3.FN_TRIM_CFDI( Soc.Numero_Ext      )             AS Emisor_NoExterior    ,
              T3.FN_TRIM_CFDI( Soc.Numero_Int      )             AS Emisor_NoInterior    ,
              T3.FN_TRIM_CFDI( Soc.Colonia         )             AS Emisor_Colonia       ,
              T3.FN_TRIM_CFDI( Soc.Localidad       )             AS Emisor_Localidad     ,
              T3.FN_TRIM_CFDI( Soc.Municipio       )             AS Emisor_Municipio     ,
--            T3.FN_TRIM_CFDI( Soc.Estado          )             AS Emisor_Estado        ,
              T3.FN_TRIM_CFDI(               
                 EAI_Owner.getConv( 'CFDI Estado',
                                    Soc.Estado )   )             AS Emisor_Estado        ,
              T3.FN_TRIM_CFDI( Soc.Pais            )             AS Emisor_Pais          ,
              T3.FN_TRIM_CFDI( Soc.Codigo_Postal   )             AS Emisor_CodigoPostal  ,
--               
              'AV. FRANCISCO I. MADERO'                          AS Expide_Calle         , 
              '2750 PTE.'                                        AS Expide_noExterior    ,
              ''                                                 AS Expide_noInterior    ,
              'CENTRO DE LA CIUDAD'                              AS Expide_colonia       ,
              'MONTERREY'                                        AS Expide_municipio     ,
              'N.L.'                                             AS Expide_estado        ,
              'México'                                           AS Expide_pais          ,
              '64000'                                            AS Expide_codigoPostal  ,
                         
              EAI_Owner.getConv( 'CFG Settings', 'Regimen Fiscal' )             
                                                                 AS RegimenFiscal        ,           
              ISNULL( Reg.Regimen_Fiscal,
                   EAI_Owner.getConv( 'CFG Settings', 'Regimen Fiscal Cliente' ) ) 
                                                                 AS RegimenFiscal_Cte    ,
--              
              T3.FN_TRIM_CFDI( ISNULL( Doc.RFC, Soc.RFC ) )      AS Recibe_RFC           ,
              ISNULL( RS.Razon_Social, Doc.Destino_Nombre )          AS Recibe_Nombre        ,
              Doc.Direccion                                      AS Recibe_Calle         , 
              ''                                                 AS Recibe_NoExterior    ,
              ''                                                 AS Recibe_NoInterior    ,
              Doc.Colonia                                        AS Recibe_Colonia       ,
              ''                                                 AS Recibe_Localidad     ,
              Doc.Ciudad                                         AS Recibe_Municipio     ,
              EAI_Owner.getConv( 'CFDI Estado', Doc.Estado )     AS Recibe_Estado        ,
              Doc.Pais                                           AS Recibe_Pais          ,
              T3.FN_TRIM_CFDI( 
                    RIGHT('00000' + ISNULL( CP.CodigoPostal, ISNULL( MC.Codigo_Postal_3, '99999' ) )
                                      , 5 )  )                   AS Recibe_codigoPostal  ,   
--                    
              ISNULL( MC.RFC, 'XAXX010101000' )                  AS RFC_Recibe           ,
              Doc.Destino_Nombre                                 AS Remite_Nombre        ,
              Doc.Destino_Direccion                              AS Remite_Calle         ,
              ''                                                 AS Remite_noExterior    ,
              ''                                                 AS Remite_noInterior    ,
              Doc.Destino_Colonia                                AS Remite_colonia       ,
              Doc.Destino_Ciudad                                 AS Remite_municipio     ,
              EAI_Owner.getConv( 'CFDI Estado',
                   Doc.Destino_Estado )                          AS Remite_estado        ,
              Doc.Destino_Pais                                   AS Remite_pais          ,
              T3.FN_TRIM_CFDI( 
                    RIGHT('00000' + ISNULL( Doc.Destino_CodigoPostal, '99999' )
                                      , 5 )  )                   AS Remite_codigoPostal  ,   
--
              'REMISION'                                         AS Tipo_Documento       ,
              Doc.Origen                                         AS Recibe_Cliente       ,
              CASE WHEN Doc.Clase_Remision = 'C005' THEN Doc.ShiptoParty ELSE Doc.Destino END
                                                                 AS Remite_Cliente       ,             
              CASE Doc.Clase_Remision 
                  WHEN 'IO'   THEN Doc.Origen 
                  WHEN 'C005' THEN Doc.Origen 
                  ELSE 'MXLE' 
              END                                                AS CentroExpedicion     ,             
              2                                                  AS DecimalesCFDI        , 
              ''                                                 AS eMail                , 
              CASE
                  WHEN ( Mail.eMail_Remision IS NOT NULL ) THEN Mail.eMail_Remision
                  WHEN ( DF.Correo_Remision  IS NOT NULL ) THEN DF.Correo_Remision
                  WHEN ( Mail.eMail          IS NOT NULL ) THEN Mail.eMail
                  ELSE
                      ''
              END                                                AS Correo_Almacen       ,
              Doc.Sociedad                                       AS Sociedad             ,
              ''                                                 AS ConfirmacionPAC      ,
              EAI_Owner.getConv( 'CFG Settings', 'UsoCFDI_Remision' )
                                                                 AS UsoCFDI              ,
              ''                                                 AS ResidenciaFiscal     ,
              ''                                                 AS RegTributarioExt     ,
              ''                                                 AS TipoRelacion         ,             
--              
              ''                                                 AS Observaciones        ,
              ''                                                 AS Incoterms            ,
              '0'                                                AS ImpuestosTrasladados ,
              'IVA'                                              AS impuesto             , 
              '0'                                                AS tasa                 ,
              '0'                                                AS importe              ,
              '0'                                                AS base_impuesto        ,
              ISNULL( Det.Valor_Subt, 0 ) + ISNULL( Det.Envio_Subt, 0 )  AS Doc_Subtotal         ,
              ISNULL( Det.Valor_IVA , 0 ) + ISNULL( Det.Envio_IVA , 0 )  AS Doc_Valor_IVA        ,
              ROUND( ISNULL( Det.Envio_Subt, 0 ) * 0.16, 2 )           AS Doc_Envio_IVA        ,
              ISNULL( Det.Envio_IVA , 0 )                              AS Doc_Envio_IVA_Sum
          FROM T3.Remision_General    Doc 
          LEFT OUTER JOIN T3.Mov_Cliente          MC ON RIGHT('0000000000' + ISNULL(Doc.ShiptoParty, ''), 10) = MC.Cliente_SAP
          LEFT OUTER JOIN T3.TMD_eMail            Mail ON Doc.ShiptoParty = Mail.Cliente_SAP
          LEFT OUTER JOIN T3.Distribuidor_Fiscal  DF ON Doc.Origen = DF.Ctro
          INNER JOIN EAI.ZSDFE_Soc           Soc ON Doc.Sociedad = Soc.BUKRS AND Doc.Sociedad = ISNULL( Soc.KUNNR, 'NULL' )
          LEFT OUTER JOIN (
                            SELECT SUM( CASE WHEN Det.Material = '88000117' THEN 0 ELSE ISNULL( Det.Valor_Subt, 0 ) END ) AS Valor_Subt,
                                   SUM( CASE WHEN Det.Material = '88000117' THEN 0 ELSE ISNULL( Det.Valor_IVA , 0 ) END ) AS Valor_IVA ,
                                   SUM( CASE WHEN Det.Material = '88000117' THEN ISNULL( Det.Valor_Subt, 0) ELSE 0 END ) AS Envio_Subt,
                                   SUM( CASE WHEN Det.Material = '88000117' THEN ISNULL( Det.Valor_IVA , 0 ) ELSE 0 END ) AS Envio_IVA 
                               FROM T3.Remision_Detalle Det
                               WHERE Factura = @pFactura 
                          ) Det ON 1 = 1
          LEFT OUTER JOIN ( SELECT RFC, MAX( Valor ) AS Regimen_Fiscal
                                FROM T3.CFDI_RFC_Setting
                                WHERE Parametro = 'RegimenFiscal' 
                                GROUP BY RFC ) Reg ON Doc.RFC = Reg.RFC
          LEFT OUTER JOIN ( SELECT RFC, MAX( Valor ) AS Razon_Social
                                FROM T3.CFDI_RFC_Setting
                                WHERE Parametro = 'Nombre'
                                GROUP BY RFC ) RS ON Doc.RFC = RS.RFC                
          LEFT OUTER JOIN ( SELECT RFC, MAX( Valor ) AS CodigoPostal
                                FROM T3.CFDI_RFC_Setting
                                WHERE Parametro = 'CodigoPostal'
                                GROUP BY RFC ) CP ON Doc.RFC = CP.RFC
          LEFT OUTER JOIN (
                            SELECT T1.RFC, RS.Razon_Social, 
                                   CASE
                                      WHEN ( T1.RFC = 'XAXX010101000' ) THEN 'NO'
                                      ELSE 
                                         ISNULL( T1.Venta, 'NO' ) 
                                   END                    AS Addenda
                               FROM T3.CFDI_ADDENDA T1
                               LEFT OUTER JOIN (
                                     SELECT RFC, Valor AS Razon_Social
                                        FROM T3.CFDI_RFC_Setting
                                        WHERE Parametro = 'Nombre' ) RS ON T1.RFC = RS.RFC                         
                            ) CfgAd ON Doc.RFC = CfgAd.RFC            
          WHERE Doc.Factura   = @pFactura ;                               -- CFDI
--
   DECLARE ScrDetalle CURSOR LOCAL FORWARD_ONLY STATIC FOR
                    SELECT
                                  LTRIM(RTRIM(STR( Item.Num_Linea, 10, 0     ) ))  AS numLinea            ,
                                  T3.FN_NUM_TO_CHAR_CFDI( Item.Cantidad, 
                                                          @nDecimalesCFDI )              AS cantidad            ,
                                  Item.UnidadMedida                                      AS unidad              ,
                                  EAI_Owner.getConv( 'CFDI SAT UM', Item.UnidadMedida )   
                                                                                         AS SAT_UM_Conv         ,                                  
                                  Item.Material                                          AS noIdentificacion    ,
                                  0                                                      AS Cig_x_Unidad_Vta    ,
                                  ISNULL( Prod.Unidad_Med_Vta, 'NULO' )                  AS Prod_Unidad_Med_Vta,
                                  ISNULL( Prod.Cig_x_CLL, 0 )                            AS Cig_x_CLL          ,
                                  ISNULL( Prod.Cig_x_PAQ, 0 )                            AS Cig_x_PAQ          ,                                  
                                  ISNULL( Item.Valor_Subt, 0 ) / NULLIF(Item.Cantidad,0) AS valorUnitario       ,
                                  ISNULL( Item.Valor_Subt, 0 )                           AS importe             ,
                                  'NO'                                                   AS SKU_importacion     ,
                                  ISNULL( Item.Valor_Subt, 0 )                           AS RFD_Valor_Subt      ,
                                  ISNULL( Item.Valor_IVA , 0 )                           AS RFD_Valor_IVA       ,
                                  'BAT'                                                  AS Channel             ,
                                  T3.FN_TRIM_CFDI( Item.MaterialDescripcion )          AS descripcion        
                     FROM T3.Remision_Detalle Item
                     LEFT OUTER JOIN T3.Material          Prod ON Item.Material = Prod.Material
                     WHERE Item.Factura    = @pFactura                                 -- CFDI
                       AND ISNULL( Item.Cantidad, 0 ) > 0
                     ORDER BY Item.Num_Linea ;
--
   BEGIN TRY
--
      SET @strID      = @pFactura ;
      SET @sReturn    = '' ;
      SET @sCABCLIE   = '' ;
      SET @uHEADER    = '' ;
      SET @uLINFAC    = '' ;
      SET @nTotal     = 00 ;
      SET @nItems     = 00 ;   
      SET @sSepLinea  = CHAR(13) + CHAR(10) ;
      SET @sSepCampo  = '|' ;
      SET @sLeyMenor  = 'Le recordamos que las Leyes prohíben y sancionan la venta de cigarros a menores de 18 años de edad '  +
                     'y en unidades sueltas. En caso de duda solicite identificación oficial. Ayúdenos a que los menores '  +
                     'de edad no tengan acceso a los cigarros.' ;
     /* SET @sLeyPriv   = 'British American Tobacco México, S.A. de C.V. y sus empresas relacionadas (el "Grupo"), con domicilio en Avenida Francisco I. Madero, ' +
                     '2750 Pte., Centro de la Ciudad, Monterrey, N.L. C.P. 64000, utilizarán los datos personales que usted entregue voluntariamente mediante '    +
                     'este documento para cumplir con las políticas, procedimientos operativos y requisitos legales aplicables y llevar un registro adecuado' + 
                     ' de los proveedores y clientes del Grupo. Para mayor información respecto al tratamiento de sus datos personales o al ejercicio de sus' + 
                     ' derechos ARCO consulte nuestro aviso de privacidad integral en www.batmexico.com.mx' ;                */
      SET @sLeyPriv   = '' ;             

   OPEN ScrDatos;
   FETCH NEXT FROM ScrDatos INTO @Doc_Doc_Total, @Doc_Ctro, @Doc_Origen, @Doc_Tipo_Docto, @Doc_Factura, @Doc_Cfg_Addenda, @Doc_versionCFDI, @Doc_serie, @Doc_folio, @Doc_Remision_RFC, @Doc_pedidoV3, @Doc_pedidoSAP, @Doc_facturaSAP, @Doc_repVentas, @Doc_sucursalNombre, @Doc_fecha, @Doc_tipoDeComprobante, @Doc_formaDePago, @Doc_condicionesDePago, @Doc_motivoDescuento, @Doc_Descuento, @Doc_subTotal, @Doc_total, @Doc_metodoDePago, @Doc_NumCtaPago, @Doc_TipoCambio, @Doc_Moneda, @Doc_LugarExpedicion, @Doc_Emisor_RFC, @Doc_Emisor_Nombre, @Doc_Emisor_Calle, @Doc_Emisor_NoExterior, @Doc_Emisor_NoInterior, @Doc_Emisor_Colonia, @Doc_Emisor_Localidad, @Doc_Emisor_Municipio, @Doc_Emisor_Estado, @Doc_Emisor_Pais, @Doc_Emisor_CodigoPostal, @Doc_Expide_Calle, @Doc_Expide_noExterior, @Doc_Expide_noInterior, @Doc_Expide_colonia, @Doc_Expide_municipio, @Doc_Expide_estado, @Doc_Expide_pais, @Doc_Expide_codigoPostal, @Doc_RegimenFiscal, @Doc_RegimenFiscal_Cte, @Doc_Recibe_RFC, @Doc_Recibe_Nombre, @Doc_Recibe_Calle, @Doc_Recibe_NoExterior, @Doc_Recibe_NoInterior, @Doc_Recibe_Colonia, @Doc_Recibe_Localidad, @Doc_Recibe_Municipio, @Doc_Recibe_Estado, @Doc_Recibe_Pais, @Doc_Recibe_codigoPostal, @Doc_RFC_Recibe, @Doc_Remite_Nombre, @Doc_Remite_Calle, @Doc_Remite_noExterior, @Doc_Remite_noInterior, @Doc_Remite_colonia, @Doc_Remite_municipio, @Doc_Remite_estado, @Doc_Remite_pais, @Doc_Remite_codigoPostal, @Doc_Tipo_Documento, @Doc_Recibe_Cliente, @Doc_Remite_Cliente, @Doc_CentroExpedicion, @Doc_DecimalesCFDI, @Doc_eMail, @Doc_Correo_Almacen, @Doc_Sociedad, @Doc_ConfirmacionPAC, @Doc_UsoCFDI, @Doc_ResidenciaFiscal, @Doc_RegTributarioExt, @Doc_TipoRelacion, @Doc_Observaciones, @Doc_Incoterms, @Doc_ImpuestosTrasladados, @Doc_impuesto, @Doc_tasa, @Doc_importe, @Doc_base_impuesto, @Doc_Doc_Subtotal, @Doc_Doc_Valor_IVA, @Doc_Doc_Envio_IVA, @Doc_Doc_Envio_IVA_Sum;
   WHILE @@FETCH_STATUS = 0 BEGIN
      SET @sIncoterms     = @Doc_Incoterms      ;
      SET @nDecimalesCFDI = @Doc_DecimalesCFDI  ;

      SET @sTipoDocto = @Doc_Tipo_Docto ;
      IF ( @sTipoDocto = 'C005' ) BEGIN
         EXEC T3.PROC_V40_GENERAR_REMISION_A51 @pFactura ;
         RETURN ;
      END ;
      SET @sFactura   = @Doc_Factura    ;
      SET @sCtro      = @Doc_Ctro       ;
      IF ( @Doc_Sociedad = 'MX16' ) BEGIN
         SET @sCtro = @Doc_Origen ;
      END ;
      SET @nTotal                = @Doc_Doc_Total                       ;
      SET @nTotal                = ISNULL(@Doc_Doc_Subtotal,0) + ISNULL(@Doc_Doc_Valor_IVA,0) ;
      SET @nDoc_Subtotal         = @Doc_Doc_Subtotal                    ;
      SET @nDoc_Valor_IVA        = @Doc_Doc_Valor_IVA                   ;

-- Variables para CABCLIE
      SET @sPedidoV3             = @Doc_PedidoV3             ;
      SET @sSucursalNombre       = @Doc_SucursalNombre       ;
      SET @sPedidoSAP            = @Doc_PedidoSAP            ;
      SET @sFacturaSAP           = @Doc_FacturaSAP           ;
      SET @sRecibe_Nombre        = @Doc_Recibe_Nombre        ;
      SET @sRemite_Nombre        = @Doc_Remite_Nombre        ;
      SET @sRemite_Calle         = @Doc_Remite_Calle         ;
      SET @sRemite_noExterior    = @Doc_Remite_noExterior    ;
      SET @sRemite_noInterior    = @Doc_Remite_noInterior    ;
      SET @sRemite_colonia       = @Doc_Remite_Colonia       ;
      SET @sRemite_municipio     = @Doc_Remite_Municipio     ;
      SET @sRemite_estado        = @Doc_Remite_Estado        ;
      SET @sRemite_pais          = @Doc_Remite_Pais          ;
      SET @sRemite_codigoPostal  = @Doc_Remite_codigoPostal  ;
      SET @sTipo_Documento       = @Doc_Tipo_Documento       ;
      SET @sRecibe_Cliente       = @Doc_Recibe_Cliente       ;
      SET @sRemite_Cliente       = @Doc_Remite_Cliente       ;
      SET @sCentroExpedicion     = @Doc_CentroExpedicion     ;
      SET @sLugarExpedicion      = @Doc_LugarExpedicion      ;
      SET @seMail                = @Doc_eMail                ;
      SET @seMail_Almacen        = @Doc_correo_Almacen       ;
      SET @sSociedad             = @Doc_Sociedad             ;
      SET @sRecibe_RFC           = @Doc_RFC_Recibe           ;
      SET @sRemision_RFC         = @Doc_Remision_RFC         ;
      SET @sCfg_Addenda          = @Doc_Cfg_Addenda          ;
--
      SET @sMetodoDePago         = @Doc_metodoDePago         ;
      SET @sNumCtaPago           = @Doc_NumCtaPago           ;
         SELECT @sMetodoDePago = EAI_Owner.getConv( 'TMD_PAC Payment Method', 'Traslado' ),
                @sNumCtaPago = EAI_Owner.getConv( 'TMD_PAC Payment Method', 'Traslado Ref Banco' ) ;
-- Cabecera Factura
-- HEADER
      SET @uHEADER  = ISNULL(@uHEADER,'') + 'HEADER'                                        + ISNULL(@sSepCampo,'') ;              
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                                              + ISNULL(@sSepCampo,'') ;   -- 02 Codigo de Autorizacion
      SET @uHEADER  = ISNULL(@uHEADER,'') + ISNULL(@Doc_tipoDeComprobante,'')               + ISNULL(@sSepCampo,'') ;   -- 03 Tipo de Comprobante
      SET @uHEADER  = ISNULL(@uHEADER,'') + ISNULL(@Doc_folio,'')                           + ISNULL(@sSepCampo,'') ;   -- 04 Folio
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                                              + ISNULL(@sSepCampo,'') ;   -- 05 Fecha de Vencimiento
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                                              + ISNULL(@sSepCampo,'') ;   -- 06 Tipo de Ingreso
      SET @uHEADER  = ISNULL(@uHEADER,'') + ISNULL(@Doc_FormaDePago,'')                     + ISNULL(@sSepCampo,'') ;   -- 07 Tipo de Pago
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                                              + ISNULL(@sSepCampo,'') ;   -- 08 Fecha Limite de Pago
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                                              + ISNULL(@sSepCampo,'') ;   -- 09 Tipo Cuenta de Pago
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                                              + ISNULL(@sSepCampo,'') ;   -- 10 Numero Cuenta de Pago
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                                              + ISNULL(@sSepCampo,'') ;   -- 11 Banco de Pago
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                                              + ISNULL(@sSepCampo,'') ;   -- 12 Fecha Inicio Servicios
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                                              + ISNULL(@sSepCampo,'') ;   -- 13 Fecha Inicio Servicios
      SET @uHEADER  = ISNULL(@uHEADER,'') + ISNULL(@Doc_fecha,'')                           + ISNULL(@sSepCampo,'') ;   -- 14 Fecha Emision Documento
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                                              + ISNULL(@sSepCampo,'') ;   -- 15 Fecha Orden de Compra
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                                              + ISNULL(@sSepCampo,'') ;   -- 16 Orden de Compra
      SET @uHEADER  = ISNULL(@uHEADER,'') + ISNULL(T3.FN_NUM_TO_CHAR_CFDI( @Doc_importe         , 2 ),'') + ISNULL(@sSepCampo,'') ;   -- 17 Monto Gravado Total
    --SET @uHEADER  = ISNULL(@uHEADER,'') + ISNULL(T3.FN_NUM_TO_CHAR_CFDI( @Doc_Doc_Valor_IVA   , 2 ),'') + ISNULL(@sSepCampo,'') ;   -- 17 Monto Gravado Total
      SET @uHEADER  = ISNULL(@uHEADER,'') + ISNULL(T3.FN_NUM_TO_CHAR_CFDI( 0                    , 2 ),'') + ISNULL(@sSepCampo,'') ;   -- 18 Monto Exento
      SET @uHEADER  = ISNULL(@uHEADER,'') + ISNULL(T3.FN_NUM_TO_CHAR_CFDI( @Doc_subTotal        , 2 ),'') + ISNULL(@sSepCampo,'') ;   -- 19 Subtotal
    --SET @uHEADER  = ISNULL(@uHEADER,'') + ISNULL(T3.FN_NUM_TO_CHAR_CFDI( @Doc_Doc_Subtotal    , 2 ),'') + ISNULL(@sSepCampo,'') ;   -- 19 Subtotal
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                                              + ISNULL(@sSepCampo,'') ;   -- 20 Total Impuestos Trasladados
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                                              + ISNULL(@sSepCampo,'') ;   -- 21 Impuestos Retenidos
      SET @uHEADER  = ISNULL(@uHEADER,'') + ISNULL(T3.FN_NUM_TO_CHAR_CFDI( @Doc_total           , 2 ),'') + ISNULL(@sSepCampo,'') ;   -- 22 Monto Total
    --SET @uHEADER  = ISNULL(@uHEADER,'') + ISNULL(T3.FN_NUM_TO_CHAR_CFDI( ISNULL(@Doc_Doc_Subtotal,0) + ISNULL(@Doc_Doc_Valor_IVA,0), 2 ),'') 
    --                                                                                      + ISNULL(@sSepCampo,'') ;   -- 22 Monto Total
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                                              + ISNULL(@sSepCampo,'') ;   -- 23 Monto No Facturable
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                                              + ISNULL(@sSepCampo,'') ;   -- 24 Monto Periodo
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                                              + ISNULL(@sSepCampo,'') ;   -- 25 Saldo Anterior
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                                              + ISNULL(@sSepCampo,'') ;   -- 26 Monto Avance de Pago
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                                              + ISNULL(@sSepCampo,'') ;   -- 27 Valor Cobrado
      SET @uHEADER  = ISNULL(@uHEADER,'') + ISNULL(@Doc_Factura,'')                         + ISNULL(@sSepCampo,'') ;   -- 28 Folio Interno Factura
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                                              + ISNULL(@sSepCampo,'') ;   -- 29 Indicador Nota de Credito
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                                              + ISNULL(@sSepCampo,'') ;   -- 30 Indicador Monto Gravado
      SET @uHEADER  = ISNULL(@uHEADER,'') + ISNULL(@Doc_condicionesDePago,'')               + ISNULL(@sSepCampo,'') ;   -- 31 Terminos de Pago
      SET @uHEADER  = ISNULL(@uHEADER,'') + ISNULL(@Doc_Moneda,'')                          + ISNULL(@sSepCampo,'') ;   -- 32 Moneda
      SET @uHEADER  = ISNULL(@uHEADER,'') + ISNULL(@Doc_Serie,'')                           + ISNULL(@sSepCampo,'') ;   -- 33 Serie      
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                                              + ISNULL(@sSepCampo,'') ;   -- 34 Confirmation
      SET @uHEADER  = ISNULL(@uHEADER,'') + 'C'                                             + ISNULL(@sSepCampo,'') ;   -- 35 Flag Addenda/Complemento
      SET @uHEADER  = ISNULL(@uHEADER,'') + '01'                                            + ISNULL(@sSepCampo,'') ;   -- 36 Tipo Exportacion
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                                              + ISNULL(@sSepCampo,'') ;   -- 37 Peridiocidad
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                                              + ISNULL(@sSepCampo,'') ;   -- 38 Mes de Documento
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                                              + ISNULL(@sSepCampo,'') ;   -- 39 Anio
      SET @uHEADER  = ISNULL(@uHEADER,'') + ISNULL(@Doc_versionCFDI,'')                     + ISNULL(@sSepCampo,'') ;   -- 40 Version
-- PARTIES - Emisor
      SET @uHEADER  = ISNULL(@uHEADER,'') + ISNULL(@sSepLinea,'')                                ;
      SET @uHEADER  = ISNULL(@uHEADER,'') + 'PARTIES'                + ISNULL(@sSepCampo,'') ;              
      SET @uHEADER  = ISNULL(@uHEADER,'') + 'E'                      + ISNULL(@sSepCampo,'') ;              
      SET @uHEADER  = ISNULL(@uHEADER,'') + ISNULL(@Doc_Emisor_RFC,'')            + ISNULL(@sSepCampo,'') ;   -- 03 TaxID
      SET @uHEADER  = ISNULL(@uHEADER,'') + ISNULL(@Doc_Emisor_Nombre,'')         + ISNULL(@sSepCampo,'') ;   -- 04 Legal Entity Name
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                       + ISNULL(@sSepCampo,'') ;   -- 05 Trade Name
      SET @uHEADER  = ISNULL(@uHEADER,'') + ISNULL(@Doc_LugarExpedicion,'')       + ISNULL(@sSepCampo,'') ;   -- 06 Branch Name
      SET @uHEADER  = ISNULL(@uHEADER,'') + ISNULL(@Doc_Emisor_Calle,'')          + ' ' +
                             ISNULL(@Doc_Emisor_NoExterior,'')    + ISNULL(@sSepCampo,'') ;   -- 07 Address
      SET @uHEADER  = ISNULL(@uHEADER,'') + ISNULL(@Doc_Emisor_Colonia,'')        + ISNULL(@sSepCampo,'') ;   -- 08 Colonia
      SET @uHEADER  = ISNULL(@uHEADER,'') + ISNULL(@Doc_Emisor_Municipio,'')      + ISNULL(@sSepCampo,'') ;   -- 09 Municipality
      SET @uHEADER  = ISNULL(@uHEADER,'') + ISNULL(@Doc_Emisor_Estado,'')         + ISNULL(@sSepCampo,'') ;   -- 10 Country Subdivision
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                       + ISNULL(@sSepCampo,'') ;   -- 11 Telephone
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                       + ISNULL(@sSepCampo,'') ;   -- 12 Telephone_2
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                       + ISNULL(@sSepCampo,'') ;   -- 13 Telephone_3
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                       + ISNULL(@sSepCampo,'') ;   -- 14 eMail
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                       + ISNULL(@sSepCampo,'') ;   -- 15 Web Site
      SET @uHEADER  = ISNULL(@uHEADER,'') + ISNULL(@Doc_RegimenFiscal,'')         + ISNULL(@sSepCampo,'') ;   -- 16 Business_Activity
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                       + ISNULL(@sSepCampo,'') ;   -- 17 Seller Internal Code
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                       + ISNULL(@sSepCampo,'') ;   -- 18 Seller Area
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                       + ISNULL(@sSepCampo,'') ;   -- 19 Sales Route
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                       + ISNULL(@sSepCampo,'') ;   -- 20 Additional Info
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                       + ISNULL(@sSepCampo,'') ;   -- 21 Foreign_Tax_ID
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                       + ISNULL(@sSepCampo,'') ;   -- 22 Contac_Details
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                       + ISNULL(@sSepCampo,'') ;   -- 23 Buyer_Internal_Code
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                       + ISNULL(@sSepCampo,'') ;   -- 24 Payer_ID
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                       + ISNULL(@sSepCampo,'') ;   -- 25 City
   -- @uHEADER  = ISNULL(@uHEADER,'') + ISNULL(@Doc_Emisor_CodigoPostal,'')  + ISNULL(@sSepCampo,'') ;   -- 26 Postal Code
      SET @uHEADER  = ISNULL(@uHEADER,'') + ISNULL(@Doc_Expide_codigoPostal,'')  + ISNULL(@sSepCampo,'') ;   -- 26 Postal Code
      SET @uHEADER  = ISNULL(@uHEADER,'') + 'MEX'                    + ISNULL(@sSepCampo,'') ;   -- 27 Country Code
--
-- PARTIES - Receptor
      SET @sRegimen = @Doc_RegimenFiscal_Cte ;
      SET @sUsoCFDI = @Doc_UsoCFDI          ;
      IF ( @Doc_Recibe_RFC = 'XAXX010101000' ) BEGIN
         SET @sRegimen = '616' ;
         SET @sUsoCFDI = 'S01' ;
      END ;
      SET @uHEADER  = ISNULL(@uHEADER,'') + ISNULL(@sSepLinea,'')                                ;
      SET @uHEADER  = ISNULL(@uHEADER,'') + 'PARTIES'                + ISNULL(@sSepCampo,'') ;              
      SET @uHEADER  = ISNULL(@uHEADER,'') + 'R'                      + ISNULL(@sSepCampo,'') ;     
      IF ( @sCfg_Addenda = 'NO' ) BEGIN      
         SET @uHEADER  = ISNULL(@uHEADER,'') + ISNULL(@Doc_Recibe_RFC,'')            + ISNULL(@sSepCampo,'') ;   -- 03 TaxID
         SET @uHEADER  = ISNULL(@uHEADER,'') + ISNULL(@Doc_Recibe_Nombre,'')         + ISNULL(@sSepCampo,'') ;   -- 04 Legal Entity Name
      END ELSE BEGIN
         SET @uHEADER  = ISNULL(@uHEADER,'') + ISNULL(@Doc_Emisor_RFC,'')            + ISNULL(@sSepCampo,'') ;   -- 03 TaxID
         SET @uHEADER  = ISNULL(@uHEADER,'') + ISNULL(@Doc_Emisor_Nombre,'')         + ISNULL(@sSepCampo,'') ;   -- 04 Legal Entity Name
         SET @sNom_Addenda = @Doc_Recibe_Nombre ;         
      END ;
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                       + ISNULL(@sSepCampo,'') ;   -- 05 Trade Name
      SET @uHEADER  = ISNULL(@uHEADER,'') + ISNULL(@Doc_SucursalNombre,'')        + ISNULL(@sSepCampo,'') ;   -- 06 Branch Name
      SET @uHEADER  = ISNULL(@uHEADER,'') + ISNULL(@Doc_Recibe_Calle,'')          + ISNULL(@sSepCampo,'') ;   -- 07 Address
      SET @uHEADER  = ISNULL(@uHEADER,'') + ISNULL(@Doc_Recibe_Colonia,'')        + ISNULL(@sSepCampo,'') ;   -- 08 Colonia
      SET @uHEADER  = ISNULL(@uHEADER,'') + ISNULL(@Doc_Recibe_Municipio,'')      + ISNULL(@sSepCampo,'') ;   -- 09 Municipality
      SET @uHEADER  = ISNULL(@uHEADER,'') + ISNULL(@Doc_Recibe_Estado,'')         + ISNULL(@sSepCampo,'') ;   -- 10 Country Subdivision
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                       + ISNULL(@sSepCampo,'') ;   -- 11 Telephone
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                       + ISNULL(@sSepCampo,'') ;   -- 12 Telephone_2
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                       + ISNULL(@sSepCampo,'') ;   -- 13 Telephone_3
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                       + ISNULL(@sSepCampo,'') ;   -- 14 eMail
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                       + ISNULL(@sSepCampo,'') ;   -- 15 Web Site
      SET @uHEADER  = ISNULL(@uHEADER,'') + ISNULL(@sRegimen,'')                  + ISNULL(@sSepCampo,'') ;   -- 16 Business_Activity
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                       + ISNULL(@sSepCampo,'') ;   -- 17 Seller Internal Code
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                       + ISNULL(@sSepCampo,'') ;   -- 18 Seller Area
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                       + ISNULL(@sSepCampo,'') ;   -- 19 Sales Route
      SET @uHEADER  = ISNULL(@uHEADER,'') + 'S01'                    + ISNULL(@sSepCampo,'') ;   -- 20 Additional Info
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                       + ISNULL(@sSepCampo,'') ;   -- 21 Foreign_Tax_ID
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                       + ISNULL(@sSepCampo,'') ;   -- 22 Contac_Details
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                       + ISNULL(@sSepCampo,'') ;   -- 23 Buyer_Internal_Code
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                       + ISNULL(@sSepCampo,'') ;   -- 24 Payer_ID
      SET @uHEADER  = ISNULL(@uHEADER,'') + ''                       + ISNULL(@sSepCampo,'') ;   -- 25 City
      IF ( ( @Doc_Recibe_RFC = 'XAXX010101000' ) OR ( @sCfg_Addenda != 'NO' ) ) BEGIN
         SET @uHEADER  = ISNULL(@uHEADER,'') + ISNULL(@Doc_Expide_codigoPostal,'')  + ISNULL(@sSepCampo,'') ;   -- 26 Postal Code
      END ELSE BEGIN
         SET @uHEADER  = ISNULL(@uHEADER,'') + ISNULL(@Doc_Recibe_codigoPostal,'')  + ISNULL(@sSepCampo,'') ;   -- 26 Postal Code
      END ;
      SET @uHEADER  = ISNULL(@uHEADER,'') + 'MEX'                    + ISNULL(@sSepCampo,'') ;   -- 27 Country Code                    
      FETCH NEXT FROM ScrDatos INTO @Doc_Doc_Total, @Doc_Ctro, @Doc_Origen, @Doc_Tipo_Docto, @Doc_Factura, @Doc_Cfg_Addenda, @Doc_versionCFDI, @Doc_serie, @Doc_folio, @Doc_Remision_RFC, @Doc_pedidoV3, @Doc_pedidoSAP, @Doc_facturaSAP, @Doc_repVentas, @Doc_sucursalNombre, @Doc_fecha, @Doc_tipoDeComprobante, @Doc_formaDePago, @Doc_condicionesDePago, @Doc_motivoDescuento, @Doc_Descuento, @Doc_subTotal, @Doc_total, @Doc_metodoDePago, @Doc_NumCtaPago, @Doc_TipoCambio, @Doc_Moneda, @Doc_LugarExpedicion, @Doc_Emisor_RFC, @Doc_Emisor_Nombre, @Doc_Emisor_Calle, @Doc_Emisor_NoExterior, @Doc_Emisor_NoInterior, @Doc_Emisor_Colonia, @Doc_Emisor_Localidad, @Doc_Emisor_Municipio, @Doc_Emisor_Estado, @Doc_Emisor_Pais, @Doc_Emisor_CodigoPostal, @Doc_Expide_Calle, @Doc_Expide_noExterior, @Doc_Expide_noInterior, @Doc_Expide_colonia, @Doc_Expide_municipio, @Doc_Expide_estado, @Doc_Expide_pais, @Doc_Expide_codigoPostal, @Doc_RegimenFiscal, @Doc_RegimenFiscal_Cte, @Doc_Recibe_RFC, @Doc_Recibe_Nombre, @Doc_Recibe_Calle, @Doc_Recibe_NoExterior, @Doc_Recibe_NoInterior, @Doc_Recibe_Colonia, @Doc_Recibe_Localidad, @Doc_Recibe_Municipio, @Doc_Recibe_Estado, @Doc_Recibe_Pais, @Doc_Recibe_codigoPostal, @Doc_RFC_Recibe, @Doc_Remite_Nombre, @Doc_Remite_Calle, @Doc_Remite_noExterior, @Doc_Remite_noInterior, @Doc_Remite_colonia, @Doc_Remite_municipio, @Doc_Remite_estado, @Doc_Remite_pais, @Doc_Remite_codigoPostal, @Doc_Tipo_Documento, @Doc_Recibe_Cliente, @Doc_Remite_Cliente, @Doc_CentroExpedicion, @Doc_DecimalesCFDI, @Doc_eMail, @Doc_Correo_Almacen, @Doc_Sociedad, @Doc_ConfirmacionPAC, @Doc_UsoCFDI, @Doc_ResidenciaFiscal, @Doc_RegTributarioExt, @Doc_TipoRelacion, @Doc_Observaciones, @Doc_Incoterms, @Doc_ImpuestosTrasladados, @Doc_impuesto, @Doc_tasa, @Doc_importe, @Doc_base_impuesto, @Doc_Doc_Subtotal, @Doc_Doc_Valor_IVA, @Doc_Doc_Envio_IVA, @Doc_Doc_Envio_IVA_Sum;
   END ;
   CLOSE ScrDatos;

   SELECT @sConv_Paquete = EAI_Owner.getConv( 'Conv Paquete Remision', @sRecibe_RFC ) 

   SET @nLineas    = 0 ;
   SET @nEnajenado = 0 ;
   SET @nLineasImp = 0 ;
   OPEN ScrDetalle;
   FETCH NEXT FROM ScrDetalle INTO @Item_numLinea, @Item_cantidad, @Item_unidad, @Item_SAT_UM_Conv, @Item_noIdentificacion, @Item_Cig_x_Unidad_Vta, @Item_Prod_Unidad_Med_Vta, @Item_Cig_x_CLL, @Item_Cig_x_PAQ, @Item_valorUnitario, @Item_importe, @Item_SKU_importacion, @Item_RFD_Valor_Subt, @Item_RFD_Valor_IVA, @Item_Channel, @Item_descripcion;
   WHILE @@FETCH_STATUS = 0 BEGIN
      SET @sDetalleItem        = 'NO' ;
      SET @nLineas             = @nLineas + 1 ; 
      SET @nItems              = @nItems + @Item_RFD_Valor_Subt + @Item_RFD_Valor_IVA ;
      SET @sMaterial           = @Item_noIdentificacion ;
      SET @sCantidad_Vta       = @Item_cantidad ;
      SET @sUnidad_Vta         = @Item_unidad   ;
      SET @sSAT_UM             = @Item_SAT_UM_Conv   ;
      SET @nItemValorUnitario  = @Item_valorUnitario ;

      IF ( @nLineas = 1 ) BEGIN
         SET @uLINFAC = '' ;
      END ELSE BEGIN
         SET @uLINFAC = ISNULL(@uLINFAC,'') + ISNULL(@sSepLinea,'') ;
      END ;
      EXEC T3.GET_SAT_CLAVEPRODUCTO 'VTA', @pFactura, @Item_noIdentificacion, @Item_descripcion, @Item_unidad, @sSAT_ID OUTPUT, @sSAT_UM OUTPUT ;
      SET @sIdentificacion = REPLACE( @Item_noIdentificacion, '.', '' ) ;
--      
         IF ( ( @Item_Prod_Unidad_Med_Vta = @Item_unidad ) AND ( @sConv_Paquete = 'SI' ) ) BEGIN
            IF ( ( @Item_Cig_x_PAQ > @Item_Cig_x_CLL ) AND ( @Item_Cig_x_CLL  > 0 ) ) BEGIN
               SET @nFactor_PAQ   = @Item_Cig_x_PAQ / @Item_Cig_x_CLL ;
               SET @nCantidad_PAQ = CAST(@Item_cantidad AS NUMERIC(15,2)) / @nFactor_PAQ ;
               IF ( (@nCantidad_PAQ % 1) = 0 ) BEGIN
                  SET @sCantidad_Vta = LTRIM(RTRIM(STR( @nCantidad_PAQ, 15, 0 ))) ;
                  SET @sUnidad_Vta   = 'PAQ'         ;
                  SET @sSAT_UM       = 'NMP'         ;
                  SET @nItemValorUnitario = @nItemValorUnitario * @nFactor_PAQ ;
               END ;   
            END ELSE BEGIN
               SET @sConv_Paquete = 'NO' ;
            END ;
         END ;      
--      
         SET @uLINFAC = ISNULL(@uLINFAC,'') + 'LINE'                                                 + ISNULL(@sSepCampo,'') ;
         SET @uLINFAC = ISNULL(@uLINFAC,'') + ISNULL(@Item_numLinea,'')                              + ISNULL(@sSepCampo,'') ;   -- 02 Linea de Factura
         SET @uLINFAC = ISNULL(@uLINFAC,'') + ISNULL(@sSAT_ID,'')                                    + ISNULL(@sSepCampo,'') ;   -- 03 Codigo SAT
         SET @uLINFAC = ISNULL(@uLINFAC,'') + ISNULL(@Item_descripcion,'')                           + ISNULL(@sSepCampo,'') ;   -- 04 Descripcion
         SET @uLINFAC = ISNULL(@uLINFAC,'') + ISNULL(@sIdentificacion,'')                            + ISNULL(@sSepCampo,'') ;   -- 05 No Interno
         SET @uLINFAC = ISNULL(@uLINFAC,'') + ''                                                     + ISNULL(@sSepCampo,'') ;   -- 06 Agente de Retencion
         SET @uLINFAC = ISNULL(@uLINFAC,'') + ''                                                     + ISNULL(@sSepCampo,'') ;   -- 07 Monto Impuesto Retenido
         SET @uLINFAC = ISNULL(@uLINFAC,'') + ''                                                     + ISNULL(@sSepCampo,'') ;   -- 08 Monto Impuesto Retenido
         SET @uLINFAC = ISNULL(@uLINFAC,'') + ISNULL(@sCantidad_Vta,'')                              + ISNULL(@sSepCampo,'') ;   -- 09 Cantidad
         SET @uLINFAC = ISNULL(@uLINFAC,'') + ISNULL(@sUnidad_Vta,'')                                + ISNULL(@sSepCampo,'') ;   -- 10 UdeM Interna
         SET @uLINFAC = ISNULL(@uLINFAC,'') + ''                                                     + ISNULL(@sSepCampo,'') ;   -- 11 Cantidad UdeM Referenciada
         SET @uLINFAC = ISNULL(@uLINFAC,'') + ISNULL(@sSAT_UM,'')                                    + ISNULL(@sSepCampo,'') ;   -- 12 UdeM SAT
         SET @uLINFAC = ISNULL(@uLINFAC,'') + ''                                                     + ISNULL(@sSepCampo,'') ;   -- 13 Precio Unitario Referencia
         SET @uLINFAC = ISNULL(@uLINFAC,'') + ''                                                     + ISNULL(@sSepCampo,'') ;   -- 14 Grados de Alcohol
         SET @uLINFAC = ISNULL(@uLINFAC,'') + ''                                                     + ISNULL(@sSepCampo,'') ;   -- 15 Fecha de Elaboracion
         SET @uLINFAC = ISNULL(@uLINFAC,'') + ''                                                     + ISNULL(@sSepCampo,'') ;   -- 16 Fecha de Vencimiento
         SET @uLINFAC = ISNULL(@uLINFAC,'') + ''                                                     + ISNULL(@sSepCampo,'') ;   -- 17 Monto de Descuento
         SET @uLINFAC = ISNULL(@uLINFAC,'') + ISNULL(T3.FN_NUM_TO_CHAR_CFDI( @nItemValorUnitario, 2 ),'')          + ISNULL(@sSepCampo,'') ;   -- 18 Precio Unitario
         SET @uLINFAC = ISNULL(@uLINFAC,'') + ISNULL(T3.FN_NUM_TO_CHAR_CFDI( @Item_importe      , 2 ),'')          + ISNULL(@sSepCampo,'') ;   -- 19 Monto de Cargo
         SET @uLINFAC = ISNULL(@uLINFAC,'') + ''                                                     + ISNULL(@sSepCampo,'') ;   -- 20 Codigo de Impuesto Adicional
         SET @uLINFAC = ISNULL(@uLINFAC,'') + ''                                                     + ISNULL(@sSepCampo,'') ;   -- 21 Precio Unitario en otra Moneda
         SET @uLINFAC = ISNULL(@uLINFAC,'') + ''                                                     + ISNULL(@sSepCampo,'') ;   -- 22 Codigo Item en otra Moneda
         SET @uLINFAC = ISNULL(@uLINFAC,'') + ''                                                     + ISNULL(@sSepCampo,'') ;   -- 23 Descuento Item en otra Moneda
         SET @uLINFAC = ISNULL(@uLINFAC,'') + ''                                                     + ISNULL(@sSepCampo,'') ;   -- 24 Recargo Item en otra Moneda
         SET @uLINFAC = ISNULL(@uLINFAC,'') + ''                                                     + ISNULL(@sSepCampo,'') ;   -- 25 Monto Item en otra Moneda
         SET @uLINFAC = ISNULL(@uLINFAC,'') + ISNULL(T3.FN_NUM_TO_CHAR_CFDI( @Item_importe      , 2 ),'')          + ISNULL(@sSepCampo,'') ;   -- 26 Total Amount
         SET @uLINFAC = ISNULL(@uLINFAC,'') + '1'                                                    + ISNULL(@sSepCampo,'') ;   -- 27 Facturable
         SET @uLINFAC = ISNULL(@uLINFAC,'') + '01'                                                   + ISNULL(@sSepCampo,'') ;   -- 28 Objeto de Impuesto
         SET @uLINFAC = ISNULL(@uLINFAC,'') + ISNULL(T3.FN_NUM_TO_CHAR_CFDI( @Item_importe      , 2 ),'')          + ISNULL(@sSepCampo,'') ;   -- 29 Precio Bruto
         SET @uLINFAC = ISNULL(@uLINFAC,'') + ISNULL(T3.FN_NUM_TO_CHAR_CFDI( @Item_importe      , 2 ),'')          + ISNULL(@sSepCampo,'') ;   -- 30 Precio Neto
         SET @uLINFAC = ISNULL(@uLINFAC,'') + ''                                                     + ISNULL(@sSepCampo,'') ;   -- 31 Pedimiento
         SET @uLINFAC = ISNULL(@uLINFAC,'') + ''                                                     + ISNULL(@sSepCampo,'') ;   -- 32 Predial
--      
      SET @nLineasLey = CAST(@Item_numLinea AS INT) ;
      FETCH NEXT FROM ScrDetalle INTO @Item_numLinea, @Item_cantidad, @Item_unidad, @Item_SAT_UM_Conv, @Item_noIdentificacion, @Item_Cig_x_Unidad_Vta, @Item_Prod_Unidad_Med_Vta, @Item_Cig_x_CLL, @Item_Cig_x_PAQ, @Item_valorUnitario, @Item_importe, @Item_SKU_importacion, @Item_RFD_Valor_Subt, @Item_RFD_Valor_IVA, @Item_Channel, @Item_descripcion;
   END ;  
   CLOSE ScrDetalle;                                                                              -- Ciclo Datos de Cliente   
--
   IF ( @nTotal > 0 ) BEGIN
        SET @uLINFAC = ISNULL(@uLINFAC,'') + ISNULL(@sSepLinea,'') ;
        SET @uLINFAC = ISNULL(@uLINFAC,'') + 'LINCLIE'                                                               + ISNULL(@sSepCampo,'') ;
        SET @uLINFAC = ISNULL(@uLINFAC,'') + '1'                                                                     + ISNULL(@sSepCampo,'') ;
        SET @uLINFAC = ISNULL(@uLINFAC,'') + '   Subtotal : ' + LTRIM(RTRIM(FORMAT( @nDoc_Subtotal , '#,##0.00' )))  + ISNULL(@sSepCampo,'') ;
        SET @uLINFAC = ISNULL(@uLINFAC,'') + ISNULL(@sSepLinea,'') ;
        SET @uLINFAC = ISNULL(@uLINFAC,'') + 'LINCLIE'                                                               + ISNULL(@sSepCampo,'') ;
        SET @uLINFAC = ISNULL(@uLINFAC,'') + '2'                                                                     + ISNULL(@sSepCampo,'') ;
        SET @uLINFAC = ISNULL(@uLINFAC,'') + '   IVA      : ' + LTRIM(RTRIM(FORMAT( @nDoc_Valor_IVA, '#,##0.00' )))  + ISNULL(@sSepCampo,'') ;
        SET @uLINFAC = ISNULL(@uLINFAC,'') + ISNULL(@sSepLinea,'') ;
        SET @uLINFAC = ISNULL(@uLINFAC,'') + 'LINCLIE'                                                               + ISNULL(@sSepCampo,'') ;
        SET @uLINFAC = ISNULL(@uLINFAC,'') + '3'                                                                     + ISNULL(@sSepCampo,'') ;
        SET @uLINFAC = ISNULL(@uLINFAC,'') + '   Total    : ' + LTRIM(RTRIM(FORMAT( @nTotal        , '#,##0.00' )))  + ISNULL(@sSepCampo,'') ;
        SET @uLINFAC = ISNULL(@uLINFAC,'') + ISNULL(@sSepLinea,'') ;
        SET @uLINFAC = ISNULL(@uLINFAC,'') + 'LINCLIE'                                                               + ISNULL(@sSepCampo,'') ;
        SET @uLINFAC = ISNULL(@uLINFAC,'') + '4'                                                                     + ISNULL(@sSepCampo,'') ;
        SET @uLINFAC = ISNULL(@uLINFAC,'') + ' Referencia Factura: ' + ISNULL(@sPedidoV3,'')                         + ISNULL(@sSepCampo,'') ;       
   END ;     
   IF ( @sCfg_Addenda != 'NO' ) BEGIN
        SET @uLINFAC = ISNULL(@uLINFAC,'') + ISNULL(@sSepLinea,'') ;
        SET @uLINFAC = ISNULL(@uLINFAC,'') + 'LINCLIE'                                                               + ISNULL(@sSepCampo,'') ;
        SET @uLINFAC = ISNULL(@uLINFAC,'') + '5'                                                                     + ISNULL(@sSepCampo,'') ;
        SET @uLINFAC = ISNULL(@uLINFAC,'') + '      Enviar a: ' + ISNULL(@sNom_Addenda,'')                           + ISNULL(@sSepCampo,'') ;
   END ;
    
-- Cabecera Cliente
      IF ( LEN( ISNULL( @seMail_Almacen, '' ) ) > 10 ) BEGIN
         SET @seMail = @seMail_Almacen ;
      END ;
      IF ( ( @sRecibe_RFC = 'CCO8605231N4' ) OR ( @sRemision_RFC = 'CCO8605231N4' ) )  BEGIN
         SET @seMail = 'jorge_ivan_alvarez@bat.com' ;
      END ;
--
      SET @sCABCLIE = ISNULL(@sCABCLIE,'') + 'CABCLIE'                + ISNULL(@sSepCampo,'') ;
--    SET @sCABCLIE = ISNULL(@sCABCLIE,'') + ISNULL(@sRecibe_Nombre,'')          + ISNULL(@sSepCampo,'') ;
      SET @sCABCLIE = ISNULL(@sCABCLIE,'') + ISNULL(@sRemite_Nombre,'')          + ISNULL(@sSepCampo,'') ;
      SET @sCABCLIE = ISNULL(@sCABCLIE,'') + ISNULL(@sRemite_Calle,'')            + ISNULL(@sSepCampo,'') ;
      SET @sCABCLIE = ISNULL(@sCABCLIE,'') + ISNULL(@sRemite_Colonia,'')          + ISNULL(@sSepCampo,'') ;
      SET @sCABCLIE = ISNULL(@sCABCLIE,'') + ISNULL(@sRemite_Municipio,'')        + ISNULL(@sSepCampo,'') ;
      SET @sCABCLIE = ISNULL(@sCABCLIE,'') + ''                       + ISNULL(@sSepCampo,'') ;
      SET @sCABCLIE = ISNULL(@sCABCLIE,'') + ISNULL(@sRemite_Estado,'')          + ISNULL(@sSepCampo,'') ;
      SET @sCABCLIE = ISNULL(@sCABCLIE,'') + ISNULL(@sRemite_Pais,'')            + ISNULL(@sSepCampo,'') ;
      SET @sCABCLIE = ISNULL(@sCABCLIE,'') + ISNULL(@sRemite_codigoPostal,'')    + ISNULL(@sSepCampo,'') ;
      SET @sCABCLIE = ISNULL(@sCABCLIE,'') + ISNULL(@sPedidoV3,'')               + ISNULL(@sSepCampo,'') ;
      SET @sCABCLIE = ISNULL(@sCABCLIE,'') + ISNULL(@sSucursalNombre,'')         + ISNULL(@sSepCampo,'') ;
      SET @sCABCLIE = ISNULL(@sCABCLIE,'') + ISNULL(@sPedidoSAP,'')              + ISNULL(@sSepCampo,'') ;
      SET @sCABCLIE = ISNULL(@sCABCLIE,'') + ISNULL(@sFacturaSAP,'')             + ISNULL(@sSepCampo,'') ;
      SET @sCABCLIE = ISNULL(@sCABCLIE,'') + ISNULL(@sTipo_Documento,'')         + ISNULL(@sSepCampo,'') ;
      SET @sCABCLIE = ISNULL(@sCABCLIE,'') + ISNULL(@sCentroExpedicion,'')       + ISNULL(@sSepCampo,'') ;
      SET @sCABCLIE = ISNULL(@sCABCLIE,'') + ISNULL(@sRecibe_Cliente,'')         + ISNULL(@sSepCampo,'') ;
      SET @sCABCLIE = ISNULL(@sCABCLIE,'') + ISNULL(@sRemite_Cliente,'')         + ISNULL(@sSepCampo,'') ;
      SET @sCABCLIE = ISNULL(@sCABCLIE,'') + ISNULL(@sLugarExpedicion,'')        + ISNULL(@sSepCampo,'') ;      
      SET @sCABCLIE = ISNULL(@sCABCLIE,'') + ''                       + ISNULL(@sSepCampo,'') ;
      SET @sCABCLIE = ISNULL(@sCABCLIE,'') + ISNULL(@sLeyMenor,'')               + ISNULL(@sSepCampo,'') ;
      SET @sCABCLIE = ISNULL(@sCABCLIE,'') + ISNULL(@sLeyPriv,'')                + ISNULL(@sSepCampo,'') ;
      SET @sCABCLIE = ISNULL(@sCABCLIE,'') + ISNULL(@seMail,'')                  + ISNULL(@sSepCampo,'') ;
--
   SET @sReturn = ISNULL(@sReturn,'') + ISNULL(@uHEADER,'')  + ISNULL(@sSepLinea,'') ;
   SET @sReturn = ISNULL(@sReturn,'') + ISNULL(@sCABCLIE,'') + ISNULL(@sSepLinea,'') ;
--
   IF ( ( LEN( @sReturn ) > 10 ) AND ( LEN( CAST(@uLINFAC AS VARCHAR(MAX)) ) > 10 ) AND ( ABS( @nTotal - @nItems ) < 0.50 ) ) BEGIN
      SET @sData = @sReturn ;
      SET @sData = CONCAT( @sData, @uLINFAC ) ;   
      INSERT INTO CFDI_DOCUMENTOS_ENVIAR ( Nota_Venta, Informacion )
         VALUES ( @strID, @sData ) ;
      INSERT INTO T3.CFDI_Documentos ( Nota_Venta, Ctro, Fecha_Liberacion, Metodo_Pago )
         VALUES ( @strID, @sCtro, GETDATE(), 'PUE' ) ;                
   END ELSE BEGIN         
      PRINT 'Problemas en la ejecucion del Procedimiento' ;
      PRINT 'FAVOR DE ESCALAR LOS SIGUIENTES DATOS :' ;
      PRINT 'Procedimiento : ' + 'PROC_CFDI_GENERAR_REMISION' ;
      PRINT 'Fecha         : ' + FORMAT( GETDATE(), 'yyyyMMdd HH:mm:ss' ) ;
      PRINT 'Referencia    : ' + ISNULL(@strID, '')  ;
      PRINT 'Doc           : ' + CAST(@nTotal AS VARCHAR) ;
      PRINT 'Items         : ' + CAST(@nItems AS VARCHAR) ;
      PRINT REPLICATE( '-', 80 ) ;
      INSERT INTO T3.RF_ERROR_LOG 
         ( FECHA, RUTINA, REFERENCIA, ERROR_DESC )
      VALUES
         ( GETDATE(), 'GENERAR_REMISION', @strID, 'Doc=>' + CAST(@nTotal AS VARCHAR) + ' vs Items=> ' + CAST(@nItems AS VARCHAR) ) ;   
   END ;     
 
   DEALLOCATE ScrDatos;
   DEALLOCATE ScrDetalle;

   END TRY
   BEGIN CATCH
      IF CURSOR_STATUS('local', 'ScrDatos') >= -1 BEGIN 
          IF CURSOR_STATUS('local', 'ScrDatos') > -1 BEGIN CLOSE ScrDatos; END 
          DEALLOCATE ScrDatos; 
      END
      IF CURSOR_STATUS('local', 'ScrDetalle') >= -1 BEGIN 
          IF CURSOR_STATUS('local', 'ScrDetalle') > -1 BEGIN CLOSE ScrDetalle; END 
          DEALLOCATE ScrDetalle; 
      END

      SET @sMsg = SUBSTRING( CAST(ERROR_NUMBER() AS VARCHAR(20)) + '-' + ERROR_MESSAGE(), 1, 250 ) ;
      SET @sMsg = SUBSTRING( ERROR_MESSAGE(), 1, 250 ) ;
      PRINT REPLICATE( '-', 80 ) ;
      PRINT 'Problemas en la ejecucion del Procedimiento' ;
      PRINT 'FAVOR DE ESCALAR LOS SIGUIENTES DATOS :' ;
      PRINT 'Procedimiento : ' + 'PROC_CFDI_GENERAR_REMISION' ;
      PRINT 'Fecha         : ' + FORMAT( GETDATE(), 'yyyyMMdd HH:mm:ss' ) ;
      PRINT 'Referencia    : ' + ISNULL(@strID,'') ;
      PRINT 'Error         : ' + ISNULL(@sMsg,'') ;
      PRINT REPLICATE( '-', 80 ) ;
      INSERT INTO T3.RF_ERROR_LOG 
         ( FECHA, RUTINA, REFERENCIA, ERROR_DESC )
      VALUES
         ( GETDATE(), 'PROC_CFDI_GENERAR_REMISION', @strID, @sMsg ) ;
   END CATCH
END ;
GO
