USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_CFDI_LIBERACION_NOTA]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[PROC_CFDI_LIBERACION_NOTA] 
    @pOutput NUMERIC = 10
AS
BEGIN

    DECLARE @sMsg VARCHAR(500);
    DECLARE @sErrorCode VARCHAR(30);          
--   
    DECLARE @strID VARCHAR(50);
    DECLARE @dtInicio DATETIME;
    DECLARE @nPID NUMERIC(8,0);
    DECLARE @nProceso NUMERIC(8,0);
    DECLARE @nProceso1 NUMERIC(8,0);
    DECLARE @nProceso2 NUMERIC(8,0);
    DECLARE @nProceso3 NUMERIC(8,0);
    DECLARE @nProceso4 NUMERIC(8,0);
    DECLARE @sFechaInicio VARCHAR(30);
    DECLARE @sRTamount NUMERIC(13,3);
    DECLARE @sRTPending NUMERIC(13,3);
    DECLARE @sRTDoc_Num VARCHAR(50);
    DECLARE @sRTCliente_SAP VARCHAR(50); 
    DECLARE @nRTPaid NUMERIC(15,2); 

    -- Variables cursores
    DECLARE @Doc_Factura_Prompt VARCHAR(50);
    DECLARE @Doc_Factura_Presales VARCHAR(50);
    DECLARE @Doc_Factura_Rebates VARCHAR(50);
    DECLARE @Doc_Integration_ID_Rebates VARCHAR(100);

    DECLARE ScrPrompt CURSOR FOR 
        SELECT 
               Info.Factura
        FROM (
               SELECT Doc.Factura, Doc.Ctro, Doc.Fecha_Factura_T3, Doc.RFC_Factura, Doc.RFC_Cliente, Doc.VoidDoc, CFD.Fecha_Liberacion
                  FROM T3.CFDI_Documento_Paso Doc
                  LEFT JOIN T3.CFDI_Documentos CFD ON Doc.Factura = CFD.Nota_Venta
                  WHERE Doc.Tipo_Docto        = 'C004'
                    AND Doc.RFC_Factura      != 'XAXX010101000'
                    AND Doc.VoidDoc          IS NULL
                    AND Doc.Fecha_Factura_T3 >= CAST(@sFechaInicio AS DATETIME)
                    AND CFD.Fecha_Liberacion IS NULL
             ) Info
             WHERE Info.Factura NOT IN ( SELECT DISTINCT Referencia FROM T3.RF_Error_Log WHERE Rutina = 'PROC_CFDI_GENERAR_MX06' AND Referencia IS NOT NULL ) 
               AND Info.Factura NOT IN ( SELECT DISTINCT Referencia FROM T3.RF_Error_Log WHERE Rutina = 'PROC_V40_GENERAR_MX06'  AND Referencia IS NOT NULL )
        UNION
        SELECT 
               Info.Nota_Devolucion                  AS Factura          
          FROM (       
                 SELECT Vta.Ctro, Vta.Invc_dt, Vta.Doc_Num, Vta.Nota_Venta_CFDI, Vta.Ttl_Invc_Amt, Vta.RFC, Vta.Cliente_SAP, Vta.Nombre_Cliente, 
                        Dev.Doc_Num AS Nota_Devolucion,
                        Dev.VoidDoc AS Nota_Doc_Void
                 FROM (
                        SELECT * FROM EAI.CFDI_Bitacora Bit
                           WHERE Bit.Nota_Venta_CFDI IS NOT NULL
                             AND Bit.VoidDoc         IS NOT NULL
                             AND Bit.Tipo_Vta        = 'Vta'
                             AND Bit.Invc_dt         >= CAST(@sFechaInicio AS DATETIME)
                      ) Vta
                 INNER JOIN EAI.CFDI_Bitacora Dev ON Vta.Cliente_SAP = Dev.Cliente_SAP 
                                                 AND CAST(Vta.Invc_dt AS DATE) = CAST(Dev.Invc_dt AS DATE)
                                                 AND Vta.Ttl_Invc_Amt = Dev.Ttl_Invc_Amt
                 LEFT JOIN T3.CFDI_Documentos CFD ON Dev.Doc_Num = CFD.Nota_Venta
                 WHERE Dev.Tipo_Vta         = 'Dev'
                   AND Dev.Nota_Venta_CFDI  IS NULL
                   AND Dev.VoidDoc          IS NOT NULL  
                   AND CFD.Fecha_Liberacion IS NULL                        
               ) Info
             WHERE Info.Nota_Devolucion NOT IN ( SELECT DISTINCT Referencia FROM T3.RF_Error_Log WHERE Rutina = 'PROC_CFDI_GENERAR_MX06' AND Referencia IS NOT NULL ) 
               AND Info.Nota_Devolucion NOT IN ( SELECT DISTINCT Referencia FROM T3.RF_Error_Log WHERE Rutina = 'PROC_V40_GENERAR_MX06'  AND Referencia IS NOT NULL );                               
--  
    DECLARE ScrPresales CURSOR FOR 
        SELECT 
               Info.Factura
        FROM (
               SELECT Doc.Factura, Doc.Ctro, Doc.Fecha_Factura
                  FROM T3.Preventa_General Doc
                  LEFT JOIN T3.CFDI_Documentos CFD ON Doc.Factura = CFD.Nota_Venta
                  WHERE Doc.Clase_Factura      = 'C006'
                    AND Doc.Fecha_Factura     >= CAST(@sFechaInicio AS DATETIME)
                    AND Doc.Fecha_Proc_BATMD  IS NOT NULL
                    AND Doc.Fecha_Cancelacion IS NULL
                    AND CFD.Fecha_Liberacion  IS NULL
             ) Info
        WHERE Info.Factura NOT IN ( SELECT DISTINCT Referencia FROM T3.RF_Error_Log WHERE Rutina = 'PROC_CFDI_GENERAR_MX06' AND Referencia IS NOT NULL ) 
          AND Info.Factura NOT IN ( SELECT DISTINCT Referencia FROM T3.RF_Error_Log WHERE Rutina = 'PROC_V40_GENERAR_MX06'  AND Referencia IS NOT NULL );
--  
    DECLARE ScrRebates CURSOR FOR   
        SELECT 
               Info.Factura, Info.Integration_ID
        FROM (
               SELECT Doc.Factura, Doc.Ctro, Doc.Fecha_Factura, 
                      Doc.Entrega + '-' + Doc.Referencia  AS Integration_ID
                  FROM T3.Preventa_General Doc
                  LEFT JOIN T3.CFDI_Documentos CFD ON Doc.Factura = CFD.Nota_Venta
                  WHERE Doc.Clase_Factura     IN ( 'C019', 'C025' )
                    AND Doc.Fecha_Factura     >= CAST(@sFechaInicio AS DATETIME)
                    AND Doc.Fecha_Proc_BATMD  IS NOT NULL
                    AND Doc.Fecha_Cancelacion IS NULL
                    AND CFD.Fecha_Liberacion  IS NULL
             ) Info
        WHERE Info.Integration_ID NOT IN ( SELECT DISTINCT Referencia FROM T3.RF_Error_Log WHERE Rutina = 'PROC_CFDI_GENERAR_MX06' AND Referencia IS NOT NULL ) 
          AND Info.Integration_ID NOT IN ( SELECT DISTINCT Referencia FROM T3.RF_Error_Log WHERE Rutina = 'PROC_V40_GENERAR_MX06'  AND Referencia IS NOT NULL )
          AND Info.Factura        NOT IN ( SELECT DISTINCT Referencia FROM T3.RF_Error_Log WHERE Rutina = 'PROC_CFDI_GENERAR_MX06' AND Referencia IS NOT NULL ) 
          AND Info.Factura        NOT IN ( SELECT DISTINCT Referencia FROM T3.RF_Error_Log WHERE Rutina = 'PROC_V40_GENERAR_MX06'  AND Referencia IS NOT NULL );

    BEGIN TRY
--
        EXEC T3.WA_CFDI_RENV_CM 0;
        COMMIT;
--
        SET @dtInicio     = GETDATE();
        SET @nProceso     = 610;
        SET @nProceso1    = 0;
        SET @nProceso2    = 0;
        SET @nProceso3    = 0;
        SET @nProceso4    = 0;
        SET @sFechaInicio = '20220101';
        SET @nPID         = NEXT VALUE FOR EAI_Owner.ProcessID;
        
        EXEC EAI_Owner.Log_Start @nProceso;
        
        INSERT INTO T3.RF_PROCESOS_LOG (PID, Proceso, Fecha_Proc_BATMD, Inicio)
        VALUES (@nPID, @nProceso, NULL, GETDATE());      
        
        OPEN ScrPrompt;
        FETCH NEXT FROM ScrPrompt INTO @Doc_Factura_Prompt;
        
        WHILE @@FETCH_STATUS = 0
        BEGIN   
            SET @strID     = @Doc_Factura_Prompt;
            SET @nProceso1 = @nProceso1 + 1;
            
            EXEC EAI_OWNER.SF_GET_CREDIT_DATA @strID, @sRTDoc_Num OUTPUT, @sRTCliente_SAP OUTPUT, @sRTamount OUTPUT, @sRTPending OUTPUT, @nRTPaid OUTPUT;

            IF ( ISNULL( @sRTPending, 0 ) < 5.04) 
            BEGIN
                IF ( ISNULL( @pOutput, 0 ) <= 1 ) 
                BEGIN
                    PRINT @Doc_Factura_Prompt;
                END 
                ELSE 
                BEGIN
                    EXEC T3.PROC_V40_GENERAR_MX06_CM @Doc_Factura_Prompt, NULL;
                END;   
            END;    
            
            FETCH NEXT FROM ScrPrompt INTO @Doc_Factura_Prompt;
        END;
        CLOSE ScrPrompt;
        DEALLOCATE ScrPrompt;
 
        OPEN ScrPresales;
        FETCH NEXT FROM ScrPresales INTO @Doc_Factura_Presales;
        
        WHILE @@FETCH_STATUS = 0
        BEGIN   
            SET @strID     = @Doc_Factura_Presales;
            SET @nProceso2 = @nProceso2 + 1;
            
            EXEC EAI_OWNER.SF_GET_CREDIT_DATA @strID, @sRTDoc_Num OUTPUT, @sRTCliente_SAP OUTPUT, @sRTamount OUTPUT, @sRTPending OUTPUT, @nRTPaid OUTPUT;
            
            IF ( ISNULL( @sRTPending, 0 ) < 5.04) 
            BEGIN
                IF ( ISNULL( @pOutput, 0 ) <= 1 ) 
                BEGIN
                    PRINT @Doc_Factura_Presales;
                END 
                ELSE 
                BEGIN
                    EXEC T3.PROC_V40_GENERAR_MX06_CM @Doc_Factura_Presales, NULL;
                END;   
            END;  
                  
            FETCH NEXT FROM ScrPresales INTO @Doc_Factura_Presales;
        END;
        CLOSE ScrPresales;
        DEALLOCATE ScrPresales;
        COMMIT;

        OPEN ScrRebates;
        FETCH NEXT FROM ScrRebates INTO @Doc_Factura_Rebates, @Doc_Integration_ID_Rebates;
        
        WHILE @@FETCH_STATUS = 0
        BEGIN   
            SET @strID     = @Doc_Factura_Rebates;
            SET @nProceso3 = @nProceso3 + 1;
            
            EXEC EAI_OWNER.SF_GET_CREDIT_DATA @strID, @sRTDoc_Num OUTPUT, @sRTCliente_SAP OUTPUT, @sRTamount OUTPUT, @sRTPending OUTPUT, @nRTPaid OUTPUT;
            
            IF ( ISNULL( @sRTPending, 0 ) < 5.04) 
            BEGIN
                IF ( ISNULL( @pOutput, 0 ) <= 1 ) 
                BEGIN
                    PRINT @Doc_Factura_Rebates;
                END 
                ELSE 
                BEGIN
                    EXEC T3.PROC_V40_GENERAR_MX06_CM @Doc_Factura_Rebates, NULL;
                END;   
            END;        
            
            FETCH NEXT FROM ScrRebates INTO @Doc_Factura_Rebates, @Doc_Integration_ID_Rebates;
        END;
        CLOSE ScrRebates;
        DEALLOCATE ScrRebates;

        UPDATE EAI_OWNER.MX_COMPONENTS 
        SET Status = 1
        WHERE Component = @nProceso;
        
        UPDATE T3.RF_PROCESOS_LOG 
        SET Fin = GETDATE(), 
            Proceso_1 = @nProceso1, 
            Proceso_2 = @nProceso2,
            Proceso_3 = @nProceso3, 
            Proceso_4 = @nProceso4
        WHERE PID = @nPID;          

    END TRY
    BEGIN CATCH
        SET @sMsg = SUBSTRING(CAST(ERROR_NUMBER() AS VARCHAR) + '-' + ERROR_MESSAGE(), 1, 250);
        SET @sMsg = SUBSTRING(ERROR_MESSAGE(), 1, 250);
        
        PRINT REPLICATE('-', 80);
        PRINT 'Problemas en la ejecucion del Procedimiento';
        PRINT 'FAVOR DE ESCALAR LOS SIGUIENTES DATOS :';
        PRINT 'Procedimiento : PROC_CFDI_LIBERACION_NOTA';
        PRINT 'Fecha         : ' + CONVERT(VARCHAR, GETDATE(), 112) + ' ' + CONVERT(VARCHAR, GETDATE(), 108);
        PRINT 'Referencia    : ' + ISNULL(@strID, '');
        PRINT 'Error         : ' + ISNULL(@sMsg, '');
        PRINT REPLICATE('-', 80);

        SET @sErrorCode = 'SQL-' + CAST(ERROR_NUMBER() AS VARCHAR);
        SET @sMsg = SUBSTRING(CAST(ERROR_NUMBER() AS VARCHAR) + '-' + ERROR_MESSAGE(), 1, 250);      
        
        INSERT INTO EAI_OWNER.MX_EAI_MESSAGE_LOG
          ( DIRECTION, REFERENCE, CREATED, MESSAGE, JOB_PID,
            STATUS, QUEUE_NAME, SIEBEL_ERROR_MESSAGE, SOURCE, 
            SIEBEL_ERROR_CODE, RETRY_COUNT, SEQUENCE, PARENT_ROW_ID )
        VALUES 
          ( 'Job Logging', @strID, GETDATE(), NULL, @nPID,
            'Error', 'PROC_CFDI_LIBERACION_NOTA', @sMsg, 'PL/SQL',
            @sErrorCode, NULL, NULL, NULL );
    END CATCH
END;
GO
