USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_CFDI_PROCESA_PAGO_MX10]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[PROC_CFDI_PROCESA_PAGO_MX10] 
    @nDias NUMERIC = NULL
AS
BEGIN
    DECLARE @sMsg VARCHAR(500);
    DECLARE @sCadena VARCHAR(4000);
    DECLARE @sChar VARCHAR(1);
    DECLARE @nDoctos NUMERIC(6,0);
    DECLARE @nNotas NUMERIC(6,0);
    DECLARE @sEtapa VARCHAR(20);
    DECLARE @sPorEjecucion VARCHAR(2);
    DECLARE @nGen_Agrupacion NUMERIC(8,0);
--
    DECLARE @strID VARCHAR(50);
    DECLARE @dtInicio DATETIME;
    DECLARE @nPID NUMERIC(8,0);
    DECLARE @nProceso NUMERIC(8,0);
    DECLARE @nProceso1 NUMERIC(8,0);
    DECLARE @nProceso2 NUMERIC(8,0);
    DECLARE @nProceso3 NUMERIC(8,0);
    DECLARE @nProceso4 NUMERIC(8,0);
--
    DECLARE @nAgrupacion NUMERIC(10,0);  
    DECLARE @dtFecha_Pago DATETIME;
    DECLARE @sDoctoCompensacion VARCHAR(20);
    DECLARE @sRFC VARCHAR(30);
    DECLARE @sVia_Pago VARCHAR(10);
    DECLARE @sBanco_Nombre VARCHAR(60);
    DECLARE @sBanco_Num_Cuenta VARCHAR(60);
    DECLARE @sInsert_Nombre VARCHAR(60);
    DECLARE @sInsert_Num_Cuenta VARCHAR(60);
    DECLARE @nImportePago NUMERIC(15,2);
    DECLARE @nCantidadPagos NUMERIC(4,0);
    DECLARE @sAccnt_ID VARCHAR(20);
--
    DECLARE @nCtrl_Pagos NUMERIC(6,0);
    DECLARE @nCtrl_Importe NUMERIC(15,2);

-- variables cursores
    DECLARE @Doc_Numero_Documento VARCHAR(20);
    DECLARE @Doc_Fecha_Documento DATETIME;
    DECLARE @Doc_RFC VARCHAR(30);
    DECLARE @Doc_Via_Pago VARCHAR(10);
    DECLARE @Doc_Banco_Nombre VARCHAR(60);
    DECLARE @Doc_Banco_Num_Cuenta VARCHAR(60);

    DECLARE @Det_Cobza_ROWID VARCHAR(50); 
    DECLARE @Det_Factura VARCHAR(50);
    DECLARE @Det_Documento_Interno VARCHAR(50);
    DECLARE @Det_Importe NUMERIC(15,2);

    DECLARE ScrAgrPagoCentral CURSOR FOR 
        SELECT Cobza.Numero_Documento, Cobza.Fecha_Documento    ,
               BATC.RFC                     AS RFC              ,
               '03'                         AS Via_Pago         ,
               ''                           AS Banco_Nombre     ,
               ''                           AS Banco_Num_Cuenta
          FROM T3.MX10_APLICACION_COBZA Cobza,
               (
                SELECT * FROM EAI.ZSDFE_Soc
                   WHERE BUKRS = 'MX16'
                     AND BUKRS = KUNNR
                ) BATC
          WHERE Cobza.Fecha_Proc_BATMD IS NULL
          GROUP BY Cobza.Numero_Documento, Cobza.Fecha_Documento, BATC.RFC ;
--
    DECLARE ScrDetalle CURSOR FOR 
        SELECT cobza.Factura, Cobza.Documento_Interno, Cobza.Monto_Aplicar AS Importe
          FROM T3.MX10_APLICACION_COBZA Cobza
          WHERE Cobza.Fecha_Documento  = @dtFecha_Pago
            AND Cobza.Numero_Documento = @sDoctoCompensacion ;
 
    BEGIN TRY
        SET @dtInicio  = GETDATE();
        SET @nProceso  = 620;
        SET @nPID      = NEXT VALUE FOR SEQ_CFD;
        SET @nProceso1 = 0;
        SET @nProceso2 = 0;
        SET @nProceso3 = 0;
        SET @nProceso4 = @nDias;

        SET @sChar   = '|';
        SET @nDoctos = 000;
        SET @sEtapa  = 'I';
--
-- Documentos Agrupados de Prompt Sales
		BEGIN TRAN

        OPEN ScrAgrPagoCentral;
        FETCH NEXT FROM ScrAgrPagoCentral INTO @Doc_Numero_Documento, @Doc_Fecha_Documento, @Doc_RFC, @Doc_Via_Pago, @Doc_Banco_Nombre, @Doc_Banco_Num_Cuenta;
        
        WHILE @@FETCH_STATUS = 0
        BEGIN
           SET @nAgrupacion        = NEXT VALUE FOR SEQ_PAGO_CENTRAL_MX10;
           SET @nProceso1          = @nProceso1 + 1        ;         
           SET @dtFecha_Pago       = @Doc_Fecha_Documento  ;
           SET @sDoctoCompensacion = @Doc_Numero_Documento ;
           SET @sRFC               = @Doc_RFC              ;
           SET @sVia_Pago          = @Doc_Via_Pago         ;
           SET @sBanco_Nombre      = @Doc_Banco_Nombre     ;
           SET @sBanco_Num_Cuenta  = @Doc_Banco_Num_Cuenta ;
           
           -- Variables redundantes/sin uso explícito de valores, mantenidas por regla
           IF ( @sInsert_Nombre = 'NoBanco' ) 
           BEGIN
               SET @sInsert_Nombre = '';
           END; 
           IF ( @sInsert_Num_Cuenta = 'NoCuenta' ) 
           BEGIN
               SET @sInsert_Num_Cuenta = '';
           END; 
--         
           INSERT INTO T3.CFDI_Agrupacion_MX10 
               ( Agrupacion        , Fecha_Pago        , Via_Pago          , RFC               ,
                 Banco_Nombre      , Banco_Num_Cuenta  , Importe           , Cantidad_Pagos    ,
                 Accnt_ID          , Fecha_Registro    , Documento_Compensacion                  )
           VALUES 
               ( @nAgrupacion      , @dtFecha_Pago     , @sVia_Pago        , @sRFC             ,
                 @sInsert_Nombre   , @sInsert_Num_Cuenta, NULL              , NULL              ,
                 NULL              , GETDATE()         , @sDoctoCompensacion                     );
                 
           SET @nCtrl_Pagos   = 0;
           SET @nCtrl_Importe = 0;             
           
           OPEN ScrDetalle;
           FETCH NEXT FROM ScrDetalle INTO @Det_Factura, @Det_Documento_Interno, @Det_Importe;
           
           WHILE @@FETCH_STATUS = 0
           BEGIN
              SET @nProceso2 = @nProceso2 + 1;
              
              INSERT INTO T3.CFDI_AGRUPACION_PAGO_MX10 
                 ( Agrupacion, Factura, Documento_Interno )
              VALUES
                 ( @nAgrupacion, @Det_Factura, @Det_Documento_Interno );
                 
              UPDATE T3.MX10_APLICACION_COBZA 
              SET Fecha_Proc_BATMD = GETDATE()
              WHERE FACTURA = @Det_Factura;
              
              SET @nCtrl_Pagos   = @nCtrl_Pagos   + 1;
              SET @nCtrl_Importe = @nCtrl_Importe + @Det_Importe;     
              
              FETCH NEXT FROM ScrDetalle INTO  @Det_Factura, @Det_Documento_Interno, @Det_Importe;
           END;
           CLOSE ScrDetalle;
           
           UPDATE T3.CFDI_Agrupacion_MX10 
           SET Cantidad_Pagos = @nCtrl_Pagos,
               Importe        = @nCtrl_Importe
           WHERE Agrupacion = @nAgrupacion;   
           
           FETCH NEXT FROM ScrAgrPagoCentral INTO @Doc_Numero_Documento, @Doc_Fecha_Documento, @Doc_RFC, @Doc_Via_Pago, @Doc_Banco_Nombre, @Doc_Banco_Num_Cuenta;
        END;
        CLOSE ScrAgrPagoCentral;
        DEALLOCATE ScrAgrPagoCentral;
        DEALLOCATE ScrDetalle;
--
        INSERT INTO T3.RF_PROCESOS_LOG 
           ( PID , Proceso , Fecha_Proc_BATMD, Inicio  , Fin    , Proceso_1, Proceso_2, Proceso_3, Proceso_4 )
        VALUES 
           ( @nPID, @nProceso, NULL, @dtInicio, GETDATE(), @nProceso1, @nProceso2, @nProceso3, @nProceso4 );   
           
        COMMIT;
        
		BEGIN TRAN
        EXEC T3.PROC_CFDI_LIBERA_PAGO_CENTRAL;
        
        COMMIT;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        
        SET @sMsg = SUBSTRING(CAST(ERROR_NUMBER() AS VARCHAR) + '-' + ERROR_MESSAGE(), 1, 250);
        SET @sMsg = SUBSTRING(ERROR_MESSAGE(), 1, 250);
        
        PRINT REPLICATE('-', 80);
        PRINT 'Problemas en la ejecucion del Procedimiento';
        PRINT 'FAVOR DE ESCALAR LOS SIGUIENTES DATOS :';
        PRINT 'Procedimiento : PROC_CFDI_PROCESA_PAGO_MX10';
        PRINT 'Fecha         : ' + CONVERT(VARCHAR, GETDATE(), 112) + ' ' + CONVERT(VARCHAR, GETDATE(), 108);
        PRINT 'Referencia    : ' + ISNULL(@strID, '');
        PRINT 'Error         : ' + ISNULL(@sMsg, '');
        PRINT REPLICATE('-', 80);
        
        INSERT INTO T3.RF_ERROR_LOG 
           ( FECHA, RUTINA, REFERENCIA, ERROR_DESC )
        VALUES
           ( GETDATE(), 'PROC_CFDI_PROCESA_PAGO_MX10', @strID, @sMsg );
           
    END CATCH
END;
GO
