USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_NGP_EXECUTE_TICKET]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [T3].[PROC_NGP_EXECUTE_TICKET]
    @pOutput NUMERIC(38,4) = 0
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sInstall_ID      VARCHAR(10);
    DECLARE @sTicket          VARCHAR(20);
    DECLARE @sErrorMessage    VARCHAR(100);
    DECLARE @sMsg             VARCHAR(500);
    DECLARE @strID            VARCHAR(50);
    DECLARE @sProcesar        VARCHAR(4);
    DECLARE @sInstall_CFG     VARCHAR(4);
    DECLARE @sOrderSAP        VARCHAR(20);
    DECLARE @dtFechaProcBATMD DATETIME;
    DECLARE @dtFechaProceso   DATETIME;

    DECLARE @sOrgVentas       VARCHAR(4);
    DECLARE @sDivision        VARCHAR(2);
    DECLARE @sCanal           VARCHAR(2);
    DECLARE @sPaymentTerms    VARCHAR(4);

    DECLARE @dtPurchase_Date  DATETIME;
    DECLARE @sPurchase_Type   VARCHAR(4);
    DECLARE @sPrice_List      VARCHAR(2);
    DECLARE @sCurrency        VARCHAR(4);
    DECLARE @nRate            NUMERIC(10,4);
    DECLARE @sOficina_Venta   VARCHAR(4);  
    DECLARE @sGpo_Vendedor    VARCHAR(4);
    DECLARE @sCliente_SAP     VARCHAR(10);
    DECLARE @sCtro            VARCHAR(4);
    DECLARE @sUbicacion       VARCHAR(20);
    DECLARE @sStockPartner    VARCHAR(10);
    DECLARE @sSLoc            VARCHAR(4);   
    DECLARE @nNextOrder       NUMERIC(8,0); 

    --variables cursores
    DECLARE @cur_G_Install_ID   VARCHAR(10);
    DECLARE @cur_G_Ticket       VARCHAR(20);
    DECLARE @cur_G_Purchase_Date DATETIME;
    DECLARE @cur_G_Purchase_Type VARCHAR(4);
    DECLARE @cur_G_Price_List   VARCHAR(2);
    DECLARE @cur_G_Currency     VARCHAR(4);
    DECLARE @cur_G_Rate         NUMERIC(10,4);

    DECLARE @cur_D_Install_ID   VARCHAR(10);
    DECLARE @cur_D_Ticket       VARCHAR(20);
    DECLARE @cur_D_Purchase_Date DATETIME;
    DECLARE @cur_D_ROWID_IN     INT; -- Cambiar por el tipo de dato de llave de la tabla

    DECLARE ScrAgroupDocument CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT DISTINCT 
               Install_ID                    AS Install_ID   ,
               Ticket                        AS Ticket       ,
               Purchase_Date                 AS Purchase_Date, 
               Purchase_Type                 AS Purchase_Type, 
               Price_List                    AS Price_List   ,
               Currency                      AS Currency     ,
               Rate                          AS Rate         
        FROM T3.ORDERS_NGP_IN
        WHERE Created           > GETDATE() - 7
          AND Fecha_Proc_BATMD IS NULL ;

    DECLARE ScrDocuments CURSOR LOCAL DYNAMIC FOR
        SELECT Install_ID, Ticket, Purchase_Date, Install_ID AS ROWID_IN -- Cambiar por el tipo de dato de llave de la tabla
        FROM T3.ORDERS_NGP_IN
        WHERE Created                  > GETDATE() - 7
          AND Fecha_Proc_BATMD       IS NULL
          AND Install_ID              = @sInstall_ID
          AND Ticket                  = @sTicket
          AND Purchase_Type           = @sPurchase_Type
          AND Price_List              = @sPrice_List
          AND Currency                = @sCurrency
          AND Rate                    = @nRate ;                

    DECLARE ScrInstall_CFG CURSOR LOCAL DYNAMIC FOR
        SELECT CFG.Oficina_Venta, CFG.Gpo_Vendedor, CFG.Cliente_SAP, CFG.Ctro, CFG.Ubicacion, CFG.StockPartner, CFG.SLOC
        FROM T3.NGP_CUSTOMER_INSTALL  CFG
        WHERE CFG.Install_ID  = @sInstall_ID
          AND @dtPurchase_Date BETWEEN CFG.Ini_Vigencia AND CFG.Fin_Vigencia ;            


    BEGIN TRY
        SET @dtFechaProcBATMD = GETDATE() ;
        
        IF ( ISNULL( @pOutput, 0 ) > 1 )
        BEGIN
           EXEC EAI.Trace_Plsql 'NGP-Execute', 'Begins' ;
        END ;     
        
        SET @sProcesar = 'YES' ;   
        
        SELECT @dtFechaProceso = MAX( ISNULL( Fin, GETDATE() + 1 ) ) 
        FROM EAI.CONTROL_REPORTE  
        WHERE Reporte = 'NGP-Loading' ;
        
        IF ( @dtFechaProceso > GETDATE() )
        BEGIN
           SET @sProcesar = 'NO' ;
        END
        ELSE
        BEGIN
           SELECT @dtFechaProceso = MAX( ISNULL( Fin, GETDATE() + 1 ) ) 
           FROM EAI.CONTROL_REPORTE  
           WHERE Reporte = 'NGP-Execute' ;
           
		   --Todo este bloque no tiene razon de ser ya que el SP no usa rollback entonces no es necesario usar
           --IF ( @dtFechaProceso > GETDATE() )
           --BEGIN
           --   SET @sProcesar = 'NO' ;
           --END
           --ELSE
           --BEGIN
           --   -- PROC_NGP_DQC_BEFORE( 0 ) ; comentado en el original
           --   IF @@TRANCOUNT > 0 COMMIT TRANSACTION ;
           --END ;       
        END ;            

        IF ( @sProcesar = 'YES' )
        BEGIN   
           UPDATE EAI.CONTROL_REPORTE SET Inicio = GETDATE(), Fin = NULL 
           WHERE Reporte = 'NGP-Execute' ;
           
           SET @sOrgVentas    = T3.EAI_Owner.getConv('CFG Settings', 'NGP-Sales Organization');
           SET @sDivision     = T3.EAI_Owner.getConv('CFG Settings', 'NGP-Division');
           SET @sCanal        = T3.EAI_Owner.getConv('CFG Settings', 'NGP-Channel');
           SET @sPaymentTerms = T3.EAI_Owner.getConv('CFG Settings', 'NGP-PaymentTerms');

           SET @strID = 'ScrAgroupDocument' ;   
           
           OPEN ScrAgroupDocument;
           FETCH NEXT FROM ScrAgroupDocument INTO @cur_G_Install_ID, @cur_G_Ticket, @cur_G_Purchase_Date, @cur_G_Purchase_Type, @cur_G_Price_List, @cur_G_Currency, @cur_G_Rate;
           WHILE @@FETCH_STATUS = 0
           BEGIN
              SET @sInstall_ID     = @cur_G_Install_ID ;
              SET @sTicket         = @cur_G_Ticket ;
              SET @dtPurchase_Date = @cur_G_Purchase_Date ;
              SET @sPurchase_Type  = @cur_G_Purchase_Type ;
              SET @sPrice_List     = @cur_G_Price_List ;
              SET @sCurrency       = @cur_G_Currency ;
              SET @nRate           = @cur_G_Rate ;
              SET @sInstall_CFG    = 'NO' ;
              SET @strID           = 'ScrInstall_CFG' ;
              
              IF ( ISNULL( @pOutput, 0 ) > 10 )
              BEGIN
                 PRINT CAST(@dtPurchase_Date AS VARCHAR(50)) + '-' + ISNULL(@sPurchase_Type, '') ;  
              END ;
              
              OPEN ScrInstall_CFG;
              FETCH NEXT FROM ScrInstall_CFG INTO @sOficina_Venta, @sGpo_Vendedor, @sCliente_SAP, @sCtro, @sUbicacion, @sStockPartner, @sSLoc;
              WHILE @@FETCH_STATUS = 0
              BEGIN
                 SET @sInstall_CFG = 'YES' ;
                 --el resto de las variables se asignan en el fetch

                 IF ( ISNULL( @pOutput, 0 ) > 10 )
                 BEGIN
                    PRINT 'Search for Setting Install ID' ;
                 END ;            
                 FETCH NEXT FROM ScrInstall_CFG INTO @sOficina_Venta, @sGpo_Vendedor, @sCliente_SAP, @sCtro, @sUbicacion, @sStockPartner, @sSLoc;
              END ;
              CLOSE ScrInstall_CFG;

              IF ( @sInstall_CFG = 'YES' )
              BEGIN
                 SET @nNextOrder = NEXT VALUE FOR T3.SEQ_OTHER_ORDERS ;  
                 
                 SET @sOrderSAP = CONVERT(VARCHAR(6), @dtPurchase_Date, 12) + ':' + RIGHT('000000' + CAST(@nNextOrder AS VARCHAR(6)), 6) ;
                 SET @strID     = CONVERT(VARCHAR(6), @dtPurchase_Date, 12) + '-' + ISNULL(@sPrice_List, '') ;   
                 
                 IF ( ISNULL( @pOutput, 0 ) > 10 )
                 BEGIN
                    PRINT 'ID ->' + @strID ;
                 END ;            
                 
                 INSERT INTO T3.ORDERS_NGP 
                    ( Factura        , Clase_Pedido  , Org_Ventas   , Canal          , Sector        , 
                      Oficina_Venta  , Gpo_Vendedor  , Cliente_SAP  , Fecha_Compra   , Condicion_Pago,
                      Ctro           , Ubicacion     , StockPartner , SLoc           , Referencia     ) 
                 VALUES
                    ( @sTicket       , @sPurchase_Type, @sOrgVentas   , @sCanal         , @sDivision     ,
                      @sOficina_Venta, @sGpo_Vendedor , @sCliente_SAP , @dtPurchase_Date, @sPaymentTerms ,
                      @sCtro           , @sUbicacion     , @sStockPartner, @sSLoc           , @sOrderSAP      ) ;
                 
                 SET @strID = 'ScrDocuments' ;                 
                 
                 OPEN ScrDocuments;
                 FETCH NEXT FROM ScrDocuments INTO @cur_D_Install_ID, @cur_D_Ticket, @cur_D_Purchase_Date, @cur_D_ROWID_IN;
                 WHILE @@FETCH_STATUS = 0
                 BEGIN     
                    INSERT INTO T3.NGP_HISTORIA_FACTURA_SAP 
                       ( Install_ID, Ticket, Purchase_Date, Order_SAP )
                    VALUES  
                       ( @cur_D_Install_ID, @cur_D_Ticket, @cur_D_Purchase_Date, @sOrderSAP ) ;
                    
                    UPDATE T3.ORDERS_NGP_IN SET Fecha_Proc_BATMD = @dtFechaProcBATMD
                    WHERE install_id = @cur_D_ROWID_IN ;  -- aqui tambien se debe poner el campo llave de la tabla   
                    
                    FETCH NEXT FROM ScrDocuments INTO @cur_D_Install_ID, @cur_D_Ticket, @cur_D_Purchase_Date, @cur_D_ROWID_IN;
                 END ;
                 CLOSE ScrDocuments;
                 
                 SET @strID = 'ORDERS_NGP_DETAIL' ;
                 
                 INSERT INTO T3.ORDERS_NGP_DETAIL
                    ( Factura      , Num_Linea   , Cantidad_Vta, Material     , UM,
                      Valor_Subt   , Valor_IVA   , Bonif_Subt  , Envio_Subt  , Envio_IVA )   
                 SELECT @sTicket                                     AS Factura           ,
                        ROW_NUMBER() OVER (ORDER BY Info.Material, Info.UnitPrice) * 10 AS Num_Linea,
                        Info.Quantity                                  AS Cantidad_Vta      ,
                        Info.Material                                  AS Material          ,
                        Info.UnitMeasure                               AS UM                ,
                        Info.Extnd_Price                               AS Valor_Subt        ,
                        Info.Extnd_Tax                                 AS Valor_IVA         ,
                        Info.Extnd_Discount                            AS Bonif_Subt        ,
                        Info.Distribution_Fee                          AS Costo_Distribucion,
                        ROUND( Info.Distribution_Fee *
                           CASE WHEN Info.Extnd_Tax = 0 THEN 0 ELSE ROUND( Info.Extnd_Tax * 100 / Info.Extnd_Price, 0 ) / 100 END, 2 )
                                                                     AS Dist_IVA
                 FROM (
                        SELECT Det.Material, Det.UnitMeasure,
                               ROUND( Det.Extnd_Price / Det.Quantity, 2 )    AS UnitPrice       ,
                               SUM( Det.Quantity       )                  AS Quantity        ,
                               SUM( Det.Extnd_Price    )                  AS Extnd_Price     ,
                               SUM( Det.Extnd_Tax      )                  AS Extnd_Tax       ,
                               SUM( Det.Extnd_Discount )                  AS Extnd_Discount  ,
                               SUM( Det.Distribution_Fee )                AS Distribution_Fee 
                        FROM T3.NGP_HISTORIA_FACTURA_SAP Hist
                        INNER JOIN T3.ORDERS_NGP_IN_DETAILS Det ON Hist.Install_ID = Det.Install_ID AND Hist.Ticket = Det.Ticket
                        WHERE Hist.Order_SAP  = @sOrderSAP
                        GROUP BY Material, UnitMeasure, ROUND( Extnd_Price / Quantity, 2 )            
                      ) Info;
              END
              ELSE
              BEGIN
                 IF ( ISNULL( @pOutput, 0 ) > 10 )
                 BEGIN
                    PRINT 'Not existe Configuration for Install ID' ;
                 END ;                                            
              END ;                 
              
              FETCH NEXT FROM ScrAgroupDocument INTO @cur_G_Install_ID, @cur_G_Ticket, @cur_G_Purchase_Date, @cur_G_Purchase_Type, @cur_G_Price_List, @cur_G_Currency, @cur_G_Rate;
           END ;
           CLOSE ScrAgroupDocument;
           
           UPDATE EAI.CONTROL_REPORTE SET Fin = GETDATE() 
           WHERE Reporte = 'NGP-Execute' ;
        END
        ELSE
        BEGIN
           PRINT 'Problemas en la ejecucion del Procedimiento' ;
           PRINT 'Favor de revisar las posibles causas' ;  
           PRINT 'a) Proceso de Carga aun en ejecución' ;  
           PRINT 'b) Ejecución en Proceso' ;  
           PRINT 'c) Terminación erronea de procesos' ;  
        END ;      
        
        IF ( ISNULL( @pOutput, 0 ) > 1 )
        BEGIN
           EXEC EAI.Trace_Plsql 'NGP-Execute', 'Ends' ;
        END ;         

    END TRY
    BEGIN CATCH
        IF CURSOR_STATUS('local', 'ScrAgroupDocument') >= 0 BEGIN CLOSE ScrAgroupDocument; DEALLOCATE ScrAgroupDocument; END;
        IF CURSOR_STATUS('local', 'ScrDocuments')      >= 0 BEGIN CLOSE ScrDocuments;      DEALLOCATE ScrDocuments;      END;
        IF CURSOR_STATUS('local', 'ScrInstall_CFG')    >= 0 BEGIN CLOSE ScrInstall_CFG;    DEALLOCATE ScrInstall_CFG;    END;

        SET @sMsg = SUBSTRING(CAST(ERROR_NUMBER() AS VARCHAR(10)) + '-' + ERROR_MESSAGE(), 1, 250) ;
        SET @sMsg = SUBSTRING(ERROR_MESSAGE(), 1, 250) ;

        PRINT REPLICATE('-', 80) ;
        PRINT 'Problemas en la ejecucion del Procedimiento' ;
        PRINT 'FAVOR DE ESCALAR LOS SIGUIENTES DATOS :' ;
        PRINT 'Procedimiento : PROC_NGP_EXECUTE' ;
        PRINT 'Fecha         : ' + CONVERT(VARCHAR, GETDATE(), 120) ;
        PRINT 'Referencia    : ' + ISNULL(@strID, '') ;
        PRINT 'Error         : ' + ISNULL(@sMsg, '') ;
        PRINT REPLICATE('-', 80) ;

        INSERT INTO T3.BITACORA_ERROR ( Distribuidor, Fecha, Mensaje, Tipo, Modulo, Ctro )
        VALUES ( 0, GETDATE(), ISNULL(@strID, '') + '. ' + @sMsg, 'F', 'NGP', @sInstall_ID );
    END CATCH;
END;
GO
