USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_T3_VALIDA_CANTIDADES]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[PROC_T3_VALIDA_CANTIDADES]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @nTotal_Detalle   NUMERIC(22,6);
    DECLARE @sFACTURA         VARCHAR(12);
    DECLARE @nDISTRIBUIDOR    NUMERIC(22,6);

    -- Variables cursor
    DECLARE @REN_FACTURA        VARCHAR(50),
            @REN_DISTRIBUIDOR   NUMERIC(22,6),
            @REN_FECHA_FACTURA  DATETIME,
            @REN_REP_ID         VARCHAR(50),
            @REN_CLIENTE_V3     VARCHAR(50),
            @REN_TOTAL          NUMERIC(22,2);

    DECLARE HEADER CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT FACTURA, DISTRIBUIDOR, FECHA_FACTURA, REP_ID, CLIENTE_V3, VALOR_SUBT + VALOR_IVA AS TOTAL
        FROM FACTURA_GENERAL
        WHERE FECHA_PROC_BATMD IS NULL;

    BEGIN TRY
        OPEN HEADER;
        FETCH NEXT FROM HEADER INTO @REN_FACTURA, @REN_DISTRIBUIDOR, @REN_FECHA_FACTURA, @REN_REP_ID, @REN_CLIENTE_V3, @REN_TOTAL;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @sFACTURA       = @REN_FACTURA;
            SET @nDISTRIBUIDOR  = @REN_DISTRIBUIDOR;

            SELECT @nTotal_Detalle = SUM(VALOR_TOT)
            FROM FACTURA_DETALLE
            WHERE FACTURA = @REN_FACTURA;

            IF @REN_TOTAL != @nTotal_Detalle
            BEGIN
                INSERT INTO BITACORA_ERROR 
                VALUES (
                    @REN_DISTRIBUIDOR, 
                    GETDATE(), 
                    'LA FACTURA ' + ISNULL(@REN_FACTURA, '') + ' NO TIENE VALORES IGUALES EN HEADER Y DETALLE, CLIENTE = ' + ISNULL(@REN_CLIENTE_V3, '') + ' REP_ID = ' + ISNULL(@REN_REP_ID, '') + ' FECHA_FACTURA = ' + ISNULL(CONVERT(VARCHAR(30), @REN_FECHA_FACTURA, 120), ''), 
                    'F', 
                    'T3', 
                    NULL
                );

                UPDATE FACTURA_GENERAL 
                SET FECHA_PROC_BATMD = CONVERT(DATETIME, '29991231', 112) 
                WHERE FACTURA = @REN_FACTURA;
            END
            ELSE IF @nTotal_Detalle IS NULL
            BEGIN
                INSERT INTO BITACORA_ERROR 
                VALUES (
                    @nDISTRIBUIDOR, 
                    GETDATE(), 
                    'LA FACTURA ' + ISNULL(@sFACTURA, '') + ' NO TIENE DETALLE', 
                    'F', 
                    'T3', 
                    NULL
                );

                UPDATE FACTURA_GENERAL 
                SET FECHA_PROC_BATMD = CONVERT(DATETIME, '29991231', 112) 
                WHERE FACTURA = @REN_FACTURA;
            END;

            FETCH NEXT FROM HEADER INTO @REN_FACTURA, @REN_DISTRIBUIDOR, @REN_FECHA_FACTURA, @REN_REP_ID, @REN_CLIENTE_V3, @REN_TOTAL;
        END;

        CLOSE HEADER;
        DEALLOCATE HEADER;

    END TRY
    BEGIN CATCH
        IF CURSOR_STATUS('local', 'HEADER') >= 0 BEGIN CLOSE HEADER; DEALLOCATE HEADER; END;
        THROW;
    END CATCH
END;
GO
