USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_T3_SF_CLIENTE_DELE]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[PROC_T3_SF_CLIENTE_DELE]  
( 
    @sClienteV3 VARCHAR(50),
    @sFechaIni  VARCHAR(20) = '20200901' 
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sFACTURA               VARCHAR(12) ;  
    DECLARE @sPROCESAR              VARCHAR(12) ;  
--
    DECLARE @v_ID                   VARCHAR(50) ;
    DECLARE @sErrorCode             VARCHAR(30) ;      
    DECLARE @sMsg                   VARCHAR(300) ;
    DECLARE @nPID                   INT ;
    DECLARE @nProceso               INT ;
    DECLARE @nProceso1              INT ;
    DECLARE @nProceso2              INT ;
    DECLARE @nProceso3              INT ;
    DECLARE @nProceso4              INT ;  
    DECLARE @nDays                  INT ;    
--
    DECLARE @sSig_Fecha_Ini     DATETIME ; --se cambio el rowid por Fecha_ini (verificar si es correcto)
    DECLARE @sAnt_Fecha_Ini     DATETIME ;--se cambio el rowid por Fecha_ini (verificar si es correcto)
--
    DECLARE @sAnt_Cliente_V3        VARCHAR(50) ;       
    DECLARE @sAnt_Nombre            VARCHAR(200) ;           
    DECLARE @sAnt_Fecha_Ini_Vig     DATETIME ;    
    DECLARE @sAnt_Fecha_Fin_Vig     DATETIME ;    
    DECLARE @sAnt_Alias             VARCHAR(100) ;            
    DECLARE @sAnt_Cliente_SAP       VARCHAR(50) ;      
    DECLARE @sAnt_Clte_Factura_SAP  VARCHAR(50) ; 
    DECLARE @sAnt_Clte_Ent_SAP      VARCHAR(50) ;     
    DECLARE @sAnt_RFC               VARCHAR(20) ;              
    DECLARE @sAnt_Dias_Cdto         INT ;        
    DECLARE @sAnt_Lista_Precio      VARCHAR(10) ;     
    DECLARE @sAnt_Dist_Venta        VARCHAR(10) ;       
    DECLARE @sAnt_Dist_Cobza        INT ;        
    DECLARE @sAnt_Area_Mgr          VARCHAR(50) ;         
    DECLARE @sAnt_Region_ID         VARCHAR(10) ;        
    DECLARE @sAnt_Limite_Cdto       NUMERIC(22,2) ;      
    DECLARE @sAnt_Canal             VARCHAR(10) ;            
    DECLARE @sAnt_Tipo_Clte         VARCHAR(10) ;        
    DECLARE @sAnt_SubTipo_Clte      VARCHAR(10) ;     
    DECLARE @sAnt_Territorio        VARCHAR(10) ;       
    DECLARE @sAnt_Tipo_Territorio   VARCHAR(10) ;  
    DECLARE @sAnt_Lista_IVA         VARCHAR(10) ;        
    DECLARE @sAnt_Direccion_1       VARCHAR(200) ;      
    DECLARE @sAnt_Colonia_1         VARCHAR(100) ;      
    DECLARE @sAnt_Ciudad_1          VARCHAR(100) ;         
    DECLARE @sAnt_Estado_1          VARCHAR(100) ;         
    DECLARE @sAnt_Codigo_Postal_1   VARCHAR(20) ;  
    DECLARE @sAnt_Pais_1            VARCHAR(50) ;           
    DECLARE @sAnt_Direccion_2       VARCHAR(200) ;      
    DECLARE @sAnt_Colonia_2         VARCHAR(100) ;      
    DECLARE @sAnt_Ciudad_2          VARCHAR(100) ;         
    DECLARE @sAnt_Estado_2          VARCHAR(100) ;         
    DECLARE @sAnt_Codigo_Postal_2   VARCHAR(20) ;  
    DECLARE @sAnt_Pais_2            VARCHAR(50) ;           
    DECLARE @sAnt_Direccion_3       VARCHAR(200) ;      
    DECLARE @sAnt_Colonia_3         VARCHAR(100) ;      
    DECLARE @sAnt_Ciudad_3          VARCHAR(100) ;         
    DECLARE @sAnt_Estado_3          VARCHAR(100) ;         
    DECLARE @sAnt_Codigo_Postal_3   VARCHAR(20) ;  
    DECLARE @sAnt_Pais_3            VARCHAR(50) ;               
    DECLARE @sAnt_Sucursal_Clte     VARCHAR(20) ;    
    DECLARE @sAnt_Clabe_Bancaria    VARCHAR(30) ;   
    DECLARE @sAnt_Ctro              VARCHAR(10) ;             
    DECLARE @sAnt_Ctro_Cobza        VARCHAR(10) ;       
    DECLARE @sAnt_Payer             VARCHAR(50) ;            
    DECLARE @bProcesar              BIT ; 
    DECLARE @sSig_Fecha_Ini_Vig     DATETIME ;    
    DECLARE @sSig_Fecha_Fin_Vig     DATETIME ;    

    -- Variables cursor
    DECLARE @Info_Cliente_V3        VARCHAR(50), --se quita el RowId y se usaran  @Info_Cliente_V3 y @Info_Fecha_Ini_Vig como llave 
            @Info_Nombre            VARCHAR(200),
            @Info_Fecha_Ini_Vig     DATETIME,
            @Info_Fecha_Fin_Vig     DATETIME,
            @Info_Cte_Alias         VARCHAR(100),
            @Info_Cliente_SAP       VARCHAR(50),
            @Info_Clte_Factura_SAP  VARCHAR(50),
            @Info_Clte_Ent_SAP      VARCHAR(50),
            @Info_RFC               VARCHAR(20),
            @Info_Dias_Cdto         INT,
            @Info_Lista_Precio      VARCHAR(10),
            @Info_Dist_Venta        VARCHAR(10),
            @Info_Dist_Cobza        INT,
            @Info_Area_Mgr          VARCHAR(50),
            @Info_Region_ID         VARCHAR(10),
            @Info_Limite_Cdto       NUMERIC(22,2),
            @Info_Canal             VARCHAR(10),
            @Info_Tipo_Clte         VARCHAR(10),
            @Info_SubTipo_Clte      VARCHAR(10),
            @Info_Territorio        VARCHAR(10),
            @Info_Tipo_Territorio   VARCHAR(10),
            @Info_LA_Lista_IVA      VARCHAR(10),
            @Info_Direccion_1       VARCHAR(200),
            @Info_Colonia_1         VARCHAR(100),
            @Info_Ciudad_1          VARCHAR(100),
            @Info_Estado_1          VARCHAR(100),
            @Info_Codigo_Postal_1   VARCHAR(20),
            @Info_Pais_1            VARCHAR(50),
            @Info_Direccion_2       VARCHAR(200),
            @Info_Colonia_2         VARCHAR(100),
            @Info_Ciudad_2          VARCHAR(100),
            @Info_Estado_2          VARCHAR(100),
            @Info_Codigo_Postal_2   VARCHAR(20),
            @Info_Pais_2            VARCHAR(50),
            @Info_Direccion_3       VARCHAR(200),
            @Info_Colonia_3         VARCHAR(100),
            @Info_Ciudad_3          VARCHAR(100),
            @Info_Estado_3          VARCHAR(100),
            @Info_Codigo_Postal_3   VARCHAR(20),
            @Info_Pais_3            VARCHAR(50),               
            @Info_Sucursal_Clte     VARCHAR(20),
            @Info_Clabe_Bancaria    VARCHAR(30),
            @Info_Ctro              VARCHAR(10),
            @Info_Ctro_Cobza        VARCHAR(10),
            @Info_Payer             VARCHAR(50);

    DECLARE ScrClientes CURSOR LOCAL FORWARD_ONLY STATIC FOR 
        SELECT 
               Cte.Cliente_V3                 AS Cliente_V3      ,--se quita el RowId y se usaran  @Info_Cliente_V3 y @Info_Fecha_Ini_Vig como llave 
               Cte.Nombre                     AS Nombre          ,
               Cte.Fecha_Ini_Vig              AS Fecha_Ini_Vig   ,
               Cte.Fecha_Fin_Vig              AS Fecha_Fin_Vig   ,
               Cte.Alias                      AS Cte_Alias       ,
               Cte.Cliente_SAP                AS Cliente_SAP     ,
               Cte.Clte_Factura_SAP           AS Clte_Factura_SAP,
               Cte.Clte_Ent_SAP               AS Clte_Ent_SAP    ,
               Cte.RFC                        AS RFC             ,
               ISNULL( Cte.Dias_Cdto, 0 )         AS Dias_Cdto        ,
               Cte.Lista_Precio               AS Lista_Precio    ,
               Cte.Dist_Venta                 AS Dist_Venta      ,
               ISNULL( Cte.Dist_Cobza, 0 )       AS Dist_Cobza      ,
               Cte.Area_Mgr                   AS Area_Mgr        ,
               Cte.Region_ID                  AS Region_ID       ,
               ISNULL( Cte.Limite_Cdto, 0 )      AS Limite_Cdto     ,
               Cte.Canal                      AS Canal           ,
               Cte.Tipo_Clte                  AS Tipo_Clte       ,
               Cte.SubTipo_Clte               AS SubTipo_Clte    ,
               Cte.Territorio                 AS Territorio      ,
               Cte.Tipo_Territorio            AS Tipo_Territorio ,
               Cte.Lista_IVA                  AS Lista_IVA       ,
               Cte.Direccion_1                AS Direccion_1     ,
               Cte.Colonia_1                  AS Colonia_1       ,
               Cte.Ciudad_1                   AS Ciudad_1        ,
               Cte.Estado_1                   AS Estado_1        ,
               Cte.Codigo_Postal_1            AS Codigo_Postal_1 ,
               Cte.Pais_1                     AS Pais_1          ,
               Cte.Direccion_2                AS Direccion_2     ,
               Cte.Colonia_2                  AS Colonia_2       ,
               Cte.Ciudad_2                   AS Ciudad_2        ,
               Cte.Estado_2                   AS Estado_2        ,
               Cte.Codigo_Postal_2            AS Codigo_Postal_2 ,
               Cte.Pais_2                     AS Pais_2          ,
               Cte.Direccion_3                AS Direccion_3     ,
               Cte.Colonia_3                  AS Colonia_3       ,
               Cte.Ciudad_3                   AS Ciudad_3        ,
               Cte.Estado_3                   AS Estado_3        ,
               Cte.Codigo_Postal_3            AS Codigo_Postal_3 ,
               Cte.Pais_3                     AS Pais_3          ,                
               ISNULL( Cte.Sucursal_Clte , '' )  AS Sucursal_Clte   ,
               ISNULL( Cte.Clabe_Bancaria, '' )  AS Clabe_Bancaria  ,
               ISNULL( Cte.Ctro          , '' )  AS Ctro            ,
               ISNULL( Cte.Ctro_Cobza    , '' )  AS Ctro_Cobza      ,
               ISNULL( Cte.Payer         , '' )  AS Payer
            FROM T3.Cliente Cte
            WHERE Cte.Cliente_V3     = @sClienteV3
              AND Cte.Fecha_Ini_Vig >= CONVERT(DATETIME, @sFechaIni, 112)
            ORDER BY Cte.Fecha_Ini_Vig ;

    BEGIN TRY
        SET @nProceso1 = 0 ;
        SET @nProceso2 = 0 ;

        OPEN ScrClientes;
        FETCH NEXT FROM ScrClientes INTO 
            @Info_Cliente_V3, @Info_Nombre, @Info_Fecha_Ini_Vig, @Info_Fecha_Fin_Vig, @Info_Cte_Alias,
            @Info_Cliente_SAP, @Info_Clte_Factura_SAP, @Info_Clte_Ent_SAP, @Info_RFC, @Info_Dias_Cdto,
            @Info_Lista_Precio, @Info_Dist_Venta, @Info_Dist_Cobza, @Info_Area_Mgr, @Info_Region_ID,
            @Info_Limite_Cdto, @Info_Canal, @Info_Tipo_Clte, @Info_SubTipo_Clte, @Info_Territorio,
            @Info_Tipo_Territorio, @Info_LA_Lista_IVA, @Info_Direccion_1, @Info_Colonia_1, @Info_Ciudad_1,
            @Info_Estado_1, @Info_Codigo_Postal_1, @Info_Pais_1, @Info_Direccion_2, @Info_Colonia_2,
            @Info_Ciudad_2, @Info_Estado_2, @Info_Codigo_Postal_2, @Info_Pais_2, @Info_Direccion_3,
            @Info_Colonia_3, @Info_Ciudad_3, @Info_Estado_3, @Info_Codigo_Postal_3, @Info_Pais_3,
            @Info_Sucursal_Clte, @Info_Clabe_Bancaria, @Info_Ctro, @Info_Ctro_Cobza, @Info_Payer;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @nProceso1 = @nProceso1 + 1 ;
            
            IF ( @nProceso1 = 1 ) 
            BEGIN

                SET @sAnt_Fecha_Ini    = @Info_Fecha_Ini_Vig ; -- ya lo tenemos abajo, ver si se puede quitar
                SET @sAnt_Cliente_V3        = @Info_Cliente_V3 ;
                SET @sAnt_Nombre            = @Info_Nombre ;
                SET @sAnt_Fecha_Ini_Vig     = @Info_Fecha_Ini_Vig ;
                SET @sAnt_Fecha_Fin_Vig     = @Info_Fecha_Fin_Vig ;
                SET @sAnt_Alias             = @Info_Cte_Alias ;
                SET @sAnt_Cliente_SAP       = @Info_Cliente_SAP ;
                SET @sAnt_Clte_Factura_SAP  = @Info_Clte_Factura_SAP ;
                SET @sAnt_Clte_Ent_SAP      = @Info_Clte_Ent_SAP ;
                SET @sAnt_RFC               = @Info_RFC ;
                SET @sAnt_Dias_Cdto         = @Info_Dias_Cdto ;
                SET @sAnt_Lista_Precio      = @Info_Lista_Precio ;
                SET @sAnt_Dist_Venta        = @Info_Dist_Venta ;
                SET @sAnt_Dist_Cobza        = @Info_Dist_Cobza ;
                SET @sAnt_Area_Mgr          = @Info_Area_Mgr ;
                SET @sAnt_Region_ID         = @Info_Region_ID ;
                SET @sAnt_Limite_Cdto       = @Info_Limite_Cdto ;
                SET @sAnt_Canal             = @Info_Canal ;
                SET @sAnt_Tipo_Clte         = @Info_Tipo_Clte ;
                SET @sAnt_SubTipo_Clte      = @Info_SubTipo_Clte ;
                SET @sAnt_Territorio        = @Info_Territorio ;
                SET @sAnt_Tipo_Territorio   = @Info_Tipo_Territorio ;
                SET @sAnt_Lista_IVA         = @Info_LA_Lista_IVA ;
                SET @sAnt_Direccion_1       = @Info_Direccion_1 ;
                SET @sAnt_Colonia_1         = @Info_Colonia_1 ;
                SET @sAnt_Ciudad_1          = @Info_Ciudad_1 ;
                SET @sAnt_Estado_1          = @Info_Estado_1 ;
                SET @sAnt_Codigo_Postal_1   = @Info_Codigo_Postal_1 ;
                SET @sAnt_Pais_1            = @Info_Pais_1 ;
                SET @sAnt_Direccion_2       = @Info_Direccion_2 ;
                SET @sAnt_Colonia_2         = @Info_Colonia_2 ;
                SET @sAnt_Ciudad_2          = @Info_Ciudad_2 ;
                SET @sAnt_Estado_2          = @Info_Estado_2 ;
                SET @sAnt_Codigo_Postal_2   = @Info_Codigo_Postal_2 ;
                SET @sAnt_Pais_2            = @Info_Pais_2 ;
                SET @sAnt_Direccion_3       = @Info_Direccion_3 ;
                SET @sAnt_Colonia_3         = @Info_Colonia_3 ;
                SET @sAnt_Ciudad_3          = @Info_Ciudad_3 ;
                SET @sAnt_Estado_3          = @Info_Estado_3 ;
                SET @sAnt_Codigo_Postal_3   = @Info_Codigo_Postal_3 ;
                SET @sAnt_Pais_3            = @Info_Pais_3 ;                
                SET @sAnt_Sucursal_Clte     = @Info_Sucursal_Clte ;
                SET @sAnt_Clabe_Bancaria    = @Info_Clabe_Bancaria ;
                SET @sAnt_Ctro              = @Info_Ctro ;
                SET @sAnt_Ctro_Cobza        = @Info_Ctro_Cobza ;
                SET @sAnt_Payer             = @Info_Payer ;
            END;

            SET @sSig_Fecha_Ini_Vig  = @Info_Fecha_Ini_Vig ;
            SET @sSig_Fecha_Fin_Vig  = @Info_Fecha_Fin_Vig ;
            SET @sSig_Fecha_Ini  = @Info_Fecha_Ini_Vig ; -- mismo caso ver si se usa el otro

            IF ( @sAnt_Fecha_Ini_Vig != @sSig_Fecha_Ini_Vig ) 
            BEGIN
                SET @nProceso4 = 0 ;
                IF ( @sAnt_Nombre != @Info_Nombre ) SET @nProceso4 = @nProceso4 + 1 ;
                IF ( @sAnt_Alias != @Info_Cte_Alias ) SET @nProceso4 = @nProceso4 + 1 ;
                IF ( @sAnt_Cliente_SAP != @Info_Cliente_SAP ) SET @nProceso4 = @nProceso4 + 1 ;
                IF ( @sAnt_Clte_Factura_SAP != @Info_Clte_Factura_SAP ) SET @nProceso4 = @nProceso4 + 1 ;
                IF ( @sAnt_Clte_Ent_SAP != @Info_Clte_Ent_SAP ) SET @nProceso4 = @nProceso4 + 1 ;
                IF ( @sAnt_RFC != @Info_RFC ) SET @nProceso4 = @nProceso4 + 1 ;
                IF ( @sAnt_Dias_Cdto != @Info_Dias_Cdto ) SET @nProceso4 = @nProceso4 + 1 ;
                IF ( @sAnt_Lista_Precio != @Info_Lista_Precio ) SET @nProceso4 = @nProceso4 + 1 ;
                IF ( @sAnt_Dist_Venta != @Info_Dist_Venta ) SET @nProceso4 = @nProceso4 + 1 ;
                IF ( @sAnt_Dist_Cobza != @Info_Dist_Cobza ) SET @nProceso4 = @nProceso4 + 1 ;
                IF ( @sAnt_Area_Mgr != @Info_Area_Mgr ) SET @nProceso4 = @nProceso4 + 1 ;
                IF ( @sAnt_Region_ID != @Info_Region_ID ) SET @nProceso4 = @nProceso4 + 1 ;
                IF ( @sAnt_Limite_Cdto != @Info_Limite_Cdto ) SET @nProceso4 = @nProceso4 + 1 ;
                IF ( @sAnt_Canal != @Info_Canal ) SET @nProceso4 = @nProceso4 + 1 ;
                IF ( @sAnt_Tipo_Clte != @Info_Tipo_Clte ) SET @nProceso4 = @nProceso4 + 1 ;
                IF ( @sAnt_SubTipo_Clte != @Info_SubTipo_Clte ) SET @nProceso4 = @nProceso4 + 1 ;
                IF ( @sAnt_Territorio != @Info_Territorio ) SET @nProceso4 = @nProceso4 + 1 ;
                IF ( @sAnt_Tipo_Territorio != @Info_Tipo_Territorio ) SET @nProceso4 = @nProceso4 + 1 ;
                IF ( @sAnt_Lista_IVA != @Info_LA_Lista_IVA ) SET @nProceso4 = @nProceso4 + 1 ;
                IF ( @sAnt_Direccion_1 != @Info_Direccion_1 ) SET @nProceso4 = @nProceso4 + 1 ;
                IF ( @sAnt_Colonia_1 != @Info_Colonia_1 ) SET @nProceso4 = @nProceso4 + 1 ;
                IF ( @sAnt_Ciudad_1 != @Info_Ciudad_1 ) SET @nProceso4 = @nProceso4 + 1 ;
                IF ( @sAnt_Estado_1 != @Info_Estado_1 ) SET @nProceso4 = @nProceso4 + 1 ;
                IF ( @sAnt_Codigo_Postal_1 != @Info_Codigo_Postal_1 ) SET @nProceso4 = @nProceso4 + 1 ;
                IF ( @sAnt_Pais_1 != @Info_Pais_1 ) SET @nProceso4 = @nProceso4 + 1 ;
                IF ( @sAnt_Direccion_2 != @Info_Direccion_2 ) SET @nProceso4 = @nProceso4 + 1 ;
                IF ( @sAnt_Colonia_2 != @Info_Colonia_2 ) SET @nProceso4 = @nProceso4 + 1 ;
                IF ( @sAnt_Ciudad_2 != @Info_Ciudad_2 ) SET @nProceso4 = @nProceso4 + 1 ;
                IF ( @sAnt_Estado_2 != @Info_Estado_2 ) SET @nProceso4 = @nProceso4 + 1 ;
                IF ( @sAnt_Codigo_Postal_2 != @Info_Codigo_Postal_2 ) SET @nProceso4 = @nProceso4 + 1 ;
                IF ( @sAnt_Pais_2 != @Info_Pais_2 ) SET @nProceso4 = @nProceso4 + 1 ;
                IF ( @sAnt_Direccion_3 != @Info_Direccion_3 ) SET @nProceso4 = @nProceso4 + 1 ;
                IF ( @sAnt_Colonia_3 != @Info_Colonia_3 ) SET @nProceso4 = @nProceso4 + 1 ;
                IF ( @sAnt_Ciudad_3 != @Info_Ciudad_3 ) SET @nProceso4 = @nProceso4 + 1 ;
                IF ( @sAnt_Estado_3 != @Info_Estado_3 ) SET @nProceso4 = @nProceso4 + 1 ;
                IF ( @sAnt_Codigo_Postal_3 != @Info_Codigo_Postal_3 ) SET @nProceso4 = @nProceso4 + 1 ;
                IF ( @sAnt_Pais_3 != @Info_Pais_3 ) SET @nProceso4 = @nProceso4 + 1 ;
                IF ( @sAnt_Sucursal_Clte != @Info_Sucursal_Clte ) SET @nProceso4 = @nProceso4 + 1 ;
                IF ( @sAnt_Clabe_Bancaria != @Info_Clabe_Bancaria ) SET @nProceso4 = @nProceso4 + 1 ;
                IF ( @sAnt_Ctro != @Info_Ctro ) SET @nProceso4 = @nProceso4 + 1 ;
                IF ( @sAnt_Ctro_Cobza != @Info_Ctro_Cobza ) SET @nProceso4 = @nProceso4 + 1 ;
                IF ( @sAnt_Payer != @Info_Payer ) SET @nProceso4 = @nProceso4 + 1 ;

                IF ( @nProceso4 = 0 ) 
                BEGIN
                    SET @nProceso2 = @nProceso2 + 1 ;
                    
                    UPDATE T3.Cliente 
                    SET Fecha_Fin_Vig = @sSig_Fecha_Fin_Vig 
                    WHERE Cliente_V3 = @sClienteV3 AND Fecha_Ini_Vig = @sAnt_Fecha_Ini ;

                    DELETE FROM T3.Cliente 
                    WHERE Cliente_V3 = @sClienteV3 AND Fecha_Ini_Vig = @sSig_Fecha_Ini ;
                    
                    BREAK ;
                END;
            END;      

            SET @sAnt_Fecha_Ini    = @Info_Fecha_Ini_Vig ;
            SET @sAnt_Cliente_V3        = @Info_Cliente_V3 ;
            SET @sAnt_Nombre            = @Info_Nombre ;
            SET @sAnt_Fecha_Ini_Vig     = @Info_Fecha_Ini_Vig ;
            SET @sAnt_Fecha_Fin_Vig     = @Info_Fecha_Fin_Vig ;
            SET @sAnt_Alias             = @Info_Cte_Alias ;
            SET @sAnt_Cliente_SAP       = @Info_Cliente_SAP ;
            SET @sAnt_Clte_Factura_SAP  = @Info_Clte_Factura_SAP ;
            SET @sAnt_Clte_Ent_SAP      = @Info_Clte_Ent_SAP ;
            SET @sAnt_RFC               = @Info_RFC ;
            SET @sAnt_Dias_Cdto         = @Info_Dias_Cdto ;
            SET @sAnt_Lista_Precio      = @Info_Lista_Precio ;
            SET @sAnt_Dist_Venta        = @Info_Dist_Venta ;
            SET @sAnt_Dist_Cobza        = @Info_Dist_Cobza ;
            SET @sAnt_Area_Mgr          = @Info_Area_Mgr ;
            SET @sAnt_Region_ID         = @Info_Region_ID ;
            SET @sAnt_Limite_Cdto       = @Info_Limite_Cdto ;
            SET @sAnt_Canal             = @Info_Canal ;
            SET @sAnt_Tipo_Clte         = @Info_Tipo_Clte ;
            SET @sAnt_SubTipo_Clte      = @Info_SubTipo_Clte ;
            SET @sAnt_Territorio        = @Info_Territorio ;
            SET @sAnt_Tipo_Territorio   = @Info_Tipo_Territorio ;
            SET @sAnt_Lista_IVA         = @Info_LA_Lista_IVA ;
            SET @sAnt_Direccion_1       = @Info_Direccion_1 ;
            SET @sAnt_Colonia_1         = @Info_Colonia_1 ;
            SET @sAnt_Ciudad_1          = @Info_Ciudad_1 ;
            SET @sAnt_Estado_1          = @Info_Estado_1 ;
            SET @sAnt_Codigo_Postal_1   = @Info_Codigo_Postal_1 ;
            SET @sAnt_Pais_1            = @Info_Pais_1 ;
            SET @sAnt_Direccion_2       = @Info_Direccion_2 ;
            SET @sAnt_Colonia_2         = @Info_Colonia_2 ;
            SET @sAnt_Ciudad_2          = @Info_Ciudad_2 ;
            SET @sAnt_Estado_2          = @Info_Estado_2 ;
            SET @sAnt_Codigo_Postal_2   = @Info_Codigo_Postal_2 ;
            SET @sAnt_Pais_2            = @Info_Pais_2 ;
            SET @sAnt_Direccion_3       = @Info_Direccion_3 ;
            SET @sAnt_Colonia_3         = @Info_Colonia_3 ;
            SET @sAnt_Ciudad_3          = @Info_Ciudad_3 ;
            SET @sAnt_Estado_3          = @Info_Estado_3 ;
            SET @sAnt_Codigo_Postal_3   = @Info_Codigo_Postal_3 ;
            SET @sAnt_Pais_3            = @Info_Pais_3 ;                
            SET @sAnt_Sucursal_Clte     = @Info_Sucursal_Clte ;
            SET @sAnt_Clabe_Bancaria    = @Info_Clabe_Bancaria ;
            SET @sAnt_Ctro              = @Info_Ctro ;
            SET @sAnt_Ctro_Cobza        = @Info_Ctro_Cobza ;
            SET @sAnt_Payer             = @Info_Payer ;

            FETCH NEXT FROM ScrClientes INTO 
                @Info_Cliente_V3, @Info_Nombre, @Info_Fecha_Ini_Vig, @Info_Fecha_Fin_Vig, @Info_Cte_Alias,
                @Info_Cliente_SAP, @Info_Clte_Factura_SAP, @Info_Clte_Ent_SAP, @Info_RFC, @Info_Dias_Cdto,
                @Info_Lista_Precio, @Info_Dist_Venta, @Info_Dist_Cobza, @Info_Area_Mgr, @Info_Region_ID,
                @Info_Limite_Cdto, @Info_Canal, @Info_Tipo_Clte, @Info_SubTipo_Clte, @Info_Territorio,
                @Info_Tipo_Territorio, @Info_LA_Lista_IVA, @Info_Direccion_1, @Info_Colonia_1, @Info_Ciudad_1,
                @Info_Estado_1, @Info_Codigo_Postal_1, @Info_Pais_1, @Info_Direccion_2, @Info_Colonia_2,
                @Info_Ciudad_2, @Info_Estado_2, @Info_Codigo_Postal_2, @Info_Pais_2, @Info_Direccion_3,
                @Info_Colonia_3, @Info_Ciudad_3, @Info_Estado_3, @Info_Codigo_Postal_3, @Info_Pais_3,
                @Info_Sucursal_Clte, @Info_Clabe_Bancaria, @Info_Ctro, @Info_Ctro_Cobza, @Info_Payer;
        END;

        CLOSE ScrClientes;
        DEALLOCATE ScrClientes;

        IF ( @nProceso2 > 0 ) 
        BEGIN
            EXEC T3.PROC_T3_SF_CLIENTE_DELE @sClienteV3, @sFechaIni ;
        END;

    END TRY
    BEGIN CATCH
        IF CURSOR_STATUS('local', 'ScrClientes') >= 0 BEGIN CLOSE ScrClientes; DEALLOCATE ScrClientes; END;

        SET @sErrorCode = 'SQL-' + CAST(ERROR_NUMBER() AS VARCHAR(10)) ;
        SET @sMsg = SUBSTRING(CAST(ERROR_NUMBER() AS VARCHAR(10)) + '-' + ERROR_MESSAGE(), 1, 250) ;      
        
        INSERT INTO EAI_OWNER.MX_EAI_MESSAGE_LOG
            ( DIRECTION        , REFERENCE                , CREATED             , MESSAGE        , JOB_PID,
              STATUS           , QUEUE_NAME               , SIEBEL_ERROR_MESSAGE, SOURCE         , 
              SIEBEL_ERROR_CODE, RETRY_COUNT              , SEQUENCE            , PARENT_ROW_ID   )
        VALUES 
            ( 'Job Logging'    , @v_ID                    , GETDATE()            , NULL           , @nPID   ,
              'Error'          , 'PROC_T3_SF_CLIENTE_DELE' , @sMsg               , 'TSQL'        ,
              @sErrorCode      , NULL                     , NULL                , NULL            ) ;
    END CATCH
END;
GO
