USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_CFDI_LIBERACION_PAC]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[PROC_CFDI_LIBERACION_PAC] 
    @pPOD_Release VARCHAR(255) = 'NO'
AS
BEGIN

    DECLARE @sMsg VARCHAR(500);
    DECLARE @sErrorCode VARCHAR(30);
--   
    DECLARE @strID VARCHAR(50);
    DECLARE @dtInicio DATETIME;
    DECLARE @nPID NUMERIC(8,0);
    DECLARE @nProceso NUMERIC(8,0);
    DECLARE @nProceso1 NUMERIC(8,0);
    DECLARE @nProceso2 NUMERIC(8,0);
    DECLARE @nProceso3 NUMERIC(8,0);
    DECLARE @nProceso4 NUMERIC(8,0);
    DECLARE @sAddenda VARCHAR(3);
    DECLARE @dtFechaRollout DATETIME;

    -- Variables cursor
    DECLARE @Doc_Factura VARCHAR(50);
    DECLARE @Doc_Fecha_Liberacion DATETIME;
    DECLARE @Doc_Accnt_ID VARCHAR(50);
    DECLARE @Doc_Dias_Cdto NUMERIC(15,4);
    DECLARE @Doc_Addenda_Venta VARCHAR(255);
    DECLARE @Doc_Addenda_Fases VARCHAR(255);
    DECLARE @Doc_Fecha_Rollout VARCHAR(255);
    DECLARE @Doc_Fecha_Documento DATETIME;

    DECLARE ScrPrompt CURSOR FOR 
        SELECT 
              FG.Factura, PAC.Fecha_Liberacion, Cte.Cliente_SAP AS Accnt_ID,
              ABS( DATEDIFF( DAY, FG.Fecha_Factura, CAST(GETDATE() AS DATE) ) ) +
              ( ISNULL( Cte.Dias_Cdto, 0 ) * ISNULL( Eval.Factor, 1 ) ) +
              ISNULL( Lib.Dias_Cdto, 0 )                     AS Dias_Cdto,
              T3.FN_ADDENDA_PARAM( Cte.RFC, 'VENTA' )        AS Addenda_Venta,
              T3.FN_ADDENDA_PARAM( Cte.RFC, 'FASES' )        AS Addenda_Fases,
              CteX.Attrib_34                                 AS Fecha_Rollout,
              FG.Fecha_Factura                               AS Fecha_Documento
        FROM ( 
              SELECT DISTINCT Fecha_Proc_BATMD
                 FROM T3.RF_PROCESOS_LOG
                 WHERE Proceso = 601
                   AND Inicio > DATEADD( DAY, -1, CAST(GETDATE() AS DATE) )
              ) Ejec
        CROSS JOIN T3.Factura_General FG
        INNER JOIN T3.CFDI_Historia_Docto_PAC Env ON FG.Factura = Env.Nota_Venta AND FG.Factura = Env.Nota_Venta_CFDI
        INNER JOIN T3.Cliente Cte ON FG.Cliente_SAP = Cte.Cliente_SAP AND FG.Fecha_Factura BETWEEN Cte.Fecha_Ini_Vig AND Cte.Fecha_Fin_Vig
        LEFT JOIN T3.CFDI_Documentos PAC ON FG.Factura = PAC.Nota_Venta
        LEFT JOIN T3.TMD_Email CteX ON FG.Cliente_SAP = CteX.Cliente_SAP
        LEFT JOIN (
                    SELECT RFC, MAX( Valor ) AS Dias_Cdto
                        FROM T3.CFDI_RFC_Setting
                        WHERE Parametro = 'Libera_Auto'
                        GROUP BY RFC 
                  ) Lib ON Cte.RFC = Lib.RFC
        LEFT JOIN (
                    SELECT RFC, MAX( Valor ) AS Factor
                        FROM T3.CFDI_RFC_Setting
                        WHERE Parametro = 'Bloquea_LibCredito'
                        GROUP BY RFC 
                  ) Eval ON Cte.RFC = Eval.RFC
        WHERE FG.Fecha_Trn        > DATEADD(DAY, -4, GETDATE())
          AND FG.Fecha_Proc_BATMD = Ejec.Fecha_Proc_BATMD
          AND PAC.Fecha_Liberacion IS NULL
          AND FG.Tipo_Docto        = 'C003' 
          AND Cte.RFC            NOT IN ( 'XX-SEM980701STA', 'X-TEX9302097F3' )
          AND FG.Factura     NOT IN (
                    SELECT DISTINCT Referencia FROM T3.RF_Error_Log
                       WHERE Referencia IS NOT NULL
                         AND RUTINA LIKE '%GENERAR_MX06%' );

    BEGIN TRY
        SET @dtInicio  = GETDATE();
        SET @nProceso  = 603;
        SET @nProceso1 = 0;
        SET @nProceso2 = 0;
        SET @nProceso3 = 0;
        SET @nProceso4 = 0;
        SET @nPID      = NEXT VALUE FOR EAI_Owner.ProcessID;
        
        EXEC EAI_Owner.Log_Start @nProceso;
        
        IF ( ISNULL( @pPOD_Release, 'NO' ) != 'NO' ) 
        BEGIN
           SET @nProceso4 = 99;
        END;
        
        INSERT INTO T3.RF_PROCESOS_LOG ( PID , Proceso , Fecha_Proc_BATMD, Inicio )
        VALUES ( @nPID, @nProceso, NULL, GETDATE() );      
        
        OPEN ScrPrompt;
        FETCH NEXT FROM ScrPrompt INTO @Doc_Factura, @Doc_Fecha_Liberacion, @Doc_Accnt_ID, @Doc_Dias_Cdto, @Doc_Addenda_Venta, @Doc_Addenda_Fases, @Doc_Fecha_Rollout, @Doc_Fecha_Documento;
        
        WHILE @@FETCH_STATUS = 0
        BEGIN   
           SET @strID    = @Doc_Factura;
           SET @sAddenda = @Doc_Addenda_Venta;
           
           IF ( ( @sAddenda = 'SI' ) AND ( @Doc_Addenda_Fases = 'SI' ) ) 
           BEGIN
                 IF ( CHARINDEX('/', @Doc_Fecha_Rollout) > 0 ) 
                 BEGIN
                    SET @dtFechaRollout = CONVERT(DATETIME, @Doc_Fecha_Rollout, 103);
                    IF ( @Doc_Fecha_Documento >= @dtFechaRollout ) 
                    BEGIN
                       SET @sAddenda = 'SI';
                    END 
                    ELSE 
                    BEGIN
                       SET @sAddenda = 'NO';               
                    END;   
                 END 
                 ELSE 
                 BEGIN
                    SET @sAddenda = 'NO';               
                 END;
           END;      
           
           IF ( @sAddenda = 'NO' ) 
           BEGIN
             IF ( @Doc_Dias_Cdto > 0 ) 
             BEGIN

                 EXEC T3.PROC_V40_GENERAR_MX06 @Doc_Factura, @Doc_Accnt_ID;
                 SET @nProceso1 = @nProceso1 + 1;
             END 
             ELSE IF ( UPPER( ISNULL( @pPOD_Release, 'NO' ) ) != 'NO' ) 
             BEGIN
                 EXEC T3.PROC_V40_GENERAR_MX06 @Doc_Factura, @Doc_Accnt_ID;
                 SET @nProceso1 = @nProceso1 + 1;
             END;    
           END 
           ELSE 
           BEGIN 
              IF ( UPPER( ISNULL( @pPOD_Release, 'NO' ) ) != 'NO' ) 
              BEGIN
                 EXEC T3.PROC_V40_GENERAR_MX06 @Doc_Factura, @Doc_Accnt_ID;
                 SET @nProceso1 = @nProceso1 + 1;
              END;
           END;

           FETCH NEXT FROM ScrPrompt INTO @Doc_Factura, @Doc_Fecha_Liberacion, @Doc_Accnt_ID, @Doc_Dias_Cdto, @Doc_Addenda_Venta, @Doc_Addenda_Fases, @Doc_Fecha_Rollout, @Doc_Fecha_Documento;
        END;
        
        CLOSE ScrPrompt;
        DEALLOCATE ScrPrompt;

        UPDATE EAI_OWNER.MX_COMPONENTS 
        SET Status = 1
        WHERE Component = @nProceso;
        
        UPDATE T3.RF_PROCESOS_LOG 
        SET Fin = GETDATE(), 
            Proceso_1 = @nProceso1, 
            Proceso_2 = @nProceso2,
            Proceso_3 = @nProceso3, 
            Proceso_4 = @nProceso4
        WHERE PID = @nPID;         

    END TRY
    BEGIN CATCH
        SET @sMsg = SUBSTRING(CAST(ERROR_NUMBER() AS VARCHAR) + '-' + ERROR_MESSAGE(), 1, 250);
        SET @sMsg = SUBSTRING(ERROR_MESSAGE(), 1, 250);
        
        PRINT REPLICATE('-', 80);
        PRINT 'Problemas en la ejecucion del Procedimiento';
        PRINT 'FAVOR DE ESCALAR LOS SIGUIENTES DATOS :';
        PRINT 'Procedimiento : PROC_CFDI_LIBERACION_PAC';
        PRINT 'Fecha         : ' + CONVERT(VARCHAR, GETDATE(), 112) + ' ' + CONVERT(VARCHAR, GETDATE(), 108);
        PRINT 'Referencia    : ' + ISNULL(@strID, '');
        PRINT 'Error         : ' + ISNULL(@sMsg, '');
        PRINT REPLICATE('-', 80);

        SET @sErrorCode = 'SQL-' + CAST(ERROR_NUMBER() AS VARCHAR);
        SET @sMsg = SUBSTRING(CAST(ERROR_NUMBER() AS VARCHAR) + '-' + ERROR_MESSAGE(), 1, 250);      
		
		INSERT INTO EAI_OWNER.MX_EAI_MESSAGE_LOG
          ( DIRECTION, REFERENCE, CREATED, MESSAGE, JOB_PID,
            STATUS, QUEUE_NAME, SIEBEL_ERROR_MESSAGE, SOURCE, 
            SIEBEL_ERROR_CODE, RETRY_COUNT, SEQUENCE, PARENT_ROW_ID )
        VALUES 
          ( 'Job Logging', @strID, GETDATE(), NULL, @nPID,
            'Error', 'PROC_CFDI_LIBERACION_PAC', @sMsg, 'PL/SQL',
            @sErrorCode, NULL, NULL, NULL );

    END CATCH
END;

GO
