USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_CREA_CTL_MOVCLIENTE]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[PROC_CREA_CTL_MOVCLIENTE] 
    @P_CTRO VARCHAR(50)
AS
BEGIN
    DECLARE @RESULTADO_FUNC VARCHAR(30);

    -- Variables cursor
    DECLARE @REN_CLIENTE_V3 VARCHAR(50);
    DECLARE @REN_FECHA_SYNCR DATETIME;
    DECLARE @REN_DIST_VENTA VARCHAR(50);
    DECLARE @REN_CTRO VARCHAR(50);

    DECLARE C_CTLMOV_CLTE CURSOR FOR 
        SELECT CLIENTE_V3, FECHA_SYNCR, DIST_VENTA, CTRO
        FROM T3.MOV_CLIENTE
        WHERE CLIENTE_V3 IN ( SELECT CLIENTE_V3 FROM T3.CONTROL_DOCUMENTOS )
          AND CTRO        = @P_CTRO ;

    BEGIN TRY
        OPEN C_CTLMOV_CLTE;
        FETCH NEXT FROM C_CTLMOV_CLTE INTO @REN_CLIENTE_V3, @REN_FECHA_SYNCR, @REN_DIST_VENTA, @REN_CTRO;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            --SET @RESULTADO_FUNC = T3.Func_Upchg_Mov( @REN_CLIENTE_V3, @REN_FECHA_SYNCR, @REN_CTRO ) ;
			exec T3.Func_Upchg_Mov @REN_CLIENTE_V3, @REN_FECHA_SYNCR, @REN_CTRO, @RESULTADO_FUNC output  ;
            
            FETCH NEXT FROM C_CTLMOV_CLTE INTO @REN_CLIENTE_V3, @REN_FECHA_SYNCR, @REN_DIST_VENTA, @REN_CTRO;
        END ;

        CLOSE C_CTLMOV_CLTE;
        DEALLOCATE C_CTLMOV_CLTE;

    END TRY
    BEGIN CATCH
        PRINT '************ Mensaje ************' ;
        PRINT 'Error en PROC_CREA_CTL_MOVCLIENTE' ;
    END CATCH
END ;
GO
