USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_T3_LIB_PRESALES_PDV]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[PROC_T3_LIB_PRESALES_PDV]  
( 
    @dtInvoiceDate      DATETIME = NULL,
    @sType              VARCHAR(20) = 'AUTO' 
) 
AS
BEGIN
    SET NOCOUNT ON;

--revisar si se puede en el default
    IF @dtInvoiceDate IS NULL
    BEGIN
        SET @dtInvoiceDate = GETDATE();
    END;

    DECLARE @nCountDocument  INT ;
    DECLARE @nCountRelease   INT ;
    DECLARE @nOperations     INT ;

    -- Variables cursores
    DECLARE @Doc_ReleaseDoc         VARCHAR(50),
            @Doc_Factura            VARCHAR(50),
            @Doc_Fecha_Factura      DATETIME,
            @Doc_RFC                VARCHAR(20),
            @Doc_Fecha_Proc_BATMD   DATETIME,
            @Doc_Fecha_Cancelacion  DATETIME,
            @Doc_Entrega            VARCHAR(50),
            @Doc_Ent_Fecha_Trn      DATETIME,
            @Doc_Status_Entrega     VARCHAR(5),
            @Doc_Ubicacion          VARCHAR(10),
            @Doc_Rep_ID             VARCHAR(20),
            @Doc_Fecha_Entrega      DATETIME,
            @Doc_Cliente_V3         VARCHAR(50),
            @Doc_Cliente_SAP        VARCHAR(50),
            @Doc_Ent_Proc_BATMD     DATETIME,
            @Doc_Complemento        VARCHAR(50),
            @Doc_Hora_Factura       VARCHAR(20),
            @Doc_Anio_Aprob         VARCHAR(10),
            @Doc_Folio_Aprob        VARCHAR(20),
            @Doc_Sociedad           VARCHAR(10),
            @Doc_Cadena_Original    VARCHAR(50),
            @Doc_Sello_Digital      VARCHAR(50),
            @Doc_Dias_Pago_Old      INT,
            @Doc_Dias_Pago          VARCHAR(10);

    DECLARE ScrPresales CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT 
              Doc.ReleaseDoc                                  AS ReleaseDoc       ,
              Doc.Factura                                     AS Factura          ,
              Doc.Fecha_Factura                               AS Fecha_Factura    ,
              Doc.RFC                                         AS RFC              ,
              Doc.Fecha_Proc_BATMD                            AS Fecha_Proc_BATMD ,
              Doc.Fecha_Cancelacion                           AS Fecha_Cancelacion,
--              
              Doc.Entrega                                     AS Entrega          ,
              Ent.Fecha_Trn                                   AS Ent_Fecha_Trn    ,
              '1'                                             AS Status_Entrega   ,
              '0000'                                          AS Ubicacion        ,
              'U00000000'                                     AS Rep_ID           ,
              Doc.Fecha_Factura                               AS Fecha_Entrega    ,
              Doc.Cliente_V3                                  AS Cliente_V3       ,
              Doc.Cliente_SAP                                 AS Cliente_SAP      ,
              Ent.Fecha_Proc_BATMD                            AS Ent_Proc_BATMD   ,
--
              ISNULL( Comp.Hora_Factura, 'INSERT' )           AS Complemento      ,
              CONVERT(VARCHAR(8), GETDATE(), 108)             AS Hora_Factura     ,
              'Error'                                         AS Anio_Aprob       ,
              'Error'                                         AS Folio_Aprob      ,
              'MX06'                                          AS Sociedad         ,
              'CFDI - Documento'                              AS Cadena_Original  ,
              'CFDI - Documento'                              AS Sello_Digital    ,
              Doc.Dias_Cdto                                   AS Dias_Pago_Old    ,
              CASE
                  WHEN ( Doc.CondicionPago != Doc.Dias_Pago ) THEN Doc.Dias_Pago
                  WHEN ( Doc.Dias_Cdto IS NOT NULL ) THEN CAST( Doc.Dias_Cdto AS VARCHAR(10) )
                  ELSE 
                     '30'
              END                                             AS Dias_Pago              
        FROM (
               SELECT 
                      PG.Factura                    AS Factura          ,
                      PG.Entrega                    AS Entrega          ,
                      PG.Fecha_Factura              AS Fecha_Factura    ,
                      PG.Cliente_SAP                AS Cliente_SAP      ,
                      MC.Cliente_V3                 AS Cliente_V3       ,
                      MC.RFC                        AS RFC              ,
                      Lib.Liberar                   AS ReleaseDoc       ,
                      ISNULL( MC.Dias_Cdto, 0 )         AS Dias_Cdto        ,
                      PG.Fecha_Proc_BATMD           AS Fecha_Proc_BATMD ,
                      PG.Fecha_Cancelacion          AS Fecha_Cancelacion,
                      Head.CondicionPago            AS CondicionPago    ,
                      EAI_Owner.getConv( 'ECC_V3 Payment Terms', Head.CondicionPago ) AS Dias_Pago
                  FROM T3.Preventa_General             PG  , 
                       T3.Mov_Cliente                  MC  ,
                       EAI_Owner.tmp_Document_Header   Head,
                       ( SELECT Source      AS Cliente_SAP ,
                                Target      AS Liberar
                            FROM EAI_Owner.MX_Hashtable
                            WHERE Type = 'PDV A51' ) Lib
                  WHERE PG.Fecha_Factura  = @dtInvoiceDate
                    AND PG.Entrega        = Head.ReferenceID
                    AND PG.Cliente_SAP    = MC.Cliente_SAP
                    AND PG.Cliente_SAP    = Lib.Cliente_SAP 
             ) Doc
        LEFT OUTER JOIN T3.Entrega Ent ON Doc.Factura = Ent.Factura
        LEFT OUTER JOIN T3.RF_Complemento Comp ON Doc.Factura = Comp.Factura 
        WHERE Doc.ReleaseDoc = 'SI' ;

    BEGIN TRY
        SET @nCountDocument = 0 ;
        SET @nCountRelease  = 0 ;
        SET @nOperations    = 0 ;

        OPEN ScrPresales;
        FETCH NEXT FROM ScrPresales INTO 
            @Doc_ReleaseDoc, @Doc_Factura, @Doc_Fecha_Factura, @Doc_RFC, @Doc_Fecha_Proc_BATMD, @Doc_Fecha_Cancelacion,
            @Doc_Entrega, @Doc_Ent_Fecha_Trn, @Doc_Status_Entrega, @Doc_Ubicacion, @Doc_Rep_ID, @Doc_Fecha_Entrega,
            @Doc_Cliente_V3, @Doc_Cliente_SAP, @Doc_Ent_Proc_BATMD, @Doc_Complemento, @Doc_Hora_Factura, @Doc_Anio_Aprob,
            @Doc_Folio_Aprob, @Doc_Sociedad, @Doc_Cadena_Original, @Doc_Sello_Digital, @Doc_Dias_Pago_Old, @Doc_Dias_Pago;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @nCountDocument = @nCountDocument + 1 ;
            
            IF ( @sType = 'AUTO' ) 
            BEGIN
                IF ( @Doc_Fecha_Proc_BATMD = CONVERT(DATETIME, '29991201', 112) ) 
                BEGIN
                    SET @nOperations = @nOperations + 1 ;
                    UPDATE T3.Preventa_General SET Fecha_Proc_BATMD = NULL
                    WHERE Factura = @Doc_Factura ;
                END;

                IF ( @Doc_Ent_Proc_BATMD = CONVERT(DATETIME, '29991201', 112) ) 
                BEGIN
                    SET @nOperations = @nOperations + 1 ;
                    UPDATE T3.Entrega SET Fecha_Proc_BATMD = NULL
                    WHERE Factura = @Doc_Factura ; 
                END
                ELSE IF ( @Doc_Ent_Fecha_Trn IS NULL ) 
                BEGIN
                    SET @nOperations = @nOperations + 1 ;
                    INSERT INTO T3.Entrega
                        ( Factura      , Entrega    , Fecha_Trn        , Status_Entrega    ,
                          Ubicacion    , Rep_ID     , Fecha_Entrega    , Cliente_V3        , Cliente_SAP     )
                    VALUES
                        ( @Doc_Factura  , @Doc_Entrega, GETDATE()          , @Doc_Status_Entrega,
                          @Doc_Ubicacion, @Doc_Rep_ID , @Doc_Fecha_Entrega, @Doc_Cliente_V3    , @Doc_Cliente_SAP ) ;
                END;

                IF ( @Doc_Complemento = 'INSERT' ) 
                BEGIN
                    SET @nOperations = @nOperations + 1 ;
                    INSERT INTO T3.RF_Complemento
                        ( Factura     , Hora_Factura       , Anio_Aprob       , Folio_Aprob    ,
                          Sociedad    , Cadena_Original    , Sello_Digital    , Dias_Pago       )
                    VALUES
                        ( @Doc_Factura , '00:00:01'          , @Doc_Anio_Aprob   , @Doc_Folio_Aprob,
                          @Doc_Sociedad, @Doc_Cadena_Original, @Doc_Sello_Digital, @Doc_Dias_Pago   ) ;
                END
                ELSE 
                BEGIN
                    UPDATE T3.RF_Complemento SET Hora_Factura = '00:00:01'
                    WHERE Factura = @Doc_Factura ;         
                END;
            END;

            FETCH NEXT FROM ScrPresales INTO 
                @Doc_ReleaseDoc, @Doc_Factura, @Doc_Fecha_Factura, @Doc_RFC, @Doc_Fecha_Proc_BATMD, @Doc_Fecha_Cancelacion,
                @Doc_Entrega, @Doc_Ent_Fecha_Trn, @Doc_Status_Entrega, @Doc_Ubicacion, @Doc_Rep_ID, @Doc_Fecha_Entrega,
                @Doc_Cliente_V3, @Doc_Cliente_SAP, @Doc_Ent_Proc_BATMD, @Doc_Complemento, @Doc_Hora_Factura, @Doc_Anio_Aprob,
                @Doc_Folio_Aprob, @Doc_Sociedad, @Doc_Cadena_Original, @Doc_Sello_Digital, @Doc_Dias_Pago_Old, @Doc_Dias_Pago;
        END;
        CLOSE ScrPresales;
        DEALLOCATE ScrPresales;

        PRINT 'Documents -> ' + CAST(@nCountDocument AS VARCHAR(10)) ;
        PRINT 'Release   -> ' + CAST(@nCountRelease AS VARCHAR(10)) ;

    END TRY
    BEGIN CATCH
        IF CURSOR_STATUS('local', 'ScrPresales') >= 0 BEGIN CLOSE ScrPresales; DEALLOCATE ScrPresales; END;
        
        THROW;
    END CATCH
END;
GO
