USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_T3_DQC_PRESALES]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[PROC_T3_DQC_PRESALES]  
( 
    @dtInvoiceDate      DATETIME = NULL, 
    @sType              VARCHAR(20) = 'BLOCK' 
) 
AS
BEGIN
    SET NOCOUNT ON;

    --verificar si me permite hacerlo directo
    IF @dtInvoiceDate IS NULL
    BEGIN
        SET @dtInvoiceDate = GETDATE();
    END;

    DECLARE @dtBlockingDate   DATETIME ;

    -- Variables cursor
    DECLARE @Doc_Factura              VARCHAR(50),
            @Doc_Fecha_Trn            DATETIME,
            @Doc_Fecha_Proc_BATMD     DATETIME,
            @Doc_Ent_Fecha_Trn        DATETIME,
            @Doc_Ent_Proc_BATMD       DATETIME;


    DECLARE ScrPresales CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT PG.Factura, 
               PG.Fecha_Trn, 
               PG.Fecha_Proc_BATMD, 
               Ent.Fecha_Trn AS Ent_Fecha_Trn, 
               Ent.Fecha_Proc_BATMD AS Ent_Proc_BATMD
          FROM T3.Preventa_General PG
          INNER JOIN T3.Entrega Ent ON PG.Factura = Ent.Factura
          WHERE PG.Fecha_Factura >= @dtInvoiceDate
            AND PG.Fecha_Cancelacion IS NULL ;


    BEGIN
        SET @dtBlockingDate = CONVERT(DATETIME, '29991201', 112) ;

        IF ( @sType = 'UNBLOCK' )
        BEGIN
            OPEN ScrPresales;
            FETCH NEXT FROM ScrPresales INTO 
                @Doc_Factura, @Doc_Fecha_Trn, @Doc_Fecha_Proc_BATMD, @Doc_Ent_Fecha_Trn, @Doc_Ent_Proc_BATMD;

            WHILE @@FETCH_STATUS = 0
            BEGIN
                UPDATE T3.Preventa_General 
                SET Fecha_Proc_BATMD = NULL
                WHERE Factura = @Doc_Factura AND Fecha_Proc_BATMD = @dtBlockingDate ;

                UPDATE T3.Entrega          
                SET Fecha_Proc_BATMD = NULL
                WHERE Factura = @Doc_Factura AND Fecha_Proc_BATMD = @dtBlockingDate ;            

                FETCH NEXT FROM ScrPresales INTO 
                    @Doc_Factura, @Doc_Fecha_Trn, @Doc_Fecha_Proc_BATMD, @Doc_Ent_Fecha_Trn, @Doc_Ent_Proc_BATMD;
            END;
            CLOSE ScrPresales;
        END
        ELSE
        BEGIN
            OPEN ScrPresales;
            FETCH NEXT FROM ScrPresales INTO 
                @Doc_Factura, @Doc_Fecha_Trn, @Doc_Fecha_Proc_BATMD, @Doc_Ent_Fecha_Trn, @Doc_Ent_Proc_BATMD;

            WHILE @@FETCH_STATUS = 0
            BEGIN
                UPDATE T3.Preventa_General 
                SET Fecha_Proc_BATMD = @dtBlockingDate
                WHERE Factura = @Doc_Factura AND Fecha_Proc_BATMD IS NULL ;

                UPDATE T3.Entrega          
                SET Fecha_Proc_BATMD = @dtBlockingDate
                WHERE Factura = @Doc_Factura AND Fecha_Proc_BATMD IS NULL ;            

                FETCH NEXT FROM ScrPresales INTO 
                    @Doc_Factura, @Doc_Fecha_Trn, @Doc_Fecha_Proc_BATMD, @Doc_Ent_Fecha_Trn, @Doc_Ent_Proc_BATMD;
            END;
            CLOSE ScrPresales;
        END;

        DEALLOCATE ScrPresales;
    END;
END;
GO
