USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_CFDI_LIBERA_PAGO_CHECK]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[PROC_CFDI_LIBERA_PAGO_CHECK] 
   ( @pReference  NUMERIC(18,0),
     @pRecords    NUMERIC(18,0) OUTPUT,
     @pUUIDs      NUMERIC(18,0) OUTPUT  )
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sMsg        VARCHAR(500) ;
    DECLARE @sFactura    VARCHAR(20)  ;
    DECLARE @nDoctos     NUMERIC(8,0) ;
    DECLARE @nContado    NUMERIC(8,0) ;
    DECLARE @sEtapa      VARCHAR(20)  ;
    DECLARE @dtInicio    DATETIME     ;
    DECLARE @strID       VARCHAR(50)  ;
    DECLARE @sAccnt_ID   VARCHAR(50)  ;
    DECLARE @sClienteSAP VARCHAR(10)  ;

    -- Variables cursor
    DECLARE @Doc_Asignacion_ID VARCHAR(MAX) ;
    DECLARE @Doc_UUID_Venta    VARCHAR(MAX) ;
    DECLARE @Doc_Fecha_Asignacion DATE      ;
    DECLARE @Doc_Fecha_Factura    DATE      ;
    DECLARE @Doc_Metodo_Pago      VARCHAR(50) ;

    DECLARE ScrCursor CURSOR LOCAL FOR
       SELECT  Agr.Asignacion_ID, Cobza.UUID_Venta, 
               CAST( Cobza.Fecha_Asignacion AS DATE ) AS Fecha_Asignacion, 
               CAST( Cobza.Fecha_Factura    AS DATE ) AS Fecha_Factura   ,
               CFD.Metodo_Pago                        AS Metodo_Pago
          FROM T3.CFDI_AGRUPACION_PAGO Agr
          INNER JOIN T3.CFDI_COBRANZA  Cobza ON Agr.Asignacion_ID = Cobza.Asignacion_ID 
          INNER JOIN T3.CFDI_Documentos CFD  ON Cobza.Nota_Venta  = CFD.Nota_Venta
          WHERE Agr.Agrupacion = @pReference ;

    BEGIN TRY
        SET @pRecords = 0 ;
        SET @pUUIDs   = 0 ;
        SET @nContado = 0 ;
        SET @strID    = CAST( @pReference AS VARCHAR(50) ) ;

        OPEN ScrCursor;
        FETCH NEXT FROM ScrCursor INTO @Doc_Asignacion_ID, @Doc_UUID_Venta, @Doc_Fecha_Asignacion, @Doc_Fecha_Factura, @Doc_Metodo_Pago;

        WHILE @@FETCH_STATUS = 0
        BEGIN
           SET @pRecords = @pRecords + 1 ;

           IF ( LEN( ISNULL( @Doc_UUID_Venta, 'NULL' ) ) > 20 ) 
           BEGIN
              SET @pUUIDs = @pUUIDs + 1 ;
           END 

           IF ( ( @Doc_Fecha_Asignacion = @Doc_Fecha_Factura ) AND ( @Doc_Metodo_Pago = 'PUE' ) ) 
           BEGIN
              SET @nContado = @nContado + 1 ;
           END 

           FETCH NEXT FROM ScrCursor INTO @Doc_Asignacion_ID, @Doc_UUID_Venta, @Doc_Fecha_Asignacion, @Doc_Fecha_Factura, @Doc_Metodo_Pago;
        END 
        CLOSE ScrCursor;
        DEALLOCATE ScrCursor;

        IF ( ( @pUUIDs > 0 ) AND ( @pUUIDs = @nContado ) ) 
        BEGIN
           SET @pUUIDs = -1 ;
           UPDATE T3.CFDI_AGRUPACION_CTRL SET Accnt_ID = 'Contado'
              WHERE Agrupacion = @pReference ;
        END 

    END TRY
    BEGIN CATCH
   
        IF CURSOR_STATUS('global','ScrCursor') >= -1 OR CURSOR_STATUS('local','ScrCursor') >= -1 
        BEGIN 
            CLOSE ScrCursor; DEALLOCATE ScrCursor; 
        END

        SET @sMsg = SUBSTRING( CAST(ERROR_NUMBER() AS VARCHAR) + '-' + ERROR_MESSAGE(), 1, 250 ) ;
        SET @sMsg = SUBSTRING( ERROR_MESSAGE(), 1, 250 ) ;

        PRINT REPLICATE( '-', 80 ) ;
        PRINT 'Problemas en la ejecucion del Procedimiento' ;
        PRINT 'FAVOR DE ESCALAR LOS SIGUIENTES DATOS :' ;
        PRINT 'Procedimiento : ' + 'PROC_CFDI_LIBERA_PAGO_CHECK' ;
        PRINT 'Fecha         : ' + FORMAT( GETDATE(), 'yyyyMMdd HH:mm:ss' ) ;
        PRINT 'Referencia    : ' + ISNULL(@strID, '') ;
        PRINT 'Error         : ' + ISNULL(@sMsg, '') ;
        PRINT REPLICATE( '-', 80 ) ;

        INSERT INTO T3.RF_ERROR_LOG 
           ( FECHA, RUTINA, REFERENCIA, ERROR_DESC )
        VALUES
           ( GETDATE(), 'PROC_CFDI_LIBERA_PAGO_CHECK', @strID, @sMsg ) ;
            
    END CATCH
END;
GO
