USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_CFDI_INSERTAR_IFC]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[PROC_CFDI_INSERTAR_IFC] 
   ( @pFactura VARCHAR(MAX) )
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sMsg               VARCHAR(500) ;
    DECLARE @sFactura           VARCHAR(20)  ;
    DECLARE @nDoctos            NUMERIC(6,0) ;
    DECLARE @sEtapa             VARCHAR(20)  ;
    DECLARE @sProcesar          VARCHAR(2)   ;
    DECLARE @dtFecha_Proc_BATMD DATETIME     ;
    DECLARE @strID              VARCHAR(50)  ;

    -- Variables cursores
    DECLARE @RF_Factura VARCHAR(50), @RF_Distribuidor VARCHAR(50), @RF_Pedido VARCHAR(50), 
            @RF_Fecha_Factura DATETIME, @RF_Tipo_Docto VARCHAR(50), @RF_Cliente_V3 VARCHAR(50), 
            @RF_Cliente_SAP VARCHAR(50), @RF_Status VARCHAR(50), @RF_Clte_Factura_V3 VARCHAR(50), 
            @RF_Clte_Factura_SAP VARCHAR(50), @RF_Fecha_Trn DATETIME, @RF_Valor_Subtotal NUMERIC(18,4), 
            @RF_Valor_Descto NUMERIC(18,4), @RF_Valor_IVA NUMERIC(18,4), @RF_Tipo_Venta VARCHAR(50), 
            @RF_Desglose_IVA VARCHAR(10), @RF_Referencia VARCHAR(50), @RF_Entrega VARCHAR(50), 
            @RF_Fecha_Pago DATETIME, @RF_Row_ID VARCHAR(50), @RF_Rep_ID VARCHAR(50), 
            @RF_Credito_Express VARCHAR(50), @RF_Valor_ISSA NUMERIC(18,4), @RF_Ctro VARCHAR(50), 
            @RF_Bonif_Subt NUMERIC(18,4), @RF_Bonif_IVA NUMERIC(18,4), @RF_Bonif_Porc NUMERIC(18,4), 
            @RF_Bonif_Vol NUMERIC(18,4), @RF_Fecha_Proc_BATMD DATETIME;

    DECLARE @RFD_Factura VARCHAR(50), @RFD_Num_Linea INT, @RFD_Material VARCHAR(50), 
            @RFD_Cantidad_Vta NUMERIC(18,4), @RFD_Unidad_Med_Vta VARCHAR(50), @RFD_Precio_Unit NUMERIC(18,4), 
            @RFD_Valor_Subt NUMERIC(18,4), @RFD_Valor_Tot NUMERIC(18,4), @RFD_Valor_Desc NUMERIC(18,4), 
            @RFD_Valor_IVA NUMERIC(18,4), @RFD_Bonif_Subt NUMERIC(18,4), @RFD_Bonif_IVA NUMERIC(18,4), 
            @RFD_Bonif_Porc NUMERIC(18,4), @RFD_Bonif_Vol NUMERIC(18,4), @RFD_Referencia_Pedido VARCHAR(50);

    DECLARE @ScrPed_Factura VARCHAR(50), @ScrPed_Entrega VARCHAR(50), @ScrPed_Material VARCHAR(50);

    DECLARE ScrHeader CURSOR LOCAL FOR
        SELECT 
               PG.Factura                                  AS Factura          ,
               EAI.CONV_PLANT_TO_DIST( PG.Ctro )           AS Distribuidor     ,
               PG.Pedido                                   AS Pedido           ,
               PG.Fecha_Factura                            AS Fecha_Factura    ,
               PG.Clase_Factura                            AS Tipo_Docto       ,
               C.Cliente_V3                                AS Cliente_V3       ,
               C.Cliente_SAP                               AS Cliente_SAP      ,
               CASE WHEN PG.Fecha_Cancelacion IS NULL 
                    THEN 'Processed' 
                    ELSE 'Cancelled' 
               END                                         AS Status           , 
               C.Cliente_SAP                               AS Clte_Factura_V3  ,
               C.Cliente_SAP                               AS Clte_Factura_SAP ,
               PG.Fecha_Trn                                AS Fecha_Trn        ,
               PG.Valor_Subt                               AS Valor_Subtotal   ,
               NULL                                        AS Valor_Descto     ,
               PG.Valor_IVA                                AS Valor_IVA        ,
               'PR'                                        AS Tipo_Venta       ,
               'S'                                         AS Desglose_IVA     ,
               PG.Referencia                               AS Referencia       ,
               PG.Entrega                                  AS Entrega          ,
               NULL                                        AS Fecha_Pago       ,
               NULL                                        AS Row_ID           ,
               NULL                                        AS Rep_ID           ,
               NULL                                        AS Credito_Express  ,
               0                                           AS Valor_ISSA       ,
               PG.Ctro                                     AS Ctro             ,
               ISNULL( PG.Bonif_Subt, 0 )                  AS Bonif_Subt       , 
               ISNULL( PG.Bonif_IVA , 0 )                  AS Bonif_IVA        , 
               ISNULL( PG.Bonif_Porc, 0 )                  AS Bonif_Porc       , 
               ISNULL( PG.Bonif_Vol , 0 )                  AS Bonif_Vol        ,
               PG.Fecha_Proc_BATMD                         AS Fecha_Proc_BATMD
        FROM T3.Preventa_General PG
        INNER JOIN T3.Cliente C ON PG.Cliente_SAP = C.Cliente_SAP 
                               AND PG.Fecha_Factura BETWEEN C.Fecha_Ini_Vig AND C.Fecha_Fin_Vig
        WHERE PG.Factura = @pFactura;

    DECLARE ScrDetalle CURSOR LOCAL FOR
        SELECT 
               PD.Factura        , PD.Num_Linea   , PD.Material    , PD.Cantidad_Vta   ,
               CASE PG.Clase_Factura 
                    WHEN 'Z019' THEN 'UA' 
                    WHEN 'C019' THEN 'UA' 
                    WHEN 'Z0FX' THEN 'UA' 
                    WHEN 'C0FX' THEN 'UA' 
                    WHEN 'Z024' THEN 'DTO'
                    WHEN 'C024' THEN 'DTO'
                    WHEN 'Z022' THEN 'DTO'
                    WHEN 'C022' THEN 'DTO' 
                    WHEN 'Z020' THEN CASE PD.Unidad_Med_Vta WHEN 'PK' THEN 'PAQ' WHEN 'CS' THEN 'CXT' ELSE ISNULL( SKU.Unidad_Med_Vta, PD.Unidad_Med_Vta ) END
                    WHEN 'C020' THEN CASE PD.Unidad_Med_Vta WHEN 'PK' THEN 'PAQ' WHEN 'CS' THEN 'CXT' ELSE ISNULL( SKU.Unidad_Med_Vta, PD.Unidad_Med_Vta ) END
                    WHEN 'Z021' THEN CASE PD.Unidad_Med_Vta WHEN 'PK' THEN 'PAQ' WHEN 'CS' THEN 'CXT' ELSE ISNULL( SKU.Unidad_Med_Vta, PD.Unidad_Med_Vta ) END
                    WHEN 'C021' THEN CASE PD.Unidad_Med_Vta WHEN 'PK' THEN 'PAQ' WHEN 'CS' THEN 'CXT' ELSE ISNULL( SKU.Unidad_Med_Vta, PD.Unidad_Med_Vta ) END
                    ELSE ISNULL( SKU.Unidad_Med_Vta, PD.Unidad_Med_Vta )
               END AS Unidad_Med_Vta ,
               ROUND( PD.Valor_Subt / 
                      CASE ISNULL( PD.Cantidad_Vta, 0) 
                         WHEN 0 THEN CAST(PD.Referencia_Pedido AS NUMERIC(18,4)) 
                         ELSE PD.Cantidad_Vta 
                      END, 2 ) AS Precio_Unit ,                                                                           
               ISNULL( PD.Valor_Subt, 0 )                                     AS Valor_Subt      ,
               ISNULL( PD.Valor_Subt, 0 ) + ISNULL( PD.Valor_IVA, 0 )         AS Valor_Tot       ,
               NULL                                                           AS Valor_Desc      ,
               ISNULL( PD.Valor_IVA , 0 )                                     AS Valor_IVA       ,
               ISNULL( PD.Bonif_Subt, 0 )                                     AS Bonif_Subt      , 
               ISNULL( PD.Bonif_IVA , 0 )                                     AS Bonif_IVA       , 
               ISNULL( PD.Bonif_Porc, 0 )                                     AS Bonif_Porc      , 
               ISNULL( PD.Bonif_Vol , 0 )                                     AS Bonif_Vol       ,
               PD.Referencia_Pedido                                           AS Referencia_Pedido
        FROM T3.Preventa_General   PG
        INNER JOIN T3.Preventa_Detalle PD ON PG.Factura = PD.Factura
        LEFT OUTER JOIN T3.Material SKU   ON PD.Material = SKU.Material
        WHERE PG.Factura = @pFactura ;

    DECLARE ScrPedimento CURSOR LOCAL FOR
        SELECT PG.Factura, PG.Entrega, PD.Material
        FROM T3.Preventa_General PG
        INNER JOIN T3.Preventa_Detalle PD ON PG.Factura = PD.Factura 
        INNER JOIN T3.RF_Pedimento_SKU SKU ON PD.Material = SKU.Material
        WHERE PG.Factura  = @strID
          AND SKU.Pedimento = 'SI' ; 

    BEGIN TRY
        SET @strID     = @pFactura ;
        SET @sProcesar = 'NO' ;
        
        OPEN ScrHeader;
        FETCH NEXT FROM ScrHeader INTO 
            @RF_Factura, @RF_Distribuidor, @RF_Pedido, @RF_Fecha_Factura, @RF_Tipo_Docto, @RF_Cliente_V3, @RF_Cliente_SAP, 
            @RF_Status, @RF_Clte_Factura_V3, @RF_Clte_Factura_SAP, @RF_Fecha_Trn, @RF_Valor_Subtotal, @RF_Valor_Descto, 
            @RF_Valor_IVA, @RF_Tipo_Venta, @RF_Desglose_IVA, @RF_Referencia, @RF_Entrega, @RF_Fecha_Pago, @RF_Row_ID, 
            @RF_Rep_ID, @RF_Credito_Express, @RF_Valor_ISSA, @RF_Ctro, @RF_Bonif_Subt, @RF_Bonif_IVA, @RF_Bonif_Porc, 
            @RF_Bonif_Vol, @RF_Fecha_Proc_BATMD;

        WHILE @@FETCH_STATUS = 0
        BEGIN
           SET @strID   = @RF_Factura  ;
           SET @nDoctos = @nDoctos + 1 ;
           SET @dtFecha_Proc_BATMD = @RF_Fecha_Proc_BATMD ;
           
           IF ( @dtFecha_Proc_BATMD IS NULL ) 
           BEGIN
              SET @sProcesar = 'SI' ;         
           END
           ELSE   
           BEGIN
              IF ( FORMAT( @dtFecha_Proc_BATMD, 'yyyy' ) = '2999' ) -- Bloqueo por Proceso de T3
              BEGIN
                 SET @sProcesar = 'SI' ;         
              END 
           END 

           IF ( @sProcesar = 'SI' ) 
           BEGIN
              INSERT INTO T3.Registro_Fiscal
                  ( Factura            , Distribuidor       , Pedido              , Fecha_Factura      , Tipo_Docto      , Cliente_V3    , Cliente_SAP    , 
                    Status             , Clte_Factura_V3    , Clte_Factura_SAP    , Fecha_Trn          , Fecha_Documento ,
                    Valor_Subtotal     , Valor_Descto       , Valor_IVA           , Tipo_Venta         , Desglose_IVA    , Referencia    , Entrega        , 
                    Fecha_Pago         , Row_ID             , Rep_ID              , Credito_Express    , Valor_ISSA      , Ctro          ,
                    Bonif_Subt         , Bonif_IVA          , Bonif_Porc          , Bonif_Vol                                                              )
              VALUES     
                  ( @RF_Factura        , @RF_Distribuidor   , @RF_Pedido          , @RF_Fecha_Factura  , @RF_Tipo_Docto  , @RF_Cliente_V3 , @RF_Cliente_SAP , 
                    @RF_Status         , @RF_Clte_Factura_V3, @RF_Clte_Factura_SAP, @RF_Fecha_Trn      , @RF_Fecha_Factura,
                    @RF_Valor_Subtotal , @RF_Valor_Descto   , @RF_Valor_IVA       , @RF_Tipo_Venta     , @RF_Desglose_IVA, @RF_Referencia , @RF_Entrega     , 
                    @RF_Fecha_Pago     , @RF_Row_ID         , @RF_Rep_ID          , @RF_Credito_Express, @RF_Valor_ISSA  , @RF_Ctro      ,
                    @RF_Bonif_Subt     , @RF_Bonif_IVA      , @RF_Bonif_Porc      , @RF_Bonif_Vol                                                              ) ;
           END 

           IF ( @RF_Tipo_Docto = 'Z020' ) 
           BEGIN
              OPEN ScrPedimento; 
              FETCH NEXT FROM ScrPedimento INTO @ScrPed_Factura, @ScrPed_Entrega, @ScrPed_Material;
              WHILE @@FETCH_STATUS = 0
              BEGIN
                 INSERT INTO T3.RF_Pedimento_Detalle
                    ( Factura_SAP, Folio_Fiscal, SKU, ID, Fecha_Creacion )
                 VALUES
                    ( @ScrPed_Entrega, @ScrPed_Factura, @ScrPed_Material, NEXT VALUE FOR T3.PEDIMENTO_ID, GETDATE() ) ;

                 FETCH NEXT FROM ScrPedimento INTO @ScrPed_Factura, @ScrPed_Entrega, @ScrPed_Material;
              END 
              CLOSE ScrPedimento;
           END 

           FETCH NEXT FROM ScrHeader INTO 
               @RF_Factura, @RF_Distribuidor, @RF_Pedido, @RF_Fecha_Factura, @RF_Tipo_Docto, @RF_Cliente_V3, @RF_Cliente_SAP, 
               @RF_Status, @RF_Clte_Factura_V3, @RF_Clte_Factura_SAP, @RF_Fecha_Trn, @RF_Valor_Subtotal, @RF_Valor_Descto, 
               @RF_Valor_IVA, @RF_Tipo_Venta, @RF_Desglose_IVA, @RF_Referencia, @RF_Entrega, @RF_Fecha_Pago, @RF_Row_ID, 
               @RF_Rep_ID, @RF_Credito_Express, @RF_Valor_ISSA, @RF_Ctro, @RF_Bonif_Subt, @RF_Bonif_IVA, @RF_Bonif_Porc, 
               @RF_Bonif_Vol, @RF_Fecha_Proc_BATMD;
        END 
        CLOSE ScrHeader;

        IF ( @sProcesar = 'SI' ) 
        BEGIN
           OPEN ScrDetalle;
           FETCH NEXT FROM ScrDetalle INTO 
               @RFD_Factura, @RFD_Num_Linea, @RFD_Material, @RFD_Cantidad_Vta, @RFD_Unidad_Med_Vta, 
               @RFD_Precio_Unit, @RFD_Valor_Subt, @RFD_Valor_Tot, @RFD_Valor_Desc, @RFD_Valor_IVA, 
               @RFD_Bonif_Subt, @RFD_Bonif_IVA, @RFD_Bonif_Porc, @RFD_Bonif_Vol, @RFD_Referencia_Pedido;

           WHILE @@FETCH_STATUS = 0
           BEGIN
              SET @nDoctos = @nDoctos + 1 ;
              INSERT INTO T3.Registro_Fiscal_Detalle
                  ( Factura         , Num_Linea      , Material       , Cantidad_Vta     , Unidad_Med_Vta     , 
                    Precio_Unit     , Valor_Subt     , Valor_Tot      , Valor_Desc       , Valor_IVA          ,
                    Bonif_Subt      , Bonif_IVA      , Bonif_Porc     , Bonif_Vol        , Referencia_Pedido   )
              VALUES     
                  ( @RFD_Factura    , @RFD_Num_Linea , @RFD_Material  , @RFD_Cantidad_Vta, @RFD_Unidad_Med_Vta, 
                    @RFD_Precio_Unit, @RFD_Valor_Subt, @RFD_Valor_Tot , @RFD_Valor_Desc  , @RFD_Valor_IVA     ,
                    @RFD_Bonif_Subt , @RFD_Bonif_IVA , @RFD_Bonif_Porc, @RFD_Bonif_Vol   , @RFD_Referencia_Pedido ) ;

              FETCH NEXT FROM ScrDetalle INTO 
                  @RFD_Factura, @RFD_Num_Linea, @RFD_Material, @RFD_Cantidad_Vta, @RFD_Unidad_Med_Vta, 
                  @RFD_Precio_Unit, @RFD_Valor_Subt, @RFD_Valor_Tot, @RFD_Valor_Desc, @RFD_Valor_IVA, 
                  @RFD_Bonif_Subt, @RFD_Bonif_IVA, @RFD_Bonif_Porc, @RFD_Bonif_Vol, @RFD_Referencia_Pedido;
           END 
           CLOSE ScrDetalle;

           SET @dtFecha_Proc_BATMD = DATEADD(second, -1, CAST(CAST(DATEADD(day, 1, GETDATE()) AS DATE) AS DATETIME)) ;

           UPDATE T3.Preventa_General SET Fecha_Proc_BATMD = @dtFecha_Proc_BATMD, Fecha_Entrega = GETDATE() 
              WHERE Factura = @pFactura ;
        END 

        DEALLOCATE ScrHeader;
        DEALLOCATE ScrDetalle;
        DEALLOCATE ScrPedimento;

    END TRY
    BEGIN CATCH
        IF CURSOR_STATUS('global','ScrHeader') >= -1 OR CURSOR_STATUS('local','ScrHeader') >= -1 BEGIN CLOSE ScrHeader; DEALLOCATE ScrHeader; END
        IF CURSOR_STATUS('global','ScrDetalle') >= -1 OR CURSOR_STATUS('local','ScrDetalle') >= -1 BEGIN CLOSE ScrDetalle; DEALLOCATE ScrDetalle; END
        IF CURSOR_STATUS('global','ScrPedimento') >= -1 OR CURSOR_STATUS('local','ScrPedimento') >= -1 BEGIN CLOSE ScrPedimento; DEALLOCATE ScrPedimento; END

        SET @sMsg = SUBSTRING( CAST(ERROR_NUMBER() AS VARCHAR) + '-' + ERROR_MESSAGE(), 1, 250 ) ;
        SET @sMsg = SUBSTRING( ERROR_MESSAGE(), 1, 250 ) ;

        PRINT REPLICATE( '-', 80 ) ;
        PRINT 'Problemas en la ejecucion del Procedimiento' ;
        PRINT 'FAVOR DE ESCALAR LOS SIGUIENTES DATOS :' ;
        PRINT 'Procedimiento : ' + 'PROC_CFDI_INSERTAR_IFC' ;
        PRINT 'Fecha         : ' + FORMAT( GETDATE(), 'yyyyMMdd HH:mm:ss' ) ;
        PRINT 'Referencia    : ' + ISNULL(@strID, '') ;
        PRINT 'Error         : ' + ISNULL(@sMsg, '') ;
        PRINT REPLICATE( '-', 80 ) ;

        INSERT INTO T3.RF_ERROR_LOG 
           ( FECHA, RUTINA, REFERENCIA, ERROR_DESC )
        VALUES
           ( GETDATE(), 'PROC_CFDI_INSERTAR_IFC', @strID, @sMsg ) ;

    END CATCH
END;
GO
