USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_T3_EOD_NOTDELV]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[PROC_T3_EOD_NOTDELV]  
( 
    @nPID INT = 0 
) 
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @v_ID        VARCHAR(50) ;
    DECLARE @sErrorCode  VARCHAR(30) ;      
    DECLARE @sMsg        VARCHAR(300) ;

    -- Variables cursores
    DECLARE @I_Factura            VARCHAR(50),
            @I_Entrega            VARCHAR(50),
            @I_Fecha_Factura      DATETIME,
            @I_Fecha_Proc_BATMD   DATETIME,
            @I_Anulada            VARCHAR(5),
            @I_Fecha_Cancelacion  DATETIME,
            @I_Inv_Doc_Num        VARCHAR(50),
            @I_Inv_Factura_SAP    VARCHAR(50),
            @I_ZLOB_Reference     VARCHAR(50);
    DECLARE @Z_Factura                VARCHAR(50),
            @Z_Entrega                VARCHAR(50),
            @Z_Fecha_Factura          DATETIME,
            @Z_Fecha_Proc_BATMD       DATETIME,
            @Z_Anulada                VARCHAR(5),
            @Z_Fecha_Cancelacion      DATETIME,
            @Z_Inv_Doc_Num            VARCHAR(50),
            @Z_Inv_Factura_SAP        VARCHAR(50),
            @Z_ZLOB_Reference         VARCHAR(50),
            @Z_Inv_Fecha_Cancelacion  DATETIME,
            @Z_Inv_Fecha_Factura      DATETIME,
            @Z_Inv_Fecha_Proc_BATMD   DATETIME;
    DECLARE @IC_Factura           VARCHAR(50),
            @IC_Entrega           VARCHAR(50),
            @IC_Fecha_Factura     DATETIME,
            @IC_Fecha_Proc_BATMD  DATETIME,
            @IC_Anulada           VARCHAR(5),
            @IC_Fecha_Cancelacion DATETIME,
            @IC_Inv_Doc_Num       VARCHAR(50),
            @IC_Inv_Factura_SAP   VARCHAR(50),
            @IC_ZLOB_Reference    VARCHAR(50),
            @IC_MetodoPago        VARCHAR(50);

    DECLARE ScrInvoice CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT PG.Factura, PG.Entrega, PG.Fecha_Factura, PG.Fecha_Proc_BATMD, PG.Anulada, PG.Fecha_Cancelacion, 
               ZLOB.Inv_Doc_Num, ZLOB.Inv_Factura_SAP, ZLOB.ZLOB_Reference
        FROM T3.Preventa_General PG
        INNER JOIN (
            SELECT
                   REPLACE( Inv.Row_Name                      , '"', '' ) AS Inv_ID             ,
                   REPLACE( Inv.Mobile_Invoice_Number__c      , '"', '' ) AS Inv_Doc_Num        ,
                   REPLACE( Inv.SAP_Invoice_Number__c         , '"', '' ) AS Inv_Factura_SAP    ,
                   REPLACE( Inv.ivydsd__Order__r_Name          , '"', '' ) AS Inv_Order_ID       ,
                   REPLACE( Inv.ivydsd__Invoice_Date__c       , '"', '' ) AS Inv_Fecha          ,
                   REPLACE( Inv.ivyBAT__SAP_CustomerID__c     , '"', '' ) AS Inv_Cliente        ,
                   REPLACE( Inv.ivydsd__Invoice_Status__c     , '"', '' ) AS Inv_Status         ,
                   REPLACE( Inv.Delivery_Status__c            , '"', '' ) AS Inv_Delivery_Status,
                   CASE WHEN Inv.Delivery_Status__c = '"Unsuccessful"' THEN
                     'L' + REPLACE( SUBSTRING( REPLACE( Inv.Row_Name, '"', ''), 7, 20), '-', '' )
                   ELSE '' END                                            AS ZLOB_Reference     
               FROM EAI_Owner.WO_TMP_INVOICE Inv
               WHERE Inv.Row_Name        != '"NAME"'
                 AND Inv.Delivery_Status__c  = '"Unsuccessful"'
        ) ZLOB ON PG.Entrega = ZLOB.Inv_Factura_SAP
        WHERE PG.Clase_Factura     = 'C005'
          AND PG.Fecha_Proc_BATMD IS NULL ;

    DECLARE ScrZLOB CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT PG.Factura, PG.Entrega, PG.Fecha_Factura, PG.Fecha_Proc_BATMD, PG.Anulada, PG.Fecha_Cancelacion, 
               ZLOB.Inv_Doc_Num, ZLOB.Inv_Factura_SAP, ZLOB.ZLOB_Reference,
               Inv.Fecha_Cancelacion     AS Inv_Fecha_Cancelacion,
               Inv.Fecha_Factura         AS Inv_Fecha_Factura    ,
               Inv.Fecha_Proc_BATMD      AS Inv_Fecha_Proc_BATMD
        FROM T3.Preventa_General PG
		 INNER JOIN (
            SELECT
                   REPLACE( Inv.Row_Name                      , '"', '' ) AS Inv_ID             ,
                   REPLACE( Inv.Mobile_Invoice_Number__c      , '"', '' ) AS Inv_Doc_Num        ,
                   REPLACE( Inv.SAP_Invoice_Number__c         , '"', '' ) AS Inv_Factura_SAP    ,
                   REPLACE( Inv.ivydsd__Order__r_Name          , '"', '' ) AS Inv_Order_ID       ,
                   REPLACE( Inv.ivydsd__Invoice_Date__c       , '"', '' ) AS Inv_Fecha          ,
                   REPLACE( Inv.ivyBAT__SAP_CustomerID__c     , '"', '' ) AS Inv_Cliente        ,
                   REPLACE( Inv.ivydsd__Invoice_Status__c     , '"', '' ) AS Inv_Status         ,
                   REPLACE( Inv.Delivery_Status__c            , '"', '' ) AS Inv_Delivery_Status,
                   CASE WHEN Inv.Delivery_Status__c = '"Unsuccessful"' THEN
                     'L' + REPLACE( SUBSTRING( REPLACE( Inv.Row_Name, '"', ''), 7, 20), '-', '' )
                   ELSE '' END                                            AS ZLOB_Reference     
               FROM EAI_Owner.WO_TMP_INVOICE Inv
               WHERE Inv.Row_Name        != '"NAME"'
                 AND Inv.Delivery_Status__c  = '"Unsuccessful"'
        ) ZLOB ON PG.Factura = ZLOB.ZLOB_Reference
        INNER JOIN T3.Preventa_General Inv ON ZLOB.Inv_Doc_Num = Inv.Factura
       
        WHERE PG.Clase_Factura     = 'C006'
          AND PG.Fecha_Proc_BATMD IS NULL ;

    DECLARE ScrInvoiceCancProc CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT PG.Factura, PG.Entrega, PG.Fecha_Factura, PG.Fecha_Proc_BATMD, PG.Anulada, PG.Fecha_Cancelacion, 
               ZLOB.Inv_Doc_Num, ZLOB.Inv_Factura_SAP, ZLOB.ZLOB_Reference, Doc.MetodoPago
        FROM T3.Preventa_General PG
        INNER JOIN (
            SELECT
                   REPLACE( Inv.Row_Name                      , '"', '' ) AS Inv_ID             ,
                   REPLACE( Inv.Mobile_Invoice_Number__c      , '"', '' ) AS Inv_Doc_Num        ,
                   REPLACE( Inv.SAP_Invoice_Number__c         , '"', '' ) AS Inv_Factura_SAP    ,
                   REPLACE( Inv.ivydsd__Order__r_Name          , '"', '' ) AS Inv_Order_ID       ,
                   REPLACE( Inv.ivydsd__Invoice_Date__c       , '"', '' ) AS Inv_Fecha          ,
                   REPLACE( Inv.ivyBAT__SAP_CustomerID__c     , '"', '' ) AS Inv_Cliente        ,
                   REPLACE( Inv.ivydsd__Invoice_Status__c     , '"', '' ) AS Inv_Status         ,
                   REPLACE( Inv.Delivery_Status__c            , '"', '' ) AS Inv_Delivery_Status,
                   CASE WHEN Inv.Delivery_Status__c = '"Unsuccessful"' THEN
                     'L' + REPLACE( SUBSTRING( REPLACE( Inv.Row_Name, '"', ''), 7, 20), '-', '' )
                   ELSE '' END                                            AS ZLOB_Reference     
               FROM EAI_Owner.WO_TMP_INVOICE Inv
               WHERE Inv.Row_Name        != '"NAME"'
                 AND Inv.Delivery_Status__c  = '"Unsuccessful"'
        ) ZLOB ON PG.Entrega = ZLOB.Inv_Factura_SAP
        INNER JOIN EAI_Owner.tmp_Document_Header Doc ON PG.Entrega = Doc.ReferenceID
        WHERE PG.Clase_Factura     = 'C005'
          AND Doc.MetodoPago      IS NULL ;            

    BEGIN TRY

        SET @v_ID = 'Invoice' ;
        OPEN ScrInvoice;
        FETCH NEXT FROM ScrInvoice INTO @I_Factura, @I_Entrega, @I_Fecha_Factura, @I_Fecha_Proc_BATMD, @I_Anulada, @I_Fecha_Cancelacion, @I_Inv_Doc_Num, @I_Inv_Factura_SAP, @I_ZLOB_Reference;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            UPDATE T3.Preventa_General SET Anulada = 'Y', Fecha_Cancelacion = GETDATE() 
            WHERE Factura = @I_Factura ;

            UPDATE EAI_Owner.tmp_Document_Header SET MetodoPago = @I_ZLOB_Reference 
            WHERE ReferenceID = @I_Entrega ;         

            FETCH NEXT FROM ScrInvoice INTO @I_Factura, @I_Entrega, @I_Fecha_Factura, @I_Fecha_Proc_BATMD, @I_Anulada, @I_Fecha_Cancelacion, @I_Inv_Doc_Num, @I_Inv_Factura_SAP, @I_ZLOB_Reference;
        END;
        CLOSE ScrInvoice;
        DEALLOCATE ScrInvoice;   

        SET @v_ID = 'ZLOB' ;
        OPEN ScrZLOB;
        FETCH NEXT FROM ScrZLOB INTO @Z_Factura, @Z_Entrega, @Z_Fecha_Factura, @Z_Fecha_Proc_BATMD, @Z_Anulada, @Z_Fecha_Cancelacion, @Z_Inv_Doc_Num, @Z_Inv_Factura_SAP, @Z_ZLOB_Reference, @Z_Inv_Fecha_Cancelacion, @Z_Inv_Fecha_Factura, @Z_Inv_Fecha_Proc_BATMD;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            UPDATE EAI_Owner.tmp_Document_Header SET MetodoPago = @Z_Inv_Doc_Num 
            WHERE ReferenceID = @Z_Entrega ;    

            IF ( @Z_Inv_Fecha_Cancelacion IS NOT NULL ) 
            BEGIN
                UPDATE T3.Preventa_General SET Anulada = 'Y', Fecha_Cancelacion = GETDATE() 
                WHERE Factura = @Z_Factura ;     
            END;

            FETCH NEXT FROM ScrZLOB INTO @Z_Factura, @Z_Entrega, @Z_Fecha_Factura, @Z_Fecha_Proc_BATMD, @Z_Anulada, @Z_Fecha_Cancelacion, @Z_Inv_Doc_Num, @Z_Inv_Factura_SAP, @Z_ZLOB_Reference, @Z_Inv_Fecha_Cancelacion, @Z_Inv_Fecha_Factura, @Z_Inv_Fecha_Proc_BATMD;
        END;
        CLOSE ScrZLOB;
        DEALLOCATE ScrZLOB;   

        SET @v_ID = 'WA' ;
        OPEN ScrInvoiceCancProc;
        FETCH NEXT FROM ScrInvoiceCancProc INTO @IC_Factura, @IC_Entrega, @IC_Fecha_Factura, @IC_Fecha_Proc_BATMD, @IC_Anulada, @IC_Fecha_Cancelacion, @IC_Inv_Doc_Num, @IC_Inv_Factura_SAP, @IC_ZLOB_Reference, @IC_MetodoPago;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            UPDATE EAI_Owner.tmp_Document_Header SET MetodoPago = @IC_ZLOB_Reference 
            WHERE ReferenceID = @IC_Entrega ;         

            FETCH NEXT FROM ScrInvoiceCancProc INTO @IC_Factura, @IC_Entrega, @IC_Fecha_Factura, @IC_Fecha_Proc_BATMD, @IC_Anulada, @IC_Fecha_Cancelacion, @IC_Inv_Doc_Num, @IC_Inv_Factura_SAP, @IC_ZLOB_Reference, @IC_MetodoPago;
        END;
        CLOSE ScrInvoiceCancProc;
        DEALLOCATE ScrInvoiceCancProc;

    END TRY
    BEGIN CATCH

        IF CURSOR_STATUS('local', 'ScrInvoice') >= 0 BEGIN CLOSE ScrInvoice; DEALLOCATE ScrInvoice; END;
        IF CURSOR_STATUS('local', 'ScrZLOB') >= 0 BEGIN CLOSE ScrZLOB; DEALLOCATE ScrZLOB; END;
        IF CURSOR_STATUS('local', 'ScrInvoiceCancProc') >= 0 BEGIN CLOSE ScrInvoiceCancProc; DEALLOCATE ScrInvoiceCancProc; END;

        SET @sErrorCode = 'SQL-' + CAST(ERROR_NUMBER() AS VARCHAR(10)) ;
        SET @sMsg = SUBSTRING(CAST(ERROR_NUMBER() AS VARCHAR(10)) + '-' + ERROR_MESSAGE(), 1, 250) ;      
        
        INSERT INTO EAI_OWNER.MX_EAI_MESSAGE_LOG
          ( DIRECTION          , REFERENCE             , CREATED             , MESSAGE        , JOB_PID,
            STATUS             , QUEUE_NAME            , SIEBEL_ERROR_MESSAGE, SOURCE         , 
            SIEBEL_ERROR_CODE  , RETRY_COUNT           , SEQUENCE            , PARENT_ROW_ID   )
        VALUES 
          ( 'Job Logging'      , @v_ID                  , GETDATE()            , NULL           , @nPID   ,
            'Error'            , 'PROC_T3_EOD_NOTDELV', @sMsg               , 'TSQL'        ,
            @sErrorCode        , NULL                  , NULL                , NULL            ) ;
     
    END CATCH
END;
GO
