USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_T3_EOD]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[PROC_T3_EOD]  
( 
    @sExecAddenda VARCHAR(10) = 'YES' 
) 
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @v_ID              VARCHAR(50) ;
    DECLARE @sErrorCode        VARCHAR(30) ;      
    DECLARE @sMsg              VARCHAR(300) ;
    DECLARE @nPID              INT ;
    DECLARE @nProceso          INT ;             
    DECLARE @nJobIntercompany  INT ;
    DECLARE @nJobDelivery      INT ;
    DECLARE @nJobCustomer      INT ;
    DECLARE @dtNextRun         DATETIME ;
    DECLARE @nAgrupacion       INT ;

    -- Variables cursores
    DECLARE @Scr_Inicio        DATETIME,
            @Scr_Fin           DATETIME;
    DECLARE @Dev_Factura       VARCHAR(50),
            @Dev_Ctro          VARCHAR(10),
            @Dev_Fecha_Factura DATETIME;
    DECLARE @Doc_Factura            VARCHAR(50),
            @Doc_Fecha_Factura      DATETIME,
            @Doc_Fecha_Proc_BATMD   DATETIME,
            @Doc_Clase_Factura      VARCHAR(10),
            @Doc_Fecha_Trn          DATETIME,
            @Doc_ReferenceID        VARCHAR(50),
            @Doc_Created            DATETIME;
    DECLARE @TSErr_Factura           VARCHAR(50),
            @TSErr_Ctro              VARCHAR(10),
            @TSErr_Fecha_Factura_T3  DATETIME,
            @TSErr_RFC_Cliente       VARCHAR(20);

    DECLARE ScrAgrupacion CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT Inicio, Fin
           FROM T3.RF_Procesos_Log
           WHERE Proceso = '602'
             AND Inicio  > CONVERT(DATETIME, CONVERT(VARCHAR(8), GETDATE(), 112) + ' 01:00:00', 120) ;

    DECLARE ScrCredit_Generic CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT FG.Factura, FG.Ctro, FG.Fecha_Factura
           FROM T3.Preventa_General FG, T3.Cliente Cte
           WHERE FG.Fecha_Trn          > GETDATE() - 4
             AND FG.Fecha_Proc_BATMD  IS NOT NULL
             AND FG.Fecha_Proc_BATMD   < GETDATE()
             AND FG.Clase_Factura     IN ( 'C006', 'C025' )
             AND FG.Fecha_Cancelacion IS NULL
             AND FG.Cliente_SAP        = Cte.Cliente_SAP
             AND FG.Fecha_Factura     BETWEEN Cte.Fecha_Ini_Vig AND Cte.Fecha_Fin_Vig
             AND Cte.RFC               = 'XAXX010101000'
             AND FG.Factura NOT IN ( SELECT HDP.Nota_Venta FROM T3.CFDI_Historia_Docto_PAC HDP WHERE HDP.Nota_Venta = FG.Factura )
             AND FG.Factura NOT IN ( SELECT CFD.Nota_Venta FROM T3.CFDI_Documentos CFD WHERE CFD.Nota_Venta = FG.Factura ) ;            

    DECLARE ScrEntregas_Facturas CURSOR LOCAL FORWARD_ONLY STATIC FOR
         SELECT PG.Factura, PG.Fecha_Factura, PG.Fecha_Proc_BATMD, PG.Clase_Factura, PG.Fecha_Trn, 
                Ent.ReferenceID, Ent.Created
            FROM T3.Preventa_General PG,
                 (
                   SELECT ReferenceID, DeliveryType, Order_Num, Created 
                      FROM EAI_Owner.tmp_Document_Header
                      WHERE Created    > GETDATE() - 7
                        AND Order_Num IS NOT NULL
                  ) Ent
            WHERE PG.Fecha_Trn       > GETDATE() - 7
              AND PG.Clase_Factura  IN ( 'C005', 'C006' )
              AND PG.Fecha_Factura   < CONVERT(DATETIME, CONVERT(DATE, GETDATE()))
              AND PG.Fecha_Cancelacion IS NULL
              AND PG.Factura       NOT IN ( SELECT Entr.Factura FROM T3.Entrega Entr WHERE Entr.Factura = PG.Factura )
              AND PG.Factura         = Ent.Order_Num  ;             

    DECLARE ScrTransactionSeq CURSOR LOCAL FORWARD_ONLY STATIC FOR             
          SELECT Factura, Ctro, Fecha_Factura_T3, Paso.RFC_Cliente
             FROM T3.CFDI_Documento_Paso     Paso
             WHERE Paso.Fecha_Proc_BATMD >= CONVERT(DATETIME, CONVERT(DATE, GETDATE() - 1))
               AND Paso.VoidDoc          IS NULL
               AND LEN( Paso.Factura ) > 13
               AND Paso.Tipo_Docto      NOT IN ( 'Z024', 'C024' )
               AND CHARINDEX( '-', Paso.Factura ) = 0
               AND Paso.Factura NOT IN ( SELECT Nota_Venta FROM T3.CFDI_Historia_Docto_PAC WHERE Nota_Venta = Paso.Factura ) ;              

    BEGIN TRY
        SET @nJobIntercompany = EAI_Owner.getConv( 'CFG Settings', 'T3In-Job Intercompany' );
        SET @nJobDelivery     = EAI_Owner.getConv( 'CFG Settings', 'T3In-Job Delivery'     );
        SET @nJobCustomer     = EAI_Owner.getConv( 'CFG Settings', 'T3In-Job Customer'     );
   
        SET @nProceso  = 834 ;
        SET @nPID      = NEXT VALUE FOR EAI_Owner.ProcessID ;
        
        EXEC EAI_Owner.Log_Start @nProceso ;
        
        INSERT INTO T3.RF_PROCESOS_LOG ( PID , Proceso , Fecha_Proc_BATMD, Inicio )
        VALUES ( @nPID, @nProceso, NULL, GETDATE() ) ;   
          
        SET @v_ID = 'Suspend Jobs' ;
        EXEC EAI_OWNER.SF_JOB_MANAGE 'Suspend' ;
       
        SET @v_ID = 'PROC_T3_SF_MOV_CLIENTE';
        EXEC T3.PROC_T3_SF_MOV_CLIENTE 1;

        SET @v_ID = 'Collection' ;
        EXEC EAI_OWNER.WA_ACCNT_PAYAMOUNT 1, -1 ;  
        EXEC EAI_OWNER.SF_PROC_CENTRAL_EXECUTE 2, @sMsg, NULL, 0 ;

        SET @v_ID = 'Unsuccessful' ;      
        EXEC T3.PROC_T3_EOD_NOTDELV @nPID ;

        SET @v_ID = 'ConfirmSF' ;         
        EXEC T3.PROC_T3_EOD_CONF @nPID, 0, 0 ;
       
        SET @v_ID = 'Deliveries' ;
        -- FOR Doc IN ScrEntregas_Facturas LOOP
        --    EXEC EAI_OWNER.INVOICE_TO_ENTREGA @Doc_ReferenceID, 0 ;
        -- END LOOP ;   
       
        SET @v_ID = 'Presales Docs' ;
        DECLARE @dtSub1 DATETIME = CONVERT(DATETIME, CONVERT(DATE, GETDATE() - 1));
        DECLARE @dtSub0 DATETIME = CONVERT(DATETIME, CONVERT(DATE, GETDATE()));
        
        EXEC T3.PROC_T3_DQC_PRESALES @dtSub1, 'UNBLOCK' ;
        EXEC T3.PROC_T3_DQC_PRESALES @dtSub0, 'BLOCK'   ;

        
        EXEC T3.PROC_T3_LIB_PRESALES @dtSub0, 'AUTO'    ;

       
        SET @v_ID = 'PROC_T3_LANZA_REP' ;
        EXEC T3.PKG_T3.PROC_T3_LANZA_REP NULL ;


        SET @v_ID = 'Release POD' ;
        EXEC T3.PROC_CFDI_LIBERACION_PAC 'SI' ;


        SET @v_ID = 'PROC_CFDI_PROCESAR_AGRUPADO' ;
        EXEC T3.PROC_CFDI_PROCESAR_AGRUPADO NULL ;


        IF ( @sExecAddenda = 'YES' )
        BEGIN
           EXEC T3.PROC_CFDI_LIBERACION_PAC 'SI' ;

        END;

        SET @v_ID = 'Folios Duplicados' ;
        SET @nAgrupacion = 0 ;
        
        OPEN ScrAgrupacion;
        FETCH NEXT FROM ScrAgrupacion INTO @Scr_Inicio, @Scr_Fin;
        
        WHILE @@FETCH_STATUS = 0
        BEGIN
           SET @nAgrupacion = @nAgrupacion + 1 ;
           IF ( ( @nAgrupacion = 1 ) AND ( @Scr_Fin IS NOT NULL ) )
           BEGIN
                INSERT INTO T3.CFDI_Historia_Docto_PAC
                    ( Nota_Venta, Ctro, Fecha_Factura, Nota_Venta_CFDI )
                SELECT Factura, Ctro, Fecha_Factura_T3, Factura
                   FROM T3.CFDI_Documento_Paso Paso
                   WHERE Paso.Fecha_Proc_BATMD >= CONVERT(DATETIME, CONVERT(DATE, GETDATE() - 1))
                     AND Paso.RFC_Cliente       = 'XAXX010101000' 
                     AND Paso.VoidDoc          IS NULL
                     AND LEN( Paso.Factura ) < 13
                     AND Paso.Tipo_Docto      NOT IN ( 'Z024', 'C024' )
                     AND CHARINDEX( '-', Paso.Factura ) > 0
                     AND SUBSTRING( Paso.Factura, 1, 5 ) IN ( SELECT Serie FROM T3.CFDI_EXCLUIR_SERIE )
                     AND Paso.Factura NOT IN ( SELECT Nota_Venta FROM T3.CFDI_Historia_Docto_PAC WHERE Nota_Venta = Paso.Factura ) ;        
           END;
           FETCH NEXT FROM ScrAgrupacion INTO @Scr_Inicio, @Scr_Fin;
        END;
        CLOSE ScrAgrupacion;
        DEALLOCATE ScrAgrupacion;
        
        OPEN ScrCredit_Generic;
        FETCH NEXT FROM ScrCredit_Generic INTO @Dev_Factura, @Dev_Ctro, @Dev_Fecha_Factura;
        
        WHILE @@FETCH_STATUS = 0
        BEGIN
           INSERT INTO T3.CFDI_Historia_Docto_PAC
                ( Nota_Venta, Ctro, Fecha_Factura, Nota_Venta_CFDI )
           VALUES
                ( @Dev_Factura, @Dev_Ctro, @Dev_Fecha_Factura, @Dev_Factura ) ;
                
           EXEC PROC_V40_GENERAR_MX06 @Dev_Factura, NULL ;        
           
           FETCH NEXT FROM ScrCredit_Generic INTO @Dev_Factura, @Dev_Ctro, @Dev_Fecha_Factura;
        END;
        CLOSE ScrCredit_Generic;
        DEALLOCATE ScrCredit_Generic;

        OPEN ScrTransactionSeq;
        FETCH NEXT FROM ScrTransactionSeq INTO @TSErr_Factura, @TSErr_Ctro, @TSErr_Fecha_Factura_T3, @TSErr_RFC_Cliente;
        
        WHILE @@FETCH_STATUS = 0
        BEGIN
           INSERT INTO T3.CFDI_Historia_Docto_PAC
                ( Nota_Venta, Ctro, Fecha_Factura, Nota_Venta_CFDI )
           VALUES
                ( @TSErr_Factura, @TSErr_Ctro, @TSErr_Fecha_Factura_T3, @TSErr_Factura ) ;
                
           EXEC PROC_V40_GENERAR_MX06 @TSErr_Factura, NULL ;        
           
           FETCH NEXT FROM ScrTransactionSeq INTO @TSErr_Factura, @TSErr_Ctro, @TSErr_Fecha_Factura_T3, @TSErr_RFC_Cliente;
        END;
        CLOSE ScrTransactionSeq;
        DEALLOCATE ScrTransactionSeq;


        EXEC T3.WA_MOVE_TO_DIST 1, 'MX2J' ;
        EXEC T3.WA_MOVE_TO_DIST 1, 'MX4H' ;
        EXEC T3.WA_MOVE_TO_DIST 1, 'MX1H' ;

        EXEC T3.PROC_CFDI_LIBERACION_NOTA;

        SET @v_ID = 'Resume Intercompany' ;
        EXEC EAI_OWNER.SF_JOB_MANAGE_EOD 'Resume' ;
   
        UPDATE EAI_OWNER.MX_COMPONENTS SET Status = 1
           WHERE Component = @nProceso ;
           
        UPDATE T3.RF_PROCESOS_LOG SET Fin = GETDATE(), Proceso_1 = 0
           WHERE PID = @nPID ;         
    END TRY
    BEGIN CATCH
        IF CURSOR_STATUS('local', 'ScrAgrupacion') >= 0 BEGIN CLOSE ScrAgrupacion; DEALLOCATE ScrAgrupacion; END;
        IF CURSOR_STATUS('local', 'ScrCredit_Generic') >= 0 BEGIN CLOSE ScrCredit_Generic; DEALLOCATE ScrCredit_Generic; END;
        IF CURSOR_STATUS('local', 'ScrEntregas_Facturas') >= 0 BEGIN CLOSE ScrEntregas_Facturas; DEALLOCATE ScrEntregas_Facturas; END;
        IF CURSOR_STATUS('local', 'ScrTransactionSeq') >= 0 BEGIN CLOSE ScrTransactionSeq; DEALLOCATE ScrTransactionSeq; END;

        SET @sErrorCode = 'SQL-' + CAST(ERROR_NUMBER() AS VARCHAR(10)) ;
        SET @sMsg = SUBSTRING(CAST(ERROR_NUMBER() AS VARCHAR(10)) + '-' + ERROR_MESSAGE(), 1, 250) ;      
        
        INSERT INTO EAI_OWNER.MX_EAI_MESSAGE_LOG
          ( DIRECTION          , REFERENCE           , CREATED             , MESSAGE        , JOB_PID,
            STATUS             , QUEUE_NAME          , SIEBEL_ERROR_MESSAGE, SOURCE         , 
            SIEBEL_ERROR_CODE  , RETRY_COUNT         , SEQUENCE            , PARENT_ROW_ID   )
        VALUES 
          ( 'Job Logging'      , @v_ID                , GETDATE()            , NULL           , @nPID   ,
            'Error'            , 'PROC_T3_EOD'       , @sMsg               , 'TSQL'        ,
            @sErrorCode        , NULL                , NULL                , NULL            ) ;
     
    END CATCH
END;
GO
