USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_T3_BOD]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [T3].[PROC_T3_BOD]
    @sExecAddenda VARCHAR(MAX) = 'YES'
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @v_ID             VARCHAR(50);
    DECLARE @sErrorCode       VARCHAR(30);      
    DECLARE @sMsg             VARCHAR(300);
    DECLARE @nPID             NUMERIC(8,0);
    DECLARE @nProceso         NUMERIC(8,0);             
    DECLARE @nJobIntercompany NUMERIC(8,0);
    DECLARE @nJobDelivery     NUMERIC(8,0);
    DECLARE @nJobCustomer     NUMERIC(8,0);
    DECLARE @dtNextRun        DATETIME;
    DECLARE @nAgrupacion      NUMERIC(3,0);

    -- variables cursor
    DECLARE @cur_A_Inicio DATETIME;
    DECLARE @cur_A_Fin    DATETIME;

    DECLARE ScrAgrupacion CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT Inicio, Fin
        FROM T3.RF_Procesos_Log
        WHERE Proceso = '602'
          AND Inicio  > CONVERT(DATETIME, CONVERT(VARCHAR(8), GETDATE(), 112) + ' 01:00:00', 120) ;                  

    BEGIN TRY

        SET @nJobIntercompany = T3.EAI_Owner.getConv('CFG Settings', 'T3In-Job Intercompany');
        SET @nJobDelivery     = T3.EAI_Owner.getConv('CFG Settings', 'T3In-Job Delivery');
        SET @nJobCustomer     = T3.EAI_Owner.getConv('CFG Settings', 'T3In-Job Customer');
   
        SET @nProceso  = 835 ;
        SET @nPID      = NEXT VALUE FOR EAI_Owner.ProcessID ;
        
        EXEC EAI_Owner.Log_Start @Proceso = @nProceso ;
        
        INSERT INTO T3.RF_PROCESOS_LOG ( PID , Proceso , Fecha_Proc_BATMD, Inicio )
        VALUES ( @nPID, @nProceso, NULL, GETDATE() ) ;   
          
        SET @v_ID = 'Suspend Jobs' ;
        EXEC EAI_OWNER.SF_JOB_MANAGE @Accion = 'Suspend' ; -- Se asume mapeo de parámetro posicional
   
        SET @v_ID = 'PROC_T3_LANZA_REP' ;
        EXEC T3.PKG_T3.PROC_T3_LANZA_REP @Param1 = NULL ; -- Llamada al SP del paquete original
        
        SET @v_ID = 'Release POD' ;
        EXEC T3.PROC_CFDI_LIBERACION_PAC @Param1 = 'SI' ;

        SET @v_ID = 'Resume Intercompany' ;
        EXEC EAI_OWNER.SF_JOB_MANAGE_EOD @Accion = 'Resume' ;
   
        UPDATE EAI_OWNER.MX_COMPONENTS SET Status = 1
        WHERE Component = @nProceso ;
        
        UPDATE T3.RF_PROCESOS_LOG SET Fin = GETDATE(), Proceso_1 = 0
        WHERE PID = @nPID ;         

    END TRY
    BEGIN CATCH
        IF CURSOR_STATUS('local', 'ScrAgrupacion') >= 0 BEGIN CLOSE ScrAgrupacion; DEALLOCATE ScrAgrupacion; END;

        SET @sErrorCode = 'SQL-' + CAST(ERROR_NUMBER() AS VARCHAR(10)) ;
        SET @sMsg       = SUBSTRING(CAST(ERROR_NUMBER() AS VARCHAR(10)) + '-' + ERROR_MESSAGE(), 1, 250) ;      
        
        INSERT INTO EAI_OWNER.MX_EAI_MESSAGE_LOG
           ( DIRECTION          , REFERENCE           , CREATED             , MESSAGE        , JOB_PID,
             STATUS             , QUEUE_NAME          , SIEBEL_ERROR_MESSAGE, SOURCE         , 
             SIEBEL_ERROR_CODE  , RETRY_COUNT         , SEQUENCE            , PARENT_ROW_ID   )
        VALUES  
           ( 'Job Logging'      , @v_ID                , GETDATE()             , NULL           , @nPID   ,
             'Error'            , 'PROC_T3_BOD'       , @sMsg                , 'T-SQL'        ,
             @sErrorCode         , NULL                , NULL                , NULL            ) ;
     
    END CATCH;
END;
GO
