USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_V40_GENERAR_AGR]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[PROC_V40_GENERAR_AGR] 
(
    @pFactura VARCHAR(MAX)
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @strID VARCHAR(50);
    DECLARE @sMsg VARCHAR(500);
    DECLARE @sCtro VARCHAR(20);
    DECLARE @sReturn VARCHAR(4000);    
    DECLARE @sCABFAC VARCHAR(4000);
    DECLARE @sStepPLSQL VARCHAR(60);   
    DECLARE @uHEADER VARCHAR(4000);
    DECLARE @uIMPFAC VARCHAR(4000);
    DECLARE @uLINFAC VARCHAR(MAX);          -- CLOB 
    DECLARE @sUsoCFDI VARCHAR(20);
    DECLARE @nIMPFAC INT;                   -- NUMBER(3)
    DECLARE @nImpSubtot_TASAIVA DECIMAL(22,2);
    DECLARE @nImpSubtot_TASA00 DECIMAL(22,2); 
    DECLARE @nIVA_Calculado DECIMAL(22,2);
    DECLARE @nIVA_Diferencia DECIMAL(22,2); 
    DECLARE @nIVA_Documento DECIMAL(22,2);
    DECLARE @nIVA_Sumatoria DECIMAL(22,2);   
    DECLARE @nEnvio_Subt DECIMAL(22,2); 
    DECLARE @nEnvio_IVA DECIMAL(22,2);
    DECLARE @nDocto_IVA DECIMAL(22,2);
    DECLARE @nCredito_Subt DECIMAL(22,2); 
    DECLARE @nCredito_IVA DECIMAL(22,2);
    DECLARE @nAjuste_IVA DECIMAL(22,2);
    DECLARE @nEnvio_TASA DECIMAL(5,2);
    DECLARE @sEnvio_ID_Code VARCHAR(10);
    DECLARE @sEnvio_UM VARCHAR(10);
    DECLARE @sEnvio_Descrip VARCHAR(100);
    DECLARE @sEnvio_SAT_ID VARCHAR(10);
    DECLARE @sEnvio_SAT_IDDet VARCHAR(10);
    DECLARE @sEnvio_SAT_IDMay VARCHAR(10);
    DECLARE @sCredito_ID_Code VARCHAR(10);
    DECLARE @sCredito_ID_UPC VARCHAR(10);
    DECLARE @sCredito_UM VARCHAR(10);
    DECLARE @sCredito_Descrip VARCHAR(100);
    DECLARE @sCredito_SAT_ID VARCHAR(10);
    DECLARE @sCredito_SAT_UM VARCHAR(10);
    DECLARE @sLista_Precio VARCHAR(10);
    DECLARE @nTasa_LP INT;                  -- NUMBER(03)
    DECLARE @sEnvio_SAT_UM VARCHAR(10);   
    DECLARE @sCABCLIE VARCHAR(4000);   
    DECLARE @sLeyMenor VARCHAR(4000);
    DECLARE @sLeyPriv VARCHAR(4000);
    DECLARE @sSepLinea VARCHAR(4);
    DECLARE @sSepCampo VARCHAR(4);
    DECLARE @sAgrupacion VARCHAR(3000);
    DECLARE @nLineas INT;                   -- NUMBER(05)
    DECLARE @nNum_Linea INT;                -- NUMBER(05)
    DECLARE @nLinClie INT;                  -- NUMBER(05)
    DECLARE @nDoctos INT;                   -- NUMBER(05)
    DECLARE @sTipoComp VARCHAR(30);
    DECLARE @nTotal DECIMAL(22,2);
    DECLARE @nItems DECIMAL(22,2);   
    DECLARE @sData VARCHAR(MAX);            -- CLOB
    DECLARE @sSAT_ID VARCHAR(30);
    DECLARE @sSAT_UM VARCHAR(30);
    DECLARE @sIdentificacion VARCHAR(30);
    DECLARE @sCFDIREL VARCHAR(4000);
    DECLARE @nCFDIREL INT;                  -- NUMBER(03)     

    -- Variables cursores
    DECLARE @Doc_Ctro VARCHAR(MAX), @Doc_Factura VARCHAR(MAX), @Doc_Fecha_Factura DATETIME, @Doc_versionCFDI VARCHAR(MAX),
            @Doc_Serie VARCHAR(MAX), @Doc_Folio VARCHAR(MAX), @Doc_Lista_Precio VARCHAR(MAX), @Doc_pedidoV3 VARCHAR(MAX),
            @Doc_pedidoSAP VARCHAR(MAX), @Doc_facturaSAP VARCHAR(MAX), @Doc_repVentas VARCHAR(MAX), @Doc_sucursalNombre VARCHAR(MAX),
            @Doc_fecha VARCHAR(MAX), @Doc_tipoDeComprobante VARCHAR(MAX), @Doc_formaDePago VARCHAR(MAX), @Doc_condicionesDePago VARCHAR(MAX),
            @Doc_motivoDescuento VARCHAR(MAX), @Doc_Descuento DECIMAL(22,2), @Doc_subtotal VARCHAR(MAX), @Doc_total VARCHAR(MAX),
            @Doc_ajuste_IVA DECIMAL(22,2), @Doc_metodoDePago VARCHAR(MAX), @Doc_NumCtaPago VARCHAR(MAX), @Doc_TipoCambio VARCHAR(MAX),
            @Doc_Moneda VARCHAR(MAX), @Doc_LugarExpedicion VARCHAR(MAX), @Doc_Emisor_RFC VARCHAR(MAX), @Doc_Emisor_Nombre VARCHAR(MAX),
            @Doc_Emisor_Calle VARCHAR(MAX), @Doc_Emisor_NoExterior VARCHAR(MAX), @Doc_Emisor_NoInterior VARCHAR(MAX), @Doc_Emisor_Colonia VARCHAR(MAX),
            @Doc_Emisor_Localidad VARCHAR(MAX), @Doc_Emisor_Municipio VARCHAR(MAX), @Doc_Emisor_Estado VARCHAR(MAX), @Doc_Emisor_Pais VARCHAR(MAX),
            @Doc_Emisor_CodigoPostal VARCHAR(MAX), @Doc_Expide_calle VARCHAR(MAX), @Doc_Expide_noExterior VARCHAR(MAX), @Doc_Expide_noInterior VARCHAR(MAX),
            @Doc_Expide_colonia VARCHAR(MAX), @Doc_Expide_municipio VARCHAR(MAX), @Doc_Expide_estado VARCHAR(MAX), @Doc_Expide_pais VARCHAR(MAX),
            @Doc_Expide_codigoPostal VARCHAR(MAX), @Doc_RegimenFiscal VARCHAR(MAX), @Doc_CteGen_Regimen VARCHAR(MAX), @Doc_CteGen_UsoCFDI VARCHAR(MAX),
            @Doc_Recibe_RFC VARCHAR(MAX), @Doc_Recibe_Nombre VARCHAR(MAX), @Doc_Recibe_calle VARCHAR(MAX), @Doc_Recibe_noExterior VARCHAR(MAX),
            @Doc_Recibe_noInterior VARCHAR(MAX), @Doc_Recibe_colonia VARCHAR(MAX), @Doc_Recibe_municipio VARCHAR(MAX), @Doc_Recibe_estado VARCHAR(MAX),
            @Doc_Recibe_pais VARCHAR(MAX), @Doc_Recibe_codigoPostal VARCHAR(MAX), @Doc_Recibe_PaisReside VARCHAR(MAX), @Doc_Recibe_RegTributa VARCHAR(MAX),
            @Doc_Remite_calle VARCHAR(MAX), @Doc_Remite_noExterior VARCHAR(MAX), @Doc_Remite_noInterior VARCHAR(MAX), @Doc_Remite_colonia VARCHAR(MAX),
            @Doc_Remite_municipio VARCHAR(MAX), @Doc_Remite_estado VARCHAR(MAX), @Doc_Remite_pais VARCHAR(MAX), @Doc_Remite_codigoPostal VARCHAR(MAX),
            @Doc_pedidoV3_2 VARCHAR(MAX), @Doc_sucursalNombre_2 VARCHAR(MAX), @Doc_pedidoSAP_2 VARCHAR(MAX), @Doc_facturaSAP_2 VARCHAR(MAX),
            @Doc_Tipo_Documento VARCHAR(MAX), @Doc_CentroExpedicion VARCHAR(MAX), @Doc_Recibe_Cliente VARCHAR(MAX), @Doc_Remite_Cliente VARCHAR(MAX),
            @Doc_LugarExpedicion_2 VARCHAR(MAX), @Doc_eMail VARCHAR(MAX), @Doc_ConfirmacionPAC VARCHAR(MAX), @Doc_UsoCFDI VARCHAR(MAX),
            @Doc_ResidenciaFiscal VARCHAR(MAX), @Doc_RegTributarioExt VARCHAR(MAX), @Doc_TipoRelacion VARCHAR(MAX), @Doc_ImpuestosTrasladados VARCHAR(MAX),
            @Doc_impuesto VARCHAR(MAX), @Doc_tasa VARCHAR(MAX), @Doc_importe VARCHAR(MAX), @Doc_subtotal_TasaIVA VARCHAR(MAX),
            @Doc_subtotal_Tasa00 VARCHAR(MAX), @Doc_impSubtot_TASAIVA DECIMAL(22,2), @Doc_impSubtot_TASA00 DECIMAL(22,2);
    DECLARE @Item_numLinea VARCHAR(MAX), @Item_cantidad VARCHAR(MAX), @Item_unidad VARCHAR(MAX), @Item_noIdentificacion VARCHAR(MAX),
            @Item_descripcion VARCHAR(MAX), @Item_valorUnitario_Ori VARCHAR(MAX), @Item_valorUnitario VARCHAR(MAX), @Item_importe VARCHAR(MAX),
            @Item_RFD_Valor_Subt DECIMAL(22,2), @Item_RFD_Valor_IVA DECIMAL(22,2), @Item_PDF_Valor_Subt VARCHAR(MAX), @Item_PDF_Valor_IVA VARCHAR(MAX),
            @Item_PDF_TASA_IVA VARCHAR(MAX), @Item_Envio_Subt DECIMAL(22,2), @Item_Envio_IVA DECIMAL(22,2), @Item_Credito_Subt DECIMAL(22,2),
            @Item_Credito_IVA DECIMAL(22,2);
    DECLARE @Nota_Nota_Venta VARCHAR(MAX);
    DECLARE @Env_Folio_Fiscal VARCHAR(MAX), @Env_Fecha_Factura DATETIME;
    DECLARE @Adi_Linea INT, @Adi_Texto VARCHAR(MAX);

    DECLARE ScrDatos CURSOR LOCAL FORWARD_ONLY STATIC FOR
       SELECT 
             RF.Ctro                                                              AS Ctro                ,
             RF.Factura                                                           AS Factura             ,
             RF.Fecha_Factura                                                     AS Fecha_Factura       ,
             '4.0'                                                                AS versionCFDI         ,
             SUBSTRING( RF.Factura, 1, CHARINDEX('-', RF.Factura, 3) - 1 )        AS Serie               ,
             LTRIM(RTRIM(SUBSTRING( RF.Factura, CHARINDEX('-', RF.Factura, 3) + 1, 8 ))) AS Folio         ,
             RF.Lista_Precio                                                      AS Lista_Precio        ,
             FORMAT( RF.Fecha_Factura, 'dd.MM.yyyy' )                             AS pedidoV3            ,
             ''                                                                   AS pedidoSAP           ,
             ''                                                                   AS facturaSAP          ,
             ''                                                                   AS repVentas           ,
             ''                                                                   AS sucursalNombre      ,
             FORMAT( ISNULL( Repro.Fecha, RF.Fecha_Factura ), 'yyyyMMdd' ) +    
             REPLACE( T3.FN_ADJUST_GMT( FORMAT( GETDATE(), 'HH:mm:ss') , DF.Dif_GMT ), ':', '' )               
                                                                                  AS fecha               ,
             CASE WHEN RF.Tipo_Docto IN ('Z003', 'Z005', 'C003', 'C005', 'C0FX') THEN 'I' ELSE 'E' END AS tipoDeComprobante,
             EAI_Owner.getConv( 'CFG Settings', 'Forma Pago' )                    AS formaDePago         ,
             '0'                                                                  AS condicionesDePago   ,     
             'Descuento'                                                          AS motivoDescuento     ,
             0                                                                    AS Descuento           ,   
             LTRIM(RTRIM(CAST(CAST(RF.Valor_Subtotal + RF.Subtotal_noIVA AS DECIMAL(18,2)) AS VARCHAR))) AS subTotal,
             LTRIM(RTRIM(CAST(CAST(RF.Valor_Subtotal + RF.Valor_IVA + RF.Subtotal_noIVA + T3.FN_DIST_FEE_TAX_ADJ_AGR( RF.Factura ) AS DECIMAL(18,2)) AS VARCHAR))) AS total,
             T3.FN_DIST_FEE_TAX_ADJ_AGR( RF.Factura )                             AS ajuste_IVA          ,             
             EAI_Owner.getConv( 'CFG Settings', 'Metodo Pago' )                   AS metodoDePago        ,   
             EAI_Owner.getConv( 'TMD_PAC Payment Method', 'Agrupada Ref Banco' )  AS NumCtaPago          ,   
             '1'                                                                  AS TipoCambio          ,
             'MXN'                                                                AS Moneda              ,
             Alm.Almacen_Lugar_Expide                                             AS LugarExpedicion     ,   
             [T3].[FN_TRIM_CFDI]( Soc.RFC              )                          AS Emisor_RFC          ,
             [T3].[FN_TRIM_CFDI]( Soc.Razon_Social_HH  )                          AS Emisor_Nombre       ,
             [T3].[FN_TRIM_CFDI]( Soc.Calle            )                          AS Emisor_Calle        ,   
             [T3].[FN_TRIM_CFDI]( Soc.Numero_Ext       )                          AS Emisor_NoExterior   ,
             [T3].[FN_TRIM_CFDI]( Soc.Numero_Int       )                          AS Emisor_NoInterior   ,
             [T3].[FN_TRIM_CFDI]( Soc.Colonia          )                          AS Emisor_Colonia      ,
             [T3].[FN_TRIM_CFDI]( Soc.Localidad        )                          AS Emisor_Localidad    ,
             [T3].[FN_TRIM_CFDI]( Soc.Municipio        )                          AS Emisor_Municipio    ,
             [T3].[FN_TRIM_CFDI]( EAI_Owner.getConv( 'CFDI Estado', Soc.Estado ) )AS Emisor_Estado       ,
             [T3].[FN_TRIM_CFDI]( Soc.Pais             )                          AS Emisor_Pais         ,
             [T3].[FN_TRIM_CFDI]( Soc.Codigo_Postal    )                          AS Emisor_CodigoPostal ,
             [T3].[FN_TRIM_CFDI]( Alm.Almacen_Calle      )                        AS Expide_calle        , 
             [T3].[FN_TRIM_CFDI]( Alm.Almacen_NoExterior )                        AS Expide_noExterior   ,
             [T3].[FN_TRIM_CFDI]( Alm.Almacen_NoInterior )                        AS Expide_noInterior   ,
             [T3].[FN_TRIM_CFDI]( Alm.Almacen_Colonia    )                        AS Expide_colonia      ,
             [T3].[FN_TRIM_CFDI]( Alm.Almacen_Municipio  )                        AS Expide_municipio    ,
             [T3].[FN_TRIM_CFDI]( Alm.Almacen_Estado     )                        AS Expide_estado       ,
             [T3].[FN_TRIM_CFDI]( Alm.Almacen_Pais       )                        AS Expide_pais         ,
             [T3].[FN_TRIM_CFDI]( RIGHT('00000' + ISNULL(Alm.Almacen_codigoPostal, ''), 5) ) AS Expide_codigoPostal,
             EAI_Owner.getConv( 'CFG Settings', 'Regimen Fiscal' )                AS RegimenFiscal       ,
             EAI_Owner.getConv( 'CFG Settings', 'Generico_Regimen' )              AS CteGen_Regimen      ,
             EAI_Owner.getConv( 'CFG Settings', 'Generico_UsoCFDI' )              AS CteGen_UsoCFDI      ,
             'XAXX010101000'                                                      AS Recibe_RFC          ,
             'PUBLICO EN GENERAL'                                                 AS Recibe_Nombre       ,
             [T3].[FN_TRIM_CFDI]( Alm.Almacen_Calle      )                        AS Recibe_calle        , 
             [T3].[FN_TRIM_CFDI]( Alm.Almacen_NoExterior )                        AS Recibe_noExterior   ,
             [T3].[FN_TRIM_CFDI]( Alm.Almacen_NoInterior )                        AS Recibe_noInterior   ,
             [T3].[FN_TRIM_CFDI]( Alm.Almacen_Colonia    )                        AS Recibe_colonia      ,
             [T3].[FN_TRIM_CFDI]( Alm.Almacen_Municipio  )                        AS Recibe_municipio    ,
             [T3].[FN_TRIM_CFDI]( Alm.Almacen_Estado     )                        AS Recibe_estado       ,
             [T3].[FN_TRIM_CFDI]( Alm.Almacen_Pais       )                        AS Recibe_pais         ,
             [T3].[FN_TRIM_CFDI]( RIGHT('00000' + ISNULL(Alm.Almacen_codigoPostal, ''), 5) ) AS Recibe_codigoPostal,
             ISNULL( [T3].[FN_TRIM_CFDI]( Alm.Almacen_Calle ), '' ) + ' ' + ISNULL( [T3].[FN_TRIM_CFDI]( Alm.Almacen_NoExterior ), '' ) AS Remite_calle, 
             [T3].[FN_TRIM_CFDI]( Alm.Almacen_NoExterior )                        AS Remite_noExterior   ,
             [T3].[FN_TRIM_CFDI]( Alm.Almacen_NoInterior )                        AS Remite_noInterior   ,
             [T3].[FN_TRIM_CFDI]( Alm.Almacen_Colonia    )                        AS Remite_colonia      ,
             [T3].[FN_TRIM_CFDI]( Alm.Almacen_Municipio  )                        AS Remite_municipio    ,
             [T3].[FN_TRIM_CFDI]( Alm.Almacen_Estado     )                        AS Remite_estado       ,
             [T3].[FN_TRIM_CFDI]( Alm.Almacen_Pais       )                        AS Remite_pais         ,
             [T3].[FN_TRIM_CFDI]( RIGHT('00000' + ISNULL(Alm.Almacen_codigoPostal, ''), 5) ) AS Remite_codigoPostal,
             CASE WHEN RF.Tipo_Docto IN ('Z003','Z005','Z007','Z014','Z0FX','Z020','C003','C005','C007','C014','C0FX','C020') THEN 'FACTURA' ELSE 'NOTA DE CREDITO' END AS Tipo_Documento,
             RF.Cliente_SAP                                                       AS Recibe_Cliente      ,
             RF.Cliente_SAP                                                       AS Remite_Cliente      ,
             Alm.Almacen_Ctro                                                     AS CentroExpedicion    ,
             ''                                                                   AS eMail               ,
             ''                                                                   AS ConfirmacionPAC     ,
             CASE WHEN RF.Tipo_Docto IN ('C003', 'C005') THEN EAI_Owner.getConv( 'CFG Settings', 'UsoCFDI_Comercial' ) ELSE EAI_Owner.getConv( 'CFG Settings', 'UsoCFDI_Comercial_NC' ) END AS UsoCFDI,
             ''                                                                   AS ResidenciaFiscal    ,
             ''                                                                   AS RegTributarioExt    ,
             CASE WHEN Repro.Fecha IS NULL THEN '' ELSE EAI_Owner.getConv( 'CFG Settings', 'UsoCFDI_Reenvio' ) END AS TipoRelacion,
             LTRIM(RTRIM(CAST(CAST(RF.Valor_IVA + T3.FN_DIST_FEE_TAX_ADJ_AGR( RF.Factura ) AS DECIMAL(18,2)) AS VARCHAR))) AS ImpuestosTrasladados,
             'IVA'                                                                AS impuesto            , 
             CASE WHEN RF.Valor_Subtotal = 0 THEN '0' ELSE LTRIM(RTRIM(CAST(CAST(ROUND( RF.Valor_IVA * 100 / RF.Valor_Subtotal, 0 ) AS INT) AS VARCHAR))) END AS tasa,       
             LTRIM(RTRIM(CAST(CAST(RF.Valor_IVA + T3.FN_DIST_FEE_TAX_ADJ_AGR( RF.Factura ) AS DECIMAL(18,2)) AS VARCHAR))) AS importe,
             LTRIM(RTRIM(CAST(CAST(RF.Valor_Subtotal AS DECIMAL(18,2)) AS VARCHAR))) AS subtotal_TasaIVA    ,
             LTRIM(RTRIM(CAST(CAST(RF.Subtotal_noIVA AS DECIMAL(18,2)) AS VARCHAR))) AS subtotal_Tasa00     ,
             RF.Valor_Subtotal                                                    AS impSubtot_TASAIVA   ,
             RF.Subtotal_noIVA                                                    AS impSubtot_TASA00    
       FROM 
             ( 
                SELECT Agr.Nota_Venta_CFDI                                                                         AS Factura       , 
                       Agr.Fecha_Documento                                                                         AS Fecha_Factura ,
                       Agr.Tipo_Docto                                                                              AS Tipo_Docto    ,
                       Agr.Ctro                                                                                    AS Ctro          ,
                       Agr.Sociedad                                                                                AS Sociedad      ,
                       Agr.Cliente_SAP                                                                             AS Cliente_SAP   ,
                       Agr.Lista_Precio                                                                            AS Lista_Precio  ,
                       SUM( ISNULL( AgrD.Valor_Subt, 0 ) + ISNULL( AgrD.Envio_Subt, 0 ) + ISNULL( AgrD.Credito_Subt, 0 ) ) AS Valor_Subt    ,
                       SUM( ISNULL( AgrD.Valor_IVA , 0 ) + ISNULL( AgrD.Envio_IVA , 0 ) + ISNULL( AgrD.Credito_IVA , 0 ) ) AS Valor_IVA     ,
                       SUM( ISNULL( AgrD.Valor_IVA , 0 ) )                                                         AS Agrupado_IVA  ,
                       SUM( CASE WHEN Tax.Fecha_Registro IS NULL THEN 0 ELSE AgrD.Valor_Subt + ISNULL( AgrD.Envio_Subt, 0 ) END )  AS Subtotal_noIVA,
                       SUM( ISNULL( AgrD.Valor_Subt, 0 ) + ISNULL( AgrD.Envio_Subt, 0 ) + ISNULL( AgrD.Credito_Subt, 0 ) - 
                            CASE WHEN Tax.Fecha_Registro IS NULL THEN 0 ELSE AgrD.Valor_Subt + ISNULL( AgrD.Envio_Subt, 0 ) + ISNULL( AgrD.Credito_Subt, 0 ) END ) AS Valor_Subtotal                        
                FROM T3.CFDI_Agrupado           Agr 
                INNER JOIN T3.CFDI_Agrupado_Detalle   AgrD ON Agr.Nota_Venta_CFDI = AgrD.Nota_Venta_CFDI
                LEFT OUTER JOIN T3.SKU_TASA_CERO      Tax  ON AgrD.Material       = Tax.Material
                INNER JOIN T3.Conv_Lista_Grupo_Precio LP   ON Agr.Lista_Precio    = LP.Lista_Precio
                WHERE Agr.Nota_Venta_CFDI = @pFactura
                GROUP BY Agr.Nota_Venta_CFDI, Agr.Fecha_Documento, Agr.Tipo_Docto, Agr.Ctro, Agr.Sociedad, Agr.Cliente_SAP, Agr.Lista_Precio 
             ) RF
       LEFT OUTER JOIN (
             SELECT Rep.Nota_Venta, Rep.Fecha, Rep.Folio_Fiscal
             FROM (
                   SELECT Nota_Venta, MAX( Fecha ) AS Fecha
                   FROM T3.CFDI_Reproceso     
                   WHERE Nota_Venta = @pFactura
                   GROUP BY Nota_Venta 
             ) UF 
             INNER JOIN T3.CFDI_Reproceso Rep ON UF.Nota_Venta = Rep.Nota_Venta AND UF.Fecha = Rep.Fecha                
       ) Repro ON RF.Factura = Repro.Nota_Venta
       INNER JOIN T3.Distribuidor_Fiscal DF ON RF.Ctro = DF.Ctro
       INNER JOIN EAI.ZSDFE_Soc Soc ON RF.Sociedad = Soc.BUKRS AND RF.Sociedad = ISNULL( Soc.KUNNR, 'NULL' )
       INNER JOIN ( 
              SELECT
                    CASE 
                        WHEN ( Alm.Ctro = 'MX7A' ) THEN 'MXAA'
                        WHEN ( Alm.Ctro = 'MX7B' ) THEN 'MXAB'
                        WHEN ( Alm.Ctro = 'MX7D' ) THEN 'MXAC'
                        ELSE Alm.Ctro                       
                    END                                                                AS Almacen_Ctro        ,                        
                    Alm.Municipio + ', ' + ISNULL( EAI_Owner.getConv( 'CFDI Estado', Alm.Estado ), '' ) AS Almacen_Lugar_Expide,    
                    [T3].[SeparaDireccion]( Alm.Calle, 'Calle' )                               AS Almacen_Calle       , 
                    Alm.Numero_Exterior                                                AS Almacen_NoExterior  ,
                    ''                                                                 AS Almacen_NoInterior  ,                                                       
                    [T3].[SeparaDireccion]( Alm.Colonia, 'Col' )                               AS Almacen_Colonia     ,
                    [T3].[FN_TRIM_CFDI]( Alm.Municipio         )                           AS Almacen_Municipio   ,
                    [T3].[FN_TRIM_CFDI]( EAI_Owner.getConv( 'CFDI Estado', Alm.Estado ) )     AS Almacen_Estado      ,
                    [T3].[FN_TRIM_CFDI]( Alm.Pais              )                           AS Almacen_Pais        , 
                    [T3].[FN_TRIM_CFDI]( Alm.CODIGO_POSTAL     )                           AS Almacen_codigoPostal             
              FROM T3.Distribuidor_Fiscal Alm
              WHERE Ctro LIKE 'MX%'
       ) Alm ON RF.Ctro = Alm.Almacen_Ctro
       WHERE RF.Factura = @pFactura;

    DECLARE ScrDetalle CURSOR LOCAL FORWARD_ONLY STATIC FOR
       SELECT
             LTRIM(RTRIM(CAST(RFD.Num_Linea AS VARCHAR)))                         AS numLinea           ,
             LTRIM(RTRIM(CAST(RFD.Cantidad_Vta AS VARCHAR)))                      AS cantidad           ,  
             CASE WHEN RF.Tipo_Docto IN ('C025', 'C024', 'C022') THEN 'DCTO' ELSE Prod.Unidad_Med_Vta END AS unidad,                                                 
             [T3].[FN_SAP_SKU]( RFD.Material )                                    AS noIdentificacion   , 
             [T3].[FN_TRIM_CFDI]( [T3].[FN_CFDI_SKU_NAME]( Prod.Nombre_Material ) ) AS descripcion       ,                                                 
             LTRIM(RTRIM(CAST(CAST(RFD.Precio_Unitario AS DECIMAL(18,2)) AS VARCHAR))) AS valorUnitario_Ori ,
             LTRIM(RTRIM(CAST(CAST(ROUND( ISNULL( RFD.Valor_Subt, 0 ) / RFD.Cantidad_Vta, 2 ) AS DECIMAL(18,2)) AS VARCHAR))) AS valorUnitario,
             LTRIM(RTRIM(CAST(CAST(RFD.Valor_Subt AS DECIMAL(18,2)) AS VARCHAR))) AS importe            ,
             ISNULL( RFD.Valor_Subt, 0 )                                          AS RFD_Valor_Subt     ,             
             ISNULL( RFD.Valor_IVA , 0 )                                          AS RFD_Valor_IVA      ,
             LTRIM(RTRIM(CAST(CAST(ISNULL( RFD.Valor_Subt, 0 ) AS DECIMAL(18,2)) AS VARCHAR))) AS PDF_Valor_Subt     ,
             LTRIM(RTRIM(CAST(CAST(ISNULL( RFD.Valor_IVA , 0 ) AS DECIMAL(18,2)) AS VARCHAR))) AS PDF_Valor_IVA      ,
             LTRIM(RTRIM(CAST(CAST(ROUND( RFD.Valor_IVA * 100 / RFD.Valor_Subt, 2 ) AS INT) AS VARCHAR))) AS PDF_TASA_IVA,
             ISNULL( RFD.Envio_Subt  , 0 )                                        AS Envio_Subt         ,
             ISNULL( RFD.Envio_IVA   , 0 )                                        AS Envio_IVA          ,                                                                                                                                                                                                                 
             ISNULL( RFD.Credito_Subt, 0 )                                        AS Credito_Subt       ,
             ISNULL( RFD.Credito_IVA , 0 )                                        AS Credito_IVA                                                                                                                  
       FROM T3.CFDI_Agrupado            RF  ,
            T3.CFDI_Agrupado_Detalle    RFD ,
            T3.Material                 Prod 
       WHERE RF.Nota_Venta_CFDI  = @pFactura
         AND RF.Nota_Venta_CFDI  = RFD.Nota_Venta_CFDI
         AND RFD.Material        = Prod.Material 
       ORDER BY RFD.Num_Linea ;

    DECLARE ScrDocumentos CURSOR LOCAL FORWARD_ONLY STATIC FOR
       SELECT Nota_Venta
          FROM T3.CFDI_Historia_Docto_PAC
          WHERE Nota_Venta_CFDI = @pFactura
          ORDER BY Nota_Venta ;
               
    DECLARE ScrReenvio CURSOR LOCAL FORWARD_ONLY STATIC FOR
       SELECT Folio_Fiscal, Fecha_Factura
          FROM T3.CFDI_Reproceso 
          WHERE Nota_Venta = @pFactura
          ORDER BY Fecha DESC ;              

    DECLARE ScrTextoAdicional CURSOR LOCAL FORWARD_ONLY STATIC FOR
       SELECT 1000 + Linea AS Linea, Texto
          FROM T3.CFDI_TEXTO_ADICIONAL
          WHERE Nota_Venta = @pFactura
          ORDER BY Created, Linea ;         

    BEGIN TRY 
       SET @strID      = @pFactura ;
       SET @sReturn    = '' ; 
       SET @sCABFAC    = '' ;
       SET @sCABCLIE   = '' ;
       SET @uHEADER    = '' ;
       SET @uIMPFAC    = '' ;
       SET @uLINFAC    = '' ;
       SET @nTotal     = 00 ;
       SET @nItems     = 00 ;
       SET @nLinClie   = 00 ;
       SET @sSepLinea  = CHAR(13) + CHAR(10) ;
       SET @sSepCampo  = '|' ;
       SET @nEnvio_Subt   = 0000 ;
       SET @nEnvio_IVA    = 0000 ;
       SET @nDocto_IVA    = 0000 ;
       SET @nCredito_Subt = 0000 ;
       SET @nCredito_IVA  = 0000 ;
       SET @sLeyMenor  = 'Le recordamos que las Leyes prohíben y sancionan la venta de cigarros a menores de 18 años de edad '  +
                         'y en unidades sueltas. En caso de duda solicite identificación oficial. Ayúdenos a que los menores '  +
                         'de edad no tengan acceso a los cigarros.' ;
       /*SET @sLeyPriv   = 'British American Tobacco México S.A. de C.V. y subsidiarias protegen los datos personales de sus clientes ' +
                         'que son tratados por nuestra empresa. Para mayor información consultar el aviso de privacidad en www.batmexico.com.mx' ;
       SET @sLeyPriv   = 'British American Tobacco México, S.A. de C.V. y empresas relacionadas, con domicilio indicado arriba, utilizará los datos personales ' +
                         'que usted entregue voluntariamente en este documento para cumplir con las políticas, procedimientos y requisitos legales aplicables, ' +
                         'para llevar un registro adecuado de los proveedores y clientes, y para coordinar los servicios prestados por y para el Grupo. '        +
                         'Para mayor información respecto al tratamiento de sus datos personales o al ejercicio de sus derechos ARCO consulte nuestro aviso '    +
                         'de privacidad en www.batmexico.com.mx.' ;     */
       SET @sLeyPriv   = 'British American Tobacco México, S.A. de C.V. y sus empresas relacionadas (el "Grupo"), con domicilio en Avenida Francisco I. Madero, ' +
                         '2750 Pte., Centro de la Ciudad, Monterrey, N.L. C.P. 64000, utilizarán los datos personales que usted entregue voluntariamente mediante '    +
                         'este documento para cumplir con las políticas, procedimientos operativos y requisitos legales aplicables y llevar un registro adecuado' + 
                         ' de los proveedores y clientes del Grupo. Para mayor información respecto al tratamiento de sus datos personales o al ejercicio de sus' + 
                         ' derechos ARCO consulte nuestro aviso de privacidad integral en www.batmexico.com.mx' ;                  
   
       SET @nCFDIREL = 00 ;
       SET @sCFDIREL = '' ;

       OPEN ScrReenvio;
       FETCH NEXT FROM ScrReenvio INTO @Env_Folio_Fiscal, @Env_Fecha_Factura;
       WHILE @@FETCH_STATUS = 0
       BEGIN 
          SET @nCFDIREL = @nCFDIREL + 1 ;
          SET @sCFDIREL = @sCFDIREL + 'BILLREF'        + @sSepCampo ;
          SET @sCFDIREL = @sCFDIREL + ISNULL(@Env_Folio_Fiscal, '') + @sSepCampo ;          -- 02 Folio UUID
          SET @sCFDIREL = @sCFDIREL + ''               + @sSepCampo ;          -- 03 Tax ID
          SET @sCFDIREL = @sCFDIREL + ''               + @sSepCampo ;          -- 04 Fecha Documento
          SET @sCFDIREL = @sCFDIREL + '04'             + @sSepCampo ;          -- 05 Clave de Relacion
          SET @sCFDIREL = @sCFDIREL + ''               + @sSepCampo ;          -- 06 Motivo Modificacion
          SET @sCFDIREL = @sCFDIREL + @sSepLinea ;              
          FETCH NEXT FROM ScrReenvio INTO @Env_Folio_Fiscal, @Env_Fecha_Factura;
       END 
       CLOSE ScrReenvio;   

       OPEN ScrDatos;
       FETCH NEXT FROM ScrDatos INTO @Doc_Ctro, @Doc_Factura, @Doc_Fecha_Factura, @Doc_versionCFDI, @Doc_Serie, @Doc_Folio, @Doc_Lista_Precio, @Doc_pedidoV3, @Doc_pedidoSAP, @Doc_facturaSAP, @Doc_repVentas, @Doc_sucursalNombre, @Doc_fecha, @Doc_tipoDeComprobante, @Doc_formaDePago, @Doc_condicionesDePago, @Doc_motivoDescuento, @Doc_Descuento, @Doc_subtotal, @Doc_total, @Doc_ajuste_IVA, @Doc_metodoDePago, @Doc_NumCtaPago, @Doc_TipoCambio, @Doc_Moneda, @Doc_LugarExpedicion, @Doc_Emisor_RFC, @Doc_Emisor_Nombre, @Doc_Emisor_Calle, @Doc_Emisor_NoExterior, @Doc_Emisor_NoInterior, @Doc_Emisor_Colonia, @Doc_Emisor_Localidad, @Doc_Emisor_Municipio, @Doc_Emisor_Estado, @Doc_Emisor_Pais, @Doc_Emisor_CodigoPostal, @Doc_Expide_calle, @Doc_Expide_noExterior, @Doc_Expide_noInterior, @Doc_Expide_colonia, @Doc_Expide_municipio, @Doc_Expide_estado, @Doc_Expide_pais, @Doc_Expide_codigoPostal, @Doc_RegimenFiscal, @Doc_CteGen_Regimen, @Doc_CteGen_UsoCFDI, @Doc_Recibe_RFC, @Doc_Recibe_Nombre, @Doc_Recibe_calle, @Doc_Recibe_noExterior, @Doc_Recibe_noInterior, @Doc_Recibe_colonia, @Doc_Recibe_municipio, @Doc_Recibe_estado, @Doc_Recibe_pais, @Doc_Recibe_codigoPostal, @Doc_Remite_calle, @Doc_Remite_noExterior, @Doc_Remite_noInterior, @Doc_Remite_colonia, @Doc_Remite_municipio, @Doc_Remite_estado, @Doc_Remite_pais, @Doc_Remite_codigoPostal, @Doc_Tipo_Documento, @Doc_Recibe_Cliente, @Doc_Remite_Cliente, @Doc_CentroExpedicion, @Doc_eMail, @Doc_ConfirmacionPAC, @Doc_UsoCFDI, @Doc_ResidenciaFiscal, @Doc_RegTributarioExt, @Doc_TipoRelacion, @Doc_ImpuestosTrasladados, @Doc_impuesto, @Doc_tasa, @Doc_importe, @Doc_subtotal_TasaIVA, @Doc_subtotal_Tasa00, @Doc_impSubtot_TASAIVA, @Doc_impSubtot_TASA00;

       WHILE @@FETCH_STATUS = 0
       BEGIN
          SET @sTipoComp          = @Doc_tipoDeComprobante ;
          SET @sCtro              = @Doc_Ctro              ;
          SET @nTotal             = @Doc_total             ;
          SET @nImpSubtot_TASAIVA = @Doc_impSubtot_TASAIVA ;
          SET @nImpSubtot_TASA00  = @Doc_impSubtot_TASA00  ;
          SET @nAjuste_IVA        = @Doc_ajuste_IVA        ; 
          SET @sLista_Precio      = @Doc_Lista_Precio      ;

          SELECT @nTasa_LP = MAX( ISNULL( Porc_IVA, 0 ) )
             FROM T3.Conv_Lista_Grupo_Precio
             WHERE Lista_Precio = @sLista_Precio ;      

          -- Cabecera Factura
          SET @sCABFAC  = @sCABFAC  + 'CABFAC'                                + @sSepCampo ;
          SET @sCABFAC  = @sCABFAC  + ISNULL(@Doc_versionCFDI, '')            + @sSepCampo ;
          SET @sCABFAC  = @sCABFAC  + ISNULL(@Doc_serie, '')                  + @sSepCampo ;
          SET @sCABFAC  = @sCABFAC  + ISNULL(@Doc_folio, '')                  + @sSepCampo ;
          SET @sCABFAC  = @sCABFAC  + ISNULL(@Doc_fecha, '')                  + @sSepCampo ;
          SET @sCABFAC  = @sCABFAC  + ISNULL(@Doc_formaDePago, '')            + @sSepCampo ;
          SET @sCABFAC  = @sCABFAC  + ISNULL(@Doc_condicionesDePago, '')      + @sSepCampo ;
          SET @sCABFAC  = @sCABFAC  + ISNULL(@Doc_subtotal, '')               + @sSepCampo ;
          
          IF ( @Doc_Descuento > 0 ) 
          BEGIN
             SET @sCABFAC  = @sCABFAC  + ISNULL(CAST(@Doc_Descuento AS VARCHAR), '') + @sSepCampo ;
          END 
          ELSE
          BEGIN
             SET @sCABFAC  = @sCABFAC  + ''                    + @sSepCampo ;
          END 

          SET @sCABFAC  = @sCABFAC  + ISNULL(@Doc_TipoCambio, '')			  + @sSepCampo ; -- Mantenimiento literal de campos
          SET @sCABFAC  = @sCABFAC  + ISNULL(@Doc_Moneda, '')                 + @sSepCampo ;
          SET @sCABFAC  = @sCABFAC  + ISNULL(@Doc_total, '')                  + @sSepCampo ;
          SET @sCABFAC  = @sCABFAC  + ISNULL(@Doc_tipoDeComprobante, '')       + @sSepCampo ;
          SET @sCABFAC  = @sCABFAC  + ISNULL(@Doc_metodoDePago, '')           + @sSepCampo ;
          SET @sCABFAC  = @sCABFAC  + ISNULL(@Doc_Expide_codigoPostal, '')    + @sSepCampo ;
          SET @sCABFAC  = @sCABFAC  + ISNULL(@Doc_Emisor_RFC, '')             + @sSepCampo ;
          SET @sCABFAC  = @sCABFAC  + ISNULL(@Doc_Emisor_Nombre, '')          + @sSepCampo ;
          SET @sCABFAC  = @sCABFAC  + ISNULL(@Doc_Emisor_Calle, '')           + @sSepCampo ;
          SET @sCABFAC  = @sCABFAC  + ISNULL(@Doc_Emisor_NoExterior, '')      + @sSepCampo ;
          SET @sCABFAC  = @sCABFAC  + ISNULL(@Doc_Emisor_NoInterior, '')      + @sSepCampo ;
          SET @sCABFAC  = @sCABFAC  + ISNULL(@Doc_Emisor_Colonia, '')         + @sSepCampo ;
          SET @sCABFAC  = @sCABFAC  + ''                                      + @sSepCampo ;            -- Localidad de Emisor
          SET @sCABFAC  = @sCABFAC  + ISNULL(@Doc_Emisor_Municipio, '')       + @sSepCampo ;
          SET @sCABFAC  = @sCABFAC  + ISNULL(@Doc_Emisor_Estado, '')          + @sSepCampo ;
          SET @sCABFAC  = @sCABFAC  + ISNULL(@Doc_Emisor_Pais, '')            + @sSepCampo ;
          SET @sCABFAC  = @sCABFAC  + ISNULL(@Doc_RegimenFiscal, '')          + @sSepCampo ;
          SET @sCABFAC  = @sCABFAC  + ISNULL(@Doc_Recibe_RFC, '')             + @sSepCampo ;
          SET @sCABFAC  = @sCABFAC  + ISNULL(@Doc_Recibe_Nombre, '')          + @sSepCampo ;
          SET @sCABFAC  = @sCABFAC  + ISNULL(@Doc_Recibe_calle, '')           + @sSepCampo ;
          SET @sCABFAC  = @sCABFAC  + ISNULL(@Doc_Recibe_noExterior, '')      + @sSepCampo ;
          SET @sCABFAC  = @sCABFAC  + ISNULL(@Doc_Recibe_noInterior, '')      + @sSepCampo ;
          SET @sCABFAC  = @sCABFAC  + ISNULL(@Doc_Recibe_colonia, '')         + @sSepCampo ;
          SET @sCABFAC  = @sCABFAC  + ''                                      + @sSepCampo ;            -- Localidad de Receptor
          SET @sCABFAC  = @sCABFAC  + ISNULL(@Doc_Recibe_municipio, '')       + @sSepCampo ;
          SET @sCABFAC  = @sCABFAC  + ISNULL(@Doc_Recibe_estado, '')          + @sSepCampo ;
          SET @sCABFAC  = @sCABFAC  + ISNULL(@Doc_Recibe_pais, '')            + @sSepCampo ;
          SET @sCABFAC  = @sCABFAC  + ISNULL(@Doc_Recibe_codigoPostal, '')    + @sSepCampo ;
          SET @sCABFAC  = @sCABFAC  + ''                                      + @sSepCampo ;            -- Impuestos Retenidos
          SET @sCABFAC  = @sCABFAC  + ISNULL(@Doc_importe, '')                + @sSepCampo ;
          SET @sCABFAC  = @sCABFAC  + ISNULL(@Doc_ConfirmacionPAC, '')        + @sSepCampo ;
          SET @sCABFAC  = @sCABFAC  + ISNULL(@Doc_UsoCFDI, '')                + @sSepCampo ;
          SET @sCABFAC  = @sCABFAC  + ISNULL(@Doc_ResidenciaFiscal, '')       + @sSepCampo ;
          SET @sCABFAC  = @sCABFAC  + ISNULL(@Doc_RegTributarioExt, '')       + @sSepCampo ;
          SET @sCABFAC  = @sCABFAC  + ISNULL(@Doc_TipoRelacion, '')           + @sSepCampo ;

          -- HEADER
          SET @uHEADER  = @uHEADER + 'HEADER'                                       + @sSepCampo ;              
          SET @uHEADER  = @uHEADER + ''                                             + @sSepCampo ;   -- 02 Codigo de Autorizacion
          SET @uHEADER  = @uHEADER + ISNULL(@Doc_tipoDeComprobante, '')             + @sSepCampo ;   -- 03 Tipo de Comprobante
          SET @uHEADER  = @uHEADER + ISNULL(@Doc_folio, '')                         + @sSepCampo ;   -- 04 Folio
          SET @uHEADER  = @uHEADER + ''                                             + @sSepCampo ;   -- 05 Fecha de Vencimiento
          SET @uHEADER  = @uHEADER + ''                                             + @sSepCampo ;   -- 06 Tipo de Ingreso
          SET @uHEADER  = @uHEADER + ISNULL(@Doc_formaDePago, '')                   + @sSepCampo ;   -- 07 Tipo de Pago
          SET @uHEADER  = @uHEADER + ''                                             + @sSepCampo ;   -- 08 Fecha Limite de Pago
          SET @uHEADER  = @uHEADER + ''                                             + @sSepCampo ;   -- 09 Tipo Cuenta de Pago
          SET @uHEADER  = @uHEADER + ''                                             + @sSepCampo ;   -- 10 Numero Cuenta de Pago
          SET @uHEADER  = @uHEADER + ''                                             + @sSepCampo ;   -- 11 Banco de Pago
          SET @uHEADER  = @uHEADER + ''                                             + @sSepCampo ;   -- 12 Fecha Inicio Servicios
          SET @uHEADER  = @uHEADER + ''                                             + @sSepCampo ;   -- 13 Fecha Fin Servicios
          SET @uHEADER  = @uHEADER + ISNULL(@Doc_fecha, '')                         + @sSepCampo ;   -- 14 Fecha Emision Documento
          SET @uHEADER  = @uHEADER + ''                                             + @sSepCampo ;   -- 15 Fecha Orden de Compra
          SET @uHEADER  = @uHEADER + ''                                             + @sSepCampo ;   -- 16 Orden de Compra
          SET @uHEADER  = @uHEADER + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( CAST(@Doc_importe AS DECIMAL(24,6))        , 2 ), '') + @sSepCampo ;   -- 17 Monto Gravado Total
          SET @uHEADER  = @uHEADER + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( CAST(@Doc_subtotal_Tasa00 AS DECIMAL(24,6)), 2 ), '') + @sSepCampo ;   -- 18 Monto Exento
          SET @uHEADER  = @uHEADER + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( CAST(@Doc_subtotal AS DECIMAL(24,6))       , 2 ), '') + @sSepCampo ;   -- 19 Subtotal
          SET @uHEADER  = @uHEADER + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( CAST(@Doc_importe AS DECIMAL(24,6))        , 2 ), '') + @sSepCampo ;   -- 20 Total Impuestos Trasladados
          SET @uHEADER  = @uHEADER + ''                                             + @sSepCampo ;   -- 21 Impuestos Retenidos
          SET @uHEADER  = @uHEADER + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( CAST(@Doc_total AS DECIMAL(24,6))          , 2 ), '') + @sSepCampo ;   -- 22 Monto Total
          SET @uHEADER  = @uHEADER + ''                                             + @sSepCampo ;   -- 23 Monto No Facturable
          SET @uHEADER  = @uHEADER + ''                                             + @sSepCampo ;   -- 24 Monto Periodo
          SET @uHEADER  = @uHEADER + ''                                             + @sSepCampo ;   -- 25 Saldo Anterior
          SET @uHEADER  = @uHEADER + ''                                             + @sSepCampo ;   -- 26 Monto Avance de Pago
          SET @uHEADER  = @uHEADER + ''                                             + @sSepCampo ;   -- 27 Valor Cobrado
          SET @uHEADER  = @uHEADER + ISNULL(@Doc_Factura, '')                       + @sSepCampo ;   -- 28 Folio Interno Factura
          SET @uHEADER  = @uHEADER + ''                                             + @sSepCampo ;   -- 29 Indicador Nota de Credito
          SET @uHEADER  = @uHEADER + ''                                             + @sSepCampo ;   -- 30 Indicador Monto Gravado
          SET @uHEADER  = @uHEADER + ISNULL(@Doc_condicionesDePago, '')             + @sSepCampo ;   -- 31 Terminos de Pago
          SET @uHEADER  = @uHEADER + ISNULL(@Doc_Moneda, '')                        + @sSepCampo ;   -- 32 Moneda
          SET @uHEADER  = @uHEADER + ISNULL(@Doc_Serie, '')                         + @sSepCampo ;   -- 33 Serie      
          SET @uHEADER  = @uHEADER + ''                                             + @sSepCampo ;   -- 34 Confirmation
          SET @uHEADER  = @uHEADER + 'C'                                            + @sSepCampo ;   -- 35 Flag Addenda/Complemento
          SET @uHEADER  = @uHEADER + '01'                                           + @sSepCampo ;   -- 36 Tipo Exportacion
          SET @uHEADER  = @uHEADER + '01'                                           + @sSepCampo ;   -- 37 Peridiocidad
          SET @uHEADER  = @uHEADER + ISNULL(FORMAT( @Doc_Fecha_Factura, 'MM'   ), '') + @sSepCampo ;   -- 38 Mes de Documento
          SET @uHEADER  = @uHEADER + ISNULL(FORMAT( @Doc_Fecha_Factura, 'yyyy' ), '') + @sSepCampo ;   -- 39 Anio
          SET @uHEADER  = @uHEADER + ISNULL(@Doc_versionCFDI, '')                   + @sSepCampo ;   -- 40 Version

          -- PARTIES - Emisor
          SET @uHEADER  = @uHEADER + @sSepLinea ;
          SET @uHEADER  = @uHEADER + 'PARTIES'                + @sSepCampo ;              
          SET @uHEADER  = @uHEADER + 'E'                      + @sSepCampo ;              
          SET @uHEADER  = @uHEADER + ISNULL(@Doc_Emisor_RFC, '')              + @sSepCampo ;   -- 03 TaxID
          SET @uHEADER  = @uHEADER + ISNULL(@Doc_Emisor_Nombre, '')           + @sSepCampo ;   -- 04 Legal Entity Name
          SET @uHEADER  = @uHEADER + ''                                       + @sSepCampo ;   -- 05 Trade Name
          SET @uHEADER  = @uHEADER + ISNULL(@Doc_LugarExpedicion, '')         + @sSepCampo ;   -- 06 Branch Name
          SET @uHEADER  = @uHEADER + ISNULL(@Doc_Emisor_Calle, '') + ' ' + ISNULL(@Doc_Emisor_NoExterior, '') + @sSepCampo ;   -- 07 Address
          SET @uHEADER  = @uHEADER + ISNULL(@Doc_Emisor_Colonia, '')          + @sSepCampo ;   -- 08 Colonia
          SET @uHEADER  = @uHEADER + ISNULL(@Doc_Emisor_Municipio, '')        + @sSepCampo ;   -- 09 Municipality
          SET @uHEADER  = @uHEADER + ISNULL(@Doc_Emisor_Estado, '')           + @sSepCampo ;   -- 10 Country Subdivision
          SET @uHEADER  = @uHEADER + ''                                       + @sSepCampo ;   -- 11 Telephone
          SET @uHEADER  = @uHEADER + ''                                       + @sSepCampo ;   -- 12 Telephone_2
          SET @uHEADER  = @uHEADER + ''                                       + @sSepCampo ;   -- 13 Telephone_3
          SET @uHEADER  = @uHEADER + ''                                       + @sSepCampo ;   -- 14 eMail
          SET @uHEADER  = @uHEADER + ''                                       + @sSepCampo ;   -- 15 Web Site
          SET @uHEADER  = @uHEADER + ISNULL(@Doc_RegimenFiscal, '')           + @sSepCampo ;   -- 16 Business_Activity
          SET @uHEADER  = @uHEADER + ''                                       + @sSepCampo ;   -- 17 Seller Internal Code
          SET @uHEADER  = @uHEADER + ''                                       + @sSepCampo ;   -- 18 Seller Area
          SET @uHEADER  = @uHEADER + ''                                       + @sSepCampo ;   -- 19 Sales Route
          SET @uHEADER  = @uHEADER + ''                                       + @sSepCampo ;   -- 20 Additional Info
          SET @uHEADER  = @uHEADER + ''                                       + @sSepCampo ;   -- 21 Foreign_Tax_ID
          SET @uHEADER  = @uHEADER + ''                                       + @sSepCampo ;   -- 22 Contac_Details
          SET @uHEADER  = @uHEADER + ''                                       + @sSepCampo ;   -- 23 Buyer_Internal_Code
          SET @uHEADER  = @uHEADER + ''                                       + @sSepCampo ;   -- 24 Payer_ID
          SET @uHEADER  = @uHEADER + ''                                       + @sSepCampo ;   -- 25 City
          SET @uHEADER  = @uHEADER + ISNULL(@Doc_Recibe_codigoPostal, @Doc_Recibe_CodigoPostal) + @sSepCampo ;   -- 26 Postal Code (Mantenimiento literal de variaciones)
          SET @uHEADER  = @uHEADER + 'MEX'                                    + @sSepCampo ;   -- 27 Country Code

          -- PARTIES - Receptor
          SET @uHEADER  = @uHEADER + @sSepLinea ;
          SET @uHEADER  = @uHEADER + 'PARTIES'                + @sSepCampo ;              
          SET @uHEADER  = @uHEADER + 'R'                      + @sSepCampo ;              
          SET @uHEADER  = @uHEADER + ISNULL(@Doc_Recibe_RFC, '')              + @sSepCampo ;   -- 03 TaxID
          SET @uHEADER  = @uHEADER + ISNULL(@Doc_Recibe_Nombre, '')           + @sSepCampo ;   -- 04 Legal Entity Name
          SET @uHEADER  = @uHEADER + ''                                       + @sSepCampo ;   -- 05 Trade Name
          SET @uHEADER  = @uHEADER + ISNULL(@Doc_sucursalNombre, @Doc_SucursalNombre) + @sSepCampo ;   -- 06 Branch Name
          SET @uHEADER  = @uHEADER + ISNULL(@Doc_Recibe_calle, @Doc_Recibe_Calle) + @sSepCampo ;   -- 07 Address
          SET @uHEADER  = @uHEADER + ISNULL(@Doc_Recibe_colonia, @Doc_Recibe_Colonia) + @sSepCampo ;   -- 08 Colonia
          SET @uHEADER  = @uHEADER + ISNULL(@Doc_Recibe_municipio, @Doc_Recibe_Municipio) + @sSepCampo ;   -- 09 Municipality
          SET @uHEADER  = @uHEADER + ISNULL(@Doc_Recibe_estado, @Doc_Recibe_Estado) + @sSepCampo ;   -- 10 Country Subdivision
          SET @uHEADER  = @uHEADER + ''                                       + @sSepCampo ;   -- 11 Telephone
          SET @uHEADER  = @uHEADER + ''                                       + @sSepCampo ;   -- 12 Telephone_2
          SET @uHEADER  = @uHEADER + ''                                       + @sSepCampo ;   -- 13 Telephone_3
          SET @uHEADER  = @uHEADER + ''                                       + @sSepCampo ;   -- 14 eMail
          SET @uHEADER  = @uHEADER + ''                                       + @sSepCampo ;   -- 15 Web Site
          SET @uHEADER  = @uHEADER + ISNULL(@Doc_CteGen_Regimen, '')          + @sSepCampo ;   -- 16 Business_Activity
          SET @uHEADER  = @uHEADER + ''                                       + @sSepCampo ;   -- 17 Seller Internal Code
          SET @uHEADER  = @uHEADER + ''                                       + @sSepCampo ;   -- 18 Seller Area
          SET @uHEADER  = @uHEADER + ''                                       + @sSepCampo ;   -- 19 Sales Route
          SET @uHEADER  = @uHEADER + ISNULL(@Doc_CteGen_UsoCFDI, '')          + @sSepCampo ;   -- 20 Additional Info
          SET @uHEADER  = @uHEADER + ''                                       + @sSepCampo ;   -- 21 Foreign_Tax_ID
          SET @uHEADER  = @uHEADER + ''                                       + @sSepCampo ;   -- 22 Contac_Details
          SET @uHEADER  = @uHEADER + ''                                       + @sSepCampo ;   -- 23 Buyer_Internal_Code
          SET @uHEADER  = @uHEADER + ''                                       + @sSepCampo ;   -- 24 Payer_ID
          SET @uHEADER  = @uHEADER + ''                                       + @sSepCampo ;   -- 25 City
          SET @uHEADER  = @uHEADER + ISNULL(@Doc_Recibe_codigoPostal, @Doc_Recibe_CodigoPostal) + @sSepCampo ;   -- 26 Postal Code
          SET @uHEADER  = @uHEADER + 'MEX'                                    + @sSepCampo ;   -- 27 Country Code     
          SET @sUsoCFDI = @Doc_UsoCFDI ;
      
          -- Cabecera Temporada / Cliente
          SET @sCABCLIE = @sCABCLIE + 'CABCLIE'               + @sSepCampo ;
          SET @sCABCLIE = @sCABCLIE + ISNULL(@Doc_Recibe_Nombre, '')          + @sSepCampo ;
          SET @sCABCLIE = @sCABCLIE + ISNULL(@Doc_Remite_calle, @Doc_Remite_Calle) + @sSepCampo ;
          SET @sCABCLIE = @sCABCLIE + ISNULL(@Doc_Remite_colonia, @Doc_Remite_Colonia) + @sSepCampo ;
          SET @sCABCLIE = @sCABCLIE + ISNULL(@Doc_Remite_municipio, @Doc_Remite_Municipio) + @sSepCampo ;
          SET @sCABCLIE = @sCABCLIE + ''                                      + @sSepCampo ;
          SET @sCABCLIE = @sCABCLIE + ISNULL(@Doc_Remite_estado, @Doc_Remite_Estado) + @sSepCampo ;
          SET @sCABCLIE = @sCABCLIE + ISNULL(@Doc_Remite_pais, @Doc_Remite_Pais) + @sSepCampo ;
          SET @sCABCLIE = @sCABCLIE + ISNULL(@Doc_Remite_codigoPostal, @Doc_Remite_codigoPostal) + @sSepCampo ;
          SET @sCABCLIE = @sCABCLIE + ISNULL(@Doc_pedidoV3, '')               + @sSepCampo ;
          SET @sCABCLIE = @sCABCLIE + ISNULL(@Doc_sucursalNombre, '')         + @sSepCampo ;
          SET @sCABCLIE = @sCABCLIE + ISNULL(@Doc_pedidoSAP, '')              + @sSepCampo ;
          SET @sCABCLIE = @sCABCLIE + ISNULL(@Doc_facturaSAP, '')             + @sSepCampo ;
          SET @sCABCLIE = @sCABCLIE + ISNULL(@Doc_Tipo_Documento, '')         + @sSepCampo ;
          SET @sCABCLIE = @sCABCLIE + ISNULL(@Doc_CentroExpedicion, '')       + @sSepCampo ;
          SET @sCABCLIE = @sCABCLIE + ISNULL(@Doc_Recibe_Cliente, '')         + @sSepCampo ;
          SET @sCABCLIE = @sCABCLIE + ISNULL(@Doc_Remite_Cliente, '')         + @sSepCampo ;
          SET @sCABCLIE = @sCABCLIE + ISNULL(@Doc_LugarExpedicion, '')        + @sSepCampo ;
          SET @sCABCLIE = @sCABCLIE + ''                                      + @sSepCampo ;
          SET @sCABCLIE = @sCABCLIE + ISNULL(@sLeyMenor, '')                  + @sSepCampo ;
          SET @sCABCLIE = @sCABCLIE + ISNULL(@sLeyPriv, '')                   + @sSepCampo ;
          SET @sCABCLIE = @sCABCLIE + ISNULL(@Doc_eMail, '')                  + @sSepCampo ;

          SET @sCABCLIE = @sCABCLIE + @sSepLinea ;
          SET @sCABCLIE = @sCABCLIE + ISNULL(@sCFDIREL, '')                   ;
          SET @sCABCLIE = @sCABCLIE + 'PAYMET'                                + @sSepCampo ;              
          SET @sCABCLIE = @sCABCLIE + ISNULL(@Doc_metodoDePago, '')           + @sSepCampo ;      
      
          -- Impuestos
          SET @nIMPFAC  = 0 ;
          IF ( CAST(@Doc_subtotal_TasaIVA AS DECIMAL(24,6)) > 0 ) 
          BEGIN 
             SET @nIMPFAC  = @nIMPFAC + 1 ;         
             -- TAX Segment
             SET @uIMPFAC  = @uIMPFAC  + 'TAX'                                                         + @sSepCampo ;
             SET @uIMPFAC  = @uIMPFAC  + '002'                                                         + @sSepCampo ;      -- 02 Tipo de Impuesto
             SET @uIMPFAC  = @uIMPFAC  + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( CAST(@Doc_subtotal_TasaIVA AS DECIMAL(24,6)), 2 ), '') + @sSepCampo ;      -- 03 Base Imponible
             SET @uIMPFAC  = @uIMPFAC  + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( CAST(@Doc_importe AS DECIMAL(24,6))        , 2 ), '') + @sSepCampo ;      -- 04 Monto de Impuesto
             SET @uIMPFAC  = @uIMPFAC  + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( CAST(@nTasa_LP AS DECIMAL(24,6)) / 100       , 6 ), '') + @sSepCampo ;      -- 05 Porcentaje de Impuesto
             SET @uIMPFAC  = @uIMPFAC  + 'Tasa'                                                        + @sSepCampo ;      -- 06 Factor de Impuesto
             SET @uIMPFAC  = @uIMPFAC  + 'T'                                                           + @sSepCampo ;      -- 07 Calificador
             SET @uIMPFAC  = @uIMPFAC  + ''                                                            + @sSepCampo ;      -- 08           
             SET @nIVA_Documento = CAST(@Doc_importe AS DECIMAL(22,2)) ;
          END 

          IF ( CAST(@Doc_impSubtot_TASA00 AS DECIMAL(24,6)) > 0 ) 
          BEGIN
             IF ( @nIMPFAC > 0 ) 
             BEGIN
                SET @uIMPFAC  = @uIMPFAC + @sSepLinea ;
             END 
             SET @nIMPFAC  = @nIMPFAC + 1 ;          
             -- TAX Segment
             SET @uIMPFAC  = @uIMPFAC  + 'TAX'                                                         + @sSepCampo ;
             SET @uIMPFAC  = @uIMPFAC  + '002'                                                         + @sSepCampo ;      -- 02 Tipo de Impuesto
             SET @uIMPFAC  = @uIMPFAC  + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( CAST(@Doc_impSubtot_TASA00 AS DECIMAL(24,6)), 2 ), '') + @sSepCampo ;      -- 03 Base Imponible
             SET @uIMPFAC  = @uIMPFAC  + '0.00'                                                        + @sSepCampo ;      -- 04 Monto de Impuesto
             SET @uIMPFAC  = @uIMPFAC  + '0.000000'                                                    + @sSepCampo ;      -- 05 Porcentaje de Impuesto
             SET @uIMPFAC  = @uIMPFAC  + 'Tasa'                                                        + @sSepCampo ;      -- 06 Factor de Impuesto
             SET @uIMPFAC  = @uIMPFAC  + 'T'                                                           + @sSepCampo ;      -- 07 Calificador
             SET @uIMPFAC  = @uIMPFAC  + ''                                                            + @sSepCampo ;      -- 08                 
          END  

          FETCH NEXT FROM ScrDatos INTO @Doc_Ctro, @Doc_Factura, @Doc_Fecha_Factura, @Doc_versionCFDI, @Doc_Serie, @Doc_Folio, @Doc_Lista_Precio, @Doc_pedidoV3, @Doc_pedidoSAP, @Doc_facturaSAP, @Doc_repVentas, @Doc_sucursalNombre, @Doc_fecha, @Doc_tipoDeComprobante, @Doc_formaDePago, @Doc_condicionesDePago, @Doc_motivoDescuento, @Doc_Descuento, @Doc_subtotal, @Doc_total, @Doc_ajuste_IVA, @Doc_metodoDePago, @Doc_NumCtaPago, @Doc_TipoCambio, @Doc_Moneda, @Doc_LugarExpedicion, @Doc_Emisor_RFC, @Doc_Emisor_Nombre, @Doc_Emisor_Calle, @Doc_Emisor_NoExterior, @Doc_Emisor_NoInterior, @Doc_Emisor_Colonia, @Doc_Emisor_Localidad, @Doc_Emisor_Municipio, @Doc_Emisor_Estado, @Doc_Emisor_Pais, @Doc_Emisor_CodigoPostal, @Doc_Expide_calle, @Doc_Expide_noExterior, @Doc_Expide_noInterior, @Doc_Expide_colonia, @Doc_Expide_municipio, @Doc_Expide_estado, @Doc_Expide_pais, @Doc_Expide_codigoPostal, @Doc_RegimenFiscal, @Doc_CteGen_Regimen, @Doc_CteGen_UsoCFDI, @Doc_Recibe_RFC, @Doc_Recibe_Nombre, @Doc_Recibe_calle, @Doc_Recibe_noExterior, @Doc_Recibe_noInterior, @Doc_Recibe_colonia, @Doc_Recibe_municipio, @Doc_Recibe_estado, @Doc_Recibe_pais, @Doc_Recibe_codigoPostal, @Doc_Remite_calle, @Doc_Remite_noExterior, @Doc_Remite_noInterior, @Doc_Remite_colonia, @Doc_Remite_municipio, @Doc_Remite_estado, @Doc_Remite_pais, @Doc_Remite_codigoPostal, @Doc_Tipo_Documento, @Doc_Recibe_Cliente, @Doc_Remite_Cliente, @Doc_CentroExpedicion, @Doc_eMail, @Doc_ConfirmacionPAC, @Doc_UsoCFDI, @Doc_ResidenciaFiscal, @Doc_RegTributarioExt, @Doc_TipoRelacion, @Doc_ImpuestosTrasladados, @Doc_impuesto, @Doc_tasa, @Doc_importe, @Doc_subtotal_TasaIVA, @Doc_subtotal_Tasa00, @Doc_impSubtot_TASAIVA, @Doc_impSubtot_TASA00;
       END 
       CLOSE ScrDatos;  

       SET @nIVA_Calculado  = 0 ;
       SET @nIVA_Diferencia = 0 ;
       SET @nLineas         = 0 ;   
       SET @nIVA_Sumatoria  = 0 ;

       OPEN ScrDetalle;
       FETCH NEXT FROM ScrDetalle INTO @Item_numLinea, @Item_cantidad, @Item_unidad, @Item_noIdentificacion, @Item_descripcion, @Item_valorUnitario_Ori, @Item_valorUnitario, @Item_importe, @Item_RFD_Valor_Subt, @Item_RFD_Valor_IVA, @Item_PDF_Valor_Subt, @Item_PDF_Valor_IVA, @Item_PDF_TASA_IVA, @Item_Envio_Subt, @Item_Envio_IVA, @Item_Credito_Subt, @Item_Credito_IVA;

       WHILE @@FETCH_STATUS = 0
       BEGIN
          SET @nNum_Linea = CAST(@Item_numLinea AS INT) ;
          SET @nLineas = @nLineas + 1 ; 
          SET @nItems  = @nItems + @Item_RFD_Valor_Subt + @Item_RFD_Valor_IVA ;

          IF ( @nLineas = 1 ) 
          BEGIN
             SET @uLINFAC = '' ;
          END 
          ELSE
          BEGIN
             SET @uLINFAC = @uLINFAC + @sSepLinea ;
          END 

          EXEC T3.GET_SAT_CLAVEPRODUCTO 'VTA', @pFactura, @Item_noIdentificacion, @Item_descripcion, @Item_unidad, @sSAT_ID OUTPUT, @sSAT_UM OUTPUT ;
          SET @sIdentificacion = REPLACE( @Item_noIdentificacion, '.', '' ) ;

          SET @uLINFAC = @uLINFAC + 'LINE'                                                                + @sSepCampo ;
          SET @uLINFAC = @uLINFAC + ISNULL(@Item_numLinea,'')                                             + @sSepCampo ;   -- 02 Linea de Factura
          SET @uLINFAC = @uLINFAC + ISNULL(@sSAT_ID,'')                                                   + @sSepCampo ;   -- 03 Codigo SAT
          SET @uLINFAC = @uLINFAC + ISNULL(@Item_descripcion,'')                                          + @sSepCampo ;   -- 04 Descripcion
          SET @uLINFAC = @uLINFAC + ISNULL(@sIdentificacion,'')                                           + @sSepCampo ;   -- 05 No Interno
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 06 Agente de Retencion
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 07 Monto Impuesto Retenido
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 08 Monto Impuesto Retenido
          SET @uLINFAC = @uLINFAC + ISNULL(@Item_cantidad,'')                                             + @sSepCampo ;   -- 09 Cantidad
          SET @uLINFAC = @uLINFAC + ISNULL(@Item_unidad,'')                                               + @sSepCampo ;   -- 10 UdeM Interna
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 11 Cantidad UdeM Referenciada
          SET @uLINFAC = @uLINFAC + ISNULL(@sSAT_UM,'')                                                   + @sSepCampo ;   -- 12 UdeM SAT
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 13 Precio Unitario Referencia
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 14 Grados de Alcohol
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 15 Fecha de Elaboracion
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 16 Fecha de Vencimiento
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 17 Monto de Descuento
          SET @uLINFAC = @uLINFAC + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( CAST(@Item_valorUnitario AS DECIMAL(24,6)), 2 ), '') + @sSepCampo ;   -- 18 Precio Unitario
          SET @uLINFAC = @uLINFAC + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( CAST(@Item_importe AS DECIMAL(24,6))      , 2 ), '') + @sSepCampo ;   -- 19 Monto de Cargo
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 20 Codigo de Impuesto Adicional
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 21 Precio Unitario en otra Moneda
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 22 Codigo Item en otra Moneda
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 23 Descuento Item en otra Moneda
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 24 Recargo Item en otra Moneda
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 25 Monto Item en otra Moneda
          SET @uLINFAC = @uLINFAC + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( CAST(@Item_importe AS DECIMAL(24,6))      , 2 ), '') + @sSepCampo ;   -- 26 Total Amount
          SET @uLINFAC = @uLINFAC + '1'                                                                   + @sSepCampo ;   -- 27 Facturable
          SET @uLINFAC = @uLINFAC + '02'                                                                  + @sSepCampo ;   -- 28 Objeto de Impuesto
          SET @uLINFAC = @uLINFAC + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( CAST(@Item_importe AS DECIMAL(24,6))      , 2 ), '') + @sSepCampo ;   -- 29 Precio Neto
          SET @uLINFAC = @uLINFAC + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( CAST(@Item_importe AS DECIMAL(24,6))      , 2 ), '') + @sSepCampo ;   -- 30 Precio Bruto
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 31 Pedimiento
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 32 Predial     

          IF ( @Item_RFD_Valor_IVA > 0 ) 
          BEGIN
             SET @nIVA_Calculado = ROUND( @Item_RFD_Valor_Subt * @nTasa_LP / 100, 2 ) ;
             SET @nIVA_Diferencia = @nIVA_Diferencia + ( @Item_RFD_Valor_IVA - @nIVA_Calculado ) ;    
             SET @nIVA_Sumatoria  = @nIVA_Sumatoria  + @nIVA_Calculado ; 

             SET @uLINFAC = @uLINFAC + @sSepLinea ;                  
             SET @uLINFAC = @uLINFAC + 'LINETAX'                                      + @sSepCampo ;        
             SET @uLINFAC = @uLINFAC + '1'                                            + @sSepCampo ;  -- 02 Numero de Impuesto
             SET @uLINFAC = @uLINFAC + '002'                                          + @sSepCampo ;  -- 03 Tipo de Impuesto
             SET @uLINFAC = @uLINFAC + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( CAST(@Item_PDF_Valor_Subt AS DECIMAL(24,6)), 2 ), '') + @sSepCampo ;  -- 04 Base Imponible
             SET @uLINFAC = @uLINFAC + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( @nIVA_Calculado     , 2 ), '')  + @sSepCampo ;  -- 05 Impuesto
             SET @uLINFAC = @uLINFAC + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( CAST(@nTasa_LP AS DECIMAL(24,6))   / 100, 6 ), '')  + @sSepCampo ;  -- 06 Tasa
             SET @uLINFAC = @uLINFAC + 'Tasa'                                         + @sSepCampo ;  -- 07 Factor de Impuesto
             SET @uLINFAC = @uLINFAC + 'T'                                            + @sSepCampo ;  -- 08 Calificador        
          END 
          ELSE
          BEGIN
             SET @uLINFAC = @uLINFAC + @sSepLinea ;                  
             SET @uLINFAC = @uLINFAC + 'LINETAX'                                      + @sSepCampo ;        
             SET @uLINFAC = @uLINFAC + '1'                                            + @sSepCampo ;  -- 02 Numero de Impuesto
             SET @uLINFAC = @uLINFAC + '002'                                          + @sSepCampo ;  -- 03 Tipo de Impuesto
             SET @uLINFAC = @uLINFAC + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( CAST(@Item_PDF_Valor_Subt AS DECIMAL(24,6)), 2 ), '') + @sSepCampo ;  -- 04 Base Imponible
             SET @uLINFAC = @uLINFAC + '0.00'                                         + @sSepCampo ;  -- 05 Impuesto
             SET @uLINFAC = @uLINFAC + '0.000000'                                     + @sSepCampo ;  -- 06 Tasa
             SET @uLINFAC = @uLINFAC + 'Tasa'                                         + @sSepCampo ;  -- 07 Factor de Impuesto
             SET @uLINFAC = @uLINFAC + 'T'                                            + @sSepCampo ;  -- 08 Calificador              
          END 

          SET @nEnvio_Subt   = @nEnvio_Subt   + @Item_Envio_Subt   ;
          SET @nEnvio_IVA    = @nEnvio_IVA    + @Item_Envio_IVA    ;
          SET @nDocto_IVA    = @nDocto_IVA    + @Item_Envio_IVA    ;
          SET @nCredito_Subt = @nCredito_Subt + @Item_Credito_Subt ;
          SET @nCredito_IVA  = @nCredito_IVA  + @Item_Credito_IVA  ;

          FETCH NEXT FROM ScrDetalle INTO @Item_numLinea, @Item_cantidad, @Item_unidad, @Item_noIdentificacion, @Item_descripcion, @Item_valorUnitario_Ori, @Item_valorUnitario, @Item_importe, @Item_RFD_Valor_Subt, @Item_RFD_Valor_IVA, @Item_PDF_Valor_Subt, @Item_PDF_Valor_IVA, @Item_PDF_TASA_IVA, @Item_Envio_Subt, @Item_Envio_IVA, @Item_Credito_Subt, @Item_Credito_IVA;
       END 
       CLOSE ScrDetalle;

       -- Desglosar Costo de Distribucion   
       IF ( @nEnvio_Subt > 0 ) 
       BEGIN
          SET @nLineas    = @nLineas    + 1 ; 
          SET @nNum_Linea = @nNum_Linea + 1 ;      
          
          SELECT @sEnvio_ID_Code  = EAI_Owner.getConv( 'CFG Settings', 'Envio-SKU-ID'         ),
                 @sEnvio_UM       = EAI_Owner.getConv( 'CFG Settings', 'Envio-UnidadMedida'   ),
                 @sEnvio_Descrip  = EAI_Owner.getConv( 'CFG Settings', 'Envio-Descripcion'    ),  
                 @sEnvio_SAT_IDDet = EAI_Owner.getConv( 'CFG Settings', 'Envio-SAT-ID'         ),
                 @sEnvio_SAT_IDMay = EAI_Owner.getConv( 'CFG Settings', 'Envio-SAT-ID-Mayoreo' ), 
                 @sEnvio_SAT_UM   = EAI_Owner.getConv( 'CFG Settings', 'Envio-SAT-UM'         );

          SELECT @sEnvio_SAT_ID = MAX( SKU_SAT ) 
             FROM T3.Conv_Lista_Grupo_Precio
             WHERE Lista_Precio = @sLista_Precio ;

          IF ( ISNULL( @sEnvio_SAT_ID, 'Det' ) = 'Det' ) 
          BEGIN
              SET @sEnvio_SAT_ID = @sEnvio_SAT_IDDet ;
          END 
          ELSE
          BEGIN
              SET @sEnvio_SAT_ID = @sEnvio_SAT_IDMay ;
          END          

          SET @sStepPLSQL = 'LINE Dist Fee (' + CAST(@nEnvio_Subt AS VARCHAR) + '/' + CAST(@nEnvio_IVA AS VARCHAR) + ')' ;
          SET @uLINFAC = @uLINFAC + @sSepLinea ;
          SET @uLINFAC = @uLINFAC + 'LINE'                                                                + @sSepCampo ;
          SET @uLINFAC = @uLINFAC + LTRIM(RTRIM(CAST(@nNum_Linea AS VARCHAR)))                            + @sSepCampo ;   -- 02 Linea de Factura
          SET @uLINFAC = @uLINFAC + ISNULL(@sEnvio_SAT_ID,'')                                             + @sSepCampo ;   -- 03 Codigo SAT
          SET @uLINFAC = @uLINFAC + ISNULL(@sEnvio_Descrip,'')                                            + @sSepCampo ;   -- 04 Descripcion
          SET @uLINFAC = @uLINFAC + ISNULL(@sEnvio_ID_Code,'')                                            + @sSepCampo ;   -- 05 No Interno
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 06 Agente de Retencion
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 07 Monto Impuesto Retenido
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 08 Monto Impuesto Retenido
          SET @uLINFAC = @uLINFAC + '1'                                                                   + @sSepCampo ;   -- 09 Cantidad
          SET @uLINFAC = @uLINFAC + ISNULL(@sEnvio_UM,'')                                                 + @sSepCampo ;   -- 10 UdeM Interna
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 11 Cantidad UdeM Referenciada
          SET @uLINFAC = @uLINFAC + ISNULL(@sEnvio_SAT_UM,'')                                             + @sSepCampo ;   -- 12 UdeM SAT
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 13 Precio Unitario Referencia
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 14 Grados de Alcohol
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 15 Fecha de Elaboracion
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 16 Fecha de Vencimiento
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 17 Monto de Descuento
          SET @uLINFAC = @uLINFAC + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( @nEnvio_Subt, 2 ), '')               + @sSepCampo ;   -- 18 Precio Unitario
          SET @uLINFAC = @uLINFAC + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( @nEnvio_Subt, 2 ), '')               + @sSepCampo ;   -- 19 Monto de Cargo
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 20 Codigo de Impuesto Adicional
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 21 Precio Unitario en otra Moneda
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 22 Codigo Item en otra Moneda
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 23 Descuento Item en otra Moneda
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 24 Recargo Item en otra Moneda
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 25 Monto Item en otra Moneda
          SET @uLINFAC = @uLINFAC + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( @nEnvio_Subt, 2 ), '')               + @sSepCampo ;   -- 26 Total Amount
          SET @uLINFAC = @uLINFAC + '1'                                                                   + @sSepCampo ;   -- 27 Facturable
          SET @uLINFAC = @uLINFAC + '02'                                                                  + @sSepCampo ;   -- 28 Objeto de Impuesto
          SET @uLINFAC = @uLINFAC + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( @nEnvio_Subt, 2 ), '')               + @sSepCampo ;   -- 29 Precio Neto
          SET @uLINFAC = @uLINFAC + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( @nEnvio_Subt, 2 ), '')               + @sSepCampo ;   -- 30 Precio Bruto
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 31 Pedimiento
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 32 Predial

          SET @sStepPLSQL = 'LINE Dist Fee - Porcentaje' ;
          SET @nEnvio_TASA = 16 ;
          SET @nEnvio_IVA  = ROUND( @nEnvio_Subt * @nEnvio_TASA / 100, 2 ) ;    

          SET @uLINFAC = @uLINFAC + @sSepLinea ;                  
          SET @uLINFAC = @uLINFAC + 'LINETAX'                                      + @sSepCampo ;        
          SET @uLINFAC = @uLINFAC + '1'                                            + @sSepCampo ;  -- 02 Numero de Impuesto
          SET @uLINFAC = @uLINFAC + '002'                                          + @sSepCampo ;  -- 03 Tipo de Impuesto
          SET @uLINFAC = @uLINFAC + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( @nEnvio_Subt        , 2 ), '')  + @sSepCampo ;  -- 04 Base Imponible
          SET @uLINFAC = @uLINFAC + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( @nEnvio_IVA         , 2 ), '')  + @sSepCampo ;  -- 05 Impuesto
          SET @uLINFAC = @uLINFAC + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( @nEnvio_TASA / 100  , 6 ), '')  + @sSepCampo ;  -- 06 Tasa
          SET @uLINFAC = @uLINFAC + 'Tasa'                                         + @sSepCampo ;  -- 07 Factor de Impuesto
          SET @uLINFAC = @uLINFAC + 'T'                                            ;

          SET @nItems = @nItems + @nEnvio_Subt + @nEnvio_IVA ;
       END 

       -- Desglosar Costo de Credito
       IF ( @nCredito_Subt > 0 ) 
       BEGIN
          SET @nLineas    = @nLineas    + 1 ; 
          SET @nNum_Linea = @nNum_Linea + 1 ;      
          
          SELECT @sCredito_ID_Code = EAI_Owner.getConv( 'CFG Settings', 'Credito-SKU-ID'         ),
                 @sCredito_ID_UPC  = EAI_Owner.getConv( 'CFG Settings', 'Credito-SKU-UPC'        ),
                 @sCredito_UM      = EAI_Owner.getConv( 'CFG Settings', 'Credito-UnidadMedida'   ),  
                 @sCredito_Descrip = EAI_Owner.getConv( 'CFG Settings', 'Credito-Descripcion'    ),  
                 @sCredito_SAT_ID  = EAI_Owner.getConv( 'CFG Settings', 'Credito-SAT-ID'         ),
                 @sCredito_SAT_UM  = EAI_Owner.getConv( 'CFG Settings', 'Credito-SAT-UM'         );

          SET @sStepPLSQL = 'LINE Credit Fee' ;
          SET @uLINFAC = @uLINFAC + @sSepLinea ;
          SET @uLINFAC = @uLINFAC + 'LINE'                                                                + @sSepCampo ;
          SET @uLINFAC = @uLINFAC + LTRIM(RTRIM(CAST(@nNum_Linea AS VARCHAR)))                            + @sSepCampo ;   -- 02 Linea de Factura
          SET @uLINFAC = @uLINFAC + ISNULL(@sCredito_SAT_ID,'')                                           + @sSepCampo ;   -- 03 Codigo SAT
          SET @uLINFAC = @uLINFAC + ISNULL(@sCredito_Descrip,'')                                          + @sSepCampo ;   -- 04 Descripcion
          SET @uLINFAC = @uLINFAC + ISNULL(@sCredito_ID_Code,'')                                          + @sSepCampo ;   -- 05 No Interno
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 06 Agente de Retencion
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 07 Monto Impuesto Retenido
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 08 Monto Impuesto Retenido
          SET @uLINFAC = @uLINFAC + '1'                                                                   + @sSepCampo ;   -- 09 Cantidad
          SET @uLINFAC = @uLINFAC + ISNULL(@sCredito_UM,'')                                               + @sSepCampo ;   -- 10 UdeM Interna
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 11 Cantidad UdeM Referenciada
          SET @uLINFAC = @uLINFAC + ISNULL(@sEnvio_SAT_UM,'')                                             + @sSepCampo ;   -- 12 UdeM SAT
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 13 Precio Unitario Referencia
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 14 Grados de Alcohol
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 15 Fecha de Elaboracion
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 16 Fecha de Vencimiento
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 17 Monto de Descuento
          SET @uLINFAC = @uLINFAC + LTRIM(RTRIM(CAST(CAST(@nCredito_Subt AS DECIMAL(18,2)) AS VARCHAR)))   + @sSepCampo ;   -- 18 Precio Unitario
          SET @uLINFAC = @uLINFAC + LTRIM(RTRIM(CAST(CAST(@nCredito_Subt AS DECIMAL(18,2)) AS VARCHAR)))   + @sSepCampo ;   -- 19 Monto de Cargo
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 20 Codigo de Impuesto Adicional
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 21 Precio Unitario en otra Moneda
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 22 Codigo Item en otra Moneda
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 23 Descuento Item en otra Moneda
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 24 Recargo Item en otra Moneda
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 25 Monto Item en otra Moneda
          SET @uLINFAC = @uLINFAC + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( @nCredito_Subt, 2 ), '')             + @sSepCampo ;   -- 26 Total Amount
          SET @uLINFAC = @uLINFAC + '1'                                                                   + @sSepCampo ;   -- 27 Facturable
          SET @uLINFAC = @uLINFAC + '02'                                                                  + @sSepCampo ;   -- 28 Objeto de Impuesto
          SET @uLINFAC = @uLINFAC + LTRIM(RTRIM(CAST(CAST(@nCredito_Subt AS DECIMAL(18,2)) AS VARCHAR)))   + @sSepCampo ;   -- 29 Precio Neto
          SET @uLINFAC = @uLINFAC + LTRIM(RTRIM(CAST(CAST(@nCredito_Subt AS DECIMAL(18,2)) AS VARCHAR)))   + @sSepCampo ;   -- 30 Precio Bruto
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 31 Pedimiento
          SET @uLINFAC = @uLINFAC + ''                                                                    + @sSepCampo ;   -- 32 Predial

          SET @nEnvio_TASA  = 16 ;
          SET @nCredito_IVA = ROUND( @nCredito_Subt * @nEnvio_TASA / 100, 2 ) ;

          SET @uLINFAC = @uLINFAC + @sSepLinea ;                  
          SET @uLINFAC = @uLINFAC + 'LINETAX'                                      + @sSepCampo ;        
          SET @uLINFAC = @uLINFAC + '1'                                            + @sSepCampo ;  -- 02 Numero de Impuesto
          SET @uLINFAC = @uLINFAC + '002'                                          + @sSepCampo ;  -- 03 Tipo de Impuesto
          SET @uLINFAC = @uLINFAC + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( @nCredito_Subt        , 2 ), '')  + @sSepCampo ;  -- 04 Base Imponible
          SET @uLINFAC = @uLINFAC + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( @nCredito_IVA         , 2 ), '')  + @sSepCampo ;  -- 05 Impuesto
          SET @uLINFAC = @uLINFAC + ISNULL([T3].[FN_NUM_TO_CHAR_CFDI]( @nEnvio_TASA   / 100, 6 ), '')  + @sSepCampo ;  -- 06 Tasa
          SET @uLINFAC = @uLINFAC + 'Tasa'                                         + @sSepCampo ;  -- 07 Factor de Impuesto
          SET @uLINFAC = @uLINFAC + 'T'                                            + @sSepCampo ;  -- 08 Calificador
         
          SET @nItems = @nItems + @nCredito_Subt + @nCredito_IVA ;
       END 

       INSERT INTO T3.CFDI_Agrupado_DIF ( Nota_VENTA_CFDI, Ajuste, Fecha )
          VALUES ( @pFactura, @nAjuste_IVA * -1, GETDATE() ) ;    

       -- Agregar las Notas de Venta Agrupadas
       SET @nLinClie = @nLinClie + 1 ; 
       SET @nLineas  = @nLineas  + 1 ; 
       SET @uLINFAC  = @uLINFAC + @sSepLinea ;
       SET @uLINFAC  = @uLINFAC + 'LINCLIE'                  + @sSepCampo ;
       SET @uLINFAC  = @uLINFAC + LTRIM(RTRIM(CAST(@nLineas AS VARCHAR))) + @sSepCampo ;
       
       IF ( @sTipoComp = 'I' ) 
       BEGIN
          SET @sAgrupacion = 'Esta factura agrupa los folios de las notas de venta siguientes: ' ;
       END 
       ELSE
       BEGIN
          SET @sAgrupacion = 'Esta nota de crédito agrupa los folios de las notas de devolución siguientes: ' ;
       END 

       SET @nDoctos = 0 ;
       OPEN ScrDocumentos;
       FETCH NEXT FROM ScrDocumentos INTO @Nota_Nota_Venta;
       WHILE @@FETCH_STATUS = 0
       BEGIN
          SET @nDoctos = @nDoctos + 1 ;
          IF ( @nDoctos = 1 ) 
          BEGIN
              SET @sAgrupacion = @sAgrupacion + @Nota_Nota_Venta ;
          END 
          ELSE
          BEGIN
              SET @sAgrupacion = @sAgrupacion + ', ' + @Nota_Nota_Venta ;
          END 
          FETCH NEXT FROM ScrDocumentos INTO @Nota_Nota_Venta;
       END 
       CLOSE ScrDocumentos;  
       
       SET @uLINFAC = @uLINFAC + ISNULL(@sAgrupacion,'')           + @sSepCampo ;   

       OPEN ScrTextoAdicional;
       FETCH NEXT FROM ScrTextoAdicional INTO @Adi_Linea, @Adi_Texto;
       WHILE @@FETCH_STATUS = 0
       BEGIN
          SET @nLineas = @nLineas + 1 ; 
          SET @uLINFAC = @uLINFAC + @sSepLinea ;
          SET @uLINFAC = @uLINFAC + 'LINCLIE'                  + @sSepCampo ;
          SET @uLINFAC = @uLINFAC + LTRIM(RTRIM(CAST(@nLineas AS VARCHAR))) + @sSepCampo ;
          SET @uLINFAC = @uLINFAC + ISNULL(@Adi_Texto,'')                  + @sSepCampo ;
          FETCH NEXT FROM ScrTextoAdicional INTO @Adi_Linea, @Adi_Texto;
       END 
       CLOSE ScrTextoAdicional;                    

       IF ( @nIMPFAC > 1 ) 
       BEGIN
          SET @nLineas  = @nLineas  + 1 ; 
          SET @nLinClie = @nLinClie + 1 ;
          SET @uLINFAC  = @uLINFAC + @sSepLinea ;
          SET @uLINFAC  = @uLINFAC + 'LINCLIE'                  + @sSepCampo ;
          SET @uLINFAC = @uLINFAC + LTRIM(RTRIM(CAST(@nLineas AS VARCHAR))) + @sSepCampo ;
          SET @uLINFAC  = @uLINFAC + 'Este documento contiene:' + @sSepCampo ; 
    
          SET @nLineas  = @nLineas  + 1 ;
          SET @nLinClie = @nLinClie + 1 ; 
          SET @uLINFAC  = @uLINFAC + @sSepLinea ;
          SET @uLINFAC  = @uLINFAC + 'LINCLIE'                  + @sSepCampo ;
          SET @uLINFAC  = @uLINFAC + LTRIM(RTRIM(CAST(@nLineas AS VARCHAR))) + @sSepCampo ;
          SET @uLINFAC  = @uLINFAC + 'Ingreso base 16% ' + LTRIM(RTRIM(CAST(CAST(@nImpSubtot_TASAIVA AS DECIMAL(18,2)) AS VARCHAR))) + @sSepCampo ;
    
          SET @nLineas  = @nLineas  + 1 ;
          SET @nLinClie = @nLinClie + 1 ; 
          SET @uLINFAC  = @uLINFAC + @sSepLinea ;
          SET @uLINFAC  = @uLINFAC + 'LINCLIE'                  + @sSepCampo ;
          SET @uLINFAC  = @uLINFAC + LTRIM(RTRIM(CAST(@nLineas AS VARCHAR))) + @sSepCampo ;
          SET @uLINFAC  = @uLINFAC + 'Ingreso base 0% ' + LTRIM(RTRIM(CAST(CAST(@nImpSubtot_TASA00 AS DECIMAL(18,2)) AS VARCHAR))) + @sSepCampo ;
       END    

       SET @sReturn = ISNULL(@sReturn,'') + ISNULL(@uHEADER,'')  + @sSepLinea ;
       SET @sReturn = @sReturn + ISNULL(@sCABCLIE,'') + @sSepLinea ;
       SET @sReturn = @sReturn + ISNULL(@uIMPFAC,'')  + @sSepLinea ;

       IF ( ( LEN( @sReturn ) > 10 ) AND ( LEN( @uLINFAC ) > 10 ) AND ( ABS( @nTotal - @nItems ) < 0.50 ) ) 
       BEGIN
          SET @sData = @sReturn ;
          SET @sData = @sData + ISNULL(@uLINFAC,'') ;   
          
          IF ( ABS( @nDocto_IVA - @nEnvio_IVA ) < 0.99 ) 
          BEGIN  
             INSERT INTO T3.CFDI_DOCUMENTOS_ENVIAR ( Nota_Venta, Informacion )
                VALUES ( @pFactura, @sData ) ;
             INSERT INTO T3.CFDI_Documentos ( Nota_Venta, Ctro, Fecha_Liberacion, Metodo_Pago )
                VALUES ( @pFactura, @sCtro, GETDATE(), 'PUE' ) ;              
          END 
          ELSE
          BEGIN
             INSERT INTO T3.RF_ERROR_LOG 
                ( FECHA, RUTINA, REFERENCIA, ERROR_DESC )
             VALUES
                ( GETDATE(), 'GENERAR_AGR', @pFactura, 'Revisar IVA de Distribution Fee' ) ;   
          END 
       END 
       ELSE          
       BEGIN
          INSERT INTO T3.RF_ERROR_LOG 
             ( FECHA, RUTINA, REFERENCIA, ERROR_DESC )
          VALUES
             ( GETDATE(), 'GENERAR_AGR', @pFactura, 'Doc=>' + CAST(@nTotal AS VARCHAR) + ' vs Items=> ' + CAST(@nItems AS VARCHAR) ) ;   
       END 

       DEALLOCATE ScrDatos;
       DEALLOCATE ScrDetalle;
       DEALLOCATE ScrDocumentos;
       DEALLOCATE ScrReenvio;
       DEALLOCATE ScrTextoAdicional;

    END TRY
    BEGIN CATCH
       IF CURSOR_STATUS('local', 'ScrDatos') >= 0 BEGIN CLOSE ScrDatos; DEALLOCATE ScrDatos; END;
       ELSE IF CURSOR_STATUS('local', 'ScrDatos') = -1 BEGIN DEALLOCATE ScrDatos; END;

       IF CURSOR_STATUS('local', 'ScrDetalle') >= 0 BEGIN CLOSE ScrDetalle; DEALLOCATE ScrDetalle; END;
       ELSE IF CURSOR_STATUS('local', 'ScrDetalle') = -1 BEGIN DEALLOCATE ScrDetalle; END;

       IF CURSOR_STATUS('local', 'ScrDocumentos') >= 0 BEGIN CLOSE ScrDocumentos; DEALLOCATE ScrDocumentos; END;
       ELSE IF CURSOR_STATUS('local', 'ScrDocumentos') = -1 BEGIN DEALLOCATE ScrDocumentos; END;

       IF CURSOR_STATUS('local', 'ScrReenvio') >= 0 BEGIN CLOSE ScrReenvio; DEALLOCATE ScrReenvio; END;
       ELSE IF CURSOR_STATUS('local', 'ScrReenvio') = -1 BEGIN DEALLOCATE ScrReenvio; END;

       IF CURSOR_STATUS('local', 'ScrTextoAdicional') >= 0 BEGIN CLOSE ScrTextoAdicional; DEALLOCATE ScrTextoAdicional; END;
       ELSE IF CURSOR_STATUS('local', 'ScrTextoAdicional') = -1 BEGIN DEALLOCATE ScrTextoAdicional; END;

       SET @sMsg = SUBSTRING( CAST(ERROR_NUMBER() AS VARCHAR) + '-' + ERROR_MESSAGE(), 1, 250 ) ;
       SET @sMsg = SUBSTRING( ERROR_MESSAGE(), 1, 250 ) ;

       PRINT '--------------------------------------------------------------------------------' ;
       PRINT 'Problemas en la ejecucion del Procedimiento' ;
       PRINT 'FAVOR DE ESCALAR LOS SIGUIENTES DATOS :' ;
       PRINT 'Procedimiento : PROC_V40_GENERAR_AGR' ;
       PRINT 'Fecha         : ' + FORMAT( GETDATE(), 'yyyyMMdd HH:mm:ss' ) ;
       PRINT 'Referencia    : ' + ISNULL(@strID,'') ;
       PRINT 'Secuencia     : ' + ISNULL(@sStepPLSQL,'') ;      
       PRINT 'Error         : ' + ISNULL(@sMsg,'') ;
       PRINT '--------------------------------------------------------------------------------' ;

       INSERT INTO T3.RF_ERROR_LOG 
          ( FECHA, RUTINA, REFERENCIA, ERROR_DESC )
       VALUES
          ( GETDATE(), 'GENERAR_AGR', @strID, @sMsg ) ;

    END CATCH

END;
GO
