USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_V20_GENERAR_PAGO_AGR]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[PROC_V20_GENERAR_PAGO_AGR]  
(
    @pFactura  NUMERIC(22,2),
    @pOutput   INT = 0
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @strID                VARCHAR(30) ;
    DECLARE @strStage             VARCHAR(30) ;
    DECLARE @sMsg                 VARCHAR(500) ;  
    DECLARE @sCtro                VARCHAR(4) ;  
----  
    DECLARE @sReturn              VARCHAR(MAX) ; -- CLOB
    DECLARE @uLINPAGOS            VARCHAR(MAX) ; -- CLOB
    DECLARE @uCABCLIE             VARCHAR(4000) ;
-- DECLARE @sLINFAC              VARCHAR(4000) ;
    DECLARE @sLeyMenor            VARCHAR(4000) ;
    DECLARE @sLeyPriv             VARCHAR(4000) ;
    DECLARE @sSepLinea            VARCHAR(4) ;
    DECLARE @sSepCampo            VARCHAR(4) ;
    DECLARE @sFactura             VARCHAR(30) ;
    DECLARE @sRecibe_RFC          VARCHAR(30) ;
    DECLARE @sRFC                 VARCHAR(30) ;
    DECLARE @sAccnt_ID            VARCHAR(40) ;
    DECLARE @sAddenda             VARCHAR(2) ;
    DECLARE @nLineas              INT ;
    DECLARE @sData                VARCHAR(MAX) ; -- CLOB
    DECLARE @sCFDIREL             VARCHAR(2000) ;
    DECLARE @nAmtImporte          NUMERIC(22,3) ;
    DECLARE @nAmtValor_Subt_16    NUMERIC(22,3) ;
    DECLARE @nAmtValor_Subt_00    NUMERIC(22,3) ;
    DECLARE @nAmtValor_IVA_16     NUMERIC(22,3) ;
    DECLARE @nAmtValor_IEPS       NUMERIC(22,3) ;
    DECLARE @nPagoFactor          NUMERIC(12,6) ;
    DECLARE @nPagoValor_Subt_16   NUMERIC(24,6) ;
    DECLARE @nPagoValor_Subt_00   NUMERIC(24,6) ;
    DECLARE @nPagoValor_IVA_16    NUMERIC(24,6) ;
    DECLARE @nPagoValor_IEPS      NUMERIC(24,6) ;
    DECLARE @nPagoValor_IVA_Calc  NUMERIC(24,6) ;
    DECLARE @sFacturaPagada       VARCHAR(40) ;
    DECLARE @nAcumValor_Subt_16   NUMERIC(24,6) ;
    DECLARE @nAcumValor_Subt_00   NUMERIC(24,6) ;
    DECLARE @nAcumValor_IVA_16    NUMERIC(24,6) ;
    DECLARE @nAcumValor_IVA_164D  NUMERIC(24,6) ;
    DECLARE @nAcumValor_IEPS      NUMERIC(24,6) ;
    DECLARE @nAcumImp_Abonado     NUMERIC(24,6) ;
--
    DECLARE @nAcumImp_Calculado   NUMERIC(24,6) ;
    DECLARE @nIVA_Calculado       NUMERIC(24,6) ;
    DECLARE @nDec_Calculo         INT ;
    DECLARE @nDec_Layout          INT ;  

    -- Variables cursores
    DECLARE @D_Emisor_RFC           VARCHAR(20),
            @D_Emisor_Nombre        VARCHAR(200),
            @D_Emisor_Calle         VARCHAR(200),
            @D_Emisor_NoExterior    VARCHAR(50),
            @D_Emisor_NoInterior    VARCHAR(50),
            @D_Emisor_Colonia       VARCHAR(100),
            @D_Emisor_Localidad     VARCHAR(100),
            @D_Emisor_Referencia    VARCHAR(100),
            @D_Emisor_Municipio     VARCHAR(100),
            @D_Emisor_Estado        VARCHAR(100),
            @D_Emisor_Pais          VARCHAR(50),
            @D_Emisor_CodigoPostal  VARCHAR(20),
            @D_Emisor_Expedicion    VARCHAR(20),
            @D_Emisor_LugarExpide   VARCHAR(100),
			@D_Remite_State			VARCHAR(200);

    DECLARE @D_Folio_ID               VARCHAR(50),
            @D_Ctro                   VARCHAR(10),
            @D_tagCPAGOS              VARCHAR(20),
            @D_VersionCFDI            VARCHAR(10),
            @D_Serie                  VARCHAR(10),
            @D_Folio                  VARCHAR(50),
            @D_Fecha_Comprobante      VARCHAR(50),
            @D_Regimen_Fiscal         VARCHAR(100),
            @D_Regimen_Fiscal_Cte     VARCHAR(100),
            @D_Recibe_RFC             VARCHAR(20),
            @D_Recibe_Nombre          VARCHAR(200),
            @D_Recibe_Calle           VARCHAR(200),
            @D_Recibe_NoExterior      VARCHAR(50),
            @D_Recibe_NoInterior      VARCHAR(50),
            @D_Recibe_Colonia         VARCHAR(100),
            @D_Recibe_Localidad       VARCHAR(100),
            @D_Recibe_Referencia      VARCHAR(100),
            @D_Recibe_Municipio       VARCHAR(100),
            @D_Recibe_Estado          VARCHAR(100),
            @D_Recibe_Pais            VARCHAR(50),
            @D_Recibe_codigoPostal    VARCHAR(20),
            @D_Recibe_PaisReside      VARCHAR(50),
            @D_Recibe_RegTributa      VARCHAR(50),
            @D_Remite_Calle           VARCHAR(200),
            @D_Remite_Colonia         VARCHAR(100),
            @D_Remite_Municipio       VARCHAR(100),
            @D_Remite_Estado          VARCHAR(100),
            @D_Remite_Pais            VARCHAR(50),
            @D_Remite_codigoPostal    VARCHAR(20),
            @D_pedidoV3               VARCHAR(50),
            @D_sucursalNombre         VARCHAR(100),
            @D_pedidoSAP              VARCHAR(50),
            @D_facturaSAP             VARCHAR(50),
            @D_UsoCFDI_Payment        VARCHAR(50),
            @D_Tipo_Documento         VARCHAR(20),
            @D_CentroExpedicion       VARCHAR(10),
            @D_Recibe_Cliente         VARCHAR(50),
            @D_Remite_Cliente         VARCHAR(50),
            @D_eMail                  VARCHAR(200),
            @D_tagCPAGO               VARCHAR(20),
            @D_Numero_Pago            INT,
            @D_Fecha_Pago             VARCHAR(50),
            @D_Forma_Pago             VARCHAR(10),
            @D_Moneda_Pago            VARCHAR(10),
            @D_Tipo_Cambio_Pago       VARCHAR(10),
            @D_Importe_Pago           VARCHAR(30),
            @D_Numero_Cheque          VARCHAR(50),
            @D_Origen_Banco           VARCHAR(100),
            @D_Banco_Extranjero       VARCHAR(100),
            @D_Origen_Num_Cuenta      VARCHAR(50),
            @D_Destino_RFC_Banco      VARCHAR(20),
            @D_Destino_Num_Cuenta     VARCHAR(50),
            @D_Certificado_Pago       VARCHAR(50),
            @D_Cad_Original_Pago      VARCHAR(MAX),
            @D_Sello_Digital_Pago     VARCHAR(MAX);
           
    DECLARE @D_Tipo_Cambio_Pago_Dup   VARCHAR(10);

    DECLARE @Det_tagCPAGODR           VARCHAR(20),
            @Det_Factura              VARCHAR(50),
            @Det_ID_Documento         VARCHAR(100),
            @Det_Serie_Venta          VARCHAR(20),
            @Det_Folio_Venta          VARCHAR(50),
            @Det_metodo_Pago          VARCHAR(20),
            @Det_Moneda_Pago          VARCHAR(10),
            @Det_Parcialidad          VARCHAR(20),
            @Det_Saldo_Anterior       VARCHAR(30),
            @Det_Importe_Abonado      NUMERIC(22,3),
            @Det_Saldo_Final          VARCHAR(30);
    DECLARE @Imp_Valor_Subt_16        NUMERIC(22,3),
            @Imp_Valor_Subt_00        NUMERIC(22,3),
            @Imp_Valor_IVA_16         NUMERIC(22,3),
            @Imp_Valor_IEPS           NUMERIC(22,3);
    DECLARE @Env_Folio_Fiscal         VARCHAR(100),
            @Env_Fecha_factura        DATETIME;

    DECLARE ScrDatos CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT
              LTRIM(RTRIM(CAST(CFD.Folio_ID AS VARCHAR(30))))      AS Folio_ID           ,
              CFD.Ctro                                             AS Ctro               ,
              'CPAGOS'                                             AS tagCPAGOS          ,
              '2.0'                                                AS VersionCFDI        ,
              'CTRL'                                               AS Serie              ,
              CFD.Folio_ID                                         AS Folio              ,
              CONVERT(VARCHAR(20), GETDATE(), 112) + REPLACE(CONVERT(VARCHAR(8), GETDATE(), 108), ':', '') AS Fecha_Comprobante,
              EAI_Owner.getConv( 'CFG Settings', 'Regimen Fiscal' ) AS Regimen_Fiscal     ,
              ISNULL( Reg.Regimen_Fiscal, EAI_Owner.getConv( 'CFG Settings', 'Regimen Fiscal Cliente' ) ) AS Regimen_Fiscal_Cte ,
              T3.FN_TRIM_CFDI( Soc.RFC             )               AS Emisor_RFC         ,
              T3.FN_TRIM_CFDI( Soc.Razon_Social_HH )               AS Emisor_Nombre      ,
              T3.FN_TRIM_CFDI( Soc.Calle           )               AS Emisor_Calle       ,
              T3.FN_TRIM_CFDI( Soc.Numero_Ext      )               AS Emisor_NoExterior  ,
              T3.FN_TRIM_CFDI( Soc.Numero_Int      )               AS Emisor_NoInterior  ,
              T3.FN_TRIM_CFDI( Soc.Colonia         )               AS Emisor_Colonia     ,
              T3.FN_TRIM_CFDI( Soc.Localidad       )               AS Emisor_Localidad   ,
              ''                                                   AS Emisor_Referencia  ,
              T3.FN_TRIM_CFDI( Soc.Municipio       )               AS Emisor_Municipio   ,
              T3.FN_TRIM_CFDI( EAI_Owner.getConv( 'CFDI Estado', Soc.Estado ) ) AS Emisor_Estado ,
              T3.FN_TRIM_CFDI( Soc.Pais            )               AS Emisor_Pais        ,
              T3.FN_TRIM_CFDI( Soc.Codigo_Postal  )               AS Emisor_CodigoPostal,
              '64000'                                              AS Emisor_Expedicion  ,
              'Monterrey, N.L.'                                    AS Emisor_LugarExpide ,                                                
              T3.FN_TRIM_CFDI( Cte.RFC            )               AS Recibe_RFC         ,
              LTRIM(RTRIM(ISNULL( RS.Razon_Social, Cte.Nombre )))  AS Recibe_Nombre      ,
              T3.FN_TRIM_CFDI( Cte.Direccion_3    )               AS Recibe_Calle       ,
              ''                                                   AS Recibe_NoExterior  ,
              ''                                                   AS Recibe_NoInterior  ,
              T3.FN_TRIM_CFDI( Cte.Colonia_3      )               AS Recibe_Colonia     ,
              ''                                                   AS Recibe_Localidad   ,
              ''                                                   AS Recibe_Referencia  ,
              T3.FN_TRIM_CFDI( Cte.Ciudad_3       )               AS Recibe_Municipio   ,
              T3.FN_TRIM_CFDI( EAI_Owner.getConv( 'CFDI Estado', Cte.Estado_3 ) ) AS Recibe_Estado ,
              CASE WHEN UPPER(T3.FN_TRIM_CFDI( Cte.Pais_3)) = 'MX' THEN 'Mexico'
                   ELSE T3.FN_TRIM_CFDI( Cte.Pais_3) END           AS Recibe_Pais        ,
              T3.FN_TRIM_CFDI( REPLICATE('0', 5 - LEN(ISNULL(ISNULL(CP.CP, Cte.Codigo_Postal_3), '99999'))) +
                               CAST(ISNULL(ISNULL(CP.CP, Cte.Codigo_Postal_3), '99999') AS VARCHAR) ) AS Recibe_codigoPostal,
              ''                                                   AS Recibe_PaisReside  ,
              ''                                                   AS Recibe_RegTributa  ,
--
              T3.FN_TRIM_CFDI( Cte.Direccion_2    )               AS Remite_Calle       ,
              T3.FN_TRIM_CFDI( Cte.Colonia_2      )               AS Remite_Colonia     ,
              T3.FN_TRIM_CFDI( Cte.Ciudad_2       )               AS Remite_Municipio   ,
              T3.FN_TRIM_CFDI( EAI_Owner.getConv( 'CFDI Estado', Cte.Estado_2 ) ) AS Remite_Estado ,
              CASE WHEN UPPER(T3.FN_TRIM_CFDI( Cte.Pais_2)) = 'MX' THEN 'Mexico'
                   ELSE T3.FN_TRIM_CFDI( Cte.Pais_2) END           AS Remite_Pais        ,
              T3.FN_TRIM_CFDI( REPLICATE('0', 5 - LEN(ISNULL(Cte.Codigo_Postal_2, '99999'))) + CAST(ISNULL(Cte.Codigo_Postal_2, '99999') AS VARCHAR) ) AS Remite_codigoPostal,
              ''                                                   AS pedidoV3           ,
              ''                                                   AS sucursalNombre     ,
              ''                                                   AS pedidoSAP          ,
              CFD.Asignacion_Central                               AS facturaSAP         ,
              EAI_Owner.getConv( 'CFG Settings', 'UsoCFDI_Payment' ) AS UsoCFDI_Payment   ,              
              'PAGO'                                               AS Tipo_Documento     ,
              CFD.Ctro                                             AS CentroExpedicion   ,
              Cte.Cliente_SAP                                      AS Recibe_Cliente     ,
              Cte.Cliente_SAP                                      AS Remite_Cliente     ,
              Mail.eMail                                           AS eMail              ,
--
              'CPAGO'                                              AS tagCPAGO           ,
              CFD.Numero_Pago                                      AS Numero_Pago        ,
              CONVERT(VARCHAR(8), CFD.Fecha_Asignacion, 112) + EAI_Owner.getConv( 'CFG Settings', 'Payment Default Time' ) AS Fecha_Pago,        
              CFD.Via_Pago                                         AS Forma_Pago         ,
              'MXN'                                                AS Moneda_Pago        ,
              ''                                                   AS Tipo_Cambio_Pago   ,
              LTRIM(STR(ISNULL(CFD.Importe, 0), 12, 2))            AS Importe_Pago       ,
              ''                                                   AS Numero_Cheque      ,
              ''                                                   AS Origen_Banco       ,
              ''                                                   AS Banco_Extranjero   ,
              ''                                                   AS Origen_Num_Cuenta  ,
              CFD.Receptor_Banco                                   AS Destino_RFC_Banco  ,
              CFD.Receptor_Cuenta                                  AS Destino_Num_Cuenta ,
              ''                                                   AS Tipo_Cambio_Pago   ,
              ''                                                   AS Certificado_Pago   ,
              ''                                                   AS Cad_Original_Pago  ,
              ''                                                   AS Sello_Digital_Pago  
          FROM
               (
                 SELECT Agr.Via_Pago, Agr.RFC,
                        Agr.Banco_Nombre, Agr.Banco_Num_Cuenta, Agr.Importe, Agr.Cantidad_Pagos, Agr.Cliente_SAP,
                        Agr.Agrupacion                                                AS Asignacion_ID     ,
                        Agr.Agrupacion                                                AS Folio_ID          ,
                        Agr.Fecha_Pago                                                AS Fecha_Asignacion  ,
                        ISNULL( T3.FN_CTRO_EDICOM_PAGO( Agr.Cliente_SAP ), 'MXAB' )      AS Ctro              ,
                        'MX16'                                                        AS Sociedad          ,
                        1                                                             AS Numero_Pago        ,
                        ''                                                            AS Numero_Cheque      ,
                        EAI_Owner.getConv( 'CFG Settings', 'Banco Def - Central'  )   AS Receptor_Banco    ,
                        EAI_Owner.getConv( 'CFG Settings', 'Cuenta Def - Central'  )  AS Receptor_Cuenta   ,
                        ISNULL( Agr.Asignacion_Central, '' )                             AS Asignacion_Central
                  FROM T3.CFDI_Agrupacion_CTRL Agr
                  WHERE Agr.Agrupacion = @pFactura
               )       CFD
          INNER JOIN T3.Mov_Cliente Cte ON CFD.Cliente_SAP = Cte.Cliente_SAP
          LEFT OUTER JOIN T3.TMD_EMAIL Mail ON Cte.Cliente_SAP = Mail.Cliente_SAP
          LEFT OUTER JOIN ( SELECT RFC, MAX( Valor ) AS Regimen_Fiscal FROM T3.CFDI_RFC_Setting WHERE Parametro = 'RegimenFiscal' GROUP BY RFC ) Reg ON Cte.RFC = Reg.RFC
          LEFT OUTER JOIN ( SELECT RFC, MAX( Valor ) AS Nombre FROM T3.CFDI_RFC_Setting WHERE Parametro = 'Nombre' GROUP BY RFC ) RS ON Cte.RFC = RS.RFC
          LEFT OUTER JOIN ( SELECT RFC, MAX( Valor ) AS CP FROM T3.CFDI_RFC_Setting WHERE Parametro = 'CodigoPostal' GROUP BY RFC ) CP ON Cte.RFC = CP.RFC
          INNER JOIN EAI.ZSDFE_Soc Soc ON CFD.Sociedad = Soc.BUKRS AND CFD.Sociedad = ISNULL( Soc.KUNNR, 'NULL' )
          LEFT OUTER JOIN (
                SELECT
                       CASE WHEN Alm.Ctro = 'MX7A' THEN 'MXAA'
                            WHEN Alm.Ctro = 'MX7B' THEN 'MXAB'
                            WHEN Alm.Ctro = 'MX7D' THEN 'MXAC'
                            ELSE Alm.Ctro END                                             AS Almacen_Ctro        ,                        
                       Alm.Municipio + ', ' + EAI_Owner.getConv( 'CFDI Estado', Alm.State ) AS Almacen_Lugar_Expide,    
                       T3.SeparaDireccion( Alm.Calle, 'Calle' )                               AS Almacen_Calle       ,
                       Alm.Numero_Exterior                                                AS Almacen_NoExterior  ,
                       ''                                                                 AS Almacen_NoInterior  ,                                                                      
                       T3.SeparaDireccion( Alm.Colonia, 'Col' )                               AS Almacen_Colonia     ,
                       T3.FN_TRIM_CFDI( Alm.Municipio )                                   AS Almacen_Municipio   ,
                       T3.FN_TRIM_CFDI( EAI_Owner.getConv( 'CFDI Estado', Alm.State ) )   AS Almacen_State       ,
                       T3.FN_TRIM_CFDI( Alm.Pais )                                        AS Almacen_Pais        ,
                       T3.FN_TRIM_CFDI( Alm.CODIGO_POSTAL )                               AS Almacen_codigoPostal                    
                 FROM T3.Distribuidor_Fiscal Alm
                 WHERE Ctro LIKE 'MX%'
          ) Alm ON CFD.Ctro = Alm.Almacen_Ctro;

    DECLARE ScrDetallePagos CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT
              'CPAGODR'                                           AS tagCPAGODR         ,
              CFD.Factura                                         AS Factura            ,
              CFD.UUID_Venta                                      AS ID_Documento       ,
              SUBSTRING( CFD.Factura, 1, CHARINDEX( '-', CFD.Factura ) - 1 ) AS Serie_Venta,
              LTRIM(RTRIM(SUBSTRING( CFD.Factura, CHARINDEX( '-', CFD.Factura ) + 1, 20 ))) AS Folio_Venta,    
              EAI_Owner.getConv( 'CFG Settings', 'Metodo Pago' )   AS metodo_Pago        ,    
              'MXN'                                               AS Moneda_Pago        ,
              LTRIM(RTRIM(CAST(CFD.Numero_Pago AS VARCHAR(10))))  AS Parcialidad        ,
              LTRIM(RTRIM(STR(ISNULL(CFD.Saldo_Anterior, 0), 15, 2))) AS Saldo_Anterior  ,                              
              ISNULL(CFD.Importe, 0)                              AS Importe_Abonado    ,
              LTRIM(RTRIM(STR(ISNULL(CFD.Saldo_Anterior, 0) - ISNULL(CFD.Importe, 0), 15, 2))) AS Saldo_Final                
          FROM T3.CFDI_AGRUPACION_PAGO Agr
          INNER JOIN T3.CFDI_Cobranza CFD ON Agr.Asignacion_ID = CFD.Asignacion_ID
          WHERE Agr.Agrupacion = @pFactura
          ORDER BY Agr.Asignacion_ID ;                    

    DECLARE ScrImpuestos CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT
               SUM( CASE WHEN Tasa = 16 THEN Valor_Subt - Desglose_IEPS ELSE 0 END ) AS Valor_Subt_16,
               SUM( CASE WHEN Tasa = 0  THEN Valor_Subt              ELSE 0 END ) AS Valor_Subt_00,
               SUM( CASE WHEN Tasa = 16 THEN Valor_IVA               ELSE 0 END ) AS Valor_IVA_16 ,
               SUM( Desglose_IEPS )                                               AS Valor_IEPS
        FROM (      
               SELECT
                      RFD.Material, RFD.Cantidad_Vta,
                      ISNULL( RFD.Valor_Subt , 0 ) + ISNULL( RFD.Envio_Subt , 0 ) + ISNULL( RFD.Credito_Subt, 0 )    AS Valor_Subt   ,
                      ISNULL( RFD.Valor_IVA   , 0 ) + ISNULL( RFD.Envio_IVA   , 0 ) + ISNULL( RFD.Credito_IVA , 0 )    AS Valor_IVA    ,
                      CASE WHEN ISNULL( RFD.Valor_IVA, 0 ) = 0 THEN 0 ELSE 16 END                             AS Tasa         ,
                      ISNULL( RFD.Bonif_Subt  , 0 )                                                                           AS Bonif_Subt   ,
                      ISNULL( RFD.Valor_IEPS  , 0 )                                                                           AS Valor_IEPS   ,
                      ISNULL( Uso.Desglose_IEPS, 0 ) * ISNULL( RFD.Valor_IEPS  , 0 )                                 AS Desglose_IEPS
                 FROM T3.Registro_Fiscal         RF ,
                      T3.Registro_Fiscal_Detalle RFD,
                      T3.CFDI_USOCFDI_CLIENTE   Uso
                 WHERE RF.Factura   = @sFacturaPagada
                   AND RF.Factura   = RFD.Factura
                   AND RF.Cliente_SAP = Uso.Cliente_SAP
             ) SubImp ;          

    DECLARE ScrReenvio CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT Folio_Fiscal, Fecha_factura
           FROM T3.CFDI_Reproceso
           WHERE Nota_Venta = @sFactura
           ORDER BY Fecha DESC ;    

    BEGIN TRY
        SET @strID    = CAST(@pFactura AS VARCHAR(30)) ;
        SET @sReturn  = '' ;
        SET @sSepLinea = CHAR(13) + CHAR(10) ;
        SET @sSepCampo = '|'  ;
        SET @sAddenda  = 'NO' ;  
        SET @sLeyMenor = 'Le recordamos que las leyes prohíben y sancionan la venta de cigarros a menores de 18 años de edad y en unidades sueltas. En caso de duda solicite identificación oficial. Ayúdenos a que los menores de edad no tengan acceso a los cigarros.' ;
        SET @sLeyPriv  = 'British American Tobacco México, S.A. de C.V. y sus empresas relacionadas (el "Grupo"), con domicilio en Avenida Francisco I. Madero, 2750 Pte., Centro de la Ciudad, Monterrey, N.L. C.P. 64000, utilizarán los datos personales que usted entregue voluntariamente mediante este documento para cumplir con las políticas, procedures operativos y requisitos legales aplicables y llevar un registro adecuado de los proveedores y clientes del Grupo. Para mayor información respecto al tratamiento de sus datos personales o al ejercicio de sus derechos ARCO consulte nuestro aviso de privacidad integral en www.batmexico.com.mx' ;
        --se quitaron 2 líneas que sobreeescribian la misma variable, se dejo la ultima

        SET @nAcumValor_Subt_16   = 0 ;
        SET @nAcumValor_Subt_00   = 0 ;
        SET @nAcumValor_IVA_16    = 0 ;
        SET @nAcumValor_IVA_164D  = 0 ;
        SET @nAcumValor_IEPS      = 0 ;
        SET @nAcumImp_Abonado     = 0 ;
        SET @nIVA_Calculado       = 0 ;
        SET @nAcumImp_Calculado   = 0 ;
        SET @nDec_Calculo         = 2 ;
        SET @nDec_Layout          = 2 ;
       
        SET @strStage = 'ScrDatos' ;

        OPEN ScrDatos;
        FETCH NEXT FROM ScrDatos INTO
            @D_Folio_ID, @D_Ctro, @D_tagCPAGOS, @D_VersionCFDI, @D_Serie, @D_Folio, @D_Fecha_Comprobante,
            @D_Regimen_Fiscal, @D_Regimen_Fiscal_Cte,
            @D_Emisor_RFC, @D_Emisor_Nombre, @D_Emisor_Calle, @D_Emisor_NoExterior, @D_Emisor_NoInterior,
            @D_Emisor_Colonia, @D_Emisor_Localidad, @D_Emisor_Referencia, @D_Emisor_Municipio, @D_Emisor_Estado,
            @D_Emisor_Pais, @D_Emisor_CodigoPostal, @D_Emisor_Expedicion, @D_Emisor_LugarExpide,
            @D_Recibe_RFC, @D_Recibe_Nombre, @D_Recibe_Calle, @D_Recibe_NoExterior, @D_Recibe_NoInterior,
            @D_Recibe_Colonia, @D_Recibe_Localidad, @D_Recibe_Referencia, @D_Recibe_Municipio, @D_Recibe_Estado,
            @D_Recibe_Pais, @D_Recibe_codigoPostal, @D_Recibe_PaisReside, @D_Recibe_RegTributa,
            @D_Remite_Calle, @D_Remite_Colonia, @D_Remite_Municipio, @D_Remite_Estado, @D_Remite_Pais,
            @D_Remite_codigoPostal, @D_pedidoV3, @D_sucursalNombre, @D_pedidoSAP, @D_facturaSAP,
            @D_UsoCFDI_Payment, @D_Tipo_Documento, @D_CentroExpedicion, @D_Recibe_Cliente, @D_Remite_Cliente, @D_eMail,
            @D_tagCPAGO, @D_Numero_Pago, @D_Fecha_Pago, @D_Forma_Pago, @D_Moneda_Pago, @D_Tipo_Cambio_Pago,
            @D_Importe_Pago, @D_Numero_Cheque, @D_Origen_Banco, @D_Banco_Extranjero, @D_Origen_Num_Cuenta,
            @D_Destino_RFC_Banco, @D_Destino_Num_Cuenta, @D_Tipo_Cambio_Pago_Dup, @D_Certificado_Pago,
            @D_Cad_Original_Pago, @D_Sello_Digital_Pago;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @sFactura    = @D_Folio_ID ;
            SET @sRFC        = @D_Recibe_RFC ;
            SET @sRecibe_RFC = @D_Recibe_RFC ;      
            SET @sCtro       = @D_Ctro ;

            SET @nLineas  = 0 ;
            SET @sCFDIREL = '' ;
            SET @strStage = 'CFDIREL' ;

            OPEN ScrReenvio;
            FETCH NEXT FROM ScrReenvio INTO @Env_Folio_Fiscal, @Env_Fecha_factura;
            WHILE @@FETCH_STATUS = 0
            BEGIN
                SET @nLineas = @nLineas + 1 ;
                IF ( @nLineas = 1 )
                BEGIN
                    SET @sCFDIREL = 'CFDIREL' + @sSepCampo + ISNULL(@Env_Folio_Fiscal, '') + @sSepCampo + @sSepLinea ;        
                END;
                FETCH NEXT FROM ScrReenvio INTO @Env_Folio_Fiscal, @Env_Fecha_factura;
            END;
            CLOSE ScrReenvio;

            SET @strStage = 'ScrDetallePagos' ;
            SET @nLineas   = 0 ;
            SET @uLINPAGOS = '' ;

            OPEN ScrDetallePagos;
            FETCH NEXT FROM ScrDetallePagos INTO
                @Det_tagCPAGODR, @Det_Factura, @Det_ID_Documento, @Det_Serie_Venta, @Det_Folio_Venta,
                @Det_metodo_Pago, @Det_Moneda_Pago, @Det_Parcialidad, @Det_Saldo_Anterior,
                @Det_Importe_Abonado, @Det_Saldo_Final;

            WHILE @@FETCH_STATUS = 0
            BEGIN
                SET @nLineas       = @nLineas + 1 ;
                SET @sFacturaPagada = @Det_Factura ;

                IF ( @nLineas > 1 )
                BEGIN
                    SET @uLINPAGOS = ISNULL(@uLINPAGOS, '') + @sSepLinea ;  
                END;

                SET @uLINPAGOS = ISNULL(@uLINPAGOS, '') + 'CPAGODR'                                                   + @sSepCampo ;
                SET @uLINPAGOS = ISNULL(@uLINPAGOS, '') + LTRIM(RTRIM(STR(@nLineas, 10, 0)))                           + @sSepCampo ;
                SET @uLINPAGOS = ISNULL(@uLINPAGOS, '') + ISNULL(@Det_ID_Documento, '')                               + @sSepCampo ;
                SET @uLINPAGOS = ISNULL(@uLINPAGOS, '') + ISNULL(@Det_Serie_Venta, '')                                + @sSepCampo ;
                SET @uLINPAGOS = ISNULL(@uLINPAGOS, '') + ISNULL(@Det_Folio_Venta, '')                                + @sSepCampo ;
                SET @uLINPAGOS = ISNULL(@uLINPAGOS, '') + ISNULL(@Det_Moneda_Pago, '')                                + @sSepCampo ;
                SET @uLINPAGOS = ISNULL(@uLINPAGOS, '') + '1'                                                         + @sSepCampo ;
                SET @uLINPAGOS = ISNULL(@uLINPAGOS, '') + ISNULL(@Det_metodo_Pago, '')                                + @sSepCampo ;
                SET @uLINPAGOS = ISNULL(@uLINPAGOS, '') + ISNULL(@Det_Parcialidad, '')                                + @sSepCampo ;
                SET @uLINPAGOS = ISNULL(@uLINPAGOS, '') + T3.FN_NUM_TO_CHAR_CFDI( CAST(@Det_Saldo_Anterior AS NUMERIC(22,2)) , 2 ) + @sSepCampo ;
                SET @uLINPAGOS = ISNULL(@uLINPAGOS, '') + T3.FN_NUM_TO_CHAR_CFDI( @Det_Importe_Abonado, 2 )             + @sSepCampo ;
                SET @uLINPAGOS = ISNULL(@uLINPAGOS, '') + T3.FN_NUM_TO_CHAR_CFDI( CAST(@Det_Saldo_Final AS NUMERIC(22,2)) , 2 )    + @sSepCampo ;
                SET @uLINPAGOS = ISNULL(@uLINPAGOS, '') + ''                                                          + @sSepCampo ;

                SET @nAmtImporte = @Det_Importe_Abonado ;

                OPEN ScrImpuestos;
                FETCH NEXT FROM ScrImpuestos INTO @Imp_Valor_Subt_16, @Imp_Valor_Subt_00, @Imp_Valor_IVA_16, @Imp_Valor_IEPS;

                WHILE @@FETCH_STATUS = 0
                BEGIN
                    SET @nAmtValor_Subt_16   = @Imp_Valor_Subt_16 ;
                    SET @nAmtValor_Subt_00   = @Imp_Valor_Subt_00 ;
                    SET @nAmtValor_IVA_16    = @Imp_Valor_IVA_16 ;
                    SET @nAmtValor_IEPS      = @Imp_Valor_IEPS ;
                   
                    SET @nPagoFactor         = @nAmtImporte / ( @nAmtValor_Subt_16 + @nAmtValor_Subt_00 + @nAmtValor_IVA_16 + @nAmtValor_IEPS ) ;
                    SET @nPagoValor_IEPS     = ROUND( @nAmtValor_IEPS    * @nPagoFactor, 2 ) ;
                    SET @nPagoValor_IVA_16    = ROUND( @nAmtValor_IVA_16  * @nPagoFactor, 2 ) ;
                    SET @nPagoValor_Subt_00  = ROUND( @nAmtValor_Subt_00 * @nPagoFactor, 2 ) ;
                    SET @nPagoValor_Subt_16  = @nAmtImporte - @nPagoValor_IEPS - @nPagoValor_IVA_16 - @nPagoValor_Subt_00 ;

                    IF ( @nAmtValor_IVA_16 = @nPagoValor_IVA_16 )
                    BEGIN
                        SET @nPagoValor_IVA_Calc = @nPagoValor_IVA_16 ;
                    END
                    ELSE
                    BEGIN
                        SET @nPagoValor_IVA_Calc = ROUND( @nPagoValor_Subt_16 * 0.16, 2 ) ;
                    END;
                   
                    SET @nPagoValor_Subt_16  = @nPagoValor_Subt_16 + ( @nPagoValor_IVA_16 - @nPagoValor_IVA_Calc ) ;
                   
                    IF ( ISNULL( @pOutput, 0 ) > 10 )
                    BEGIN
                        PRINT ISNULL(@Det_Serie_Venta, '') + '-' + ISNULL(@Det_Folio_Venta, '') ;
                        PRINT 'AmtValor_Subt_16   : ' + CAST(@nAmtValor_Subt_16 AS VARCHAR(30)) ;
                        PRINT 'AmtValor_Subt_00   : ' + CAST(@nAmtValor_Subt_00 AS VARCHAR(30)) ;
                        PRINT 'AmtValor_IVA_16    : ' + CAST(@nAmtValor_IVA_16 AS VARCHAR(30)) ;
                        PRINT 'AmtValor_IEPS      : ' + CAST(@nAmtValor_IEPS AS VARCHAR(30)) ;
                        PRINT 'AmtImporte         : ' + CAST(@nAmtImporte AS VARCHAR(30)) ;
                        PRINT 'PagoFactor         : ' + CAST(@nPagoFactor AS VARCHAR(30)) ;
                        PRINT 'PagoValor_IEPS     : ' + CAST(@nPagoValor_IEPS AS VARCHAR(30)) ;
                        PRINT 'PagoValor_IVA_16   : ' + CAST(@nPagoValor_IVA_16 AS VARCHAR(30)) ;
                        PRINT 'PagoValor_Subt_00  : ' + CAST(@nPagoValor_Subt_00 AS VARCHAR(30)) ;
                        PRINT 'PagoValor_Subt_16  : ' + CAST(@nPagoValor_Subt_16 AS VARCHAR(30)) ;
                    END;
                   
                    IF ( @nPagoValor_IVA_16 != @nPagoValor_IVA_Calc )
                    BEGIN
                        SET @nPagoValor_IVA_16 = @nPagoValor_IVA_Calc ;
                        IF ( ISNULL( @pOutput, 0 ) > 10 )
                        BEGIN
                            PRINT 'IVA Ajustado' ;
                        END;
                    END;  
                    FETCH NEXT FROM ScrImpuestos INTO @Imp_Valor_Subt_16, @Imp_Valor_Subt_00, @Imp_Valor_IVA_16, @Imp_Valor_IEPS;
                END;
                CLOSE ScrImpuestos;

                IF ( @nPagoValor_Subt_16 > 0 )
                BEGIN
                    SET @uLINPAGOS = ISNULL(@uLINPAGOS, '') + @sSepLinea ;
                    SET @uLINPAGOS = ISNULL(@uLINPAGOS, '') + 'IMPUESTOSDR'                                   + @sSepCampo ;
                    SET @uLINPAGOS = ISNULL(@uLINPAGOS, '') + 'T'                                            + @sSepCampo ;
                    SET @uLINPAGOS = ISNULL(@uLINPAGOS, '') + T3.FN_NUM_TO_CHAR_CFDI( @nPagoValor_Subt_16, 6 )   + @sSepCampo ;
                    SET @uLINPAGOS = ISNULL(@uLINPAGOS, '') + '002'                                           + @sSepCampo ;
                    SET @uLINPAGOS = ISNULL(@uLINPAGOS, '') + 'Tasa'                                          + @sSepCampo ;
                    SET @uLINPAGOS = ISNULL(@uLINPAGOS, '') + '0.160000'                                     + @sSepCampo ;
                   
                    SET @nIVA_Calculado = ROUND( @nPagoValor_Subt_16 * 0.16, @nDec_Calculo ) ;
                    SET @uLINPAGOS = ISNULL(@uLINPAGOS, '') + T3.FN_NUM_TO_CHAR_CFDI( @nIVA_Calculado, @nDec_Layout )   + @sSepCampo ;
                    SET @nAcumValor_IVA_164D = @nAcumValor_IVA_164D + @nIVA_Calculado ;
                    SET @nAcumImp_Calculado  = @nAcumImp_Calculado  + @nIVA_Calculado ;
                END;                                                                                        
               
                IF ( @nPagoValor_Subt_00 > 0 )
                BEGIN
                    SET @uLINPAGOS = ISNULL(@uLINPAGOS, '') + @sSepLinea ;
                    SET @uLINPAGOS = ISNULL(@uLINPAGOS, '') + 'IMPUESTOSDR'                                   + @sSepCampo ;
                    SET @uLINPAGOS = ISNULL(@uLINPAGOS, '') + 'T'                                            + @sSepCampo ;
                    SET @uLINPAGOS = ISNULL(@uLINPAGOS, '') + T3.FN_NUM_TO_CHAR_CFDI( @nPagoValor_Subt_00, 6 )   + @sSepCampo ;
                    SET @uLINPAGOS = ISNULL(@uLINPAGOS, '') + '002'                                           + @sSepCampo ;
                    SET @uLINPAGOS = ISNULL(@uLINPAGOS, '') + 'Tasa'                                          + @sSepCampo ;
                    SET @uLINPAGOS = ISNULL(@uLINPAGOS, '') + '0.000000'                                     + @sSepCampo ;
                    SET @uLINPAGOS = ISNULL(@uLINPAGOS, '') + '0.000000'                                     + @sSepCampo ;
                END;

                SET @nAcumValor_Subt_16 = @nAcumValor_Subt_16 + @nPagoValor_Subt_16 ;
                SET @nAcumValor_Subt_00 = @nAcumValor_Subt_00 + @nPagoValor_Subt_00 ;
                SET @nAcumValor_IVA_16  = @nAcumValor_IVA_16  + @nPagoValor_IVA_16  ;
                SET @nAcumValor_IEPS    = @nAcumValor_IEPS    + @nPagoValor_IEPS    ;
                SET @nAcumImp_Abonado   = @nAcumImp_Abonado   + @nAmtImporte        ;

                FETCH NEXT FROM ScrDetallePagos INTO
                    @Det_tagCPAGODR, @Det_Factura, @Det_ID_Documento, @Det_Serie_Venta, @Det_Folio_Venta,
                    @Det_metodo_Pago, @Det_Moneda_Pago, @Det_Parcialidad, @Det_Saldo_Anterior,
                    @Det_Importe_Abonado, @Det_Saldo_Final;
            END;
            CLOSE ScrDetallePagos;

            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + 'CABPAGOS'                                       + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_VersionCFDI, '')                       + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_Serie, '')                             + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_Folio, '')                             + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_Fecha_Comprobante, '')                 + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_Regimen_Fiscal, '')                    + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_Emisor_RFC, '')                        + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_Emisor_Nombre, '')                     + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_Emisor_Calle, '')                      + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_Emisor_NoExterior, '')                 + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_Emisor_NoInterior, '')                 + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_Emisor_Colonia, '')                    + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_Emisor_Localidad, '')                  + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_Emisor_Referencia, '')                 + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_Emisor_Municipio, '')                  + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_Emisor_Estado, '')                     + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_Emisor_Pais, '')                       + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_Emisor_CodigoPostal, '')               + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_Emisor_Expedicion, '')                 + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_Recibe_RFC, '')                        + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_Recibe_Nombre, '')                     + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_Recibe_Calle, '')                      + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_Recibe_NoExterior, '')                 + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_Recibe_NoInterior, '')                 + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_Recibe_Colonia, '')                    + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_Recibe_Localidad, '')                  + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_Recibe_Referencia, '')                 + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_Recibe_Municipio, '')                  + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_Recibe_Estado, '')                     + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_Recibe_Pais, '')                       + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_Recibe_codigoPostal, '')               + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_Recibe_PaisReside, '')                 + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_Recibe_RegTributa, '')                 + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ''                                               + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_eMail, '')                             + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_Regimen_Fiscal_Cte, '')                + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_UsoCFDI_Payment, '')                   + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ''                                               + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ''                                               + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ''                                               + @sSepCampo ;

            IF ( @nAcumValor_Subt_16 > 0 )
            BEGIN
                SET @uCABCLIE = ISNULL(@uCABCLIE, '') + T3.FN_NUM_TO_CHAR_CFDI( @nAcumValor_Subt_16 , 2 ) + @sSepCampo ;
                SET @nAcumValor_IVA_164D = ROUND( @nAcumValor_Subt_16 * 0.16, 2 ) ;
                SET @uCABCLIE = ISNULL(@uCABCLIE, '') + T3.FN_NUM_TO_CHAR_CFDI( @nAcumImp_Calculado , 2 ) + @sSepCampo ;
            END
            ELSE
            BEGIN
                SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ''                                            + @sSepCampo ;
                SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ''                                            + @sSepCampo ;
            END;

            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ''                                                + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ''                                                + @sSepCampo ;

            IF ( @nAcumValor_Subt_00 > 0 )
            BEGIN
                SET @uCABCLIE = ISNULL(@uCABCLIE, '') + T3.FN_NUM_TO_CHAR_CFDI( @nAcumValor_Subt_00, 2 )  + @sSepCampo ;
                SET @uCABCLIE = ISNULL(@uCABCLIE, '') + '0.00'                                            + @sSepCampo ;
            END
            ELSE
            BEGIN
                SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ''                                                + @sSepCampo ;
                SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ''                                                + @sSepCampo ;
            END;

            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ''                                                + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + T3.FN_NUM_TO_CHAR_CFDI( @nAcumImp_Abonado, 2 )        + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + @sSepLinea ;

            IF ( ISNULL( @pOutput, 0 ) > 0 )
            BEGIN
                PRINT 'nAcumImp_Abonado     : ' + CAST(@nAcumImp_Abonado AS VARCHAR(30)) ;
                PRINT 'nAcumValor_Subt_16   : ' + CAST(@nAcumValor_Subt_16 AS VARCHAR(30)) ;
                PRINT 'nAcumValor_IVA_164D  : ' + CAST(@nAcumValor_IVA_164D AS VARCHAR(30)) ;
                PRINT 'Doc.Importe_Pago     : ' + ISNULL(@D_Importe_Pago, '') ;
                PRINT 'Acum_Subt + Acum_IVA : ' + CAST(ROUND( @nAcumValor_Subt_16 + @nAcumValor_IVA_164D, 2 ) AS VARCHAR(30)) ;
            END;

            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + 'CABCLIE'               + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_Recibe_Nombre, '')  + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_Remite_Calle, '')   + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_Remite_Colonia, '') + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_Remite_Municipio, '') + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ''                      + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_Remite_State, '')   + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_Remite_Pais, '')    + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_Remite_codigoPostal, '') + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_pedidoV3, '')       + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_sucursalNombre, '') + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_pedidoSAP, '')      + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_facturaSAP, '')     + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_Tipo_Documento, '') + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_CentroExpedicion, '') + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_Recibe_Cliente, '') + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_Remite_Cliente, '') + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_Emisor_LugarExpide, '') + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ''                      + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@sLeyMenor, '')               + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@sLeyPriv, '')                + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_eMail, '')                  + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + @sSepLinea ;

            IF ( LEN( @sCFDIREL ) > 10 )
            BEGIN
                SET @uCABCLIE = ISNULL(@uCABCLIE, '') + @sCFDIREL ;
            END;

            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + 'CPAGO'                 + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + CAST(@D_Numero_Pago AS VARCHAR(10)) + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_Fecha_Pago, '')          + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_Forma_Pago, '')          + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_Moneda_Pago, '')          + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + '1'                     + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_Importe_Pago, '')        + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_Numero_Cheque, '')       + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_Origen_Banco, '')        + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_Banco_Extranjero, '')    + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ISNULL(@D_Origen_Num_Cuenta, '')   + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ''                      + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ''                      + @sSepCampo ;
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ''                      + @sSepCampo ; -- Mapeado de Tipo_Cadena_Pago vacío
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ''                      + @sSepCampo ; -- Mapeado de Certificado_Pago vacío
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ''                      + @sSepCampo ; -- Mapeado de Cad_Original_Pago vacío
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + ''                      + @sSepCampo ; -- Mapeado de Sello_Digital_Pago vacío
            SET @uCABCLIE = ISNULL(@uCABCLIE, '') + @sSepLinea ;

            IF ( ISNULL( @pOutput, 0 ) > 0 )
            BEGIN
                PRINT 'Base Total : ' + CAST(@nAcumValor_Subt_16 AS VARCHAR(30)) ;
                PRINT 'Importe    : ' + CAST(@nAcumImp_Calculado AS VARCHAR(30)) ;
            END;

            IF ( @nAcumValor_Subt_16 > 0 )
            BEGIN
                SET @uLINPAGOS = ISNULL(@uLINPAGOS, '') + @sSepLinea ;
                SET @uLINPAGOS = ISNULL(@uLINPAGOS, '') + 'IMPUESTOSP'                                    + @sSepCampo ;
                SET @uLINPAGOS = ISNULL(@uLINPAGOS, '') + 'T'                                            + @sSepCampo ;
                SET @uLINPAGOS = ISNULL(@uLINPAGOS, '') + T3.FN_NUM_TO_CHAR_CFDI( @nAcumValor_Subt_16, 6 )   + @sSepCampo ;
                SET @uLINPAGOS = ISNULL(@uLINPAGOS, '') + '002'                                           + @sSepCampo ;
                SET @uLINPAGOS = ISNULL(@uLINPAGOS, '') + 'Tasa'                                          + @sSepCampo ;
                SET @uLINPAGOS = ISNULL(@uLINPAGOS, '') + '0.160000'                                     + @sSepCampo ;
                SET @uLINPAGOS = ISNULL(@uLINPAGOS, '') + T3.FN_NUM_TO_CHAR_CFDI( @nAcumImp_Calculado, @nDec_Layout ) + @sSepCampo ;
            END;                                                                                          
           
            IF ( @nAcumValor_Subt_00 > 0 )
            BEGIN
                SET @uLINPAGOS = ISNULL(@uLINPAGOS, '') + @sSepLinea ;
                SET @uLINPAGOS = ISNULL(@uLINPAGOS, '') + 'IMPUESTOSP'                                    + @sSepCampo ;
                SET @uLINPAGOS = ISNULL(@uLINPAGOS, '') + 'T'                                            + @sSepCampo ;
                SET @uLINPAGOS = ISNULL(@uLINPAGOS, '') + T3.FN_NUM_TO_CHAR_CFDI( @nAcumValor_Subt_00, 6 )   + @sSepCampo ;
                SET @uLINPAGOS = ISNULL(@uLINPAGOS, '') + '002'                                           + @sSepCampo ;
                SET @uLINPAGOS = ISNULL(@uLINPAGOS, '') + 'Tasa'                                          + @sSepCampo ;
                SET @uLINPAGOS = ISNULL(@uLINPAGOS, '') + '0.000000'                                     + @sSepCampo ;
                SET @uLINPAGOS = ISNULL(@uLINPAGOS, '') + '0.000000'                                     + @sSepCampo ;
            END;                                                                                          

            -- Transición del ciclo: FETCH alineado con las 70 columnas exactas
            FETCH NEXT FROM ScrDatos INTO
                @D_Folio_ID, @D_Ctro, @D_tagCPAGOS, @D_VersionCFDI, @D_Serie, @D_Folio, @D_Fecha_Comprobante,
                @D_Regimen_Fiscal, @D_Regimen_Fiscal_Cte,
                @D_Emisor_RFC, @D_Emisor_Nombre, @D_Emisor_Calle, @D_Emisor_NoExterior, @D_Emisor_NoInterior,
                @D_Emisor_Colonia, @D_Emisor_Localidad, @D_Emisor_Referencia, @D_Emisor_Municipio, @D_Emisor_Estado,
                @D_Emisor_Pais, @D_Emisor_CodigoPostal, @D_Emisor_Expedicion, @D_Emisor_LugarExpide,
                @D_Recibe_RFC, @D_Recibe_Nombre, @D_Recibe_Calle, @D_Recibe_NoExterior, @D_Recibe_NoInterior,
                @D_Recibe_Colonia, @D_Recibe_Localidad, @D_Recibe_Referencia, @D_Recibe_Municipio, @D_Recibe_Estado,
                @D_Recibe_Pais, @D_Recibe_codigoPostal, @D_Recibe_PaisReside, @D_Recibe_RegTributa,
                @D_Remite_Calle, @D_Remite_Colonia, @D_Remite_Municipio, @D_Remite_Estado, @D_Remite_Pais,
                @D_Remite_codigoPostal, @D_pedidoV3, @D_sucursalNombre, @D_pedidoSAP, @D_facturaSAP,
                @D_UsoCFDI_Payment, @D_Tipo_Documento, @D_CentroExpedicion, @D_Recibe_Cliente, @D_Remite_Cliente, @D_eMail,
                @D_tagCPAGO, @D_Numero_Pago, @D_Fecha_Pago, @D_Forma_Pago, @D_Moneda_Pago, @D_Tipo_Cambio_Pago,
                @D_Importe_Pago, @D_Numero_Cheque, @D_Origen_Banco, @D_Banco_Extranjero, @D_Origen_Num_Cuenta,
                @D_Destino_RFC_Banco, @D_Destino_Num_Cuenta, @D_Tipo_Cambio_Pago_Dup, @D_Certificado_Pago,
                @D_Cad_Original_Pago, @D_Sello_Digital_Pago;
        END;
        CLOSE ScrDatos;

        IF ( LEN( @uCABCLIE ) > 10 )
        BEGIN
             SET @strStage = 'Final'  ;
             SET @sReturn  = @uCABCLIE ;
             SET @sData    = @sReturn  ;
             SET @sData    = @sData + ISNULL(@uLINPAGOS, '') ;
             
             INSERT INTO T3.CFDI_DOCUMENTOS_ENVIAR ( Nota_Venta, Informacion )
             VALUES ( @pFactura, @sData ) ;
             
             INSERT INTO T3.CFDI_Documentos ( Nota_Venta, Ctro, Fecha_Liberacion )
             VALUES ( @pFactura, @sCtro, GETDATE() ) ;
             
             UPDATE T3.CFDI_Agrupacion_CTRL
             SET Fecha_Envio = GETDATE(), Ctro = @sCtro
             WHERE Agrupacion = @pFactura ;
        END;

        DEALLOCATE ScrDatos;
        DEALLOCATE ScrDetallePagos;
        DEALLOCATE ScrImpuestos;
        DEALLOCATE ScrReenvio;

    END TRY
    BEGIN CATCH
        IF CURSOR_STATUS('local', 'ScrDatos') >= 0 BEGIN CLOSE ScrDatos; DEALLOCATE ScrDatos; END;
        IF CURSOR_STATUS('local', 'ScrDetallePagos') >= 0 BEGIN CLOSE ScrDetallePagos; DEALLOCATE ScrDetallePagos; END;
        IF CURSOR_STATUS('local', 'ScrImpuestos') >= 0 BEGIN CLOSE ScrImpuestos; DEALLOCATE ScrImpuestos; END;
        IF CURSOR_STATUS('local', 'ScrReenvio') >= 0 BEGIN CLOSE ScrReenvio; DEALLOCATE ScrReenvio; END;

        SET @sMsg = SUBSTRING(CAST(ERROR_NUMBER() AS VARCHAR(10)) + '-' + ERROR_MESSAGE(), 1, 250) ;
        SET @sMsg = SUBSTRING(ERROR_MESSAGE(), 1, 250) ;

        PRINT REPLICATE('-', 80) ;
        PRINT 'Problemas en la ejecucion del Procedimiento' ;
        PRINT 'FAVOR DE ESCALAR LOS SIGUIENTES DATOS :' ;
        PRINT 'Procedimiento : PROC_V20_GENERAR_PAGO_AGR' ;
        PRINT 'Fecha         : ' + CONVERT(VARCHAR(20), GETDATE(), 112) + ' ' + CONVERT(VARCHAR(20), GETDATE(), 108) ;
        PRINT 'Referencia    : ' + ISNULL(@strID, '') + '-' + ISNULL(@strStage, '') ;
        PRINT 'Error         : ' + ISNULL(@sMsg, '') ;
        PRINT REPLICATE('-', 80) ;

        INSERT INTO T3.RF_ERROR_LOG
            ( FECHA, RUTINA, REFERENCIA, ERROR_DESC )
        VALUES
            ( GETDATE(), 'PROC_V20_GENERAR_PAGO_AGR', @strID, @sMsg ) ;
    END CATCH
END;
GO
