USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_T3_BONIF_RESUMEN]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [T3].[PROC_T3_BONIF_RESUMEN]
    @sFecha_Inicio VARCHAR(MAX),
    @sFecha_Final  VARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sMsg       VARCHAR(500);
    DECLARE @sPrograma  VARCHAR(30);
    DECLARE @sPrograma2 VARCHAR(30);
    DECLARE @nCount     NUMERIC(6,0);

    -- variables cursores
    DECLARE @cur_Semana            VARCHAR(10);
    DECLARE @cur_Region            VARCHAR(10);
    DECLARE @cur_Ctro              VARCHAR(4);
    DECLARE @cur_Nombre_Corto      VARCHAR(50);
    DECLARE @cur_LP                VARCHAR(10);
    DECLARE @cur_Fecha             DATETIME;
    DECLARE @cur_Tipo_Venta        VARCHAR(20);
    DECLARE @cur_ID_Programa       VARCHAR(100);
    DECLARE @cur_Material          VARCHAR(10);
    DECLARE @cur_SKU_Name          VARCHAR(100);
    DECLARE @cur_Fam_Name          VARCHAR(100);
    DECLARE @cur_UM_Venta          VARCHAR(10);
    DECLARE @cur_Cig_x_UMV         NUMERIC(38,4);
    DECLARE @cur_Venta_Volumen     NUMERIC(38,4);
    DECLARE @cur_Venta_Valor_Subt  NUMERIC(38,4);
    DECLARE @cur_Venta_Valor_IVA   NUMERIC(38,4);
    DECLARE @cur_Bonif_Volumen     NUMERIC(38,4);
    DECLARE @cur_Bonif_Valor_Subt  NUMERIC(38,4);
    DECLARE @cur_Bonif_Valor_IVA   NUMERIC(38,4);
    DECLARE @cur_Envio_Valor_Subt  NUMERIC(38,4);
    DECLARE @cur_Envio_Valor_IVA   NUMERIC(38,4);
    DECLARE @cur_Credito_Valor_Subt NUMERIC(38,4);
    DECLARE @cur_Credito_Valor_IVA  NUMERIC(38,4);

    DECLARE ScrResumen CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT 
             Venta.Semana       , Venta.Region       ,
             Venta.Ctro          , DF.Nombre_Corto    ,
             Venta.LP            , Venta.Fecha        ,
             Venta.Tipo_Venta   , Venta.ID_Programa  ,
             Venta.Material      , SKU.SKU_Name       ,
             SKU.Fam_Name       , Venta.UM_Venta     , Venta.Cig_x_UMV    ,       
             SUM( Venta.Factor_Doc * Venta.Cant_Item    )                  AS Venta_Volumen        ,
             SUM( Venta.Factor_Doc * Venta.Valor_Subt   )                  AS Venta_Valor_Subt     ,
             SUM( Venta.Factor_Doc * Venta.Valor_IVA    )                  AS Venta_Valor_IVA      ,
             SUM( Venta.Factor_Doc * Venta.Cant_Bonif   )                  AS Bonif_Volumen        ,
             SUM( Venta.Factor_Doc * Venta.Bonif_Subt   )                  AS Bonif_Valor_Subt     ,
             SUM( Venta.Factor_Doc * Venta.Bonif_IVA    )                  AS Bonif_Valor_IVA      ,
             SUM( Venta.Factor_Doc * Venta.Envio_Subt   )                  AS Envio_Valor_Subt     ,
             SUM( Venta.Factor_Doc * Venta.Envio_IVA    )                  AS Envio_Valor_IVA      ,
             SUM( Venta.Factor_Doc * Venta.Credito_Subt )                  AS Credito_Valor_Subt   ,
             SUM( Venta.Factor_Doc * Venta.Credito_IVA  )                  AS Credito_Valor_IVA    
        FROM (  
             SELECT FG.Factura                                                                   AS Factura      ,
                    FG.Ctro                                                                      AS Ctro         , 
                    'TBD'                                                                        AS Region       ,
                    FG.Fecha_Factura                                                             AS Fecha        , 
                    CAST(YEAR(FG.Fecha_Factura) AS VARCHAR) + RIGHT('0' + CAST(DATEPART(WEEK, FG.Fecha_Factura) AS VARCHAR), 2) AS Semana ,
                    FG.Cliente_SAP                                                               AS Cliente      , 
                    SUBSTRING( FG.Ubicacion, 15, 4 )                                             AS Territorio   ,
                    C.Identity_Card                                                              AS LP           , -- Se mapea columna equivalente a Lista_Precio de origen si aplica
                    'PROMPT'                                                                     AS Tipo_Venta   ,
                    CASE ISNULL( Bon.Programa2, '     ' )
                        WHEN 'Reinforcement Sumo S5 Sep' THEN 'Reinf Sumo S5 Sep'
                        WHEN 'Reinforcement Hauss S5 Sep' THEN 'Reinf Hauss S5 Sep'
                        ELSE Bon.Programa2
                    END                                                                          AS ID_Programa  ,
                    FD.Material                                                                  AS Material     ,
                    M.Unidad_Med_Vta                                                             AS UM_Venta     ,
                    CASE M.Unidad_Med_Vta 
                        WHEN 'CAJ' THEN M.Cig_x_CLL 
                        WHEN 'CS'  THEN M.Cig_x_CLL 
                        WHEN 'PK'  THEN M.Cig_x_PAQ 
                        WHEN 'PAQ' THEN M.Cig_x_PAQ 
                    END                                                                          AS Cig_x_UMV    ,
                    CASE WHEN FG.Tipo_Docto IN ('C003', 'Z003') THEN 1 ELSE -1 END               AS Factor_Doc   ,
                    FD.Cantidad_Vta                                                              AS Cant_Item    ,
                    CASE WHEN ISNULL(FD.Bonif_Subt, 0) = 0 THEN 0 ELSE FD.Cantidad_Vta END       AS Cant_Bonif   ,
                    M.Cig_x_CLL                                                                  AS Cig_x_CLL    ,
                    FD.Cantidad_Vta                                                              AS Cantidad     , 
                    ( ISNULL( FD.Valor_Subt  , 0 ) + ISNULL( FD.Envio_Subt, 0 ) + ISNULL( FD.Credito_Subt, 0 ) ) AS Valor_Subt   , 
                    ( ISNULL( FD.Valor_IVA   , 0 ) + ISNULL( FD.Envio_IVA , 0 ) + ISNULL( FD.Credito_IVA , 0 ) ) AS Valor_IVA    , 
                    ( ISNULL( FD.Bonif_Subt  , 0 ) )                                             AS Bonif_Subt   , 
                    ( ISNULL( FD.Bonif_IVA   , 0 ) )                                             AS Bonif_IVA    ,
                    ( ISNULL( FD.Envio_Subt  , 0 ) )                                             AS Envio_Subt   , 
                    ( ISNULL( FD.Envio_IVA   , 0 ) )                                             AS Envio_IVA    ,
                    ( ISNULL( FD.Credito_Subt, 0 ) )                                             AS Credito_Subt , 
                    ( ISNULL( FD.Credito_IVA , 0 ) )                                             AS Credito_IVA  
             FROM T3.Factura_General   FG
             INNER JOIN T3.Factura_Detalle FD ON FG.Factura = FD.Factura
             INNER JOIN T3.Material        M  ON FD.Material = M.Material
             LEFT OUTER JOIN T3.Factura_Bonif Bon ON FD.Factura = Bon.Factura AND FD.Num_Linea = Bon.Num_Linea
             INNER JOIN T3.Cliente         C  ON FG.Cliente_SAP = C.Cliente_SAP
             WHERE FG.Fecha_Factura           >= CONVERT(DATETIME, @sFecha_Inicio, 112)
               AND FG.Fecha_Factura           <= CONVERT(DATETIME, @sFecha_Final, 112)
               AND FG.Fecha_Factura           BETWEEN C.Fecha_Ini_Vig AND C.Fecha_Fin_Vig
               AND FG.Tipo_Docto              IN ( 'Z003', 'Z004' ,'C003','C004')
               AND YEAR( FG.Fecha_Proc_BATMD ) != 2999

             UNION ALL

             SELECT FG.Factura                                                                   AS Factura      ,
                    FG.Ctro                                                                      AS Ctro         ,
                    'TBD'                                                                        AS Region       ,
                    FG.Fecha_Factura                                                             AS Fecha        , 
                    CAST(YEAR(FG.Fecha_Factura) AS VARCHAR) + RIGHT('0' + CAST(DATEPART(WEEK, FG.Fecha_Factura) AS VARCHAR), 2) AS Semana ,
                    FG.Cliente_SAP                                                               AS Cliente      ,
                    E.Ubicacion                                                                  AS Territorio   ,
                    C.Identity_Card                                                              AS LP           , 
                    CASE FG.Clase_Factura
                        WHEN 'C005' THEN 'PREVENTA'
                        WHEN 'C006' THEN 'PREVENTA'
                        WHEN 'Z014' THEN 'TELEVENTA'
                        WHEN 'Z015' THEN 'TELEVENTA'
                        WHEN 'Z007' THEN 'PREVENTA'
                        ELSE 'TBD'
                    END                                                                          AS Tipo_Venta   ,
                    CASE ISNULL( Bon.Programa2, '     ' )
                        WHEN 'Reinforcement Sumo S5 Sep' THEN 'Reinf Sumo S5 Sep'
                        WHEN 'Reinforcement Hauss S5 Sep' THEN 'Reinf Hauss S5 Sep'
                        ELSE Bon.Programa2
                    END                                                                          AS ID_Programa  ,     
                    FD.Material                                                                  AS Material     , 
                    M.Unidad_Med_Vta                                                             AS UM_Venta     ,
                    CASE M.Unidad_Med_Vta 
                        WHEN 'CAJ' THEN M.Cig_x_CLL 
                        WHEN 'CS'  THEN M.Cig_x_CLL 
                        WHEN 'PK'  THEN M.Cig_x_PAQ 
                        WHEN 'PAQ' THEN M.Cig_x_PAQ 
                    END                                                                          AS Cig_x_UMV    ,
                    CASE WHEN FG.Clase_Factura IN ('C005', 'Z005', 'Z007', 'Z014') THEN 1 ELSE -1 END AS Factor_Doc ,
                    FD.Cantidad_Vta                                                              AS Cant_Item    ,
                    CASE WHEN ISNULL(FD.Bonif_Subt, 0) = 0 THEN 0 ELSE FD.Cantidad_Vta END       AS Cant_Bonif   ,
                    M.Cig_x_CLL                                                                  AS Cig_x_CLL    ,
                    FD.Cantidad_Vta                                                              AS Cantidad     , 
                    ( ISNULL( FD.Valor_Subt  , 0 ) + ISNULL( FD.Envio_Subt, 0 ) + ISNULL( FD.Credito_Subt, 0 ) ) AS Valor_Subt   , 
                    ( ISNULL( FD.Valor_IVA   , 0 ) + ISNULL( FD.Envio_IVA , 0 ) + ISNULL( FD.Credito_IVA , 0 ) ) AS Valor_IVA    , 
                    ( ISNULL( FD.Bonif_Subt  , 0 ) )                                             AS Bonif_Subt   , 
                    ( ISNULL( FD.Bonif_IVA   , 0 ) )                                             AS Bonif_IVA    ,
                    ( ISNULL( FD.Envio_Subt  , 0 ) )                                             AS Envio_Subt   , 
                    ( ISNULL( FD.Envio_IVA   , 0 ) )                                             AS Envio_IVA    , 
                    ( ISNULL( FD.Credito_Subt, 0 ) )                                             AS Credito_Subt , 
                    ( ISNULL( FD.Credito_IVA , 0 ) )                                             AS Credito_IVA  
             FROM T3.Preventa_General   FG
             INNER JOIN T3.Preventa_Detalle FD ON FG.Factura = FD.Factura
             INNER JOIN T3.Entrega          E  ON FG.Factura = E.Factura
             INNER JOIN T3.Material         M  ON FD.Material = M.Material
             LEFT OUTER JOIN T3.Factura_Bonif Bon ON FD.Factura = Bon.Factura AND FD.Num_Linea = Bon.Num_Linea
             INNER JOIN T3.Cliente          C  ON FG.Cliente_SAP = C.Cliente_SAP
             WHERE CONVERT(VARCHAR(8), FG.Fecha_Factura, 112) >= @sFecha_Inicio
               AND CONVERT(VARCHAR(8), FG.Fecha_Factura, 112) <= @sFecha_Final
               AND FG.Fecha_Cancelacion                    IS NULL
               AND FG.Fecha_Proc_BATMD                     IS NOT NULL
               AND FG.Clase_Factura                        IN ( 'Z005', 'Z006', 'Z007', 'Z014', 'Z015' ,'C005','C006')
               AND FG.Fecha_Factura                        BETWEEN C.Fecha_Ini_Vig AND C.Fecha_Fin_Vig
               AND YEAR( FG.Fecha_Proc_BATMD )             != 2999
             ) Venta
             LEFT OUTER JOIN ( 
                 SELECT SKU.Material               AS SKU_Code,
                        SKU.Nombre_Material        AS SKU_Name, 
                        ''                         AS Fam_Name
                 FROM T3.Material  SKU
             ) SKU ON Venta.Material = SKU.SKU_Code
             INNER JOIN T3.Distribuidor_Fiscal DF ON Venta.Ctro = DF.Ctro
        GROUP BY 
             Venta.Semana       , Venta.Region       ,
             Venta.Fecha        ,
             Venta.Ctro          , DF.Nombre_Corto    ,
             Venta.LP            ,
             Venta.Tipo_Venta   , Venta.ID_Programa  ,
             Venta.Material      , SKU.SKU_Name       ,
             SKU.Fam_Name       , Venta.UM_Venta     , Venta.Cig_x_UMV  ;

    BEGIN TRY
        SET @nCount = 0 ;
        
        PRINT '-----------------------------' ;
        PRINT 'Proc_T3_Bonif_Resumen' ;
        PRINT CONVERT(VARCHAR, GETDATE(), 120) ;
        
        TRUNCATE TABLE T3.BONIF_RESUMEN ;

        OPEN ScrResumen;
        FETCH NEXT FROM ScrResumen INTO 
            @cur_Semana, @cur_Region, @cur_Ctro, @cur_Nombre_Corto, @cur_LP, @cur_Fecha, @cur_Tipo_Venta, 
            @cur_ID_Programa, @cur_Material, @cur_SKU_Name, @cur_Fam_Name, @cur_UM_Venta, @cur_Cig_x_UMV, 
            @cur_Venta_Volumen, @cur_Venta_Valor_Subt, @cur_Venta_Valor_IVA, @cur_Bonif_Volumen, 
            @cur_Bonif_Valor_Subt, @cur_Bonif_Valor_IVA, @cur_Envio_Valor_Subt, @cur_Envio_Valor_IVA, 
            @cur_Credito_Valor_Subt, @cur_Credito_Valor_IVA;

        WHILE @@FETCH_STATUS = 0
        BEGIN
           SET @nCount = @nCount + 1 ;
           
           INSERT INTO T3.BONIF_RESUMEN 
              ( Semana              , Ctro                , Nombre_Ctro           , LP                    ,
                Tipo_Venta          , ID_Programa         , Material              , Material_Nombre       ,
                Familia             , UMV                 , Cig_x_UMV             , Venta_Volumen         ,
                Venta_Valor_Subt    , Venta_Valor_IVA     , Bonif_Volumen         , Bonif_Valor_Subt      ,
                Envio_Valor_Subt    , Envio_Valor_IVA     , Credito_Valor_Subt    , Credito_Valor_IVA     ,
                Bonif_Valor_IVA     , Region              , Fecha                                         )      
           VALUES
              ( @cur_Semana          , @cur_Ctro            , @cur_Nombre_Corto      , @cur_LP                ,
                @cur_Tipo_Venta      , @cur_ID_Programa     , @cur_Material          , @cur_SKU_Name          ,
                @cur_Fam_Name        , @cur_UM_Venta        , @cur_Cig_x_UMV         , @cur_Venta_Volumen     ,
                @cur_Venta_Valor_Subt, @cur_Venta_Valor_IVA , @cur_Bonif_Volumen     , @cur_Bonif_Valor_Subt  ,
                @cur_Envio_Valor_Subt, @cur_Envio_Valor_IVA , @cur_Credito_Valor_Subt, @cur_Credito_Valor_IVA ,
                @cur_Bonif_Valor_IVA , @cur_Region          , CONVERT(VARCHAR(8), @cur_Fecha, 112) ) ;

           FETCH NEXT FROM ScrResumen INTO 
               @cur_Semana, @cur_Region, @cur_Ctro, @cur_Nombre_Corto, @cur_LP, @cur_Fecha, @cur_Tipo_Venta, 
               @cur_ID_Programa, @cur_Material, @cur_SKU_Name, @cur_Fam_Name, @cur_UM_Venta, @cur_Cig_x_UMV, 
               @cur_Venta_Volumen, @cur_Venta_Valor_Subt, @cur_Venta_Valor_IVA, @cur_Bonif_Volumen, 
               @cur_Bonif_Valor_Subt, @cur_Bonif_Valor_IVA, @cur_Envio_Valor_Subt, @cur_Envio_Valor_IVA, 
               @cur_Credito_Valor_Subt, @cur_Credito_Valor_IVA;
        END ;
        CLOSE ScrResumen;
        DEALLOCATE ScrResumen;

        PRINT CONVERT(VARCHAR, GETDATE(), 120) ;
        PRINT 'Registros : ' + CAST(@nCount AS VARCHAR(10)) ;
        PRINT '-----------------------------' ;

    END TRY
    BEGIN CATCH
        IF CURSOR_STATUS('local', 'ScrResumen') >= 0 BEGIN CLOSE ScrResumen; DEALLOCATE ScrResumen; END;

        SET @sMsg = SUBSTRING('ERROR SQL SERVER ' + CAST(ERROR_NUMBER() AS VARCHAR(10)) + ' ' + ERROR_MESSAGE(), 1, 480) ;
        
        PRINT '*********** Mensaje ********************' ;
        PRINT '*** Error en Proc_T3_Bonif_Resumen **** ' ;
        PRINT @sMsg ;
    END CATCH;
END;
GO
