USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_CFDI_GET_PAYMETHOD]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[PROC_CFDI_GET_PAYMETHOD] 
   ( 
     @sDocumento     VARCHAR(MAX),
     @sMetodoDePago  VARCHAR(MAX),
     @sNumCtaPago    VARCHAR(MAX),
     @oMetodoDePago  VARCHAR(MAX) OUTPUT,
     @oNumCtaPago    VARCHAR(MAX) OUTPUT 
   )
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @nPagos          NUMERIC(6,0)   ;
    DECLARE @nFechas         NUMERIC(6,0)   ;
    DECLARE @sMsg            VARCHAR(500)   ;
    DECLARE @strID           VARCHAR(50)    ;
    DECLARE @sRow_ID         VARCHAR(50)    ;
    DECLARE @sMetodos        VARCHAR(50)    ;
    DECLARE @nAbonado        NUMERIC(14,2)  ;
    DECLARE @nImporte_Doc    NUMERIC(14,2)  ;
    DECLARE @dtFecha_Doc     DATETIME       ; 

    -- Variables cursores
    DECLARE @Doc_Row_ID VARCHAR(50), @Doc_Invc_Dt DATETIME, @Doc_Invc_Fully_Paid_dt VARCHAR(50), @Doc_RFC VARCHAR(50), @Doc_Sub_Type_CD VARCHAR(50), @Doc_metodoDePago VARCHAR(MAX), @Doc_NumCtaPago VARCHAR(MAX), @Doc_Importe_Docto NUMERIC(14,2);
    DECLARE @Pay_fecha_pago DATETIME, @Pay_Pay_Type_CD VARCHAR(50), @Pay_Asignado NUMERIC(14,2), @Pay_Importe_Doc NUMERIC(14,2), @Pay_metodoDePago VARCHAR(MAX);

    DECLARE scrDocument CURSOR LOCAL FOR
        SELECT 
               '0'                                                                         AS Row_ID             ,
               Inv.Fecha_Factura                                                           AS Invc_Dt            ,
               ''                                                                          AS Invc_Fully_Paid_dt ,
               Cte.RFC                                                                     AS RFC                ,
               Td.Origen                                                                   AS Sub_Type_CD        ,
               EAI_Owner.getConv( 'TMD_PAC Payment Method', 'BAT Comercial' )              AS metodoDePago       ,                        
               EAI_Owner.getConv( 'TMD_PAC Payment Method', 'BAT Comercial Ref Banco' )    AS NumCtaPago         ,
               T3.FN_TOTAL_FACT( Inv.Factura )                                             AS Importe_Docto
        FROM 
          T3.Registro_Fiscal Inv,
          T3.Tipo_Documento  Td,
          T3.Cliente         Cte 
        WHERE Inv.Factura       = @sDocumento
          AND Inv.Tipo_Docto    = Td.Tipo_documento
          AND Inv.Cliente_SAP   = Cte.Cliente_SAP
          AND Inv.Fecha_Factura BETWEEN Cte.Fecha_Ini_Vig AND Cte.Fecha_Fin_Vig
          AND Td.Tipo_documento IN ('C003','C004','C005','C006');

    DECLARE scrPayments CURSOR LOCAL FOR
        SELECT fecha_pago, Pago.Pay_Type_CD, Pago.Asignado, Pago.Importe_Doc,
               EAI_Owner.getConv( 'TMD_PAC Accnt Payment Method', Pago.Pay_Type_CD ) AS metodoDePago
        FROM (
               SELECT Fecha_Pago                                               AS Fecha_Pago ,
                      EAI_Owner.getConv ('PAC Accnt Payment Method',via_pago)  AS Pay_Type_CD, 
                      SUM( ISNULL( Importe, 0 ) )                              AS Asignado   ,
                      MAX( ISNULL( Saldo_Anterior, 0 )  )                      AS Importe_Doc
                 FROM T3.CFDI_Cobranza
                 WHERE Factura = @sDocumento
                   AND Fecha_Pago = @dtFecha_Doc
                 GROUP BY EAI_Owner.getConv ('PAC Accnt Payment Method', Via_Pago ) , Fecha_pago 
             ) Pago 
        GROUP BY fecha_pago, Pago.Pay_Type_CD, Pago.Asignado, Pago.Importe_Doc,
                 EAI_Owner.getConv( 'TMD_PAC Accnt Payment Method', Pago.Pay_Type_CD )
        ORDER BY Pago.Asignado ;   

    BEGIN TRY
        SET @strID         = @sDocumento ;
        SET @oMetodoDePago = @sMetodoDePago ;
        SET @oNumCtaPago   = @sNumCtaPago   ;
        SET @nPagos        = 0              ;
        SET @nAbonado      = 0              ;
        SET @sRow_ID       = 'EMPTY'        ;
        
        OPEN scrDocument;
        FETCH NEXT FROM scrDocument INTO @Doc_Row_ID, @Doc_Invc_Dt, @Doc_Invc_Fully_Paid_dt, @Doc_RFC, @Doc_Sub_Type_CD, @Doc_metodoDePago, @Doc_NumCtaPago, @Doc_Importe_Docto;
        
        WHILE @@FETCH_STATUS = 0
        BEGIN
           SET @sRow_ID       = @Doc_Row_ID        ;
           SET @nImporte_Doc  = @Doc_Importe_Docto ;
           SET @dtFecha_Doc   = @Doc_Invc_Dt       ;
           
           IF ( @Doc_Sub_Type_CD = 'Nota de Venta' ) 
           BEGIN       
              SELECT @nFechas = COUNT(DISTINCT Fecha_Pago ) 
                 FROM T3.CFDI_Cobranza 
                 WHERE Factura = @sDocumento ;
                 
              IF ( ISNULL( @nFechas, 0 )  > 1 )  
              BEGIN
                   SET @oMetodoDePago = @Doc_MetodoDePago ;
                   SET @oNumCtaPago   = @Doc_NumCtaPago   ;
              END
              ELSE IF ( ISNULL( @nFechas, 0 ) = 0 )  
              BEGIN     
                   SET @sRow_ID       = 'EMPTY'        ;
              END
              ELSE
              BEGIN
                   SET @oNumCtaPago   = @sNumCtaPago      ;
                   SET @sMetodos      = ''                ;
                   
                 OPEN scrPayments;
                 FETCH NEXT FROM scrPayments INTO @Pay_fecha_pago, @Pay_Pay_Type_CD, @Pay_Asignado, @Pay_Importe_Doc, @Pay_metodoDePago;
                 
                 WHILE @@FETCH_STATUS = 0
                 BEGIN
                    SET @nAbonado = @nAbonado + @Pay_Asignado ;
                    
                    IF ( @Pay_Pay_Type_CD = @Pay_MetodoDePago ) 
                    BEGIN
                       SET @nPagos = @nPagos + 0 ;
                    END
                    ELSE
                    BEGIN
                       SET @nPagos = @nPagos + 1 ;
                       IF ( LEN( @sMetodos ) > 0 ) 
                       BEGIN
                          SET @sMetodos = @sMetodos + ',' + @Pay_MetodoDePago ;
                          SET @sMetodos = @Pay_MetodoDePago ; -- Bloque redundante mantenido
                       END
                       ELSE
                       BEGIN
                          SET @sMetodos = @Pay_MetodoDePago ;
                       END
                    END 
                    
                    FETCH NEXT FROM scrPayments INTO @Pay_fecha_pago, @Pay_Pay_Type_CD, @Pay_Asignado, @Pay_Importe_Doc, @Pay_metodoDePago;
                 END 
                 CLOSE scrPayments;

                 IF ( ABS( @nImporte_Doc - @nAbonado ) > 0.05 ) 
                 BEGIN
                    SET @sRow_ID  = 'EMPTY'        ;
                 END 

              -- Mas de un Pago
                 IF ( @nPagos = 0 ) 
                 BEGIN
                    SET @oMetodoDePago = @Doc_MetodoDePago ;
                    SET @oNumCtaPago   = @Doc_NumCtaPago   ;
                 END
                 ELSE
                 BEGIN
                    SET @oMetodoDePago = @sMetodos         ;   
                 END 
              END 
           END
           ELSE IF ( @Doc_Sub_Type_CD = 'Nota de Devolución' ) 
           BEGIN   
                   SET @oMetodoDePago = @Doc_MetodoDePago ;
                   SET @oNumCtaPago   = @Doc_NumCtaPago   ;
           END
           ELSE
           BEGIN
                   SET @oMetodoDePago = @sMetodoDePago    ;
                   SET @oNumCtaPago   = @sNumCtaPago      ;
           END 
           
           FETCH NEXT FROM scrDocument INTO @Doc_Row_ID, @Doc_Invc_Dt, @Doc_Invc_Fully_Paid_dt, @Doc_RFC, @Doc_Sub_Type_CD, @Doc_metodoDePago, @Doc_NumCtaPago, @Doc_Importe_Docto;
        END 
        CLOSE scrDocument;
        
        IF ( @sRow_ID = 'EMPTY' ) 
        BEGIN
           SELECT @oMetodoDePago = EAI_Owner.getConv( 'TMD_PAC Payment Method', 'BAT Comercial' ),                        
                  @oNumCtaPago   = EAI_Owner.getConv( 'TMD_PAC Payment Method', 'BAT Comercial Ref Banco' )  ;          
        END 

        DEALLOCATE scrDocument;
        DEALLOCATE scrPayments;

    END TRY
    BEGIN CATCH
        
        IF CURSOR_STATUS('global','scrDocument') >= -1 OR CURSOR_STATUS('local','scrDocument') >= -1
        BEGIN
            CLOSE scrDocument; DEALLOCATE scrDocument;
        END
        IF CURSOR_STATUS('global','scrPayments') >= -1 OR CURSOR_STATUS('local','scrPayments') >= -1
        BEGIN
            CLOSE scrPayments; DEALLOCATE scrPayments;
        END

        SET @sMsg = SUBSTRING( CAST(ERROR_NUMBER() AS VARCHAR) + '-' + ERROR_MESSAGE(), 1, 250 ) ;
        SET @sMsg = SUBSTRING( ERROR_MESSAGE(), 1, 250 ) ;
        
        PRINT REPLICATE( '-', 80 ) ;
        PRINT 'Problemas en la ejecucion del Procedimiento' ;
        PRINT 'FAVOR DE ESCALAR LOS SIGUIENTES DATOS :' ;
        PRINT 'Procedimiento : ' + 'PROC_CFDI_GET_PAYMETHOD' ;
        PRINT 'Fecha         : ' + FORMAT( GETDATE(), 'yyyyMMdd HH:mm:ss' ) ;
        PRINT 'Referencia    : ' + ISNULL(@strID, '') ;
        PRINT 'Error         : ' + ISNULL(@sMsg, '') ;
        PRINT REPLICATE( '-', 80 ) ;
        
        INSERT INTO T3.RF_ERROR_LOG 
           ( FECHA, RUTINA, REFERENCIA, ERROR_DESC )
        VALUES
           ( GETDATE(), 'PROC_CFDI_GET_PAYMETHOD', @strID, @sMsg ) ;
            
    END CATCH
END;
GO
