USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_V40_GENERAR_REMISION_INV3]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[PROC_V40_GENERAR_REMISION_INV3] 
  ( @pFactura        VARCHAR(MAX),
    @pDom_Almacen    NUMERIC = 11,
    @pDom_Cliente    NUMERIC = 11,
    @pOutput         NUMERIC = 0 ) 
AS
BEGIN
   SET NOCOUNT ON;
   
   DECLARE
       @strID               VARCHAR(30),
       @sMsg                VARCHAR(500), 
       @sCtro               VARCHAR(4),
       @sStep               VARCHAR(60),
--
       @sReturn             VARCHAR(MAX),    
       @sCABFAC             VARCHAR(MAX),
       @sIMPFAC             VARCHAR(MAX),
       @sCABCLIE            VARCHAR(MAX),
--     @sLINFAC             VARCHAR(MAX),
       @sLINFAC             VARCHAR(MAX),  -- CLOB
       @sADULFAC            VARCHAR(MAX),
       @sLeyMenor           VARCHAR(MAX),
       @sLeyPriv            VARCHAR(MAX),   
       @sSepLinea           VARCHAR(4),
       @sSepCampo           VARCHAR(4),
       @sTipoDocto          VARCHAR(4),
       @sAgrupacion         VARCHAR(60),
       @sSociedad           VARCHAR(30),
       @nLineas             NUMERIC(5,0),
       @nLineasImp          NUMERIC(3,0),
       @nLineasLey          NUMERIC(3,0),
       @nEnajenado          NUMERIC(22,0),
       @sFactura            VARCHAR(60),
       @sMaterial           VARCHAR(60),
       @sPedimento          VARCHAR(60),
       @nTotal              NUMERIC(22,2),
       @nItems              NUMERIC(22,2),   
       @sData               VARCHAR(MAX),
       @strReference        VARCHAR(20),
       @nSequence           NUMERIC(10,0),
--   
       @sCABPORTE           VARCHAR(MAX),
       @sCABPORTE2          VARCHAR(MAX),
       @sLINPORTE           VARCHAR(MAX),   
--
       @spedidoV3           VARCHAR(400),
       @ssucursalNombre     VARCHAR(400),
       @spedidoSAP          VARCHAR(400),
       @sfacturaSAP         VARCHAR(400),
       @sRecibe_Nombre      VARCHAR(400),
       @sRemite_Nombre      VARCHAR(400),
       @sRemite_Calle       VARCHAR(400),
       @sRemite_noExterior  VARCHAR(400),
       @sRemite_noInterior  VARCHAR(400),
       @sRemite_colonia     VARCHAR(400),
       @sRemite_municipio   VARCHAR(400),
       @sRemite_estado      VARCHAR(400),
       @sRemite_pais        VARCHAR(400),
       @sRemite_codigoPostal VARCHAR(400),
       @sTipo_Documento     VARCHAR(400),
       @sRecibe_Cliente     VARCHAR(400),
       @sRemite_Cliente     VARCHAR(400),
       @sRep_OneID          VARCHAR(400),   
       @sCentroExpedicion   VARCHAR(400),
       @sLugarExpedicion    VARCHAR(400),
       @seMail              VARCHAR(400),   
       @sDetalleItem        VARCHAR(10),
       @sIncoterms          VARCHAR(400),   
       @nRetenciones        NUMERIC(12,2),
       @nDecimalesCFDI      NUMERIC(3,0),
       @sMetodoDePago       VARCHAR(100),
       @sNumCtaPago         VARCHAR(100),
       @sDatosAdicionales   VARCHAR(2000),
       @sSAT_ID             VARCHAR(30),
       @sSAT_UM             VARCHAR(30),
       @sIdentificacion     VARCHAR(30),
       @sNombreVAN          VARCHAR(60),
       @sRepName            VARCHAR(100),
       @sRepRFC             VARCHAR(60),
       @sRepLicencia        VARCHAR(60),
       @sRepPlacas          VARCHAR(60),
       @sRepModelo          VARCHAR(60),
       @nRepPeso_Maximo     NUMERIC(10,3),
       @sMatPeligroso       VARCHAR(60),
--   
       @sTerr               VARCHAR(4),
       @sDeliveryDay        VARCHAR(4),
       @nDiasEntrega        NUMERIC(2,0),
       @sEstadoDist         VARCHAR(100);

   -- Variables cursores
   DECLARE 
       @Doc_Doc_Total NUMERIC, @Doc_Ctro VARCHAR(400), @Doc_Volumen NUMERIC, @Doc_Peso_Volumen NUMERIC, 
       @Doc_Cantidad_Items NUMERIC, @Doc_Factura VARCHAR(400), @Doc_Fecha_Factura DATE, @Doc_versionCFDI VARCHAR(10), 
       @Doc_serie VARCHAR(100), @Doc_folio VARCHAR(100), @Doc_pedidoV3 VARCHAR(100), @Doc_pedidoSAP VARCHAR(100), 
       @Doc_facturaSAP VARCHAR(100), @Doc_repVentas VARCHAR(100), @Doc_sucursalNombre VARCHAR(400), 
       @Doc_fecha VARCHAR(100), @Doc_fecha_salida VARCHAR(100), @Doc_tipoDeComprobante VARCHAR(10), 
       @Doc_formaDePago VARCHAR(100), @Doc_condicionesDePago VARCHAR(100), @Doc_motivoDescuento VARCHAR(100), 
       @Doc_Descuento NUMERIC, @Doc_subTotal NUMERIC, @Doc_total NUMERIC, @Doc_metodoDePago VARCHAR(100), 
       @Doc_NumCtaPago VARCHAR(100), @Doc_TipoCambio VARCHAR(10), @Doc_Moneda VARCHAR(10), 
       @Doc_LugarExpedicion VARCHAR(400), @Doc_Emisor_RFC VARCHAR(100), @Doc_Emisor_Nombre VARCHAR(400), 
       @Doc_Emisor_Calle VARCHAR(400), @Doc_Emisor_NoExterior VARCHAR(100), @Doc_Emisor_NoInterior VARCHAR(100), 
       @Doc_Emisor_Colonia VARCHAR(400), @Doc_Emisor_Localidad VARCHAR(400), @Doc_Emisor_Municipio VARCHAR(400), 
       @Doc_Emisor_Estado VARCHAR(400), @Doc_Emisor_Pais VARCHAR(100), @Doc_Emisor_CodigoPostal VARCHAR(100), 
       @Doc_Expide_calle VARCHAR(400), @Doc_Expide_noExterior VARCHAR(100), @Doc_Expide_noInterior VARCHAR(100), 
       @Doc_Expide_colonia VARCHAR(400), @Doc_Expide_municipio VARCHAR(400), @Doc_Expide_estado VARCHAR(400), 
       @Doc_Expide_Pais VARCHAR(100), @Doc_Expide_codigoPostal VARCHAR(100), @Doc_Origen_calle VARCHAR(400), 
       @Doc_Origen_noExterior VARCHAR(100), @Doc_Origen_noInterior VARCHAR(100), @Doc_Origen_Estado VARCHAR(400), 
       @Doc_Origen_Ciudad VARCHAR(400), @Doc_Origen_Colonia VARCHAR(400), @Doc_Origen_CodigoPostal VARCHAR(100), 
       @Doc_Origen_SAT_CP VARCHAR(100), @Doc_Origen_Pais VARCHAR(100), @Doc_RegimenFiscal VARCHAR(400), 
       @Doc_Recibe_RFC VARCHAR(100), @Doc_Recibe_Nombre VARCHAR(400), @Doc_Tipo_Documento VARCHAR(100), 
       @Doc_Recibe_Cliente VARCHAR(100), @Doc_Remite_Cliente VARCHAR(100), @Doc_Rep_oneID VARCHAR(100), 
       @Doc_CentroExpedicion VARCHAR(100), @Doc_DecimalesCFDI NUMERIC, @Doc_eMail VARCHAR(400), 
       @Doc_Sociedad VARCHAR(100), @Doc_ConfirmacionPAC VARCHAR(100), @Doc_UsoCFDI VARCHAR(100), 
       @Doc_ResidenciaFiscal VARCHAR(100), @Doc_RegTributarioExt VARCHAR(100), @Doc_TipoRelacion VARCHAR(100), 
       @Doc_Observaciones VARCHAR(MAX), @Doc_Incoterms VARCHAR(400), @Doc_ImpuestosTrasladados VARCHAR(100), 
       @Doc_impuesto VARCHAR(100), @Doc_tasa VARCHAR(100), @Doc_importe VARCHAR(100), @Doc_TipoPermiso VARCHAR(100), 
       @Doc_NumeroPermiso VARCHAR(100), @Doc_Aseguradora VARCHAR(400), @Doc_NumeroPoliza VARCHAR(100), 
       @Doc_AsegRespCivil VARCHAR(400), @Doc_PolizaRespCivil VARCHAR(100), @Doc_AsegMedioAmb VARCHAR(400), 
       @Doc_PolizaMedioAmb VARCHAR(100), @Doc_AsegCarga VARCHAR(400), @Doc_PolizaCarga VARCHAR(100), 
       @Doc_NombreVAN VARCHAR(400);
   DECLARE 
       @Item_numLinea VARCHAR(100), @Item_cantidad VARCHAR(100), @Item_unidad VARCHAR(100), 
       @Item_SAT_UM_Conv VARCHAR(100), @Item_noIdentificacion VARCHAR(100), @Item_Cig_x_Unidad_Vta NUMERIC, 
       @Item_valorUnitario VARCHAR(100), @Item_importe VARCHAR(100), @Item_SKU_importacion VARCHAR(10), 
       @Item_RFD_Valor_Subt NUMERIC, @Item_RFD_Valor_IVA NUMERIC, @Item_Channel VARCHAR(10), 
       @Item_descripcion VARCHAR(400), @Item_Peso_Item NUMERIC, @Item_Mat_Peligroso VARCHAR(100), 
       @Item_Cve_Peligroso VARCHAR(100);
   DECLARE 
       @Cte_Remite_Cliente VARCHAR(100), @Cte_Destino_Cliente VARCHAR(100), @Cte_Remite_Nombre VARCHAR(400), 
       @Cte_Remite_RFC VARCHAR(100), @Cte_Remite_Calle VARCHAR(400), @Cte_Remite_Colonia VARCHAR(400), 
       @Cte_Remite_Municipio VARCHAR(400), @Cte_Remite_Estado VARCHAR(400), @Cte_Remite_Pais VARCHAR(100), 
       @Cte_Remite_codigoPostal VARCHAR(100), @Cte_Ubica_Estado VARCHAR(400), @Cte_Ubica_Ciudad VARCHAR(400), 
       @Cte_Ubica_Colonia VARCHAR(400), @Cte_Ubica_CodigoPostal VARCHAR(100), @Cte_Ubica_SAT_CP VARCHAR(100);

   DECLARE ScrDatos CURSOR LOCAL FORWARD_ONLY STATIC FOR
       SELECT 
              0                                                  AS Doc_Total            ,
              'CTRL'                                             AS Ctro                 ,
              Det.Volumen                                        AS Volumen              ,
              Det.Peso_Volumen                                   AS Peso_Volumen         , 
              Det.Cantidad_Items                                 AS Cantidad_Items       ,
              Doc.Factura                                        AS Factura              ,
              CAST(GETDATE() AS DATE)                            AS Fecha_Factura        ,
--              
              '3.3'                                              AS versionCFDI          ,
              Doc.Remision_Serie                                 AS serie                ,              
              Doc.Remision_Folio                                 AS folio                ,
              CONVERT(VARCHAR(10), Doc.Fecha_Factura, 104)       AS pedidoV3             ,     
              ''                                                 AS pedidoSAP            ,
              ''                                                 AS facturaSAP           ,
              ''                                                 AS repVentas            ,
              Doc.Van_Name                                       AS sucursalNombre       ,
              REPLACE(CONVERT(VARCHAR(10), GETDATE(), 103), '/', '') 
                  + REPLACE(CONVERT(VARCHAR(8), DATEADD(HOUR, -2, GETDATE()), 108), ':', '')       
                                                                 AS fecha                ,
              REPLACE(CONVERT(VARCHAR(10), Doc.Fecha_Factura, 103), '/', '') +
                       '060000'                                  AS fecha_salida         , 
              'T'                                                AS tipoDeComprobante    ,
              EAI_Owner.getConv( 'CFG Settings', 'Remision - Forma Pago' )             
                                                                 AS formaDePago          ,
              EAI_Owner.getConv( 'CFG Settings', 'Remision - Condicion Pago' )
                                                                 AS condicionesDePago    ,
              'Descuento'                                        AS motivoDescuento      ,
              0                                                  AS Descuento            ,
              0                                                  AS subTotal             ,
              0                                                  AS total                ,
--
--            EAI_Owner.getConv( 'CFG Settings', 'Remision - Metodo Pago' )
--                                                               AS metodoDePago         ,                                    
              ''                                                 AS metodoDePago         ,                                    
              ''                                                 AS NumCtaPago           ,                  
              ''                                                 AS TipoCambio           ,
              'XXX'                                              AS Moneda               ,
--            
              'Monterrey, N.L.'                                  AS LugarExpedicion      ,
              T3.FN_TRIM_CFDI( Soc.RFC              )            AS Emisor_RFC           ,
              T3.FN_TRIM_CFDI( Soc.Razon_Social_HH  )            AS Emisor_Nombre        ,
              T3.FN_TRIM_CFDI( Soc.Calle            )            AS Emisor_Calle         , 
              T3.FN_TRIM_CFDI( Soc.Numero_Ext       )            AS Emisor_NoExterior    ,
              T3.FN_TRIM_CFDI( Soc.Numero_Int       )            AS Emisor_NoInterior    ,
              T3.FN_TRIM_CFDI( Soc.Colonia          )            AS Emisor_Colonia       ,
              T3.FN_TRIM_CFDI( Soc.Localidad        )            AS Emisor_Localidad     ,
              T3.FN_TRIM_CFDI( Soc.Municipio        )            AS Emisor_Municipio     ,
--            T3.FN_TRIM_CFDI( Soc.Estado           )            AS Emisor_Estado        ,
              T3.FN_TRIM_CFDI(               
                 EAI_Owner.getConv( 'CFDI Estado',
                                    Soc.Estado ) )               AS Emisor_Estado        ,
--            T3.FN_TRIM_CFDI( Soc.Pais          )               AS Emisor_Pais          ,
              'MEX'                                              AS Emisor_Pais          ,
              T3.FN_TRIM_CFDI( Soc.Codigo_Postal )               AS Emisor_CodigoPostal  ,
--                
              T3.FN_TRIM_CFDI( Alm.Almacen_Calle      )          AS Expide_calle         , 
              T3.FN_TRIM_CFDI( Alm.Almacen_NoExterior )          AS Expide_noExterior    ,
              T3.FN_TRIM_CFDI( Alm.Almacen_NoInterior )          AS Expide_noInterior    ,
              T3.FN_TRIM_CFDI( Alm.Almacen_Colonia    )          AS Expide_colonia       ,
              T3.FN_TRIM_CFDI( Alm.Almacen_Municipio  )          AS Expide_municipio     ,
              T3.FN_TRIM_CFDI( Alm.Almacen_Estado     )          AS Expide_estado        ,
              'MEX'                                              AS Expide_Pais          ,               
              T3.FN_TRIM_CFDI( 
                 RIGHT('00000' + ISNULL(Alm.Almacen_codigoPostal, ''), 5)  )     AS Expide_codigoPostal,
--
              T3.FN_TRIM_CFDI( Alm.Almacen_Calle      )          AS Origen_calle         , 
              T3.FN_TRIM_CFDI( Alm.Almacen_NoExterior )          AS Origen_noExterior    ,
              T3.FN_TRIM_CFDI( Alm.Almacen_NoInterior )          AS Origen_noInterior    ,
              EAI_Owner.getConv( 'CFDI Cat Estado'   , Alm.Almacen_Estado )                            
                                                                 AS Origen_Estado        ,
              SUBSTRING( EAI_Owner.getConv( 'CFDI Cat Municipio', Alm.Almacen_Municipio ), 4, 3 )              
                                                                 AS Origen_Ciudad        ,
              EAI_Owner.getCONV_Colonia( 
                 SUBSTRING( EAI_Owner.getConv( 'CFDI Cat Municipio', Alm.Almacen_Municipio ), 1, 6 ),
                 Alm.Almacen_Colonia, 'Col' )                    AS Origen_Colonia       ,
              EAI_Owner.getCONV_Colonia( 
                 SUBSTRING( EAI_Owner.getConv( 'CFDI Cat Municipio', Alm.Almacen_Municipio ), 1, 6 ),
                 Alm.Almacen_Colonia, 'CP'  )                    AS Origen_CodigoPostal  ,
              EAI_Owner.getCONV_Colonia( 
                 SUBSTRING( EAI_Owner.getConv( 'CFDI Cat Municipio', Alm.Almacen_Municipio ), 1, 6 ),
                 Alm.Almacen_Colonia, 'SAT' )                    AS Origen_SAT_CP        , 
              'MEX'                                              AS Origen_Pais          ,     
--
--            'Régimen de Consolidación'                         AS RegimenFiscal        ,
--            'Régimen General de Ley Personas Morales'          AS RegimenFiscal        ,                             
              EAI_Owner.getConv( 'CFG Settings', 'Regimen Fiscal' )             
                                                                 AS RegimenFiscal        ,                             
--              
              Soc.RFC                                            AS Recibe_RFC           ,
              Soc.Razon_Social_HH                                AS Recibe_Nombre        ,
--                    
--
              'REMISION'                                         AS Tipo_Documento       ,
              Doc.Van_Cliente_SAP                                AS Recibe_Cliente       ,
              Doc.Van_Cliente_SAP                                AS Remite_Cliente       ,
              Doc.Rep_oneID                                      AS Rep_oneID            ,              
              Doc.Ctro                                           AS CentroExpedicion     ,              
              2                                                  AS DecimalesCFDI        , 
              Doc.Rep_eMail                                      AS eMail                ,   
              Doc.Sociedad                                       AS Sociedad             ,
              ''                                                 AS ConfirmacionPAC      ,
              EAI_Owner.getConv( 'CFG Settings', 'UsoCFDI_Remision' )
                                                                 AS UsoCFDI              ,
              ''                                                 AS ResidenciaFiscal     ,
              ''                                                 AS RegTributarioExt     ,
              ''                                                 AS TipoRelacion         ,              
--              
              ''                                                 AS Observaciones        ,
              ''                                                 AS Incoterms            ,
              '0'                                                AS ImpuestosTrasladados ,
              'IVA'                                              AS impuesto             , 
              '0'                                                AS tasa                 ,
              '0'                                                AS importe              ,
--
              EAI_Owner.getConv( 'CFG Settings', 'Porte TipoPermiso'      )                     AS TipoPermiso         ,
              EAI_Owner.getConv( 'CFG Settings', 'Porte NumeroPermiso'    )                     AS NumeroPermiso       ,
              EAI_Owner.getConv( 'CFG Settings', 'Porte Aseguradora'      )                     AS Aseguradora         ,
              EAI_Owner.getConv( 'CFG Settings', 'Porte NumeroPoliza'     )                     AS NumeroPoliza        ,
              EAI_Owner.getConv( 'CFG Settings', 'Porte AsegRespCivil'    )                     AS AsegRespCivil       ,
              EAI_Owner.getConv( 'CFG Settings', 'Porte PolizaRespCivil'  )                     AS PolizaRespCivil     ,
              EAI_Owner.getConv( 'CFG Settings', 'Porte AsegMedioAmb'     )                     AS AsegMedioAmb        ,
              EAI_Owner.getConv( 'CFG Settings', 'Porte PolizaMedioAmb'   )                     AS PolizaMedioAmb      ,
              EAI_Owner.getConv( 'CFG Settings', 'Porte AsegCarga'        )                     AS AsegCarga           ,
              EAI_Owner.getConv( 'CFG Settings', 'Porte PolizaCarga'      )                     AS PolizaCarga         ,
              Doc.Van_Name                                                                      AS NombreVAN
          FROM (
                      SELECT 
                            'MX16'                             AS Sociedad             ,
                             VAN.Stock_Partner_VAN             AS Factura              ,
                             CAST( GETDATE() AS DATE )         AS Fecha_Factura        ,
                             SUBSTRING( VAN.Name,  5, 4 )      AS Ctro                 ,
                             SUBSTRING( VAN.Name, 15, 4 )      AS Terr                 ,
                             VAN.Name                          AS Van_Name             ,
                             VAN.Stock_Partner_VAN             AS Van_Cliente_SAP      ,
                             VAN.Resource_Name                 AS Resource_Name        ,
                             VAN.Stock_Partner_Resource        AS Resource_Cliente_SAP ,
                             'CPT'                             AS Remision_Serie       ,
                             @nSequence                        AS Remision_Folio       ,
                             REPLACE( 
                                REPLACE( VAN.IvyBase__Username__c,
                                        'petra3.', '' ),
                                        'PETRA3.', '' )        AS eMail                ,
                             Rep.Correo_Electronico            AS Rep_eMail            ,
                             CASE WHEN Rep.Correo_Electronico IS NULL THEN '' ELSE 
                                 REPLACE( UPPER( Rep.Correo_Electronico ), '@BAT.COM', '' ) END
                                                               AS Rep_oneID                                 
                      FROM EAI_Owner.VANS_Vigentes  VAN,
                           EAI_Owner.Cat_Reps       Rep
                      WHERE VAN.Location_Type          = 'Van'
                        AND VAN.Stock_Partner_VAN      = @pFactura
                        AND VAN.Stock_Partner_Resource = Rep.Cliente_SAP
               )   Doc ,
             (
               SELECT 
                       SUM( ISNULL( Inv.Cantidad, 0 ) )                                       AS Volumen         ,
                       SUM( ISNULL( Inv.Cantidad, 0 ) * ISNULL( Mat.Peso_Caj, 0.001 ) )       AS Peso_Volumen    ,
                       COUNT( DISTINCT Inv.Material )                                         AS Cantidad_Items
                   FROM (
                          SELECT Inv.Van                      AS Van_Location,
                                 Inv.Manuf_SKU_ERPNum_Corto   AS Material    ,
                                 Inv.Available_Qty            AS Cantidad   
                             FROM EAI_Owner.VANS_Vigentes    VAN,
                                  EAI_Owner.ACTUAL_STOCK     Inv
                             WHERE VAN.Location_Type     = 'Van'
                               AND Van.Stock_Partner_VAN = @pFactura  
                               AND VAN.Name              = Inv.Van
                               AND Inv.Available_Qty     > 0
                          UNION ALL
                          SELECT Inv.Destination_Location     AS Van_Location,
                                 Inv.Manuf_SKU_ERPNum_Corto   AS Material    ,
                                 Inv.Logistics_UOM_Qty        AS Cantidad
                             FROM EAI_Owner.VANS_Vigentes    VAN,
                                  EAI_Owner.Ordenes_Internas Inv
                             WHERE VAN.Location_Type     = 'Van'
                               AND Van.Stock_Partner_VAN = @pFactura   
                               AND VAN.Name              = Inv.Destination_Location
                               AND Inv.Status            = 'Allocated'   
                               AND Inv.Logistics_UOM_Qty > 0
                        ) Inv,
                        T3.Material          Mat
                   WHERE Inv.Material = Mat.Material       
             ) Det,
               ( 
                   SELECT
                        CASE
                            WHEN ( Alm.Ctro = 'MX7A' ) THEN 'MXAA'
                            WHEN ( Alm.Ctro = 'MX7B' ) THEN 'MXAB'
                            WHEN ( Alm.Ctro = 'MX7D' ) THEN 'MXAC'
                            ELSE
                               Alm.Ctro                
                        END                                                AS Almacen_Ctro        ,                       
                        Alm.Municipio + ', ' + 
                            EAI_Owner.getConv( 'CFDI Estado', Alm.Estado ) AS Almacen_Lugar_Expide,    
                        T3.SeparaDireccion( Alm.Calle, 'Calle' )   
                                                                           AS Almacen_Calle       , 
                        Alm.Numero_Exterior                                AS Almacen_NoExterior  ,
                        ''                                                 AS Almacen_NoInterior  ,                                                                       
                        T3.SeparaDireccion( Alm.Colonia, 'Col' )           AS Almacen_Colonia     ,
                        T3.FN_TRIM_CFDI( Alm.Municipio         )           AS Almacen_Municipio   ,
                        T3.FN_TRIM_CFDI(                        
                           EAI_Owner.getConv( 'CFDI Estado',
                                              Alm.Estado )    )            AS Almacen_Estado      ,
                        T3.FN_TRIM_CFDI( Alm.Pais              )           AS Almacen_Pais        , 
                        T3.FN_TRIM_CFDI( Alm.CODIGO_POSTAL     )           AS Almacen_codigoPostal             
                   FROM T3.Distribuidor_Fiscal Alm
                   WHERE Ctro LIKE 'MX%' ) Alm,                
               EAI.ZSDFE_Soc         Soc
          WHERE Doc.Factura   = @pFactura
            AND Doc.Ctro      = Alm.Almacen_Ctro
            AND Doc.Sociedad  = Soc.BUKRS
            AND Doc.Sociedad  = ISNULL( Soc.KUNNR, 'NULL' )             ;                         -- CFDI
--
   DECLARE ScrDetalle CURSOR LOCAL FAST_FORWARD FOR
                    SELECT
                                 LTRIM(RTRIM(STR(ROW_NUMBER() OVER(ORDER BY (SELECT NULL)), 10, 0))) AS numLinea            ,
                                  T3.FN_NUM_TO_CHAR_CFDI( Item.Cantidad, 
                                                          @nDecimalesCFDI )              AS cantidad            ,
                                  Prod.Unidad_Med_Vta                                    AS unidad              ,
                                  EAI_Owner.getConv( 'CFDI SAT UM', Prod.Unidad_Med_Vta )   
                                                                                         AS SAT_UM_Conv         ,                                  
                                  Item.Material                                          AS noIdentificacion    ,
                                  0                                                      AS Cig_x_Unidad_Vta    ,
                                  '0'                                                    AS valorUnitario       ,
                                  '0'                                                    AS importe             ,
                                  'NO'                                                   AS SKU_importacion     ,
                                  0                                                      AS RFD_Valor_Subt      ,
                                  0                                                      AS RFD_Valor_IVA       ,
                                  'BAT'                                                  AS Channel             ,
--                                Item.MaterialDescripcion                               AS descripcion
--                                T3.FN_TRIM_CFDI( Item.MaterialDescripcion )            AS descripcion        
                                  T3.FN_CFDI_SKU_NAME( Prod.Nombre_Material )            AS descripcion         ,
                                  Item.Cantidad * ISNULL( Prod.Peso_Caj, 0.001 )         AS Peso_Item           ,
                                  ISNULL( Prod.Mat_Peligroso, '' )                       AS Mat_Peligroso       ,
                                  ISNULL( Prod.Cve_Peligroso, '' )                       AS Cve_Peligroso
                     FROM (
                            SELECT 
                                   Material                               AS Material ,
                                   SUM( Cantidad )                        AS Cantidad
                               FROM (
                                      SELECT Inv.Van                      AS Van_Location,
                                             Inv.Manuf_SKU_ERPNum_Corto   AS Material    ,
                                             Inv.Available_Qty            AS Cantidad   
                                         FROM EAI_Owner.VANS_Vigentes    VAN,
                                              EAI_Owner.ACTUAL_STOCK     Inv
                                         WHERE VAN.Location_Type     = 'Van'
                                           AND Van.Stock_Partner_VAN = @pFactura
                                           AND VAN.Name              = Inv.Van
                                           AND Inv.Available_Qty     > 0
                                      UNION ALL
                                      SELECT Inv.Destination_Location     AS Van_Location,
                                             Inv.Manuf_SKU_ERPNum_Corto   AS Material    ,
                                             Inv.Logistics_UOM_Qty        AS Cantidad
                                         FROM EAI_Owner.VANS_Vigentes    VAN,
                                              EAI_Owner.Ordenes_Internas Inv
                                         WHERE VAN.Location_Type     = 'Van'
                                           AND Van.Stock_Partner_VAN = @pFactura
                                           AND VAN.Name              = Inv.Destination_Location
                                           AND Inv.Status            = 'Allocated'   
                                           AND Inv.Logistics_UOM_Qty > 0
                                     ) T
                                  GROUP BY Material                        
                           ) Item,
                          T3.Material         Prod
                     WHERE ISNULL( Item.Cantidad, 0 ) > 0
                       AND Item.Material           = Prod.Material ;
--                     
   DECLARE ScrClientes CURSOR LOCAL FAST_FORWARD FOR
       SELECT Ruta.Cliente_SAP                                 AS Remite_Cliente      ,
              'DE' + SUBSTRING( Ruta.Cliente_SAP, 5, 6 )       AS Destino_Cliente     ,
              Ruta.Name                                        AS Remite_Nombre       ,
              ISNULL( Ruta.RFC, 'XAXX010101000' )              AS Remite_RFC          ,
              T3.FN_TRIM_CFDI( Cte.Direccion_2 )               AS Remite_Calle        ,
              T3.FN_TRIM_CFDI( Cte.Colonia_2   )               AS Remite_Colonia      ,
              T3.FN_TRIM_CFDI( Cte.Ciudad_2    )               AS Remite_Municipio    ,
              T3.FN_TRIM_CFDI( 
                  EAI_Owner.getConv( 'CFDI Estado',
                                     ISNULL( Cte.Estado_2, @sEstadoDist ) ) )  AS Remite_Estado       ,
              'MEX'                                            AS Remite_Pais         , 
              T3.FN_TRIM_CFDI( 
                      RIGHT('00000' + ISNULL( Cte.Codigo_Postal_2, '99999' ), 5 )  )  AS Remite_codigoPostal   ,
--                                                 
              EAI_Owner.getConv( 'CFDI Cat Estado'   , ISNULL( Cte.Estado_2, @sEstadoDist ) )      AS Ubica_Estado        ,
              SUBSTRING( EAI_Owner.getConv( 'CFDI Cat Municipio', Cte.Ciudad_2 ), 4, 3 )           AS Ubica_Ciudad        ,
              EAI_Owner.getCONV_Colonia( 
                 SUBSTRING( EAI_Owner.getConv( 'CFDI Cat Municipio', Cte.Ciudad_2 ), 1, 6 ),
                 Cte.Colonia_2, 'Col' )                                                            AS Ubica_Colonia       ,
              EAI_Owner.getCONV_Colonia( 
                 SUBSTRING( EAI_Owner.getConv( 'CFDI Cat Municipio', Cte.Ciudad_2 ), 1, 6 ),
                 Cte.Colonia_2, 'CP' )                                                             AS Ubica_CodigoPostal  ,
              EAI_Owner.getCONV_Colonia( 
                 SUBSTRING( EAI_Owner.getConv( 'CFDI Cat Municipio', Cte.Ciudad_2 ), 1, 6 ),
                 Cte.Colonia_2, 'SAT' )                                                            AS Ubica_SAT_CP                                                                              
          FROM EAI_Owner.Client Ruta, T3.Mov_Cliente Cte
          WHERE Ruta.Delivery_Territory LIKE 'MX%_' + @sTerr
            AND Ruta.Delivery_Day       = @sDeliveryDay   
            AND Ruta.Cliente_SAP        = Cte.Cliente_SAP
            AND Ruta.Status             = 'Active'
          ORDER BY Ruta.Name ;  

BEGIN TRY
   SET @nSequence = NEXT VALUE FOR Seq_CARTAPORTE;
   SET @strID       = @pFactura ;
   SET @sReturn     = '' ; 
   SET @sCABFAC     = '' ;
   SET @sIMPFAC     = '' ;
   SET @sCABCLIE    = '' ;
   SET @sLINFAC     = '' ;
   SET @sADULFAC    = '' ;
   SET @sLINPORTE   = '' ;
   SET @sCABPORTE   = '' ;
   SET @sCABPORTE2  = '' ;   
   SET @nTotal      = 00 ;
   SET @nItems      = 00 ;   
   SET @nLineas     = 00 ;
   SET @sSepLinea   = CHAR(13) + CHAR(10) ;
   SET @sSepCampo   = '|' ;
   SET @sLeyMenor   = 'Le recordamos que las Leyes prohíben y sancionan la venta de cigarros a menores de 18 años de edad '  +
                 'y en unidades sueltas. En caso de duda solicite identificación oficial. Ayúdenos a que los menores '  +
                 'de edad no tengan acceso a los cigarros.' ;
   /*SET @sLeyPriv    = 'British American Tobacco México, S.A. de C.V. y sus empresas relacionadas (el "Grupo"), con domicilio en Avenida Francisco I. Madero, ' +
                 '2750 Pte., Centro de la Ciudad, Monterrey, N.L. C.P. 64000, utilizarán los datos personales que usted entregue voluntariamente mediante '    +
                 'este documento para cumplir con las políticas, procedimientos operativos y requisitos legales aplicables y llevar un registro adecuado' + 
                 ' de los proveedores y clientes del Grupo. Para mayor información respecto al tratamiento de sus datos personales o al ejercicio de sus' + 
                 ' derechos ARCO consulte nuestro aviso de privacidad integral en www.batmexico.com.mx' ;                 */
   SET @sLeyPriv    = '' ;              
--   
   SET @sStep = 'Before ScrDatos' ;
   OPEN ScrDatos;
   FETCH NEXT FROM ScrDatos INTO 
       @Doc_Doc_Total, @Doc_Ctro, @Doc_Volumen, @Doc_Peso_Volumen, @Doc_Cantidad_Items, @Doc_Factura, 
       @Doc_Fecha_Factura, @Doc_versionCFDI, @Doc_serie, @Doc_folio, @Doc_pedidoV3, @Doc_pedidoSAP, 
       @Doc_facturaSAP, @Doc_repVentas, @Doc_sucursalNombre, @Doc_fecha, @Doc_fecha_salida, 
       @Doc_tipoDeComprobante, @Doc_formaDePago, @Doc_condicionesDePago, @Doc_motivoDescuento, 
       @Doc_Descuento, @Doc_subTotal, @Doc_total, @Doc_metodoDePago, @Doc_NumCtaPago, @Doc_TipoCambio, 
       @Doc_Moneda, @Doc_LugarExpedicion, @Doc_Emisor_RFC, @Doc_Emisor_Nombre, @Doc_Emisor_Calle, 
       @Doc_Emisor_NoExterior, @Doc_Emisor_NoInterior, @Doc_Emisor_Colonia, @Doc_Emisor_Localidad, 
       @Doc_Emisor_Municipio, @Doc_Emisor_Estado, @Doc_Emisor_Pais, @Doc_Emisor_CodigoPostal, 
       @Doc_Expide_calle, @Doc_Expide_noExterior, @Doc_Expide_noInterior, @Doc_Expide_colonia, 
       @Doc_Expide_municipio, @Doc_Expide_estado, @Doc_Expide_Pais, @Doc_Expide_codigoPostal, 
       @Doc_Origen_calle, @Doc_Origen_noExterior, @Doc_Origen_noInterior, @Doc_Origen_Estado, 
       @Doc_Origen_Ciudad, @Doc_Origen_Colonia, @Doc_Origen_CodigoPostal, @Doc_Origen_SAT_CP, 
       @Doc_Origen_Pais, @Doc_RegimenFiscal, @Doc_Recibe_RFC, @Doc_Recibe_Nombre, @Doc_Tipo_Documento, 
       @Doc_Recibe_Cliente, @Doc_Remite_Cliente, @Doc_Rep_oneID, @Doc_CentroExpedicion, 
       @Doc_DecimalesCFDI, @Doc_eMail, @Doc_Sociedad, @Doc_ConfirmacionPAC, @Doc_UsoCFDI, 
       @Doc_ResidenciaFiscal, @Doc_RegTributarioExt, @Doc_TipoRelacion, @Doc_Observaciones, 
       @Doc_Incoterms, @Doc_ImpuestosTrasladados, @Doc_impuesto, @Doc_tasa, @Doc_importe, 
       @Doc_TipoPermiso, @Doc_NumeroPermiso, @Doc_Aseguradora, @Doc_NumeroPoliza, @Doc_AsegRespCivil, 
       @Doc_PolizaRespCivil, @Doc_AsegMedioAmb, @Doc_PolizaMedioAmb, @Doc_AsegCarga, @Doc_PolizaCarga, 
       @Doc_NombreVAN;

   WHILE @@FETCH_STATUS = 0 
   BEGIN
      SET @sIncoterms      = @Doc_Incoterms     ;
      SET @nDecimalesCFDI  = @Doc_DecimalesCFDI ;
      SET @sNombreVAN      = @Doc_NombreVAN     ;
      SET @strReference    = @Doc_serie + '-' + @Doc_folio ;
      IF ( SUBSTRING( @sNombreVan, 1, 3 ) = 'VAN' ) 
      BEGIN
         SET @sTerr = SUBSTRING( @sNombreVAN, 15, 4 ) ;
      END ;
      
      SELECT @nDiasEntrega = EAI_Owner.getConv( 'CFG Settings', 'Porte DiasTraslado' );
      SET @nDiasEntrega = 0 ;   
      
      SELECT @sDeliveryDay = CAST(DATEPART(dw, DATEADD(day, @nDiasEntrega, @Doc_Fecha_Factura)) AS VARCHAR(4));
      
      IF    ( @sDeliveryDay = '1' ) SET @sDeliveryDay = 'MON'  ; -- Sunday
      ELSE IF ( @sDeliveryDay = '2' ) SET @sDeliveryDay = 'MON'  ;
      ELSE IF ( @sDeliveryDay = '3' ) SET @sDeliveryDay = 'TUE'  ;     
      ELSE IF ( @sDeliveryDay = '4' ) SET @sDeliveryDay = 'WED'  ;     
      ELSE IF ( @sDeliveryDay = '5' ) SET @sDeliveryDay = 'THU'  ;     
      ELSE IF ( @sDeliveryDay = '6' ) SET @sDeliveryDay = 'FRI'  ;     
      ELSE IF ( @sDeliveryDay = '7' ) SET @sDeliveryDay = 'MON'  ; -- Saturday         
      ELSE SET @sDeliveryDay = 'MON'  ;

--
      IF ( ISNULL( @pOutput, 0 ) > 1 ) 
      BEGIN
         PRINT( @sDeliveryDay ) ;
         PRINT( @sTerr        ) ;
      END ;   
--
      SET @sFactura   = @Doc_Factura    ;
      SET @sCtro      = @Doc_Ctro       ;
      SET @nTotal     = @Doc_Doc_Total  ;
-- Variables para CABCLIE
      SET @sPedidoV3            = @Doc_pedidoV3           ;
      SET @sSucursalNombre      = @Doc_sucursalNombre     ;
      SET @sPedidoSAP           = @Doc_pedidoSAP          ;
      SET @sFacturaSAP          = @Doc_facturaSAP         ;
      SET @sRecibe_Nombre       = @Doc_Recibe_Nombre      ;
      SET @sRemite_Nombre       = @Doc_Recibe_Nombre      ;
      SET @sRemite_Calle        = @Doc_Expide_calle       ;
      SET @sRemite_noExterior   = @Doc_Expide_noExterior  ;
      SET @sRemite_noInterior   = @Doc_Expide_noInterior  ;
      SET @sRemite_colonia      = @Doc_Expide_colonia     ;
      SET @sRemite_municipio    = @Doc_Expide_municipio   ;
      SET @sRemite_estado       = @Doc_Expide_estado      ;
      SET @sRemite_pais         = @Doc_Expide_Pais        ;
      SET @sRemite_codigoPostal = @Doc_Expide_codigoPostal ;
      SET @sTipo_Documento      = @Doc_Tipo_Documento     ;
      SET @sRecibe_Cliente      = @Doc_Recibe_Cliente     ;
      SET @sRemite_Cliente      = @Doc_Remite_Cliente     ;
      SET @sRep_OneID           = @Doc_Rep_oneID          ;     
      SET @sCentroExpedicion    = @Doc_CentroExpedicion   ;
      SET @sLugarExpedicion     = @Doc_LugarExpedicion    ;
      SET @seMail               = @Doc_eMail              ;
      SET @sSociedad            = @Doc_Sociedad           ;
--
      SET @sMetodoDePago        = @Doc_metodoDePago       ;
      SET @sNumCtaPago          = @Doc_NumCtaPago         ;
         SELECT @sMetodoDePago = EAI_Owner.getConv( 'TMD_PAC Payment Method', 'Traslado' ),
                @sNumCtaPago = EAI_Owner.getConv( 'TMD_PAC Payment Method', 'Traslado Ref Banco' )
-- Cabecera Factura
      SET @sCABFAC  = @sCABFAC  + 'CABPORTE'              + @sSepCampo ;                  -- 01 ID
      SET @sCABFAC  = @sCABFAC  + @Doc_serie              + @sSepCampo ;                  -- 02 Serie
      SET @sCABFAC  = @sCABFAC  + @Doc_folio              + @sSepCampo ;                  -- 03 Folio
      SET @sCABFAC  = @sCABFAC  + @Doc_fecha              + @sSepCampo ;                  -- 04 Fecha
      SET @sCABFAC  = @sCABFAC  + @Doc_formaDePago        + @sSepCampo ;                  -- 05 Forma Pago
      SET @sCABFAC  = @sCABFAC  + @Doc_condicionesDePago  + @sSepCampo ;                  -- 06 Condicion Pago
      SET @sCABFAC  = @sCABFAC  + CAST(@Doc_subTotal AS VARCHAR(100)) + @sSepCampo ;      -- 07 Subtotal
      IF ( @Doc_Descuento > 0 ) 
      BEGIN
         SET @sCABFAC  = @sCABFAC  + CAST(@Doc_Descuento AS VARCHAR(100)) + @sSepCampo ;
      END 
      ELSE 
      BEGIN
         SET @sCABFAC  = @sCABFAC  + ''                   + @sSepCampo ;
      END ;
      SET @sCABFAC  = @sCABFAC  + @Doc_Moneda             + @sSepCampo ;                  -- 09 Moneda
      SET @sCABFAC  = @sCABFAC  + @Doc_TipoCambio         + @sSepCampo ;                  -- 10 Tipo Cambio
      SET @sCABFAC  = @sCABFAC  + CAST(@Doc_total AS VARCHAR(100)) + @sSepCampo ;         -- 11 Total Factura
      SET @sCABFAC  = @sCABFAC  + @Doc_tipoDeComprobante  + @sSepCampo ;                  -- 12 Tipo Comprobante
      SET @sCABFAC  = @sCABFAC  + @Doc_metodoDePago       + @sSepCampo ;                  -- 13 Metodo Pago
      SET @sCABFAC  = @sCABFAC  + @Doc_Expide_codigoPostal+ @sSepCampo ;                  -- 14 Lugar Expedicion       
      SET @sCABFAC  = @sCABFAC  + @Doc_ConfirmacionPAC    + @sSepCampo ;                  -- 15 Confirmacion PAC
      SET @sCABFAC  = @sCABFAC  + @Doc_TipoRelacion       + @sSepCampo ;                  -- 16 Tipo Relacion
      SET @sCABFAC  = @sCABFAC  + @Doc_Emisor_RFC         + @sSepCampo ;                  -- 17 Emisor - RFC
      SET @sCABFAC  = @sCABFAC  + @Doc_Emisor_Nombre      + @sSepCampo ;                  -- 18 Emisor - Nombre
      SET @sCABFAC  = @sCABFAC  + @Doc_RegimenFiscal      + @sSepCampo ;                  -- 19 Emisor - Regien
      SET @sCABFAC  = @sCABFAC  + @Doc_Recibe_RFC         + @sSepCampo ;                  -- 20 Receptor - RFC
      SET @sCABFAC  = @sCABFAC  + @Doc_Recibe_Nombre      + @sSepCampo ;                  -- 21 Receptor - RFC
      SET @sCABFAC  = @sCABFAC  + @Doc_ResidenciaFiscal   + @sSepCampo ;                  -- 22 Residencia Fiscal
      SET @sCABFAC  = @sCABFAC  + @Doc_RegTributarioExt   + @sSepCampo ;                  -- 23 ID Fiscal
      SET @sCABFAC  = @sCABFAC  + 'S01'                   + @sSepCampo ;                  -- 24 Uso del CFDI
--    SET @sCABFAC  = @sCABFAC  + @Doc_UsoCFDI            + @sSepCampo ;                  -- 24 Uso del CFDI
      SET @sCABFAC  = @sCABFAC  + ''                      + @sSepCampo ;                  -- 25 Total Impuestos Trasladados
      SET @sCABFAC  = @sCABFAC  + ''                      + @sSepCampo ;                  -- 26 Impuestos Retenidos
      SET @sCABFAC  = @sCABFAC  + @Doc_eMail              + @sSepCampo ;                  -- 27 Destino mail
      SET @sCABFAC  = @sCABFAC  + ''                      + @sSepCampo ;                  -- 28 Version
      SET @sCABFAC  = @sCABFAC  + ''                      + @sSepCampo ;                  -- 29 Exportacion
      SET @sCABFAC  = @sCABFAC  + ''                      + @sSepCampo ;                  -- 30 Peridocidad
      SET @sCABFAC  = @sCABFAC  + ''                      + @sSepCampo ;                  -- 31 Meses
      SET @sCABFAC  = @sCABFAC  + ''                      + @sSepCampo ;                  -- 32 Anio
      SET @sCABFAC  = @sCABFAC  + ''                      + @sSepCampo ;                  -- 33 Adquiriente
      SET @sCABFAC  = @sCABFAC  + ''                      + @sSepCampo ;                  -- 34 CR
      SET @sCABFAC  = @sCABFAC  + @Doc_RegimenFiscal                   ;                  -- 35 Regimen Fiscal      
--      
--      
-- Cabecera Cliente
--
      SET @sStep = 'Count ScrClientes' ;
      SET @nLineas = 0 ;
      
      OPEN ScrClientes;
      FETCH NEXT FROM ScrClientes INTO 
          @Cte_Remite_Cliente, @Cte_Destino_Cliente, @Cte_Remite_Nombre, @Cte_Remite_RFC, @Cte_Remite_Calle, 
          @Cte_Remite_Colonia, @Cte_Remite_Municipio, @Cte_Remite_Estado, @Cte_Remite_Pais, 
          @Cte_Remite_codigoPostal, @Cte_Ubica_Estado, @Cte_Ubica_Ciudad, @Cte_Ubica_Colonia, 
          @Cte_Ubica_CodigoPostal, @Cte_Ubica_SAT_CP;

      WHILE @@FETCH_STATUS = 0 
      BEGIN
         SET @nLineas = @nLineas + 1 ;
         FETCH NEXT FROM ScrClientes INTO 
             @Cte_Remite_Cliente, @Cte_Destino_Cliente, @Cte_Remite_Nombre, @Cte_Remite_RFC, @Cte_Remite_Calle, 
             @Cte_Remite_Colonia, @Cte_Remite_Municipio, @Cte_Remite_Estado, @Cte_Remite_Pais, 
             @Cte_Remite_codigoPostal, @Cte_Ubica_Estado, @Cte_Ubica_Ciudad, @Cte_Ubica_Colonia, 
             @Cte_Ubica_CodigoPostal, @Cte_Ubica_SAT_CP;
      END ;
      CLOSE ScrClientes;

      SET @sCABPORTE  = @sCABPORTE  + 'CPORTE'                + @sSepCampo ;               -- 01 ID
      SET @sCABPORTE  = @sCABPORTE  + '3.1'                   + @sSepCampo ;               -- 02 Version
      SET @sCABPORTE  = @sCABPORTE  + 'No'                    + @sSepCampo ;               -- 03 Internacional
      SET @sCABPORTE  = @sCABPORTE  + ''                      + @sSepCampo ;               -- 04 Ent/Sal Mercancia
      SET @sCABPORTE  = @sCABPORTE  + ''                      + @sSepCampo ;               -- 05 Via Ent/Sal Mercancia
      SET @sCABPORTE  = @sCABPORTE  + dbo.FN_NUM_TO_CHAR_CFDI( ( @nLineas * 2 ) + 0.00, 2 )
                                                              + @sSepCampo ;               -- 06 Distancia Recorrida
      SET @sCABPORTE  = @sCABPORTE  + '01'                    + @sSepCampo ;               -- 07 Clave Transporte
      SET @sCABPORTE  = @sCABPORTE  + ''                      + @sSepCampo ;               -- 08 Pais Origen/Destino
      SET @sCABPORTE  = @sCABPORTE  + ''                      + @sSepCampo ;               -- 09 idCCP
      SET @sCABPORTE  = @sCABPORTE  + ''                      + @sSepCampo ;               -- 10 RegimenAduanero
      SET @sCABPORTE  = @sCABPORTE  + ''                      + @sSepCampo ;               -- 11 RegistroISTMO
      SET @sCABPORTE  = @sCABPORTE  + ''                      + @sSepCampo ;               -- 12 UbicacionPoloOrigen
      SET @sCABPORTE  = @sCABPORTE  + ''                                   ;               -- 13 UbicacionPoloDestino      
      SET @sCABPORTE  = @sCABPORTE  + @sSepLinea ;
-- Origen      
      SET @sCABPORTE  = @sCABPORTE  + 'CPORTEUBIC'            + @sSepCampo ;               -- 01 ID
      SET @sCABPORTE  = @sCABPORTE  + '01'                    + @sSepCampo ;               -- 02 Tipo Estacion
      SET @sCABPORTE  = @sCABPORTE  + ''                      + @sSepCampo ;               -- 03 Distancia
      SET @sCABPORTE  = @sCABPORTE  + 'OR' 
         + RIGHT('000000' + EAI.CONV_PLANT_TO_DIST( @Doc_CentroExpedicion ), 6) + @sSepCampo ;     
                                                                                           -- 04 Origen
      SET @sCABPORTE  = @sCABPORTE  + @Doc_Recibe_RFC         + @sSepCampo ;               -- 05 RFC Remitente
      SET @sCABPORTE  = @sCABPORTE  + @Doc_Recibe_Nombre      + @sSepCampo ;               -- 06 Nombre Remitente
      SET @sCABPORTE  = @sCABPORTE  + ''                      + @sSepCampo ;               -- 07 ID Fiscal Remitente
      SET @sCABPORTE  = @sCABPORTE  + ''                      + @sSepCampo ;               -- 08 Residencia Remitente
      SET @sCABPORTE  = @sCABPORTE  + ''                      + @sSepCampo ;               -- 09 NumEstacion Remitente
      SET @sCABPORTE  = @sCABPORTE  + ''                      + @sSepCampo ;               -- 10 Nombre Estacion Remitente
      SET @sCABPORTE  = @sCABPORTE  + ''                      + @sSepCampo ;               -- 11 Navegacion
      SET @sCABPORTE  = @sCABPORTE  + @Doc_fecha              + @sSepCampo ;               -- 12 Fecha salida
      SET @sCABPORTE  = @sCABPORTE  + 'DE'                    
         + RIGHT('000000' + EAI.CONV_PLANT_TO_DIST( @Doc_CentroExpedicion ), 6) + @sSepCampo ;     
                                                                                           -- 13 Destino
      SET @sCABPORTE  = @sCABPORTE  + @Doc_Recibe_RFC         + @sSepCampo ;               -- 14 RFC Destinatario
      SET @sCABPORTE  = @sCABPORTE  + @Doc_Recibe_Nombre      + @sSepCampo ;               -- 15 Nombre Destinatario   
      SET @sCABPORTE  = @sCABPORTE  + @Doc_RegTributarioExt   + @sSepCampo ;               -- 16 ID Tributario
      SET @sCABPORTE  = @sCABPORTE  + @Doc_ResidenciaFiscal   + @sSepCampo ;               -- 17 Residencia Fiscal
      SET @sCABPORTE  = @sCABPORTE  + ''                      + @sSepCampo ;               -- 18 NumEstacion Destinatario
      SET @sCABPORTE  = @sCABPORTE  + @Doc_sucursalNombre     + @sSepCampo ;               -- 19 Nombre Estacion Remitente
      SET @sCABPORTE  = @sCABPORTE  + ''                      + @sSepCampo ;               -- 20 Navegacion
      SET @sCABPORTE  = @sCABPORTE  + @Doc_fecha              + @sSepCampo ;               -- 21 Fecha Llegada
      IF ( ISNULL( @pDom_Almacen, 0 ) > 0 ) 
      BEGIN
         SET @sCABPORTE  = @sCABPORTE  + @Doc_Origen_calle       + @sSepCampo ;            -- 22 Calle 
         SET @sCABPORTE  = @sCABPORTE  + ''                      + @sSepCampo ;            -- 23 Num Exterior
         SET @sCABPORTE  = @sCABPORTE  + ''                      + @sSepCampo ;            -- 24 Num Interior
         IF ( ISNULL( @pDom_Almacen, 0 ) > 100 ) 
         BEGIN
            SET @sCABPORTE  = @sCABPORTE  + @Doc_Origen_Colonia  + @sSepCampo ;            -- 25 Colonia
         END 
         ELSE 
         BEGIN
            SET @sCABPORTE  = @sCABPORTE  + ''                   + @sSepCampo ;            -- 25 Colonia
         END ;
         SET @sCABPORTE  = @sCABPORTE  + ''                      + @sSepCampo ;            -- 26 Localidad
         SET @sCABPORTE  = @sCABPORTE  + ''                      + @sSepCampo ;            -- 27 Referencia
         IF ( ISNULL( @pDom_Almacen, 0 ) > 100 ) 
         BEGIN
            SET @sCABPORTE  = @sCABPORTE  + @Doc_Origen_Ciudad   + @sSepCampo ;            -- 28 Municipio
         END 
         ELSE 
         BEGIN
            SET @sCABPORTE  = @sCABPORTE  + ''                   + @sSepCampo ;            -- 28 Municipio
         END ;
         SET @sCABPORTE  = @sCABPORTE  + @Doc_Origen_Estado      + @sSepCampo ;            -- 29 Estado
         SET @sCABPORTE  = @sCABPORTE  + @Doc_Expide_Pais        + @sSepCampo ;            -- 30 Pais
         IF ( ISNULL( @pDom_Almacen, 0 ) > 10 ) 
         BEGIN
            SET @sCABPORTE  = @sCABPORTE  + @Doc_Expide_codigoPostal+ @sSepCampo ;         -- 31 CP
         END 
         ELSE 
         BEGIN
            SET @sCABPORTE  = @sCABPORTE  + @Doc_Origen_SAT_CP   + @sSepCampo ;            -- 31 CP
         END ;
         SET @sCABPORTE  = @sCABPORTE  + 'O'                                  ;            -- 32 Tipo Ubicacion
      END 
      ELSE 
      BEGIN
         SET @sCABPORTE  = @sCABPORTE  + ''                      + @sSepCampo ;            -- 22 Calle 
         SET @sCABPORTE  = @sCABPORTE  + ''                      + @sSepCampo ;            -- 23 Num Exterior
         SET @sCABPORTE  = @sCABPORTE  + ''                      + @sSepCampo ;            -- 24 Num Interior
         SET @sCABPORTE  = @sCABPORTE  + ''                      + @sSepCampo ;            -- 25 Colonia
         SET @sCABPORTE  = @sCABPORTE  + ''                      + @sSepCampo ;            -- 26 Localidad
         SET @sCABPORTE  = @sCABPORTE  + ''                      + @sSepCampo ;            -- 27 Referencia
         SET @sCABPORTE  = @sCABPORTE  + ''                      + @sSepCampo ;            -- 28 Municipio
         SET @sCABPORTE  = @sCABPORTE  + ''                      + @sSepCampo ;            -- 29 Estado
         SET @sCABPORTE  = @sCABPORTE  + ''                      + @sSepCampo ;            -- 30 Pais
         SET @sCABPORTE  = @sCABPORTE  + ''                      + @sSepCampo ;            -- 31 CP
         SET @sCABPORTE  = @sCABPORTE  + 'O'                                  ;            -- 32 Tipo Ubicacion
      END ;
      SET @sEstadoDist = @Doc_Expide_estado ;
      SET @nLineas = 0 ;
      SET @sStep = 'Before ScrClientes' ;
      
      OPEN ScrClientes;
      FETCH NEXT FROM ScrClientes INTO 
          @Cte_Remite_Cliente, @Cte_Destino_Cliente, @Cte_Remite_Nombre, @Cte_Remite_RFC, @Cte_Remite_Calle, 
          @Cte_Remite_Colonia, @Cte_Remite_Municipio, @Cte_Remite_Estado, @Cte_Remite_Pais, 
          @Cte_Remite_codigoPostal, @Cte_Ubica_Estado, @Cte_Ubica_Ciudad, @Cte_Ubica_Colonia, 
          @Cte_Ubica_CodigoPostal, @Cte_Ubica_SAT_CP;

      WHILE @@FETCH_STATUS = 0 
      BEGIN
         SET @nLineas = @nLineas  + 1 ;
         SET @sCABPORTE  = @sCABPORTE  + @sSepLinea                            ;   
         SET @sCABPORTE  = @sCABPORTE  + 'CPORTEUBIC'            + @sSepCampo ;               -- 01 ID
         SET @sCABPORTE  = @sCABPORTE  + '01'                    + @sSepCampo ;               -- 02 Tipo Estacion
         SET @sCABPORTE  = @sCABPORTE  + '2.00'                  + @sSepCampo ;               -- 03 Distancia
         SET @sCABPORTE  = @sCABPORTE  + 'OR' 
            + RIGHT('000000' + EAI.CONV_PLANT_TO_DIST( @Doc_CentroExpedicion ), 6) + @sSepCampo ;     
                                                                                              -- 04 Origen
         SET @sCABPORTE  = @sCABPORTE  + @Doc_Recibe_RFC         + @sSepCampo ;               -- 05 RFC Remitente
         SET @sCABPORTE  = @sCABPORTE  + @Doc_Recibe_Nombre      + @sSepCampo ;               -- 06 Nombre Remitente
         SET @sCABPORTE  = @sCABPORTE  + ''                      + @sSepCampo ;               -- 07 ID Fiscal Remitente
         SET @sCABPORTE  = @sCABPORTE  + ''                      + @sSepCampo ;               -- 08 Residencia Remitente
         SET @sCABPORTE  = @sCABPORTE  + ''                      + @sSepCampo ;               -- 09 NumEstacion Remitente
         SET @sCABPORTE  = @sCABPORTE  + ''                      + @sSepCampo ;               -- 10 Nombre Estacion Remitente
         SET @sCABPORTE  = @sCABPORTE  + ''                      + @sSepCampo ;               -- 11 Navegacion
         SET @sCABPORTE  = @sCABPORTE  + @Doc_fecha              + @sSepCampo ;               -- 12 Fecha salida
         SET @sCABPORTE  = @sCABPORTE  + @Cte_Destino_Cliente    + @sSepCampo ;               -- 13 Destino
         SET @sCABPORTE  = @sCABPORTE  + @Cte_Remite_RFC         + @sSepCampo ;               -- 14 RFC Destinatario
         SET @sCABPORTE  = @sCABPORTE  + @Cte_Remite_Nombre      + @sSepCampo ;               -- 15 Nombre Destinatario   
         SET @sCABPORTE  = @sCABPORTE  + ''                      + @sSepCampo ;               -- 16 ID Tributario
         SET @sCABPORTE  = @sCABPORTE  + ''                      + @sSepCampo ;               -- 17 Residencia Fiscal
         SET @sCABPORTE  = @sCABPORTE  + ''                      + @sSepCampo ;               -- 18 NumEstacion Destinatario
         SET @sCABPORTE  = @sCABPORTE  + @Doc_sucursalNombre     + @sSepCampo ;               -- 19 Nombre Estacion Remitente
         SET @sCABPORTE  = @sCABPORTE  + ''                      + @sSepCampo ;               -- 20 Navegacion
         SET @sCABPORTE  = @sCABPORTE  + @Doc_fecha              + @sSepCampo ;               -- 21 Fecha Llegada
         IF ( ISNULL( @pDom_Cliente, 0 ) = 0 ) 
         BEGIN
            SET @sCABPORTE  = @sCABPORTE  + ''                      + @sSepCampo ;            -- 22 Calle 
            SET @sCABPORTE  = @sCABPORTE  + ''                      + @sSepCampo ;            -- 23 Num Exterior
            SET @sCABPORTE  = @sCABPORTE  + ''                      + @sSepCampo ;            -- 24 Num Interior
            SET @sCABPORTE  = @sCABPORTE  + ''                      + @sSepCampo ;            -- 25 Colonia
            SET @sCABPORTE  = @sCABPORTE  + ''                      + @sSepCampo ;            -- 26 Localidad
            SET @sCABPORTE  = @sCABPORTE  + ''                      + @sSepCampo ;            -- 27 Referencia
            SET @sCABPORTE  = @sCABPORTE  + ''                      + @sSepCampo ;            -- 28 Municipio
            SET @sCABPORTE  = @sCABPORTE  + ''                      + @sSepCampo ;            -- 29 Estado
            SET @sCABPORTE  = @sCABPORTE  + ''                      + @sSepCampo ;            -- 30 Pais
            SET @sCABPORTE  = @sCABPORTE  + ''                      + @sSepCampo ;            -- 31 CP
            SET @sCABPORTE  = @sCABPORTE  + 'D'                                  ;            -- 32 Tipo Ubicacion
         END 
         ELSE   
         BEGIN
            SET @sCABPORTE  = @sCABPORTE  + @Cte_Remite_Calle       + @sSepCampo ;            -- 22 Calle 
            SET @sCABPORTE  = @sCABPORTE  + ''                      + @sSepCampo ;            -- 23 Num Exterior
            SET @sCABPORTE  = @sCABPORTE  + ''                      + @sSepCampo ;            -- 24 Num Interior
            IF ( ISNULL( @pDom_Cliente, 0 ) > 100 ) 
            BEGIN
               SET @sCABPORTE  = @sCABPORTE  + @Cte_Ubica_Colonia   + @sSepCampo ;            -- 25 Colonia
            END 
            ELSE 
            BEGIN
               SET @sCABPORTE  = @sCABPORTE  + ''                   + @sSepCampo ;            -- 25 Colonia
            END ;
            SET @sCABPORTE  = @sCABPORTE  + ''                      + @sSepCampo ;            -- 26 Localidad
            SET @sCABPORTE  = @sCABPORTE  + ''                      + @sSepCampo ;            -- 27 Referencia
            IF ( ISNULL( @pDom_Cliente, 0 ) > 100 ) 
            BEGIN
               SET @sCABPORTE  = @sCABPORTE  + @Cte_Ubica_Ciudad    + @sSepCampo ;            -- 28 Municipio
            END 
            ELSE 
            BEGIN
               SET @sCABPORTE  = @sCABPORTE  + ''                   + @sSepCampo ;            -- 28 Municipio
            END ;
            SET @sCABPORTE  = @sCABPORTE  + @Cte_Ubica_Estado       + @sSepCampo ;            -- 29 Estado
            SET @sCABPORTE  = @sCABPORTE  + @Cte_Remite_Pais        + @sSepCampo ;            -- 30 Pais
            IF ( ISNULL( @pDom_Cliente, 0 ) > 10 ) 
            BEGIN
               SET @sCABPORTE  = @sCABPORTE  + @Cte_Remite_codigoPostal
                                                                    + @sSepCampo ; 
            END 
            ELSE 
            BEGIN
               SET @sCABPORTE  = @sCABPORTE  + @Cte_Ubica_SAT_CP    + @sSepCampo ;            -- 31 CP
            END ;
            SET @sCABPORTE  = @sCABPORTE  + 'D'                                  ;            -- 32 Tipo Ubicacion
         END ;   
         
         FETCH NEXT FROM ScrClientes INTO 
             @Cte_Remite_Cliente, @Cte_Destino_Cliente, @Cte_Remite_Nombre, @Cte_Remite_RFC, @Cte_Remite_Calle, 
             @Cte_Remite_Colonia, @Cte_Remite_Municipio, @Cte_Remite_Estado, @Cte_Remite_Pais, 
             @Cte_Remite_codigoPostal, @Cte_Ubica_Estado, @Cte_Ubica_Ciudad, @Cte_Ubica_Colonia, 
             @Cte_Ubica_CodigoPostal, @Cte_Ubica_SAT_CP;
      END ;
      CLOSE ScrClientes;

      SET @sStep = 'Ending ScrClientes ( ' + CAST(@nLineas AS VARCHAR(100)) + ' ) ' ;
      IF ( ISNULL( @pOutput, 0 ) > 1 ) 
      BEGIN
         PRINT( 'ScrClientes ' + CAST(@nLineas AS VARCHAR(100))  ) ;
      END ;  
--      
      SET @sCABPORTE  = @sCABPORTE  + @sSepLinea                             ;
      SET @sCABPORTE  = @sCABPORTE  + 'CPORTEMERCAS'                                          + @sSepCampo ;      -- 01 ID 
      SET @sCABPORTE  = @sCABPORTE  + dbo.FN_NUM_TO_CHAR_CFDI( @Doc_Peso_Volumen, 3 )         + @sSepCampo ;      -- 02 Peso
      SET @sCABPORTE  = @sCABPORTE  + 'KGM'                                                   + @sSepCampo ;      -- 03 Unidad de Peso
      SET @sCABPORTE  = @sCABPORTE  + dbo.FN_NUM_TO_CHAR_CFDI( @Doc_Peso_Volumen, 3 )         + @sSepCampo ;      -- 04 Peso Neto
      SET @sStep = 'Cantidad_Items ( ' + CAST(@Doc_Cantidad_Items AS VARCHAR(100)) + ' ) ' ;
      SET @sCABPORTE  = @sCABPORTE  + LTRIM(RTRIM( CAST( ISNULL( @Doc_Cantidad_Items, 0 ) AS VARCHAR(100) ) )) + @sSepCampo ;      -- 05 Numero Total Mercancia
      SET @sCABPORTE  = @sCABPORTE  + '1'                                                     + @sSepCampo ;      -- 06 Cargo x Tasacion
      SET @sCABPORTE  = @sCABPORTE  + ''                                                                   ;      -- 07 Logistica Inversa
      SET @sCABPORTE  = @sCABPORTE  + @sSepLinea                             ;
--
      SET @sStep = 'Before SF_Get_Rep_Data' ;
	  declare @txt varchar(15)='V' + @sTerr + '-99999'
      EXEC EAI_Owner.SF_Get_Rep_Data  @txt, @Doc_Recibe_Cliente, @sRepName OUTPUT, @sRepRFC OUTPUT, @sRepLicencia OUTPUT, @sRepPlacas OUTPUT, @sRepModelo OUTPUT, @nRepPeso_Maximo OUTPUT ;
      SET @sStep = 'After SF_Get_Rep_Data' ;
      SET @sCABPORTE2 = @sCABPORTE2 + 'CPORTETRANSFED'        + @sSepCampo ;            -- 01 ID
      SET @sCABPORTE2 = @sCABPORTE2 + @Doc_TipoPermiso        + @sSepCampo ;            -- 02 Tipo de Permiso
      SET @sCABPORTE2 = @sCABPORTE2 + @Doc_NumeroPermiso      + @sSepCampo ;            -- 03 Numero Permiso
      SET @sCABPORTE2 = @sCABPORTE2 + @Doc_Aseguradora        + @sSepCampo ;            -- 04 Nombre Aseguradora
      SET @sCABPORTE2 = @sCABPORTE2 + @Doc_NumeroPoliza       + @sSepCampo ;            -- 05 Numero Poliza
      SET @sCABPORTE2 = @sCABPORTE2 + 'C2'                    + @sSepCampo ;            -- 06 Configuracion Vehiculo
      SET @sCABPORTE2 = @sCABPORTE2 + @sRepPlacas             + @sSepCampo ;            -- 07 Placa Vehiculo
      SET @sCABPORTE2 = @sCABPORTE2 + @sRepModelo             + @sSepCampo ;            -- 08 Anio Vehiculo
      SET @sCABPORTE2 = @sCABPORTE2 + @Doc_AsegRespCivil      + @sSepCampo ;            -- 09 Aseguradora Resp Civil
      SET @sCABPORTE2 = @sCABPORTE2 + @Doc_PolizaRespCivil    + @sSepCampo ;            -- 10 Poliza Resp Civil
      SET @sCABPORTE2 = @sCABPORTE2 + @Doc_AsegMedioAmb       + @sSepCampo ;            -- 11 Aseguradora Medio Ambiente
      SET @sCABPORTE2 = @sCABPORTE2 + @Doc_PolizaMedioAmb     + @sSepCampo ;            -- 12 Poliza Medio Ambiente
      SET @sCABPORTE2 = @sCABPORTE2 + @Doc_AsegCarga          + @sSepCampo ;            -- 13 Aseguradora Carga
      SET @sCABPORTE2 = @sCABPORTE2 + @Doc_PolizaCarga        + @sSepCampo ;            -- 14 Poliza Carga
      SET @sCABPORTE2 = @sCABPORTE2 + ''                      + @sSepCampo ;            -- 15 Prima Seguro       
      SET @sCABPORTE2 = @sCABPORTE2 + LTRIM(RTRIM( CAST( @nRepPeso_Maximo AS VARCHAR(100) ) ))   ;            -- 16 PesoBrutoVehicular
      SET @sCABPORTE2 = @sCABPORTE2 + @sSepLinea                             ;
--
      SET @sCABPORTE2 = @sCABPORTE2 + 'CPORTEFIGTRAN'         + @sSepCampo ;            -- 01 ID
      SET @sCABPORTE2 = @sCABPORTE2 + '01'                    + @sSepCampo ;            -- 02 Calificador
      SET @sCABPORTE2 = @sCABPORTE2 + @sRepRFC                + @sSepCampo ;            -- 03 RFC
      SET @sCABPORTE2 = @sCABPORTE2 + @sRepLicencia           + @sSepCampo ;            -- 04 Numero Licencia
      SET @sCABPORTE2 = @sCABPORTE2 + @sRepName               + @sSepCampo ;            -- 05 Nombre
      SET @sCABPORTE2 = @sCABPORTE2 + ''                      + @sSepCampo ;            -- 06 ID Tributario
      SET @sCABPORTE2 = @sCABPORTE2 + ''                      + @sSepCampo ;            -- 07 Residencia
      SET @sCABPORTE2 = @sCABPORTE2 + ''                      + @sSepCampo ;            -- 08 Calle
      SET @sCABPORTE2 = @sCABPORTE2 + ''                      + @sSepCampo ;            -- 09 Num Exterior
      SET @sCABPORTE2 = @sCABPORTE2 + ''                      + @sSepCampo ;            -- 10 Num Interior
      SET @sCABPORTE2 = @sCABPORTE2 + ''                      + @sSepCampo ;            -- 11 Colonia
      SET @sCABPORTE2 = @sCABPORTE2 + ''                      + @sSepCampo ;            -- 12 Localidad
      SET @sCABPORTE2 = @sCABPORTE2 + ''                      + @sSepCampo ;            -- 13 Referencia
      SET @sCABPORTE2 = @sCABPORTE2 + ''                      + @sSepCampo ;            -- 14 Municipio 
      SET @sCABPORTE2 = @sCABPORTE2 + ''                      + @sSepCampo ;            -- 15 Estado
      SET @sCABPORTE2 = @sCABPORTE2 + ''                      + @sSepCampo ;            -- 16 Pais
      SET @sCABPORTE2 = @sCABPORTE2 + ''                                   ;            -- 17 CP
--
      
      FETCH NEXT FROM ScrDatos INTO 
          @Doc_Doc_Total, @Doc_Ctro, @Doc_Volumen, @Doc_Peso_Volumen, @Doc_Cantidad_Items, @Doc_Factura, 
          @Doc_Fecha_Factura, @Doc_versionCFDI, @Doc_serie, @Doc_folio, @Doc_pedidoV3, @Doc_pedidoSAP, 
          @Doc_facturaSAP, @Doc_repVentas, @Doc_sucursalNombre, @Doc_fecha, @Doc_fecha_salida, 
          @Doc_tipoDeComprobante, @Doc_formaDePago, @Doc_condicionesDePago, @Doc_motivoDescuento, 
          @Doc_Descuento, @Doc_subTotal, @Doc_total, @Doc_metodoDePago, @Doc_NumCtaPago, @Doc_TipoCambio, 
          @Doc_Moneda, @Doc_LugarExpedicion, @Doc_Emisor_RFC, @Doc_Emisor_Nombre, @Doc_Emisor_Calle, 
          @Doc_Emisor_NoExterior, @Doc_Emisor_NoInterior, @Doc_Emisor_Colonia, @Doc_Emisor_Localidad, 
          @Doc_Emisor_Municipio, @Doc_Emisor_Estado, @Doc_Emisor_Pais, @Doc_Emisor_CodigoPostal, 
          @Doc_Expide_calle, @Doc_Expide_noExterior, @Doc_Expide_noInterior, @Doc_Expide_colonia, 
          @Doc_Expide_municipio, @Doc_Expide_estado, @Doc_Expide_Pais, @Doc_Expide_codigoPostal, 
          @Doc_Origen_calle, @Doc_Origen_noExterior, @Doc_Origen_noInterior, @Doc_Origen_Estado, 
          @Doc_Origen_Ciudad, @Doc_Origen_Colonia, @Doc_Origen_CodigoPostal, @Doc_Origen_SAT_CP, 
          @Doc_Origen_Pais, @Doc_RegimenFiscal, @Doc_Recibe_RFC, @Doc_Recibe_Nombre, @Doc_Tipo_Documento, 
          @Doc_Recibe_Cliente, @Doc_Remite_Cliente, @Doc_Rep_oneID, @Doc_CentroExpedicion, 
          @Doc_DecimalesCFDI, @Doc_eMail, @Doc_Sociedad, @Doc_ConfirmacionPAC, @Doc_UsoCFDI, 
          @Doc_ResidenciaFiscal, @Doc_RegTributarioExt, @Doc_TipoRelacion, @Doc_Observaciones, 
          @Doc_Incoterms, @Doc_ImpuestosTrasladados, @Doc_impuesto, @Doc_tasa, @Doc_importe, 
          @Doc_TipoPermiso, @Doc_NumeroPermiso, @Doc_Aseguradora, @Doc_NumeroPoliza, @Doc_AsegRespCivil, 
          @Doc_PolizaRespCivil, @Doc_AsegMedioAmb, @Doc_PolizaMedioAmb, @Doc_AsegCarga, @Doc_PolizaCarga, 
          @Doc_NombreVAN;
   END ;
   CLOSE ScrDatos;
--
   SET @nLineas    = 0 ;
   SET @nEnajenado = 0 ;
   SET @nLineasImp = 0 ;
   SET @sStep = 'Before ScrDetalle' ;   
   
   OPEN ScrDetalle;
   FETCH NEXT FROM ScrDetalle INTO 
       @Item_numLinea, @Item_cantidad, @Item_unidad, @Item_SAT_UM_Conv, @Item_noIdentificacion, 
       @Item_Cig_x_Unidad_Vta, @Item_valorUnitario, @Item_importe, @Item_SKU_importacion, 
       @Item_RFD_Valor_Subt, @Item_RFD_Valor_IVA, @Item_Channel, @Item_descripcion, 
       @Item_Peso_Item, @Item_Mat_Peligroso, @Item_Cve_Peligroso;

   WHILE @@FETCH_STATUS = 0 
   BEGIN
      SET @sDetalleItem = 'NO' ;
      SET @nLineas      = @nLineas + 1 ; 
      SET @nItems       = @nItems + @Item_RFD_Valor_Subt + @Item_RFD_Valor_IVA ;
      SET @sMaterial    = @Item_noIdentificacion ;
      IF ( @nLineas = 1 ) 
      BEGIN
         SET @sLINFAC   = '' ;
         SET @sLINPORTE = '' ;
      END 
      ELSE 
      BEGIN
         SET @sLINFAC   = @sLINFAC   + @sSepLinea ;
         SET @sLINPORTE = @sLINPORTE + @sSepLinea ;
      END ;      

      EXEC T3.GET_SAT_CLAVEPRODUCTO 'VTA', @pFactura, @Item_noIdentificacion, @Item_descripcion, @Item_unidad, @sSAT_ID OUTPUT, @sSAT_UM OUTPUT ;
--
         SET @sLINFAC = @sLINFAC + 'LINEAS'              + @sSepCampo ;             -- 01 ID
         SET @sLINFAC = @sLINFAC + @sSAT_ID              + @sSepCampo ;             -- 02 Clave Prod Serv
         SET @sIdentificacion = REPLACE( @Item_noIdentificacion, '.', '' ) ;
         SET @sLINFAC = @sLINFAC + @sIdentificacion      + @sSepCampo ;             -- 03 Identificacion
         SET @sLINFAC = @sLINFAC + @Item_cantidad        + @sSepCampo ;             -- 04 Cantidad
         SET @sLINFAC = @sLINFAC + @sSAT_UM              + @sSepCampo ;             -- 05 UM
         SET @sLINFAC = @sLINFAC + @Item_unidad          + @sSepCampo ;             -- 06 UM Interna
         SET @sLINFAC = @sLINFAC + @Item_descripcion     + @sSepCampo ;             -- 07 Descripcion
         SET @sLINFAC = @sLINFAC + '0.00'                + @sSepCampo ;             -- 08 Precio Unitario
         SET @sLINFAC = @sLINFAC + '0.00'                + @sSepCampo ;             -- 09 Importe
         SET @sLINFAC = @sLINFAC + '0.00'                + @sSepCampo ;             -- 10 Descuento
         SET @sLINFAC = @sLINFAC + ''                    + @sSepCampo ;             -- 11 Predial
         SET @sLINFAC = @sLINFAC + ''                    + @sSepCampo ;             -- 12 Objeto Imp
         SET @sLINFAC = @sLINFAC + ''                    + @sSepCampo ;             -- 13 RFC Tercero
         SET @sLINFAC = @sLINFAC + ''                    + @sSepCampo ;             -- 14 Nombre Tercero
         SET @sLINFAC = @sLINFAC + ''                    + @sSepCampo ;             -- 15 Regimen Tercero
         SET @sLINFAC = @sLINFAC + ''                    + @sSepCampo ;             -- 16 CP Tercero         
         SET @nLineasLey = CAST(@Item_numLinea AS NUMERIC) ;
--
         SET @sLINPORTE = @sLINPORTE + 'CPORTEMERCA'         + @sSepCampo ;         -- 01 ID
         SET @sLINPORTE = @sLINPORTE + @sSAT_ID              + @sSepCampo ;         -- 02 Clave Producto
         SET @sLINPORTE = @sLINPORTE + ''                    + @sSepCampo ;         -- 03 Clave Producto STCC
         SET @sLINPORTE = @sLINPORTE + @Item_descripcion     + @sSepCampo ;         -- 04 Descripcion
         SET @sLINPORTE = @sLINPORTE + @Item_cantidad        + @sSepCampo ;         -- 05 Cantidad
         SET @sLINPORTE = @sLINPORTE + @sSAT_UM              + @sSepCampo ;         -- 06 Clave Unidad
         SET @sLINPORTE = @sLINPORTE + @Item_unidad          + @sSepCampo ;         -- 07 Unidad
         SET @sLINPORTE = @sLINPORTE + ''                    + @sSepCampo ;         -- 08 Dimensiones
         IF ( @sSAT_ID IN ( '50211502' ) ) 
         BEGIN
            SET @sMatPeligroso = '' ;
         END 
         ELSE  
         BEGIN
            SET @sMatPeligroso = 'No' ;
         END ;
         SET @sLINPORTE = @sLINPORTE + @Item_Mat_Peligroso   + @sSepCampo ;         -- 09 Material Peligroso
         SET @sLINPORTE = @sLINPORTE + @Item_Cve_Peligroso   + @sSepCampo ;         -- 10 Clave Mat Peligroso
         SET @sLINPORTE = @sLINPORTE + ''                    + @sSepCampo ;         -- 11 Embalaje
         SET @sLINPORTE = @sLINPORTE + ''                    + @sSepCampo ;         -- 12 Descripcion Embalaje
         SET @sLINPORTE = @sLINPORTE + dbo.FN_NUM_TO_CHAR_CFDI( @Item_Peso_Item, 3 )        
                                                         + @sSepCampo ;         -- 13 Peso
         SET @sLINPORTE = @sLINPORTE + '0.00'                + @sSepCampo ;         -- 14 Valor Mercancia (nItemImporte)
         SET @sLINPORTE = @sLINPORTE + 'MXN'                 + @sSepCampo ;         -- 15 Moneda
         SET @sLINPORTE = @sLINPORTE + ''                    + @sSepCampo ;         -- 16 Arancel
         SET @sLINPORTE = @sLINPORTE + ''                    + @sSepCampo ;         -- 17 UUID 
         SET @sLINPORTE = @sLINPORTE + ''                    + @sSepCampo ;         -- 18 UM de traslado
         SET @sLINPORTE = @sLINPORTE + ''                    + @sSepCampo ;         -- 19 Peso Bruto
         SET @sLINPORTE = @sLINPORTE + ''                    + @sSepCampo ;         -- 20 Peso Neto
         SET @sLINPORTE = @sLINPORTE + ''                    + @sSepCampo ;         -- 21 Peso Tara
         SET @sLINPORTE = @sLINPORTE + ''                    + @sSepCampo ;         -- 22 Piezas
         SET @sLINPORTE = @sLINPORTE + ISNULL(@sPedimento,'') + @sSepCampo ;         -- 23 Pedimento
         SET @sLINPORTE = @sLINPORTE + ''                    + @sSepCampo ;         -- 24 SectorCOFEPRIS
         SET @sLINPORTE = @sLINPORTE + ''                    + @sSepCampo ;         -- 25 NombreIngredientActivo
         SET @sLINPORTE = @sLINPORTE + ''                    + @sSepCampo ;         -- 26 NomQuimico
         SET @sLINPORTE = @sLINPORTE + ''                    + @sSepCampo ;         -- 27 DenominacionGenericaProd
         SET @sLINPORTE = @sLINPORTE + ''                    + @sSepCampo ;         -- 28 DenominacionDistintivaProd
         SET @sLINPORTE = @sLINPORTE + ''                    + @sSepCampo ;         -- 29 Fabricante
         SET @sLINPORTE = @sLINPORTE + ''                    + @sSepCampo ;         -- 30 FechaCaducidad
         SET @sLINPORTE = @sLINPORTE + ''                    + @sSepCampo ;         -- 31 LoteMedicamento
         SET @sLINPORTE = @sLINPORTE + ''                    + @sSepCampo ;         -- 32 FormaFarmaceutica
         SET @sLINPORTE = @sLINPORTE + ''                    + @sSepCampo ;         -- 33 CondicionesEspTransp
         SET @sLINPORTE = @sLINPORTE + ''                    + @sSepCampo ;         -- 34 RegistroSanitarioFolioAutorizacion
         SET @sLINPORTE = @sLINPORTE + ''                    + @sSepCampo ;         -- 35 PermisoImportacion
         SET @sLINPORTE = @sLINPORTE + ''                    + @sSepCampo ;         -- 36 FolioImpoVUCEM
         SET @sLINPORTE = @sLINPORTE + ''                    + @sSepCampo ;         -- 37 NumCAS
         SET @sLINPORTE = @sLINPORTE + ''                    + @sSepCampo ;         -- 38 RazonSocialEmpImp
         SET @sLINPORTE = @sLINPORTE + ''                    + @sSepCampo ;         -- 39 NumRegSanPIafCOFEPRIS
         SET @sLINPORTE = @sLINPORTE + ''                    + @sSepCampo ;         -- 40 DatosFabricante
         SET @sLINPORTE = @sLINPORTE + ''                    + @sSepCampo ;         -- 41 DatosFormulador
         SET @sLINPORTE = @sLINPORTE + ''                    + @sSepCampo ;         -- 42 DatosMaquilador
         SET @sLINPORTE = @sLINPORTE + ''                    + @sSepCampo ;         -- 43 UsoAutorizado
         SET @sLINPORTE = @sLINPORTE + ''                    + @sSepCampo ;         -- 44 TipoMateria
         SET @sLINPORTE = @sLINPORTE + ''                                 ;         -- 45 DescripcionMateria         

      FETCH NEXT FROM ScrDetalle INTO 
          @Item_numLinea, @Item_cantidad, @Item_unidad, @Item_SAT_UM_Conv, @Item_noIdentificacion, 
          @Item_Cig_x_Unidad_Vta, @Item_valorUnitario, @Item_importe, @Item_SKU_importacion, 
          @Item_RFD_Valor_Subt, @Item_RFD_Valor_IVA, @Item_Channel, @Item_descripcion, 
          @Item_Peso_Item, @Item_Mat_Peligroso, @Item_Cve_Peligroso;
   END ;                                                                            -- Ciclo Datos de Cliente   
   CLOSE ScrDetalle;

      IF ( ISNULL( @pOutput, 0 ) > 1 ) 
      BEGIN
         PRINT( 'SKUs ' + CAST(@nLineas AS VARCHAR(100)) ) ;
      END ;  
--
--      
-- Cabecera Cliente
--
      SET @sCABCLIE = @sCABCLIE + 'CABCLIE'               + @sSepCampo ;
--    SET @sCABCLIE = @sCABCLIE + @sRecibe_Nombre         + @sSepCampo ;
      SET @sCABCLIE = @sCABCLIE + @sRemite_Nombre         + @sSepCampo ;
      SET @sCABCLIE = @sCABCLIE + @sRemite_Calle          + @sSepCampo ;
      SET @sCABCLIE = @sCABCLIE + @sRemite_Colonia        + @sSepCampo ;
      SET @sCABCLIE = @sCABCLIE + @sRemite_Municipio      + @sSepCampo ;
      SET @sCABCLIE = @sCABCLIE + ''                      + @sSepCampo ;
      SET @sCABCLIE = @sCABCLIE + @sRemite_Estado         + @sSepCampo ;
      SET @sCABCLIE = @sCABCLIE + @sRemite_Pais           + @sSepCampo ;
      SET @sCABCLIE = @sCABCLIE + @sRemite_codigoPostal   + @sSepCampo ;
      SET @sCABCLIE = @sCABCLIE + @sPedidoV3              + @sSepCampo ;
      SET @sCABCLIE = @sCABCLIE + @sSucursalNombre        + @sSepCampo ;
      SET @sCABCLIE = @sCABCLIE + @sPedidoSAP             + @sSepCampo ;
      SET @sCABCLIE = @sCABCLIE + @sFacturaSAP            + @sSepCampo ;
      SET @sCABCLIE = @sCABCLIE + @sTipo_Documento        + @sSepCampo ;
      SET @sCABCLIE = @sCABCLIE + @sCentroExpedicion      + @sSepCampo ;
      IF ( LEN( @sRep_OneID ) > 2 ) 
      BEGIN
         SET @sCABCLIE = @sCABCLIE + @sRep_OneID          + @sSepCampo ;
         SET @sCABCLIE = @sCABCLIE + @sRep_OneID          + @sSepCampo ;
      END 
      ELSE 
      BEGIN
         SET @sCABCLIE = @sCABCLIE + @sRecibe_Cliente     + @sSepCampo ;
         SET @sCABCLIE = @sCABCLIE + @sRemite_Cliente     + @sSepCampo ;
      END ;        
      SET @sCABCLIE = @sCABCLIE + @sLugarExpedicion       + @sSepCampo ;      
      SET @sCABCLIE = @sCABCLIE + ''                      + @sSepCampo ;
      SET @sCABCLIE = @sCABCLIE + @sLeyMenor              + @sSepCampo ;
      SET @sCABCLIE = @sCABCLIE + @sLeyPriv               + @sSepCampo ;
      SET @sCABCLIE = @sCABCLIE + @seMail                 + @sSepCampo ;
--
     INSERT INTO T3.Remision_General
        ( Factura, PedidoSAP, Clase_Remision, Sociedad, Fecha_Factura, Fecha_Trn, Fecha_Proc_BATMD,
          Origen, Nombre, Direccion, Colonia, Ciudad, Estado, Pais, CodigoPostal,
          Destino, Destino_Nombre, Destino_Direccion, Remision_Serie, Remision_Folio, ShipToParty, RFC )
     VALUES
        ( @strReference, @strReference, 'IO', 'MX16', CAST( GETDATE() AS DATE ), GETDATE(), GETDATE(),
          @sCentroExpedicion, @sRemite_Nombre, @sRemite_Calle, @sRemite_Colonia, @sRemite_Municipio, @sRemite_Estado, @sRemite_Pais, @sRemite_codigoPostal,
          @sRecibe_Cliente, @sSucursalNombre, @sRepName, 'CPT', @nSequence, @sRecibe_Cliente, 'BAT030325CE9' ) ; 
--
   SET @sReturn    = @sCABFAC    + @sSepLinea               ;
--   
   SET @sCABCLIE   = @sSepLinea  + @sCABCLIE   + @sSepLinea ;
   SET @sCABPORTE2 = @sSepLinea  + @sCABPORTE2 + @sSepLinea ; 
--
   SET @sStep = 'Before CONCAT' ;
   IF ( ( LEN( @sReturn ) > 10 ) AND ( LEN( @sLINFAC ) > 10 ) AND ( ABS( @nTotal - @nItems ) < 0.50 ) ) 
   BEGIN
      SET @sData = @sReturn ;
      SET @sData = CONCAT( @sData, @sLINFAC    ) ;
      SET @sData = CONCAT( @sData, @sCABCLIE   ) ;
      SET @sData = CONCAT( @sData, @sCABPORTE  ) ;
      SET @sData = CONCAT( @sData, @sLINPORTE  ) ;
      SET @sData = CONCAT( @sData, @sCABPORTE2 ) ;
      INSERT INTO CFDI_DOCUMENTOS_ENVIAR ( Nota_Venta, Informacion )
         VALUES ( @strReference, @sData ) ;
      INSERT INTO T3.CFDI_Documentos ( Nota_Venta, Ctro, Fecha_Liberacion, Metodo_Pago )
         VALUES ( @strReference, 'CTRL', GETDATE(), 'PUE' ) ;                       
   END 
   ELSE         
   BEGIN
      DELETE FROM T3.Remision_General
         WHERE Factura = @strReference ;
   END ;      
   IF CURSOR_STATUS('global', 'ScrDatos') >= -1 DEALLOCATE ScrDatos;
   IF CURSOR_STATUS('global', 'ScrClientes') >= -1 DEALLOCATE ScrClientes;
   IF CURSOR_STATUS('global', 'ScrDetalle') >= -1 DEALLOCATE ScrDetalle;

END TRY
BEGIN CATCH

   IF CURSOR_STATUS('global', 'ScrDatos') >= -1
   BEGIN
      IF CURSOR_STATUS('global', 'ScrDatos') > -1 CLOSE ScrDatos;
      DEALLOCATE ScrDatos;
   END
   
   IF CURSOR_STATUS('global', 'ScrClientes') >= -1
   BEGIN
      IF CURSOR_STATUS('global', 'ScrClientes') > -1 CLOSE ScrClientes;
      DEALLOCATE ScrClientes;
   END

   IF CURSOR_STATUS('global', 'ScrDetalle') >= -1
   BEGIN
      IF CURSOR_STATUS('global', 'ScrDetalle') > -1 CLOSE ScrDetalle;
      DEALLOCATE ScrDetalle;
   END

   SET @sMsg = SUBSTRING( CAST(ERROR_NUMBER() AS VARCHAR) + '-' + ERROR_MESSAGE(), 1, 250 ) ;
   SET @sMsg = SUBSTRING( ERROR_MESSAGE(), 1, 250 ) ;
   PRINT( REPLICATE( '-', 80 ) ) ;
   PRINT( 'Problemas en la ejecucion del Procedimiento' ) ;
   PRINT( 'FAVOR DE ESCALAR LOS SIGUIENTES DATOS :' ) ;
   PRINT( 'Procedimiento : ' + 'PROC_CFDI_GENERAR_REMISION_INV' ) ;
   PRINT( 'Fecha         : ' + FORMAT( GETDATE(), 'yyyyMMdd HH:mm:ss' ) ) ;
   PRINT( 'Referencia    : ' + @strID + '/' + @sStep ) ;
   PRINT( 'Error         : ' + @sMsg ) ;
   PRINT( REPLICATE( '-', 80 ) ) ;
   INSERT INTO T3.RF_ERROR_LOG 
      ( FECHA, RUTINA, REFERENCIA, ERROR_DESC )
   VALUES
      ( GETDATE(), 'PROC_CFDI_GENERAR_REMISION_INV', @strID, @sMsg ) ;
     
END CATCH ;
END ;
GO
