USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_CFDI_PROCESAR_DOCTOS]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[PROC_CFDI_PROCESAR_DOCTOS] 
    @dtFechaProcBATMD DATETIME
AS
BEGIN

    DECLARE @sMsg VARCHAR(500);
    DECLARE @sCadena VARCHAR(4000);
    DECLARE @sChar VARCHAR(1);
    DECLARE @sFactura VARCHAR(30);
    DECLARE @sClienteSAP VARCHAR(20);
    DECLARE @sLinea VARCHAR(4000);
    DECLARE @sMaterial VARCHAR(10);
    DECLARE @sMascara VARCHAR(10);
    DECLARE @sAuxiliar VARCHAR(100);
    DECLARE @nCigarros NUMERIC(10,0);
    DECLARE @nDoctos NUMERIC(6,0);
    DECLARE @nNotas NUMERIC(6,0);
    DECLARE @sEtapa VARCHAR(20);
    DECLARE @sPorEjecucion VARCHAR(2);
    DECLARE @nGen_Agrupacion NUMERIC(8,0);
--
    DECLARE @strID VARCHAR(50);
    DECLARE @sErrorCode VARCHAR(30);
    DECLARE @dtInicio DATETIME;
    DECLARE @nPID NUMERIC(8,0);
    DECLARE @nProceso NUMERIC(8,0);
    DECLARE @nProceso1 NUMERIC(8,0);
    DECLARE @nProceso2 NUMERIC(8,0);
    DECLARE @nProceso3 NUMERIC(8,0);
    DECLARE @nProceso4 NUMERIC(8,0);
--
    DECLARE @sUbicacion VARCHAR(20);
    DECLARE @sCtro VARCHAR(4);
    DECLARE @dtFecha_Factura_T3 DATETIME;
    DECLARE @sLista_Precio VARCHAR(2);
    DECLARE @sCliente_Agrupado VARCHAR(10);
    DECLARE @sTipo_Docto VARCHAR(4);
    DECLARE @sNota_Venta_CFDI VARCHAR(30);
    DECLARE @dtFecha_Factura_V3 DATETIME;

--VARIABLES CURSORES
    DECLARE @Prompt_Factura VARCHAR(30);
    DECLARE @Prompt_Ctro VARCHAR(4);
    DECLARE @Prompt_Fecha_Factura_T3 DATETIME;
    DECLARE @Prompt_Tipo_Docto VARCHAR(4);
    DECLARE @Prompt_Ubicacion VARCHAR(20);
    DECLARE @Prompt_RFC_Factura VARCHAR(15);
    DECLARE @Prompt_RFC_Cliente VARCHAR(15);
    DECLARE @Prompt_Fecha_Factura_V3 DATETIME;
    DECLARE @Prompt_Lista_Precio VARCHAR(2);
    DECLARE @Prompt_Cliente_Agrupado VARCHAR(10);
    DECLARE @Prompt_Fecha_Proc_BATMD DATETIME;
    DECLARE @Prompt_VoidDoc VARCHAR(2);

	DECLARE @Prev_Factura VARCHAR(30);
    DECLARE @Prev_Ctro VARCHAR(4);
    DECLARE @Prev_Cliente_SAP VARCHAR(20);
    DECLARE @Prev_Fecha_Factura_T3 DATETIME;
    DECLARE @Prev_Clase_Factura VARCHAR(4);

    DECLARE @Ind_Factura VARCHAR(30);
    DECLARE @Ind_Ctro VARCHAR(4);
    DECLARE @Ind_Fecha_Factura_T3 DATETIME;

    DECLARE @Agr_Ctro VARCHAR(4);
    DECLARE @Agr_Ubicacion VARCHAR(20);
    DECLARE @Agr_Fecha_Factura_T3 DATETIME;
    DECLARE @Agr_Lista_Precio VARCHAR(2);
    DECLARE @Agr_Cliente_Agrupado VARCHAR(10);
    DECLARE @Agr_Tipo_Docto VARCHAR(4);
    DECLARE @Agr_Serie VARCHAR(20);
    DECLARE @Agr_Ultima_Factura VARCHAR(30);
    DECLARE @Agr_Ultima_Hora DATETIME;
    DECLARE @Agr_Ultimo_Folio NUMERIC(18,0);

    DECLARE ScrPrompt CURSOR FOR 
        SELECT FG.Factura                                       AS Factura         ,
               FG.Ctro                                          AS Ctro            ,
               FG.Fecha_Factura                                 AS Fecha_Factura_T3,
               FG.Tipo_Docto                                    AS Tipo_Docto      ,
               FG.Ubicacion                                     AS Ubicacion       ,
               LTRIM(RTRIM( SUBSTRING( C.RFC, 1, 15 ) ))        AS RFC_Factura     ,
               LTRIM(RTRIM( SUBSTRING( C.RFC, 1, 15 ) ))        AS RFC_Cliente     ,
               FG.Fecha_Factura                                 AS Fecha_Factura_V3,
               ISNULL( C.Lista_Precio, '10' )                   AS Lista_Precio    ,
               ''                                               AS Cliente_Agrupado,
               FG.Fecha_Proc_BATMD                              AS Fecha_Proc_BATMD,
               NULL                                             AS VoidDoc             
        FROM T3.Factura_General      FG 
        INNER JOIN T3.Cliente              C  ON FG.Cliente_SAP        = C.Cliente_SAP AND FG.Fecha_Factura BETWEEN C.Fecha_Ini_Vig AND C.Fecha_Fin_Vig
        INNER JOIN T3.Tipo_Documento       TD ON FG.Tipo_Docto         = TD.Tipo_Documento
        WHERE FG.Fecha_Proc_BATMD  = @dtFechaProcBATMD
         AND FG.Tipo_Docto        IN ( 'C003', 'C004', 'C024' )
         AND TD.CFD               = 'NO' ;
--
    DECLARE ScrPreventa CURSOR FOR 
       SELECT PG.Factura, PG.Ctro, PG.Cliente_SAP,
              PG.Fecha_Factura    AS Fecha_Factura_T3,
              PG.Clase_Factura    AS Clase_Factura 
         FROM T3.Preventa_General          PG 
         LEFT JOIN T3.CFDI_Historia_Docto_PAC Env ON PG.Factura = Env.Nota_Venta
         WHERE PG.Fecha_Proc_BATMD   = @dtFechaProcBATMD 
           AND PG.Clase_Factura     IN ( 'C005', 'C006' )
           AND PG.Fecha_Cancelacion IS NULL
           AND Env.Fecha_Factura    IS NULL ;
--
    DECLARE ScrIndPrompt CURSOR FOR 
        SELECT Paso.Factura, Paso.Ctro, Paso.Fecha_Factura_T3
          FROM T3.CFDI_Documento_Paso Paso
          INNER JOIN T3.Factura_General FG ON Paso.Factura = FG.Factura
          WHERE Paso.Fecha_Proc_BATMD  = @dtFechaProcBATMD
            AND Paso.VoidDoc          IS NULL
            AND ( ( Paso.RFC_Cliente      != 'XAXX010101000' )
               OR ( Paso.Tipo_Docto       IN ( 'Z024', 'C024' ) ) ) ;
--
    DECLARE ScrAgrPrompt CURSOR FOR 
        SELECT Ctro, Ubicacion, Fecha_Factura_T3, Lista_Precio, Cliente_Agrupado, Tipo_Docto,
               SUBSTRING( Factura, 1, CHARINDEX( '-', Factura ) )                AS Serie          ,
               MAX( Factura )                                                    AS Ultima_Factura ,
               MAX( Fecha_Factura_V3 )                                           AS Ultima_Hora    ,
               MAX( CAST( 
                   SUBSTRING( Factura, CHARINDEX( '-', Factura ) + 1 , 6 ) AS NUMERIC ) )
                                                                                 AS Ultimo_Folio
        FROM T3.CFDI_Documento_Paso Paso
        WHERE Paso.Fecha_Proc_BATMD  = @dtFechaProcBATMD
          AND Paso.RFC_Cliente       = 'XAXX010101000' 
          AND Paso.VoidDoc          IS NULL         
          AND Paso.Tipo_Docto       NOT IN ( 'Z024', 'C024' )
        GROUP BY Ctro, Ubicacion, Fecha_Factura_T3, Lista_Precio, Cliente_Agrupado, Tipo_Docto,
                 SUBSTRING( Factura, 1, CHARINDEX( '-', Factura ) ) ;

    BEGIN TRY
       SET @dtInicio  = GETDATE() ;
       SET @nProceso  = 601 ;
       SET @nPID      = NEXT VALUE FOR EAI_Owner.ProcessID ;
     
	 BEGIN TRAN

       EXEC EAI_Owner.Log_Start @nProceso ;
       
       INSERT INTO T3.RF_PROCESOS_LOG ( PID , Proceso , Fecha_Proc_BATMD, Inicio )
          VALUES ( @nPID, @nProceso, @dtFechaProcBATMD, GETDATE() ) ;   
          
       SET @nProceso1 = 0 ;
       SET @nProceso2 = 0 ;
       SET @nProceso3 = 0 ;
       SET @nProceso4 = 0 ;

       SET @sChar   = '|' ;
       SET @nDoctos = 000 ;
       SET @sEtapa  = 'I' ;
--
       SELECT @sPorEjecucion = ISNULL( Por_Ejecucion, 'SI' ) 
          FROM T3.CFDI_CFG_Agrupado ;
--
       OPEN ScrPrompt;
       FETCH NEXT FROM ScrPrompt INTO @Prompt_Factura, @Prompt_Ctro, @Prompt_Fecha_Factura_T3, @Prompt_Tipo_Docto, @Prompt_Ubicacion, @Prompt_RFC_Factura, @Prompt_RFC_Cliente, @Prompt_Fecha_Factura_V3, @Prompt_Lista_Precio, @Prompt_Cliente_Agrupado, @Prompt_Fecha_Proc_BATMD, @Prompt_VoidDoc;
       
       WHILE @@FETCH_STATUS = 0
       BEGIN

          SET @strID   = @Prompt_Factura ;
          SET @nDoctos = @nDoctos + 1 ;
          
          INSERT INTO T3.CFDI_Documento_Paso
             ( Factura              , Ctro                 , Fecha_Factura_T3     , Fecha_Factura_V3     ,
               Tipo_Docto           , Ubicacion            , RFC_Factura          , RFC_Cliente          ,
               Lista_Precio         , Cliente_Agrupado     , Fecha_Proc_BATMD     , VoidDoc                )
          VALUES
             ( @Prompt_Factura      , @Prompt_Ctro         , @Prompt_Fecha_Factura_T3, @Prompt_Fecha_Factura_V3,
               @Prompt_Tipo_Docto   , @Prompt_Ubicacion    , @Prompt_RFC_Factura  , @Prompt_RFC_Cliente  ,
               @Prompt_Lista_Precio , @Prompt_Cliente_Agrupado, @Prompt_Fecha_Proc_BATMD, @Prompt_VoidDoc  ) ;
               
          FETCH NEXT FROM ScrPrompt INTO @Prompt_Factura, @Prompt_Ctro, @Prompt_Fecha_Factura_T3, @Prompt_Tipo_Docto, @Prompt_Ubicacion, @Prompt_RFC_Factura, @Prompt_RFC_Cliente, @Prompt_Fecha_Factura_V3, @Prompt_Lista_Precio, @Prompt_Cliente_Agrupado, @Prompt_Fecha_Proc_BATMD, @Prompt_VoidDoc;
       END ;
       CLOSE ScrPrompt;
       DEALLOCATE ScrPrompt;
       
       SET @nProceso1 = @nDoctos ;
--   
-- Documentos Individuales de Prompt Sales
--
       SET @nDoctos = 000 ;
       
       OPEN ScrIndPrompt;
       FETCH NEXT FROM ScrIndPrompt INTO @Ind_Factura, @Ind_Ctro, @Ind_Fecha_Factura_T3;
       
       WHILE @@FETCH_STATUS = 0
       BEGIN
          SET @strID   = @Ind_Factura ;
          SET @nDoctos = @nDoctos + 1 ;
          
          INSERT INTO T3.CFDI_Historia_Docto_PAC
            ( Nota_Venta, Ctro, Fecha_Factura, Nota_Venta_CFDI )
          VALUES  
            ( @Ind_Factura, @Ind_Ctro, @Ind_Fecha_Factura_T3, @Ind_Factura ) ;
          
          FETCH NEXT FROM ScrIndPrompt INTO @Ind_Factura, @Ind_Ctro, @Ind_Fecha_Factura_T3;
       END ;
       CLOSE ScrIndPrompt;
       DEALLOCATE ScrIndPrompt;
       
       SET @nProceso2 = @nDoctos ;
--
-- Documentos Agrupados de Prompt Sales
--
       IF ( @sPorEjecucion = 'SI' ) 
       BEGIN
          SELECT @nGen_Agrupacion = MAX( Proceso + 1 ) 
             FROM T3.CFDI_Gen_Agrupado ;
             
          INSERT INTO T3.CFDI_Gen_Agrupado ( Proceso, Inicio )
             VALUES ( @nGen_Agrupacion, GETDATE() ) ;
             
          INSERT INTO T3.CFDI_Gen_Agrupado_Fecha ( Proceso, Fecha_Proc_BATMD )   
             VALUES ( @nGen_Agrupacion, @dtFechaProcBATMD ) ;
             
          SET @nDoctos = 000 ;
          
          OPEN ScrAgrPrompt;
          FETCH NEXT FROM ScrAgrPrompt INTO @Agr_Ctro, @Agr_Ubicacion, @Agr_Fecha_Factura_T3, @Agr_Lista_Precio, @Agr_Cliente_Agrupado, @Agr_Tipo_Docto, @Agr_Serie, @Agr_Ultima_Factura, @Agr_Ultima_Hora, @Agr_Ultimo_Folio;
          
          WHILE @@FETCH_STATUS = 0
          BEGIN
             SET @nDoctos            = @nDoctos + 1          ;
             SET @sUbicacion         = @Agr_Ubicacion        ;
             SET @sCtro              = @Agr_Ctro             ;
             SET @dtFecha_Factura_T3 = @Agr_Fecha_Factura_T3 ;
             SET @sLista_Precio      = @Agr_Lista_Precio     ;
             SET @sCliente_Agrupado  = @Agr_Cliente_Agrupado ;
             SET @sTipo_Docto        = @Agr_Tipo_Docto       ;
             SET @sNota_Venta_CFDI   = 'G-' + @Agr_Ultima_Factura   ;
             SET @sNota_Venta_CFDI   = 'G-' + @Agr_Serie + LTRIM(RTRIM(CAST( @Agr_Ultimo_Folio AS VARCHAR ))) ;
             SET @dtFecha_Factura_V3 = @Agr_Ultima_Hora      ;
             SET @sClienteSAP        = 'C' + SUBSTRING( @sNota_Venta_CFDI, 4, CHARINDEX( '-', @sNota_Venta_CFDI, 3 ) - 4 ) ;
             
             INSERT INTO T3.CFDI_Agrupado      
                 ( Nota_Venta_CFDI, Fecha_Documento, Tipo_Docto, Ctro, Cliente, Sociedad, Cliente_SAP, Fecha_Registro )
             VALUES
                 ( @sNota_Venta_CFDI, @dtFecha_Factura_V3, @sTipo_Docto, @sCtro, @sCliente_Agrupado, 'MX06', @sClienteSAP, GETDATE() ) ;
--
             INSERT INTO T3.CFDI_Historia_Docto_PAC
                ( Nota_Venta, Ctro, Fecha_Factura, Nota_Venta_CFDI )
                SELECT Factura, Ctro, Fecha_Factura_T3, @sNota_Venta_CFDI
                   FROM T3.CFDI_Documento_Paso
                   WHERE Fecha_Proc_BATMD = @dtFechaProcBATMD
                     AND Ctro             = @sCtro
                     AND Ubicacion        = @sUbicacion
                     AND Fecha_Factura_T3 = @dtFecha_Factura_T3
                     AND Lista_Precio     = @sLista_Precio
                     AND Cliente_Agrupado = @sCliente_Agrupado
                     AND Tipo_Docto       = @sTipo_Docto
                     AND RFC_Cliente      = 'XAXX010101000'
                     AND Tipo_Docto      != 'Z024' 
                     AND VoidDoc         IS NULL
                     AND Tipo_Docto      IN ( 'C003', 'C004' ) ;
                     
             SET @nNotas = @@ROWCOUNT ;
             
             UPDATE T3.CFDI_Agrupado SET Doctos = @nNotas
                WHERE Nota_Venta_CFDI = @sNota_Venta_CFDI ;
--
             INSERT INTO T3.CFDI_Agrupado_Detalle
                 ( Nota_Venta_CFDI, Num_Linea, Material, Precio_Unitario, Cantidad_Vta,
                   Valor_Subt, Valor_IVA, Bonif_Subt, Bonif_IVA ) 
                 SELECT Nota_Venta_CFDI, ROW_NUMBER() OVER (ORDER BY Nota_Venta_CFDI, Material, Precio_Unitario), Material, Precio_Unitario, Cantidad_Vta,
                        Valor_Subt, Valor_IVA, Bonif_Subt, Bonif_IVA  
                 FROM (        
                        SELECT Vta.Nota_Venta_CFDI             AS Nota_Venta_CFDI,
                               FD.Material                     AS Material       ,
                               FD.Precio_Unit                  AS Precio_Unitario,
                               SUM( FD.Cantidad_Vta )          AS Cantidad_Vta   ,
                               SUM( ISNULL( FD.Valor_Subt, 0 ) ) AS Valor_Subt     ,
                               SUM( ISNULL( FD.Valor_IVA , 0 ) ) AS Valor_IVA      ,
                               SUM( ISNULL( FD.Bonif_Subt, 0 ) ) AS Bonif_Subt     ,
                               SUM( ISNULL( FD.Bonif_IVA , 0 ) ) AS Bonif_IVA
                           FROM T3.CFDI_Historia_Docto_PAC Vta
                           INNER JOIN T3.Factura_Detalle FD ON Vta.Nota_Venta = FD.Factura
                           WHERE Vta.Nota_Venta_CFDI = @sNota_Venta_CFDI
                           GROUP BY Vta.Nota_Venta_CFDI, FD.Material, FD.Precio_Unit

                       ) SubQ;  
             
             FETCH NEXT FROM ScrAgrPrompt INTO @Agr_Ctro, @Agr_Ubicacion, @Agr_Fecha_Factura_T3, @Agr_Lista_Precio, @Agr_Cliente_Agrupado, @Agr_Tipo_Docto, @Agr_Serie, @Agr_Ultima_Factura, @Agr_Ultima_Hora, @Agr_Ultimo_Folio;
          END ;
          CLOSE ScrAgrPrompt;
          DEALLOCATE ScrAgrPrompt;
          
          SET @nProceso3 = @nDoctos ;
          
          UPDATE T3.CFDI_Gen_Agrupado SET Fin = GETDATE()
             WHERE Proceso = @nGen_Agrupacion ;
       END ;   
--   
-- Documentos Individuales de Preventa
--
       SET @nDoctos = 000 ;
       
       OPEN ScrPreventa;
       FETCH NEXT FROM ScrPreventa INTO @Prev_Factura, @Prev_Ctro, @Prev_Cliente_SAP, @Prev_Fecha_Factura_T3, @Prev_Clase_Factura;
       
       WHILE @@FETCH_STATUS = 0
       BEGIN
          IF ( @Prev_Clase_Factura = 'C005' ) 
          BEGIN
             SET @strID   = @Prev_Factura ;
             SET @nDoctos = @nDoctos + 1 ;        
             
             INSERT INTO T3.CFDI_Historia_Docto_PAC
               ( Nota_Venta, Ctro, Fecha_Factura, Nota_Venta_CFDI )
             VALUES  
               ( @Prev_Factura, @Prev_Ctro, @Prev_Fecha_Factura_T3, @Prev_Factura ) ;
               
             EXEC T3.WA_PREVENTA_UPDATE_BONIF @Prev_Factura ;            
             EXEC T3.PROC_V40_GENERAR_MX06 @Prev_Factura, @Prev_Cliente_SAP ;
          END ;                
          
          FETCH NEXT FROM ScrPreventa INTO @Prev_Factura, @Prev_Ctro, @Prev_Cliente_SAP, @Prev_Fecha_Factura_T3, @Prev_Clase_Factura;
       END ;
       CLOSE ScrPreventa;
       DEALLOCATE ScrPreventa;
       
       SET @nProceso4 = @nDoctos ;
--
       UPDATE EAI_OWNER.MX_COMPONENTS SET Status = 1
          WHERE Component = @nProceso ;
          
       UPDATE T3.RF_PROCESOS_LOG SET  Fin = GETDATE(), Proceso_1 = @nProceso1, Proceso_2 = @nProceso2,
                                                       Proceso_3 = @nProceso3, Proceso_4 = @nProceso4
          WHERE PID = @nPID  ;         
          
       COMMIT ;
--   
    END TRY
    BEGIN CATCH
       IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
       
       SET @sMsg = SUBSTRING(CAST(ERROR_NUMBER() AS VARCHAR) + '-' + ERROR_MESSAGE(), 1, 250);
       SET @sMsg = SUBSTRING(ERROR_MESSAGE(), 1, 250);
       
       PRINT REPLICATE('-', 80);
       PRINT 'Problemas en la ejecucion del Procedimiento';
       PRINT 'FAVOR DE ESCALAR LOS SIGUIENTES DATOS :';
       PRINT 'Procedimiento : PROC_CFDI_DOCTOS';
       PRINT 'Fecha         : ' + CONVERT(VARCHAR, GETDATE(), 112) + ' ' + CONVERT(VARCHAR, GETDATE(), 108);
       PRINT 'Referencia    : ' + ISNULL(@strID, '');
       PRINT 'Error         : ' + ISNULL(@sMsg, '');
       PRINT REPLICATE('-', 80);

       SET @sErrorCode = 'SQL-' + CAST(ERROR_NUMBER() AS VARCHAR);
       SET @sMsg = SUBSTRING(CAST(ERROR_NUMBER() AS VARCHAR) + '-' + ERROR_MESSAGE(), 1, 250);      
       
       INSERT INTO EAI_OWNER.MX_EAI_MESSAGE_LOG
         ( DIRECTION         , REFERENCE                  , CREATED             , MESSAGE        , JOB_PID,
           STATUS            , QUEUE_NAME                 , SIEBEL_ERROR_MESSAGE, SOURCE         , 
           SIEBEL_ERROR_CODE , RETRY_COUNT                , SEQUENCE            , PARENT_ROW_ID   )
       VALUES 
         ( 'Job Logging'     , @strID                     , GETDATE()           , NULL           , @nPID  ,
           'Error'           , 'PROC_CFDI_PROCESAR_DOCTOS', @sMsg               , 'PL/SQL'       ,
           @sErrorCode       , NULL                       , NULL                , NULL            ) ;

    END CATCH
END;
GO
