USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_T3_LOG]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[PROC_T3_LOG]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @nCliente          INT;
    DECLARE @dt_fecha_fin_vig  DATETIME;
    DECLARE @nNumero           NUMERIC(22,6); 

    -- Variables cursor
    DECLARE @REN_FACTURA             VARCHAR(50),
            @REN_DISTRIBUIDOR        VARCHAR(50),
            @REN_CLIENTE_V3          VARCHAR(50),
            @REN_CLIENTE_SAP         VARCHAR(50),
            @REN_TIPO_DOCTO          VARCHAR(50),
            @REN_FECHA_FACTURA       DATETIME,
            @REN_FECHA_TRN           DATETIME,
            @REN_MONTO               NUMERIC(22,2),
            @REN_FECHA_PROC_BATMD    DATETIME,
            @REN_CTRO                VARCHAR(10);

    DECLARE factura CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT FACTURA, DISTRIBUIDOR, CLIENTE_V3, CLIENTE_SAP, 
               CASE WHEN tipo_docto = 'Z003' THEN 'FACTURA' ELSE 'NOTA DE CREDITO' END AS tipo_docto, 
               FECHA_FACTURA, FECHA_TRN, VALOR_SUBT + VALOR_IVA AS MONTO, FECHA_PROC_BATMD, CTRO 
        FROM FACTURA_GENERAL 
        WHERE (FECHA_PROC_BATMD IS NULL
           OR FECHA_PROC_BATMD IN (
                CONVERT(DATETIME, '29991231', 112),
                CONVERT(DATETIME, '29991226', 112),
                CONVERT(DATETIME, '29991228', 112),
                CONVERT(DATETIME, '29991229', 112)))
        UNION 
        SELECT FACTURA, EAI.Conv_Plant_to_Dist( CTRO ) AS DISTRIBUIDOR, CLIENTE_SAP AS cliente_v3, CLIENTE_SAP,
               CASE WHEN clase_factura = 'Z003' THEN 'FACTURA' ELSE 'NOTA DE CREDITO' END AS tipo_docto, 
               FECHA_FACTURA, FECHA_TRN, VALOR_SUBT + VALOR_IVA AS MONTO, FECHA_PROC_BATMD, CTRO 
        FROM PREVENTA_GENERAL
        WHERE FECHA_PROC_BATMD IN (
                CONVERT(DATETIME, '29991231', 112),
                CONVERT(DATETIME, '29991226', 112),
                CONVERT(DATETIME, '29991228', 112),
                CONVERT(DATETIME, '29991229', 112))
        UNION 
        SELECT PAGO_ID AS FACTURA, DISTRIBUIDOR, CLIENTE_V3, CLIENTE_SAP, 
               'ASIGNACION' AS tipo_docto, 
               FECHA_ASIGNACION, FECHA_TRN, VALOR_PAGO AS MONTO, FECHA_PROC_BATMD, CTRO 
        FROM ASIGNACION_PAGO
        WHERE (FECHA_PROC_BATMD IS NULL
           OR FECHA_PROC_BATMD IN (
                CONVERT(DATETIME, '29991231', 112),
                CONVERT(DATETIME, '29991226', 112),
                CONVERT(DATETIME, '29991228', 112),
                CONVERT(DATETIME, '29991229', 112)))
        UNION
        SELECT PAGO_ID AS FACTURA, DISTRIBUIDOR, CLIENTE_V3, CLIENTE_SAP, 
               'PAGO' AS tipo_docto, 
               FECHA_PAGO, FECHA_TRN, VALOR_PAGO AS MONTO, FECHA_PROC_BATMD, CTRO 
        FROM PAGO
        WHERE (FECHA_PROC_BATMD IS NULL
           OR FECHA_PROC_BATMD IN (
                CONVERT(DATETIME, '29991231', 112),
                CONVERT(DATETIME, '29991226', 112),
                CONVERT(DATETIME, '29991228', 112),
                CONVERT(DATETIME, '29991229', 112)));

    BEGIN TRY
        TRUNCATE TABLE T3_LOG;

        OPEN factura;
        FETCH NEXT FROM factura INTO 
            @REN_FACTURA, @REN_DISTRIBUIDOR, @REN_CLIENTE_V3, @REN_CLIENTE_SAP, @REN_TIPO_DOCTO, 
            @REN_FECHA_FACTURA, @REN_FECHA_TRN, @REN_MONTO, @REN_FECHA_PROC_BATMD, @REN_CTRO;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            IF @REN_FECHA_PROC_BATMD = CONVERT(DATETIME, '29991231', 112)
            BEGIN
                SET @nNumero = 0;    
                
                SELECT @nNumero = SUM(Valor_desc)
                FROM FACTURA_DETALLE 
                WHERE factura = @REN_FACTURA;
                
                IF @nNumero > 0 
                BEGIN
                    INSERT INTO T3_LOG ( DOC_NUM, DISTRIBUIDOR, CLIENTE_V3, CLIENTE_SAP, TIPO_DOCTO, 
                                         FECHA_DOC, FECHA_TRN, MONTO, ERROR, SOLUCION, CTRO ) 
                    VALUES ( @REN_FACTURA, @REN_DISTRIBUIDOR, @REN_CLIENTE_V3, @REN_CLIENTE_SAP, @REN_TIPO_DOCTO, 
                             @REN_FECHA_FACTURA, @REN_FECHA_TRN, @REN_MONTO, 
                             'CLIENTE CON DESCUENTO REGISTRADO EN V3', 'REVISAR CON MKT FINANCE', @REN_CTRO );         
                END
                ELSE 
                BEGIN
                    INSERT INTO T3_LOG ( DOC_NUM, DISTRIBUIDOR, CLIENTE_V3, CLIENTE_SAP, TIPO_DOCTO, 
                                         FECHA_DOC, FECHA_TRN, MONTO, ERROR, SOLUCION, CTRO )  
                    VALUES ( @REN_FACTURA, @REN_DISTRIBUIDOR, @REN_CLIENTE_V3, @REN_CLIENTE_SAP, @REN_TIPO_DOCTO, 
                             @REN_FECHA_FACTURA, @REN_FECHA_TRN, @REN_MONTO, 
                             'TOTAL DE LA FACTURA DIFIERE CONTRA LA SUMA INDIVIDUAL', 'BORRAR LA FACTURA DE T3 Y REENVIARLA DESDE V3', @REN_CTRO );
                END;
            END;

            IF @REN_FECHA_PROC_BATMD = CONVERT(DATETIME, '29991226', 112)
            BEGIN
                INSERT INTO T3_LOG ( DOC_NUM, DISTRIBUIDOR, CLIENTE_V3, CLIENTE_SAP, TIPO_DOCTO, 
                                     FECHA_DOC, FECHA_TRN, MONTO, ERROR, SOLUCION, CTRO )   
                VALUES ( @REN_FACTURA, @REN_DISTRIBUIDOR, @REN_CLIENTE_V3, @REN_CLIENTE_SAP, @REN_TIPO_DOCTO, 
                         @REN_FECHA_FACTURA, @REN_FECHA_TRN, @REN_MONTO, 
                         'EL CLIENTE TIENE DIFERENTE TERRITORIO ENTRE V3 Y T3', 'ACTUALIZAR EL CLIENTE', @REN_CTRO);
            END;   

            IF @REN_FECHA_PROC_BATMD = CONVERT(DATETIME, '29991228', 112)
            BEGIN
                INSERT INTO T3_LOG ( DOC_NUM, DISTRIBUIDOR, CLIENTE_V3, CLIENTE_SAP, TIPO_DOCTO, 
                                     FECHA_DOC, FECHA_TRN, MONTO, ERROR, SOLUCION, CTRO )   
                VALUES ( @REN_FACTURA, @REN_DISTRIBUIDOR, @REN_CLIENTE_V3, @REN_CLIENTE_SAP, @REN_TIPO_DOCTO, 
                         @REN_FECHA_FACTURA, @REN_FECHA_TRN, @REN_MONTO, 
                         'EL CLIENTE TIENE DIFERENTE DISTRIBUIDOR AL DEL DOCUMENTO', 'ACTUALIZAR EL CLIENTE', @REN_CTRO);
            END;   

            IF @REN_FECHA_PROC_BATMD = CONVERT(DATETIME, '29991229', 112)
            BEGIN
                INSERT INTO T3_LOG ( DOC_NUM, DISTRIBUIDOR, CLIENTE_V3, CLIENTE_SAP, TIPO_DOCTO, 
                                     FECHA_DOC, FECHA_TRN, MONTO, ERROR, SOLUCION, CTRO )   
                VALUES ( @REN_FACTURA, @REN_DISTRIBUIDOR, @REN_CLIENTE_V3, @REN_CLIENTE_SAP, @REN_TIPO_DOCTO, 
                         @REN_FECHA_FACTURA, @REN_FECHA_TRN, @REN_MONTO, 
                         'CLIENTE CON % DE  IVA DISTINTO ENTRE V3 Y T3', 'VERIFICAR LAS VIGENCIAS DEL CLIENTE PARA QUE COINCIDA CON UNA LISTA DE IVA ADECUADA', @REN_CTRO);
            END;

            IF @REN_FECHA_PROC_BATMD IS NULL
            BEGIN
                SET @nCliente = 0;
                
                SELECT @nCliente = COUNT(*) 
                FROM CLIENTE 
                WHERE CLIENTE_V3 = @REN_CLIENTE_V3;
                
                IF @nCliente = 0
                BEGIN    
                    INSERT INTO T3_LOG ( DOC_NUM, DISTRIBUIDOR, CLIENTE_V3, CLIENTE_SAP, TIPO_DOCTO, 
                                         FECHA_DOC, FECHA_TRN, MONTO, ERROR, SOLUCION, CTRO )   
                    VALUES ( @REN_FACTURA, @REN_DISTRIBUIDOR, @REN_CLIENTE_V3, @REN_CLIENTE_SAP, @REN_TIPO_DOCTO, 
                             @REN_FECHA_FACTURA, @REN_FECHA_TRN, @REN_MONTO, 
                             'EL CLIENTE NO EXISTE EN T3', 'REENVIAR EL CLIENTE DESDE V3', @REN_CTRO);
                END
                ELSE        
                BEGIN    
                    SELECT @dt_fecha_fin_vig = MAX(FECHA_FIN_VIG) 
                    FROM CLIENTE 
                    WHERE CLIENTE_V3 = @REN_CLIENTE_V3;
                    
                    IF @dt_fecha_fin_vig = CONVERT(DATETIME, '29991231', 112)
                    BEGIN
                        INSERT INTO T3_LOG ( DOC_NUM, DISTRIBUIDOR, CLIENTE_V3, CLIENTE_SAP, TIPO_DOCTO, 
                                             FECHA_DOC, FECHA_TRN, MONTO, ERROR, SOLUCION, CTRO )   
                        VALUES ( @REN_FACTURA, @REN_DISTRIBUIDOR, @REN_CLIENTE_V3, @REN_CLIENTE_SAP, @REN_TIPO_DOCTO, 
                                 @REN_FECHA_FACTURA, @REN_FECHA_TRN, @REN_MONTO, 
                                 'CLIENTE INTEGRADO EN T3 POSTERIOR A EL DOCUMENTO', 'CORREGIR LA VIGENCIA DEL CLIENTE PARA QUE CONTEMPLE ESTE DOCUMENTO', @REN_CTRO);
                    END
                    ELSE
                    BEGIN
                        INSERT INTO T3_LOG ( DOC_NUM, DISTRIBUIDOR, CLIENTE_V3, CLIENTE_SAP, TIPO_DOCTO, 
                                             FECHA_DOC, FECHA_TRN, MONTO, ERROR, SOLUCION, CTRO )   
                        VALUES ( @REN_FACTURA, @REN_DISTRIBUIDOR, @REN_CLIENTE_V3, @REN_CLIENTE_SAP, @REN_TIPO_DOCTO, 
                                 @REN_FECHA_FACTURA, @REN_FECHA_TRN, @REN_MONTO, 
                                 'EL CLIENTE ESTA INACTIVO EN T3', 'REENVIAR EL CLIENTE EN V3 PARA QUE SE ACTUALICE EN T3', @REN_CTRO);
                    END;       
                END;
            END;         

            FETCH NEXT FROM factura INTO 
                @REN_FACTURA, @REN_DISTRIBUIDOR, @REN_CLIENTE_V3, @REN_CLIENTE_SAP, @REN_TIPO_DOCTO, 
                @REN_FECHA_FACTURA, @REN_FECHA_TRN, @REN_MONTO, @REN_FECHA_PROC_BATMD, @REN_CTRO;
        END;

        CLOSE factura;
        DEALLOCATE factura;

    END TRY
    BEGIN CATCH
        IF CURSOR_STATUS('local', 'factura') >= 0 BEGIN CLOSE factura; DEALLOCATE factura; END;
        THROW;
    END CATCH
END;
GO
