USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[PROC_NGP_DQC_BEFORE]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [T3].[PROC_NGP_DQC_BEFORE]
    @pOutput NUMERIC(38,4) = 0
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sInstall_ID   VARCHAR(10);
    DECLARE @sTicket       VARCHAR(20);
    DECLARE @sErrorMessage VARCHAR(300);
    DECLARE @sMsg          VARCHAR(500);
    DECLARE @strID         VARCHAR(50);
	-- TIPOS DE BLOQUEO
--   CLIENTE CON IVA DESGLOSADO Y FACTURA CON IVA INCLUIDO O VICEVERSA      29-DEC-2999
--   DOCUMENTOS CON DIFERENCIA EN PRECIO                                    21-DEC-2999
--   INCONSISTENCIA EN LP E IVA                                             20-DEC-2999
--   BLOQUEO PARA DOCUMENTOS CFDI                                           19-DEC-2999 
--   BLOQUEO DE PAGO SIN ASIGNACION                                         18-DEC-2999 
--   BLOQUEO POR VENTA DE REP                                               17-DEC-2999 
--	 ASIGNACIONES DE PAGO ASOCIADAS A UN FOLIO FISCAL DUPLICADO             15-DEC-2999 (RQL)
--	 ASIGNACIONES DE PAGO MAYOR A MONTO PAGO                                14-DEC-2999 

    -- variabkles cursores
    DECLARE @cur_I_Install_ID VARCHAR(10);
    DECLARE @cur_I_Ticket     VARCHAR(20);
    DECLARE @cur_I_Material   VARCHAR(MAX);
    DECLARE @cur_I_Quantity   NUMERIC(38,4);

    DECLARE @cur_H_Install_ID VARCHAR(10);
    DECLARE @cur_H_Ticket     VARCHAR(20);
    DECLARE @cur_H_Price_List VARCHAR(MAX);

    DECLARE @cur_It_Install_ID VARCHAR(10);
    DECLARE @cur_It_Ticket     VARCHAR(20);
    DECLARE @cur_It_Material   VARCHAR(MAX);
    DECLARE @cur_It_Quantity   NUMERIC(38,4);
    DECLARE @cur_It_Price_Item NUMERIC(38,4);
    DECLARE @cur_It_Price_Unit NUMERIC(38,4);

    DECLARE @cur_T_Install_ID VARCHAR(10);
    DECLARE @cur_T_Ticket     VARCHAR(20);
    DECLARE @cur_T_Material   VARCHAR(MAX);
    DECLARE @cur_T_Valor_Subt NUMERIC(38,4);
    DECLARE @cur_T_Valor_IVA  NUMERIC(38,4);
    DECLARE @cur_T_Porc_IVA   NUMERIC(38,4);

    DECLARE ScrItemNotPrice CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT H.Install_ID, H.Ticket, D.Material, D.Quantity
        FROM T3.ORDERS_NGP_IN H
        INNER JOIN T3.ORDERS_NGP_IN_DETAILS D ON H.Install_ID = D.Install_ID AND H.Ticket = D.Ticket
        LEFT OUTER JOIN T3.SKU_NOT_VALUED NV ON D.Material = NV.Material
        WHERE H.Fecha_Proc_BATMD      IS NULL
          AND ISNULL( D.Extnd_Price, 0 ) = 0
          AND NV.Created              IS NULL ;

    DECLARE ScrDocuments CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT H.Install_ID, H.Ticket, H.Price_List
        FROM T3.ORDERS_NGP_IN          H  
        WHERE H.Fecha_Proc_BATMD      IS NULL ;                

    DECLARE ScrItems CURSOR LOCAL DYNAMIC FOR
        SELECT Det.Install_ID, Det.Ticket, 
               Det.Material, Det.Quantity, 
               ROUND( ( ISNULL( Det.Extnd_Price, 0 ) + ISNULL( Det.Extnd_Discount, 0 ) ) / Det.Quantity, 2 ) AS Price_Item,
               ISNULL( PLD.Price_Unit, 0 )                                                                 AS Price_Unit
        FROM 
             (                                        
               SELECT Det.*
               FROM T3.ORDERS_NGP_IN_DETAILS  Det
               WHERE Det.Install_ID          = @sInstall_ID 
                 AND Det.Ticket              = @sTicket  
             ) Det 
        LEFT OUTER JOIN
             (
               SELECT PLD.MATNR, PLD.Value AS Price_Unit, PLD.PriceListID, PLD.Effective, PLD.Expiration
               FROM T3.ORDERS_NGP_IN         Doc
               INNER JOIN T3.PRICELIST_DETALLE      PLD ON Doc.Price_List = PLD.PriceListID
               WHERE Doc.Install_ID          = @sInstall_ID
                 AND Doc.Ticket              = @sTicket  
             ) PLD ON Det.Material           = PLD.Matnr
         WHERE PLD.PriceListID IS NULL OR CONVERT(VARCHAR(8), PLD.Effective, 112) <= CONVERT(VARCHAR(8), PLD.Effective, 112); -- Se conserva comportamiento estructural del Outer Join original

    DECLARE ScrTax_NotValid CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT Info.Install_ID, Info.Ticket, Info.Material,
               Info.Valor_Subt, Info.Valor_IVA, Info.Porc_IVA
        FROM (       
               SELECT FG.Install_ID, FG.Ticket,  
                      FD.MATERIAL                                         AS MATERIAL  ,
                      FD.Extnd_Price                                      AS VALOR_SUBT, 
                      FD.Extnd_Tax                                        AS VALOR_IVA ,
                      CASE WHEN Tax.Fecha_Registro IS NULL THEN CONV.PORC_IVA ELSE 0 END AS PORC_IVA
               FROM T3.ORDERS_NGP_IN           FG  
               INNER JOIN T3.CONV_LISTA_GRUPO_PRECIO   CONV ON FG.Price_List = CONV.LISTA_PRECIO
               INNER JOIN T3.ORDERS_NGP_IN_DETAILS     FD   ON FG.Install_ID = FD.Install_ID AND FG.Ticket = FD.Ticket
               LEFT OUTER JOIN T3.SKU_TASA_CERO              Tax  ON FD.MATERIAL = Tax.Material
               WHERE FG.Created            > GETDATE() - 7
                 AND FG.FECHA_PROC_BATMD IS NULL
             ) Info
        WHERE ABS( ISNULL( Info.Valor_IVA, 0 ) - ROUND( ISNULL( Info.Valor_Subt, 0 ) * Info.Porc_IVA / 100, 2 ) ) > 0.05 ;                               

    BEGIN TRY
        IF ( ISNULL( @pOutput, 0 ) > 0 )
        BEGIN
           EXEC EAI.Trace_Plsql 'NGP_DQC', 'Begins' ;
        END ;         

        OPEN ScrItemNotPrice;
        FETCH NEXT FROM ScrItemNotPrice INTO @cur_I_Install_ID, @cur_I_Ticket, @cur_I_Material, @cur_I_Quantity;
        WHILE @@FETCH_STATUS = 0
        BEGIN
           SET @sInstall_ID = @cur_I_Install_ID ;
           SET @sTicket     = @cur_I_Ticket ;
           SET @strID       = @sInstall_ID + '-' + @sTicket ;      
           SET @sErrorMessage = 'Documento ' + @strID + ' contiene SKU con valor CERO. Favor de validar SKU ' + @cur_I_Material ;
           
           INSERT INTO T3.BITACORA_ERROR ( Distribuidor, Fecha, Mensaje, Tipo, Modulo, Ctro )
           VALUES ( 0, GETDATE(), @sErrorMessage, 'F', 'NGP', @sInstall_ID );

           UPDATE T3.ORDERS_NGP_IN SET FECHA_PROC_BATMD = CONVERT(DATETIME, '29991210', 112)
           WHERE Install_ID = @sInstall_ID
             AND Ticket     = @sTicket ;    
             
           FETCH NEXT FROM ScrItemNotPrice INTO @cur_I_Install_ID, @cur_I_Ticket, @cur_I_Material, @cur_I_Quantity;
        END ;
        CLOSE ScrItemNotPrice;

        IF ( ISNULL( @pOutput, 0 ) > 0 )
        BEGIN
           EXEC EAI.Trace_Plsql 'NGP_DQC', 'Documents' ;
        END ;         

        OPEN ScrDocuments;
        FETCH NEXT FROM ScrDocuments INTO @cur_H_Install_ID, @cur_H_Ticket, @cur_H_Price_List;
        WHILE @@FETCH_STATUS = 0
        BEGIN
           SET @sInstall_ID = @cur_H_Install_ID ;
           SET @sTicket     = @cur_H_Ticket ;
           SET @strID       = @sInstall_ID + '-' + @sTicket ;      
           
           IF ( ISNULL( @pOutput, 0 ) > 100 )
           BEGIN
              PRINT '-> ' + @strID ;
           END ;   

           OPEN ScrItems;
           FETCH NEXT FROM ScrItems INTO @cur_It_Install_ID, @cur_It_Ticket, @cur_It_Material, @cur_It_Quantity, @cur_It_Price_Item, @cur_It_Price_Unit;
           WHILE @@FETCH_STATUS = 0
           BEGIN
              IF ( @cur_It_Price_Item != @cur_It_Price_Unit )
              BEGIN
                 SET @sErrorMessage = 'Documento ' + @strID + ' contiene diferencia en Precio. Favor de validar SKU. ( ' ;
                 SET @sErrorMessage = @sErrorMessage + ISNULL(@cur_H_Price_List, '') + '-' + ISNULL(@cur_It_Material, '') + '. -> ' ;
                 SET @sErrorMessage = @sErrorMessage + TRIM(FORMAT(@cur_It_Price_Item, '###,###.00', 'en-US')) + ' vs ' + TRIM(FORMAT(@cur_It_Price_Unit, '###,###.00', 'en-US')) + ' )';
                 
                 INSERT INTO T3.BITACORA_ERROR ( Distribuidor, Fecha, Mensaje, Tipo, Modulo, Ctro )
                 VALUES ( 0, GETDATE(), @sErrorMessage, 'F', 'NGP', @sInstall_ID );

                 UPDATE T3.ORDERS_NGP_IN SET FECHA_PROC_BATMD = CONVERT(DATETIME, '29991221', 112)
                 WHERE Install_ID = @sInstall_ID
                   AND Ticket     = @sTicket ;
              END ;              
              FETCH NEXT FROM ScrItems INTO @cur_It_Install_ID, @cur_It_Ticket, @cur_It_Material, @cur_It_Quantity, @cur_It_Price_Item, @cur_It_Price_Unit;
           END ;
           CLOSE ScrItems;

           FETCH NEXT FROM ScrDocuments INTO @cur_H_Install_ID, @cur_H_Ticket, @cur_H_Price_List;
        END ;
        CLOSE ScrDocuments;

        IF ( ISNULL( @pOutput, 0 ) > 0 )
        BEGIN
           EXEC EAI.Trace_Plsql 'NGP_DQC', 'Taxes Issue' ;
        END ;         

        OPEN ScrTax_NotValid;
        FETCH NEXT FROM ScrTax_NotValid INTO @cur_T_Install_ID, @cur_T_Ticket, @cur_T_Material, @cur_T_Valor_Subt, @cur_T_Valor_IVA, @cur_T_Porc_IVA;
        WHILE @@FETCH_STATUS = 0
        BEGIN
           SET @sInstall_ID = @cur_T_Install_ID ;
           SET @sTicket     = @cur_T_Ticket ;
           SET @strID       = @sInstall_ID + '-' + @sTicket ;      
           SET @sErrorMessage = 'Documento ' + @strID + ' contiene Inconsistencias de IVA. -> ' + ISNULL(@cur_T_Material, '') ;
           
           INSERT INTO T3.BITACORA_ERROR ( Distribuidor, Fecha, Mensaje, Tipo, Modulo, Ctro )
           VALUES ( 0, GETDATE(), @sErrorMessage, 'F', 'NGP', @sInstall_ID );

           UPDATE T3.ORDERS_NGP_IN SET FECHA_PROC_BATMD = CONVERT(DATETIME, '29991229', 112)
           WHERE Install_ID = @sInstall_ID
             AND Ticket     = @sTicket ;      
             
           FETCH NEXT FROM ScrTax_NotValid INTO @cur_T_Install_ID, @cur_T_Ticket, @cur_T_Material, @cur_T_Valor_Subt, @cur_T_Valor_IVA, @cur_T_Porc_IVA;
        END ;
        CLOSE ScrTax_NotValid;

        IF ( ISNULL( @pOutput, 0 ) > 0 )
        BEGIN
           EXEC EAI.Trace_Plsql 'NGP_DQC', 'Ends' ;
        END ;         

    END TRY
    BEGIN CATCH
        IF CURSOR_STATUS('local', 'ScrItemNotPrice') >= 0 BEGIN CLOSE ScrItemNotPrice; DEALLOCATE ScrItemNotPrice; END;
        IF CURSOR_STATUS('local', 'ScrDocuments')   >= 0 BEGIN CLOSE ScrDocuments;   DEALLOCATE ScrDocuments;   END;
        IF CURSOR_STATUS('local', 'ScrItems')       >= 0 BEGIN CLOSE ScrItems;       DEALLOCATE ScrItems;       END;
        IF CURSOR_STATUS('local', 'ScrTax_NotValid') >= 0 BEGIN CLOSE ScrTax_NotValid; DEALLOCATE ScrTax_NotValid; END;

        SET @sMsg = SUBSTRING(CAST(ERROR_NUMBER() AS VARCHAR(10)) + '-' + ERROR_MESSAGE(), 1, 250) ;
        SET @sMsg = SUBSTRING(ERROR_MESSAGE(), 1, 250) ;

        PRINT REPLICATE('-', 80) ;
        PRINT 'Problemas en la ejecucion del Procedimiento' ;
        PRINT 'FAVOR DE ESCALAR LOS SIGUIENTES DATOS :' ;
        PRINT 'Procedimiento : PROC_NGP_DQC_BEFORE' ;
        PRINT 'Fecha         : ' + CONVERT(VARCHAR, GETDATE(), 120) ;
        PRINT 'Referencia    : ' + ISNULL(@strID, '') ;
        PRINT 'Error         : ' + ISNULL(@sMsg, '') ;
        PRINT REPLICATE('-', 80) ;

        INSERT INTO T3.BITACORA_ERROR ( Distribuidor, Fecha, Mensaje, Tipo, Modulo, Ctro )
        VALUES ( 0, GETDATE(), ISNULL(@strID, '') + '. ' + @sMsg, 'F', 'NGP', @sInstall_ID );
    END CATCH;
END;
GO
