USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[STP_UPDATE_SUBT_IVA_TMP]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[STP_UPDATE_SUBT_IVA_TMP] 
AS 
BEGIN
--variables cursor
  DECLARE @vTotal DECIMAL(16,2);
  DECLARE @vSubtotal DECIMAL(16,2);
  DECLARE @vFactura VARCHAR(50);
  DECLARE @vTotal32 DECIMAL(16,2);
  DECLARE @vSubtotal32 DECIMAL(16,2);
  
  DECLARE documentos CURSOR LOCAL FORWARD_ONLY STATIC FOR
  SELECT 
    RF.FACTURA,
    CAST(RF.anexo_cfd AS XML).value('declare namespace cfdi="http://www.sat.gob.mx/cfd/3"; (/cfdi:Comprobante/@Total)[1]', 'DECIMAL(16,2)') AS TOTAL,
    CAST(RF.anexo_cfd AS XML).value('declare namespace cfdi="http://www.sat.gob.mx/cfd/3"; (/cfdi:Comprobante/@SubTotal)[1]', 'DECIMAL(16,2)') AS SUBTOTAL,
    CAST(RF.anexo_cfd AS XML).value('declare namespace cfdi="http://www.sat.gob.mx/cfd/3"; (/cfdi:Comprobante/@total)[1]', 'DECIMAL(16,2)') AS TOTAL32,
    CAST(RF.anexo_cfd AS XML).value('declare namespace cfdi="http://www.sat.gob.mx/cfd/3"; (/cfdi:Comprobante/@subTotal)[1]', 'DECIMAL(16,2)') AS SUBTOTAL32
  FROM 
    CFDI_DOCUMENTOS CD, RF_DOCUMENTOS RF
  WHERE 
    RF.FACTURA = CD.NOTA_VENTA 
    AND STATUS = 'CONFIRMADO'
    AND VALOR_SUBT IS NULL;
    
  BEGIN TRY
    OPEN documentos;
    
    FETCH NEXT FROM documentos INTO @vFactura, @vTotal, @vSubtotal, @vTotal32, @vSubtotal32;
    
    WHILE @@FETCH_STATUS = 0
    BEGIN
      IF @vSubtotal IS NOT NULL 
      BEGIN
        UPDATE 
          cfdi_documentos
        SET 
            valor_subt    = @vSubtotal,
            valor_iva     = @vTotal - @vSubtotal
        WHERE 
          nota_venta = @vFactura;
      END
      ELSE
      BEGIN
        UPDATE 
          cfdi_documentos
        SET 
            valor_subt    = @vSubtotal32,
            valor_iva     = @vTotal32 - @vSubtotal32
        WHERE 
          nota_venta = @vFactura;
      END;
      
      FETCH NEXT FROM documentos INTO @vFactura, @vTotal, @vSubtotal, @vTotal32, @vSubtotal32;
    END;

    CLOSE documentos;
    DEALLOCATE documentos;
    
  END TRY
  BEGIN CATCH
    IF CURSOR_STATUS('local', 'documentos') >= -1
    BEGIN
       IF CURSOR_STATUS('local', 'documentos') > -1
       BEGIN
          CLOSE documentos;
       END
       DEALLOCATE documentos;
    END;

    THROW;
  END CATCH;
END;
GO
