USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[STP_MAIN_UPDATE_PENDING_DOC]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[STP_MAIN_UPDATE_PENDING_DOC] 
(
  @pDOCUMENT_ID VARCHAR(MAX)
, @pESTATUS VARCHAR(MAX) 
, @pIdConfirmacion VARCHAR(MAX)
) AS 
BEGIN
  DECLARE @vVersion33 VARCHAR(5);
  DECLARE @vVersion40 VARCHAR(5);

  SELECT 
  @vVersion33 = CAST(anexo_cfd AS XML).value('declare namespace cfdi="http://www.sat.gob.mx/cfd/3"; declare namespace tfd="http://www.sat.gob.mx/TimbreFiscalDigital"; (/cfdi:Comprobante/cfdi:Complemento/tfd:TimbreFiscalDigital/@Version)[1]', 'VARCHAR(5)'),
  @vVersion40 = CAST(anexo_cfd AS XML).value('declare namespace cfdi="http://www.sat.gob.mx/cfd/4"; declare namespace tfd="http://www.sat.gob.mx/TimbreFiscalDigital"; (/cfdi:Comprobante/cfdi:Complemento/tfd:TimbreFiscalDigital/@Version)[1]', 'VARCHAR(5)')
  FROM rf_documentos
  WHERE factura = @pDOCUMENT_ID;

  IF @vVersion33 IS NOT NULL 
  BEGIN
    EXEC T3.stp_update_pending_doc @pDOCUMENT_ID, @pESTATUS, @pIdConfirmacion;
  END
  ELSE
  BEGIN
    IF @vVersion40 IS NOT NULL 
    BEGIN
      EXEC T3.stp_update_pending_doc_40 @pDOCUMENT_ID, @pESTATUS, @pIdConfirmacion;
    END;
  END;

END;
GO
