USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[WA_REENVIO_EDICOM_PAGO]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [T3].[WA_REENVIO_EDICOM_PAGO] 
    @sFactura VARCHAR(50),
    @sVersion VARCHAR(50) = '4.0'
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @nDoctos   INT;
    DECLARE @dtFecha   DATETIME;
    DECLARE @dtFactura DATETIME;
    DECLARE @sMsg      VARCHAR(500);

    -- Variables cursor
    DECLARE @Cur_Nota_Venta       VARCHAR(50),
            @Cur_Fecha            DATETIME,
            @Cur_Fecha_Factura    DATETIME,
            @Cur_Fecha_Liberacion DATETIME,
            @Cur_Fecha_Envio      DATETIME,
            @Cur_Folio_Fiscal     VARCHAR(50),
            @Cur_Fecha_Timbre     DATETIME,
            @Cur_Status           VARCHAR(50),
            @Cur_Valor            NUMERIC(18,2);

    DECLARE Docto CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT CFD.Nota_Venta, GETDATE() AS Fecha, Env.Fecha_Envio AS Fecha_Factura, CFD.Fecha_Liberacion, CFD.Fecha_Envio, CFD.Folio_Fiscal, CFD.Fecha_Timbre, CFD.Status, 
               ISNULL( CFD.Valor_Subt, 0 ) + ISNULL( CFD.Valor_IVA, 0 )  AS   Valor
        FROM T3.CFDI_Documentos CFD
        INNER JOIN T3.CFDI_Cobranza Env ON CFD.Nota_Venta = Env.Asignacion_ID
        WHERE CFD.Nota_Venta = @sFactura ;
--
    BEGIN TRY
        SET @nDoctos = 0 ;

        OPEN Docto;
        FETCH NEXT FROM Docto INTO 
            @Cur_Nota_Venta, @Cur_Fecha, @Cur_Fecha_Factura, @Cur_Fecha_Liberacion, 
            @Cur_Fecha_Envio, @Cur_Folio_Fiscal, @Cur_Fecha_Timbre, @Cur_Status, @Cur_Valor;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            SELECT @nDoctos = COUNT( * ),
                   @dtFecha  = MAX( Fecha )
            FROM T3.CFDI_REPROCESO
            WHERE Nota_Venta = @sFactura ;

            IF ( ISNULL( @nDoctos, 0 ) = 0 ) 
            BEGIN
                SET @dtFactura = @Cur_Fecha_Factura ;
            END
            ELSE 
            BEGIN
                SET @dtFactura = CAST(@dtFecha AS DATE) ;
            END ;      

            IF ( ( LEN( ISNULL( @Cur_Folio_Fiscal, ' ' ) ) > 10 ) AND ( @Cur_Status IN ( 'CONFIRMADO', 'CANCELLED' ) ) ) 
            BEGIN
                INSERT INTO CFDI_REPROCESO_CFD
                   ( Factura, Fecha, Anexo_CFD )
                SELECT Factura, GETDATE(), Anexo_CFD
                FROM T3.RF_Documentos 
                WHERE Factura = @sFactura ;

                INSERT INTO T3.CFDI_REPROCESO
                   ( Nota_Venta, Fecha, Fecha_Factura, Fecha_Liberacion, Fecha_Envio, Folio_Fiscal, Fecha_Timbre, Status, Valor )
                VALUES
                   ( @sFactura, GETDATE(), @dtFactura, @Cur_Fecha_Liberacion, @Cur_Fecha_Envio, @Cur_Folio_Fiscal, @Cur_Fecha_Timbre, @Cur_Status, @Cur_Valor ) ;

                DELETE FROM T3.CFDI_Documentos        WHERE Nota_Venta = @sFactura ;   
                DELETE FROM T3.CFDI_Documentos_Enviar WHERE Nota_Venta = @sFactura ;
                DELETE FROM T3.RF_Documentos          WHERE Factura    = @sFactura ;   

                UPDATE T3.CFDI_Cobranza 
                SET Fecha_Asignacion = DATEADD(MINUTE, 2, Fecha_Asignacion) 
                WHERE Asignacion_ID = @sFactura ;

                PRINT 'Documento : ' + ISNULL(@sFactura, '') + ' reenviado a EDICOM' ;

--              EXEC T3.PROC_CFDI_GENERAR_PAGO @sFactura, NULL, 1 ;
                IF ( ISNULL( @sVersion, '3.3' ) != '4.0' ) 
                BEGIN
                    EXEC T3.PROC_CFDI_GENERAR_PAGO_REENV @sFactura, NULL, 1 ;
                END
                ELSE          
                BEGIN
                    EXEC T3.PROC_V20_GENERAR_PAGO @sFactura, NULL, 1 ;
                END ;   

                INSERT INTO EAI_Owner.WA_Logging
                       ( Fecha, Usuario, Usuario_Red, IP, Terminal, Documento, Comentario )
                VALUES
                       ( GETDATE() , CURRENT_USER, 
                         SUSER_SNAME(), 
                         CAST(CONNECTIONPROPERTY('client_net_address') AS VARCHAR(50)),
                         HOST_NAME(),
                         @sFactura, 'WA_REENVIO_EDICOM_PAGO' ) ;                                  
            END
            ELSE IF ( LEN( ISNULL( @Cur_Folio_Fiscal, ' ' ) ) < 10 ) 
            BEGIN
                DELETE FROM T3.CFDI_Documentos        WHERE Nota_Venta = @sFactura ;   
                DELETE FROM T3.CFDI_Documentos_Enviar WHERE Nota_Venta = @sFactura ;

                UPDATE T3.CFDI_Cobranza 
                SET Fecha_Asignacion = DATEADD(MINUTE, 2, Fecha_Asignacion) 
                WHERE Asignacion_ID = @sFactura ;

                PRINT 'Documento : ' + ISNULL(@sFactura, '') + ' reenviado a EDICOM' ;

                EXEC T3.PROC_CFDI_GENERAR_PAGO @sFactura, NULL, 1 ;

                INSERT INTO EAI_Owner.WA_Logging
                       ( Fecha, Usuario, Usuario_Red, IP, Terminal, Documento, Comentario )
                VALUES
                       ( GETDATE() , CURRENT_USER, 
                         SUSER_SNAME(), 
                         CAST(CONNECTIONPROPERTY('client_net_address') AS VARCHAR(50)),
                         HOST_NAME(),
                         @sFactura, 'WA_REENVIO_EDICOM_PAGO' ) ;            
            END ;

            FETCH NEXT FROM Docto INTO 
                @Cur_Nota_Venta, @Cur_Fecha, @Cur_Fecha_Factura, @Cur_Fecha_Liberacion, 
                @Cur_Fecha_Envio, @Cur_Folio_Fiscal, @Cur_Fecha_Timbre, @Cur_Status, @Cur_Valor;
        END ;
        CLOSE Docto ;

        IF CURSOR_STATUS('local','Docto') >= -1 DEALLOCATE Docto;

    END TRY
    BEGIN CATCH

        IF CURSOR_STATUS('local','Docto') >= -1
        BEGIN
            IF CURSOR_STATUS('local','Docto') >= 0 CLOSE Docto;
            DEALLOCATE Docto;
        END

        SET @sMsg = SUBSTRING( 'ERROR SQL ' + CAST(ERROR_NUMBER() AS VARCHAR(30)) + ' ' + ERROR_MESSAGE(), 1, 480 ) ;
        
        PRINT '*************** Mensaje *****************' ;
        PRINT '*** Error en WA_REENVIO_EDICOM_PAGO  ***' ;
        PRINT @sMsg ;          
    END CATCH
END ; -- Procedure
GO
