USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[WA_BORRA_NC_SA]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[WA_BORRA_NC_SA] 
   ( @sFactura         VARCHAR(MAX),
     @sVersion         VARCHAR(MAX) = '3.3' )
AS
BEGIN
   DECLARE @nDoctos    INT ;
   DECLARE @dtFecha    DATETIME ;
   DECLARE @dtFactura  DATETIME ;
   DECLARE @sMsg       VARCHAR(500) ;
   
   -- variables cursor
   DECLARE @Doc_Nota_Venta VARCHAR(MAX);
   DECLARE @Doc_Fecha DATETIME;
   DECLARE @Doc_Fecha_Factura DATETIME;
   DECLARE @Doc_Fecha_Liberacion DATETIME;
   DECLARE @Doc_Fecha_Envio DATETIME;
   DECLARE @Doc_Folio_Fiscal VARCHAR(MAX);
   DECLARE @Doc_Fecha_Timbre DATETIME;
   DECLARE @Doc_Status VARCHAR(MAX);
   DECLARE @Doc_Valor DECIMAL(18,4);

   DECLARE Docto CURSOR LOCAL FORWARD_ONLY STATIC FOR
       SELECT CFD.Nota_Venta, GETDATE() AS Fecha, RF.Fecha_Factura, CFD.Fecha_Liberacion, CFD.Fecha_Envio, CFD.Folio_Fiscal, CFD.Fecha_Timbre, CFD.Status, 
              ISNULL( CFD.Valor_Subt, 0 ) + ISNULL( CFD.Valor_IVA, 0 )  AS   Valor
       FROM T3.CFDI_Documentos CFD, T3.Registro_Fiscal RF
       WHERE CFD.Nota_Venta = @sFactura
         AND CFD.Nota_Venta = RF.Factura ;

   BEGIN TRY
      SET @nDoctos = 0 ;
      
      OPEN Docto;
      FETCH NEXT FROM Docto INTO @Doc_Nota_Venta, @Doc_Fecha, @Doc_Fecha_Factura, @Doc_Fecha_Liberacion, @Doc_Fecha_Envio, @Doc_Folio_Fiscal, @Doc_Fecha_Timbre, @Doc_Status, @Doc_Valor;
      
      WHILE @@FETCH_STATUS = 0 
      BEGIN
         SELECT @nDoctos = COUNT( * ),
                @dtFecha = MAX( Fecha )
         FROM T3.CFDI_REPROCESO
         WHERE Nota_Venta = @sFactura ;
         
         IF ( ISNULL( @nDoctos, 0 ) = 0 ) 
         BEGIN
            SET @dtFactura = @Doc_Fecha_Factura ;
         END
         ELSE 
         BEGIN
            SET @dtFactura = CAST( @dtFecha AS DATE ) ;
         END ;      
         
         IF ( ( LEN( ISNULL( @Doc_Folio_Fiscal, ' ' ) ) > 10 ) AND ( @Doc_Status IN ( 'CONFIRMADO', 'CANCELLED' ) ) ) 
         BEGIN
            INSERT INTO CFDI_REPROCESO_CFD
               ( Factura, Fecha, Anexo_CFD )
            SELECT Factura, GETDATE(), Anexo_CFD
               FROM T3.RF_Documentos 
               WHERE Factura = @sFactura ;
               
            INSERT INTO T3.CFDI_REPROCESO
               ( Nota_Venta, Fecha, Fecha_Factura, Fecha_Liberacion, Fecha_Envio, Folio_Fiscal, Fecha_Timbre, Status, Valor )
            VALUES
               ( @sFactura, GETDATE(), @dtFactura, @Doc_Fecha_Liberacion, @Doc_Fecha_Envio, @Doc_Folio_Fiscal, @Doc_Fecha_Timbre, @Doc_Status, @Doc_Valor ) ;
               
            DELETE FROM T3.CFDI_Documentos        WHERE Nota_Venta = @sFactura ;   
            DELETE FROM T3.CFDI_Documentos_Enviar WHERE Nota_Venta = @sFactura ;
            DELETE FROM T3.RF_Documentos          WHERE Factura    = @sFactura ;   
            
            PRINT( 'Documento : ' + @sFactura + ' Respaldado' ) ;        
               INSERT INTO EAI_Owner.WA_Logging
                      ( Fecha, Usuario, Usuario_Red, IP, Terminal, Documento, Comentario )
                   VALUES
                      ( GETDATE() , CURRENT_USER, 
                        SUSER_SNAME(), 
                        CAST(CONNECTIONPROPERTY('client_net_address') AS VARCHAR(48)),
                        HOST_NAME(),
                        @sFactura, 'WA_BORRA_NC_SA' ) ;                          
         END
         ELSE IF ( LEN( ISNULL( @Doc_Folio_Fiscal, ' ' ) ) < 10 ) 
         BEGIN
            PRINT( 'Documento : ' + @sFactura + ' No Timbrado' ) ;

               INSERT INTO EAI_Owner.WA_Logging
                      ( Fecha, Usuario, Usuario_Red, IP, Terminal, Documento, Comentario )
                   VALUES
                      ( GETDATE() , CURRENT_USER, 
                        SUSER_SNAME(), 
                        CAST(CONNECTIONPROPERTY('client_net_address') AS VARCHAR(48)),
                        HOST_NAME(),
                        @sFactura, 'WA_BORRA_NC_SA-NO TIMBRADO' ) ;            
         END ;
         
         FETCH NEXT FROM Docto INTO @Doc_Nota_Venta, @Doc_Fecha, @Doc_Fecha_Factura, @Doc_Fecha_Liberacion, @Doc_Fecha_Envio, @Doc_Folio_Fiscal, @Doc_Fecha_Timbre, @Doc_Status, @Doc_Valor;
      END ;
      CLOSE Docto;
      DEALLOCATE Docto;
   END TRY
   BEGIN CATCH
      IF CURSOR_STATUS('local', 'Docto') >= -1
      BEGIN
         IF CURSOR_STATUS('local', 'Docto') > -1
         BEGIN
            CLOSE Docto;
         END
         DEALLOCATE Docto;
      END;

      SET @sMsg = SUBSTRING( 'ERROR SQL ' + CAST( ERROR_NUMBER() AS VARCHAR ) + ' ' + ERROR_MESSAGE(), 1, 480 ) ;
      PRINT( '************* Mensaje **************' ) ;
      PRINT( '*** Error en WA_BORRA_NC_SA  ***' ) ;
      PRINT( @sMsg ) ;         
   END CATCH;
END ; -- Procedure
GO
