USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[WA_SOPORTE_EAI]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [T3].[WA_SOPORTE_EAI] 
    @sReference  VARCHAR(50),
    @sWorkaround VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @nDoctos        INT;
    DECLARE @dtFecha        DATETIME;
    DECLARE @dtFactura      DATETIME;
    DECLARE @sMsg           VARCHAR(500);
    DECLARE @sTipoDocto     VARCHAR(5);
    DECLARE @nItems         INT;
    DECLARE @dtFechaTrn     DATETIME;
--
    DECLARE @nCreditoSubt   NUMERIC(10,2);
    DECLARE @nItems_SinIVA  INT;
    DECLARE @nItemsConIVA   INT;
    DECLARE @nIssue_CF      INT;

    -- Variables cursores
    DECLARE @CurDC_Factura          VARCHAR(50),
            @CurDC_Hora_Factura     VARCHAR(8),
            @CurDC_Anio_Aprob       VARCHAR(50),
            @CurDC_Folio_Aprob      VARCHAR(50),
            @CurDC_Rep_ID           VARCHAR(50),
            @CurDC_Sociedad         VARCHAR(50),
            @CurDC_Cadena_Original  VARCHAR(50),
            @CurDC_Sello_Digital    VARCHAR(50),
            @CurDC_Dias_Cdto        INT,
            @CurDC_Operacion        VARCHAR(MAX),
            @CurDC_Tipo_Docto       VARCHAR(50),
            @CurDC_Cliente_SAP      VARCHAR(50),
            @CurDC_Liberar          VARCHAR(50);
    DECLARE @CurDA_Nota_Venta_CFDI  VARCHAR(50),
            @CurDA_Num_Linea        VARCHAR(50),
            @CurDA_Material         VARCHAR(50),
            @CurDA_Valor_Subt       NUMERIC(18,4),
            @CurDA_Valor_IVA        NUMERIC(18,4),
            @CurDA_Calc_Valor_IVA   NUMERIC(18,4),
            @CurDA_Dif_Valor_IVA    NUMERIC(18,4),
            @CurDA_Envio_Subt       NUMERIC(18,4),
            @CurDA_Envio_IVA        NUMERIC(18,4),
            @CurDA_Calc_Envio_IVA   NUMERIC(18,4),
            @CurDA_Dif_Envio_IVA    NUMERIC(18,4),
            @CurDA_Credito_Subt     NUMERIC(18,4),
            @CurDA_Credito_IVA      NUMERIC(18,4),
            @CurDA_Calc_Cred_IVA    NUMERIC(18,4),
            @CurDA_Dif_Cred_IVA     NUMERIC(18,4);
    DECLARE @CurPN_Num_Linea        VARCHAR(50),
            @CurPN_Material         VARCHAR(50),
            @CurPN_Cantidad_Vta     NUMERIC(18,4),
            @CurPN_CalcPrecioUnit   NUMERIC(18,4),
            @CurPN_CalcValor_Subt   NUMERIC(18,4),
            @CurPN_CalcValor_IVA    NUMERIC(18,4);
    DECLARE @CurNI_Factura          VARCHAR(50),
            @CurNI_Num_Linea        VARCHAR(50),
            @CurNI_Material         VARCHAR(50),
            @CurNI_Valor_Subt       NUMERIC(18,4),
            @CurNI_Valor_IVA        NUMERIC(18,4),
            @CurNI_Envio_Subt       NUMERIC(18,4),
            @CurNI_Envio_IVA        NUMERIC(18,4),
            @CurNI_Credito_Subt     NUMERIC(18,4),
            @CurNI_Credito_IVA      NUMERIC(18,4);
    DECLARE @CurNA_Nota_Venta_CFDI  VARCHAR(50),
            @CurNA_Num_Linea        VARCHAR(50),
            @CurNA_Material         VARCHAR(50),
            @CurNA_Valor_Subt       NUMERIC(18,4),
            @CurNA_Valor_IVA        NUMERIC(18,4),
            @CurNA_Credito_Subt     NUMERIC(18,4),
            @CurNA_Credito_IVA      NUMERIC(18,4);
    DECLARE @CurAI_Tipo_Docto       VARCHAR(50),
            @CurAI_Factura          VARCHAR(50),
            @CurAI_Num_Linea        VARCHAR(50),
            @CurAI_Material         VARCHAR(50),
            @CurAI_Valor_Subt       NUMERIC(18,4),
            @CurAI_Valor_IVA        NUMERIC(18,4),
            @CurAI_Valor_IVA_Calc   NUMERIC(18,4);
    DECLARE @CurCP_executeScript    VARCHAR(MAX),
            @CurCP_Nota_Venta       VARCHAR(50),
            @CurCP_ID_Confirmacion  VARCHAR(50);

    DECLARE DoctoComplemento CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT HDP.Nota_Venta                                         AS Factura        ,
               CONVERT(VARCHAR(8), DATEADD(HOUR, -3, GETDATE()), 108) AS Hora_Factura   ,
               'Error'                                                AS Anio_Aprob     ,
               'Error'                                                AS Folio_Aprob    ,
               'U00000000'                                            AS Rep_ID         ,
               'MX06'                                                 AS Sociedad       ,
               'CFDI - Documento'                                     AS Cadena_Original,
               'CFDI - Documento'                                     AS Sello_Digital  ,
               ISNULL( MC.Dias_Cdto, 0 )                              AS Dias_Cdto      ,
               ISNULL( Comp.Sello_Digital, 'INSERT' )                 AS Operacion      ,
               FG.Tipo_Docto                                          AS Tipo_Docto     ,
               FG.Cliente_SAP                                         AS Cliente_SAP    ,
               ISNULL( CFD.Ctro, 'LIB' )                              AS Liberar
        FROM T3.CFDI_Historia_Docto_PAC HDP 
        INNER JOIN T3.Registro_Fiscal   FG   ON HDP.Nota_Venta = FG.Factura
        INNER JOIN T3.Mov_Cliente       MC   ON FG.Cliente_SAP = MC.Cliente_SAP
        LEFT OUTER JOIN T3.RF_Complemento Comp ON HDP.Nota_Venta = Comp.Factura
        LEFT OUTER JOIN T3.CFDI_Documentos CFD ON HDP.Nota_Venta = CFD.Nota_Venta
        WHERE HDP.Nota_Venta = @sReference
          AND HDP.Nota_Venta = HDP.Nota_Venta_CFDI ;
--
    DECLARE DoctoAgrupado CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT Det.Nota_Venta_CFDI                                    AS Nota_Venta_CFDI,
               Det.Num_Linea                                          AS Num_Linea      ,
               Det.Material                                           AS Material       ,
               Det.Valor_Subt                                         AS Valor_Subt     ,
               Det.Valor_IVA                                          AS Valor_IVA      , 
               ROUND( Det.Valor_Subt * 0.16, 2 )                      AS Calc_Valor_IVA ,
               CASE WHEN Det.Valor_IVA = 0 THEN 0 ELSE ROUND( Det.Valor_Subt * 0.16, 2 ) - Det.Valor_IVA END AS Dif_Valor_IVA  ,
               Det.Envio_Subt                                         AS Envio_Subt     ,
               Det.Envio_IVA                                          AS Envio_IVA      , 
               ROUND( Det.Envio_Subt * 0.16, 2 )                      AS Calc_Envio_IVA ,
               CASE WHEN Det.Valor_IVA = 0 THEN 0 ELSE ROUND( Det.Envio_Subt * 0.16, 2 ) - Det.Envio_IVA END AS Dif_Envio_IVA  ,
               ISNULL( Det.Credito_Subt, 0 )                          AS Credito_Subt   ,
               ISNULL( Det.Credito_IVA , 0 )                          AS Credito_IVA    , 
               ROUND( ISNULL( Det.Credito_Subt, 0 ) * 0.16, 2 )       AS Calc_Cred_IVA  ,
               CASE WHEN Det.Valor_IVA = 0 THEN 0 ELSE ROUND( ISNULL( Det.Credito_Subt, 0 ) * 0.16, 2 ) - ISNULL( Det.Credito_IVA, 0 ) END AS Dif_Cred_IVA
        FROM T3.CFDI_Agrupado_Detalle Det
        WHERE Det.Nota_Venta_CFDI = @sReference 
        ORDER BY Det.Num_Linea ;
--
    DECLARE PrecioNegativo CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT Num_Linea, Material, Cantidad_Vta,
               Precio_Unitario                AS CalcPrecioUnit,
               Cantidad_Vta * Precio_Unitario AS CalcValor_Subt,
               ROUND( Cantidad_Vta * Precio_Unitario * CASE WHEN Valor_IVA = 0 THEN 0 ELSE 16 END / 100, 2 ) AS CalcValor_IVA 
        FROM (
                SELECT Num_Linea, Material, Cantidad_Vta, Precio_Unit, Valor_Subt, Valor_IVA, 
                       ROUND( ISNULL( Valor_Subt, 0 ) / Cantidad_Vta, 2 ) AS Calc_Precio_Unit,
                       CASE
                           WHEN ( ( Precio_Unit < 9 ) AND ( Cantidad_Vta =  1 ) ) THEN 0.10
                           WHEN ( ( Precio_Unit < 9 ) AND ( Cantidad_Vta =  2 ) ) THEN 0.05
                           WHEN ( ( Precio_Unit < 9 ) AND ( Cantidad_Vta =  3 ) ) THEN 0.04
                           WHEN ( ( Precio_Unit < 9 ) AND ( Cantidad_Vta =  4 ) ) THEN 0.03
                           WHEN ( ( Precio_Unit < 9 ) AND ( Cantidad_Vta =  5 ) ) THEN 0.02
                           WHEN ( ( Precio_Unit < 9 ) AND ( Cantidad_Vta =  6 ) ) THEN 0.02
                           WHEN ( ( Precio_Unit < 9 ) AND ( Cantidad_Vta =  7 ) ) THEN 0.02
                           WHEN ( ( Precio_Unit < 9 ) AND ( Cantidad_Vta =  8 ) ) THEN 0.02
                           WHEN ( ( Precio_Unit < 9 ) AND ( Cantidad_Vta =  9 ) ) THEN 0.02
                           WHEN ( ( Precio_Unit < 9 ) AND ( Cantidad_Vta >  9 ) ) THEN 0.01
                           ELSE Precio_Unit
                       END AS Precio_Unitario
                FROM T3.Factura_Detalle
                WHERE Factura = @sReference
                  AND ISNULL( Precio_Unit, 0 ) < 0
             ) SQ ; 
--
    DECLARE ScrCF_NoIVA_Ind CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT Factura, Num_Linea, Material, Valor_Subt, Valor_IVA, Envio_Subt, Envio_IVA, 
               ISNULL( Credito_Subt, 0 ) AS Credito_Subt,
               ISNULL( Credito_IVA , 0 ) AS Credito_IVA
        FROM T3.Registro_Fiscal_Detalle 
        WHERE Factura = @sReference
          AND ISNULL( Credito_Subt, 0 ) > 0 ;   
--
    DECLARE ScrCF_NoIVA_Agr CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT Nota_Venta_CFDI, Num_Linea, Material, 
               ISNULL( CFD.Valor_Subt  , 0 ) AS Valor_Subt  , 
               ISNULL( CFD.Valor_IVA   , 0 ) AS Valor_IVA   ,
               ISNULL( CFD.Credito_Subt, 0 ) AS Credito_Subt,
               ISNULL( CFD.Credito_IVA , 0 ) AS Credito_IVA
        FROM T3.CFDI_Agrupado_Detalle CFD
        WHERE Nota_Venta_CFDI = @sReference
        ORDER BY ISNULL( Credito_IVA, 0 ) , ISNULL( Credito_Subt, 0 ) DESC ;
--
    DECLARE ScrAjuste_IVA CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT Doc.Tipo_Docto, Det.Factura, Det.Num_Linea, Det.Material, Det.Valor_Subt, Det.Valor_IVA,
               ROUND( Det.Valor_Subt * 0.16, 2 ) AS Valor_IVA_Calculado
        FROM T3.Registro_Fiscal       Doc
        INNER JOIN T3.Registro_Fiscal_Detalle Det ON Doc.Factura = Det.Factura
        WHERE Doc.Factura = @sReference ;
--
    DECLARE ScrCartaPorte CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT 'T3.STP_UPDATE_PENDING_DOC_40( ' + CHAR(39) + ISNULL(CFD.Nota_Venta, '') + CHAR(39) + ', '
                                                + CHAR(39) + 'CONFIRMADO'               + CHAR(39) + ', '
                                                + CHAR(39) + ISNULL(CFD.ID_Confirmacion, '') + CHAR(39) + ' ) ; ' AS executeScript,
               CFD.Nota_Venta, CFD.ID_Confirmacion                                 
        FROM T3.CFDI_Documentos CFD
        INNER JOIN T3.RF_Documentos CFDI ON CFD.Nota_Venta = CFDI.Factura
        WHERE CFD.Nota_Venta LIKE 'CPT%'
          AND CFD.Fecha_Liberacion > DATEADD(day, -90, GETDATE())
          AND CFD.Folio_Fiscal IS NULL ;

    BEGIN TRY
        SET @nDoctos = 0 ;

        IF ( UPPER( @sWorkAround ) = 'CF_SIN_IVA_IND' ) 
        BEGIN
            OPEN ScrCF_NoIVA_Ind;
            FETCH NEXT FROM ScrCF_NoIVA_Ind INTO 
                @CurNI_Factura, @CurNI_Num_Linea, @CurNI_Material, @CurNI_Valor_Subt, 
                @CurNI_Valor_IVA, @CurNI_Envio_Subt, @CurNI_Envio_IVA, @CurNI_Credito_Subt, @CurNI_Credito_IVA;

            WHILE @@FETCH_STATUS = 0
            BEGIN
                IF ( ISNULL( @CurNI_Credito_IVA, 0 ) = 0 ) 
                BEGIN
                    SET @nDoctos = @nDoctos + 1 ;
                    UPDATE T3.Registro_Fiscal_Detalle 
                    SET Credito_IVA = ROUND( Credito_Subt * 0.16, 2 )
                    WHERE Factura   = @CurNI_Factura
                      AND Num_Linea = @CurNI_Num_Linea
                      AND Material  = @CurNI_Material ;
                END ;

                FETCH NEXT FROM ScrCF_NoIVA_Ind INTO 
                    @CurNI_Factura, @CurNI_Num_Linea, @CurNI_Material, @CurNI_Valor_Subt, 
                    @CurNI_Valor_IVA, @CurNI_Envio_Subt, @CurNI_Envio_IVA, @CurNI_Credito_Subt, @CurNI_Credito_IVA;
            END ;
            CLOSE ScrCF_NoIVA_Ind ;

            IF ( @nDoctos > 0 ) 
            BEGIN
                EXEC T3.PROC_V40_GENERAR_MX06 @sReference ;
            END ;
        END ;

        IF ( UPPER( @sWorkAround ) = 'CF_SIN_IVA_AGR' ) 
        BEGIN
            SELECT @nItems_SinIVA = SUM( CASE WHEN Valor_IVA = 0 THEN 1 ELSE 0 END ),
                   @nItemsConIVA  = SUM( CASE WHEN Valor_IVA = 0 THEN 0 ELSE 1 END ),
                   @nIssue_CF     = SUM( CASE WHEN ISNULL( Credito_Subt, 0 ) = 0 THEN 0 
                                              ELSE CASE WHEN Credito_IVA = 0 THEN 1 ELSE 0 END END )
            FROM T3.CFDI_Agrupado_Detalle CFD
            WHERE Nota_Venta_CFDI = @sReference ;

            IF ( ( @nIssue_CF > 0 ) AND ( @nItemsConIVA > 0 ) ) 
            BEGIN
                SET @nCreditoSubt = 0 ;
                
                OPEN ScrCF_NoIVA_Agr;
                FETCH NEXT FROM ScrCF_NoIVA_Agr INTO 
                    @CurNA_Nota_Venta_CFDI, @CurNA_Num_Linea, @CurNA_Material, 
                    @CurNA_Valor_Subt, @CurNA_Valor_IVA, @CurNA_Credito_Subt, @CurNA_Credito_IVA;

                WHILE @@FETCH_STATUS = 0
                BEGIN
                    IF ( ( @CurNA_Credito_Subt > 0 ) AND ( @CurNA_Credito_IVA = 0 ) ) 
                    BEGIN
                        SET @nCreditoSubt = @nCreditoSubt + @CurNA_Credito_Subt ;
                        UPDATE T3.CFDI_Agrupado_Detalle SET Credito_Subt = 0
                        WHERE Nota_Venta_CFDI = @CurNA_Nota_Venta_CFDI 
                          AND Num_Linea       = @CurNA_Num_Linea 
                          AND Material        = @CurNA_Material ;
                    END ;
                    
                    FETCH NEXT FROM ScrCF_NoIVA_Agr INTO 
                        @CurNA_Nota_Venta_CFDI, @CurNA_Num_Linea, @CurNA_Material, 
                        @CurNA_Valor_Subt, @CurNA_Valor_IVA, @CurNA_Credito_Subt, @CurNA_Credito_IVA;
                END ;
                -- Se cierra temporalmente para reabrir abajo
                CLOSE ScrCF_NoIVA_Agr ;
--
                SET @nDoctos = 0 ;
                
                OPEN ScrCF_NoIVA_Agr;
                FETCH NEXT FROM ScrCF_NoIVA_Agr INTO 
                    @CurNA_Nota_Venta_CFDI, @CurNA_Num_Linea, @CurNA_Material, 
                    @CurNA_Valor_Subt, @CurNA_Valor_IVA, @CurNA_Credito_Subt, @CurNA_Credito_IVA;

                WHILE @@FETCH_STATUS = 0
                BEGIN
                    IF ( ( @CurNA_Valor_IVA > 0 ) AND ( @nDoctos = 0 ) AND ( @CurNA_Credito_Subt = 0 ) ) 
                    BEGIN
                        SET @nCreditoSubt = @nCreditoSubt + @CurNA_Credito_Subt ;
                        UPDATE T3.CFDI_Agrupado_Detalle 
                        SET Credito_Subt = @nCreditoSubt,
                            Credito_IVA  = ROUND( @nCreditoSubt * 0.16, 2 )
                        WHERE Nota_Venta_CFDI = @CurNA_Nota_Venta_CFDI 
                          AND Num_Linea       = @CurNA_Num_Linea 
                          AND Material        = @CurNA_Material ;
                        
                        SET @nDoctos = @nDoctos + 1 ;
                    END ;

                    FETCH NEXT FROM ScrCF_NoIVA_Agr INTO 
                        @CurNA_Nota_Venta_CFDI, @CurNA_Num_Linea, @CurNA_Material, 
                        @CurNA_Valor_Subt, @CurNA_Valor_IVA, @CurNA_Credito_Subt, @CurNA_Credito_IVA;
                END ;
                CLOSE ScrCF_NoIVA_Agr ;

                IF ( @nDoctos > 0 ) 
                BEGIN 
                    --EXEC WA_SOPORTE_EAI @sReference, 'CFDI_AGRUPADO' ; 
                    EXEC T3.PROC_V40_GENERAR_AGR @sReference ;
                END ;
            END ;
        END ;        
--   
        IF ( UPPER( @sWorkAround ) = 'RF_COMPLEMENTO' ) 
        BEGIN
            OPEN DoctoComplemento;
            FETCH NEXT FROM DoctoComplemento INTO 
                @CurDC_Factura, @CurDC_Hora_Factura, @CurDC_Anio_Aprob, @CurDC_Folio_Aprob, 
                @CurDC_Rep_ID, @CurDC_Sociedad, @CurDC_Cadena_Original, @CurDC_Sello_Digital, 
                @CurDC_Dias_Cdto, @CurDC_Operacion, @CurDC_Tipo_Docto, @CurDC_Cliente_SAP, @CurDC_Liberar;

            WHILE @@FETCH_STATUS = 0
            BEGIN
                IF ( @CurDC_Operacion = 'INSERT' ) 
                BEGIN
                    SET @nDoctos = @nDoctos + 1 ;
                    INSERT INTO T3.RF_Complemento 
                       ( Factura, Hora_Factura, Anio_Aprob, Folio_Aprob, Rep_ID, Sociedad, Cadena_Original, Sello_Digital, Dias_Pago )
                    VALUES
                       ( @CurDC_Factura, @CurDC_Hora_Factura, @CurDC_Anio_Aprob, @CurDC_Folio_Aprob, @CurDC_Rep_ID, @CurDC_Sociedad, @CurDC_Cadena_Original, @CurDC_Sello_Digital, @CurDC_Dias_Cdto ) ;
                    
                    IF ( @CurDC_Tipo_Docto IN ( 'C003', 'C005' ) ) 
                    BEGIN
                        EXEC T3.PROC_VSF_GENERAR_MX06 @CurDC_Factura, @CurDC_Cliente_SAP ;
                    END ;
                END ;

                FETCH NEXT FROM DoctoComplemento INTO 
                    @CurDC_Factura, @CurDC_Hora_Factura, @CurDC_Anio_Aprob, @CurDC_Folio_Aprob, 
                    @CurDC_Rep_ID, @CurDC_Sociedad, @CurDC_Cadena_Original, @CurDC_Sello_Digital, 
                    @CurDC_Dias_Cdto, @CurDC_Operacion, @CurDC_Tipo_Docto, @CurDC_Cliente_SAP, @CurDC_Liberar;
            END ;
            CLOSE DoctoComplemento ;
        END ;   
--
        IF ( UPPER( @sWorkAround ) = 'CFDI_AGRUPADO' ) 
        BEGIN
            OPEN DoctoAgrupado;
            FETCH NEXT FROM DoctoAgrupado INTO 
                @CurDA_Nota_Venta_CFDI, @CurDA_Num_Linea, @CurDA_Material, @CurDA_Valor_Subt, 
                @CurDA_Valor_IVA, @CurDA_Calc_Valor_IVA, @CurDA_Dif_Valor_IVA, @CurDA_Envio_Subt, 
                @CurDA_Envio_IVA, @CurDA_Calc_Envio_IVA, @CurDA_Dif_Envio_IVA, @CurDA_Credito_Subt, 
                @CurDA_Credito_IVA, @CurDA_Calc_Cred_IVA, @CurDA_Dif_Cred_IVA;

            WHILE @@FETCH_STATUS = 0
            BEGIN
                IF ( ABS( @CurDA_Dif_Valor_IVA ) >= 0.10 ) 
                BEGIN
                    SET @nDoctos = @nDoctos + 1 ;
                    UPDATE T3.CFDI_Agrupado_Detalle SET Valor_IVA = @CurDA_Calc_Valor_IVA
                    WHERE Nota_Venta_CFDI = @CurDA_Nota_Venta_CFDI
                      AND Num_Linea       = @CurDA_Num_Linea ;
                END ;

                IF ( ABS( @CurDA_Dif_Envio_IVA ) >= 0.05 ) 
                BEGIN
                    SET @nDoctos = @nDoctos + 1 ;
                    UPDATE T3.CFDI_Agrupado_Detalle SET Envio_IVA = @CurDA_Calc_Envio_IVA
                    WHERE Nota_Venta_CFDI = @CurDA_Nota_Venta_CFDI
                      AND Num_Linea       = @CurDA_Num_Linea ;
                END ;

                IF ( ABS( @CurDA_Dif_Cred_IVA ) >= 0.05 ) 
                BEGIN
                    SET @nDoctos = @nDoctos + 1 ;
                    UPDATE T3.CFDI_Agrupado_Detalle SET Credito_IVA = @CurDA_Calc_Cred_IVA
                    WHERE Nota_Venta_CFDI = @CurDA_Nota_Venta_CFDI
                      AND Num_Linea       = @CurDA_Num_Linea ;
                END ;

                FETCH NEXT FROM DoctoAgrupado INTO 
                    @CurDA_Nota_Venta_CFDI, @CurDA_Num_Linea, @CurDA_Material, @CurDA_Valor_Subt, 
                    @CurDA_Valor_IVA, @CurDA_Calc_Valor_IVA, @CurDA_Dif_Valor_IVA, @CurDA_Envio_Subt, 
                    @CurDA_Envio_IVA, @CurDA_Calc_Envio_IVA, @CurDA_Dif_Envio_IVA, @CurDA_Credito_Subt, 
                    @CurDA_Credito_IVA, @CurDA_Calc_Cred_IVA, @CurDA_Dif_Cred_IVA;
            END ;
            CLOSE DoctoAgrupado ;

            IF ( @nDoctos > 0 ) 
            BEGIN
                EXEC T3.PROC_V40_GENERAR_AGR @sReference ;
            END ;
        END ;
-- 
        IF ( UPPER( @sWorkAround ) = 'FG_MANUAL' ) 
        BEGIN
            SELECT @nItems = COUNT( FDP.Material ), @dtFechaTrn = MAX( FG.Fecha_Trn )  
            FROM T3.Factura_Detalles_Paso FDP
            LEFT OUTER JOIN T3.Factura_General FG ON FDP.Factura = FG.Factura
            WHERE FDP.Factura = @sReference ;

            IF ( ( @nItems > 0 ) AND ( @dtFechaTrn IS NULL ) ) 
            BEGIN
                INSERT INTO T3.Factura_General
                   ( Factura   , Distribuidor, Fecha_Factura, Tipo_Docto     , Cliente_V3      , Cliente_SAP,
                     Ubicacion , Rep_ID      , Status       , Clte_Factura_V3, Clte_Factura_SAP, Fecha_Trn  ,
                     Fecha_Pago, Row_ID      , Ctro         , Entrega        , Pedido          , Referencia ,
                     Valor_Subt, Valor_IVA   , Valor_ISSA    )
                SELECT SAP.Doc_Num_Ref2                               AS Factura        , 
                       DF.Distribuidor                                AS Distribuidor   ,
                       CONVERT(DATETIME, SAP.Doc_Date, 112)           AS Fecha_Factura  ,

                       CASE SAP.Doc_Type 
                            WHEN 'C003' THEN 'C003'
                            WHEN 'C005' THEN 'C003'
                            ELSE 'C004' END                           AS Tipo_Docto     , 
                       Cte.Cliente_V3                                 AS Cliente_V3     ,
                       RIGHT(REPLICATE('0', 10) + ISNULL(SAP.Customer, ''), 10) AS Cliente_SAP    ,
                       --
                       'TBD'                                          AS Ubicacion      ,
                       ''                                             AS Rep_ID         ,
                       ''                                             AS Status         ,
                       ''                                             AS Clte_Factura_V3,
                       HCte.Clte_Factura_SAP                          AS Clte_Factura_SAP,
                       GETDATE()                                      AS Fecha_Trn      ,
                       --
                       DATEADD(DAY, ISNULL(TRY_CAST(Cte.Dias_Cdto AS INT), 0), CONVERT(DATETIME, SAP.Doc_Date, 112)) AS Fecha_Pago,
                       SAP.Doc_Num_R3                                 AS Row_ID         ,
                       SAP.Distributor                                AS Ctro           ,
                       SAP.Doc_Num_R3                                 AS Entrega        ,
                       SAP.Doc_Ord_R3                                 AS Pedido         ,
                       SAP.Doc_Num_Ref2                               AS Referencia     ,
                       0                                              AS Valor_Subt     ,
                       0                                              AS Valor_IVA      ,
                       0                                              AS Valor_ISSA
                FROM EAI.T3R_Sales_Docs_Old  SAP 
                INNER JOIN T3.Distribuidor_Fiscal DF   ON SAP.Distributor = DF.Ctro
                INNER JOIN T3.Mov_Cliente         Cte  ON RIGHT(REPLICATE('0', 10) + ISNULL(SAP.Customer, ''), 10) = Cte.Cliente_SAP 
                INNER JOIN T3.Cliente             HCte ON RIGHT(REPLICATE('0', 10) + ISNULL(SAP.Customer, ''), 10) = HCte.Cliente_SAP
                WHERE SAP.Doc_Num_Ref2 = @sReference
                  AND SAP.Doc_Status   = 'C'
                  AND CONVERT(DATETIME, SAP.Doc_Date, 112) BETWEEN HCte.Fecha_Ini_Vig AND HCte.Fecha_Fin_Vig ;
                  
                INSERT INTO T3.Factura_Detalle
                     ( Factura     , Num_Linea   , Material  , Cantidad_Vta, Status_Prod, Precio_Unit   , 
                       Valor_Subt  , Valor_Tot   , Valor_Desc, Valor_IVA   , Valor_ISSA , Bonif_Subt    , 
                       Credito_Subt, Credito_IVA ,
                       Bonif_IVA   , Bonif_Porc  , Bonif_Vol , Envio_Subt  , Envio_IVA  , Unidad_Med_Vta )
                SELECT Factura     , Num_Linea   , Material  , Cantidad_Vta, Status_Prod, Precio_Unit   , 
                       Valor_Subt  , Valor_Tot   , Valor_Desc, Valor_IVA   , Valor_ISSA , Bonif_Subt    , 
                       ISNULL( Credito_Subt, 0), ISNULL( Credito_IVA , 0),
                       Bonif_IVA   , Bonif_Porc, Bonif_Vol , Envio_Subt  , Envio_IVA  , Unidad_Med_Vta
                FROM T3.Factura_Detalles_Paso
                WHERE Factura = @sReference ; 

                UPDATE PG SET 
                    Bonif_Subt   = ( SELECT SUM( ISNULL( PD.Bonif_Subt  , 0 ) ) FROM T3.Factura_Detalle PD WHERE PD.Factura = PG.Factura ),
                    Bonif_IVA    = ( SELECT SUM( ISNULL( PD.Bonif_IVA   , 0 ) ) FROM T3.Factura_Detalle PD WHERE PD.Factura = PG.Factura ),
                    Valor_Subt   = ( SELECT SUM( ISNULL( PD.Valor_Subt  , 0 ) ) FROM T3.Factura_Detalle PD WHERE PD.Factura = PG.Factura ),
                    Valor_IVA    = ( SELECT SUM( ISNULL( PD.Valor_IVA   , 0 ) ) FROM T3.Factura_Detalle PD WHERE PD.Factura = PG.Factura ),
                    Envio_Subt   = ( SELECT SUM( ISNULL( PD.Envio_Subt  , 0 ) ) FROM T3.Factura_Detalle PD WHERE PD.Factura = PG.Factura ),
                    Envio_IVA    = ( SELECT SUM( ISNULL( PD.Envio_IVA   , 0 ) ) FROM T3.Factura_Detalle PD WHERE PD.Factura = PG.Factura ),              
                    Credito_Subt = ( SELECT SUM( ISNULL( PD.Credito_Subt, 0 ) ) FROM T3.Factura_Detalle PD WHERE PD.Factura = PG.Factura ),
                    Credito_IVA  = ( SELECT SUM( ISNULL( PD.Credito_IVA , 0 ) ) FROM T3.Factura_Detalle PD WHERE PD.Factura = PG.Factura )
                FROM T3.Factura_General PG
                WHERE PG.Factura = @sReference ;     

                INSERT INTO T3.RF_Complemento 
                   ( Factura     , Hora_Factura, Anio_Aprob, Folio_Aprob, Order_Num    , Rep_ID     , X_DelRep_Invloc, 
                     Volumen     , Sociedad    , Cadena_Original        , Sello_Digital, Dias_Pago )
                SELECT Doc.Factura, CONVERT(VARCHAR(8), GETDATE(), 108), 'Error', 'Error', '', 'U00000000', '', 
                     NULL, 'MX06', 'CFDI - Documento', 'CFDI - Documento', DATEDIFF(DAY, Doc.Fecha_Factura, Doc.Fecha_Pago)
                FROM T3.Factura_General Doc
                WHERE Factura = @sReference ; 
                
                SET @nDoctos = @nItems + 2 ;
            END ;
        END ;
-- -------------------------------------------------------------------------
        IF ( UPPER( @sWorkAround ) = 'PG_MANUAL' ) 
        BEGIN
            SELECT @nItems = COUNT( FDP.Material ), @dtFechaTrn = MAX( FG.Fecha_Trn )  
            FROM T3.Preventa_Detalles_Paso FDP
            LEFT OUTER JOIN T3.Preventa_General FG ON FDP.Factura = FG.Factura
            WHERE FDP.Factura = @sReference ;

            IF ( ( @nItems > 0 ) AND ( @dtFechaTrn IS NULL ) ) 
            BEGIN
                INSERT INTO T3.Preventa_General
                 ( Factura      , Prefijo     , Centro             , Entrega        , Fecha_Factura   , Fecha_Trn       ,
                   Clase_Factura, Cliente_SAP , Cliente_Pagador_SAP, Ubicacion      , Pedido          , Fecha_Est_Ent   ,
                   Valor_Subt   , Valor_IVA   , Status_Contable    , Referencia     , Ctro            , Clte_Factura_SAP )
                SELECT SAP.Doc_Num_Ref2                                  AS Factura             , 
                       SUBSTRING( SAP.Doc_Num_R3, 1, 3 )                 AS Prefijo             ,
                       SAP.Distributor                                   AS Centro              ,
                       SAP.Doc_Num_R3                                    AS Entrega             ,
                       CONVERT(DATETIME, SAP.Doc_Date, 112)              AS Fecha_Factura       ,
                       GETDATE()                                         AS Fecha_Trn           ,
--
                       CASE SAP.Doc_Type 
                            WHEN 'C003' THEN 'C005'
                            WHEN 'C005' THEN 'C005'
                            WHEN 'C006' THEN 'C006' 
                            ELSE SAP.Doc_Type END                        AS Clase_Factura       , 

                       RIGHT(REPLICATE('0', 10) + ISNULL(SAP.Customer, ''), 10) AS Cliente_SAP  ,
                       HCte.Clte_Factura_SAP                             AS Cliente_Pagador_SAP ,
                       'TBD'                                             AS Ubicacion           ,
                       SAP.Doc_Ord_R3                                    AS Pedido              ,
                       CONVERT(DATETIME, SAP.Doc_Date, 112)              AS Fecha_Est_Ent       ,
--
                       0                                                 AS Valor_Subt          ,
                       0                                                 AS Valor_IVA           ,
                       '11'                                              AS Status_Contable     ,
                       SAP.Doc_Num_Ref2                                  AS Referencia          ,
                       SAP.Distributor                                   AS Ctro                ,
                       HCte.Clte_Factura_SAP                             AS Clte_Factura_SAP
                FROM EAI.T3R_Sales_Docs_Old  SAP 
                INNER JOIN T3.Mov_Cliente    Cte  ON RIGHT(REPLICATE('0', 10) + ISNULL(SAP.Customer, ''), 10) = Cte.Cliente_SAP
                INNER JOIN T3.Cliente        HCte ON RIGHT(REPLICATE('0', 10) + ISNULL(SAP.Customer, ''), 10) = HCte.Cliente_SAP
                WHERE SAP.Doc_Num_Ref2 = @sReference
                  AND SAP.Doc_Status   = 'C'
                  AND CONVERT(DATETIME, SAP.Doc_Date, 112) BETWEEN HCte.Fecha_Ini_Vig AND HCte.Fecha_Fin_Vig ;
                  
                INSERT INTO T3.Preventa_Detalle
                     ( Factura     , Prefijo     , Referencia_Pedido        ,
                       Num_Linea   , Material    , Cantidad_Vta, Status_Prod, 
                       Valor_Subt  , Valor_IVA   , 
                       Valor_ISSA  , Bonif_Subt  , Credito_Subt, Credito_IVA ,
                       Bonif_IVA   , Bonif_Porc  , Bonif_Vol   , Envio_Subt  , Envio_IVA  
                     )
                SELECT Factura     , Prefijo     , Referencia_Pedido        ,
                       Num_Linea   , Material    , Cantidad_Vta, Status_Prod, 
                       Valor_Subt  , Valor_IVA   , 
                       Valor_ISSA  , Bonif_Subt  , Credito_Subt, Credito_IVA ,
                       Bonif_IVA   , Bonif_Porc  , Bonif_Vol   , Envio_Subt  , Envio_IVA
                FROM T3.Preventa_Detalles_Paso
                WHERE Factura = @sReference ; 
                
                UPDATE PG SET 
                    Bonif_Subt   = ( SELECT SUM( ISNULL( PD.Bonif_Subt  , 0 ) ) FROM T3.Preventa_Detalle PD WHERE PD.Factura = PG.Factura ),
                    Bonif_IVA    = ( SELECT SUM( ISNULL( PD.Bonif_IVA   , 0 ) ) FROM T3.Preventa_Detalle PD WHERE PD.Factura = PG.Factura ),
                    Valor_Subt   = ( SELECT SUM( ISNULL( PD.Valor_Subt  , 0 ) ) FROM T3.Preventa_Detalle PD WHERE PD.Factura = PG.Factura ),
                    Valor_IVA    = ( SELECT SUM( ISNULL( PD.Valor_IVA   , 0 ) ) FROM T3.Preventa_Detalle PD WHERE PD.Factura = PG.Factura ),
                    Credito_Subt = ( SELECT SUM( ISNULL( PD.Credito_Subt, 0 ) ) FROM T3.Preventa_Detalle PD WHERE PD.Factura = PG.Factura ),
                    Credito_IVA  = ( SELECT SUM( ISNULL( PD.Credito_IVA , 0 ) ) FROM T3.Preventa_Detalle PD WHERE PD.Factura = PG.Factura )
                FROM T3.Preventa_General PG
                WHERE PG.Factura = @sReference ;     

                INSERT INTO T3.RF_Complemento 
                   ( Factura     , Hora_Factura, Anio_Aprob, Folio_Aprob, Order_Num    , Rep_ID     , X_DelRep_Invloc, 
                     Volumen     , Sociedad    , Cadena_Original        , Sello_Digital, Dias_Pago )
                SELECT Doc.Factura, CONVERT(VARCHAR(8), GETDATE(), 108), 'Error', 'Error', '', 'U00000000', '', 
                     NULL, 'MX06', 'CFDI - Documento', 'CFDI - Documento', ISNULL( MC.Dias_Cdto, 0)
                FROM T3.Preventa_General Doc
                INNER JOIN T3.Mov_Cliente MC ON Doc.Cliente_SAP = MC.Cliente_SAP
                WHERE Doc.Factura = @sReference ; 
                
                SET @nDoctos = @nItems + 2 ;
            END ;
        END ;
-- -------------------------------------------------------------------------
        IF ( UPPER( @sWorkAround ) = 'ITEM_NEGATIVO' ) 
        BEGIN
            OPEN PrecioNegativo;
            FETCH NEXT FROM PrecioNegativo INTO 
                @CurPN_Num_Linea, @CurPN_Material, @CurPN_Cantidad_Vta, 
                @CurPN_CalcPrecioUnit, @CurPN_CalcValor_Subt, @CurPN_CalcValor_IVA;

            WHILE @@FETCH_STATUS = 0
            BEGIN
                SET @nDoctos = @nDoctos + 1 ;
                UPDATE T3.Factura_Detalle SET 
                    Precio_Unit = @CurPN_CalcPrecioUnit,
                    Valor_Subt  = @CurPN_CalcValor_Subt,
                    Valor_IVA   = @CurPN_CalcValor_IVA ,
                    Valor_Tot   = @CurPN_CalcValor_Subt + @CurPN_CalcValor_IVA
                WHERE Factura = @sReference AND Num_Linea = @CurPN_Num_Linea ;

                FETCH NEXT FROM PrecioNegativo INTO 
                    @CurPN_Num_Linea, @CurPN_Material, @CurPN_Cantidad_Vta, 
                    @CurPN_CalcPrecioUnit, @CurPN_CalcValor_Subt, @CurPN_CalcValor_IVA;
            END ;
            CLOSE PrecioNegativo ;

            IF ( @nDoctos > 0 ) 
            BEGIN
                UPDATE PG SET 
                    Bonif_Subt   = ( SELECT SUM( ISNULL( PD.Bonif_Subt  , 0 ) ) FROM T3.Factura_Detalle PD WHERE PD.Factura = PG.Factura ),
                    Bonif_IVA    = ( SELECT SUM( ISNULL( PD.Bonif_IVA   , 0 ) ) FROM T3.Factura_Detalle PD WHERE PD.Factura = PG.Factura ),
                    Valor_Subt   = ( SELECT SUM( ISNULL( PD.Valor_Subt  , 0 ) ) FROM T3.Factura_Detalle PD WHERE PD.Factura = PG.Factura ),
                    Valor_IVA    = ( SELECT SUM( ISNULL( PD.Valor_IVA   , 0 ) ) FROM T3.Factura_Detalle PD WHERE PD.Factura = PG.Factura ),
                    Envio_Subt   = ( SELECT SUM( ISNULL( PD.Envio_Subt  , 0 ) ) FROM T3.Factura_Detalle PD WHERE PD.Factura = PG.Factura ),
                    Envio_IVA    = ( SELECT SUM( ISNULL( PD.Envio_IVA   , 0 ) ) FROM T3.Factura_Detalle PD WHERE PD.Factura = PG.Factura ),              
                    Credito_Subt = ( SELECT SUM( ISNULL( PD.Credito_Subt, 0 ) ) FROM T3.Factura_Detalle PD WHERE PD.Factura = PG.Factura ),
                    Credito_IVA  = ( SELECT SUM( ISNULL( PD.Credito_IVA , 0 ) ) FROM T3.Factura_Detalle PD WHERE PD.Factura = PG.Factura ),
                    Fecha_Proc_BATMD = NULL
                FROM T3.Factura_General PG
                WHERE PG.Factura = @sReference ;     
            END ;
        END ;
-- -------------------------------------------------------------------------
        IF ( UPPER( @sWorkAround ) = 'AGR_AJUSTE_IVA' ) 
        BEGIN
            UPDATE T3.CFDI_Agrupado_Detalle SET Valor_IVA = ROUND( Valor_Subt * 0.16, 2 )
            WHERE Nota_Venta_CFDI = @sReference
              AND Valor_IVA != ROUND( Valor_Subt * 0.16, 2 )
              AND Valor_IVA  > 0 ;
              
            SET @nDoctos = @@ROWCOUNT ;
            
            IF ( @nDoctos > 0 ) 
            BEGIN
                EXEC T3.PROC_V40_GENERAR_AGR @sReference ;
            END ;
        END ;
-- -------------------------------------------------------------------------
        IF ( UPPER( @sWorkAround ) = 'AJUSTE_IVA' ) 
        BEGIN
            SET @nDoctos = 0 ;
            OPEN ScrAjuste_IVA;
            FETCH NEXT FROM ScrAjuste_IVA INTO 
                @CurAI_Tipo_Docto, @CurAI_Factura, @CurAI_Num_Linea, @CurAI_Material, @CurAI_Valor_Subt, @CurAI_Valor_IVA, @CurAI_Valor_IVA_Calc;

            WHILE @@FETCH_STATUS = 0
            BEGIN
                SET @sTipoDocto = @CurAI_Tipo_Docto ;
                IF ( ( @CurAI_Valor_IVA != @CurAI_Valor_IVA_Calc ) AND ( @CurAI_Valor_IVA > 0 ) ) 
                BEGIN
                    SET @nDoctos = @nDoctos + 1 ;
                    UPDATE T3.Registro_Fiscal_Detalle SET Valor_IVA = @CurAI_Valor_IVA_Calc
                    WHERE Factura = @CurAI_Factura
                      AND Num_Linea = @CurAI_Num_Linea ;
                END ;

                FETCH NEXT FROM ScrAjuste_IVA INTO 
                    @CurAI_Tipo_Docto, @CurAI_Factura, @CurAI_Num_Linea, @CurAI_Material, @CurAI_Valor_Subt, @CurAI_Valor_IVA, @CurAI_Valor_IVA_Calc;
            END ;
            CLOSE ScrAjuste_IVA ;

            IF ( @nDoctos > 0 ) 
            BEGIN
                IF     ( @sTipoDocto = 'C003' ) EXEC T3.PROC_V40_GENERAR_MX06 @sReference ;
                ELSE IF( @sTipoDocto = 'C005' ) EXEC T3.PROC_V40_GENERAR_MX06 @sReference ;
                ELSE IF( @sTipoDocto = 'C004' ) EXEC T3.PROC_V40_GENERAR_MX06_CM @sReference ;
                ELSE IF( @sTipoDocto = 'C006' ) EXEC T3.PROC_V40_GENERAR_MX06_CM @sReference ;
                ELSE IF( @sTipoDocto = 'C025' ) EXEC T3.PROC_V40_GENERAR_MX06_CM @sReference ;                                     
                ELSE IF( @sTipoDocto = 'C020' ) EXEC T3.PROC_V40_GENERAR_MX01 @sReference ;
                ELSE IF( @sTipoDocto = 'C021' ) EXEC T3.PROC_V40_GENERAR_MX01_IEPS @sReference ;
                ELSE IF( @sTipoDocto = 'C022' ) EXEC T3.PROC_V40_GENERAR_MX01_IEPS @sReference ;
            END ;
        END ;
-- -------------------------------------------------------------------------
        IF ( UPPER( @sWorkAround ) = 'CARTA_PORTE' ) 
        BEGIN
            OPEN ScrCartaPorte;
            FETCH NEXT FROM ScrCartaPorte INTO 
                @CurCP_executeScript, @CurCP_Nota_Venta, @CurCP_ID_Confirmacion;

            WHILE @@FETCH_STATUS = 0
            BEGIN
                SET @nDoctos = @nDoctos + 1 ;
                EXEC T3.STP_UPDATE_PENDING_DOC_40 @CurCP_Nota_Venta, 'CONFIRMADO', @CurCP_ID_Confirmacion ; 
                
                FETCH NEXT FROM ScrCartaPorte INTO 
                    @CurCP_executeScript, @CurCP_Nota_Venta, @CurCP_ID_Confirmacion;
            END ;
            CLOSE ScrCartaPorte ;
        END ;   
-- -------------------------------------------------------------------------
        IF ( @nDoctos > 0 ) 
        BEGIN
            PRINT 'WorkAround => ' + ISNULL(@sWorkAround, '') ;
            PRINT 'Referencia => ' + ISNULL(@sReference, '') ;
            
            INSERT INTO EAI_Owner.WA_Logging
                ( Fecha, Usuario, Usuario_Red, IP, Terminal, Documento, Comentario )
            VALUES
                ( GETDATE() , CURRENT_USER, 
                  SUSER_SNAME(), 
                  CAST(CONNECTIONPROPERTY('client_net_address') AS VARCHAR(50)),
                  HOST_NAME(),
                  @sReference, @sWorkaround ) ;            
        END ;

        IF CURSOR_STATUS('local','DoctoComplemento') >= -1 DEALLOCATE DoctoComplemento;
        IF CURSOR_STATUS('local','DoctoAgrupado') >= -1 DEALLOCATE DoctoAgrupado;
        IF CURSOR_STATUS('local','PrecioNegativo') >= -1 DEALLOCATE PrecioNegativo;
        IF CURSOR_STATUS('local','ScrCF_NoIVA_Ind') >= -1 DEALLOCATE ScrCF_NoIVA_Ind;
        IF CURSOR_STATUS('local','ScrCF_NoIVA_Agr') >= -1 DEALLOCATE ScrCF_NoIVA_Agr;
        IF CURSOR_STATUS('local','ScrAjuste_IVA') >= -1 DEALLOCATE ScrAjuste_IVA;
        IF CURSOR_STATUS('local','ScrCartaPorte') >= -1 DEALLOCATE ScrCartaPorte;

    END TRY
    BEGIN CATCH

        IF CURSOR_STATUS('local','DoctoComplemento') >= -1
        BEGIN IF CURSOR_STATUS('local','DoctoComplemento') >= 0 CLOSE DoctoComplemento; DEALLOCATE DoctoComplemento; END
        
        IF CURSOR_STATUS('local','DoctoAgrupado') >= -1
        BEGIN IF CURSOR_STATUS('local','DoctoAgrupado') >= 0 CLOSE DoctoAgrupado; DEALLOCATE DoctoAgrupado; END
        
        IF CURSOR_STATUS('local','PrecioNegativo') >= -1
        BEGIN IF CURSOR_STATUS('local','PrecioNegativo') >= 0 CLOSE PrecioNegativo; DEALLOCATE PrecioNegativo; END
        
        IF CURSOR_STATUS('local','ScrCF_NoIVA_Ind') >= -1
        BEGIN IF CURSOR_STATUS('local','ScrCF_NoIVA_Ind') >= 0 CLOSE ScrCF_NoIVA_Ind; DEALLOCATE ScrCF_NoIVA_Ind; END
        
        IF CURSOR_STATUS('local','ScrCF_NoIVA_Agr') >= -1
        BEGIN IF CURSOR_STATUS('local','ScrCF_NoIVA_Agr') >= 0 CLOSE ScrCF_NoIVA_Agr; DEALLOCATE ScrCF_NoIVA_Agr; END
        
        IF CURSOR_STATUS('local','ScrAjuste_IVA') >= -1
        BEGIN IF CURSOR_STATUS('local','ScrAjuste_IVA') >= 0 CLOSE ScrAjuste_IVA; DEALLOCATE ScrAjuste_IVA; END
        
        IF CURSOR_STATUS('local','ScrCartaPorte') >= -1
        BEGIN IF CURSOR_STATUS('local','ScrCartaPorte') >= 0 CLOSE ScrCartaPorte; DEALLOCATE ScrCartaPorte; END

        SET @sMsg = SUBSTRING( 'ERROR SQL ' + CAST(ERROR_NUMBER() AS VARCHAR(30)) + ' ' + ERROR_MESSAGE(), 1, 480 ) ;
        
        PRINT '************* Mensaje **************' ;
        PRINT '**** Error en WA_SOPORTE_EAI  *****' ;
        PRINT @sMsg ;          
    END CATCH
END ; -- Procedure
GO
