USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[WA_CFD_PREVENTA_DESCTO]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[WA_CFD_PREVENTA_DESCTO] 
   ( @sFactura         VARCHAR(MAX)  )
AS
BEGIN
   DECLARE @nDoctos   INT ;
   DECLARE @sMsg      VARCHAR(500) ;

   -- variables cursor
   DECLARE @Doc_Factura VARCHAR(MAX);
   DECLARE @Doc_FolioFiscal VARCHAR(MAX);
   DECLARE @Doc_FechaTimbre VARCHAR(MAX);
   DECLARE @Doc_SubTotal DECIMAL(18,4);
   DECLARE @Doc_Descuento DECIMAL(18,4);
   DECLARE @Doc_Valor_IVA DECIMAL(18,4);
   DECLARE @Doc_Total DECIMAL(18,4);

   DECLARE Docto CURSOR LOCAL FORWARD_ONLY STATIC FOR
       SELECT
             CFD.Factura,
             CAST(CFD.Anexo_CFD AS XML).value('declare namespace cfdi="http://www.sat.gob.mx/cfd/3"; declare namespace tfd="http://www.sat.gob.mx/TimbreFiscalDigital"; (/cfdi:Comprobante/cfdi:Complemento/tfd:TimbreFiscalDigital/@UUID)[1]', 'VARCHAR(MAX)') AS FolioFiscal,
             
             CAST(CFD.Anexo_CFD AS XML).value('declare namespace cfdi="http://www.sat.gob.mx/cfd/3"; declare namespace tfd="http://www.sat.gob.mx/TimbreFiscalDigital"; (/cfdi:Comprobante/cfdi:Complemento/tfd:TimbreFiscalDigital/@FechaTimbrado)[1]', 'VARCHAR(MAX)') 
                                                                                                                                                                                                                                                                                         AS FechaTimbre,
             CAST(CFD.Anexo_CFD AS XML).value('declare namespace cfdi="http://www.sat.gob.mx/cfd/3"; (/cfdi:Comprobante/@subTotal)[1]', 'DECIMAL(18,4)') AS SubTotal ,
             CAST(CFD.Anexo_CFD AS XML).value('declare namespace cfdi="http://www.sat.gob.mx/cfd/3"; (/cfdi:Comprobante/@descuento)[1]', 'DECIMAL(18,4)') AS Descuento,
             CAST(CFD.Anexo_CFD AS XML).value('declare namespace cfdi="http://www.sat.gob.mx/cfd/3"; (/cfdi:Comprobante/cfdi:Impuestos/@totalImpuestosTrasladados)[1]', 'DECIMAL(18,4)') AS Valor_IVA,
             CAST(CFD.Anexo_CFD AS XML).value('declare namespace cfdi="http://www.sat.gob.mx/cfd/3"; (/cfdi:Comprobante/@total)[1]', 'DECIMAL(18,4)') AS Total
       FROM T3.RF_Documentos CFD
       WHERE CFD.Factura = @sFactura ;

   BEGIN TRY
      SET @nDoctos = 0 ;
      
      OPEN Docto;
      FETCH NEXT FROM Docto INTO @Doc_Factura, @Doc_FolioFiscal, @Doc_FechaTimbre, @Doc_SubTotal, @Doc_Descuento, @Doc_Valor_IVA, @Doc_Total;
      
      WHILE @@FETCH_STATUS = 0
      BEGIN
             UPDATE T3.CFDI_Documentos SET 
                                        Valor_Subt         = ISNULL(@Doc_SubTotal, 0) - ISNULL(@Doc_Descuento, 0),
                                        Valor_IVA          = @Doc_Valor_IVA
                           WHERE Nota_Venta = @sFactura ;         
         
         FETCH NEXT FROM Docto INTO @Doc_Factura, @Doc_FolioFiscal, @Doc_FechaTimbre, @Doc_SubTotal, @Doc_Descuento, @Doc_Valor_IVA, @Doc_Total;
      END ;

      CLOSE Docto;
      DEALLOCATE Docto;

   END TRY
   BEGIN CATCH

      IF CURSOR_STATUS('local', 'Docto') >= -1
      BEGIN
         IF CURSOR_STATUS('local', 'Docto') > -1
         BEGIN
            CLOSE Docto;
         END
         DEALLOCATE Docto;
      END;

      SET @sMsg = SUBSTRING( 'ERROR SQL ' + CAST( ERROR_NUMBER() AS VARCHAR ) + ' ' + ERROR_MESSAGE(), 1, 480 ) ;
      PRINT( '************* Mensaje *************' ) ;
      PRINT( '*** Error en WA_CFD_PREVENTA_DESCTO  ***' ) ;
      PRINT( @sMsg ) ;   
   END CATCH;
END ; -- Procedure
GO
