USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[WA_CANCELA_DOCTO_AGRUPADA]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [T3].[WA_CANCELA_DOCTO_AGRUPADA] 
   ( @sFactura         VARCHAR(MAX)  )
AS
BEGIN
   DECLARE @dtFecha        DATETIME       ;
   DECLARE @dtFactura      DATETIME       ;
   DECLARE @sMsg           VARCHAR(500)   ;
   DECLARE @strIndividual  VARCHAR(50)    ;
   DECLARE @strAgrupada    VARCHAR(50)    ;
   DECLARE @strFolioUUID   VARCHAR(50)    ;
   DECLARE @nDoctos        INT            ;

   -- variables cursor
   DECLARE @ScrDocto_Nota_Venta VARCHAR(MAX);
   DECLARE @ScrDocto_Nota_Venta_CFDI VARCHAR(MAX);
   DECLARE @ScrDocto_Folio_Fiscal VARCHAR(MAX);
   DECLARE @ScrDocto_Doctos INT;

   DECLARE ScrDocto CURSOR LOCAL FORWARD_ONLY STATIC FOR
       SELECT HDP.Nota_Venta, HDP.Nota_Venta_CFDI, ISNULL( CFD.Folio_Fiscal, 'SIN-FOLIO' ) AS Folio_Fiscal, Agr.Doctos
          FROM T3.CFDI_Historia_Docto_PAC HDP,
               T3.CFDI_Documentos         CFD,
               T3.CFDI_Agrupado           Agr
          WHERE HDP.Nota_Venta      = @sFactura
            AND HDP.Nota_Venta_CFDI = CFD.Nota_Venta
            AND HDP.Nota_Venta_CFDI = Agr.Nota_Venta_CFDI ;

   BEGIN TRY
      OPEN ScrDocto;
      FETCH NEXT FROM ScrDocto INTO @ScrDocto_Nota_Venta, @ScrDocto_Nota_Venta_CFDI, @ScrDocto_Folio_Fiscal, @ScrDocto_Doctos;
      
      WHILE @@FETCH_STATUS = 0
      BEGIN
         SET @strIndividual  = @ScrDocto_Nota_Venta      ;
         SET @strAgrupada    = @ScrDocto_Nota_Venta_CFDI ;
         SET @strFolioUUID   = @ScrDocto_Folio_Fiscal    ;
         SET @nDoctos        = @ScrDocto_Doctos          ;
--    IF ( ( strFolioUUID != 'SIN-FOLIO' ) AND ( LENGTH( strFolioUUID ) > 20 ) ) THEN
-- Respaldo de Documento Agrupado
         INSERT INTO T3.CFDI_Repro_Agrupado 
            ( Fecha_Proceso, Nota_Venta_CFDI, Fecha_Documento, Tipo_Docto, Ctro, Cliente, Sociedad, Fecha_Registro, Cliente_SAP, Doctos, Lista_Precio )
            SELECT GETDATE() AS Fecha_Proceso, Nota_Venta_CFDI, Fecha_Documento, Tipo_Docto, Ctro, Cliente, Sociedad, Fecha_Registro, Cliente_SAP, Doctos, Lista_Precio 
               FROM T3.CFDI_Agrupado A
               WHERE Nota_Venta_CFDI = @strAgrupada ;
               
         INSERT INTO T3.CFDI_Repro_Agrupado_Detalle
            ( Fecha_Proceso, Nota_Venta_CFDI, Num_Linea, Cantidad_Vta, Material, Precio_Unitario, Valor_Subt, Valor_IVA, Bonif_Subt, Bonif_IVA, Envio_Subt, Envio_IVA, Envio_Porc )
            SELECT GETDATE() AS Fecha_Proceso, Nota_Venta_CFDI, Num_Linea, Cantidad_Vta, Material, Precio_Unitario, Valor_Subt, Valor_IVA, Bonif_Subt, Bonif_IVA, Envio_Subt, Envio_IVA, Envio_Porc 
               FROM T3.CFDI_Agrupado_Detalle A
               WHERE Nota_Venta_CFDI = @strAgrupada ;
               
         INSERT INTO T3.CFDI_Repro_Historia_Docto_PAC
            ( Fecha_Proceso, Nota_Venta, Ctro, Fecha_Factura, Nota_Venta_CFDI )
            SELECT GETDATE() AS Fecha_Proceso, Nota_Venta, Ctro, Fecha_Factura, Nota_Venta_CFDI 
               FROM T3.CFDI_Historia_Docto_PAC A
               WHERE Nota_Venta_CFDI = @strAgrupada ;
               
-- Referencia a Sustitucion del Documento
         INSERT INTO T3.CFDI_Reproceso ( Nota_Venta, Fecha, Fecha_Factura, Fecha_Liberacion, Fecha_Envio, Folio_Fiscal, Fecha_Timbre, Status, Valor )
            SELECT HDP.Nota_Venta, GETDATE(), HDP.Fecha_Factura, CFD.Fecha_Liberacion, CFD.Fecha_Envio, CFD.Folio_Fiscal, CFD.Fecha_Timbre, CFD.Status, CFD.Valor_Subt + CFD.Valor_IVA
               FROM T3.CFDI_Historia_Docto_PAC HDP,
                    T3.CFDI_Documentos         CFD
               WHERE HDP.Nota_Venta      = @strIndividual
                 AND HDP.Nota_Venta_CFDI = CFD.Nota_Venta ;
                 
         INSERT INTO T3.CFDI_Reproceso ( Nota_Venta, Fecha, Fecha_Factura, Fecha_Liberacion, Fecha_Envio, Folio_Fiscal, Fecha_Timbre, Status, Valor )
            SELECT HDP.Nota_Venta_CFDI, GETDATE(), HDP.Fecha_Factura, CFD.Fecha_Liberacion, CFD.Fecha_Envio, CFD.Folio_Fiscal, CFD.Fecha_Timbre, CFD.Status, CFD.Valor_Subt + CFD.Valor_IVA
               FROM T3.CFDI_Historia_Docto_PAC HDP,
                    T3.CFDI_Documentos         CFD
               WHERE HDP.Nota_Venta      = @strIndividual
                 AND HDP.Nota_Venta_CFDI = CFD.Nota_Venta ;
                 
         INSERT INTO CFDI_REPROCESO_CFD
            ( Factura, Fecha, Anexo_CFD )
         SELECT XML.Factura, GETDATE(), XML.Anexo_CFD
            FROM T3.CFDI_Historia_Docto_PAC HDP,
                 T3.RF_Documentos           XML
            WHERE HDP.Nota_Venta = @strIndividual
              AND XML.Factura    = HDP.Nota_Venta_CFDI ;
              
-- Leyendas Adicionales a Sustitucion
/* INSERT INTO T3.CFDI_TEXTO_ADICIONAL ( Nota_Venta, Linea, Texto, Created )
            SELECT HDP.Nota_Venta, 1, 'Este CFDI complementa al CFDI emitido con documento agrupado ' || HDP.Nota_Venta_CFDI || ' timbrado con fecha ' || TO_CHAR( HDP.Fecha_Factura, 'DD-MM-YYYY' ), SYSDATE
               FROM T3.CFDI_Historia_Docto_PAC HDP,
                    T3.CFDI_Documentos         CFD
               WHERE HDP.Nota_Venta      = strIndividual
                 AND HDP.Nota_Venta_CFDI = CFD.Nota_Venta ;
         INSERT INTO T3.CFDI_TEXTO_ADICIONAL ( Nota_Venta, Linea, Texto, Created )
            SELECT HDP.Nota_Venta_CFDI, 1, 'Este CFDI sustituye al CFDI emitido con documento agrupado para desglosar documento ' || HDP.Nota_Venta || ' timbrado con fecha ' || TO_CHAR( HDP.Fecha_Factura, 'DD-MM-YYYY' ), SYSDATE
               FROM T3.CFDI_Historia_Docto_PAC HDP,
                    T3.CFDI_Documentos         CFD
               WHERE HDP.Nota_Venta      = strIndividual
                 AND HDP.Nota_Venta_CFDI = CFD.Nota_Venta ; */
-- 
         UPDATE T3.CFDI_Historia_Docto_PAC SET Nota_Venta_CFDI = Nota_Venta     
            WHERE Nota_Venta = @strIndividual ;
--
         DELETE T3.CFDI_Agrupado_Detalle 
            WHERE Nota_Venta_CFDI = @strAgrupada ;
            
         IF ( @nDoctos > 1 ) 
         BEGIN  
            UPDATE T3.CFDI_Agrupado SET Doctos = Doctos - 1
               WHERE Nota_Venta_CFDI = @strAgrupada ;
               
            INSERT INTO T3.CFDI_Agrupado_Detalle
               ( Nota_Venta_CFDI, Num_Linea, Material, Precio_Unitario, Cantidad_Vta,
                 Valor_Subt, Valor_IVA, Bonif_Subt, Bonif_IVA, Envio_Subt, Envio_IVA ) 
               SELECT Nota_Venta_CFDI, 
                      ROW_NUMBER() OVER(ORDER BY Nota_Venta_CFDI, Material, Precio_Unitario), 
                      Material, Precio_Unitario, Cantidad_Vta,
                      Valor_Subt, Valor_IVA, Bonif_Subt, Bonif_IVA, Envio_Subt, Envio_IVA  
               FROM (        
                      SELECT Vta.Nota_Venta_CFDI             AS Nota_Venta_CFDI,
                             FD.Material                     AS Material       ,
--                           FD.Precio_Unit                  AS Precio_Unitario,
                             ROUND( ISNULL( FD.Valor_Subt, 0 ) / FD.Cantidad_Vta , 2 )
                                                             AS Precio_Unitario,
                             SUM( FD.Cantidad_Vta )          AS Cantidad_Vta   ,
                             SUM( ISNULL( FD.Valor_Subt, 0 ) ) AS Valor_Subt     ,
                             SUM( ISNULL( FD.Valor_IVA , 0 ) ) AS Valor_IVA      ,
                             SUM( ISNULL( FD.Bonif_Subt, 0 ) ) AS Bonif_Subt     ,
                             SUM( ISNULL( FD.Bonif_IVA , 0 ) ) AS Bonif_IVA      , 
                             SUM( ISNULL( FD.Envio_Subt, 0 ) ) AS Envio_Subt     ,
                             SUM( ISNULL( FD.Envio_IVA , 0 ) ) AS Envio_IVA 
                         FROM T3.CFDI_Historia_Docto_PAC Vta,  
                              T3.Factura_Detalle         FD
                         WHERE Vta.Nota_Venta_CFDI = @strAgrupada 
                           AND Vta.Nota_Venta      = FD.Factura
--                       GROUP BY Vta.Nota_Venta_CFDI, FD.Material, FD.Precio_Unit
--                       ORDER BY Vta.Nota_Venta_CFDI, FD.Material, FD.Precio_Unit ) ;  
                         GROUP BY Vta.Nota_Venta_CFDI, FD.Material, ROUND( ISNULL( FD.Valor_Subt, 0 ) / FD.Cantidad_Vta , 2 )
                    ) SubQ ;  
         END
         ELSE
         BEGIN
            DELETE T3.CFDI_Agrupado 
               WHERE Nota_Venta_CFDI = @strAgrupada ;
         END ;      
--
--       DELETE T3.CFDI_Documentos        WHERE Nota_Venta = strAgrupada ;
--       DELETE T3.CFDI_Documentos_Enviar WHERE Nota_Venta = strAgrupada ;
--       DELETE T3.RF_Documentos          WHERE Factura    = strAgrupada ;
--
--       PROC_V33_GENERAR_MX06_REENV( strIndividual, NULL ) ;
--       PROC_V33_GENERAR_AGR( strAgrupada ) ;
         UPDATE T3.Registro_Fiscal SET Status = 'Cancelled'
            WHERE Factura = @sFactura ;            
         DELETE T3.Factura_General
            WHERE Factura = @sFactura ;            
         DELETE T3.Fact_T3
            WHERE Factura = @sFactura ;            
         DELETE T3.Nota_T3
            WHERE Factura = @sFactura ;            
--      
         INSERT INTO EAI_Owner.WA_Logging
             ( Fecha, Usuario, Usuario_Red, IP, Terminal, Documento, Comentario )
          VALUES
             ( GETDATE() , CURRENT_USER, 
               SUSER_SNAME(), 
               CAST(CONNECTIONPROPERTY('client_net_address') AS VARCHAR(48)),
               HOST_NAME(),
               @sFactura, 'WA_CANCELA_DOCTO_AGRUPADA' ) ;                 
--    ELSE                
--       DBMS_OUTPUT.PUT_LINE( 'Documento : ' || sFactura || '/' || strAgrupada || ' con UUID -> ' || strFolioUUID ) ;
--    END IF ;
         FETCH NEXT FROM ScrDocto INTO @ScrDocto_Nota_Venta, @ScrDocto_Nota_Venta_CFDI, @ScrDocto_Folio_Fiscal, @ScrDocto_Doctos;
      END ;

      CLOSE ScrDocto;
      DEALLOCATE ScrDocto;

   END TRY
   BEGIN CATCH

      IF CURSOR_STATUS('local', 'ScrDocto') >= -1
      BEGIN
         IF CURSOR_STATUS('local', 'ScrDocto') > -1
         BEGIN
            CLOSE ScrDocto;
         END
         DEALLOCATE ScrDocto;
      END;

      SET @sMsg = SUBSTRING( 'ERROR SQL ' + CAST( ERROR_NUMBER() AS VARCHAR ) + ' ' + ERROR_MESSAGE(), 1, 480 ) ;
      PRINT( '************* Mensaje ***************' ) ;
      PRINT( '*** Error en WA_SEPARA_AGRUPADA  ***' ) ;
      PRINT( @sMsg ) ;         
   END CATCH;
END ; -- Procedure
GO
