USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[WA_A51_LINK_OBD_INVOICE]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[WA_A51_LINK_OBD_INVOICE] 
   ( @nDays INT = 7 )
AS
BEGIN
   DECLARE @nDoctos    INT;
   DECLARE @sCustomer  VARCHAR(20);
   DECLARE @dtFecha    DATETIME;
   DECLARE @dtFactura  DATETIME;
   DECLARE @sMsg       VARCHAR(500);

   -- variables cursores
   DECLARE @Doc_Factura VARCHAR(MAX);
   DECLARE @Doc_Delivery VARCHAR(MAX);
   DECLARE @Doc_Clase_Remision VARCHAR(MAX);
   DECLARE @Doc_Remision_OBD VARCHAR(MAX);
   DECLARE @Doc_Order_Num VARCHAR(MAX);
   DECLARE @Doc_PedidoSAP VARCHAR(MAX);
   DECLARE @Doc_Ship_to_SAP VARCHAR(MAX);
   DECLARE @Doc_DeliveryType VARCHAR(MAX);
   DECLARE @Doc_Destino VARCHAR(MAX);
   DECLARE @Doc_updateRemision VARCHAR(MAX);


   DECLARE ScrDocuments CURSOR LOCAL FORWARD_ONLY STATIC FOR
      SELECT RG.Observaciones     AS Factura       ,
             RG.Factura           AS Delivery      ,
             RG.Clase_Remision    AS Clase_Remision,
             RG.Remision_Serie +
             RG.Remision_Folio    AS Remision_OBD  , Doc.Order_Num, Doc.PedidoSAP, Doc.Ship_to_SAP, Doc.DeliveryType,
             RG.Destino,
             'UPDATE T3.Remision_General SET Observaciones = ' + CHAR(39) + Doc.Order_Num + CHAR(39) + 
                                                             ' WHERE Factura = ' + CHAR(39) + RG.Factura    + CHAR(39) + ';' AS updateRemision
         FROM T3.Remision_General RG
         LEFT OUTER JOIN EAI_Owner.tmp_Document_Header Doc ON RG.Factura = Doc.ReferenceID
         WHERE RG.Fecha_Trn       > GETDATE() - @nDays
           AND RG.Clase_Remision  = 'ZLF'
           AND RG.Remision_Serie != 'CPT'
           AND RG.Observaciones  IS NULL
           AND Doc.Order_Num     IS NOT NULL ;
--
   DECLARE ScrRemision CURSOR LOCAL FORWARD_ONLY STATIC FOR
      SELECT Doc.ReferenceID, Doc.ShippingPoint, Doc.DocumentDate, Doc.Order_Num, 
             ISNULL( RG.Factura, 'INSERT' ) AS Rem_Factura
         FROM EAI_Owner.tmp_Document_Header Doc
         LEFT OUTER JOIN T3.Remision_General RG ON Doc.ReferenceID = RG.Factura
         WHERE Doc.Cust_to_SAP   = @sCustomer
           AND Doc.DeliveryType  = 'Receive Other'
           AND Doc.DocumentDate  LIKE CONVERT(VARCHAR(8), GETDATE(), 112) + '%' ;

   BEGIN TRY
      SET @nDoctos = 0 ;
      
      OPEN ScrDocuments;
      FETCH NEXT FROM ScrDocuments INTO @Doc_Factura, @Doc_Delivery, @Doc_Clase_Remision, @Doc_Remision_OBD, @Doc_Order_Num, @Doc_PedidoSAP, @Doc_Ship_to_SAP, @Doc_DeliveryType, @Doc_Destino, @Doc_updateRemision;
      
      WHILE @@FETCH_STATUS = 0 
      BEGIN
         SET @nDoctos = @nDoctos + 1 ;
         UPDATE T3.Remision_General SET Observaciones = @Doc_Order_Num
            WHERE Factura = @Doc_Delivery ;
            
         FETCH NEXT FROM ScrDocuments INTO @Doc_Factura, @Doc_Delivery, @Doc_Clase_Remision, @Doc_Remision_OBD, @Doc_Order_Num, @Doc_PedidoSAP, @Doc_Ship_to_SAP, @Doc_DeliveryType, @Doc_Destino, @Doc_updateRemision;
      END ; 
      
      CLOSE ScrDocuments;
      DEALLOCATE ScrDocuments;

   END TRY
   BEGIN CATCH
      IF CURSOR_STATUS('local', 'ScrDocuments') >= -1
      BEGIN
         IF CURSOR_STATUS('local', 'ScrDocuments') > -1
         BEGIN
            CLOSE ScrDocuments;
         END
         DEALLOCATE ScrDocuments;
      END;

      IF CURSOR_STATUS('local', 'ScrRemision') >= -1
      BEGIN
         IF CURSOR_STATUS('local', 'ScrRemision') > -1
         BEGIN
            CLOSE ScrRemision;
         END
         DEALLOCATE ScrRemision;
      END;

      SET @sMsg = SUBSTRING( 'ERROR SQL ' + CAST( ERROR_NUMBER() AS VARCHAR ) + ' ' + ERROR_MESSAGE(), 1, 480 ) ;
      PRINT( '************* Mensaje ********************' ) ;
      PRINT( '*** Error en WA_A51_LINK_OBD_INVOICE  ***' ) ;
      PRINT( @sMsg ) ;         
   END CATCH;
END ; 
GO
