USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[WA_CFDI_RENV_CM]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[WA_CFDI_RENV_CM] 
    @pDays INT = 1
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sMsg        VARCHAR(500);
    DECLARE @sErrorCode  VARCHAR(30); 
    DECLARE @sFactura    VARCHAR(20);
    DECLARE @nDoctos     INT;
    DECLARE @sEtapa      VARCHAR(20);
    DECLARE @dtInicio    DATETIME;
--
    DECLARE @strID       VARCHAR(50);
    DECLARE @sAccnt_ID   VARCHAR(50);
    DECLARE @sClienteSAP VARCHAR(10);
    DECLARE @nPID        INT;
    DECLARE @nProceso    INT;
    DECLARE @nProceso1   INT;
    DECLARE @nImporte    NUMERIC(15,2);
    DECLARE @nBonif_Subt NUMERIC(15,2);
    DECLARE @nValor_IEPS NUMERIC(15,2);
    DECLARE @nAllocated  NUMERIC(15,2);

    -- Variables cursor
    DECLARE @Cur_Credit_Memo   VARCHAR(50),
            @Cur_Amount_Document NUMERIC(15,2);

    DECLARE ScrCursor CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT CM.Credit_Memo, ISNULL( CM.Amount_Document, 0 ) AS Amount_Document
        FROM T3.RENV_CREDIT_MEMO  CM
        WHERE CM.Release_Date IS NULL ;            

    BEGIN TRY
        BEGIN TRANSACTION;

        SET @nProceso  = 832 ;
        SET @nPID      = NEXT VALUE FOR EAI_Owner.ProcessID ;
        
        EXEC EAI_Owner.Log_Start @nProceso ;
        
        INSERT INTO T3.RF_PROCESOS_LOG ( PID , Proceso , Fecha_Proc_BATMD, Inicio )
        VALUES ( @nPID, @nProceso, NULL, GETDATE() ) ;   
        
        SET @nProceso1 = 0 ;

        OPEN ScrCursor;
        FETCH NEXT FROM ScrCursor INTO @Cur_Credit_Memo, @Cur_Amount_Document;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @nProceso1   = @nProceso1 + 1    ;
            SET @nImporte    = 0 ;
            SET @nBonif_Subt = 0 ;
            SET @nValor_IEPS = 0 ;
            SET @nAllocated  = 0 ;
            SET @strID       = @Cur_Credit_Memo ;

-- Check Credit Memo Amount
            IF ( @Cur_Amount_Document = 0 ) 
            BEGIN
                SELECT @nImporte    = SUM( ISNULL( Valor_Subt, 0 ) + ISNULL( Valor_IVA, 0 ) + ISNULL( Envio_Subt, 0) + ISNULL( Envio_IVA, 0 ) ),
                       @nBonif_Subt = SUM( ISNULL( Bonif_Subt, 0 )                                                                            ),
                       @nValor_IEPS = SUM( ISNULL( Valor_IEPS, 0 )                                                                            )
                FROM T3.Registro_Fiscal_Detalle
                WHERE Factura = @strID ;

                IF ( @@ROWCOUNT = 0 OR ISNULL( @nImporte, 0 ) = 0 ) 
                BEGIN
                    SET @nImporte    = 0 ;
                    SET @nBonif_Subt = 0 ;
                    SET @nValor_IEPS = 0 ;
                END ;
                
                UPDATE T3.RENV_CREDIT_MEMO SET Amount_Document = @nImporte
                WHERE Credit_Memo = @strID ;
            END
            ELSE 
            BEGIN
                SET @nImporte = @Cur_Amount_Document ;
            END ;

-- Check Credit Memo Allocation      
            IF ( @nImporte > 0 ) 
            BEGIN
                SELECT @nAllocated = SUM( ISNULL( Importe, 0) )
                FROM T3.CFDI_Cobranza
                WHERE Nota_Credito = @strID ;

                IF ( @@ROWCOUNT = 0 OR ISNULL( @nAllocated, 0 ) = 0 ) 
                BEGIN
                    SET @nAllocated  = 0 ;
                END ;

                UPDATE T3.RENV_CREDIT_MEMO SET Last_Review = GETDATE()
                WHERE Credit_Memo = @strID ;
            END ;
--      
            IF ( ( @nImporte - @nAllocated ) BETWEEN -0.05 AND 5.03 ) 
            BEGIN
                INSERT INTO CFDI_REPROCESO_CFD
                    ( Factura, Fecha, Anexo_CFD )
                SELECT Factura, GETDATE(), Anexo_CFD
                FROM T3.RF_Documentos 
                WHERE Factura = @strID ;

                INSERT INTO T3.CFDI_REPROCESO
                    ( Nota_Venta, Fecha, Fecha_Factura, Fecha_Liberacion, Fecha_Envio, Folio_Fiscal, Fecha_Timbre, Status, Valor )
                SELECT Doc.Nota_Venta, GETDATE(), RF.Fecha_Documento, Doc.Fecha_Liberacion, Doc.Fecha_Envio, Doc.Folio_Fiscal, Doc.Fecha_Timbre, Doc.Status, @nImporte
                FROM T3.CFDI_Documentos  Doc,
                     T3.Registro_Fiscal  RF
                WHERE Doc.Nota_Venta = @strID
                  AND Doc.Nota_Venta = RF.Factura ;

--  'Este CFDI sustituye al CFDI emitido con el folio ' || CFD.Folio_Fiscal || ' timbrado con fecha ' || SUBSTR( EXTRACT( XML.Anexo_CFD, '/cfdi:Comprobante/@Fecha', 'xmlns:cfdi="http://www.sat.gob.mx/cfd/3"'), 1, 10 ) 
--         INSERT INTO T3.CFDI_TEXTO_ADICIONAL ( Nota_Venta, Linea, Texto, Created )
--           VALUES ( strID, 1, Doc.Texto, SYSDATE ) ;
                
                DELETE FROM T3.CFDI_Documentos        WHERE Nota_Venta = @strID ;   
                DELETE FROM T3.CFDI_Documentos_Enviar WHERE Nota_Venta = @strID ;
                DELETE FROM T3.RF_Documentos          WHERE Factura    = @strID ;   
                
                UPDATE T3.RENV_CREDIT_MEMO SET Release_Date = GETDATE()
                WHERE Credit_Memo = @strID ;
                
                EXEC T3.PROC_VSF_GENERAR_MX06_CM @strID, NULL ;
            END ;   
--
            FETCH NEXT FROM ScrCursor INTO @Cur_Credit_Memo, @Cur_Amount_Document;
        END ;

        CLOSE ScrCursor ;
--
        UPDATE EAI_OWNER.MX_COMPONENTS SET Status = 1
        WHERE Component = @nProceso ;

        UPDATE T3.RF_PROCESOS_LOG SET  Fin = GETDATE(), Proceso_1 = @nProceso1, Proceso_2 = 0,
                                       Proceso_3 =         0, Proceso_4 = 0
        WHERE PID = @nPID  ;            

        COMMIT ;   

        IF CURSOR_STATUS('local','ScrCursor') >= -1 DEALLOCATE ScrCursor;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK ;

        IF CURSOR_STATUS('local','ScrCursor') >= -1
        BEGIN
            IF CURSOR_STATUS('local','ScrCursor') >= 0 CLOSE ScrCursor;
            DEALLOCATE ScrCursor;
        END
        
        SET @sMsg = SUBSTRING( CAST(ERROR_NUMBER() AS VARCHAR(30)) + '-' + ERROR_MESSAGE(), 1, 250 ) ;
        SET @sMsg = SUBSTRING( ERROR_MESSAGE(), 1, 250 ) ;
        
        PRINT REPLICATE( '-', 80 ) ;
        PRINT 'Problemas en la ejecucion del Procedimiento' ;
        PRINT 'FAVOR DE ESCALAR LOS SIGUIENTES DATOS :' ;
        PRINT 'Procedimiento : ' + 'WA_CFDI_RENV_CM' ;
        PRINT 'Fecha         : ' + CONVERT(VARCHAR(8), GETDATE(), 112) + ' ' + CONVERT(VARCHAR(8), GETDATE(), 108) ;
        PRINT 'Referencia    : ' + ISNULL(@strID, '') ;
        PRINT 'Error         : ' + ISNULL(@sMsg, '') ;
        PRINT REPLICATE( '-', 80 ) ;
        
        SET @sErrorCode = 'SQL-' + CAST(ERROR_NUMBER() AS VARCHAR(30)) ;
        SET @sMsg = SUBSTRING( CAST(ERROR_NUMBER() AS VARCHAR(30)) + '-' + ERROR_MESSAGE(), 1, 250 ) ;      
        
        INSERT INTO EAI_OWNER.MX_EAI_MESSAGE_LOG
          ( DIRECTION          , REFERENCE            , CREATED              , MESSAGE        , JOB_PID,
            STATUS             , QUEUE_NAME           , SIEBEL_ERROR_MESSAGE, SOURCE          , 
            SIEBEL_ERROR_CODE  , RETRY_COUNT          , SEQUENCE             , PARENT_ROW_ID   )
        VALUES 
          ( 'Job Logging'      , @strID               , GETDATE()            , NULL           , @nPID   ,
            'Error'            , 'WA_CFDI_RENV_CM'    , @sMsg                , 'PL/SQL'       ,
            @sErrorCode        , NULL                 , NULL                 , NULL            ) ;
            
    END CATCH
END;
GO
