USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[WA_UPD_VELO_CREDIT_MEMO]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [T3].[WA_UPD_VELO_CREDIT_MEMO] 
   ( @pDays NUMERIC = 1 )
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sMsg        VARCHAR(500);
    DECLARE @sFactura    VARCHAR(20);
    DECLARE @nDoctos     NUMERIC(6);
    DECLARE @sEtapa      VARCHAR(20);
    DECLARE @sProcesar   VARCHAR(4);
--   
    DECLARE @dtFecha_Proc_BATMD DATETIME;
--
    DECLARE @strID       VARCHAR(50);
    DECLARE @sAccnt_ID   VARCHAR(50);
    DECLARE @sClienteSAP VARCHAR(10);

    -- Variablecursor
    DECLARE @Doc_Fecha_Proc_BATMD DATETIME;

    DECLARE ScrHeader CURSOR LOCAL FORWARD_ONLY STATIC FOR
       SELECT DISTINCT Fecha_Proc_BATMD 
          FROM T3.Preventa_General
          WHERE Fecha_Factura >= DATEADD(DAY, -ISNULL(@pDays, 1), GETDATE())
            AND Clase_Factura  = 'C025' ; 
--
    BEGIN TRY
        BEGIN TRANSACTION;

        OPEN ScrHeader ;
        FETCH NEXT FROM ScrHeader INTO @Doc_Fecha_Proc_BATMD;
        WHILE @@FETCH_STATUS = 0
        BEGIN
           SET @strID = CONVERT(VARCHAR(19), @Doc_Fecha_Proc_BATMD, 120) ;
           EXEC PROC_PROCESAR_VELO @Doc_Fecha_Proc_BATMD ;
           
           FETCH NEXT FROM ScrHeader INTO @Doc_Fecha_Proc_BATMD;
        END ;
        CLOSE ScrHeader ;
        DEALLOCATE ScrHeader ;

        COMMIT TRANSACTION ;
--
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION ;

        IF CURSOR_STATUS('local', 'ScrHeader') >= 0 
        BEGIN 
            CLOSE ScrHeader; 
            DEALLOCATE ScrHeader; 
        END;

        SET @sMsg = SUBSTRING( CAST(ERROR_NUMBER() AS VARCHAR(20)) + '-' + ERROR_MESSAGE(), 1, 250 ) ;
        SET @sMsg = SUBSTRING( ERROR_MESSAGE(), 1, 250 ) ;
        
        PRINT REPLICATE( '-', 80 ) ;
        PRINT 'Problemas en la ejecucion del Procedimiento' ;
        PRINT 'FAVOR DE ESCALAR LOS SIGUIENTES DATOS :' ;
        PRINT 'Procedimiento : ' + 'WA_UPD_VELO_CREDIT_MEMO' ;
        PRINT 'Fecha         : ' + REPLACE(CONVERT(VARCHAR(10), GETDATE(), 120), '-', '') + ' ' + CONVERT(VARCHAR(8), GETDATE(), 108) ; 
        PRINT 'Referencia    : ' + ISNULL( @strID, '' ) ;
        PRINT 'Error         : ' + ISNULL( @sMsg, '' ) ;
        PRINT REPLICATE( '-', 80 ) ;
		
        INSERT INTO T3.RF_ERROR_LOG  
           ( FECHA, RUTINA, REFERENCIA, ERROR_DESC )
        VALUES
           ( GETDATE(), 'WA_UPD_VELO_CREDIT_MEMO', @strID, @sMsg ) ;
        
    END CATCH;
END ; 
GO
