USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[WA_BATEMISION_INV]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[WA_BATEMISION_INV] ( 
    @sFactura VARCHAR(MAX), 
    @nLog INT = 0 
) AS 
BEGIN
   DECLARE @v_ID             VARCHAR(50) ;
   DECLARE @sErrorCode       VARCHAR(500) ;
   DECLARE @sMsg             VARCHAR(500) ;
   DECLARE @sPOrderNumber    VARCHAR(500) ;
   DECLARE @sRow_ID          VARCHAR(50) ;
   DECLARE @v_Regs           INT ;
   DECLARE @v_SubRegs        INT ;
-- Define Variables
   DECLARE @sAnexo_CFD       VARCHAR(MAX) ;
   DECLARE @sReceptor_FC     VARCHAR(1000) ;
   DECLARE @nInStr_Receptor  INT ;
   DECLARE @nInStr_Control   INT ;
   
   -- Variables cursores
   DECLARE @ScrINVOICE_Anexo_CFD VARCHAR(MAX);
   DECLARE @ScrCustomer_Receptor_FC VARCHAR(1000);

   DECLARE ScrINVOICE CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT CAST(CFD.Anexo_CFD AS VARCHAR(MAX)) AS Anexo_CFD
        FROM T3.RF_Documentos CFD
        WHERE CFD.Factura = @sFactura ;
--                
   DECLARE ScrCustomer CURSOR LOCAL FORWARD_ONLY STATIC FOR
    SELECT 
           '<receptor_fc>'                                                 + CHAR(13) + CHAR(10) +                         
           '                    <nombre>'  + ISNULL(Cte.Name, '')               + '</nombre>'  + CHAR(13) + CHAR(10) +
           '                    <calle>'   + ISNULL(Cte.Bill_Addr, '')          + '</calle>'   + CHAR(13) + CHAR(10) +
           '                    <colonia>' + ISNULL(Cte.Bill_Addr_Line_2, '')   + '</colonia>' + CHAR(13) + CHAR(10) +
           '                    <delmun>'  + ISNULL(Cte.Bill_City, '')          + '</delmun>'  + CHAR(13) + CHAR(10) +
           '                    <ciudad>'  + ISNULL(Cte.X_Route_Ref_1, '')      + '</ciudad>'  + CHAR(13) + CHAR(10) +
           '                    <estado>'  + ISNULL(Cte.Bill_State, '')         + '</estado>'  + CHAR(13) + CHAR(10) +
           '                    <pais>'    + 'MEX'                 + '</pais>'    + CHAR(13) + CHAR(10) +
           '                    <cp>'      + ISNULL(Cte.Bill_ZipCode, '')       + '</cp>'      + CHAR(13) + CHAR(10) +
           '                </receptor_fc>'                                        + CHAR(13) + CHAR(10) +
           '                '
             AS Receptor_FC
        FROM
              (
                  SELECT 
                         Cte.Cliente_SAP                     AS Ou_Num             , 
                         CteX.Email                          AS Pr_Con_ID          ,
                         Cte.Cliente_SAP                     AS Integration_ID     ,
                         ISNULL( Cte.RFC, 'XAXX010101000' )  AS Tax_Exempt_Num     ,
                         ISNULL( RS.Razon_Social, Cte.Nombre ) AS Name               ,
                         CteX.X_Route_Ref_1                  AS X_Route_Ref_1      ,
                         Cte.Metodo_pago                     AS Pay_Type_CD        ,
                         ISNULL( Reg.Regimen_Fiscal,
                      --ISNULL( CteX.Regimen_Fiscal,
                             EAI_Owner.getConv( 'CFG Settings', 'Regimen Fiscal Cliente' ) ) 
                                                             AS RegimenFiscal      ,
                         ISNULL( CFD.Ver_CFDi,
                             EAI_Owner.getConv( 'CFG Settings', 'VersionCFDI' ) ) 
                                                             AS VersionCFDI        ,  
                          ISNULL( Uso.UsoCFDI,                                    
                             ISNULL( UsoC.Uso_Venta,
                             EAI_Owner.getConv( 'CFG Settings', 'UsoCFDI_Comercial' ) ) )
                                                             AS UsoCFDI            ,
--
                         ISNULL( CP.CP, Cte.Codigo_Postal_3 ) AS Bill_ZipCode       ,
                         Cte.Pais_3                         AS Bill_Country       ,
                         Cte.Estado_3                       AS Bill_State         ,
                         Cte.Ciudad_3                       AS Bill_City          ,
                         Cte.Direccion_3                    AS Bill_Addr          ,
                         Cte.Colonia_3                      AS Bill_Addr_Line_2  
                     FROM T3.Registro_Fiscal        RF 
                     INNER JOIN T3.Mov_Cliente            Cte  ON Cte.Cliente_SAP      = RF.Cliente_SAP
                     LEFT OUTER JOIN T3.TMD_Email              CteX ON Cte.Cliente_SAP      = CteX.Cliente_SAP 
                     LEFT OUTER JOIN T3.CFDI_USOCFDI_CLIENTE   UsoC ON Cte.Cliente_SAP      = UsoC.Cliente_SAP
                     LEFT OUTER JOIN ( SELECT RFC, MAX( Valor ) AS Regimen_Fiscal
                                       FROM T3.CFDI_RFC_Setting
                                       WHERE Parametro = 'RegimenFiscal' 
                                       GROUP BY RFC ) Reg ON Cte.RFC              = Reg.RFC
                     LEFT OUTER JOIN ( SELECT RFC, MAX( Valor ) AS Ver_CFDI
                                       FROM T3.CFDI_RFC_Setting
                                       WHERE Parametro = 'VersionCFDI'  
                                       GROUP BY RFC ) CFD ON Cte.RFC              = CFD.RFC
                     LEFT OUTER JOIN ( SELECT RFC, MAX( Valor ) AS CP
                                       FROM T3.CFDI_RFC_Setting
                                       WHERE Parametro = 'CodigoPostal' 
                                       GROUP BY RFC ) CP ON Cte.RFC              = CP.RFC
                     LEFT OUTER JOIN ( SELECT RFC, MAX( Valor ) AS UsoCFDI
                                       FROM T3.CFDI_RFC_Setting
                                       WHERE Parametro = 'UsoCFDI' 
                                       GROUP BY RFC ) Uso ON Cte.RFC              = Uso.RFC
                     LEFT OUTER JOIN ( SELECT RFC, MAX( Valor ) AS Razon_Social
                                       FROM T3.CFDI_RFC_Setting
                                       WHERE Parametro = 'Nombre'
                                       GROUP BY RFC ) RS ON Cte.RFC              = RS.RFC
                    WHERE RF.Factura            = @sFactura
              )  Cte ;

BEGIN TRY
      SET @v_ID = @sFactura ;
      IF ( @nLog > 0 ) BEGIN
         PRINT( 'Inicio' ) ;
      END ;

      OPEN ScrCustomer;
      FETCH NEXT FROM ScrCustomer INTO @ScrCustomer_Receptor_FC;
      
      WHILE @@FETCH_STATUS = 0 
      BEGIN 
         SET @sReceptor_FC = @ScrCustomer_Receptor_FC ;
         
         FETCH NEXT FROM ScrCustomer INTO @ScrCustomer_Receptor_FC;
      END ; 
      CLOSE ScrCustomer;
      
      IF ( @nLog > 100 ) BEGIN
         PRINT( @sReceptor_FC ) ;
      END ;
--   
      OPEN ScrINVOICE;
      FETCH NEXT FROM ScrINVOICE INTO @ScrINVOICE_Anexo_CFD;
      
      WHILE @@FETCH_STATUS = 0
      BEGIN
         SET @sAnexo_CFD      = @ScrINVOICE_Anexo_CFD ;
         SET @nInStr_Receptor = CHARINDEX( '<receptor_fc>', @sAnexo_CFD ) ;
         SET @nInStr_Control  = CHARINDEX( '<control>', @sAnexo_CFD ) ;
         IF ( @nLog > 0 ) BEGIN
            PRINT( 'nInStr_Receptor_FC => ' + CAST(@nInstr_Receptor AS VARCHAR) ) ;
            PRINT( 'nInStr_Control     => ' + CAST(@nInstr_Control AS VARCHAR)  ) ;
         END ;
         
         FETCH NEXT FROM ScrINVOICE INTO @ScrINVOICE_Anexo_CFD;
      END ;
      CLOSE ScrINVOICE;
--
      IF ( @nInstr_Receptor = 0 ) AND ( @nInstr_Control > 0 ) BEGIN
         SET @sReceptor_FC = ISNULL(@sReceptor_FC, '') + '<control>' ;
         SET @sAnexo_CFD   = REPLACE( @sAnexo_CFD , '<control>', @sReceptor_FC ) ;
         IF ( @nLog > 10 ) BEGIN
            PRINT( @sAnexo_CFD ) ;
         END ;
         UPDATE T3.RF_Documentos SET Anexo_CFD = CAST( @sAnexo_CFD AS XML ) 
            WHERE Factura = @sFactura ;
         INSERT INTO EAI_Owner.WA_Logging
            ( Fecha, Usuario, Usuario_Red, IP, Terminal, Documento, Comentario )
         VALUES
            ( GETDATE() , CURRENT_USER, 
              SUSER_SNAME(), 
              CAST(CONNECTIONPROPERTY('client_net_address') AS VARCHAR(48)),
              HOST_NAME(),
              @sFactura, 'BATEMISION INV' ) ;            
      
         IF ( @nLog > 0 ) BEGIN
            PRINT( 'Done' ) ;
         END ;
      END ;

      DEALLOCATE ScrCustomer;
      DEALLOCATE ScrINVOICE;
      
END TRY
BEGIN CATCH
      IF CURSOR_STATUS('local', 'ScrCustomer') >= -1
      BEGIN
         IF CURSOR_STATUS('local', 'ScrCustomer') > -1
         BEGIN
            CLOSE ScrCustomer;
         END
         DEALLOCATE ScrCustomer;
      END;

      IF CURSOR_STATUS('local', 'ScrINVOICE') >= -1
      BEGIN
         IF CURSOR_STATUS('local', 'ScrINVOICE') > -1
         BEGIN
            CLOSE ScrINVOICE;
         END
         DEALLOCATE ScrINVOICE;
      END;

      SET @sErrorCode = 'ORA-' + CAST(ERROR_NUMBER() AS VARCHAR(20)) ;
      SET @sMsg = SUBSTRING( CAST(ERROR_NUMBER() AS VARCHAR(20)) + '-' + ERROR_MESSAGE(), 1, 250 ) ;
      INSERT INTO EAI_OWNER.MX_EAI_MESSAGE_LOG
        ( DIRECTION          , ID                      , CREATED             , MESSAGE        , 
          STATUS             , QUEUE_NAME              , SIEBEL_ERROR_MESSAGE, SOURCE         , 
          SIEBEL_ERROR_CODE  , RETRY_COUNT             , SEQUENCE            , PARENT_ROW_ID   )
      VALUES 
        ( 'WA BATEMISION'    , @v_ID                   , GETDATE()           , NULL           , 
          'Error'            , 'WA_BATEMISION_INV'     , @sMsg               , 'XML'          ,
          @sErrorCode        , NULL                    , NULL                , NULL            ) ;

END CATCH;
END
GO
