USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[WA_CFDI_REFOLEOS]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [T3].[WA_CFDI_REFOLEOS] 
    @pDays INT = 1
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @sMsg        VARCHAR(500);
    DECLARE @sErrorCode  VARCHAR(30); 
    DECLARE @sFactura    VARCHAR(20);
    DECLARE @nDoctos     INT;
    DECLARE @sEtapa      VARCHAR(20);
    DECLARE @dtInicio    DATETIME;
--
    DECLARE @strID       VARCHAR(50);
    DECLARE @sAccnt_ID   VARCHAR(50);
    DECLARE @sClienteSAP VARCHAR(10);
    DECLARE @nPID        INT;
    DECLARE @nProceso    INT;
    DECLARE @nProceso1   INT;
--
    BEGIN TRY
        BEGIN TRANSACTION;

        SET @strID = 'Venta' ;
        
        INSERT INTO T3.CFDI_Refoleo ( Docto_T3MX, Docto_SAP, Tipo_Registro )
        SELECT Factura              AS Docto_T3MX   ,
               REPLACE( 
                  REPLACE( Factura, 'A', '' ),
                  '_', '' )         AS Docto_SAP    ,
               'Venta'              AS Tipo_Registro   
        FROM T3.Factura_General
        WHERE Fecha_Trn > DATEADD(day, -ISNULL(@pDays, 7), GETDATE())
           AND CHARINDEX('A', Factura) > 0
           AND Factura NOT IN ( SELECT Docto_T3MX FROM T3.CFDI_REFOLEO ) ;

        SET @strID = 'DOI' ;
        
        INSERT INTO T3.CFDI_Refoleo ( Docto_T3MX, Docto_SAP, Tipo_Registro )   
        SELECT Factura                   AS Docto_T3MX   ,
               SUBSTRING(Factura, 1, 16) AS Docto_SAP    ,
               'DOI'                     AS Tipo_Registro   
        FROM T3.Factura_General
        WHERE Fecha_trn > DATEADD(day, -ISNULL(@pDays, 7), GETDATE())
          AND LEN(Factura) > 16
          AND Factura NOT IN ( SELECT Docto_T3MX FROM T3.CFDI_REFOLEO ) ;

        INSERT INTO T3.CFDI_Refoleo ( Docto_T3MX, Docto_SAP, Tipo_Registro )   
        SELECT Factura                   AS Docto_T3MX   ,
               SUBSTRING(Factura, 1, 16) AS Docto_SAP    ,
               'DOI'                     AS Tipo_Registro   
        FROM T3.Preventa_General
        WHERE Fecha_trn > DATEADD(day, -ISNULL(@pDays, 7), GETDATE())
          AND LEN(Factura) > 16
          AND Factura NOT IN ( SELECT Docto_T3MX FROM T3.CFDI_REFOLEO ) ;  

        COMMIT ;   

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK ;
            
        SET @sMsg = SUBSTRING(CAST(ERROR_NUMBER() AS VARCHAR(20)) + '-' + ERROR_MESSAGE(), 1, 250) ;
        SET @sMsg = SUBSTRING(ERROR_MESSAGE(), 1, 250) ;
        
        PRINT REPLICATE('-', 80) ;
        PRINT 'Problemas en la ejecucion del Procedimiento' ;
        PRINT 'FAVOR DE ESCALAR LOS SIGUIENTES DATOS :' ;
        PRINT 'Procedimiento : ' + 'WA_CFDI_REFOLEO' ;
        PRINT 'Fecha         : ' + CONVERT(VARCHAR(8), GETDATE(), 112) + ' ' + CONVERT(VARCHAR(8), GETDATE(), 108) ;
        PRINT 'Referencia    : ' + ISNULL(@strID, '') ;
        PRINT 'Error         : ' + ISNULL(@sMsg, '') ;
        PRINT REPLICATE('-', 80) ;
        
--      INSERT INTO T3.RF_ERROR_LOG 
--         ( FECHA, RUTINA, REFERENCIA, ERROR_DESC )
--      VALUES
--         ( GETDATE(), 'WA_CFDI_COBRANZA', @strID, @sMsg ) ;

        SET @sErrorCode = 'SQL-' + CAST(ERROR_NUMBER() AS VARCHAR) ;
        SET @sMsg = SUBSTRING(CAST(ERROR_NUMBER() AS VARCHAR(20)) + '-' + ERROR_MESSAGE(), 1, 250) ;      
        
        INSERT INTO EAI_OWNER.MX_EAI_MESSAGE_LOG
          ( DIRECTION          , REFERENCE            , CREATED              , MESSAGE        , JOB_PID,
            STATUS             , QUEUE_NAME           , SIEBEL_ERROR_MESSAGE, SOURCE          , 
            SIEBEL_ERROR_CODE  , RETRY_COUNT          , SEQUENCE             , PARENT_ROW_ID   )
        VALUES 
          ( 'Job Logging'      , @strID               , GETDATE()            , NULL           , @nPID   ,
            'Error'            , 'WA_CFDI_REFOLEO'    , @sMsg                , 'PL/SQL'       ,
            @sErrorCode        , NULL                 , NULL                 , NULL            ) ;
            
    END CATCH
END;
GO
