USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[WA_FEE_CREDIT_AGR]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [T3].[WA_FEE_CREDIT_AGR] 
    @pDays INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sMsg               VARCHAR(500);
    DECLARE @sFactura           VARCHAR(20);
    DECLARE @nDoctos            INT;
    DECLARE @sEtapa             VARCHAR(20);
    DECLARE @sProcesar          VARCHAR(4);
--   
    DECLARE @dtFecha_Proc_BATMD DATETIME;
--
    DECLARE @strID              VARCHAR(50);
    DECLARE @sAccnt_ID          VARCHAR(50);
    DECLARE @sClienteSAP        VARCHAR(10);

    -- Variables cursor
    DECLARE @Cur_Nota_Venta_CFDI VARCHAR(50);

    DECLARE ScrHeader CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT DISTINCT Info.Nota_Venta_CFDI
        FROM (
                 SELECT DF.Nombre_Corto, FG.Fecha_Trn, FG.Fecha_Factura, FG.Factura, FG.Ctro, FG.Cliente_SAP , FD.Num_Linea, FD.Material, M.Nombre_Material, FD.Credito_Subt, 
                        HDP.Nota_Venta_CFDI, CFD.Fecha_Liberacion, CFD.Folio_Fiscal, MC.Nombre, MC.RFC, FG.Fecha_Proc_BATMD
                 FROM T3.Factura_General FG
                 INNER JOIN T3.Factura_Detalle FD ON FG.Factura = FD.Factura
                 INNER JOIN T3.Distribuidor_Fiscal DF ON FG.Ctro = DF.Ctro
                 INNER JOIN T3.Material M ON FD.Material = M.Material
                 INNER JOIN T3.Mov_Cliente MC ON FG.Cliente_SAP = MC.Cliente_SAP
                 LEFT OUTER JOIN T3.CFDI_Historia_Docto_PAC HDP ON FG.Factura = HDP.Nota_Venta
                 LEFT OUTER JOIN T3.CFDI_Documentos CFD ON HDP.Nota_Venta_CFDI = CFD.Nota_Venta
                 WHERE FG.Fecha_Trn                              > DATEADD(day, -ISNULL(@pDays, 7), GETDATE())
                   AND ISNULL( FD.Credito_Subt, 0 )              > 0 
                   AND ISNULL( FD.Valor_IVA   , 0 )              = 0
             ) Info
        WHERE Info.Nota_Venta_CFDI  IS NOT NULL
          AND Info.Factura          != Info.Nota_Venta_CFDI 
          AND Info.Fecha_Liberacion IS NULL ;

    BEGIN TRY
        BEGIN TRANSACTION;

        SET @strID     = 'WA_FEE_CREDIT_AGR' ;
        SET @sProcesar = 'SI' ;

        OPEN ScrHeader;
        FETCH NEXT FROM ScrHeader INTO @Cur_Nota_Venta_CFDI;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @strID = @Cur_Nota_Venta_CFDI ;
            EXEC T3.WA_SOPORTE_EAI @Cur_Nota_Venta_CFDI, 'CF_SIN_IVA_AGR' ;                     
            
            FETCH NEXT FROM ScrHeader INTO @Cur_Nota_Venta_CFDI;
        END ;
        CLOSE ScrHeader ;

        COMMIT ;

        IF CURSOR_STATUS('local','ScrHeader') >= -1 DEALLOCATE ScrHeader;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK ;

        IF CURSOR_STATUS('local','ScrHeader') >= -1
        BEGIN
            IF CURSOR_STATUS('local','ScrHeader') >= 0 CLOSE ScrHeader;
            DEALLOCATE ScrHeader;
        END

        SET @sMsg = SUBSTRING( CAST(ERROR_NUMBER() AS VARCHAR(20)) + '-' + ERROR_MESSAGE(), 1, 250 ) ;
        SET @sMsg = SUBSTRING( ERROR_MESSAGE(), 1, 250 ) ;
        
        PRINT REPLICATE( '-', 80 ) ;
        PRINT 'Problemas en la ejecucion del Procedimiento' ;
        PRINT 'FAVOR DE ESCALAR LOS SIGUIENTES DATOS :' ;
        PRINT 'Procedimiento : ' + 'WA_FEE_CREDIT_AGR' ;
        PRINT 'Fecha         : ' + CONVERT(VARCHAR(8), GETDATE(), 112) + ' ' + CONVERT(VARCHAR(8), GETDATE(), 108) ;
        PRINT 'Referencia    : ' + ISNULL(@strID, '') ;
        PRINT 'Error         : ' + ISNULL(@sMsg, '') ;
        PRINT REPLICATE( '-', 80 ) ;

        INSERT INTO T3.RF_ERROR_LOG 
           ( FECHA, RUTINA, REFERENCIA, ERROR_DESC )
        VALUES
           ( GETDATE(), 'WA_FEE_CREDIT_AGR', @strID, @sMsg ) ;

    END CATCH
END ; -- Procedure
GO
