USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[WA_FRAGUA_ADDENDA]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [T3].[WA_FRAGUA_ADDENDA] 
    @sFactura VARCHAR(50), 
    @nLog     INT = 0
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @v_ID             VARCHAR(50);
    DECLARE @sErrorCode       VARCHAR(500);
    DECLARE @sMsg             VARCHAR(500);
    DECLARE @sPOrderNumber    VARCHAR(500);
    DECLARE @sRow_ID          VARCHAR(50);
    DECLARE @v_Regs           INT;
    DECLARE @v_SubRegs        INT;
-- Define Variables
    DECLARE @sAnexo_CFD       VARCHAR(MAX);
    DECLARE @sPrefijo         VARCHAR(1000);
    DECLARE @sPostfijo        VARCHAR(1000);
    DECLARE @sBusqueda        VARCHAR(1000);
    DECLARE @sSustituye       VARCHAR(1000);
    DECLARE @nPrecioUnit      NUMERIC(12,2);
    DECLARE @sReceptor_FC     VARCHAR(1000);
    DECLARE @nInStr_Receptor  INT;
    DECLARE @nInStr_Control   INT;
    DECLARE @Cur_Anexo_CFD    VARCHAR(MAX);
    DECLARE @Cur_Num_Linea    VARCHAR(50),
            @Cur_Material     VARCHAR(50),
            @Cur_Precio_Unit  NUMERIC(12,2),
            @Cur_Valor_Subt   NUMERIC(12,2),
            @Cur_lineItem     VARCHAR(MAX);

    DECLARE ScrINVOICE CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT CAST(CFD.Anexo_CFD AS VARCHAR(MAX)) AS Anexo_CFD
        FROM T3.RF_Documentos CFD
        WHERE CFD.Factura = @sFactura ;
--
    DECLARE ScrITEMS CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT Num_Linea, Material, Precio_Unit, Valor_Subt,
               '</Amount></netAmount></totalLineAmount></lineItem>' + 
               '<lineItem type="SimpleInvoiceLineItemType" number="' + LTRIM(RTRIM(CAST(Num_Linea AS VARCHAR(50)))) + '" >' AS lineItem
        FROM T3.Registro_Fiscal_Detalle
        WHERE Factura = @sFactura
        ORDER BY Num_Linea ;
--                
    BEGIN TRY

        SET @v_ID        = @sFactura ;
        SET @sPrefijo    = '<totalLineAmount><netAmount><Amount>' ;
        SET @sPostfijo   = '' ;
        SET @nPrecioUnit = 0  ;

        IF ( @nLog > 0 ) 
        BEGIN
            PRINT 'Inicio' ;
        END ;
--   
        OPEN ScrINVOICE;
        FETCH NEXT FROM ScrINVOICE INTO @Cur_Anexo_CFD;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @sAnexo_CFD = @Cur_Anexo_CFD ;
            
            OPEN ScrITEMS;
            FETCH NEXT FROM ScrITEMS INTO @Cur_Num_Linea, @Cur_Material, @Cur_Precio_Unit, @Cur_Valor_Subt, @Cur_lineItem;
            
            WHILE @@FETCH_STATUS = 0
            BEGIN
                IF ( @nPrecioUnit > 0 ) 
                BEGIN
                    SET @sBusqueda = ISNULL(@sPrefijo, '') + LTRIM(RTRIM(STR(@nPrecioUnit, 12, 2))) + ISNULL(@Cur_lineItem, '') ;
                --   
                    SET @nInStr_Receptor = CHARINDEX( @sBusqueda, @sAnexo_CFD ) ;
                    
                    IF ( @nLog > 0 ) 
                    BEGIN
                        PRINT 'nInStr_Busqueda => ' + CAST(@nInStr_Receptor AS VARCHAR(20)) + ' .NumLinea => ' + ISNULL(@Cur_Num_Linea, '') ;
                    END ;
                END ;
                SET @nPrecioUnit = @Cur_Precio_Unit ;

                FETCH NEXT FROM ScrITEMS INTO @Cur_Num_Linea, @Cur_Material, @Cur_Precio_Unit, @Cur_Valor_Subt, @Cur_lineItem;
            END ;
            CLOSE ScrITEMS ;

            SET @sPostFijo = '</Amount></netAmount></totalLineAmount></lineItem></requestForPayment>' ;
            SET @sBusqueda = ISNULL(@sPrefijo, '') + LTRIM(RTRIM(STR(@nPrecioUnit, 12, 2))) + ISNULL(@sPostFijo, '') ;
            SET @nInStr_Receptor = CHARINDEX( @sBusqueda, @sAnexo_CFD ) ;
            
            IF ( @nLog > 0 ) 
            BEGIN
                PRINT 'nInStr_Busqueda => ' + CAST(@nInStr_Receptor AS VARCHAR(20)) ;
            END ;

            FETCH NEXT FROM ScrINVOICE INTO @Cur_Anexo_CFD;
        END ;
        CLOSE ScrINVOICE ;
--
/*
      IF ( @nInstr_Receptor = 0 ) AND ( @nInstr_Control > 0 ) 
      BEGIN
         SET @sReceptor_FC = ISNULL(@sReceptor_FC, '') + '<control>' ;
         SET @sAnexo_CFD   = REPLACE( @sAnexo_CFD , '<control>', @sReceptor_FC ) ;
         
         IF ( @nLog > 10 ) 
         BEGIN
            PRINT @sAnexo_CFD ;
         END ;
         
         UPDATE T3.RF_Documentos SET Anexo_CFD = CAST( @sAnexo_CFD AS XML ) 
            WHERE Factura = @sFactura ;
            
         INSERT INTO EAI_Owner.WA_Logging
            ( Fecha, Usuario, Usuario_Red, IP, Terminal, Documento, Comentario )
         VALUES
            ( GETDATE() , CURRENT_USER, 
              SUSER_SNAME(), 
              CAST(CONNECTIONPROPERTY('client_net_address') AS VARCHAR(50)),
              HOST_NAME(),
              @sFactura, 'BATEMISION INV' ) ;            
         
         COMMIT ;
         BEGIN TRANSACTION; -- Reabrir si se sigue ejecutando tras el COMMIT
            
         IF ( @nLog > 0 ) 
         BEGIN
            PRINT 'Done' ;
         END ;
      END ;  
*/

        IF CURSOR_STATUS('local','ScrINVOICE') >= -1 DEALLOCATE ScrINVOICE;
        IF CURSOR_STATUS('local','ScrITEMS') >= -1 DEALLOCATE ScrITEMS;

    END TRY
    BEGIN CATCH

        IF CURSOR_STATUS('local','ScrINVOICE') >= -1
        BEGIN
            IF CURSOR_STATUS('local','ScrINVOICE') >= 0 CLOSE ScrINVOICE;
            DEALLOCATE ScrINVOICE;
        END
        IF CURSOR_STATUS('local','ScrITEMS') >= -1
        BEGIN
            IF CURSOR_STATUS('local','ScrITEMS') >= 0 CLOSE ScrITEMS;
            DEALLOCATE ScrITEMS;
        END

        SET @sErrorCode = 'SQL-' + CAST(ERROR_NUMBER() AS VARCHAR(30)) ;
        SET @sMsg = SUBSTRING( CAST(ERROR_NUMBER() AS VARCHAR(30)) + '-' + ERROR_MESSAGE(), 1, 250 ) ;
        
		INSERT INTO EAI_OWNER.MX_EAI_MESSAGE_LOG
          ( DIRECTION          , ID                      , CREATED              , MESSAGE        , 
            STATUS             , QUEUE_NAME              , SIEBEL_ERROR_MESSAGE, SOURCE          , 
            SIEBEL_ERROR_CODE  , RETRY_COUNT             , SEQUENCE             , PARENT_ROW_ID   )
        VALUES 
          ( 'WA_FRAGUA_ADDENDA', @v_ID                   , GETDATE()            , NULL           , 
            'Error'            , 'WA_FRAGUA_ADDENDA'     , @sMsg                , 'XML'          ,
            @sErrorCode        , NULL                    , NULL                 , NULL            ) ;
            
    END CATCH
END ; -- Procedure

GO
