USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[WA_PREVENTA_UPDATE_BONIF]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [T3].[WA_PREVENTA_UPDATE_BONIF] 
    @pFactura VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sMsg               VARCHAR(500);
    DECLARE @sFactura           VARCHAR(20);
    DECLARE @nDoctos            INT;
    DECLARE @sEtapa             VARCHAR(20);
    DECLARE @sProcesar          VARCHAR(4);
--   
    DECLARE @dtFecha_Proc_BATMD DATETIME;
--
    DECLARE @strID              VARCHAR(50);
    DECLARE @sAccnt_ID          VARCHAR(50);
    DECLARE @sClienteSAP        VARCHAR(10);

    BEGIN TRY
        BEGIN TRANSACTION;

        SET @strID = @pFactura ;

        UPDATE PG
        SET Bonif_Subt = (SELECT SUM( ISNULL( PD.Bonif_Subt, 0 ) ) FROM T3.Preventa_Detalle PD WHERE PD.Factura = PG.Factura),
            Bonif_IVA  = (SELECT SUM( ISNULL( PD.Bonif_IVA , 0 ) ) FROM T3.Preventa_Detalle PD WHERE PD.Factura = PG.Factura)
        FROM T3.Preventa_General PG
        WHERE PG.Factura = @pFactura ;

        UPDATE PG
        SET Bonif_Subt = (SELECT SUM( ISNULL( PD.Bonif_Subt, 0 ) ) FROM T3.Preventa_Detalle PD WHERE PD.Factura = PG.Factura),
            Bonif_IVA  = (SELECT SUM( ISNULL( PD.Bonif_IVA , 0 ) ) FROM T3.Preventa_Detalle PD WHERE PD.Factura = PG.Factura)
        FROM T3.Registro_Fiscal PG
        WHERE PG.Factura = @pFactura ;

        COMMIT ; 
--
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK ;

        SET @sMsg = SUBSTRING( CAST(ERROR_NUMBER() AS VARCHAR(20)) + '-' + ERROR_MESSAGE(), 1, 250 ) ;
        SET @sMsg = SUBSTRING( ERROR_MESSAGE(), 1, 250 ) ;
        
        PRINT REPLICATE( '-', 80 ) ;
        PRINT 'Problemas en la ejecucion del Procedimiento' ;
        PRINT 'FAVOR DE ESCALAR LOS SIGUIENTES DATOS :' ;
        PRINT 'Procedimiento : ' + 'WA_PREVENTA_BONIF' ;
        PRINT 'Fecha         : ' + CONVERT(VARCHAR(8), GETDATE(), 112) + ' ' + CONVERT(VARCHAR(8), GETDATE(), 108) ;
        PRINT 'Referencia    : ' + ISNULL(@strID, '') ;
        PRINT 'Error         : ' + ISNULL(@sMsg, '') ;
        PRINT REPLICATE( '-', 80 ) ;
        

        INSERT INTO T3.RF_ERROR_LOG 
           ( FECHA, RUTINA, REFERENCIA, ERROR_DESC )
        VALUES
           ( GETDATE(), 'WA_PREVENTA_UPDATE_BONIF', @strID, @sMsg ) ;

    END CATCH
END ; -- Procedure
GO
