USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[WA_SET_FECHA_DOCUMENTO]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [T3].[WA_SET_FECHA_DOCUMENTO] 
    @sPeriodo      VARCHAR(50),
    @nMaxRegistros INT = 1000
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @nDoctos INT;
    DECLARE @sMsg    VARCHAR(500);

    -- Variables cursor
    DECLARE @Cur_Factura             VARCHAR(50),
            @Cur_CFD_Version         VARCHAR(10),
            @Cur_V40_Fecha_Documento VARCHAR(50),
            @Cur_V33_Version         VARCHAR(10),
            @Cur_V33_Version_Lower   VARCHAR(10),
            @Cur_V33_Fecha_Documento VARCHAR(50),
            @Cur_V33_Fecha_Doc_Lower VARCHAR(50);

    DECLARE Docto CURSOR LOCAL FORWARD_ONLY STATIC FOR
        WITH XMLNAMESPACES (
            'http://www.sat.gob.mx/cfd/4' AS cfdi4,
            'http://www.sat.gob.mx/cfd/3' AS cfdi3
        )
        SELECT 
              CFD.Factura,
              CAST(CFD.Anexo_CFD AS XML).value('(/cfdi4:Comprobante/@Version)[1]', 'VARCHAR(10)') AS CFD_Version,
              CAST(CFD.Anexo_CFD AS XML).value('(/cfdi4:Comprobante/@Fecha)[1]', 'VARCHAR(50)')   AS V40_Fecha_Documento,
              CAST(CFD.Anexo_CFD AS XML).value('(/cfdi3:Comprobante/@Version)[1]', 'VARCHAR(10)') AS V33_Version,
              CAST(CFD.Anexo_CFD AS XML).value('(/cfdi3:Comprobante/@version)[1]', 'VARCHAR(10)') AS V33_Version_Lower,
              CAST(CFD.Anexo_CFD AS XML).value('(/cfdi3:Comprobante/@Fecha)[1]', 'VARCHAR(50)')   AS V33_Fecha_Documento,
              CAST(CFD.Anexo_CFD AS XML).value('(/cfdi3:Comprobante/@fecha)[1]', 'VARCHAR(50)')   AS V33_Fecha_Doc_Lower
        FROM T3.CFDI_Documentos Doc
        INNER JOIN T3.RF_Documentos CFD ON Doc.Nota_Venta = CFD.Factura
        WHERE FORMAT( Doc.Fecha_Liberacion, 'yyyyMM' ) = @sPeriodo
          AND Doc.Folio_Fiscal                         IS NOT NULL 
          AND Doc.Fecha_Documento                      IS NULL ;  
--
    BEGIN TRY
        PRINT 'Ini : ' + CONVERT(VARCHAR(8), GETDATE(), 108) ;
        SET @nDoctos = 0 ;

        OPEN Docto;
        FETCH NEXT FROM Docto INTO 
            @Cur_Factura, @Cur_CFD_Version, @Cur_V40_Fecha_Documento, 
            @Cur_V33_Version, @Cur_V33_Version_Lower, @Cur_V33_Fecha_Documento, @Cur_V33_Fecha_Doc_Lower;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            IF ( @Cur_CFD_Version = '4' ) 
            BEGIN
                UPDATE T3.CFDI_Documentos SET 
                    Fecha_Documento = CONVERT(DATETIME, REPLACE( @Cur_V40_Fecha_Documento, 'T', ' '), 120)
                WHERE Nota_Venta = @Cur_Factura ;
            END
            ELSE IF ( @Cur_V33_Version = '3.3' ) 
            BEGIN
                UPDATE T3.CFDI_Documentos SET 
                    Fecha_Documento = CONVERT(DATETIME, REPLACE( @Cur_V33_Fecha_Documento, 'T', ' '), 120)
                WHERE Nota_Venta = @Cur_Factura ;
            END
            ELSE IF ( @Cur_V33_Version_Lower = '3.2' ) 
            BEGIN
                UPDATE T3.CFDI_Documentos SET 
                    Fecha_Documento = CONVERT(DATETIME, REPLACE( @Cur_V33_Fecha_Doc_Lower, 'T', ' '), 120)
                WHERE Nota_Venta = @Cur_Factura ;
            END ;                    
            
            SET @nDoctos = @nDoctos + 1 ;                  

            FETCH NEXT FROM Docto INTO 
                @Cur_Factura, @Cur_CFD_Version, @Cur_V40_Fecha_Documento, 
                @Cur_V33_Version, @Cur_V33_Version_Lower, @Cur_V33_Fecha_Documento, @Cur_V33_Fecha_Doc_Lower;
        END ;

        PRINT 'Fin : ' + CONVERT(VARCHAR(8), GETDATE(), 108) ;
        PRINT 'Rec-> ' + CAST(@nDoctos AS VARCHAR(20)) ;
        CLOSE Docto ;

        IF CURSOR_STATUS('local','Docto') >= -1 DEALLOCATE Docto;

    END TRY
    BEGIN CATCH
        IF CURSOR_STATUS('local','Docto') >= -1
        BEGIN
            IF CURSOR_STATUS('local','Docto') >= 0 CLOSE Docto;
            DEALLOCATE Docto;
        END

        SET @sMsg = SUBSTRING( 'ERROR SQL ' + CAST(ERROR_NUMBER() AS VARCHAR(30)) + ' ' + ERROR_MESSAGE(), 1, 480 ) ;
        
        PRINT '************* Mensaje ***************' ;
        PRINT '*** Error en WA_Fecha_Documento  ***' ;
        PRINT @sMsg ;          
    END CATCH
END ; -- Procedure
GO
