USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[WA_CFDI_COBRANZA_FIX]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [T3].[WA_CFDI_COBRANZA_FIX] 
   ( @pDays     INT = 1 )
AS
BEGIN
   DECLARE @sMsg           VARCHAR(500) ;
   DECLARE @sErrorCode     VARCHAR(30) ; 
   DECLARE @sFactura       VARCHAR(20) ;
   DECLARE @nDoctos        INT         ;
   DECLARE @sEtapa         VARCHAR(20) ;
   DECLARE @dtInicio       DATETIME    ;
--
   DECLARE @strID          VARCHAR(50) ;
   DECLARE @sAccnt_ID      VARCHAR(50) ;
   DECLARE @sClienteSAP    VARCHAR(10) ;
   DECLARE @nPID           INT         ;
   DECLARE @nProceso       INT         ;
   DECLARE @nProceso1      INT         ;
   DECLARE @nProceso2      INT         ;
   DECLARE @nProceso3      INT         ;
--
   DECLARE @sDoc_Num       VARCHAR(30) ;
   DECLARE @sCliente_SAP   VARCHAR(30) ;
   DECLARE @nAmount        DECIMAL(15,2) ;
   DECLARE @nPending       DECIMAL(15,2) ;
   DECLARE @nPaid          DECIMAL(15,2) ;
--   
   -- Variables cursores
   DECLARE @Pend_Asignacion_ID VARCHAR(MAX);
   DECLARE @Pend_Factura VARCHAR(MAX);

   DECLARE @Exec_Asignacion_ID VARCHAR(MAX);
   DECLARE @Exec_Factura VARCHAR(MAX);
   DECLARE @Exec_Fecha_Factura DATETIME;
   DECLARE @Exec_Nota_Venta VARCHAR(MAX);
   DECLARE @Exec_UUID_Venta VARCHAR(MAX);
   DECLARE @Exec_Nota_Venta_CFDI VARCHAR(MAX);

   DECLARE @UUID_Asignacion_ID VARCHAR(MAX);
   DECLARE @UUID_Factura VARCHAR(MAX);
   DECLARE @UUID_Fecha_Factura DATETIME;
   DECLARE @UUID_Nota_Venta VARCHAR(MAX);
   DECLARE @UUID_UUID_Venta VARCHAR(MAX);
   DECLARE @UUID_Folio_Fiscal VARCHAR(MAX);
   DECLARE @UUID_Status VARCHAR(MAX);

   DECLARE ScrCursorPendiente CURSOR LOCAL FORWARD_ONLY STATIC FOR
      SELECT Asignacion_ID, Factura 
         FROM T3.CFDI_Cobranza Cobza
         WHERE Fecha_Proceso             > '20200921'
         --AND Status                   IS NOT NULL
         --AND Status                    = 'PendienteT3'
           AND ISNULL( Saldo_Anterior, 0 )  = 0 ;
--
   DECLARE ScrCursor CURSOR LOCAL FORWARD_ONLY STATIC FOR
       SELECT Cobza.Asignacion_ID, 
              Cobza.Factura, Cobza.Fecha_Factura,
              Cobza.Nota_Venta, Cobza.UUID_Venta, HDP.Nota_Venta_CFDI       
          FROM T3.CFDI_Cobranza             Cobza,
               T3.CFDI_Historia_Docto_PAC   HDP
          WHERE Cobza.Nota_Venta IS NULL
            AND Cobza.Factura     = HDP.Nota_Venta ;
--
   DECLARE ScrUUID CURSOR LOCAL FORWARD_ONLY STATIC FOR
       SELECT Cobza.Asignacion_ID, 
              Cobza.Factura, Cobza.Fecha_Factura,
              Cobza.Nota_Venta, Cobza.UUID_Venta, CFD.Folio_Fiscal, CFD.Status
          FROM T3.CFDI_Cobranza             Cobza,
               T3.CFDI_Documentos           CFD
          WHERE Cobza.Nota_Venta   IS NOT NULL
            AND Cobza.UUID_Venta   IS NULL
            AND Cobza.Nota_Venta    = CFD.Nota_Venta
            AND CFD.Folio_Fiscal   IS NOT NULL ;            
--
BEGIN TRY
	BEGIN TRAN
   SET @nProceso  = 886 ;
   SET @nPID      = NEXT VALUE FOR EAI_Owner.ProcessID ;
   EXEC EAI_Owner.Log_Start @nProceso ;
   INSERT INTO T3.RF_PROCESOS_LOG ( PID , Proceso , Fecha_Proc_BATMD, Inicio )
      VALUES ( @nPID, @nProceso, NULL, GETDATE() ) ;   
   SET @nProceso1 = 0 ;
   
   OPEN ScrCursor;
   FETCH NEXT FROM ScrCursor INTO @Exec_Asignacion_ID, @Exec_Factura, @Exec_Fecha_Factura, @Exec_Nota_Venta, @Exec_UUID_Venta, @Exec_Nota_Venta_CFDI;
   
   WHILE @@FETCH_STATUS = 0
   BEGIN
      SET @nProceso1 = @nProceso1 + 1 ;
      UPDATE T3.CFDI_Cobranza SET Nota_Venta = @Exec_Nota_Venta_CFDI
         WHERE Asignacion_ID = @Exec_Asignacion_ID ;
         
      FETCH NEXT FROM ScrCursor INTO @Exec_Asignacion_ID, @Exec_Factura, @Exec_Fecha_Factura, @Exec_Nota_Venta, @Exec_UUID_Venta, @Exec_Nota_Venta_CFDI;
   END ;
   CLOSE ScrCursor;

   SET @nProceso2 = 0 ;
   
   OPEN ScrUUID;
   FETCH NEXT FROM ScrUUID INTO @UUID_Asignacion_ID, @UUID_Factura, @UUID_Fecha_Factura, @UUID_Nota_Venta, @UUID_UUID_Venta, @UUID_Folio_Fiscal, @UUID_Status;
   
   WHILE @@FETCH_STATUS = 0
   BEGIN
      SET @nProceso2 = @nProceso2 + 1 ;
      UPDATE T3.CFDI_Cobranza SET UUID_Venta = @UUID_Folio_Fiscal
         WHERE Asignacion_ID = @UUID_Asignacion_ID ;
         
      FETCH NEXT FROM ScrUUID INTO @UUID_Asignacion_ID, @UUID_Factura, @UUID_Fecha_Factura, @UUID_Nota_Venta, @UUID_UUID_Venta, @UUID_Folio_Fiscal, @UUID_Status;
   END ;
   CLOSE ScrUUID;

   SET @nProceso3 = 0 ;
   
   OPEN ScrCursorPendiente;
   FETCH NEXT FROM ScrCursorPendiente INTO @Pend_Asignacion_ID, @Pend_Factura;
   
   WHILE @@FETCH_STATUS = 0
   BEGIN
      SET @nProceso3 = @nProceso3 + 1 ;
      
      EXEC EAI_OWNER.SF_GET_INVOICE_DATA @Pend_Factura, @sDoc_Num OUTPUT, @sCliente_SAP OUTPUT, @nAmount OUTPUT, @nPending OUTPUT, @nPaid OUTPUT ;
      
      IF ( @nAmount > 0 ) 
      BEGIN
         UPDATE T3.CFDI_Cobranza SET Saldo_Anterior = @nAmount, Status = NULL
            WHERE Asignacion_ID = @Pend_Asignacion_ID ;
      END ;     
      
      FETCH NEXT FROM ScrCursorPendiente INTO @Pend_Asignacion_ID, @Pend_Factura;
   END ;
   CLOSE ScrCursorPendiente;

   UPDATE EAI_OWNER.MX_COMPONENTS SET Status = 1
      WHERE Component = @nProceso ;
   UPDATE T3.RF_PROCESOS_LOG SET  Fin = GETDATE(), Proceso_1 = @nProceso1, Proceso_2 = @nProceso2,
                                                 Proceso_3 = @nProceso3, Proceso_4 = 0
       WHERE PID = @nPID  ;            
   COMMIT ;   

   DEALLOCATE ScrCursorPendiente;
   DEALLOCATE ScrCursor;
   DEALLOCATE ScrUUID;

END TRY
BEGIN CATCH
   IF @@TRANCOUNT > 0 ROLLBACK ;

   IF CURSOR_STATUS('local', 'ScrCursorPendiente') >= -1
   BEGIN
      IF CURSOR_STATUS('local', 'ScrCursorPendiente') > -1 CLOSE ScrCursorPendiente;
      DEALLOCATE ScrCursorPendiente;
   END;

   IF CURSOR_STATUS('local', 'ScrCursor') >= -1
   BEGIN
      IF CURSOR_STATUS('local', 'ScrCursor') > -1 CLOSE ScrCursor;
      DEALLOCATE ScrCursor;
   END;

   IF CURSOR_STATUS('local', 'ScrUUID') >= -1
   BEGIN
      IF CURSOR_STATUS('local', 'ScrUUID') > -1 CLOSE ScrUUID;
      DEALLOCATE ScrUUID;
   END;

   SET @sMsg = SUBSTRING( CAST(ERROR_NUMBER() AS VARCHAR(20)) + '-' + ERROR_MESSAGE(), 1, 250 ) ;
   SET @sMsg = SUBSTRING( ERROR_MESSAGE(), 1, 250 ) ;
   PRINT( REPLICATE( '-', 80 ) ) ;
   PRINT( 'Problemas en la ejecucion del Procedimiento' ) ;
   PRINT( 'FAVOR DE ESCALAR LOS SIGUIENTES DATOS :' ) ;
   PRINT( 'Procedimiento : ' + 'WA_CFDI_COBRANZA_FIX' ) ;
   PRINT( 'Fecha         : ' + FORMAT( GETDATE(), 'yyyyMMdd HH:mm:ss' ) ) ;
   PRINT( 'Referencia    : ' + ISNULL(@strID, '') ) ;
   PRINT( 'Error         : ' + ISNULL(@sMsg, '') ) ;
   PRINT( REPLICATE( '-', 80 ) ) ;
--       INSERT INTO T3.RF_ERROR_LOG 
--          ( FECHA, RUTINA, REFERENCIA, ERROR_DESC )
--       VALUES
--          ( GETDATE(), 'WA_CFDI_COBRANZA', @strID, @sMsg ) ;
   SET @sErrorCode = 'SQL-' + CAST( ERROR_NUMBER() AS VARCHAR(20) ) ;
   SET @sMsg = SUBSTRING( CAST(ERROR_NUMBER() AS VARCHAR(20)) + '-' + ERROR_MESSAGE(), 1, 250 ) ;      
   INSERT INTO EAI_OWNER.MX_EAI_MESSAGE_LOG
     ( DIRECTION         , REFERENCE             , CREATED             , MESSAGE        , JOB_PID,
       STATUS            , QUEUE_NAME            , SIEBEL_ERROR_MESSAGE, SOURCE         , 
       SIEBEL_ERROR_CODE , RETRY_COUNT           , SEQUENCE            , PARENT_ROW_ID   )
   VALUES 
     ( 'Job Logging'     , @strID                , GETDATE()           , NULL           , @nPID   ,
       'Error'           , 'WA_CFDI_COBRANZA_FIX', @sMsg               , 'PL/SQL'       ,
       @sErrorCode       , NULL                  , NULL                , NULL            ) ;

END CATCH;
END ; -- Procedure
GO
