USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[WA_REMISION_SHIPTO]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[WA_REMISION_SHIPTO] 
    @pDays INT = 1
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sMsg        VARCHAR(500);
    DECLARE @sErrorCode  VARCHAR(30); 
    DECLARE @sFactura    VARCHAR(20);
    DECLARE @nDoctos     INT;
    DECLARE @sEtapa      VARCHAR(20);
    DECLARE @dtInicio    DATETIME;
--
    DECLARE @strID       VARCHAR(50);
    DECLARE @sAccnt_ID   VARCHAR(50);
    DECLARE @sClienteSAP VARCHAR(10);
    DECLARE @nPID        INT;
    DECLARE @nProceso    INT;
    DECLARE @nProceso1   INT;

    -- Variables cursor
    DECLARE @Cur_Factura           VARCHAR(50),
            @Cur_Fecha_Trn         DATETIME,
            @Cur_Fecha_Factura     DATETIME,
            @Cur_Clase_Remision    VARCHAR(50),
            @Cur_Destino           VARCHAR(50),
            @Cur_ShiptoParty       VARCHAR(50),
            @Cur_DeliveryType      VARCHAR(50),
            @Cur_Cust_to_SAP       VARCHAR(50),
            @Cur_Ship_to_SAP       VARCHAR(50),
            @Cur_ShiptoParty_Value VARCHAR(50);

    DECLARE ScrCursor CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT RG.Factura, RG.Fecha_Trn, RG.Fecha_Factura, RG.Clase_Remision, RG.Destino, RG.ShiptoParty, 
               Doc.DeliveryType, Doc.Cust_to_SAP, Doc.Ship_to_SAP,
               CASE
                   WHEN SUBSTRING( Doc.Ship_to_SAP, 1, 6 ) = 'PC-00-' THEN SUBSTRING( Doc.Ship_to_SAP, 7, 4 )
                   ELSE
                      Doc.Ship_to_SAP
               END AS ShiptoParty_Value
        FROM T3.Remision_General             RG ,
             EAI_Owner.tmp_Document_Header   Doc
        WHERE RG.Factura       = Doc.ReferenceID
          AND RG.Fecha_Trn     > DATEADD(day, -@pDays, GETDATE())
          AND RG.ShiptoParty IS NULL 
        UNION 
        SELECT RG.Factura, RG.Fecha_Trn, RG.Fecha_Factura, RG.Clase_Remision, RG.Destino, RG.ShiptoParty, 
               'C005'         AS DeliveryType, 
               PG.Cliente_SAP AS Cust_to_SAP , 
               PG.Cliente_SAP AS Ship_to_SAP ,
               PG.Cliente_SAP AS ShiptoParty_Value
        FROM T3.Remision_General             RG ,
             T3.Preventa_General             PG
        WHERE RG.PedidoSAP     = PG.Pedido
          AND RG.Fecha_Trn     > DATEADD(day, -@pDays, GETDATE())
          AND RG.ShiptoParty IS NULL ;                    
--
    BEGIN TRY
        BEGIN TRANSACTION;

        SET @nProceso1 = ISNULL(@nProceso1, 0) + 1 ;
        
        OPEN ScrCursor;
        FETCH NEXT FROM ScrCursor INTO 
            @Cur_Factura, @Cur_Fecha_Trn, @Cur_Fecha_Factura, @Cur_Clase_Remision, @Cur_Destino, 
            @Cur_ShiptoParty, @Cur_DeliveryType, @Cur_Cust_to_SAP, @Cur_Ship_to_SAP, @Cur_ShiptoParty_Value;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @nProceso1 = ISNULL(@nProceso1, 0) + 1 ;
            
            UPDATE T3.Remision_General SET ShiptoParty = @Cur_ShiptoParty_Value
            WHERE Factura = @Cur_Factura ;

            FETCH NEXT FROM ScrCursor INTO 
                @Cur_Factura, @Cur_Fecha_Trn, @Cur_Fecha_Factura, @Cur_Clase_Remision, @Cur_Destino, 
                @Cur_ShiptoParty, @Cur_DeliveryType, @Cur_Cust_to_SAP, @Cur_Ship_to_SAP, @Cur_ShiptoParty_Value;
        END ;            
        CLOSE ScrCursor ;
		COMMIT;
        IF CURSOR_STATUS('local','ScrCursor') >= -1 DEALLOCATE ScrCursor;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK ; -- el rollback no se hace sobre todo el proceso sino sobre el ciclo del cursor que haya fallado solamente
        IF CURSOR_STATUS('local','ScrCursor') >= -1
        BEGIN
            IF CURSOR_STATUS('local','ScrCursor') >= 0 CLOSE ScrCursor;
            DEALLOCATE ScrCursor;
        END

        SET @sMsg = SUBSTRING( CAST(ERROR_NUMBER() AS VARCHAR(30)) + '-' + ERROR_MESSAGE(), 1, 250 ) ;
        SET @sMsg = SUBSTRING( ERROR_MESSAGE(), 1, 250 ) ;
        
        PRINT REPLICATE( '-', 80 ) ;
        PRINT 'Problemas en la ejecucion del Procedimiento' ;
        PRINT 'FAVOR DE ESCALAR LOS SIGUIENTES DATOS :' ;
        PRINT 'Procedimiento : ' + 'WA_REMISION_SHIPTO' ;
        PRINT 'Fecha         : ' + CONVERT(VARCHAR(8), GETDATE(), 112) + ' ' + CONVERT(VARCHAR(8), GETDATE(), 108) ;
        PRINT 'Referencia    : ' + ISNULL(@strID, '') ;
        PRINT 'Error         : ' + ISNULL(@sMsg, '') ;
        PRINT REPLICATE( '-', 80 ) ;
        
--      INSERT INTO T3.RF_ERROR_LOG 
--         ( FECHA, RUTINA, REFERENCIA, ERROR_DESC )
--      VALUES
--         ( GETDATE(), 'WA_CFDI_COBRANZA', @strID, @sMsg ) ;

        SET @sErrorCode = 'SQL-' + CAST(ERROR_NUMBER() AS VARCHAR(30)) ;
        SET @sMsg = SUBSTRING( CAST(ERROR_NUMBER() AS VARCHAR(30)) + '-' + ERROR_MESSAGE(), 1, 250 ) ;      
        
        INSERT INTO EAI_OWNER.MX_EAI_MESSAGE_LOG
          ( DIRECTION          , REFERENCE            , CREATED              , MESSAGE        , JOB_PID,
            STATUS             , QUEUE_NAME           , SIEBEL_ERROR_MESSAGE, SOURCE          , 
            SIEBEL_ERROR_CODE  , RETRY_COUNT          , SEQUENCE             , PARENT_ROW_ID   )
        VALUES 
          ( 'Job Logging'      , @strID               , GETDATE()            , NULL           , @nPID   ,
            'Error'            , 'WA_REMISION_SHIPTO' , @sMsg                , 'PL/SQL'       ,
            @sErrorCode        , NULL                 , NULL                 , NULL            ) ;
            
    END CATCH
END ; 
GO
