USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[WA_FOLIO_FISCAL_VALORES]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [T3].[WA_FOLIO_FISCAL_VALORES] 
    @sFactura VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @nDoctos INT;
    DECLARE @sMsg    VARCHAR(500);

    -- Variables cursor
    DECLARE @Cur_Factura       VARCHAR(50),
            @Cur_FolioFiscal   VARCHAR(50),
            @Cur_FechaTimbre   VARCHAR(50),
            @Cur_SubTotal      NUMERIC(18,4),
            @Cur_Descuento     NUMERIC(18,4),
            @Cur_Valor_IVA     NUMERIC(18,4),
            @Cur_Total         NUMERIC(18,4),
            @Cur_V32_Version   VARCHAR(10),
            @Cur_CFD_Version   VARCHAR(10),
            @Cur_V33_SubTotal  NUMERIC(18,4),
            @Cur_V33_Descuento NUMERIC(18,4),
            @Cur_V33_Valor_IVA NUMERIC(18,4),
            @Cur_V33_Total     NUMERIC(18,4);

    DECLARE Docto CURSOR LOCAL FORWARD_ONLY STATIC FOR
        WITH XMLNAMESPACES (
            'http://www.sat.gob.mx/cfd/3' AS cfdi,
            'http://www.sat.gob.mx/TimbreFiscalDigital' AS tfd
        )
        SELECT
              CFD.Factura,
              CAST(CFD.Anexo_CFD AS XML).value('(/cfdi:Comprobante/cfdi:Complemento/tfd:TimbreFiscalDigital/@UUID)[1]', 'VARCHAR(50)') AS FolioFiscal,
              
              CAST(CFD.Anexo_CFD AS XML).value('(/cfdi:Comprobante/cfdi:Complemento/tfd:TimbreFiscalDigital/@FechaTimbrado)[1]', 'VARCHAR(50)') AS FechaTimbre,
              CAST(CFD.Anexo_CFD AS XML).value('(/cfdi:Comprobante/@subTotal)[1]', 'NUMERIC(18,4)') AS SubTotal,
              CAST(CFD.Anexo_CFD AS XML).value('(/cfdi:Comprobante/@descuento)[1]', 'NUMERIC(18,4)') AS Descuento,            
              CAST(CFD.Anexo_CFD AS XML).value('(/cfdi:Comprobante/cfdi:Impuestos/@totalImpuestosTrasladados)[1]', 'NUMERIC(18,4)') AS Valor_IVA,
              CAST(CFD.Anexo_CFD AS XML).value('(/cfdi:Comprobante/@total)[1]', 'NUMERIC(18,4)') AS Total,
              CAST(CFD.Anexo_CFD AS XML).value('(/cfdi:Comprobante/@version)[1]', 'VARCHAR(10)') AS V32_Version,
              CAST(CFD.Anexo_CFD AS XML).value('(/cfdi:Comprobante/@Version)[1]', 'VARCHAR(10)') AS CFD_Version,
              CAST(CFD.Anexo_CFD AS XML).value('(/cfdi:Comprobante/@SubTotal)[1]', 'NUMERIC(18,4)') AS V33_SubTotal, 
              CAST(CFD.Anexo_CFD AS XML).value('(/cfdi:Comprobante/@Descuento)[1]', 'NUMERIC(18,4)') AS V33_Descuento, 
              CAST(CFD.Anexo_CFD AS XML).value('(/cfdi:Comprobante/cfdi:Impuestos/@TotalImpuestosTrasladados)[1]', 'NUMERIC(18,4)') AS V33_Valor_IVA,
              CAST(CFD.Anexo_CFD AS XML).value('(/cfdi:Comprobante/@Total)[1]', 'NUMERIC(18,4)') AS V33_Total                
        FROM T3.RF_Documentos CFD
        WHERE CFD.Factura = @sFactura ;
--
    BEGIN TRY
        SET @nDoctos = 0 ;

        OPEN Docto;
        FETCH NEXT FROM Docto INTO 
            @Cur_Factura, @Cur_FolioFiscal, @Cur_FechaTimbre, @Cur_SubTotal, @Cur_Descuento, 
            @Cur_Valor_IVA, @Cur_Total, @Cur_V32_Version, @Cur_CFD_Version, @Cur_V33_SubTotal, 
            @Cur_V33_Descuento, @Cur_V33_Valor_IVA, @Cur_V33_Total;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            IF ( @Cur_V32_Version = '3.2' ) 
            BEGIN
                UPDATE T3.CFDI_Documentos SET 
                    Valor_Subt = @Cur_SubTotal - ISNULL( @Cur_Descuento, 0 ),
                    Valor_IVA  = @Cur_Valor_IVA  
                WHERE Nota_Venta = @sFactura ;
            END
            ELSE IF ( @Cur_CFD_Version = '3.3' ) 
            BEGIN
                UPDATE T3.CFDI_Documentos SET 
                    Valor_Subt = @Cur_V33_SubTotal - ISNULL( @Cur_V33_Descuento, 0 ),
                    Valor_IVA  = @Cur_V33_Valor_IVA                              
                WHERE Nota_Venta = @sFactura ;
            END ;

            FETCH NEXT FROM Docto INTO 
                @Cur_Factura, @Cur_FolioFiscal, @Cur_FechaTimbre, @Cur_SubTotal, @Cur_Descuento, 
                @Cur_Valor_IVA, @Cur_Total, @Cur_V32_Version, @Cur_CFD_Version, @Cur_V33_SubTotal, 
                @Cur_V33_Descuento, @Cur_V33_Valor_IVA, @Cur_V33_Total;
        END ;
        CLOSE Docto ;
        IF CURSOR_STATUS('local','Docto') >= -1 DEALLOCATE Docto;

    END TRY
    BEGIN CATCH

        IF CURSOR_STATUS('local','Docto') >= -1
        BEGIN
            IF CURSOR_STATUS('local','Docto') >= 0 CLOSE Docto;
            DEALLOCATE Docto;
        END

        SET @sMsg = SUBSTRING( 'ERROR SQL ' + CAST(ERROR_NUMBER() AS VARCHAR(30)) + ' ' + ERROR_MESSAGE(), 1, 480 ) ;
        
        PRINT '************* Mensaje *************' ;
        PRINT '*** Error en WA_Folio_Fiscal  ***' ;
        PRINT @sMsg ;          
    END CATCH
END ; -- Procedure
GO
