USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[WA_SOPORTE_EAI2]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [T3].[WA_SOPORTE_EAI2]
   @sReference   VARCHAR(max), 
   @sWorkaround  VARCHAR(max)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @nDoctos        NUMERIC(6);
    DECLARE @dtFecha        DATETIME;
    DECLARE @dtFactura      DATETIME;
    DECLARE @sMsg           VARCHAR(500);
    DECLARE @sTipoDocto     VARCHAR(5);
    DECLARE @nItems         NUMERIC(6);
    DECLARE @dtFechaTrn     DATETIME;
--
    DECLARE @nCreditoSubt   NUMERIC(10,2);
    DECLARE @nItems_SinIVA  NUMERIC(4);
    DECLARE @nItemsConIVA   NUMERIC(4);
    DECLARE @nIssue_CF      NUMERIC(4);

    -- Variables cursores
    DECLARE @Doc_Factura VARCHAR(255), @Doc_Hora_Factura VARCHAR(255), @Doc_Anio_Aprob VARCHAR(255), @Doc_Folio_Aprob VARCHAR(255), @Doc_Rep_ID VARCHAR(255), @Doc_Sociedad VARCHAR(255), @Doc_Cadena_Original VARCHAR(255), @Doc_Sello_Digital VARCHAR(255), @Doc_Dias_Cdto NUMERIC(10,2), @Doc_Operacion VARCHAR(255), @Doc_Tipo_Docto VARCHAR(255), @Doc_Cliente_SAP VARCHAR(255), @Doc_Liberar VARCHAR(255);
    DECLARE @Doc_Nota_Venta_CFDI VARCHAR(255), @Doc_Num_Line NUMERIC(10,2), @Doc_Material VARCHAR(255), @Doc_Valor_Subt NUMERIC(10,2), @Doc_Valor_IVA NUMERIC(10,2), @Doc_Calc_Valor_IVA NUMERIC(10,2), @Doc_Dif_Valor_IVA NUMERIC(10,2), @Doc_Envio_Subt NUMERIC(10,2), @Doc_Envio_IVA NUMERIC(10,2), @Doc_Calc_Envio_IVA NUMERIC(10,2), @Doc_Dif_Envio_IVA NUMERIC(10,2), @Doc_Credito_Subt NUMERIC(10,2), @Doc_Credito_IVA NUMERIC(10,2), @Doc_Calc_Cred_IVA NUMERIC(10,2), @Doc_Dif_Cred_IVA NUMERIC(10,2);
    DECLARE @Doc_Num_Linea NUMERIC(10,2), @Doc_Cantidad_Vta NUMERIC(10,2), @Doc_CalcPrecioUnit NUMERIC(10,2), @Doc_CalcValor_Subt NUMERIC(10,2), @Doc_CalcValor_IVA NUMERIC(10,2);
    DECLARE @Doc_Factura_Ind VARCHAR(255), @Doc_Num_Linea_Ind NUMERIC(10,2), @Doc_Material_Ind VARCHAR(255), @Doc_Valor_Subt_Ind NUMERIC(10,2), @Doc_Valor_IVA_Ind NUMERIC(10,2), @Doc_Envio_Subt_Ind NUMERIC(10,2), @Doc_Envio_IVA_Ind NUMERIC(10,2), @Doc_Credito_Subt_Ind NUMERIC(10,2), @Doc_Credito_IVA_Ind NUMERIC(10,2);
    DECLARE @Doc_Nota_Venta_CFDI_Agr VARCHAR(255), @Doc_Num_Linea_Agr NUMERIC(10,2), @Doc_Material_Agr VARCHAR(255), @Doc_Valor_Subt_Agr NUMERIC(10,2), @Doc_Valor_IVA_Agr NUMERIC(10,2), @Doc_Credito_Subt_Agr NUMERIC(10,2), @Doc_Credito_IVA_Agr NUMERIC(10,2);
    DECLARE @Doc_Tipo_Docto_Aj VARCHAR(255), @Doc_Factura_Aj VARCHAR(255), @Doc_Num_Linea_Aj NUMERIC(10,2), @Doc_Material_Aj VARCHAR(255), @Doc_Valor_Subt_Aj NUMERIC(10,2), @Doc_Valor_IVA_Aj NUMERIC(10,2), @Doc_Valor_IVA_Calculado_Aj NUMERIC(10,2);

    DECLARE DoctoComplemento CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT HDP.Nota_Venta                                 AS Factura        ,
               CONVERT(VARCHAR(8), DATEADD(hour, -3, GETDATE()), 108) AS Hora_Factura   ,
               'Error'                                         AS Anio_Aprob     ,
               'Error'                                         AS Folio_Aprob    ,
               'U00000000'                                     AS Rep_ID         ,
               'MX06'                                          AS Sociedad       ,
               'CFDI - Documento'                               AS Cadena_Original,
               'CFDI - Documento'                               AS Sello_Digital  ,
               ISNULL( MC.Dias_Cdto, 0 )                       AS Dias_Cdto      ,
               ISNULL( Comp.Sello_Digital, 'INSERT' )          AS Operacion      ,
               FG.Tipo_Docto                                   AS Tipo_Docto     ,
               FG.Cliente_SAP                                  AS Cliente_SAP    ,
               ISNULL( CFD.Ctro, 'LIB' )                       AS Liberar
          FROM T3.CFDI_Historia_Docto_PAC HDP
          INNER JOIN T3.Registro_Fiscal     FG   ON HDP.Nota_Venta = FG.Factura
          INNER JOIN T3.Mov_Cliente         MC   ON FG.Cliente_SAP = MC.Cliente_SAP
          LEFT JOIN T3.RF_Complemento      Comp ON HDP.Nota_Venta = Comp.Factura
          LEFT JOIN T3.CFDI_Documentos     CFD  ON HDP.Nota_Venta = CFD.Nota_Venta
          WHERE HDP.Nota_Venta = @sReference
            AND HDP.Nota_Venta = HDP.Nota_Venta_CFDI;
--
    DECLARE DoctoAgrupado CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT Det.Nota_Venta_CFDI                                  AS Nota_Venta_CFDI,
               Det.Num_Linea                                        AS Num_Linea      ,
               Det.Material                                         AS Material       ,
               Det.Valor_Subt                                       AS Valor_Subt     ,
               Det.Valor_IVA                                        AS Valor_IVA      , 
               ROUND( Det.Valor_Subt * 0.16, 2 )                    AS Calc_Valor_IVA ,
               CASE WHEN Det.Valor_IVA = 0 THEN 0 ELSE ROUND( Det.Valor_Subt *.16,2 ) - Det.Valor_IVA END AS Dif_Valor_IVA  ,
               Det.Envio_Subt                                       AS Envio_Subt     ,
               Det.Envio_IVA                                        AS Envio_IVA      , 
               ROUND( Det.Envio_Subt * 0.16, 2 )                    AS Calc_Envio_IVA ,
               CASE WHEN Det.Valor_IVA = 0 THEN 0 ELSE ROUND( Det.Envio_Subt *.16,2 ) - Det.Envio_IVA END AS Dif_Envio_IVA  ,
               ISNULL( Det.Credito_Subt, 0 )                        AS Credito_Subt   ,
               ISNULL( Det.Credito_IVA , 0 )                        AS Credito_IVA    , 
               ROUND( ISNULL( Det.Credito_Subt, 0 ) * 0.16, 2 )        AS Calc_Cred_IVA  ,
               CASE WHEN Det.Valor_IVA = 0 THEN 0 ELSE ROUND( ISNULL( Det.Credito_Subt, 0 ) *.16,2 ) - ISNULL( Det.Credito_IVA, 0 ) END AS Dif_Cred_IVA
          FROM T3.CFDI_Agrupado_Detalle Det
          WHERE Det.Nota_Venta_CFDI = @sReference 
          ORDER BY Det.Num_Linea ;
--
    DECLARE PrecioNegativo CURSOR LOCAL FORWARD_ONLY STATIC FOR
       SELECT Num_Linea, Material, Cantidad_Vta,
              Precio_Unitario                AS CalcPrecioUnit,
              Cantidad_Vta * Precio_Unitario AS CalcValor_Subt,
              ROUND( Cantidad_Vta * Precio_Unitario
                 * CASE WHEN Valor_IVA = 0 THEN 0 ELSE 16 END / 100, 2 )
                                             AS CalcValor_IVA 
          FROM (
                 SELECT Num_Linea                                                                  AS Num_Linea       ,
                        Material                                                                   AS Material        ,
                        Cantidad_Vta                                                               AS Cantidad_Vta    ,
                        Precio_Unit                                                                AS Precio_Unit     , 
                        Valor_Subt                                                                 AS Valor_Subt      , 
                        Valor_IVA                                                                  AS Valor_IVA       , 
--
                        ROUND( ISNULL( Valor_Subt, 0 ) / Cantidad_Vta, 2 )   AS Calc_Precio_Unit,
                        CASE
                            WHEN ( ( Precio_Unit < 9 ) AND ( Cantidad_Vta =  1 ) ) THEN 0.10
                            WHEN ( ( Precio_Unit < 9 ) AND ( Cantidad_Vta =  2 ) ) THEN 0.05
                            WHEN ( ( Precio_Unit < 9 ) AND ( Cantidad_Vta =  3 ) ) THEN 0.04
                            WHEN ( ( Precio_Unit < 9 ) AND ( Cantidad_Vta =  4 ) ) THEN 0.03
                            WHEN ( ( Precio_Unit < 9 ) AND ( Cantidad_Vta =  5 ) ) THEN 0.02
                            WHEN ( ( Precio_Unit < 9 ) AND ( Cantidad_Vta =  6 ) ) THEN 0.02
                            WHEN ( ( Precio_Unit < 9 ) AND ( Cantidad_Vta =  7 ) ) THEN 0.02
                            WHEN ( ( Precio_Unit < 9 ) AND ( Cantidad_Vta =  8 ) ) THEN 0.02
                            WHEN ( ( Precio_Unit < 9 ) AND ( Cantidad_Vta =  9 ) ) THEN 0.02
                            WHEN ( ( Precio_Unit < 9 ) AND ( Cantidad_Vta >  9 ) ) THEN 0.01
                            ELSE
                               Precio_Unit
                        END                                                                               AS Precio_Unitario
                  FROM T3.Factura_Detalle
                  WHERE Factura               = @sReference
                    AND ISNULL( Precio_Unit, 0 ) < 0
               ) InlineView ; 
--
    DECLARE ScrCF_NoIVA_Ind CURSOR LOCAL FORWARD_ONLY STATIC FOR
       SELECT Factura, Num_Linea, Material, Valor_Subt, Valor_IVA, Envio_Subt, Envio_IVA, 
              ISNULL( Credito_Subt, 0 ) AS Credito_Subt,
              ISNULL( Credito_IVA , 0 ) AS Credito_IVA
          FROM T3.Registro_Fiscal_Detalle 
          WHERE Factura = @sReference
            AND ISNULL( Credito_Subt, 0 ) > 0 ;   
--
    DECLARE ScrCF_NoIVA_Agr CURSOR LOCAL FORWARD_ONLY STATIC FOR
       SELECT Nota_Venta_CFDI, Num_Linea, Material, 
              ISNULL( CFD.Valor_Subt   , 0 ) AS Valor_Subt  , 
              ISNULL( CFD.Valor_IVA    , 0 ) AS Valor_IVA   ,
              ISNULL( CFD.Credito_Subt, 0 ) AS Credito_Subt,
              ISNULL( CFD.Credito_IVA , 0 ) AS Credito_IVA
          FROM T3.CFDI_Agrupado_Detalle CFD
          WHERE Nota_Venta_CFDI = @sReference
          ORDER BY ISNULL( Credito_IVA, 0 ) ASC , ISNULL( Credito_Subt, 0 ) DESC ;
--
    DECLARE ScrAjuste_IVA CURSOR LOCAL FORWARD_ONLY STATIC FOR
       SELECT Doc.Tipo_Docto, Det.Factura, Det.Num_Linea, Det.Material, Det.Valor_Subt, Det.Valor_IVA,
              ROUND( Det.Valor_Subt * 0.16, 2 ) AS Valor_IVA_Calculado
          FROM T3.Registro_Fiscal         Doc,
               T3.Registro_Fiscal_Detalle Det
          WHERE Doc.Factura = @sReference
            AND Doc.Factura = Det.Factura ;

    BEGIN TRY
        SET @nDoctos = 0 ;
        IF ( UPPER( @sWorkAround ) = 'CF_SIN_IVA_IND' )
        BEGIN
           OPEN ScrCF_NoIVA_Ind ;
           FETCH NEXT FROM ScrCF_NoIVA_Ind INTO @Doc_Factura_Ind, @Doc_Num_Linea_Ind, @Doc_Material_Ind, @Doc_Valor_Subt_Ind, @Doc_Valor_IVA_Ind, @Doc_Envio_Subt_Ind, @Doc_Envio_IVA_Ind, @Doc_Credito_Subt_Ind, @Doc_Credito_IVA_Ind;
           WHILE @@FETCH_STATUS = 0
           BEGIN
              IF ( ISNULL( @Doc_Credito_IVA_Ind, 0 ) = 0 )
              BEGIN
                 SET @nDoctos = @nDoctos + 1 ;
                 UPDATE T3.Registro_Fiscal_Detalle SET Credito_IVA = ROUND( @Doc_Credito_Subt_Ind * .16, 2 )
                    WHERE Factura   = @Doc_Factura_Ind
                      AND Num_Linea = @Doc_Num_Linea_Ind
                      AND Material  = @Doc_Material_Ind ;
              END ;
              FETCH NEXT FROM ScrCF_NoIVA_Ind INTO @Doc_Factura_Ind, @Doc_Num_Linea_Ind, @Doc_Material_Ind, @Doc_Valor_Subt_Ind, @Doc_Valor_IVA_Ind, @Doc_Envio_Subt_Ind, @Doc_Envio_IVA_Ind, @Doc_Credito_Subt_Ind, @Doc_Credito_IVA_Ind;
           END ;
           CLOSE ScrCF_NoIVA_Ind;
           DEALLOCATE ScrCF_NoIVA_Ind;

           IF ( @nDoctos > 0 )
           BEGIN
              EXEC T3.PROC_V40_GENERAR_MX06 @sReference ;
           END ;
        END ;

        IF ( UPPER( @sWorkAround ) = 'CF_SIN_IVA_AGR' )
        BEGIN
            SELECT @nItems_SinIVA = SUM( CASE WHEN Valor_IVA = 0 THEN 1 ELSE 0 END ),
                   @nItemsConIVA  = SUM( CASE WHEN Valor_IVA = 0 THEN 0 ELSE 1 END ),
                   @nIssue_CF     = SUM( CASE WHEN ISNULL( Credito_Subt, 0 ) = 0 THEN 0 ELSE CASE WHEN Credito_IVA = 0 THEN 1 ELSE 0 END END )
               FROM T3.CFDI_Agrupado_Detalle CFD
               WHERE Nota_Venta_CFDI = @sReference ;

            IF ( ( @nIssue_CF > 0 ) AND ( @nItemsConIVA > 0 ) )
            BEGIN
               SET @nCreditoSubt = 0 ;
               OPEN ScrCF_NoIVA_Agr ;
               FETCH NEXT FROM ScrCF_NoIVA_Agr INTO @Doc_Nota_Venta_CFDI_Agr, @Doc_Num_Linea_Agr, @Doc_Material_Agr, @Doc_Valor_Subt_Agr, @Doc_Valor_IVA_Agr, @Doc_Credito_Subt_Agr, @Doc_Credito_IVA_Agr;
               WHILE @@FETCH_STATUS = 0
               BEGIN
                  IF ( ( @Doc_Credito_Subt_Agr > 0 ) AND ( @Doc_Credito_IVA_Agr = 0 ) )
                  BEGIN
                     SET @nCreditoSubt = @nCreditoSubt + @Doc_Credito_Subt_Agr ;
                     UPDATE T3.CFDI_Agrupado_Detalle SET Credito_Subt = 0
                        WHERE Nota_Venta_CFDI = @Doc_Nota_Venta_CFDI_Agr 
                          AND Num_Linea       = @Doc_Num_Linea_Agr 
                          AND Material        = @Doc_Material_Agr ;
                  END ;
                  FETCH NEXT FROM ScrCF_NoIVA_Agr INTO @Doc_Nota_Venta_CFDI_Agr, @Doc_Num_Linea_Agr, @Doc_Material_Agr, @Doc_Valor_Subt_Agr, @Doc_Valor_IVA_Agr, @Doc_Credito_Subt_Agr, @Doc_Credito_IVA_Agr;
               END ;
               CLOSE ScrCF_NoIVA_Agr;
--
               SET @nDoctos = 0 ;
               OPEN ScrCF_NoIVA_Agr ;
               FETCH NEXT FROM ScrCF_NoIVA_Agr INTO @Doc_Nota_Venta_CFDI_Agr, @Doc_Num_Linea_Agr, @Doc_Material_Agr, @Doc_Valor_Subt_Agr, @Doc_Valor_IVA_Agr, @Doc_Credito_Subt_Agr, @Doc_Credito_IVA_Agr;
               WHILE @@FETCH_STATUS = 0
               BEGIN
                  IF ( ( @Doc_Valor_IVA_Agr > 0 ) AND ( @nDoctos = 0 ) )
                  BEGIN
                     SET @nCreditoSubt = @nCreditoSubt + @Doc_Credito_Subt_Agr ;
                     UPDATE T3.CFDI_Agrupado_Detalle SET Credito_Subt = @nCreditoSubt,
                                                          Credito_IVA  = ROUND( @nCreditoSubt * .16, 2 )
                        WHERE Nota_Venta_CFDI = @Doc_Nota_Venta_CFDI_Agr 
                          AND Num_Linea       = @Doc_Num_Linea_Agr 
                          AND Material        = @Doc_Material_Agr ;
                     SET @nDoctos = @nDoctos + 1 ;
                  END ;
                  FETCH NEXT FROM ScrCF_NoIVA_Agr INTO @Doc_Nota_Venta_CFDI_Agr, @Doc_Num_Linea_Agr, @Doc_Material_Agr, @Doc_Valor_Subt_Agr, @Doc_Valor_IVA_Agr, @Doc_Credito_Subt_Agr, @Doc_Credito_IVA_Agr;
               END ;
               CLOSE ScrCF_NoIVA_Agr;
               DEALLOCATE ScrCF_NoIVA_Agr;

               IF ( @nDoctos > 0 )
               BEGIN 
                  EXEC WA_SOPORTE_EAI @sReference, 'CFDI_AGRUPADO' ; 
               END ;
            END ;
        END ;        
--   
        IF ( UPPER( @sWorkAround ) = 'RF_COMPLEMENTO' )
        BEGIN
           OPEN DoctoComplemento ;
           FETCH NEXT FROM DoctoComplemento INTO @Doc_Factura, @Doc_Hora_Factura, @Doc_Anio_Aprob, @Doc_Folio_Aprob, @Doc_Rep_ID, @Doc_Sociedad, @Doc_Cadena_Original, @Doc_Sello_Digital, @Doc_Dias_Cdto, @Doc_Operacion, @Doc_Tipo_Docto, @Doc_Cliente_SAP, @Doc_Liberar;
           WHILE @@FETCH_STATUS = 0
           BEGIN
              IF ( @Doc_Operacion = 'INSERT' )
              BEGIN
                 SET @nDoctos = @nDoctos + 1 ;
                 INSERT INTO T3.RF_Complemento 
                    ( Factura, Hora_Factura, Anio_Aprob, Folio_Aprob, Rep_ID, Sociedad, Cadena_Original, Sello_Digital, Dias_Pago )
                 VALUES
                    ( @Doc_Factura, @Doc_Hora_Factura, @Doc_Anio_Aprob, @Doc_Folio_Aprob, @Doc_Rep_ID, @Doc_Sociedad, @Doc_Cadena_Original, @Doc_Sello_Digital, @Doc_Dias_Cdto ) ;
                 IF ( @Doc_Tipo_Docto IN ( 'C003', 'C005' ) )
                 BEGIN
                    EXEC T3.PROC_VSF_GENERAR_MX06 @Doc_Factura, @Doc_Cliente_SAP ;
                 END ;
              END ;
              FETCH NEXT FROM DoctoComplemento INTO @Doc_Factura, @Doc_Hora_Factura, @Doc_Anio_Aprob, @Doc_Folio_Aprob, @Doc_Rep_ID, @Doc_Sociedad, @Doc_Cadena_Original, @Doc_Sello_Digital, @Doc_Dias_Cdto, @Doc_Operacion, @Doc_Tipo_Docto, @Doc_Cliente_SAP, @Doc_Liberar;
           END ;
           CLOSE DoctoComplemento;
           DEALLOCATE DoctoComplemento;
        END ;   
--
        IF ( UPPER( @sWorkAround ) = 'CFDI_AGRUPADO' )
        BEGIN
           OPEN DoctoAgrupado ;
           FETCH NEXT FROM DoctoAgrupado INTO @Doc_Nota_Venta_CFDI, @Doc_Num_Line, @Doc_Material, @Doc_Valor_Subt, @Doc_Valor_IVA, @Doc_Calc_Valor_IVA, @Doc_Dif_Valor_IVA, @Doc_Envio_Subt, @Doc_Envio_IVA, @Doc_Calc_Envio_IVA, @Doc_Dif_Envio_IVA, @Doc_Credito_Subt, @Doc_Credito_IVA, @Doc_Calc_Cred_IVA, @Doc_Dif_Cred_IVA;
           WHILE @@FETCH_STATUS = 0
           BEGIN
              IF ( ABS( @Doc_Dif_Valor_IVA ) >= 0.10 )
              BEGIN
                 SET @nDoctos = @nDoctos + 1 ;
                 UPDATE T3.CFDI_Agrupado_Detalle SET Valor_IVA = @Doc_Calc_Valor_IVA
                    WHERE Nota_Venta_CFDI = @Doc_Nota_Venta_CFDI
                      AND Num_Linea       = @Doc_Num_Line ;
              END ;
              IF ( ABS( @Doc_Dif_Envio_IVA ) >= 0.05 )
              BEGIN
                 SET @nDoctos = @nDoctos + 1 ;
                 UPDATE T3.CFDI_Agrupado_Detalle SET Envio_IVA = @Doc_Calc_Envio_IVA
                    WHERE Nota_Venta_CFDI = @Doc_Nota_Venta_CFDI
                      AND Num_Linea       = @Doc_Num_Line ;
              END ;
              IF ( ABS( @Doc_Dif_Cred_IVA ) >= 0.05 )
              BEGIN
                 SET @nDoctos = @nDoctos + 1 ;
                 UPDATE T3.CFDI_Agrupado_Detalle SET Credito_IVA = @Doc_Calc_Cred_IVA
                    WHERE Nota_Venta_CFDI = @Doc_Nota_Venta_CFDI
                      AND Num_Linea       = @Doc_Num_Line ;
              END ;
              FETCH NEXT FROM DoctoAgrupado INTO @Doc_Nota_Venta_CFDI, @Doc_Num_Line, @Doc_Material, @Doc_Valor_Subt, @Doc_Valor_IVA, @Doc_Calc_Valor_IVA, @Doc_Dif_Valor_IVA, @Doc_Envio_Subt, @Doc_Envio_IVA, @Doc_Calc_Envio_IVA, @Doc_Dif_Envio_IVA, @Doc_Credito_Subt, @Doc_Credito_IVA, @Doc_Calc_Cred_IVA, @Doc_Dif_Cred_IVA;
           END ;
           CLOSE DoctoAgrupado;
           DEALLOCATE DoctoAgrupado;

           IF ( @nDoctos > 0 )
           BEGIN
              EXEC PROC_V40_GENERAR_AGR @sReference ;
           END ;
        END ;

        IF ( UPPER( @sWorkAround ) = 'FG_MANUAL' )
        BEGIN
           SELECT @nItems = COUNT( FDP.Material ), @dtFechaTrn = MAX( FG.Fecha_Trn )
              FROM T3.Factura_Detalles_Paso FDP
              LEFT JOIN T3.Factura_General FG ON FDP.Factura = FG.Factura
              WHERE FDP.Factura = @sReference ;

           IF ( ( @nItems > 0 ) AND ( @dtFechaTrn IS NULL ) )
           BEGIN
              INSERT INTO T3.Factura_General
                 ( Factura   , Distribuidor, Fecha_Factura, Tipo_Docto     , Cliente_V3      , Cliente_SAP,
                   Ubicacion , Rep_ID      , Status       , Clte_Factura_V3, Clte_Factura_SAP, Fecha_Trn  ,
                   Fecha_Pago, Row_ID      , Ctro         , Entrega        , Pedido          , Referencia ,
                   Valor_Subt, Valor_IVA   , Valor_ISSA   )
              SELECT SAP.Doc_Num_Ref2                       AS Factura         , 
                     DF.Distribuidor                        AS Distribuidor    ,
                     CONVERT(DATETIME, SAP.Doc_Date, 112)   AS Fecha_Factura   ,
                     CASE SAP.Doc_Type WHEN 'C003' THEN 'C003'
                                       WHEN 'C005' THEN 'C003'
                                       ELSE 'C004' END      AS Tipo_Docto      , 
                     Cte.Cliente_V3                         AS Cliente_V3      ,
                     RIGHT('0000000000' + ISNULL(SAP.Customer,''), 10) AS Cliente_SAP     ,
                     'TBD'                                  AS Ubicacion       ,
                     ''                                     AS Rep_ID          ,
                     ''                                     AS Statu          ,
                     ''                                     AS Clte_Factura_V3 ,
                     HCte.Clte_Factura_SAP                  AS Clte_Factura_SAP,
                     GETDATE()                              AS Fecha_Trn       ,
                     DATEADD(day, ISNULL( TRY_CAST(Cte.Dias_Cdto AS INT), 0 ), CONVERT(DATETIME, SAP.Doc_Date, 112)) AS Fecha_Pago,
                     SAP.Doc_Num_R3                         AS Row_ID          ,
                     SAP.Distributor                        AS Ctro            ,
                     SAP.Doc_Num_R3                         AS Entrega         ,
                     SAP.Doc_Ord_R3                         AS Pedido          ,
                     SAP.Doc_Num_Ref2                       AS Referencia      ,
                     0                                      AS Valor_Subt      ,
                     0                                      AS Valor_IVA       ,
                     0                                      AS Valor_ISSA
                 FROM EAI.T3R_Sales_Docs_Old  SAP ,
                      T3.Distribuidor_Fiscal  DF  ,
                      T3.Mov_Cliente          Cte ,
                      T3.Cliente              HCte
                 WHERE SAP.Doc_Num_Ref2 = @sReference
                   AND SAP.Doc_Status   = 'C'
                   AND SAP.Distributor  = DF.Ctro
                   AND RIGHT('0000000000' + ISNULL(SAP.Customer,''), 10) = Cte.Cliente_SAP 
                   AND RIGHT('0000000000' + ISNULL(SAP.Customer,''), 10) = HCte.Cliente_SAP
                   AND CONVERT(DATETIME, SAP.Doc_Date, 112) BETWEEN HCte.Fecha_Ini_Vig AND HCte.Fecha_Fin_Vig ;

				

              INSERT INTO T3.Factura_Detalle 
						(FACTURA,NUM_LINEA,MATERIAL,CANTIDAD_VTA,STATUS_PROD,PRECIO_UNIT,
						VALOR_SUBT,VALOR_TOT,VALOR_DESC,VALOR_IVA,VALOR_ISSA,BONIF_SUBT,CREDITO_SUBT,CREDITO_IVA,BONIF_IVA,BONIF_PORC,BONIF_VOL,ENVIO_SUBT,ENVIO_IVA,UNIDAD_MED_VTA)
                 SELECT Factura     , Num_Linea   , Material  , Cantidad_Vta, Status_Prod, Precio_Unit   , 
                        Valor_Subt  , Valor_Tot   , Valor_Desc, Valor_IVA   , Valor_ISSA , Bonif_Subt    , 
                        ISNULL( Credito_Subt, 0), ISNULL( Credito_IVA , 0),
                        Bonif_IVA   , Bonif_Porc, Bonif_Vol , Envio_Subt  , Envio_IVA  , Unidad_Med_Vta
                 FROM T3.Factura_Detalles_Paso
                 WHERE Factura = @sReference ; 

              UPDATE PG SET PG.Bonif_Subt = Src.Bonif_Subt, PG.Bonif_IVA = Src.Bonif_IVA, PG.Valor_Subt = Src.Valor_Subt, PG.Valor_IVA = Src.Valor_IVA, PG.Envio_Subt = Src.Envio_Subt, PG.Envio_IVA = Src.Envio_IVA, PG.Credito_Subt = Src.Credito_Subt, PG.Credito_IVA = Src.Credito_IVA
              FROM T3.Factura_General PG
              CROSS APPLY (
                 SELECT SUM( ISNULL( PD.Bonif_Subt  , 0 )  ) AS Bonif_Subt  ,
                        SUM( ISNULL( PD.Bonif_IVA   , 0 )  ) AS Bonif_IVA   ,
                        SUM( ISNULL( PD.Valor_Subt  , 0 )  ) AS Valor_Subt  ,
                        SUM( ISNULL( PD.Valor_IVA   , 0 )  ) AS Valor_IVA   ,
                        SUM( ISNULL( PD.Envio_Subt  , 0 )  ) AS Envio_Subt  ,
                        SUM( ISNULL( PD.Envio_IVA   , 0 )  ) AS Envio_IVA   ,              
                        SUM( ISNULL( PD.Credito_Subt, 0 )  ) AS Credito_Subt,
                        SUM( ISNULL( PD.Credito_IVA , 0 )  ) AS Credito_IVA 
                 FROM T3.Factura_Detalle PD
                 WHERE PD.Factura = PG.Factura
              ) Src
              WHERE PG.Factura = @sReference ;     

              INSERT INTO T3.RF_Complemento 
                 ( Factura     , Hora_Factura, Anio_Aprob, Folio_Aprob, Order_Num    , Rep_ID     , X_DelRep_Invloc, 
                   Volumen     , Sociedad    , Cadena_Original        , Sello_Digital, Dias_Pago )
              SELECT Doc.Factura, CONVERT(VARCHAR(8), GETDATE(), 108), 'Error', 'Error', '', 'U00000000', '', 
                   NULL, 'MX06', 'CFDI - Documento', 'CFDI - Documento', DATEDIFF(day, Doc.Fecha_Factura, Doc.Fecha_Pago)
              FROM T3.Factura_General Doc
              WHERE Factura = @sReference ; 

              SET @nDoctos = @nItems + 2 ;
           END ;
        END ;

        IF ( UPPER( @sWorkAround ) = 'PG_MANUAL' )
        BEGIN
           SELECT @nItems = COUNT( FDP.Material ), @dtFechaTrn = MAX( FG.Fecha_Trn )
              FROM T3.Preventa_Detalles_Paso FDP
              LEFT JOIN T3.Preventa_General FG ON FDP.Factura = FG.Factura
              WHERE FDP.Factura = @sReference ;

           IF ( ( @nItems > 0 ) AND ( @dtFechaTrn IS NULL ) )
           BEGIN
                INSERT INTO T3.Preventa_General
                 ( Factura      , Prefijo     , Centro             , Entrega        , Fecha_Factura   , Fecha_Trn        ,
                   Clase_Factura, Cliente_SAP , Cliente_Pagador_SAP, Ubicacion      , Pedido          , Fecha_Est_Ent    ,
                   Valor_Subt   , Valor_IVA   , Status_Contable    , Referencia     , Ctro            , Clte_Factura_SAP )
              SELECT SAP.Doc_Num_Ref2                       AS Factura            , 
                     SUBSTRING( SAP.Doc_Num_R3, 1, 3 )      AS Prefijo            ,
                     SAP.Distributor                        AS Centro             ,
                     SAP.Doc_Num_R3                         AS Entrega            ,
                     CONVERT(DATETIME, SAP.Doc_Date, 112)   AS Fecha_Factura      ,
                     GETDATE()                              AS Fecha_Trn          ,
--
                     CASE SAP.Doc_Type WHEN 'C003' THEN 'C005'
                                       WHEN 'C005' THEN 'C005'
                                       ELSE 'C006' END      AS Clase_Factura      , 

                     RIGHT('0000000000' + ISNULL(SAP.Customer,''), 10) AS Cliente_SAP        ,
                     HCte.Clte_Factura_SAP                  AS Cliente_Pagador_SAP,
                     'TBD'                                  AS Ubicacion          ,
                     SAP.Doc_Ord_R3                         AS Pedido             ,
                     CONVERT(DATETIME, SAP.Doc_Date, 112)   AS Fecha_Est_Ent      ,
--
                     0                                      AS Valor_Subt          ,
                     0                                      AS Valor_IVA           ,
                     '11'                                   AS Status_Contable     ,
                     SAP.Doc_Num_Ref2                       AS Referencia          ,
                     SAP.Distributor                        AS Ctro                ,
                     HCte.Clte_Factura_SAP                  AS Clte_Factura_SAP
                 FROM EAI.T3R_Sales_Docs_Old  SAP ,
                      T3.Mov_Cliente          Cte ,
                      T3.Cliente              HCte
                 WHERE SAP.Doc_Num_Ref2 = @sReference
                   AND SAP.Doc_Status   = 'C'
                   AND RIGHT('0000000000' + ISNULL(SAP.Customer,''), 10) = Cte.Cliente_SAP 
                   AND RIGHT('0000000000' + ISNULL(SAP.Customer,''), 10) = HCte.Cliente_SAP
                   AND CONVERT(DATETIME, SAP.Doc_Date, 112) BETWEEN HCte.Fecha_Ini_Vig AND HCte.Fecha_Fin_Vig ;

              INSERT INTO T3.Preventa_Detalle
                 ( Factura     , Prefijo     , Referencia_Pedido        ,
                   Num_Linea   , Material    , Cantidad_Vta, Status_Prod, 
                   Valor_Subt  , Valor_IVA   , 
                   Valor_ISSA  , Bonif_Subt  , Credito_Subt, Credito_IVA ,
                   Bonif_IVA   , Bonif_Porc  , Bonif_Vol   , Envio_Subt  , Envio_IVA  
                 )
              SELECT Factura     , Prefijo     , Referencia_Pedido        ,
                     Num_Linea   , Material    , Cantidad_Vta, Status_Prod, 
                     Valor_Subt  , Valor_IVA   , 
                     Valor_ISSA  , Bonif_Subt  , Credito_Subt, Credito_IVA ,
                     Bonif_IVA   , Bonif_Porc  , Bonif_Vol   , Envio_Subt  , Envio_IVA
                 FROM T3.Preventa_Detalles_Paso
                 WHERE Factura = @sReference ; 

              UPDATE PG SET PG.Bonif_Subt = Src.Bonif_Subt, PG.Bonif_IVA = Src.Bonif_IVA, PG.Valor_Subt = Src.Valor_Subt, PG.Valor_IVA = Src.Valor_IVA, PG.Credito_Subt = Src.Credito_Subt, PG.Credito_IVA = Src.Credito_IVA
              FROM T3.Preventa_General PG
              CROSS APPLY (
                 SELECT SUM( ISNULL( PD.Bonif_Subt  , 0 )  ) AS Bonif_Subt  ,
                        SUM( ISNULL( PD.Bonif_IVA   , 0 )  ) AS Bonif_IVA   ,
                        SUM( ISNULL( PD.Valor_Subt  , 0 )  ) AS Valor_Subt  ,
                        SUM( ISNULL( PD.Valor_IVA   , 0 )  ) AS Valor_IVA   ,
                        SUM( ISNULL( PD.Credito_Subt, 0 )  ) AS Credito_Subt,
                        SUM( ISNULL( PD.Credito_IVA , 0 )  ) AS Credito_IVA 
                 FROM T3.Preventa_Detalle PD
                 WHERE PD.Factura = PG.Factura
              ) Src
              WHERE PG.Factura = @sReference ;     

              INSERT INTO T3.RF_Complemento 
                 ( Factura     , Hora_Factura, Anio_Aprob, Folio_Aprob, Order_Num    , Rep_ID     , X_DelRep_Invloc, 
                   Volumen     , Sociedad    , Cadena_Original        , Sello_Digital, Dias_Pago )
              SELECT Doc.Factura, CONVERT(VARCHAR(8), GETDATE(), 108), 'Error', 'Error', '', 'U00000000', '', 
                   NULL, 'MX06', 'CFDI - Documento', 'CFDI - Documento', ISNULL( MC.Dias_Cdto, 0)
              FROM T3.Preventa_General Doc, T3.Mov_Cliente MC
              WHERE Doc.Factura     = @sReference
                AND Doc.Cliente_SAP = MC.Cliente_SAP ; 

              SET @nDoctos = @nItems + 2 ;
           END ;
        END ;

        IF ( UPPER( @sWorkAround ) = 'ITEM_NEGATIVO' )
        BEGIN
           OPEN PrecioNegativo ;
           FETCH NEXT FROM PrecioNegativo INTO @Doc_Num_Linea, @Doc_Material, @Doc_Cantidad_Vta, @Doc_CalcPrecioUnit, @Doc_CalcValor_Subt, @Doc_CalcValor_IVA;
           WHILE @@FETCH_STATUS = 0
           BEGIN
              SET @nDoctos = @nDoctos + 1 ;
              UPDATE T3.Factura_Detalle SET Precio_Unit = @Doc_CalcPrecioUnit,
                                            Valor_Subt  = @Doc_CalcValor_Subt,
                                            Valor_IVA   = @Doc_CalcValor_IVA ,
                                            Valor_Tot   = @Doc_CalcValor_Subt + @Doc_CalcValor_IVA
                 WHERE Factura = @sReference AND Num_Linea = @Doc_Num_Linea ;
              FETCH NEXT FROM PrecioNegativo INTO @Doc_Num_Linea, @Doc_Material, @Doc_Cantidad_Vta, @Doc_CalcPrecioUnit, @Doc_CalcValor_Subt, @Doc_CalcValor_IVA;
           END ;
           CLOSE PrecioNegativo;
           DEALLOCATE PrecioNegativo;

           IF ( @nDoctos > 0 )
           BEGIN
              UPDATE PG SET PG.Bonif_Subt = Src.Bonif_Subt, PG.Bonif_IVA = Src.Bonif_IVA, PG.Valor_Subt = Src.Valor_Subt, PG.Valor_IVA = Src.Valor_IVA, PG.Envio_Subt = Src.Envio_Subt, PG.Envio_IVA = Src.Envio_IVA, PG.Credito_Subt = Src.Credito_Subt, PG.Credito_IVA = Src.Credito_IVA, PG.Fecha_Proc_BATMD = Src.Fecha_Proc_BATMD
              FROM T3.Factura_General PG
              CROSS APPLY (
                 SELECT SUM( ISNULL( PD.Bonif_Subt  , 0 )  ) AS Bonif_Subt  ,
                        SUM( ISNULL( PD.Bonif_IVA   , 0 )  ) AS Bonif_IVA   ,
                        SUM( ISNULL( PD.Valor_Subt  , 0 )  ) AS Valor_Subt  ,
                        SUM( ISNULL( PD.Valor_IVA   , 0 )  ) AS Valor_IVA   ,
                        SUM( ISNULL( PD.Envio_Subt  , 0 )  ) AS Envio_Subt  ,
                        SUM( ISNULL( PD.Envio_IVA   , 0 )  ) AS Envio_IVA   ,              
                        SUM( ISNULL( PD.Credito_Subt, 0 )  ) AS Credito_Subt,
                        SUM( ISNULL( PD.Credito_IVA , 0 )  ) AS Credito_IVA ,
                        NULL                                  AS Fecha_Proc_BATMD
                 FROM T3.Factura_Detalle PD
                    WHERE PD.Factura = PG.Factura
              ) Src
              WHERE PG.Factura = @sReference ;     
           END ;
        END ;

        IF ( UPPER( @sWorkAround ) = 'AGR_AJUSTE_IVA' )
        BEGIN
           UPDATE T3.CFDI_Agrupado_Detalle SET Valor_IVA = ROUND( Valor_Subt * 0.16, 2 )
              WHERE Nota_Venta_CFDI = @sReference
                AND Valor_IVA != ROUND( Valor_Subt * 0.16, 2 )
                AND Valor_IVA  > 0 ;
           SET @nDoctos = @@ROWCOUNT ;
           IF ( @nDoctos > 0 )
           BEGIN
              EXEC PROC_V40_GENERAR_AGR @sReference ;
           END ;
        END ;

        IF ( UPPER( @sWorkAround ) = 'AJUSTE_IVA' )
        BEGIN
           SET @nDoctos = 0 ;
           OPEN ScrAjuste_IVA ;
           FETCH NEXT FROM ScrAjuste_IVA INTO @Doc_Tipo_Docto_Aj, @Doc_Factura_Aj, @Doc_Num_Linea_Aj, @Doc_Material_Aj, @Doc_Valor_Subt_Aj, @Doc_Valor_IVA_Aj, @Doc_Valor_IVA_Calculado_Aj;
           WHILE @@FETCH_STATUS = 0
           BEGIN
              SET @sTipoDocto = @Doc_Tipo_Docto_Aj ;
              IF ( ( @Doc_Valor_IVA_Aj != @Doc_Valor_IVA_Calculado_Aj ) AND ( @Doc_Valor_IVA_Aj > 0 ) )
              BEGIN
                 SET @nDoctos = @nDoctos + 1 ;
                 UPDATE T3.Registro_Fiscal_Detalle SET Valor_IVA = @Doc_Valor_IVA_Calculado_Aj
                    WHERE Factura = @Doc_Factura_Aj
                      AND Num_Linea = @Doc_Num_Linea_Aj ;
              END ;
              FETCH NEXT FROM ScrAjuste_IVA INTO @Doc_Tipo_Docto_Aj, @Doc_Factura_Aj, @Doc_Num_Linea_Aj, @Doc_Material_Aj, @Doc_Valor_Subt_Aj, @Doc_Valor_IVA_Aj, @Doc_Valor_IVA_Calculado_Aj;
           END ;
           CLOSE ScrAjuste_IVA;
           DEALLOCATE ScrAjuste_IVA;

           IF ( @nDoctos > 0 )
           BEGIN
              IF    ( @sTipoDocto = 'C005' ) BEGIN EXEC T3.PROC_V40_GENERAR_MX06 @sReference ; END 
              ELSE IF ( @sTipoDocto = 'C006' ) BEGIN EXEC T3.PROC_V40_GENERAR_MX06 @sReference ; END 
              ELSE IF ( @sTipoDocto = 'C020' ) BEGIN EXEC T3.PROC_V40_GENERAR_MX01 @sReference ; END 
              ELSE IF ( @sTipoDocto = 'C021' ) BEGIN EXEC T3.PROC_V40_GENERAR_MX01_IEPS @sReference ; END 
              ELSE IF ( @sTipoDocto = 'C022' ) BEGIN EXEC T3.PROC_V40_GENERAR_MX01_IEPS @sReference ; END ;
           END ;
        END ;

        IF ( @nDoctos > 0 )
        BEGIN
           PRINT 'WorkAround => ' + ISNULL(@sWorkAround, '') ;
           PRINT 'Referencia => ' + ISNULL(@sReference, '') ;
           INSERT INTO EAI_Owner.WA_Logging
              ( Fecha, Usuario, Usuario_Red, IP, Terminal, Documento, Comentario )
           VALUES
              ( GETDATE() , USER_NAME(), 
                CAST(ORIGINAL_LOGIN() AS VARCHAR(255)), 
                CAST(CONNECTIONPROPERTY('client_net_address') AS VARCHAR(255)),
                CAST(HOST_NAME() AS VARCHAR(255)),
                @sReference, @sWorkaround ) ;           
        END ;

    END TRY
    BEGIN CATCH

        IF CURSOR_STATUS('local', 'ScrCF_NoIVA_Ind') >= 0 BEGIN CLOSE ScrCF_NoIVA_Ind; DEALLOCATE ScrCF_NoIVA_Ind; END;
        IF CURSOR_STATUS('local', 'ScrCF_NoIVA_Agr') >= 0 BEGIN CLOSE ScrCF_NoIVA_Agr; DEALLOCATE ScrCF_NoIVA_Agr; END;
        IF CURSOR_STATUS('local', 'DoctoComplemento') >= 0 BEGIN CLOSE DoctoComplemento; DEALLOCATE DoctoComplemento; END;
        IF CURSOR_STATUS('local', 'DoctoAgrupado') >= 0 BEGIN CLOSE DoctoAgrupado; DEALLOCATE DoctoAgrupado; END;
        IF CURSOR_STATUS('local', 'PrecioNegativo') >= 0 BEGIN CLOSE PrecioNegativo; DEALLOCATE PrecioNegativo; END;
        IF CURSOR_STATUS('local', 'ScrAjuste_IVA') >= 0 BEGIN CLOSE ScrAjuste_IVA; DEALLOCATE ScrAjuste_IVA; END;

        SET @sMsg = SUBSTRING( 'ERROR SQL' + CAST(ERROR_NUMBER() AS VARCHAR(10)) + ' ' + ERROR_MESSAGE(), 1, 480 ) ;
        PRINT '************* Mensaje **************' ;
        PRINT '**** Error en WA_SOPORTE_EAI  *****' ;
        PRINT @sMsg ;         
    END CATCH;
END ; -- Procedure
GO
