USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[WA_CFDI_COBRANZA]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [T3].[WA_CFDI_COBRANZA] 
   ( @pDays     INT = 1 )
AS
BEGIN
   DECLARE @sMsg        VARCHAR(500) ;
   DECLARE @sErrorCode  VARCHAR(30) ; 
   DECLARE @sFactura    VARCHAR(20) ;
   DECLARE @nDoctos     INT         ;
   DECLARE @sEtapa      VARCHAR(20) ;
   DECLARE @dtInicio    DATETIME    ;
--
   DECLARE @strID       VARCHAR(50) ;
   DECLARE @sAccnt_ID   VARCHAR(50) ;
   DECLARE @sClienteSAP VARCHAR(10) ;
   DECLARE @nPID        INT         ;
   DECLARE @nProceso    INT         ;
   DECLARE @nProceso1   INT         ;

   -- Variables cursores
   DECLARE @Exec_Fecha_Proc_BATMD DATETIME;

   DECLARE ScrCursor CURSOR LOCAL FORWARD_ONLY STATIC FOR
       SELECT DISTINCT Fecha_Proc_BATMD 
          FROM T3.Asignacion_Pago 
          WHERE Fecha_Trn        >  GETDATE() - ISNULL( @pDays, 1 )
            AND Fecha_Proc_BATMD IS NOT NULL
            AND Fecha_Proc_BATMD <  GETDATE()
          EXCEPT
          SELECT DISTINCT Fecha_Proc_BATMD 
          FROM T3.CFDI_Cobranza ;
BEGIN TRY
	BEGIN TRAN

   SET @nProceso  = 885 ;
   SET @nPID      = NEXT VALUE FOR EAI_Owner.ProcessID ;
   EXEC EAI_Owner.Log_Start @nProceso ;
   INSERT INTO T3.RF_PROCESOS_LOG ( PID , Proceso , Fecha_Proc_BATMD, Inicio )
      VALUES ( @nPID, @nProceso, NULL, GETDATE() ) ;   
   SET @nProceso1 = 0 ;
   
   OPEN ScrCursor;
   FETCH NEXT FROM ScrCursor INTO @Exec_Fecha_Proc_BATMD;
   
   WHILE @@FETCH_STATUS = 0
   BEGIN
      SET @nProceso1 = @nProceso1 + 1 ;
      SET @strID = FORMAT( @Exec_Fecha_Proc_BATMD, 'yyyyMMdd HH:mm:ss' ) ;
      --EXEC T3.PROC_CFDI_PROCESAR_PAGOS @Exec_Fecha_Proc_BATMD ;
      
      FETCH NEXT FROM ScrCursor INTO @Exec_Fecha_Proc_BATMD;
   END ;
   -- Cierre del cursor inmediatamente después de su uso
   CLOSE ScrCursor;
   
-- EXEC T3.PROC_CFDI_COBZA_PID @pDays ;
   UPDATE EAI_OWNER.MX_COMPONENTS SET Status = 1
      WHERE Component = @nProceso ;
   UPDATE T3.RF_PROCESOS_LOG SET  Fin = GETDATE(), Proceso_1 = @nProceso1, Proceso_2 = 0,
                                                 Proceso_3 =         0, Proceso_4 = 0
       WHERE PID = @nPID  ;            
   COMMIT ;   

   DEALLOCATE ScrCursor;

END TRY
BEGIN CATCH
   IF @@TRANCOUNT > 0 ROLLBACK ;

   IF CURSOR_STATUS('local', 'ScrCursor') >= -1
   BEGIN
      IF CURSOR_STATUS('local', 'ScrCursor') > -1
      BEGIN
         CLOSE ScrCursor;
      END
      DEALLOCATE ScrCursor;
   END;

   SET @sMsg = SUBSTRING( CAST(ERROR_NUMBER() AS VARCHAR(20)) + '-' + ERROR_MESSAGE(), 1, 250 ) ;
   SET @sMsg = SUBSTRING( ERROR_MESSAGE(), 1, 250 ) ;
   PRINT( REPLICATE( '-', 80 ) ) ;
   PRINT( 'Problemas en la ejecucion del Procedimiento' ) ;
   PRINT( 'FAVOR DE ESCALAR LOS SIGUIENTES DATOS :' ) ;
   PRINT( 'Procedimiento : ' + 'WA_CFDI_COBRANZA' ) ;
   PRINT( 'Fecha         : ' + FORMAT( GETDATE(), 'yyyyMMdd HH:mm:ss' ) ) ;
   PRINT( 'Referencia    : ' + ISNULL(@strID, '') ) ;
   PRINT( 'Error         : ' + ISNULL(@sMsg, '') ) ;
   PRINT( REPLICATE( '-', 80 ) ) ;
--       INSERT INTO T3.RF_ERROR_LOG 
--          ( FECHA, RUTINA, REFERENCIA, ERROR_DESC )
--       VALUES
--          ( GETDATE(), 'WA_CFDI_COBRANZA', @strID, @sMsg ) ;
   SET @sErrorCode = 'SQL-' + CAST( ERROR_NUMBER() AS VARCHAR(20) ) ;
   SET @sMsg = SUBSTRING( CAST( ERROR_NUMBER() AS VARCHAR(20) ) + '-' + ERROR_MESSAGE(), 1, 250 ) ;      
   INSERT INTO EAI_OWNER.MX_EAI_MESSAGE_LOG
     ( DIRECTION         , REFERENCE           , CREATED             , MESSAGE        , JOB_PID,
       STATUS            , QUEUE_NAME          , SIEBEL_ERROR_MESSAGE, SOURCE         , 
       SIEBEL_ERROR_CODE , RETRY_COUNT         , SEQUENCE            , PARENT_ROW_ID   )
   VALUES 
     ( 'Job Logging'     , @strID              , GETDATE()           , NULL           , @nPID   ,
       'Error'           , 'WA_CFDI_COBRANZA'  , @sMsg               , 'PL/SQL'       ,
       @sErrorCode       , NULL                , NULL                , NULL            ) ;
END CATCH;
END ; -- Procedure
GO
