USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[WA_ENABLE_REMISION_OBD]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [T3].[WA_ENABLE_REMISION_OBD] 
    @sCustomerSAP VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @nDoctos   INT;
    DECLARE @sCustomer VARCHAR(20);
    DECLARE @dtFecha   DATETIME;
    DECLARE @dtFactura DATETIME;
    DECLARE @sMsg      VARCHAR(500);

    -- Variables cursores
    DECLARE @Cur_CFGSett_Cliente_SAP VARCHAR(50);

    DECLARE @Cur_ScrRem_ReferenceID    VARCHAR(50),
            @Cur_ScrRem_ShippingPoint  VARCHAR(50),
            @Cur_ScrRem_DocumentDate   VARCHAR(50),
            @Cur_ScrRem_Order_Num      VARCHAR(50),
            @Cur_ScrRem_Rem_Factura    VARCHAR(50);

    DECLARE CFGSett CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT CFG.Source AS Cliente_SAP
        FROM EAI_Owner.MX_Hashtable CFG
        WHERE CFG.Type   = 'Genera Remision'
          AND CFG.Source = @sCustomer ;
--
    DECLARE ScrRemision CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT Doc.ReferenceID, Doc.ShippingPoint, Doc.DocumentDate, Doc.Order_Num, 
               ISNULL( RG.Factura, 'INSERT' ) AS Rem_Factura
        FROM EAI_Owner.tmp_Document_Header Doc
        LEFT OUTER JOIN T3.Remision_General RG ON Doc.ReferenceID = RG.Factura
        WHERE Doc.Cust_to_SAP   = @sCustomer
          AND Doc.DeliveryType  = 'Receive Other'
          AND Doc.DocumentDate  LIKE CONVERT(VARCHAR(8), GETDATE(), 112) + '%' ;
--
    BEGIN TRY

        SET @sCustomer = RIGHT(REPLICATE('0', 10) + ISNULL(@sCustomerSAP, ''), 10) ;
        SET @nDoctos = 0 ;

        OPEN CFGSett;
        FETCH NEXT FROM CFGSett INTO @Cur_CFGSett_Cliente_SAP;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @nDoctos = @nDoctos + 1 ;
            FETCH NEXT FROM CFGSett INTO @Cur_CFGSett_Cliente_SAP;
        END ;
        CLOSE CFGSett ;

        IF ( @nDoctos = 0 ) 
        BEGIN
            INSERT INTO EAI_Owner.MX_Hashtable ( Type, Source, Target )
            VALUES ( 'Genera Remision', @sCustomer, 'OBD' ) ;
            
            INSERT INTO EAI_Owner.WA_Logging
                   ( Fecha, Usuario, Usuario_Red, IP, Terminal, Documento, Comentario )
            VALUES
                   ( GETDATE() , CURRENT_USER, 
                     SUSER_SNAME(), 
                     CAST(CONNECTIONPROPERTY('client_net_address') AS VARCHAR(50)),
                     HOST_NAME(),
                     @sCustomer, 'WA_ENABLING_OBD' ) ;         
        END ;
--
        OPEN ScrRemision;
        FETCH NEXT FROM ScrRemision INTO 
            @Cur_ScrRem_ReferenceID, @Cur_ScrRem_ShippingPoint, @Cur_ScrRem_DocumentDate, @Cur_ScrRem_Order_Num, @Cur_ScrRem_Rem_Factura;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            IF ( @Cur_ScrRem_Rem_Factura = 'INSERT' ) 
            BEGIN
                EXEC T3.DELIVERY_IDOC_TO_REMISION @Cur_ScrRem_ReferenceID, 1, 0 ;
            END ;
            FETCH NEXT FROM ScrRemision INTO 
                @Cur_ScrRem_ReferenceID, @Cur_ScrRem_ShippingPoint, @Cur_ScrRem_DocumentDate, @Cur_ScrRem_Order_Num, @Cur_ScrRem_Rem_Factura;
        END ;
        CLOSE ScrRemision ;

        IF CURSOR_STATUS('local','CFGSett') >= -1 DEALLOCATE CFGSett;
        IF CURSOR_STATUS('local','ScrRemision') >= -1 DEALLOCATE ScrRemision;

    END TRY
    BEGIN CATCH

        IF CURSOR_STATUS('local','CFGSett') >= -1
        BEGIN
            IF CURSOR_STATUS('local','CFGSett') >= 0 CLOSE CFGSett;
            DEALLOCATE CFGSett;
        END
        IF CURSOR_STATUS('local','ScrRemision') >= -1
        BEGIN
            IF CURSOR_STATUS('local','ScrRemision') >= 0 CLOSE ScrRemision;
            DEALLOCATE ScrRemision;
        END

        SET @sMsg = SUBSTRING( 'ERROR SQL ' + CAST(ERROR_NUMBER() AS VARCHAR(30)) + ' ' + ERROR_MESSAGE(), 1, 480 ) ;
        
        PRINT '************* Mensaje *******************' ;
        PRINT '*** Error en WA_ENABLE_REMISION_OBD  ***' ;
        PRINT @sMsg ;          
    END CATCH
END ; -- Procedure
GO
