USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[WA_PREVENTA_BONIF_FIX]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [T3].[WA_PREVENTA_BONIF_FIX] 
    @pFactura VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sMsg               VARCHAR(500);
    DECLARE @sFactura           VARCHAR(20);
    DECLARE @nDoctos            INT;
    DECLARE @sEtapa             VARCHAR(20);
    DECLARE @sProcesar          VARCHAR(4);
--   
    DECLARE @dtFecha_Proc_BATMD DATETIME;
--
    DECLARE @strID              VARCHAR(50);
    DECLARE @sAccnt_ID          VARCHAR(50);
    DECLARE @sClienteSAP        VARCHAR(10);

    -- Variables cursor
    DECLARE @Cur_Ctro             VARCHAR(50),
            @Cur_Factura          VARCHAR(50),
            @Cur_Fecha_Factura    DATETIME,
            @Cur_Cliente_SAP      VARCHAR(50),
            @Cur_Clase_Factura    VARCHAR(50),
            @Cur_Valor_Subt_FG    NUMERIC(18,4),
            @Cur_Valor_IVA_FG     NUMERIC(18,4),
            @Cur_Lista_Precio     VARCHAR(50),
            @Cur_Invoice_Value    NUMERIC(18,4),
            @Cur_Linea_Linea      VARCHAR(50),
            @Cur_Linea_Material   VARCHAR(50),
            @Cur_Material         VARCHAR(255),
            @Cur_Linea_Subtotal   NUMERIC(18,4),
            @Cur_Linea_IVA        NUMERIC(18,4),
            @Cur_Linea_Total      NUMERIC(18,4),
            @Cur_Bonif_Subt       NUMERIC(18,4),
            @Cur_Linea_con_Bonif  NUMERIC(18,4),
            @Cur_Sum_PriceList    NUMERIC(18,4),
            @Cur_Linea_Cantidad   NUMERIC(18,4),
            @Cur_Factura_Precio   NUMERIC(18,4),
            @Cur_SKU_Precio       NUMERIC(18,4),
            @Cur_Bonificacion     NUMERIC(18,4);

    DECLARE ScrHeader CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT FG.Ctro, FG.Factura, FG.Fecha_Factura, FG.Cliente_SAP, FG.Clase_Factura,
               FG.Valor_Subt, FG.Valor_IVA,
               C.Lista_Precio, 
               FG.Valor_Subt + FG.Valor_IVA      AS Invoice_Value  ,
               FD.Num_Linea                      AS Linea_Linea    ,              
               FD.Material                       AS Linea_Material ,
               M.Nombre_Material                 AS Material       ,
               FD.Valor_Subt                     AS Linea_Subtotal ,
               FD.Valor_IVA                      AS Linea_IVA      ,
               FD.Valor_Subt + FD.Valor_IVA      AS Linea_Total    ,
               FD.Bonif_Subt                     AS Bonif_Subt     ,
               FD.Valor_Subt + FD.Bonif_Subt     AS Linea_con_Bonif,
               FD.Cantidad_Vta * PL.VALUE        AS Sum_PriceList  ,
               FD.Cantidad_Vta                   AS Linea_Cantidad ,
               FD.Valor_Subt / FD.Cantidad_Vta   AS Factura_Precio ,
               PL.Value                          AS SKU_Precio     ,
               FD.Cantidad_Vta * ( PL.Value -
               (FD.Valor_Subt / FD.Cantidad_Vta) ) AS Bonificacion
        FROM T3.PREVENTA_GENERAL FG, T3.CLIENTE C, T3.PREVENTA_DETALLE FD, T3.PRICELIST_DETALLE PL, T3.MATERIAL M
        WHERE FG.Factura                  = @pFactura
          AND FG.Cliente_SAP              = C.Cliente_SAP
          AND FG.Fecha_Factura BETWEEN C.Fecha_Ini_Vig AND C.Fecha_Fin_Vig
          AND FG.Factura                  = FD.Factura
          AND C.Lista_Precio              = PL.PriceListID
          AND CONVERT(VARCHAR(8), FG.Fecha_Factura, 112) BETWEEN PL.Effective AND PL.Expiration
          AND FD.MATERIAL                 = PL.Matnr
          AND FD.MATERIAL                 = M.MATERIAL
        ORDER BY FG.Factura, FD.Num_Linea ;
--
    BEGIN TRY
        BEGIN TRANSACTION;

        SET @strID     = @pFactura ;
        SET @sProcesar = 'SI' ;

        OPEN ScrHeader;
        FETCH NEXT FROM ScrHeader INTO 
            @Cur_Ctro, @Cur_Factura, @Cur_Fecha_Factura, @Cur_Cliente_SAP, @Cur_Clase_Factura,
            @Cur_Valor_Subt_FG, @Cur_Valor_IVA_FG, @Cur_Lista_Precio, @Cur_Invoice_Value,
            @Cur_Linea_Linea, @Cur_Linea_Material, @Cur_Material, @Cur_Linea_Subtotal,
            @Cur_Linea_IVA, @Cur_Linea_Total, @Cur_Bonif_Subt, @Cur_Linea_con_Bonif,
            @Cur_Sum_PriceList, @Cur_Linea_Cantidad, @Cur_Factura_Precio, @Cur_SKU_Precio,
            @Cur_Bonificacion;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            IF ( @Cur_Clase_Factura IN ( 'C005', 'C006' ) ) 
            BEGIN
                IF ( ( @Cur_Bonificacion = 0 ) AND ( @Cur_Bonif_Subt > 0 ) ) 
                BEGIN
                    UPDATE T3.Preventa_Detalle 
                    SET Bonif_Subt = 0,
                        Bonif_IVA  = 0
                    WHERE Factura   = @Cur_Factura
                      AND Num_Linea = @Cur_Linea_Linea ;
                      
                    INSERT INTO EAI_Owner.WA_Logging
                        ( Fecha, Usuario, Usuario_Red, IP, Terminal, Documento, Comentario )
                    VALUES
                        ( GETDATE() , CURRENT_USER, 
                          SUSER_SNAME(), 
                          CAST(CONNECTIONPROPERTY('client_net_address') AS VARCHAR(50)),
                          HOST_NAME(),
                          @Cur_Factura, 'PREVENTA_BONIF_FIX(' + CAST(@Cur_Linea_Linea AS VARCHAR(50)) + ',' + CAST(@Cur_Bonif_Subt AS VARCHAR(50)) + ')' ) ;                      
                END ;
            END ;

            FETCH NEXT FROM ScrHeader INTO 
                @Cur_Ctro, @Cur_Factura, @Cur_Fecha_Factura, @Cur_Cliente_SAP, @Cur_Clase_Factura,
                @Cur_Valor_Subt_FG, @Cur_Valor_IVA_FG, @Cur_Lista_Precio, @Cur_Invoice_Value,
                @Cur_Linea_Linea, @Cur_Linea_Material, @Cur_Material, @Cur_Linea_Subtotal,
                @Cur_Linea_IVA, @Cur_Linea_Total, @Cur_Bonif_Subt, @Cur_Linea_con_Bonif,
                @Cur_Sum_PriceList, @Cur_Linea_Cantidad, @Cur_Factura_Precio, @Cur_SKU_Precio,
                @Cur_Bonificacion;
        END ;
        
        CLOSE ScrHeader ;
        COMMIT ;

        IF CURSOR_STATUS('local','ScrHeader') >= -1 DEALLOCATE ScrHeader;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK ;

        IF CURSOR_STATUS('local','ScrHeader') >= -1
        BEGIN
            IF CURSOR_STATUS('local','ScrHeader') >= 0 CLOSE ScrHeader;
            DEALLOCATE ScrHeader;
        END

        SET @sMsg = SUBSTRING( CAST(ERROR_NUMBER() AS VARCHAR(20)) + '-' + ERROR_MESSAGE(), 1, 250 ) ;
        SET @sMsg = SUBSTRING( ERROR_MESSAGE(), 1, 250 ) ;
        
        PRINT REPLICATE( '-', 80 ) ;
        PRINT 'Problemas en la ejecucion del Procedimiento' ;
        PRINT 'FAVOR DE ESCALAR LOS SIGUIENTES DATOS :' ;
        PRINT 'Procedimiento : ' + 'WA_PREVENTA_BONIF_FIX' ;
        PRINT 'Fecha         : ' + CONVERT(VARCHAR(8), GETDATE(), 112) + ' ' + CONVERT(VARCHAR(8), GETDATE(), 108) ;
        PRINT 'Referencia    : ' + ISNULL(@strID, '') ;
        PRINT 'Error         : ' + ISNULL(@sMsg, '') ;
        PRINT REPLICATE( '-', 80 ) ;

        INSERT INTO T3.RF_ERROR_LOG 
           ( FECHA, RUTINA, REFERENCIA, ERROR_DESC )
        VALUES
           ( GETDATE(), 'WA_PREVENTA_BONIF', @strID, @sMsg ) ;

    END CATCH
END ; -- Procedure
GO
