USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[WA_ENABLE_CUSTOMER_A51]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [T3].[WA_ENABLE_CUSTOMER_A51] 
    @sCustomerSAP  VARCHAR(50),
    @sLibAuto      VARCHAR(50) = 'NO',
    @dtInicio      DATETIME = NULL,
    @sRemisionOBD  VARCHAR(50) = 'NO'
AS
BEGIN
    SET NOCOUNT ON;

	--revisar si se puede quedar default
    IF @dtInicio IS NULL
        SET @dtInicio = GETDATE();

    DECLARE @nDoctos   INT;
    DECLARE @sCustomer VARCHAR(20);
    DECLARE @dtFecha   DATETIME;
    DECLARE @dtFactura DATETIME;
    DECLARE @sMsg      VARCHAR(500);

    -- Variables cursores
    DECLARE @Cur_CFGSett_Cliente_SAP  VARCHAR(50);
    DECLARE @Cur_ScrCC_Cliente_SAP    VARCHAR(50);
    
    DECLARE @Cur_ScrRemision_Factura  VARCHAR(50),
            @Cur_ScrRemision_Entrega  VARCHAR(50),
            @Cur_ScrRemision_Fecha_Trn DATETIME;

    DECLARE CFGSett CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT CFG.Source AS Cliente_SAP
        FROM EAI_Owner.MX_Hashtable CFG
        WHERE CFG.Type   = 'PDV A51'
          AND CFG.Source = @sCustomer ;
--
    DECLARE ScrCC CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT Cliente_SAP 
        FROM EAI_Owner.WA_VENTA_CENTRALIZADA
        WHERE Cliente_SAP = @sCustomer ;
--
    DECLARE ScrRemision CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT PG.Factura, PG.Entrega, RG.Fecha_Trn
        FROM T3.Preventa_General PG
        LEFT OUTER JOIN T3.Remision_General RG ON PG.Entrega = RG.Factura
        WHERE PG.Cliente_SAP    = @sCustomer
          AND PG.Fecha_Factura >= CAST( GETDATE() AS DATE ) ;   
--
    BEGIN TRY

        SET @sCustomer = RIGHT(REPLICATE('0', 10) + ISNULL(@sCustomerSAP, ''), 10) ;
        SET @nDoctos = 0 ;

        OPEN CFGSett;
        FETCH NEXT FROM CFGSett INTO @Cur_CFGSett_Cliente_SAP;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @nDoctos = @nDoctos + 1 ;
            FETCH NEXT FROM CFGSett INTO @Cur_CFGSett_Cliente_SAP;
        END ;
        CLOSE CFGSett ;

        IF ( @nDoctos = 0 ) 
        BEGIN
            INSERT INTO EAI_Owner.MX_Hashtable ( Type, Source, Target )
            VALUES ( 'PDV A51', @sCustomer, @sLibAuto ) ;
            
            INSERT INTO EAI_Owner.WA_Logging
                   ( Fecha, Usuario, Usuario_Red, IP, Terminal, Documento, Comentario )
            VALUES
                   ( GETDATE() , CURRENT_USER, 
                     SUSER_SNAME(), 
                     CAST(CONNECTIONPROPERTY('client_net_address') AS VARCHAR(50)),
                     HOST_NAME(),
                     @sCustomer, 'WA_ENABLING_A51' ) ;         
        END ;
--
        SET @nDoctos = 0 ;
        
        OPEN ScrCC;
        FETCH NEXT FROM ScrCC INTO @Cur_ScrCC_Cliente_SAP;
        
        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @nDoctos = @nDoctos + 1 ;
            FETCH NEXT FROM ScrCC INTO @Cur_ScrCC_Cliente_SAP;
        END ;
        CLOSE ScrCC ;

        IF ( @nDoctos = 0 ) 
        BEGIN
            INSERT INTO EAI_Owner.WA_VENTA_CENTRALIZADA ( Cliente_SAP, Fecha_Ini_Vig, Fecha_Fin_Vig )
            VALUES ( @sCustomer, CAST( @dtInicio AS DATE ), CAST('29991231' AS DATE) ) ;  
        END ;

        OPEN ScrRemision;
        FETCH NEXT FROM ScrRemision INTO @Cur_ScrRemision_Factura, @Cur_ScrRemision_Entrega, @Cur_ScrRemision_Fecha_Trn;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            IF ( @Cur_ScrRemision_Fecha_Trn IS NULL ) 
            BEGIN
                EXEC T3.DELIVERY_WA_OXXO @Cur_ScrRemision_Factura ;
            END ;
            FETCH NEXT FROM ScrRemision INTO @Cur_ScrRemision_Factura, @Cur_ScrRemision_Entrega, @Cur_ScrRemision_Fecha_Trn;
        END ;
        CLOSE ScrRemision ;
--
        IF ( ISNULL( @sRemisionOBD, 'NO' ) = 'SI' ) 
        BEGIN
            EXEC T3.WA_ENABLE_REMISION_OBD @sCustomer ;
        END ;

        IF CURSOR_STATUS('local','CFGSett') >= -1 DEALLOCATE CFGSett;
        IF CURSOR_STATUS('local','ScrCC') >= -1 DEALLOCATE ScrCC;
        IF CURSOR_STATUS('local','ScrRemision') >= -1 DEALLOCATE ScrRemision;

    END TRY
    BEGIN CATCH
        IF CURSOR_STATUS('local','CFGSett') >= -1
        BEGIN
            IF CURSOR_STATUS('local','CFGSett') >= 0 CLOSE CFGSett;
            DEALLOCATE CFGSett;
        END
        IF CURSOR_STATUS('local','ScrCC') >= -1
        BEGIN
            IF CURSOR_STATUS('local','ScrCC') >= 0 CLOSE ScrCC;
            DEALLOCATE ScrCC;
        END
        IF CURSOR_STATUS('local','ScrRemision') >= -1
        BEGIN
            IF CURSOR_STATUS('local','ScrRemision') >= 0 CLOSE ScrRemision;
            DEALLOCATE ScrRemision;
        END

        SET @sMsg = SUBSTRING( 'ERROR SQL ' + CAST(ERROR_NUMBER() AS VARCHAR(30)) + ' ' + ERROR_MESSAGE(), 1, 480 ) ;
        
        PRINT '************* Mensaje *******************' ;
        PRINT '*** Error en WA_ENABLE_CUSTOMER_A51  ***' ;
        PRINT @sMsg ;          
    END CATCH
END ; -- Procedure
GO
