USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[WA_MOVE_TO_DIST]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [T3].[WA_MOVE_TO_DIST] 
    @pDays INT = 1,
    @pCtro VARCHAR(50) = 'MX2J'
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sMsg        VARCHAR(500);
    DECLARE @sErrorCode  VARCHAR(30); 
    DECLARE @sFactura    VARCHAR(20);
    DECLARE @nDoctos     INT;
    DECLARE @sEtapa      VARCHAR(20);
    DECLARE @dtInicio    DATETIME;
--
    DECLARE @strID       VARCHAR(50);
    DECLARE @sAccnt_ID   VARCHAR(50);
    DECLARE @sClienteSAP VARCHAR(10);
    DECLARE @nPID        INT;
    DECLARE @nProceso    INT;
    DECLARE @nProceso1   INT;

    -- Variables cursor
    DECLARE @Cur_Factura          VARCHAR(50),
            @Cur_Ctro             VARCHAR(50),
            @Cur_Fecha_Factura_T3 DATETIME,
            @Cur_RFC_Cliente      VARCHAR(50),
            @Cur_Cliente_SAP      VARCHAR(50);

    DECLARE ScrCursor CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT Paso.Factura, Paso.Ctro, Paso.Fecha_Factura_T3, Paso.RFC_Cliente, FG.Cliente_SAP
        FROM T3.CFDI_Documento_Paso      Paso,
             T3.Factura_General          FG
        WHERE Paso.Fecha_Proc_BATMD >= CAST(DATEADD(day, -ISNULL(@pDays, 0), GETDATE()) AS DATE)
          AND Paso.VoidDoc          IS NULL
          AND Paso.Tipo_Docto       NOT IN ( 'Z024', 'C024' )
          AND Paso.Ctro             = @pCtro
          AND Paso.Factura          = FG.Factura
          AND Paso.Factura NOT IN ( SELECT Nota_Venta FROM T3.CFDI_Historia_Docto_PAC WHERE Nota_Venta = Paso.Factura ) ;
--
    BEGIN TRY
        BEGIN TRANSACTION;

        OPEN ScrCursor;
        FETCH NEXT FROM ScrCursor INTO 
            @Cur_Factura, @Cur_Ctro, @Cur_Fecha_Factura_T3, @Cur_RFC_Cliente, @Cur_Cliente_SAP;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @strID = @Cur_Factura ;
            
            INSERT INTO T3.CFDI_Historia_Docto_PAC
                ( Nota_Venta, Ctro, Fecha_Factura, Nota_Venta_CFDI )
            VALUES
                ( @Cur_Factura, @Cur_Ctro, @Cur_Fecha_Factura_T3, @Cur_Factura ) ;

            EXEC T3.PROC_V40_GENERAR_MX06 @Cur_Factura, @Cur_Cliente_SAP ;        
            
            FETCH NEXT FROM ScrCursor INTO 
                @Cur_Factura, @Cur_Ctro, @Cur_Fecha_Factura_T3, @Cur_RFC_Cliente, @Cur_Cliente_SAP;
        END ;

        CLOSE ScrCursor ;
        COMMIT ;   

        IF CURSOR_STATUS('local','ScrCursor') >= -1 DEALLOCATE ScrCursor;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK ;

        IF CURSOR_STATUS('local','ScrCursor') >= -1
        BEGIN
            IF CURSOR_STATUS('local','ScrCursor') >= 0 CLOSE ScrCursor;
            DEALLOCATE ScrCursor;
        END

        SET @sMsg = SUBSTRING( CAST(ERROR_NUMBER() AS VARCHAR(30)) + '-' + ERROR_MESSAGE(), 1, 250 ) ;
        SET @sMsg = SUBSTRING( ERROR_MESSAGE(), 1, 250 ) ;
        
        PRINT REPLICATE( '-', 80 ) ;
        PRINT 'Problemas en la ejecucion del Procedimiento' ;
        PRINT 'FAVOR DE ESCALAR LOS SIGUIENTES DATOS :' ;
        PRINT 'Procedimiento : ' + 'WA_CFDI_COBRANZA' ;
        PRINT 'Fecha         : ' + CONVERT(VARCHAR(8), GETDATE(), 112) + ' ' + CONVERT(VARCHAR(8), GETDATE(), 108) ;
        PRINT 'Referencia    : ' + ISNULL(@strID, '') ;
        PRINT 'Error         : ' + ISNULL(@sMsg, '') ;
        PRINT REPLICATE( '-', 80 ) ;
        
--      INSERT INTO T3.RF_ERROR_LOG 
--         ( FECHA, RUTINA, REFERENCIA, ERROR_DESC )
--      VALUES
--         ( GETDATE(), 'WA_CFDI_COBRANZA', @strID, @sMsg ) ;

        SET @sErrorCode = 'SQL-' + CAST(ERROR_NUMBER() AS VARCHAR(30)) ;
        SET @sMsg = SUBSTRING( CAST(ERROR_NUMBER() AS VARCHAR(30)) + '-' + ERROR_MESSAGE(), 1, 250 ) ;      
        
        INSERT INTO EAI_OWNER.MX_EAI_MESSAGE_LOG
          ( DIRECTION          , REFERENCE            , CREATED              , MESSAGE        , JOB_PID,
            STATUS             , QUEUE_NAME           , SIEBEL_ERROR_MESSAGE, SOURCE          , 
            SIEBEL_ERROR_CODE  , RETRY_COUNT          , SEQUENCE             , PARENT_ROW_ID   )
        VALUES 
          ( 'Job Logging'      , @strID               , GETDATE()            , NULL           , @nPID   ,
            'Error'            , 'WA_MOVE_TO_DIST'    , @sMsg                , 'PL/SQL'       ,
            @sErrorCode        , NULL                 , NULL                 , NULL            ) ;
            
    END CATCH
END ; 
GO
