USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[WA_PRIMARY_TO_BILL]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [T3].[WA_PRIMARY_TO_BILL] 
    @sCliente_SAP VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        UPDATE Cte  SET
                        Direccion_2      = Cte.Direccion_1    ,
                        Colonia_2        = Cte.Colonia_1      ,
                        Ciudad_2         = Cte.Ciudad_1       ,
                        Estado_2         = Cte.Estado_1       ,
                        Codigo_Postal_2  = Cte.Codigo_Postal_1,
                        Pais_2           = Cte.Pais_1         ,
                        Direccion_3      = Cte.Direccion_1    ,
                        Colonia_3        = Cte.Colonia_1      ,
                        Ciudad_3         = Cte.Ciudad_1       ,
                        Estado_3         = Cte.Estado_1       ,
                        Codigo_Postal_3  = Cte.Codigo_Postal_1,
                        Pais_3           = Cte.Pais_1         ,
                        Fecha_Proc_BATMD = NULL               ,
                        Fecha_Syncr      = GETDATE()                                    
        FROM T3.Mov_Cliente Cte
        WHERE Cliente_SAP  = @sCliente_SAP 
           AND Direccion_3 != Direccion_1 ;

        INSERT INTO EAI_Owner.WA_Logging
             ( Fecha, Usuario, Usuario_Red, IP, Terminal, Documento, Comentario )
        VALUES
             ( GETDATE() , CURRENT_USER, 
               SUSER_SNAME(), 
               CAST(CONNECTIONPROPERTY('client_net_address') AS VARCHAR(50)),
               HOST_NAME(),
               @sCliente_SAP, 'WA_PRIMARY_TO_BILL' ) ;

               
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END ;
GO
