USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[WA_ERR_INVOICE_PAYMETHOD]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [T3].[WA_ERR_INVOICE_PAYMETHOD] 
    @pDias INT = 0
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sErrorCode VARCHAR(30);      
    DECLARE @sMsg       VARCHAR(300);
    DECLARE @nPedidos   INT;
    DECLARE @nPID       INT;
    DECLARE @nProceso   INT;
    DECLARE @sReference VARCHAR(30);      

    -- Variables cursor
    DECLARE @Cur_Factura          VARCHAR(50),
            @Cur_Fecha_Factura    DATETIME,
            @Cur_Fecha_Trn        DATETIME,
            @Cur_Sociedad         VARCHAR(50),
            @Cur_Moneda           VARCHAR(50),
            @Cur_Nombre           VARCHAR(255),
            @Cur_MetodoPago       VARCHAR(50),
            @Cur_Fecha_Proc_BATMD DATETIME;

    DECLARE ScrDocuments CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT OG.Factura, OG.Fecha_Factura, OG.Fecha_Trn, OG.Sociedad, OG.Moneda, OG.Nombre, OG.MetodoPago, OG.Fecha_Proc_BATMD
        FROM T3.Otros_General  OG,
             T3.Otros_Detalle  OD
        WHERE OG.Fecha_Factura      > DATEADD(day, -ISNULL(@pDias, 7), GETDATE())
          AND OG.Factura            = OD.Factura
          AND OD.Material           = 'R900'
          AND OD.MaterialDescripcion = 'FIXED ASSET - External Sales' ;
--
    BEGIN TRY
        SET @nPedidos = 0 ;

        OPEN ScrDocuments;
        FETCH NEXT FROM ScrDocuments INTO 
            @Cur_Factura, @Cur_Fecha_Factura, @Cur_Fecha_Trn, @Cur_Sociedad, 
            @Cur_Moneda, @Cur_Nombre, @Cur_MetodoPago, @Cur_Fecha_Proc_BATMD;

        WHILE @@FETCH_STATUS = 0
        BEGIN  
            SET @sReference = @Cur_Factura ;
            IF ( ( @Cur_MetodoPago = 'No identificado' ) AND ( @Cur_Fecha_Proc_BATMD IS NULL ) ) 
            BEGIN
                SET @nPedidos = @nPedidos + 1 ;   
                UPDATE T3.Otros_General  SET MetodoPago = '03'
                WHERE Factura = @Cur_Factura ;
            END ;   

            FETCH NEXT FROM ScrDocuments INTO 
                @Cur_Factura, @Cur_Fecha_Factura, @Cur_Fecha_Trn, @Cur_Sociedad, 
                @Cur_Moneda, @Cur_Nombre, @Cur_MetodoPago, @Cur_Fecha_Proc_BATMD;
        END ;
        CLOSE ScrDocuments ;

        PRINT 'Documentos -> ' + CAST(@nPedidos AS VARCHAR(10)) ;

        IF CURSOR_STATUS('local','ScrDocuments') >= -1 DEALLOCATE ScrDocuments;
    END TRY
    BEGIN CATCH
        IF CURSOR_STATUS('local','ScrDocuments') >= -1
        BEGIN
            IF CURSOR_STATUS('local','ScrDocuments') >= 0 CLOSE ScrDocuments;
            DEALLOCATE ScrDocuments;
        END

        SET @sErrorCode = 'SQL-' + CAST(ERROR_NUMBER() AS VARCHAR(30)) ;
        SET @sMsg = SUBSTRING( CAST(ERROR_NUMBER() AS VARCHAR(30)) + '-' + ERROR_MESSAGE(), 1, 250 ) ;      
        
        INSERT INTO EAI_OWNER.MX_EAI_MESSAGE_LOG
          ( DIRECTION          , REFERENCE                 , CREATED              , MESSAGE        , JOB_PID,
            STATUS             , QUEUE_NAME                , SIEBEL_ERROR_MESSAGE, SOURCE          , 
            SIEBEL_ERROR_CODE  , RETRY_COUNT               , SEQUENCE             , PARENT_ROW_ID   )
        VALUES 
          ( 'Job Logging'      , @sReference               , GETDATE()            , NULL           , @nPID   ,
            'Error'            , 'WA_ERR_INVOICE_PAYMETHOD', @sMsg                , 'PL/SQL'       ,
            @sErrorCode        , NULL                      , NULL                 , NULL            ) ;
            
    END CATCH
END ; -- Procedure
GO
