USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[WA_SET_FECHA_EMISION]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[WA_SET_FECHA_EMISION] 
    @nDias         INT = 90,
    @nMaxRegistros INT = 10000
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @nDoctos    INT;
    DECLARE @v_ID       VARCHAR(50);
    DECLARE @sErrorCode VARCHAR(500);
    DECLARE @sMsg       VARCHAR(500);
    DECLARE @nProceso   INT;
    DECLARE @nPID       INT;

    -- Variables cursor
    DECLARE @Cur_Factura             VARCHAR(50),
            @Cur_CFD_Version         VARCHAR(10),
            @Cur_CFD_Version_Upper   VARCHAR(10),
            @Cur_V40_Fecha_Documento VARCHAR(50);

    DECLARE Docto CURSOR LOCAL FORWARD_ONLY STATIC FOR
        WITH XMLNAMESPACES ('http://www.sat.gob.mx/cfd/4' AS cfdi)
        SELECT 
              CFD.Factura,
              CAST(CFD.Anexo_CFD AS XML).value('(/cfdi:Comprobante/@Version)[1]', 'VARCHAR(10)') AS CFD_Version,
              CAST(CFD.Anexo_CFD AS XML).value('(/cfdi:Comprobante/@Version)[1]', 'VARCHAR(10)') AS CFD_Version_Upper,
              CAST(CFD.Anexo_CFD AS XML).value('(/cfdi:Comprobante/@Fecha)[1]', 'VARCHAR(50)')   AS V40_Fecha_Documento
        FROM T3.CFDI_Documentos Doc
        INNER JOIN T3.RF_Documentos CFD ON Doc.Nota_Venta = CFD.Factura
        WHERE FORMAT( Doc.Fecha_Liberacion, 'yyyyMM' ) >= FORMAT( DATEADD(day, -ISNULL(@nDias, 30), GETDATE()), 'yyyyMM' )
          AND Doc.Folio_Fiscal                         IS NOT NULL 
          AND Doc.Fecha_Documento                      IS NULL
          AND Doc.Nota_Venta                           = CFD.Factura ;  
--
    BEGIN TRY
        PRINT 'Ini : ' + CONVERT(VARCHAR(8), GETDATE(), 108) ;
        
        SET @nProceso  = 926 ;
        SET @nPID      = NEXT VALUE FOR EAI_Owner.ProcessID ;
        
        EXEC EAI_Owner.Log_Start @nProceso ;
        
        INSERT INTO T3.RF_PROCESOS_LOG ( PID , Proceso , Fecha_Proc_BATMD, Inicio )
        VALUES ( @nPID, @nProceso, NULL, GETDATE() ) ;      
        
        SET @nDoctos = 0 ;

        OPEN Docto;
        FETCH NEXT FROM Docto INTO 
            @Cur_Factura, @Cur_CFD_Version, @Cur_CFD_Version_Upper, @Cur_V40_Fecha_Documento;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @v_ID = @Cur_Factura ;
            
            IF ( ( @Cur_CFD_Version = '4' ) OR ( @Cur_CFD_Version_Upper = '4' ) ) 
            BEGIN
                UPDATE T3.CFDI_Documentos SET 
                    Fecha_Documento = CONVERT(DATETIME, REPLACE( @Cur_V40_Fecha_Documento, 'T', ' '), 120)
                WHERE Nota_Venta = @Cur_Factura ;
            END ;                    
            
            SET @nDoctos = @nDoctos + 1 ;                  

            FETCH NEXT FROM Docto INTO 
                @Cur_Factura, @Cur_CFD_Version, @Cur_CFD_Version_Upper, @Cur_V40_Fecha_Documento;
        END ;

        PRINT 'Fin : ' + CONVERT(VARCHAR(8), GETDATE(), 108) ;
        PRINT 'Rec-> ' + CAST(@nDoctos AS VARCHAR(20)) ;
        
        UPDATE EAI_OWNER.MX_COMPONENTS SET Status = 1
        WHERE Component = @nProceso ;
        
        UPDATE T3.RF_PROCESOS_LOG SET  Fin = GETDATE(), Proceso_1 = @nDoctos      , Proceso_2 = @nDias,
                                       Proceso_3 = @nMaxRegistros, Proceso_4 = 0
        WHERE PID = @nPID  ;   

        CLOSE Docto ;

        IF CURSOR_STATUS('local','Docto') >= -1 DEALLOCATE Docto;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0

        IF CURSOR_STATUS('local','Docto') >= -1
        BEGIN
            IF CURSOR_STATUS('local','Docto') >= 0 CLOSE Docto;
            DEALLOCATE Docto;
        END

        SET @sErrorCode = 'SQL-' + CAST(ERROR_NUMBER() AS VARCHAR(30)) ;
        SET @sMsg = SUBSTRING( CAST(ERROR_NUMBER() AS VARCHAR(30)) + '-' + ERROR_MESSAGE(), 1, 250 ) ;
        
        INSERT INTO EAI_OWNER.MX_EAI_MESSAGE_LOG
          ( DIRECTION               , ID                      , CREATED              , MESSAGE        , 
            STATUS                  , QUEUE_NAME              , SIEBEL_ERROR_MESSAGE, SOURCE          , 
            SIEBEL_ERROR_CODE       , RETRY_COUNT             , SEQUENCE             , PARENT_ROW_ID   )
        VALUES 
          ( 'WA_SET_FECHA_EMISION'  , @v_ID                   , GETDATE()            , NULL           , 
            'Error'                 , 'WA_SET_FECHA_EMISION'  , @sMsg                , 'XML'          ,
            @sErrorCode             , NULL                    , NULL                 , NULL            ) ;
            
    END CATCH
END ; -- Procedure
GO
