USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[WA_BATEMISION_PAYIND]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[WA_BATEMISION_PAYIND] ( 
    @sFactura VARCHAR(MAX), 
    @nLog INT = 0 
) AS 
BEGIN
   DECLARE @v_ID             VARCHAR(50) ;
   DECLARE @sErrorCode       VARCHAR(500) ;
   DECLARE @sMsg             VARCHAR(500) ;
   DECLARE @sPOrderNumber    VARCHAR(500) ;
   DECLARE @sRow_ID          VARCHAR(50) ;
   DECLARE @v_Regs           INT ;
   DECLARE @v_SubRegs        INT ;
-- Define Variables
   DECLARE @sAnexo_CFD       VARCHAR(MAX) ;
   DECLARE @sBATEMision      VARCHAR(3000) ;
   DECLARE @nInStr_Receptor  INT ;
   DECLARE @nInStr_Control   INT ;
   
   -- Variables cursores
   DECLARE @ScrINVOICE_Anexo_CFD VARCHAR(MAX);
   DECLARE @ScrCustomer_BATEmision VARCHAR(3000);

   DECLARE ScrINVOICE CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT CAST(CFD.Anexo_CFD AS VARCHAR(MAX)) AS Anexo_CFD
        FROM T3.RF_Documentos CFD
        WHERE CFD.Factura = @sFactura ;
--                
   DECLARE ScrCustomer CURSOR LOCAL FORWARD_ONLY STATIC FOR
    SELECT 
           '<cfdi:Addenda>'                                                                                           + CHAR(13) + CHAR(10) +
           '            <customized xmlns=' + CHAR(34) + 'http://repository.edicomnet.com/schemas/mx/cfd/addenda' + CHAR(34) + 
                    ' xsi:schemaLocation=' + CHAR(34) + 'http://repository.edicomnet.com/schemas/mx/cfd/addenda' +
                                          ' http://repository.edicomnet.com/schemas/mx/cfd/addenda/customized.xsd' + CHAR(34) + '>' 
                                                                                                                      + CHAR(13) + CHAR(10) +
           '               <BATEMISION>'                                                                              + CHAR(13) + CHAR(10) +
           '                   <interlocutor Tipo="P">'                                                               + CHAR(13) + CHAR(10) +
           '                      <nombre>'  + ISNULL(Cte.Name, '')             + '</nombre>'                             + CHAR(13) + CHAR(10) +
           '                      <calle>'   + ISNULL(Cte.Bill_Addr, '')        + '</calle>'                              + CHAR(13) + CHAR(10) +
           '                      <colonia>' + ISNULL(Cte.Bill_Addr_Line_2, '') + '</colonia>'                            + CHAR(13) + CHAR(10) +
           '                      <delmun>'  + ISNULL(Cte.Bill_City, '')        + '</delmun>'                             + CHAR(13) + CHAR(10) +
           '                      <estado>'  + ISNULL(Cte.Bill_State, '')       + '</estado>'                             + CHAR(13) + CHAR(10) +
           '                      <pais>'    + 'Mexico'              + '</pais>'                               + CHAR(13) + CHAR(10) +
           '                      <cp>'      + ISNULL(Cte.Bill_ZipCode, '')     + '</cp>'                                 + CHAR(13) + CHAR(10) +            
           '                   </interlocutor>'                                                                       + CHAR(13) + CHAR(10) +
           '                   <control>'                                                                             + CHAR(13) + CHAR(10) +
           '                      <TipoDocumento>'      + 'PAGO'                  + '</TipoDocumento>'       + CHAR(13) + CHAR(10) +
           '                      <CodigoDistribuidor>' + ISNULL(Cte.Ctro, '')                 + '</CodigoDistribuidor>'  + CHAR(13) + CHAR(10) +
           '                      <ClienteSAPFac>'      + ISNULL(Cte.Ou_Num, '')               + '</ClienteSAPFac>'       + CHAR(13) + CHAR(10) +
           '                      <ClienteSAPRem>'      + ISNULL(Cte.Ou_Num, '')               + '</ClienteSAPRem>'       + CHAR(13) + CHAR(10) +
           '                      <Departamento>'       + ISNULL(Alm.Almacen_Lugar_Expide, '') + '</Departamento>'        + CHAR(13) + CHAR(10) +
           '                      <Correo>'             + ISNULL(Cte.Pr_Con_ID, '')            + '</Correo>'              + CHAR(13) + CHAR(10) +
           '                      <AgrupadoBM>'         + '0'                       + '</AgrupadoBM>'          + CHAR(13) + CHAR(10) +
           '                   </control>'                                                                            + CHAR(13) + CHAR(10) +
           '                   <leyendas>'                                                                            + CHAR(13) + CHAR(10) +
           '                      <LeyendaFinal>British American Tobacco Mexico, S.A. de C.V. y sus empresas relacionadas (el '       + 
                                                                                                                      CHAR(38) + 'quot;Grupo' + CHAR(38) + 'quot;), ' +
                                  'con domicilio en Avenida Francisco I. Madero, 2750 Pte., Centro de la Ciudad, Monterrey, N.L. C.P. 64000, utilizaran '               + 
                                  'los datos personales que usted entregue voluntariamente mediante este documento para cumplir con las politicas, '                    + 
                                  'procedimientos operativos y requisitos legales aplicables y llevar un registro adecuado de los proveedores y clientes del Grupo. '  +
                                  'Para mayor informacion respecto al tratamiento de sus datos personales o al ejercicio de sus derechos ARCO consulte nuestro aviso ' +
                                  ' de privacidad integral en www.batmexico.com.mx</LeyendaFinal>'                  + CHAR(13) + CHAR(10) +
           '                      <LeyendaProteccion>Le recordamos que las leyes prohiben y sancionan la venta de cigarros a menores de 18 anos de edad y en unidades sueltas. ' +
                                            'En caso de duda solicite identificacion oficial. '                        + 
                                            'Ayudenos a que los menores de edad no tengan acceso a los cigarros.'      + 
                                            '</LeyendaProteccion>'                                                    + CHAR(13) + CHAR(10) +
           '                   </leyendas>'                                                                           + CHAR(13) + CHAR(10) +
           '                   <conceptos DESCR="Pago"/>'                                                             + CHAR(13) + CHAR(10) +
           '               </BATEMISION>'                                                                             + CHAR(13) + CHAR(10) +
           '            </customized>'                                                                                + CHAR(13) + CHAR(10) +
           '</cfdi:Addenda>'                                                                                          + CHAR(13) + CHAR(10) +
           '      '
                 AS BATEmision
          FROM 
              (
                  SELECT 
                         Cobza.Ctro                          AS Ctro             , 
                         Cte.Cliente_SAP                     AS Ou_Num             , 
                         CteX.Email                          AS Pr_Con_ID          ,
                         Cte.Cliente_SAP                     AS Integration_ID     ,
                         Cte.RFC                             AS Tax_Exempt_Num     ,
                         ISNULL( RS.Razon_Social, Cte.Nombre ) AS Name               ,                        
                         CteX.X_Route_Ref_1                  AS X_Route_Ref_1      ,
                         Cte.Metodo_Pago                     AS Pay_Type_CD        ,
                         ISNULL( Reg.Regimen_Fiscal,
--                       ISNULL( CteX.Regimen_Fiscal,
                             EAI_Owner.getConv( 'CFG Settings', 'Regimen Fiscal Cliente' ) ) 
                                                             AS RegimenFiscal      ,
                         ISNULL( Uso.UsoCFDI,                                    
                             ISNULL( UsoC.Uso_Venta,
                             EAI_Owner.getConv( 'CFG Settings', 'UsoCFDI_Comercial' ) ) )
                                                             AS UsoCFDI            ,                        
--
                         CteX.X_EM_Field_18                  AS CteX_X_EM_Field_18,
                         CteX.Attrib_34                      AS CteX_Attrib_34    ,
                         CteX.SAP_Cadena                     AS Cad_OU_NUM        ,
--
                         Cte.Codigo_Postal_2                 AS Ship_ZipCode      ,
                         Cte.Pais_2                          AS Ship_Country      ,
                         Cte.Estado_2                        AS Ship_State        ,
                         Cte.Ciudad_2                        AS Ship_City         ,
                         Cte.Direccion_2                     AS Ship_Addr         ,
                         Cte.Colonia_2                       AS Ship_Addr_Line_2  ,
--
                         ISNULL( CP.CP, Cte.Codigo_Postal_3 ) AS Bill_ZipCode       ,
                         Cte.Pais_3                         AS Bill_Country       ,
                         Cte.Estado_3                       AS Bill_State         ,
                         Cte.Ciudad_3                       AS Bill_City          ,
                         Cte.Direccion_3                    AS Bill_Addr          ,
                         Cte.Colonia_3                      AS Bill_Addr_Line_2  
                     FROM T3.CFDI_Cobranza                 Cobza
                     INNER JOIN T3.Mov_Cliente             Cte  ON Cte.Cliente_SAP      = Cobza.Cliente_SAP
                     LEFT OUTER JOIN T3.TMD_Email          CteX ON Cte.Cliente_SAP      = CteX.Cliente_SAP
                     LEFT OUTER JOIN T3.CFDI_USOCFDI_CLIENTE UsoC ON Cte.Cliente_SAP      = UsoC.Cliente_SAP
                     LEFT OUTER JOIN ( SELECT RFC, MAX( Valor ) AS Regimen_Fiscal
                                       FROM T3.CFDI_RFC_Setting
                                       WHERE Parametro = 'RegimenFiscal'
                                       GROUP BY RFC ) Reg ON Cte.RFC              = Reg.RFC                 
                     LEFT OUTER JOIN ( SELECT RFC, MAX( Valor ) AS UsoCFDI
                                       FROM T3.CFDI_RFC_Setting
                                       WHERE Parametro = 'UsoCFDI' 
                                       GROUP BY RFC ) Uso ON Cte.RFC              = Uso.RFC
                     LEFT OUTER JOIN ( SELECT RFC, MAX( Valor ) AS CP
                                       FROM T3.CFDI_RFC_Setting
                                       WHERE Parametro = 'CodigoPostal' 
                                       GROUP BY RFC ) CP ON Cte.RFC              = CP.RFC                                
                     LEFT OUTER JOIN ( SELECT RFC, MAX( Valor ) AS Razon_Social
                                       FROM T3.CFDI_RFC_Setting
                                       WHERE Parametro = 'Nombre'
                                       GROUP BY RFC ) RS ON Cte.RFC              = RS.RFC                                
                    WHERE Cobza.Asignacion_ID  = @sFactura
              )                       Cte 
              INNER JOIN 
               ( 
                   SELECT
                        CASE
                            WHEN ( Alm.Ctro = 'MX7A' ) THEN 'MXAA'
                            WHEN ( Alm.Ctro = 'MX7B' ) THEN 'MXAB'
                            WHEN ( Alm.Ctro = 'MX7D' ) THEN 'MXAC'
                            ELSE
                               Alm.Ctro                
                        END                                                AS Almacen_Ctro        ,                        
                        ISNULL(Alm.Municipio, '') + ', ' + 
                            ISNULL(EAI_Owner.getConv( 'CFDI Estado', Alm.Estado ), '') AS Almacen_Lugar_Expide,    
                        Alm.Calle                                          AS Almacen_Calle       , 
                        Alm.Numero_Exterior                                AS Almacen_NoExterior  ,
                        ''                                                 AS Almacen_NoInterior  ,                                              
                        Alm.Colonia                                        AS Almacen_Colonia     ,
                        T3.FN_TRIM_CFDI( Alm.Municipio         )           AS Almacen_Municipio   ,
                        T3.FN_TRIM_CFDI(                        
                           EAI_Owner.getConv( 'CFDI Estado',
                                              Alm.Estado )     )           AS Almacen_Estado      ,
                        T3.FN_TRIM_CFDI( Alm.Pais              )           AS Almacen_Pais        , 
                        T3.FN_TRIM_CFDI( Alm.CODIGO_POSTAL     )           AS Almacen_codigoPostal                  
                   FROM T3.Distribuidor_Fiscal Alm
                   WHERE Ctro LIKE 'MX%' 
               ) Alm ON Cte.Ctro = Alm.Almacen_Ctro  ;
               
BEGIN TRY
      SET @v_ID = @sFactura ;
      IF ( @nLog > 0 ) BEGIN
         PRINT( 'Inicio' ) ;
      END ;

      OPEN ScrCustomer;
      FETCH NEXT FROM ScrCustomer INTO @ScrCustomer_BATEmision;
      
      WHILE @@FETCH_STATUS = 0 
      BEGIN 
         SET @sBATEMision = @ScrCustomer_BATEmision ;
         
         FETCH NEXT FROM ScrCustomer INTO @ScrCustomer_BATEmision;
      END ; 
      CLOSE ScrCustomer;
      
      IF ( @nLog > 100 ) BEGIN
         PRINT( @sBATEMision ) ;
      END ;
--   
      OPEN ScrINVOICE;
      FETCH NEXT FROM ScrINVOICE INTO @ScrINVOICE_Anexo_CFD;
      
      WHILE @@FETCH_STATUS = 0
      BEGIN
         SET @sAnexo_CFD      = @ScrINVOICE_Anexo_CFD ;
         SET @nInStr_Receptor = CHARINDEX( '<cfdi:Addenda>'      , @sAnexo_CFD ) ;
         SET @nInStr_Control  = CHARINDEX( '</cfdi:Comprobante>' , @sAnexo_CFD ) ;
         IF ( @nLog > 0 ) BEGIN
            PRINT( 'nInStr_Receptor_FC => ' + CAST(@nInstr_Receptor AS VARCHAR) ) ;
            PRINT( 'nInStr_Control     => ' + CAST(@nInstr_Control AS VARCHAR)  ) ;
         END ;
         
         FETCH NEXT FROM ScrINVOICE INTO @ScrINVOICE_Anexo_CFD;
      END ;
      CLOSE ScrINVOICE;
--
      IF ( @nInstr_Receptor = 0 ) AND ( @nInstr_Control > 0 ) BEGIN
         SET @sBATEMision = ISNULL(@sBATEMision, '') + '</cfdi:Comprobante>' ;
         SET @sAnexo_CFD   = REPLACE( @sAnexo_CFD , '</cfdi:Comprobante>', @sBATEMision ) ;
         IF ( @nLog > 10 ) BEGIN
            PRINT( @sAnexo_CFD ) ;
         END ;
         UPDATE T3.RF_Documentos SET Anexo_CFD = CAST( @sAnexo_CFD AS XML ) 
            WHERE Factura = @sFactura ;
         INSERT INTO EAI_Owner.WA_Logging
            ( Fecha, Usuario, Usuario_Red, IP, Terminal, Documento, Comentario )
         VALUES
            ( GETDATE() , CURRENT_USER, 
              SUSER_SNAME(), 
              CAST(CONNECTIONPROPERTY('client_net_address') AS VARCHAR(48)),
              HOST_NAME(),
              @sFactura, 'BATEMISION PAY IND' ) ;            
     
         IF ( @nLog > 0 ) BEGIN
            PRINT( 'Done' ) ;
         END ;
      END ;

      DEALLOCATE ScrCustomer;
      DEALLOCATE ScrINVOICE;
      
END TRY
BEGIN CATCH
      IF CURSOR_STATUS('local', 'ScrCustomer') >= -1
      BEGIN
         IF CURSOR_STATUS('local', 'ScrCustomer') > -1
         BEGIN
            CLOSE ScrCustomer;
         END
         DEALLOCATE ScrCustomer;
      END;

      IF CURSOR_STATUS('local', 'ScrINVOICE') >= -1
      BEGIN
         IF CURSOR_STATUS('local', 'ScrINVOICE') > -1
         BEGIN
            CLOSE ScrINVOICE;
         END
         DEALLOCATE ScrINVOICE;
      END;

      SET @sErrorCode = 'SQL-' + CAST(ERROR_NUMBER() AS VARCHAR(20)) ;
      SET @sMsg = SUBSTRING( CAST(ERROR_NUMBER() AS VARCHAR(20)) + '-' + ERROR_MESSAGE(), 1, 250 ) ;
      INSERT INTO EAI_OWNER.MX_EAI_MESSAGE_LOG
        ( DIRECTION          , ID                      , CREATED             , MESSAGE        , 
          STATUS             , QUEUE_NAME              , SIEBEL_ERROR_MESSAGE, SOURCE         , 
          SIEBEL_ERROR_CODE  , RETRY_COUNT             , SEQUENCE            , PARENT_ROW_ID   )
      VALUES 
        ( 'WA BATEMISION'    , @v_ID                   , GETDATE()           , NULL           , 
          'Error'            , 'WA_BATEMISION_PAYIND'  , @sMsg               , 'XML'          ,
          @sErrorCode        , NULL                    , NULL                , NULL            ) 

END CATCH;
END
GO
