USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[WA_CFDI_COBRANZA_RFC]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [T3].[WA_CFDI_COBRANZA_RFC] 
   ( @pDays     INT = 1 )
AS
BEGIN
   DECLARE @sMsg        VARCHAR(500) ;
   DECLARE @sErrorCode  VARCHAR(30) ; 
   DECLARE @sFactura    VARCHAR(20) ;
   DECLARE @nDoctos     INT         ;
   DECLARE @sEtapa      VARCHAR(20) ;
   DECLARE @dtInicio    DATETIME    ;
--
   DECLARE @strID       VARCHAR(50) ;
   DECLARE @sAccnt_ID   VARCHAR(50) ;
   DECLARE @sClienteSAP VARCHAR(10) ;
   DECLARE @nPID        INT         ;
   DECLARE @nProceso    INT         ;
   DECLARE @nProceso1   INT         ;
   DECLARE @nProceso2   INT         ;
   DECLARE @sRFC        VARCHAR(20) ;
--   
   -- Variables Cursor
   DECLARE @Exec1_Cobza_RowID VARCHAR(MAX);
   DECLARE @Exec1_ClearingDoc VARCHAR(MAX);
   DECLARE @Exec1_Fecha_Asignacion DATETIME;
   DECLARE @Exec1_Importe DECIMAL(18,4);
   DECLARE @Exec1_Factura VARCHAR(MAX);
   DECLARE @Exec1_RFC VARCHAR(MAX);
   DECLARE @Exec1_Fecha_Proceso DATETIME;
   DECLARE @Exec1_Via_Pago VARCHAR(MAX);
   DECLARE @Exec1_Complemento_ID VARCHAR(MAX);
   DECLARE @Exec1_Tipo_Cobza VARCHAR(MAX);
   DECLARE @Exec1_RFC_33 VARCHAR(MAX);
   DECLARE @Exec1_RFC_40 VARCHAR(MAX);

   DECLARE @Exec2_Cobza_RowID VARCHAR(MAX);
   DECLARE @Exec2_Asignacion_ID VARCHAR(MAX);
   DECLARE @Exec2_ClearingDoc VARCHAR(MAX);
   DECLARE @Exec2_Fecha_Asignacion DATETIME;
   DECLARE @Exec2_Importe DECIMAL(18,4);
   DECLARE @Exec2_Factura VARCHAR(MAX);
   DECLARE @Exec2_RFC VARCHAR(MAX);
   DECLARE @Exec2_Fecha_Proceso DATETIME;
   DECLARE @Exec2_Via_Pago VARCHAR(MAX);
   DECLARE @Exec2_Complemento_ID VARCHAR(MAX);
   DECLARE @Exec2_Tipo_Cobza VARCHAR(MAX);
   DECLARE @Exec2_RFC_33 VARCHAR(MAX);
   DECLARE @Exec2_RFC_40 VARCHAR(MAX);

   DECLARE ScrCursor1 CURSOR LOCAL FORWARD_ONLY STATIC FOR
       SELECT
             Info.Cobza_RowID                            AS Cobza_RowID      ,
             Info.ClearingDoc                            AS ClearingDoc      ,
             Info.Fecha_Asignacion                       AS Fecha_Asignacion ,
             Info.Importe                                AS Importe          ,
             Info.Factura                                AS Factura          ,
             Info.RFC                                    AS RFC              ,
             Info.Fecha_Proceso                          AS Fecha_Proceso    ,
             Info.Via_Pago                               AS Via_Pago         ,
             Info.Complemento_ID                         AS Complemento_ID   ,
             Info.Tipo_Cobza                             AS Tipo_Cobza       ,
             CAST(Vta.anexo_cfd AS XML).value('declare namespace cfdi="http://www.sat.gob.mx/cfd/3"; declare namespace tfd="http://www.sat.gob.mx/TimbreFiscalDigital"; (/cfdi:Comprobante/cfdi:Receptor/@Rfc)[1]', 'VARCHAR(MAX)') AS RFC_33,
             CAST(Vta.anexo_cfd AS XML).value('declare namespace cfdi="http://www.sat.gob.mx/cfd/4"; declare namespace tfd="http://www.sat.gob.mx/TimbreFiscalDigital"; (/cfdi:Comprobante/cfdi:Receptor/@Rfc)[1]', 'VARCHAR(MAX)') AS RFC_40              
          FROM (
                 SELECT 
                        CAST(Cobza.Asignacion_ID AS VARCHAR(MAX)) AS Cobza_RowID     , --opt rowid
                        SUBSTRING( Cobza.Folio_ID, 1,  2 )      AS EjerFiscal      ,
                        SUBSTRING( Cobza.Folio_ID, 3, 10 )      AS ClearingDoc     ,
                        Cobza.Asignacion_ID                     AS Asignacion_ID   ,
                        CAST( Cobza.Fecha_Asignacion AS DATE )  AS Fecha_Asignacion,
                        Cobza.Importe                           AS Importe         ,
                        Cobza.Factura                           AS Factura         ,
                        Cobza.RFC                               AS RFC             ,
                        Cobza.Fecha_Proceso                     AS Fecha_Proceso   ,
                        Cobza.Via_Pago                          AS Via_Pago        ,
                        CASE
                           WHEN ( ISNULL( AgrPago.Agrupacion, 0 ) > 0 ) THEN
                               LTRIM(RTRIM( CAST( AgrPago.Agrupacion AS VARCHAR(MAX) ) ))
                           ELSE
                               Cobza.Asignacion_ID
                        END                                 AS Complemento_ID  ,
                        CASE
                           WHEN ( SUBSTRING( Cobza.Asignacion_ID, 3, 2 )= '22' ) THEN 'Ivy'
                           ELSE
                             'Ctrl'
                        END                                 AS Tipo_Cobza
                    FROM T3.CFDI_Cobranza         Cobza  
                    LEFT OUTER JOIN T3.CFDI_Agrupacion_Pago  AgrPago ON Cobza.Asignacion_ID = AgrPago.Asignacion_ID
                    LEFT OUTER JOIN T3.Preventa_General      PG      ON Cobza.Factura       = PG.Factura
                    WHERE Cobza.Fecha_Proceso   > GETDATE() - ISNULL( @pDays, 7 )
                      AND Cobza.RFC            != 'XAXX010101000'
                      AND PG.Fecha_Cancelacion IS NULL
                      AND Cobza.Via_Pago       != 'CM'
                   ) Info 
                INNER JOIN T3.CFDI_Historia_Docto_PAC  HDP ON Info.Factura          = HDP.Nota_Venta
                INNER JOIN T3.RF_Documentos            Vta ON HDP.Nota_Venta_CFDI   = Vta.Factura
                LEFT OUTER JOIN T3.CFDI_Documentos     CFD ON Info.Complemento_ID   = CFD.Nota_Venta
          WHERE CFD.Fecha_Liberacion IS NULL ;
--   
   DECLARE ScrCursor2 CURSOR LOCAL FORWARD_ONLY STATIC FOR
       SELECT
             Info.Cobza_RowID                            AS Cobza_RowID      ,
             Info.Asignacion_ID                          AS Asignacion_ID    ,
             Info.ClearingDoc                            AS ClearingDoc      ,
             Info.Fecha_Asignacion                       AS Fecha_Asignacion ,
             Info.Importe                                AS Importe          ,
             Info.Factura                                AS Factura          ,
             Info.RFC                                    AS RFC              ,
             Info.Fecha_Proceso                          AS Fecha_Proceso    ,
             Info.Via_Pago                               AS Via_Pago         ,
             Info.Complemento_ID                         AS Complemento_ID   ,
             Info.Tipo_Cobza                             AS Tipo_Cobza       ,
             CAST(Vta.anexo_cfd AS XML).value('declare namespace cfdi="http://www.sat.gob.mx/cfd/3"; declare namespace tfd="http://www.sat.gob.mx/TimbreFiscalDigital"; (/cfdi:Comprobante/cfdi:Receptor/@Rfc)[1]', 'VARCHAR(MAX)') AS RFC_33,
             CAST(Vta.anexo_cfd AS XML).value('declare namespace cfdi="http://www.sat.gob.mx/cfd/4"; declare namespace tfd="http://www.sat.gob.mx/TimbreFiscalDigital"; (/cfdi:Comprobante/cfdi:Receptor/@Rfc)[1]', 'VARCHAR(MAX)') AS RFC_40              
          FROM (
                 SELECT 
                        CAST(Cobza.Asignacion_ID AS VARCHAR(MAX)) AS Cobza_RowID     ,--opt rowid
                        SUBSTRING( Cobza.Folio_ID, 1,  2 )      AS EjerFiscal      ,
                        SUBSTRING( Cobza.Folio_ID, 3, 10 )      AS ClearingDoc     ,
                        Cobza.Asignacion_ID                     AS Asignacion_ID   ,
                        CAST( Cobza.Fecha_Asignacion AS DATE )  AS Fecha_Asignacion,
                        Cobza.Importe                           AS Importe         ,
                        Cobza.Factura                           AS Factura         ,
                        Cobza.RFC                               AS RFC             ,
                        Cobza.Fecha_Proceso                     AS Fecha_Proceso   ,
                        Cobza.Via_Pago                          AS Via_Pago        ,
                        CASE
                           WHEN ( ISNULL( AgrPago.Agrupacion, 0 ) > 0 ) THEN
                               LTRIM(RTRIM( CAST( AgrPago.Agrupacion AS VARCHAR(MAX) ) ))
                           ELSE
                               Cobza.Asignacion_ID
                        END                                 AS Complemento_ID  ,
                        CASE
                           WHEN ( SUBSTRING( Cobza.Asignacion_ID, 3, 2 )= '22' ) THEN 'Ivy'
                           ELSE
                             'Ctrl'
                        END                                 AS Tipo_Cobza
                    FROM T3.CFDI_Cobranza         Cobza  
                    LEFT OUTER JOIN T3.CFDI_Agrupacion_Pago  AgrPago ON Cobza.Asignacion_ID = AgrPago.Asignacion_ID
                    LEFT OUTER JOIN T3.Preventa_General      PG      ON Cobza.Factura       = PG.Factura
                    WHERE Cobza.Fecha_Proceso   > GETDATE() - ISNULL( @pDays, 7 )
                      AND Cobza.RFC            != 'XAXX010101000'
                      AND PG.Fecha_Cancelacion IS NULL
                      AND Cobza.Via_Pago       != 'CM'
                   ) Info 
                INNER JOIN T3.CFDI_Historia_Docto_PAC  HDP ON Info.Factura          = HDP.Nota_Venta
                INNER JOIN T3.RF_Documentos            Vta ON HDP.Nota_Venta_CFDI   = Vta.Factura
                LEFT OUTER JOIN T3.CFDI_Documentos     CFD ON Info.Complemento_ID   = CFD.Nota_Venta
          WHERE Info.Complemento_ID   = Info.Asignacion_ID
            AND CFD.Fecha_Liberacion IS NOT NULL
            AND CFD.Folio_Fiscal     IS NULL ;            
--
BEGIN TRY
	BEGIN TRAN
   SET @nProceso  = 887 ;
   SET @nPID      = NEXT VALUE FOR EAI_Owner.ProcessID ;
   EXEC EAI_Owner.Log_Start @nProceso ;
   INSERT INTO T3.RF_PROCESOS_LOG ( PID , Proceso , Fecha_Proc_BATMD, Inicio )
      VALUES ( @nPID, @nProceso, NULL, GETDATE() ) ;   
   SET @nProceso1 = 0 ;
   
   OPEN ScrCursor1;
   FETCH NEXT FROM ScrCursor1 INTO @Exec1_Cobza_RowID, @Exec1_ClearingDoc, @Exec1_Fecha_Asignacion, @Exec1_Importe, @Exec1_Factura, @Exec1_RFC, @Exec1_Fecha_Proceso, @Exec1_Via_Pago, @Exec1_Complemento_ID, @Exec1_Tipo_Cobza, @Exec1_RFC_33, @Exec1_RFC_40;
   
   WHILE @@FETCH_STATUS = 0
   BEGIN
      SET @sRFC = '' ;
      IF ( LEN( ISNULL(@Exec1_RFC_33, '') ) > 10 ) 
      BEGIN
         SET @sRFC = @Exec1_RFC_33 ;
      END ;
      IF ( LEN( ISNULL(@Exec1_RFC_40, '') ) > 10 ) 
      BEGIN
         SET @sRFC = @Exec1_RFC_40 ;
      END ;
      IF ( LEN( @sRFC ) > 10 ) 
      BEGIN
         IF ( @Exec1_RFC != @sRFC ) 
         BEGIN
            SET @nProceso1 = @nProceso1 + 1 ;
--          PRINT( 'RFC de ' + ISNULL(@Exec1_RFC, '') + ' a ' + ISNULL(@sRFC, '') ) ;
            UPDATE T3.CFDI_Cobranza SET RFC = @sRFC
               WHERE Asignacion_ID = @Exec1_Cobza_RowID ; -- Uso de ROWID optimizado
               
            INSERT INTO EAI_Owner.WA_Logging
               ( Fecha, Usuario, Usuario_Red, IP, Terminal, Documento, Comentario )
            VALUES
               ( GETDATE() , CURRENT_USER, 
                 SUSER_SNAME(), 
                 CAST(CONNECTIONPROPERTY('client_net_address') AS VARCHAR(48)),
                 HOST_NAME(),
                 @Exec1_Factura, 'Update CFDI_Cobranza.RFC' ) ;                
         END ;
      END ;
      
      FETCH NEXT FROM ScrCursor1 INTO @Exec1_Cobza_RowID, @Exec1_ClearingDoc, @Exec1_Fecha_Asignacion, @Exec1_Importe, @Exec1_Factura, @Exec1_RFC, @Exec1_Fecha_Proceso, @Exec1_Via_Pago, @Exec1_Complemento_ID, @Exec1_Tipo_Cobza, @Exec1_RFC_33, @Exec1_RFC_40;
   END ;
   CLOSE ScrCursor1;

   SET @nProceso2 = 0 ;
   
   OPEN ScrCursor2;
   FETCH NEXT FROM ScrCursor2 INTO @Exec2_Cobza_RowID, @Exec2_Asignacion_ID, @Exec2_ClearingDoc, @Exec2_Fecha_Asignacion, @Exec2_Importe, @Exec2_Factura, @Exec2_RFC, @Exec2_Fecha_Proceso, @Exec2_Via_Pago, @Exec2_Complemento_ID, @Exec2_Tipo_Cobza, @Exec2_RFC_33, @Exec2_RFC_40;
   
   WHILE @@FETCH_STATUS = 0
   BEGIN
      SET @sRFC = '' ;
      IF ( LEN( ISNULL(@Exec2_RFC_33, '') ) > 10 ) 
      BEGIN
         SET @sRFC = @Exec2_RFC_33 ;
      END ;
      IF ( LEN( ISNULL(@Exec2_RFC_40, '') ) > 10 ) 
      BEGIN
         SET @sRFC = @Exec2_RFC_40 ;
      END ;
      IF ( LEN( @sRFC ) > 10 ) 
      BEGIN
         IF ( ( @Exec2_RFC != @sRFC ) AND ( @sRFC = 'XAXX010101000' ) ) 
         BEGIN
            SET @nProceso2 = @nProceso2 + 1 ;
          --PRINT( 'RFC ' + ISNULL(@Exec2_Asignacion_ID, '') ) ;
            UPDATE T3.CFDI_Cobranza SET RFC = @sRFC
               WHERE Asignacion_ID = @Exec2_Cobza_RowID ; -- Uso de ROWID optimizado
               
            INSERT INTO EAI_Owner.WA_Logging
               ( Fecha, Usuario, Usuario_Red, IP, Terminal, Documento, Comentario )
            VALUES
               ( GETDATE() , CURRENT_USER, 
                 SUSER_SNAME(), 
                 CAST(CONNECTIONPROPERTY('client_net_address') AS VARCHAR(48)),
                 HOST_NAME(),
                 @Exec2_Factura, 'Inv-Gen=' + ISNULL(@Exec2_Asignacion_ID, '') ) ;
                 
            DELETE T3.CFDI_Documentos        WHERE Nota_Venta = @Exec2_Asignacion_ID ;
            DELETE T3.CFDI_Documentos_Enviar WHERE Nota_Venta = @Exec2_Asignacion_ID ;
         END ;
      END ;
      
      FETCH NEXT FROM ScrCursor2 INTO @Exec2_Cobza_RowID, @Exec2_Asignacion_ID, @Exec2_ClearingDoc, @Exec2_Fecha_Asignacion, @Exec2_Importe, @Exec2_Factura, @Exec2_RFC, @Exec2_Fecha_Proceso, @Exec2_Via_Pago, @Exec2_Complemento_ID, @Exec2_Tipo_Cobza, @Exec2_RFC_33, @Exec2_RFC_40;
   END ;
   CLOSE ScrCursor2;
   
   UPDATE EAI_OWNER.MX_COMPONENTS SET Status = 1
      WHERE Component = @nProceso ;
   UPDATE T3.RF_PROCESOS_LOG SET  Fin = GETDATE(), Proceso_1 = @nProceso1, Proceso_2 = @nProceso2,
                                                 Proceso_3 =         0, Proceso_4 = 0
       WHERE PID = @nPID  ;            
   COMMIT ;   
   
   DEALLOCATE ScrCursor1;
   DEALLOCATE ScrCursor2;

END TRY
BEGIN CATCH
   IF @@TRANCOUNT > 0 ROLLBACK ;

   IF CURSOR_STATUS('local', 'ScrCursor1') >= -1
   BEGIN
      IF CURSOR_STATUS('local', 'ScrCursor1') > -1 CLOSE ScrCursor1;
      DEALLOCATE ScrCursor1;
   END;

   IF CURSOR_STATUS('local', 'ScrCursor2') >= -1
   BEGIN
      IF CURSOR_STATUS('local', 'ScrCursor2') > -1 CLOSE ScrCursor2;
      DEALLOCATE ScrCursor2;
   END;

   -- Manejo del error e impresión idéntico al original
   SET @sMsg = SUBSTRING( CAST(ERROR_NUMBER() AS VARCHAR(20)) + '-' + ERROR_MESSAGE(), 1, 250 ) ;
   SET @sMsg = SUBSTRING( ERROR_MESSAGE(), 1, 250 ) ;
   PRINT( REPLICATE( '-', 80 ) ) ;
   PRINT( 'Problemas en la ejecucion del Procedimiento' ) ;
   PRINT( 'FAVOR DE ESCALAR LOS SIGUIENTES DATOS :' ) ;
   PRINT( 'Procedimiento : ' + 'WA_CFDI_COBRANZA_UUID' ) ;
   PRINT( 'Fecha         : ' + FORMAT( GETDATE(), 'yyyyMMdd HH:mm:ss' ) ) ;
   PRINT( 'Referencia    : ' + ISNULL(@strID, '') ) ;
   PRINT( 'Error         : ' + ISNULL(@sMsg, '') ) ;
   PRINT( REPLICATE( '-', 80 ) ) ;
--       INSERT INTO T3.RF_ERROR_LOG 
--          ( FECHA, RUTINA, REFERENCIA, ERROR_DESC )
--       VALUES
--          ( GETDATE(), 'WA_CFDI_COBRANZA', @strID, @sMsg ) ;
   SET @sErrorCode = 'SQL-' + CAST( ERROR_NUMBER() AS VARCHAR(20) ) ;
   SET @sMsg = SUBSTRING( CAST( ERROR_NUMBER() AS VARCHAR(20) ) + '-' + ERROR_MESSAGE(), 1, 250 ) ;      
   INSERT INTO EAI_OWNER.MX_EAI_MESSAGE_LOG
     ( DIRECTION         , REFERENCE              , CREATED             , MESSAGE        , JOB_PID,
       STATUS            , QUEUE_NAME             , SIEBEL_ERROR_MESSAGE, SOURCE         , 
       SIEBEL_ERROR_CODE , RETRY_COUNT            , SEQUENCE            , PARENT_ROW_ID   )
   VALUES 
     ( 'Job Logging'     , @strID                 , GETDATE()           , NULL           , @nPID   ,
       'Error'           , 'WA_CFDI_COBRANZA_UUID', @sMsg               , 'PL/SQL'       ,
       @sErrorCode       , NULL                   , NULL                , NULL            ) ;

END CATCH;
END ; -- Procedure
GO
