USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[WA_REENVIO_EDICOM_CREDITMEMO]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [T3].[WA_REENVIO_EDICOM_CREDITMEMO] 
    @sFactura VARCHAR(50),
    @sVersion VARCHAR(50) = '3.3'
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @nDoctos   INT;
    DECLARE @dtFecha   DATETIME;
    DECLARE @dtFactura DATETIME;
    DECLARE @sMsg      VARCHAR(500);

    -- Variables cursor
    DECLARE @Cur_Nota_Venta       VARCHAR(50),
            @Cur_Fecha            DATETIME,
            @Cur_Fecha_Factura    DATETIME,
            @Cur_Fecha_Liberacion DATETIME,
            @Cur_Fecha_Envio      DATETIME,
            @Cur_Folio_Fiscal     VARCHAR(50),
            @Cur_Fecha_Timbre     DATETIME,
            @Cur_Status           VARCHAR(50),
            @Cur_Valor            NUMERIC(18,2),
            @Cur_Texto            VARCHAR(500);

    DECLARE Docto CURSOR LOCAL FORWARD_ONLY STATIC FOR
        WITH XMLNAMESPACES ('http://www.sat.gob.mx/cfd/3' AS cfdi)
        SELECT CFD.Nota_Venta, GETDATE() AS Fecha, RF.Fecha_Factura, CFD.Fecha_Liberacion, CFD.Fecha_Envio, CFD.Folio_Fiscal, CFD.Fecha_Timbre, CFD.Status, 
               ISNULL( CFD.Valor_Subt, 0 ) + ISNULL( CFD.Valor_IVA, 0 )  AS   Valor,
               'Este CFDI sustituye al CFDI emitido con el folio ' + ISNULL(CFD.Folio_Fiscal, '') + ' timbrado con fecha ' + SUBSTRING( CAST(XML.Anexo_CFD AS XML).value('(/cfdi:Comprobante/@Fecha)[1]', 'VARCHAR(50)'), 1, 10 ) AS Texto
        FROM T3.CFDI_Documentos CFD, T3.RF_Documentos XML, T3.Registro_Fiscal RF 
        WHERE CFD.Nota_Venta = @sFactura
          AND CFD.Nota_Venta = RF.Factura
          AND CFD.Nota_Venta = XML.Factura ;
    BEGIN TRY
        BEGIN TRANSACTION;

        SET @nDoctos = 0 ;

        OPEN Docto;
        FETCH NEXT FROM Docto INTO 
            @Cur_Nota_Venta, @Cur_Fecha, @Cur_Fecha_Factura, @Cur_Fecha_Liberacion, 
            @Cur_Fecha_Envio, @Cur_Folio_Fiscal, @Cur_Fecha_Timbre, @Cur_Status, @Cur_Valor, @Cur_Texto;

        WHILE @@FETCH_STATUS = 0
        BEGIN   
            IF ( ( LEN( ISNULL( @Cur_Folio_Fiscal, ' ' ) ) > 10 ) AND ( @Cur_Status IN ( 'CONFIRMADO', 'CANCELLED' ) ) ) 
            BEGIN
                INSERT INTO CFDI_REPROCESO_CFD
                   ( Factura, Fecha, Anexo_CFD )
                SELECT Factura, GETDATE(), Anexo_CFD
                FROM T3.RF_Documentos 
                WHERE Factura = @sFactura ;
                
                INSERT INTO T3.CFDI_REPROCESO
                   ( Nota_Venta, Fecha, Fecha_Factura, Fecha_Liberacion, Fecha_Envio, Folio_Fiscal, Fecha_Timbre, Status, Valor )
                VALUES
                   ( @sFactura, GETDATE(), @dtFactura, @Cur_Fecha_Liberacion, @Cur_Fecha_Envio, @Cur_Folio_Fiscal, @Cur_Fecha_Timbre, @Cur_Status, @Cur_Valor ) ;
                
                INSERT INTO T3.CFDI_TEXTO_ADICIONAL ( Nota_Venta, Linea, Texto, Created )
                VALUES ( @sFactura, 1, @Cur_Texto, GETDATE() ) ;
                
                DELETE FROM T3.CFDI_Documentos        WHERE Nota_Venta = @sFactura ;   
                DELETE FROM T3.CFDI_Documentos_Enviar WHERE Nota_Venta = @sFactura ;
                DELETE FROM T3.RF_Documentos          WHERE Factura    = @sFactura ;   
                
--              PRINT 'Documento : ' + ISNULL(@sFactura, '') + ' reenviado a EDICOM' ;
--              PRINT 'Reportar a Cabrito' ;
                
                IF ( ISNULL( @sVersion, '3.3' ) != '4.0' ) 
                BEGIN
                    EXEC T3.PROC_VSF_GENERAR_MX06_CM @sFactura, NULL ;
                END
                ELSE
                BEGIN
                    EXEC T3.PROC_V40_GENERAR_MX06_CM @sFactura, NULL ;
                END ;
                
                INSERT INTO EAI_Owner.WA_Logging
                       ( Fecha, Usuario, Usuario_Red, IP, Terminal, Documento, Comentario )
                VALUES
                       ( GETDATE() , CURRENT_USER, 
                         SUSER_SNAME(), 
                         CAST(CONNECTIONPROPERTY('client_net_address') AS VARCHAR(50)),
                         HOST_NAME(),
                         @sFactura, 'WA_REENVIO_EDICOM' ) ;                 
            END ;

            FETCH NEXT FROM Docto INTO 
                @Cur_Nota_Venta, @Cur_Fecha, @Cur_Fecha_Factura, @Cur_Fecha_Liberacion, 
                @Cur_Fecha_Envio, @Cur_Folio_Fiscal, @Cur_Fecha_Timbre, @Cur_Status, @Cur_Valor, @Cur_Texto;
        END ;

        CLOSE Docto ;

        IF CURSOR_STATUS('local','Docto') >= -1 DEALLOCATE Docto;

    END TRY
    BEGIN CATCH

        IF CURSOR_STATUS('local','Docto') >= -1
        BEGIN
            IF CURSOR_STATUS('local','Docto') >= 0 CLOSE Docto;
            DEALLOCATE Docto;
        END

        SET @sMsg = SUBSTRING( 'ERROR SQL ' + CAST(ERROR_NUMBER() AS VARCHAR(30)) + ' ' + ERROR_MESSAGE(), 1, 480 ) ;
        
        PRINT '************* Mensaje **************' ;
        PRINT '*** Error en WA_REENVIO_EDICOM  ***' ;
        PRINT @sMsg ;          
    END CATCH
END ; -- Procedure
GO
