USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[WA_FIND_FOLIO_JUMP]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [T3].[WA_FIND_FOLIO_JUMP] 
    @nDays INT = 90
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @nDoctos      INT;
    DECLARE @dtFecha      DATETIME;
    DECLARE @dtFactura    DATETIME;
    DECLARE @sMsg         VARCHAR(500);
    DECLARE @nItems       INT;
    DECLARE @dtFechaTrn   DATETIME;
    DECLARE @sSerieAnt    VARCHAR(20);
    DECLARE @nMinFolioAnt INT;

    -- Variables cursor
    DECLARE @Cur_Serie         VARCHAR(20),
            @Cur_Fecha_Factura DATETIME,
            @Cur_Min_Folio     INT,
            @Cur_Max_Folio     INT,
            @Cur_Cnt_Folio     INT;

    DECLARE ScrDoctos CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT Info.Serie              AS Serie        ,
               Info.Fecha_Factura      AS Fecha_Factura,
               CAST(MIN( Info.Folio ) AS INT) AS Min_Folio    ,
               CAST(MAX( Info.Folio ) AS INT) AS Max_Folio    ,
               COUNT( Info.Folio )     AS Cnt_Folio
        FROM 
             ( SELECT SUBSTRING( FG.Factura, 1,  5 )                         AS Serie        ,
                      SUBSTRING( FG.Factura, 6,  1 )                         AS Guion        ,
                      SUBSTRING( FG.Factura, 7, 10 )                         AS Folio        ,
                      FG.Fecha_Factura                                       AS Fecha_Factura,
                      FG.Factura                                             AS Factura      ,
                      T3.FUNC_IS_NUMBER( SUBSTRING( FG.Factura, 7, 10 ) )    AS IsNum
               FROM T3.Factura_General FG
               WHERE FG.Fecha_Trn    > DATEADD(day, -ISNULL(@nDays, 90), GETDATE()) ) Info
        WHERE Info.Guion = '-'
          AND Info.IsNum = 'PASS'            
        GROUP BY Info.Serie, Info.Fecha_Factura
        ORDER BY Info.Serie, Info.Fecha_Factura ;
--
    BEGIN TRY

        SET @nDoctos      = 0  ;
        SET @sSerieAnt    = 'Empty' ;
        SET @nMinFolioAnt = 0 ;
        
        TRUNCATE TABLE T3.WA_JUMPING_SEQUENCE ;

        OPEN ScrDoctos;
        FETCH NEXT FROM ScrDoctos INTO 
            @Cur_Serie, @Cur_Fecha_Factura, @Cur_Min_Folio, @Cur_Max_Folio, @Cur_Cnt_Folio;

        WHILE @@FETCH_STATUS = 0
        BEGIN 
            IF ( @sSerieAnt != @Cur_Serie ) 
            BEGIN
                SET @sSerieAnt    = @Cur_Serie     ;
                SET @nMinFolioAnt = @Cur_Max_Folio ;
                SET @nDoctos      = 0              ;
            END ;
            
            IF ( ( @sSerieAnt = @Cur_Serie ) AND ( @nDoctos > 0 ) ) 
            BEGIN
                IF ( @Cur_Min_Folio != ( @nMinFolioAnt + 1 ) ) 
                BEGIN
--                 DBMS_Output.Put_Line ( 'Serie: ' || Doc.Serie || '. Fecha: ' || TO_CHAR( Doc.Fecha_Factura, 'YYYY-MM-DD' )  
--                      || '. Folio ' || nMinFolioAnt || ' => ' || Doc.Min_Folio ) ;
                   INSERT INTO T3.WA_JUMPING_SEQUENCE 
                      ( Serie, Fecha_Factura, Folio_Final, Folio_Inicial, Created )
                   VALUES
                      ( @Cur_Serie, @Cur_Fecha_Factura, @nMinFolioAnt, @Cur_Min_Folio, GETDATE() ) ;
                END ;
            END ;
            
            SET @nMinFolioAnt = @Cur_Max_Folio ;
            SET @nDoctos = @nDoctos + 1 ;

            FETCH NEXT FROM ScrDoctos INTO 
                @Cur_Serie, @Cur_Fecha_Factura, @Cur_Min_Folio, @Cur_Max_Folio, @Cur_Cnt_Folio;
        END ;
        CLOSE ScrDoctos ;

        IF CURSOR_STATUS('local','ScrDoctos') >= -1 DEALLOCATE ScrDoctos;

    END TRY
    BEGIN CATCH

        IF CURSOR_STATUS('local','ScrDoctos') >= -1
        BEGIN
            IF CURSOR_STATUS('local','ScrDoctos') >= 0 CLOSE ScrDoctos;
            DEALLOCATE ScrDoctos;
        END

        SET @sMsg = SUBSTRING( 'ERROR SQL ' + CAST(ERROR_NUMBER() AS VARCHAR(30)) + ' ' + ERROR_MESSAGE(), 1, 480 ) ;
        PRINT '*************** Mensaje ****************' ;
        PRINT '**** Error en WA_FIND_FOLIO_JUMP  *****' ;
        PRINT @sMsg ;          
    END CATCH
END ; -- Procedure
GO
