USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[WA_UPD_SUBDEPOSITOS]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [T3].[WA_UPD_SUBDEPOSITOS] 
   ( @pFactura VARCHAR(MAX) )
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sMsg        VARCHAR(500);
    DECLARE @sFactura    VARCHAR(20);
    DECLARE @nDoctos     NUMERIC(6);
    DECLARE @sEtapa      VARCHAR(20);
    DECLARE @sProcesar   VARCHAR(4);
--   
    DECLARE @dtFecha_Proc_BATMD DATETIME;
--
    DECLARE @strID       VARCHAR(50);
    DECLARE @sAccnt_ID   VARCHAR(50);
    DECLARE @sClienteSAP VARCHAR(10);

    -- Variables cursor
    DECLARE @JAU_Cliente_SAP VARCHAR(10);
    DECLARE @JAU_Cliente_V3 VARCHAR(50);
    DECLARE @JAU_Direccion_1 VARCHAR(255);
    DECLARE @JAU_Colonia_1 VARCHAR(255);
    DECLARE @JAU_Ciudad_1 VARCHAR(255);
    DECLARE @JAU_Estado_1 VARCHAR(255);
    DECLARE @JAU_Codigo_Postal_1 VARCHAR(20);

    DECLARE ScrHeader CURSOR LOCAL FORWARD_ONLY STATIC FOR
       SELECT MC.Cliente_SAP, MC.Cliente_V3, SUBD.Direccion_1, SUBD.Colonia_1, 
              SUBD.Ciudad_1, SUBD.Estado_1, SUBD.Codigo_Postal_1
          FROM T3.WA_SUBDEPOSITOS SUBD , T3.Mov_Cliente MC
          WHERE SUBD.Cliente_SAP IS NOT NULL
            AND SUBD.Cliente_SAP = MC.Cliente_SAP ;
--
    BEGIN TRY
        BEGIN TRANSACTION;

        SET @strID     = @pFactura ;
        SET @sProcesar = 'SI' ;

        OPEN ScrHeader ;
        FETCH NEXT FROM ScrHeader INTO @JAU_Cliente_SAP, @JAU_Cliente_V3, @JAU_Direccion_1, @JAU_Colonia_1, @JAU_Ciudad_1, @JAU_Estado_1, @JAU_Codigo_Postal_1;
        WHILE @@FETCH_STATUS = 0
        BEGIN
           UPDATE T3.Mov_Cliente SET Direccion_1     = @JAU_Direccion_1    ,
                                     Colonia_1       = @JAU_Colonia_1      ,
                                     Ciudad_1        = @JAU_Ciudad_1       ,
                                     Estado_1        = @JAU_Estado_1       ,
                                     Codigo_Postal_1 = @JAU_Codigo_Postal_1
              WHERE Cliente_V3 = @JAU_Cliente_V3 ;                       
           
           FETCH NEXT FROM ScrHeader INTO @JAU_Cliente_SAP, @JAU_Cliente_V3, @JAU_Direccion_1, @JAU_Colonia_1, @JAU_Ciudad_1, @JAU_Estado_1, @JAU_Codigo_Postal_1;
        END ;
        CLOSE ScrHeader ;
        DEALLOCATE ScrHeader ;

        UPDATE T3.Remision_General SET ShiptoParty = Destino
           WHERE Destino      LIKE 'MX%'
             AND Fecha_Trn      > DATEADD(DAY, -30, GETDATE())
             AND ShiptoParty   IS NULL ;
             
        UPDATE T3.Remision_General SET ShiptoParty = REPLACE( ShiptoParty, 'PC-00-', '' )
           WHERE ShiptoParty      LIKE 'PC-00-MX%'
             AND Fecha_Trn      > DATEADD(DAY, -30, GETDATE()) ;
             
        COMMIT TRANSACTION ;
--
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION ;

        IF CURSOR_STATUS('local', 'ScrHeader') >= 0 
        BEGIN 
            CLOSE ScrHeader; 
            DEALLOCATE ScrHeader; 
        END;

        SET @sMsg = SUBSTRING( CAST(ERROR_NUMBER() AS VARCHAR(20)) + '-' + ERROR_MESSAGE(), 1, 250 ) ;
        SET @sMsg = SUBSTRING( ERROR_MESSAGE(), 1, 250 ) ;
        
        PRINT REPLICATE( '-', 80 ) ;
        PRINT 'Problemas en la ejecucion del Procedimiento' ;
        PRINT 'FAVOR DE ESCALAR LOS SIGUIENTES DATOS :' ;
        PRINT 'Procedimiento : ' + 'WA_UPD_SUBDEPOSITOS' ;
        PRINT 'Fecha         : ' + REPLACE(CONVERT(VARCHAR(10), GETDATE(), 120), '-', '') + ' ' + CONVERT(VARCHAR(8), GETDATE(), 108) ; 
        PRINT 'Referencia    : ' + ISNULL( @strID, '' ) ;
        PRINT 'Error         : ' + ISNULL( @sMsg, '' ) ;
        PRINT REPLICATE( '-', 80 ) ;

        INSERT INTO T3.RF_ERROR_LOG 
           ( FECHA, RUTINA, REFERENCIA, ERROR_DESC )
        VALUES
           ( GETDATE(), 'WA_UPD_SUBDEPOSITOS', @strID, @sMsg ) ;
        
    END CATCH;
END ; 
GO
