USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[WA_CFDI_COBZA_ASIG_CTRL]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [T3].[WA_CFDI_COBZA_ASIG_CTRL] 
   ( @pDays     INT = 1,
     @pOutput   INT = 0 )
AS
BEGIN
   DECLARE @sMsg        VARCHAR(500) ;
   DECLARE @sErrorCode  VARCHAR(30) ; 
   DECLARE @sFactura    VARCHAR(20) ;
   DECLARE @nDoctos     INT         ;
   DECLARE @sEtapa      VARCHAR(20) ;
   DECLARE @dtInicio    DATETIME    ;
--
   DECLARE @sRFC        VARCHAR(40) ;
   DECLARE @sAsignacion VARCHAR(40) ;
   DECLARE @sVia_Pago   VARCHAR(40) ;
   DECLARE @nCntPagos   INT         ;
--
   DECLARE @strID       VARCHAR(50) ;
   DECLARE @sAccnt_ID   VARCHAR(50) ;
   DECLARE @sClienteSAP VARCHAR(10) ;
   DECLARE @nPID        INT         ;
   DECLARE @nProceso    INT         ;
   DECLARE @nProceso1   INT         ;
   DECLARE @nProceso2   INT         ;
   DECLARE @nProceso3   INT         ;
--   
   -- Variables cursores
   DECLARE @Exec_RFC VARCHAR(MAX);
   DECLARE @Exec_Asignacion_Central VARCHAR(MAX);
   DECLARE @Exec_Via_Pago VARCHAR(MAX);
   DECLARE @Exec_CntPagos INT;

   DECLARE @Pagos_Cobza_ROWID VARCHAR(MAX);
   DECLARE @Pagos_Via_Pago VARCHAR(MAX);
   DECLARE @Pagos_Fecha_Envio DATETIME;

   DECLARE ScrCursor CURSOR LOCAL FORWARD_ONLY STATIC FOR
      SELECT Cobza.RFC, Cobza.Asignacion_Central, Cobza.Via_Pago, COUNT(*) AS CntPagos
         FROM T3.CFDI_Cobranza Cobza
         INNER JOIN 
              (
                SELECT RFC, Asignacion_Central , COUNT( DISTINCT Via_Pago ) AS Dist_Via_Pago 
                   FROM T3.CFDI_Cobranza
                   WHERE Fecha_Proceso      > GETDATE() - @pDays
                     AND RFC               != 'XAXX010101000'
                     AND Asignacion_Central IS NOT NULL
                     AND Via_Pago          != 'CM'
                     AND Fecha_Envio        IS NULL
                   GROUP BY RFC, Asignacion_Central
                   HAVING COUNT( DISTINCT Via_Pago ) > 1
              ) Dup ON Cobza.RFC = Dup.RFC AND Cobza.Asignacion_Central = Dup.Asignacion_Central
         WHERE Cobza.Fecha_Proceso       > GETDATE() - @pDays
           AND Cobza.Asignacion_Central IS NOT NULL
           AND Cobza.Via_Pago           != 'CM'
           AND Cobza.Fecha_Envio        IS NULL
           AND LEN( ISNULL(Cobza.Asignacion_Central, '') ) > 8
         GROUP BY Cobza.RFC, Cobza.Asignacion_Central, Cobza.Via_Pago
         ORDER BY Cobza.Asignacion_Central, COUNT(*) DESC, Cobza.Via_Pago ;
--
   DECLARE ScrPagos CURSOR LOCAL FORWARD_ONLY STATIC FOR
      SELECT CAST(Cobza.Asignacion_ID AS VARCHAR(MAX)) AS Cobza_ROWID  , --OPT ROWID
             Cobza.Via_Pago       AS Via_Pago     ,
             Cobza.Fecha_Envio    AS Fecha_Envio
         FROM T3.CFDI_Cobranza Cobza
         WHERE Cobza.Fecha_Proceso > GETDATE() - @pDays
           AND Cobza.Asignacion_Central = @sAsignacion
           AND Cobza.RFC = @sRFC ;   
--
BEGIN TRY
	BEGIN TRAN
   SET @nProceso  = 889 ;
   SET @nPID      = NEXT VALUE FOR EAI_Owner.ProcessID ;
   EXEC EAI_Owner.Log_Start @nProceso ;
   INSERT INTO T3.RF_PROCESOS_LOG ( PID , Proceso , Fecha_Proc_BATMD, Inicio )
      VALUES ( @nPID, @nProceso, NULL, GETDATE() ) ;   
   SET @nProceso1   = 0 ;
   SET @nProceso2   = 0 ;
   SET @nProceso3   = 0 ;
   SET @sRFC        = 'Initial' ;
   SET @sAsignacion = 'Initial' ;
   SET @sVia_Pago   = 'Initial' ;
   SET @nCntPagos   = 00        ;
   
   OPEN ScrCursor;
   FETCH NEXT FROM ScrCursor INTO @Exec_RFC, @Exec_Asignacion_Central, @Exec_Via_Pago, @Exec_CntPagos;
   
   WHILE @@FETCH_STATUS = 0
   BEGIN
      SET @nProceso1 = @nProceso1 + 1 ;
      IF ( ( @sRFC      != @Exec_RFC      ) OR ( @sAsignacion != @Exec_Asignacion_Central ) ) 
      BEGIN
          SET @sRFC        = @Exec_RFC                ;
          SET @sAsignacion = @Exec_Asignacion_Central ;
          SET @sVia_Pago   = @Exec_Via_Pago           ;
          SET @nCntPagos   = @Exec_CntPagos           ;
      END
      ELSE
      BEGIN
         IF ( ( @sRFC = @Exec_RFC ) AND ( @sAsignacion = @Exec_Asignacion_Central ) ) 
         BEGIN
            IF ( @nCntPagos > @Exec_CntPagos ) 
            BEGIN
               SET @nProceso2 = @nProceso2 + 1 ;
               IF ( ISNULL( @pOutput, 0 ) > 0 ) 
               BEGIN
                  PRINT( 'Execute WA : ' + ISNULL(@sVia_Pago, '') + ' / ' + CAST(@nCntPagos AS VARCHAR) ) ;
               END ;   

               OPEN ScrPagos;
               FETCH NEXT FROM ScrPagos INTO @Pagos_Cobza_ROWID, @Pagos_Via_Pago, @Pagos_Fecha_Envio;
               
               WHILE @@FETCH_STATUS = 0
               BEGIN
                  IF ( @Pagos_Via_Pago != @sVia_Pago ) 
                  BEGIN
                     SET @nProceso3 = @nProceso3 + 1 ;
                     IF ( @Pagos_Fecha_Envio IS NULL ) 
                     BEGIN      
                         UPDATE T3.CFDI_Cobranza SET Fecha_Envio = GETDATE()
                            WHERE Asignacion_ID = @Pagos_Cobza_ROWID ; --OPTWOEID
                         IF ( ISNULL( @pOutput, 0 ) > 0 ) 
                         BEGIN   
                            PRINT( 'ROWID : ' + ISNULL(@Pagos_Cobza_ROWID, '') ) ;    --OPTWOEID
                         END ;   
                     END ;
                  END ;
                  
                  FETCH NEXT FROM ScrPagos INTO @Pagos_Cobza_ROWID, @Pagos_Via_Pago, @Pagos_Fecha_Envio;
               END ;
               CLOSE ScrPagos;
            END ;  
         END ;
      END ;
      
      FETCH NEXT FROM ScrCursor INTO @Exec_RFC, @Exec_Asignacion_Central, @Exec_Via_Pago, @Exec_CntPagos;
   END ;
   CLOSE ScrCursor;
   
-- T3.PROC_CFDI_COBZA_PID( pDays ) ;
   UPDATE EAI_OWNER.MX_COMPONENTS SET Status = 1
      WHERE Component = @nProceso ;
   UPDATE T3.RF_PROCESOS_LOG SET  Fin = GETDATE(), Proceso_1 = @nProceso1, Proceso_2 = @nProceso2,
                                                 Proceso_3 = @nProceso3, Proceso_4 = 0
       WHERE PID = @nPID  ;            
   COMMIT ;   
   
   IF ( ISNULL( @pOutput, 0 ) > 0 ) 
   BEGIN
      PRINT( 'Registros        : ' + CAST(@nProceso1 AS VARCHAR) ) ;
      PRINT( 'Inconsistencias  : ' + CAST(@nProceso2 AS VARCHAR) ) ;
      PRINT( 'Pagos            : ' + CAST(@nProceso3 AS VARCHAR) ) ;
   END ;   
   
   DEALLOCATE ScrCursor;
   DEALLOCATE ScrPagos;

END TRY
BEGIN CATCH
   IF @@TRANCOUNT > 0 ROLLBACK ;

   IF CURSOR_STATUS('local', 'ScrCursor') >= -1
   BEGIN
      IF CURSOR_STATUS('local', 'ScrCursor') > -1 CLOSE ScrCursor;
      DEALLOCATE ScrCursor;
   END;

   IF CURSOR_STATUS('local', 'ScrPagos') >= -1
   BEGIN
      IF CURSOR_STATUS('local', 'ScrPagos') > -1 CLOSE ScrPagos;
      DEALLOCATE ScrPagos;
   END;

   SET @sMsg = SUBSTRING( CAST(ERROR_NUMBER() AS VARCHAR(20)) + '-' + ERROR_MESSAGE(), 1, 250 ) ;
   SET @sMsg = SUBSTRING( ERROR_MESSAGE(), 1, 250 ) ;
   PRINT( REPLICATE( '-', 80 ) ) ;
   PRINT( 'Problemas en la ejecucion del Procedimiento' ) ;
   PRINT( 'FAVOR DE ESCALAR LOS SIGUIENTES DATOS :' ) ;
   PRINT( 'Procedimiento : ' + 'WA_CFDI_COBZA_ASIG_CTRL' ) ;
   PRINT( 'Fecha         : ' + FORMAT( GETDATE(), 'yyyyMMdd HH:mm:ss' ) ) ;
   PRINT( 'Referencia    : ' + ISNULL(@strID, '') ) ;
   PRINT( 'Error         : ' + ISNULL(@sMsg, '') ) ;
   PRINT( REPLICATE( '-', 80 ) ) ;
   
   SET @sErrorCode = 'SQL-' + CAST( ERROR_NUMBER() AS VARCHAR(20) ) ;
   SET @sMsg = SUBSTRING( CAST( ERROR_NUMBER() AS VARCHAR(20) ) + '-' + ERROR_MESSAGE(), 1, 250 ) ;      
   INSERT INTO EAI_OWNER.MX_EAI_MESSAGE_LOG
     ( DIRECTION         , REFERENCE                , CREATED             , MESSAGE        , JOB_PID,
       STATUS            , QUEUE_NAME               , SIEBEL_ERROR_MESSAGE, SOURCE         , 
       SIEBEL_ERROR_CODE , RETRY_COUNT              , SEQUENCE            , PARENT_ROW_ID   )
   VALUES 
     ( 'Job Logging'     , @strID                   , GETDATE()           , NULL           , @nPID   ,
       'Error'           , 'WA_CFDI_COBZA_ASIG_CTRL', @sMsg               , 'PL/SQL'       ,
       @sErrorCode       , NULL                     , NULL                , NULL            ) ;
END CATCH;
END ; -- Procedure
GO
