USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[WA_CFDI_CANCELACION_PAGO]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [T3].[WA_CFDI_CANCELACION_PAGO] 
   ( @pDays     INT = 7,
     @pOutput   INT = 0 )
AS
BEGIN
   DECLARE @sMsg        VARCHAR(500) ;
   DECLARE @sErrorCode  VARCHAR(30) ; 
   DECLARE @sFactura    VARCHAR(20) ;
   DECLARE @nDoctos     INT         ;
   DECLARE @sEtapa      VARCHAR(20) ;
   DECLARE @dtInicio    DATETIME    ;
--
   DECLARE @strID       VARCHAR(50) ;
   DECLARE @sAccnt_ID   VARCHAR(50) ;
   DECLARE @sClienteSAP VARCHAR(10) ;
   DECLARE @nPID        INT         ;
   DECLARE @nProceso    INT         ;
   DECLARE @nProceso1   INT         ;
   DECLARE @nProceso2   INT         ;
   DECLARE @nProceso3   INT         ;
   DECLARE @nProceso4   INT         ;
   DECLARE @nMaxDays    INT         ;
   DECLARE @nImporte    DECIMAL(18,4) ;
--   
   -- Variables cursores
   DECLARE @Exec_Debit_Note VARCHAR(MAX);
   DECLARE @Exec_Document_Date DATETIME;
   DECLARE @Exec_Cust_to_SAP VARCHAR(MAX);
   DECLARE @Exec_Total_Amt DECIMAL(18,4);
   DECLARE @Exec_SAP_Document VARCHAR(MAX);
   DECLARE @Exec_Created DATETIME;
   DECLARE @Exec_Factura VARCHAR(MAX);
   DECLARE @Exec_RFC VARCHAR(MAX);
   DECLARE @Exec_Insert_WA VARCHAR(MAX);

   DECLARE @Pago_Asignacion_ID VARCHAR(MAX);
   DECLARE @Pago_Fecha_Asignacion DATETIME;
   DECLARE @Pago_Importe DECIMAL(18,4);
   DECLARE @Pago_Via_Pago VARCHAR(MAX);

   DECLARE @CHD_Debit_Note VARCHAR(MAX);
   DECLARE @CHD_Document_Date DATETIME;
   DECLARE @CHD_Cust_to_SAP VARCHAR(MAX);
   DECLARE @CHD_Total_Amt DECIMAL(18,4);
   DECLARE @CHD_Created DATETIME;

   DECLARE @Rev_Factura VARCHAR(MAX);

   DECLARE ScrCursor CURSOR LOCAL FORWARD_ONLY STATIC FOR
         SELECT DN.Debit_Note                    AS Debit_Note   ,
                DN.Document_Date                 AS Document_Date,
                DN.Cust_to_SAP                   AS Cust_to_SAP  ,
                DN.Total_Amt                     AS Total_Amt    ,
                DN.SAP_Document                  AS SAP_Document ,
                DN.Created                       AS Created      ,
                DN.Factura                       AS Factura      ,
                ISNULL( MC.RFC, 'XAXX010101000' )  AS RFC          ,
                CASE WHEN WA.Fecha IS NULL THEN 'INSERT' ELSE CONVERT(VARCHAR(8), WA.Fecha, 112) END
                                                 AS Insert_WA
            FROM T3.DEBIT_NOTE_IFC        DN
            LEFT OUTER JOIN T3.Mov_Cliente           MC ON DN.Cust_to_SAP  = MC.Cliente_SAP
            LEFT OUTER JOIN T3.CFDI_WA_CANCELACIONES WA ON DN.Factura      = WA.Factura
            WHERE DN.Created      > CAST( GETDATE() - ISNULL( @pDays, 1 ) AS DATE )
            --AND MC.RFC         != 'XAXX010101000'
            ORDER BY DN.Created DESC ;
--
   DECLARE ScrCobranza CURSOR LOCAL FORWARD_ONLY STATIC FOR
      SELECT Cobza.Asignacion_ID, Cobza.Fecha_Asignacion, Cobza.Importe, Cobza.Via_Pago
         FROM T3.CFDI_Cobranza Cobza
         WHERE Cobza.Factura = @strID
         ORDER BY Cobza.Fecha_Asignacion DESC ;   
--
   DECLARE ScrChequeDev CURSOR LOCAL FORWARD_ONLY STATIC FOR
      SELECT DN.Debit_Note, DN.Document_Date, DN.Cust_to_SAP, DN.Total_Amt, DN.Created
         FROM T3.DEBIT_NOTE_IFC DN
         WHERE DN.Debit_Note LIKE 'CHD%'
           AND DN.Debit_Note = DN.Factura
           AND DN.Created    >  CAST( GETDATE() - ISNULL( @pDays, 1 ) AS DATE ) ;   
--
   DECLARE ScrCheqCobranza CURSOR LOCAL FORWARD_ONLY STATIC FOR
      SELECT Factura
         FROM T3.CFDI_Cobranza Cobza
         WHERE Cliente_SAP = @sClienteSAP 
           AND Fecha_Proc_BATMD > GETDATE() - 30
           AND ABS( Importe - @nImporte ) < 0.05 ;
--
BEGIN TRY
   SET @nProceso1 = 00 ;
   SET @nMaxDays  = 15 ;
--
   SET @nProceso4 = 0 ;
   
   BEGIN TRAN;  
   OPEN ScrChequeDev;
   FETCH NEXT FROM ScrChequeDev INTO @CHD_Debit_Note, @CHD_Document_Date, @CHD_Cust_to_SAP, @CHD_Total_Amt, @CHD_Created;
   
   WHILE @@FETCH_STATUS = 0
   BEGIN
      SET @nProceso4   = @nProceso4 + 1   ; 
      SET @sClienteSAP = @CHD_Cust_to_SAP ;
      SET @nImporte    = @CHD_Total_Amt   ;
      
      OPEN ScrCheqCobranza;
      FETCH NEXT FROM ScrCheqCobranza INTO @Rev_Factura;
      
      WHILE @@FETCH_STATUS = 0
      BEGIN
         UPDATE T3.DEBIT_NOTE_IFC SET Factura = @Rev_Factura
            WHERE Debit_Note = @CHD_Debit_Note ;
         IF ( @pOutput > 0 ) 
         BEGIN
            PRINT( @CHD_Debit_Note + ' -> Factura : ' + ISNULL(@Rev_Factura, '') + ' con importe '  + 
                                LTRIM(RTRIM(STR( @nImporte, 14, 2 ))) + ' al ' + 
                                CONVERT(VARCHAR(10), @CHD_Document_Date, 104) ) ;
         END ;                      
         
         FETCH NEXT FROM ScrCheqCobranza INTO @Rev_Factura;
      END ;
      CLOSE ScrCheqCobranza;
      
      FETCH NEXT FROM ScrChequeDev INTO @CHD_Debit_Note, @CHD_Document_Date, @CHD_Cust_to_SAP, @CHD_Total_Amt, @CHD_Created;
   END ;
   CLOSE ScrChequeDev;
--
   OPEN ScrCursor;
   FETCH NEXT FROM ScrCursor INTO @Exec_Debit_Note, @Exec_Document_Date, @Exec_Cust_to_SAP, @Exec_Total_Amt, @Exec_SAP_Document, @Exec_Created, @Exec_Factura, @Exec_RFC, @Exec_Insert_WA;
   
   WHILE @@FETCH_STATUS = 0
   BEGIN
      SET @nProceso1 = @nProceso1 + 1 ;
      SET @strID      = @Exec_Factura  ;
--    IF ( Exec.RFC = 'XAXX010101000' ) THEN
         SET @nProceso2 = 0 ;
         SET @nProceso3 = 0 ;
         SET @nProceso4 = 0 ;
         
         OPEN ScrCobranza;
         FETCH NEXT FROM ScrCobranza INTO @Pago_Asignacion_ID, @Pago_Fecha_Asignacion, @Pago_Importe, @Pago_Via_Pago;
         
         WHILE @@FETCH_STATUS = 0
         BEGIN
            IF ( @Pago_Importe = @Exec_Total_Amt ) 
            BEGIN
               SET @nProceso3 = DATEDIFF(DAY, @Pago_Fecha_Asignacion, @Exec_Document_Date) ;
               SET @nProceso4 = @nProceso4 + 1 ;
               IF ( ( @nProceso4 = 1 ) AND ( @nProceso3 >= 0 ) AND ( @nProceso3 < @nMaxDays ) ) 
               BEGIN
                  IF ( @pOutput > 0 ) 
                  BEGIN
                     PRINT( 'Factura : ' + ISNULL(@Exec_Factura, '') + ' con importe '  + 
                                LTRIM(RTRIM(STR( @Exec_Total_Amt, 14, 2 ))) + ' al ' + 
                                CONVERT(VARCHAR(10), @Pago_Fecha_Asignacion, 104) ) ;
                  END
                  ELSE
                  BEGIN
                     IF ( @Exec_Insert_WA = 'INSERT' ) 
                     BEGIN
                        INSERT INTO T3.CFDI_WA_CANCELACIONES ( Factura, RFC, Via_Pago, Asignacion_ID, Fecha_Pago )
                           VALUES ( @Exec_Factura, @Exec_RFC, @Pago_Via_Pago, @Pago_Asignacion_ID, @Pago_Fecha_Asignacion ) ;
                        IF ( @Pago_Via_Pago IN ( '01', '02', '03' ) ) 
                        BEGIN   
                           DELETE T3.CFDI_Cobranza   WHERE Asignacion_ID = @Pago_Asignacion_ID ;
                           DELETE T3.Asignacion_Pago WHERE Asignacion_ID = @Pago_Asignacion_ID ;
                           DELETE T3.Pago            WHERE Pago_ID       = @Pago_Asignacion_ID ;
                           INSERT INTO T3.CFDI_REFOLEO
                                ( Docto_SAP, Docto_T3MX, Tipo_Registro ) 
                           VALUES
                                ( @Exec_Debit_Note, @Exec_Factura, 'DOI' ) ;
                        END ;     
                     END ;
                  END ;
               END 
               ELSE IF ( @nProceso4 = 1 ) 
               BEGIN
                  IF ( @pOutput > 0 ) 
                  BEGIN
                     PRINT( 'Factura : ' + ISNULL(@Exec_Factura, '') + ' con importe '  + 
                                   LTRIM(RTRIM(STR( @Exec_Total_Amt, 14, 2 ))) + ' al ' + 
                                   CONVERT(VARCHAR(10), @Pago_Fecha_Asignacion, 104) + ' vs ' + 
                                   CONVERT(VARCHAR(10), @Exec_Document_Date   , 104) ) ;
                  END ;                 
               END ;
            END ;
            
            FETCH NEXT FROM ScrCobranza INTO @Pago_Asignacion_ID, @Pago_Fecha_Asignacion, @Pago_Importe, @Pago_Via_Pago;
         END ;
         CLOSE ScrCobranza;
      
      FETCH NEXT FROM ScrCursor INTO @Exec_Debit_Note, @Exec_Document_Date, @Exec_Cust_to_SAP, @Exec_Total_Amt, @Exec_SAP_Document, @Exec_Created, @Exec_Factura, @Exec_RFC, @Exec_Insert_WA;
   END ;
   CLOSE ScrCursor;
   
   COMMIT TRAN;   

   DEALLOCATE ScrCursor;
   DEALLOCATE ScrCobranza;
   DEALLOCATE ScrChequeDev;
   DEALLOCATE ScrCheqCobranza;

END TRY
BEGIN CATCH
   IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;

   IF CURSOR_STATUS('local', 'ScrCursor') >= -1
   BEGIN
      IF CURSOR_STATUS('local', 'ScrCursor') > -1 CLOSE ScrCursor;
      DEALLOCATE ScrCursor;
   END;

   IF CURSOR_STATUS('local', 'ScrCobranza') >= -1
   BEGIN
      IF CURSOR_STATUS('local', 'ScrCobranza') > -1 CLOSE ScrCobranza;
      DEALLOCATE ScrCobranza;
   END;

   IF CURSOR_STATUS('local', 'ScrChequeDev') >= -1
   BEGIN
      IF CURSOR_STATUS('local', 'ScrChequeDev') > -1 CLOSE ScrChequeDev;
      DEALLOCATE ScrChequeDev;
   END;

   IF CURSOR_STATUS('local', 'ScrCheqCobranza') >= -1
   BEGIN
      IF CURSOR_STATUS('local', 'ScrCheqCobranza') > -1 CLOSE ScrCheqCobranza;
      DEALLOCATE ScrCheqCobranza;
   END;

   SET @sMsg = SUBSTRING( CAST(ERROR_NUMBER() AS VARCHAR(20)) + '-' + ERROR_MESSAGE(), 1, 250 ) ;
   SET @sMsg = SUBSTRING( ERROR_MESSAGE(), 1, 250 ) ;
   PRINT( REPLICATE( '-', 80 ) ) ;
   PRINT( 'Problemas en la ejecucion del Procedimiento' ) ;
   PRINT( 'FAVOR DE ESCALAR LOS SIGUIENTES DATOS :' ) ;
   PRINT( 'Procedimiento : WA_CFDI_CANCELACION_PAGO' ) ;
   PRINT( 'Fecha         : ' + CONVERT(VARCHAR(8), GETDATE(), 112) + ' ' + CONVERT(VARCHAR(8), GETDATE(), 108) ) ;
   PRINT( 'Referencia    : ' + ISNULL(@strID, '') ) ;
   PRINT( 'Error         : ' + ISNULL(@sMsg, '') ) ;
   PRINT( REPLICATE( '-', 80 ) ) ;
   
   SET @sErrorCode = 'SQL-' + CAST( ERROR_NUMBER() AS VARCHAR(20) ) ;
   SET @sMsg = SUBSTRING( CAST(ERROR_NUMBER() AS VARCHAR(20)) + '-' + ERROR_MESSAGE(), 1, 250 ) ;      
   
   INSERT INTO EAI_OWNER.MX_EAI_MESSAGE_LOG
     ( DIRECTION         , REFERENCE                   , CREATED             , MESSAGE        , JOB_PID,
       STATUS            , QUEUE_NAME                  , SIEBEL_ERROR_MESSAGE, SOURCE         , 
       SIEBEL_ERROR_CODE , RETRY_COUNT                 , SEQUENCE            , PARENT_ROW_ID   )
   VALUES 
     ( 'Job Logging'     , @strID                      , GETDATE()           , NULL           , @nPID   ,
       'Error'           , 'WA_CFDI_CANCELACION_PAGO'  , @sMsg               , 'PL/SQL'       ,
       @sErrorCode       , NULL                        , NULL                , NULL            ) ;
END CATCH;
END ; -- Procedure
GO
