USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[WA_V40_REGIMEN]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [T3].[WA_V40_REGIMEN] 
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @nDoctos    NUMERIC(6)     ;
    DECLARE @dtFecha    DATETIME       ;
    DECLARE @dtFactura  DATETIME       ;
    DECLARE @sMsg       VARCHAR(500)   ;
    DECLARE @nItems     NUMERIC(6)     ;
    DECLARE @dtFechaTrn DATETIME       ;

    -- Variables cursor
    DECLARE @Cte_RFC         VARCHAR(255);
    DECLARE @Cte_SF_Regimen  VARCHAR(255);
    DECLARE @Cte_IFC_Regimen VARCHAR(255);

    DECLARE ScrClientes CURSOR LOCAL FORWARD_ONLY STATIC FOR
       SELECT 
              Cte.RFC                 AS RFC        , 
              Cte.Tax_Jurisdiction    AS SF_Regimen ,
              CteReg.Regimen          AS IFC_Regimen
          FROM EAI_Owner.Client Cte
          INNER JOIN ( SELECT Target AS Regimen FROM EAI_Owner.MX_HashTable 
                          WHERE Source = 'Regimen Valido SAT'  ) Reg 
              ON Cte.Tax_Jurisdiction = Reg.Regimen
          LEFT JOIN ( SELECT RFC, Valor AS Regimen FROM T3.CFDI_RFC_Setting
                          WHERE Parametro = 'RegimenFiscal' ) CteReg 
              ON Cte.RFC = CteReg.RFC 
          WHERE Cte.RFC              != 'XAXX010101000'
            AND Cte.Tax_Jurisdiction IS NOT NULL
            AND Cte.RFC              NOT IN (
                                       SELECT Source AS RFC
                                          FROM EAI_Owner.MX_HashTable 
                                          WHERE Type   = 'RegimenFiscal'
                                            AND Target = 'Excluir'            
                                     ) ;
BEGIN TRY
      SET @nDoctos = 0 ;
      
      OPEN ScrClientes ;
      FETCH NEXT FROM ScrClientes INTO @Cte_RFC, @Cte_SF_Regimen, @Cte_IFC_Regimen;
      WHILE @@FETCH_STATUS = 0
      BEGIN
         IF ( @Cte_IFC_Regimen IS NULL )
         BEGIN
            SET @nDoctos = @nDoctos + 1 ;
            INSERT INTO T3.CFDI_RFC_Setting ( RFC, Parametro, Valor )
               VALUES ( @Cte_RFC, 'RegimenFiscal', @Cte_SF_Regimen ) ;
         END
         ELSE
         BEGIN
            IF ( @Cte_IFC_Regimen != @Cte_SF_Regimen )
            BEGIN
               SET @nDoctos = @nDoctos + 1 ;
               UPDATE T3.CFDI_RFC_Setting SET Valor = @Cte_SF_Regimen
                  WHERE RFC = @Cte_RFC AND Parametro = 'RegimenFiscal' ;
            END ;
         END ;
         
         FETCH NEXT FROM ScrClientes INTO @Cte_RFC, @Cte_SF_Regimen, @Cte_IFC_Regimen;
      END ;
      CLOSE ScrClientes ;
      DEALLOCATE ScrClientes ;
--
      IF ( @nDoctos > 0 )
      BEGIN
         PRINT 'WorkAround => Regimen Fiscal' ;
         INSERT INTO EAI_Owner.WA_Logging
            ( Fecha, Usuario, Usuario_Red, IP, Terminal, Documento, Comentario )
         VALUES
            ( GETDATE() , USER_NAME(), 
              CAST(ORIGINAL_LOGIN() AS VARCHAR(255)), 
              CAST(CONNECTIONPROPERTY('client_net_address') AS VARCHAR(255)),
              CAST(HOST_NAME() AS VARCHAR(255)),
              LTRIM(STR(@nDoctos, 6)), 'RegimenSF' ) ;            

      END ;
END TRY
BEGIN CATCH

      IF CURSOR_STATUS('local', 'ScrClientes') >= 0 
      BEGIN 
         CLOSE ScrClientes; 
         DEALLOCATE ScrClientes; 
      END;

      SET @sMsg = SUBSTRING( 'ERROR SQL' + CAST(ERROR_NUMBER() AS VARCHAR(10)) + ' ' + ERROR_MESSAGE(), 1, 480 ) ;
      PRINT '************* Mensaje **************' ;
      PRINT '**** Error en WA_V40_REGIMEN  *****' ;
      PRINT @sMsg ;         
END CATCH;
END ; -- Procedure
GO
