USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[WA_CHEQUE_DEVUELTO]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [T3].[WA_CHEQUE_DEVUELTO] 
    @nDays INT = 30
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @nDoctos   INT;
    DECLARE @dtFecha   DATETIME;
    DECLARE @dtFactura DATETIME;
    DECLARE @sMsg      VARCHAR(500);

    -- Variables cursor
    DECLARE @Cur_Debit_Note          VARCHAR(50),
            @Cur_Document_Date       DATETIME,
            @Cur_Cust_to_SAP         VARCHAR(50),
            @Cur_Total_Amt           NUMERIC(18,4),
            @Cur_Created             DATETIME,
            @Cur_Cobza_Asignacion_ID VARCHAR(50),
            @Cur_Fecha_Asignacion    DATETIME,
            @Cur_Cobza_RFC           VARCHAR(50),
            @Cur_Cobza_Importe       NUMERIC(18,4),
            @Cur_Cobza_Factura       VARCHAR(50),
            @Cur_Fecha_Proc_BATMD    DATETIME,
            @Cur_Fecha_Proceso       DATETIME,
            @Cur_Match               VARCHAR(20);

    DECLARE Docto CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT 
               DN.Debit_Note                                    AS Debit_Note         ,
               DN.Document_Date                                 AS Document_Date      ,
               DN.Cust_to_SAP                                   AS Cust_to_SAP        ,
               DN.Total_Amt                                     AS Total_Amt          ,
               DN.Created                                       AS Created            ,
               Cobza.Asignacion_ID                              AS Cobza_Asignacion_ID,
               Cobza.Fecha_Asignacion                           AS Fecha_Asignacion   ,
               Cobza.RFC                                        AS Cobza_RFC          ,
               Cobza.Importe                                    AS Cobza_Importe      ,
               Cobza.Factura                                    AS Cobza_Factura      ,
               Cobza.Fecha_Proc_BATMD                           AS Fecha_Proc_BATMD   ,
               Cobza.Fecha_Proceso                              AS Fecha_Proceso      ,
               CASE
                   WHEN ( Cobza.Importe = DN.Total_Amt ) THEN 'Match'
                   ELSE
                     'Non-Match'
               END                                              AS Match
        FROM T3.DEBIT_NOTE_IFC DN,
             (
               SELECT Cobza.*
                  FROM T3.CFDI_Cobranza Cobza
                  WHERE Cobza.Fecha_Proceso    > DATEADD(day, -ISNULL(@nDays, 30), GETDATE())
                    AND Cobza.Cliente_SAP IN ( SELECT DISTINCT Cust_to_SAP FROM T3.DEBIT_NOTE_IFC WHERE Debit_Note = Factura )
             ) Cobza
        WHERE DN.Created      > DATEADD(day, -ISNULL(@nDays, 30), GETDATE())
          AND DN.Debit_Note   = DN.Factura
          AND DN.Cust_to_SAP  = Cobza.Cliente_SAP
        ORDER BY DN.Created DESC, DN.Debit_Note DESC, Cobza.Fecha_Asignacion DESC ;              
--

    BEGIN TRY
        BEGIN TRANSACTION;

        SET @nDoctos = 0 ;

        OPEN Docto;
        FETCH NEXT FROM Docto INTO 
            @Cur_Debit_Note, @Cur_Document_Date, @Cur_Cust_to_SAP, @Cur_Total_Amt, 
            @Cur_Created, @Cur_Cobza_Asignacion_ID, @Cur_Fecha_Asignacion, 
            @Cur_Cobza_RFC, @Cur_Cobza_Importe, @Cur_Cobza_Factura, 
            @Cur_Fecha_Proc_BATMD, @Cur_Fecha_Proceso, @Cur_Match;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            IF ( @Cur_Match = 'Match' ) 
            BEGIN
                UPDATE T3.DEBIT_NOTE_IFC SET Factura = @Cur_Cobza_Factura 
                WHERE Debit_Note = @Cur_Debit_Note ;
                
                INSERT INTO EAI_Owner.WA_Logging
                    ( Fecha, Usuario, Usuario_Red, IP, Terminal, Documento, Comentario )
                VALUES
                    ( GETDATE() , CURRENT_USER, 
                      SUSER_SNAME(), 
                      CAST(CONNECTIONPROPERTY('client_net_address') AS VARCHAR(50)),
                      HOST_NAME(),
                      @Cur_Debit_Note, 'WA_CHEQUE_DEVUELTO' ) ;                         
            END ;       
            
            FETCH NEXT FROM Docto INTO 
                @Cur_Debit_Note, @Cur_Document_Date, @Cur_Cust_to_SAP, @Cur_Total_Amt, 
                @Cur_Created, @Cur_Cobza_Asignacion_ID, @Cur_Fecha_Asignacion, 
                @Cur_Cobza_RFC, @Cur_Cobza_Importe, @Cur_Cobza_Factura, 
                @Cur_Fecha_Proc_BATMD, @Cur_Fecha_Proceso, @Cur_Match;
        END ;

        CLOSE Docto ;
        COMMIT ;
        IF CURSOR_STATUS('local','Docto') >= -1 DEALLOCATE Docto;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK ;

        IF CURSOR_STATUS('local','Docto') >= -1
        BEGIN
            IF CURSOR_STATUS('local','Docto') >= 0 CLOSE Docto;
            DEALLOCATE Docto;
        END

        SET @sMsg = SUBSTRING( 'ERROR ORACLE ' + CAST(ERROR_NUMBER() AS VARCHAR(30)) + ' ' + ERROR_MESSAGE(), 1, 480 ) ;
        
        PRINT '************* Mensaje **************' ;
        PRINT '*** Error en WA_CHEQUE_DEVUELTO ***' ;
        PRINT @sMsg ;          

    END CATCH
END; 
GO
