USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[WA_CFDI_COMPLEMENTO]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [T3].[WA_CFDI_COMPLEMENTO] 
    @pDays INT = 1
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sMsg           VARCHAR(500);
    DECLARE @sFactura       VARCHAR(20);
    DECLARE @nDoctos        INT;
    DECLARE @sEtapa         VARCHAR(20);
    DECLARE @dtInicio       DATETIME;
--
    DECLARE @strID          VARCHAR(50);
    DECLARE @sAccnt_ID      VARCHAR(50);
    DECLARE @sClienteSAP    VARCHAR(10);
    DECLARE @sCteMethod     VARCHAR(30);
    DECLARE @sCteBankName   VARCHAR(30);
    DECLARE @sCteAccountNum VARCHAR(30); 

    -- Variables cursor
    DECLARE @Cur_Asignacion_ID    VARCHAR(50),
            @Cur_Fecha_Asignacion DATETIME,
            @Cur_Asignado         NUMERIC(18,4),
            @Cur_RFC              VARCHAR(50),
            @Cur_VoidDoc          VARCHAR(50),
            @Cur_Factura          VARCHAR(20),
            @Cur_Fecha_Factura    DATETIME,
            @Cur_Nota_Venta       VARCHAR(50),
            @Cur_UUID_Venta       VARCHAR(50),
            @Cur_Fecha_Liberacion DATETIME,
            @Cur_Fecha_Timbre     DATETIME;
    DECLARE @Cur2_Asignacion_ID VARCHAR(50),
            @Cur2_Accnt_ID      VARCHAR(50),
            @Cur2_Master_Banco  VARCHAR(50);

    DECLARE ScrCursor CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT 
               Cobza.Asignacion_ID        AS Asignacion_ID   ,
               Cobza.Fecha_Asignacion     AS Fecha_Asignacion,
               Cobza.Importe              AS Asignado        ,
               Cobza.RFC                  AS RFC             ,
               Paso.VoidDoc               AS VoidDoc         ,
               Cobza.Factura              AS Factura         ,
               Cobza.Fecha_Factura        AS Fecha_Factura   ,
               Cobza.Nota_Venta           AS Nota_Venta      ,
               CFD.Folio_Fiscal           AS UUID_Venta      ,
               CFD.Fecha_Liberacion       AS Fecha_Liberacion,
               CFD.Fecha_Timbre           AS Fecha_Timbre  
        FROM T3.CFDI_Cobranza        Cobza
        LEFT OUTER JOIN T3.CFDI_Documentos      CFD  ON Cobza.Nota_Venta = CFD.Nota_Venta
        LEFT OUTER JOIN T3.CFDI_Documento_Paso Paso ON Cobza.Factura = Paso.Factura
        WHERE Cobza.Status         IS NULL
          AND Cobza.UUID_Venta     IS NULL
          AND Cobza.Fecha_Proceso >  DATEADD(day, -ISNULL(@pDays, 1), GETDATE())
        --AND CFD.Fecha_Liberacion IS NULL
        --AND ISNULL( Paso.VoidDoc, 'NO' ) != 'SI'
        ORDER BY Cobza.fecha_Asignacion DESC ;   
--
    DECLARE ScrMasterData CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT Cobza.Asignacion_ID        AS Asignacion_ID   ,
               Cobza.Accnt_ID             AS Accnt_ID        ,
               Cobza.Master_Banco         AS Master_Banco
        FROM T3.CFDI_Cobranza        Cobza
        WHERE Cobza.Fecha_Proceso >  DATEADD(day, -ISNULL(@pDays, 1), GETDATE()) ;         

    BEGIN TRY
        BEGIN TRANSACTION;

        OPEN ScrCursor;
        FETCH NEXT FROM ScrCursor INTO 
            @Cur_Asignacion_ID, @Cur_Fecha_Asignacion, @Cur_Asignado, @Cur_RFC, 
            @Cur_VoidDoc, @Cur_Factura, @Cur_Fecha_Factura, @Cur_Nota_Venta, 
            @Cur_UUID_Venta, @Cur_Fecha_Liberacion, @Cur_Fecha_Timbre;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @strID = @Cur_Asignacion_ID ;
            IF (@Cur_UUID_Venta IS NOT NULL) 
            BEGIN
                UPDATE T3.CFDI_Cobranza 
                SET UUID_Venta = @Cur_UUID_Venta  
                WHERE Asignacion_ID = @Cur_Asignacion_ID ;
            END

            FETCH NEXT FROM ScrCursor INTO 
                @Cur_Asignacion_ID, @Cur_Fecha_Asignacion, @Cur_Asignado, @Cur_RFC, 
                @Cur_VoidDoc, @Cur_Factura, @Cur_Fecha_Factura, @Cur_Nota_Venta, 
                @Cur_UUID_Venta, @Cur_Fecha_Liberacion, @Cur_Fecha_Timbre;
        END ;
        CLOSE ScrCursor ;
--
/* SET @nDoctos = 0 ;
        OPEN ScrMasterData;
        FETCH NEXT FROM ScrMasterData INTO @Cur2_Asignacion_ID, @Cur2_Accnt_ID, @Cur2_Master_Banco;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @strID = @Cur2_Asignacion_ID ;
            EXEC T3.GET_CUSTOMERPAYMENT_INFO @Cur2_Accnt_ID, @sCteMethod OUTPUT, @sCteBankName OUTPUT, @sCteAccountNum OUTPUT ;
            IF (@Cur2_Master_Banco IS NULL) 
            BEGIN
                UPDATE T3.CFDI_Cobranza 
                SET Master_Banco  = @sCteBankName  ,
                    Master_Cuenta = @sCteAccountNum
                WHERE Asignacion_ID = @Cur2_Asignacion_ID ;
            END ;
            SET @nDoctos = @nDoctos + 1 ;
            IF ( @nDoctos % 10000 = 0 ) 
            BEGIN
                SET @nDoctos = 0 ;
                COMMIT ;
                BEGIN TRANSACTION; -- Reabrir transacción en T-SQL tras el commit en un bucle
            END ;   

            FETCH NEXT FROM ScrMasterData INTO @Cur2_Asignacion_ID, @Cur2_Accnt_ID, @Cur2_Master_Banco;
        END ;   
        -- Cerrar el cursor al terminar de usarlo
        CLOSE ScrMasterData ; */

        COMMIT ;   

        -- Liberar cursores al final del TRY
        IF CURSOR_STATUS('local','ScrCursor') >= -1 DEALLOCATE ScrCursor;
        IF CURSOR_STATUS('local','ScrMasterData') >= -1 DEALLOCATE ScrMasterData;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK ;
            
        IF CURSOR_STATUS('local','ScrCursor') >= -1
        BEGIN
            IF CURSOR_STATUS('local','ScrCursor') >= 0 CLOSE ScrCursor;
            DEALLOCATE ScrCursor;
        END

        IF CURSOR_STATUS('local','ScrMasterData') >= -1
        BEGIN
            IF CURSOR_STATUS('local','ScrMasterData') >= 0 CLOSE ScrMasterData;
            DEALLOCATE ScrMasterData;
        END

        SET @sMsg = SUBSTRING(CAST(ERROR_NUMBER() AS VARCHAR(20)) + '-' + ERROR_MESSAGE(), 1, 250) ;
        SET @sMsg = SUBSTRING(ERROR_MESSAGE(), 1, 250) ;
        
        PRINT REPLICATE( '-', 80 ) ;
        PRINT 'Problemas en la ejecucion del Procedimiento' ;
        PRINT 'FAVOR DE ESCALAR LOS SIGUIENTES DATOS :' ;
        PRINT 'Procedimiento : ' + 'WA_CFDI_COMPLEMENTO' ;
        PRINT 'Fecha         : ' + CONVERT(VARCHAR(8), GETDATE(), 112) + ' ' + CONVERT(VARCHAR(8), GETDATE(), 108) ;
        PRINT 'Referencia    : ' + ISNULL(@strID, '') ;
        PRINT 'Error         : ' + ISNULL(@sMsg, '') ;
        PRINT REPLICATE( '-', 80 ) ;
        
        INSERT INTO T3.RF_ERROR_LOG  
            ( FECHA, RUTINA, REFERENCIA, ERROR_DESC )
        VALUES
            ( GETDATE(), 'WA_CFDI_COMPLEMENTO', @strID, @sMsg ) ;
            
    END CATCH
END;
GO
