USE [T3QA]
GO
/****** Object:  StoredProcedure [T3].[WA_COMPLEMENTA_OTROS]    Script Date: 7/17/2026 5:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [T3].[WA_COMPLEMENTA_OTROS] 
    @sFactura VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @nDoctos   INT;
    DECLARE @dtFecha   DATETIME;
    DECLARE @dtFactura DATETIME;
    DECLARE @sMsg      VARCHAR(500);

    -- Variables cursor
    DECLARE @Cur_Nota_Venta       VARCHAR(50),
            @Cur_Fecha            DATETIME,
            @Cur_Fecha_Factura    DATETIME,
            @Cur_Fecha_Liberacion DATETIME,
            @Cur_Fecha_Envio      DATETIME,
            @Cur_Folio_Fiscal     VARCHAR(50),
            @Cur_Fecha_Timbre     DATETIME,
            @Cur_Status           VARCHAR(50),
            @Cur_Valor            NUMERIC(18,2);

    DECLARE Docto CURSOR LOCAL FORWARD_ONLY STATIC FOR
        SELECT CFD.Nota_Venta, GETDATE() AS Fecha, RF.Fecha_Factura, CFD.Fecha_Liberacion, CFD.Fecha_Envio, CFD.Folio_Fiscal, CFD.Fecha_Timbre, CFD.Status, 
               ISNULL( CFD.Valor_Subt, 0 ) + ISNULL( CFD.Valor_IVA, 0 )  AS   Valor
        FROM T3.CFDI_Documentos CFD, T3.Otros_General RF
        WHERE CFD.Nota_Venta = @sFactura
          AND CFD.Nota_Venta = RF.Factura ;
BEGIN TRY
    BEGIN TRANSACTION;

    SET @nDoctos = 0 ;

    OPEN Docto;
    FETCH NEXT FROM Docto INTO 
        @Cur_Nota_Venta, @Cur_Fecha, @Cur_Fecha_Factura, @Cur_Fecha_Liberacion, 
        @Cur_Fecha_Envio, @Cur_Folio_Fiscal, @Cur_Fecha_Timbre, @Cur_Status, @Cur_Valor;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        IF ( ( LEN( ISNULL( @Cur_Folio_Fiscal, ' ' ) ) > 10 ) OR ( @Cur_Status IN ( 'CONFIRMADO', 'CANCELLED' ) ) ) 
        BEGIN
            SET @nDoctos = 0 ;
        END
        ELSE 
        BEGIN
            DELETE FROM T3.CFDI_Documentos        WHERE Nota_Venta = @sFactura ;   
            DELETE FROM T3.CFDI_Documentos_Enviar WHERE Nota_Venta = @sFactura ;
            
            PRINT 'Documento : ' + ISNULL(@sFactura, '') + ' complementado y enviado a EDICOM' ;
            
            EXEC T3.PROC_V33_GENERAR_OTROS @sFactura ;
            
            INSERT INTO EAI_Owner.WA_Logging
                   ( Fecha, Usuario, Usuario_Red, IP, Terminal, Documento, Comentario )
            VALUES
                   ( GETDATE() , CURRENT_USER, 
                     SUSER_SNAME(), 
                     CAST(CONNECTIONPROPERTY('client_net_address') AS VARCHAR(50)), 
                     HOST_NAME(),
                     @sFactura, 'WA_COMPLEMENTA_OTROS' ) ;                 
        END ;

        FETCH NEXT FROM Docto INTO 
            @Cur_Nota_Venta, @Cur_Fecha, @Cur_Fecha_Factura, @Cur_Fecha_Liberacion, 
            @Cur_Fecha_Envio, @Cur_Folio_Fiscal, @Cur_Fecha_Timbre, @Cur_Status, @Cur_Valor;
    END ;

    CLOSE Docto ;
    COMMIT ;

    IF CURSOR_STATUS('local','Docto') >= -1 DEALLOCATE Docto;

END TRY
BEGIN CATCH
    IF @@TRANCOUNT > 0
        ROLLBACK ;

    IF CURSOR_STATUS('local','Docto') >= -1
    BEGIN
        IF CURSOR_STATUS('local','Docto') >= 0 CLOSE Docto;
        DEALLOCATE Docto;
    END

    SET @sMsg = SUBSTRING( 'ERROR ORACLE ' + CAST(ERROR_NUMBER() AS VARCHAR(30)) + ' ' + ERROR_MESSAGE(), 1, 480 ) ;
    
    PRINT '************* Mensaje ****************' ;
    PRINT '*** Error en WA_COMPLEMENTA_OTROS ***' ;
    PRINT @sMsg ;         
END CATCH
END ; -- Procedure
GO
