USE [T3QA]
GO
/****** Object:  Table [T3].[ASIGNACION_PASO_ARCH]    Script Date: 7/16/2026 10:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[ASIGNACION_PASO_ARCH](
	[PAGO_ID] [varchar](50) NULL,
	[FECHA_TRN] [datetime2](0) NULL,
	[FACTURA] [varchar](30) NULL,
	[FECHA_DOC] [datetime2](0) NULL,
	[DISTRIBUIDOR] [decimal](4, 0) NULL,
	[FECHA_PROC_BATMD] [datetime2](0) NULL,
	[CLASE_COND] [varchar](2) NULL,
	[FECHA_ARCHIVING] [datetime2](0) NULL,
	[CTRO] [varchar](4) NULL
) ON [PRIMARY]
GO
ALTER TABLE [T3].[ASIGNACION_PASO_ARCH] ADD  CONSTRAINT [DF_T3_ASIGNACION_PASO_ARCH_FECHA_ARCHIVING]  DEFAULT (sysdatetime()) FOR [FECHA_ARCHIVING]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Archive Table' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'ASIGNACION_PASO_ARCH'
GO
