USE [T3QA]
GO
/****** Object:  Table [T3].[AGRUPACION_T3]    Script Date: 7/16/2026 10:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[AGRUPACION_T3](
	[IN_] [decimal](38, 10) NULL,
	[OUT_] [decimal](38, 10) NULL,
	[CONCEPTO] [varchar](40) NULL,
	[FECHA] [varchar](12) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Logging Table' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'AGRUPACION_T3'
GO
