USE [T3QA]
GO
/****** Object:  Table [T3].[ARCH_SKU_PRECIO]    Script Date: 7/16/2026 10:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[ARCH_SKU_PRECIO](
	[VIGENCIA] [varchar](8) NULL,
	[MATERIAL] [varchar](18) NULL,
	[NOMBRE_MATERIAL] [varchar](80) NULL,
	[CIG_X_CLL] [decimal](6, 0) NULL,
	[CIG_X_PAQ] [decimal](6, 0) NULL,
	[PRECIO] [decimal](38, 10) NULL,
	[COSTO_ENVIO] [decimal](38, 10) NULL,
	[UMV_VENTA] [char](3) NULL,
	[CAJ_X_PAQ] [decimal](3, 0) NULL
) ON [PRIMARY]
GO
