USE [T3QA]
GO
/****** Object:  Table [T3].[ARCH_SKU_CONV]    Script Date: 7/16/2026 10:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[ARCH_SKU_CONV](
	[MATERIAL] [varchar](10) NULL,
	[FACTOR] [decimal](10, 4) NULL
) ON [PRIMARY]
GO
