USE [T3QA]
GO
/****** Object:  Table [T3].[BITACORA_PROCESO]    Script Date: 7/16/2026 10:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[BITACORA_PROCESO](
	[SECUENCIA] [decimal](5, 0) NULL,
	[PROCESO] [varchar](30) NULL,
	[ESTATUS] [varchar](20) NULL,
	[FECHA_INI] [datetime2](0) NULL,
	[FECHA_FIN] [datetime2](0) NULL,
	[MENSAJE] [varchar](250) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Logging Table' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'BITACORA_PROCESO'
GO
