USE [T3QA]
GO
/****** Object:  Table [T3].[BITACORA_CARGA_CLUSTER_T3]    Script Date: 7/16/2026 10:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[BITACORA_CARGA_CLUSTER_T3](
	[SEC_BIT] [decimal](10, 0) NULL,
	[PROCESO] [varchar](40) NULL,
	[PERIODO] [varchar](20) NULL,
	[FECHA_INICIAL] [datetime2](0) NULL,
	[FECHA_FINAL] [datetime2](0) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Logging Table' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'BITACORA_CARGA_CLUSTER_T3'
GO
