USE [T3QA]
GO
/****** Object:  Table [T3].[BONIF_CLIENTES]    Script Date: 7/16/2026 10:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[BONIF_CLIENTES](
	[CLIENTE_V3] [varchar](30) NULL,
	[CLIENTE_SAP] [varchar](10) NULL
) ON [PRIMARY]
GO
