USE [T3QA]
GO
/****** Object:  Table [T3].[BONIF_RESUMEN]    Script Date: 7/16/2026 10:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[BONIF_RESUMEN](
	[SEMANA] [decimal](6, 0) NULL,
	[CTRO] [varchar](4) NULL,
	[NOMBRE_CTRO] [varchar](30) NULL,
	[LP] [varchar](2) NULL,
	[TIPO_VENTA] [varchar](10) NULL,
	[ID_PROGRAMA] [varchar](30) NULL,
	[MATERIAL] [varchar](10) NULL,
	[MATERIAL_NOMBRE] [varchar](80) NULL,
	[FAMILIA] [varchar](40) NULL,
	[UMV] [varchar](5) NULL,
	[CIG_X_UMV] [decimal](3, 0) NULL,
	[VENTA_VOLUMEN] [decimal](10, 0) NULL,
	[VENTA_VALOR_SUBT] [decimal](16, 2) NULL,
	[VENTA_VALOR_IVA] [decimal](16, 2) NULL,
	[BONIF_VOLUMEN] [decimal](10, 0) NULL,
	[BONIF_VALOR_SUBT] [decimal](16, 2) NULL,
	[BONIF_VALOR_IVA] [decimal](16, 2) NULL,
	[REGION] [varchar](4) NULL,
	[FECHA] [varchar](8) NULL,
	[FACTURA] [varchar](30) NULL,
	[ENVIO_VALOR_SUBT] [decimal](16, 2) NULL,
	[ENVIO_VALOR_IVA] [decimal](16, 2) NULL,
	[CREDITO_VALOR_SUBT] [decimal](15, 2) NULL,
	[CREDITO_VALOR_IVA] [decimal](15, 2) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Reporting Table' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'BONIF_RESUMEN'
GO
