USE [T3QA]
GO
/****** Object:  Table [T3].[BITACORA_ERROR_ARCH]    Script Date: 7/16/2026 10:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[BITACORA_ERROR_ARCH](
	[DISTRIBUIDOR] [decimal](4, 0) NULL,
	[FECHA] [datetime2](0) NULL,
	[MENSAJE] [varchar](500) NULL,
	[TIPO] [char](1) NULL,
	[MODULO] [varchar](3) NULL,
	[FECHA_ARCHIVING] [datetime2](0) NULL,
	[CTRO] [varchar](4) NULL
) ON [PRIMARY]
GO
ALTER TABLE [T3].[BITACORA_ERROR_ARCH] ADD  CONSTRAINT [DF_T3_BITACORA_ERROR_ARCH_FECHA_ARCHIVING]  DEFAULT (sysdatetime()) FOR [FECHA_ARCHIVING]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Archive Table' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'BITACORA_ERROR_ARCH'
GO
