USE [T3QA]
GO
/****** Object:  Table [T3].[BITACORA_EDI]    Script Date: 7/16/2026 10:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[BITACORA_EDI](
	[DISTRIBUIDOR] [decimal](4, 0) NULL,
	[FECHA] [datetime2](0) NULL,
	[ESTATUS] [varchar](250) NULL,
	[CTRO] [varchar](4) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Deprecated ( SAP - EDI )' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'BITACORA_EDI'
GO
