USE [T3QA]
GO
/****** Object:  Table [T3].[BITACORA_ERROR]    Script Date: 7/16/2026 10:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[BITACORA_ERROR](
	[DISTRIBUIDOR] [decimal](4, 0) NULL,
	[FECHA] [datetime2](0) NULL,
	[MENSAJE] [varchar](500) NULL,
	[TIPO] [char](1) NULL,
	[MODULO] [varchar](3) NULL,
	[CTRO] [varchar](4) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Logging Table' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'BITACORA_ERROR'
GO
