USE [T3QA]
GO
/****** Object:  Table [T3].[CLIENTE_AUDIT_LOG]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CLIENTE_AUDIT_LOG](
	[FECHA] [datetime2](0) NULL,
	[USUARIO] [varchar](30) NULL,
	[USUARIO_RED] [varchar](30) NULL,
	[IP] [varchar](30) NULL,
	[TERMINAL] [varchar](40) NULL,
	[ACTION] [varchar](10) NULL,
	[NEW_NOMBRE] [varchar](100) NULL,
	[NEW_FECHA_INI_VIG] [datetime2](0) NULL,
	[NEW_FECHA_FIN_VIG] [datetime2](0) NULL,
	[NEW_CLIENTE_SAP] [varchar](10) NULL,
	[NEW_RFC] [varchar](20) NULL,
	[NEW_DIAS_CDTO] [varchar](4) NULL,
	[NEW_LISTA_PRECIO] [varchar](50) NULL,
	[NEW_AREA_MGR] [varchar](4) NULL,
	[NEW_REGION_ID] [varchar](4) NULL,
	[NEW_TERRITORIO] [varchar](20) NULL,
	[NEW_LISTA_IVA] [varchar](50) NULL,
	[NEW_CTRO] [varchar](4) NULL,
	[OLD_NOMBRE] [varchar](100) NULL,
	[OLD_FECHA_INI_VIG] [datetime2](0) NULL,
	[OLD_FECHA_FIN_VIG] [datetime2](0) NULL,
	[OLD_CLIENTE_SAP] [varchar](10) NULL,
	[OLD_RFC] [varchar](20) NULL,
	[OLD_DIAS_CDTO] [varchar](4) NULL,
	[OLD_LISTA_PRECIO] [varchar](50) NULL,
	[OLD_AREA_MGR] [varchar](4) NULL,
	[OLD_REGION_ID] [varchar](4) NULL,
	[OLD_TERRITORIO] [varchar](20) NULL,
	[OLD_LISTA_IVA] [varchar](50) NULL,
	[OLD_CTRO] [varchar](4) NULL,
	[TICKET_REFERENCIA] [varchar](30) NULL
) ON [PRIMARY]
GO
