USE [T3QA]
GO
/****** Object:  Table [T3].[CFDI_PROV_LDR_HEADERS]    Script Date: 7/16/2026 10:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CFDI_PROV_LDR_HEADERS](
	[FIELD_01] [varchar](300) NULL,
	[FIELD_02] [varchar](300) NULL,
	[FIELD_03] [varchar](300) NULL,
	[FIELD_04] [varchar](300) NULL,
	[FIELD_05] [varchar](300) NULL,
	[FIELD_06] [varchar](300) NULL,
	[FIELD_07] [varchar](300) NULL,
	[FIELD_08] [varchar](300) NULL,
	[FIELD_09] [varchar](300) NULL,
	[FIELD_10] [varchar](300) NULL,
	[FIELD_11] [varchar](300) NULL,
	[FIELD_12] [varchar](300) NULL,
	[FIELD_13] [varchar](300) NULL,
	[FIELD_14] [varchar](300) NULL,
	[FIELD_15] [varchar](300) NULL,
	[FIELD_16] [varchar](300) NULL,
	[FIELD_17] [varchar](300) NULL,
	[FIELD_18] [varchar](300) NULL,
	[FIELD_19] [varchar](300) NULL,
	[FIELD_20] [varchar](300) NULL
) ON [PRIMARY]
GO
