USE [T3QA]
GO
/****** Object:  Table [T3].[CFDI_DOCUMENTOS_ENVIAR_ADD]    Script Date: 7/16/2026 10:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CFDI_DOCUMENTOS_ENVIAR_ADD](
	[NOTA_VENTA] [varchar](30) NULL,
	[INFORMACION] [varchar](max) NULL,
	[FECHA] [datetime2](0) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [T3].[CFDI_DOCUMENTOS_ENVIAR_ADD] ADD  DEFAULT (sysdatetime()) FOR [FECHA]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'CFDI Tables' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'CFDI_DOCUMENTOS_ENVIAR_ADD'
GO
