USE [T3QA]
GO
/****** Object:  Table [T3].[COMPRAD_T3_ARCH]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[COMPRAD_T3_ARCH](
	[NUM_MOVTO] [decimal](8, 0) NULL,
	[MATERIAL] [varchar](18) NULL,
	[CANTIDAD] [decimal](15, 0) NULL,
	[UM] [varchar](3) NULL,
	[DOC_ID] [varchar](32) NULL,
	[DISTRIBUIDOR] [decimal](4, 0) NULL,
	[FECHA_ARCHIVING] [datetime2](0) NULL,
	[CTRO] [varchar](4) NULL
) ON [PRIMARY]
GO
ALTER TABLE [T3].[COMPRAD_T3_ARCH] ADD  DEFAULT (sysdatetime()) FOR [FECHA_ARCHIVING]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Archive Table - Not in use any more' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'COMPRAD_T3_ARCH'
GO
