USE [T3QA]
GO
/****** Object:  Table [T3].[CFDI_REPRO_AGRUPADO_DETALLE]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CFDI_REPRO_AGRUPADO_DETALLE](
	[FECHA_PROCESO] [datetime2](0) NULL,
	[NOTA_VENTA_CFDI] [varchar](30) NULL,
	[NUM_LINEA] [decimal](3, 0) NULL,
	[CANTIDAD_VTA] [decimal](6, 0) NULL,
	[MATERIAL] [varchar](10) NULL,
	[PRECIO_UNITARIO] [decimal](15, 2) NULL,
	[VALOR_SUBT] [decimal](15, 2) NULL,
	[VALOR_IVA] [decimal](15, 2) NULL,
	[BONIF_SUBT] [decimal](15, 2) NULL,
	[BONIF_IVA] [decimal](15, 2) NULL,
	[ENVIO_SUBT] [decimal](15, 2) NULL,
	[ENVIO_IVA] [decimal](15, 2) NULL,
	[ENVIO_PORC] [decimal](5, 2) NULL
) ON [PRIMARY]
GO
