USE [T3QA]
GO
/****** Object:  Table [T3].[CFDI_REPRO_AGRUPADO]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CFDI_REPRO_AGRUPADO](
	[FECHA_PROCESO] [datetime2](0) NULL,
	[NOTA_VENTA_CFDI] [varchar](30) NULL,
	[FECHA_DOCUMENTO] [datetime2](0) NULL,
	[TIPO_DOCTO] [varchar](4) NULL,
	[CTRO] [varchar](4) NULL,
	[CLIENTE] [varchar](10) NULL,
	[SOCIEDAD] [varchar](4) NULL,
	[FECHA_REGISTRO] [datetime2](0) NULL,
	[CLIENTE_SAP] [varchar](10) NULL,
	[DOCTOS] [decimal](3, 0) NULL,
	[LISTA_PRECIO] [varchar](2) NULL
) ON [PRIMARY]
GO
