USE [T3QA]
GO
/****** Object:  Table [T3].[CFDI_PROVEEDORES]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CFDI_PROVEEDORES](
	[DOCUMENTO] [varchar](30) NULL,
	[ANEXO_CFD] [xml] NULL,
	[CREATED] [datetime2](0) NULL,
	[PROCESSED] [datetime2](0) NULL,
	[FOLIO_FISCAL] [varchar](40) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
