USE [T3QA]
GO
/****** Object:  Table [T3].[CONTROL_MOV_CLIENTE]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CONTROL_MOV_CLIENTE](
	[CLIENTE_V3] [varchar](15) NULL,
	[FECHA_MOV] [datetime2](0) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FOR DROP' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'CONTROL_MOV_CLIENTE'
GO
