USE [T3QA]
GO
/****** Object:  Table [T3].[CFDI_AGRUPACION_PAGO_MX10]    Script Date: 7/16/2026 10:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CFDI_AGRUPACION_PAGO_MX10](
	[AGRUPACION] [decimal](10, 0) NULL,
	[FACTURA] [varchar](10) NULL,
	[DOCUMENTO_INTERNO] [varchar](10) NULL
) ON [PRIMARY]
GO
