USE [T3QA]
GO
/****** Object:  Table [T3].[CFDI_COBRANZA_AGRUPADA]    Script Date: 7/16/2026 10:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CFDI_COBRANZA_AGRUPADA](
	[FOLIO_ID] [decimal](10, 0) NULL,
	[NOTA_VENTA] [varchar](30) NULL,
	[UUID_VENTA] [varchar](40) NULL,
	[FECHA_PAGO] [datetime2](0) NULL,
	[VIA_PAGO] [varchar](4) NULL,
	[CANT_PAGOS] [decimal](3, 0) NULL,
	[ABONO_PAGOS] [decimal](16, 2) NULL,
	[IMPORTE] [decimal](16, 2) NULL,
	[IMPORTE_FACTURA] [decimal](16, 2) NULL,
	[FECHA_REGISTRO] [datetime2](0) NULL,
	[PAGOS] [decimal](3, 0) NULL
) ON [PRIMARY]
GO
