USE [T3QA]
GO
/****** Object:  Table [T3].[COBRANZA_SAP]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[COBRANZA_SAP](
	[NOTA_VENTA] [varchar](100) NULL,
	[NOTA_DEV] [varchar](100) NULL
) ON [PRIMARY]
GO
