USE [T3QA]
GO
/****** Object:  Table [T3].[CONV_LISTA_GRUPO_PRECIO]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CONV_LISTA_GRUPO_PRECIO](
	[LISTA_PRECIO] [varchar](35) NULL,
	[GRUPO_PRECIO] [varchar](2) NULL,
	[TASA_IVA] [decimal](6, 2) NULL,
	[PORC_IVA] [decimal](2, 0) NULL,
	[SKU_SAT] [varchar](4) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Master Data' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'CONV_LISTA_GRUPO_PRECIO'
GO
