USE [T3QA]
GO
/****** Object:  Table [T3].[CFDI_PROV_PAGO]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CFDI_PROV_PAGO](
	[DOCUMENTO] [varchar](30) NULL,
	[FOLIO_FISCAL] [varchar](40) NULL,
	[FECHA_TIMBRE] [datetime2](0) NULL,
	[RFC_EMISOR] [varchar](20) NULL,
	[RFC_RECEPTOR] [varchar](20) NULL,
	[FECHA_DOCUMENTO] [datetime2](0) NULL,
	[PAGO_VERSION] [varchar](5) NULL,
	[PAGO_MONEDA] [varchar](5) NULL,
	[PAGO_FECHA] [datetime2](0) NULL,
	[PAGO_IMPORTE] [decimal](15, 2) NULL,
	[TIPO_CAMBIO] [decimal](15, 4) NULL,
	[CREATED] [datetime2](0) NULL,
	[LAST_UPDATED] [datetime2](0) NULL
) ON [PRIMARY]
GO
