USE [T3QA]
GO
/****** Object:  Table [T3].[CADENA_CLIENTE]    Script Date: 7/16/2026 10:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CADENA_CLIENTE](
	[CADENA] [varchar](10) NULL,
	[CLIENTE] [varchar](15) NULL,
	[CLIENTE_SAP] [varchar](10) NULL,
	[FECHA_REGISTRO] [datetime2](0) NULL,
	[FECHA_ULTIMA_MODIFICACION] [datetime2](0) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Master Data' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'CADENA_CLIENTE'
GO
