USE [T3QA]
GO
/****** Object:  Table [T3].[CFDI_WA_CANCELACIONES]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CFDI_WA_CANCELACIONES](
	[FACTURA] [varchar](30) NULL,
	[FECHA] [datetime2](0) NULL,
	[USUARIO] [varchar](30) NULL,
	[IP] [varchar](30) NULL,
	[TERMINAL] [varchar](30) NULL,
	[RFC] [varchar](20) NULL,
	[VIA_PAGO] [varchar](2) NULL,
	[ASIGNACION_ID] [varchar](20) NULL,
	[FECHA_PAGO] [datetime2](0) NULL
) ON [PRIMARY]
GO
ALTER TABLE [T3].[CFDI_WA_CANCELACIONES] ADD  DEFAULT (sysdatetime()) FOR [FECHA]
GO
ALTER TABLE [T3].[CFDI_WA_CANCELACIONES] ADD  DEFAULT (CONVERT([varchar](30),suser_sname())) FOR [USUARIO]
GO
ALTER TABLE [T3].[CFDI_WA_CANCELACIONES] ADD  DEFAULT (CONVERT([varchar](30),connectionproperty('client_net_address'))) FOR [IP]
GO
ALTER TABLE [T3].[CFDI_WA_CANCELACIONES] ADD  DEFAULT (CONVERT([varchar](30),host_name())) FOR [TERMINAL]
GO
