USE [T3QA]
GO
/****** Object:  Table [T3].[CONFIG_EMPRESA]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CONFIG_EMPRESA](
	[EMPRESA] [decimal](3, 0) NULL,
	[NOMBRE] [varchar](100) NULL,
	[RFC] [varchar](13) NULL,
	[CALLE] [varchar](100) NULL,
	[NUM_EXT] [varchar](15) NULL,
	[NUM_INT] [varchar](15) NULL,
	[COLONIA] [varchar](50) NULL,
	[LOCALIDAD] [varchar](50) NULL,
	[CVE_ENT_FED] [char](2) NULL,
	[CODIGO_POSTAL] [varchar](10) NULL,
	[REPRESENTANTE] [varchar](50) NULL,
	[TELEFONO] [varchar](50) NULL,
	[FAX] [varchar](50) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Master Data' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'CONFIG_EMPRESA'
GO
