USE [T3QA]
GO
/****** Object:  Table [T3].[CLASE_CLIENTE]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CLASE_CLIENTE](
	[CLASE_CLIENTE] [varchar](10) NULL,
	[NOMBRE] [varchar](100) NULL,
	[CODIGO_EDI] [varchar](16) NULL,
	[NUM_PROVEEDOR] [varchar](8) NULL,
	[CODIGO_BARRA] [char](1) NULL,
	[UNIDAD_CONVERSION] [char](1) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Master Data' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'CLASE_CLIENTE'
GO
