USE [T3QA]
GO
/****** Object:  Table [T3].[CFDI_REFOLEO_LOG]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CFDI_REFOLEO_LOG](
	[IDOCNUMBER] [varchar](10) NULL,
	[CREATED] [datetime2](0) NULL,
	[REFERENCEDOCNUMBER] [varchar](30) NULL,
	[NEWREFERENCEDOCNUMBER] [varchar](30) NULL
) ON [PRIMARY]
GO
