USE [T3QA]
GO
/****** Object:  Table [T3].[CARTERA_T3_ARCH]    Script Date: 7/16/2026 10:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CARTERA_T3_ARCH](
	[NUM_ID] [decimal](12, 0) NULL,
	[DISTRIBUIDOR] [decimal](4, 0) NULL,
	[FECHA_DOC] [datetime2](0) NULL,
	[CLASE_DOC] [varchar](2) NULL,
	[SOCIEDAD] [varchar](4) NULL,
	[FECHA_CONTABLE] [datetime2](0) NULL,
	[MONEDA] [varchar](5) NULL,
	[REFERENCIA] [varchar](16) NULL,
	[TEXTO_CABECERA] [varchar](25) NULL,
	[CVE_CONT1] [varchar](2) NULL,
	[CUENTA1] [varchar](17) NULL,
	[IMPORTE1] [decimal](13, 2) NULL,
	[IND1] [varchar](2) NULL,
	[COND_PAGO1] [varchar](4) NULL,
	[FECHA_BASE1] [datetime2](0) NULL,
	[ASIGNACION1] [varchar](18) NULL,
	[TEXTO1] [varchar](25) NULL,
	[CVE_CONT2] [varchar](2) NULL,
	[CUENTA2] [varchar](17) NULL,
	[IMPORTE2] [decimal](13, 2) NULL,
	[IND2] [varchar](2) NULL,
	[COND_PAGO2] [varchar](4) NULL,
	[FECHA_BASE2] [datetime2](0) NULL,
	[ASIGNACION2] [varchar](18) NULL,
	[CVE_CONT3] [varchar](2) NULL,
	[CUENTA3] [varchar](17) NULL,
	[IMPORTE3] [decimal](13, 2) NULL,
	[IND3] [varchar](2) NULL,
	[CVE_CONT4] [varchar](2) NULL,
	[CUENTA4] [varchar](17) NULL,
	[IMPORTE4] [decimal](13, 2) NULL,
	[IND4] [varchar](2) NULL,
	[DOC_ID] [varchar](32) NULL,
	[FECHA_ARCHIVING] [datetime2](0) NULL,
	[CTRO] [varchar](4) NULL,
	[FECHA_PROC_BATMD] [datetime2](0) NULL
) ON [PRIMARY]
GO
ALTER TABLE [T3].[CARTERA_T3_ARCH] ADD  DEFAULT (sysdatetime()) FOR [FECHA_ARCHIVING]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Archive Table' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'CARTERA_T3_ARCH'
GO
