USE [T3QA]
GO
/****** Object:  Table [T3].[CFDI_CATALOGOS_SAT]    Script Date: 7/16/2026 10:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CFDI_CATALOGOS_SAT](
	[ID] [decimal](38, 10) NULL,
	[TIPO] [varchar](20) NULL,
	[CLAVE] [varchar](20) NULL,
	[VALOR] [varchar](255) NULL,
	[DESCRIPCION] [varchar](255) NULL
) ON [PRIMARY]
GO
