USE [T3QA]
GO
/****** Object:  Table [T3].[CONV_TAO_SKU]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CONV_TAO_SKU](
	[LACAR_SKU] [varchar](50) NULL,
	[LACAR_NOMBRE] [varchar](100) NULL,
	[LACAR_UM] [varchar](30) NULL,
	[TAO_SKU] [decimal](38, 10) NULL,
	[TAO_NOMBRE] [varchar](106) NULL,
	[TAO_UM] [varchar](3) NULL
) ON [PRIMARY]
GO
