USE [T3QA]
GO
/****** Object:  Table [T3].[CFDI_SAT_CONCEPTOS]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CFDI_SAT_CONCEPTOS](
	[NOTA_CREDITO] [varchar](30) NULL,
	[FACTURA] [varchar](100) NULL,
	[CONCEPTOS] [varchar](500) NULL,
	[IMPORTE] [decimal](15, 2) NULL
) ON [PRIMARY]
GO
