USE [T3QA]
GO
/****** Object:  Table [T3].[CLIENTES_CONSTANTES]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CLIENTES_CONSTANTES](
	[CONSECUTIVO] [decimal](6, 0) NULL,
	[SPOOL_CLIENTE] [varchar](3000) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Loading/Reporting Process' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'CLIENTES_CONSTANTES'
GO
