USE [T3QA]
GO
/****** Object:  Table [T3].[CFDI_AGRUPADO_DIF]    Script Date: 7/16/2026 10:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CFDI_AGRUPADO_DIF](
	[NOTA_VENTA_CFDI] [varchar](30) NULL,
	[AJUSTE] [decimal](5, 2) NULL,
	[FECHA] [datetime2](0) NULL
) ON [PRIMARY]
GO
