USE [T3QA]
GO
/****** Object:  Table [T3].[CFDI_HISTORIA_DOCTO_PAC_ARCH]    Script Date: 7/16/2026 10:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CFDI_HISTORIA_DOCTO_PAC_ARCH](
	[NOTA_VENTA] [varchar](30) NULL,
	[CTRO] [varchar](4) NULL,
	[FECHA_FACTURA] [datetime2](0) NULL,
	[NOTA_VENTA_CFDI] [varchar](30) NULL
) ON [PRIMARY]
GO
