USE [T3QA]
GO
/****** Object:  Table [T3].[CFDI_APLICA_CM_SAT]    Script Date: 7/16/2026 10:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CFDI_APLICA_CM_SAT](
	[NOTA_CREDITO] [varchar](30) NULL,
	[FOLIO_FISCAL] [varchar](40) NULL,
	[NOTA_VENTA] [varchar](30) NULL,
	[CM_APLICADO] [decimal](15, 2) NULL,
	[CREATED] [datetime2](0) NULL
) ON [PRIMARY]
GO
ALTER TABLE [T3].[CFDI_APLICA_CM_SAT] ADD  DEFAULT (sysdatetime()) FOR [CREATED]
GO
