USE [T3QA]
GO
/****** Object:  Table [T3].[CFDI_DOCUMENTO_PASO_ARCH]    Script Date: 7/16/2026 10:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CFDI_DOCUMENTO_PASO_ARCH](
	[FACTURA] [varchar](30) NULL,
	[CTRO] [varchar](4) NULL,
	[FECHA_FACTURA_T3] [datetime2](0) NULL,
	[FECHA_FACTURA_V3] [datetime2](0) NULL,
	[TIPO_DOCTO] [varchar](4) NULL,
	[UBICACION] [varchar](20) NULL,
	[RFC_FACTURA] [varchar](15) NULL,
	[RFC_CLIENTE] [varchar](15) NULL,
	[LISTA_PRECIO] [varchar](2) NULL,
	[CLIENTE_AGRUPADO] [varchar](10) NULL,
	[FECHA_PROC_BATMD] [datetime2](0) NULL,
	[VOIDDOC] [varchar](2) NULL
) ON [PRIMARY]
GO
