USE [T3QA]
GO
/****** Object:  Table [T3].[CFDI_PROV_FACTURA]    Script Date: 7/16/2026 10:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CFDI_PROV_FACTURA](
	[DOCUMENTO] [varchar](30) NULL,
	[FOLIO_FISCAL] [varchar](40) NULL,
	[FECHA_TIMBRE] [datetime2](0) NULL,
	[RFC_EMISOR] [varchar](20) NULL,
	[RFC_RECEPTOR] [varchar](20) NULL,
	[DOC_VERSION] [varchar](10) NULL,
	[FECHA_FACTURA] [datetime2](0) NULL,
	[MONEDA] [varchar](5) NULL,
	[VALOR_SUBT] [decimal](15, 2) NULL,
	[VALOR_IVA] [decimal](15, 2) NULL,
	[VALOR_TOTAL] [decimal](15, 2) NULL,
	[NUMPROVEEDOR] [varchar](10) NULL,
	[TIPOPROVEEDOR] [varchar](2) NULL,
	[ORDENDECOMPRA] [varchar](20) NULL,
	[ENCARGADO] [varchar](100) NULL,
	[CREATED] [datetime2](0) NULL,
	[LAST_UPDATED] [datetime2](0) NULL,
	[TIPO_COMP] [char](1) NULL,
	[TIPO_CAMBIO] [decimal](15, 4) NULL,
	[SERIE] [varchar](20) NULL,
	[FOLIO] [varchar](20) NULL,
	[EMISOR_NOMBRE] [varchar](100) NULL,
	[EMISOR_REGIMEN] [varchar](20) NULL
) ON [PRIMARY]
GO
