USE [T3QA]
GO
/****** Object:  Table [T3].[CFDI_PROV_CREDITO]    Script Date: 7/16/2026 10:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CFDI_PROV_CREDITO](
	[FOLIO_FISCAL] [varchar](40) NULL,
	[FOLIO_FACTURA] [varchar](40) NULL,
	[CREATED] [datetime2](0) NULL,
	[LAST_UPDATED] [datetime2](0) NULL
) ON [PRIMARY]
GO
