USE [T3QA]
GO
/****** Object:  Table [T3].[CFDI_COBRANZA_LOG]    Script Date: 7/16/2026 10:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CFDI_COBRANZA_LOG](
	[FECHA] [datetime2](0) NULL,
	[USUARIO] [varchar](30) NULL,
	[USUARIO_RED] [varchar](30) NULL,
	[IP] [varchar](30) NULL,
	[TERMINAL] [varchar](40) NULL,
	[ACTION] [varchar](10) NULL,
	[OLD_FOLIO_ID] [varchar](30) NULL,
	[OLD_FECHA_ASIGNACION] [datetime2](0) NULL,
	[OLD_IMPORTE] [decimal](16, 2) NULL,
	[OLD_FACTURA] [varchar](30) NULL,
	[OLD_RFC] [varchar](15) NULL,
	[OLD_VIA_PAGO] [varchar](4) NULL,
	[OLD_NOTA_CREDITO] [varchar](30) NULL,
	[NEW_FOLIO_ID] [varchar](30) NULL,
	[NEW_FECHA_ASIGNACION] [datetime2](0) NULL,
	[NEW_IMPORTE] [decimal](16, 2) NULL,
	[NEW_FACTURA] [varchar](30) NULL,
	[NEW_RFC] [varchar](15) NULL,
	[NEW_VIA_PAGO] [varchar](4) NULL,
	[NEW_NOTA_CREDITO] [varchar](30) NULL,
	[TICKET_REFERENCIA] [varchar](30) NULL
) ON [PRIMARY]
GO
