USE [T3QA]
GO
/****** Object:  Table [T3].[CC_PROCESOS]    Script Date: 7/16/2026 10:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CC_PROCESOS](
	[PROCESO] [decimal](4, 0) NULL,
	[DESCRIPCION] [varchar](50) NULL,
	[PROCEDIMIENTO] [varchar](50) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Deprecated ( CC_DOCTOS_OWNER )' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'CC_PROCESOS'
GO
