USE [T3QA]
GO
/****** Object:  Table [T3].[CFDI_LIBERA_NOTA_CREDITO]    Script Date: 7/16/2026 10:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CFDI_LIBERA_NOTA_CREDITO](
	[FACTURA] [varchar](30) NULL,
	[FECHA] [datetime2](0) NULL,
	[PENDIENTE] [decimal](14, 2) NULL
) ON [PRIMARY]
GO
