USE [T3QA]
GO
/****** Object:  Table [T3].[CC_ADMON_CFD]    Script Date: 7/16/2026 10:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CC_ADMON_CFD](
	[ROW_ID] [decimal](6, 0) NULL,
	[CLIENTE] [varchar](50) NULL,
	[RFC] [varchar](15) NULL,
	[PATH_UNIX] [varchar](300) NULL,
	[PATH_LOCAL] [varchar](300) NULL,
	[PATH_TO_MOV] [varchar](300) NULL,
	[X_VAR1] [varchar](300) NULL,
	[X_INT1] [decimal](2, 0) NULL,
	[X_FLOAT1] [decimal](2, 0) NULL,
	[PATH_PDF_UNIX] [varchar](300) NULL,
	[PATH_PDF_LOCAL] [varchar](300) NULL,
	[MAIL_TO] [varchar](1000) NULL,
	[MAIL_CC] [varchar](1000) NULL,
	[CREADOPOR] [varchar](30) NULL,
	[CREACION] [datetime2](0) NULL,
	[MODIFICADOPOR] [varchar](30) NULL,
	[MODIFICACION] [datetime2](0) NULL,
	[ENVIO_CFD] [varchar](2) NULL,
	[ADDENDA] [varchar](30) NULL,
	[TIPO_ADMON] [decimal](2, 0) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Deprecated ( CC_DOCTOS_OWNER )' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'CC_ADMON_CFD'
GO
