USE [T3QA]
GO
/****** Object:  Table [T3].[CFDI_REFOLEO]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CFDI_REFOLEO](
	[DOCTO_SAP] [varchar](30) NULL,
	[DOCTO_T3MX] [varchar](30) NULL,
	[FECHA] [datetime2](0) NULL,
	[USUARIO] [varchar](30) NULL,
	[IP] [varchar](30) NULL,
	[TERMINAL] [varchar](30) NULL,
	[TIPO_REGISTRO] [varchar](10) NULL
) ON [PRIMARY]
GO
ALTER TABLE [T3].[CFDI_REFOLEO] ADD  DEFAULT (sysdatetime()) FOR [FECHA]
GO
ALTER TABLE [T3].[CFDI_REFOLEO] ADD  DEFAULT (CONVERT([varchar](30),suser_sname())) FOR [USUARIO]
GO
ALTER TABLE [T3].[CFDI_REFOLEO] ADD  DEFAULT (CONVERT([varchar](30),connectionproperty('client_net_address'))) FOR [IP]
GO
ALTER TABLE [T3].[CFDI_REFOLEO] ADD  DEFAULT (CONVERT([varchar](30),host_name())) FOR [TERMINAL]
GO
ALTER TABLE [T3].[CFDI_REFOLEO] ADD  DEFAULT (N'Venta') FOR [TIPO_REGISTRO]
GO
