USE [T3QA]
GO
/****** Object:  Table [T3].[CFDI_PROV_PAGO_DETALLE]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CFDI_PROV_PAGO_DETALLE](
	[FOLIO_FISCAL] [varchar](40) NULL,
	[FOLIO_FACTURA] [varchar](40) NULL,
	[IMPORTE] [decimal](15, 2) NULL,
	[CREATED] [datetime2](0) NULL,
	[LAST_UPDATED] [datetime2](0) NULL,
	[MONEDA] [varchar](5) NULL,
	[FECHA] [datetime2](0) NULL,
	[TIPO_CAMBIO] [decimal](15, 4) NULL
) ON [PRIMARY]
GO
