USE [T3QA]
GO
/****** Object:  Table [T3].[CFDI_EXCLUIR_SERIE]    Script Date: 7/16/2026 10:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CFDI_EXCLUIR_SERIE](
	[SERIE] [varchar](10) NULL
) ON [PRIMARY]
GO
