USE [T3QA]
GO
/****** Object:  Table [T3].[CLIENTE_REESTRUCTURA_SAP1]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CLIENTE_REESTRUCTURA_SAP1](
	[UUID] [varchar](1000) NULL,
	[RFCEMISOR] [varchar](1000) NULL,
	[NOMBREEMISOR] [varchar](1000) NULL,
	[RFCRECEPTOR] [varchar](1000) NULL,
	[NOMBRERECEPTOR] [varchar](1000) NULL,
	[RFCPAC] [varchar](1000) NULL,
	[FECHA_EMISION] [varchar](100) NULL,
	[FECHA_CERTIFICACIONSAT] [varchar](100) NULL,
	[MONTO] [varchar](20) NULL,
	[EFECTO_COMPROBANTE] [varchar](20) NULL,
	[ESTATUS] [varchar](200) NULL,
	[FECHA_CANCELACION] [varchar](100) NULL
) ON [PRIMARY]
GO
