USE [T3QA]
GO
/****** Object:  Table [T3].[CFDI_CFG_AGRUPADO]    Script Date: 7/16/2026 10:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CFDI_CFG_AGRUPADO](
	[POR_EJECUCION] [varchar](2) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'CFDI Tables' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'CFDI_CFG_AGRUPADO'
GO
