USE [T3QA]
GO
/****** Object:  Table [T3].[CFDI_TICKETS_ENVIAR]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CFDI_TICKETS_ENVIAR](
	[NOTA_VENTA] [varchar](30) NULL,
	[INFORMACION] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
