USE [T3QA]
GO
/****** Object:  Table [T3].[CONV_TAO_CLIENTE_LDR]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CONV_TAO_CLIENTE_LDR](
	[CLIENTE_V3] [varchar](30) NULL,
	[LACAR_CLIENTE_SAP] [varchar](10) NULL,
	[TAO_CLIENTE_SAP] [varchar](10) NULL
) ON [PRIMARY]
GO
