USE [T3QA]
GO
/****** Object:  Table [T3].[CFDI_PEDIMENTO_SKU]    Script Date: 7/16/2026 10:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CFDI_PEDIMENTO_SKU](
	[MATERIAL] [varchar](10) NULL,
	[ADUANA_NUMERO] [varchar](5) NULL,
	[ADUANA_NOMBRE] [varchar](60) NULL,
	[PEDIMENTO] [varchar](30) NULL,
	[FECHA_PEDIMENTO] [datetime2](0) NULL,
	[FECHA_INICIO] [datetime2](0) NULL,
	[FECHA_FINAL] [datetime2](0) NULL
) ON [PRIMARY]
GO
