USE [T3QA]
GO
/****** Object:  Table [T3].[CADENA_UPC]    Script Date: 7/16/2026 10:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CADENA_UPC](
	[CADENA] [varchar](10) NULL,
	[UPC_CTE] [varchar](15) NULL,
	[UPC_SAP] [varchar](15) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Master Data' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'CADENA_UPC'
GO
