USE [T3QA]
GO
/****** Object:  Table [T3].[CFDI_PROV_LDR_HEADERS_TMP]    Script Date: 7/16/2026 10:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CFDI_PROV_LDR_HEADERS_TMP](
	[FOLIO_FACTURA] [varchar](40) NULL,
	[REFERENCIA_BAT] [varchar](40) NULL
) ON [PRIMARY]
GO
