USE [T3QA]
GO
/****** Object:  Table [T3].[CFDI_HEAD_OFFICE]    Script Date: 7/16/2026 10:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CFDI_HEAD_OFFICE](
	[HO_NUMERO] [varchar](20) NULL,
	[HO_NOMBRE] [varchar](100) NULL,
	[HO_CUENTABANCARIA] [varchar](20) NULL,
	[HO_BANCO] [varchar](20) NULL,
	[HO_CEDIS] [varchar](4) NULL,
	[HO_VIAPAGO] [varchar](2) NULL,
	[HO_FORMAPAGO] [varchar](20) NULL,
	[PPAL] [bit] NULL
) ON [PRIMARY]
GO
