USE [T3QA]
GO
/****** Object:  Table [T3].[CFDI_RFC_SETTING_BACKUP]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CFDI_RFC_SETTING_BACKUP](
	[RFC] [varchar](15) NULL,
	[PARAMETRO] [varchar](20) NULL,
	[VALOR] [varchar](150) NULL
) ON [PRIMARY]
GO
