USE [T3QA]
GO
/****** Object:  Table [T3].[CFDI_COBRANZA_RESTO]    Script Date: 7/16/2026 10:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CFDI_COBRANZA_RESTO](
	[FOLIO_ID] [varchar](30) NULL,
	[ASIGNACION_ID] [varchar](30) NULL,
	[FECHA_ASIGNACION] [datetime2](0) NULL,
	[IMPORTE] [decimal](16, 2) NULL,
	[SALDO_ANTERIOR] [decimal](16, 2) NULL,
	[NUMERO_PAGO] [decimal](3, 0) NULL,
	[ACCNT_ID] [varchar](30) NULL,
	[FACTURA] [varchar](30) NULL,
	[NOTA_VENTA] [varchar](30) NULL,
	[RFC] [varchar](15) NULL,
	[FECHA_PROC_BATMD] [datetime2](0) NULL,
	[FECHA_PROCESO] [datetime2](0) NULL,
	[STATUS] [varchar](20) NULL,
	[VIA_PAGO] [varchar](4) NULL,
	[CANT_PAGOS] [decimal](3, 0) NULL,
	[ABONO_PAGOS] [decimal](16, 2) NULL,
	[CANT_CM] [decimal](3, 0) NULL,
	[ABONO_CM] [decimal](16, 2) NULL,
	[NOTA_CREDITO] [varchar](30) NULL,
	[UUID_VENTA] [varchar](40) NULL,
	[FECHA_FACTURA] [datetime2](0) NULL,
	[DIAS_CDTO] [decimal](3, 0) NULL,
	[IMPORTE_FACTURA] [decimal](16, 2) NULL,
	[PID] [decimal](10, 0) NULL,
	[CREATED_BY] [varchar](30) NULL,
	[PAGO_ID] [varchar](30) NULL,
	[FECHA_PAGO] [datetime2](0) NULL,
	[SOCIEDAD] [varchar](4) NULL,
	[CTRO] [varchar](4) NULL,
	[DB_LAST_UPD] [datetime2](0) NULL,
	[BANCO_NOMBRE] [varchar](30) NULL,
	[BANCO_NUM_CUENTA] [varchar](20) NULL,
	[NUMERO_CHEQUE] [varchar](20) NULL,
	[MASTER_BANCO] [varchar](30) NULL,
	[MASTER_CUENTA] [varchar](20) NULL,
	[RECEPTOR_BANCO] [varchar](30) NULL,
	[RECEPTOR_CUENTA] [varchar](30) NULL,
	[FECHA_ENVIO] [datetime2](0) NULL,
	[TASA_IVA] [decimal](6, 2) NULL,
	[REFERENCIA] [varchar](30) NULL,
	[MONEDA_DOCTO] [varchar](5) NULL,
	[TIPO_CAMBIO] [decimal](15, 6) NULL
) ON [PRIMARY]
GO
