USE [T3QA]
GO
/****** Object:  Table [T3].[CFDI_AGRUPACION_PAGO]    Script Date: 7/16/2026 10:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CFDI_AGRUPACION_PAGO](
	[AGRUPACION] [decimal](10, 0) NULL,
	[FECHA_PAGO] [datetime2](0) NULL,
	[ASIGNACION_ID] [varchar](30) NULL
) ON [PRIMARY]
GO
