USE [T3QA]
GO
/****** Object:  Table [T3].[CONV_TAO_CLIENTE]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CONV_TAO_CLIENTE](
	[CLIENTE_V3] [varchar](50) NULL,
	[LACAR_CLIENTE_SAP] [varchar](30) NULL,
	[TAO_CLIENTE_SAP] [decimal](38, 10) NULL,
	[FECHA_PROCESO] [datetime2](0) NULL
) ON [PRIMARY]
GO
