USE [T3QA]
GO
/****** Object:  Table [T3].[CFDI_TICKETS_REPROCESO_CFD]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CFDI_TICKETS_REPROCESO_CFD](
	[FACTURA] [varchar](30) NULL,
	[FECHA_REFACTURA] [datetime2](0) NULL,
	[ANEXO_CFD] [xml] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
