USE [T3QA]
GO
/****** Object:  Table [T3].[CFDI_RFC_SETTING_LOG]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CFDI_RFC_SETTING_LOG](
	[FECHA] [datetime2](0) NULL,
	[USUARIO] [varchar](30) NULL,
	[USUARIO_RED] [varchar](30) NULL,
	[IP] [varchar](30) NULL,
	[TERMINAL] [varchar](40) NULL,
	[ACTION] [varchar](10) NULL,
	[NEW_RFC] [varchar](15) NULL,
	[NEW_PARAMETRO] [varchar](20) NULL,
	[NEW_VALOR] [varchar](150) NULL,
	[OLD_RFC] [varchar](15) NULL,
	[OLD_PARAMETRO] [varchar](20) NULL,
	[OLD_VALOR] [varchar](150) NULL,
	[TICKET_REFERENCIA] [varchar](30) NULL
) ON [PRIMARY]
GO
