USE [T3QA]
GO
/****** Object:  Table [T3].[CC_LOG_CLIENTE_FE]    Script Date: 7/16/2026 10:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CC_LOG_CLIENTE_FE](
	[DUMMY_01] [varchar](20) NULL,
	[DUMMY_02] [varchar](20) NULL,
	[DUMMY_03] [varchar](20) NULL,
	[DUMMY_04] [varchar](20) NULL,
	[DUMMY_05] [varchar](20) NULL,
	[SERIE] [varchar](20) NULL,
	[FOLIO] [varchar](20) NULL,
	[STATUS] [varchar](20) NULL,
	[MENSAJE] [varchar](2000) NULL,
	[DUMMY_06] [varchar](20) NULL,
	[DUMMY_07] [varchar](20) NULL,
	[DUMMY_08] [varchar](20) NULL,
	[DUMMY_09] [varchar](20) NULL,
	[DUMMY_10] [varchar](20) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Deprecated ( CC_DOCTOS_OWNER )' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'CC_LOG_CLIENTE_FE'
GO
