USE [T3QA]
GO
/****** Object:  Table [T3].[CLIENTE]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CLIENTE](
	[CLIENTE_V3] [varchar](20) NULL,
	[NOMBRE] [varchar](100) NULL,
	[FECHA_INI_VIG] [datetime2](0) NULL,
	[FECHA_FIN_VIG] [datetime2](0) NULL,
	[STATUS_CLTE] [bit] NULL,
	[CLASE_CLTE] [varchar](10) NULL,
	[ALIAS] [varchar](100) NULL,
	[CLIENTE_SAP] [varchar](10) NULL,
	[CLTE_FACTURA_SAP] [varchar](10) NULL,
	[CLTE_ENT_SAP] [varchar](10) NULL,
	[METODO_PAGO] [char](1) NULL,
	[REGIMEN_FISCAL] [bit] NULL,
	[RFC] [varchar](35) NULL,
	[DIAS_CDTO] [varchar](4) NULL,
	[LISTA_PRECIO] [varchar](50) NULL,
	[DIST_VENTA] [decimal](4, 0) NULL,
	[DIST_COBZA] [decimal](4, 0) NULL,
	[AREA_MGR] [varchar](3) NULL,
	[REGION_ID] [varchar](4) NULL,
	[FECHA_SYNCR] [datetime2](0) NULL,
	[LIMITE_CDTO] [decimal](15, 2) NULL,
	[CANAL] [varchar](2) NULL,
	[TIPO_CLTE] [varchar](30) NULL,
	[SUBTIPO_CLTE] [varchar](30) NULL,
	[TERRITORIO] [varchar](75) NULL,
	[TIPO_TERRITORIO] [varchar](30) NULL,
	[LISTA_IVA] [varchar](50) NULL,
	[FAX] [varchar](30) NULL,
	[TELEFONO] [varchar](30) NULL,
	[DIRECCION_1] [varchar](200) NULL,
	[COLONIA_1] [varchar](50) NULL,
	[ID_DIRECCION_1] [varchar](15) NULL,
	[CIUDAD_1] [varchar](50) NULL,
	[ESTADO_1] [varchar](35) NULL,
	[CODIGO_POSTAL_1] [varchar](35) NULL,
	[PAIS_1] [varchar](2) NULL,
	[TIPO_DIRECCION_1] [varchar](10) NULL,
	[DIRECCION_2] [varchar](200) NULL,
	[COLONIA_2] [varchar](50) NULL,
	[ID_DIRECCION_2] [varchar](15) NULL,
	[CIUDAD_2] [varchar](50) NULL,
	[ESTADO_2] [varchar](35) NULL,
	[CODIGO_POSTAL_2] [varchar](35) NULL,
	[PAIS_2] [varchar](2) NULL,
	[TIPO_DIRECCION_2] [varchar](10) NULL,
	[DIRECCION_3] [varchar](200) NULL,
	[COLONIA_3] [varchar](50) NULL,
	[ID_DIRECCION_3] [varchar](15) NULL,
	[CIUDAD_3] [varchar](50) NULL,
	[ESTADO_3] [varchar](35) NULL,
	[CODIGO_POSTAL_3] [varchar](35) NULL,
	[PAIS_3] [varchar](2) NULL,
	[TIPO_DIRECCION_3] [varchar](10) NULL,
	[SUCURSAL_CLTE] [varchar](25) NULL,
	[CTRO] [varchar](4) NULL,
	[CTRO_COBZA] [varchar](4) NULL,
	[CLABE_BANCARIA] [varchar](20) NULL,
	[SIEBEL_LOC] [varchar](30) NULL,
	[PAYER] [varchar](30) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Master Data' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'CLIENTE'
GO
