USE [T3QA]
GO
/****** Object:  Table [T3].[CC_DOCTOS_LOG]    Script Date: 7/16/2026 10:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CC_DOCTOS_LOG](
	[FACTURA] [varchar](20) NULL,
	[FECHA] [datetime2](0) NULL,
	[USUARIO_RED] [varchar](30) NULL,
	[IP] [varchar](30) NULL,
	[TERMINAL] [varchar](40) NULL,
	[STATUS_ANT] [varchar](40) NULL,
	[STATUS_NVO] [varchar](40) NULL,
	[USUARIO] [varchar](20) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Deprecated ( CC_DOCTOS_OWNER )' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'CC_DOCTOS_LOG'
GO
