USE [T3QA]
GO
/****** Object:  Table [T3].[CC_USUARIO]    Script Date: 7/16/2026 10:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CC_USUARIO](
	[USUARIO] [varchar](30) NULL,
	[NOMBRE] [varchar](50) NULL,
	[ADMINISTRADOR] [varchar](2) NULL,
	[ROL_OPERATIVO] [varchar](2) NULL,
	[ROL_COBRANZA] [varchar](2) NULL,
	[FECHA_ALTA] [datetime2](0) NULL,
	[FECHA_ULTIMO_ACCESO] [datetime2](0) NULL,
	[JEFE_INMEDIATO1] [varchar](35) NULL,
	[JEFE_INMEDIATO2] [varchar](35) NULL,
	[MAIL] [varchar](35) NULL,
	[TELEFONO] [varchar](15) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Deprecated ( CC_DOCTOS_OWNER )' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'CC_USUARIO'
GO
