USE [T3QA]
GO
/****** Object:  Table [T3].[CONV_IVA]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CONV_IVA](
	[LISTA_IVA] [varchar](50) NULL,
	[CLASIF_FISCAL] [char](1) NULL,
	[IND1] [varchar](2) NULL,
	[IND2] [varchar](2) NULL,
	[IND3] [varchar](2) NULL,
	[IND4] [varchar](2) NULL,
	[CUENTA3] [varchar](10) NULL,
	[CUENTA4] [varchar](10) NULL,
	[ID] [decimal](38, 10) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Master Data' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'CONV_IVA'
GO
