USE [T3QA]
GO
/****** Object:  Table [T3].[CFDI_TICKETS_REPROCESO]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CFDI_TICKETS_REPROCESO](
	[NOTA_VENTA] [varchar](30) NULL,
	[CTRO] [varchar](4) NULL,
	[FECHA_REFACTURA] [datetime2](0) NULL,
	[FECHA_LIBERACION] [datetime2](0) NULL,
	[FECHA_ENVIO] [datetime2](0) NULL,
	[FECHA_CONFIRMACION] [datetime2](0) NULL,
	[FOLIO_FISCAL] [varchar](40) NULL,
	[FECHA_TIMBRE] [datetime2](0) NULL,
	[FECHA_CFD] [datetime2](0) NULL,
	[STATUS] [varchar](25) NULL,
	[VALOR_SUBT] [decimal](20, 2) NULL,
	[VALOR_IVA] [decimal](20, 2) NULL
) ON [PRIMARY]
GO
