USE [T3QA]
GO
/****** Object:  Table [T3].[CFDI_ADDENDA]    Script Date: 7/16/2026 10:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CFDI_ADDENDA](
	[RFC] [varchar](15) NULL,
	[VENTA] [varchar](2) NULL,
	[DEVOLUCION] [varchar](2) NULL,
	[NUM_PROVEEDOR] [varchar](30) NULL,
	[GLN_COMPRADOR] [varchar](20) NULL,
	[REVISAR_FECHA] [varchar](2) NULL,
	[MIGRAR] [varchar](2) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'CFDI Tables' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'CFDI_ADDENDA'
GO
