USE [T3QA]
GO
/****** Object:  Table [T3].[CLIENTE_AGRUPADO]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CLIENTE_AGRUPADO](
	[DISTRIBUIDOR] [decimal](4, 0) NULL,
	[AREA_MGR] [varchar](3) NULL,
	[CANAL] [varchar](2) NULL,
	[CLIENTE_SAP] [varchar](10) NULL,
	[CREDITO] [varchar](1) NULL,
	[CTRO] [varchar](4) NULL,
	[CLASIF_FISCAL] [char](1) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Master Data' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'CLIENTE_AGRUPADO'
GO
