USE [T3QA]
GO
/****** Object:  Table [T3].[CADENAS_SAP_PASO]    Script Date: 7/16/2026 10:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CADENAS_SAP_PASO](
	[CADENA] [varchar](20) NULL,
	[ROW_ID_ANT] [varchar](20) NULL,
	[ROW_ID_NUEVO] [varchar](20) NULL,
	[NOMBRE] [varchar](100) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FOR DROP' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'CADENAS_SAP_PASO'
GO
