USE [T3QA]
GO
/****** Object:  Table [T3].[CFG_VELO]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CFG_VELO](
	[ESPECIFICO] [decimal](10, 6) NULL,
	[FECHA_INICIO] [datetime2](0) NULL,
	[FECHA_FINAL] [datetime2](0) NULL
) ON [PRIMARY]
GO
