USE [T3QA]
GO
/****** Object:  Table [T3].[CFDI_PRODSERV]    Script Date: 7/16/2026 10:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CFDI_PRODSERV](
	[MODULO] [varchar](10) NULL,
	[MATERIAL] [varchar](20) NULL,
	[NOMBREMATERIAL] [varchar](200) NULL,
	[UNIDADMEDIDA] [varchar](10) NULL,
	[SAT_CLAVE] [varchar](20) NULL,
	[SAT_UNIDADMEDIDA] [varchar](20) NULL,
	[FECHA_CREACION] [datetime2](0) NULL,
	[CREADO_POR] [varchar](20) NULL,
	[FECHA_MODIFICACION] [datetime2](0) NULL,
	[MODIFICADO_POR] [varchar](20) NULL,
	[DESCRIPCION_FACTURA] [varchar](200) NULL,
	[SAT_CLAVE_PORTE] [varchar](20) NULL,
	[FRACCIONARANCELARIA] [varchar](30) NULL,
	[FACTOR_ARANCELARIO] [decimal](12, 5) NULL,
	[FACTOR_KG] [decimal](6, 2) NULL
) ON [PRIMARY]
GO
