USE [T3QA]
GO
/****** Object:  Table [T3].[CFDI_AGRUPACION_MX10]    Script Date: 7/16/2026 10:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CFDI_AGRUPACION_MX10](
	[AGRUPACION] [decimal](10, 0) NULL,
	[FECHA_PAGO] [datetime2](0) NULL,
	[DOCUMENTO_COMPENSACION] [varchar](10) NULL,
	[VIA_PAGO] [varchar](2) NULL,
	[RFC] [varchar](20) NULL,
	[BANCO_NOMBRE] [varchar](30) NULL,
	[BANCO_NUM_CUENTA] [varchar](30) NULL,
	[IMPORTE] [decimal](15, 2) NULL,
	[CANTIDAD_PAGOS] [decimal](4, 0) NULL,
	[ACCNT_ID] [varchar](30) NULL,
	[FECHA_REGISTRO] [datetime2](0) NULL,
	[FECHA_ENVIO] [datetime2](0) NULL
) ON [PRIMARY]
GO
