USE [T3QA]
GO
/****** Object:  Table [T3].[CFDI_MX16_CENTRALIZADO]    Script Date: 7/16/2026 10:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CFDI_MX16_CENTRALIZADO](
	[DOCUMENTDATE] [datetime2](0) NULL,
	[POSTINGDATE] [datetime2](0) NULL,
	[DOCUMENTTYPE] [varchar](4) NULL,
	[COMPANYCODE] [varchar](4) NULL,
	[BILLINGDOCUMENT] [varchar](10) NULL,
	[REFERENCEDOCUMENT] [varchar](20) NULL,
	[CUSTOMER] [varchar](20) NULL,
	[PAYMENT] [decimal](16, 2) NULL,
	[POSTINGCODE] [varchar](4) NULL,
	[FISCALYEAR] [varchar](4) NULL,
	[CLEARINGDOCUMENT] [varchar](10) NULL,
	[RESIDUALDOCUMENT] [varchar](10) NULL,
	[FECHA_PROCESO] [datetime2](0) NULL
) ON [PRIMARY]
GO
