USE [T3QA]
GO
/****** Object:  Table [T3].[CFDI_SERVICELOGS]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CFDI_SERVICELOGS](
	[ISSUEDATE] [datetime2](0) NULL,
	[ERRLEVEL] [varchar](20) NULL,
	[LOGGER] [varchar](50) NULL,
	[MESSAGE] [varchar](1000) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'CFDI Tables' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'CFDI_SERVICELOGS'
GO
