USE [T3QA]
GO
/****** Object:  Table [T3].[CFDI_PROV_ERRORS]    Script Date: 7/16/2026 10:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CFDI_PROV_ERRORS](
	[DOCUMENTO] [varchar](30) NULL,
	[ERROR_MESSAGE] [varchar](2000) NULL,
	[FECHA_ERROR] [datetime2](0) NULL
) ON [PRIMARY]
GO
