USE [T3QA]
GO
/****** Object:  Table [T3].[CC_SEGUIMIENTO]    Script Date: 7/16/2026 10:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CC_SEGUIMIENTO](
	[FACTURA] [varchar](20) NULL,
	[CLIENTE_V3] [varchar](30) NULL,
	[RFC] [varchar](15) NULL,
	[SUB_TYPE_CD] [varchar](30) NULL,
	[STATUS_CD] [varchar](30) NULL,
	[FECHA_DOCUMENTO] [datetime2](0) NULL,
	[FECHA_VENCIMIENTO] [datetime2](0) NULL,
	[VALOR_DOCUMENTO] [decimal](13, 2) NULL,
	[VALOR_PENDIENTE] [decimal](13, 2) NULL,
	[FECHA_PAGO] [datetime2](0) NULL,
	[CTRO_COBZA] [varchar](4) NULL,
	[FORMA_PAGO] [varchar](20) NULL,
	[CTRO_VENTA] [varchar](4) NULL,
	[UBICACION] [varchar](20) NULL,
	[REP_LOGIN] [varchar](10) NULL,
	[REP_NOMBRE] [varchar](50) NULL,
	[TERRITORIO] [varchar](20) NULL,
	[ADDENDA] [varchar](30) NULL,
	[REFERENCIA] [varchar](30) NULL,
	[STATUS_FE] [varchar](30) NULL,
	[FECHA_STATUS_01] [datetime2](0) NULL,
	[FECHA_STATUS_02] [datetime2](0) NULL,
	[FECHA_STATUS_03] [datetime2](0) NULL,
	[FECHA_STATUS_04] [datetime2](0) NULL,
	[FECHA_STATUS_05] [datetime2](0) NULL,
	[FECHA_STATUS_06] [datetime2](0) NULL,
	[FECHA_STATUS_07] [datetime2](0) NULL,
	[FECHA_STATUS_08] [datetime2](0) NULL,
	[FECHA_STATUS_09] [datetime2](0) NULL,
	[FECHA_STATUS_10] [datetime2](0) NULL,
	[FECHA_STATUS_11] [datetime2](0) NULL,
	[FECHA_STATUS_12] [datetime2](0) NULL,
	[FECHA_STATUS_13] [datetime2](0) NULL,
	[FECHA_STATUS_14] [datetime2](0) NULL,
	[FECHA_STATUS_15] [datetime2](0) NULL,
	[FECHA_STATUS_16] [datetime2](0) NULL,
	[FECHA_STATUS_17] [datetime2](0) NULL,
	[FECHA_STATUS_18] [datetime2](0) NULL,
	[FECHA_STATUS_19] [datetime2](0) NULL,
	[FECHA_STATUS_20] [datetime2](0) NULL,
	[FECHA_CREACION] [datetime2](0) NULL,
	[FECHA_ACTUALIZACION] [datetime2](0) NULL,
	[STATUS_CENTRAL] [decimal](2, 0) NULL,
	[CONTRARECIBO_CLIENTE] [varchar](20) NULL,
	[FECHA_CONTRARECIBO] [datetime2](0) NULL,
	[FECHAENVIO_PAQUETE] [datetime2](0) NULL,
	[FOLIO_RECEPCION] [varchar](15) NULL,
	[NUMGUIA_PAQUETE] [varchar](20) NULL,
	[ORDEN_COMPRA] [varchar](20) NULL,
	[SUCURSAL] [varchar](35) NULL,
	[PEDIDO] [varchar](20) NULL,
	[ENTRADA] [varchar](20) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Deprecated ( CC_DOCTOS_OWNER )' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'CC_SEGUIMIENTO'
GO
