USE [T3QA]
GO
/****** Object:  Table [T3].[COMPRA_T3_ARCH]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[COMPRA_T3_ARCH](
	[NUM_MOVTO] [decimal](8, 0) NULL,
	[DISTRIBUIDOR] [decimal](4, 0) NULL,
	[FECHA_DOC] [datetime2](0) NULL,
	[FECHA_CONT] [datetime2](0) NULL,
	[CLASE_MOV] [varchar](3) NULL,
	[CENTRO] [varchar](4) NULL,
	[ALMACEN] [varchar](4) NULL,
	[PROVEEDOR] [varchar](10) NULL,
	[FECHA_PROC_BATMD] [datetime2](0) NULL,
	[DOC_ID] [varchar](32) NULL,
	[TIPO_PEDIDO] [varchar](30) NULL,
	[FECHA_ARCHIVING] [datetime2](0) NULL,
	[CTRO] [varchar](4) NULL
) ON [PRIMARY]
GO
ALTER TABLE [T3].[COMPRA_T3_ARCH] ADD  DEFAULT (sysdatetime()) FOR [FECHA_ARCHIVING]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Archive Table - Not in use any more' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'COMPRA_T3_ARCH'
GO
