USE [T3QA]
GO
/****** Object:  Table [T3].[CFDI_711_CANCELLED]    Script Date: 7/16/2026 10:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CFDI_711_CANCELLED](
	[NOTA_VENTA] [varchar](20) NULL,
	[FECHA_LIBERACION] [datetime2](0) NULL,
	[FECHA_ENVIO] [datetime2](0) NULL,
	[FOLIO_FISCAL] [varchar](40) NULL,
	[FECHA_TIMBRE] [datetime2](0) NULL,
	[STATUS] [varchar](25) NULL,
	[VALOR] [decimal](38, 10) NULL
) ON [PRIMARY]
GO
