USE [T3QA]
GO
/****** Object:  Table [T3].[CFDI_PRODSERV_WA]    Script Date: 7/16/2026 10:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CFDI_PRODSERV_WA](
	[SOCIEDAD] [varchar](4) NULL,
	[MATERIAL] [varchar](20) NULL,
	[NOMBREMATERIAL] [varchar](50) NULL,
	[SAT_CLAVE] [varchar](20) NULL,
	[SAT_UNIDADMEDIDA] [varchar](20) NULL
) ON [PRIMARY]
GO
