USE [T3QA]
GO
/****** Object:  Table [T3].[CFDI_USOCFDI_CLIENTE]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CFDI_USOCFDI_CLIENTE](
	[CLIENTE_SAP] [varchar](10) NULL,
	[USO_VENTA] [varchar](5) NULL,
	[USO_DEVOLUCION] [varchar](5) NULL,
	[DESGLOSE_IEPS] [bit] NULL,
	[CARTA_PORTE] [bit] NULL,
	[DOMCICILIO] [bit] NULL
) ON [PRIMARY]
GO
