USE [T3QA]
GO
/****** Object:  Table [T3].[CFDI_TEXTO_ADICIONAL]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CFDI_TEXTO_ADICIONAL](
	[NOTA_VENTA] [varchar](30) NULL,
	[LINEA] [decimal](2, 0) NULL,
	[TEXTO] [varchar](300) NULL,
	[CREATED] [datetime2](0) NULL
) ON [PRIMARY]
GO
