USE [T3QA]
GO
/****** Object:  Table [T3].[CFDI_AGRUPADO]    Script Date: 7/16/2026 10:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CFDI_AGRUPADO](
	[NOTA_VENTA_CFDI] [varchar](30) NULL,
	[FECHA_DOCUMENTO] [datetime2](0) NULL,
	[TIPO_DOCTO] [varchar](4) NULL,
	[CTRO] [varchar](4) NULL,
	[CLIENTE] [varchar](10) NULL,
	[SOCIEDAD] [varchar](4) NULL,
	[FECHA_REGISTRO] [datetime2](0) NULL,
	[CLIENTE_SAP] [varchar](10) NULL,
	[DOCTOS] [decimal](3, 0) NULL,
	[LISTA_PRECIO] [varchar](2) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'CFDI Tables' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'CFDI_AGRUPADO'
GO
