USE [T3QA]
GO
/****** Object:  Table [T3].[CFDI_DOCUMENTOS]    Script Date: 7/16/2026 10:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CFDI_DOCUMENTOS](
	[NOTA_VENTA] [varchar](30) NULL,
	[CTRO] [varchar](4) NULL,
	[FECHA_LIBERACION] [datetime2](0) NULL,
	[FECHA_ENVIO] [datetime2](0) NULL,
	[FECHA_CONFIRMACION] [datetime2](0) NULL,
	[FOLIO_FISCAL] [varchar](40) NULL,
	[FECHA_TIMBRE] [datetime2](0) NULL,
	[FECHA_CFD] [datetime2](0) NULL,
	[ID_ENVIO] [varchar](25) NULL,
	[ID_CONFIRMACION] [varchar](25) NULL,
	[STATUS] [varchar](25) NULL,
	[VALOR_SUBT] [decimal](20, 2) NULL,
	[VALOR_IVA] [decimal](20, 2) NULL,
	[METODO_PAGO] [varchar](5) NULL,
	[FECHA_DOCUMENTO] [datetime2](0) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'CFDI Tables' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'CFDI_DOCUMENTOS'
GO
