USE [T3QA]
GO
/****** Object:  Table [T3].[CFDI_CANCELACIONES]    Script Date: 7/16/2026 10:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CFDI_CANCELACIONES](
	[NOTA_VENTA] [varchar](30) NULL,
	[FOLIO_FISCAL] [varchar](40) NULL,
	[FECHA_LIBERACION] [datetime2](0) NULL,
	[FECHA_ENVIO] [datetime2](0) NULL,
	[FECHA_CONFIRMACION] [datetime2](0) NULL,
	[ID_CANCELACION] [varchar](25) NULL,
	[INFORMACION] [varchar](200) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'CFDI Tables' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'CFDI_CANCELACIONES'
GO
