USE [T3QA]
GO
/****** Object:  Table [T3].[CFDI_BANCO]    Script Date: 7/16/2026 10:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[CFDI_BANCO](
	[BANCO_ROWID] [varchar](20) NULL,
	[BANCO_NOMBRE] [varchar](20) NULL,
	[BANCO_NOMBRE_COMPLETO] [varchar](200) NULL,
	[BANCO_RFC] [varchar](20) NULL,
	[BANCO_CODIGO] [varchar](3) NULL
) ON [PRIMARY]
GO
