USE [T3QA]
GO
/****** Object:  Table [T3].[DEBUG_T3]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[DEBUG_T3](
	[FECHA] [datetime2](0) NULL,
	[FACTURA] [varchar](30) NULL,
	[PEDIDO] [varchar](18) NULL,
	[CLIENTE_SAP] [varchar](10) NULL,
	[COMENTARIO] [varchar](50) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Logging Table' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'DEBUG_T3'
GO
