USE [T3QA]
GO
/****** Object:  Table [T3].[DELIVERY_HIST]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[DELIVERY_HIST](
	[CREATED] [datetime2](0) NULL,
	[DELIVERY] [varchar](10) NULL,
	[PICKDATE] [datetime2](0) NULL,
	[DELIVERYDATE] [datetime2](0) NULL,
	[PURCHASEORDER] [varchar](20) NULL,
	[DELIVERYTYPE] [varchar](4) NULL,
	[STATUS] [varchar](10) NULL,
	[PLANT] [varchar](4) NULL,
	[SHIPPINGPOINT] [varchar](4) NULL,
	[SOLDTOPARTY] [varchar](20) NULL,
	[SLOC] [varchar](10) NULL,
	[SHIPTOPARTY] [varchar](30) NULL,
	[SHIPTOPARTYNAME] [varchar](60) NULL,
	[MATERIAL] [varchar](20) NULL,
	[MATERIALNAME] [varchar](50) NULL,
	[QUANTITY] [decimal](14, 3) NULL,
	[UNITMEASURE] [varchar](10) NULL,
	[SHIPTOPARTYLOC] [varchar](40) NULL,
	[SOCIEDAD] [varchar](4) NULL
) ON [PRIMARY]
GO
