USE [T3QA]
GO
/****** Object:  Table [T3].[DEVCOMPRAD_T3]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[DEVCOMPRAD_T3](
	[NUM_MOVTO] [decimal](8, 0) NULL,
	[MATERIAL] [varchar](18) NULL,
	[CANTIDAD] [decimal](15, 0) NULL,
	[UM] [varchar](3) NULL,
	[DOC_ID] [varchar](32) NULL,
	[DISTRIBUIDOR] [decimal](4, 0) NULL,
	[CTRO] [varchar](4) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interface disable after EAS' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'DEVCOMPRAD_T3'
GO
