USE [T3QA]
GO
/****** Object:  Table [T3].[DIF_FEE_BKP]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[DIF_FEE_BKP](
	[FECHA] [varchar](8) NULL,
	[CTRO] [varchar](4) NULL,
	[FACTURA] [varchar](500) NULL,
	[PEDIDO] [varchar](500) NULL,
	[VENTA_V3] [decimal](38, 10) NULL,
	[VENTA_T3IN] [decimal](38, 10) NULL,
	[VENTA_T3OUT] [decimal](38, 10) NULL,
	[VENTA_SAP] [decimal](38, 10) NULL,
	[T3 vs SAP] [decimal](38, 10) NULL,
	[V3 vs SAP] [decimal](38, 10) NULL,
	[CONFIRMADOS] [char](9) NULL
) ON [PRIMARY]
GO
