USE [T3QA]
GO
/****** Object:  Table [T3].[DISTRIBUIDOR]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[DISTRIBUIDOR](
	[DISTRIBUIDORA] [decimal](4, 0) NULL,
	[COMPANIA] [decimal](4, 0) NULL,
	[CENTRO_SAP] [varchar](4) NULL,
	[ALMACEN_SAP] [varchar](4) NULL,
	[CLIENTE_DITSA] [varchar](10) NULL,
	[FECHA_PROCESO] [datetime2](0) NULL,
	[CORRIDA] [bit] NULL,
	[PROVEEDOR_DITSA] [varchar](10) NULL,
	[CLIENTE_DITSA_10] [varchar](10) NULL,
	[PROVEEDOR_DITSA_10] [varchar](10) NULL,
	[WAREHOUSE] [varchar](3) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Master Data' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'DISTRIBUIDOR'
GO
