USE [T3QA]
GO
/****** Object:  Table [T3].[DEBIT_NOTE_IFC]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[DEBIT_NOTE_IFC](
	[DEBIT_NOTE] [varchar](30) NULL,
	[DOCUMENT_DATE] [datetime2](0) NULL,
	[CUST_TO_SAP] [varchar](10) NULL,
	[TOTAL_AMT] [decimal](12, 2) NULL,
	[SAP_DOCUMENT] [varchar](10) NULL,
	[CREATED] [datetime2](0) NULL,
	[FACTURA] [varchar](30) NULL
) ON [PRIMARY]
GO
