USE [T3QA]
GO
/****** Object:  Table [T3].[DISTRIBUIDOR_FISCAL_ANT]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[DISTRIBUIDOR_FISCAL_ANT](
	[DISTRIBUIDOR] [decimal](4, 0) NULL,
	[DESCRIPCION] [varchar](65) NULL,
	[NOMBRE_CORTO] [varchar](15) NULL,
	[CALLE] [varchar](35) NULL,
	[NUMERO_EXTERIOR] [varchar](10) NULL,
	[NUMERO_INTERIOR] [varchar](10) NULL,
	[ORIENTACION] [char](1) NULL,
	[COLONIA] [varchar](30) NULL,
	[MUNICIPIO] [varchar](50) NULL,
	[ESTADO] [varchar](35) NULL,
	[PAIS] [varchar](35) NULL,
	[CODIGO_POSTAL] [decimal](5, 0) NULL,
	[TELEFONO] [decimal](8, 0) NULL,
	[FAX] [decimal](8, 0) NULL,
	[FECHA_ALTA] [datetime2](0) NULL,
	[FECHA_BAJA] [datetime2](0) NULL,
	[NOMBRE_UNIDAD] [varchar](30) NULL,
	[REG_FED_CONT] [varchar](13) NULL,
	[SUPL_VIA_PAGO] [varchar](2) NULL,
	[CTRO] [varchar](4) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FOR DROP' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'DISTRIBUIDOR_FISCAL_ANT'
GO
