USE [T3QA]
GO
/****** Object:  Table [T3].[EXECUTE_T3]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[EXECUTE_T3](
	[SUSPEND_EXECUTION] [varchar](1) NULL,
	[RUNNING_PROCESS] [varchar](1) NULL,
	[AGGREGATED] [varchar](1) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Configuration Table' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'EXECUTE_T3'
GO
