USE [T3QA]
GO
/****** Object:  Table [T3].[EDI_CARGA]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[EDI_CARGA](
	[ID_PEDIDO] [decimal](10, 0) NULL,
	[FECHA_PEDIDO] [datetime2](0) NULL,
	[SECUENCIA] [decimal](10, 0) NULL,
	[CADENA] [varchar](25) NULL,
	[PEDIDO_EDI] [varchar](4000) NULL,
	[FECHA_PROC] [datetime2](0) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Deprecated ( SAP - EDI )' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'EDI_CARGA'
GO
