USE [T3QA]
GO
/****** Object:  Table [T3].[ENTREGA_ARCH]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[ENTREGA_ARCH](
	[FACTURA] [varchar](30) NULL,
	[ENTREGA] [varchar](10) NULL,
	[FECHA_TRN] [datetime2](0) NULL,
	[STATUS_ENTREGA] [char](1) NULL,
	[UBICACION] [varchar](4) NULL,
	[REP_ID] [varchar](10) NULL,
	[FECHA_ENTREGA] [datetime2](0) NULL,
	[CLIENTE_V3] [varchar](15) NULL,
	[CLIENTE_SAP] [varchar](10) NULL,
	[FECHA_PROC_BATMD] [datetime2](0) NULL,
	[FECHA_ARCHIVING] [datetime2](0) NULL
) ON [PRIMARY]
GO
ALTER TABLE [T3].[ENTREGA_ARCH] ADD  DEFAULT (sysdatetime()) FOR [FECHA_ARCHIVING]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Archive Table' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'ENTREGA_ARCH'
GO
