USE [T3QA]
GO
/****** Object:  Table [T3].[EDI_PEDIDO]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[EDI_PEDIDO](
	[ID_PEDIDO] [decimal](10, 0) NULL,
	[FECHA_PROC] [datetime2](0) NULL,
	[CADENA] [varchar](15) NULL,
	[DTMP] [varchar](10) NULL,
	[DTME] [varchar](10) NULL,
	[BGM] [varchar](15) NULL,
	[NADBY] [varchar](20) NULL,
	[NADSE] [varchar](15) NULL,
	[LIN] [varchar](15) NULL,
	[QTY] [varchar](5) NULL,
	[MOA] [varchar](10) NULL,
	[PRI] [varchar](10) NULL,
	[PAC] [varchar](10) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Deprecated ( SAP - EDI )' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'EDI_PEDIDO'
GO
