USE [T3QA]
GO
/****** Object:  Table [T3].[ENTREGA_T3]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[ENTREGA_T3](
	[ENTREGA] [varchar](10) NULL,
	[DISTRIBUIDOR] [decimal](4, 0) NULL,
	[FECHA_ENTREGA] [datetime2](0) NULL,
	[DOC_ID] [varchar](32) NULL,
	[CTRO] [varchar](4) NULL,
	[UBICACION] [varchar](4) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interface disable after EAS' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'ENTREGA_T3'
GO
