USE [T3QA]
GO
/****** Object:  Table [T3].[EDI_CONFIGURA]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[EDI_CONFIGURA](
	[CADENA] [varchar](10) NULL,
	[BGMINI] [varchar](10) NULL,
	[BGMFIN] [varchar](10) NULL,
	[LONGBGM] [decimal](2, 0) NULL,
	[NADINI] [varchar](10) NULL,
	[NADFIN] [varchar](10) NULL,
	[LONGNAD] [decimal](2, 0) NULL,
	[LININI] [varchar](10) NULL,
	[LINFIN] [varchar](10) NULL,
	[LONGLIN] [decimal](2, 0) NULL,
	[QTYINI] [varchar](10) NULL,
	[QTYFIN] [varchar](10) NULL,
	[LONGQTY] [varchar](2) NULL,
	[MOAINI] [varchar](10) NULL,
	[MOAFIN] [varchar](10) NULL,
	[LONGMOA] [decimal](2, 0) NULL,
	[PRIINI] [varchar](10) NULL,
	[PRIFIN] [varchar](10) NULL,
	[LONGPRI] [decimal](2, 0) NULL,
	[PACINI] [varchar](10) NULL,
	[PACFIN] [varchar](10) NULL,
	[LONGPAC] [decimal](2, 0) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Deprecated ( SAP - EDI )' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'EDI_CONFIGURA'
GO
