USE [T3QA]
GO
/****** Object:  Table [T3].[EXPORT_PROCESOS_LOG]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[EXPORT_PROCESOS_LOG](
	[PID] [decimal](6, 0) NULL,
	[PROCESO] [decimal](4, 0) NULL,
	[INICIO] [datetime2](0) NULL,
	[FIN] [datetime2](0) NULL,
	[REGISTROS] [decimal](8, 0) NULL,
	[ERROR_CODE] [decimal](8, 0) NULL,
	[FECHA_INI_SEL] [datetime2](0) NULL,
	[FECHA_FIN_SEL] [datetime2](0) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FOR DROP' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'EXPORT_PROCESOS_LOG'
GO
