USE [T3QA]
GO
/****** Object:  Table [T3].[FACTD_AGR_T3]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[FACTD_AGR_T3](
	[FACTURA] [varchar](12) NULL,
	[NUM_LINEA] [decimal](10, 0) NULL,
	[MATERIAL] [varchar](18) NULL,
	[CANTIDAD] [decimal](15, 0) NULL,
	[UM] [varchar](3) NULL,
	[DOC_ID] [varchar](32) NULL,
	[STATUS] [varchar](4) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'T3 - Outbound from T3 to SAP' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'FACTD_AGR_T3'
GO
