USE [T3QA]
GO
/****** Object:  Table [T3].[FE_SEGUIMIENTO]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[FE_SEGUIMIENTO](
	[FACTURA] [varchar](15) NULL,
	[RFC] [varchar](15) NULL,
	[FECHA_DOCTO] [datetime2](0) NULL,
	[FECHA_V3] [datetime2](0) NULL,
	[FECHA_ENVIO_T3] [datetime2](0) NULL,
	[FECHA_PROC_BATMD] [datetime2](0) NULL,
	[FECHA_CADENA] [datetime2](0) NULL,
	[FECHA_XML] [datetime2](0) NULL,
	[FECHA_INSERT_FE] [datetime2](0) NULL,
	[FECHA_ENVIO_FE] [datetime2](0) NULL,
	[STATUS_FE] [varchar](35) NULL,
	[ADDENDA] [varchar](30) NULL,
	[REP_LOGIN] [varchar](10) NULL,
	[REP_NOMBRE] [varchar](50) NULL,
	[VAN] [varchar](20) NULL,
	[CTRO] [varchar](4) NULL,
	[REFERENCIA] [varchar](50) NULL,
	[CLIENTE_V3] [varchar](30) NULL,
	[VALOR_DOCTO] [decimal](13, 2) NULL,
	[STATUS_CD] [varchar](30) NULL,
	[CTRO_COBZA] [varchar](4) NULL,
	[TERRITORIO] [varchar](20) NULL,
	[FORMA_PAGO] [varchar](20) NULL,
	[VALOR_PENDIENTE] [decimal](13, 2) NULL,
	[DIAS_VENC] [decimal](6, 0) NULL,
	[FECHA_PAGO] [datetime2](0) NULL,
	[FECHA_VENC] [datetime2](0) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Deprecated ( CC_DOCTOS_OWNER )' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'FE_SEGUIMIENTO'
GO
