USE [T3QA]
GO
/****** Object:  Table [T3].[FOLIO_DISTRIBUIDOR]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[FOLIO_DISTRIBUIDOR](
	[DISTRIBUIDOR] [decimal](4, 0) NULL,
	[FOLIO] [decimal](10, 0) NULL,
	[CTRO] [varchar](4) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Configuration Table' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'FOLIO_DISTRIBUIDOR'
GO
