USE [T3QA]
GO
/****** Object:  Table [T3].[FOLIOS_DUPLICADOS]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[FOLIOS_DUPLICADOS](
	[TERRITORIO] [varchar](50) NULL,
	[DOCUMENTO] [varchar](50) NULL,
	[CANTIDAD] [varchar](50) NULL
) ON [PRIMARY]
GO
