USE [T3QA]
GO
/****** Object:  Table [T3].[FACTURA_DETALLE_ERR]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[FACTURA_DETALLE_ERR](
	[FACTURA] [varchar](30) NULL,
	[NUM_LINEA] [decimal](4, 0) NULL,
	[MATERIAL] [varchar](18) NULL,
	[CANTIDAD_VTA] [decimal](10, 0) NULL,
	[STATUS_PROD] [char](1) NULL,
	[PRECIO_UNIT] [decimal](15, 2) NULL,
	[VALOR_SUBT] [decimal](15, 2) NULL,
	[VALOR_TOT] [decimal](15, 2) NULL,
	[VALOR_DESC] [decimal](15, 2) NULL,
	[VALOR_IVA] [decimal](15, 2) NULL,
	[VALOR_ISSA] [decimal](15, 2) NULL,
	[BONIF_SUBT] [decimal](15, 2) NULL,
	[BONIF_IVA] [decimal](15, 2) NULL,
	[BONIF_PORC] [decimal](5, 2) NULL,
	[BONIF_VOL] [decimal](10, 0) NULL
) ON [PRIMARY]
GO
