USE [T3QA]
GO
/****** Object:  Table [T3].[HISTORIA_ASIGNACION_SAP_ARCH]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[HISTORIA_ASIGNACION_SAP_ARCH](
	[DISTRIBUIDOR] [decimal](4, 0) NULL,
	[FECHA_ASIGNACION] [datetime2](0) NULL,
	[ASIGNACION_ID] [varchar](50) NULL,
	[ASIGNACION_SAP] [decimal](12, 0) NULL,
	[FECHA_ARCHIVING] [datetime2](0) NULL,
	[CTRO] [varchar](4) NULL
) ON [PRIMARY]
GO
ALTER TABLE [T3].[HISTORIA_ASIGNACION_SAP_ARCH] ADD  DEFAULT (sysdatetime()) FOR [FECHA_ARCHIVING]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Archive Table' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'HISTORIA_ASIGNACION_SAP_ARCH'
GO
