USE [T3QA]
GO
/****** Object:  Table [T3].[HISTORIA_CLIENTE_SAP]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[HISTORIA_CLIENTE_SAP](
	[CLIENTE_SAP] [varchar](10) NULL,
	[FECHA_INI_VIG] [datetime2](0) NULL,
	[CLIENTE_AGRUPADO] [varchar](10) NULL,
	[FECHA_FIN_VIG] [datetime2](0) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'T3 - Processing Data' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'HISTORIA_CLIENTE_SAP'
GO
