USE [T3QA]
GO
/****** Object:  Table [T3].[IFC_FORMATO_HIST]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[IFC_FORMATO_HIST](
	[DISTRIBUIDOR] [decimal](4, 0) NULL,
	[TIPO_VENTA] [varchar](2) NULL,
	[TIPO_FORMA] [varchar](2) NULL,
	[FORMATO] [varchar](20) NULL,
	[DESC_FORMA] [varchar](100) NULL,
	[FECHA_INI] [datetime2](0) NULL,
	[FECHA_FIN] [datetime2](0) NULL,
	[CTRO] [varchar](4) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Master Data' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'IFC_FORMATO_HIST'
GO
