USE [T3QA]
GO
/****** Object:  Table [T3].[LOG_DQC_AUTOMATIZADO]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[LOG_DQC_AUTOMATIZADO](
	[FECHA_DQC_AUTOMATIZADO] [datetime2](0) NULL,
	[DQC_AUTOMATIZADO] [varchar](100) NULL,
	[DOCUMENTO] [varchar](100) NULL,
	[DETALLE] [varchar](300) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Loading/Reporting Process' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'LOG_DQC_AUTOMATIZADO'
GO
