USE [T3QA]
GO
/****** Object:  Table [T3].[LOG_CLIENTE]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[LOG_CLIENTE](
	[FECHA] [datetime2](0) NULL,
	[USUARIO] [varchar](30) NULL,
	[LOG] [varchar](500) NULL,
	[USUARIO_RED] [varchar](30) NULL,
	[IP] [varchar](30) NULL,
	[TERMINAL] [varchar](40) NULL,
	[CLIENTE_V3] [varchar](30) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Loading/Reporting Process' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'LOG_CLIENTE'
GO
