USE [T3QA]
GO
/****** Object:  Table [T3].[MX10_APLICACION_CM]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[MX10_APLICACION_CM](
	[FECHA_DOCUMENTO] [datetime2](0) NULL,
	[TIPO_DOCUMENTO] [varchar](4) NULL,
	[SOCIEDAD] [varchar](4) NULL,
	[MONEDA] [varchar](4) NULL,
	[NUMERO_DOCUMENTO] [varchar](10) NULL,
	[MONTO_APLICAR] [decimal](15, 2) NULL,
	[FACTURA] [varchar](10) NULL,
	[NOTA_CREDITO] [varchar](10) NULL,
	[FECHA_REGISTRO] [datetime2](0) NULL
) ON [PRIMARY]
GO
