USE [T3QA]
GO
/****** Object:  Table [T3].[MONITOR_AVANCE_V3_IN]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[MONITOR_AVANCE_V3_IN](
	[LAST_DOCUMENT_DATE] [datetime2](0) NULL,
	[DOCUMENT_TYPE] [varchar](1024) NULL,
	[PROCESADO] [decimal](38, 10) NULL,
	[ERRORES] [decimal](38, 10) NULL,
	[REVIEW] [decimal](38, 10) NULL,
	[INICIO] [datetime2](0) NULL,
	[ULTIMO] [datetime2](0) NULL,
	[LAST_UPDATE_DATE] [datetime2](0) NULL,
	[LAST_UPDATE_BY] [varchar](1024) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Logging Table' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'MONITOR_AVANCE_V3_IN'
GO
