USE [T3QA]
GO
/****** Object:  Table [T3].[MX10_APLICACION_COBZA]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[MX10_APLICACION_COBZA](
	[FECHA_DOCUMENTO] [datetime2](0) NULL,
	[TIPO_DOCUMENTO] [varchar](4) NULL,
	[SOCIEDAD] [varchar](4) NULL,
	[MONEDA] [varchar](4) NULL,
	[CUENTA_BANCO] [varchar](10) NULL,
	[NUMERO_DOCUMENTO] [varchar](10) NULL,
	[MONTO_APLICAR] [decimal](15, 2) NULL,
	[FACTURA] [varchar](10) NULL,
	[FECHA_REGISTRO] [datetime2](0) NULL,
	[FECHA_PROC_BATMD] [datetime2](0) NULL,
	[DOCUMENTO_INTERNO] [varchar](10) NULL,
	[SALDO_ANTERIOR] [decimal](15, 2) NULL,
	[NUMERO_PAGO] [decimal](3, 0) NULL,
	[FOLIO_UUID] [varchar](40) NULL,
	[FECHA_COMPENSACION] [datetime2](0) NULL
) ON [PRIMARY]
GO
