USE [T3QA]
GO
/****** Object:  Table [T3].[MATERIAL]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[MATERIAL](
	[MATERIAL] [varchar](18) NULL,
	[NOMBRE_MATERIAL] [varchar](80) NULL,
	[NOMBRE_CORTO] [varchar](15) NULL,
	[CONVERSION_PRES_2_A_1] [decimal](4, 0) NULL,
	[CONVERSION_PRES_3_A_2] [decimal](4, 0) NULL,
	[CONVERSION_PRES_4_A_3] [decimal](4, 0) NULL,
	[CODIGO_BARRAS_PRES_2] [varchar](20) NULL,
	[CODIGO_BARRAS_PRES_3] [varchar](20) NULL,
	[CODIGO_BARRAS_PRES_4] [varchar](20) NULL,
	[UNIDAD_MED_VTA] [varchar](3) NULL,
	[CIA] [varchar](30) NULL,
	[CIG_X_CLL] [decimal](6, 0) NULL,
	[DEN_CIG_X_CLL] [decimal](6, 0) NULL,
	[CIG_X_CT] [decimal](6, 0) NULL,
	[DEN_CIG_X_CT] [decimal](6, 0) NULL,
	[CIG_X_PAQ] [decimal](6, 0) NULL,
	[DEN_CIG_X_PAQ] [decimal](6, 0) NULL,
	[UM] [varchar](3) NULL,
	[CREACION] [datetime2](0) NULL,
	[MODIFICACION] [datetime2](0) NULL,
	[TASA_IEPS] [decimal](5, 2) NULL,
	[MAT_PELIGROSO] [varchar](10) NULL,
	[CVE_PELIGROSO] [varchar](10) NULL,
	[PESO_CAJ] [decimal](10, 4) NULL,
	[PESO_PAQ] [decimal](10, 4) NULL,
	[NICOTINA] [decimal](10, 4) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Master Data' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'MATERIAL'
GO
