USE [T3QA]
GO
/****** Object:  Table [T3].[MONITOR_CHART_CATALOG]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[MONITOR_CHART_CATALOG](
	[ID] [decimal](38, 10) NULL,
	[FORMAL_NAME] [varchar](1024) NULL,
	[JS_FUNCTION_NAME] [varchar](1024) NULL,
	[DISPLAY_NAME] [varchar](1024) NULL,
	[CHART_TYPE] [varchar](1024) NULL,
	[STATUS] [varchar](32) NULL,
	[STORED_PROCEDURED_NAME] [varchar](1024) NULL,
	[OPTION_FLAG] [varchar](1024) NULL,
	[LAST_UPDATE_BY] [varchar](1024) NULL,
	[LAST_UPDATE_DATE] [datetime2](0) NULL,
	[POSITION_ORDER] [decimal](38, 10) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Logging Table' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'MONITOR_CHART_CATALOG'
GO
