USE [T3QA]
GO
/****** Object:  Table [T3].[MOVIMIENTOS_VAN_ARCH]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[MOVIMIENTOS_VAN_ARCH](
	[FACTURA] [varchar](12) NULL,
	[NUM_MOVTO] [decimal](38, 10) NULL,
	[TIPO_MOVTO] [varchar](4) NULL,
	[FECHA_MOVTO] [datetime2](0) NULL,
	[UBICACION] [varchar](4) NULL,
	[FECHA_ARCHIVING] [datetime2](0) NULL
) ON [PRIMARY]
GO
ALTER TABLE [T3].[MOVIMIENTOS_VAN_ARCH] ADD  DEFAULT (sysdatetime()) FOR [FECHA_ARCHIVING]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Archive Table - Not in use any more' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'MOVIMIENTOS_VAN_ARCH'
GO
