USE [T3QA]
GO
/****** Object:  Table [T3].[MATERIAL_HIST]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[MATERIAL_HIST](
	[MATERIAL] [varchar](18) NULL,
	[NOMBRE_MATERIAL] [varchar](80) NULL,
	[NOMBRE_CORTO] [varchar](15) NULL,
	[UNIDAD_MED_VTA] [varchar](3) NULL,
	[UM] [varchar](3) NULL,
	[FECHA_INI_VIG] [datetime2](0) NULL,
	[FECHA_FIN_VIG] [datetime2](0) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Master Data' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'MATERIAL_HIST'
GO
