USE [T3QA]
GO
/****** Object:  Table [T3].[MATERIAL_SAP]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[MATERIAL_SAP](
	[MATERIAL] [varchar](18) NULL,
	[SAP_UM_BASE] [varchar](4) NULL,
	[SAP_UM_CONV] [decimal](8, 2) NULL
) ON [PRIMARY]
GO
