USE [T3QA]
GO
/****** Object:  Table [T3].[MUNICIPIO_FISCAL]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[MUNICIPIO_FISCAL](
	[PAIS] [decimal](3, 0) NULL,
	[ESTADO] [decimal](2, 0) NULL,
	[MUNICIPIO] [decimal](4, 0) NULL,
	[NOMBRE_INEGI] [varchar](40) NULL,
	[NOMBRE_COMUN] [varchar](40) NULL,
	[CODIGO_AREA] [decimal](3, 0) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Master Data' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'MUNICIPIO_FISCAL'
GO
