USE [T3QA]
GO
/****** Object:  Table [T3].[MOVIMIENTOS_VAN]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[MOVIMIENTOS_VAN](
	[FACTURA] [varchar](12) NULL,
	[NUM_MOVTO] [decimal](38, 10) NULL,
	[TIPO_MOVTO] [varchar](4) NULL,
	[FECHA_MOVTO] [datetime2](0) NULL,
	[UBICACION] [varchar](4) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interface disable after EAS' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'MOVIMIENTOS_VAN'
GO
