USE [T3QA]
GO
/****** Object:  Table [T3].[MB_SALES_REPORT]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[MB_SALES_REPORT](
	[MATERIAL] [varchar](18) NULL,
	[NOMBRE_MATERIAL] [varchar](80) NULL,
	[MES] [varchar](6) NULL,
	[TERRITORIO_COMPLETO] [varchar](75) NULL,
	[REGION] [varchar](16) NULL,
	[CTRO] [varchar](4) NULL,
	[TERRITORIO] [varchar](12) NULL,
	[UBICACION] [varchar](16) NULL,
	[TIPO_TERRITORIO] [varchar](30) NULL,
	[TOT_PK_FAC] [decimal](38, 10) NULL,
	[TOT_CS_FAC] [decimal](38, 10) NULL,
	[TOT_CIG_FAC] [decimal](38, 10) NULL,
	[TOT_PK_DEV] [decimal](38, 10) NULL,
	[TOT_CS_DEV] [decimal](38, 10) NULL,
	[TOT_CIG_DEV] [decimal](38, 10) NULL,
	[TOT_PK] [decimal](38, 10) NULL,
	[TOT_CS] [decimal](38, 10) NULL,
	[TOT_CIG] [decimal](38, 10) NULL,
	[VALOR_SUBT_FAC] [decimal](38, 10) NULL,
	[VALOR_IVA_FAC] [decimal](38, 10) NULL,
	[MONTO_TOTAL_FAC] [decimal](38, 10) NULL,
	[VALOR_SUBT_DEV] [decimal](38, 10) NULL,
	[VALOR_IVA_DEV] [decimal](38, 10) NULL,
	[MONTO_TOTAL_DEV] [decimal](38, 10) NULL,
	[VALOR_SUBT] [decimal](38, 10) NULL,
	[VALOR_IVA] [decimal](38, 10) NULL,
	[MONTO_TOTAL] [decimal](38, 10) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Deprecated ( Printing Forms )' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'MB_SALES_REPORT'
GO
