USE [T3QA]
GO
/****** Object:  Table [T3].[MOV_CLIENTE_TERR]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[MOV_CLIENTE_TERR](
	[CLIENTE_V3] [varchar](15) NULL,
	[DIST_VENTA] [decimal](4, 0) NULL,
	[AREA_MGR] [varchar](3) NULL,
	[REGION_ID] [varchar](4) NULL,
	[TERRITORIO] [varchar](75) NULL,
	[TIPO_TERRITORIO] [varchar](30) NULL,
	[ESTATUS] [varchar](2) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Workaround Table' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'MOV_CLIENTE_TERR'
GO
