USE [T3QA]
GO
/****** Object:  Table [T3].[MENSAJES_OTROS_MESES]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[MENSAJES_OTROS_MESES](
	[TIPO_MENSAJE] [varchar](20) NULL,
	[MENSAJE_ID] [varchar](50) NULL,
	[FECHA_MSJ] [datetime2](0) NULL,
	[ESTATUS] [char](1) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Master Data' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'MENSAJES_OTROS_MESES'
GO
