USE [T3QA]
GO
/****** Object:  Table [T3].[MONITOR_AVANCE_T3_OUT]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[MONITOR_AVANCE_T3_OUT](
	[LAST_DOCUMENT_DATE] [datetime2](0) NULL,
	[DOCUMENT_TYPE] [varchar](1024) NULL,
	[STATE_T3_OUT] [varchar](1024) NULL,
	[STATE_T3_XML_PROCESSED] [varchar](1024) NULL,
	[STATE_SENT] [varchar](1024) NULL,
	[LAST_UPDATE_DATE] [datetime2](0) NULL,
	[LAST_UPDATE_BY] [varchar](1024) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Logging Table' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'MONITOR_AVANCE_T3_OUT'
GO
