USE [T3QA]
GO
/****** Object:  Table [T3].[NOTA_PASO]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[NOTA_PASO](
	[DISTRIBUIDOR] [decimal](4, 0) NULL,
	[FECHA_FACTURA] [datetime2](0) NULL,
	[FACTURA] [varchar](30) NULL,
	[CANAL] [varchar](2) NULL,
	[OFICINA_VENTA] [varchar](4) NULL,
	[GPO_VENDEDOR] [varchar](3) NULL,
	[ALMACEN] [varchar](4) NULL,
	[CENTRO] [varchar](4) NULL,
	[UBICACION] [varchar](20) NULL,
	[CLIENTE_PEDIDO] [varchar](10) NULL,
	[CLIENTE_SAP] [varchar](10) NULL,
	[CONDICION_PAGO] [varchar](4) NULL,
	[MOTIVO_PEDIDO] [varchar](3) NULL,
	[PEDIDO] [varchar](30) NULL,
	[GRUPO_PRECIO] [varchar](2) NULL,
	[LISTA_PRECIO] [varchar](2) NULL,
	[CLASIF_FISCAL] [char](1) NULL,
	[FECHA_PROC_BATMD] [datetime2](0) NULL,
	[REFERENCIA] [varchar](18) NULL,
	[CTRO] [varchar](4) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'T3 - Processing Data' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'NOTA_PASO'
GO
