USE [T3QA]
GO
/****** Object:  Table [T3].[NDC_ISSUE_IVA]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[NDC_ISSUE_IVA](
	[FACTURA] [varchar](20) NULL,
	[DIFERENCIA] [decimal](6, 2) NULL,
	[FECHA_INSERT] [datetime2](0) NULL,
	[FECHA_UPDATE] [datetime2](0) NULL
) ON [PRIMARY]
GO
