USE [T3QA]
GO
/****** Object:  Table [T3].[NGP_CUSTOMER_INSTALL]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[NGP_CUSTOMER_INSTALL](
	[INSTALL_ID] [varchar](5) NULL,
	[CLIENTE_SAP] [varchar](10) NULL,
	[CTRO] [varchar](4) NULL,
	[OFICINA_VENTA] [varchar](4) NULL,
	[GPO_VENDEDOR] [varchar](3) NULL,
	[UBICACION] [varchar](20) NULL,
	[STOCKPARTNER] [varchar](10) NULL,
	[SLOC] [varchar](4) NULL,
	[INI_VIGENCIA] [datetime2](0) NULL,
	[FIN_VIGENCIA] [datetime2](0) NULL
) ON [PRIMARY]
GO
