USE [T3QA]
GO
/****** Object:  Table [T3].[NOTA_AGR_T3_ARCH]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[NOTA_AGR_T3_ARCH](
	[FACTURA] [varchar](12) NULL,
	[DISTRIBUIDOR] [decimal](4, 0) NULL,
	[CLASE_PEDIDO] [varchar](4) NULL,
	[ORG_VENTAS] [varchar](4) NULL,
	[CANAL] [varchar](2) NULL,
	[SECTOR] [varchar](2) NULL,
	[OFICINA_VENTA] [varchar](4) NULL,
	[GPO_VENDEDOR] [varchar](3) NULL,
	[CLIENTE_SAP] [varchar](10) NULL,
	[FECHA_COMPRA] [datetime2](0) NULL,
	[FECHA_ENTREGA] [datetime2](0) NULL,
	[FECHA_PRECIO] [datetime2](0) NULL,
	[CONDICION_PAGO] [varchar](4) NULL,
	[MOTIVO_PEDIDO] [varchar](3) NULL,
	[REFERENCIA] [varchar](16) NULL,
	[FECHA_DOCUMENTO] [datetime2](0) NULL,
	[LISTA_PRECIO] [varchar](2) NULL,
	[GRUPO_PRECIO] [varchar](2) NULL,
	[CLASIF_FISCAL] [char](1) NULL,
	[DOC_ID] [varchar](32) NULL,
	[FECHA_ARCHIVING] [datetime2](0) NULL,
	[CTRO] [varchar](4) NULL,
	[UBICACION] [varchar](20) NULL,
	[FECHA_PROC_BATMD] [datetime2](0) NULL
) ON [PRIMARY]
GO
ALTER TABLE [T3].[NOTA_AGR_T3_ARCH] ADD  DEFAULT (sysdatetime()) FOR [FECHA_ARCHIVING]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Archive Table' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'NOTA_AGR_T3_ARCH'
GO
