USE [T3QA]
GO
/****** Object:  Table [T3].[NGP_HISTORIA_FACTURA_SAP]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[NGP_HISTORIA_FACTURA_SAP](
	[INSTALL_ID] [varchar](4) NULL,
	[TICKET] [varchar](20) NULL,
	[PURCHASE_DATE] [datetime2](0) NULL,
	[ORDER_SAP] [varchar](20) NULL
) ON [PRIMARY]
GO
