USE [T3QA]
GO
/****** Object:  Table [T3].[ORDERS_NGP_IN_DETAILS]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[ORDERS_NGP_IN_DETAILS](
	[INSTALL_ID] [varchar](5) NULL,
	[TICKET] [varchar](20) NULL,
	[ITEM_ID] [varchar](5) NULL,
	[QUANTITY] [decimal](10, 2) NULL,
	[MATERIAL] [varchar](10) NULL,
	[UNITMEASURE] [varchar](6) NULL,
	[EXTND_PRICE] [decimal](15, 4) NULL,
	[EXTND_TAX] [decimal](15, 4) NULL,
	[EXTND_DISCOUNT] [decimal](15, 4) NULL,
	[DISTRIBUTION_FEE] [decimal](15, 4) NULL
) ON [PRIMARY]
GO
