USE [T3QA]
GO
/****** Object:  Table [T3].[OTROS_GENERAL]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[OTROS_GENERAL](
	[FACTURA] [varchar](20) NULL,
	[FACTURASAP] [varchar](10) NULL,
	[PEDIDOSAP] [varchar](10) NULL,
	[SOCIEDAD] [varchar](4) NULL,
	[RFC] [varchar](20) NULL,
	[MONEDA] [varchar](5) NULL,
	[TIPOCAMBIO] [decimal](12, 6) NULL,
	[CONDICIONPAGO] [decimal](3, 0) NULL,
	[VALOR_SUBT] [decimal](22, 7) NULL,
	[VALOR_IVA] [decimal](22, 7) NULL,
	[FECHA_FACTURA] [datetime2](0) NULL,
	[FECHA_TRN] [datetime2](0) NULL,
	[FECHA_PROC_BATMD] [datetime2](0) NULL,
	[FECHA_CANCELACION] [datetime2](0) NULL,
	[NOMBRE] [varchar](100) NULL,
	[DIRECCION] [varchar](100) NULL,
	[COLONIA] [varchar](80) NULL,
	[CIUDAD] [varchar](80) NULL,
	[ESTADO] [varchar](80) NULL,
	[PAIS] [varchar](30) NULL,
	[CODIGOPOSTAL] [varchar](10) NULL,
	[METODOPAGO] [varchar](80) NULL,
	[REFERENCIABANCARIA] [varchar](80) NULL,
	[OBSERVACIONES] [varchar](500) NULL,
	[CLASE_FACTURA] [varchar](4) NULL,
	[REFERENCIA] [varchar](20) NULL,
	[CLIENTE_SAP] [varchar](10) NULL,
	[RUTA_PDF] [varchar](500) NULL,
	[RUTA_XML] [varchar](500) NULL,
	[CLTE_FACTURA_SAP] [varchar](10) NULL,
	[INCOTERMS] [varchar](150) NULL,
	[COMPLEMENTO_CE] [varchar](30) NULL,
	[NIF] [varchar](30) NULL,
	[RETENCION_IVA] [decimal](22, 7) NULL
) ON [PRIMARY]
GO
