USE [T3QA]
GO
/****** Object:  Table [T3].[ORDERS_NGP_IN]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[ORDERS_NGP_IN](
	[INSTALL_ID] [varchar](5) NULL,
	[TICKET] [varchar](20) NULL,
	[PURCHASE_DATE] [datetime2](0) NULL,
	[PURCHASE_TIME] [varchar](10) NULL,
	[PURCHASE_TYPE] [varchar](4) NULL,
	[PRICE_LIST] [varchar](2) NULL,
	[CUSTOMER_ID] [varchar](30) NULL,
	[CUSTOMER_NIF] [varchar](20) NULL,
	[CUSTOMER_NAME] [varchar](100) NULL,
	[CUSTOMER_ADDRESS] [varchar](100) NULL,
	[CUSTOMER_DISTRICT] [varchar](60) NULL,
	[CUSTOMER_CITY] [varchar](60) NULL,
	[CUSTOMER_STATE] [varchar](60) NULL,
	[CUSTOMER_COUNTRY] [varchar](30) NULL,
	[CUSTOMER_ZIPCODE] [varchar](10) NULL,
	[PAYMENT_METHOD] [varchar](20) NULL,
	[PAYMENT_REFERENCE] [varchar](30) NULL,
	[CURRENCY] [varchar](5) NULL,
	[RATE] [decimal](15, 4) NULL,
	[CREATED] [datetime2](0) NULL,
	[LAST_UPDATED] [datetime2](0) NULL,
	[FECHA_PROC_BATMD] [datetime2](0) NULL
) ON [PRIMARY]
GO
