USE [T3QA]
GO
/****** Object:  Table [T3].[OTROS_DETALLE]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[OTROS_DETALLE](
	[FACTURA] [varchar](20) NULL,
	[NUM_LINEA] [decimal](3, 0) NULL,
	[MATERIAL] [varchar](10) NULL,
	[MATERIALDESCRIPCION] [varchar](1000) NULL,
	[CANTIDAD] [decimal](15, 4) NULL,
	[UNIDADMEDIDA] [varchar](10) NULL,
	[PRECIOUNITARIO] [decimal](22, 7) NULL,
	[VALOR_SUBT] [decimal](22, 7) NULL,
	[VALOR_IVA] [decimal](22, 7) NULL,
	[LEYENDA_EN] [varchar](500) NULL,
	[LEYENDA_ES] [varchar](1000) NULL,
	[SAT_PRODID] [varchar](10) NULL,
	[SAT_UM] [varchar](5) NULL,
	[RETENCION_IVA] [decimal](22, 7) NULL
) ON [PRIMARY]
GO
