USE [T3QA]
GO
/****** Object:  Table [T3].[OTROS_SERVICIOS_SKU]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[OTROS_SERVICIOS_SKU](
	[MATERIAL] [varchar](20) NULL
) ON [PRIMARY]
GO
