USE [T3QA]
GO
/****** Object:  Table [T3].[OTROS_CONDICIONES]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[OTROS_CONDICIONES](
	[FACTURA] [varchar](20) NULL,
	[NUM_LINEA] [decimal](3, 0) NULL,
	[CONDICION] [varchar](2) NULL,
	[TOTAL_CONDICION] [decimal](22, 7) NULL,
	[TOTAL_MONTO] [decimal](22, 7) NULL,
	[MONEDA] [varchar](4) NULL,
	[CONDICION_TEXTO] [varchar](80) NULL,
	[PRECIO] [decimal](22, 7) NULL,
	[CONDICION_ID] [varchar](4) NULL,
	[UNIDAD_MEDIDA] [varchar](4) NULL,
	[CANTIDAD] [decimal](22, 7) NULL
) ON [PRIMARY]
GO
