USE [T3QA]
GO
/****** Object:  Table [T3].[ORDERS_NGP]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[ORDERS_NGP](
	[FACTURA] [varchar](20) NULL,
	[CLASE_PEDIDO] [varchar](4) NULL,
	[ORG_VENTAS] [varchar](4) NULL,
	[CANAL] [varchar](2) NULL,
	[SECTOR] [varchar](2) NULL,
	[OFICINA_VENTA] [varchar](4) NULL,
	[GPO_VENDEDOR] [varchar](3) NULL,
	[CLIENTE_SAP] [varchar](10) NULL,
	[FECHA_COMPRA] [datetime2](0) NULL,
	[CONDICION_PAGO] [varchar](4) NULL,
	[DOC_ID] [varchar](32) NULL,
	[CTRO] [varchar](4) NULL,
	[UBICACION] [varchar](20) NULL,
	[STOCKPARTNER] [varchar](10) NULL,
	[SLOC] [varchar](4) NULL,
	[RETURN_REASON] [varchar](10) NULL,
	[FECHA_PROC_BATMD] [datetime2](0) NULL,
	[LISTA_PRECIO] [varchar](2) NULL,
	[REFERENCIA] [varchar](30) NULL
) ON [PRIMARY]
GO
