USE [T3QA]
GO
/****** Object:  Table [T3].[OTROS_DETALLE_LOG]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[OTROS_DETALLE_LOG](
	[FECHA] [datetime2](0) NULL,
	[USUARIO] [varchar](30) NULL,
	[USUARIO_RED] [varchar](30) NULL,
	[IP] [varchar](30) NULL,
	[TERMINAL] [varchar](40) NULL,
	[ACTION] [varchar](10) NULL,
	[FACTURA] [varchar](20) NULL,
	[NUM_LINEA] [decimal](3, 0) NULL,
	[NEW_MATERIAL] [varchar](10) NULL,
	[NEW_MATERIALDESCRIPCION] [varchar](1000) NULL,
	[NEW_CANTIDAD] [decimal](15, 4) NULL,
	[NEW_UNIDADMEDIDA] [varchar](10) NULL,
	[NEW_PRECIOUNITARIO] [decimal](22, 7) NULL,
	[NEW_VALOR_SUBT] [decimal](22, 7) NULL,
	[NEW_VALOR_IVA] [decimal](22, 7) NULL,
	[NEW_LEYENDA_EN] [varchar](500) NULL,
	[NEW_LEYENDA_ES] [varchar](1000) NULL,
	[NEW_SAT_PRODID] [varchar](10) NULL,
	[NEW_SAT_UM] [varchar](5) NULL,
	[OLD_MATERIAL] [varchar](10) NULL,
	[OLD_MATERIALDESCRIPCION] [varchar](1000) NULL,
	[OLD_CANTIDAD] [decimal](15, 4) NULL,
	[OLD_UNIDADMEDIDA] [varchar](10) NULL,
	[OLD_PRECIOUNITARIO] [decimal](22, 7) NULL,
	[OLD_VALOR_SUBT] [decimal](22, 7) NULL,
	[OLD_VALOR_IVA] [decimal](22, 7) NULL,
	[OLD_LEYENDA_EN] [varchar](500) NULL,
	[OLD_LEYENDA_ES] [varchar](1000) NULL,
	[OLD_SAT_PRODID] [varchar](10) NULL,
	[OLD_SAT_UM] [varchar](5) NULL,
	[TICKET_REFERENCIA] [varchar](30) NULL
) ON [PRIMARY]
GO
