USE [T3QA]
GO
/****** Object:  Table [T3].[ORDERS_NGP_DETAIL]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[ORDERS_NGP_DETAIL](
	[FACTURA] [varchar](20) NULL,
	[NUM_LINEA] [decimal](4, 0) NULL,
	[CANTIDAD_VTA] [decimal](8, 2) NULL,
	[MATERIAL] [varchar](10) NULL,
	[UM] [varchar](5) NULL,
	[VALOR_SUBT] [decimal](15, 4) NULL,
	[VALOR_IVA] [decimal](15, 4) NULL,
	[BONIF_SUBT] [decimal](15, 4) NULL,
	[ENVIO_SUBT] [decimal](15, 4) NULL,
	[TIPO_POSICION] [varchar](4) NULL,
	[USO_POSICION] [varchar](4) NULL,
	[ENVIO_IVA] [decimal](15, 4) NULL
) ON [PRIMARY]
GO
