USE [T3QA]
GO
/****** Object:  Table [T3].[PASO_CLIENTE]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[PASO_CLIENTE](
	[CLIENTE_V3] [varchar](30) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Workaround Table' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'PASO_CLIENTE'
GO
