USE [T3QA]
GO
/****** Object:  Table [T3].[PAGO_T3]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[PAGO_T3](
	[REFERENCIA] [varchar](16) NULL,
	[DISTRIBUIDOR] [decimal](4, 0) NULL,
	[CLASE_DOC] [varchar](2) NULL,
	[METODO_PAGO] [char](1) NULL,
	[TEXTO_CABECERA] [varchar](25) NULL,
	[FECHA_DOC] [datetime2](0) NULL,
	[SOCIEDAD] [varchar](4) NULL,
	[FECHA_CONTABLE] [datetime2](0) NULL,
	[MONEDA] [varchar](5) NULL,
	[DEUDOR] [varchar](10) NULL,
	[CVE_CONT1] [varchar](2) NULL,
	[IMPORTE] [decimal](13, 2) NULL,
	[ASIGNACION] [varchar](18) NULL,
	[CVE_CONT2] [varchar](2) NULL,
	[REP_ID] [varchar](10) NULL,
	[DOC_ID] [varchar](32) NULL,
	[CTRO] [varchar](4) NULL,
	[FECHA_PROC_BATMD] [datetime2](0) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'T3 - Outbound from T3 to SAP' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'PAGO_T3'
GO
