USE [T3QA]
GO
/****** Object:  Table [T3].[PASO_CLIENTE_TAO]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[PASO_CLIENTE_TAO](
	[CLIENTE_V3] [varchar](30) NULL,
	[CLIENTE_SAP] [varchar](10) NULL,
	[DUMMY1] [varchar](10) NULL,
	[DUMMY2] [varchar](100) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Loading/Reporting Process' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'PASO_CLIENTE_TAO'
GO
