USE [T3QA]
GO
/****** Object:  Table [T3].[PRICELIST_DETALLE_PREP]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[PRICELIST_DETALLE_PREP](
	[PRICELISTID] [varchar](2) NULL,
	[EFFECTIVE] [varchar](8) NULL,
	[EXPIRATION] [varchar](8) NULL,
	[MATNR] [varchar](18) NULL,
	[VALUE] [decimal](38, 10) NULL,
	[UOM] [varchar](10) NULL,
	[CURRENCY] [varchar](4) NULL,
	[DESCRIPTION] [varchar](50) NULL,
	[PRECIO_PUBLICO] [decimal](8, 2) NULL,
	[COSTO_ENVIO] [decimal](15, 2) NULL
) ON [PRIMARY]
GO
