USE [T3QA]
GO
/****** Object:  Table [T3].[PREVENTA_DETALLE]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[PREVENTA_DETALLE](
	[FACTURA] [varchar](30) NULL,
	[PREFIJO] [varchar](3) NULL,
	[NUM_LINEA] [decimal](4, 0) NULL,
	[MATERIAL] [varchar](18) NULL,
	[CANTIDAD_VTA] [decimal](10, 0) NULL,
	[UNIDAD_MED_VTA] [varchar](3) NULL,
	[STATUS_PROD] [char](1) NULL,
	[VALOR_SUBT] [decimal](15, 2) NULL,
	[VALOR_IVA] [decimal](15, 2) NULL,
	[REFERENCIA_PEDIDO] [varchar](12) NULL,
	[VALOR_ISSA] [decimal](15, 2) NULL,
	[BONIF_SUBT] [decimal](15, 2) NULL,
	[BONIF_IVA] [decimal](15, 2) NULL,
	[BONIF_PORC] [decimal](5, 2) NULL,
	[BONIF_VOL] [decimal](10, 0) NULL,
	[ENVIO_SUBT] [decimal](15, 2) NULL,
	[ENVIO_IVA] [decimal](15, 2) NULL,
	[ENVIO_PORC] [decimal](5, 2) NULL,
	[CREDITO_SUBT] [decimal](15, 2) NULL,
	[CREDITO_IVA] [decimal](15, 2) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'T3 - Inbound from V3 to T3' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'PREVENTA_DETALLE'
GO
