USE [T3QA]
GO
/****** Object:  Table [T3].[PAGO]    Script Date: 7/16/2026 10:54:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[PAGO](
	[PAGO_ID] [varchar](50) NULL,
	[FECHA_TRN] [datetime2](0) NULL,
	[DISTRIBUIDOR] [decimal](4, 0) NULL,
	[FECHA_PAGO] [datetime2](0) NULL,
	[CLIENTE_V3] [varchar](15) NULL,
	[CLIENTE_SAP] [varchar](10) NULL,
	[REP_ID] [varchar](10) NULL,
	[TIPO_PAGO] [varchar](20) NULL,
	[METODO_PAGO] [char](1) NULL,
	[VALOR_PAGO] [decimal](15, 2) NULL,
	[FECHA_PROC_BATMD] [datetime2](0) NULL,
	[CTRO] [varchar](4) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'T3 - Inbound from V3 to T3' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'PAGO'
GO
