USE [T3QA]
GO
/****** Object:  Table [T3].[PREVENTA_GENERAL_PASO]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[PREVENTA_GENERAL_PASO](
	[FACTURA] [varchar](30) NULL,
	[PREFIJO] [varchar](3) NULL,
	[CENTRO] [varchar](4) NULL,
	[ENTREGA] [varchar](10) NULL,
	[FECHA_FACTURA] [datetime2](0) NULL,
	[FECHA_TRN] [datetime2](0) NULL,
	[CLASE_FACTURA] [varchar](4) NULL,
	[CLIENTE_SAP] [varchar](10) NULL,
	[CLIENTE_PAGADOR_SAP] [varchar](10) NULL,
	[UBICACION] [varchar](4) NULL,
	[PEDIDO] [varchar](18) NULL,
	[FECHA_EST_ENT] [datetime2](0) NULL,
	[VALOR_SUBT] [decimal](15, 2) NULL,
	[VALOR_IVA] [decimal](15, 2) NULL,
	[STATUS_CONTABLE] [char](2) NULL,
	[ANDULADA] [char](1) NULL,
	[FECHA_ENTREGA] [datetime2](0) NULL,
	[FECHA_PROC_BATMD] [datetime2](0) NULL,
	[REFERENCIA] [varchar](30) NULL,
	[FECHA_CANCELACION] [datetime2](0) NULL,
	[VALOR_ISSA] [decimal](15, 2) NULL,
	[CTRO] [varchar](4) NULL,
	[BONIF_SUBT] [decimal](15, 2) NULL,
	[BONIF_IVA] [decimal](15, 2) NULL,
	[BONIF_PORC] [decimal](5, 2) NULL,
	[BONIF_VOL] [decimal](10, 0) NULL,
	[CLTE_FACTURA_SAP] [varchar](10) NULL,
	[CREDITO_SUBT] [decimal](15, 2) NULL,
	[CREDITO_IVA] [decimal](15, 2) NULL
) ON [PRIMARY]
GO
