USE [T3QA]
GO
/****** Object:  Table [T3].[PRICELIST_DETALLE_LOG]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[PRICELIST_DETALLE_LOG](
	[FECHA] [datetime2](0) NULL,
	[USUARIO] [varchar](30) NULL,
	[USUARIO_RED] [varchar](30) NULL,
	[IP] [varchar](30) NULL,
	[TERMINAL] [varchar](40) NULL,
	[ACTION] [varchar](10) NULL,
	[NEW_PRICELISTID] [varchar](2) NULL,
	[NEW_EFFECTIVE] [varchar](8) NULL,
	[NEW_EXPIRATION] [varchar](8) NULL,
	[NEW_MATNR] [varchar](10) NULL,
	[NEW_VALUE] [decimal](7, 2) NULL,
	[NEW_COSTO_ENVIO] [decimal](7, 2) NULL,
	[OLD_PRICELISTID] [varchar](2) NULL,
	[OLD_EFFECTIVE] [varchar](8) NULL,
	[OLD_EXPIRATION] [varchar](8) NULL,
	[OLD_MATNR] [varchar](10) NULL,
	[OLD_VALUE] [decimal](7, 2) NULL,
	[OLD_COSTO_ENVIO] [decimal](7, 2) NULL,
	[TICKET_REFERENCIA] [varchar](30) NULL
) ON [PRIMARY]
GO
