USE [T3QA]
GO
/****** Object:  Table [T3].[PREVENTA_CONDICIONES]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[PREVENTA_CONDICIONES](
	[FACTURA] [varchar](30) NULL,
	[NUM_LINEA] [decimal](4, 0) NULL,
	[CONDICION] [varchar](4) NULL,
	[IMPORTE] [decimal](15, 2) NULL
) ON [PRIMARY]
GO
