USE [T3QA]
GO
/****** Object:  Table [T3].[REP_CONCILIACION]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[REP_CONCILIACION](
	[CTRO] [varchar](4) NULL,
	[FECHA_FACTURA] [datetime2](0) NULL,
	[FACTURA] [varchar](25) NULL,
	[RFC] [varchar](20) NULL,
	[NOMBRE_CLIENTE] [varchar](100) NULL,
	[VALOR_FACTURA] [decimal](15, 2) NULL,
	[VTA_FECHA_LIBERACION] [datetime2](0) NULL,
	[VTA_METODO_PAGO] [varchar](3) NULL,
	[VTA_TIMBRE_FISCAL] [varchar](40) NULL,
	[PENDIENTE_CARTERA] [decimal](15, 2) NULL,
	[PAGO_FECHA_ASIGNACION] [datetime2](0) NULL,
	[PAGO_IMPORTE] [decimal](15, 2) NULL,
	[VIA_PAGO] [varchar](2) NULL,
	[PAGO_ASIGNACION_ID] [varchar](20) NULL,
	[AGRUPACION] [varchar](20) NULL,
	[PAGO_FECHA_LIBERACION] [datetime2](0) NULL,
	[PAGO_TIMBRE_FISCAL] [varchar](40) NULL,
	[NOTA_CREDITO] [varchar](25) NULL,
	[NC_FECHA_LIBERACION] [datetime2](0) NULL,
	[NC_TIMBRE_FISCAL] [varchar](40) NULL,
	[FACTOR_TIMBRE_FISCAL] [bit] NULL,
	[DIAS_COBRANZA] [decimal](3, 0) NULL
) ON [PRIMARY]
GO
