USE [T3QA]
GO
/****** Object:  Table [T3].[RF_ERROR_LOG]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[RF_ERROR_LOG](
	[FECHA] [datetime2](0) NULL,
	[RUTINA] [varchar](50) NULL,
	[REFERENCIA] [varchar](50) NULL,
	[ERROR_DESC] [varchar](250) NULL,
	[JOB_PID] [decimal](10, 0) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Logging Table' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'RF_ERROR_LOG'
GO
