USE [T3QA]
GO
/****** Object:  Table [T3].[RF_COMPLEMENTO]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[RF_COMPLEMENTO](
	[FACTURA] [varchar](30) NULL,
	[HORA_FACTURA] [varchar](8) NULL,
	[ANIO_APROB] [varchar](6) NULL,
	[FOLIO_APROB] [varchar](6) NULL,
	[ORDER_NUM] [varchar](20) NULL,
	[REP_ID] [varchar](10) NULL,
	[X_DELREP_INVLOC] [varchar](20) NULL,
	[VOLUMEN] [decimal](6, 0) NULL,
	[SOCIEDAD] [varchar](4) NULL,
	[CADENA_ORIGINAL] [varchar](4000) NULL,
	[SELLO_DIGITAL] [varchar](2000) NULL,
	[DIAS_PAGO] [decimal](2, 0) NULL
) ON [PRIMARY]
GO
