USE [T3QA]
GO
/****** Object:  Table [T3].[RF_DOCUMENTOS]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[RF_DOCUMENTOS](
	[FACTURA] [varchar](30) NULL,
	[ANEXO_CFD] [xml] NULL,
	[FACTURA_ASCII1]  AS (ascii(substring([FACTURA],(1),(1)))) PERSISTED
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
