USE [T3QA]
GO
/****** Object:  Table [T3].[REMISION_GENERAL]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[REMISION_GENERAL](
	[FACTURA] [varchar](20) NULL,
	[PEDIDOSAP] [varchar](10) NULL,
	[CLASE_REMISION] [varchar](4) NULL,
	[SOCIEDAD] [varchar](4) NULL,
	[FECHA_FACTURA] [datetime2](0) NULL,
	[FECHA_TRN] [datetime2](0) NULL,
	[FECHA_PROC_BATMD] [datetime2](0) NULL,
	[FECHA_CANCELACION] [datetime2](0) NULL,
	[ORIGEN] [varchar](20) NULL,
	[NOMBRE] [varchar](100) NULL,
	[DIRECCION] [varchar](100) NULL,
	[COLONIA] [varchar](80) NULL,
	[CIUDAD] [varchar](80) NULL,
	[ESTADO] [varchar](80) NULL,
	[PAIS] [varchar](30) NULL,
	[CODIGOPOSTAL] [varchar](10) NULL,
	[DESTINO] [varchar](20) NULL,
	[DESTINO_NOMBRE] [varchar](100) NULL,
	[DESTINO_DIRECCION] [varchar](100) NULL,
	[DESTINO_COLONIA] [varchar](80) NULL,
	[DESTINO_CIUDAD] [varchar](80) NULL,
	[DESTINO_ESTADO] [varchar](80) NULL,
	[DESTINO_PAIS] [varchar](30) NULL,
	[DESTINO_CODIGOPOSTAL] [varchar](10) NULL,
	[OBSERVACIONES] [varchar](500) NULL,
	[REMISION_SERIE] [varchar](5) NULL,
	[REMISION_FOLIO] [varchar](15) NULL,
	[SHIPTOPARTY] [varchar](20) NULL,
	[RFC] [varchar](20) NULL
) ON [PRIMARY]
GO
