USE [T3QA]
GO
/****** Object:  Table [T3].[RF_RESUMEN]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[RF_RESUMEN](
	[TIPOVTA] [varchar](10) NULL,
	[PERIODO] [varchar](6) NULL,
	[PROC_BATMD] [datetime2](0) NULL,
	[DOCTOS] [decimal](5, 0) NULL,
	[COMPLE] [decimal](5, 0) NULL,
	[CADENA] [decimal](5, 0) NULL,
	[SELLO] [decimal](5, 0) NULL,
	[ANEXO] [decimal](5, 0) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Reporting Table' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'RF_RESUMEN'
GO
