USE [T3QA]
GO
/****** Object:  Table [T3].[REPC_MATERIAL_FAMILIA]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[REPC_MATERIAL_FAMILIA](
	[MATERIAL] [varchar](18) NULL,
	[FAMILIA] [varchar](18) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Loading/Reporting Process' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'REPC_MATERIAL_FAMILIA'
GO
