USE [T3QA]
GO
/****** Object:  Table [T3].[REMISION_CTRO_SOCIEDAD]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[REMISION_CTRO_SOCIEDAD](
	[CTRO] [varchar](4) NULL,
	[SOCIEDAD] [varchar](4) NULL,
	[DESCRIPCION] [varchar](50) NULL
) ON [PRIMARY]
GO
