USE [T3QA]
GO
/****** Object:  Table [T3].[RENV_CREDIT_MEMO]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[RENV_CREDIT_MEMO](
	[CREDIT_MEMO] [varchar](20) NULL,
	[CREATED] [datetime2](0) NULL,
	[LAST_REVIEW] [datetime2](0) NULL,
	[RELEASE_DATE] [datetime2](0) NULL,
	[AMOUNT_DOCUMENT] [decimal](15, 2) NULL
) ON [PRIMARY]
GO
