USE [T3QA]
GO
/****** Object:  Table [T3].[RF_PEDIMENTO_DETALLE]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[RF_PEDIMENTO_DETALLE](
	[FACTURA_SAP] [varchar](10) NULL,
	[FOLIO_FISCAL] [varchar](11) NULL,
	[SKU] [varchar](10) NULL,
	[PEDIMENTO] [varchar](15) NULL,
	[FECHA] [datetime2](0) NULL,
	[ADUANA_NUMERO] [varchar](5) NULL,
	[ADUANA_NOMBRE] [varchar](60) NULL,
	[FECHA_MODIFICACION] [datetime2](0) NULL,
	[ID] [decimal](6, 0) NULL,
	[ACTIVO] [bit] NULL,
	[FECHA_CREACION] [datetime2](0) NULL,
	[FECHA_BAJA] [datetime2](0) NULL
) ON [PRIMARY]
GO
ALTER TABLE [T3].[RF_PEDIMENTO_DETALLE] ADD  CONSTRAINT [DF_T3_RF_PEDIMENTO_DETALLE_ACTIVO]  DEFAULT ((1)) FOR [ACTIVO]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'SAT Info - CFD Repository' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'RF_PEDIMENTO_DETALLE'
GO
