USE [T3QA]
GO
/****** Object:  Table [T3].[RF_DOCUMENTOS_TMP]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[RF_DOCUMENTOS_TMP](
	[FACTURA] [varchar](30) NULL,
	[ANEXO_CFD] [xml] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'SAT Info - CFD Repository' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'RF_DOCUMENTOS_TMP'
GO
