USE [T3QA]
GO
/****** Object:  Table [T3].[REPC_CLIENTE_VENTA_HIST]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[REPC_CLIENTE_VENTA_HIST](
	[CLIENTE_SAP] [varchar](10) NULL,
	[FACTURA] [varchar](30) NULL,
	[DIA] [varchar](15) NULL,
	[FECHA] [decimal](10, 0) NULL,
	[SEMANA] [decimal](10, 0) NULL,
	[DC] [decimal](10, 0) NULL,
	[CE] [decimal](10, 0) NULL,
	[FECHA_VENC] [decimal](10, 0) NULL,
	[FECHA_PAGO] [decimal](10, 0) NULL,
	[DIAS_TRANS] [decimal](10, 0) NULL,
	[ESTATUS] [varchar](500) NULL,
	[TIPO] [varchar](3) NULL,
	[NOMBRE] [varchar](20) NULL,
	[IMPORTE] [decimal](15, 2) NULL,
	[PAGOS] [decimal](15, 2) NULL,
	[SALDO] [decimal](15, 2) NULL,
	[CTRO] [varchar](4) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Loading/Reporting Process' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'REPC_CLIENTE_VENTA_HIST'
GO
