USE [T3QA]
GO
/****** Object:  Table [T3].[REPC_CLIENTE_VENTA]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[REPC_CLIENTE_VENTA](
	[CLIENTE_SAP] [varchar](10) NULL,
	[FACTURA] [varchar](30) NULL,
	[MATERIAL] [varchar](18) NULL,
	[CANTIDAD_CIG] [decimal](15, 0) NULL,
	[SEMANA] [decimal](10, 0) NULL,
	[CLASE] [varchar](20) NULL,
	[IMPORTE] [decimal](15, 2) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Loading/Reporting Process' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'REPC_CLIENTE_VENTA'
GO
