USE [T3QA]
GO
/****** Object:  Table [T3].[REGISTRO_FISCAL_PASO]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[REGISTRO_FISCAL_PASO](
	[FACTURA] [varchar](30) NULL,
	[DISTRIBUIDOR] [decimal](4, 0) NULL,
	[PEDIDO] [varchar](30) NULL,
	[FECHA_FACTURA] [datetime2](0) NULL,
	[TIPO_DOCTO] [varchar](4) NULL,
	[CLIENTE_V3] [varchar](15) NULL,
	[CLIENTE_SAP] [varchar](10) NULL,
	[STATUS] [varchar](15) NULL,
	[CLTE_FACTURA_V3] [varchar](15) NULL,
	[CLTE_FACTURA_SAP] [varchar](10) NULL,
	[FECHA_TRN] [datetime2](0) NULL,
	[VALOR_SUBTOTAL] [decimal](15, 2) NULL,
	[VALOR_DESCTO] [decimal](15, 2) NULL,
	[VALOR_IVA] [decimal](15, 2) NULL,
	[TIPO_VENTA] [varchar](2) NULL,
	[DESGLOSE_IVA] [char](1) NULL,
	[REFERENCIA] [varchar](20) NULL,
	[ENTREGA] [varchar](10) NULL,
	[FECHA_PAGO] [datetime2](0) NULL,
	[ROW_ID] [varchar](15) NULL,
	[REP_ID] [varchar](10) NULL,
	[CREDITO_EXPRESS] [varchar](20) NULL,
	[CTRO] [varchar](4) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Loading/Reporting Process' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'REGISTRO_FISCAL_PASO'
GO
