USE [T3QA]
GO
/****** Object:  Table [T3].[REMISION_DETALLE]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[REMISION_DETALLE](
	[FACTURA] [varchar](20) NULL,
	[NUM_LINEA] [decimal](3, 0) NULL,
	[MATERIAL] [varchar](10) NULL,
	[MATERIALDESCRIPCION] [varchar](100) NULL,
	[CANTIDAD] [decimal](15, 4) NULL,
	[UNIDADMEDIDA] [varchar](10) NULL,
	[VALOR_SUBT] [decimal](15, 2) NULL,
	[VALOR_IVA] [decimal](15, 2) NULL
) ON [PRIMARY]
GO
