USE [T3QA]
GO
/****** Object:  Table [T3].[REBUILD_ITEMS]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[REBUILD_ITEMS](
	[INVOICE_NUMBER__C] [varchar](30) NULL,
	[IVYBAT__SHORT_CODE__C] [varchar](30) NULL,
	[TOTAL_QUANTITY_IN_UOM_1__C] [decimal](6, 0) NULL,
	[GROSS_AMOUNT__C] [decimal](15, 2) NULL,
	[DISCOUNT_AMOUNT__C] [decimal](15, 2) NULL,
	[IVYDSD__TAX_AMOUNT__C] [decimal](15, 2) NULL,
	[ADDITIONAL_TAX__C] [decimal](15, 2) NULL,
	[DISTRIBUTION_FEE__C] [decimal](15, 2) NULL
) ON [PRIMARY]
GO
