USE [T3QA]
GO
/****** Object:  Table [T3].[RF_CERTIFICADO]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[RF_CERTIFICADO](
	[SOCIEDAD] [varchar](4) NULL,
	[INICIO] [datetime2](0) NULL,
	[FIN] [datetime2](0) NULL,
	[NOCERTIFICADO] [varchar](100) NULL,
	[CERTIFICADO] [varchar](2000) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Master Data' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'RF_CERTIFICADO'
GO
