USE [T3QA]
GO
/****** Object:  Table [T3].[RF_PEDIMENTO_SKU]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[RF_PEDIMENTO_SKU](
	[MATERIAL] [varchar](10) NULL,
	[PEDIMENTO] [varchar](2) NULL,
	[GLNADUANA] [varchar](30) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'SAT Info - CFD Repository' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'RF_PEDIMENTO_SKU'
GO
