USE [T3QA]
GO
/****** Object:  Table [T3].[SOFTWARE_REPORT]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[SOFTWARE_REPORT](
	[DOMAIN] [varchar](3) NULL,
	[HOST_NAME] [varchar](50) NULL,
	[USER_NAME] [varchar](50) NULL,
	[MANUFACTURER] [varchar](50) NULL,
	[PRODUCT_NAME] [varchar](100) NULL,
	[VERSION] [varchar](50) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FOR DROP' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'SOFTWARE_REPORT'
GO
