USE [T3QA]
GO
/****** Object:  Table [T3].[SAT_CODIGOPOSTAL]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[SAT_CODIGOPOSTAL](
	[C_CODIGOPOSTAL] [varchar](5) NULL,
	[C_ESTADO] [varchar](5) NULL,
	[C_MUNICIPIO] [varchar](5) NULL,
	[C_LOCALIDAD] [varchar](5) NULL
) ON [PRIMARY]
GO
