USE [T3QA]
GO
/****** Object:  Table [T3].[SKU_TASA_CERO]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[SKU_TASA_CERO](
	[MATERIAL] [varchar](10) NULL,
	[FECHA_REGISTRO] [datetime2](0) NULL
) ON [PRIMARY]
GO
ALTER TABLE [T3].[SKU_TASA_CERO] ADD  CONSTRAINT [DF_T3_SKU_TASA_CERO_FECHA_REGISTRO]  DEFAULT (sysdatetime()) FOR [FECHA_REGISTRO]
GO
