USE [T3QA]
GO
/****** Object:  Table [T3].[SKU_NOT_VALUED]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[SKU_NOT_VALUED](
	[MATERIAL] [varchar](10) NULL,
	[CREATED] [datetime2](0) NULL
) ON [PRIMARY]
GO
