USE [T3QA]
GO
/****** Object:  Table [T3].[T3_STATUS]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[T3_STATUS](
	[BEFORE_AGG] [varchar](1) NULL,
	[AFTER_AGG] [varchar](1) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Master Data' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'T3_STATUS'
GO
