USE [T3QA]
GO
/****** Object:  Table [T3].[TEMP_PED]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[TEMP_PED](
	[ROW_ID] [varchar](15) NULL,
	[ORDER_NUM] [varchar](30) NULL
) ON [PRIMARY]
GO
