USE [T3QA]
GO
/****** Object:  Table [T3].[T3R_SALES_DOCS_ARCH]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[T3R_SALES_DOCS_ARCH](
	[DOC_DATE] [varchar](8) NULL,
	[DISTRIBUTOR] [varchar](4) NULL,
	[CUSTOMER] [decimal](10, 0) NULL,
	[DOC_NUM_R3] [varchar](20) NULL,
	[DOC_ORD_R3] [varchar](20) NULL,
	[DOC_NUM_REF1] [varchar](30) NULL,
	[DOC_NUM_REF2] [varchar](30) NULL,
	[DOC_TYPE] [varchar](4) NULL,
	[DOC_STATUS] [varchar](1) NULL,
	[DOC_NETAMT] [decimal](13, 2) NULL,
	[DOC_TAXAMT] [decimal](13, 2) NULL,
	[DOC_QTY] [decimal](13, 2) NULL,
	[CREATED] [datetime2](0) NULL
) ON [PRIMARY]
GO
