USE [T3QA]
GO
/****** Object:  Table [T3].[TAXLIST_DETALLE]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[TAXLIST_DETALLE](
	[TAXLISTID] [varchar](25) NULL,
	[EFFECTIVE] [varchar](8) NULL,
	[EXPIRATION] [varchar](8) NULL,
	[MATNR] [varchar](18) NULL,
	[VALUE] [decimal](38, 10) NULL,
	[ISSA] [decimal](38, 10) NULL,
	[CURRENCY] [varchar](4) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Master Data' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'TAXLIST_DETALLE'
GO
