USE [T3QA]
GO
/****** Object:  Table [T3].[TAXLIST_BITACORA]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[TAXLIST_BITACORA](
	[TAXLISTID] [varchar](25) NULL,
	[EFFECTIVE] [varchar](8) NULL,
	[EXPIRATION] [varchar](8) NULL,
	[CURRENCY] [varchar](4) NULL,
	[DATE_MODIF] [datetime2](0) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Master Data' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'TAXLIST_BITACORA'
GO
