USE [T3QA]
GO
/****** Object:  Table [T3].[T3_LOG]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[T3_LOG](
	[DOC_NUM] [varchar](15) NULL,
	[DISTRIBUIDOR] [decimal](38, 10) NULL,
	[CLIENTE_V3] [varchar](15) NULL,
	[CLIENTE_SAP] [varchar](10) NULL,
	[TIPO_DOCTO] [varchar](20) NULL,
	[FECHA_DOC] [datetime2](0) NULL,
	[FECHA_TRN] [datetime2](0) NULL,
	[MONTO] [decimal](38, 10) NULL,
	[ERROR] [varchar](500) NULL,
	[SOLUCION] [varchar](500) NULL,
	[CTRO] [varchar](4) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Logging Table' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'T3_LOG'
GO
