USE [T3QA]
GO
/****** Object:  Table [T3].[TIPO_DOCUMENTO]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[TIPO_DOCUMENTO](
	[TIPO_DOCUMENTO] [varchar](4) NULL,
	[DESC_DOCUMENTO] [varchar](30) NULL,
	[GRUPO] [char](2) NULL,
	[CARGO_CREDITO] [decimal](2, 0) NULL,
	[COMERCIAL] [decimal](2, 0) NULL,
	[PRODUCTORA] [decimal](2, 0) NULL,
	[CFD] [varchar](2) NULL,
	[IMPRIME_CFD] [varchar](2) NULL,
	[ORIGEN] [varchar](30) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Master Data' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'TIPO_DOCUMENTO'
GO
