USE [T3QA]
GO
/****** Object:  Table [T3].[TBL_MATERIAL_MERCHANDISE]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[TBL_MATERIAL_MERCHANDISE](
	[NUMERO_MATERIAL] [decimal](18, 0) NULL,
	[CENTRO_DISTRIBUCION] [varchar](4) NULL,
	[CLIENTE] [varchar](10) NULL,
	[NUMERO_LOTE] [varchar](10) NULL,
	[ANIO] [decimal](4, 0) NULL,
	[STOCK_ESPECIAL] [varchar](13) NULL,
	[STOCK_LIBRE] [decimal](13, 0) NULL,
	[STOCK_CALIDAD] [decimal](13, 0) NULL,
	[STOCK_UTILIZACION] [decimal](13, 0) NULL,
	[STOCK_INSPECCION] [decimal](13, 0) NULL,
	[CREACION] [varchar](10) NULL,
	[FECHA_ACTUALIZACION] [datetime2](0) NULL
) ON [PRIMARY]
GO
ALTER TABLE [T3].[TBL_MATERIAL_MERCHANDISE] ADD  CONSTRAINT [DF_T3_TBL_MATERIAL_MERCHANDISE_FECHA_ACTUALIZACION]  DEFAULT (sysdatetime()) FOR [FECHA_ACTUALIZACION]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'SAP Workaround' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'TBL_MATERIAL_MERCHANDISE'
GO
