USE [T3QA]
GO
/****** Object:  Table [T3].[TMD_EMAIL_LOG]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[TMD_EMAIL_LOG](
	[CREADO] [datetime2](0) NULL,
	[CREADO_POR] [varchar](256) NULL,
	[ULTIMA_ACT] [datetime2](0) NULL,
	[ACTUALIZADO_POR] [varchar](256) NULL,
	[CLIENTE_ID] [varchar](50) NULL,
	[CLIENTE_SAP] [varchar](30) NULL,
	[SAP_CADENA] [varchar](30) NULL,
	[X_ROUTE_REF_1] [varchar](30) NULL,
	[X_EM_FIELD_18] [varchar](100) NULL,
	[ATTRIB_34] [varchar](50) NULL,
	[X_EM_FIELD_5] [varchar](100) NULL,
	[EMAIL] [varchar](350) NULL,
	[FECHA_MOD] [datetime2](0) NULL,
	[TIPO_MOD] [char](1) NULL,
	[RESPONSABLE] [varchar](256) NULL
) ON [PRIMARY]
GO
