USE [T3QA]
GO
/****** Object:  Table [T3].[TAO_SIN_SORT2]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[TAO_SIN_SORT2](
	[LACAR] [varchar](10) NULL,
	[TAO] [varchar](10) NULL,
	[NOMBRE] [varchar](99) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FOR DROP' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'TAO_SIN_SORT2'
GO
