USE [T3QA]
GO
/****** Object:  Table [T3].[TMP_EDICOM_POR_ENVIAR]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[TMP_EDICOM_POR_ENVIAR](
	[FOLIO] [varchar](30) NULL,
	[RFC_RECEPTOR] [varchar](20) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FOR DROP' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'TMP_EDICOM_POR_ENVIAR'
GO
