USE [T3QA]
GO
/****** Object:  Table [T3].[USUARIOSBM]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[USUARIOSBM](
	[ID_EDICOM] [varchar](99) NULL,
	[DUMMY1] [varchar](99) NULL,
	[DUMMY2] [varchar](99) NULL
) ON [PRIMARY]
GO
