USE [T3QA]
GO
/****** Object:  Table [T3].[USUARIOS]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[USUARIOS](
	[USUARIO] [varchar](20) NULL,
	[NOMBRE] [varchar](30) NULL,
	[PASSWORD] [varchar](8) NULL,
	[IFC] [varchar](8) NULL,
	[T3] [varchar](8) NULL,
	[SDC] [varchar](8) NULL,
	[ADMIN] [varchar](10) NULL,
	[ENCUESTAS] [varchar](20) NULL,
	[SEVEN] [varchar](8) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Master Data' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'USUARIOS'
GO
