USE [T3QA]
GO
/****** Object:  Table [T3].[USUARIOS_CIFRAS_L2]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[USUARIOS_CIFRAS_L2](
	[ONEID] [varchar](30) NULL,
	[USER_DB] [varchar](30) NULL,
	[NOMBRE] [varchar](254) NULL,
	[GRANTED_ROLE] [varchar](254) NULL,
	[ACCESS_START_DATE] [datetime2](0) NULL,
	[ACCESS_END_DATE] [datetime2](0) NULL,
	[JEFE_INMEDIATO] [varchar](35) NULL,
	[MAIL] [varchar](100) NULL,
	[TELEFONO] [varchar](50) NULL
) ON [PRIMARY]
GO
