USE [T3QA]
GO
/****** Object:  Table [T3].[VYPE_PRODUCTS]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[VYPE_PRODUCTS](
	[MATERIAL] [varchar](10) NULL
) ON [PRIMARY]
GO
