USE [T3QA]
GO
/****** Object:  Table [T3].[W_REIMPRESION2]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[W_REIMPRESION2](
	[FACTURA] [varchar](12) NULL,
	[NUM_LINEA] [decimal](4, 0) NULL,
	[LINEA] [varchar](1000) NULL,
	[GRUPO] [decimal](2, 0) NULL,
	[DISTRIBUIDOR] [decimal](4, 0) NULL,
	[CLIENTE_V3] [varchar](15) NULL,
	[HISTORIA] [bit] NULL,
	[FORMATO] [varchar](20) NULL,
	[DOC_ID] [varchar](32) NULL,
	[CTRO] [varchar](4) NULL
) ON [PRIMARY]
GO
ALTER TABLE [T3].[W_REIMPRESION2] ADD  CONSTRAINT [DF_T3_W_REIMPRESION2_DOC_ID]  DEFAULT (CONVERT([varchar](32),format(sysdatetime(),'yyyyMMddHHmmssffff'))) FOR [DOC_ID]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Loading/Reporting Process' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'W_REIMPRESION2'
GO
