USE [T3QA]
GO
/****** Object:  Table [T3].[W_MOV_CENTRAL_ADC]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[W_MOV_CENTRAL_ADC](
	[SECUENCIA_ADC] [decimal](8, 0) NULL,
	[DIST_COBZA] [decimal](5, 0) NULL,
	[TIPO_MOV] [char](1) NULL,
	[DISTRIBUIDOR] [decimal](4, 0) NULL,
	[PEDIDO] [varchar](30) NULL,
	[CLIENTE_V3] [varchar](15) NULL,
	[CLTE_FACTURA_SAP] [varchar](10) NULL,
	[REGIMEN_FISCAL] [bit] NULL,
	[LISTA_PRECIO] [varchar](50) NULL,
	[FACTURA] [varchar](12) NULL,
	[FECHA_FACTURA] [datetime2](0) NULL,
	[CONCEPTO] [decimal](3, 0) NULL,
	[VALOR_TOTAL] [decimal](12, 2) NULL,
	[ESTATUS] [bit] NULL,
	[CTRO] [varchar](4) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'T3 - Processing Data' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'W_MOV_CENTRAL_ADC'
GO
