USE [T3QA]
GO
/****** Object:  Table [T3].[WH_PEDIDO_GENERAL]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[WH_PEDIDO_GENERAL](
	[COMPANIA] [decimal](3, 0) NULL,
	[UNIDAD_ORG] [decimal](5, 0) NULL,
	[FOLIO_PED] [decimal](8, 0) NULL,
	[FECHA_PED] [datetime2](0) NULL,
	[CLIENTE] [decimal](8, 0) NULL,
	[REGIMEN_FISCAL] [char](1) NULL,
	[CVE_PRECIO] [char](2) NULL,
	[CVE_FACTURA] [char](3) NULL,
	[SER_FACTURA] [char](3) NULL,
	[FOL_FACTURA] [decimal](6, 0) NULL,
	[RUTA] [decimal](4, 0) NULL,
	[FECHA_CONTABLE] [datetime2](0) NULL,
	[CONCEPTO] [decimal](3, 0) NULL,
	[NOTA_VENTA] [decimal](8, 0) NULL,
	[TOTAL_PAQS] [decimal](10, 3) NULL,
	[VALOR_SUBTOTAL] [decimal](12, 2) NULL,
	[VALOR_DESCTO] [decimal](12, 2) NULL,
	[VALOR_IVA] [decimal](12, 3) NULL,
	[CVE_ENTREGADO] [char](1) NULL,
	[CVE_MESANT] [char](1) NULL,
	[TIPO_PEDIDO] [char](2) NULL,
	[FOLIO_PED_SAP] [decimal](8, 0) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Loading/Reporting Process' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'WH_PEDIDO_GENERAL'
GO
