USE [T3QA]
GO
/****** Object:  Table [T3].[W_CLIENTES_SHCP]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[W_CLIENTES_SHCP](
	[CLIENTE_V3] [varchar](15) NULL,
	[RFC] [varchar](35) NULL,
	[ANIO_MES] [varchar](6) NULL,
	[NUM_OPERACION] [decimal](10, 0) NULL,
	[PROCESADO] [char](1) NULL,
	[ESTATUS] [bit] NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Loading/Reporting Process' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'W_CLIENTES_SHCP'
GO
