USE [T3QA]
GO
/****** Object:  Table [T3].[W_REIMPRESION]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[W_REIMPRESION](
	[FACTURA] [varchar](12) NULL,
	[NUM_LINEA] [decimal](4, 0) NULL,
	[LINEA] [varchar](1000) NULL,
	[GRUPO] [decimal](2, 0) NULL,
	[DISTRIBUIDOR] [decimal](4, 0) NULL,
	[CLIENTE_V3] [varchar](15) NULL,
	[HISTORIA] [bit] NULL,
	[FORMATO] [varchar](20) NULL,
	[CTRO] [varchar](4) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Loading/Reporting Process' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'W_REIMPRESION'
GO
