USE [T3QA]
GO
/****** Object:  Table [T3].[W_AUTOIMPRESION]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[W_AUTOIMPRESION](
	[SEC_AUTO] [decimal](5, 0) NULL,
	[DISTRIBUIDOR] [decimal](4, 0) NULL,
	[TIPO_DOCUMENTO] [varchar](4) NULL,
	[CVE_DOCTO] [varchar](3) NULL,
	[SER_DOCTO] [varchar](3) NULL,
	[FOL_INICIAL] [varchar](10) NULL,
	[FOL_FINAL] [varchar](10) NULL,
	[FECHA_INICIAL] [datetime2](0) NULL,
	[FECHA_FINAL] [datetime2](0) NULL,
	[CTRO] [varchar](4) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Loading/Reporting Process' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'W_AUTOIMPRESION'
GO
