USE [T3QA]
GO
/****** Object:  Table [T3].[W_BUZON_CLIENTE]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[W_BUZON_CLIENTE](
	[SECUENCIA_ADC] [decimal](10, 0) NULL,
	[CONCEPTO] [decimal](3, 0) NULL,
	[CLIENTE_V3] [varchar](15) NULL,
	[CLTE_FACTURA_SAP] [varchar](10) NULL,
	[NOMBRE] [varchar](100) NULL,
	[FECHA_INI_VIG] [datetime2](0) NULL,
	[FECHA_FIN_VIG] [datetime2](0) NULL,
	[STATUS_CLTE] [bit] NULL,
	[CLASE_CLTE] [varchar](10) NULL,
	[ALIAS] [varchar](100) NULL,
	[REGIMEN_FISCAL] [bit] NULL,
	[RFC] [varchar](35) NULL,
	[DIAS_CDTO] [varchar](4) NULL,
	[LIMITE_CDTO] [decimal](20, 2) NULL,
	[LISTA_PRECIO] [varchar](35) NULL,
	[DIST_VENTA] [decimal](4, 0) NULL,
	[DIST_COBZA] [decimal](4, 0) NULL,
	[LISTA_IVA] [varchar](50) NULL,
	[FAX] [varchar](30) NULL,
	[TELEFONO] [varchar](30) NULL,
	[DIRECCION] [varchar](200) NULL,
	[COLONIA] [varchar](50) NULL,
	[CIUDAD] [varchar](50) NULL,
	[ESTADO] [varchar](35) NULL,
	[CODIGO_POSTAL] [varchar](35) NULL,
	[SUCURSAL_CLTE] [varchar](25) NULL,
	[ESTATUS] [bit] NULL,
	[FECHA_PROCESO] [datetime2](0) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Loading/Reporting Process' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'W_BUZON_CLIENTE'
GO
