USE [T3QA]
GO
/****** Object:  Table [T3].[W_REIMPRESION_TEXTO]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[W_REIMPRESION_TEXTO](
	[ORDEN] [decimal](20, 0) NULL,
	[LINEA] [varchar](1000) NULL,
	[HISTORIA] [bit] NULL,
	[FORMATO] [varchar](20) NULL,
	[DOC_ID] [varchar](32) NULL
) ON [PRIMARY]
GO
ALTER TABLE [T3].[W_REIMPRESION_TEXTO] ADD  CONSTRAINT [DF_T3_W_REIMPRESION_TEXTO_DOC_ID]  DEFAULT (CONVERT([varchar](32),format(sysdatetime(),'yyyyMMddHHmmssffff'))) FOR [DOC_ID]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Loading/Reporting Process' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'W_REIMPRESION_TEXTO'
GO
