USE [T3QA]
GO
/****** Object:  Table [T3].[WA_NO_XML_FECHA]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[WA_NO_XML_FECHA](
	[FECHA] [varchar](8) NULL
) ON [PRIMARY]
GO
