USE [T3QA]
GO
/****** Object:  Table [T3].[W_REGISTRO_FISCAL_DETALLE]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[W_REGISTRO_FISCAL_DETALLE](
	[FACTURA] [varchar](12) NULL,
	[NUM_LINEA] [decimal](4, 0) NULL,
	[MATERIAL] [varchar](18) NULL,
	[REFERENCIA_PEDIDO] [varchar](12) NULL,
	[CANTIDAD_VTA] [decimal](10, 0) NULL,
	[UNIDAD_MED_VTA] [varchar](3) NULL,
	[PRECIO_UNIT] [decimal](15, 2) NULL,
	[VALOR_SUBT] [decimal](15, 2) NULL,
	[VALOR_TOT] [decimal](15, 2) NULL,
	[VALOR_DESC] [decimal](15, 2) NULL,
	[VALOR_IVA] [decimal](16, 3) NULL,
	[VALOR_ISSA] [decimal](15, 2) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Loading/Reporting Process' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'W_REGISTRO_FISCAL_DETALLE'
GO
