USE [T3QA]
GO
/****** Object:  Table [T3].[W_CLIENTES_SHCP2]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[W_CLIENTES_SHCP2](
	[CLIENTE_V3] [varchar](15) NULL,
	[RFC] [varchar](35) NULL,
	[NUM_MESES] [decimal](3, 0) NULL,
	[PROCESADO] [char](1) NULL,
	[ESTATUS] [bit] NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Loading/Reporting Process' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'W_CLIENTES_SHCP2'
GO
