USE [T3QA]
GO
/****** Object:  Table [T3].[WH_PEDIDO_DETALLE]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[WH_PEDIDO_DETALLE](
	[COMPANIA] [decimal](3, 0) NULL,
	[UNIDAD_ORG] [decimal](5, 0) NULL,
	[FOLIO_PED] [decimal](8, 0) NULL,
	[FECHA_PED] [datetime2](0) NULL,
	[PRODUCTO] [decimal](7, 0) NULL,
	[CAJS_VTA] [decimal](8, 0) NULL,
	[SUBTOTAL_VTA] [decimal](12, 2) NULL,
	[DESCUENTO_VTA] [decimal](10, 2) NULL,
	[IMPORTE_IVA] [decimal](12, 3) NULL,
	[PORC_IVA] [decimal](5, 3) NULL,
	[CAJS_BONIFICADAS] [decimal](8, 0) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Loading/Reporting Process' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'WH_PEDIDO_DETALLE'
GO
