USE [T3QA]
GO
/****** Object:  Table [T3].[W_INF_SHCP_ENTFED]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[W_INF_SHCP_ENTFED](
	[ESTADO] [varchar](35) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Loading/Reporting Process' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'W_INF_SHCP_ENTFED'
GO
