USE [T3QA]
GO
/****** Object:  Table [T3].[WA_FACTORAJE]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[WA_FACTORAJE](
	[FACTURA] [varchar](30) NULL,
	[FECHA] [datetime2](0) NULL,
	[RESPONSABLE] [varchar](30) NULL
) ON [PRIMARY]
GO
