USE [T3QA]
GO
/****** Object:  Table [T3].[W_MATERIAL_PASO]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[W_MATERIAL_PASO](
	[MATERIAL] [varchar](18) NULL,
	[NOMBRE_MATERIAL] [varchar](80) NULL,
	[NOMBRE_CORTO] [varchar](15) NULL,
	[CONVERSION_PRES_2_A_1] [decimal](4, 0) NULL,
	[CONVERSION_PRES_3_A_2] [decimal](4, 0) NULL,
	[CONVERSION_PRES_4_A_3] [decimal](4, 0) NULL,
	[CODIGO_BARRAS_PRES_2] [varchar](20) NULL,
	[CODIGO_BARRAS_PRES_3] [varchar](20) NULL,
	[CODIGO_BARRAS_PRES_4] [varchar](20) NULL,
	[UNIDAD_MED_VTA] [varchar](3) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Loading/Reporting Process' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'W_MATERIAL_PASO'
GO
