USE [T3QA]
GO
/****** Object:  Table [T3].[W_INTERFASE_EDI]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[W_INTERFASE_EDI](
	[DISTRIBUIDOR] [decimal](4, 0) NULL,
	[FECHA_FACTURA] [datetime2](0) NULL,
	[SEQ_EDI] [decimal](5, 0) NULL,
	[TIPO_REG_EDI] [char](1) NULL,
	[DETALLE_REG_EDI] [varchar](50) NULL,
	[PRIORIDAD_EDI] [decimal](3, 0) NULL,
	[CTRO] [varchar](4) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Loading/Reporting Process' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'W_INTERFASE_EDI'
GO
