USE [T3QA]
GO
/****** Object:  Table [T3].[WA_SUBDEPOSITOS]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[WA_SUBDEPOSITOS](
	[REFERENCIA] [varchar](30) NULL,
	[CLIENTE_SAP] [varchar](10) NULL,
	[DIRECCION_1] [varchar](200) NULL,
	[CIUDAD_1] [varchar](50) NULL,
	[COLONIA_1] [varchar](50) NULL,
	[ESTADO_1] [varchar](35) NULL,
	[CODIGO_POSTAL_1] [varchar](35) NULL,
	[DIRECCION] [varchar](200) NULL
) ON [PRIMARY]
GO
