USE [T3QA]
GO
/****** Object:  Table [T3].[WA_JUMPING_SEQUENCE]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[WA_JUMPING_SEQUENCE](
	[SERIE] [varchar](10) NULL,
	[FECHA_FACTURA] [datetime2](0) NULL,
	[FOLIO_FINAL] [decimal](10, 0) NULL,
	[FOLIO_INICIAL] [decimal](10, 0) NULL,
	[CREATED] [datetime2](0) NULL
) ON [PRIMARY]
GO
