USE [T3QA]
GO
/****** Object:  Table [T3].[X_PROPUESTA_NDC_JUN]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[X_PROPUESTA_NDC_JUN](
	[FACTURA] [varchar](20) NULL,
	[FECHA_FACTURA] [datetime2](0) NULL,
	[CLIENTE_SAP] [varchar](10) NULL,
	[VALOR_TOTAL] [decimal](15, 2) NULL,
	[VALOR_SUBT] [decimal](15, 2) NULL,
	[VALOR_IVA] [decimal](15, 2) NULL,
	[FECHA_CREACION] [datetime2](0) NULL,
	[FECHA_CALCULADO] [datetime2](0) NULL,
	[BASE] [varchar](1) NULL,
	[ID] [varchar](20) NULL,
	[AREA_SOLICITANTE] [varchar](20) NULL,
	[RFC] [varchar](15) NULL,
	[CTRO] [varchar](4) NULL
) ON [PRIMARY]
GO
