USE [T3QA]
GO
/****** Object:  Table [T3].[X_PASO_BORRAR]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[X_PASO_BORRAR](
	[TIPORELACION] [varchar](4000) NULL,
	[XML_CONTENT] [xml] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
