USE [T3QA]
GO
/****** Object:  Table [T3].[X_CFDI_LDR]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[X_CFDI_LDR](
	[ID_NAME] [varchar](30) NULL,
	[FILE_NAME] [varchar](60) NULL,
	[XML_DATA] [xml] NULL,
	[CREATED] [datetime2](0) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [T3].[X_CFDI_LDR] ADD  CONSTRAINT [DF_T3_X_CFDI_LDR_CREATED]  DEFAULT (sysdatetime()) FOR [CREATED]
GO
