USE [T3QA]
GO
/****** Object:  Table [T3].[X_MIGRADOS]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[X_MIGRADOS](
	[CTRO] [varchar](4) NULL,
	[CLIENTE_SAP] [varchar](10) NULL
) ON [PRIMARY]
GO
