USE [T3QA]
GO
/****** Object:  Table [T3].[X_NDC_LDR]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[X_NDC_LDR](
	[CLIENTE_SAP] [varchar](10) NULL,
	[VALOR_TOTAL] [decimal](15, 2) NULL,
	[VALOR_SUBT] [decimal](15, 2) NULL,
	[VALOR_IVA] [decimal](15, 2) NULL,
	[AREA_SOLICITANTE] [varchar](30) NULL
) ON [PRIMARY]
GO
