USE [T3QA]
GO
/****** Object:  Table [T3].[X_POR_BORRAR_PAGO]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[X_POR_BORRAR_PAGO](
	[PAGO_FECHA] [varchar](4000) NULL,
	[PAGO_MONTO] [varchar](4000) NULL,
	[PAGO_TIPOCAMBIO] [varchar](4000) NULL,
	[XML_CONTENT] [xml] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
