USE [T3QA]
GO
/****** Object:  Table [T3].[XX_INV_VS_ORD]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[XX_INV_VS_ORD](
	[ROW_ID] [varchar](20) NULL,
	[DOC_NUM] [varchar](20) NULL,
	[TTL_INVC_AMT] [decimal](12, 2) NULL,
	[INVC_DT] [datetime2](0) NULL,
	[TOTAL_PEDIDO] [decimal](38, 10) NULL
) ON [PRIMARY]
GO
