USE [T3QA]
GO
/****** Object:  Table [T3].[X_PROPUESTA_VENTA]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[X_PROPUESTA_VENTA](
	[CLIENTE_SAP] [varchar](10) NULL,
	[MATERIAL] [varchar](10) NULL,
	[CANTIDAD_VTA] [decimal](10, 0) NULL,
	[VALOR_SUBT] [decimal](15, 2) NULL,
	[PRECIO_LISTA] [decimal](15, 2) NULL,
	[RFC] [varchar](15) NULL
) ON [PRIMARY]
GO
