USE [T3QA]
GO
/****** Object:  Table [T3].[X_PROPUESTA_DETALLE_JUN]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[X_PROPUESTA_DETALLE_JUN](
	[FACTURA] [varchar](20) NULL,
	[NUM_LINEA] [decimal](4, 0) NULL,
	[MATERIAL] [varchar](10) NULL,
	[CANTIDAD_VTA] [decimal](10, 0) NULL,
	[VALOR_SUBT] [decimal](15, 2) NULL,
	[VALOR_IVA] [decimal](15, 2) NULL
) ON [PRIMARY]
GO
