USE [T3QA]
GO
/****** Object:  Table [T3].[X2015_VP]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[X2015_VP](
	[LISTA_PRECIO] [varchar](2) NULL,
	[SKU] [varchar](10) NULL,
	[PRECIO] [decimal](10, 4) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FOR DROP' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'X2015_VP'
GO
