USE [T3QA]
GO
/****** Object:  Table [T3].[Z_PENDMES]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[Z_PENDMES](
	[FACTURA] [varchar](30) NULL
) ON [PRIMARY]
GO
