USE [T3QA]
GO
/****** Object:  Table [T3].[Z_REENVIO_ENE]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[Z_REENVIO_ENE](
	[NOTA_VENTA] [varchar](20) NULL,
	[FECHA_LIBERACION] [datetime2](0) NULL,
	[STATUS] [varchar](25) NULL
) ON [PRIMARY]
GO
