USE [T3QA]
GO
/****** Object:  Table [T3].[Z_PORTAFOLIO_LEGDB]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[Z_PORTAFOLIO_LEGDB](
	[MATERIAL] [varchar](18) NULL,
	[PERIODO] [varchar](6) NULL,
	[CLIENTES] [decimal](38, 10) NULL,
	[MIN_FECHA] [datetime2](0) NULL,
	[MAX_FECHA] [datetime2](0) NULL,
	[VENTA] [decimal](38, 10) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FOR DROP' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'Z_PORTAFOLIO_LEGDB'
GO
