USE [T3QA]
GO
/****** Object:  Table [T3].[Z_BORRA_IND]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[Z_BORRA_IND](
	[AJSUTE_DIF_IVA_FEE] [decimal](38, 10) NULL,
	[STATUS_CFSI] [varchar](15) NULL,
	[ROW_ID] [varchar](20) NULL,
	[DOC_NUM] [varchar](20) NULL,
	[NOTA_VENTA_CFDI] [varchar](20) NULL,
	[TTL_INVC_AMT] [decimal](12, 2) NULL,
	[INVC_DT] [datetime2](0) NULL,
	[GOODS_DLVRD_TS] [datetime2](0) NULL,
	[X_DATE_INTEGRATED] [datetime2](0) NULL,
	[FECHA_TRN] [datetime2](0) NULL,
	[FECHA_PROC_BATMD] [datetime2](0) NULL,
	[FECHA_LIBERACION] [datetime2](0) NULL,
	[FECHA_ENVIO] [datetime2](0) NULL,
	[FECHA_TIMBRE] [datetime2](0) NULL,
	[FECHA_CFD] [datetime2](0) NULL,
	[CTRO] [varchar](4) NULL,
	[TERR] [varchar](4) NULL,
	[STATUS] [varchar](15) NULL,
	[TOTAL_CFD] [decimal](12, 2) NULL,
	[RFC] [varchar](15) NULL,
	[TIPO_VTA] [varchar](4) NULL,
	[DOCTO_IND] [bit] NULL,
	[DOCTO_SAT] [bit] NULL,
	[LP] [varchar](2) NULL,
	[DOCTOS] [decimal](3, 0) NULL,
	[FECHA_VENTA] [datetime2](0) NULL,
	[ITEMS] [decimal](3, 0) NULL,
	[CREATED_BY] [varchar](15) NULL,
	[VOIDDOC] [varchar](2) NULL,
	[CLIENTE_SAP] [varchar](10) NULL,
	[CREDIT_DAYS] [decimal](4, 0) NULL,
	[BONIF_SUBT] [decimal](15, 2) NULL,
	[STATUS_CD] [varchar](30) NULL,
	[NOMBRE_CLIENTE] [varchar](100) NULL,
	[VALOR_SUBT] [decimal](15, 2) NULL,
	[VALOR_IVA] [decimal](15, 2) NULL,
	[PRIMER_CATEGORIA] [decimal](18, 0) NULL,
	[SEGUNDA_CATEGORIA] [decimal](10, 0) NULL,
	[ENVIO_SUBT] [decimal](14, 2) NULL,
	[ENVIO_IVA] [decimal](14, 2) NULL
) ON [PRIMARY]
GO
