USE [T3QA]
GO
/****** Object:  Table [T3].[ZPI_VALORES]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[ZPI_VALORES](
	[LISTA] [varchar](4) NULL,
	[SKU] [varchar](10) NULL,
	[PRECIO] [decimal](6, 2) NULL,
	[DISTFEE] [decimal](6, 2) NULL
) ON [PRIMARY]
GO
