USE [T3QA]
GO
/****** Object:  Table [T3].[Z_PASO_EXPORT]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[Z_PASO_EXPORT](
	[MATERIAL] [varchar](10) NULL,
	[DESCRIPCION] [varchar](1000) NULL,
	[UNIDADMEDIDA] [varchar](10) NULL,
	[DOCTOS] [decimal](38, 10) NULL,
	[SAT_CLAVE] [varchar](20) NULL,
	[SAT_UNIDMEDIDA] [varchar](20) NULL,
	[SAT_UM_CONV] [varchar](4000) NULL,
	[ULTIMA_FACTURA] [datetime2](0) NULL,
	[FECHA_CFDI_PRODSERV] [datetime2](0) NULL
) ON [PRIMARY]
GO
