USE [T3QA]
GO
/****** Object:  Table [T3].[Z_APLICA_PREV]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[Z_APLICA_PREV](
	[PG_FACTURA] [varchar](30) NULL,
	[PG_ENTREGA] [varchar](10) NULL,
	[PG_REFERENCIA] [varchar](30) NULL,
	[PAGO_ROW_ID] [varchar](15) NULL,
	[PAGO_INTEGRATION_ID] [varchar](30) NULL,
	[PAGO_CG_PAID_AMT] [decimal](22, 7) NULL,
	[PAGO_PAY_AMT] [decimal](22, 7) NULL,
	[ASIG_ROW_ID] [varchar](15) NULL,
	[ASIG_CREATED] [datetime2](0) NULL,
	[ASIG_PAID_AMT] [decimal](22, 7) NULL,
	[ASIG_DOCP_NUM] [varchar](125) NULL,
	[INV_TTL_INVC_AMT] [decimal](22, 7) NULL,
	[INV_DOC_NUM] [varchar](125) NULL,
	[INV_VENDR_INVOICE_NUM] [varchar](50) NULL
) ON [PRIMARY]
GO
