USE [T3QA]
GO
/****** Object:  Table [T3].[ZPEDIDOSEDI]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[ZPEDIDOSEDI](
	[MANDT] [varchar](3) NULL,
	[DETERMINANTE] [varchar](35) NULL,
	[PEDIDO_CTE] [varchar](20) NULL,
	[PARTIDA] [varchar](6) NULL,
	[CLIENTE_V3] [varchar](20) NULL,
	[CLIENTE_SAP] [varchar](20) NULL,
	[FECHA_PED] [varchar](8) NULL,
	[FECHA_ENT] [varchar](8) NULL,
	[PEDIDO_SAP] [varchar](10) NULL,
	[FACTURA_SAP] [varchar](10) NULL,
	[UPC_CTE] [varchar](18) NULL,
	[CANTIDAD] [decimal](13, 3) NULL,
	[UNIDAD] [varchar](3) NULL,
	[TERRITORIO] [varchar](30) NULL,
	[REFER_CTE] [varchar](12) NULL,
	[DOCNUM] [varchar](16) NULL,
	[STATUS] [varchar](2) NULL,
	[CANT_CTE] [decimal](13, 3) NULL,
	[MENSAJE] [varchar](120) NULL,
	[SKU] [varchar](18) NULL,
	[FECHA] [varchar](8) NULL,
	[HORA] [varchar](6) NULL,
	[REF_PEDIDO_CTE] [varchar](35) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Deprecated ( SAP - EDI )' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'ZPEDIDOSEDI'
GO
