USE [T3QA]
GO
/****** Object:  Table [T3].[Z_COBZA_ISSUE]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[Z_COBZA_ISSUE](
	[FOLIO_ID] [varchar](30) NULL,
	[ASIGNACION_ID] [varchar](30) NULL,
	[FECHA_ASIGNACION] [datetime2](0) NULL,
	[IMPORTE] [decimal](16, 2) NULL,
	[FACTURA] [varchar](20) NULL,
	[FECHA_PROC_BATMD] [datetime2](0) NULL,
	[REFERENCIA] [varchar](30) NULL
) ON [PRIMARY]
GO
