USE [T3QA]
GO
/****** Object:  Table [T3].[Z_BATCHMGMT]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[Z_BATCHMGMT](
	[SKU] [varchar](10) NULL,
	[PLANTA] [varchar](4) NULL,
	[BATCH] [varchar](2) NULL
) ON [PRIMARY]
GO
