USE [T3QA]
GO
/****** Object:  Table [T3].[Z_FILE_MANUAL]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[Z_FILE_MANUAL](
	[RFC] [varchar](20) NULL,
	[NOMBRE] [varchar](200) NULL,
	[REGIMEN] [varchar](200) NULL,
	[CP] [varchar](10) NULL,
	[FECHA_ENVIADO] [varchar](60) NULL
) ON [PRIMARY]
GO
