USE [T3QA]
GO
/****** Object:  Table [T3].[Z_MAPPING_PRODUCT]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[Z_MAPPING_PRODUCT](
	[IVYBASE__INTERNALID__C] [varchar](50) NULL,
	[IVYBAT__SHORT_CODE__C] [varchar](50) NULL,
	[IVYBAT__CODE__C] [varchar](50) NULL,
	[IVYBASE__PRIMARY_PRODUCT__C] [varchar](50) NULL,
	[ROW_ID] [varchar](50) NULL,
	[RECORDTYPEID] [varchar](50) NULL
) ON [PRIMARY]
GO
