USE [T3QA]
GO
/****** Object:  Table [T3].[Z_CFDI40]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[Z_CFDI40](
	[RAZON_SOCIAL] [varchar](1024) NULL,
	[RFC] [varchar](35) NULL,
	[CNT_CP] [decimal](38, 10) NULL,
	[CNT_PDV] [decimal](38, 10) NULL
) ON [PRIMARY]
GO
