USE [T3QA]
GO
/****** Object:  Table [T3].[Z_REFACTURA_2016]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[Z_REFACTURA_2016](
	[FOLIO] [varchar](10) NULL,
	[MATERIAL] [varchar](10) NULL,
	[UM] [varchar](5) NULL,
	[A_CANTIDAD] [decimal](15, 2) NULL,
	[A_IMPORTE] [decimal](15, 2) NULL,
	[A_IVA] [decimal](15, 2) NULL,
	[B_CANTIDAD] [decimal](15, 2) NULL,
	[B_IMPORTE] [decimal](15, 2) NULL,
	[B_IVA] [decimal](15, 2) NULL,
	[C_CANTIDAD] [decimal](15, 2) NULL,
	[C_IMPORTE] [decimal](15, 2) NULL,
	[C_IVA] [decimal](15, 2) NULL,
	[FACTURA] [varchar](20) NULL
) ON [PRIMARY]
GO
