USE [T3QA]
GO
/****** Object:  Table [T3].[ZZ_VENTA_SEP_OCT]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[ZZ_VENTA_SEP_OCT](
	[CLIENTE_SAP] [varchar](10) NULL,
	[VENTA_SEP] [decimal](38, 10) NULL,
	[VENTA_OCT] [decimal](38, 10) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FOR DROP' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'ZZ_VENTA_SEP_OCT'
GO
