USE [T3QA]
GO
/****** Object:  Table [T3].[Z_TBD_FEB2018]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[Z_TBD_FEB2018](
	[FACTURA] [varchar](12) NULL,
	[CLIENTE_SAP] [varchar](10) NULL,
	[NUM_LINEA] [decimal](4, 0) NULL,
	[BONIF_SUBT] [decimal](15, 2) NULL,
	[BONIF_IVA] [decimal](15, 2) NULL,
	[PROGRAMA2] [varchar](30) NULL
) ON [PRIMARY]
GO
