USE [T3QA]
GO
/****** Object:  Table [T3].[Z_VENTA_MENSUAL]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[Z_VENTA_MENSUAL](
	[CLIENTE_SAP] [varchar](10) NULL,
	[IN_VALOR_SUBT] [decimal](38, 10) NULL,
	[IN_VALOR_IVA] [decimal](38, 10) NULL,
	[OUT_VALOR_SUBT] [decimal](38, 10) NULL,
	[OUT_VALOR_IVA] [decimal](38, 10) NULL,
	[DIFERENCIA] [decimal](38, 10) NULL
) ON [PRIMARY]
GO
