USE [T3QA]
GO
/****** Object:  Table [T3].[Z_TABLA_BONIF]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[Z_TABLA_BONIF](
	[FACTURA] [varchar](30) NULL,
	[FECHA] [datetime2](0) NULL,
	[FACTOR_DOC] [decimal](38, 10) NULL,
	[VENTA_VOLUMEN] [decimal](38, 10) NULL,
	[VENTA_VALOR_SUBT] [decimal](38, 10) NULL,
	[VENTA_VALOR_IVA] [decimal](38, 10) NULL,
	[BONIF_VOLUMEN] [decimal](38, 10) NULL,
	[BONIF_VALOR_SUBT] [decimal](38, 10) NULL,
	[BONIF_VALOR_IVA] [decimal](38, 10) NULL,
	[ENVIO_VALOR_SUBT] [decimal](38, 10) NULL,
	[ENVIO_VALOR_IVA] [decimal](38, 10) NULL
) ON [PRIMARY]
GO
