USE [T3QA]
GO
/****** Object:  Table [T3].[ZZ_HISTORIA_DOCTO_PAC]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[ZZ_HISTORIA_DOCTO_PAC](
	[NOTA_VENTA] [varchar](15) NULL,
	[NOTA_VENTA_CFDI] [varchar](20) NULL,
	[COUNTING] [decimal](38, 10) NULL,
	[MAX_ROWID] [varchar](18) NULL
) ON [PRIMARY]
GO
