USE [T3QA]
GO
/****** Object:  Table [T3].[Z_RECLASIFICA2]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[Z_RECLASIFICA2](
	[FACTURA] [varchar](12) NULL,
	[NUM_LINEA] [decimal](4, 0) NULL,
	[MATERIAL] [varchar](18) NULL,
	[PROGRAMA2] [varchar](30) NULL,
	[ROW_ID] [varchar](15) NULL,
	[NAME] [varchar](50) NULL
) ON [PRIMARY]
GO
