USE [T3QA]
GO
/****** Object:  Table [T3].[Z_NOTAS_SINRELACION_2017]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[Z_NOTAS_SINRELACION_2017](
	[DOCUMENTO] [varchar](30) NULL,
	[MONTO] [decimal](15, 2) NULL
) ON [PRIMARY]
GO
