USE [T3QA]
GO
/****** Object:  Table [T3].[Z_ERROR_COSTOENVIO]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[Z_ERROR_COSTOENVIO](
	[ASIGNACION_ID] [varchar](30) NULL,
	[IMPORTE] [decimal](16, 2) NULL,
	[SALDO_ANTERIOR] [decimal](16, 2) NULL,
	[NUMERO_PAGO] [decimal](3, 0) NULL,
	[IMPORTE_FACTURA] [decimal](16, 2) NULL,
	[TTL_INVC_AMT] [decimal](12, 2) NULL,
	[ENVIO_TOTAL] [decimal](38, 10) NULL
) ON [PRIMARY]
GO
