USE [T3QA]
GO
/****** Object:  Table [T3].[Z_PASO_GOYO]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[Z_PASO_GOYO](
	[ROW_ID] [varchar](15) NULL,
	[LOC] [varchar](50) NULL,
	[OU_NUM] [varchar](30) NULL,
	[NAME] [varchar](100) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FOR DROP' , @level0type=N'SCHEMA',@level0name=N'T3', @level1type=N'TABLE',@level1name=N'Z_PASO_GOYO'
GO
