USE [T3QA]
GO
/****** Object:  Table [T3].[Z_CAMBIO_PRECIO]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[Z_CAMBIO_PRECIO](
	[MATERIAL] [varchar](10) NULL,
	[LP] [varchar](4) NULL,
	[PRECIO] [decimal](6, 2) NULL,
	[DIST_FEE] [decimal](6, 2) NULL
) ON [PRIMARY]
GO
