USE [T3QA]
GO
/****** Object:  Table [T3].[Z_SAT_NO_VALIDO]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[Z_SAT_NO_VALIDO](
	[RFC] [varchar](15) NULL,
	[NOMBRE] [varchar](200) NULL,
	[CP] [varchar](10) NULL,
	[ERRORSAT] [varchar](200) NULL
) ON [PRIMARY]
GO
