USE [T3QA]
GO
/****** Object:  Table [T3].[Z_MARIAN_NOTA]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[Z_MARIAN_NOTA](
	[ENTREGA] [varchar](10) NULL,
	[A_CANTIDAD] [decimal](10, 0) NULL,
	[A_SUBTOTAL] [decimal](15, 2) NULL,
	[A_IVA] [decimal](15, 2) NULL,
	[B_CANTIDAD] [decimal](10, 0) NULL,
	[B_SUBTOTAL] [decimal](15, 2) NULL,
	[B_IVA] [decimal](15, 2) NULL
) ON [PRIMARY]
GO
