USE [T3QA]
GO
/****** Object:  Table [T3].[Z_DESCENVIO]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[Z_DESCENVIO](
	[NOTA_VENTA] [varchar](30) NULL,
	[CTRO] [varchar](4) NULL,
	[FECHA_LIBERACION] [datetime2](0) NULL
) ON [PRIMARY]
GO
