USE [T3QA]
GO
/****** Object:  Table [T3].[Z_BORR_AGR]    Script Date: 7/16/2026 10:54:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [T3].[Z_BORR_AGR](
	[SOCIEDAD] [varchar](4) NULL,
	[FOLIO_INTERNO] [varchar](20) NULL,
	[FECHA] [datetime2](0) NULL,
	[CTRO] [varchar](4) NULL,
	[TERR] [varchar](4) NULL,
	[TIPO_DOCTO] [varchar](4) NULL,
	[FACTOR] [decimal](2, 0) NULL,
	[VALOR_SUBT] [decimal](14, 2) NULL,
	[VALOR_IVA] [decimal](14, 2) NULL,
	[VALOR] [decimal](14, 2) NULL,
	[STATUS] [varchar](20) NULL,
	[FOLIO_FISCAL] [varchar](40) NULL,
	[CIGARRILLOS] [decimal](20, 0) NULL,
	[MONTO_T3IN] [decimal](14, 2) NULL,
	[RFC] [varchar](20) NULL,
	[GOODS_DLVRD_TS] [datetime2](0) NULL,
	[ID_ENVIO] [varchar](25) NULL,
	[ID_CONFIRMACION] [varchar](25) NULL,
	[ADDENDA] [varchar](2) NULL,
	[LP] [varchar](2) NULL,
	[DOCTOS] [decimal](4, 0) NULL,
	[NOMBRE_CLIENTE] [varchar](100) NULL,
	[ENVIO_SUBT] [decimal](14, 2) NULL,
	[ENVIO_IVA] [decimal](14, 2) NULL
) ON [PRIMARY]
GO
